{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "aiplatform:v1alpha1",
  "name": "aiplatform",
  "canonicalName": "Aiplatform",
  "version": "v1alpha1",
  "revision": "0",
  "title": "Cloud AI Platform API",
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/ai-platform-unified/docs",
  "protocol": "rest",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleLongrunningWaitOperationRequest": {
      "id": "GoogleLongrunningWaitOperationRequest",
      "description": "The request message for Operations.WaitOperation.",
      "type": "object",
      "properties": {
        "timeout": {
          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP\/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1Dataset": {
      "id": "GoogleCloudAiplatformV1alpha1Dataset",
      "description": "A collection of DataItems and Annotations on them.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the Dataset.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of the Dataset. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "metadataSchemaUri": {
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing additional information about the Dataset. The schema is defined as an OpenAPI 3.0.2 Schema Object. The schema files that can be used here are found in gs:\/\/google-cloud-aiplatform\/schema\/dataset\/metadata\/.",
          "type": "string"
        },
        "metadata": {
          "description": "Required. Additional information about the Dataset.",
          "type": "any"
        },
        "createTime": {
          "description": "Output only. Timestamp when this Dataset was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Dataset was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your Datasets. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Dataset (System labels are excluded). See https:\/\/goo.gl\/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable. Following system labels exist for each Dataset: * \"aiplatform.googleapis.com\/dataset_metadata_schema\": output only, its value is the metadata_schema's title.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key spec for a Dataset. If set, this Dataset and all sub-resources of this Dataset will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1alpha1EncryptionSpec"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1EncryptionSpec": {
      "id": "GoogleCloudAiplatformV1alpha1EncryptionSpec",
      "description": "Represents a customer-managed encryption key spec that can be applied to a top-level resource.",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Required. The Cloud KMS resource identifier of the customer managed encryption key used to protect a resource. Has the form: `projects\/my-project\/locations\/my-region\/keyRings\/my-kr\/cryptoKeys\/my-key`. The key needs to be in the same region as where the compute resource is created.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListDatasetsResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListDatasetsResponse",
      "description": "Response message for DatasetService.ListDatasets.",
      "type": "object",
      "properties": {
        "datasets": {
          "description": "A list of Datasets that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1Dataset"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ImportDataRequest": {
      "id": "GoogleCloudAiplatformV1alpha1ImportDataRequest",
      "description": "Request message for DatasetService.ImportData.",
      "type": "object",
      "properties": {
        "importConfigs": {
          "description": "Required. The desired input locations. The contents of all input locations will be imported in one batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1ImportDataConfig"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ImportDataConfig": {
      "id": "GoogleCloudAiplatformV1alpha1ImportDataConfig",
      "description": "Describes the location from where we import data into a Dataset, together with the labels that will be applied to the DataItems and the Annotations.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "The Google Cloud Storage location for the input content.",
          "$ref": "GoogleCloudAiplatformV1alpha1GcsSource"
        },
        "dataItemLabels": {
          "description": "Labels that will be applied to newly imported DataItems. If an identical DataItem as one being imported already exists in the Dataset, then these labels will be appended to these of the already existing one, and if labels with identical key is imported before, the old label value will be overwritten. If two DataItems are identical in the same import data operation, the labels will be combined and if key collision happens in this case, one of the values will be picked randomly. Two DataItems are considered identical if their content bytes are identical (e.g. image bytes or pdf bytes). These labels will be overridden by Annotation labels specified inside index file referenced by import_schema_uri, e.g. jsonl file.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "importSchemaUri": {
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing the import format. Validation will be done against the schema. The schema is defined as an [OpenAPI 3.0.2 Schema Object](https:\/\/tinyurl.com\/y538mdwt).",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1GcsSource": {
      "id": "GoogleCloudAiplatformV1alpha1GcsSource",
      "description": "The Google Cloud Storage location for the input content.",
      "type": "object",
      "properties": {
        "uris": {
          "description": "Required. Google Cloud Storage URI(-s) to the input file(s). May contain wildcards. For more information on wildcards, see https:\/\/cloud.google.com\/storage\/docs\/gsutil\/addlhelp\/WildcardNames.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExportDataRequest": {
      "id": "GoogleCloudAiplatformV1alpha1ExportDataRequest",
      "description": "Request message for DatasetService.ExportData.",
      "type": "object",
      "properties": {
        "exportConfig": {
          "description": "Required. The desired output location.",
          "$ref": "GoogleCloudAiplatformV1alpha1ExportDataConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExportDataConfig": {
      "id": "GoogleCloudAiplatformV1alpha1ExportDataConfig",
      "description": "Describes what part of the Dataset is to be exported, the destination of the export and how to export.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The Google Cloud Storage location where the output is to be written to. In the given directory a new directory will be created with name: `export-data--` where timestamp is in YYYY-MM-DDThh:mm:ss.sssZ ISO-8601 format. All export output will be written into that directory. Inside that directory, annotations with the same schema will be grouped into sub directories which are named with the corresponding annotations' schema title. Inside these sub directories, a schema.yaml will be created to describe the output format.",
          "$ref": "GoogleCloudAiplatformV1alpha1GcsDestination"
        },
        "annotationsFilter": {
          "description": "A filter on Annotations of the Dataset. Only Annotations on to-be-exported DataItems(specified by data_items_filter) that match this filter will be exported. The filter syntax is the same as in ListAnnotations.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1GcsDestination": {
      "id": "GoogleCloudAiplatformV1alpha1GcsDestination",
      "description": "The Google Cloud Storage location where the output is to be written to.",
      "type": "object",
      "properties": {
        "outputUriPrefix": {
          "description": "Required. Google Cloud Storage URI to output directory. If the uri doesn't end with '\/', a '\/' will be automatically appended. The directory is created if it doesn't exist.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListDataItemsResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListDataItemsResponse",
      "description": "Response message for DatasetService.ListDataItems.",
      "type": "object",
      "properties": {
        "dataItems": {
          "description": "A list of DataItems that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1DataItem"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1DataItem": {
      "id": "GoogleCloudAiplatformV1alpha1DataItem",
      "description": "A piece of data in a Dataset. Could be an image, a video, a document or plain text.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the DataItem.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this DataItem was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this DataItem was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize your DataItems. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one DataItem(System labels are excluded). See https:\/\/goo.gl\/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "payload": {
          "description": "Required. The data that the DataItem represents (for example, an image or a text snippet). The schema of the payload is stored in the parent Dataset's metadata schema's dataItemSchemaUri field.",
          "type": "any"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1AnnotationSpec": {
      "id": "GoogleCloudAiplatformV1alpha1AnnotationSpec",
      "description": "Identifies a concept with which DataItems may be annotated with.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the AnnotationSpec.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of the AnnotationSpec. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this AnnotationSpec was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when AnnotationSpec was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListAnnotationsResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListAnnotationsResponse",
      "description": "Response message for DatasetService.ListAnnotations.",
      "type": "object",
      "properties": {
        "annotations": {
          "description": "A list of Annotations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1Annotation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1Annotation": {
      "id": "GoogleCloudAiplatformV1alpha1Annotation",
      "description": "Used to assign specific AnnotationSpec to a particular area of a DataItem or the whole part of the DataItem.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the Annotation.",
          "readOnly": true,
          "type": "string"
        },
        "payloadSchemaUri": {
          "description": "Required. Google Cloud Storage URI points to a YAML file describing payload. The schema is defined as an [OpenAPI 3.0.2 Schema Object](https:\/\/tinyurl.com\/y538mdwt). The schema files that can be used here are found in gs:\/\/google-cloud-aiplatform\/schema\/dataset\/annotation\/, note that the chosen schema must be consistent with the parent Dataset's metadata.",
          "type": "string"
        },
        "payload": {
          "description": "Required. The schema of the payload can be found in payload_schema.",
          "type": "any"
        },
        "createTime": {
          "description": "Output only. Timestamp when this Annotation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Annotation was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "annotationSource": {
          "description": "Output only. The source of the Annotation.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1alpha1UserActionReference"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize your Annotations. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Annotation(System labels are excluded). See https:\/\/goo.gl\/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable. Following system labels exist for each Annotation: * \"aiplatform.googleapis.com\/annotation_set_name\": optional, name of the UI's annotation set this Annotation belongs to. If not set, the Annotation is not visible in the UI. * \"aiplatform.googleapis.com\/payload_schema\": output only, its value is the payload_schema's title.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1UserActionReference": {
      "id": "GoogleCloudAiplatformV1alpha1UserActionReference",
      "description": "References an API call. It contains more information about long running operation and Jobs that are triggered by the API call.",
      "type": "object",
      "properties": {
        "operation": {
          "description": "For API calls that return a long running operation. Resource name of the long running operation. Format: 'projects\/{project}\/locations\/{location}\/operations\/{operation}'",
          "type": "string"
        },
        "dataLabelingJob": {
          "description": "For API calls that start a LabelingJob. Resource name of the LabelingJob. Format: 'projects\/{project}\/locations\/{location}\/dataLabelingJobs\/{data_labeling_job}'",
          "type": "string"
        },
        "method": {
          "description": "The method name of the API RPC call. For example, \"\/google.cloud.aiplatform.master.DatasetService.CreateDataset\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1Endpoint": {
      "id": "GoogleCloudAiplatformV1alpha1Endpoint",
      "description": "Models are deployed into it, and afterwards Endpoint is called to obtain predictions and explanations.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the Endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the Endpoint. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "description": {
          "description": "The description of the Endpoint.",
          "type": "string"
        },
        "deployedModels": {
          "description": "Output only. The models deployed in this Endpoint. To add or remove DeployedModels use EndpointService.DeployModel and EndpointService.UndeployModel respectively.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1DeployedModel"
          }
        },
        "trafficSplit": {
          "description": "A map from a DeployedModel's ID to the percentage of this Endpoint's traffic that should be forwarded to that DeployedModel. If a DeployedModel's ID is not listed in this map, then it receives no traffic. The traffic percentage values must add up to 100, or map must be empty if the Endpoint is to not accept any traffic at a moment.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your Endpoints. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Timestamp when this Endpoint was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Endpoint was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key spec for an Endpoint. If set, this Endpoint and all sub-resources of this Endpoint will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1alpha1EncryptionSpec"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1DeployedModel": {
      "id": "GoogleCloudAiplatformV1alpha1DeployedModel",
      "description": "A deployment of a Model. Endpoints contain one or more DeployedModels.",
      "type": "object",
      "properties": {
        "dedicatedResources": {
          "description": "A description of resources that are dedicated to the DeployedModel, and that need a higher degree of manual configuration.",
          "$ref": "GoogleCloudAiplatformV1alpha1DedicatedResources"
        },
        "automaticResources": {
          "description": "A description of resources that to large degree are decided by AI Platform, and require only a modest additional configuration.",
          "$ref": "GoogleCloudAiplatformV1alpha1AutomaticResources"
        },
        "id": {
          "description": "Output only. The ID of the DeployedModel.",
          "readOnly": true,
          "type": "string"
        },
        "model": {
          "description": "Required. The name of the Model that this is the deployment of. Note that the Model may be in a different location than the DeployedModel's Endpoint.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the DeployedModel. If not provided upon creation, the Model's display_name is used.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the DeployedModel was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "explanationSpec": {
          "description": "Explanation configuration for this DeployedModel. When deploying a Model using EndpointService.DeployModel, this value overrides the value of Model.explanation_spec. All fields of explanation_spec are optional in the request. If a field of explanation_spec is not populated, the value of the same field of Model.explanation_spec is inherited. If the corresponding Model.explanation_spec is not populated, all fields of the explanation_spec will be used for the explanation configuration.",
          "$ref": "GoogleCloudAiplatformV1alpha1ExplanationSpec"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1DedicatedResources": {
      "id": "GoogleCloudAiplatformV1alpha1DedicatedResources",
      "description": "A description of resources that are dedicated to a DeployedModel, and that need a higher degree of manual configuration.",
      "type": "object",
      "properties": {
        "machineSpec": {
          "description": "Required. Immutable. The specification of a single machine used by the prediction.",
          "$ref": "GoogleCloudAiplatformV1alpha1MachineSpec"
        },
        "minReplicaCount": {
          "description": "Required. Immutable. The minimum number of machine replicas this DeployedModel will be always deployed on. If traffic against it increases, it may dynamically be deployed onto more replicas, and as traffic decreases, some of these extra replicas may be freed. Note: if machine_spec.accelerator_count is above 0, currently the model will be always deployed precisely on min_replica_count.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1MachineSpec": {
      "id": "GoogleCloudAiplatformV1alpha1MachineSpec",
      "description": "Specification of a single machine.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Immutable. The type of the machine. For the machine types supported for prediction, see https:\/\/tinyurl.com\/aip-docs\/predictions\/machine-types. For machine types supported for creating a custom training job, see https:\/\/tinyurl.com\/aip-docs\/training\/configure-compute. For DeployedModel this field is optional, and the default value is `n1-standard-2`. For BatchPredictionJob or as part of WorkerPoolSpec this field is required.",
          "type": "string"
        },
        "acceleratorType": {
          "description": "Immutable. The type of accelerator(s) that may be attached to the machine as per accelerator_count.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified accelerator type, which means no accelerator.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU."
          ],
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4"
          ]
        },
        "acceleratorCount": {
          "description": "The number of accelerators to attach to the machine.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1AutomaticResources": {
      "id": "GoogleCloudAiplatformV1alpha1AutomaticResources",
      "description": "A description of resources that to large degree are decided by AI Platform, and require only a modest additional configuration. Each Model supporting these resources documents its specific guidelines.",
      "type": "object",
      "properties": {
        "minReplicaCount": {
          "description": "Immutable. The minimum number of replicas this DeployedModel will be always deployed on. If traffic against it increases, it may dynamically be deployed onto more replicas up to max_replica_count, and as traffic decreases, some of these extra replicas may be freed. If the requested value is too large, the deployment will error.",
          "type": "integer",
          "format": "int32"
        },
        "maxReplicaCount": {
          "description": "Immutable. The maximum number of replicas this DeployedModel may be deployed on when the traffic against it increases. If the requested value is too large, the deployment will error, but if deployment succeeds then the ability to scale the model to that many replicas is guaranteed (barring service outages). If traffic against the DeployedModel increases beyond what its replicas at maximum may handle, a portion of the traffic will be dropped. If this value is not provided, a no upper bound for scaling under heavy traffic will be assume, though AI Platform may be unable to scale beyond certain replica number.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExplanationSpec": {
      "id": "GoogleCloudAiplatformV1alpha1ExplanationSpec",
      "description": "Specification of Model explanation.",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Required. Parameters that configure explaining of the Model's predictions.",
          "$ref": "GoogleCloudAiplatformV1alpha1ExplanationParameters"
        },
        "metadata": {
          "description": "Required. Metadata describing the Model's input and output for explanation.",
          "$ref": "GoogleCloudAiplatformV1alpha1ExplanationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExplanationParameters": {
      "id": "GoogleCloudAiplatformV1alpha1ExplanationParameters",
      "description": "Parameters to configure explaining for Model's predictions.",
      "type": "object",
      "properties": {
        "sampledShapleyAttribution": {
          "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features. Refer to this paper for model details: https:\/\/arxiv.org\/abs\/1306.4265.",
          "$ref": "GoogleCloudAiplatformV1alpha1SampledShapleyAttribution"
        },
        "similarity": {
          "description": "Similarity explainability that returns the nearest neighbors from the provided dataset.",
          "$ref": "GoogleCloudAiplatformV1alpha1Similarity"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1SampledShapleyAttribution": {
      "id": "GoogleCloudAiplatformV1alpha1SampledShapleyAttribution",
      "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features.",
      "type": "object",
      "properties": {
        "pathCount": {
          "description": "Required. The number of feature permutations to consider when approximating the Shapley values. Valid range of its value is [1, 50], inclusively.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1Similarity": {
      "id": "GoogleCloudAiplatformV1alpha1Similarity",
      "description": "Similarity explainability that returns the nearest neighbors from the provided dataset.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "The Cloud Storage location for the input instances.",
          "$ref": "GoogleCloudAiplatformV1alpha1GcsSource"
        },
        "nearestNeighborSearchConfig": {
          "description": "The configuration for the generated index, the semantics are the same as metadata and should match NearestNeighborSearchConfig.",
          "type": "any"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExplanationMetadata": {
      "id": "GoogleCloudAiplatformV1alpha1ExplanationMetadata",
      "description": "Metadata describing the Model's input and output for explanation.",
      "type": "object",
      "properties": {
        "inputs": {
          "description": "Required. Map from feature names to feature input metadata. Keys are the name of the features. Values are the specification of the feature. An empty InputMetadata is valid. It describes a text feature which has the name specified as the key in ExplanationMetadata.inputs. The baseline of the empty feature is chosen by AI Platform. For AI Platform provided Tensorflow images, the key can be any friendly name of the feature. Once specified, featureAttributions are keyed by this key (if not grouped with another feature). For custom images, the key must match with the key in instance.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1alpha1ExplanationMetadataInputMetadata"
          }
        },
        "outputs": {
          "description": "Required. Map from output names to output metadata. For AI Platform provided Tensorflow images, keys can be any user defined string that consists of any UTF-8 characters. For custom images, keys are the name of the output field in the prediction to be explained. Currently only one key is allowed.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1alpha1ExplanationMetadataOutputMetadata"
          }
        },
        "featureAttributionsSchemaUri": {
          "description": "Points to a YAML file stored on Google Cloud Storage describing the format of the feature attributions. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https:\/\/tinyurl.com\/y538mdwt#schema-object). AutoML tabular Models always have this field populated by AI Platform. Note: The URI given on output may be different, including the URI scheme, than the one given on input. The output URI will point to a location where the user only has a read access.",
          "type": "string"
        },
        "embeddings": {
          "description": "Required. Map from embedding names to embedding metadata. For AI Platform provided Tensorflow images, keys can be any user defined string that consists of any UTF-8 characters. Currently only one key is allowed.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1alpha1ExplanationMetadataEmbeddingMetadata"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExplanationMetadataInputMetadata": {
      "id": "GoogleCloudAiplatformV1alpha1ExplanationMetadataInputMetadata",
      "description": "Metadata of the input of a feature. Fields other than InputMetadata.input_baselines are applicable only for Models that are using AI Platform-provided images for Tensorflow.",
      "type": "object",
      "properties": {
        "inputBaselines": {
          "description": "Baseline inputs for this feature. If no baseline is specified, AI Platform chooses the baseline for this feature. If multiple baselines are specified, AI Platform returns the average attributions across them in Attributions.baseline_attribution. For AI Platform provided Tensorflow images (both 1.x and 2.x), the shape of each baseline must match the shape of the input tensor. If a scalar is provided, we broadcast to the same shape as the input tensor. For custom images, the element of the baselines must be in the same format as the feature's input in the instance[]. The schema of any single instance may be specified via Endpoint's DeployedModels' Model's PredictSchemata's instance_schema_uri.",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExplanationMetadataOutputMetadata": {
      "id": "GoogleCloudAiplatformV1alpha1ExplanationMetadataOutputMetadata",
      "description": "Metadata of the prediction output to be explained.",
      "type": "object",
      "properties": {
        "indexDisplayNameMapping": {
          "description": "Static mapping between the index and display name. Use this if the outputs are a deterministic n-dimensional array, e.g. a list of scores of all the classes in a pre-defined order for a multi-classification Model. It's not feasible if the outputs are non-deterministic, e.g. the Model produces top-k classes or sort the outputs by their values. The shape of the value must be an n-dimensional array of strings. The number of dimensions must match that of the outputs to be explained. The Attribution.output_display_name is populated by locating in the mapping with Attribution.output_index.",
          "type": "any"
        },
        "displayNameMappingKey": {
          "description": "Specify a field name in the prediction to look for the display name. Use this if the prediction contains the display names for the outputs. The display names in the prediction must have the same shape of the outputs, so that it can be located by Attribution.output_index for a specific output.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExplanationMetadataEmbeddingMetadata": {
      "id": "GoogleCloudAiplatformV1alpha1ExplanationMetadataEmbeddingMetadata",
      "description": "Metadata of the embedding to be used for similarity.",
      "type": "object",
      "properties": {
        "outputTensorName": {
          "description": "Required. Name of the output tensor.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListEndpointsResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListEndpointsResponse",
      "description": "Response message for EndpointService.ListEndpoints.",
      "type": "object",
      "properties": {
        "endpoints": {
          "description": "List of Endpoints in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1Endpoint"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListEndpointsRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1DeployModelRequest": {
      "id": "GoogleCloudAiplatformV1alpha1DeployModelRequest",
      "description": "Request message for EndpointService.DeployModel.",
      "type": "object",
      "properties": {
        "deployedModel": {
          "description": "Required. The DeployedModel to be created within the Endpoint. Note that Endpoint.traffic_split must be updated for the DeployedModel to start receiving traffic, either as part of this call, or via EndpointService.UpdateEndpoint.",
          "$ref": "GoogleCloudAiplatformV1alpha1DeployedModel"
        },
        "trafficSplit": {
          "description": "A map from a DeployedModel's ID to the percentage of this Endpoint's traffic that should be forwarded to that DeployedModel. If this field is non-empty, then the Endpoint's traffic_split will be overwritten with it. To refer to the ID of the just being deployed Model, a \"0\" should be used, and the actual ID of the new DeployedModel will be filled in its place by this method. The traffic percentage values must add up to 100. If this field is empty, then the Endpoint's traffic_split is not updated.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1UndeployModelRequest": {
      "id": "GoogleCloudAiplatformV1alpha1UndeployModelRequest",
      "description": "Request message for EndpointService.UndeployModel.",
      "type": "object",
      "properties": {
        "deployedModelId": {
          "description": "Required. The ID of the DeployedModel to be undeployed from the Endpoint.",
          "type": "string"
        },
        "trafficSplit": {
          "description": "If this field is provided, then the Endpoint's traffic_split will be overwritten with it. If last DeployedModel is being undeployed from the Endpoint, the [Endpoint.traffic_split] will always end up empty when this call returns. A DeployedModel will be successfully undeployed only if it doesn't have any traffic assigned to it when this method executes, or if this field unassigns any traffic to it.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1Index": {
      "id": "GoogleCloudAiplatformV1alpha1Index",
      "description": "A representation of a collection of database items organized in a way that allows for approximate nearest neighbor (a.k.a ANN) algorithms search.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the Index.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the Index. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "description": {
          "description": "The description of the Index.",
          "type": "string"
        },
        "metadataSchemaUri": {
          "description": "Immutable. Points to a YAML file stored on Google Cloud Storage describing additional information about the Index, that is specific to it. Unset if the Index does not have any additional information. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https:\/\/tinyurl.com\/y538mdwt#schema-object). Note: The URI given on output will be immutable and probably different, including the URI scheme, than the one given on input. The output URI will point to a location where the user only has a read access.",
          "type": "string"
        },
        "metadata": {
          "description": "An additional information about the Index; the schema of the metadata can be found in metadata_schema.",
          "type": "any"
        },
        "deployedIndexes": {
          "description": "Output only. The pointers to DeployedIndexes created from this Index. An Index can be only deleted if all its DeployedIndexes had been undeployed first.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1DeployedIndexRef"
          }
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your Indexes. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Timestamp when this Index was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Index was most recently updated. This also includes any update to the contents of the Index. Note that Operations working on this Index may have their Operations.metadata.generic_metadata.update_time a little after the value of this timestamp, yet that does not mean their results are not already reflected in the Index. Result of any successfully completed Operation on the Index is reflected in it.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1DeployedIndexRef": {
      "id": "GoogleCloudAiplatformV1alpha1DeployedIndexRef",
      "description": "Points to a DeployedIndex.",
      "type": "object",
      "properties": {
        "indexEndpoint": {
          "description": "Immutable. A resource name of the IndexEndpoint.",
          "type": "string"
        },
        "deployedIndexId": {
          "description": "Immutable. The ID of the DeployedIndex in the above IndexEndpoint.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListIndexesResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListIndexesResponse",
      "description": "Response message for IndexService.ListIndexes.",
      "type": "object",
      "properties": {
        "indexes": {
          "description": "List of indexes in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1Index"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListIndexesRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1IndexEndpoint": {
      "id": "GoogleCloudAiplatformV1alpha1IndexEndpoint",
      "description": "Indexes are deployed into it. An IndexEndpoint can have multiple DeployedIndexes.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the IndexEndpoint.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the IndexEndpoint. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "description": {
          "description": "The description of the IndexEndpoint.",
          "type": "string"
        },
        "deployedIndexes": {
          "description": "Output only. The indexes deployed in this endpoint.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1DeployedIndex"
          }
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your IndexEndpoints. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Timestamp when this IndexEndpoint was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this IndexEndpoint was last updated. This timestamp is not updated when the endpoint's DeployedIndexes are updated, e.g. due to updates of the original Indexes they are the deployments of.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "network": {
          "description": "Required. Immutable. The full name of the Google Compute Engine [network](https:\/\/cloud.google.com\/compute\/docs\/networks-and-firewalls#networks) to which the IndexEndpoint should be peered. Private services access must already be configured for the network. If left unspecified, the Endpoint is not peered with any network. [Format](https:\/\/cloud.google.com\/compute\/docs\/reference\/rest\/v1\/networks\/insert): projects\/{project}\/global\/networks\/{network}. Where {project} is a project number, as in '12345', and {network} is network name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1DeployedIndex": {
      "id": "GoogleCloudAiplatformV1alpha1DeployedIndex",
      "description": "A deployment of an Index. IndexEndpoints contain one or more DeployedIndexes.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. The user specified ID of the DeployedIndex. The ID can be up to 128 characters long and must start with a letter and only contain letters, numbers, and underscores. The ID must be unique within the project it is created in.",
          "type": "string"
        },
        "index": {
          "description": "Required. The name of the Index this is the deployment of. We may refer to this Index as the DeployedIndex's \"original\" Index.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the DeployedIndex. If not provided upon creation, the Index's display_name is used.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the DeployedIndex was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "privateEndpoints": {
          "description": "Output only. Provides paths for users to send requests directly to the deployed index services running on Cloud via private services access. This field is populated if network is configured.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1alpha1IndexPrivateEndpoints"
        },
        "indexSyncTime": {
          "description": "Output only. The DeployedIndex may depend on various data on its original Index. Additionally when certain changes to the original Index are being done (e.g. when what the Index contains is being changed) the DeployedIndex may be asynchronously updated in the background to reflect this changes. If this timestamp's value is at least the Index.update_time of the original Index, it means that this DeployedIndex and the original Index are in sync. If this timestamp is older, then to see which updates this DeployedIndex already contains (and which not), one must list Operations working on the original Index. Only the successfully completed Operations with Operations.metadata.generic_metadata.update_time equal or before this sync time are contained in this DeployedIndex.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "automaticResources": {
          "description": "Optional. A description of resources that the DeployedIndex uses, which to large degree are decided by AI Platform, and optionally allows only a modest additional configuration. If min_replica_count is not set, the default value is 1. If max_replica_count is not set, the default value is min_replica_count. The max allowed replica count is 1000. The user is billed for the resources (at least their minimal amount) even if the DeployedIndex receives no traffic.",
          "$ref": "GoogleCloudAiplatformV1alpha1AutomaticResources"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1IndexPrivateEndpoints": {
      "id": "GoogleCloudAiplatformV1alpha1IndexPrivateEndpoints",
      "description": "IndexPrivateEndpoints proto is used to provide paths for users to send requests via private services access.",
      "type": "object",
      "properties": {
        "matchGrpcAddress": {
          "description": "Output only. The ip address used to send match gRPC requests.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListIndexEndpointsResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListIndexEndpointsResponse",
      "description": "Response message for IndexEndpointService.ListIndexEndpoints.",
      "type": "object",
      "properties": {
        "indexEndpoints": {
          "description": "List of IndexEndpoints in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1IndexEndpoint"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListIndexEndpointsRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1DeployIndexRequest": {
      "id": "GoogleCloudAiplatformV1alpha1DeployIndexRequest",
      "description": "Request message for IndexEndpointService.DeployIndex.",
      "type": "object",
      "properties": {
        "deployedIndex": {
          "description": "Required. The DeployedIndex to be created within the IndexEndpoint.",
          "$ref": "GoogleCloudAiplatformV1alpha1DeployedIndex"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1UndeployIndexRequest": {
      "id": "GoogleCloudAiplatformV1alpha1UndeployIndexRequest",
      "description": "Request message for IndexEndpointService.UndeployIndex.",
      "type": "object",
      "properties": {
        "deployedIndexId": {
          "description": "Required. The ID of the DeployedIndex to be undeployed from the IndexEndpoint.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1CustomJob": {
      "id": "GoogleCloudAiplatformV1alpha1CustomJob",
      "description": "Represents a job that runs custom workloads such as a Docker container or a Python package. A CustomJob can have multiple worker pools and each worker pool can have its own machine and input spec. A CustomJob will be cleaned up once the job enters terminal state (failed or succeeded).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of a CustomJob.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the CustomJob. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "jobSpec": {
          "description": "Required. Job spec.",
          "$ref": "GoogleCloudAiplatformV1alpha1CustomJobSpec"
        },
        "state": {
          "description": "Output only. The detailed state of the job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created or resumed and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed.",
            "The job is being cancelled. From this state the job may only go to either `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
            "The job has been cancelled.",
            "The job has been stopped, and can be resumed.",
            "The job has expired."
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "JOB_STATE_QUEUED",
            "JOB_STATE_PENDING",
            "JOB_STATE_RUNNING",
            "JOB_STATE_SUCCEEDED",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_PAUSED",
            "JOB_STATE_EXPIRED"
          ]
        },
        "createTime": {
          "description": "Output only. Time when the CustomJob was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. Time when the CustomJob for the first time entered the `JOB_STATE_RUNNING` state.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. Time when the CustomJob entered any of the following states: `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED`, `JOB_STATE_CANCELLED`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when the CustomJob was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "description": "Output only. Only populated when job's state is `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize CustomJobs. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key options for a CustomJob. If this is set, then all resources created by the CustomJob will be encrypted with the provided encryption key.",
          "$ref": "GoogleCloudAiplatformV1alpha1EncryptionSpec"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1CustomJobSpec": {
      "id": "GoogleCloudAiplatformV1alpha1CustomJobSpec",
      "description": "Represents the spec of a CustomJob.",
      "type": "object",
      "properties": {
        "workerPoolSpecs": {
          "description": "Required. The spec of the worker pools including machine type and Docker image. All worker pools except the first one are optional and can be skipped by providing an empty value.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1WorkerPoolSpec"
          }
        },
        "scheduling": {
          "description": "Scheduling options for a CustomJob.",
          "$ref": "GoogleCloudAiplatformV1alpha1Scheduling"
        },
        "serviceAccount": {
          "description": "Specifies the service account for workload run-as account. Users submitting jobs must have act-as permission on this run-as account. If unspecified, the AI Platform Custom Code Service Agent for the CustomJob's project is used.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1WorkerPoolSpec": {
      "id": "GoogleCloudAiplatformV1alpha1WorkerPoolSpec",
      "description": "Represents the spec of a worker pool in a job.",
      "type": "object",
      "properties": {
        "containerSpec": {
          "description": "The custom container task.",
          "$ref": "GoogleCloudAiplatformV1alpha1ContainerSpec"
        },
        "pythonPackageSpec": {
          "description": "The Python packaged task.",
          "$ref": "GoogleCloudAiplatformV1alpha1PythonPackageSpec"
        },
        "machineSpec": {
          "description": "Optional. Immutable. The specification of a single machine.",
          "$ref": "GoogleCloudAiplatformV1alpha1MachineSpec"
        },
        "replicaCount": {
          "description": "Optional. The number of worker replicas to use for this worker pool.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ContainerSpec": {
      "id": "GoogleCloudAiplatformV1alpha1ContainerSpec",
      "description": "The spec of a Container.",
      "type": "object",
      "properties": {
        "imageUri": {
          "description": "Required. The URI of a container image in the Container Registry that is to be run on each worker replica.",
          "type": "string"
        },
        "command": {
          "description": "The command to be invoked when the container is started. It overrides the entrypoint instruction in Dockerfile when provided.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "description": "The arguments to be passed when starting the container.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1PythonPackageSpec": {
      "id": "GoogleCloudAiplatformV1alpha1PythonPackageSpec",
      "description": "The spec of a Python packaged code.",
      "type": "object",
      "properties": {
        "executorImageUri": {
          "description": "Required. The URI of a container image in Artifact Registry that will run the provided Python package. AI Platform provides a wide range of executor images with pre-installed packages to meet users' various use cases. See the list of [pre-built containers for training](https:\/\/cloud.google.com\/ai-platform-unified\/docs\/training\/pre-built-containers). You must use an image from this list.",
          "type": "string"
        },
        "packageUris": {
          "description": "Required. The Google Cloud Storage location of the Python package files which are the training program and its dependent packages. The maximum number of package URIs is 100.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pythonModule": {
          "description": "Required. The Python module name to run after installing the packages.",
          "type": "string"
        },
        "args": {
          "description": "Command line arguments to be passed to the Python task.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1Scheduling": {
      "id": "GoogleCloudAiplatformV1alpha1Scheduling",
      "description": "All parameters related to queuing and scheduling of custom jobs.",
      "type": "object",
      "properties": {
        "timeout": {
          "description": "The maximum job running time. The default is 7 days.",
          "type": "string",
          "format": "google-duration"
        },
        "restartJobOnWorkerRestart": {
          "description": "Restarts the entire CustomJob if a worker gets restarted. This feature can be used by distributed training jobs that are not resilient to workers leaving and joining a job.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListCustomJobsResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListCustomJobsResponse",
      "description": "Response message for JobService.ListCustomJobs",
      "type": "object",
      "properties": {
        "customJobs": {
          "description": "List of CustomJobs in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1CustomJob"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListCustomJobsRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1CancelCustomJobRequest": {
      "id": "GoogleCloudAiplatformV1alpha1CancelCustomJobRequest",
      "description": "Request message for JobService.CancelCustomJob.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudAiplatformV1alpha1DataLabelingJob": {
      "id": "GoogleCloudAiplatformV1alpha1DataLabelingJob",
      "description": "DataLabelingJob is used to trigger a human labeling job on unlabeled data from the following Dataset:",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the DataLabelingJob.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of the DataLabelingJob. The name can be up to 128 characters long and can be consist of any UTF-8 characters. Display name of a DataLabelingJob.",
          "type": "string"
        },
        "datasets": {
          "description": "Required. Dataset resource names. Right now we only support labeling from a single Dataset. Format: `projects\/{project}\/locations\/{location}\/datasets\/{dataset}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "annotationLabels": {
          "description": "Labels to assign to annotations generated by this DataLabelingJob. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labelerCount": {
          "description": "Required. Number of labelers to work on each DataItem.",
          "type": "integer",
          "format": "int32"
        },
        "instructionUri": {
          "description": "Required. The Google Cloud Storage location of the instruction pdf. This pdf is shared with labelers, and provides detailed description on how to label DataItems in Datasets.",
          "type": "string"
        },
        "inputsSchemaUri": {
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing the config for a specific type of DataLabelingJob. The schema files that can be used here are found in the https:\/\/storage.googleapis.com\/google-cloud-aiplatform bucket in the \/schema\/datalabelingjob\/inputs\/ folder.",
          "type": "string"
        },
        "inputs": {
          "description": "Required. Input config parameters for the DataLabelingJob.",
          "type": "any"
        },
        "state": {
          "description": "Output only. The detailed state of the job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created or resumed and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed.",
            "The job is being cancelled. From this state the job may only go to either `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
            "The job has been cancelled.",
            "The job has been stopped, and can be resumed.",
            "The job has expired."
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "JOB_STATE_QUEUED",
            "JOB_STATE_PENDING",
            "JOB_STATE_RUNNING",
            "JOB_STATE_SUCCEEDED",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_PAUSED",
            "JOB_STATE_EXPIRED"
          ]
        },
        "labelingProgress": {
          "description": "Output only. Current labeling job progress percentage scaled in interval [0, 100], indicating the percentage of DataItems that has been finished.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "currentSpend": {
          "description": "Output only. Estimated cost(in US dollars) that the DataLabelingJob has incurred to date.",
          "readOnly": true,
          "$ref": "GoogleTypeMoney"
        },
        "createTime": {
          "description": "Output only. Timestamp when this DataLabelingJob was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this DataLabelingJob was updated most recently.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "description": "Output only. DataLabelingJob errors. It is only populated when job's state is `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your DataLabelingJobs. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable. Following system labels exist for each DataLabelingJob: * \"aiplatform.googleapis.com\/schema\": output only, its value is the inputs_schema's title.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "specialistPools": {
          "description": "The SpecialistPools' resource names associated with this job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key spec for a DataLabelingJob. If set, this DataLabelingJob will be secured by this key. Note: Annotations created in the DataLabelingJob are associated with the EncryptionSpec of the Dataset they are exported to.",
          "$ref": "GoogleCloudAiplatformV1alpha1EncryptionSpec"
        },
        "activeLearningConfig": {
          "description": "Parameters that configure the active learning pipeline. Active learning will label the data incrementally via several iterations. For every iteration, it will select a batch of data based on the sampling strategy.",
          "$ref": "GoogleCloudAiplatformV1alpha1ActiveLearningConfig"
        }
      }
    },
    "GoogleTypeMoney": {
      "id": "GoogleTypeMoney",
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ActiveLearningConfig": {
      "id": "GoogleCloudAiplatformV1alpha1ActiveLearningConfig",
      "description": "Parameters that configure the active learning pipeline. Active learning will label the data incrementally by several iterations. For every iteration, it will select a batch of data based on the sampling strategy.",
      "type": "object",
      "properties": {
        "maxDataItemCount": {
          "description": "Max number of human labeled DataItems.",
          "type": "string",
          "format": "int64"
        },
        "maxDataItemPercentage": {
          "description": "Max percent of total DataItems for human labeling.",
          "type": "integer",
          "format": "int32"
        },
        "sampleConfig": {
          "description": "Active learning data sampling config. For every active learning labeling iteration, it will select a batch of data based on the sampling strategy.",
          "$ref": "GoogleCloudAiplatformV1alpha1SampleConfig"
        },
        "trainingConfig": {
          "description": "CMLE training config. For every active learning labeling iteration, system will train a machine learning model on CMLE. The trained model will be used by data sampling algorithm to select DataItems.",
          "$ref": "GoogleCloudAiplatformV1alpha1TrainingConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1SampleConfig": {
      "id": "GoogleCloudAiplatformV1alpha1SampleConfig",
      "description": "Active learning data sampling config. For every active learning labeling iteration, it will select a batch of data based on the sampling strategy.",
      "type": "object",
      "properties": {
        "initialBatchSamplePercentage": {
          "description": "The percentage of data needed to be labeled in the first batch.",
          "type": "integer",
          "format": "int32"
        },
        "followingBatchSamplePercentage": {
          "description": "The percentage of data needed to be labeled in each following batch (except the first batch).",
          "type": "integer",
          "format": "int32"
        },
        "sampleStrategy": {
          "description": "Field to choose sampling strategy. Sampling strategy will decide which data should be selected for human labeling in every batch.",
          "type": "string",
          "enumDescriptions": [
            "Default will be treated as UNCERTAINTY.",
            "Sample the most uncertain data to label."
          ],
          "enum": [
            "SAMPLE_STRATEGY_UNSPECIFIED",
            "UNCERTAINTY"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1TrainingConfig": {
      "id": "GoogleCloudAiplatformV1alpha1TrainingConfig",
      "description": "CMLE training config. For every active learning labeling iteration, system will train a machine learning model on CMLE. The trained model will be used by data sampling algorithm to select DataItems.",
      "type": "object",
      "properties": {
        "timeoutTrainingMilliHours": {
          "description": "The timeout hours for the CMLE training job, expressed in milli hours i.e. 1,000 value in this field means 1 hour.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListDataLabelingJobsResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListDataLabelingJobsResponse",
      "description": "Response message for JobService.ListDataLabelingJobs.",
      "type": "object",
      "properties": {
        "dataLabelingJobs": {
          "description": "A list of DataLabelingJobs that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1DataLabelingJob"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1CancelDataLabelingJobRequest": {
      "id": "GoogleCloudAiplatformV1alpha1CancelDataLabelingJobRequest",
      "description": "Request message for DataLabelingJobService.CancelDataLabelingJob.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudAiplatformV1alpha1HyperparameterTuningJob": {
      "id": "GoogleCloudAiplatformV1alpha1HyperparameterTuningJob",
      "description": "Represents a HyperparameterTuningJob. A HyperparameterTuningJob has a Study specification and multiple CustomJobs with identical CustomJob specification.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the HyperparameterTuningJob.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the HyperparameterTuningJob. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "studySpec": {
          "description": "Required. Study configuration of the HyperparameterTuningJob.",
          "$ref": "GoogleCloudAiplatformV1alpha1StudySpec"
        },
        "maxTrialCount": {
          "description": "Required. The desired total number of Trials.",
          "type": "integer",
          "format": "int32"
        },
        "parallelTrialCount": {
          "description": "Required. The desired number of Trials to run in parallel.",
          "type": "integer",
          "format": "int32"
        },
        "maxFailedTrialCount": {
          "description": "The number of failed Trials that need to be seen before failing the HyperparameterTuningJob. If set to 0, AI Platform decides how many Trials must fail before the whole job fails.",
          "type": "integer",
          "format": "int32"
        },
        "trialJobSpec": {
          "description": "Required. The spec of a trial job. The same spec applies to the CustomJobs created in all the trials.",
          "$ref": "GoogleCloudAiplatformV1alpha1CustomJobSpec"
        },
        "trials": {
          "description": "Output only. Trials of the HyperparameterTuningJob.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1Trial"
          }
        },
        "state": {
          "description": "Output only. The detailed state of the job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created or resumed and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed.",
            "The job is being cancelled. From this state the job may only go to either `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
            "The job has been cancelled.",
            "The job has been stopped, and can be resumed.",
            "The job has expired."
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "JOB_STATE_QUEUED",
            "JOB_STATE_PENDING",
            "JOB_STATE_RUNNING",
            "JOB_STATE_SUCCEEDED",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_PAUSED",
            "JOB_STATE_EXPIRED"
          ]
        },
        "createTime": {
          "description": "Output only. Time when the HyperparameterTuningJob was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. Time when the HyperparameterTuningJob for the first time entered the `JOB_STATE_RUNNING` state.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. Time when the HyperparameterTuningJob entered any of the following states: `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED`, `JOB_STATE_CANCELLED`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when the HyperparameterTuningJob was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "description": "Output only. Only populated when job's state is JOB_STATE_FAILED or JOB_STATE_CANCELLED.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize HyperparameterTuningJobs. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key options for a HyperparameterTuningJob. If this is set, then all resources created by the HyperparameterTuningJob will be encrypted with the provided encryption key.",
          "$ref": "GoogleCloudAiplatformV1alpha1EncryptionSpec"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1StudySpec": {
      "id": "GoogleCloudAiplatformV1alpha1StudySpec",
      "description": "Represents specification of a Study.",
      "type": "object",
      "properties": {
        "decayCurveStoppingSpec": {
          "description": "The automated early stopping spec using decay curve rule.",
          "$ref": "GoogleCloudAiplatformV1alpha1StudySpecDecayCurveAutomatedStoppingSpec"
        },
        "medianAutomatedStoppingSpec": {
          "description": "The automated early stopping spec using median rule.",
          "$ref": "GoogleCloudAiplatformV1alpha1StudySpecMedianAutomatedStoppingSpec"
        },
        "convexStopConfig": {
          "description": "The automated early stopping using convex stopping rule.",
          "$ref": "GoogleCloudAiplatformV1alpha1StudySpecConvexStopConfig"
        },
        "metrics": {
          "description": "Required. Metric specs for the Study.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1StudySpecMetricSpec"
          }
        },
        "parameters": {
          "description": "Required. The set of parameters to tune.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpec"
          }
        },
        "algorithm": {
          "description": "The search algorithm specified for the Study.",
          "type": "string",
          "enumDescriptions": [
            "The default algorithm used by AI Platform Optimization service.",
            "Simple grid search within the feasible space. To use grid search, all parameters must be `INTEGER`, `CATEGORICAL`, or `DISCRETE`.",
            "Simple random search within the feasible space."
          ],
          "enum": [
            "ALGORITHM_UNSPECIFIED",
            "GRID_SEARCH",
            "RANDOM_SEARCH"
          ]
        },
        "observationNoise": {
          "description": "The observation noise level of the study. Currently only supported by the Vizier service. Not supported by HyperparamterTuningJob or TrainingPipeline.",
          "type": "string",
          "enumDescriptions": [
            "The default noise level chosen by the AI Platform service.",
            "AI Platform Vizier assumes that the objective function is (nearly) perfectly reproducible, and will never repeat the same Trial parameters.",
            "AI Platform Vizier will estimate the amount of noise in metric evaluations, it may repeat the same Trial parameters more than once."
          ],
          "enum": [
            "OBSERVATION_NOISE_UNSPECIFIED",
            "LOW",
            "HIGH"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1StudySpecDecayCurveAutomatedStoppingSpec": {
      "id": "GoogleCloudAiplatformV1alpha1StudySpecDecayCurveAutomatedStoppingSpec",
      "description": "The decay curve automated stopping rule builds a Gaussian Process Regressor to predict the final objective value of a Trial based on the already completed Trials and the intermediate measurements of the current Trial. Early stopping is requested for the current Trial if there is very low probability to exceed the optimal value found so far.",
      "type": "object",
      "properties": {
        "useElapsedDuration": {
          "description": "True if Measurement.elapsed_duration is used as the x-axis of each Trials Decay Curve. Otherwise, Measurement.step_count will be used as the x-axis.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1StudySpecMedianAutomatedStoppingSpec": {
      "id": "GoogleCloudAiplatformV1alpha1StudySpecMedianAutomatedStoppingSpec",
      "description": "The median automated stopping rule stops a pending Trial if the Trial's best objective_value is strictly below the median 'performance' of all completed Trials reported up to the Trial's last measurement. Currently, 'performance' refers to the running average of the objective values reported by the Trial in each measurement.",
      "type": "object",
      "properties": {
        "useElapsedDuration": {
          "description": "True if median automated stopping rule applies on Measurement.elapsed_duration. It means that elapsed_duration field of latest measurement of current Trial is used to compute median objective value for each completed Trials.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1StudySpecConvexStopConfig": {
      "id": "GoogleCloudAiplatformV1alpha1StudySpecConvexStopConfig",
      "description": "Configuration for ConvexStopPolicy.",
      "type": "object",
      "properties": {
        "maxNumSteps": {
          "description": "Steps used in predicting the final objective for early stopped trials. In general, it's set to be the same as the defined steps in training \/ tuning. When use_steps is false, this field is set to the maximum elapsed seconds.",
          "type": "string",
          "format": "int64"
        },
        "minNumSteps": {
          "description": "Minimum number of steps for a trial to complete. Trials which do not have a measurement with num_steps > min_num_steps won't be considered for early stopping. It's ok to set it to 0, and a trial can be early stopped at any stage. By default, min_num_steps is set to be one-tenth of the max_num_steps. When use_steps is false, this field is set to the minimum elapsed seconds.",
          "type": "string",
          "format": "int64"
        },
        "autoregressiveOrder": {
          "description": "The number of Trial measurements used in autoregressive model for value prediction. A trial won't be considered early stopping if has fewer measurement points.",
          "type": "string",
          "format": "int64"
        },
        "learningRateParameterName": {
          "description": "The hyper-parameter name used in the tuning job that stands for learning rate. Leave it blank if learning rate is not in a parameter in tuning. The learning_rate is used to estimate the objective value of the ongoing trial.",
          "type": "string"
        },
        "useSeconds": {
          "description": "This bool determines whether or not the rule is applied based on elapsed_secs or steps. If use_seconds==false, the early stopping decision is made according to the predicted objective values according to the target steps. If use_seconds==true, elapsed_secs is used instead of steps. Also, in this case, the parameters max_num_steps and min_num_steps are overloaded to contain max_elapsed_seconds and min_elapsed_seconds.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1StudySpecMetricSpec": {
      "id": "GoogleCloudAiplatformV1alpha1StudySpecMetricSpec",
      "description": "Represents a metric to optimize.",
      "type": "object",
      "properties": {
        "metricId": {
          "description": "Required. The ID of the metric. Must not contain whitespaces and must be unique amongst all MetricSpecs.",
          "type": "string"
        },
        "goal": {
          "description": "Required. The optimization goal of the metric.",
          "type": "string",
          "enumDescriptions": [
            "Goal Type will default to maximize.",
            "Maximize the goal metric.",
            "Minimize the goal metric."
          ],
          "enum": [
            "GOAL_TYPE_UNSPECIFIED",
            "MAXIMIZE",
            "MINIMIZE"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1StudySpecParameterSpec": {
      "id": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpec",
      "description": "Represents a single parameter to optimize.",
      "type": "object",
      "properties": {
        "doubleValueSpec": {
          "description": "The value spec for a 'DOUBLE' parameter.",
          "$ref": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecDoubleValueSpec"
        },
        "integerValueSpec": {
          "description": "The value spec for an 'INTEGER' parameter.",
          "$ref": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecIntegerValueSpec"
        },
        "categoricalValueSpec": {
          "description": "The value spec for a 'CATEGORICAL' parameter.",
          "$ref": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecCategoricalValueSpec"
        },
        "discreteValueSpec": {
          "description": "The value spec for a 'DISCRETE' parameter.",
          "$ref": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecDiscreteValueSpec"
        },
        "parameterId": {
          "description": "Required. The ID of the parameter. Must not contain whitespaces and must be unique amongst all ParameterSpecs.",
          "type": "string"
        },
        "scaleType": {
          "description": "How the parameter should be scaled. Leave unset for `CATEGORICAL` parameters.",
          "type": "string",
          "enumDescriptions": [
            "By default, no scaling is applied.",
            "Scales the feasible space to (0, 1) linearly.",
[...]
