{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "aiplatform:v1",
  "name": "aiplatform",
  "canonicalName": "Aiplatform",
  "version": "v1",
  "revision": "0",
  "title": "Vertex AI API",
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "protocol": "rest",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "schemas": {
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudAiplatformV1Dataset": {
      "id": "GoogleCloudAiplatformV1Dataset",
      "description": "A collection of DataItems and Annotations on them.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the Dataset.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of the Dataset. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the Dataset.",
          "type": "string"
        },
        "metadataSchemaUri": {
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing additional information about the Dataset. The schema is defined as an OpenAPI 3.0.2 Schema Object. The schema files that can be used here are found in gs:\/\/google-cloud-aiplatform\/schema\/dataset\/metadata\/.",
          "type": "string"
        },
        "metadata": {
          "description": "Required. Additional information about the Dataset.",
          "type": "any"
        },
        "createTime": {
          "description": "Output only. Timestamp when this Dataset was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Dataset was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your Datasets. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Dataset (System labels are excluded). See https:\/\/goo.gl\/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable. Following system labels exist for each Dataset: * \"aiplatform.googleapis.com\/dataset_metadata_schema\": output only, its value is the metadata_schema's title.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key spec for a Dataset. If set, this Dataset and all sub-resources of this Dataset will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        }
      }
    },
    "GoogleCloudAiplatformV1EncryptionSpec": {
      "id": "GoogleCloudAiplatformV1EncryptionSpec",
      "description": "Represents a customer-managed encryption key spec that can be applied to a top-level resource.",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Required. The Cloud KMS resource identifier of the customer managed encryption key used to protect a resource. Has the form: `projects\/my-project\/locations\/my-region\/keyRings\/my-kr\/cryptoKeys\/my-key`. The key needs to be in the same region as where the compute resource is created.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ListDatasetsResponse": {
      "id": "GoogleCloudAiplatformV1ListDatasetsResponse",
      "description": "Response message for DatasetService.ListDatasets.",
      "type": "object",
      "properties": {
        "datasets": {
          "description": "A list of Datasets that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Dataset"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ImportDataRequest": {
      "id": "GoogleCloudAiplatformV1ImportDataRequest",
      "description": "Request message for DatasetService.ImportData.",
      "type": "object",
      "properties": {
        "importConfigs": {
          "description": "Required. The desired input locations. The contents of all input locations will be imported in one batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ImportDataConfig"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ImportDataConfig": {
      "id": "GoogleCloudAiplatformV1ImportDataConfig",
      "description": "Describes the location from where we import data into a Dataset, together with the labels that will be applied to the DataItems and the Annotations.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "The Google Cloud Storage location for the input content.",
          "$ref": "GoogleCloudAiplatformV1GcsSource"
        },
        "dataItemLabels": {
          "description": "Labels that will be applied to newly imported DataItems. If an identical DataItem as one being imported already exists in the Dataset, then these labels will be appended to these of the already existing one, and if labels with identical key is imported before, the old label value will be overwritten. If two DataItems are identical in the same import data operation, the labels will be combined and if key collision happens in this case, one of the values will be picked randomly. Two DataItems are considered identical if their content bytes are identical (e.g. image bytes or pdf bytes). These labels will be overridden by Annotation labels specified inside index file referenced by import_schema_uri, e.g. jsonl file.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "importSchemaUri": {
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing the import format. Validation will be done against the schema. The schema is defined as an [OpenAPI 3.0.2 Schema Object](https:\/\/github.com\/OAI\/OpenAPI-Specification\/blob\/main\/versions\/3.0.2.md#schemaObject).",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1GcsSource": {
      "id": "GoogleCloudAiplatformV1GcsSource",
      "description": "The Google Cloud Storage location for the input content.",
      "type": "object",
      "properties": {
        "uris": {
          "description": "Required. Google Cloud Storage URI(-s) to the input file(s). May contain wildcards. For more information on wildcards, see https:\/\/cloud.google.com\/storage\/docs\/gsutil\/addlhelp\/WildcardNames.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ExportDataRequest": {
      "id": "GoogleCloudAiplatformV1ExportDataRequest",
      "description": "Request message for DatasetService.ExportData.",
      "type": "object",
      "properties": {
        "exportConfig": {
          "description": "Required. The desired output location.",
          "$ref": "GoogleCloudAiplatformV1ExportDataConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1ExportDataConfig": {
      "id": "GoogleCloudAiplatformV1ExportDataConfig",
      "description": "Describes what part of the Dataset is to be exported, the destination of the export and how to export.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The Google Cloud Storage location where the output is to be written to. In the given directory a new directory will be created with name: `export-data--` where timestamp is in YYYY-MM-DDThh:mm:ss.sssZ ISO-8601 format. All export output will be written into that directory. Inside that directory, annotations with the same schema will be grouped into sub directories which are named with the corresponding annotations' schema title. Inside these sub directories, a schema.yaml will be created to describe the output format.",
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        },
        "annotationsFilter": {
          "description": "A filter on Annotations of the Dataset. Only Annotations on to-be-exported DataItems(specified by data_items_filter) that match this filter will be exported. The filter syntax is the same as in ListAnnotations.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1GcsDestination": {
      "id": "GoogleCloudAiplatformV1GcsDestination",
      "description": "The Google Cloud Storage location where the output is to be written to.",
      "type": "object",
      "properties": {
        "outputUriPrefix": {
          "description": "Required. Google Cloud Storage URI to output directory. If the uri doesn't end with '\/', a '\/' will be automatically appended. The directory is created if it doesn't exist.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ListDataItemsResponse": {
      "id": "GoogleCloudAiplatformV1ListDataItemsResponse",
      "description": "Response message for DatasetService.ListDataItems.",
      "type": "object",
      "properties": {
        "dataItems": {
          "description": "A list of DataItems that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1DataItem"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1DataItem": {
      "id": "GoogleCloudAiplatformV1DataItem",
      "description": "A piece of data in a Dataset. Could be an image, a video, a document or plain text.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the DataItem.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this DataItem was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this DataItem was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize your DataItems. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one DataItem(System labels are excluded). See https:\/\/goo.gl\/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "payload": {
          "description": "Required. The data that the DataItem represents (for example, an image or a text snippet). The schema of the payload is stored in the parent Dataset's metadata schema's dataItemSchemaUri field.",
          "type": "any"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1AnnotationSpec": {
      "id": "GoogleCloudAiplatformV1AnnotationSpec",
      "description": "Identifies a concept with which DataItems may be annotated with.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the AnnotationSpec.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of the AnnotationSpec. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this AnnotationSpec was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when AnnotationSpec was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ListAnnotationsResponse": {
      "id": "GoogleCloudAiplatformV1ListAnnotationsResponse",
      "description": "Response message for DatasetService.ListAnnotations.",
      "type": "object",
      "properties": {
        "annotations": {
          "description": "A list of Annotations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Annotation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1Annotation": {
      "id": "GoogleCloudAiplatformV1Annotation",
      "description": "Used to assign specific AnnotationSpec to a particular area of a DataItem or the whole part of the DataItem.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the Annotation.",
          "readOnly": true,
          "type": "string"
        },
        "payloadSchemaUri": {
          "description": "Required. Google Cloud Storage URI points to a YAML file describing payload. The schema is defined as an [OpenAPI 3.0.2 Schema Object](https:\/\/github.com\/OAI\/OpenAPI-Specification\/blob\/main\/versions\/3.0.2.md#schemaObject). The schema files that can be used here are found in gs:\/\/google-cloud-aiplatform\/schema\/dataset\/annotation\/, note that the chosen schema must be consistent with the parent Dataset's metadata.",
          "type": "string"
        },
        "payload": {
          "description": "Required. The schema of the payload can be found in payload_schema.",
          "type": "any"
        },
        "createTime": {
          "description": "Output only. Timestamp when this Annotation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Annotation was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "annotationSource": {
          "description": "Output only. The source of the Annotation.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1UserActionReference"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize your Annotations. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Annotation(System labels are excluded). See https:\/\/goo.gl\/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable. Following system labels exist for each Annotation: * \"aiplatform.googleapis.com\/annotation_set_name\": optional, name of the UI's annotation set this Annotation belongs to. If not set, the Annotation is not visible in the UI. * \"aiplatform.googleapis.com\/payload_schema\": output only, its value is the payload_schema's title.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1UserActionReference": {
      "id": "GoogleCloudAiplatformV1UserActionReference",
      "description": "References an API call. It contains more information about long running operation and Jobs that are triggered by the API call.",
      "type": "object",
      "properties": {
        "operation": {
          "description": "For API calls that return a long running operation. Resource name of the long running operation. Format: 'projects\/{project}\/locations\/{location}\/operations\/{operation}'",
          "type": "string"
        },
        "dataLabelingJob": {
          "description": "For API calls that start a LabelingJob. Resource name of the LabelingJob. Format: 'projects\/{project}\/locations\/{location}\/dataLabelingJobs\/{data_labeling_job}'",
          "type": "string"
        },
        "method": {
          "description": "The method name of the API RPC call. For example, \"\/google.cloud.aiplatform.{apiVersion}.DatasetService.CreateDataset\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1Endpoint": {
      "id": "GoogleCloudAiplatformV1Endpoint",
      "description": "Models are deployed into it, and afterwards Endpoint is called to obtain predictions and explanations.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the Endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the Endpoint. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "description": {
          "description": "The description of the Endpoint.",
          "type": "string"
        },
        "deployedModels": {
          "description": "Output only. The models deployed in this Endpoint. To add or remove DeployedModels use EndpointService.DeployModel and EndpointService.UndeployModel respectively.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1DeployedModel"
          }
        },
        "trafficSplit": {
          "description": "A map from a DeployedModel's ID to the percentage of this Endpoint's traffic that should be forwarded to that DeployedModel. If a DeployedModel's ID is not listed in this map, then it receives no traffic. The traffic percentage values must add up to 100, or map must be empty if the Endpoint is to not accept any traffic at a moment.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your Endpoints. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Timestamp when this Endpoint was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Endpoint was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key spec for an Endpoint. If set, this Endpoint and all sub-resources of this Endpoint will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        },
        "network": {
          "description": "The full name of the Google Compute Engine [network](https:\/\/cloud.google.com\/\/compute\/docs\/networks-and-firewalls#networks) to which the Endpoint should be peered. Private services access must already be configured for the network. If left unspecified, the Endpoint is not peered with any network. Only one of the fields, network or enable_private_service_connect, can be set. [Format](https:\/\/cloud.google.com\/compute\/docs\/reference\/rest\/v1\/networks\/insert): `projects\/{project}\/global\/networks\/{network}`. Where `{project}` is a project number, as in `12345`, and `{network}` is network name.",
          "type": "string"
        },
        "enablePrivateServiceConnect": {
          "description": "If true, expose the Endpoint via private service connect. Only one of the fields, network or enable_private_service_connect, can be set.",
          "type": "boolean"
        },
        "modelDeploymentMonitoringJob": {
          "description": "Output only. Resource name of the Model Monitoring job associated with this Endpoint if monitoring is enabled by CreateModelDeploymentMonitoringJob. Format: `projects\/{project}\/locations\/{location}\/modelDeploymentMonitoringJobs\/{model_deployment_monitoring_job}`",
          "readOnly": true,
          "type": "string"
        },
        "predictRequestResponseLoggingConfig": {
          "description": "Configures the request-response logging for online prediction.",
          "$ref": "GoogleCloudAiplatformV1PredictRequestResponseLoggingConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1DeployedModel": {
      "id": "GoogleCloudAiplatformV1DeployedModel",
      "description": "A deployment of a Model. Endpoints contain one or more DeployedModels.",
      "type": "object",
      "properties": {
        "dedicatedResources": {
          "description": "A description of resources that are dedicated to the DeployedModel, and that need a higher degree of manual configuration.",
          "$ref": "GoogleCloudAiplatformV1DedicatedResources"
        },
        "automaticResources": {
          "description": "A description of resources that to large degree are decided by Vertex AI, and require only a modest additional configuration.",
          "$ref": "GoogleCloudAiplatformV1AutomaticResources"
        },
        "id": {
          "description": "Immutable. The ID of the DeployedModel. If not provided upon deployment, Vertex AI will generate a value for this ID. This value should be 1-10 characters, and valid characters are \/[0-9]\/.",
          "type": "string"
        },
        "model": {
          "description": "Required. The name of the Model that this is the deployment of. Note that the Model may be in a different location than the DeployedModel's Endpoint.",
          "type": "string"
        },
        "modelVersionId": {
          "description": "Output only. The version ID of the model that is deployed.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the DeployedModel. If not provided upon creation, the Model's display_name is used.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the DeployedModel was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "explanationSpec": {
          "description": "Explanation configuration for this DeployedModel. When deploying a Model using EndpointService.DeployModel, this value overrides the value of Model.explanation_spec. All fields of explanation_spec are optional in the request. If a field of explanation_spec is not populated, the value of the same field of Model.explanation_spec is inherited. If the corresponding Model.explanation_spec is not populated, all fields of the explanation_spec will be used for the explanation configuration.",
          "$ref": "GoogleCloudAiplatformV1ExplanationSpec"
        },
        "serviceAccount": {
          "description": "The service account that the DeployedModel's container runs as. Specify the email address of the service account. If this service account is not specified, the container runs as a service account that doesn't have access to the resource project. Users deploying the Model must have the `iam.serviceAccounts.actAs` permission on this service account.",
          "type": "string"
        },
        "disableContainerLogging": {
          "description": "For custom-trained Models and AutoML Tabular Models, the container of the DeployedModel instances will send `stderr` and `stdout` streams to Stackdriver Logging by default. Please note that the logs incur cost, which are subject to [Cloud Logging pricing](https:\/\/cloud.google.com\/stackdriver\/pricing). User can disable container logging by setting this flag to true.",
          "type": "boolean"
        },
        "enableAccessLogging": {
          "description": "These logs are like standard server access logs, containing information like timestamp and latency for each prediction request. Note that Stackdriver logs may incur a cost, especially if your project receives prediction requests at a high queries per second rate (QPS). Estimate your costs before enabling this option.",
          "type": "boolean"
        },
        "privateEndpoints": {
          "description": "Output only. Provide paths for users to send predict\/explain\/health requests directly to the deployed model services running on Cloud via private services access. This field is populated if network is configured.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1PrivateEndpoints"
        }
      }
    },
    "GoogleCloudAiplatformV1DedicatedResources": {
      "id": "GoogleCloudAiplatformV1DedicatedResources",
      "description": "A description of resources that are dedicated to a DeployedModel, and that need a higher degree of manual configuration.",
      "type": "object",
      "properties": {
        "machineSpec": {
          "description": "Required. Immutable. The specification of a single machine used by the prediction.",
          "$ref": "GoogleCloudAiplatformV1MachineSpec"
        },
        "minReplicaCount": {
          "description": "Required. Immutable. The minimum number of machine replicas this DeployedModel will be always deployed on. This value must be greater than or equal to 1. If traffic against the DeployedModel increases, it may dynamically be deployed onto more replicas, and as traffic decreases, some of these extra replicas may be freed.",
          "type": "integer",
          "format": "int32"
        },
        "maxReplicaCount": {
          "description": "Immutable. The maximum number of replicas this DeployedModel may be deployed on when the traffic against it increases. If the requested value is too large, the deployment will error, but if deployment succeeds then the ability to scale the model to that many replicas is guaranteed (barring service outages). If traffic against the DeployedModel increases beyond what its replicas at maximum may handle, a portion of the traffic will be dropped. If this value is not provided, will use min_replica_count as the default value. The value of this field impacts the charge against Vertex CPU and GPU quotas. Specifically, you will be charged for max_replica_count * number of cores in the selected machine type) and (max_replica_count * number of GPUs per replica in the selected machine type).",
          "type": "integer",
          "format": "int32"
        },
        "autoscalingMetricSpecs": {
          "description": "Immutable. The metric specifications that overrides a resource utilization metric (CPU utilization, accelerator's duty cycle, and so on) target value (default to 60 if not set). At most one entry is allowed per metric. If machine_spec.accelerator_count is above 0, the autoscaling will be based on both CPU utilization and accelerator's duty cycle metrics and scale up when either metrics exceeds its target value while scale down if both metrics are under their target value. The default target value is 60 for both metrics. If machine_spec.accelerator_count is 0, the autoscaling will be based on CPU utilization metric only with default target value 60 if not explicitly set. For example, in the case of Online Prediction, if you want to override target CPU utilization to 80, you should set autoscaling_metric_specs.metric_name to `aiplatform.googleapis.com\/prediction\/online\/cpu\/utilization` and autoscaling_metric_specs.target to `80`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1AutoscalingMetricSpec"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1MachineSpec": {
      "id": "GoogleCloudAiplatformV1MachineSpec",
      "description": "Specification of a single machine.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Immutable. The type of the machine. See the [list of machine types supported for prediction](https:\/\/cloud.google.com\/vertex-ai\/docs\/predictions\/configure-compute#machine-types) See the [list of machine types supported for custom training](https:\/\/cloud.google.com\/vertex-ai\/docs\/training\/configure-compute#machine-types). For DeployedModel this field is optional, and the default value is `n1-standard-2`. For BatchPredictionJob or as part of WorkerPoolSpec this field is required.",
          "type": "string"
        },
        "acceleratorType": {
          "description": "Immutable. The type of accelerator(s) that may be attached to the machine as per accelerator_count.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified accelerator type, which means no accelerator.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "TPU v2.",
            "TPU v3."
          ],
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "TPU_V2",
            "TPU_V3"
          ]
        },
        "acceleratorCount": {
          "description": "The number of accelerators to attach to the machine.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1AutoscalingMetricSpec": {
      "id": "GoogleCloudAiplatformV1AutoscalingMetricSpec",
      "description": "The metric specification that defines the target resource utilization (CPU utilization, accelerator's duty cycle, and so on) for calculating the desired replica count.",
      "type": "object",
      "properties": {
        "metricName": {
          "description": "Required. The resource metric name. Supported metrics: * For Online Prediction: * `aiplatform.googleapis.com\/prediction\/online\/accelerator\/duty_cycle` * `aiplatform.googleapis.com\/prediction\/online\/cpu\/utilization`",
          "type": "string"
        },
        "target": {
          "description": "The target resource utilization in percentage (1% - 100%) for the given metric; once the real usage deviates from the target by a certain percentage, the machine replicas change. The default value is 60 (representing 60%) if not provided.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1AutomaticResources": {
      "id": "GoogleCloudAiplatformV1AutomaticResources",
      "description": "A description of resources that to large degree are decided by Vertex AI, and require only a modest additional configuration. Each Model supporting these resources documents its specific guidelines.",
      "type": "object",
      "properties": {
        "minReplicaCount": {
          "description": "Immutable. The minimum number of replicas this DeployedModel will be always deployed on. If traffic against it increases, it may dynamically be deployed onto more replicas up to max_replica_count, and as traffic decreases, some of these extra replicas may be freed. If the requested value is too large, the deployment will error.",
          "type": "integer",
          "format": "int32"
        },
        "maxReplicaCount": {
          "description": "Immutable. The maximum number of replicas this DeployedModel may be deployed on when the traffic against it increases. If the requested value is too large, the deployment will error, but if deployment succeeds then the ability to scale the model to that many replicas is guaranteed (barring service outages). If traffic against the DeployedModel increases beyond what its replicas at maximum may handle, a portion of the traffic will be dropped. If this value is not provided, a no upper bound for scaling under heavy traffic will be assume, though Vertex AI may be unable to scale beyond certain replica number.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1ExplanationSpec": {
      "id": "GoogleCloudAiplatformV1ExplanationSpec",
      "description": "Specification of Model explanation.",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Required. Parameters that configure explaining of the Model's predictions.",
          "$ref": "GoogleCloudAiplatformV1ExplanationParameters"
        },
        "metadata": {
          "description": "Required. Metadata describing the Model's input and output for explanation.",
          "$ref": "GoogleCloudAiplatformV1ExplanationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1ExplanationParameters": {
      "id": "GoogleCloudAiplatformV1ExplanationParameters",
      "description": "Parameters to configure explaining for Model's predictions.",
      "type": "object",
      "properties": {
        "sampledShapleyAttribution": {
          "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features. Refer to this paper for model details: https:\/\/arxiv.org\/abs\/1306.4265.",
          "$ref": "GoogleCloudAiplatformV1SampledShapleyAttribution"
        },
        "integratedGradientsAttribution": {
          "description": "An attribution method that computes Aumann-Shapley values taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https:\/\/arxiv.org\/abs\/1703.01365",
          "$ref": "GoogleCloudAiplatformV1IntegratedGradientsAttribution"
        },
        "xraiAttribution": {
          "description": "An attribution method that redistributes Integrated Gradients attribution to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https:\/\/arxiv.org\/abs\/1906.02825 XRAI currently performs better on natural images, like a picture of a house or an animal. If the images are taken in artificial environments, like a lab or manufacturing line, or from diagnostic equipment, like x-rays or quality-control cameras, use Integrated Gradients instead.",
          "$ref": "GoogleCloudAiplatformV1XraiAttribution"
        },
        "topK": {
          "description": "If populated, returns attributions for top K indices of outputs (defaults to 1). Only applies to Models that predicts more than one outputs (e,g, multi-class Models). When set to -1, returns explanations for all outputs.",
          "type": "integer",
          "format": "int32"
        },
        "outputIndices": {
          "description": "If populated, only returns attributions that have output_index contained in output_indices. It must be an ndarray of integers, with the same shape of the output it's explaining. If not populated, returns attributions for top_k indices of outputs. If neither top_k nor output_indeices is populated, returns the argmax index of the outputs. Only applicable to Models that predict multiple outputs (e,g, multi-class Models that predict multiple classes).",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1SampledShapleyAttribution": {
      "id": "GoogleCloudAiplatformV1SampledShapleyAttribution",
      "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features.",
      "type": "object",
      "properties": {
        "pathCount": {
          "description": "Required. The number of feature permutations to consider when approximating the Shapley values. Valid range of its value is [1, 50], inclusively.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1IntegratedGradientsAttribution": {
      "id": "GoogleCloudAiplatformV1IntegratedGradientsAttribution",
      "description": "An attribution method that computes the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https:\/\/arxiv.org\/abs\/1703.01365",
      "type": "object",
      "properties": {
        "stepCount": {
          "description": "Required. The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "type": "integer",
          "format": "int32"
        },
        "smoothGradConfig": {
          "description": "Config for SmoothGrad approximation of gradients. When enabled, the gradients are approximated by averaging the gradients from noisy samples in the vicinity of the inputs. Adding noise can help improve the computed gradients. Refer to this paper for more details: https:\/\/arxiv.org\/pdf\/1706.03825.pdf",
          "$ref": "GoogleCloudAiplatformV1SmoothGradConfig"
        },
        "blurBaselineConfig": {
          "description": "Config for IG with blur baseline. When enabled, a linear path from the maximally blurred image to the input image is created. Using a blurred baseline instead of zero (black image) is motivated by the BlurIG approach explained here: https:\/\/arxiv.org\/abs\/2004.03383",
          "$ref": "GoogleCloudAiplatformV1BlurBaselineConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1SmoothGradConfig": {
      "id": "GoogleCloudAiplatformV1SmoothGradConfig",
      "description": "Config for SmoothGrad approximation of gradients. When enabled, the gradients are approximated by averaging the gradients from noisy samples in the vicinity of the inputs. Adding noise can help improve the computed gradients. Refer to this paper for more details: https:\/\/arxiv.org\/pdf\/1706.03825.pdf",
      "type": "object",
      "properties": {
        "noiseSigma": {
          "description": "This is a single float value and will be used to add noise to all the features. Use this field when all features are normalized to have the same distribution: scale to range [0, 1], [-1, 1] or z-scoring, where features are normalized to have 0-mean and 1-variance. Learn more about [normalization](https:\/\/developers.google.com\/machine-learning\/data-prep\/transform\/normalization). For best results the recommended value is about 10% - 20% of the standard deviation of the input feature. Refer to section 3.2 of the SmoothGrad paper: https:\/\/arxiv.org\/pdf\/1706.03825.pdf. Defaults to 0.1. If the distribution is different per feature, set feature_noise_sigma instead for each feature.",
          "type": "number",
          "format": "float"
        },
        "featureNoiseSigma": {
          "description": "This is similar to noise_sigma, but provides additional flexibility. A separate noise sigma can be provided for each feature, which is useful if their distributions are different. No noise is added to features that are not set. If this field is unset, noise_sigma will be used for all features.",
          "$ref": "GoogleCloudAiplatformV1FeatureNoiseSigma"
        },
        "noisySampleCount": {
          "description": "The number of gradient samples to use for approximation. The higher this number, the more accurate the gradient is, but the runtime complexity increases by this factor as well. Valid range of its value is [1, 50]. Defaults to 3.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureNoiseSigma": {
      "id": "GoogleCloudAiplatformV1FeatureNoiseSigma",
      "description": "Noise sigma by features. Noise sigma represents the standard deviation of the gaussian kernel that will be used to add noise to interpolated inputs prior to computing gradients.",
      "type": "object",
      "properties": {
        "noiseSigma": {
          "description": "Noise sigma per feature. No noise is added to features that are not set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureNoiseSigmaNoiseSigmaForFeature"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureNoiseSigmaNoiseSigmaForFeature": {
      "id": "GoogleCloudAiplatformV1FeatureNoiseSigmaNoiseSigmaForFeature",
      "description": "Noise sigma for a single feature.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the input feature for which noise sigma is provided. The features are defined in explanation metadata inputs.",
          "type": "string"
        },
        "sigma": {
          "description": "This represents the standard deviation of the Gaussian kernel that will be used to add noise to the feature prior to computing gradients. Similar to noise_sigma but represents the noise added to the current feature. Defaults to 0.1.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1BlurBaselineConfig": {
      "id": "GoogleCloudAiplatformV1BlurBaselineConfig",
      "description": "Config for blur baseline. When enabled, a linear path from the maximally blurred image to the input image is created. Using a blurred baseline instead of zero (black image) is motivated by the BlurIG approach explained here: https:\/\/arxiv.org\/abs\/2004.03383",
      "type": "object",
      "properties": {
        "maxBlurSigma": {
          "description": "The standard deviation of the blur kernel for the blurred baseline. The same blurring parameter is used for both the height and the width dimension. If not set, the method defaults to the zero (i.e. black for images) baseline.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1XraiAttribution": {
      "id": "GoogleCloudAiplatformV1XraiAttribution",
      "description": "An explanation method that redistributes Integrated Gradients attributions to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https:\/\/arxiv.org\/abs\/1906.02825 Supported only by image Models.",
      "type": "object",
      "properties": {
        "stepCount": {
          "description": "Required. The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "type": "integer",
          "format": "int32"
        },
        "smoothGradConfig": {
          "description": "Config for SmoothGrad approximation of gradients. When enabled, the gradients are approximated by averaging the gradients from noisy samples in the vicinity of the inputs. Adding noise can help improve the computed gradients. Refer to this paper for more details: https:\/\/arxiv.org\/pdf\/1706.03825.pdf",
          "$ref": "GoogleCloudAiplatformV1SmoothGradConfig"
        },
        "blurBaselineConfig": {
          "description": "Config for XRAI with blur baseline. When enabled, a linear path from the maximally blurred image to the input image is created. Using a blurred baseline instead of zero (black image) is motivated by the BlurIG approach explained here: https:\/\/arxiv.org\/abs\/2004.03383",
          "$ref": "GoogleCloudAiplatformV1BlurBaselineConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1ExplanationMetadata": {
      "id": "GoogleCloudAiplatformV1ExplanationMetadata",
      "description": "Metadata describing the Model's input and output for explanation.",
      "type": "object",
      "properties": {
        "inputs": {
          "description": "Required. Map from feature names to feature input metadata. Keys are the name of the features. Values are the specification of the feature. An empty InputMetadata is valid. It describes a text feature which has the name specified as the key in ExplanationMetadata.inputs. The baseline of the empty feature is chosen by Vertex AI. For Vertex AI-provided Tensorflow images, the key can be any friendly name of the feature. Once specified, featureAttributions are keyed by this key (if not grouped with another feature). For custom images, the key must match with the key in instance.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadata"
          }
        },
        "outputs": {
          "description": "Required. Map from output names to output metadata. For Vertex AI-provided Tensorflow images, keys can be any user defined string that consists of any UTF-8 characters. For custom images, keys are the name of the output field in the prediction to be explained. Currently only one key is allowed.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ExplanationMetadataOutputMetadata"
          }
        },
        "featureAttributionsSchemaUri": {
          "description": "Points to a YAML file stored on Google Cloud Storage describing the format of the feature attributions. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https:\/\/github.com\/OAI\/OpenAPI-Specification\/blob\/main\/versions\/3.0.2.md#schemaObject). AutoML tabular Models always have this field populated by Vertex AI. Note: The URI given on output may be different, including the URI scheme, than the one given on input. The output URI will point to a location where the user only has a read access.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ExplanationMetadataInputMetadata": {
      "id": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadata",
      "description": "Metadata of the input of a feature. Fields other than InputMetadata.input_baselines are applicable only for Models that are using Vertex AI-provided images for Tensorflow.",
      "type": "object",
      "properties": {
        "inputBaselines": {
          "description": "Baseline inputs for this feature. If no baseline is specified, Vertex AI chooses the baseline for this feature. If multiple baselines are specified, Vertex AI returns the average attributions across them in Attribution.feature_attributions. For Vertex AI-provided Tensorflow images (both 1.x and 2.x), the shape of each baseline must match the shape of the input tensor. If a scalar is provided, we broadcast to the same shape as the input tensor. For custom images, the element of the baselines must be in the same format as the feature's input in the instance[]. The schema of any single instance may be specified via Endpoint's DeployedModels' Model's PredictSchemata's instance_schema_uri.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "inputTensorName": {
          "description": "Name of the input tensor for this feature. Required and is only applicable to Vertex AI-provided images for Tensorflow.",
          "type": "string"
        },
        "encoding": {
          "description": "Defines how the feature is encoded into the input tensor. Defaults to IDENTITY.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as IDENTITY.",
            "The tensor represents one feature.",
            "The tensor represents a bag of features where each index maps to a feature. InputMetadata.index_feature_mapping must be provided for this encoding. For example: ``` input = [27, 6.0, 150] index_feature_mapping = [\"age\", \"height\", \"weight\"] ```",
            "The tensor represents a bag of features where each index maps to a feature. Zero values in the tensor indicates feature being non-existent. InputMetadata.index_feature_mapping must be provided for this encoding. For example: ``` input = [2, 0, 5, 0, 1] index_feature_mapping = [\"a\", \"b\", \"c\", \"d\", \"e\"] ```",
            "The tensor is a list of binaries representing whether a feature exists or not (1 indicates existence). InputMetadata.index_feature_mapping must be provided for this encoding. For example: ``` input = [1, 0, 1, 0, 1] index_feature_mapping = [\"a\", \"b\", \"c\", \"d\", \"e\"] ```",
            "The tensor is encoded into a 1-dimensional array represented by an encoded tensor. InputMetadata.encoded_tensor_name must be provided for this encoding. For example: ``` input = [\"This\", \"is\", \"a\", \"test\", \".\"] encoded = [0.1, 0.2, 0.3, 0.4, 0.5] ```",
            "Select this encoding when the input tensor is encoded into a 2-dimensional array represented by an encoded tensor. InputMetadata.encoded_tensor_name must be provided for this encoding. The first dimension of the encoded tensor's shape is the same as the input tensor's shape. For example: ``` input = [\"This\", \"is\", \"a\", \"test\", \".\"] encoded = [[0.1, 0.2, 0.3, 0.4, 0.5], [0.2, 0.1, 0.4, 0.3, 0.5], [0.5, 0.1, 0.3, 0.5, 0.4], [0.5, 0.3, 0.1, 0.2, 0.4], [0.4, 0.3, 0.2, 0.5, 0.1]] ```"
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "IDENTITY",
            "BAG_OF_FEATURES",
            "BAG_OF_FEATURES_SPARSE",
            "INDICATOR",
            "COMBINED_EMBEDDING",
            "CONCAT_EMBEDDING"
          ]
        },
        "modality": {
          "description": "Modality of the feature. Valid values are: numeric, image. Defaults to numeric.",
          "type": "string"
        },
        "featureValueDomain": {
          "description": "The domain details of the input feature value. Like min\/max, original mean or standard deviation if normalized.",
          "$ref": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadataFeatureValueDomain"
        },
        "indicesTensorName": {
          "description": "Specifies the index of the values of the input tensor. Required when the input tensor is a sparse representation. Refer to Tensorflow documentation for more details: https:\/\/www.tensorflow.org\/api_docs\/python\/tf\/sparse\/SparseTensor.",
          "type": "string"
        },
        "denseShapeTensorName": {
          "description": "Specifies the shape of the values of the input if the input is a sparse representation. Refer to Tensorflow documentation for more details: https:\/\/www.tensorflow.org\/api_docs\/python\/tf\/sparse\/SparseTensor.",
          "type": "string"
        },
        "indexFeatureMapping": {
          "description": "A list of feature names for each index in the input tensor. Required when the input InputMetadata.encoding is BAG_OF_FEATURES, BAG_OF_FEATURES_SPARSE, INDICATOR.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "encodedTensorName": {
          "description": "Encoded tensor is a transformation of the input tensor. Must be provided if choosing Integrated Gradients attribution or XRAI attribution and the input tensor is not differentiable. An encoded tensor is generated if the input tensor is encoded by a lookup table.",
          "type": "string"
        },
        "encodedBaselines": {
          "description": "A list of baselines for the encoded tensor. The shape of each baseline should match the shape of the encoded tensor. If a scalar is provided, Vertex AI broadcasts to the same shape as the encoded tensor.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "visualization": {
          "description": "Visualization configurations for image explanation.",
          "$ref": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadataVisualization"
        },
        "groupName": {
          "description": "Name of the group that the input belongs to. Features with the same group name will be treated as one feature when computing attributions. Features grouped together can have different shapes in value. If provided, there will be one single attribution generated in Attribution.feature_attributions, keyed by the group name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ExplanationMetadataInputMetadataFeatureValueDomain": {
      "id": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadataFeatureValueDomain",
      "description": "Domain details of the input feature value. Provides numeric information about the feature, such as its range (min, max). If the feature has been pre-processed, for example with z-scoring, then it provides information about how to recover the original feature. For example, if the input feature is an image and it has been pre-processed to obtain 0-mean and stddev = 1 values, then original_mean, and original_stddev refer to the mean and stddev of the original feature (e.g. image tensor) from which input feature (with mean = 0 and stddev = 1) was obtained.",
      "type": "object",
      "properties": {
        "minValue": {
          "description": "The minimum permissible value for this feature.",
          "type": "number",
          "format": "float"
        },
        "maxValue": {
          "description": "The maximum permissible value for this feature.",
          "type": "number",
          "format": "float"
        },
        "originalMean": {
          "description": "If this input feature has been normalized to a mean value of 0, the original_mean specifies the mean value of the domain prior to normalization.",
          "type": "number",
          "format": "float"
        },
        "originalStddev": {
          "description": "If this input feature has been normalized to a standard deviation of 1.0, the original_stddev specifies the standard deviation of the domain prior to normalization.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1ExplanationMetadataInputMetadataVisualization": {
      "id": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadataVisualization",
      "description": "Visualization configurations for image explanation.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of the image visualization. Only applicable to Integrated Gradients attribution. OUTLINES shows regions of attribution, while PIXELS shows per-pixel attribution. Defaults to OUTLINES.",
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "Shows which pixel contributed to the image prediction.",
            "Shows which region contributed to the image prediction by outlining the region."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXELS",
            "OUTLINES"
          ]
        },
        "polarity": {
          "description": "Whether to only highlight pixels with positive contributions, negative or both. Defaults to POSITIVE.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as POSITIVE.",
            "Highlights the pixels\/outlines that were most influential to the model's prediction.",
            "Setting polarity to negative highlights areas that does not lead to the models's current prediction.",
            "Shows both positive and negative attributions."
          ],
          "enum": [
            "POLARITY_UNSPECIFIED",
            "POSITIVE",
            "NEGATIVE",
            "BOTH"
          ]
        },
        "colorMap": {
          "description": "The color scheme used for the highlighted areas. Defaults to PINK_GREEN for Integrated Gradients attribution, which shows positive attributions in green and negative in pink. Defaults to VIRIDIS for XRAI attribution, which highlights the most influential regions in yellow and the least influential in blue.",
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "Positive: green. Negative: pink.",
            "Viridis color map: A perceptually uniform color mapping which is easier to see by those with colorblindness and progresses from yellow to green to blue. Positive: yellow. Negative: blue.",
            "Positive: red. Negative: red.",
            "Positive: green. Negative: green.",
            "Positive: green. Negative: red.",
            "PiYG palette."
          ],
          "enum": [
            "COLOR_MAP_UNSPECIFIED",
            "PINK_GREEN",
            "VIRIDIS",
            "RED",
            "GREEN",
            "RED_GREEN",
            "PINK_WHITE_GREEN"
          ]
        },
        "clipPercentUpperbound": {
          "description": "Excludes attributions above the specified percentile from the highlighted areas. Using the clip_percent_upperbound and clip_percent_lowerbound together can be useful for filtering out noise and making it easier to see areas of strong attribution. Defaults to 99.9.",
          "type": "number",
          "format": "float"
        },
        "clipPercentLowerbound": {
          "description": "Excludes attributions below the specified percentile, from the highlighted areas. Defaults to 62.",
          "type": "number",
          "format": "float"
        },
        "overlayType": {
          "description": "How the original image is displayed in the visualization. Adjusting the overlay can help increase visual clarity if the original image makes it difficult to view the visualization. Defaults to NONE.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as NONE.",
            "No overlay.",
            "The attributions are shown on top of the original image.",
            "The attributions are shown on top of grayscaled version of the original image.",
            "The attributions are used as a mask to reveal predictive parts of the image and hide the un-predictive parts."
          ],
          "enum": [
            "OVERLAY_TYPE_UNSPECIFIED",
            "NONE",
            "ORIGINAL",
            "GRAYSCALE",
            "MASK_BLACK"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1ExplanationMetadataOutputMetadata": {
      "id": "GoogleCloudAiplatformV1ExplanationMetadataOutputMetadata",
      "description": "Metadata of the prediction output to be explained.",
      "type": "object",
      "properties": {
        "indexDisplayNameMapping": {
          "description": "Static mapping between the index and display name. Use this if the outputs are a deterministic n-dimensional array, e.g. a list of scores of all the classes in a pre-defined order for a multi-classification Model. It's not feasible if the outputs are non-deterministic, e.g. the Model produces top-k classes or sort the outputs by their values. The shape of the value must be an n-dimensional array of strings. The number of dimensions must match that of the outputs to be explained. The Attribution.output_display_name is populated by locating in the mapping with Attribution.output_index.",
          "type": "any"
        },
        "displayNameMappingKey": {
          "description": "Specify a field name in the prediction to look for the display name. Use this if the prediction contains the display names for the outputs. The display names in the prediction must have the same shape of the outputs, so that it can be located by Attribution.output_index for a specific output.",
          "type": "string"
        },
        "outputTensorName": {
          "description": "Name of the output tensor. Required and is only applicable to Vertex AI provided images for Tensorflow.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1PrivateEndpoints": {
      "id": "GoogleCloudAiplatformV1PrivateEndpoints",
      "description": "PrivateEndpoints proto is used to provide paths for users to send requests privately. To send request via private service access, use predict_http_uri, explain_http_uri or health_http_uri. To send request via private service connect, use service_attachment.",
      "type": "object",
      "properties": {
        "predictHttpUri": {
          "description": "Output only. Http(s) path to send prediction requests.",
          "readOnly": true,
          "type": "string"
        },
        "explainHttpUri": {
          "description": "Output only. Http(s) path to send explain requests.",
          "readOnly": true,
          "type": "string"
        },
        "healthHttpUri": {
          "description": "Output only. Http(s) path to send health check requests.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAttachment": {
          "description": "Output only. The name of the service attachment resource. Populated if private service connect is enabled.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1PredictRequestResponseLoggingConfig": {
      "id": "GoogleCloudAiplatformV1PredictRequestResponseLoggingConfig",
      "description": "Configuration for logging request-response to a BigQuery table.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "If logging is enabled or not.",
          "type": "boolean"
        },
        "samplingRate": {
          "description": "Percentage of requests to be logged, expressed as a fraction in range(0,1].",
          "type": "number",
          "format": "double"
        },
        "bigqueryDestination": {
          "description": "BigQuery table for logging. If only given project, a new dataset will be created with name `logging__` where will be made BigQuery-dataset-name compatible (e.g. most special characters will become underscores). If no table name is given, a new table will be created with name `request_response_logging`",
          "$ref": "GoogleCloudAiplatformV1BigQueryDestination"
        }
      }
    },
    "GoogleCloudAiplatformV1BigQueryDestination": {
      "id": "GoogleCloudAiplatformV1BigQueryDestination",
      "description": "The BigQuery location for the output content.",
      "type": "object",
      "properties": {
        "outputUri": {
          "description": "Required. BigQuery URI to a project or table, up to 2000 characters long. When only the project is specified, the Dataset and Table is created. When the full table reference is specified, the Dataset must exist and table must not exist. Accepted forms: * BigQuery path. For example: `bq:\/\/projectId` or `bq:\/\/projectId.bqDatasetId` or `bq:\/\/projectId.bqDatasetId.bqTableId`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ListEndpointsResponse": {
      "id": "GoogleCloudAiplatformV1ListEndpointsResponse",
      "description": "Response message for EndpointService.ListEndpoints.",
      "type": "object",
      "properties": {
        "endpoints": {
          "description": "List of Endpoints in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Endpoint"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListEndpointsRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1DeployModelRequest": {
      "id": "GoogleCloudAiplatformV1DeployModelRequest",
      "description": "Request message for EndpointService.DeployModel.",
      "type": "object",
      "properties": {
        "deployedModel": {
          "description": "Required. The DeployedModel to be created within the Endpoint. Note that Endpoint.traffic_split must be updated for the DeployedModel to start receiving traffic, either as part of this call, or via EndpointService.UpdateEndpoint.",
          "$ref": "GoogleCloudAiplatformV1DeployedModel"
        },
        "trafficSplit": {
          "description": "A map from a DeployedModel's ID to the percentage of this Endpoint's traffic that should be forwarded to that DeployedModel. If this field is non-empty, then the Endpoint's traffic_split will be overwritten with it. To refer to the ID of the just being deployed Model, a \"0\" should be used, and the actual ID of the new DeployedModel will be filled in its place by this method. The traffic percentage values must add up to 100. If this field is empty, then the Endpoint's traffic_split is not updated.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1UndeployModelRequest": {
      "id": "GoogleCloudAiplatformV1UndeployModelRequest",
      "description": "Request message for EndpointService.UndeployModel.",
      "type": "object",
      "properties": {
        "deployedModelId": {
          "description": "Required. The ID of the DeployedModel to be undeployed from the Endpoint.",
          "type": "string"
        },
        "trafficSplit": {
          "description": "If this field is provided, then the Endpoint's traffic_split will be overwritten with it. If last DeployedModel is being undeployed from the Endpoint, the [Endpoint.traffic_split] will always end up empty when this call returns. A DeployedModel will be successfully undeployed only if it doesn't have any traffic assigned to it when this method executes, or if this field unassigns any traffic to it.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ReadFeatureValuesRequest": {
      "id": "GoogleCloudAiplatformV1ReadFeatureValuesRequest",
      "description": "Request message for FeaturestoreOnlineServingService.ReadFeatureValues.",
      "type": "object",
      "properties": {
        "entityId": {
          "description": "Required. ID for a specific entity. For example, for a machine learning model predicting user clicks on a website, an entity ID could be `user_123`.",
          "type": "string"
        },
        "featureSelector": {
          "description": "Required. Selector choosing Features of the target EntityType.",
          "$ref": "GoogleCloudAiplatformV1FeatureSelector"
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureSelector": {
      "id": "GoogleCloudAiplatformV1FeatureSelector",
      "description": "Selector for Features of an EntityType.",
      "type": "object",
      "properties": {
        "idMatcher": {
          "description": "Required. Matches Features based on ID.",
          "$ref": "GoogleCloudAiplatformV1IdMatcher"
        }
      }
    },
    "GoogleCloudAiplatformV1IdMatcher": {
      "id": "GoogleCloudAiplatformV1IdMatcher",
      "description": "Matcher for Features of an EntityType by Feature ID.",
      "type": "object",
      "properties": {
        "ids": {
          "description": "Required. The following are accepted as `ids`: * A single-element list containing only `*`, which selects all Features in the target EntityType, or * A list containing only Feature IDs, which selects only Features with those IDs in the target EntityType.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ReadFeatureValuesResponse": {
      "id": "GoogleCloudAiplatformV1ReadFeatureValuesResponse",
      "description": "Response message for FeaturestoreOnlineServingService.ReadFeatureValues.",
      "type": "object",
      "properties": {
        "header": {
          "description": "Response header.",
          "$ref": "GoogleCloudAiplatformV1ReadFeatureValuesResponseHeader"
        },
        "entityView": {
          "description": "Entity view with Feature values. This may be the entity in the Featurestore if values for all Features were requested, or a projection of the entity in the Featurestore if values for only some Features were requested.",
          "$ref": "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityView"
        }
      }
    },
    "GoogleCloudAiplatformV1ReadFeatureValuesResponseHeader": {
      "id": "GoogleCloudAiplatformV1ReadFeatureValuesResponseHeader",
      "description": "Response header with metadata for the requested ReadFeatureValuesRequest.entity_type and Features.",
      "type": "object",
      "properties": {
        "entityType": {
          "description": "The resource name of the EntityType from the ReadFeatureValuesRequest. Value format: `projects\/{project}\/locations\/{location}\/featurestores\/{featurestore}\/entityTypes\/{entityType}`.",
          "type": "string"
        },
        "featureDescriptors": {
          "description": "List of Feature metadata corresponding to each piece of ReadFeatureValuesResponse.data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ReadFeatureValuesResponseFeatureDescriptor"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ReadFeatureValuesResponseFeatureDescriptor": {
      "id": "GoogleCloudAiplatformV1ReadFeatureValuesResponseFeatureDescriptor",
      "description": "Metadata for requested Features.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Feature ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityView": {
      "id": "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityView",
      "description": "Entity view with Feature values.",
      "type": "object",
      "properties": {
        "entityId": {
          "description": "ID of the requested entity.",
          "type": "string"
        },
        "data": {
          "description": "Each piece of data holds the k requested values for one requested Feature. If no values for the requested Feature exist, the corresponding cell will be empty. This has the same size and is in the same order as the features from the header ReadFeatureValuesResponse.header.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityViewData"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityViewData": {
      "id": "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityViewData",
      "description": "Container to hold value(s), successive in time, for one Feature from the request.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Feature value if a single value is requested.",
          "$ref": "GoogleCloudAiplatformV1FeatureValue"
        },
        "values": {
          "description": "Feature values list if values, successive in time, are requested. If the requested number of values is greater than the number of existing Feature values, nonexistent values are omitted instead of being returned as empty.",
          "$ref": "GoogleCloudAiplatformV1FeatureValueList"
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureValue": {
      "id": "GoogleCloudAiplatformV1FeatureValue",
      "description": "Value for a feature. NEXT ID: 15",
      "type": "object",
      "properties": {
        "boolValue": {
          "description": "Bool type feature value.",
          "type": "boolean"
        },
        "doubleValue": {
          "description": "Double type feature value.",
          "type": "number",
          "format": "double"
        },
        "int64Value": {
          "description": "Int64 feature value.",
          "type": "string",
          "format": "int64"
        },
        "stringValue": {
          "description": "String feature value.",
          "type": "string"
        },
        "boolArrayValue": {
          "description": "A list of bool type feature value.",
          "$ref": "GoogleCloudAiplatformV1BoolArray"
        },
        "doubleArrayValue": {
          "description": "A list of double type feature value.",
          "$ref": "GoogleCloudAiplatformV1DoubleArray"
        },
        "int64ArrayValue": {
          "description": "A list of int64 type feature value.",
          "$ref": "GoogleCloudAiplatformV1Int64Array"
        },
        "stringArrayValue": {
          "description": "A list of string type feature value.",
          "$ref": "GoogleCloudAiplatformV1StringArray"
        },
        "bytesValue": {
          "description": "Bytes feature value.",
          "type": "string",
          "format": "byte"
        },
        "metadata": {
          "description": "Metadata of feature value.",
          "$ref": "GoogleCloudAiplatformV1FeatureValueMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1BoolArray": {
      "id": "GoogleCloudAiplatformV1BoolArray",
      "description": "A list of boolean values.",
      "type": "object",
      "properties": {
        "values": {
          "description": "A list of bool values.",
          "type": "array",
          "items": {
            "type": "boolean"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1DoubleArray": {
      "id": "GoogleCloudAiplatformV1DoubleArray",
      "description": "A list of double values.",
      "type": "object",
      "properties": {
        "values": {
          "description": "A list of bool values.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1Int64Array": {
      "id": "GoogleCloudAiplatformV1Int64Array",
      "description": "A list of int64 values.",
      "type": "object",
      "properties": {
        "values": {
          "description": "A list of int64 values.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1StringArray": {
      "id": "GoogleCloudAiplatformV1StringArray",
      "description": "A list of string values.",
      "type": "object",
      "properties": {
        "values": {
          "description": "A list of string values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureValueMetadata": {
      "id": "GoogleCloudAiplatformV1FeatureValueMetadata",
      "description": "Metadata of feature value.",
      "type": "object",
      "properties": {
        "generateTime": {
          "description": "Feature generation timestamp. Typically, it is provided by user at feature ingestion time. If not, feature store will use the system timestamp when the data is ingested into feature store. For streaming ingestion, the time, aligned by days, must be no older than five years (1825 days) and no later than one year (366 days) in the future.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureValueList": {
      "id": "GoogleCloudAiplatformV1FeatureValueList",
      "description": "Container for list of values.",
      "type": "object",
      "properties": {
        "values": {
          "description": "A list of feature values. All of them should be the same data type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureValue"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1StreamingReadFeatureValuesRequest": {
      "id": "GoogleCloudAiplatformV1StreamingReadFeatureValuesRequest",
      "description": "Request message for FeaturestoreOnlineServingService.StreamingFeatureValuesRead.",
      "type": "object",
      "properties": {
        "entityIds": {
          "description": "Required. IDs of entities to read Feature values of. The maximum number of IDs is 100. For example, for a machine learning model predicting user clicks on a website, an entity ID could be `user_123`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "featureSelector": {
          "description": "Required. Selector choosing Features of the target EntityType. Feature IDs will be deduplicated.",
          "$ref": "GoogleCloudAiplatformV1FeatureSelector"
        }
      }
    },
    "GoogleCloudAiplatformV1Featurestore": {
      "id": "GoogleCloudAiplatformV1Featurestore",
      "description": "Vertex AI Feature Store provides a centralized repository for organizing, storing, and serving ML features. The Featurestore is a top-level container for your features and their values.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Name of the Featurestore. Format: `projects\/{project}\/locations\/{location}\/featurestores\/{featurestore}`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this Featurestore was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Featurestore was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize your Featurestore. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information on and examples of labels. No more than 64 user labels can be associated with one Featurestore(System labels are excluded).\" System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "onlineServingConfig": {
          "description": "Optional. Config for online storage resources. If unset, the featurestore will not have an online store and cannot be used for online serving.",
          "$ref": "GoogleCloudAiplatformV1FeaturestoreOnlineServingConfig"
        },
        "state": {
          "description": "Output only. State of the featurestore.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State when the featurestore configuration is not being updated and the fields reflect the current configuration of the featurestore. The featurestore is usable in this state.",
            "The state of the featurestore configuration when it is being updated. During an update, the fields reflect either the original configuration or the updated configuration of the featurestore. For example, `online_serving_config.fixed_node_count` can take minutes to update. While the update is in progress, the featurestore is in the UPDATING state, and the value of `fixed_node_count` can be the original value or the updated value, depending on the progress of the operation. Until the update completes, the actual number of nodes can still be the original value of `fixed_node_count`. The featurestore is still usable in this state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STABLE",
            "UPDATING"
          ]
        },
        "encryptionSpec": {
          "description": "Optional. Customer-managed encryption key spec for data storage. If set, both of the online and offline data storage will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        }
      }
    },
    "GoogleCloudAiplatformV1FeaturestoreOnlineServingConfig": {
      "id": "GoogleCloudAiplatformV1FeaturestoreOnlineServingConfig",
      "description": "OnlineServingConfig specifies the details for provisioning online serving resources.",
      "type": "object",
      "properties": {
        "fixedNodeCount": {
          "description": "The number of nodes for the online store. The number of nodes doesn't scale automatically, but you can manually update the number of nodes. If set to 0, the featurestore will not have an online store and cannot be used for online serving.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1ListFeaturestoresResponse": {
      "id": "GoogleCloudAiplatformV1ListFeaturestoresResponse",
      "description": "Response message for FeaturestoreService.ListFeaturestores.",
      "type": "object",
      "properties": {
        "featurestores": {
          "description": "The Featurestores matching the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Featurestore"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as ListFeaturestoresRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1EntityType": {
      "id": "GoogleCloudAiplatformV1EntityType",
      "description": "An entity type is a type of object in a system that needs to be modeled and have stored information about. For example, driver is an entity type, and driver0 is an instance of an entity type driver.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. Name of the EntityType. Format: `projects\/{project}\/locations\/{location}\/featurestores\/{featurestore}\/entityTypes\/{entity_type}` The last part entity_type is assigned by the client. The entity_type can be up to 64 characters long and can consist only of ASCII Latin letters A-Z and a-z and underscore(_), and ASCII digits 0-9 starting with a letter. The value will be unique given a featurestore.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the EntityType.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this EntityType was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this EntityType was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize your EntityTypes. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information on and examples of labels. No more than 64 user labels can be associated with one EntityType (System labels are excluded).\" System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Optional. Used to perform a consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "monitoringConfig": {
          "description": "Optional. The default monitoring configuration for all Features with value type (Feature.ValueType) BOOL, STRING, DOUBLE or INT64 under this EntityType. If this is populated with [FeaturestoreMonitoringConfig.monitoring_interval] specified, snapshot analysis monitoring is enabled. Otherwise, snapshot analysis monitoring is disabled.",
          "$ref": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1FeaturestoreMonitoringConfig": {
      "id": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfig",
      "description": "Configuration of how features in Featurestore are monitored.",
      "type": "object",
      "properties": {
        "snapshotAnalysis": {
          "description": "The config for Snapshot Analysis Based Feature Monitoring.",
          "$ref": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigSnapshotAnalysis"
        },
        "importFeaturesAnalysis": {
          "description": "The config for ImportFeatures Analysis Based Feature Monitoring.",
          "$ref": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigImportFeaturesAnalysis"
        },
        "numericalThresholdConfig": {
          "description": "Threshold for numerical features of anomaly detection. This is shared by all objectives of Featurestore Monitoring for numerical features (i.e. Features with type (Feature.ValueType) DOUBLE or INT64).",
          "$ref": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigThresholdConfig"
        },
        "categoricalThresholdConfig": {
          "description": "Threshold for categorical features of anomaly detection. This is shared by all types of Featurestore Monitoring for categorical features (i.e. Features with type (Feature.ValueType) BOOL or STRING).",
          "$ref": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigThresholdConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigSnapshotAnalysis": {
      "id": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigSnapshotAnalysis",
      "description": "Configuration of the Featurestore's Snapshot Analysis Based Monitoring. This type of analysis generates statistics for each Feature based on a snapshot of the latest feature value of each entities every monitoring_interval.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "The monitoring schedule for snapshot analysis. For EntityType-level config: unset \/ disabled = true indicates disabled by default for Features under it; otherwise by default enable snapshot analysis monitoring with monitoring_interval for Features under it. Feature-level config: disabled = true indicates disabled regardless of the EntityType-level config; unset monitoring_interval indicates going with EntityType-level config; otherwise run snapshot analysis monitoring with monitoring_interval regardless of the EntityType-level config. Explicitly Disable the snapshot analysis based monitoring.",
          "type": "boolean"
        },
        "monitoringIntervalDays": {
          "description": "Configuration of the snapshot analysis based monitoring pipeline running interval. The value indicates number of days. If both FeaturestoreMonitoringConfig.SnapshotAnalysis.monitoring_interval_days and FeaturestoreMonitoringConfig.SnapshotAnalysis.monitoring_interval are set when creating\/updating EntityTypes\/Features, FeaturestoreMonitoringConfig.SnapshotAnalysis.monitoring_interval_days will be used.",
          "type": "integer",
          "format": "int32"
        },
        "stalenessDays": {
          "description": "Customized export features time window for snapshot analysis. Unit is one day. Default value is 3 weeks. Minimum value is 1 day. Maximum value is 4000 days.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigImportFeaturesAnalysis": {
      "id": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigImportFeaturesAnalysis",
      "description": "Configuration of the Featurestore's ImportFeature Analysis Based Monitoring. This type of analysis generates statistics for values of each Feature imported by every ImportFeatureValues operation.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Whether to enable \/ disable \/ inherite default hebavior for import features analysis.",
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "The default behavior of whether to enable the monitoring. EntityType-level config: disabled. Feature-level config: inherited from the configuration of EntityType this Feature belongs to.",
            "Explicitly enables import features analysis. EntityType-level config: by default enables import features analysis for all Features under it. Feature-level config: enables import features analysis regardless of the EntityType-level config.",
            "Explicitly disables import features analysis. EntityType-level config: by default disables import features analysis for all Features under it. Feature-level config: disables import features analysis regardless of the EntityType-level config."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DEFAULT",
            "ENABLED",
            "DISABLED"
          ]
        },
        "anomalyDetectionBaseline": {
[...]
