{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "aiplatform:v1alpha1",
  "name": "aiplatform",
  "canonicalName": "Aiplatform",
  "version": "v1alpha1",
  "revision": "0",
  "title": "Cloud AI Platform API",
  "description": "Train high-quality custom machine learning models with minimum effort and machine learning expertise.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/ai-platform",
  "protocol": "rest",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleLongrunningWaitOperationRequest": {
      "id": "GoogleLongrunningWaitOperationRequest",
      "description": "The request message for Operations.WaitOperation.",
      "type": "object",
      "properties": {
        "timeout": {
          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP\/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1Dataset": {
      "id": "GoogleCloudAiplatformV1alpha1Dataset",
      "description": "A collection of DataItems and Annotations on them.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the Dataset.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of the Dataset. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "metadataSchemaUri": {
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing additional information about the Dataset. The schema is defined as an OpenAPI 3.0.2 Schema Object. The schema files that can be used here are found in gs:\/\/google-cloud-aiplatform\/schema\/dataset\/metadata\/.",
          "type": "string"
        },
        "metadata": {
          "description": "Required. Additional information about the Dataset.",
          "type": "any"
        },
        "createTime": {
          "description": "Output only. Timestamp when this Dataset was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Dataset was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your Datasets. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Dataset (System labels are excluded). See https:\/\/goo.gl\/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable. Following system labels exist for each Dataset: * \"aiplatform.googleapis.com\/dataset_metadata_schema\": output only, its value is the metadata_schema's title.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListDatasetsResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListDatasetsResponse",
      "description": "Response message for DatasetService.ListDatasets.",
      "type": "object",
      "properties": {
        "datasets": {
          "description": "A list of Datasets that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1Dataset"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ImportDataRequest": {
      "id": "GoogleCloudAiplatformV1alpha1ImportDataRequest",
      "description": "Request message for DatasetService.ImportData.",
      "type": "object",
      "properties": {
        "importConfigs": {
          "description": "Required. The desired input locations. The contents of all input locations will be imported in one batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1ImportDataConfig"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ImportDataConfig": {
      "id": "GoogleCloudAiplatformV1alpha1ImportDataConfig",
      "description": "Describes the location from where we import data into a Dataset, together with the labels that will be applied to the DataItems and the Annotations.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "The Google Cloud Storage location for the input content.",
          "$ref": "GoogleCloudAiplatformV1alpha1GcsSource"
        },
        "dataItemLabels": {
          "description": "Labels that will be applied to newly imported DataItems. If an identical DataItem as one being imported already exists in the Dataset, then these labels will be appended to these of the already existing one, and if labels with identical key is imported before, the old label value will be overwritten. If two DataItems are identical in the same import data operation, the labels will be combined and if key collision happens in this case, one of the values will be picked randomly. Two DataItems are considered identical if their content bytes are identical (e.g. image bytes or pdf bytes). These labels will be overridden by Annotation labels specified inside index file refenced by import_schema_uri, e.g. jsonl file.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "importSchemaUri": {
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing the import format. Validation will be done against the schema. The schema is defined as an [OpenAPI 3.0.2 Schema Object](https:\/\/tinyurl.com\/y538mdwt).",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1GcsSource": {
      "id": "GoogleCloudAiplatformV1alpha1GcsSource",
      "description": "The Google Cloud Storage location for the input content.",
      "type": "object",
      "properties": {
        "uris": {
          "description": "Required. Google Cloud Storage URI(-s) to the input file(s). May contain wildcards. For more information on wildcards, see https:\/\/cloud.google.com\/storage\/docs\/gsutil\/addlhelp\/WildcardNames.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExportDataRequest": {
      "id": "GoogleCloudAiplatformV1alpha1ExportDataRequest",
      "description": "Request message for DatasetService.ExportData.",
      "type": "object",
      "properties": {
        "exportConfig": {
          "description": "Required. The desired output location.",
          "$ref": "GoogleCloudAiplatformV1alpha1ExportDataConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExportDataConfig": {
      "id": "GoogleCloudAiplatformV1alpha1ExportDataConfig",
      "description": "Describes what part of the Dataset is to be exported, the destination of the export and how to export.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The Google Cloud Storage location where the output is to be written to. In the given directory a new directory will be created with name: export-data-- where timestamp is in YYYYMMDDHHMMSS format. All export output will be written into that directory. Inside that directory, annotations with the same schema will be grouped into sub directories which are named with the corresponding annotations' schema title. Inside these sub directories, a schema.yaml will be created to describe the output format.",
          "$ref": "GoogleCloudAiplatformV1alpha1GcsDestination"
        },
        "annotationsFilter": {
          "description": "A filter on Annotations of the Dataset. Only Annotations on to-be-exported DataItems(specified by data_items_filter) that match this filter will be exported. The filter syntax is the same as in ListAnnotations.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1GcsDestination": {
      "id": "GoogleCloudAiplatformV1alpha1GcsDestination",
      "description": "The Google Cloud Storage location where the output is to be written to.",
      "type": "object",
      "properties": {
        "outputUriPrefix": {
          "description": "Required. Google Cloud Storage URI to output directory. If the uri doesn't end with '\/', a '\/' will be automatically appended. The directory is created if it doesn't exist.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListDataItemsResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListDataItemsResponse",
      "description": "Response message for DatasetService.ListDataItems.",
      "type": "object",
      "properties": {
        "dataItems": {
          "description": "A list of DataItems that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1DataItem"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1DataItem": {
      "id": "GoogleCloudAiplatformV1alpha1DataItem",
      "description": "A piece of data in a Dataset. Could be an image, a video, a document or plain text.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the DataItem.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this DataItem was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this DataItem was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize your DataItems. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one DataItem(System labels are excluded). See https:\/\/goo.gl\/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "payload": {
          "description": "Required. The data that the DataItem represents (for example, an image or a text snippet). The schema of the payload is stored in the parent Dataset's metadata schema's dataItemSchemaUri field.",
          "type": "any"
        },
        "etag": {
          "description": "Optional. Used to perform a consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1AnnotationSpec": {
      "id": "GoogleCloudAiplatformV1alpha1AnnotationSpec",
      "description": "Identifies a concept with which DataItems may be annotated with.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the AnnotationSpec.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of the AnnotationSpec. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this AnnotationSpec was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when AnnotationSpec was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. Used to perform a consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListAnnotationsResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListAnnotationsResponse",
      "description": "Response message for DatasetService.ListAnnotations.",
      "type": "object",
      "properties": {
        "annotations": {
          "description": "A list of Annotations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1Annotation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1Annotation": {
      "id": "GoogleCloudAiplatformV1alpha1Annotation",
      "description": "Used to assign specific AnnotationSpec to a particular area of a DataItem or the whole part of the DataItem.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the Annotation.",
          "readOnly": true,
          "type": "string"
        },
        "payloadSchemaUri": {
          "description": "Required. Google Cloud Storage URI points to a YAML file describing payload. The schema is defined as an [OpenAPI 3.0.2 Schema Object](https:\/\/tinyurl.com\/y538mdwt). The schema files that can be used here are found in gs:\/\/google-cloud-aiplatform\/schema\/dataset\/annotation\/, note that the chosen schema must be consistent with the parent Dataset's metadata.",
          "type": "string"
        },
        "payload": {
          "description": "Required. The schema of the payload can be found in payload_schema.",
          "type": "any"
        },
        "createTime": {
          "description": "Output only. Timestamp when this Annotation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Annotation was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. Used to perform a consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "annotationSource": {
          "description": "Output only. The source of the Annotation.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1alpha1UserActionReference"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize your Annotations. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Annotation(System labels are excluded). See https:\/\/goo.gl\/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable. Following system labels exist for each Annotation: * \"aiplatform.googleapis.com\/annotation_set_name\": optional, name of the UI's annotation set this Annotation belongs to. If not set the Annotation is not visible in the UI. * \"aiplatform.googleapis.com\/payload_schema\": output only, its value is the payload_schema's title.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1UserActionReference": {
      "id": "GoogleCloudAiplatformV1alpha1UserActionReference",
      "description": "References an API call. It contains more information about long running operation and Jobs that are triggered by the API call.",
      "type": "object",
      "properties": {
        "operation": {
          "description": "For API calls that return a long running operation. Resource name of the long running operation. Format: 'projects\/{project}\/locations\/{location}\/operations\/{operation}'",
          "type": "string"
        },
        "dataLabelingJob": {
          "description": "For API calls that start a LabelingJob. Resource name of the LabelingJob. Format: 'projects\/{project}\/locations\/{location}\/dataLabelingJobs\/{data_labeling_job}'",
          "type": "string"
        },
        "method": {
          "description": "The method name of the API call. For example, \"\/google.cloud.aiplatform.v1alpha1.DatasetService.CreateDataset\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1Endpoint": {
      "id": "GoogleCloudAiplatformV1alpha1Endpoint",
      "description": "Models are deployed into it, and afterwards Endpoint is called to obtain predictions and explanations.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the Endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the Endpoint. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "description": {
          "description": "The description of the Endpoint.",
          "type": "string"
        },
        "deployedModels": {
          "description": "Output only. The models deployed in this Endpoint. To add or remove DeployedModels use EndpointService.DeployModel and EndpointService.UndeployModel respectively.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1DeployedModel"
          }
        },
        "trafficSplit": {
          "description": "A map from a DeployedModel's ID to the percentage of this Endpoint's traffic that should be forwarded to that DeployedModel. If a DeployedModel's ID is not listed in this map, then it receives no traffic. The traffic percentage values must add up to 100, or map must be empty if the Endpoint is to not accept any traffic at a moment.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your Endpoints. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Timestamp when this Endpoint was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Endpoint was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1DeployedModel": {
      "id": "GoogleCloudAiplatformV1alpha1DeployedModel",
      "description": "A deployment of a Model. Endpoints contain one or more DeployedModels.",
      "type": "object",
      "properties": {
        "dedicatedResources": {
          "description": "A description of resources that are dedicated to the DeployedModel, and that need a higher degree of manual configuration.",
          "$ref": "GoogleCloudAiplatformV1alpha1DedicatedResources"
        },
        "automaticResources": {
          "description": "A description of resources that to large degree are decided by AI Platform, and require only a modest additional configuration.",
          "$ref": "GoogleCloudAiplatformV1alpha1AutomaticResources"
        },
        "id": {
          "description": "Output only. The ID of the DeployedModel.",
          "readOnly": true,
          "type": "string"
        },
        "model": {
          "description": "Required. The name of the Model this is the deployment of. Note that the Model may be in a different location than the DeployedModel's Endpoint.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the DeployedModel. If not provided upon creation, the Model's display_name is used.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the DeployedModel was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "explanationSpec": {
          "description": "Explanation configuration for this DeployedModel. When deploying a Model using EndpointService.DeployModel, this value overrides the value of Model.explanation_spec. All fields of explanation_spec are optional in the request. If a field of explanation_spec is not populated, the value of the same field of Model.explanation_spec is inherited. The corresponding Model.explanation_spec must be populated, otherwise explanation for this Model is not allowed. Currently, only AutoML tabular Models support explanation_spec.",
          "$ref": "GoogleCloudAiplatformV1alpha1ExplanationSpec"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1DedicatedResources": {
      "id": "GoogleCloudAiplatformV1alpha1DedicatedResources",
      "description": "A description of resources that are dedicated to a DeployedModel, and that need a higher degree of manual configuration.",
      "type": "object",
      "properties": {
        "machineSpec": {
          "description": "Required. Immutable. The specification of a single machine used by the prediction.",
          "$ref": "GoogleCloudAiplatformV1alpha1MachineSpec"
        },
        "minReplicaCount": {
          "description": "Required. Immutable. The minimum number of machine replicas this DeployedModel will be always deployed on. If traffic against it increases, it may dynamically be deployed onto more replicas, and as traffic decreases, some of these extra replicas may be freed. Note: if machine_spec.accelerator_count is above 0, currently the model will be always deployed precisely on min_replica_count.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1MachineSpec": {
      "id": "GoogleCloudAiplatformV1alpha1MachineSpec",
      "description": "Specification of a single machine.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Immutable. The type of the machine. Following machine types are supported: * `n1-standard-2` * `n1-standard-4` * `n1-standard-8` * `n1-standard-16` * `n1-standard-32` * `n1-highmem-2` * `n1-highmem-4` * `n1-highmem-8` * `n1-highmem-16` * `n1-highmem-32` * `n1-highcpu-2` * `n1-highcpu-4` * `n1-highcpu-8` * `n1-highcpu-16` * `n1-highcpu-32` When used for DeployedMode this field is optional and the default value is `n1-standard-2`. If used for BatchPredictionJob or as part of WorkerPoolSpec this field is required.",
          "type": "string"
        },
        "acceleratorType": {
          "description": "Immutable. The type of accelerator(s) that may be attached to the machine as per accelerator_count.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified accelerator type, which means no accelerator.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "TPU v2.",
            "TPU v3."
          ],
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "TPU_V2",
            "TPU_V3"
          ]
        },
        "acceleratorCount": {
          "description": "The number of accelerators to attach to the machine.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1AutomaticResources": {
      "id": "GoogleCloudAiplatformV1alpha1AutomaticResources",
      "description": "A description of resources that to large degree are decided by AI Platform, and require only a modest additional configuration. Each Model supporting these resources documents its specific guidelines.",
      "type": "object",
      "properties": {
        "minReplicaCount": {
          "description": "Immutable. The minimum number of replicas this DeployedModel will be always deployed on. If traffic against it increases, it may dynamically be deployed onto more replicas up to max_replica_count, and as traffic decreases, some of these extra replicas may be freed. If requested value is too large, the deployment will error.",
          "type": "integer",
          "format": "int32"
        },
        "maxReplicaCount": {
          "description": "Immutable. The maximum number of replicas this DeployedModel may be deployed on when the traffic against it increases. If requested value is too large, the deployment will error, but if deployment succeeds then the ability to scale the model to that many replicas is guaranteed (barring service outages). If traffic against the DeployedModel increases beyond what its replicas at maximum may handle, a portion of the traffic will be dropped. If this value is not provided, a no upper bound for scaling under heavy traffic will be assume, though AI Platform may be unable to scale beyond certain replica number.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExplanationSpec": {
      "id": "GoogleCloudAiplatformV1alpha1ExplanationSpec",
      "description": "Specification of Model explanation. Currently, only AutoML tabular Models support explanation.",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Required. Parameters that configure explaining of the Model's predictions.",
          "$ref": "GoogleCloudAiplatformV1alpha1ExplanationParameters"
        },
        "metadata": {
          "description": "Required. Metadata describing the Model's input and output for explanation.",
          "$ref": "GoogleCloudAiplatformV1alpha1ExplanationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExplanationParameters": {
      "id": "GoogleCloudAiplatformV1alpha1ExplanationParameters",
      "description": "Parameters to configure explaining for Model's predictions.",
      "type": "object",
      "properties": {
        "sampledShapleyAttribution": {
          "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features.",
          "$ref": "GoogleCloudAiplatformV1alpha1SampledShapleyAttribution"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1SampledShapleyAttribution": {
      "id": "GoogleCloudAiplatformV1alpha1SampledShapleyAttribution",
      "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features.",
      "type": "object",
      "properties": {
        "pathCount": {
          "description": "Required. The number of feature permutations to consider when approximating the Shapley values. Valid range of its value is [1, 50], inclusively.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExplanationMetadata": {
      "id": "GoogleCloudAiplatformV1alpha1ExplanationMetadata",
      "description": "Metadata describing the Model's input and output for explanation.",
      "type": "object",
      "properties": {
        "inputs": {
          "description": "Required. Map from feature names to feature input metadata. Keys are the name of the features. Values are the specification of the feature. An empty InputMetadata is valid. It describes a text feature which has the name specified as the key in ExplanationMetadata.inputs. The baseline of the empty feature is chosen by AI Platform. ",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1alpha1ExplanationMetadataInputMetadata"
          }
        },
        "outputs": {
          "description": "Required. Map from output names to output metadata. Keys are the name of the output field in the prediction to be explained. Currently only one key is allowed. ",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1alpha1ExplanationMetadataOutputMetadata"
          }
        },
        "featureAttributionsSchemaUri": {
          "description": "Points to a YAML file stored on Google Cloud Storage describing the format of the feature attributions. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https:\/\/tinyurl.com\/y538mdwt#schema-object). AutoML tabular Models always have this field populated by AI Platform. Note: The URI given on output may be different, including the URI scheme, than the one given on input. The output URI will point to a location where the user only has a read access.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExplanationMetadataInputMetadata": {
      "id": "GoogleCloudAiplatformV1alpha1ExplanationMetadataInputMetadata",
      "description": "Metadata of the input of a feature.",
      "type": "object",
      "properties": {
        "inputBaselines": {
          "description": "Baseline inputs for this feature. If no baseline is specified, AI Platform chooses the baseline for this feature. If multiple baselines are specified, AI Platform returns the average attributions across them in Attributions.baseline_attribution. The element of the baselines must be in the same format as the feature's input in the instance[]. The schema of any single instance may be specified via Endpoint's DeployedModels' Model's PredictSchemata's instance_schema_uri.",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ExplanationMetadataOutputMetadata": {
      "id": "GoogleCloudAiplatformV1alpha1ExplanationMetadataOutputMetadata",
      "description": "Metadata of the prediction output to be explained.",
      "type": "object",
      "properties": {
        "indexDisplayNameMapping": {
          "description": "Static mapping between the index and display name. Use this if the outputs are a deterministic n-dimensional array, e.g. a list of scores of all the classes in a pre-defined order for a multi-classification Model. It's not feasible if the outputs are non-deterministic, e.g. the Model produces top-k classes or sort the outputs by their values. The shape of the value must be an n-dimensional array of strings. The number of dimentions must match that of the outputs to be explained. The Attribution.output_display_name is populated by locating in the mapping with Attribution.output_index. ",
          "type": "any"
        },
        "displayNameMappingKey": {
          "description": "Specify a field name in the prediction to look for the display name. Use this if the prediction contains the display names for the outputs. The display names in the prediction must have the same shape of the outputs, so that it can be located by Attribution.output_index for a specific output.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListEndpointsResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListEndpointsResponse",
      "description": "Response message for EndpointService.ListEndpoints.",
      "type": "object",
      "properties": {
        "endpoints": {
          "description": "List of Endpoints in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1Endpoint"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListEndpointsRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1DeployModelRequest": {
      "id": "GoogleCloudAiplatformV1alpha1DeployModelRequest",
      "description": "Request message for EndpointService.DeployModel.",
      "type": "object",
      "properties": {
        "deployedModel": {
          "description": "Required. The DeployedModel to be created within the Endpoint. Note that Endpoint.traffic_split must be updated for the DeployedModel to start receiving traffic, either as part of this call, or via EndpointService.UpdateEndpoint.",
          "$ref": "GoogleCloudAiplatformV1alpha1DeployedModel"
        },
        "trafficSplit": {
          "description": "A map from a DeployedModel's ID to the percentage of this Endpoint's traffic that should be forwarded to that DeployedModel. If this field is non-empty, then the Endpoint's traffic_split will be overwritten with it. To refer to the ID of the just being deployed Model, a \"0\" should be used, and the actual ID of the new DeployedModel will be filled in its place by this method. The traffic percentage values must add up to 100. If this field is empty, then the Endpoint's traffic_split is not updated.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1UndeployModelRequest": {
      "id": "GoogleCloudAiplatformV1alpha1UndeployModelRequest",
      "description": "Request message for EndpointService.UndeployModel.",
      "type": "object",
      "properties": {
        "deployedModelId": {
          "description": "Required. The ID of the DeployedModel to be undeployed from the Endpoint.",
          "type": "string"
        },
        "trafficSplit": {
          "description": "If this field is provided, then the Endpoint's traffic_split will be overwritten with it. If last DeployedModel is being undeployed from the Endpoint, the [Endpoint.traffic_split] will always end up empty when this call returns. A DeployedModel will be successfully undeployed only if it doesn't have any traffic assigned to it when this method executes, or if this field unassigns any traffic to it.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1CustomJob": {
      "id": "GoogleCloudAiplatformV1alpha1CustomJob",
      "description": "Represents a job that runs custom workloads such as a Docker container or a Python package. A CustomJob can have multiple worker pools and each worker pool can have its own machine and input spec. A CustomJob will be cleaned up once the job enters terminal state (failed or succeeded).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of a CustomJob.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the CustomJob. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "jobSpec": {
          "description": "Required. Job spec.",
          "$ref": "GoogleCloudAiplatformV1alpha1CustomJobSpec"
        },
        "state": {
          "description": "Output only. The detailed state of the job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created or resumed and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed.",
            "The job is being cancelled. From this state the job may only go to either `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
            "The job has been cancelled.",
            "The job has been stopped, and can be resumed."
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "JOB_STATE_QUEUED",
            "JOB_STATE_PENDING",
            "JOB_STATE_RUNNING",
            "JOB_STATE_SUCCEEDED",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_PAUSED"
          ]
        },
        "createTime": {
          "description": "Output only. Time when the CustomJob was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. Time when the CustomJob for the first time entered the `JOB_STATE_RUNNING` state.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. Time when the CustomJob entered any of the following states: `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED`, `JOB_STATE_CANCELLED`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when the CustomJob was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "description": "Output only. Only populated when job's state is `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize CustomJobs. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1CustomJobSpec": {
      "id": "GoogleCloudAiplatformV1alpha1CustomJobSpec",
      "description": "Represents the spec of a CustomJob.",
      "type": "object",
      "properties": {
        "workerPoolSpecs": {
          "description": "Required. The spec of the worker pools including machine type and Docker image.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1WorkerPoolSpec"
          }
        },
        "scheduling": {
          "description": "Scheduling options for a CustomJob.",
          "$ref": "GoogleCloudAiplatformV1alpha1Scheduling"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1WorkerPoolSpec": {
      "id": "GoogleCloudAiplatformV1alpha1WorkerPoolSpec",
      "description": "Represents the spec of a worker pool in a job.",
      "type": "object",
      "properties": {
        "containerSpec": {
          "description": "The custom container task.",
          "$ref": "GoogleCloudAiplatformV1alpha1ContainerSpec"
        },
        "pythonPackageSpec": {
          "description": "The Python packaged task.",
          "$ref": "GoogleCloudAiplatformV1alpha1PythonPackageSpec"
        },
        "machineSpec": {
          "description": "Required. Immutable. The specification of a single machine.",
          "$ref": "GoogleCloudAiplatformV1alpha1MachineSpec"
        },
        "replicaCount": {
          "description": "Required. The number of worker replicas to use for this worker pool.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ContainerSpec": {
      "id": "GoogleCloudAiplatformV1alpha1ContainerSpec",
      "description": "The spec of a Container.",
      "type": "object",
      "properties": {
        "imageUri": {
          "description": "Required. The URI of a container image in the Container Registry that is to be run on each worker replica.",
          "type": "string"
        },
        "command": {
          "description": "The command to be invoked when the container is started. It overrides the entrypoint instruction in Dockerfile when provided.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "description": "The arguments to be passed when starting the container.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1PythonPackageSpec": {
      "id": "GoogleCloudAiplatformV1alpha1PythonPackageSpec",
      "description": "The spec of a Python packaged code.",
      "type": "object",
      "properties": {
        "executorImageUri": {
          "description": "Required. The URI of a container image in the Container Registry that will run the provided python package. AI Platform provides wide range of executor images with pre-installed packages to meet users' various use cases. Only one of the provided images can be set here.",
          "type": "string"
        },
        "packageUris": {
          "description": "Required. The Google Cloud Storage location of the Python package files which are the training program and its dependent packages. The maximum number of package URIs is 100.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pythonModule": {
          "description": "Required. The Python module name to run after installing the packages.",
          "type": "string"
        },
        "args": {
          "description": "Command line arguments to be passed to the Python task.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1Scheduling": {
      "id": "GoogleCloudAiplatformV1alpha1Scheduling",
      "description": "All parameters related to queuing and scheduling of custom jobs.",
      "type": "object",
      "properties": {
        "timeout": {
          "description": "The maximum job running time. The default is 7 days.",
          "type": "string",
          "format": "google-duration"
        },
        "restartJobOnWorkerRestart": {
          "description": "Restarts the entire CustomJob if a worker gets restarted. This feature can be used by distributed training jobs that are not resilient to workers leaving and joining a job.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListCustomJobsResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListCustomJobsResponse",
      "description": "Response message for JobService.ListCustomJobs",
      "type": "object",
      "properties": {
        "customJobs": {
          "description": "List of CustomJobs in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1CustomJob"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListCustomJobsRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1CancelCustomJobRequest": {
      "id": "GoogleCloudAiplatformV1alpha1CancelCustomJobRequest",
      "description": "Request message for JobService.CancelCustomJob.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudAiplatformV1alpha1HyperparameterTuningJob": {
      "id": "GoogleCloudAiplatformV1alpha1HyperparameterTuningJob",
      "description": "Represents a HyperparameterTuningJob. A HyperparameterTuningJob has a Study specification and multiple CustomJobs with identical CustomJob specification.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the HyperparameterTuningJob.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the HyperparameterTuningJob. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "studySpec": {
          "description": "Required. Study configuration of the HyperparameterTuningJob.",
          "$ref": "GoogleCloudAiplatformV1alpha1StudySpec"
        },
        "maxTrialCount": {
          "description": "Required. The desired total number of Trials.",
          "type": "integer",
          "format": "int32"
        },
        "parallelTrialCount": {
          "description": "Required. The desired number of Trials to run in parallel.",
          "type": "integer",
          "format": "int32"
        },
        "maxFailedTrialCount": {
          "description": "The number of failed Trials that need to be seen before failing the HyperparameterTuningJob. If set to 0, AI Platform decides how many Trials must fail before the whole job fails.",
          "type": "integer",
          "format": "int32"
        },
        "trialJobSpec": {
          "description": "Required. The spec of a trial job. The same spec applies to the CustomJobs created in all the trials.",
          "$ref": "GoogleCloudAiplatformV1alpha1CustomJobSpec"
        },
        "trials": {
          "description": "Output only. Trials of the HyperparameterTuningJob.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1Trial"
          }
        },
        "state": {
          "description": "Output only. The detailed state of the job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created or resumed and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed.",
            "The job is being cancelled. From this state the job may only go to either `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
            "The job has been cancelled.",
            "The job has been stopped, and can be resumed."
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "JOB_STATE_QUEUED",
            "JOB_STATE_PENDING",
            "JOB_STATE_RUNNING",
            "JOB_STATE_SUCCEEDED",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_PAUSED"
          ]
        },
        "createTime": {
          "description": "Output only. Time when the HyperparameterTuningJob was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. Time when the HyperparameterTuningJob for the first time entered the `JOB_STATE_RUNNING` state.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. Time when the HyperparameterTuningJob entered any of the following states: `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED`, `JOB_STATE_CANCELLED`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when the HyperparameterTuningJob was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "description": "Output only. Only populated when job's state is JOB_STATE_FAILED or JOB_STATE_CANCELLED.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize HyperparameterTuningJobs. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1StudySpec": {
      "id": "GoogleCloudAiplatformV1alpha1StudySpec",
      "description": "Represents specification of a Study.",
      "type": "object",
      "properties": {
        "metrics": {
          "description": "Required. Metric specs for the Study.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1StudySpecMetricSpec"
          }
        },
        "parameters": {
          "description": "Required. The set of parameters to tune.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpec"
          }
        },
        "algorithm": {
          "description": "The search algorithm specified for the Study.",
          "type": "string",
          "enumDescriptions": [
            "The default algorithm used by AI Platform Optimization service.",
            "Simple grid search within the feasible space. To use grid search, all parameters must be `INTEGER`, `CATEGORICAL`, or `DISCRETE`.",
            "Simple random search within the feasible space."
          ],
          "enum": [
            "ALGORITHM_UNSPECIFIED",
            "GRID_SEARCH",
            "RANDOM_SEARCH"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1StudySpecMetricSpec": {
      "id": "GoogleCloudAiplatformV1alpha1StudySpecMetricSpec",
      "description": "Represents a metric to optimize.",
      "type": "object",
      "properties": {
        "metricId": {
          "description": "Required. The ID of the metric. Must not contain whitespaces and must be unique amongst all MetricSpecs.",
          "type": "string"
        },
        "goal": {
          "description": "Required. The optimization goal of the metric.",
          "type": "string",
          "enumDescriptions": [
            "Goal Type will default to maximize.",
            "Maximize the goal metric.",
            "Minimize the goal metric."
          ],
          "enum": [
            "GOAL_TYPE_UNSPECIFIED",
            "MAXIMIZE",
            "MINIMIZE"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1StudySpecParameterSpec": {
      "id": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpec",
      "description": "Represents a single parameter to optimize.",
      "type": "object",
      "properties": {
        "doubleValueSpec": {
          "description": "The value spec for a 'DOUBLE' parameter.",
          "$ref": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecDoubleValueSpec"
        },
        "integerValueSpec": {
          "description": "The value spec for an 'INTEGER' parameter.",
          "$ref": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecIntegerValueSpec"
        },
        "categoricalValueSpec": {
          "description": "The value spec for a 'CATEGORICAL' parameter.",
          "$ref": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecCategoricalValueSpec"
        },
        "discreteValueSpec": {
          "description": "The value spec for a 'DISCRETE' parameter.",
          "$ref": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecDiscreteValueSpec"
        },
        "parameterId": {
          "description": "Required. The ID of the parameter. Must not contain whitespaces and must be unique amongst all ParameterSpecs.",
          "type": "string"
        },
        "scaleType": {
          "description": "How the parameter should be scaled. Leave unset for `CATEGORICAL` parameters.",
          "type": "string",
          "enumDescriptions": [
            "By default, no scaling is applied.",
            "Scales the feasible space to (0, 1) linearly.",
            "Scales the feasible space logarithmically to (0, 1). The entire feasible space must be strictly positive.",
            "Scales the feasible space \"reverse\" logarithmically to (0, 1). The result is that values close to the top of the feasible space are spread out more than points near the bottom. The entire feasible space must be strictly positive."
          ],
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "UNIT_LINEAR_SCALE",
            "UNIT_LOG_SCALE",
            "UNIT_REVERSE_LOG_SCALE"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecDoubleValueSpec": {
      "id": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecDoubleValueSpec",
      "description": "Value specification for a parameter in `DOUBLE` type.",
      "type": "object",
      "properties": {
        "minValue": {
          "description": "Required. Inclusive minimum value of the parameter.",
          "type": "number",
          "format": "double"
        },
        "maxValue": {
          "description": "Required. Inclusive maximum value of the parameter.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecIntegerValueSpec": {
      "id": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecIntegerValueSpec",
      "description": "Value specification for a parameter in `INTEGER` type.",
      "type": "object",
      "properties": {
        "minValue": {
          "description": "Required. Inclusive minimum value of the parameter.",
          "type": "string",
          "format": "int64"
        },
        "maxValue": {
          "description": "Required. Inclusive maximum value of the parameter.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecCategoricalValueSpec": {
      "id": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecCategoricalValueSpec",
      "description": "Value specification for a parameter in `CATEGORICAL` type.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Required. The list of possible categories.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecDiscreteValueSpec": {
      "id": "GoogleCloudAiplatformV1alpha1StudySpecParameterSpecDiscreteValueSpec",
      "description": "Value specification for a parameter in `DISCRETE` type.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Required. A list of possible values. The list should be in increasing order and at least 1e-10 apart. For instance, this parameter might have possible settings of 1.5, 2.5, and 4.0. This list should not contain more than 1,000 values.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1Trial": {
      "id": "GoogleCloudAiplatformV1alpha1Trial",
      "description": "A message representing a Trial. A Trial contains a unique set of Parameters that has been or will be evaluated, along with the objective metrics got by running the Trial.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Output only. The identifier of the Trial assigned by the service.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The detailed state of the Trial.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The Trial state is unspecified.",
            "Indicates that a specific Trial has been requested, but it has not yet been suggested by the service.",
            "Indicates that the Trial has been suggested.",
            "Indicates that the Trial should stop according to the service.",
            "Indicates that the Trial is completed successfully.",
            "Indicates that the Trial should not be attempted again. The service will set a Trial to INFEASIBLE when it's done but missing the final_measurement."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUESTED",
            "ACTIVE",
            "STOPPING",
            "SUCCEEDED",
            "INFEASIBLE"
          ]
        },
        "parameters": {
          "description": "Output only. The parameters of the Trial.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1TrialParameter"
          }
        },
        "finalMeasurement": {
          "description": "Output only. The final measurement containing the objective value.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1alpha1Measurement"
        },
        "startTime": {
          "description": "Output only. Time when the Trial was started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. Time when the Trial's status changed to `SUCCEEDED` or `INFEASIBLE`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1TrialParameter": {
      "id": "GoogleCloudAiplatformV1alpha1TrialParameter",
      "description": "A message representing a parameter to be tuned.",
      "type": "object",
      "properties": {
        "parameterId": {
          "description": "Output only. The ID of the parameter. The parameter should be defined in StudySpec's Parameters.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "Output only. The value of the parameter. `number_value` will be set if a parameter defined in StudySpec is in type 'INTEGER', 'DOUBLE' or 'DISCRETE'. `string_value` will be set if a parameter defined in StudySpec is in type 'CATEGORICAL'.",
          "readOnly": true,
          "type": "any"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1Measurement": {
      "id": "GoogleCloudAiplatformV1alpha1Measurement",
      "description": "A message representing a Measurement of a Trial. A Measurement contains the Metrics got by executing a Trial using suggested hyperparameter values.",
      "type": "object",
      "properties": {
        "stepCount": {
          "description": "Output only. The number of steps the machine learning model has been trained for. Must be non-negative.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "metrics": {
          "description": "Output only. A list of metrics got by evaluating the objective functions using suggested Parameter values.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1MeasurementMetric"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1MeasurementMetric": {
      "id": "GoogleCloudAiplatformV1alpha1MeasurementMetric",
      "description": "A message representing a metric in the measurement.",
      "type": "object",
      "properties": {
        "metricId": {
          "description": "Output only. The ID of the Metric. The Metric should be defined in StudySpec's Metrics.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "Output only. The value for this metric.",
          "readOnly": true,
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListHyperparameterTuningJobsResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListHyperparameterTuningJobsResponse",
      "description": "Response message for JobService.ListHyperparameterTuningJobs",
      "type": "object",
      "properties": {
        "hyperparameterTuningJobs": {
          "description": "List of HyperparameterTuningJobs in the requested page. HyperparameterTuningJob.trials of the jobs will be not be returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1HyperparameterTuningJob"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListHyperparameterTuningJobsRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1CancelHyperparameterTuningJobRequest": {
      "id": "GoogleCloudAiplatformV1alpha1CancelHyperparameterTuningJobRequest",
      "description": "Request message for JobService.CancelHyperparameterTuningJob.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudAiplatformV1alpha1BatchPredictionJob": {
      "id": "GoogleCloudAiplatformV1alpha1BatchPredictionJob",
      "description": "A job that uses a Model to produce predictions on multiple input instances. If predictions for significant portion of the instances fail, the job may finish without attempting predictions for all remaining instances.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the BatchPredictionJob.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of this BatchPredictionJob.",
          "type": "string"
        },
        "model": {
          "description": "Required. The name of the Model that produces the predictions via this job, must share the same ancestor Location. Starting this job has no impact on any existing deployments of the Model and their resources.",
          "type": "string"
        },
        "inputConfig": {
          "description": "Required. Input configuration of the instances on which predictions are performed. The schema of any single instance may be specified via the Model's PredictSchemata's instance_schema_uri.",
          "$ref": "GoogleCloudAiplatformV1alpha1BatchPredictionJobInputConfig"
        },
        "modelParameters": {
          "description": "The parameters that govern the predictions. The schema of the parameters may be specified via the Model's PredictSchemata's parameters_schema_uri.",
          "type": "any"
        },
        "outputConfig": {
          "description": "Required. The Configuration specifying where output predictions should be written. The schema of any single prediction may be specified as a concatenation of Model's PredictSchemata's instance_schema_uri and prediction_schema_uri.",
          "$ref": "GoogleCloudAiplatformV1alpha1BatchPredictionJobOutputConfig"
        },
        "dedicatedResources": {
          "description": "The config of resources used by the Model during the batch prediction. If the Model supports DEDICATED_RESOURCES this config may be provided (and the job will use these resources), if the Model doesn't support AUTOMATIC_RESOURCES, this config must be provided.",
          "$ref": "GoogleCloudAiplatformV1alpha1BatchDedicatedResources"
        },
        "manualBatchTuningParameters": {
          "description": "Immutable. Parameters configuring the batch behavior. Currently only applicable when dedicated_resources are used (in other cases AI Platform does the tuning itself).",
          "$ref": "GoogleCloudAiplatformV1alpha1ManualBatchTuningParameters"
        },
        "generateExplanation": {
          "description": "Generate explanation along with the batch prediction results. This can only be set to true for AutoML tabular Models, and only when the output destination is BigQuery. When it's true, the batch prediction output will include a column named `feature_attributions`. For AutoML tabular Models, the value of the `feature_attributions` column is a struct that maps from string to number. The keys in the map are the names of the features. The values in the map are the how much the features contribute to the predicted result. Features are defined as follows: * A scalar column defines a feature of the same name as the column. * A struct column defines multiple features, one feature per leaf field. The feature name is the fully qualified path for the leaf field, separated by \".\". For example a column `key1` in the format of {\"value1\": {\"prop1\": number}, \"value2\": number} defines two features: `key1.value1.prop1` and `key1.value2` Attributions of each feature is represented as an extra column in the batch prediction output BigQuery table. ",
          "type": "boolean"
        },
        "outputInfo": {
          "description": "Output only. Information further describing the output of this job.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1alpha1BatchPredictionJobOutputInfo"
        },
        "state": {
          "description": "Output only. The detailed state of the job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created or resumed and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed.",
            "The job is being cancelled. From this state the job may only go to either `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
            "The job has been cancelled.",
            "The job has been stopped, and can be resumed."
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "JOB_STATE_QUEUED",
            "JOB_STATE_PENDING",
            "JOB_STATE_RUNNING",
            "JOB_STATE_SUCCEEDED",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_PAUSED"
          ]
        },
        "error": {
          "description": "Output only. Only populated when the job's state is JOB_STATE_FAILED or JOB_STATE_CANCELLED.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "partialFailures": {
          "description": "Output only. Partial failures encountered. For example, single files that can't be read. This field never exceeds 20 entries. Status details fields contain standard GCP error details.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "resourcesConsumed": {
          "description": "Output only. Information about resources that had been consumed by this job. Provided in real time at best effort basis, as well as a final value once the job completes. Note: This field currently may be not populated for batch predictions that use AutoML Models.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1alpha1ResourcesConsumed"
        },
        "completionStats": {
          "description": "Output only. Statistics on completed and failed prediction instances.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1alpha1CompletionStats"
        },
        "createTime": {
          "description": "Output only. Time when the BatchPredictionJob was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. Time when the BatchPredictionJob for the first time entered the `JOB_STATE_RUNNING` state.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. Time when the BatchPredictionJob entered any of the following states: `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED`, `JOB_STATE_CANCELLED`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when the BatchPredictionJob was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize BatchPredictionJobs. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1BatchPredictionJobInputConfig": {
      "id": "GoogleCloudAiplatformV1alpha1BatchPredictionJobInputConfig",
      "description": "Configures the input to BatchPredictionJob. See Model.supported_input_storage_formats for Model's supported input formats, and how instances should be expressed via any of them.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "The Google Cloud Storage location for the input instances.",
          "$ref": "GoogleCloudAiplatformV1alpha1GcsSource"
        },
        "bigquerySource": {
          "description": "The BigQuery location of the input table. The schema of the table should be in the format described by the given context OpenAPI Schema, if one is provided. The table may contain additional columns that are not described by the schema, and they will be ignored.",
          "$ref": "GoogleCloudAiplatformV1alpha1BigQuerySource"
        },
        "instancesFormat": {
          "description": "Required. The format in which instances are given, must be one of the Model's supported_input_storage_formats.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1BigQuerySource": {
      "id": "GoogleCloudAiplatformV1alpha1BigQuerySource",
      "description": "The BigQuery location for the input content.",
      "type": "object",
      "properties": {
        "inputUri": {
          "description": "Required. BigQuery URI to a table, up to 2000 characters long. Accepted forms: * BigQuery path. For example: `bq:\/\/projectId.bqDatasetId.bqTableId`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1BatchPredictionJobOutputConfig": {
      "id": "GoogleCloudAiplatformV1alpha1BatchPredictionJobOutputConfig",
      "description": "Configures the output of BatchPredictionJob. See Model.supported_output_storage_formats for supported output formats, and how predictions are expressed via any of them.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The Google Cloud Storage location of the directory where the output is to be written to. In the given directory a new directory is created. Its name is \"prediction--\", where timestamp is in YYYY-MM-DDThh:mm:ss.sssZ ISO-8601 format. Inside of it files predictions_0001., predictions_0002., ..., predictions_N. are created where depends on chosen predictions_format, and N may equal 0001 and depends on the total number of successfully predicted instances. If the Model has both instance and prediction schemata defined then each such file contains predictions as per the predictions_format. If prediction for any instance failed (partially or completely), then an additional `errors_0001.`, `errors_0002.`,..., `errors_N.` files are created (N depends on total number of failed predictions). These files contain the failed instances, as per their schema, followed by an additional `error` field which as value has [`google.rpc.Status`](Status) containing only `code` and `message` fields.",
          "$ref": "GoogleCloudAiplatformV1alpha1GcsDestination"
        },
        "bigqueryDestination": {
          "description": "The BigQuery project location where the output is to be written to. In the given project a new dataset is created with name `prediction__` where is made BigQuery-dataset-name compatible (for example, most special characters become underscores), and timestamp is in YYYY_MM_DDThh_mm_ss_sssZ \"based on ISO-8601\" format. In the dataset two tables will be created, `predictions`, and `errors`. If the Model has both instance and prediction schemata defined then the tables have columns as follows: The `predictions` table contains instances for which the prediction succeeded, it has columns as per a concatenation of the Model's instance and prediction schemata. The `errors` table contains rows for which the prediction has failed, it has instance columns, as per the instance schema, followed by a single \"errors\" column, which as values has [`google.rpc.Status`](Status) represented as a STRUCT, and containing only `code` and `message`.",
          "$ref": "GoogleCloudAiplatformV1alpha1BigQueryDestination"
        },
        "predictionsFormat": {
          "description": "Required. The format in which AI Platform gives the predictions, must be one of the Model's supported_output_storage_formats.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1BigQueryDestination": {
      "id": "GoogleCloudAiplatformV1alpha1BigQueryDestination",
      "description": "The BigQuery location for the output content.",
      "type": "object",
      "properties": {
        "outputUri": {
          "description": "Required. BigQuery URI to a project, up to 2000 characters long. Accepted forms: * BigQuery path. For example: `bq:\/\/projectId`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1BatchDedicatedResources": {
      "id": "GoogleCloudAiplatformV1alpha1BatchDedicatedResources",
      "description": "A description of resources that are used for performing batch operations, are dedicated to a Model, and need manual configuration.",
      "type": "object",
      "properties": {
        "machineSpec": {
          "description": "Required. Immutable. The specification of a single machine.",
          "$ref": "GoogleCloudAiplatformV1alpha1MachineSpec"
        },
        "startingReplicaCount": {
          "description": "Immutable. The number of machine replicas used at the start of the batch operation. If not set, AI Platform decides starting number, not greater than max_replica_count",
          "type": "integer",
          "format": "int32"
        },
        "maxReplicaCount": {
          "description": "Immutable. The maximum number of machine replicas the batch operation may be scaled to. The default value is 10.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ManualBatchTuningParameters": {
      "id": "GoogleCloudAiplatformV1alpha1ManualBatchTuningParameters",
      "description": "Manual batch tuning parameters.",
      "type": "object",
      "properties": {
        "batchSize": {
          "description": "Immutable. The number of the records (e.g. instances) of the operation given in each batch to a machine replica. Machine type, and size of a single record should be considered when setting this parameter, higher value speeds up the batch operation's execution, but too high value will result in a whole batch not fitting in a machine's memory, and the whole operation will fail. The default value is 4.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1BatchPredictionJobOutputInfo": {
      "id": "GoogleCloudAiplatformV1alpha1BatchPredictionJobOutputInfo",
      "description": "Further describes this job's output. Supplements output_config.",
      "type": "object",
      "properties": {
        "gcsOutputDirectory": {
          "description": "Output only. The full path of the Google Cloud Storage directory created, into which the prediction output is written.",
          "readOnly": true,
          "type": "string"
        },
        "bigqueryOutputDataset": {
          "description": "Output only. The path of the BigQuery dataset created, in `bq:\/\/projectId.bqDatasetId` format, into which the prediction output is written.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ResourcesConsumed": {
      "id": "GoogleCloudAiplatformV1alpha1ResourcesConsumed",
      "description": "Statistics information about resource consumption.",
      "type": "object",
      "properties": {
        "replicaHours": {
          "description": "Output only. The number of replica hours used. Note that many replicas may run in parallel, and additionally any given work may be queued for some time. Therefore this value is not strictly related to wall time.",
          "readOnly": true,
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1CompletionStats": {
      "id": "GoogleCloudAiplatformV1alpha1CompletionStats",
      "description": "Success and error statistics of processing multiple entities (for example, DataItems or structured data rows) in batch.",
      "type": "object",
      "properties": {
        "successfulCount": {
          "description": "Output only. The number of entities that had been processed successfully.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "failedCount": {
          "description": "Output only. The number of entities for which any error was encountered.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "incompleteCount": {
          "description": "Output only. In cases when enough errors are encountered a job, pipeline, or operation may be failed as a whole. Below is the number of entities for which the processing had not been finished (either in successful or failed state). Set to -1 if the number is unknown (for example, the operation failed before the total entity number could be collected).",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1ListBatchPredictionJobsResponse": {
      "id": "GoogleCloudAiplatformV1alpha1ListBatchPredictionJobsResponse",
      "description": "Response message for JobService.ListBatchPredictionJobs",
      "type": "object",
      "properties": {
        "batchPredictionJobs": {
          "description": "List of BatchPredictionJobs in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1BatchPredictionJob"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListBatchPredictionJobsRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1CancelBatchPredictionJobRequest": {
      "id": "GoogleCloudAiplatformV1alpha1CancelBatchPredictionJobRequest",
      "description": "Request message for JobService.CancelBatchPredictionJob.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudAiplatformV1alpha1SearchMigratableResourcesRequest": {
      "id": "GoogleCloudAiplatformV1alpha1SearchMigratableResourcesRequest",
      "description": "Request message for MigrationService.SearchMigratableResources.",
      "type": "object",
      "properties": {
        "pageSize": {
          "description": "The standard page size. The default and maximum value is 100.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "The standard page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1SearchMigratableResourcesResponse": {
      "id": "GoogleCloudAiplatformV1alpha1SearchMigratableResourcesResponse",
      "description": "Response message for MigrationService.SearchMigratableResources.",
      "type": "object",
      "properties": {
        "migratableResources": {
          "description": "All migratable resources that can be migrated to the location specified in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1MigratableResource"
          }
        },
        "nextPageToken": {
          "description": "The standard next-page token. The migratable_resources may not fill page_size in SearchMigratableResourcesRequest even when there are subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1MigratableResource": {
      "id": "GoogleCloudAiplatformV1alpha1MigratableResource",
      "description": "Represents one resource that exists in automl.googleapis.com, datalabeling.googleapis.com or ml.googleapis.com.",
      "type": "object",
      "properties": {
        "mlEngineModelVersion": {
          "description": "Output only. Represents one Version in ml.googleapis.com.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1alpha1MigratableResourceMlEngineModelVersion"
        },
        "automlModel": {
          "description": "Output only. Represents one Model in automl.googleapis.com.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1alpha1MigratableResourceAutomlModel"
        },
        "automlDataset": {
          "description": "Output only. Represents one Dataset in automl.googleapis.com.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1alpha1MigratableResourceAutomlDataset"
        },
        "dataLabelingDataset": {
          "description": "Output only. Represents one Dataset in datalabeling.googleapis.com.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1alpha1MigratableResourceDataLabelingDataset"
        },
        "lastMigrateTime": {
          "description": "Output only. Timestamp when last migrate attempt on this MigratableResource started. Will not be set if there's no migrate attempt on this MigratableResource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastUpdateTime": {
          "description": "Output only. Timestamp when this MigratableResource was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1MigratableResourceMlEngineModelVersion": {
      "id": "GoogleCloudAiplatformV1alpha1MigratableResourceMlEngineModelVersion",
      "description": "Represents one model Version in ml.googleapis.com.",
      "type": "object",
      "properties": {
        "endpoint": {
          "description": "The ml.googleapis.com endpoint that this model Version currently lives in. Example values: * ml.googleapis.com * us-centrall-ml.googleapis.com * europe-west4-ml.googleapis.com * asia-east1-ml.googleapis.com",
          "type": "string"
        },
        "version": {
          "description": "Full resource name of ml engine model Version. Format: `projects\/{project}\/models\/{model}\/versions\/{version}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1MigratableResourceAutomlModel": {
      "id": "GoogleCloudAiplatformV1alpha1MigratableResourceAutomlModel",
      "description": "Represents one Model in automl.googleapis.com.",
      "type": "object",
      "properties": {
        "model": {
          "description": "Full resource name of automl Model. Format: `projects\/{project}\/locations\/{location}\/models\/{model}`.",
          "type": "string"
        },
        "modelDisplayName": {
          "description": "The Model's display name in automl.googleapis.com.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1MigratableResourceAutomlDataset": {
      "id": "GoogleCloudAiplatformV1alpha1MigratableResourceAutomlDataset",
      "description": "Represents one Dataset in automl.googleapis.com.",
      "type": "object",
      "properties": {
        "dataset": {
          "description": "Full resource name of automl Dataset. Format: `projects\/{project}\/locations\/{location}\/datasets\/{dataset}`.",
          "type": "string"
        },
        "datasetDisplayName": {
          "description": "The Dataset's display name in automl.googleapis.com.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1MigratableResourceDataLabelingDataset": {
      "id": "GoogleCloudAiplatformV1alpha1MigratableResourceDataLabelingDataset",
      "description": "Represents one Dataset in datalabeling.googleapis.com.",
      "type": "object",
      "properties": {
        "dataset": {
          "description": "Full resource name of data labeling Dataset. Format: `projects\/{project}\/datasets\/{dataset}`.",
          "type": "string"
        },
        "datasetDisplayName": {
          "description": "The Dataset's display name in datalabeling.googleapis.com.",
          "type": "string"
        },
        "dataLabelingAnnotatedDatasets": {
          "description": "The migratable AnnotatedDataset in datalabeling.googleapis.com belongs to the data labeling Dataset.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1MigratableResourceDataLabelingDatasetDataLabelingAnnotatedDataset"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1MigratableResourceDataLabelingDatasetDataLabelingAnnotatedDataset": {
      "id": "GoogleCloudAiplatformV1alpha1MigratableResourceDataLabelingDatasetDataLabelingAnnotatedDataset",
      "description": "Represents one AnnotatedDataset in datalabeling.googleapis.com.",
      "type": "object",
      "properties": {
        "annotatedDataset": {
          "description": "Full resource name of data labeling AnnotatedDataset. Format: `projects\/{project}\/datasets\/{dataset}\/annotatedDatasets\/{annotated_dataset}`.",
          "type": "string"
        },
        "annotatedDatasetDisplayName": {
          "description": "The AnnotatedDataset's display name in datalabeling.googleapis.com.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1BatchMigrateResourcesRequest": {
      "id": "GoogleCloudAiplatformV1alpha1BatchMigrateResourcesRequest",
      "description": "Request message for MigrationService.BatchMigrateResources.",
      "type": "object",
      "properties": {
        "migrateResourceRequests": {
          "description": "Required. The request messages specifying the resources to migrate. They must be in the same location as the destination. Up to 50 resources can be migrated in one batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1alpha1MigrateResourceRequest"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1MigrateResourceRequest": {
      "id": "GoogleCloudAiplatformV1alpha1MigrateResourceRequest",
      "description": "Config of migrating one resource from automl.googleapis.com, datalabeling.googleapis.com and ml.googleapis.com to AI Platform.",
      "type": "object",
      "properties": {
        "migrateMlEngineModelVersionConfig": {
          "description": "Config for migrating Version in ml.googleapis.com to AI Platform's Model.",
          "$ref": "GoogleCloudAiplatformV1alpha1MigrateResourceRequestMigrateMlEngineModelVersionConfig"
        },
        "migrateAutomlModelConfig": {
          "description": "Config for migrating Model in automl.googleapis.com to AI Platform's Model.",
          "$ref": "GoogleCloudAiplatformV1alpha1MigrateResourceRequestMigrateAutomlModelConfig"
        },
        "migrateAutomlDatasetConfig": {
          "description": "Config for migrating Dataset in automl.googleapis.com to AI Platform's Dataset.",
          "$ref": "GoogleCloudAiplatformV1alpha1MigrateResourceRequestMigrateAutomlDatasetConfig"
        },
        "migrateDataLabelingDatasetConfig": {
          "description": "Config for migrating Dataset in datalabeling.googleapis.com to AI Platform's Dataset.",
          "$ref": "GoogleCloudAiplatformV1alpha1MigrateResourceRequestMigrateDataLabelingDatasetConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1alpha1MigrateResourceRequestMigrateMlEngineModelVersionConfig": {
      "id": "GoogleCloudAiplatformV1alpha1MigrateResourceRequestMigrateMlEngineModelVersionConfig",
      "description": "Config for migrating version in ml.googleapis.com to AI Platform's Model.",
      "type": "object",
      "properties": {
        "endpoint": {
          "description": "Required. The ml.googleapis.com endpoint that this model version should be migrated from. Example values: * ml.googleapis.com * us-centrall-ml.googleapis.com * europe-west4-ml.googleapis.com * asia-east1-ml.googleapis.com",
          "type": "string"
        },
        "modelVersion": {
          "description": "Required. Full resource name of ml engine model version. Format: `projects\/{project}\/models\/{model}\/versions\/{version}`.",
          "type": "string"
        },
[...]
