{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "apikeys:v2",
  "name": "apikeys",
  "canonicalName": "Api Keys Service",
  "version": "v2",
  "revision": "0",
  "title": "API Keys API",
  "description": "Manages the API keys associated with developer projects.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/api-keys/docs",
  "protocol": "rest",
  "rootUrl": "https://apikeys.googleapis.com/",
  "mtlsRootUrl": "https://apikeys.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://apikeys.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "schemas": {
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "V2Key": {
      "id": "V2Key",
      "description": "The representation of a key managed by the API Keys API.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the key. The `name` has the form: `projects\/\/locations\/global\/keys\/`. For example: `projects\/123456867718\/locations\/global\/keys\/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique id in UUID4 format.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Human-readable display name of this key that you can modify. The maximum length is 63 characters.",
          "type": "string"
        },
        "keyString": {
          "description": "Output only. An encrypted and signed value held by this key. This field can be accessed only through the `GetKeyString` method.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. A timestamp identifying the time this key was originally created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. A timestamp identifying the time this key was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. A timestamp when this key was deleted. If the resource is not deleted, this must be empty.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "description": "Annotations is an unstructured key-value map stored with a policy that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "restrictions": {
          "description": "Key restrictions.",
          "$ref": "V2Restrictions"
        },
        "etag": {
          "description": "Output only. A checksum computed by the server based on the current value of the Key resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. See https:\/\/google.aip.dev\/154.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "V2Restrictions": {
      "id": "V2Restrictions",
      "description": "Describes the restrictions on the key.",
      "type": "object",
      "properties": {
        "browserKeyRestrictions": {
          "description": "The HTTP referrers (websites) that are allowed to use the key.",
          "$ref": "V2BrowserKeyRestrictions"
        },
        "serverKeyRestrictions": {
          "description": "The IP addresses of callers that are allowed to use the key.",
          "$ref": "V2ServerKeyRestrictions"
        },
        "androidKeyRestrictions": {
          "description": "The Android apps that are allowed to use the key.",
          "$ref": "V2AndroidKeyRestrictions"
        },
        "iosKeyRestrictions": {
          "description": "The iOS apps that are allowed to use the key.",
          "$ref": "V2IosKeyRestrictions"
        },
        "apiTargets": {
          "description": "A restriction for a specific service and optionally one or more specific methods. Requests are allowed if they match any of these restrictions. If no restrictions are specified, all targets are allowed.",
          "type": "array",
          "items": {
            "$ref": "V2ApiTarget"
          }
        }
      }
    },
    "V2BrowserKeyRestrictions": {
      "id": "V2BrowserKeyRestrictions",
      "description": "The HTTP referrers (websites) that are allowed to use the key.",
      "type": "object",
      "properties": {
        "allowedReferrers": {
          "description": "A list of regular expressions for the referrer URLs that are allowed to make API calls with this key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "V2ServerKeyRestrictions": {
      "id": "V2ServerKeyRestrictions",
      "description": "The IP addresses of callers that are allowed to use the key.",
      "type": "object",
      "properties": {
        "allowedIps": {
          "description": "A list of the caller IP addresses that are allowed to make API calls with this key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "V2AndroidKeyRestrictions": {
      "id": "V2AndroidKeyRestrictions",
      "description": "The Android apps that are allowed to use the key.",
      "type": "object",
      "properties": {
        "allowedApplications": {
          "description": "A list of Android applications that are allowed to make API calls with this key.",
          "type": "array",
          "items": {
            "$ref": "V2AndroidApplication"
          }
        }
      }
    },
    "V2AndroidApplication": {
      "id": "V2AndroidApplication",
      "description": "Identifier of an Android application for key use.",
      "type": "object",
      "properties": {
        "sha1Fingerprint": {
          "description": "The SHA1 fingerprint of the application. For example, both sha1 formats are acceptable : DA:39:A3:EE:5E:6B:4B:0D:32:55:BF:EF:95:60:18:90:AF:D8:07:09 or DA39A3EE5E6B4B0D3255BFEF95601890AFD80709. Output format is the latter.",
          "type": "string"
        },
        "packageName": {
          "description": "The package name of the application.",
          "type": "string"
        }
      }
    },
    "V2IosKeyRestrictions": {
      "id": "V2IosKeyRestrictions",
      "description": "The iOS apps that are allowed to use the key.",
      "type": "object",
      "properties": {
        "allowedBundleIds": {
          "description": "A list of bundle IDs that are allowed when making API calls with this key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "V2ApiTarget": {
      "id": "V2ApiTarget",
      "description": "A restriction for a specific service and optionally one or multiple specific methods. Both fields are case insensitive.",
      "type": "object",
      "properties": {
        "service": {
          "description": "The service for this restriction. It should be the canonical service name, for example: `translate.googleapis.com`. You can use [`gcloud services list`](\/sdk\/gcloud\/reference\/services\/list) to get a list of services that are enabled in the project.",
          "type": "string"
        },
        "methods": {
          "description": "Optional. List of one or more methods that can be called. If empty, all methods for the service are allowed. A wildcard (*) can be used as the last symbol. Valid examples: `google.cloud.translate.v2.TranslateService.GetSupportedLanguage` `TranslateText` `Get*` `translate.googleapis.com.Get*`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "V2ListKeysResponse": {
      "id": "V2ListKeysResponse",
      "description": "Response message for `ListKeys` method.",
      "type": "object",
      "properties": {
        "keys": {
          "description": "A list of API keys.",
          "type": "array",
          "items": {
            "$ref": "V2Key"
          }
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      }
    },
    "V2GetKeyStringResponse": {
      "id": "V2GetKeyStringResponse",
      "description": "Response message for `GetKeyString` method.",
      "type": "object",
      "properties": {
        "keyString": {
          "description": "An encrypted and signed value of the key.",
          "type": "string"
        }
      }
    },
    "V2UndeleteKeyRequest": {
      "id": "V2UndeleteKeyRequest",
      "description": "Request message for `UndeleteKey` method.",
      "type": "object",
      "properties": {
      }
    },
    "V2LookupKeyResponse": {
      "id": "V2LookupKeyResponse",
      "description": "Response message for `LookupKey` method.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "The project that owns the key with the value specified in the request.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the API key. If the API key has been purged, resource name is empty.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "id": "apikeys.operations.get",
          "path": "v2/{+name}",
          "flatPath": "v2/operations/{operationsId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "pattern": "^operations\/[^\/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "keys": {
              "methods": {
                "create": {
                  "id": "apikeys.projects.locations.keys.create",
                  "path": "v2/{+parent}/keys",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The project in which the API key is created.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "keyId": {
                      "description": "User specified key id (optional). If specified, it will become the final component of the key resource name. The id must be unique within the project, must conform with RFC-1034, is restricted to lower-cased letters, and has a maximum length of 63 characters. In another word, the id must match the regular expression: `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`. The id must NOT be a UUID-like string.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "V2Key"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new API key. NOTE: Key is a global resource; hence the only supported value for location is `global`."
                },
                "list": {
                  "id": "apikeys.projects.locations.keys.list",
                  "path": "v2/{+parent}/keys",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Lists all API keys associated with this project.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Specifies the maximum number of results to be returned at a time.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. Requests a specific page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "showDeleted": {
                      "description": "Optional. Indicate that keys deleted in the past 30 days should also be returned.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "V2ListKeysResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Lists the API keys owned by a project. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`."
                },
                "get": {
                  "id": "apikeys.projects.locations.keys.get",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the API key to get.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/keys\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "V2Key"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Gets the metadata for an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`."
                },
                "getKeyString": {
                  "id": "apikeys.projects.locations.keys.getKeyString",
                  "path": "v2/{+name}/keyString",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}/keyString",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the API key to be retrieved.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/keys\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "V2GetKeyStringResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Get the key string for an API key. NOTE: Key is a global resource; hence the only supported value for location is `global`."
                },
                "patch": {
                  "id": "apikeys.projects.locations.keys.patch",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Output only. The resource name of the key. The `name` has the form: `projects\/\/locations\/global\/keys\/`. For example: `projects\/123456867718\/locations\/global\/keys\/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/keys\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "The field mask specifies which fields to be updated as part of this request. All other fields are ignored. Mutable fields are: `display_name`,`restrictions` and `annotations`. If an update mask is not provided, the service treats it as an implied mask equivalent to all allowed fields that are set on the wire. If the field mask has a special value \"*\", the service treats it equivalent to replace all allowed mutable fields.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "V2Key"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Patches the modifiable fields of an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`."
                },
                "delete": {
                  "id": "apikeys.projects.locations.keys.delete",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the API key to be deleted.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/keys\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "etag": {
                      "description": "Optional. The etag known to the client for the expected state of the key. This is to be used for optimistic concurrency.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes an API key. Deleted key can be retrieved within 30 days of deletion. Afterward, key will be purged from the project. NOTE: Key is a global resource; hence the only supported value for location is `global`."
                },
                "undelete": {
                  "id": "apikeys.projects.locations.keys.undelete",
                  "path": "v2/{+name}:undelete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}:undelete",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the API key to be undeleted.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/keys\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "V2UndeleteKeyRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Undeletes an API key which was deleted within 30 days. NOTE: Key is a global resource; hence the only supported value for location is `global`."
                }
              }
            }
          }
        }
      }
    },
    "keys": {
      "methods": {
        "lookupKey": {
          "id": "apikeys.keys.lookupKey",
          "path": "v2/keys:lookupKey",
          "flatPath": "v2/keys:lookupKey",
          "httpMethod": "GET",
          "parameters": {
            "keyString": {
              "description": "Required. Finds the project that owns the key string value.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
          ],
          "response": {
            "$ref": "V2LookupKeyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Find the parent project and resource name of the API key that matches the key string in the request. If the API key has been purged, resource name will not be set. The service account must have the `apikeys.keys.lookup` permission on the parent project."
        }
      }
    }
  },
  "basePath": ""
}