{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "appengine:v1beta5",
  "name": "appengine",
  "version": "v1beta5",
  "revision": "0",
  "title": "Google App Engine Admin API",
  "description": "Provisions and manages App Engine applications.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "protocol": "rest",
  "rootUrl": "https://appengine.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://appengine.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "bearer_token": {
      "type": "string",
      "description": "OAuth bearer token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "pp": {
      "type": "boolean",
      "description": "Pretty-print response.",
      "default": "true",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations\/some\/unique\/name`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf true, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`\/`Create`\/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https:\/\/github.com\/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` which can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting purpose.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security\/privacy reasons.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Application": {
      "id": "Application",
      "description": "An Application resource contains the top-level configuration of an App\nEngine application.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Full path to the Application resource in the API.\nExample: `apps\/myapp`.\n\n@OutputOnly",
          "type": "string"
        },
        "id": {
          "description": "Identifier of the Application resource. This identifier is equivalent\nto the project ID of the Google Cloud Platform project where you want to\ndeploy your application.\nExample: `myapp`.",
          "type": "string"
        },
        "dispatchRules": {
          "description": "HTTP path dispatch rules for requests to the application that do not\nexplicitly target a service or version. Rules are order-dependent.\n\n@OutputOnly",
          "type": "array",
          "items": {
            "$ref": "UrlDispatchRule"
          }
        },
        "authDomain": {
          "description": "Google Apps authentication domain that controls which users can access\nthis application.\n\nDefaults to open access for any Google Account.",
          "type": "string"
        },
        "location": {
          "description": "Location from which this application will be run. Application instances\nwill run out of data centers in the chosen location, which is also where\nall of the application's end user content is stored.\n\nDefaults to `us-central`.\n\nOptions are:\n\n`us-central` - Central US\n\n`europe-west` - Western Europe\n\n`us-east1` - Eastern US",
          "type": "string"
        },
        "codeBucket": {
          "description": "A Google Cloud Storage bucket that can be used for storing files\nassociated with this application. This bucket is associated with the\napplication and can be used by the gcloud deployment commands.\n\n@OutputOnly",
          "type": "string"
        },
        "defaultCookieExpiration": {
          "description": "Cookie expiration policy for this application.\n\n@OutputOnly",
          "type": "string",
          "format": "google-duration"
        },
        "defaultHostname": {
          "description": "Hostname used to reach the application, as resolved by App Engine.\n\n@OutputOnly",
          "type": "string"
        },
        "defaultBucket": {
          "description": "A Google Cloud Storage bucket that can be used by the application to store\ncontent.\n\n@OutputOnly",
          "type": "string"
        }
      }
    },
    "UrlDispatchRule": {
      "id": "UrlDispatchRule",
      "description": "Rules to match an HTTP request and dispatch that request to a service.",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Domain name to match against. The wildcard \"`*`\" is supported if\nspecified before a period: \"`*.`\".\n\nDefaults to matching all domains: \"`*`\".",
          "type": "string"
        },
        "path": {
          "description": "Pathname within the host. Must start with a \"`\/`\". A\nsingle \"`*`\" can be included at the end of the path. The sum\nof the lengths of the domain and path may not exceed 100\ncharacters.",
          "type": "string"
        },
        "service": {
          "description": "Resource id of a service in this application that should\nserve the matched request. The service must already\nexist. Example: `default`.",
          "type": "string"
        }
      }
    },
    "Version": {
      "id": "Version",
      "description": "A Version resource is a specific set of source code and configuration files\nthat are deployed into a service.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Full path to the Version resource in the API.  Example:\n`apps\/myapp\/services\/default\/versions\/v1`.\n\n@OutputOnly",
          "type": "string"
        },
        "id": {
          "description": "Relative name of the version within the module. Example: `v1`.\nVersion names can contain only lowercase letters, numbers, or hyphens.\nReserved names: \"default\", \"latest\", and any name with the prefix \"ah-\".",
          "type": "string"
        },
        "automaticScaling": {
          "description": "Automatic scaling is based on request rate, response latencies, and other\napplication metrics.",
          "$ref": "AutomaticScaling"
        },
        "basicScaling": {
          "description": "A service with basic scaling will create an instance when the application\nreceives a request. The instance will be turned down when the app becomes\nidle. Basic scaling is ideal for work that is intermittent or driven by\nuser activity.",
          "$ref": "BasicScaling"
        },
        "manualScaling": {
          "description": "A service with manual scaling runs continuously, allowing you to perform\ncomplex initialization and rely on the state of its memory over time.",
          "$ref": "ManualScaling"
        },
        "inboundServices": {
          "description": "Before an application can receive email or XMPP messages, the application\nmust be configured to enable the service.",
          "enumDescriptions": [
            "Not specified.",
            "Allows an application to receive mail.",
            "Allows an application to receive email-bound notifications.",
            "Allows an application to receive error stanzas.",
            "Allows an application to receive instant messages.",
            "Allows an application to receive user subscription POSTs.",
            "Allows an application to receive a user's chat presence.",
            "Registers an application for notifications when a client connects or\ndisconnects from a channel.",
            "Enables warmup requests."
          ],
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "INBOUND_SERVICE_UNSPECIFIED",
              "INBOUND_SERVICE_MAIL",
              "INBOUND_SERVICE_MAIL_BOUNCE",
              "INBOUND_SERVICE_XMPP_ERROR",
              "INBOUND_SERVICE_XMPP_MESSAGE",
              "INBOUND_SERVICE_XMPP_SUBSCRIBE",
              "INBOUND_SERVICE_XMPP_PRESENCE",
              "INBOUND_SERVICE_CHANNEL_PRESENCE",
              "INBOUND_SERVICE_WARMUP"
            ]
          }
        },
        "instanceClass": {
          "description": "Instance class that is used to run this version. Valid values are:\n* AutomaticScaling: `F1`, `F2`, `F4`, `F4_1G`\n* ManualScaling or BasicScaling: `B1`, `B2`, `B4`, `B8`, `B4_1G`\n\nDefaults to `F1` for AutomaticScaling and `B1` for ManualScaling or\nBasicScaling.",
          "type": "string"
        },
        "network": {
          "description": "Extra network settings. Only applicable for VM runtimes.",
          "$ref": "Network"
        },
        "resources": {
          "description": "Machine resources for this version. Only applicable for VM runtimes.",
          "$ref": "Resources"
        },
        "runtime": {
          "description": "Desired runtime. Example: `python27`.",
          "type": "string"
        },
        "threadsafe": {
          "description": "Whether multiple requests can be dispatched to this version at once.",
          "type": "boolean"
        },
        "vm": {
          "description": "Whether to deploy this version in a container on a virtual machine.",
          "type": "boolean"
        },
        "betaSettings": {
          "description": "Metadata settings that are supplied to this version to enable\nbeta runtime features.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "env": {
          "description": "App Engine execution environment to use for this version.\n\nDefaults to `1`.",
          "type": "string"
        },
        "servingStatus": {
          "description": "Current serving status of this version. Only the versions with a\n`SERVING` status create instances and can be billed.\n\n`SERVING_STATUS_UNSPECIFIED` is an invalid value. Defaults to `SERVING`.",
          "enumDescriptions": [
            "Not specified.",
            "Currently serving. Instances are created according to the\nscaling settings of the version.",
            "Disabled from serving. No instances will be created and the scaling\nsettings are ignored until the state of the version changes\nto `SERVING`."
          ],
          "type": "string",
          "enum": [
            "SERVING_STATUS_UNSPECIFIED",
            "SERVING",
            "STOPPED"
          ]
        },
        "deployer": {
          "description": "Email address of the user who created this version.\n\n@OutputOnly",
          "type": "string"
        },
        "creationTime": {
          "description": "Time that this version was created.\n\n@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "diskUsageBytes": {
          "description": "Total size of version files hosted on App Engine disk in bytes.\n\n@OutputOnly",
          "type": "string",
          "format": "int64"
        },
        "handlers": {
          "description": "An ordered list of URL-matching patterns that should be applied to incoming\nrequests. The first matching URL handles the request and other request\nhandlers are not attempted.\n\nOnly returned in `GET` requests if `view=FULL` is set.",
          "type": "array",
          "items": {
            "$ref": "UrlMap"
          }
        },
        "errorHandlers": {
          "description": "Custom static error pages. Limited to 10KB per page.\n\nOnly returned in `GET` requests if `view=FULL` is set.",
          "type": "array",
          "items": {
            "$ref": "ErrorHandler"
          }
        },
        "libraries": {
          "description": "Configuration for third-party Python runtime libraries required by\nthe application.\n\nOnly returned in `GET` requests if `view=FULL` is set.",
          "type": "array",
          "items": {
            "$ref": "Library"
          }
        },
        "apiConfig": {
          "description": "Serving configuration for\n[Google Cloud Endpoints](https:\/\/cloud.google.com\/appengine\/docs\/python\/endpoints\/).\n\nOnly returned in `GET` requests if `view=FULL` is set.",
          "$ref": "ApiConfigHandler"
        },
        "envVariables": {
          "description": "Environment variables made available to the application.\n\nOnly returned in `GET` requests if `view=FULL` is set.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "defaultExpiration": {
          "description": "Duration that static files should be cached by web proxies and browsers.\nOnly applicable if the corresponding\n[StaticFilesHandler](https:\/\/cloud.google.com\/appengine\/docs\/admin-api\/reference\/rest\/v1\/apps.services.versions#staticfileshandler)\ndoes not specify its own expiration time.\n\nOnly returned in `GET` requests if `view=FULL` is set.",
          "type": "string",
          "format": "google-duration"
        },
        "healthCheck": {
          "description": "Configures health checking for VM instances. Unhealthy instances are\nbe stopped and replaced with new instances. Only applicable for VM\nruntimes.\n\nOnly returned in `GET` requests if `view=FULL` is set.",
          "$ref": "HealthCheck"
        },
        "nobuildFilesRegex": {
          "description": "Files that match this pattern will not be built into this version.\nOnly applicable for Go runtimes.\n\nOnly returned in `GET` requests if `view=FULL` is set.",
          "type": "string"
        },
        "deployment": {
          "description": "Code and application artifacts that make up this version.\n\nOnly returned in `GET` requests if `view=FULL` is set.",
          "$ref": "Deployment"
        }
      }
    },
    "AutomaticScaling": {
      "id": "AutomaticScaling",
      "description": "Automatic scaling is based on request rate, response latencies, and other\napplication metrics.",
      "type": "object",
      "properties": {
        "coolDownPeriod": {
          "description": "Amount of time that the\n[Autoscaler](https:\/\/cloud.google.com\/compute\/docs\/autoscaler\/)\nshould wait between changes to the number of virtual machines.\nOnly applicable for VM runtimes.",
          "type": "string",
          "format": "google-duration"
        },
        "cpuUtilization": {
          "description": "Target scaling by CPU usage.",
          "$ref": "CpuUtilization"
        },
        "maxConcurrentRequests": {
          "description": "Number of concurrent requests an automatic scaling instance can accept\nbefore the scheduler spawns a new instance.\n\nDefaults to a runtime-specific value.",
          "type": "integer",
          "format": "int32"
        },
        "maxIdleInstances": {
          "description": "Maximum number of idle instances that should be maintained for this\nversion.",
          "type": "integer",
          "format": "int32"
        },
        "maxTotalInstances": {
          "description": "Maximum number of instances that should be started to handle requests.",
          "type": "integer",
          "format": "int32"
        },
        "maxPendingLatency": {
          "description": "Maximum amount of time that a request should wait in the pending queue\nbefore starting a new instance to handle it.",
          "type": "string",
          "format": "google-duration"
        },
        "minIdleInstances": {
          "description": "Minimum number of idle instances that should be maintained for\nthis version. Only applicable for the default version of a module.",
          "type": "integer",
          "format": "int32"
        },
        "minTotalInstances": {
          "description": "Minimum number of instances that should be maintained for this version.",
          "type": "integer",
          "format": "int32"
        },
        "minPendingLatency": {
          "description": "Minimum amount of time a request should wait in the pending queue before\nstarting a new instance to handle it.",
          "type": "string",
          "format": "google-duration"
        },
        "requestUtilization": {
          "description": "Target scaling by request utilization.",
          "$ref": "RequestUtilization"
        },
        "diskUtilization": {
          "description": "Target scaling by disk usage.",
          "$ref": "DiskUtilization"
        },
        "networkUtilization": {
          "description": "Target scaling by network usage.",
          "$ref": "NetworkUtilization"
        }
      }
    },
    "CpuUtilization": {
      "id": "CpuUtilization",
      "description": "Target scaling by CPU usage.",
      "type": "object",
      "properties": {
        "aggregationWindowLength": {
          "description": "Period of time over which CPU utilization is calculated.",
          "type": "string",
          "format": "google-duration"
        },
        "targetUtilization": {
          "description": "Target CPU utilization ratio to maintain when scaling. Must be between 0\nand 1.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "RequestUtilization": {
      "id": "RequestUtilization",
      "description": "Target scaling by request utilization. Only applicable for VM runtimes.",
      "type": "object",
      "properties": {
        "targetRequestCountPerSec": {
          "description": "Target requests per second.",
          "type": "integer",
          "format": "int32"
        },
        "targetConcurrentRequests": {
          "description": "Target number of concurrent requests.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DiskUtilization": {
      "id": "DiskUtilization",
      "description": "Target scaling by disk usage. Only applicable for VM runtimes.",
      "type": "object",
      "properties": {
        "targetWriteBytesPerSec": {
          "description": "Target bytes written per second.",
          "type": "integer",
          "format": "int32"
        },
        "targetWriteOpsPerSec": {
          "description": "Target ops written per second.",
          "type": "integer",
          "format": "int32"
        },
        "targetReadBytesPerSec": {
          "description": "Target bytes read per second.",
          "type": "integer",
          "format": "int32"
        },
        "targetReadOpsPerSec": {
          "description": "Target ops read per second.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "NetworkUtilization": {
      "id": "NetworkUtilization",
      "description": "Target scaling by network usage. Only applicable for VM runtimes.",
      "type": "object",
      "properties": {
        "targetSentBytesPerSec": {
          "description": "Target bytes sent per second.",
          "type": "integer",
          "format": "int32"
        },
        "targetSentPacketsPerSec": {
          "description": "Target packets sent per second.",
          "type": "integer",
          "format": "int32"
        },
        "targetReceivedBytesPerSec": {
          "description": "Target bytes received per second.",
          "type": "integer",
          "format": "int32"
        },
        "targetReceivedPacketsPerSec": {
          "description": "Target packets received per second.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BasicScaling": {
      "id": "BasicScaling",
      "description": "A service with basic scaling will create an instance when the application\nreceives a request. The instance will be turned down when the app becomes\nidle. Basic scaling is ideal for work that is intermittent or driven by\nuser activity.",
      "type": "object",
      "properties": {
        "idleTimeout": {
          "description": "Duration of time after the last request that an instance must wait before\nthe instance is shut down.",
          "type": "string",
          "format": "google-duration"
        },
        "maxInstances": {
          "description": "Maximum number of instances to create for this version.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ManualScaling": {
      "id": "ManualScaling",
      "description": "A service with manual scaling runs continuously, allowing you to perform\ncomplex initialization and rely on the state of its memory over time.",
      "type": "object",
      "properties": {
        "instances": {
          "description": "Number of instances to assign to the service at the start. This number\ncan later be altered by using the\n[Modules API](https:\/\/cloud.google.com\/appengine\/docs\/python\/modules\/functions)\n`set_num_instances()` function.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Network": {
      "id": "Network",
      "description": "Extra network settings. Only applicable for VM runtimes.",
      "type": "object",
      "properties": {
        "forwardedPorts": {
          "description": "List of ports, or port pairs, to forward from the virtual machine to the\napplication container.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instanceTag": {
          "description": "Tag to apply to the VM instance during creation.",
          "type": "string"
        },
        "name": {
          "description": "Google Cloud Platform network where the virtual machines are created.\nSpecify the short name, not the resource path.\n\nDefaults to `default`.",
          "type": "string"
        }
      }
    },
    "Resources": {
      "id": "Resources",
      "description": "Machine resources for a version.",
      "type": "object",
      "properties": {
        "cpu": {
          "description": "Number of CPU cores needed.",
          "type": "number",
          "format": "double"
        },
        "diskGb": {
          "description": "Disk size (GB) needed.",
          "type": "number",
          "format": "double"
        },
        "memoryGb": {
          "description": "Memory (GB) needed.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "UrlMap": {
      "id": "UrlMap",
      "description": "URL pattern and description of how the URL should be handled. App Engine can\nhandle URLs by executing application code, or by serving static files\nuploaded with the version, such as images, CSS, or JavaScript.",
      "type": "object",
      "properties": {
        "urlRegex": {
          "description": "A URL prefix. Uses regular expression syntax, which means regexp\nspecial characters must be escaped, but should not contain groupings.\nAll URLs that begin with this prefix are handled by this handler, using the\nportion of the URL after the prefix as part of the file path.",
          "type": "string"
        },
        "staticFiles": {
          "description": "Returns the contents of a file, such as an image, as the response.",
          "$ref": "StaticFilesHandler"
        },
        "script": {
          "description": "Executes a script to handle the request that matches this URL\npattern.",
          "$ref": "ScriptHandler"
        },
        "apiEndpoint": {
          "description": "Uses API Endpoints to handle requests.",
          "$ref": "ApiEndpointHandler"
        },
        "securityLevel": {
          "description": "Security (HTTPS) enforcement for this URL.",
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed\nwithout redirects. The application can examine the request to determine\nwhich protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically\nredirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed\nwithout redirects. The application can examine the request to determine\nwhich protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are\nautomatically redirected to the HTTPS URL with the same path. Query\nparameters are reserved for the redirect."
          ],
          "type": "string",
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ]
        },
        "login": {
          "description": "Level of login required to access this resource.",
          "enumDescriptions": [
            "Not specified. `LOGIN_OPTIONAL` is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the `auth_fail_action` is taken.\nIn addition, if the user is not an administrator for the\napplication, they are given an error message regardless of\n`auth_fail_action`. If the user is an administrator, the handler\nproceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the\naction given in `auth_fail_action` is taken."
          ],
          "type": "string",
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ]
        },
        "authFailAction": {
          "description": "Action to take when users access resources that require\nauthentication. Defaults to `redirect`.",
          "enumDescriptions": [
            "Not specified. `AUTH_FAIL_ACTION_REDIRECT` is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the\napplication URL after signing in or creating an account.",
            "Rejects request with an`401` HTTP status code and an error\nmessage."
          ],
          "type": "string",
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ]
        },
        "redirectHttpResponseCode": {
          "description": "`30x` code to use when performing redirects for the `secure` field.\nDefaults to `302`.",
          "enumDescriptions": [
            "Not specified. `302` is assumed.",
            "`301 Moved Permanently` code.",
            "`302 Moved Temporarily` code.",
            "`303 See Other` code.",
            "`307 Temporary Redirect` code."
          ],
          "type": "string",
          "enum": [
            "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED",
            "REDIRECT_HTTP_RESPONSE_CODE_301",
            "REDIRECT_HTTP_RESPONSE_CODE_302",
            "REDIRECT_HTTP_RESPONSE_CODE_303",
            "REDIRECT_HTTP_RESPONSE_CODE_307"
          ]
        }
      }
    },
    "StaticFilesHandler": {
      "id": "StaticFilesHandler",
      "description": "Files served directly to the user for a given URL, such as images, CSS\nstylesheets, or JavaScript source files. Static file handlers describe which\nfiles in the application directory are static files, and which URLs serve\nthem.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Path to the static files matched by the URL pattern, from the\napplication root directory. The path can refer to text matched in groupings\nin the URL pattern.",
          "type": "string"
        },
        "uploadPathRegex": {
          "description": "Regular expression that matches the file paths for all files that should be\nreferenced by this handler.",
          "type": "string"
        },
        "httpHeaders": {
          "description": "HTTP headers to use for all responses from these URLs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "mimeType": {
          "description": "MIME type used to serve all files served by this handler.\nDefaults to file-specific MIME types, which are derived from each file's\nfilename extension.",
          "type": "string"
        },
        "expiration": {
          "description": "Time a static file served by this handler should be cached.",
          "type": "string",
          "format": "google-duration"
        },
        "requireMatchingFile": {
          "description": "Whether this handler should match the request if the file\nreferenced by the handler does not exist.",
          "type": "boolean"
        },
        "applicationReadable": {
          "description": "Whether files should also be uploaded as code data. By default, files\ndeclared in static file handlers are uploaded as static\ndata and are only served to end users; they cannot be read by the\napplication. If enabled, uploads are charged against both your code and\nstatic data storage resource quotas.",
          "type": "boolean"
        }
      }
    },
    "ScriptHandler": {
      "id": "ScriptHandler",
      "description": "Executes a script to handle the request that matches the URL pattern.",
      "type": "object",
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      }
    },
    "ApiEndpointHandler": {
      "id": "ApiEndpointHandler",
      "description": "Uses Google Cloud Endpoints to handle requests.",
      "type": "object",
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      }
    },
    "ErrorHandler": {
      "id": "ErrorHandler",
      "description": "Custom static error page to be served when an error occurs.",
      "type": "object",
      "properties": {
        "errorCode": {
          "description": "Error condition this handler applies to.",
          "enumDescriptions": [
            "Not specified. ERROR_CODE_DEFAULT is assumed.",
            "All other error types.",
            "Application has exceeded a resource quota.",
            "Client blocked by the application's Denial of Service protection\nconfiguration.",
            "Deadline reached before the application responds."
          ],
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "ERROR_CODE_DEFAULT",
            "ERROR_CODE_OVER_QUOTA",
            "ERROR_CODE_DOS_API_DENIAL",
            "ERROR_CODE_TIMEOUT"
          ]
        },
        "staticFile": {
          "description": "Static file content to be served for this error.",
          "type": "string"
        },
        "mimeType": {
          "description": "MIME type of file. Defaults to `text\/html`.",
          "type": "string"
        }
      }
    },
    "Library": {
      "id": "Library",
      "description": "Third-party Python runtime library that is required by the application.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the library. Example: \"django\".",
          "type": "string"
        },
        "version": {
          "description": "Version of the library to select, or \"latest\".",
          "type": "string"
        }
      }
    },
    "ApiConfigHandler": {
      "id": "ApiConfigHandler",
      "description": "[Google Cloud Endpoints](https:\/\/cloud.google.com\/appengine\/docs\/python\/endpoints\/)\nconfiguration for API handlers.",
      "type": "object",
      "properties": {
        "authFailAction": {
          "description": "Action to take when users access resources that require\nauthentication. Defaults to `redirect`.",
          "enumDescriptions": [
            "Not specified. `AUTH_FAIL_ACTION_REDIRECT` is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the\napplication URL after signing in or creating an account.",
            "Rejects request with an`401` HTTP status code and an error\nmessage."
          ],
          "type": "string",
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ]
        },
        "login": {
          "description": "Level of login required to access this resource. Defaults to `optional`.",
          "enumDescriptions": [
            "Not specified. `LOGIN_OPTIONAL` is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the `auth_fail_action` is taken.\nIn addition, if the user is not an administrator for the\napplication, they are given an error message regardless of\n`auth_fail_action`. If the user is an administrator, the handler\nproceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the\naction given in `auth_fail_action` is taken."
          ],
          "type": "string",
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ]
        },
        "script": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        },
        "securityLevel": {
          "description": "Security (HTTPS) enforcement for this URL.",
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed\nwithout redirects. The application can examine the request to determine\nwhich protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically\nredirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed\nwithout redirects. The application can examine the request to determine\nwhich protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are\nautomatically redirected to the HTTPS URL with the same path. Query\nparameters are reserved for the redirect."
          ],
          "type": "string",
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ]
        },
        "url": {
          "description": "URL to serve the endpoint at.",
          "type": "string"
        }
      }
    },
    "HealthCheck": {
      "id": "HealthCheck",
      "description": "Health checking configuration for VM instances. Unhealthy instances\nare killed and replaced with new instances. Only applicable for\ninstances in App Engine flexible environment.",
      "type": "object",
      "properties": {
        "disableHealthCheck": {
          "description": "Whether to explicitly disable health checks for this instance.",
          "type": "boolean"
        },
        "host": {
          "description": "Host header to send when performing an HTTP health check.\nExample: \"myapp.appspot.com\"",
          "type": "string"
        },
        "healthyThreshold": {
          "description": "Number of consecutive successful health checks required before receiving\ntraffic.",
          "type": "integer",
          "format": "uint32"
        },
        "unhealthyThreshold": {
          "description": "Number of consecutive failed health checks required before removing\ntraffic.",
          "type": "integer",
          "format": "uint32"
        },
        "restartThreshold": {
          "description": "Number of consecutive failed health checks required before an instance is\nrestarted.",
          "type": "integer",
          "format": "uint32"
        },
        "checkInterval": {
          "description": "Interval between health checks.",
          "type": "string",
          "format": "google-duration"
        },
        "timeout": {
          "description": "Time before the health check is considered failed.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "description": "Code and application artifacts used to deploy a version to App Engine.",
      "type": "object",
      "properties": {
        "files": {
          "description": "Manifest of the files stored in Google Cloud Storage that are included\nas part of this version. All files must be readable using the\ncredentials supplied with this call.",
          "type": "object",
          "additionalProperties": {
            "$ref": "FileInfo"
          }
        },
        "container": {
          "description": "A Docker image that App Engine uses the run the version.\nOnly applicable for instances in App Engine flexible environment.",
          "$ref": "ContainerInfo"
        },
        "sourceReferences": {
          "description": "Origin of the source code for this deployment. There can be more than\none source reference per version if source code is distributed among\nmultiple repositories.",
          "type": "array",
          "items": {
            "$ref": "SourceReference"
          }
        }
      }
    },
    "FileInfo": {
      "id": "FileInfo",
      "description": "Single source file that is part of the version to be deployed. Each source\nfile that is deployed must be specified separately.",
      "type": "object",
      "properties": {
        "sourceUrl": {
          "description": "URL source to use to fetch this file. Must be a URL to a resource in\nGoogle Cloud Storage in the form\n'http(s):\/\/storage.googleapis.com\/\\<bucket\\>\/\\<object\\>'.",
          "type": "string"
        },
        "sha1Sum": {
          "description": "The SHA1 hash of the file, in hex.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the file.\n\nDefaults to the value from Google Cloud Storage.",
          "type": "string"
        }
      }
    },
    "ContainerInfo": {
      "id": "ContainerInfo",
      "description": "Docker image that is used to start a VM container for the version you\ndeploy.",
      "type": "object",
      "properties": {
        "image": {
          "description": "URI to the hosted container image in a Docker repository. The URI must be\nfully qualified and include a tag or digest.\nExamples: \"gcr.io\/my-project\/image:tag\" or \"gcr.io\/my-project\/image@digest\"",
          "type": "string"
        }
      }
    },
    "SourceReference": {
      "id": "SourceReference",
      "description": "Reference to a particular snapshot of the source tree used to build and\ndeploy the application.",
      "type": "object",
      "properties": {
        "repository": {
          "description": "URI string identifying the repository.\nExample: \"https:\/\/source.developers.google.com\/p\/app-123\/r\/default\"",
          "type": "string"
        },
        "revisionId": {
          "description": "The canonical, persistent identifier of the deployed revision.\nAliases that include tags or branch names are not allowed.\nExample (git): \"2198322f89e0bb2e25021667c2ed489d1fd34e6b\"",
          "type": "string"
        }
      }
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "description": "Response message for `Versions.ListVersions`.",
      "type": "object",
      "properties": {
        "versions": {
          "description": "The versions belonging to the requested service.",
          "type": "array",
          "items": {
            "$ref": "Version"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "Service": {
      "id": "Service",
      "description": "A Service resource is a logical component of an application that can share\nstate and communicate in a secure fashion with other services.\nFor example, an application that handles customer requests might\ninclude separate services to handle other tasks such as API requests\nfrom mobile devices or backend data analysis. Each service has a\ncollection of versions that define a specific set of code used to\nimplement the functionality of that service.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Full path to the Service resource in the API.\nExample: `apps\/myapp\/services\/default`.\n\n@OutputOnly",
          "type": "string"
        },
        "id": {
          "description": "Relative name of the service within the application.\nExample: `default`.\n\n@OutputOnly",
          "type": "string"
        },
        "split": {
          "description": "<apping that defines fractional HTTP traffic diversion to\ndifferent versions within the service.",
          "$ref": "TrafficSplit"
        }
      }
    },
    "TrafficSplit": {
      "id": "TrafficSplit",
      "description": "Traffic routing configuration for versions within a single service. Traffic\nsplits define how traffic directed to the service is assigned to versions.",
      "type": "object",
      "properties": {
        "shardBy": {
          "description": "Mechanism used to determine which version a request is sent to.\nThe traffic selection algorithm will\nbe stable for either type until allocations are changed.",
          "enumDescriptions": [
            "Diversion method unspecified.",
            "Diversion based on a specially named cookie, \"GOOGAPPUID.\" The cookie\nmust be set by the application itself or else no diversion will occur.",
            "Diversion based on applying the modulus operation to a fingerprint\nof the IP address."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "COOKIE",
            "IP"
          ]
        },
        "allocations": {
          "description": "Mapping from version IDs within the service to fractional\n(0.000, 1] allocations of traffic for that version. Each version can\nbe specified only once, but some versions in the service may not\nhave any traffic allocation. Services that have traffic allocated\ncannot be deleted until either the service is deleted or\ntheir traffic allocation is removed. Allocations must sum to 1.\nUp to two decimal place precision is supported for IP-based splits and\nup to three decimal places is supported for cookie-based splits.",
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "ListServicesResponse": {
      "id": "ListServicesResponse",
      "description": "Response message for `Services.ListServices`.",
      "type": "object",
      "properties": {
        "services": {
          "description": "The services belonging to the requested application.",
          "type": "array",
          "items": {
            "$ref": "Service"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "description": "An Instance resource is the computing unit that App Engine uses to\nautomatically scale an application.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Full path to the Instance resource in the API.\nExample: `apps\/myapp\/services\/default\/versions\/v1\/instances\/instance-1`.\n\n@OutputOnly",
          "type": "string"
        },
        "id": {
          "description": "Relative name of the instance within the version.\nExample: `instance-1`.\n\n@OutputOnly",
          "type": "string"
        },
        "appEngineRelease": {
          "description": "App Engine release this instance is running on.\n\n@OutputOnly",
          "type": "string"
        },
        "availability": {
          "description": "Availability of the instance.\n\n@OutputOnly",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RESIDENT",
            "DYNAMIC"
          ]
        },
        "vmName": {
          "description": "Name of the virtual machine where this instance lives. Only applicable\nfor instances in App Engine flexible environment.\n\n@OutputOnly",
          "type": "string"
        },
        "vmZoneName": {
          "description": "Zone where the virtual machine is located. Only applicable for instances\nin App Engine flexible environment.\n\n@OutputOnly",
          "type": "string"
        },
        "vmId": {
          "description": "Virtual machine ID of this instance. Only applicable for instances in\nApp Engine flexible environment.\n\n@OutputOnly",
          "type": "string"
        },
        "startTimestamp": {
          "description": "Time that this instance was started.\n\n@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "requests": {
          "description": "Number of requests since this instance was started.\n\n@OutputOnly",
          "type": "integer",
          "format": "int32"
        },
        "errors": {
          "description": "Number of errors since this instance was started.\n\n@OutputOnly",
          "type": "integer",
          "format": "uint32"
        },
        "qps": {
          "description": "Average queries per second (QPS) over the last minute.\n\n@OutputOnly",
          "type": "number",
          "format": "float"
        },
        "averageLatency": {
          "description": "Average latency (ms) over the last minute.\n\n@OutputOnly",
          "type": "integer",
          "format": "int32"
        },
        "memoryUsage": {
          "description": "Total memory in use (bytes).\n\n@OutputOnly",
          "type": "string",
          "format": "int64"
        },
        "vmStatus": {
          "description": "Status of the virtual machine where this instance lives. Only applicable\nfor instances in App Engine flexible environment.\n\n@OutputOnly",
          "type": "string"
        },
        "vmUnlocked": {
          "description": "Whether this instance is in debug mode. Only applicable for instances in\nApp Engine flexible environment.\n\n@OutputOnly",
          "type": "boolean"
        }
      }
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "description": "Response message for `Instances.ListInstances`.",
      "type": "object",
      "properties": {
        "instances": {
          "description": "The instances belonging to the requested version.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "DebugInstanceRequest": {
      "id": "DebugInstanceRequest",
      "description": "Request message for `Instances.DebugInstance`.",
      "type": "object",
      "properties": {
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for LocationService.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations.\nExample: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given\nlocation.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Metadata for the given google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "operationType": {
          "description": "Type of this operation. Deprecated, use method field instead.\nExample: \"create_version\".\n\n@OutputOnly",
          "type": "string"
        },
        "insertTime": {
          "description": "Timestamp that this operation was created.\n\n@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Timestamp that this operation completed.\n\n@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "user": {
          "description": "User who requested this operation.\n\n@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example:\n`apps\/myapp\/modules\/default`.\n\n@OutputOnly",
          "type": "string"
        },
        "method": {
          "description": "API method that initiated this operation. Example:\n`google.appengine.v1beta4.Version.CreateVersion`.\n\n@OutputOnly",
          "type": "string"
        }
      }
    },
    "OperationMetadataV1Beta5": {
      "id": "OperationMetadataV1Beta5",
      "description": "Metadata for the given google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "method": {
          "description": "API method name that initiated this operation. Example:\n`google.appengine.v1beta5.Version.CreateVersion`.\n\n@OutputOnly",
          "type": "string"
        },
        "insertTime": {
          "description": "Timestamp that this operation was created.\n\n@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Timestamp that this operation completed.\n\n@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "user": {
          "description": "User who requested this operation.\n\n@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example:\n`apps\/myapp\/services\/default`.\n\n@OutputOnly",
          "type": "string"
        }
      }
    },
    "OperationMetadataV1": {
      "id": "OperationMetadataV1",
      "description": "Metadata for the given google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "method": {
          "description": "API method that initiated this operation. Example:\n`google.appengine.v1.Versions.CreateVersion`.\n\n@OutputOnly",
          "type": "string"
        },
        "insertTime": {
          "description": "Time that this operation was created.\n\n@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Time that this operation completed.\n\n@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "user": {
          "description": "User who requested this operation.\n\n@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example:\n`apps\/myapp\/services\/default`.\n\n@OutputOnly",
          "type": "string"
        }
      }
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "description": "Metadata for the given google.cloud.location.Location.",
      "type": "object",
      "properties": {
      }
    }
  },
  "resources": {
    "apps": {
      "methods": {
        "create": {
          "id": "appengine.apps.create",
          "path": "v1beta5/apps",
          "flatPath": "v1beta5/apps",
          "httpMethod": "POST",
          "description": "Creates an App Engine application for a Google Cloud Platform project.\nThis requires a project that excludes an App Engine application. For\ndetails about creating a project without an application, see the\n[Google Cloud Resource Manager create project topic](https:\/\/cloud.google.com\/resource-manager\/docs\/creating-project).",
          "parameters": {
          },
          "parameterOrder": [
          ],
          "request": {
            "$ref": "Application"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "id": "appengine.apps.get",
          "path": "v1beta5/{+name}",
          "flatPath": "v1beta5/apps/{appsId}",
          "httpMethod": "GET",
          "description": "Gets information about an application.",
          "parameters": {
            "name": {
              "description": "Name of the application to get. Example: `apps\/myapp`.",
              "location": "path",
              "required": true,
              "pattern": "^apps\/[^\/]*$",
              "type": "string"
            },
            "ensureResourcesExist": {
              "description": "Certain resources associated with an application are created on-demand.\nControls whether these resources should be created when performing the\n`GET` operation. If specified and any resources could not be created, the\nrequest will fail with an error code. Additionally, this parameter can\ncause the request to take longer to complete.\nNote: This parameter will be deprecated in a future version of the API.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Application"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
      ,
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "id": "appengine.apps.operations.get",
              "path": "v1beta5/{+name}",
              "flatPath": "v1beta5/apps/{appsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^apps\/[^\/]*\/operations\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "id": "appengine.apps.operations.list",
              "path": "v1beta5/{+name}/operations",
              "flatPath": "v1beta5/apps/{appsId}/operations",
              "httpMethod": "GET",
              "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding below allows API services to override the binding\nto use different resource name schemes, such as `users\/*\/operations`.",
              "parameters": {
                "name": {
                  "description": "The name of the operation collection.",
                  "location": "path",
                  "required": true,
                  "pattern": "^apps\/[^\/]*$",
                  "type": "string"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "services": {
          "methods": {
            "delete": {
              "id": "appengine.apps.services.delete",
              "path": "v1beta5/{+name}",
              "flatPath": "v1beta5/apps/{appsId}/services/{servicesId}",
              "httpMethod": "DELETE",
              "description": "Deletes the specified service and all enclosed versions.",
              "parameters": {
                "name": {
                  "description": "Name of the resource requested. Example: `apps\/myapp\/services\/default`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^apps\/[^\/]*\/services\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "id": "appengine.apps.services.get",
              "path": "v1beta5/{+name}",
              "flatPath": "v1beta5/apps/{appsId}/services/{servicesId}",
              "httpMethod": "GET",
              "description": "Gets the current configuration of the specified service.",
              "parameters": {
                "name": {
                  "description": "Name of the resource requested. Example: `apps\/myapp\/services\/default`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^apps\/[^\/]*\/services\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Service"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "id": "appengine.apps.services.list",
              "path": "v1beta5/{+name}/services",
              "flatPath": "v1beta5/apps/{appsId}/services",
              "httpMethod": "GET",
              "description": "Lists all the services in the application.",
              "parameters": {
                "name": {
                  "description": "Name of the resource requested. Example: `apps\/myapp`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^apps\/[^\/]*$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListServicesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "id": "appengine.apps.services.patch",
              "path": "v1beta5/{+name}",
              "flatPath": "v1beta5/apps/{appsId}/services/{servicesId}",
              "httpMethod": "PATCH",
              "description": "Updates the configuration of the specified service.",
              "parameters": {
                "name": {
                  "description": "Name of the resource to update. Example: `apps\/myapp\/services\/default`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^apps\/[^\/]*\/services\/[^\/]*$",
                  "type": "string"
                },
                "mask": {
                  "description": "Standard field mask for the set of fields to be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "migrateTraffic": {
                  "description": "Whether to use\n[traffic migration](https:\/\/cloud.google.com\/appengine\/docs\/python\/migrating-traffic)\nto gradually shift traffic from one version to another single version.\n[Warmup requests](https:\/\/cloud.google.com\/appengine\/docs\/admin-api\/reference\/rest\/v1\/apps.services.versions#inboundservicetype)\nmust be enabled for the target version.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Service"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
          ,
          "resources": {
            "versions": {
              "methods": {
                "create": {
                  "id": "appengine.apps.services.versions.create",
                  "path": "v1beta5/{+name}/versions",
                  "flatPath": "v1beta5/apps/{appsId}/services/{servicesId}/versions",
                  "httpMethod": "POST",
                  "description": "Deploys new code and resource files to a new version.",
                  "parameters": {
                    "name": {
                      "description": "Name of the resource to update. For example:\n\"apps\/myapp\/services\/default\".",
                      "location": "path",
                      "required": true,
                      "pattern": "^apps\/[^\/]*\/services\/[^\/]*$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Version"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "appengine.apps.services.versions.delete",
                  "path": "v1beta5/{+name}",
                  "flatPath": "v1beta5/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes an existing version.",
                  "parameters": {
                    "name": {
                      "description": "Name of the resource requested. Example:\n`apps\/myapp\/services\/default\/versions\/v1`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^apps\/[^\/]*\/services\/[^\/]*\/versions\/[^\/]*$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "appengine.apps.services.versions.get",
                  "path": "v1beta5/{+name}",
                  "flatPath": "v1beta5/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "httpMethod": "GET",
                  "description": "Gets the specified Version resource.\nBy default, only a `BASIC_VIEW` will be returned.\nSpecify the `FULL_VIEW` parameter to get the full resource.",
                  "parameters": {
                    "name": {
                      "description": "Name of the resource requested. Example:\n`apps\/myapp\/services\/default\/versions\/v1`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^apps\/[^\/]*\/services\/[^\/]*\/versions\/[^\/]*$",
                      "type": "string"
                    },
                    "view": {
                      "description": "Controls the set of fields returned in the `Get` response.",
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "BASIC",
                        "FULL"
                      ]
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Version"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "appengine.apps.services.versions.list",
                  "path": "v1beta5/{+name}/versions",
                  "flatPath": "v1beta5/apps/{appsId}/services/{servicesId}/versions",
                  "httpMethod": "GET",
                  "description": "Lists the versions of a service.",
                  "parameters": {
                    "name": {
                      "description": "Name of the resource requested. Example:\n`apps\/myapp\/services\/default`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^apps\/[^\/]*\/services\/[^\/]*$",
                      "type": "string"
                    },
                    "view": {
                      "description": "Controls the set of fields returned in the `List` response.",
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "BASIC",
                        "FULL"
                      ]
                    },
                    "pageSize": {
                      "description": "Maximum results to return per page.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "id": "appengine.apps.services.versions.patch",
                  "path": "v1beta5/{+name}",
                  "flatPath": "v1beta5/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "httpMethod": "PATCH",
                  "description": "Updates the specified Version resource.\nYou can specify the following fields depending on the App Engine\nenvironment and type of scaling that the version resource uses:\n\n* [`serving_status`](https:\/\/cloud.google.com\/appengine\/docs\/admin-api\/reference\/rest\/v1beta5\/apps.services.versions#Version.FIELDS.serving_status):\n  For Version resources that use basic scaling, manual scaling, or run in\n  the App Engine flexible environment.\n* [`instance_class`](https:\/\/cloud.google.com\/appengine\/docs\/admin-api\/reference\/rest\/v1beta5\/apps.services.versions#Version.FIELDS.instance_class):\n  For Version resources that run in the App Engine standard environment.\n* [`automatic_scaling.min_idle_instances`](https:\/\/cloud.google.com\/appengine\/docs\/admin-api\/reference\/rest\/v1beta5\/apps.services.versions#Version.FIELDS.automatic_scaling):\n  For Version resources that use automatic scaling and run in the App\n  Engine standard environment.\n* [`automatic_scaling.max_idle_instances`](https:\/\/cloud.google.com\/appengine\/docs\/admin-api\/reference\/rest\/v1beta5\/apps.services.versions#Version.FIELDS.automatic_scaling):\n  For Version resources that use automatic scaling and run in the App\n  Engine standard environment.",
                  "parameters": {
                    "name": {
                      "description": "Name of the resource to update. Example:\n`apps\/myapp\/services\/default\/versions\/1`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^apps\/[^\/]*\/services\/[^\/]*\/versions\/[^\/]*$",
                      "type": "string"
                    },
                    "mask": {
                      "description": "Standard field mask for the set of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Version"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
              ,
              "resources": {
                "instances": {
                  "methods": {
                    "delete": {
                      "id": "appengine.apps.services.versions.instances.delete",
                      "path": "v1beta5/{+name}",
                      "flatPath": "v1beta5/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "httpMethod": "DELETE",
                      "description": "Stops a running instance.",
                      "parameters": {
                        "name": {
                          "description": "Name of the resource requested. For example:\n\"apps\/myapp\/services\/default\/versions\/v1\/instances\/instance-1\".",
                          "location": "path",
                          "required": true,
                          "pattern": "^apps\/[^\/]*\/services\/[^\/]*\/versions\/[^\/]*\/instances\/[^\/]*$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "id": "appengine.apps.services.versions.instances.get",
                      "path": "v1beta5/{+name}",
                      "flatPath": "v1beta5/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "httpMethod": "GET",
                      "description": "Gets instance information.",
                      "parameters": {
                        "name": {
                          "description": "Name of the resource requested. Example:\n`apps\/myapp\/services\/default\/versions\/v1\/instances\/instance-1`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^apps\/[^\/]*\/services\/[^\/]*\/versions\/[^\/]*\/instances\/[^\/]*$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Instance"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "id": "appengine.apps.services.versions.instances.list",
                      "path": "v1beta5/{+name}/instances",
                      "flatPath": "v1beta5/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "httpMethod": "GET",
                      "description": "Lists the instances of a version.",
                      "parameters": {
                        "name": {
                          "description": "Name of the resource requested. Example:\n`apps\/myapp\/services\/default\/versions\/v1`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^apps\/[^\/]*\/services\/[^\/]*\/versions\/[^\/]*$",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Maximum results to return per page.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ListInstancesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "debug": {
                      "id": "appengine.apps.services.versions.instances.debug",
                      "path": "v1beta5/{+name}:debug",
                      "flatPath": "v1beta5/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "httpMethod": "POST",
                      "description": "Enables debugging on a VM instance. This allows you to SSH into the\nvirtual machine where the instance lives. While in \"debug mode\", the\ninstance continues to serve live traffic. You should delete the instance\nwhen you are done debugging and then allow the system to take over and\ndetermine if another instance should be started.\n\nOnly applicable for instances in App Engine flexible environment.",
                      "parameters": {
                        "name": {
                          "description": "Name of the resource requested. Example:\n`apps\/myapp\/services\/default\/versions\/v1\/instances\/instance-1`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^apps\/[^\/]*\/services\/[^\/]*\/versions\/[^\/]*\/instances\/[^\/]*$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "DebugInstanceRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "id": "appengine.apps.locations.list",
              "path": "v1beta5/{+name}/locations",
              "flatPath": "v1beta5/apps/{appsId}/locations",
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service.",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "pattern": "^apps\/[^\/]*$",
                  "type": "string"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "id": "appengine.apps.locations.get",
              "path": "v1beta5/{+name}",
              "flatPath": "v1beta5/apps/{appsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "description": "Get information about a location.",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "pattern": "^apps\/[^\/]*\/locations\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "basePath": ""
}