{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "cloudresourcemanager:v2alpha1",
  "name": "cloudresourcemanager",
  "canonicalName": "Cloud Resource Manager",
  "version": "v2alpha1",
  "revision": "0",
  "title": "Google Cloud Resource Manager API",
  "description": "The Google Cloud Resource Manager API provides methods for creating, reading, and updating project metadata.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/resource-manager",
  "protocol": "rest",
  "rootUrl": "https://cloudresourcemanager.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://cloudresourcemanager.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "bearer_token": {
      "type": "string",
      "description": "OAuth bearer token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "pp": {
      "type": "boolean",
      "description": "Pretty-print response.",
      "default": "true",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "Folder": {
      "id": "Folder",
      "description": "A Folder in an Organization's resource hierarchy, used to\norganize that Organization's resources.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the Folder.\nIts format is `folders\/{folder_id}`, for example: \"folders\/1234\".",
          "type": "string"
        },
        "parent": {
          "description": "Output only. The Folder\u2019s parent's resource name.\nUpdates to the folder's parent must be performed via [MoveFolders].",
          "type": "string"
        },
        "displayName": {
          "description": "The folder\u2019s display name.\nA folder\u2019s display name must be unique amongst its siblings, e.g.\nno two folders with the same parent can share the same display name.\nThe display name must start and end with a letter or digit, may contain\nletters, digits, spaces, hyphens and underscores and can be no longer\nthan 30 characters. This is captured by the regular expression:\n[\\p{L}\\p{N}]({\\p{L}\\p{N}_- ]{0,28}[\\p{L}\\p{N}])?.",
          "type": "string"
        },
        "lifecycleState": {
          "description": "The lifecycle state of the folder.  Updates to the lifecycle_state must\nbe performed via [DeleteFolder] and [UndeleteFolder].",
          "enumDescriptions": [
            "Unspecified state.",
            "The normal and active state.",
            "The folder has been marked for deletion by the user."
          ],
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED"
          ]
        },
        "createTime": {
          "description": "Output only. Timestamp when the Folder was created. Assigned by the server.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when the Folder was last modified.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListFoldersResponse": {
      "id": "ListFoldersResponse",
      "description": "The ListFolders response message.",
      "type": "object",
      "properties": {
        "folders": {
          "description": "A possibly paginated list of Folders that are direct descendants of\nthe specified parent resource.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to `ListFolders`\nthat indicates from where listing should continue.\nThis field is optional.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations\/some\/unique\/name`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf true, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`\/`Create`\/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https:\/\/github.com\/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` which can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting purpose.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security\/privacy reasons.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "MoveFolderRequest": {
      "id": "MoveFolderRequest",
      "description": "The MoveFolder request message.",
      "type": "object",
      "properties": {
        "destinationParent": {
          "description": "The resource name of the Folder or Organization to reparent\nthe folder under.\nMust be of the form `folders\/{folder_id}` or `organizations\/{org_id}`.",
          "type": "string"
        }
      }
    },
    "UndeleteFolderRequest": {
      "id": "UndeleteFolderRequest",
      "description": "The UndeleteFolder request message.",
      "type": "object",
      "properties": {
      }
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "properties": {
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "Defines an Identity and Access Management (IAM) policy. It is used to\nspecify access control policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`. A `Binding` binds a list of\n`members` to a `role`, where the members can be user accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named list of permissions\ndefined by IAM.\n\n**Example**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles\/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-other-app@appspot.gserviceaccount.com\",\n          ]\n        },\n        {\n          \"role\": \"roles\/viewer\",\n          \"members\": [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\nFor a description of IAM and its features, see the\n[IAM developer's guide](https:\/\/cloud.google.com\/iam).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version of the `Policy`. The default version is 0.",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`.\nMultiple `bindings` must not be specified for the same `role`.\n`bindings` with no members will result in an error.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies audit logging configs for \"data access\".\n\"data access\": generally refers to data reads\/writes and admin reads.\n\"admin activity\": generally refers to admin writes.\n\nNote: `AuditConfig` doesn't apply to \"admin activity\", which always\nenables audit logging.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "rules": {
          "description": "If more than one rule is specified, the rules are applied in the following\nmanner:\n- All matching LOG rules are always applied.\n- If any DENY\/DENY_WITH_LOG rule matches, permission is denied.\n  Logging will be applied if one or more matching rule requires logging.\n- Otherwise, if any ALLOW\/ALLOW_WITH_LOG rule matches, permission is\n  granted.\n  Logging will be applied if one or more matching rule requires logging.\n- Otherwise, if no rule applies, permission is denied.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the existing\npolicy is overwritten blindly.",
          "type": "string",
          "format": "byte"
        },
        "iamOwned": {

          "type": "boolean"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.\nRequired",
          "type": "string"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@gmail.com` or `joe@example.com`.\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `domain:{domain}`: A Google Apps domain name that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Enables \"data access\" audit logging for a service and specifies a list\nof members that are log-exempted.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for \"data access\" audit\nlogging.\nFor example, `resourcemanager`, `storage`, `compute`.\n`allServices` is a special value that covers all services.",
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that are exempted from \"data access\" audit\nlogging for the `service` specified above.\nFollows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Rule": {
      "id": "Rule",
      "description": "A rule to be applied in a Policy.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Human-readable description of the rule.",
          "type": "string"
        },
        "permissions": {
          "description": "A permission is a string of form '<service>.<resource type>.<verb>'\n(e.g., 'storage.buckets.list'). A value of '*' matches all permissions,\nand a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "action": {
          "description": "Required",
          "enumDescriptions": [
            "Default no action.",
            "Matching 'Entries' grant access.",
            "Matching 'Entries' grant access and the caller promises to log\nthe request per the returned log_configs.",
            "Matching 'Entries' deny access.",
            "Matching 'Entries' deny access and the caller promises to log\nthe request per the returned log_configs.",
            "Matching 'Entries' tell IAM.Check callers to generate logs."
          ],
          "type": "string",
          "enum": [
            "NO_ACTION",
            "ALLOW",
            "ALLOW_WITH_LOG",
            "DENY",
            "DENY_WITH_LOG",
            "LOG"
          ]
        },
        "in": {
          "description": "If one or more 'in' clauses are specified, the rule matches if\nthe PRINCIPAL\/AUTHORITY_SELECTOR is in at least one of these entries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notIn": {
          "description": "If one or more 'not_in' clauses are specified, the rule matches\nif the PRINCIPAL\/AUTHORITY_SELECTOR is in none of the entries.\nThe format for in and not_in entries is the same as for members in a\nBinding (see google\/iam\/v1\/policy.proto).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conditions": {
          "description": "Additional restrictions that must be met",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "logConfig": {
          "description": "The config returned to callers of tech.iam.IAM.CheckPolicy for any entries\nthat match the LOG action.",
          "type": "array",
          "items": {
            "$ref": "LogConfig"
          }
        }
      }
    },
    "Condition": {
      "id": "Condition",
      "description": "A condition to be met.",
      "type": "object",
      "properties": {
        "iam": {
          "description": "Trusted attributes supplied by the IAM system.",
          "enumDescriptions": [
            "Default non-attribute.",
            "Either principal or (if present) authority selector.",
            "The principal (even if an authority selector is present), which\nmust only be used for attribution, not authorization.",
            "Any of the security realms in the IAMContext (go\/security-realms).\nWhen used with IN, the condition indicates \"any of the request's realms\nmatch one of the given values; with NOT_IN, \"none of the realms match\nany of the given values\". It is not permitted to grant access based on\nthe *absence* of a realm, so realm conditions can only be used in\na \"positive\" context (e.g., ALLOW\/IN or DENY\/NOT_IN)."
          ],
          "type": "string",
          "enum": [
            "NO_ATTR",
            "AUTHORITY",
            "ATTRIBUTION",
            "SECURITY_REALM"
          ]
        },
        "sys": {
          "description": "Trusted attributes supplied by any service that owns resources and uses\nthe IAM system for access control.",
          "enumDescriptions": [
            "Default non-attribute type",
            "Region of the resource",
            "Service name",
            "Resource name",
            "IP address of the caller"
          ],
          "type": "string",
          "enum": [
            "NO_ATTR",
            "REGION",
            "SERVICE",
            "NAME",
            "IP"
          ]
        },
        "svc": {
          "description": "Trusted attributes discharged by the service.",
          "type": "string"
        },
        "op": {
          "description": "An operator to apply the subject with.",
          "enumDescriptions": [
            "Default no-op.",
            "DEPRECATED. Use IN instead.",
            "DEPRECATED. Use NOT_IN instead.",
            "Set-inclusion check.",
            "Set-exclusion check.",
            "Subject is discharged"
          ],
          "type": "string",
          "enum": [
            "NO_OP",
            "EQUALS",
            "NOT_EQUALS",
            "IN",
            "NOT_IN",
            "DISCHARGED"
          ]
        },
        "value": {
          "description": "DEPRECATED. Use 'values' instead.",
          "type": "string"
        },
        "values": {
          "description": "The objects of the condition. This is mutually exclusive with 'value'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LogConfig": {
      "id": "LogConfig",
      "description": "Specifies what kind of log the caller must write\nIncrement a streamz counter with the specified metric and field names.\n\nMetric names should start with a '\/', generally be lowercase-only,\nand end in \"_count\". Field names should not contain an initial slash.\nThe actual exported metric names will have \"\/iam\/policy\" prepended.\n\nField names correspond to IAM request parameters and field values are\ntheir respective values.\n\nAt present the only supported field names are\n   - \"iam_principal\", corresponding to IAMContext.principal;\n   - \"\" (empty string), resulting in one aggretated counter with no field.\n\nExamples:\n  counter { metric: \"\/debug_access_count\"  field: \"iam_principal\" }\n  ==> increment counter \/iam\/policy\/backend_debug_access_count\n                        {iam_principal=[value of IAMContext.principal]}\n\nAt this time we do not support:\n* multiple field names (though this may be supported in the future)\n* decrementing the counter\n* incrementing it by anything other than 1",
      "type": "object",
      "properties": {
        "counter": {
          "description": "Counter options.",
          "$ref": "CounterOptions"
        },
        "dataAccess": {
          "description": "Data access options.",
          "$ref": "DataAccessOptions"
        },
        "cloudAudit": {
          "description": "Cloud audit options.",
          "$ref": "CloudAuditOptions"
        }
      }
    },
    "CounterOptions": {
      "id": "CounterOptions",
      "description": "Options for counters",
      "type": "object",
      "properties": {
        "metric": {
          "description": "The metric to update.",
          "type": "string"
        },
        "field": {
          "description": "The field value to attribute.",
          "type": "string"
        }
      }
    },
    "DataAccessOptions": {
      "id": "DataAccessOptions",
      "description": "Write a Data Access (Gin) log",
      "type": "object",
      "properties": {
      }
    },
    "CloudAuditOptions": {
      "id": "CloudAuditOptions",
      "description": "Write a Cloud Audit log",
      "type": "object",
      "properties": {
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them.",
          "$ref": "Policy"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SetOrgPolicyRequest": {
      "id": "SetOrgPolicyRequest",
      "description": "The request sent to the SetOrgPolicyRequest method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "Policy to set for on the resource.",
          "$ref": "OrgPolicy"
        }
      }
    },
    "OrgPolicy": {
      "id": "OrgPolicy",
      "description": "Defines a Cloud Organization Policy which is used to specify constraints for\nconfigurations of Cloud Platform resources.",
      "type": "object",
      "properties": {
        "constraint": {
          "description": "The name of the constraint this is an instance of, e.g.\n\"constraints\/appengine.allowedEnvs\".\n\nImmutable after creation.",
          "type": "string"
        },
        "etag": {
          "description": "The current policy tag for concurrency control.",
          "type": "string",
          "format": "byte"
        },
        "whitelistPolicy": {
          "description": "For whitelist constraints, the values that are whitelisted.",
          "$ref": "ListPolicy"
        },
        "blacklistPolicy": {
          "description": "For blacklist constraints, the values that are blacklisted.",
          "$ref": "ListPolicy"
        },
        "booleanPolicy": {
          "description": "For boolean constraints, whether to enforce the constraint or not.",
          "$ref": "BooleanPolicy"
        },
        "restoreDefault": {
          "description": "Restores the default behavior of the constraint; independent of\nconstraint type.",
          "$ref": "RestoreDefault"
        }
      }
    },
    "ListPolicy": {
      "id": "ListPolicy",
      "description": "Used in policy_type to specify how both whitelist_policy and\nblacklist_policy behave at this resource.",
      "type": "object",
      "properties": {
        "values": {
          "description": "List of values allowed (or disallowed for blacklists) at this node.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "all": {
          "description": "If true, this Policy restricts all values. For whitelists, setting this\nmeans that any value is in the whitelist (any value is permitted). For\nblacklists, setting this blacklists all values (no value is permitted).\n\nIf all is True then values field above is ignored. If all is False then\nthe restrictions set in values are applied.",
          "type": "boolean"
        },
        "suggestedValue": {
          "description": "Optional. The UI will try to default to a configuration that matches the\nvalue specified in this Policy.",
          "type": "string"
        },
        "inheritFromParent": {
          "description": "If False, terminates recursive evaluation of the effective policy at\nthe node this constraint is applied to.\n\nIf no restriction is applied with this field being set to False,\nthe effective restriction at this node is the no_policy_default for\nthis Constraint. For example, suppose you have a constraint for\nallowed_vms which is a ListRestriction with blacklist = false (i.e. it\nis a whitelist) with a no_policy_default of true. Then suppose that at\nthe org level a Policy is applied that restricts images to {\u2018I1\u2019, \u2018I2\u2019}.\nThen, if a Policy is applied to a project below that org that has\ninherit_from_parent set to False and an empty restriction list, a call\nto CheckPolicySetting will results in is_valid_value being\nunconditionally True.",
          "type": "boolean"
        }
      }
    },
    "BooleanPolicy": {
      "id": "BooleanPolicy",
      "description": "Used in policy_type to specify how boolean_policy will behave at this\nresource.",
      "type": "object",
      "properties": {
        "value": {
          "description": "If true, then the policy is enforced. If false, then any configuration is\nacceptable.\n\nTake for example a constraint 'requirePrivateIps' that requires that all\nip addresses attached to a vm instance are private (i.e. the vm is not\npublicly addressable). Setting the value field to true would cause\nthe system to enforce the constraint, while setting it to false would\nallow the association of any addresses with the instance.",
          "type": "boolean"
        },
        "suggestedValue": {
          "description": "Optional. If the constraint applies to a UI element, this field will\ndetermine how it is initially set. This can be used as a\nhint from the org on the prefered way to configure resources.\n\nFor example, if constraint has default_open set to true, the organization\nmay choose not to enforce the constraint at a lower level, but have the\npreferred choice preselected in the configuration ui.  By setting the\nsuggested_value field (without setting the value field to true) a\npolicy administrator can achieve that.",
          "type": "boolean"
        }
      }
    },
    "RestoreDefault": {
      "id": "RestoreDefault",
      "description": "Ignores policies set above this resource and restores the 'default_open'\nnature of the specific Constraint at this resource.\n\nFor example, suppose that default_open is set to true on GAE's allowedEnvs\nconstraint.  Suppose that organization foo.com sets an org level policy\nthat restricts all their app engine apps to be in the standard environment.\nLets also say that foo.com has several projects that are experimental for\nwhich they want to allow the default behvior.  For each of these projects,\nfoo.com would set a policy with policy_type having the restore_default\nmessage set (thus allowing all envs for apps bellow these projects).",
      "type": "object",
      "properties": {
      }
    },
    "GetOrgPolicyRequest": {
      "id": "GetOrgPolicyRequest",
      "description": "The request sent to the GetOrgPolicy method.",
      "type": "object",
      "properties": {
        "constraint": {
          "description": "Name of the Constraint to get the Policy for.",
          "type": "string"
        }
      }
    },
    "GetEffectiveOrgPolicyRequest": {
      "id": "GetEffectiveOrgPolicyRequest",
      "description": "The request sent to the GetEffectiveOrgPolicy method.",
      "type": "object",
      "properties": {
        "constraint": {
          "description": "The name of the Constraint to compute the effective policy for.",
          "type": "string"
        }
      }
    },
    "ClearOrgPolicyRequest": {
      "id": "ClearOrgPolicyRequest",
      "description": "The request sent to the ClearOrgPolicy method.",
      "type": "object",
      "properties": {
        "constraint": {
          "description": "Name of the Constraint of the Policy to delete.",
          "type": "string"
        },
        "etag": {
          "description": "The current version, for concurrency control. Not sending an etag\nwill force the deletion.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "ProjectCreationStatus": {
      "id": "ProjectCreationStatus",
      "description": "A status object which is used as the `metadata` field for the Operation\nreturned by CreateProject. It provides insight for when significant phases of\nProject creation have completed.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Creation time of the project creation workflow.",
          "type": "string",
          "format": "google-datetime"
        },
        "gettable": {
          "description": "True if the project can be retrieved using GetProject. No other operations\non the project are guaranteed to work until the project creation is\ncomplete.",
          "type": "boolean"
        },
        "ready": {
          "description": "True if the project creation process is complete.",
          "type": "boolean"
        }
      }
    },
    "FolderOperation": {
      "id": "FolderOperation",
      "description": "Metadata describing a long running folder operation",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the folder.",
          "type": "string"
        },
        "operationType": {
          "description": "The type of this operation.",
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ]
        },
        "sourceParent": {
          "description": "The resource name of the folder's parent.\nOnly applicable when the operation_type is MOVE.",
          "type": "string"
        },
        "destinationParent": {
          "description": "The resource name of the folder or organization we are either creating\nthe folder under or moving the folder to.",
          "type": "string"
        }
      }
    },
    "FolderOperationError": {
      "id": "FolderOperationError",
      "description": "A classification of the Folder Operation error.",
      "type": "object",
      "properties": {
        "errorMessageId": {
          "description": "The type of operation error experienced.",
          "enumDescriptions": [
            "The error type was unrecognized or unspecified.",
            "The attempted action would violate the max folder depth constraint.",
            "The attempted action would violate the max child folders constraint.",
            "The attempted action would violate the locally-unique folder\ndisplay_name constraint.",
            "The resource being moved has been deleted.",
            "The resource a folder was being added to has been deleted.",
            "The attempted action would introduce cycle in resource path.",
            "The attempted action would move a folder that is already being moved.",
            "The folder the caller is trying to delete contains active resources."
          ],
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FOLDER_HEIGHT_VIOLATION",
            "MAX_CHILD_FOLDERS_VIOLATION",
            "FOLDER_NAME_UNIQUENESS_VIOLATION",
            "RESOURCE_DELETED",
            "PARENT_DELETED",
            "CYCLE_INTRODUCED_ERROR",
            "FOLDER_ALREADY_BEING_MOVED",
            "FOLDER_TO_DELETE_NON_EMPTY"
          ]
        }
      }
    }
  },
  "resources": {
    "folders": {
      "methods": {
        "get": {
          "id": "cloudresourcemanager.folders.get",
          "path": "v2alpha1/folders/{foldersId}",
          "flatPath": "v2alpha1/folders/{foldersId}",
          "httpMethod": "GET",
          "description": "Retrieves a Folder identified by the supplied resource name.\nValid Folder resource names have the format `folders\/{folder_id}`\n(for example, `folders\/1234`).\nThe caller must have `resourcemanager.folders.get` permission on the\nidentified folder.",
          "parameters": {
            "foldersId": {
              "description": "Part of `name`. The resource name of the Folder to retrieve.\nMust be of the form `folders\/{folder_id}`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "foldersId"
          ],
          "response": {
            "$ref": "Folder"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "list": {
          "id": "cloudresourcemanager.folders.list",
          "path": "v2alpha1/folders",
          "flatPath": "v2alpha1/folders",
          "httpMethod": "GET",
          "description": "Lists the Folders that are direct descendants of supplied parent resource.\nList provides a strongly consistent view of the Folders underneath\nthe specified parent resource.\nList returns Folders sorted based upon the (ascending) lexical ordering\nof their display_name.\nThe caller must have `resourcemanager.folders.list` permission on the\nidentified parent.",
          "parameters": {
            "parent": {
              "description": "The resource name of the Organization or Folder whose Folders are\nbeing listed.\nMust be of the form `folders\/{folder_id}` or `organizations\/{org_id}`.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of Folders to return in the response.\nThis field is optional.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "A pagination token returned from a previous call to `ListFolders`\nthat indicates where this listing should continue from.\nThis field is optional.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "description": "Controls whether Folders in the [DELETE_REQUESTED} state should\nbe returned.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
          ],
          "response": {
            "$ref": "ListFoldersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "create": {
          "id": "cloudresourcemanager.folders.create",
          "path": "v2alpha1/folders",
          "flatPath": "v2alpha1/folders",
          "httpMethod": "POST",
          "description": "Creates a Folder in the resource hierarchy.\nReturns an Operation which can be used to track the progress of the\nfolder creation workflow.\nUpon success the Operation.response field will be populated with the\ncreated Folder.\nUpon failure, a FolderOperationError categorizing the failure cause will\nbe returned - if the failure occurs synchronously then the\nFolderOperationError will be returned via the Status.details field\nand if it occurs asynchronously then the FolderOperation will be returned\nvia the the Operation.error field.\nIn addition, the Operation.metadata field will be populated with a\nFolderOperation message as an aid to stateless clients.\n\nIn order to succeed, the addition of this new Folder must not violate\nthe Folder naming, height or fanout constraints.\n+ The Folder's display_name must be distinct from all other Folder's that\nshare its parent.\n+ The addition of the Folder must not cause the Folder hierarchy to exceed\na height of 4.\n+ The addition of the Folder must not cause the total number of Folders\nunder its parent to exceed 100.\nThe caller must have `resourcemanager.folders.create` permission on the\nidentified parent.",
          "parameters": {
            "parent": {
              "description": "The resource name of the new Folder's parent.\nMust be of the form `folders\/{folder_id}` or `organizations\/{org_id}`.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
          ],
          "request": {
            "$ref": "Folder"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "update": {
          "id": "cloudresourcemanager.folders.update",
          "path": "v2alpha1/folders/{foldersId}",
          "flatPath": "v2alpha1/folders/{foldersId}",
          "httpMethod": "PUT",
          "description": "Updates a Folder, changing its display_name.\nChanges to the folder display_name will be rejected if they violate either\nthe display_name formatting rules or naming constraints described in\nthe [CreateFolder] documentation.\n+ The Folder's display name must start and end with a letter or digit,\nmay contain letters, digits, spaces, hyphens and underscores and can be\nno longer than 30 characters. This is captured by the regular expression:\n[\\p{L}\\p{N}]({\\p{L}\\p{N}_- ]{0,28}[\\p{L}\\p{N}])?.\nThe caller must have `resourcemanager.folders.update` permission on the\nidentified folder.",
          "parameters": {
            "foldersId": {
              "description": "Part of `folder.name`. Output only. The resource name of the Folder.\nIts format is `folders\/{folder_id}`, for example: \"folders\/1234\".",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "foldersId"
          ],
          "request": {
            "$ref": "Folder"
          },
          "response": {
            "$ref": "Folder"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "move": {
          "id": "cloudresourcemanager.folders.move",
          "path": "v2alpha1/folders/{foldersId}:move",
          "flatPath": "v2alpha1/folders/{foldersId}:move",
          "httpMethod": "POST",
          "description": "Moves a Folder under a new resource parent.\nReturns an Operation which can be used to track the progress of the\nfolder move workflow.\nUpon success the Operation.response field will be populated with the\nmoved Folder.\nUpon failure, a FolderOperationError categorizing the failure cause will\nbe returned - if the failure occurs synchronously then the\nFolderOperationError will be returned via the Status.details field\nand if it occurs asynchronously then the FolderOperation will be returned\nvia the the Operation.error field.\nIn addition, the Operation.metadata field will be populated with a\nFolderOperation message as an aid to stateless clients.\nFolder moves will be rejected if they violate either the naming, height\nor fanout constraints described in the [CreateFolder] documentation.\nThe caller must have `resourcemanager.folders.move` permission on the\nfolder's current and proposed new parent.",
          "parameters": {
            "foldersId": {
              "description": "Part of `name`. The resource name of the Folder to move.\nMust be of the form folders\/{folder_id}",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "foldersId"
          ],
          "request": {
            "$ref": "MoveFolderRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "delete": {
          "id": "cloudresourcemanager.folders.delete",
          "path": "v2alpha1/folders/{foldersId}",
          "flatPath": "v2alpha1/folders/{foldersId}",
          "httpMethod": "DELETE",
          "description": "Requests deletion of a Folder. The Folder is moved into the\n[DELETE_REQUESTED] state immediately, and is deleted approximately 30 days\nlater. This method may only be called on an empty Folder in the [ACTIVE]\nstate, where a Folder is empty if it doesn't contain any Folders or\nProjects in the [ACTIVE] state.\nThe caller must have `resourcemanager.folders.delete` permission on the\nidentified folder.",
          "parameters": {
            "foldersId": {
              "description": "Part of `name`. the resource name of the Folder to be deleted.\nMust be of the form `folders\/{folder_id}`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "foldersId"
          ],
          "response": {
            "$ref": "Folder"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "undelete": {
          "id": "cloudresourcemanager.folders.undelete",
          "path": "v2alpha1/folders/{foldersId}:undelete",
          "flatPath": "v2alpha1/folders/{foldersId}:undelete",
          "httpMethod": "POST",
          "description": "Cancels the deletion request for a Folder. This method may only be\ncalled on a Folder in the [DELETE_REQUESTED] state.\nIn order to succeed, the Folder's parent must be in the [ACTIVE] state.\nIn addition, reintroducing the folder into the tree must not violate\nfolder naming, height and fanout constraints described in the\n[CreateFolder] documentation.\nThe caller must have `resourcemanager.folders.undelete` permission on the\nidentified folder.",
          "parameters": {
            "foldersId": {
              "description": "Part of `name`. The resource name of the Folder to undelete.\nMust be of the form `folders\/{folder_id}`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "foldersId"
          ],
          "request": {
            "$ref": "UndeleteFolderRequest"
          },
          "response": {
            "$ref": "Folder"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getIamPolicy": {
          "id": "cloudresourcemanager.folders.getIamPolicy",
          "path": "v2alpha1/folders/{foldersId}:getIamPolicy",
          "flatPath": "v2alpha1/folders/{foldersId}:getIamPolicy",
          "httpMethod": "POST",
          "description": "Gets the access control policy for a Folder. The returned policy may be\nempty if no such policy or resource exists. The `resource` field should\nbe the Folder's resource name, e.g. \"folders\/1234\".\nThe caller must have `resourcemanager.folders.getIamPolicy` permission\non the identified folder.",
          "parameters": {
            "foldersId": {
              "description": "Part of `resource`. REQUIRED: The resource for which the policy is being requested.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects\/{project}`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "foldersId"
          ],
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "setIamPolicy": {
          "id": "cloudresourcemanager.folders.setIamPolicy",
          "path": "v2alpha1/folders/{foldersId}:setIamPolicy",
          "flatPath": "v2alpha1/folders/{foldersId}:setIamPolicy",
          "httpMethod": "POST",
          "description": "Sets the access control policy on a Folder, replacing any existing policy.\nThe `resource` field should be the Folder's resource name, e.g.\n\"folders\/1234\".\nThe caller must have `resourcemanager.folders.setIamPolicy` permission\non the identified folder.",
          "parameters": {
            "foldersId": {
              "description": "Part of `resource`. REQUIRED: The resource for which the policy is being specified.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects\/{project}`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "foldersId"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "testIamPermissions": {
          "id": "cloudresourcemanager.folders.testIamPermissions",
          "path": "v2alpha1/folders/{foldersId}:testIamPermissions",
          "flatPath": "v2alpha1/folders/{foldersId}:testIamPermissions",
          "httpMethod": "POST",
          "description": "Returns permissions that a caller has on the specified Folder.\nThe `resource` field should be the Folder's resource name,\ne.g. \"folders\/1234\".",
          "parameters": {
            "foldersId": {
              "description": "Part of `resource`. REQUIRED: The resource for which the policy detail is being requested.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects\/{project}`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "foldersId"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setOrgPolicy": {
          "id": "cloudresourcemanager.folders.setOrgPolicy",
          "path": "v2alpha1/folders/{foldersId}:setOrgPolicy",
          "flatPath": "v2alpha1/folders/{foldersId}:setOrgPolicy",
          "httpMethod": "POST",
          "description": "Updates the Org policy on the folder, creating a new Org Policy\nresource for that Constraint on the folder if one does not exist.\n\nNot supplying an etag on the request Org Policy results in an\nunconditional write of the Policy.",
          "parameters": {
            "foldersId": {
              "description": "Part of `resource`. resource name of the resource to attach the Policy to.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "foldersId"
          ],
          "request": {
            "$ref": "SetOrgPolicyRequest"
          },
          "response": {
            "$ref": "OrgPolicy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getOrgPolicy": {
          "id": "cloudresourcemanager.folders.getOrgPolicy",
          "path": "v2alpha1/folders/{foldersId}:getOrgPolicy",
          "flatPath": "v2alpha1/folders/{foldersId}:getOrgPolicy",
          "httpMethod": "POST",
          "description": "Get an Org Policy on a particular folder. If no Org Policy has been\nset at this folder then an empty Policy with a sentinel etag is returned;\nthis can be used with SetOrgPolicy to create an Org Policy on the\nfolder.",
          "parameters": {
            "foldersId": {
              "description": "Part of `resource`. Name of the resource the Policy is set on.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "foldersId"
          ],
          "request": {
            "$ref": "GetOrgPolicyRequest"
          },
          "response": {
            "$ref": "OrgPolicy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "getEffectiveOrgPolicy": {
          "id": "cloudresourcemanager.folders.getEffectiveOrgPolicy",
          "path": "v2alpha1/folders/{foldersId}:getEffectiveOrgPolicy",
          "flatPath": "v2alpha1/folders/{foldersId}:getEffectiveOrgPolicy",
          "httpMethod": "POST",
          "description": "Get the effective Org Policy on a particular folder. This is the result\nof merging Org Policies set up the resource hierarchy. The returned Org\nPolicy will not have an etag set because it is a computed Policy across\nmany resources.",
          "parameters": {
            "foldersId": {
              "description": "Part of `resource`. The name of the resource to start computing the effective policy at.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "foldersId"
          ],
          "request": {
            "$ref": "GetEffectiveOrgPolicyRequest"
          },
          "response": {
            "$ref": "OrgPolicy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "clearOrgPolicy": {
          "id": "cloudresourcemanager.folders.clearOrgPolicy",
          "path": "v2alpha1/folders/{foldersId}:clearOrgPolicy",
          "flatPath": "v2alpha1/folders/{foldersId}:clearOrgPolicy",
          "httpMethod": "POST",
          "description": "Remove an Org Policy from a folder.",
          "parameters": {
            "foldersId": {
              "description": "Part of `resource`. Name of the Policy to delete.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "foldersId"
          ],
          "request": {
            "$ref": "ClearOrgPolicyRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "basePath": ""
}