{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "cloudtrace:v2beta1",
  "name": "cloudtrace",
  "canonicalName": "Cloud Trace",
  "version": "v2beta1",
  "revision": "0",
  "title": "Cloud Trace API",
  "description": "Sends application trace data to Cloud Trace for viewing. Trace data is collected for all App Engine applications by default. Trace data from other applications can be provided using this API. This library is used to interact with the Cloud Trace API directly. If you are looking to instrument your application for Cloud Trace, we recommend using OpenTelemetry. ",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/trace",
  "protocol": "rest",
  "rootUrl": "https://cloudtrace.googleapis.com/",
  "mtlsRootUrl": "https://cloudtrace.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://cloudtrace.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/trace.append": {
          "description": "Write Trace data for a project or application"
        },
        "https://www.googleapis.com/auth/trace.readonly": {
          "description": "Read Trace data for a project or application"
        }
      }
    }
  },
  "schemas": {
    "ListTraceSinksResponse": {
      "id": "ListTraceSinksResponse",
      "description": "Result returned from `ListTraceSinks`.",
      "type": "object",
      "properties": {
        "sinks": {
          "description": "A list of sinks.",
          "type": "array",
          "items": {
            "$ref": "TraceSink"
          }
        },
        "nextPageToken": {
          "description": "A paginated response where more pages might be available has `next_page_token` set. To get the next set of results, call the same method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "TraceSink": {
      "id": "TraceSink",
      "description": "Describes a sink used to export traces to a BigQuery dataset. The sink must be created within a project.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The canonical sink resource name, unique within the project. Must be of the form: projects\/[PROJECT_NUMBER]\/traceSinks\/[SINK_ID]. E.g.: `\"projects\/12345\/traceSinks\/my-project-trace-sink\"`. Sink identifiers are limited to 256 characters and can include only the following characters: upper and lower-case alphanumeric characters, underscores, hyphens, and periods.",
          "type": "string"
        },
        "outputConfig": {
          "description": "Required. The export destination.",
          "$ref": "OutputConfig"
        },
        "writerIdentity": {
          "description": "Output only. A service account name for exporting the data. This field is set by sinks.create and sinks.update. The service account will need to be granted write access to the destination specified in the output configuration, see [Granting access for a resource](\/iam\/docs\/granting-roles-to-service-accounts#granting_access_to_a_service_account_for_a_resource). To create tables and to write data, this account needs the `dataEditor` role. Read more about roles in the [BigQuery documentation](https:\/\/cloud.google.com\/bigquery\/docs\/access-control). E.g.: \"service-00000001@00000002.iam.gserviceaccount.com\"",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "OutputConfig": {
      "id": "OutputConfig",
      "description": "OutputConfig contains a destination for writing trace data.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "The destination for writing trace data. Supported formats include: \"bigquery.googleapis.com\/projects\/[PROJECT_ID]\/datasets\/[DATASET]\"",
          "type": "string"
        },
        "bigqueryConfig": {
          "description": "Optional. Additional options governing the export behavior when the selected destination is a BigQuery dataset.",
          "$ref": "BigQueryOutputConfig"
        },
        "pubsubConfig": {
          "description": "Optional. Additional options governing the export behavior when the selected destination is a Pub\/Sub queue.",
          "$ref": "PubsubOutputConfig"
        }
      }
    },
    "BigQueryOutputConfig": {
      "id": "BigQueryOutputConfig",
      "description": "Configuration for the output that is specific to BigQuery when choosing a BigQuery dataset as the output destination.",
      "type": "object",
      "properties": {
        "variant": {
          "description": "Schema variant that should be used when exporting data to BigQuery.",
          "type": "string",
          "enumDescriptions": [
            "(Input only) sentinel indicating that the API should choose automatically. On create, a value will be selected and persisted. Subsequent reads from the API will return a non-default value indicating what was selected.",
            "Export data with all attributes and label keys of the span expanded as columns dynamically, and each span as a row. The attribute\/label columns are assigned their associated values in that row. We recommend this mode of operation when the number of unique label keys are relatively small and stable, as it provides a simpler, more convenient query experience.",
            "Export data as condensed, json-formatted columns. Choose this mode when unique label keys have high cardinality and\/or change frequently. This schema variant is more scalable and lacks the potential issue of reaching the maximum column limit in BigQuery. At the same time, this variant is more difficult to query compared with `FIELDS_EXPANDED_AS_COLUMNS` mode, often requiring the use of BigQuery JSON functions (https:\/\/cloud.google.com\/bigquery\/docs\/reference\/standard-sql\/json_functions) in order to extract particular labels and use them in queries."
          ],
          "enum": [
            "SCHEMA_VARIANT_UNSPECIFIED",
            "FIELDS_EXPANDED_AS_COLUMNS",
            "CONDENSED_STATIC_JSON"
          ]
        }
      }
    },
    "PubsubOutputConfig": {
      "id": "PubsubOutputConfig",
      "description": "Configuration for the output that is specific to Pub\/Sub when choosing a Pub\/Sub queue as the output destination.",
      "type": "object",
      "properties": {
        "openTelemetryFormat": {
          "description": "open_telemetry_format contains additional information needed to convert Cloud Trace data.",
          "$ref": "OpenTelemetryFormat"
        }
      }
    },
    "OpenTelemetryFormat": {
      "id": "OpenTelemetryFormat",
      "description": "OpenTelemetryFormat contains metadata to help convert Cloud Trace trace format to OpenTelemetry trace format.",
      "type": "object",
      "properties": {
        "version": {
          "description": "OpenTelemetry format defined by https:\/\/github.com\/open-telemetry\/opentelemetry-proto\/blob\/main\/opentelemetry\/proto\/collector\/trace\/v1\/trace_service.proto Version of the OpenTelemetry schema as it appears in the defining proto package. Currently, only \"v1\" is supported, but support for more version may added in the future.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "traceSinks": {
          "methods": {
            "list": {
              "id": "cloudtrace.projects.traceSinks.list",
              "path": "v2beta1/{+parent}/traceSinks",
              "flatPath": "v2beta1/projects/{projectsId}/traceSinks",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource whose sinks are to be listed (currently only project parent resources are supported): \"projects\/[PROJECT_ID]\"",
                  "pattern": "^projects\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListTraceSinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.readonly"
              ],
              "description": "List all sinks for the parent resource (GCP project)."
            },
            "get": {
              "id": "cloudtrace.projects.traceSinks.get",
              "path": "v2beta1/{+name}",
              "flatPath": "v2beta1/projects/{projectsId}/traceSinks/{traceSinksId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the sink: \"projects\/[PROJECT_NUMBER]\/traceSinks\/[SINK_ID]\" Example: `\"projects\/12345\/traceSinks\/my-sink-id\"`.",
                  "pattern": "^projects\/[^\/]+\/traceSinks\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "TraceSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.readonly"
              ],
              "description": "Get a trace sink by name under the parent resource (GCP project)."
            },
            "create": {
              "id": "cloudtrace.projects.traceSinks.create",
              "path": "v2beta1/{+parent}/traceSinks",
              "flatPath": "v2beta1/projects/{projectsId}/traceSinks",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The resource in which to create the sink (currently only project sinks are supported): \"projects\/[PROJECT_ID]\" Examples: `\"projects\/my-trace-project\"`, `\"projects\/123456789\"`.",
                  "pattern": "^projects\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "TraceSink"
              },
              "response": {
                "$ref": "TraceSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.append"
              ],
              "description": "Creates a sink that exports trace spans to a destination. The export of newly-ingested traces begins immediately, unless the sink's `writer_identity` is not permitted to write to the destination. A sink can export traces only from the resource owning the sink (the 'parent')."
            },
            "patch": {
              "id": "cloudtrace.projects.traceSinks.patch",
              "path": "v2beta1/{+name}",
              "flatPath": "v2beta1/projects/{projectsId}/traceSinks/{traceSinksId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Required. The full resource name of the sink to update, including the parent resource and the sink identifier: \"projects\/[PROJECT_NUMBER]\/traceSinks\/[SINK_ID]\" Example: `\"projects\/12345\/traceSinks\/my-sink-id\"`.",
                  "pattern": "^projects\/[^\/]+\/traceSinks\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. Field mask that specifies the fields in `trace_sink` that are to be updated. A sink field is overwritten if, and only if, it is in the update mask. `name` and `writer_identity` fields cannot be updated. An empty `update_mask` is considered an error. For a detailed `FieldMask` definition, see https:\/\/developers.google.com\/protocol-buffers\/docs\/reference\/google.protobuf#fieldmask Example: `updateMask=output_config`.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "TraceSink"
              },
              "response": {
                "$ref": "TraceSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.append"
              ],
              "description": "Updates a sink. This method updates fields in the existing sink according to the provided update mask. The sink's name cannot be changed nor any output-only fields (e.g. the writer_identity)."
            },
            "delete": {
              "id": "cloudtrace.projects.traceSinks.delete",
              "path": "v2beta1/{+name}",
              "flatPath": "v2beta1/projects/{projectsId}/traceSinks/{traceSinksId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The full resource name of the sink to delete, including the parent resource and the sink identifier: \"projects\/[PROJECT_NUMBER]\/traceSinks\/[SINK_ID]\" Example: `\"projects\/12345\/traceSinks\/my-sink-id\"`.",
                  "pattern": "^projects\/[^\/]+\/traceSinks\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.append"
              ],
              "description": "Deletes a sink."
            }
          }
        }
      }
    }
  },
  "basePath": ""
}