{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "cloudscheduler:v1beta1",
  "name": "cloudscheduler",
  "canonicalName": "Cloud Scheduler",
  "version": "v1beta1",
  "revision": "0",
  "title": "Cloud Scheduler API",
  "description": "Creates and manages jobs run on a regular recurring schedule.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/cloud-scheduler/",
  "protocol": "rest",
  "rootUrl": "https://cloudscheduler.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://cloudscheduler.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "bearer_token": {
      "type": "string",
      "description": "OAuth bearer token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "pp": {
      "type": "boolean",
      "description": "Pretty-print response.",
      "default": "true",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations.\nFor example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given\nlocation.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "description": "Response message for listing jobs using CloudScheduler.ListJobs.",
      "type": "object",
      "properties": {
        "jobs": {
          "description": "The list of jobs.",
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the\nListJobsRequest.page_token field in the subsequent call to\nJobQueues.ListJobs to retrieve the next page of results.\nIf this is empty it indicates that there are no more results\nthrough which to paginate.\n\nFor JSON requests, the value of this field must be\nbase64-encoded.\n\nThe page token is valid for only 2 hours.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Job": {
      "id": "Job",
      "description": "Configuration for a job.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The job name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/jobs\/JOB_ID`.\n\nCaller-specified in CreateJobRequest, after which it becomes\noutput only.",
          "type": "string"
        },
        "pubsubTarget": {
          "description": "Pub\/Sub target.",
          "$ref": "PubsubTarget"
        },
        "appEngineHttpTarget": {
          "description": "App Engine Http target.",
          "$ref": "AppEngineHttpTarget"
        },
        "schedule": {
          "description": "Specifies a schedule of start times. This can be used to\nspecify more complicated, and time-zone-aware schedules than is\npossible using only Job.period.\n\nA scheduled start time will be skipped if the previous\nexecution has not ended when its scheduled time occurs.\n\nIf RetryConfig.retry_count > 0 and a job attempt fails,\nthe job will be a total of tried RetryConfig.retry_count\ntimes, with exponential backoff, until the next scheduled start\ntime.",
          "$ref": "Schedule"
        },
        "userUpdateTime": {
          "description": "Output only.\n\nThe time of the last user update to the job, or the creation\ntime if there have been no updates.",
          "type": "string",
          "format": "google-datetime"
        },
        "jobState": {
          "description": "Output only.\n\nState of the job. For example: running, paused, or disabled.",
          "enumDescriptions": [
            "Unspecified state.",
            "The job is executing normally.",
            "The job is paused by the user. It will not execute. A user can\nintentionally pause the job using\nCloudScheduler.PauseJobRequest."
          ],
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "ENABLED",
            "PAUSED"
          ]
        }
      }
    },
    "PubsubTarget": {
      "id": "PubsubTarget",
      "description": "Pub\/Sub target. Jobs will be delivered by publishing a message to\nthe given Pub\/Sub topic.",
      "type": "object",
      "properties": {
        "topicName": {
          "description": "Required.\n\nThe name of the Cloud Pub\/Sub topic to which messages will\nbe published when a job is delivered. The topic name must be in the\nsame format as required by PubSub's\n[PublishRequest.name](https:\/\/cloud.google.com\/pubsub\/docs\/reference\/rpc\/google.pubsub.v1#publishrequest),\nfor example `projects\/PROJECT_ID\/topics\/TOPIC_ID`.\n\nThe topic must be in the same project as the Cloud Scheduler job.",
          "type": "string"
        },
        "pubsubMessage": {
          "description": "Required.\n\nThis pubsub message is sent when the job is attempted.\n\n`pubsub_message` should be a google.pubsub.v1.PubsubMessage.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "AppEngineHttpTarget": {
      "id": "AppEngineHttpTarget",
      "description": "App Engine target. The job will be pushed to a job handler by means\nof an HTTP request via an AppEngineHttpTarget.http_method such as\nHTTP POST, HTTP GET, etc. The job is acknowledged by means of an\nHTTP response code in the range [200 - 299]. Error 503 is\nconsidered an App Engine system error instead of an application\nerror. Requests returning error 503 will be retried regardless of\nretry configuration and not counted against retry counts. Any other\nresponse code, or a failure to receive a response before the\ndeadline, constitutes a failed execution.",
      "type": "object",
      "properties": {
        "httpMethod": {
          "description": "The HTTP method to use for the request. The default is POST.",
          "enumDescriptions": [
            "HTTP method unspecified",
            "HTTP Post",
            "HTTP Get",
            "HTTP Head",
            "HTTP Put",
            "HTTP Delete"
          ],
          "type": "string",
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE"
          ]
        },
        "appEngineRouting": {
          "description": "App Engine Routing setting for the job.",
          "$ref": "AppEngineRouting"
        },
        "relativeUrl": {
          "description": "The relative URL.\n\nThe relative URL must begin with \"\/\" and must be a valid HTTP relative URL.\nIt can contain a path, query string arguments, and `#` fragments.\nIf the relative URL is empty, then the root path \"\/\" will be used.\nNo spaces are allowed, and the maximum length allowed is 2083 characters.",
          "type": "string"
        },
        "headers": {
          "description": "HTTP request headers.\n\nThis map contains the header field names and values. Headers can be set\nwhen the job is created.\n\nCloud Scheduler sets some headers to default values:\n\n* `User-Agent`: By default, this header is\n  `\"AppEngine-Google; (+http:\/\/code.google.com\/appengine)\"`.\n  This header can be modified, but Cloud Scheduler will append\n  `\"AppEngine-Google; (+http:\/\/code.google.com\/appengine)\"` to the\n  modified `User-Agent`.\n\nIf the job has an AppEngineHttpTarget.payload, Cloud Scheduler sets the\nfollowing headers:\n\n* `Content-Type`: By default, the `Content-Type` header is set to\n  `\"application\/octet-stream\"`. The default can be overridden by explictly\n  setting `Content-Type` to a particular media type when the job is\n  created.\n  For example, `Content-Type` can be set to `\"application\/json\"`.\n* `Content-Length`: This is computed by Cloud Scheduler. This value is\n  output only. It cannot be changed.\n\nThe headers below are output only. They cannot be set or overridden:\n\n* `X-Google-*`: For Google internal use only.\n* `X-AppEngine-*`: For Google internal use only. See\n  [Reading request\n  headers](\/appengine\/docs\/python\/taskqueue\/push\/creating-handlers#reading_request_headers).\n\nIn addition, some App Engine headers, which contain\njob-specific information, are also be sent to the job handler; see\n[request headers](\/appengine\/docs\/python\/taskqueue\/push\/creating-handlers#reading_request_headers).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "payload": {
          "description": "Payload.\n\nThe payload will be sent as the HTTP message body. A message\nbody, and thus a payload, is allowed only if the HTTP method is\nPOST or PUT. It is an error to set a data payload on a job with\nan incompatible HttpMethod.",
          "type": "string",
          "format": "byte"
        },
        "retryConfig": {
          "description": "Settings that determine the retry behavior.",
          "$ref": "RetryConfig"
        }
      }
    },
    "AppEngineRouting": {
      "id": "AppEngineRouting",
      "description": "App Engine Routing.\n\nFor more information about services, versions, and instances see\n[An Overview of App\nEngine](\/appengine\/docs\/python\/an-overview-of-app-engine), [Microservices\nArchitecture on Google App\nEngine](\/appengine\/docs\/python\/microservices-on-app-engine), [App Engine\nStandard request\nrouting](\/appengine\/docs\/standard\/python\/how-requests-are-routed), and [App\nEngine Flex request\nrouting](\/appengine\/docs\/flexible\/python\/how-requests-are-routed).",
      "type": "object",
      "properties": {
        "service": {
          "description": "App service.\n\nBy default, the job is sent to the service which is the default\nservice when the job is attempted (\"default\").",
          "type": "string"
        },
        "version": {
          "description": "App version.\n\nBy default, the job is sent to the version which is the default\nversion when the job is attempted (\"default\").",
          "type": "string"
        },
        "instance": {
          "description": "App instance.\n\nBy default, the job is sent to an instance which is available when\nthe job is attempted.\n\nRequests can only be sent to a specific instance if\n[manual scaling is used in App Engine\nStandard](\/appengine\/docs\/python\/an-overview-of-app-engine?hl=en_US#scaling_types_and_instance_classes).\nApp Engine Flex does not support instances. For more information, see\n[App Engine Standard request\nrouting](\/appengine\/docs\/standard\/python\/how-requests-are-routed) and [App\nEngine Flex request\nrouting](\/appengine\/docs\/flexible\/python\/how-requests-are-routed).",
          "type": "string"
        },
        "host": {
          "description": "Output only.\n\nThe host that the job is sent to. For more information about how App\nEngine requests are routed, see\n[here](\/appengine\/docs\/standard\/python\/how-requests-are-routed).\n\nThe host is constructed as:\n\n\n* `host = [application_domain_name]`<\/br>\n  `| [service] + '.' + [application_domain_name]`<\/br>\n  `| [version] + '.' + [application_domain_name]`<\/br>\n  `| [version_dot_service]+ '.' + [application_domain_name]`<\/br>\n  `| [instance] + '.' + [application_domain_name]`<\/br>\n  `| [instance_dot_service] + '.' + [application_domain_name]`<\/br>\n  `| [instance_dot_version] + '.' + [application_domain_name]`<\/br>\n  `| [instance_dot_version_dot_service] + '.' + [application_domain_name]`\n\n* `application_domain_name` = The domain name of the app, for\n  example <app-id>.appspot.com, which is associated with the\n  job's project ID.\n\n* `service =` AppEngineRouting.service\n\n* `version =` AppEngineRouting.version\n\n* `version_dot_service =`\n  AppEngineRouting.version `+ '.' +` AppEngineRouting.service\n\n* `instance =` AppEngineRouting.instance\n\n* `instance_dot_service =`\n  AppEngineRouting.instance `+ '.' +` AppEngineRouting.service\n\n* `instance_dot_version =`\n  AppEngineRouting.instance `+ '.' +` AppEngineRouting.version\n\n* `instance_dot_version_dot_service =`\n  AppEngineRouting.instance `+ '.' +`\n  AppEngineRouting.version `+ '.' +` AppEngineRouting.service\n\nIf AppEngineRouting.service is empty, then the job will be sent\nto the service which is the default service when the job is attempted.\n\nIf AppEngineRouting.version is empty, then the job will be sent\nto the version which is the default version when the job is attempted.\n\nIf AppEngineRouting.instance is empty, then the job will be sent\nto an instance which is available when the job is attempted.\n\nWhen AppEngineRouting.service is \"default\",\nAppEngineRouting.version is \"default\", and\nAppEngineRouting.instance is empty, AppEngineRouting.host is\nshortened to just the `application_domain_name`.\n\nIf AppEngineRouting.service, AppEngineRouting.version, or\nAppEngineRouting.instance is invalid, then the job will be sent\nto the default version of the default service when the job is attempted.",
          "type": "string"
        }
      }
    },
    "RetryConfig": {
      "id": "RetryConfig",
      "description": "Settings that determine the retry behavior.\n\nBy default, if a job does not complete successfully (meaning that\nan acknowledgement is not received from the handler before the\n[deadline](\/appengine\/docs\/python\/taskqueue\/push\/#the_task_deadline),\nthen it will be retried with exponential backoff according to the settings\nin RetryConfig.",
      "type": "object",
      "properties": {
        "retryCount": {
          "description": "It determines the total number  attempts that the system will make to\ndeliver a job using the exponential backoff procedure described above.\n\nIf retry_count is zero, a job attempt will *not* be retried if\nit fails. Instead the Cloud Scheduler system will wait for the\nnext scheduled execution time.\n\nIf retry_count is set to a non-zero number then Cloud Scheduler\nwill retry failed attempts, using exponential backoff,\nretry_count times, or until the next scheduled execution time,\nwhichever comes first. A negative value for retry_count is\ninterpreted as unbounded.\n\nValue greater than 5 and negative values are not allowed.",
          "type": "integer",
          "format": "int32"
        },
        "jobAgeLimit": {
          "description": "The time limit for retrying a failed job, measured from when the\njob was first run. If specified with RetryConfig.retry_count,\nthe job will be retried until both limits are reached.",
          "type": "string",
          "format": "google-duration"
        },
        "minBackoffSeconds": {
          "description": "The minimum amount of time to wait before retrying a task after\nit fails.",
          "type": "string",
          "format": "google-duration"
        },
        "maxBackoffSeconds": {
          "description": "The maximum amount of time to wait before retrying a task after\nit fails.",
          "type": "string",
          "format": "google-duration"
        },
        "maxDoublings": {
          "description": "The maximum number of times that the interval between failed job\nretries will be doubled before the increase becomes constant. The\nconstant is: 2**(max_doublings - 1) *\nRetryConfig.min_backoff_seconds.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Schedule": {
      "id": "Schedule",
      "description": "Scheduler schedule in an English-like format.",
      "type": "object",
      "properties": {
        "timezone": {
          "description": "Specifies the time zone to be used in interpreting\nScheduleSpec.schedule. The value of this field must be a\ntime zone name from the tz database:\nhttp:\/\/en.wikipedia.org\/wiki\/Tz_database.\n\nNote that some timezones include a includes a provision for\ndaylight savings time. The rules for daylight saving time are\ndetermined by the choosen tz. For UTC use the string \"utc\". If a\ntimezone is not specified, the default will be in UTC (also known\nas GMT).",
          "type": "string"
        },
        "schedule": {
          "description": "Required.\n\nScheduler schedules are specified using an English-like\nformat. See\nhttps:\/\/cloud.google.com\/appengine\/docs\/standard\/python\/config\/cronref#schedule_format",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "RunJobRequest": {
      "id": "RunJobRequest",
      "description": "Request message for forcing a job to run now using\nCloudScheduler.RunJob.",
      "type": "object",
      "properties": {
      }
    },
    "PubsubMessage": {
      "id": "PubsubMessage",
      "description": "A message data and its attributes. The message payload must not be empty;\nit must contain either a non-empty data field, or at least one attribute.",
      "type": "object",
      "properties": {
        "data": {
          "description": "The message payload.",
          "type": "string",
          "format": "byte"
        },
        "attributes": {
          "description": "Optional attributes for this message.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "messageId": {
          "description": "ID of this message, assigned by the server when the message is published.\nGuaranteed to be unique within the topic. This value may be read by a\nsubscriber that receives a `PubsubMessage` via a `Pull` call or a push\ndelivery. It must not be populated by the publisher in a `Publish` call.",
          "type": "string"
        },
        "publishTime": {
          "description": "The time at which the message was published, populated by the server when\nit receives the `Publish` call. It must not be populated by the\npublisher in a `Publish` call.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "cloudscheduler.projects.locations.list",
              "path": "v1beta1/{+name}/locations",
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service.",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "id": "cloudscheduler.projects.locations.get",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "description": "Get information about a location.",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
          ,
          "resources": {
            "jobs": {
              "methods": {
                "list": {
                  "id": "cloudscheduler.projects.locations.jobs.list",
                  "path": "v1beta1/{+parent}/jobs",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "httpMethod": "GET",
                  "description": "Lists jobs.\n\nListJobsRequest.filter can be used to specify a subset of\njobs. ListJobsRequest.response_view controls the subset of\ninformation returned. By default response_view is\nJob.View.BASIC; not all information is returned by default\ndue to performance considerations.",
                  "parameters": {
                    "parent": {
                      "description": "Required.\n\nThe location name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "responseView": {
                      "description": "The response_view specifies which subset of the Job will be\nreturned.\n\nBy default response_view is Job.View.BASIC; not all\ninformation is retrieved by default because some data, such as\npayloads, might be desirable to return only when needed because\nof its large size or because of the sensitivity of data that it\ncontains.\n\nAuthorization for Job.View.FULL requires\n`cloudscheduler.jobs.fullView`\n[Google IAM](https:\/\/cloud.google.com\/iam\/) permission on the\nJob.name resource.",
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ]
                    },
                    "pageSize": {
                      "description": "Requested page size. Fewer jobs than requested might be returned.\n\nThe maximum page size is 500. If unspecified, the page size will\nbe the maximum. Fewer jobs than requested might be returned,\neven if more jobs exist; use next_page_token to determine if more\njobs exist.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server will return. To\nrequest the first page results, page_token must be empty. To\nrequest the next page of results, page_token must be the value of\nListJobsResponse.next_page_token returned from the previous\ncall to CloudScheduler.ListJobs. It is an error to switch the\nvalue of ListJobsRequest.filter or\nListJobsRequest.order_by while iterating through pages.\n\nFor JSON requests, the value of this field must be\nbase64-encoded.",
                      "location": "query",
                      "type": "string",
                      "format": "byte"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "cloudscheduler.projects.locations.jobs.get",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "httpMethod": "GET",
                  "description": "Gets a job.",
                  "parameters": {
                    "name": {
                      "description": "The job name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/jobs\/JOB_ID`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/jobs\/[^\/]+$",
                      "type": "string"
                    },
                    "responseView": {
                      "description": "The response_view specifies which subset of the Job will be\nreturned.\n\nBy default ListJobsRequest.response_view is\nJob.View.BASIC; not all\ninformation is retrieved by default because some data, such as\npayloads, might be desirable to return only when needed because\nof its large size or because of the sensitivity of data that it\ncontains.\n\nAuthorization for Job.View.FULL requires\n`cloudscheduler.jobs.fullView`\n[Google IAM](https:\/\/cloud.google.com\/iam\/) permission on the\nJob.name resource.",
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ]
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "id": "cloudscheduler.projects.locations.jobs.create",
                  "path": "v1beta1/{+parent}/jobs",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "httpMethod": "POST",
                  "description": "Creates a job.",
                  "parameters": {
                    "parent": {
                      "description": "Required.\n\nThe location name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Job"
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "cloudscheduler.projects.locations.jobs.delete",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a job.",
                  "parameters": {
                    "name": {
                      "description": "Required.\n\nThe job name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/jobs\/JOB_ID`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/jobs\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "run": {
                  "id": "cloudscheduler.projects.locations.jobs.run",
                  "path": "v1beta1/{+name}:run",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:run",
                  "httpMethod": "POST",
                  "description": "Forces a job to run now.\n\nWhen this method is called, Cloud Scheduler will immediately attempt the\njob. The attempt will be counted in the job's Job.total_attempt_count.\n\nThe job's Execution.schedule_time is not modified, so the job\nwill also be attempted according to its existing\nExecution.schedule_time.",
                  "parameters": {
                    "name": {
                      "description": "Required.\n\nThe job name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/jobs\/JOB_ID`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/jobs\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RunJobRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": ""
}