{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "cloudtasks:v2beta2",
  "name": "cloudtasks",
  "canonicalName": "Cloud Tasks",
  "version": "v2beta2",
  "revision": "0",
  "title": "Cloud Tasks API",
  "description": "Cloud Tasks enables developers to manage the execution of large numbers of distributed requests.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/cloud-tasks/",
  "protocol": "rest",
  "rootUrl": "https://cloudtasks.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://cloudtasks.googleapis.com/",
  "batchPath": "batch",
  "version_module": "True",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "bearer_token": {
      "type": "string",
      "description": "OAuth bearer token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "pp": {
      "type": "boolean",
      "description": "Pretty-print response.",
      "default": "true",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListQueuesResponse": {
      "id": "ListQueuesResponse",
      "description": "Response message for CloudTasks.ListQueues.",
      "type": "object",
      "properties": {
        "queues": {
          "description": "The list of queues.",
          "type": "array",
          "items": {
            "$ref": "Queue"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results.\n\nTo return the next page of results, call\nCloudTasks.ListQueues with this value as the\nListQueuesRequest.page_token.\n\nIf the next_page_token is empty, there are no more results.\n\nThe page token is valid for only 2 hours.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Queue": {
      "id": "Queue",
      "description": "A queue is a container of related tasks. Queues are configured to manage\nhow those tasks are dispatched. Configurable properties include rate limits,\nretry options, target types, and others.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The queue name.\n\nThe queue name must have the following format:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/queues\/QUEUE_ID`\n\n* `PROJECT_ID` can contain uppercase and lowercase letters,\n  numbers, hyphens, colons, and periods; that is, it must match\n  the regular expression: `[a-zA-Z\\\\d-:\\\\.]+`.\n* `QUEUE_ID` can contain uppercase and lowercase letters,\n  numbers, and hyphens; that is, it must match the regular\n  expression: `[a-zA-Z\\\\d-]+`. The maximum length is 100\n  characters.\n\nCaller-specified and required in CreateQueueRequest, after which\nit becomes output only.",
          "type": "string"
        },
        "appEngineQueueConfig": {
          "description": "App Engine queue config.",
          "$ref": "AppEngineQueueConfig"
        },
        "pullQueueConfig": {
          "description": "Pull queue config.",
          "$ref": "PullQueueConfig"
        },
        "throttleConfig": {
          "description": "Config for throttling task dispatches.",
          "$ref": "ThrottleConfig"
        },
        "retryConfig": {
          "description": "Settings that determine the retry behavior.\n\nThe task's retry configuration (Task.retry_config)\noverrides the queue's retry configuration (Queue.retry_config).",
          "$ref": "RetryConfig"
        },
        "queueState": {
          "description": "Output only.\n\nThe state of the queue.\n\n`queue_state` can only be changed by called\nCloudTasks.PauseQueue, CloudTasks.EnableQueue, or uploading\n[queue.yaml](https:\/\/cloud.google.com\/appengine\/docs\/python\/config\/queueref).\nCloudTasks.UpdateQueue cannot be used to change `queue_state`.",
          "enumDescriptions": [
            "Unspecified state.",
            "Queue is enabled. Tasks can be dispatched.",
            "Tasks are paused by the user. If the queue is paused then Cloud\nTasks will stop delivering tasks from it, but more tasks can\nstill be added to it by the user. When a pull queue is paused,\nall CloudTasks.PullTasks calls will return a\n`FAILED_PRECONDITION` error.",
            "Disabled indicates that queue has been removed from queue.yaml.\n\nWhen you remove a queue from\n[queue.yaml](https:\/\/cloud.google.com\/appengine\/docs\/python\/config\/queueref),\nit is marked as `DISABLED`. You cannot directly disable a queue.\n\nWhen a queue is disabled, tasks can still be added to a queue\nbut the tasks are not dispatched and CloudTasks.PullTasks calls\nreturn a `FAILED_PRECONDITION` error.\n\nTo permanently delete this queue and all of its tasks, call\nCloudTasks.DeleteQueue."
          ],
          "type": "string",
          "enum": [
            "QUEUE_STATE_UNSPECIFIED",
            "ENABLED",
            "PAUSED",
            "DISABLED"
          ]
        },
        "purgeTime": {
          "description": "Output only.\n\nThe last time this queue was purged. All tasks that were\ncreated before this time were purged.\n\nA queue can be purged using CloudTasks.PurgeQueue, the\n[App Engine Task Queue SDK, or the Cloud Console](https:\/\/cloud.google.com\/appengine\/docs\/standard\/python\/taskqueue\/push\/deleting-tasks-and-queues#purging_all_tasks_from_a_queue).\n\nPurge time will be truncated to the nearest microsecond. Purge\ntime will be zero if the queue has never been purged.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "AppEngineQueueConfig": {
      "id": "AppEngineQueueConfig",
      "description": "App Engine queue config.\n\nThe task will be delivered to the App Engine application URL\nspecified by its AppEngineQueueConfig and AppEngineTaskTarget.\nThe documentation for AppEngineTaskTarget explains how the\ntask's host URL is constructed.\n\nWhen creating or updating this type of target, the following scope\nmust be used: `https:\/\/www.googleapis.com\/auth\/cloud-platform`.",
      "type": "object",
      "properties": {
        "appEngineRoutingOverrides": {
          "description": "Overrides for the\ntask-level app_engine_routing.\n\nIf set, AppEngineQueueConfig.app_engine_routing_overrides is used for\nall tasks in the queue, no matter what the setting is for the\ntask-level app_engine_routing.",
          "$ref": "AppEngineRouting"
        },
        "headers": {
          "description": "HTTP request headers.\n\nThis map contains the header field names and values. Repeated\nheaders are not supported but a header value can contain commas.\n\nSome headers, such as the ones below, will be automatically set by Cloud\nTasks:\n\n* Host: The host is constructed from many settings in\n  AppEngineQueueConfig and AppEngineTaskTarget. See the\n  documentation for AppEngineTaskTarget for more\n  information. If set, the host header has to exactly match the\n  resolved hostname, otherwise an error will be returned.\n* Content-Length: This will be computed and overwritten by Cloud Tasks.\n* X-Google-*: For Google internal use only.\n* X-AppEngine-*: For Google internal use only. See\n  [here](https:\/\/cloud.google.com\/appengine\/docs\/python\/taskqueue\/push\/creating-handlers#reading_request_headers).\n\nWhen a task is attempted, AppEngineQueueConfig.headers will be\nmerged with the task's AppEngineTaskTarget.headers and the\nmerged headers will be sent with the task's overrides. In\naddition, some App Engine headers, which contain\ntask-specific information, will also be sent to the task handler; see\n[here](https:\/\/cloud.google.com\/appengine\/docs\/python\/taskqueue\/push\/creating-handlers#reading_request_headers).\n",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "retryConfig": {
          "description": "Deprecated. Queue.retry_config replaces this field. If both this field\nand Queue.retry_config are specified, Queue.retry_config takes\nprecedence.\n\nSettings that determine the retry behavior.\n\nThe task's retry configuration (AppEngineTaskTarget.retry_config)\noverrides the queue's retry configuration\n(AppEngineQueueConfig.retry_config).",
          "$ref": "RetryConfig"
        },
        "throttleConfig": {
          "description": "Config for throttling task dispatches.",
          "$ref": "ThrottleConfig"
        }
      }
    },
    "AppEngineRouting": {
      "id": "AppEngineRouting",
      "description": "App Engine Routing.\n\nFor more information about services, versions, and instances see\n[An Overview of App\nEngine](https:\/\/cloud.google.com\/appengine\/docs\/python\/an-overview-of-app-engine)\nand\n[Microservices Architecture on Google App\nEngine](https:\/\/cloud.google.com\/appengine\/docs\/python\/microservices-on-app-engine).\n\nNote: The routing for some queues or tasks which were not created\nusing the Cloud Tasks API may not be parsable into\nAppEngineRouting. For example, if numeric version names are\nused, then urls such as `123.my-service.appspot.com` are ambiguous\nbecause `123` can be interpreted as a version or instance number. See\n[here](https:\/\/cloud.google.com\/appengine\/docs\/python\/how-requests-are-routed#soft_routing)\nfor more information. If the routing is unparsable,\nAppEngineRouting will be empty; the routing information can be\nviewed in the HOST header in AppEngineQueueConfig.headers and\nAppEngineTaskTarget.headers.",
      "type": "object",
      "properties": {
        "service": {
          "description": "App service.\n\nBy default, the task will be sent to the service which is the default\nservice when the task is attempted (\"default\").",
          "type": "string"
        },
        "version": {
          "description": "App version.\n\nVersion names should begin with a letter, to distinguish them\nfrom numeric instances in the app URL; for more information see\n[here](https:\/\/cloud.google.com\/appengine\/docs\/python\/how-requests-are-routed#soft_routing).\n\nBy default, the task will be sent to the version which is the default\nversion when the task is attempted (\"default\").",
          "type": "string"
        },
        "instance": {
          "description": "App instance.\n\nBy default, the task will be sent to an instance which is available when\nthe task is attempted.\n\nRequests can only be sent to a specific instance if basic or manual scaling\nis used. For more information see\n[here](https:\/\/cloud.google.com\/appengine\/docs\/python\/an-overview-of-app-engine?hl=en_US#scaling_types_and_instance_classes).",
          "type": "string"
        }
      }
    },
    "RetryConfig": {
      "id": "RetryConfig",
      "description": "Retry config.\n\nThese settings determine retry behavior.\n\nIf a task does not complete successfully, meaning that an\nacknowledgement is not received from the handler before the\n[deadline](https:\/\/cloud.google.com\/appengine\/docs\/python\/taskqueue\/push\/#the_task_deadline),\nthen it will be retried with exponential backoff according to the\nsettings in RetryConfig.",
      "type": "object",
      "properties": {
        "maxAttempts": {
          "description": "The maximum number of attempts for a task.\n\nCloud Tasks will attempt the task `max_attempts` times (that\nis, if the first attempt fails, then there will be\n`max_attempts - 1` retries).  Must be > 0.",
          "type": "integer",
          "format": "int32"
        },
        "unlimitedAttempts": {
          "description": "If true, then the number of attempts is unlimited.",
          "type": "boolean"
        },
        "taskAgeLimit": {
          "description": "If positive, task_age_limit specifies the time limit for retrying a failed\ntask, measured from when the task was first run. If specified with\nRetryConfig.max_attempts, the task will be retried until both\nlimits are reached.\n\nIf zero, then the task age is unlimited. This field is zero by default.",
          "type": "string",
          "format": "google-duration"
        },
        "minBackoff": {
          "description": "The minimum amount of time to wait before retrying a task after\nit fails.\n\n* For App Engine queues and tasks, this field is 0.1 seconds by default.\n* For pull queues and tasks, this field is output only and always 0.",
          "type": "string",
          "format": "google-duration"
        },
        "maxBackoff": {
          "description": "The maximum amount of time to wait before retrying a task after\nit fails. The default is 1 hour.\n\n* For App Engine queues and tasks, this field is 1 hour by default.\n* For pull queues and tasks, this field is output only and always 0.",
          "type": "string",
          "format": "google-duration"
        },
        "maxDoublings": {
          "description": "The maximum number of times that the interval between failed task\nretries will be doubled before the increase becomes constant. The\nconstant is: 2**(max_doublings - 1) *\nRetryConfig.min_backoff.\n\n* For App Engine queues and tasks, this field is 16 by default.\n* For pull queues and tasks, this field is output only and always 0.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ThrottleConfig": {
      "id": "ThrottleConfig",
      "description": "Throttle config.\n\nThese settings determine the throttling behavior.",
      "type": "object",
      "properties": {
        "maxTasksDispatchedPerSecond": {
          "description": "The maximum rate at which tasks are dispatched from this\nqueue.\n\nThe maximum allowed value is 500.\n\n* For App Engine queues, this field is 1 by default.\n* For pull queues, this field is output only and always 10,000.\n\nThis field has the same meaning as\n[rate in queue.yaml](https:\/\/cloud.google.com\/appengine\/docs\/standard\/python\/config\/queueref#rate).",
          "type": "number",
          "format": "double"
        },
        "maxBurstSize": {
          "description": "Output only.\n\nThe max burst size limits how fast the queue is processed when\nmany tasks are in the queue and the rate is high. This field\nallows the queue to have a high rate so processing starts shortly\nafter a task is enqueued, but still limits resource usage when\nmany tasks are enqueued in a short period of time.\n\n* For App Engine queues, if\n  ThrottleConfig.max_tasks_dispatched_per_second is 1, this\n  field is 10; otherwise this field is\n  ThrottleConfig.max_tasks_dispatched_per_second \/ 5.\n* For pull queues, this field is output only and always 10,000.\n\nNote: For App Engine queues that were created through\n`queue.yaml\/xml`, `max_burst_size` might not have the same\nsettings as specified above; CloudTasks.UpdateQueue can be\nused to set `max_burst_size` only to the values specified above.\n\nThis field has the same meaning as\n[bucket_size in queue.yaml](https:\/\/cloud.google.com\/appengine\/docs\/standard\/python\/config\/queueref#bucket_size).",
          "type": "number",
          "format": "double"
        },
        "maxOutstandingTasks": {
          "description": "* For App Engine queues, this field is 10 by default.\n* For pull queues, this field is output only and always -1, which\n  indicates no limit.\n\nThis field has the same meaning as\n[max_concurrent_requests in queue.yaml](https:\/\/cloud.google.com\/appengine\/docs\/standard\/python\/config\/queueref#max_concurrent_requests).",
          "type": "integer",
          "format": "int32"
        },
        "maxRequestsPerSecond": {
          "description": "Deprecated: This field is replaced by `max_tasks_dispatched_per_second`.\n\nThe maximum rate at which tasks are dispatched from this\nqueue.\n\nThis field has the same meaning as\n[rate in\nqueue.yaml](https:\/\/cloud.google.com\/appengine\/docs\/standard\/python\/config\/queueref#rate).\n\nThis field is 1 by default.\nThe maximum allowed value is 500.\n\nThis field is output only for pull queues.",
          "type": "number",
          "format": "double"
        },
        "bucketSize": {
          "description": "Deprecated: This field is replaced by `max_burst_size`.\n\nOutput only.\n\nThe max burst size limits how fast the queue is processed when\nmany tasks are in the queue and the rate is high. This field\nallows the queue to have a high rate so processing starts shortly\nafter a task is enqueued, but still limits resource usage when\nmany tasks are enqueued in a short period of time.\n\nThis field has the same meaning as\n[bucket_size in\nqueue.yaml](https:\/\/cloud.google.com\/appengine\/docs\/standard\/python\/config\/queueref#bucket_size).",
          "type": "number",
          "format": "double"
        },
        "maxOutstandingRequests": {
          "description": "Deprecated: This field is replaced by `max_outstanding_tasks`.\n\nThe maximum number of outstanding tasks that Cloud Tasks allows\nto be dispatched for this queue. After this threshold has been\nreached, Cloud Tasks stops dispatching tasks until the number of\noutstanding requests decreases.\n\nThis field is 10 by default.\nThe maximum allowed value is 15,000.\n\nThis field has the same meaning as\n[max_concurrent_requests in\nqueue.yaml](https:\/\/cloud.google.com\/appengine\/docs\/standard\/python\/config\/queueref#max_concurrent_requests).\n\nThis field is output only for pull queues.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PullQueueConfig": {
      "id": "PullQueueConfig",
      "description": "Pull queue config.",
      "type": "object",
      "properties": {
        "maxAttempts": {
          "description": "The maximum number of attempts for a task.\n\nCloud Tasks will attempt the task `max_attempts` times. If the first\nattempt fails, then there will be `max_attempts - 1` retries.\nMust be > 0.",
          "type": "integer",
          "format": "int32"
        },
        "unlimitedAttempts": {
          "description": "If true, then the number of attempts is unlimited.",
          "type": "boolean"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "PurgeQueueRequest": {
      "id": "PurgeQueueRequest",
      "description": "Request message for CloudTasks.PurgeQueue.",
      "type": "object",
      "properties": {
      }
    },
    "PauseQueueRequest": {
      "id": "PauseQueueRequest",
      "description": "Request message for CloudTasks.PauseQueue.",
      "type": "object",
      "properties": {
      }
    },
    "EnableQueueRequest": {
      "id": "EnableQueueRequest",
      "description": "Request message for CloudTasks.EnableQueue.",
      "type": "object",
      "properties": {
      }
    },
    "ListTasksResponse": {
      "id": "ListTasksResponse",
      "description": "Response message for listing tasks using CloudTasks.ListTasks.",
      "type": "object",
      "properties": {
        "tasks": {
          "description": "The list of tasks.",
          "type": "array",
          "items": {
            "$ref": "Task"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results.\n\nTo return the next page of results, call\nCloudTasks.ListTasks with this value as the\nListTasksRequest.page_token.\n\nIf the next_page_token is empty, there are no more results.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Task": {
      "id": "Task",
      "description": "A unit of scheduled work.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The task name.\n\nThe task name must have the following format:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/queues\/QUEUE_ID\/tasks\/TASK_ID`\n\n* `PROJECT_ID` can contain uppercase and lowercase letters,\n  numbers, hyphens, colons, and periods; that is, it must match\n  the regular expression: `[a-zA-Z\\\\d-:\\\\.]+`.\n* `QUEUE_ID` can contain uppercase and lowercase letters,\n  numbers, and hyphens; that is, it must match the regular\n  expression: `[a-zA-Z\\\\d-]+`. The maximum length is 100\n  characters.\n* `TASK_ID` contain uppercase and lowercase letters, numbers,\n  underscores, and hyphens; that is, it must match the regular\n  expression: `[a-zA-Z\\\\d_-]+`. The maximum length is 500\n  characters.\n\nOptionally caller-specified in CreateTaskRequest, after which it\nbecomes output only.",
          "type": "string"
        },
        "appEngineTaskTarget": {
          "description": "App Engine task target. Can be used only if\nQueue.app_engine_queue_config is set.",
          "$ref": "AppEngineTaskTarget"
        },
        "pullTaskTarget": {
          "description": "Pull task target. Can be used only if Queue.pull_queue_config is set.",
          "$ref": "PullTaskTarget"
        },
        "scheduleTime": {
          "description": "The time when the task is scheduled to be attempted.\n\nFor pull queues, this is the time when the task is available to\nbe leased; if a task is currently leased, this is the time when\nthe current lease expires, that is, the time that the task was\nleased plus the PullTasksRequest.lease_duration.\n\nFor App Engine queues, this is when the task will be attempted or retried.\n\nschedule_time will be truncated to the nearest microsecond.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only.\n\nThe time that the task was created.\n\ncreate_time will be truncated to the nearest second.",
          "type": "string",
          "format": "google-datetime"
        },
        "retryConfig": {
          "description": "Settings that determine the retry behavior.\n\nThe task's retry configuration\noverrides the queue's retry configuration.",
          "$ref": "RetryConfig"
        },
        "taskStatus": {
          "description": "Output only.\n\nTask status.",
          "$ref": "TaskStatus"
        },
        "view": {
          "description": "Output only.\n\nThe view specifies which subset of the Task has been\nreturned.",
          "enumDescriptions": [
            "Unspecified. Defaults to BASIC.",
            "The basic view omits fields which can be large or can contain\nsensitive data.\n\nThis view does not include the payload.",
            "All information is returned.\n\nPayloads might be desirable to return only when needed, because\nthey can be large and because of the sensitivity of the data\nthat you choose to store in it.\n\nAuthorization for Task.View.FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](https:\/\/cloud.google.com\/iam\/)\npermission on the Queue.name resource."
          ],
          "type": "string",
          "enum": [
            "VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ]
        }
      }
    },
    "AppEngineTaskTarget": {
      "id": "AppEngineTaskTarget",
      "description": "App Engine task target.\n\nThis proto can only be used for tasks in a queue which has\nQueue.app_engine_queue_config set.\n\nWhen creating this type of task target, the following scope\nmust be used: `https:\/\/www.googleapis.com\/auth\/cloud-platform`.\n\nThe task will be delivered to the URL specified by the\nAppEngineQueueConfig and AppEngineTaskTarget in the App Engine app\nwhich belongs to the same project as the queue. See\n[here](https:\/\/cloud.google.com\/appengine\/docs\/python\/how-requests-are-routed)\nfor information on how requests are routed in App Engine and how\nrouting is affected by\n[dispatch\nfiles](https:\/\/cloud.google.com\/appengine\/docs\/python\/config\/dispatchref).\n\nThe AppEngineRouting used to construct the URL can be set at\nthe queue-level or task-level:\n\n*  If set, AppEngineQueueConfig.app_engine_routing_overrides is used for\n   all tasks in the queue, no matter what the setting is for the\n   task-level app_engine_routing.\n\n\nThe `url` that the task will be sent to is:\n\n* `url = host +` AppEngineTaskTarget.relative_url\n\n* `host = [application_domain_name]`<\/br>\n  `| [service] + '.' + [application_domain_name]`<\/br>\n  `| [version] + '.' + [application_domain_name]`<\/br>\n  `| [version_dot_service]+ '.' + [application_domain_name]`<\/br>\n  `| [instance] + '.' + [application_domain_name]`<\/br>\n  `| [instance_dot_service] + '.' + [application_domain_name]`<\/br>\n  `| [instance_dot_version] + '.' + [application_domain_name]`<\/br>\n  `| [instance_dot_version_dot_service] + '.' + [application_domain_name]`\n\n* `application_domain_name` = The domain name of the app, for\n  example <app-id>.appspot.com, which is associated with the\n  queue's project ID.\n\n* `service =` AppEngineRouting.service\n\n* `version =` AppEngineRouting.version\n\n* `version_dot_service =`\n  AppEngineRouting.version `+ '.' +` AppEngineRouting.service\n\n* `instance =` AppEngineRouting.instance\n\n* `instance_dot_service =`\n  AppEngineRouting.instance `+ '.' +` AppEngineRouting.service\n\n* `instance_dot_version =`\n  AppEngineRouting.instance `+ '.' +` AppEngineRouting.version\n\n* `instance_dot_version_dot_service =`\n  AppEngineRouting.instance `+ '.' +`\n  AppEngineRouting.version `+ '.' +` AppEngineRouting.service\n\nIf AppEngineRouting.service is empty, then the task will be sent\nto the service which is the default service when the task is attempted.\n\nIf AppEngineRouting.version is empty, then the task will be sent\nto the version which is the default version when the task is attempted.\n\nIf AppEngineRouting.instance is empty, then the task will be sent\nto an instance which is available when the task is attempted.\n\nIf AppEngineRouting.service, AppEngineRouting.version, or\nAppEngineRouting.instance is invalid, then the task will be sent\nto the default version of the default service when the task is attempted.\n\nThe task will be sent to a task handler by an HTTP\nrequest using the specified AppEngineTaskTarget.http_method (for example\nPOST, HTTP GET, etc). The task attempt has succeeded if the task handler\nreturns an HTTP response code in the range [200 - 299]. Error 503 is\nconsidered an App Engine system error instead of an application error.\nRequests returning error 503 will be retried regardless of retry\nconfiguration and not counted against retry counts.\nAny other response code or a failure to receive a response before the\ndeadline is a failed attempt.",
      "type": "object",
      "properties": {
        "httpMethod": {
          "description": "The HTTP method to use for the request. The default is POST.\n\nThe app's request handler for the task's target URL must be able to handle\nHTTP requests with this http_method, otherwise the task attempt will fail\nwith error code 405 \"Method Not Allowed\" because \"the method specified in\nthe Request-Line is not allowed for the resource identified by the\nRequest-URI\". See\n[Writing a push task request handler](https:\/\/cloud.google.com\/appengine\/docs\/java\/taskqueue\/push\/creating-handlers#writing_a_push_task_request_handler)\nand the documentation for the request handlers in the language your app is\nwritten in e.g.\n[python RequestHandler](https:\/\/cloud.google.com\/appengine\/docs\/python\/tools\/webapp\/requesthandlerclass).",
          "enumDescriptions": [
            "HTTP method unspecified",
            "HTTP Post",
            "HTTP Get",
            "HTTP Head",
            "HTTP Put",
            "HTTP Delete"
          ],
          "type": "string",
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE"
          ]
        },
        "relativeUrl": {
          "description": "The relative URL.\n\nThe relative URL must begin with \"\/\" and must be a valid HTTP relative URL.\nIt can contain a path, query string arguments, and `#` fragments.\nIf the relative URL is empty, then the root path \"\/\" will be used.\nNo spaces are allowed, and the maximum length allowed is 2083 characters.",
          "type": "string"
        },
        "appEngineRouting": {
          "description": "Task-level setting for App Engine routing.\n\nIf set, AppEngineQueueConfig.app_engine_routing_overrides is used for\nall tasks in the queue, no matter what the setting is for the\ntask-level app_engine_routing.",
          "$ref": "AppEngineRouting"
        },
        "headers": {
          "description": "HTTP request headers.\n\nThis map contains the header field names and values. Repeated\nheaders are not supported but a header value can contain commas.\n\nSome headers, such as the ones below, will be automatically set by Cloud\nTasks:\n\n* Host: The host is constructed from many settings in\n  AppEngineQueueConfig and AppEngineTaskTarget. See the\n  documentation for AppEngineTaskTarget for more\n  information. If set, the host header has to exactly match the\n  resolved hostname, otherwise an error will be returned.\n* Content-Length: This will be computed and overwritten by Cloud Tasks.\n* X-Google-*: For Google internal use only.\n* X-AppEngine-*: For Google internal use only. See\n  [here](https:\/\/cloud.google.com\/appengine\/docs\/python\/taskqueue\/push\/creating-handlers#reading_request_headers).\n\nWhen a task is attempted, AppEngineQueueConfig.headers will be\nmerged with the task's AppEngineTaskTarget.headers and the\nmerged headers will be sent with the task's HTTP request. In\naddition, some App Engine headers will be set which contain\ntask-specific information that can be used by the handler; see\n[here](https:\/\/cloud.google.com\/appengine\/docs\/python\/taskqueue\/push\/creating-handlers#reading_request_headers).\n",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "payload": {
          "description": "Payload.\n\nThe payload will be sent as the HTTP message body. A message\nbody, and thus a payload, is allowed only if the HTTP method is\nPOST or PUT. It is an error to set a data payload on a task with\nan incompatible HttpMethod.",
          "type": "string",
          "format": "byte"
        },
        "retryConfig": {
          "description": "Deprecated. Task.retry_config replaces this field. If both this field\nand Task.retry_config are specified, Task.retry_config takes\nprecedence.\n\nSettings that determine the retry behavior.\n\nThe task's retry configuration\noverrides the\nqueue's retry configuration.",
          "$ref": "RetryConfig"
        }
      }
    },
    "PullTaskTarget": {
      "id": "PullTaskTarget",
      "description": "Pull task target.\n\nThis proto can only be used for tasks in a queue which has\nQueue.pull_queue_config set.",
      "type": "object",
      "properties": {
        "payload": {
          "description": "A data payload consumed by the task worker to execute the task.",
          "type": "string",
          "format": "byte"
        },
        "tag": {
          "description": "A meta-data tag for this task.\n\nThis value is used by CloudTasks.PullTasks calls when\nPullTasksRequest.filter is `tag=<tag>`.\n\nThe tag must be less than 500 bytes.",
          "type": "string",
          "format": "byte"
        },
        "maxAttempts": {
          "description": "The maximum number of attempts for a task.\n\nCloud Tasks will attempt the task `max_attempts` times. If the first\nattempt fails, then there will be `max_attempts - 1` retries).\nMust be > 0.",
          "type": "integer",
          "format": "int32"
        },
        "unlimitedAttempts": {
          "description": "If true, then the number of attempts is unlimited.\nIf false, then by default Cloud Tasks will retry the task 100 times.",
          "type": "boolean"
        }
      }
    },
    "TaskStatus": {
      "id": "TaskStatus",
      "description": "Status of the task.",
      "type": "object",
      "properties": {
        "attemptDispatchCount": {
          "description": "Output only.\n\nThe number of attempts dispatched. This count includes tasks which have\nbeen dispatched but haven't received a response.",
          "type": "string",
          "format": "int64"
        },
        "attemptResponseCount": {
          "description": "Output only.\n\nThe number of attempts which have received a response.",
          "type": "string",
          "format": "int64"
        },
        "firstAttemptStatus": {
          "description": "Output only.\n\nThe status of the task's first attempt.\n\nOnly AttemptStatus.dispatch_time will be set.\nThe other AttemptStatus information is not retained by Cloud Tasks.",
          "$ref": "AttemptStatus"
        },
        "lastAttemptStatus": {
          "description": "Output only.\n\nThe status of the task's last attempt.",
          "$ref": "AttemptStatus"
        }
      }
    },
    "AttemptStatus": {
      "id": "AttemptStatus",
      "description": "The status of a task attempt.",
      "type": "object",
      "properties": {
        "scheduleTime": {
          "description": "Output only.\n\nThe time that this attempt was scheduled.",
          "type": "string",
          "format": "google-datetime"
        },
        "dispatchTime": {
          "description": "Output only.\n\nThe time that this attempt was dispatched.",
          "type": "string",
          "format": "google-datetime"
        },
        "responseTime": {
          "description": "Output only.\n\nThe time that this attempt response was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "responseStatus": {
          "description": "Output only.\n\nThe response from the target for this attempt.\n\nIf the task has not been attempted or the task is currently running\nthen the response status will be google.rpc.Code.UNKNOWN.",
          "$ref": "Status"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https:\/\/github.com\/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security\/privacy reasons.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "CreateTaskRequest": {
      "id": "CreateTaskRequest",
      "description": "Request message for CloudTasks.CreateTask.",
      "type": "object",
      "properties": {
        "task": {
          "description": "Required.\n\nThe task to add.\n\nTask names have the following format:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/queues\/QUEUE_ID\/tasks\/TASK_ID`.\nThe user can optionally specify a name for the task in\nTask.name. If a name is not specified then the system will\ngenerate a random unique task id, which will be returned in the\nresponse's Task.name.\n\nExplicitly specifying a Task.name enables task\nde-duplication. If a task's name is identical to the name of an\nexisting task or a task that was deleted or completed within the\nlast ~10 days then the call to CloudTasks.CreateTask will\nfail. Because there is an extra lookup cost to identify duplicate\ntask names, these CloudTasks.CreateTask calls have\nsignificantly increased latency. Using hashed strings for the\ntask id or for the prefix of the task id is recommended. Choosing\ntask ids that are sequential or have sequential prefixes, for\nexample using a timestamp, causes an increase in latency and\nerror rates in all task commands. The infrastructure relies on an\napproximately uniform distribution of task ids to store and serve\ntasks efficiently.\n\nIf Task.schedule_time is not set or is in the past then Cloud\nTasks will set it to the current time.",
          "$ref": "Task"
        },
        "responseView": {
          "description": "The response_view specifies which subset of the Task will be\nreturned.\n\nBy default response_view is Task.View.BASIC; not all\ninformation is retrieved by default because some data, such as\npayloads, might be desirable to return only when needed because\nof its large size or because of the sensitivity of data that it\ncontains.\n\nAuthorization for Task.View.FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](https:\/\/cloud.google.com\/iam\/)\npermission on the Task.name resource.",
          "enumDescriptions": [
            "Unspecified. Defaults to BASIC.",
            "The basic view omits fields which can be large or can contain\nsensitive data.\n\nThis view does not include the payload.",
            "All information is returned.\n\nPayloads might be desirable to return only when needed, because\nthey can be large and because of the sensitivity of the data\nthat you choose to store in it.\n\nAuthorization for Task.View.FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](https:\/\/cloud.google.com\/iam\/)\npermission on the Queue.name resource."
          ],
          "type": "string",
          "enum": [
            "VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ]
        }
      }
    },
    "PullTasksRequest": {
      "id": "PullTasksRequest",
      "description": "Request message for pulling tasks using CloudTasks.PullTasks.",
      "type": "object",
      "properties": {
        "maxTasks": {
          "description": "The maximum number of tasks to lease. The maximum that can be\nrequested is 1000.",
          "type": "integer",
          "format": "int32"
        },
        "leaseDuration": {
          "description": "The duration of the lease.\n\nEach task returned in the PullTasksResponse will have its\nTask.schedule_time set to the current time plus the\n`lease_duration`. A task that has been returned in a\nPullTasksResponse is leased -- that task will not be\nreturned in a different PullTasksResponse before the\nTask.schedule_time.\n\nAfter the lease holder has successfully finished the work\nassociated with the task, the lease holder must call\nCloudTasks.AcknowledgeTask. If the task is not acknowledged\nvia CloudTasks.AcknowledgeTask before the\nTask.schedule_time then it will be returned in a later\nPullTasksResponse so that another lease holder can process\nit.\n\nThe maximum lease duration is 1 week.",
          "type": "string",
          "format": "google-duration"
        },
        "responseView": {
          "description": "The response_view specifies which subset of the Task will be\nreturned.\n\nBy default response_view is Task.View.BASIC; not all\ninformation is retrieved by default because some data, such as\npayloads, might be desirable to return only when needed because\nof its large size or because of the sensitivity of data that it\ncontains.\n\nAuthorization for Task.View.FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](https:\/\/cloud.google.com\/iam\/)\npermission on the Task.name resource.",
          "enumDescriptions": [
            "Unspecified. Defaults to BASIC.",
            "The basic view omits fields which can be large or can contain\nsensitive data.\n\nThis view does not include the payload.",
            "All information is returned.\n\nPayloads might be desirable to return only when needed, because\nthey can be large and because of the sensitivity of the data\nthat you choose to store in it.\n\nAuthorization for Task.View.FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](https:\/\/cloud.google.com\/iam\/)\npermission on the Queue.name resource."
          ],
          "type": "string",
          "enum": [
            "VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ]
        },
        "filter": {
          "description": "`filter` can be used to specify a subset of tasks to lease.\n\nWhen `filter` is set to `tag=<my-tag>` then the\nPullTasksResponse will contain only tasks whose\nPullTaskTarget.tag is equal to `<my-tag>`. `<my-tag>` can be\na bytes encoded as a string and must be less than 500 bytes.\nIf `<my-tag>` includes whitespace or special characters (characters which\naren't letters, numbers, or underscores), then it must be double-quoted.\nDouble quotes and backslashes in quoted strings must be escaped by\npreceding it with a backslash (`\\`).\n\nWhen `filter` is set to `tag=oldest_tag()`, only tasks which have the same\ntag as the task with the oldest schedule_time will be returned.\n\nGrammar Syntax:\n\n* `filter = \"tag=\" comparable`\n\n*  `comparable = tag | function`\n\n* `tag = string | bytes`\n\n* `function = \"oldest_tag()\"`\n\n\n\nThe `oldest_tag()` function returns tasks which have the same tag as the\noldest task (ordered by schedule time).",
          "type": "string"
        }
      }
    },
    "PullTasksResponse": {
      "id": "PullTasksResponse",
      "description": "Response message for pulling tasks using CloudTasks.PullTasks.",
      "type": "object",
      "properties": {
        "tasks": {
          "description": "The leased tasks.",
          "type": "array",
          "items": {
            "$ref": "Task"
          }
        }
      }
    },
    "AcknowledgeTaskRequest": {
      "id": "AcknowledgeTaskRequest",
      "description": "Request message for acknowledging a task using\nCloudTasks.AcknowledgeTask.",
      "type": "object",
      "properties": {
        "scheduleTime": {
          "description": "Required.\n\nThe task schedule time, available in the Task.schedule_time\nreturned in PullTasksResponse.tasks or\nCloudTasks.RenewLease.  This restriction is to check that\nthe caller is acknowledging the correct task.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "RenewLeaseRequest": {
      "id": "RenewLeaseRequest",
      "description": "Request message for renewing a lease using CloudTasks.RenewLease.",
      "type": "object",
      "properties": {
        "scheduleTime": {
          "description": "Required.\n\nThe task schedule time, available in the Task.schedule_time\nreturned in PullTasksResponse.tasks or\nCloudTasks.RenewLease.  This restriction is to check that\nthe caller is renewing the correct task.",
          "type": "string",
          "format": "google-datetime"
        },
        "newLeaseDuration": {
          "description": "Required.\n\nThe desired new lease duration, starting from now.\n\n\nThe maximum lease duration is 1 week.",
          "type": "string",
          "format": "google-duration"
        },
        "responseView": {
          "description": "The response_view specifies which subset of the Task will be\nreturned.\n\nBy default response_view is Task.View.BASIC; not all\ninformation is retrieved by default because some data, such as\npayloads, might be desirable to return only when needed because\nof its large size or because of the sensitivity of data that it\ncontains.\n\nAuthorization for Task.View.FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](https:\/\/cloud.google.com\/iam\/)\npermission on the Task.name resource.",
          "enumDescriptions": [
            "Unspecified. Defaults to BASIC.",
            "The basic view omits fields which can be large or can contain\nsensitive data.\n\nThis view does not include the payload.",
            "All information is returned.\n\nPayloads might be desirable to return only when needed, because\nthey can be large and because of the sensitivity of the data\nthat you choose to store in it.\n\nAuthorization for Task.View.FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](https:\/\/cloud.google.com\/iam\/)\npermission on the Queue.name resource."
          ],
          "type": "string",
          "enum": [
            "VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ]
        }
      }
    },
    "CancelLeaseRequest": {
      "id": "CancelLeaseRequest",
      "description": "Request message for canceling a lease using\nCloudTasks.CancelLease.",
      "type": "object",
      "properties": {
        "scheduleTime": {
          "description": "Required.\n\nThe task schedule time, available in the Task.schedule_time\nreturned in PullTasksResponse.tasks or\nCloudTasks.RenewLease.  This restriction is to check that\nthe caller is canceling the correct task.",
          "type": "string",
          "format": "google-datetime"
        },
        "responseView": {
          "description": "The response_view specifies which subset of the Task will be\nreturned.\n\nBy default response_view is Task.View.BASIC; not all\ninformation is retrieved by default because some data, such as\npayloads, might be desirable to return only when needed because\nof its large size or because of the sensitivity of data that it\ncontains.\n\nAuthorization for Task.View.FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](https:\/\/cloud.google.com\/iam\/)\npermission on the Task.name resource.",
          "enumDescriptions": [
            "Unspecified. Defaults to BASIC.",
            "The basic view omits fields which can be large or can contain\nsensitive data.\n\nThis view does not include the payload.",
            "All information is returned.\n\nPayloads might be desirable to return only when needed, because\nthey can be large and because of the sensitivity of the data\nthat you choose to store in it.\n\nAuthorization for Task.View.FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](https:\/\/cloud.google.com\/iam\/)\npermission on the Queue.name resource."
          ],
          "type": "string",
          "enum": [
            "VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ]
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "queues": {
              "methods": {
                "list": {
                  "id": "cloudtasks.projects.locations.queues.list",
                  "path": "v2beta2/{+parent}/queues",
                  "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues",
                  "httpMethod": "GET",
                  "description": "Lists queues.\n\nQueues are returned in lexicographical order.",
                  "parameters": {
                    "parent": {
                      "description": "Required.\n\nThe location name.\nFor example: `projects\/PROJECT_ID\/locations\/LOCATION_ID`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "description": "`filter` can be used to specify a subset of queues. Any queue\nfield can be used as a filter and several operators as supported.\nFor example: `<=, <, >=, >, !=, =, :`. The filter syntax is the same as\ndescribed in\nhttps:\/\/cloud.google.com\/logging\/docs\/view\/advanced_filters.\n\nSample filter \"pull_queue_config: *\".\n\nNote that using filters might cause fewer queues than the\nrequested_page size to be returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size.\n\nThe maximum page size is 9800. If unspecified, the max will be returned.\nFewer queues than requested might be returned.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token identifying the page of results to return.\n\nTo request the first page results, page_token must be empty. To\nrequest the next page of results, page_token must be the value of\nListQueuesResponse.next_page_token returned from the previous\ncall to CloudTasks.ListQueues method. It is an error to\nswitch the value of ListQueuesRequest.filter while iterating\nthrough pages.",
                      "location": "query",
                      "type": "string",
                      "format": "byte"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListQueuesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "cloudtasks.projects.locations.queues.get",
                  "path": "v2beta2/{+name}",
                  "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}",
                  "httpMethod": "GET",
                  "description": "Gets a queue.",
                  "parameters": {
                    "name": {
                      "description": "Required.\n\nThe resource name of the queue. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/queues\/QUEUE_ID`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/queues\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Queue"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "id": "cloudtasks.projects.locations.queues.create",
                  "path": "v2beta2/{+parent}/queues",
                  "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues",
                  "httpMethod": "POST",
                  "description": "Creates a queue.\n\nWARNING: This method is only available to whitelisted\nusers. Using this method carries some risk. Read\n[Overview of Queue Management and queue.yaml](https:\/\/cloud.google.com\/cloud-tasks\/docs\/queue-yaml)\ncarefully and then sign up for\n[whitelist access to this method](https:\/\/goo.gl\/Fe5mUy).",
                  "parameters": {
                    "parent": {
                      "description": "Required.\n\nThe location name in which the queue will be created.\nFor example: `projects\/PROJECT_ID\/locations\/LOCATION_ID`\n\nThe list of allowed locations can be obtained by calling Cloud\nTasks' implementation of\ngoogle.cloud.location.Locations.ListLocations.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Queue"
                  },
                  "response": {
                    "$ref": "Queue"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "id": "cloudtasks.projects.locations.queues.patch",
                  "path": "v2beta2/{+name}",
                  "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}",
                  "httpMethod": "PATCH",
                  "description": "Updates a queue.\n\nThis method creates the queue if it does not exist and updates\nthe queue if it does exist.\n\nWARNING: This method is only available to whitelisted\nusers. Using this method carries some risk. Read\n[Overview of Queue Management and queue.yaml](https:\/\/cloud.google.com\/cloud-tasks\/docs\/queue-yaml)\ncarefully and then sign up for\n[whitelist access to this method](https:\/\/goo.gl\/Fe5mUy).",
                  "parameters": {
                    "name": {
                      "description": "The queue name.\n\nThe queue name must have the following format:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/queues\/QUEUE_ID`\n\n* `PROJECT_ID` can contain uppercase and lowercase letters,\n  numbers, hyphens, colons, and periods; that is, it must match\n  the regular expression: `[a-zA-Z\\\\d-:\\\\.]+`.\n* `QUEUE_ID` can contain uppercase and lowercase letters,\n  numbers, and hyphens; that is, it must match the regular\n  expression: `[a-zA-Z\\\\d-]+`. The maximum length is 100\n  characters.\n\nCaller-specified and required in CreateQueueRequest, after which\nit becomes output only.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/queues\/[^\/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "A  mask used to specify which fields of the queue are being updated.\n\nQueue.name cannot be changed and cannot be specified in the\nupdate_mask.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Queue"
                  },
                  "response": {
                    "$ref": "Queue"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "cloudtasks.projects.locations.queues.delete",
                  "path": "v2beta2/{+name}",
                  "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a queue.\n\nThis command will delete the queue even if it has tasks in it.\n\nNote: If you delete a queue, a queue with the same name can't be created\nfor 7 days.\n\nWARNING: This method is only available to whitelisted\nusers. Using this method carries some risk. Read\n[Overview of Queue Management and queue.yaml](https:\/\/cloud.google.com\/cloud-tasks\/docs\/queue-yaml)\ncarefully and then sign up for\n[whitelist access to this method](https:\/\/goo.gl\/Fe5mUy).",
                  "parameters": {
                    "name": {
                      "description": "Required.\n\nThe queue name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/queues\/QUEUE_ID`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/queues\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "purge": {
                  "id": "cloudtasks.projects.locations.queues.purge",
                  "path": "v2beta2/{+name}:purge",
                  "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}:purge",
                  "httpMethod": "POST",
                  "description": "Purges a queue by deleting all of its tasks.\n\nPurge operations can take up to one minute to take effect. Tasks\nmight be dispatched before the purge takes effect. A purge is irreversible.\n\nNote: this command purges all tasks that were created five\nminutes or more before now.",
                  "parameters": {
                    "name": {
                      "description": "Required.\n\nThe queue name. For example:\n`projects\/PROJECT_ID\/location\/LOCATION_ID\/queues\/QUEUE_ID`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/queues\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "PurgeQueueRequest"
                  },
                  "response": {
                    "$ref": "Queue"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "pause": {
                  "id": "cloudtasks.projects.locations.queues.pause",
                  "path": "v2beta2/{+name}:pause",
                  "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}:pause",
                  "httpMethod": "POST",
                  "description": "Pauses the queue.\n\nIf a queue is paused then the system will stop executing the\ntasks in the queue until it is re-enabled via\nCloudTasks.EnableQueue. Tasks can still be added when the\nqueue is paused. The state of the queue is stored in\nQueue.queue_state; if paused it will be set to\nQueue.QueueState.PAUSED.\n\nWARNING: This method is only available to whitelisted\nusers. Using this method carries some risk. Read\n[Overview of Queue Management and queue.yaml](https:\/\/cloud.google.com\/cloud-tasks\/docs\/queue-yaml)\ncarefully and then sign up for\n[whitelist access to this method](https:\/\/goo.gl\/Fe5mUy).",
                  "parameters": {
                    "name": {
                      "description": "Required.\n\nThe queue name. For example:\n`projects\/PROJECT_ID\/location\/LOCATION_ID\/queues\/QUEUE_ID`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/queues\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "PauseQueueRequest"
                  },
                  "response": {
                    "$ref": "Queue"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "enable": {
                  "id": "cloudtasks.projects.locations.queues.enable",
                  "path": "v2beta2/{+name}:enable",
                  "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}:enable",
                  "httpMethod": "POST",
                  "description": "Enable a queue.\n\nThis method re-enables a queue after it has been\nQueue.QueueState.PAUSED or Queue.QueueState.DISABLED. The state of\na queue is stored in Queue.queue_state; after calling this method it\nwill be set to Queue.QueueState.ENABLED.\n\nWARNING: This method is only available to whitelisted\nusers. Using this method carries some risk. Read\n[Overview of Queue Management and queue.yaml](https:\/\/cloud.google.com\/cloud-tasks\/docs\/queue-yaml)\ncarefully and then sign up for\n[whitelist access to this method](https:\/\/goo.gl\/Fe5mUy).\n\nWARNING: Re-enabling many high-QPS queues at the same time can\nlead to target overloading. If you are re-enabling high-QPS\nqueues, follow the 500\/50\/5 pattern described in\n[Managing Cloud Tasks Scaling Risks](https:\/\/cloud.google.com\/cloud-tasks\/pdfs\/managing-cloud-tasks-scaling-risks-2017-06-05.pdf).",
                  "parameters": {
                    "name": {
                      "description": "Required.\n\nThe queue name. For example:\n`projects\/PROJECT_ID\/location\/LOCATION_ID\/queues\/QUEUE_ID`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/queues\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "EnableQueueRequest"
                  },
                  "response": {
                    "$ref": "Queue"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
              ,
              "resources": {
                "tasks": {
                  "methods": {
                    "list": {
                      "id": "cloudtasks.projects.locations.queues.tasks.list",
                      "path": "v2beta2/{+parent}/tasks",
                      "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}/tasks",
                      "httpMethod": "GET",
                      "description": "Lists the tasks in a queue.\n\nBy default response_view is Task.View.BASIC; not all\ninformation is retrieved by default due to performance\nconsiderations; ListTasksRequest.response_view controls the\nsubset of information which is returned.",
                      "parameters": {
                        "parent": {
                          "description": "Required.\n\nThe queue name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/queues\/QUEUE_ID`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/queues\/[^\/]+$",
                          "type": "string"
                        },
                        "responseView": {
                          "description": "The response_view specifies which subset of the Task will be\nreturned.\n\nBy default response_view is Task.View.BASIC; not all\ninformation is retrieved by default because some data, such as\npayloads, might be desirable to return only when needed because\nof its large size or because of the sensitivity of data that it\ncontains.\n\nAuthorization for Task.View.FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](https:\/\/cloud.google.com\/iam\/)\npermission on the Task.name resource.",
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        },
                        "orderBy": {
                          "description": "\nSort order used for the query. The fields supported for sorting\nare Task.schedule_time, Task.name, and\nPullTaskTarget.tag. All results will be returned in ascending\norder. The default ordering is by Task.schedule_time.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Requested page size. Fewer tasks than requested might be returned.\nIf unspecified, 1000 tasks will be returned.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A token identifying the page of results to return.\n\nTo request the first page results, page_token must be empty. To\nrequest the next page of results, page_token must be the value of\nListTasksResponse.next_page_token returned from the previous\ncall to CloudTasks.ListTasks method.\n\nThe page token is valid for only 2 hours.",
                          "location": "query",
                          "type": "string",
                          "format": "byte"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListTasksResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "id": "cloudtasks.projects.locations.queues.tasks.get",
                      "path": "v2beta2/{+name}",
                      "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}/tasks/{tasksId}",
                      "httpMethod": "GET",
                      "description": "Gets a task.",
                      "parameters": {
                        "name": {
                          "description": "Required.\n\nThe task name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/queues\/QUEUE_ID\/tasks\/TASK_ID`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/queues\/[^\/]+\/tasks\/[^\/]+$",
                          "type": "string"
                        },
                        "responseView": {
                          "description": "The response_view specifies which subset of the Task will be\nreturned.\n\nBy default response_view is Task.View.BASIC; not all\ninformation is retrieved by default because some data, such as\npayloads, might be desirable to return only when needed because\nof its large size or because of the sensitivity of data that it\ncontains.\n\nAuthorization for Task.View.FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](https:\/\/cloud.google.com\/iam\/)\npermission on the Task.name resource.",
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Task"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "id": "cloudtasks.projects.locations.queues.tasks.create",
                      "path": "v2beta2/{+parent}/tasks",
                      "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}/tasks",
                      "httpMethod": "POST",
                      "description": "Creates a task and adds it to a queue.\n\nTo add multiple tasks at the same time, use\n[HTTP batching](https:\/\/cloud.google.com\/storage\/docs\/json_api\/v1\/how-tos\/batch)\nor the batching documentation for your client library, for example\nhttps:\/\/developers.google.com\/api-client-library\/python\/guide\/batch.\n\nTasks cannot be updated after creation; there is no UpdateTask command.",
                      "parameters": {
                        "parent": {
                          "description": "Required.\n\nThe queue name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/queues\/QUEUE_ID`\n\nThe queue must already exist.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/queues\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "CreateTaskRequest"
                      },
                      "response": {
                        "$ref": "Task"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "id": "cloudtasks.projects.locations.queues.tasks.delete",
                      "path": "v2beta2/{+name}",
                      "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}/tasks/{tasksId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a task.",
                      "parameters": {
                        "name": {
                          "description": "Required.\n\nThe task name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/queues\/QUEUE_ID\/tasks\/TASK_ID`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/queues\/[^\/]+\/tasks\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "pull": {
                      "id": "cloudtasks.projects.locations.queues.tasks.pull",
                      "path": "v2beta2/{+name}/tasks:pull",
                      "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}/tasks:pull",
                      "httpMethod": "POST",
                      "description": "Pulls tasks from a pull queue and acquires a lease on them for a\nspecified PullTasksRequest.lease_duration.\n\nThis method is invoked by the lease holder to obtain the\nlease. The lease holder must acknowledge the task via\nCloudTasks.AcknowledgeTask after they have performed the work\nassociated with the task.\n\nThe payload is intended to store data that the lease holder needs\nto perform the work associated with the task. To return the\npayloads in the PullTasksResponse, set\nPullTasksRequest.response_view to Task.View.FULL.",
                      "parameters": {
                        "name": {
                          "description": "Required.\n\nThe queue name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/queues\/QUEUE_ID`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/queues\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "PullTasksRequest"
                      },
                      "response": {
                        "$ref": "PullTasksResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "acknowledge": {
                      "id": "cloudtasks.projects.locations.queues.tasks.acknowledge",
                      "path": "v2beta2/{+name}:acknowledge",
                      "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}/tasks/{tasksId}:acknowledge",
                      "httpMethod": "POST",
                      "description": "Acknowledges a pull task.\n\nThe lease holder, that is, the entity that received this task in\na PullTasksResponse, must call this method to indicate that\nthe work associated with the task has finished.\n\nThe lease holder must acknowledge a task within the\nPullTasksRequest.lease_duration or the lease will expire and\nthe task will become ready to be returned in a different\nPullTasksResponse. After the task is acknowledged, it will\nnot be returned by a later CloudTasks.PullTasks,\nCloudTasks.GetTask, or CloudTasks.ListTasks.",
                      "parameters": {
                        "name": {
                          "description": "Required.\n\nThe task name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/queues\/QUEUE_ID\/tasks\/TASK_ID`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/queues\/[^\/]+\/tasks\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "AcknowledgeTaskRequest"
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "renewLease": {
                      "id": "cloudtasks.projects.locations.queues.tasks.renewLease",
                      "path": "v2beta2/{+name}:renewLease",
                      "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}/tasks/{tasksId}:renewLease",
                      "httpMethod": "POST",
                      "description": "Renew the current lease of a pull task.\n\nThe lease holder can use this method to extend the lease by a new\nduration, starting from now. The new task lease will be\nreturned in Task.schedule_time.",
                      "parameters": {
                        "name": {
                          "description": "Required.\n\nThe task name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/queues\/QUEUE_ID\/tasks\/TASK_ID`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/queues\/[^\/]+\/tasks\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "RenewLeaseRequest"
                      },
                      "response": {
                        "$ref": "Task"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "cancelLease": {
                      "id": "cloudtasks.projects.locations.queues.tasks.cancelLease",
                      "path": "v2beta2/{+name}:cancelLease",
                      "flatPath": "v2beta2/projects/{projectsId}/locations/{locationsId}/queues/{queuesId}/tasks/{tasksId}:cancelLease",
                      "httpMethod": "POST",
                      "description": "Cancel a pull task's lease.\n\nThe lease holder can use this method to cancel a task's lease\nby setting Task.schedule_time to now. This will make the task\navailable to be leased to the next caller of CloudTasks.PullTasks.",
                      "parameters": {
                        "name": {
                          "description": "Required.\n\nThe task name. For example:\n`projects\/PROJECT_ID\/locations\/LOCATION_ID\/queues\/QUEUE_ID\/tasks\/TASK_ID`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/queues\/[^\/]+\/tasks\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "CancelLeaseRequest"
                      },
                      "response": {
                        "$ref": "Task"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": ""
}