{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "container:v1",
  "name": "container",
  "canonicalName": "Container",
  "version": "v1",
  "revision": "0",
  "title": "Kubernetes Engine API",
  "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/container-engine/",
  "protocol": "rest",
  "rootUrl": "https://container.googleapis.com/",
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://container.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "type": "object",
      "properties": {
        "clusters": {
          "description": "A list of clusters in the project in the specified zone, or across all ones.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        },
        "missingZones": {
          "description": "If any zones are listed here, the list of clusters returned may be missing those zones.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Cluster": {
      "id": "Cluster",
      "description": "A Google Kubernetes Engine cluster.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this cluster. The name must be unique within this project and location (e.g. zone or region), and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter.",
          "type": "string"
        },
        "description": {
          "description": "An optional description of this cluster.",
          "type": "string"
        },
        "initialNodeCount": {
          "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](https:\/\/cloud.google.com\/compute\/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. This field is deprecated, use node_pool.initial_node_count instead.",
          "type": "integer",
          "format": "int32"
        },
        "nodeConfig": {
          "description": "Parameters used in creating the cluster's nodes. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"initial_node_count\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. For responses, this field will be populated with the node configuration of the first node pool. (For configuration of each node pool, see `node_pool.config`) If unspecified, the defaults are used. This field is deprecated, use node_pool.config instead.",
          "$ref": "NodeConfig"
        },
        "masterAuth": {
          "description": "The authentication information for accessing the master endpoint. If unspecified, the defaults are used: For clusters before v1.12, if master_auth is unspecified, `username` will be set to \"admin\", a random password will be generated, and a client certificate will be issued.",
          "$ref": "MasterAuth"
        },
        "loggingService": {
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com\/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com\/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "monitoringService": {
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com\/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com\/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "network": {
          "description": "The name of the Google Compute Engine [network](https:\/\/cloud.google.com\/compute\/docs\/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used.",
          "type": "string"
        },
        "clusterIpv4Cidr": {
          "description": "The IP address range of the container pods in this cluster, in [CIDR](http:\/\/en.wikipedia.org\/wiki\/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0\/14`). Leave blank to have one automatically chosen or specify a `\/14` block in `10.0.0.0\/8`.",
          "type": "string"
        },
        "addonsConfig": {
          "description": "Configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "subnetwork": {
          "description": "The name of the Google Compute Engine [subnetwork](https:\/\/cloud.google.com\/compute\/docs\/subnetworks) to which the cluster is connected.",
          "type": "string"
        },
        "nodePools": {
          "description": "The node pools associated with this cluster. This field should not be set if \"node_config\" or \"initial_node_count\" are specified.",
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "locations": {
          "description": "The list of Google Compute Engine [zones](https:\/\/cloud.google.com\/compute\/docs\/zones#available) in which the cluster's nodes should be located. This field provides a default value if [NodePool.Locations](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/reference\/rest\/v1\/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) are not specified during node pool creation. Warning: changing cluster locations will update the [NodePool.Locations](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/reference\/rest\/v1\/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) of all node pools and will result in nodes being added and\/or removed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableKubernetesAlpha": {
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha API groups (e.g. v1alpha1) and features that may not be production ready in the kubernetes version of the master and nodes. The cluster has no SLA for uptime and master\/node upgrades are disabled. Alpha enabled clusters are automatically deleted thirty days after creation.",
          "type": "boolean"
        },
        "resourceLabels": {
          "description": "The resource labels for the cluster to use to annotate any related Google Compute Engine resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labelFingerprint": {
          "description": "The fingerprint of the set of labels for this cluster.",
          "type": "string"
        },
        "legacyAbac": {
          "description": "Configuration for the legacy ABAC authorization mode.",
          "$ref": "LegacyAbac"
        },
        "networkPolicy": {
          "description": "Configuration options for the NetworkPolicy feature.",
          "$ref": "NetworkPolicy"
        },
        "ipAllocationPolicy": {
          "description": "Configuration for cluster IP allocation.",
          "$ref": "IPAllocationPolicy"
        },
        "masterAuthorizedNetworksConfig": {
          "description": "The configuration options for master authorized networks feature.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "maintenancePolicy": {
          "description": "Configure the maintenance policy for this cluster.",
          "$ref": "MaintenancePolicy"
        },
        "binaryAuthorization": {
          "description": "Configuration for Binary Authorization.",
          "$ref": "BinaryAuthorization"
        },
        "autoscaling": {
          "description": "Cluster-level autoscaling configuration.",
          "$ref": "ClusterAutoscaling"
        },
        "networkConfig": {
          "description": "Configuration for cluster networking.",
          "$ref": "NetworkConfig"
        },
        "defaultMaxPodsConstraint": {
          "description": "The default constraint on the maximum number of pods that can be run simultaneously on a node in the node pool of this cluster. Only honored if cluster created with IP Alias support.",
          "$ref": "MaxPodsConstraint"
        },
        "resourceUsageExportConfig": {
          "description": "Configuration for exporting resource usages. Resource usage export is disabled when this config is unspecified.",
          "$ref": "ResourceUsageExportConfig"
        },
        "authenticatorGroupsConfig": {
          "description": "Configuration controlling RBAC group membership information.",
          "$ref": "AuthenticatorGroupsConfig"
        },
        "privateClusterConfig": {
          "description": "Configuration for private cluster.",
          "$ref": "PrivateClusterConfig"
        },
        "databaseEncryption": {
          "description": "Configuration of etcd encryption.",
          "$ref": "DatabaseEncryption"
        },
        "verticalPodAutoscaling": {
          "description": "Cluster-level Vertical Pod Autoscaling configuration.",
          "$ref": "VerticalPodAutoscaling"
        },
        "shieldedNodes": {
          "description": "Shielded Nodes configuration.",
          "$ref": "ShieldedNodes"
        },
        "releaseChannel": {
          "description": "Release channel configuration.",
          "$ref": "ReleaseChannel"
        },
        "workloadIdentityConfig": {
          "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies.",
          "$ref": "WorkloadIdentityConfig"
        },
        "meshCertificates": {
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
          "$ref": "MeshCertificates"
        },
        "notificationConfig": {
          "description": "Notification configuration of the cluster.",
          "$ref": "NotificationConfig"
        },
        "confidentialNodes": {
          "description": "Configuration of Confidential Nodes. All the nodes in the cluster will be Confidential VM once enabled.",
          "$ref": "ConfidentialNodes"
        },
        "identityServiceConfig": {
          "description": "Configuration for Identity Service component.",
          "$ref": "IdentityServiceConfig"
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "zone": {
          "description": "[Output only] The name of the Google Compute Engine [zone](https:\/\/cloud.google.com\/compute\/docs\/zones#available) in which the cluster resides. This field is deprecated, use location instead.",
          "type": "string"
        },
        "endpoint": {
          "description": "[Output only] The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https:\/\/username:password@endpoint\/`. See the `masterAuth` property of this resource for username and password information.",
          "type": "string"
        },
        "initialClusterVersion": {
          "description": "The initial Kubernetes version for this cluster. Valid versions are those found in validMasterVersions returned by getServerConfig. The version can be upgraded over time; such upgrades are reflected in currentMasterVersion and currentNodeVersion. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"\",\"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "currentMasterVersion": {
          "description": "[Output only] The current software version of the master endpoint.",
          "type": "string"
        },
        "currentNodeVersion": {
          "description": "[Output only] Deprecated, use [NodePools.version](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/reference\/rest\/v1\/projects.locations.clusters.nodePools) instead. The current version of the node software components. If they are currently at multiple versions because they're in the process of being upgraded, this reflects the minimum version of all nodes.",
          "type": "string"
        },
        "createTime": {
          "description": "[Output only] The time the cluster was created, in [RFC3339](https:\/\/www.ietf.org\/rfc\/rfc3339.txt) text format.",
          "type": "string"
        },
        "status": {
          "description": "[Output only] The current status of this cluster.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that some work is actively being done on the cluster, such as upgrading the master or node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is unusable. It will be automatically deleted. Details can be found in the `statusMessage` field.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality. Details can be found in the `statusMessage` field."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "statusMessage": {
          "description": "[Output only] Deprecated. Use conditions instead. Additional information about the current status of this cluster, if available.",
          "type": "string"
        },
        "nodeIpv4CidrSize": {
          "description": "[Output only] The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range. This field will only be set when cluster is in route-based network mode.",
          "type": "integer",
          "format": "int32"
        },
        "servicesIpv4Cidr": {
          "description": "[Output only] The IP address range of the Kubernetes services in this cluster, in [CIDR](http:\/\/en.wikipedia.org\/wiki\/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4\/29`). Service addresses are typically put in the last `\/16` from the container CIDR.",
          "type": "string"
        },
        "instanceGroupUrls": {
          "description": "Deprecated. Use node_pools.instance_group_urls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "currentNodeCount": {
          "description": "[Output only] The number of nodes currently in the cluster. Deprecated. Call Kubernetes API directly to retrieve node information.",
          "type": "integer",
          "format": "int32"
        },
        "expireTime": {
          "description": "[Output only] The time the cluster will be automatically deleted in [RFC3339](https:\/\/www.ietf.org\/rfc\/rfc3339.txt) text format.",
          "type": "string"
        },
        "location": {
          "description": "[Output only] The name of the Google Compute Engine [zone](https:\/\/cloud.google.com\/compute\/docs\/regions-zones\/regions-zones#available) or [region](https:\/\/cloud.google.com\/compute\/docs\/regions-zones\/regions-zones#available) in which the cluster resides.",
          "type": "string"
        },
        "enableTpu": {
          "description": "Enable the ability to use Cloud TPUs in this cluster.",
          "type": "boolean"
        },
        "tpuIpv4CidrBlock": {
          "description": "[Output only] The IP address range of the Cloud TPUs in this cluster, in [CIDR](http:\/\/en.wikipedia.org\/wiki\/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4\/29`).",
          "type": "string"
        },
        "conditions": {
          "description": "Which conditions caused the current cluster state.",
          "type": "array",
          "items": {
            "$ref": "StatusCondition"
          }
        },
        "autopilot": {
          "description": "Autopilot configuration for the cluster.",
          "$ref": "Autopilot"
        },
        "id": {
          "description": "Output only. Unique id for the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "nodePoolDefaults": {
          "description": "Default NodePool settings for the entire cluster. These settings are overridden if specified on the specific NodePool object.",
          "$ref": "NodePoolDefaults"
        },
        "loggingConfig": {
          "description": "Logging configuration for the cluster.",
          "$ref": "LoggingConfig"
        },
        "monitoringConfig": {
          "description": "Monitoring configuration for the cluster.",
          "$ref": "MonitoringConfig"
        },
        "nodePoolAutoConfig": {
          "description": "Node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters.",
          "$ref": "NodePoolAutoConfig"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of cluster fields, and may be sent on update requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        }
      }
    },
    "NodeConfig": {
      "id": "NodeConfig",
      "description": "Parameters that describe the nodes in a cluster. GKE Autopilot clusters do not recognize parameters in `NodeConfig`. Use AutoprovisioningNodePoolDefaults instead.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "The name of a Google Compute Engine [machine type](https:\/\/cloud.google.com\/compute\/docs\/machine-types) If unspecified, the default machine type is `e2-medium`.",
          "type": "string"
        },
        "diskSizeGb": {
          "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB.",
          "type": "integer",
          "format": "int32"
        },
        "oauthScopes": {
          "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https:\/\/www.googleapis.com\/auth\/compute` is required for mounting persistent storage on your nodes. * `https:\/\/www.googleapis.com\/auth\/devstorage.read_only` is required for communicating with **gcr.io** (the [Google Container Registry](https:\/\/cloud.google.com\/container-registry\/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. Specify the email address of the Service Account; otherwise, if no Service Account is specified, the \"default\" service account is used.",
          "type": "string"
        },
        "metadata": {
          "description": "The metadata key\/value pairs assigned to instances in the cluster. Keys must conform to the regexp `[a-zA-Z0-9-_]+` and be less than 128 bytes in length. These are reflected as part of a URL in the metadata server. Additionally, to avoid ambiguity, keys must not conflict with any other metadata keys for the project or be one of the reserved keys: - \"cluster-location\" - \"cluster-name\" - \"cluster-uid\" - \"configure-sh\" - \"containerd-configure-sh\" - \"enable-os-login\" - \"gci-ensure-gke-docker\" - \"gci-metrics-enabled\" - \"gci-update-strategy\" - \"instance-template\" - \"kube-env\" - \"startup-script\" - \"user-data\" - \"disable-address-manager\" - \"windows-startup-script-ps1\" - \"common-psm1\" - \"k8s-node-setup-psm1\" - \"install-ssh-psm1\" - \"user-profile-psm1\" Values are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on them is that each value's size must be less than or equal to 32 KB. The total size of all keys and values must be less than 512 KB.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "imageType": {
          "description": "The image type to use for this node. Note that for a given image type, the latest version of it will be used.",
          "type": "string"
        },
        "nodeImageConfig": {
          "description": "The node image configuration to use for this node pool. Note that this is only applicable for node pools using image_type=CUSTOM.",
          "$ref": "CustomImageConfig"
        },
        "labels": {
          "description": "The map of Kubernetes labels (key\/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https:\/\/kubernetes.io\/docs\/concepts\/overview\/working-with-objects\/labels\/",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "localSsdCount": {
          "description": "The number of local SSD disks to be attached to the node. The limit for this value is dependent upon the maximum number of disks available on a machine per zone. See: https:\/\/cloud.google.com\/compute\/docs\/disks\/local-ssd for more information.",
          "type": "integer",
          "format": "int32"
        },
        "tags": {
          "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster or node pool creation. Each tag within the list must comply with RFC1035.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "preemptible": {
          "description": "Whether the nodes are created as preemptible VM instances. See: https:\/\/cloud.google.com\/compute\/docs\/instances\/preemptible for more information about preemptible VM instances.",
          "type": "boolean"
        },
        "accelerators": {
          "description": "A list of hardware accelerators to be attached to each node. See https:\/\/cloud.google.com\/compute\/docs\/gpus for more information about support for GPUs.",
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "diskType": {
          "description": "Type of the disk attached to each node (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') If unspecified, the default disk type is 'pd-standard'",
          "type": "string"
        },
        "minCpuPlatform": {
          "description": "Minimum CPU platform to be used by this instance. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: \"Intel Haswell\"` or `minCpuPlatform: \"Intel Sandy Bridge\"`. For more information, read [how to specify min CPU platform](https:\/\/cloud.google.com\/compute\/docs\/instances\/specify-min-cpu-platform)",
          "type": "string"
        },
        "workloadMetadataConfig": {
          "description": "The workload metadata configuration for this node.",
          "$ref": "WorkloadMetadataConfig"
        },
        "taints": {
          "description": "List of kubernetes taints to be applied to each node. For more information, including usage and the valid values, see: https:\/\/kubernetes.io\/docs\/concepts\/configuration\/taint-and-toleration\/",
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          }
        },
        "sandboxConfig": {
          "description": "Sandbox configuration for this node.",
          "$ref": "SandboxConfig"
        },
        "nodeGroup": {
          "description": "Setting this field will assign instances of this pool to run on the specified node group. This is useful for running workloads on [sole tenant nodes](https:\/\/cloud.google.com\/compute\/docs\/nodes\/sole-tenant-nodes).",
          "type": "string"
        },
        "reservationAffinity": {
          "description": "The optional reservation affinity. Setting this field will apply the specified [Zonal Compute Reservation](https:\/\/cloud.google.com\/compute\/docs\/instances\/reserving-zonal-resources) to this node pool.",
          "$ref": "ReservationAffinity"
        },
        "shieldedInstanceConfig": {
          "description": "Shielded Instance options.",
          "$ref": "ShieldedInstanceConfig"
        },
        "linuxNodeConfig": {
          "description": "Parameters that can be configured on Linux nodes.",
          "$ref": "LinuxNodeConfig"
        },
        "kubeletConfig": {
          "description": "Node kubelet configs.",
          "$ref": "NodeKubeletConfig"
        },
        "bootDiskKmsKey": {
          "description": " The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects\/[KEY_PROJECT_ID]\/locations\/[LOCATION]\/keyRings\/[RING_NAME]\/cryptoKeys\/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https:\/\/cloud.google.com\/compute\/docs\/disks\/customer-managed-encryption",
          "type": "string"
        },
        "gcfsConfig": {
          "description": "Google Container File System (image streaming) configs.",
          "$ref": "GcfsConfig"
        },
        "advancedMachineFeatures": {
          "description": "Advanced features for the Compute Engine VM.",
          "$ref": "AdvancedMachineFeatures"
        },
        "gvnic": {
          "description": "Enable or disable gvnic in the node pool.",
          "$ref": "VirtualNIC"
        },
        "spot": {
          "description": "Spot flag for enabling Spot VM, which is a rebrand of the existing preemptible flag.",
          "type": "boolean"
        },
        "confidentialNodes": {
          "description": "Confidential nodes config. All the nodes in the node pool will be Confidential VM once enabled.",
          "$ref": "ConfidentialNodes"
        },
        "fastSocket": {
          "description": "Enable or disable NCCL fast socket for the node pool.",
          "$ref": "FastSocket"
        },
        "resourceLabels": {
          "description": "The resource labels for the node pool to use to annotate any related Google Compute Engine resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CustomImageConfig": {
      "id": "CustomImageConfig",
      "description": "CustomImageConfig contains the information r",
      "type": "object",
      "properties": {
        "image": {
          "description": "The name of the image to use for this node.",
          "type": "string"
        },
        "imageFamily": {
          "description": "The name of the image family to use for this node.",
          "type": "string"
        },
        "imageProject": {
          "description": "The project containing the image to use for this node.",
          "type": "string"
        }
      }
    },
    "AcceleratorConfig": {
      "id": "AcceleratorConfig",
      "description": "AcceleratorConfig represents a Hardware Accelerator request.",
      "type": "object",
      "properties": {
        "acceleratorCount": {
          "description": "The number of the accelerator cards exposed to an instance.",
          "type": "string",
          "format": "int64"
        },
        "acceleratorType": {
          "description": "The accelerator type resource name. List of supported accelerators [here](https:\/\/cloud.google.com\/compute\/docs\/gpus)",
          "type": "string"
        },
        "gpuPartitionSize": {
          "description": "Size of partitions to create on the GPU. Valid values are described in the NVIDIA [mig user guide](https:\/\/docs.nvidia.com\/datacenter\/tesla\/mig-user-guide\/#partitioning).",
          "type": "string"
        },
        "gpuSharingConfig": {
          "description": "The configuration for GPU sharing options.",
          "$ref": "GPUSharingConfig"
        }
      }
    },
    "GPUSharingConfig": {
      "id": "GPUSharingConfig",
      "description": "GPUSharingConfig represents the GPU sharing configuration for Hardware Accelerators.",
      "type": "object",
      "properties": {
        "maxSharedClientsPerGpu": {
          "description": "The max number of containers that can share a physical GPU.",
          "type": "string",
          "format": "int64"
        },
        "gpuSharingStrategy": {
          "description": "The type of GPU sharing strategy to enable on the GPU node.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "GPUs are time-shared between containers.",
            "GPUs are shared between containers with NVIDIA MPS."
          ],
          "enum": [
            "GPU_SHARING_STRATEGY_UNSPECIFIED",
            "TIME_SHARING",
            "MPS"
          ]
        }
      }
    },
    "WorkloadMetadataConfig": {
      "id": "WorkloadMetadataConfig",
      "description": "WorkloadMetadataConfig defines the metadata configuration to expose to workloads on the node pool.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "Mode is the configuration for how to expose metadata to workloads running on the node pool.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Expose all Compute Engine metadata to pods.",
            "Run the GKE Metadata Server on this node. The GKE Metadata Server exposes a metadata API to workloads that is compatible with the V1 Compute Metadata APIs exposed by the Compute Engine and App Engine Metadata Servers. This feature can only be enabled if Workload Identity is enabled at the cluster level."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "GCE_METADATA",
            "GKE_METADATA"
          ]
        }
      }
    },
    "NodeTaint": {
      "id": "NodeTaint",
      "description": "Kubernetes taint is comprised of three fields: key, value, and effect. Effect can only be one of three types: NoSchedule, PreferNoSchedule or NoExecute. See [here](https:\/\/kubernetes.io\/docs\/concepts\/configuration\/taint-and-toleration) for more information, including usage and the valid values.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key for taint.",
          "type": "string"
        },
        "value": {
          "description": "Value for taint.",
          "type": "string"
        },
        "effect": {
          "description": "Effect for taint.",
          "type": "string",
          "enumDescriptions": [
            "Not set",
            "NoSchedule",
            "PreferNoSchedule",
            "NoExecute"
          ],
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ]
        }
      }
    },
    "SandboxConfig": {
      "id": "SandboxConfig",
      "description": "SandboxConfig contains configurations of the sandbox to use for the node.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of the sandbox to use for the node.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Run sandbox using gvisor."
          ],
          "enum": [
            "UNSPECIFIED",
            "GVISOR"
          ]
        }
      }
    },
    "ReservationAffinity": {
      "id": "ReservationAffinity",
      "description": "[ReservationAffinity](https:\/\/cloud.google.com\/compute\/docs\/instances\/reserving-zonal-resources) is the configuration of desired reservation which instances could take capacity from.",
      "type": "object",
      "properties": {
        "consumeReservationType": {
          "description": "Corresponds to the type of reservation consumption.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Do not consume from any reserved capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "enum": [
            "UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ]
        },
        "key": {
          "description": "Corresponds to the label key of a reservation resource. To target a SPECIFIC_RESERVATION by name, specify \"googleapis.com\/reservation-name\" as the key and specify the name of your reservation as its value.",
          "type": "string"
        },
        "values": {
          "description": "Corresponds to the label value(s) of reservation resource(s).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "description": "A set of Shielded Instance options.",
      "type": "object",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created.",
          "type": "boolean"
        }
      }
    },
    "LinuxNodeConfig": {
      "id": "LinuxNodeConfig",
      "description": "Parameters that can be configured on Linux nodes.",
      "type": "object",
      "properties": {
        "sysctls": {
          "description": "The Linux kernel parameters to be applied to the nodes and all pods running on the nodes. The following parameters are supported. net.core.busy_poll net.core.busy_read net.core.netdev_max_backlog net.core.rmem_max net.core.wmem_default net.core.wmem_max net.core.optmem_max net.core.somaxconn net.ipv4.tcp_rmem net.ipv4.tcp_wmem net.ipv4.tcp_tw_reuse",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "NodeKubeletConfig": {
      "id": "NodeKubeletConfig",
      "description": "Node kubelet configs.",
      "type": "object",
      "properties": {
        "cpuManagerPolicy": {
          "description": "Control the CPU management policy on the node. See https:\/\/kubernetes.io\/docs\/tasks\/administer-cluster\/cpu-management-policies\/ The following values are allowed. * \"none\": the default, which represents the existing scheduling behavior. * \"static\": allows pods with certain resource characteristics to be granted increased CPU affinity and exclusivity on the node. The default value is 'none' if unspecified.",
          "type": "string"
        },
        "cpuCfsQuota": {
          "description": "Enable CPU CFS quota enforcement for containers that specify CPU limits. This option is enabled by default which makes kubelet use CFS quota (https:\/\/www.kernel.org\/doc\/Documentation\/scheduler\/sched-bwc.txt) to enforce container CPU limits. Otherwise, CPU limits will not be enforced at all. Disable this option to mitigate CPU throttling problems while still having your pods to be in Guaranteed QoS class by specifying the CPU limits. The default value is 'true' if unspecified.",
          "type": "boolean"
        },
        "cpuCfsQuotaPeriod": {
          "description": "Set the CPU CFS quota period value 'cpu.cfs_period_us'. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300ms\". Valid time units are \"ns\", \"us\" (or \"\u00B5s\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration.",
          "type": "string"
        },
        "podPidsLimit": {
          "description": "Set the Pod PID limits. See https:\/\/kubernetes.io\/docs\/concepts\/policy\/pid-limiting\/#pod-pid-limits Controls the maximum number of processes allowed to run in a pod. The value must be greater than or equal to 1024 and less than 4194304.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GcfsConfig": {
      "id": "GcfsConfig",
      "description": "GcfsConfig contains configurations of Google Container File System (image streaming).",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether to use GCFS.",
          "type": "boolean"
        }
      }
    },
    "AdvancedMachineFeatures": {
      "id": "AdvancedMachineFeatures",
      "description": "Specifies options for controlling advanced machine features.",
      "type": "object",
      "properties": {
        "threadsPerCore": {
          "description": "The number of threads per physical core. To disable simultaneous multithreading (SMT) set this to 1. If unset, the maximum number of threads supported per core by the underlying processor is assumed.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "VirtualNIC": {
      "id": "VirtualNIC",
      "description": "Configuration of gVNIC feature.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether gVNIC features are enabled in the node pool.",
          "type": "boolean"
        }
      }
    },
    "ConfidentialNodes": {
      "id": "ConfidentialNodes",
      "description": "ConfidentialNodes is configuration for the confidential nodes feature, which makes nodes run on confidential VMs.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether Confidential Nodes feature is enabled.",
          "type": "boolean"
        }
      }
    },
    "FastSocket": {
      "id": "FastSocket",
      "description": "Configuration of Fast Socket feature.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether Fast Socket features are enabled in the node pool.",
          "type": "boolean"
        }
      }
    },
    "MasterAuth": {
      "id": "MasterAuth",
      "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates.",
      "type": "object",
      "properties": {
        "username": {
          "description": "The username to use for HTTP basic authentication to the master endpoint. For clusters v1.6.0 and later, basic authentication can be disabled by leaving username unspecified (or setting it to the empty string). Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https:\/\/cloud.google.com\/kubernetes-engine\/docs\/how-to\/api-server-authentication",
          "type": "string"
        },
        "password": {
          "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password. If a password is provided for cluster creation, username must be non-empty. Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https:\/\/cloud.google.com\/kubernetes-engine\/docs\/how-to\/api-server-authentication",
          "type": "string"
        },
        "clientCertificateConfig": {
          "description": "Configuration for client certificate authentication on the cluster. For clusters before v1.12, if no configuration is specified, a client certificate is issued.",
          "$ref": "ClientCertificateConfig"
        },
        "clusterCaCertificate": {
          "description": "[Output only] Base64-encoded public certificate that is the root of trust for the cluster.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "[Output only] Base64-encoded public certificate used by clients to authenticate to the cluster endpoint.",
          "type": "string"
        },
        "clientKey": {
          "description": "[Output only] Base64-encoded private key used by clients to authenticate to the cluster endpoint.",
          "type": "string"
        }
      }
    },
    "ClientCertificateConfig": {
      "id": "ClientCertificateConfig",
      "description": "Configuration for client certificates on the cluster.",
      "type": "object",
      "properties": {
        "issueClientCertificate": {
          "description": "Issue a client certificate.",
          "type": "boolean"
        }
      }
    },
    "AddonsConfig": {
      "id": "AddonsConfig",
      "description": "Configuration for the addons that can be automatically spun up in the cluster, enabling additional functionality.",
      "type": "object",
      "properties": {
        "httpLoadBalancing": {
          "description": "Configuration for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
          "$ref": "HttpLoadBalancing"
        },
        "horizontalPodAutoscaling": {
          "description": "Configuration for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods.",
          "$ref": "HorizontalPodAutoscaling"
        },
        "kubernetesDashboard": {
          "description": "Configuration for the Kubernetes Dashboard. This addon is deprecated, and will be disabled in 1.15. It is recommended to use the Cloud Console to manage and monitor your Kubernetes clusters, workloads and applications. For more information, see: https:\/\/cloud.google.com\/kubernetes-engine\/docs\/concepts\/dashboards",
          "$ref": "KubernetesDashboard"
        },
        "networkPolicyConfig": {
          "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes.",
          "$ref": "NetworkPolicyConfig"
        },
        "cloudRunConfig": {
          "description": "Configuration for the Cloud Run addon, which allows the user to use a managed Knative service.",
          "$ref": "CloudRunConfig"
        },
        "dnsCacheConfig": {
          "description": "Configuration for NodeLocalDNS, a dns cache running on cluster nodes",
          "$ref": "DnsCacheConfig"
        },
        "configConnectorConfig": {
          "description": "Configuration for the ConfigConnector add-on, a Kubernetes extension to manage hosted GCP services through the Kubernetes API",
          "$ref": "ConfigConnectorConfig"
        },
        "gcePersistentDiskCsiDriverConfig": {
          "description": "Configuration for the Compute Engine Persistent Disk CSI driver.",
          "$ref": "GcePersistentDiskCsiDriverConfig"
        },
        "gcpFilestoreCsiDriverConfig": {
          "description": "Configuration for the GCP Filestore CSI driver.",
          "$ref": "GcpFilestoreCsiDriverConfig"
        }
      }
    },
    "HttpLoadBalancing": {
      "id": "HttpLoadBalancing",
      "description": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers.",
          "type": "boolean"
        }
      }
    },
    "HorizontalPodAutoscaling": {
      "id": "HorizontalPodAutoscaling",
      "description": "Configuration options for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster. When enabled, it ensures that metrics are collected into Stackdriver Monitoring.",
          "type": "boolean"
        }
      }
    },
    "KubernetesDashboard": {
      "id": "KubernetesDashboard",
      "description": "Configuration for the Kubernetes Dashboard.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the Kubernetes Dashboard is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "NetworkPolicyConfig": {
      "id": "NetworkPolicyConfig",
      "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether NetworkPolicy is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "CloudRunConfig": {
      "id": "CloudRunConfig",
      "description": "Configuration options for the Cloud Run feature.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether Cloud Run addon is enabled for this cluster.",
          "type": "boolean"
        },
        "loadBalancerType": {
          "description": "Which load balancer type is installed for Cloud Run.",
          "type": "string",
          "enumDescriptions": [
            "Load balancer type for Cloud Run is unspecified.",
            "Install external load balancer for Cloud Run.",
            "Install internal load balancer for Cloud Run."
          ],
          "enum": [
            "LOAD_BALANCER_TYPE_UNSPECIFIED",
            "LOAD_BALANCER_TYPE_EXTERNAL",
            "LOAD_BALANCER_TYPE_INTERNAL"
          ]
        }
      }
    },
    "DnsCacheConfig": {
      "id": "DnsCacheConfig",
      "description": "Configuration for NodeLocal DNSCache",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether NodeLocal DNSCache is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "ConfigConnectorConfig": {
      "id": "ConfigConnectorConfig",
      "description": "Configuration options for the Config Connector add-on.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether Cloud Connector is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "GcePersistentDiskCsiDriverConfig": {
      "id": "GcePersistentDiskCsiDriverConfig",
      "description": "Configuration for the Compute Engine PD CSI driver.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the Compute Engine PD CSI driver is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "GcpFilestoreCsiDriverConfig": {
      "id": "GcpFilestoreCsiDriverConfig",
      "description": "Configuration for the GCP Filestore CSI driver.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the GCP Filestore CSI driver is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "NodePool": {
      "id": "NodePool",
      "description": "NodePool contains the name and configuration for a cluster's node pool. Node pools are a set of nodes (i.e. VM's), with a common configuration and specification, under the control of the cluster master. They may have a set of Kubernetes labels applied to them, which may be used to reference them during pod scheduling. They may also be resized up or down, to accommodate the workload.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the node pool.",
          "type": "string"
        },
        "config": {
          "description": "The node configuration of the pool.",
          "$ref": "NodeConfig"
        },
        "initialNodeCount": {
          "description": "The initial node count for the pool. You must ensure that your Compute Engine [resource quota](https:\/\/cloud.google.com\/compute\/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota.",
          "type": "integer",
          "format": "int32"
        },
        "locations": {
          "description": "The list of Google Compute Engine [zones](https:\/\/cloud.google.com\/compute\/docs\/zones#available) in which the NodePool's nodes should be located. If this value is unspecified during node pool creation, the [Cluster.Locations](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/reference\/rest\/v1\/projects.locations.clusters#Cluster.FIELDS.locations) value will be used, instead. Warning: changing node pool locations will result in nodes being added and\/or removed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "networkConfig": {
          "description": "Networking configuration for this NodePool. If specified, it overrides the cluster-level defaults.",
          "$ref": "NodeNetworkConfig"
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "version": {
          "description": "The version of the Kubernetes of this node.",
          "type": "string"
        },
        "instanceGroupUrls": {
          "description": "[Output only] The resource URLs of the [managed instance groups](https:\/\/cloud.google.com\/compute\/docs\/instance-groups\/creating-groups-of-managed-instances) associated with this node pool. During the node pool blue-green upgrade operation, the URLs contain both blue and green resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "description": "[Output only] The status of the nodes in this pool instance.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RUNNING_WITH_ERROR state indicates the node pool has been created and is partially usable. Some error state has occurred and some functionality may be impaired. Customer may need to reissue a request or trigger a new update.",
            "The RECONCILING state indicates that some work is actively being done on the node pool, such as upgrading node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool may be unusable. Details can be found in the `statusMessage` field."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RUNNING_WITH_ERROR",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ]
        },
        "statusMessage": {
          "description": "[Output only] Deprecated. Use conditions instead. Additional information about the current status of this node pool instance, if available.",
          "type": "string"
        },
        "autoscaling": {
          "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled only if a valid configuration is present.",
          "$ref": "NodePoolAutoscaling"
        },
        "management": {
          "description": "NodeManagement configuration for this NodePool.",
          "$ref": "NodeManagement"
        },
        "maxPodsConstraint": {
          "description": "The constraint on the maximum number of pods that can be run simultaneously on a node in the node pool.",
          "$ref": "MaxPodsConstraint"
        },
        "conditions": {
          "description": "Which conditions caused the current node pool state.",
          "type": "array",
          "items": {
            "$ref": "StatusCondition"
          }
        },
        "podIpv4CidrSize": {
          "description": "[Output only] The pod CIDR block size per node in this node pool.",
          "type": "integer",
          "format": "int32"
        },
        "upgradeSettings": {
          "description": "Upgrade settings control disruption and speed of the upgrade.",
          "$ref": "UpgradeSettings"
        },
        "updateInfo": {
          "description": "Output only. [Output only] Update info contains relevant information during a node pool update.",
          "readOnly": true,
          "$ref": "UpdateInfo"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of node pool fields, and may be sent on update requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "loggingConfig": {
          "description": "Logging configuration.",
          "$ref": "NodePoolLoggingConfig"
        }
      }
    },
    "NodeNetworkConfig": {
      "id": "NodeNetworkConfig",
      "description": "Parameters for node pool-level network config.",
      "type": "object",
      "properties": {
        "createPodRange": {
          "description": "Input only. Whether to create a new range for pod IPs in this node pool. Defaults are provided for `pod_range` and `pod_ipv4_cidr_block` if they are not specified. If neither `create_pod_range` or `pod_range` are specified, the cluster-level default (`ip_allocation_policy.cluster_ipv4_cidr_block`) is used. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created.",
          "type": "boolean"
        },
        "podRange": {
          "description": "The ID of the secondary range for pod IPs. If `create_pod_range` is true, this ID is used for the new range. If `create_pod_range` is false, uses an existing secondary range with this ID. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created.",
          "type": "string"
        },
        "podIpv4CidrBlock": {
          "description": "The IP address range for pod IPs in this node pool. Only applicable if `create_pod_range` is true. Set to blank to have a range chosen with the default size. Set to \/netmask (e.g. `\/14`) to have a range chosen with a specific netmask. Set to a [CIDR](https:\/\/en.wikipedia.org\/wiki\/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0\/14`) to pick a specific range to use. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created.",
          "type": "string"
        },
        "enablePrivateNodes": {
          "description": "Whether nodes have internal IP addresses only. If enable_private_nodes is not specified, then the value is derived from cluster.privateClusterConfig.enablePrivateNodes",
          "type": "boolean"
        },
        "networkPerformanceConfig": {
          "description": "Network bandwidth tier configuration.",
          "$ref": "NetworkPerformanceConfig"
        }
      }
    },
    "NetworkPerformanceConfig": {
      "id": "NetworkPerformanceConfig",
      "description": "Configuration of all network bandwidth tiers",
      "type": "object",
      "properties": {
        "totalEgressBandwidthTier": {
          "description": "Specifies the total network bandwidth tier for the NodePool.",
          "type": "string",
          "enumDescriptions": [
            "Default value",
            "Higher bandwidth, actual values based on VM size."
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_1"
          ]
        }
      }
    },
    "NodePoolAutoscaling": {
      "id": "NodePoolAutoscaling",
      "description": "NodePoolAutoscaling contains information required by cluster autoscaler to adjust the size of the node pool to the current cluster usage.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Is autoscaling enabled for this node pool.",
          "type": "boolean"
        },
        "minNodeCount": {
          "description": "Minimum number of nodes for one location in the NodePool. Must be >= 1 and <= max_node_count.",
          "type": "integer",
          "format": "int32"
        },
        "maxNodeCount": {
          "description": "Maximum number of nodes for one location in the NodePool. Must be >= min_node_count. There has to be enough quota to scale up the cluster.",
          "type": "integer",
          "format": "int32"
        },
        "autoprovisioned": {
          "description": "Can this node pool be deleted automatically.",
          "type": "boolean"
        },
        "locationPolicy": {
          "description": "Location policy used when scaling up a nodepool.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "BALANCED is a best effort policy that aims to balance the sizes of different zones.",
            "ANY policy picks zones that have the highest capacity available."
          ],
          "enum": [
            "LOCATION_POLICY_UNSPECIFIED",
            "BALANCED",
            "ANY"
          ]
        },
        "totalMinNodeCount": {
          "description": "Minimum number of nodes in the node pool. Must be greater than 1 less than total_max_node_count. The total_*_node_count fields are mutually exclusive with the *_node_count fields.",
          "type": "integer",
          "format": "int32"
        },
        "totalMaxNodeCount": {
          "description": "Maximum number of nodes in the node pool. Must be greater than total_min_node_count. There has to be enough quota to scale up the cluster. The total_*_node_count fields are mutually exclusive with the *_node_count fields.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "NodeManagement": {
      "id": "NodeManagement",
      "description": "NodeManagement defines the set of node management services turned on for the node pool.",
      "type": "object",
      "properties": {
        "autoUpgrade": {
          "description": "A flag that specifies whether node auto-upgrade is enabled for the node pool. If enabled, node auto-upgrade helps keep the nodes in your node pool up to date with the latest release version of Kubernetes.",
          "type": "boolean"
        },
        "autoRepair": {
          "description": "A flag that specifies whether the node auto-repair is enabled for the node pool. If enabled, the nodes in this node pool will be monitored and, if they fail health checks too many times, an automatic repair action will be triggered.",
          "type": "boolean"
        },
        "upgradeOptions": {
          "description": "Specifies the Auto Upgrade knobs for the node pool.",
          "$ref": "AutoUpgradeOptions"
        }
      }
    },
    "AutoUpgradeOptions": {
      "id": "AutoUpgradeOptions",
      "description": "AutoUpgradeOptions defines the set of options for the user to control how the Auto Upgrades will proceed.",
      "type": "object",
      "properties": {
        "autoUpgradeStartTime": {
          "description": "[Output only] This field is set when upgrades are about to commence with the approximate start time for the upgrades, in [RFC3339](https:\/\/www.ietf.org\/rfc\/rfc3339.txt) text format.",
          "type": "string"
        },
        "description": {
          "description": "[Output only] This field is set when upgrades are about to commence with the description of the upgrade.",
          "type": "string"
        }
      }
    },
    "MaxPodsConstraint": {
      "id": "MaxPodsConstraint",
      "description": "Constraints applied to pods.",
      "type": "object",
      "properties": {
        "maxPodsPerNode": {
          "description": "Constraint enforced on the max num of pods per node.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "StatusCondition": {
      "id": "StatusCondition",
      "description": "StatusCondition describes why a cluster or a node pool has a certain status (e.g., ERROR or DEGRADED).",
      "type": "object",
      "properties": {
        "code": {
          "description": "Machine-friendly representation of the condition Deprecated. Use canonical_code instead.",
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN indicates a generic condition.",
            "GCE_STOCKOUT indicates that Google Compute Engine resources are temporarily unavailable.",
            "GKE_SERVICE_ACCOUNT_DELETED indicates that the user deleted their robot service account.",
            "Google Compute Engine quota was exceeded.",
            "Cluster state was manually changed by an SRE due to a system logic error.",
            "Unable to perform an encrypt operation against the CloudKMS key used for etcd level encryption.",
            "Cluster CA is expiring soon."
          ],
          "enum": [
            "UNKNOWN",
            "GCE_STOCKOUT",
            "GKE_SERVICE_ACCOUNT_DELETED",
            "GCE_QUOTA_EXCEEDED",
            "SET_BY_OPERATOR",
            "CLOUD_KMS_KEY_ERROR",
            "CA_EXPIRING"
          ]
        },
        "message": {
          "description": "Human-friendly representation of the condition",
          "type": "string"
        },
        "canonicalCode": {
          "description": "Canonical code of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Not an error; returned on success HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported\/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ]
        }
      }
    },
    "UpgradeSettings": {
      "id": "UpgradeSettings",
      "description": "These upgrade settings control the level of parallelism and the level of disruption caused by an upgrade. maxUnavailable controls the number of nodes that can be simultaneously unavailable. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). Note: upgrades inevitably introduce some disruption since workloads need to be moved from old nodes to new, upgraded ones. Even if maxUnavailable=0, this holds true. (Disruption stays within the limits of PodDisruptionBudget, if it is configured.) Consider a hypothetical node pool with 5 nodes having maxSurge=2, maxUnavailable=1. This means the upgrade process upgrades 3 nodes simultaneously. It creates 2 additional (upgraded) nodes, then it brings down 3 old (not yet upgraded) nodes at the same time. This ensures that there are always at least 4 nodes available. These upgrade settings configure the upgrade strategy for the node pool. Use strategy to switch between the strategies applied to the node pool. If the strategy is ROLLING, use max_surge and max_unavailable to control the level of parallelism and the level of disruption caused by upgrade. 1. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. 2. maxUnavailable controls the number of nodes that can be simultaneously unavailable. 3. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). If the strategy is BLUE_GREEN, use blue_green_settings to configure the blue-green upgrade related settings. 1. standard_rollout_policy is the default policy. The policy is used to control the way blue pool gets drained. The draining is executed in the batch mode. The batch size could be specified as either percentage of the node pool size or the number of nodes. batch_soak_duration is the soak time after each batch gets drained. 2. node_pool_soak_duration is the soak time after all blue nodes are drained. After this period, the blue pool nodes will be deleted.",
      "type": "object",
      "properties": {
        "maxSurge": {
          "description": "The maximum number of nodes that can be created beyond the current size of the node pool during the upgrade process.",
          "type": "integer",
          "format": "int32"
        },
        "maxUnavailable": {
          "description": "The maximum number of nodes that can be simultaneously unavailable during the upgrade process. A node is considered available if its status is Ready.",
          "type": "integer",
          "format": "int32"
        },
        "strategy": {
          "description": "Update strategy of the node pool.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "ROLLING is the synonymous with SURGE. Deprecate this value and use SURGE instead.",
            "blue-green upgrade.",
            "SURGE is the traditional way of upgrade a node pool. max_surge and max_unavailable determines the level of upgrade parallelism."
          ],
          "enum": [
            "NODE_POOL_UPDATE_STRATEGY_UNSPECIFIED",
            "ROLLING",
            "BLUE_GREEN",
            "SURGE"
          ]
        },
        "blueGreenSettings": {
          "description": "Settings for blue-green upgrade strategy.",
          "$ref": "BlueGreenSettings"
        },
        "rollingSettings": {
          "description": "Settings for rolling update strategy.",
          "$ref": "RollingSettings"
        }
      }
    },
    "BlueGreenSettings": {
      "id": "BlueGreenSettings",
      "description": "Settings for blue-green upgrade.",
      "type": "object",
      "properties": {
        "standardRolloutPolicy": {
          "description": "Standard policy for the blue-green upgrade.",
          "$ref": "StandardRolloutPolicy"
        },
        "nodePoolSoakDuration": {
          "description": "Time needed after draining entire blue pool. After this period, blue pool will be cleaned up.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "StandardRolloutPolicy": {
      "id": "StandardRolloutPolicy",
      "description": "Standard rollout policy is the default policy for blue-green.",
      "type": "object",
      "properties": {
        "batchPercentage": {
          "description": "Percentage of the bool pool nodes to drain in a batch. The range of this field should be (0.0, 1.0].",
          "type": "number",
          "format": "float"
        },
        "batchNodeCount": {
          "description": "Number of blue nodes to drain in a batch.",
          "type": "integer",
          "format": "int32"
        },
        "batchSoakDuration": {
          "description": "Soak time after each batch gets drained. Default to zero.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "RollingSettings": {
      "id": "RollingSettings",
      "description": "Settings for rolling update.",
      "type": "object",
      "properties": {
        "maxSurgePercentage": {
          "description": "Percentage of the maximum number of nodes that can be created beyond the current size of the node pool during the upgrade process. The range of this field should be [0, 100].",
          "type": "integer",
          "format": "int32"
        },
        "maxUnavailablePercentage": {
          "description": "Percentage of the maximum number of nodes that can be unavailable during during the upgrade process.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "UpdateInfo": {
      "id": "UpdateInfo",
      "description": "UpdateInfo contains resource (instance groups, etc), status and other intermediate information relevant to a node pool upgrade.",
      "type": "object",
      "properties": {
        "blueGreenInfo": {
          "description": "Information of a blue-green upgrade.",
          "$ref": "BlueGreenInfo"
        }
      }
    },
    "BlueGreenInfo": {
      "id": "BlueGreenInfo",
      "description": "Information relevant to blue-green upgrade.",
      "type": "object",
      "properties": {
        "phase": {
          "description": "Current blue-green upgrade phase.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified phase.",
            "blue-green upgrade has been initiated.",
            "Start creating green pool nodes.",
            "Start cordoning blue pool nodes.",
            "Start draining blue pool nodes.",
            "Start soaking time after draining entire blue pool.",
            "Start deleting blue nodes.",
            "Rollback has been initiated."
          ],
          "enum": [
            "PHASE_UNSPECIFIED",
            "UPDATE_STARTED",
            "CREATING_GREEN_POOL",
            "CORDONING_BLUE_POOL",
            "DRAINING_BLUE_POOL",
            "NODE_POOL_SOAKING",
            "DELETING_BLUE_POOL",
            "ROLLBACK_STARTED"
          ]
        },
        "blueInstanceGroupUrls": {
          "description": "The resource URLs of the [managed instance groups] (\/compute\/docs\/instance-groups\/creating-groups-of-managed-instances) associated with blue pool.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "greenInstanceGroupUrls": {
          "description": "The resource URLs of the [managed instance groups] (\/compute\/docs\/instance-groups\/creating-groups-of-managed-instances) associated with green pool.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bluePoolDeletionStartTime": {
          "description": "Time to start deleting blue pool to complete blue-green upgrade, in [RFC3339](https:\/\/www.ietf.org\/rfc\/rfc3339.txt) text format.",
          "type": "string"
        },
        "greenPoolVersion": {
          "description": "Version of green pool.",
          "type": "string"
        }
      }
    },
    "NodePoolLoggingConfig": {
      "id": "NodePoolLoggingConfig",
      "description": "NodePoolLoggingConfig specifies logging configuration for nodepools.",
      "type": "object",
      "properties": {
        "variantConfig": {
          "description": "Logging variant configuration.",
          "$ref": "LoggingVariantConfig"
        }
      }
    },
    "LoggingVariantConfig": {
      "id": "LoggingVariantConfig",
      "description": "LoggingVariantConfig specifies the behaviour of the logging component.",
      "type": "object",
      "properties": {
        "variant": {
          "description": "Logging variant deployed on nodes.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "default logging variant.",
            "maximum logging throughput variant."
          ],
          "enum": [
            "VARIANT_UNSPECIFIED",
            "DEFAULT",
            "MAX_THROUGHPUT"
          ]
        }
      }
    },
    "LegacyAbac": {
      "id": "LegacyAbac",
      "description": "Configuration for the legacy Attribute Based Access Control authorization mode.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the ABAC authorizer is enabled for this cluster. When enabled, identities in the system, including service accounts, nodes, and controllers, will have statically granted permissions beyond those provided by the RBAC configuration or IAM.",
          "type": "boolean"
        }
      }
    },
    "NetworkPolicy": {
      "id": "NetworkPolicy",
      "description": "Configuration options for the NetworkPolicy feature. https:\/\/kubernetes.io\/docs\/concepts\/services-networking\/networkpolicies\/",
      "type": "object",
      "properties": {
        "provider": {
          "description": "The selected network policy provider.",
          "type": "string",
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ],
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ]
        },
        "enabled": {
          "description": "Whether network policy is enabled on the cluster.",
          "type": "boolean"
        }
      }
    },
    "IPAllocationPolicy": {
      "id": "IPAllocationPolicy",
      "description": "Configuration for controlling how IPs are allocated in the cluster.",
      "type": "object",
      "properties": {
        "useIpAliases": {
          "description": "Whether alias IPs will be used for pod IPs in the cluster. This is used in conjunction with use_routes. It cannot be true if use_routes is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode",
          "type": "boolean"
        },
        "createSubnetwork": {
          "description": "Whether a new subnetwork will be created automatically for the cluster. This field is only applicable when `use_ip_aliases` is true.",
          "type": "boolean"
        },
        "subnetworkName": {
          "description": "A custom subnetwork name to be used if `create_subnetwork` is true. If this field is empty, then an automatic name will be chosen for the new subnetwork.",
          "type": "string"
        },
        "clusterIpv4Cidr": {
          "description": "This field is deprecated, use cluster_ipv4_cidr_block.",
          "type": "string"
        },
        "nodeIpv4Cidr": {
          "description": "This field is deprecated, use node_ipv4_cidr_block.",
          "type": "string"
        },
        "servicesIpv4Cidr": {
          "description": "This field is deprecated, use services_ipv4_cidr_block.",
          "type": "string"
        },
        "clusterSecondaryRangeName": {
          "description": "The name of the secondary range to be used for the cluster CIDR block. The secondary range will be used for pod IP addresses. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases is true and create_subnetwork is false.",
          "type": "string"
        },
        "servicesSecondaryRangeName": {
          "description": "The name of the secondary range to be used as for the services CIDR block. The secondary range will be used for service ClusterIPs. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases is true and create_subnetwork is false.",
          "type": "string"
        },
        "clusterIpv4CidrBlock": {
          "description": "The IP address range for the cluster pod IPs. If this field is set, then `cluster.cluster_ipv4_cidr` must be left blank. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to \/netmask (e.g. `\/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http:\/\/en.wikipedia.org\/wiki\/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0\/14`) from the RFC-1918 private networks (e.g. `10.0.0.0\/8`, `172.16.0.0\/12`, `192.168.0.0\/16`) to pick a specific range to use.",
          "type": "string"
        },
        "nodeIpv4CidrBlock": {
          "description": "The IP address range of the instance IPs in this cluster. This is applicable only if `create_subnetwork` is true. Set to blank to have a range chosen with the default size. Set to \/netmask (e.g. `\/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http:\/\/en.wikipedia.org\/wiki\/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0\/14`) from the RFC-1918 private networks (e.g. `10.0.0.0\/8`, `172.16.0.0\/12`, `192.168.0.0\/16`) to pick a specific range to use.",
          "type": "string"
        },
        "servicesIpv4CidrBlock": {
          "description": "The IP address range of the services IPs in this cluster. If blank, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to \/netmask (e.g. `\/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http:\/\/en.wikipedia.org\/wiki\/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0\/14`) from the RFC-1918 private networks (e.g. `10.0.0.0\/8`, `172.16.0.0\/12`, `192.168.0.0\/16`) to pick a specific range to use.",
          "type": "string"
        },
        "tpuIpv4CidrBlock": {
          "description": "The IP address range of the Cloud TPUs in this cluster. If unspecified, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. If unspecified, the range will use the default size. Set to \/netmask (e.g. `\/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http:\/\/en.wikipedia.org\/wiki\/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0\/14`) from the RFC-1918 private networks (e.g. `10.0.0.0\/8`, `172.16.0.0\/12`, `192.168.0.0\/16`) to pick a specific range to use.",
          "type": "string"
        },
        "useRoutes": {
          "description": "Whether routes will be used for pod IPs in the cluster. This is used in conjunction with use_ip_aliases. It cannot be true if use_ip_aliases is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode",
          "type": "boolean"
        }
      }
    },
    "MasterAuthorizedNetworksConfig": {
      "id": "MasterAuthorizedNetworksConfig",
      "description": "Configuration options for the master authorized networks feature. Enabled master authorized networks will disallow all external traffic to access Kubernetes master through HTTPS except traffic from the given CIDR blocks, Google Compute Engine Public IPs and Google Prod IPs.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether or not master authorized networks is enabled.",
          "type": "boolean"
        },
        "cidrBlocks": {
          "description": "cidr_blocks define up to 50 external networks that could access Kubernetes master through HTTPS.",
          "type": "array",
          "items": {
            "$ref": "CidrBlock"
          }
        },
        "gcpPublicCidrsAccessEnabled": {
          "description": "Whether master is accessbile via Google Compute Engine Public IPs.",
          "type": "boolean"
        }
      }
    },
    "CidrBlock": {
      "id": "CidrBlock",
      "description": "CidrBlock contains an optional name and one CIDR block.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "display_name is an optional field for users to identify CIDR blocks.",
          "type": "string"
        },
        "cidrBlock": {
          "description": "cidr_block must be specified in CIDR notation.",
          "type": "string"
        }
      }
    },
    "MaintenancePolicy": {
      "id": "MaintenancePolicy",
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster.",
      "type": "object",
      "properties": {
        "window": {
          "description": "Specifies the maintenance window in which maintenance may be performed.",
          "$ref": "MaintenanceWindow"
        },
        "resourceVersion": {
          "description": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes (and so that users of the API unaware of some fields won't accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy.",
          "type": "string"
        }
      }
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "description": "MaintenanceWindow defines the maintenance window to be used for the cluster.",
      "type": "object",
      "properties": {
        "dailyMaintenanceWindow": {
          "description": "DailyMaintenanceWindow specifies a daily maintenance operation window.",
          "$ref": "DailyMaintenanceWindow"
        },
        "recurringWindow": {
          "description": "RecurringWindow specifies some number of recurring time periods for maintenance to occur. The time windows may be overlapping. If no maintenance windows are set, maintenance can occur at any time.",
          "$ref": "RecurringTimeWindow"
        },
        "maintenanceExclusions": {
          "description": "Exceptions to maintenance window. Non-emergency maintenance should not occur in these windows.",
          "type": "object",
          "additionalProperties": {
            "$ref": "TimeWindow"
          }
        }
      }
    },
    "DailyMaintenanceWindow": {
      "id": "DailyMaintenanceWindow",
      "description": "Time window specified for daily maintenance operations.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Time within the maintenance window to start the maintenance operations. Time format should be in [RFC3339](https:\/\/www.ietf.org\/rfc\/rfc3339.txt) format \"HH:MM\", where HH : [00-23] and MM : [00-59] GMT.",
          "type": "string"
        },
        "duration": {
          "description": "[Output only] Duration of the time window, automatically chosen to be smallest possible in the given scenario. Duration will be in [RFC3339](https:\/\/www.ietf.org\/rfc\/rfc3339.txt) format \"PTnHnMnS\".",
          "type": "string"
        }
      }
    },
    "RecurringTimeWindow": {
      "id": "RecurringTimeWindow",
      "description": "Represents an arbitrary window of time that recurs.",
      "type": "object",
      "properties": {
        "window": {
          "description": "The window of the first recurrence.",
          "$ref": "TimeWindow"
        },
        "recurrence": {
          "description": "An RRULE (https:\/\/tools.ietf.org\/html\/rfc5545#section-3.8.5.3) for how this window reccurs. They go on for the span of time between the start and end time. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` This specifies how frequently the window starts. Eg, if you wanted to have a 9-5 UTC-4 window every weekday, you'd use something like: ``` start time = 2019-01-01T09:00:00-0400 end time = 2019-01-01T17:00:00-0400 recurrence = FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR ``` Windows can span multiple days. Eg, to make the window encompass every weekend from midnight Saturday till the last minute of Sunday UTC: ``` start time = 2019-01-05T00:00:00Z end time = 2019-01-07T23:59:00Z recurrence = FREQ=WEEKLY;BYDAY=SA ``` Note the start and end time's specific dates are largely arbitrary except to specify duration of the window and when it first starts. The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported.",
          "type": "string"
        }
      }
    },
    "TimeWindow": {
      "id": "TimeWindow",
      "description": "Represents an arbitrary window of time.",
      "type": "object",
      "properties": {
        "maintenanceExclusionOptions": {
          "description": "MaintenanceExclusionOptions provides maintenance exclusion related options.",
          "$ref": "MaintenanceExclusionOptions"
        },
        "startTime": {
          "description": "The time that the window first starts.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The time that the window ends. The end time should take place after the start time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "MaintenanceExclusionOptions": {
      "id": "MaintenanceExclusionOptions",
      "description": "Represents the Maintenance exclusion option.",
      "type": "object",
      "properties": {
        "scope": {
          "description": "Scope specifies the upgrade scope which upgrades are blocked by the exclusion.",
          "type": "string",
          "enumDescriptions": [
            "NO_UPGRADES excludes all upgrades, including patch upgrades and minor upgrades across control planes and nodes. This is the default exclusion behavior.",
            "NO_MINOR_UPGRADES excludes all minor upgrades for the cluster, only patches are allowed.",
            "NO_MINOR_OR_NODE_UPGRADES excludes all minor upgrades for the cluster, and also exclude all node pool upgrades. Only control plane patches are allowed."
          ],
          "enum": [
            "NO_UPGRADES",
            "NO_MINOR_UPGRADES",
            "NO_MINOR_OR_NODE_UPGRADES"
          ]
        }
      }
    },
    "BinaryAuthorization": {
      "id": "BinaryAuthorization",
      "description": "Configuration for Binary Authorization.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Enable Binary Authorization for this cluster. If enabled, all container images will be validated by Binary Authorization.",
          "type": "boolean"
        },
        "evaluationMode": {
          "description": "Mode of operation for binauthz policy evaluation. Currently the only options are equivalent to enable\/disable. If unspecified, defaults to DISABLED.",
          "type": "string",
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Enforce Kubernetes admission requests with BinaryAuthorization using the project's singleton policy. This is equivalent to setting the enabled boolean to true."
          ],
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "PROJECT_SINGLETON_POLICY_ENFORCE"
          ]
        },
        "policy": {
          "description": "The relative resource name of the binauthz platform policy to audit and\/or enforce against. GKE platform policies have the following format: `projects\/{project_number}\/platforms\/gke\/policies\/{policy_id}`. If absent, this defaults to a Google managed policy with pre-configured safeguards.",
          "type": "string"
        }
      }
    },
    "ClusterAutoscaling": {
      "id": "ClusterAutoscaling",
      "description": "ClusterAutoscaling contains global, per-cluster information required by Cluster Autoscaler to automatically adjust the size of the cluster and create\/delete node pools based on the current needs.",
      "type": "object",
      "properties": {
        "enableNodeAutoprovisioning": {
          "description": "Enables automatic node pool creation and deletion.",
          "type": "boolean"
        },
        "resourceLimits": {
          "description": "Contains global constraints regarding minimum and maximum amount of resources in the cluster.",
          "type": "array",
          "items": {
            "$ref": "ResourceLimit"
          }
        },
        "autoscalingProfile": {
          "description": "Defines autoscaling behaviour.",
          "type": "string",
          "enumDescriptions": [
            "No change to autoscaling configuration.",
            "Prioritize optimizing utilization of resources.",
            "Use default (balanced) autoscaling configuration."
          ],
          "enum": [
            "PROFILE_UNSPECIFIED",
            "OPTIMIZE_UTILIZATION",
            "BALANCED"
          ]
        },
        "autoprovisioningNodePoolDefaults": {
          "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP.",
          "$ref": "AutoprovisioningNodePoolDefaults"
        },
        "autoprovisioningLocations": {
          "description": "The list of Google Compute Engine [zones](https:\/\/cloud.google.com\/compute\/docs\/zones#available) in which the NodePool's nodes can be created by NAP.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ResourceLimit": {
      "id": "ResourceLimit",
      "description": "Contains information about amount of some resource in the cluster. For memory, value should be in GB.",
      "type": "object",
      "properties": {
        "resourceType": {
[...]
