{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "container:v1alpha1",
  "name": "container",
  "version": "v1alpha1",
  "revision": "0",
  "title": "Google Container Engine API",
  "description": "The Google Container Engine API is used for building and managing container based applications, powered by the open source Kubernetes technology.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/container-engine/",
  "protocol": "rest",
  "rootUrl": "https://container.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://container.googleapis.com/",
  "batchPath": "batch",
  "version_module": "True",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "bearer_token": {
      "type": "string",
      "description": "OAuth bearer token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "pp": {
      "type": "boolean",
      "description": "Pretty-print response.",
      "default": "true",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "type": "object",
      "properties": {
        "clusters": {
          "description": "A list of clusters in the project in the specified zone, or\nacross all ones.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        },
        "missingZones": {
          "description": "If any zones are listed here, the list of clusters returned\nmay be missing those zones.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "Cluster": {
      "id": "Cluster",
      "description": "A Google Container Engine cluster.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this cluster. The name must be unique within this project\nand zone, and can be up to 40 characters with the following restrictions:\n\n* Lowercase letters, numbers, and hyphens only.\n* Must start with a letter.\n* Must end with a number or a letter.",
          "type": "string"
        },
        "description": {
          "description": "An optional description of this cluster.",
          "type": "string"
        },
        "initialNodeCount": {
          "description": "The number of nodes to create in this cluster. You must ensure that your\nCompute Engine <a href=\"\/compute\/docs\/resource-quotas\">resource quota<\/a>\nis sufficient for this number of instances. You must also have available\nfirewall and routes quota.\nFor requests, this field should only be used in lieu of a\n\"node_pool\" object, since this configuration (along with the\n\"node_config\") will be used to create a \"NodePool\" object with an\nauto-generated name. Do not use this and a node_pool at the same time.",
          "type": "integer",
          "format": "int32"
        },
        "nodeConfig": {
          "description": "Parameters used in creating the cluster's nodes.\nSee `nodeConfig` for the description of its properties.\nFor requests, this field should only be used in lieu of a\n\"node_pool\" object, since this configuration (along with the\n\"initial_node_count\") will be used to create a \"NodePool\" object with an\nauto-generated name. Do not use this and a node_pool at the same time.\nFor responses, this field will be populated with the node configuration of\nthe first node pool.\n\nIf unspecified, the defaults are used.",
          "$ref": "NodeConfig"
        },
        "masterAuth": {
          "description": "The authentication information for accessing the master endpoint.",
          "$ref": "MasterAuth"
        },
        "loggingService": {
          "description": "The logging service the cluster should use to write logs.\nCurrently available options:\n\n* `logging.googleapis.com` - the Google Cloud Logging service.\n* `none` - no logs will be exported from the cluster.\n* if left as an empty string,`logging.googleapis.com` will be used.",
          "type": "string"
        },
        "monitoringService": {
          "description": "The monitoring service the cluster should use to write metrics.\nCurrently available options:\n\n* `monitoring.googleapis.com` - the Google Cloud Monitoring service.\n* `none` - no metrics will be exported from the cluster.\n* if left as an empty string, `monitoring.googleapis.com` will be used.",
          "type": "string"
        },
        "network": {
          "description": "The name of the Google Compute Engine\n[network](\/compute\/docs\/networks-and-firewalls#networks) to which the\ncluster is connected. If left unspecified, the `default` network\nwill be used.",
          "type": "string"
        },
        "clusterIpv4Cidr": {
          "description": "The IP address range of the container pods in this cluster, in\n[CIDR](http:\/\/en.wikipedia.org\/wiki\/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0\/14`). Leave blank to have\none automatically chosen or specify a `\/14` block in `10.0.0.0\/8`.",
          "type": "string"
        },
        "addonsConfig": {
          "description": "Configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "subnetwork": {
          "description": "The name of the Google Compute Engine\n[subnetwork](\/compute\/docs\/subnetworks) to which the\ncluster is connected.",
          "type": "string"
        },
        "nodePools": {
          "description": "The node pools associated with this cluster.\nThis field should not be set if \"node_config\" or \"initial_node_count\" are\nspecified.",
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "locations": {
          "description": "The list of Google Compute Engine\n[locations](\/compute\/docs\/zones#available) in which the cluster's nodes\nshould be located.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableKubernetesAlpha": {
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha\nAPI groups (e.g. v1alpha1) and features that may not be production ready in\nthe kubernetes version of the master and nodes.\nThe cluster has no SLA for uptime and master\/node upgrades are disabled.\nAlpha enabled clusters are automatically deleted thirty days after\ncreation.",
          "type": "boolean"
        },
        "resourceLabels": {
          "description": "The resource labels for the cluster to use to annotate any related GCE\nresources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labelFingerprint": {
          "description": "The fingerprint of the set of labels for this cluster.",
          "type": "string"
        },
        "masterAuthorizedNetworks": {
          "description": "Deprecated. The configuration options for master authorized networks\nfeature.",
          "$ref": "MasterAuthorizedNetworks"
        },
        "legacyAbac": {
          "description": "Configuration for the legacy ABAC authorization mode.",
          "$ref": "LegacyAbac"
        },
        "networkPolicy": {
          "description": "Configuration options for the NetworkPolicy feature.",
          "$ref": "NetworkPolicy"
        },
        "ipAllocationPolicy": {
          "description": "Configuration for cluster IP allocation.",
          "$ref": "IPAllocationPolicy"
        },
        "auditConfig": {
          "description": "Configuration for audit logging.",
          "$ref": "AuditConfig"
        },
        "masterAuthorizedNetworksConfig": {
          "description": "The configuration options for master authorized networks feature.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "zone": {
          "description": "[Output only] The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use location instead.",
          "type": "string"
        },
        "endpoint": {
          "description": "[Output only] The IP address of this cluster's master endpoint.\nThe endpoint can be accessed from the internet at\n`https:\/\/username:password@endpoint\/`.\n\nSee the `masterAuth` property of this resource for username and\npassword information.",
          "type": "string"
        },
        "initialClusterVersion": {
          "description": "The initial Kubernetes version for this cluster.  Valid versions are those\nfound in validMasterVersions returned by getServerConfig.  The version can\nbe upgraded over time; such upgrades are reflected in\ncurrentMasterVersion and currentNodeVersion.",
          "type": "string"
        },
        "currentMasterVersion": {
          "description": "[Output only] The current software version of the master endpoint.",
          "type": "string"
        },
        "currentNodeVersion": {
          "description": "[Output only] The current version of the node software components.\nIf they are currently at multiple versions because they're in the process\nof being upgraded, this reflects the minimum version of all nodes.",
          "type": "string"
        },
        "createTime": {
          "description": "[Output only] The time the cluster was created, in\n[RFC3339](https:\/\/www.ietf.org\/rfc\/rfc3339.txt) text format.",
          "type": "string"
        },
        "status": {
          "description": "[Output only] The current status of this cluster.",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully\nusable.",
            "The RECONCILING state indicates that some work is actively being done on\nthe cluster, such as upgrading the master or node software. Details can\nbe found in the `statusMessage` field.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster may be unusable. Details\ncan be found in the `statusMessage` field."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ]
        },
        "statusMessage": {
          "description": "[Output only] Additional information about the current status of this\ncluster, if available.",
          "type": "string"
        },
        "nodeIpv4CidrSize": {
          "description": "[Output only] The size of the address space on each node for hosting\ncontainers. This is provisioned from within the `container_ipv4_cidr`\nrange.",
          "type": "integer",
          "format": "int32"
        },
        "servicesIpv4Cidr": {
          "description": "[Output only] The IP address range of the Kubernetes services in\nthis cluster, in\n[CIDR](http:\/\/en.wikipedia.org\/wiki\/Classless_Inter-Domain_Routing)\nnotation (e.g. `1.2.3.4\/29`). Service addresses are\ntypically put in the last `\/16` from the container CIDR.",
          "type": "string"
        },
        "instanceGroupUrls": {
          "description": "[Output only] The resource URLs of [instance\ngroups](\/compute\/docs\/instance-groups\/) associated with this\ncluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "currentNodeCount": {
          "description": "[Output only] The number of nodes currently in the cluster.",
          "type": "integer",
          "format": "int32"
        },
        "expireTime": {
          "description": "[Output only] The time the cluster will be automatically\ndeleted in [RFC3339](https:\/\/www.ietf.org\/rfc\/rfc3339.txt) text format.",
          "type": "string"
        },
        "location": {
          "description": "[Output only] The name of the Google Compute Engine\n[zone](\/compute\/docs\/regions-zones\/regions-zones#available) or\n[region](\/compute\/docs\/regions-zones\/regions-zones#available) in which\nthe cluster resides.",
          "type": "string"
        }
      }
    },
    "NodeConfig": {
      "id": "NodeConfig",
      "description": "Parameters that describe the nodes in a cluster.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "The name of a Google Compute Engine [machine\ntype](\/compute\/docs\/machine-types) (e.g.\n`n1-standard-1`).\n\nIf unspecified, the default machine type is\n`n1-standard-1`.",
          "type": "string"
        },
        "diskSizeGb": {
          "description": "Size of the disk attached to each node, specified in GB.\nThe smallest allowed disk size is 10GB.\n\nIf unspecified, the default disk size is 100GB.",
          "type": "integer",
          "format": "int32"
        },
        "oauthScopes": {
          "description": "The set of Google API scopes to be made available on all of the\nnode VMs under the \"default\" service account.\n\nThe following scopes are recommended, but not required, and by default are\nnot included:\n\n* `https:\/\/www.googleapis.com\/auth\/compute` is required for mounting\npersistent storage on your nodes.\n* `https:\/\/www.googleapis.com\/auth\/devstorage.read_only` is required for\ncommunicating with **gcr.io**\n(the [Google Container Registry](\/container-registry\/)).\n\nIf unspecified, no scopes are added, unless Cloud Logging or Cloud\nMonitoring are enabled, in which case their required scopes will be added.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. If\nno Service Account is specified, the \"default\" service account is used.",
          "type": "string"
        },
        "metadata": {
          "description": "The metadata key\/value pairs assigned to instances in the cluster.\n\nKeys must conform to the regexp [a-zA-Z0-9-_]+ and be less than 128 bytes\nin length. These are reflected as part of a URL in the metadata server.\nAdditionally, to avoid ambiguity, keys must not conflict with any other\nmetadata keys for the project or be one of the four reserved keys:\n\"instance-template\", \"kube-env\", \"startup-script\", and \"user-data\"\n\nValues are free-form strings, and only have meaning as interpreted by\nthe image running in the instance. The only restriction placed on them is\nthat each value's size must be less than or equal to 32 KB.\n\nThe total size of all keys and values must be less than 512 KB.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "imageType": {
          "description": "The image type to use for this node. Note that for a given image type,\nthe latest version of it will be used.",
          "type": "string"
        },
        "labels": {
          "description": "The map of Kubernetes labels (key\/value pairs) to be applied to each node.\nThese will added in addition to any default label(s) that\nKubernetes may apply to the node.\nIn case of conflict in label keys, the applied set may differ depending on\nthe Kubernetes version -- it's best to assume the behavior is undefined\nand conflicts should be avoided.\nFor more information, including usage and the valid values, see:\nhttp:\/\/kubernetes.io\/v1.1\/docs\/user-guide\/labels.html",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "localSsdCount": {
          "description": "The number of local SSD disks to be attached to the node.\n\nThe limit for this value is dependant upon the maximum number of\ndisks available on a machine per zone. See:\nhttps:\/\/cloud.google.com\/compute\/docs\/disks\/local-ssd#local_ssd_limits\nfor more information.",
          "type": "integer",
          "format": "int32"
        },
        "tags": {
          "description": "The list of instance tags applied to all nodes. Tags are used to identify\nvalid sources or targets for network firewalls and are specified by\nthe client during cluster or node pool creation. Each tag within the list\nmust comply with RFC1035.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "preemptible": {
          "description": "Whether the nodes are created as preemptible VM instances. See:\nhttps:\/\/cloud.google.com\/compute\/docs\/instances\/preemptible for more\ninforamtion about preemptible VM instances.",
          "type": "boolean"
        },
        "accelerators": {
          "description": "A list of hardware accelerators to be attached to each node.\nSee https:\/\/cloud.google.com\/compute\/docs\/gpus for more information about\nsupport for GPUs.",
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "enableAuditLogging": {
          "description": "Whether to enable execve audit logging on the nodes.",
          "type": "boolean"
        },
        "diskType": {
          "description": "Type of the disk attached to each node (e.g. 'pd-standard' or 'pd-ssd')\n\nIf unspecified, the default disk type is 'pd-standard'\nCurrently restricted because of b\/36071127#comment27",
          "type": "string"
        }
      }
    },
    "AcceleratorConfig": {
      "id": "AcceleratorConfig",
      "description": "AcceleratorConfig represents a Hardware Accelerator request.",
      "type": "object",
      "properties": {
        "acceleratorCount": {
          "description": "The number of the accelerator cards exposed to an instance.",
          "type": "string",
          "format": "int64"
        },
        "acceleratorType": {
          "description": "The accelerator type resource name. List of supported accelerators\n[here](\/compute\/docs\/gpus\/#Introduction)",
          "type": "string"
        }
      }
    },
    "MasterAuth": {
      "id": "MasterAuth",
      "description": "The authentication information for accessing the master endpoint.\nAuthentication can be done using HTTP basic auth or using client\ncertificates.",
      "type": "object",
      "properties": {
        "username": {
          "description": "The username to use for HTTP basic authentication to the master endpoint.\nFor clusters v1.6.0 and later, you can disable basic authentication by\nproviding an empty username.",
          "type": "string"
        },
        "password": {
          "description": "The password to use for HTTP basic authentication to the master endpoint.\nBecause the master endpoint is open to the Internet, you should create a\nstrong password.  If a password is provided for cluster creation, username\nmust be non-empty.",
          "type": "string"
        },
        "clientCertificateConfig": {
          "description": "Configuration for client certificate authentication on the cluster.  If no\nconfiguration is specified, a client certificate is issued.",
          "$ref": "ClientCertificateConfig"
        },
        "clusterCaCertificate": {
          "description": "[Output only] Base64-encoded public certificate that is the root of\ntrust for the cluster.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "[Output only] Base64-encoded public certificate used by clients to\nauthenticate to the cluster endpoint.",
          "type": "string"
        },
        "clientKey": {
          "description": "[Output only] Base64-encoded private key used by clients to authenticate\nto the cluster endpoint.",
          "type": "string"
        }
      }
    },
    "ClientCertificateConfig": {
      "id": "ClientCertificateConfig",
      "description": "Configuration for client certificates on the cluster.",
      "type": "object",
      "properties": {
        "issueClientCertificate": {
          "description": "Issue a client certificate.",
          "type": "boolean"
        }
      }
    },
    "AddonsConfig": {
      "id": "AddonsConfig",
      "description": "Configuration for the addons that can be automatically spun up in the\ncluster, enabling additional functionality.",
      "type": "object",
      "properties": {
        "httpLoadBalancing": {
          "description": "Configuration for the HTTP (L7) load balancing controller addon, which\nmakes it easy to set up HTTP load balancers for services in a cluster.",
          "$ref": "HttpLoadBalancing"
        },
        "horizontalPodAutoscaling": {
          "description": "Configuration for the horizontal pod autoscaling feature, which\nincreases or decreases the number of replica pods a replication controller\nhas based on the resource usage of the existing pods.",
          "$ref": "HorizontalPodAutoscaling"
        },
        "kubernetesDashboard": {
          "description": "Configuration for the Kubernetes Dashboard.",
          "$ref": "KubernetesDashboard"
        }
      }
    },
    "HttpLoadBalancing": {
      "id": "HttpLoadBalancing",
      "description": "Configuration options for the HTTP (L7) load balancing controller addon,\nwhich makes it easy to set up HTTP load balancers for services in a cluster.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster.\nWhen enabled, it runs a small pod in the cluster that manages the load\nbalancers.",
          "type": "boolean"
        }
      }
    },
    "HorizontalPodAutoscaling": {
      "id": "HorizontalPodAutoscaling",
      "description": "Configuration options for the horizontal pod autoscaling feature, which\nincreases or decreases the number of replica pods a replication controller\nhas based on the resource usage of the existing pods.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster.\nWhen enabled, it ensures that a Heapster pod is running in the cluster,\nwhich is also used by the Cloud Monitoring service.",
          "type": "boolean"
        }
      }
    },
    "KubernetesDashboard": {
      "id": "KubernetesDashboard",
      "description": "Configuration for the Kubernetes Dashboard.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the Kubernetes Dashboard is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "NodePool": {
      "id": "NodePool",
      "description": "NodePool contains the name and configuration for a cluster's node pool.\nNode pools are a set of nodes (i.e. VM's), with a common configuration and\nspecification, under the control of the cluster master. They may have a set\nof Kubernetes labels applied to them, which may be used to reference them\nduring pod scheduling. They may also be resized up or down, to accommodate\nthe workload.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the node pool.",
          "type": "string"
        },
        "config": {
          "description": "The node configuration of the pool.",
          "$ref": "NodeConfig"
        },
        "initialNodeCount": {
          "description": "The initial node count for the pool. You must ensure that your\nCompute Engine <a href=\"\/compute\/docs\/resource-quotas\">resource quota<\/a>\nis sufficient for this number of instances. You must also have available\nfirewall and routes quota.",
          "type": "integer",
          "format": "int32"
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "version": {
          "description": "[Output only] The version of the Kubernetes of this node.",
          "type": "string"
        },
        "instanceGroupUrls": {
          "description": "[Output only] The resource URLs of [instance\ngroups](\/compute\/docs\/instance-groups\/) associated with this\nnode pool.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "description": "[Output only] The status of the nodes in this pool instance.",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created\nand is fully usable.",
            "The RUNNING_WITH_ERROR state indicates the node pool has been created\nand is partially usable. Some error state has occurred and some\nfunctionality may be impaired. Customer may need to reissue a request\nor trigger a new update.",
            "The RECONCILING state indicates that some work is actively being done on\nthe node pool, such as upgrading node software. Details can\nbe found in the `statusMessage` field.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool may be unusable. Details\ncan be found in the `statusMessage` field."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RUNNING_WITH_ERROR",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ]
        },
        "statusMessage": {
          "description": "[Output only] Additional information about the current status of this\nnode pool instance, if available.",
          "type": "string"
        },
        "autoscaling": {
          "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled\nonly if a valid configuration is present.",
          "$ref": "NodePoolAutoscaling"
        },
        "management": {
          "description": "NodeManagement configuration for this NodePool.",
          "$ref": "NodeManagement"
        }
      }
    },
    "NodePoolAutoscaling": {
      "id": "NodePoolAutoscaling",
      "description": "NodePoolAutoscaling contains information required by cluster autoscaler to\nadjust the size of the node pool to the current cluster usage.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Is autoscaling enabled for this node pool.",
          "type": "boolean"
        },
        "minNodeCount": {
          "description": "Minimum number of nodes in the NodePool. Must be >= 1 and <=\nmax_node_count.",
          "type": "integer",
          "format": "int32"
        },
        "maxNodeCount": {
          "description": "Maximum number of nodes in the NodePool. Must be >= min_node_count. There\nhas to enough quota to scale up the cluster.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "NodeManagement": {
      "id": "NodeManagement",
      "description": "NodeManagement defines the set of node management services turned on for the\nnode pool.",
      "type": "object",
      "properties": {
        "autoUpgrade": {
          "description": "Whether the nodes will be automatically upgraded.",
          "type": "boolean"
        },
        "autoRepair": {
          "description": "Whether the nodes will be automatically repaired.",
          "type": "boolean"
        },
        "upgradeOptions": {
          "description": "Specifies the Auto Upgrade knobs for the node pool.",
          "$ref": "AutoUpgradeOptions"
        }
      }
    },
    "AutoUpgradeOptions": {
      "id": "AutoUpgradeOptions",
      "description": "AutoUpgradeOptions defines the set of options for the user to control how\nthe Auto Upgrades will proceed.",
      "type": "object",
      "properties": {
        "autoUpgradeStartTime": {
          "description": "[Output only] This field is set when upgrades are about to commence\nwith the approximate start time for the upgrades, in\n[RFC3339](https:\/\/www.ietf.org\/rfc\/rfc3339.txt) text format.",
          "type": "string"
        },
        "description": {
          "description": "[Output only] This field is set when upgrades are about to commence\nwith the description of the upgrade.",
          "type": "string"
        },
        "requestedUpgradeStartTime": {
          "description": "User requested start time, in\n[RFC3339](https:\/\/www.ietf.org\/rfc\/rfc3339.txt) text format.",
          "type": "string"
        }
      }
    },
    "MasterAuthorizedNetworks": {
      "id": "MasterAuthorizedNetworks",
      "description": "Deprecated. Configuration options for the master authorized networks\nfeature. Enabled master authorized networks will disallow all external\ntraffic to access Kubernetes master through HTTPS except traffic from the\ngiven CIDR blocks, Google Compute Engine Public IPs and Google Prod IPs.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether or not master authorized networks is enabled.",
          "type": "boolean"
        },
        "cidrs": {
          "description": "Network CIDRs define up to 10 external networks that could access\nKubernetes master through HTTPS.",
          "type": "array",
          "items": {
            "$ref": "CIDR"
          }
        }
      }
    },
    "CIDR": {
      "id": "CIDR",
      "description": "CIDR contains an optional name and one CIDR block.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Network name is an optional field for users to identify CIDR blocks.",
          "type": "string"
        },
        "network": {
          "description": "Authorized network must be specified in CIDR notation.",
          "type": "string"
        }
      }
    },
    "LegacyAbac": {
      "id": "LegacyAbac",
      "description": "Configuration for the legacy Attribute Based Access Control authorization\nmode.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the ABAC authorizer is enabled for this cluster. When enabled,\nidentities in the system, including service accounts, nodes, and\ncontrollers, will have statically granted permissions beyond those\nprovided by the RBAC configuration or IAM.",
          "type": "boolean"
        }
      }
    },
    "NetworkPolicy": {
      "id": "NetworkPolicy",
      "description": "Configuration options for the NetworkPolicy feature.\nhttps:\/\/kubernetes.io\/docs\/concepts\/services-networking\/networkpolicies\/",
      "type": "object",
      "properties": {
        "provider": {
          "description": "The selected network policy provider.",
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ],
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ]
        },
        "enabled": {
          "description": "Whether network policy is enabled on the cluster.",
          "type": "boolean"
        }
      }
    },
    "IPAllocationPolicy": {
      "id": "IPAllocationPolicy",
      "description": "Configuration for controlling how IPs are allocated in the cluster.",
      "type": "object",
      "properties": {
        "useIpAliases": {
          "description": "Whether alias IPs will be used for pod IPs in the cluster.",
          "type": "boolean"
        },
        "createSubnetwork": {
          "description": "Whether a new subnetwork will be created automatically for the cluster.\n\nThis field is only applicable when `use_ip_aliases` is true.",
          "type": "boolean"
        },
        "subnetworkName": {
          "description": "A custom subnetwork name to be used if `create_subnetwork` is true.  If\nthis field is empty, then an automatic name will choosen for the new\nsubnetwork.",
          "type": "string"
        },
        "clusterIpv4Cidr": {
          "description": "The IP address range for the cluster pod IPs. If this field is set, then\n`cluster.cluster_ipv4_cidr` must be left blank.\n\nThis field is only applicable when `use_ip_aliases` is true.\n\nSet to blank to have a range will be chosen with the default size.\n\nSet to \/netmask (e.g. `\/14`) to have a range be chosen with a specific\nnetmask.\n\nSet to a [CIDR](http:\/\/en.wikipedia.org\/wiki\/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0\/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0\/8`, `172.16.0.0\/12`, `192.168.0.0\/16`) to pick a specific range\nto use.",
          "type": "string"
        },
        "nodeIpv4Cidr": {
          "description": "The IP address range of the instance IPs in this cluster.\n\nThis is applicable only if `create_subnetwork` is true.\n\nSet to blank to have a range will be chosen with the default size.\n\nSet to \/netmask (e.g. `\/14`) to have a range be chosen with a specific\nnetmask.\n\nSet to a [CIDR](http:\/\/en.wikipedia.org\/wiki\/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0\/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0\/8`, `172.16.0.0\/12`, `192.168.0.0\/16`) to pick a specific range\nto use.",
          "type": "string"
        },
        "servicesIpv4Cidr": {
          "description": "The IP address range of the services IPs in this cluster. If blank, a range\nwill be automatically chosen with the default size.\n\nThis field is only applicable when `use_ip_aliases` is true.\n\nSet to blank to have a range will be chosen with the default size.\n\nSet to \/netmask (e.g. `\/14`) to have a range be chosen with a specific\nnetmask.\n\nSet to a [CIDR](http:\/\/en.wikipedia.org\/wiki\/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0\/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0\/8`, `172.16.0.0\/12`, `192.168.0.0\/16`) to pick a specific range\nto use.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Configuration for audit logging.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Enable audit logging of the Kubernetes API.  If enabled, audit logs will be\nexported to Cloud Audit Logging.",
          "type": "boolean"
        }
      }
    },
    "MasterAuthorizedNetworksConfig": {
      "id": "MasterAuthorizedNetworksConfig",
      "description": "Configuration options for the master authorized networks feature. Enabled\nmaster authorized networks will disallow all external traffic to access\nKubernetes master through HTTPS except traffic from the given CIDR blocks,\nGoogle Compute Engine Public IPs and Google Prod IPs.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether or not master authorized networks is enabled.",
          "type": "boolean"
        },
        "cidrBlocks": {
          "description": "cidr_blocks define up to 10 external networks that could access\nKubernetes master through HTTPS.",
          "type": "array",
          "items": {
            "$ref": "CidrBlock"
          }
        }
      }
    },
    "CidrBlock": {
      "id": "CidrBlock",
      "description": "CidrBlock contains an optional name and one CIDR block.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "display_name is an optional field for users to identify CIDR blocks.",
          "type": "string"
        },
        "cidrBlock": {
          "description": "cidr_block must be specified in CIDR notation.",
          "type": "string"
        }
      }
    },
    "CreateClusterRequest": {
      "id": "CreateClusterRequest",
      "description": "CreateClusterRequest creates a cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use parent instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use parent instead.",
          "type": "string"
        },
        "cluster": {
          "description": "A [cluster\nresource](\/container-engine\/reference\/rest\/v1alpha1\/projects.zones.clusters)",
          "$ref": "Cluster"
        },
        "parent": {
          "description": "The parent (project and location) where the cluster will be created.\nSpecified in the format 'projects\/*\/locations\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This operation resource represents operations that may have happened or are\nhappening on the cluster. All fields are output only.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned ID for the operation.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the operation\nis taking place.\nThis field is deprecated, use location instead.",
          "type": "string"
        },
        "operationType": {
          "description": "The operation type.",
          "enumDescriptions": [
            "Not set.",
            "Cluster create.",
            "Cluster delete.",
            "A master upgrade.",
            "A node upgrade.",
            "Cluster repair.",
            "Cluster update.",
            "Node pool create.",
            "Node pool delete.",
            "Set node pool management.",
            "Automatic node pool repair.",
            "Automatic node upgrade.",
            "Set labels.",
            "Set\/generate master auth materials",
            "Set node pool size.",
            "Updates network policy for a cluster."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATE_CLUSTER",
            "DELETE_CLUSTER",
            "UPGRADE_MASTER",
            "UPGRADE_NODES",
            "REPAIR_CLUSTER",
            "UPDATE_CLUSTER",
            "CREATE_NODE_POOL",
            "DELETE_NODE_POOL",
            "SET_NODE_POOL_MANAGEMENT",
            "AUTO_REPAIR_NODES",
            "AUTO_UPGRADE_NODES",
            "SET_LABELS",
            "SET_MASTER_AUTH",
            "SET_NODE_POOL_SIZE",
            "SET_NETWORK_POLICY"
          ]
        },
        "status": {
          "description": "The current status of the operation.",
          "enumDescriptions": [
            "Not set.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed.",
            "The operation is aborting."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "ABORTING"
          ]
        },
        "detail": {
          "description": "Detailed operation progress, if available.",
          "type": "string"
        },
        "statusMessage": {
          "description": "If an error has occurred, a textual description of the error.",
          "type": "string"
        },
        "selfLink": {
          "description": "Server-defined URL for the resource.",
          "type": "string"
        },
        "targetLink": {
          "description": "Server-defined URL for the target of the operation.",
          "type": "string"
        },
        "location": {
          "description": "[Output only] The name of the Google Compute Engine\n[zone](\/compute\/docs\/regions-zones\/regions-zones#available) or\n[region](\/compute\/docs\/regions-zones\/regions-zones#available) in which\nthe cluster resides.",
          "type": "string"
        }
      }
    },
    "UpdateClusterRequest": {
      "id": "UpdateClusterRequest",
      "description": "UpdateClusterRequest updates the settings of a cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to upgrade.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "update": {
          "description": "A description of the update.",
          "$ref": "ClusterUpdate"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "ClusterUpdate": {
      "id": "ClusterUpdate",
      "description": "ClusterUpdate describes an update to the cluster. Exactly one update can\nbe applied to a cluster with each request, so at most one field can be\nprovided.",
      "type": "object",
      "properties": {
        "desiredNodeVersion": {
          "description": "The Kubernetes version to change the nodes to (typically an\nupgrade). Use `-` to upgrade to the latest version supported by\nthe server.",
          "type": "string"
        },
        "desiredMonitoringService": {
          "description": "The monitoring service the cluster should use to write metrics.\nCurrently available options:\n\n* \"monitoring.googleapis.com\" - the Google Cloud Monitoring service\n* \"none\" - no metrics will be exported from the cluster",
          "type": "string"
        },
        "desiredAddonsConfig": {
          "description": "Configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "desiredNodePoolId": {
          "description": "The node pool to be upgraded. This field is mandatory if\n\"desired_node_version\", \"desired_image_family\" or\n\"desired_node_pool_autoscaling\" is specified and there is more than one\nnode pool on the cluster.",
          "type": "string"
        },
        "desiredImageType": {
          "description": "The desired image type for the node pool.\nNOTE: Set the \"desired_node_pool\" field as well.",
          "type": "string"
        },
        "desiredNodePoolAutoscaling": {
          "description": "Autoscaler configuration for the node pool specified in\ndesired_node_pool_id. If there is only one pool in the\ncluster and desired_node_pool_id is not provided then\nthe change applies to that single node pool.",
          "$ref": "NodePoolAutoscaling"
        },
        "desiredLocations": {
          "description": "The desired list of Google Compute Engine\n[locations](\/compute\/docs\/zones#available) in which the cluster's nodes\nshould be located. Changing the locations a cluster is in will result\nin nodes being either created or removed from the cluster, depending on\nwhether locations are being added or removed.\n\nThis list must always include the cluster's primary zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "desiredMasterAuthorizedNetworks": {
          "description": "Deprecated. The desired configuration options for master authorized\nnetworks feature.",
          "$ref": "MasterAuthorizedNetworks"
        },
        "desiredMasterAuthorizedNetworksConfig": {
          "description": "The desired configuration options for master authorized networks feature.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "desiredMasterVersion": {
          "description": "The Kubernetes version to change the master to. The only valid value is the\nlatest supported version. Use \"-\" to have the server automatically select\nthe latest version.",
          "type": "string"
        },
        "desiredMasterMachineType": {
          "description": "The name of a Google Compute Engine [machine\ntype](\/compute\/docs\/machine-types)\n(e.g. `n1-standard-8`) to change the master to.",
          "type": "string"
        }
      }
    },
    "UpdateNodePoolRequest": {
      "id": "UpdateNodePoolRequest",
      "description": "SetNodePoolVersionRequest updates the version of a node pool.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to upgrade.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "The name of the node pool to upgrade.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "nodeVersion": {
          "description": "The Kubernetes version to change the nodes to (typically an\nupgrade). Use `-` to upgrade to the latest version supported by\nthe server.",
          "type": "string"
        },
        "imageType": {
          "description": "The desired image type for the node pool.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster, node pool) of the node pool to update.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*\/nodePools\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "SetNodePoolAutoscalingRequest": {
      "id": "SetNodePoolAutoscalingRequest",
      "description": "SetNodePoolAutoscalingRequest sets the autoscaler settings of a node pool.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to upgrade.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "The name of the node pool to upgrade.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "autoscaling": {
          "description": "Autoscaling configuration for the node pool.",
          "$ref": "NodePoolAutoscaling"
        },
        "name": {
          "description": "The name (project, location, cluster, node pool) of the node pool to set\nautoscaler settings. Specified in the format\n'projects\/*\/locations\/*\/clusters\/*\/nodePools\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "SetLoggingServiceRequest": {
      "id": "SetLoggingServiceRequest",
      "description": "SetLoggingServiceRequest sets the logging service of a cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to upgrade.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "loggingService": {
          "description": "The logging service the cluster should use to write metrics.\nCurrently available options:\n\n* \"logging.googleapis.com\" - the Google Cloud Logging service\n* \"none\" - no metrics will be exported from the cluster",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set logging.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "SetMonitoringServiceRequest": {
      "id": "SetMonitoringServiceRequest",
      "description": "SetMonitoringServiceRequest sets the monitoring service of a cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to upgrade.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "monitoringService": {
          "description": "The monitoring service the cluster should use to write metrics.\nCurrently available options:\n\n* \"monitoring.googleapis.com\" - the Google Cloud Monitoring service\n* \"none\" - no metrics will be exported from the cluster",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set monitoring.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "SetAddonsConfigRequest": {
      "id": "SetAddonsConfigRequest",
      "description": "SetAddonsRequest sets the addons associated with the cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to upgrade.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "addonsConfig": {
          "description": "The desired configurations for the various addons available to run in the\ncluster.",
          "$ref": "AddonsConfig"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set addons.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "SetLocationsRequest": {
      "id": "SetLocationsRequest",
      "description": "SetLocationsRequest sets the locations of the cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to upgrade.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "locations": {
          "description": "The desired list of Google Compute Engine\n[locations](\/compute\/docs\/zones#available) in which the cluster's nodes\nshould be located. Changing the locations a cluster is in will result\nin nodes being either created or removed from the cluster, depending on\nwhether locations are being added or removed.\n\nThis list must always include the cluster's primary zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set locations.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "UpdateMasterRequest": {
      "id": "UpdateMasterRequest",
      "description": "UpdateMasterRequest updates the master of the cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to upgrade.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "masterVersion": {
          "description": "The Kubernetes version to change the master to. The only valid value is the\nlatest supported version. Use \"-\" to have the server automatically select\nthe latest version.",
          "type": "string"
        },
        "masterMachineType": {
          "description": "The name of a Google Compute Engine [machine\ntype](\/compute\/docs\/machine-types)\n(e.g. `n1-standard-8`) to change the master to.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "SetMasterAuthRequest": {
      "id": "SetMasterAuthRequest",
      "description": "SetMasterAuthRequest updates the admin password of a cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to upgrade.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "action": {
          "description": "The exact form of action to be taken on the master auth",
          "enumDescriptions": [
            "Operation is unknown and will error out",
            "Set the password to a user generated value.",
            "Generate a new password and set it to that."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SET_PASSWORD",
            "GENERATE_PASSWORD"
          ]
        },
        "update": {
          "description": "A description of the update.",
          "$ref": "MasterAuth"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set auth.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "ListOperationsResponse is the result of ListOperationsRequest.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations in the project in the specified zone.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "missingZones": {
          "description": "If any zones are listed here, the list of operations returned\nmay be missing the operations from those zones.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "CancelOperationRequest cancels a single operation.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the operation resides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "operationId": {
          "description": "The server-assigned `name` of the operation.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, operation id) of the operation to cancel.\nSpecified in the format 'projects\/*\/locations\/*\/operations\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "ServerConfig": {
      "id": "ServerConfig",
      "description": "Container Engine service configuration.",
      "type": "object",
      "properties": {
        "defaultClusterVersion": {
          "description": "Version of Kubernetes the service deploys by default.",
          "type": "string"
        },
        "buildClientInfo": {
          "description": "apiserver build BuildData::ClientInfo()",
          "type": "string"
        },
        "validNodeVersions": {
          "description": "List of valid node upgrade target versions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultImageType": {
          "description": "Default image type.",
          "type": "string"
        },
        "validImageTypes": {
          "description": "List of valid image types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "validMasterVersions": {
          "description": "List of valid master versions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListNodePoolsResponse": {
      "id": "ListNodePoolsResponse",
      "description": "ListNodePoolsResponse is the result of ListNodePoolsRequest.",
      "type": "object",
      "properties": {
        "nodePools": {
          "description": "A list of node pools for a cluster.",
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        }
      }
    },
    "CreateNodePoolRequest": {
      "id": "CreateNodePoolRequest",
      "description": "CreateNodePoolRequest creates a node pool for a cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/developers.google.com\/console\/help\/new\/#projectnumber).\nThis field is deprecated, use parent instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use parent instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster.\nThis field is deprecated, use parent instead.",
          "type": "string"
        },
        "nodePool": {
          "description": "The node pool to create.",
          "$ref": "NodePool"
        },
        "parent": {
          "description": "The parent (project, location, cluster id) where the node pool will be created.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*\/nodePools\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "RollbackNodePoolUpgradeRequest": {
      "id": "RollbackNodePoolUpgradeRequest",
      "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed\nNodePool upgrade. This will be an no-op if the last upgrade successfully\ncompleted.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to rollback.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "The name of the node pool to rollback.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node poll to\nrollback upgrade.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*\/nodePools\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "SetNodePoolManagementRequest": {
      "id": "SetNodePoolManagementRequest",
      "description": "SetNodePoolManagementRequest sets the node management properties of a node\npool.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to update.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "The name of the node pool to update.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "management": {
          "description": "NodeManagement configuration for the node pool.",
          "$ref": "NodeManagement"
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node pool to set\nmanagement properties. Specified in the format\n'projects\/*\/locations\/*\/clusters\/*\/nodePools\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "SetLabelsRequest": {
      "id": "SetLabelsRequest",
      "description": "SetLabelsRequest sets the Google Cloud Platform labels on a Google Container\nEngine cluster, which will in turn set them for Google Compute Engine\nresources used by that cluster",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/developers.google.com\/console\/help\/new\/#projectnumber).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "resourceLabels": {
          "description": "The labels to set for that cluster.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labelFingerprint": {
          "description": "The fingerprint of the previous set of labels for this resource,\nused to detect conflicts. The fingerprint is initially generated by\nContainer Engine and changes after every request to modify or update\nlabels. You must always provide an up-to-date fingerprint hash when\nupdating or changing labels. Make a <code>get()<\/code> request to the\nresource to get the latest fingerprint.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set labels.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
          "type": "string"
        }
      }
    },
    "SetLegacyAbacRequest": {
      "id": "SetLegacyAbacRequest",
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for\na cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to update.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "enabled": {
          "description": "Whether ABAC authorization will be enabled in the cluster.",
          "type": "boolean"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set legacy abac.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "StartIPRotationRequest": {
      "id": "StartIPRotationRequest",
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs\na node upgrade on each node pool to point to the new IP.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/developers.google.com\/console\/help\/new\/#projectnumber).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to start IP rotation.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "CompleteIPRotationRequest": {
      "id": "CompleteIPRotationRequest",
      "description": "CompleteIPRotationRequest moves the cluster master back into single-IP mode.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/developers.google.com\/console\/help\/new\/#projectnumber).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to complete IP rotation.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "SetNodePoolSizeRequest": {
      "id": "SetNodePoolSizeRequest",
      "description": "SetNodePoolSizeRequest sets the size a node\npool.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to update.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "The name of the node pool to update.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "nodeCount": {
          "description": "The desired node count for the pool.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node pool to set\nsize.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*\/nodePools\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    },
    "SetNetworkPolicyRequest": {
      "id": "SetNetworkPolicyRequest",
      "description": "SetNetworkPolicyRequest enables\/disables network policy for a cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/developers.google.com\/console\/help\/new\/#projectnumber).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "networkPolicy": {
          "description": "Configuration options for the NetworkPolicy feature.",
          "$ref": "NetworkPolicy"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set networking policy.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
          "type": "string"
        },
        "version": {
          "description": "API request version that initiates this operation.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getServerConfig": {
              "id": "container.projects.locations.getServerConfig",
              "path": "v1alpha1/{+name}/serverConfig",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/serverConfig",
              "httpMethod": "GET",
              "description": "Returns configuration info about the Container Engine service.",
              "parameters": {
                "name": {
                  "description": "The name (project and location) of the server config to get\nSpecified in the format 'projects\/*\/locations\/*'.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                  "type": "string"
                },
                "projectId": {
                  "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
                  "location": "query",
                  "type": "string"
                },
                "zone": {
                  "description": "The name of the Google Compute Engine [zone](\/compute\/docs\/zones#available)\nto return operations for.\nThis field is deprecated, use name instead.",
                  "location": "query",
                  "type": "string"
                },
                "version": {
                  "description": "API request version that initiates this operation.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ServerConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
          ,
          "resources": {
            "clusters": {
              "methods": {
                "list": {
                  "id": "container.projects.locations.clusters.list",
                  "path": "v1alpha1/{+parent}/clusters",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "httpMethod": "GET",
                  "description": "Lists all clusters owned by a project in either the specified zone or all\nzones.",
                  "parameters": {
                    "parent": {
                      "description": "The parent (project and location) where the clusters will be listed.\nSpecified in the format 'projects\/*\/locations\/*'.\nLocation \"-\" matches all zones and all regions.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use parent instead.",
                      "location": "query",
                      "type": "string"
                    },
                    "zone": {
                      "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides, or \"-\" for all zones.\nThis field is deprecated, use parent instead.",
                      "location": "query",
                      "type": "string"
                    },
                    "version": {
                      "description": "API request version that initiates this operation.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "container.projects.locations.clusters.get",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "GET",
                  "description": "Gets the details of a specific cluster.",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to retrieve.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/clusters\/[^\/]+$",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
                      "location": "query",
                      "type": "string"
                    },
                    "zone": {
                      "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
                      "location": "query",
                      "type": "string"
                    },
                    "clusterId": {
                      "description": "The name of the cluster to retrieve.\nThis field is deprecated, use name instead.",
                      "location": "query",
                      "type": "string"
                    },
                    "version": {
                      "description": "API request version that initiates this operation.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Cluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "id": "container.projects.locations.clusters.create",
                  "path": "v1alpha1/{+parent}/clusters",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "httpMethod": "POST",
                  "description": "Creates a cluster, consisting of the specified number and type of Google\nCompute Engine instances.\n\nBy default, the cluster is created in the project's\n[default network](\/compute\/docs\/networks-and-firewalls#networks).\n\nOne firewall is added for the cluster. After cluster creation,\nthe cluster creates routes for each node to allow the containers\non that node to communicate with all other instances in the\ncluster.\n\nFinally, an entry is added to the project's global metadata indicating\nwhich CIDR range is being used by the cluster.",
                  "parameters": {
                    "parent": {
                      "description": "The parent (project and location) where the cluster will be created.\nSpecified in the format 'projects\/*\/locations\/*'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CreateClusterRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "update": {
                  "id": "container.projects.locations.clusters.update",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "PUT",
                  "description": "Updates the settings of a specific cluster.",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to update.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/clusters\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "UpdateClusterRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setLogging": {
                  "id": "container.projects.locations.clusters.setLogging",
                  "path": "v1alpha1/{+name}:setLogging",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLogging",
                  "httpMethod": "POST",
                  "description": "Sets the logging service of a specific cluster.",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to set logging.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/clusters\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setMonitoring": {
                  "id": "container.projects.locations.clusters.setMonitoring",
                  "path": "v1alpha1/{+name}:setMonitoring",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMonitoring",
                  "httpMethod": "POST",
                  "description": "Sets the monitoring service of a specific cluster.",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to set monitoring.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/clusters\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setAddons": {
                  "id": "container.projects.locations.clusters.setAddons",
                  "path": "v1alpha1/{+name}:setAddons",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setAddons",
                  "httpMethod": "POST",
                  "description": "Sets the addons of a specific cluster.",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to set addons.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/clusters\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setLocations": {
                  "id": "container.projects.locations.clusters.setLocations",
                  "path": "v1alpha1/{+name}:setLocations",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLocations",
                  "httpMethod": "POST",
                  "description": "Sets the locations of a specific cluster.",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to set locations.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/clusters\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SetLocationsRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateMaster": {
                  "id": "container.projects.locations.clusters.updateMaster",
                  "path": "v1alpha1/{+name}:updateMaster",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:updateMaster",
                  "httpMethod": "POST",
                  "description": "Updates the master of a specific cluster.",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to update.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/clusters\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setMasterAuth": {
                  "id": "container.projects.locations.clusters.setMasterAuth",
                  "path": "v1alpha1/{+name}:setMasterAuth",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMasterAuth",
                  "httpMethod": "POST",
                  "description": "Used to set master auth materials. Currently supports :-\nChanging the admin password of a specific cluster.\nThis can be either via password generation or explicitly set.\nModify basic_auth.csv and reset the K8S API server.",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to set auth.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/clusters\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SetMasterAuthRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "container.projects.locations.clusters.delete",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker\nnodes.\n\nFirewalls and routes that were configured during cluster creation\nare also deleted.\n\nOther Google Compute Engine resources that might be in use by the cluster\n(e.g. load balancer resources) will not be deleted if they weren't present\nat the initial create time.",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to delete.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/clusters\/[^\/]+$",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The Google Developers Console [project ID or project\nnumber](https:\/\/support.google.com\/cloud\/answer\/6158840).\nThis field is deprecated, use name instead.",
                      "location": "query",
                      "type": "string"
                    },
                    "zone": {
                      "description": "The name of the Google Compute Engine\n[zone](\/compute\/docs\/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
                      "location": "query",
                      "type": "string"
                    },
                    "clusterId": {
                      "description": "The name of the cluster to delete.\nThis field is deprecated, use name instead.",
                      "location": "query",
                      "type": "string"
                    },
                    "version": {
                      "description": "API request version that initiates this operation.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setResourceLabels": {
                  "id": "container.projects.locations.clusters.setResourceLabels",
                  "path": "v1alpha1/{+name}:setResourceLabels",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setResourceLabels",
                  "httpMethod": "POST",
                  "description": "Sets labels on a cluster.",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to set labels.\nSpecified in the format 'projects\/*\/locations\/*\/clusters\/*'.",
                      "location": "path",
[...]
