{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "dataplex:v1",
  "name": "dataplex",
  "canonicalName": "Cloud Dataplex",
  "version": "v1",
  "revision": "0",
  "title": "Cloud Dataplex API",
  "description": "Dataplex API is used to manage the lifecycle of data lakes.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/dataplex/docs",
  "protocol": "rest",
  "rootUrl": "https://dataplex.googleapis.com/",
  "mtlsRootUrl": "https://dataplex.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://dataplex.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for SetIamPolicy method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\"",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates members, or principals, with a role.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of members, or principals. For example, roles\/viewer, roles\/editor, or roles\/owner.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a service account. For example, my-other-app@appspot.gserviceaccount.com. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for TestIamPermissions method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for TestIamPermissions method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1Content": {
      "id": "GoogleCloudDataplexV1Content",
      "description": "Content represents a user-visible notebook or a sql script",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The relative resource name of the content, of the form: projects\/{project_id}\/locations\/{location_id}\/lakes\/{lake_id}\/content\/{content_id}",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the content. This ID will be different if the content is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "path": {
          "description": "Required. The path for the Content file, represented as directory structure. Unique within a lake. Limited to alphanumerics, hyphens, underscores, dots and slashes.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Content creation time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the content was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. User defined labels for the content.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Description of the content.",
          "type": "string"
        },
        "dataText": {
          "description": "Required. Content data in string format.",
          "type": "string"
        },
        "sqlScript": {
          "description": "Sql Script related configurations.",
          "$ref": "GoogleCloudDataplexV1ContentSqlScript"
        },
        "notebook": {
          "description": "Notebook related configurations.",
          "$ref": "GoogleCloudDataplexV1ContentNotebook"
        }
      }
    },
    "GoogleCloudDataplexV1ContentSqlScript": {
      "id": "GoogleCloudDataplexV1ContentSqlScript",
      "description": "Configuration for the Sql Script content.",
      "type": "object",
      "properties": {
        "engine": {
          "description": "Required. Query Engine to be used for the Sql Query.",
          "type": "string",
          "enumDescriptions": [
            "Value was unspecified.",
            "Spark SQL Query."
          ],
          "enum": [
            "QUERY_ENGINE_UNSPECIFIED",
            "SPARK"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1ContentNotebook": {
      "id": "GoogleCloudDataplexV1ContentNotebook",
      "description": "Configuration for Notebook content.",
      "type": "object",
      "properties": {
        "kernelType": {
          "description": "Required. Kernel Type of the notebook.",
          "type": "string",
          "enumDescriptions": [
            "Kernel Type unspecified.",
            "Python 3 Kernel."
          ],
          "enum": [
            "KERNEL_TYPE_UNSPECIFIED",
            "PYTHON3"
          ]
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDataplexV1ListContentResponse": {
      "id": "GoogleCloudDataplexV1ListContentResponse",
      "description": "List content response.",
      "type": "object",
      "properties": {
        "content": {
          "description": "Content under the given parent lake.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Content"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Entity": {
      "id": "GoogleCloudDataplexV1Entity",
      "description": "Represents tables and fileset metadata contained within a zone.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the entity, of the form: projects\/{project_number}\/locations\/{location_id}\/lakes\/{lake_id}\/zones\/{zone_id}\/entities\/{id}.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name must be shorter than or equal to 256 characters.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User friendly longer description text. Must be shorter than or equal to 1024 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the entity was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the entity was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "description": "Required. A user-provided entity ID. It is mutable, and will be used as the published table name. Specifying a new ID in an update entity request will override the existing value. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores. Must begin with a letter and consist of 256 or fewer characters.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag associated with the entity, which can be retrieved with a GetEntity request. Required for update and delete requests.",
          "type": "string"
        },
        "type": {
          "description": "Required. Immutable. The type of entity.",
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "Structured and semi-structured data.",
            "Unstructured data."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ]
        },
        "asset": {
          "description": "Required. Immutable. The ID of the asset associated with the storage location containing the entity data. The entity must be with in the same zone with the asset.",
          "type": "string"
        },
        "dataPath": {
          "description": "Required. Immutable. The storage path of the entity data. For Cloud Storage data, this is the fully-qualified path to the entity, such as gs:\/\/bucket\/path\/to\/data. For BigQuery data, this is the name of the table resource, such as projects\/project_id\/datasets\/dataset_id\/tables\/table_id.",
          "type": "string"
        },
        "dataPathPattern": {
          "description": "Optional. The set of items within the data path constituting the data in the entity, represented as a glob path. Example: gs:\/\/bucket\/path\/to\/data\/**\/*.csv.",
          "type": "string"
        },
        "catalogEntry": {
          "description": "Output only. The name of the associated Data Catalog entry.",
          "readOnly": true,
          "type": "string"
        },
        "system": {
          "description": "Required. Immutable. Identifies the storage system of the entity data.",
          "type": "string",
          "enumDescriptions": [
            "Storage system unspecified.",
            "The entity data is contained within a Cloud Storage bucket.",
            "The entity data is contained within a BigQuery dataset."
          ],
          "enum": [
            "STORAGE_SYSTEM_UNSPECIFIED",
            "CLOUD_STORAGE",
            "BIGQUERY"
          ]
        },
        "format": {
          "description": "Required. Identifies the storage format of the entity data. It does not apply to entities with data stored in BigQuery.",
          "$ref": "GoogleCloudDataplexV1StorageFormat"
        },
        "compatibility": {
          "description": "Output only. Metadata stores that the entity is compatible with.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatus"
        },
        "schema": {
          "description": "Required. The description of the data structure and layout. The schema is not included in list responses. It is only included in SCHEMA and FULL entity views of a GetEntity response.",
          "$ref": "GoogleCloudDataplexV1Schema"
        }
      }
    },
    "GoogleCloudDataplexV1StorageFormat": {
      "id": "GoogleCloudDataplexV1StorageFormat",
      "description": "Describes the format of the data within its storage location.",
      "type": "object",
      "properties": {
        "format": {
          "description": "Output only. The data format associated with the stored data, which represents content type values. The value is inferred from mime type.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Format unspecified.",
            "Parquet-formatted structured data.",
            "Avro-formatted structured data.",
            "Orc-formatted structured data.",
            "Csv-formatted semi-structured data.",
            "Json-formatted semi-structured data.",
            "Image data formats (such as jpg and png).",
            "Audio data formats (such as mp3, and wav).",
            "Video data formats (such as mp4 and mpg).",
            "Textual data formats (such as txt and xml).",
            "TensorFlow record format.",
            "Data that doesn't match a specific format.",
            "Data of an unknown format."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARQUET",
            "AVRO",
            "ORC",
            "CSV",
            "JSON",
            "IMAGE",
            "AUDIO",
            "VIDEO",
            "TEXT",
            "TFRECORD",
            "OTHER",
            "UNKNOWN"
          ]
        },
        "compressionFormat": {
          "description": "Optional. The compression type associated with the stored data. If unspecified, the data is uncompressed.",
          "type": "string",
          "enumDescriptions": [
            "CompressionFormat unspecified. Implies uncompressed data.",
            "GZip compressed set of files.",
            "BZip2 compressed set of files."
          ],
          "enum": [
            "COMPRESSION_FORMAT_UNSPECIFIED",
            "GZIP",
            "BZIP2"
          ]
        },
        "mimeType": {
          "description": "Required. The mime type descriptor for the data. Must match the pattern {type}\/{subtype}. Supported values: application\/x-parquet application\/x-avro application\/x-orc application\/x-tfrecord application\/json application\/{subtypes} text\/csv text\/ image\/{image subtype} video\/{video subtype} audio\/{audio subtype}",
          "type": "string"
        },
        "csv": {
          "description": "Optional. Additional information about CSV formatted data.",
          "$ref": "GoogleCloudDataplexV1StorageFormatCsvOptions"
        },
        "json": {
          "description": "Optional. Additional information about CSV formatted data.",
          "$ref": "GoogleCloudDataplexV1StorageFormatJsonOptions"
        }
      }
    },
    "GoogleCloudDataplexV1StorageFormatCsvOptions": {
      "id": "GoogleCloudDataplexV1StorageFormatCsvOptions",
      "description": "Describes CSV and similar semi-structured data formats.",
      "type": "object",
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\", and \"ISO-8859-1\". Defaults to UTF-8 if unspecified.",
          "type": "string"
        },
        "headerRows": {
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows. Defaults to 0.",
          "type": "integer",
          "format": "int32"
        },
        "delimiter": {
          "description": "Optional. The delimiter used to separate values. Defaults to ','.",
          "type": "string"
        },
        "quote": {
          "description": "Optional. The character used to quote column values. Accepts '\"' (double quotation mark) or ''' (single quotation mark). Defaults to '\"' (double quotation mark) if unspecified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1StorageFormatJsonOptions": {
      "id": "GoogleCloudDataplexV1StorageFormatJsonOptions",
      "description": "Describes JSON data format.",
      "type": "object",
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\" and \"ISO-8859-1\". Defaults to UTF-8 if not specified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1EntityCompatibilityStatus": {
      "id": "GoogleCloudDataplexV1EntityCompatibilityStatus",
      "description": "Provides compatibility information for various metadata stores.",
      "type": "object",
      "properties": {
        "hiveMetastore": {
          "description": "Output only. Whether this entity is compatible with Hive Metastore.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility"
        },
        "bigquery": {
          "description": "Output only. Whether this entity is compatible with BigQuery.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility"
        }
      }
    },
    "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility": {
      "id": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility",
      "description": "Provides compatibility information for a specific metadata store.",
      "type": "object",
      "properties": {
        "compatible": {
          "description": "Output only. Whether the entity is compatible and can be represented in the metadata store.",
          "readOnly": true,
          "type": "boolean"
        },
        "reason": {
          "description": "Output only. Provides additional detail if the entity is incompatible with the metadata store.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Schema": {
      "id": "GoogleCloudDataplexV1Schema",
      "description": "Schema information describing the structure and layout of the data.",
      "type": "object",
      "properties": {
        "userManaged": {
          "description": "Required. Set to true if user-managed or false if managed by Dataplex. The default is false (managed by Dataplex). Set to falseto enable Dataplex discovery to update the schema. including new data discovery, schema inference, and schema evolution. Users retain the ability to input and edit the schema. Dataplex treats schema input by the user as though produced by a previous Dataplex discovery operation, and it will evolve the schema and take action based on that treatment. Set to true to fully manage the entity schema. This setting guarantees that Dataplex will not change schema fields.",
          "type": "boolean"
        },
        "fields": {
          "description": "Optional. The sequence of fields describing data in table entities. Note: BigQuery SchemaFields are immutable.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaSchemaField"
          }
        },
        "partitionFields": {
          "description": "Optional. The sequence of fields describing the partition structure in entities. If this field is empty, there are no partitions within the data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaPartitionField"
          }
        },
        "partitionStyle": {
          "description": "Optional. The structure of paths containing partition data within the entity.",
          "type": "string",
          "enumDescriptions": [
            "PartitionStyle unspecified",
            "Partitions are hive-compatible. Examples: gs:\/\/bucket\/path\/to\/table\/dt=2019-10-31\/lang=en, gs:\/\/bucket\/path\/to\/table\/dt=2019-10-31\/lang=en\/late."
          ],
          "enum": [
            "PARTITION_STYLE_UNSPECIFIED",
            "HIVE_COMPATIBLE"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1SchemaSchemaField": {
      "id": "GoogleCloudDataplexV1SchemaSchemaField",
      "description": "Represents a column field within a table schema.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the field. Must contain only letters, numbers and underscores, with a maximum length of 767 characters, and must begin with a letter or underscore.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User friendly field description. Must be less than or equal to 1024 characters.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of field.",
          "type": "string",
          "enumDescriptions": [
            "SchemaType unspecified.",
            "Boolean field.",
            "Single byte numeric field.",
            "16-bit numeric field.",
            "32-bit numeric field.",
            "64-bit numeric field.",
            "Floating point numeric field.",
            "Double precision numeric field.",
            "Real value numeric field.",
            "Sequence of characters field.",
            "Sequence of bytes field.",
            "Date and time field.",
            "Date field.",
            "Time field.",
            "Structured field. Nested fields that define the structure of the map. If all nested fields are nullable, this field represents a union.",
            "Null field that does not have values."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "BOOLEAN",
            "BYTE",
            "INT16",
            "INT32",
            "INT64",
            "FLOAT",
            "DOUBLE",
            "DECIMAL",
            "STRING",
            "BINARY",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "RECORD",
            "NULL"
          ]
        },
        "mode": {
          "description": "Required. Additional field semantics.",
          "type": "string",
          "enumDescriptions": [
            "Mode unspecified.",
            "The field has required semantics.",
            "The field has optional semantics, and may be null.",
            "The field has repeated (0 or more) semantics, and is a list of values."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "REQUIRED",
            "NULLABLE",
            "REPEATED"
          ]
        },
        "fields": {
          "description": "Optional. Any nested field for complex types.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaSchemaField"
          }
        }
      }
    },
    "GoogleCloudDataplexV1SchemaPartitionField": {
      "id": "GoogleCloudDataplexV1SchemaPartitionField",
      "description": "Represents a key field within the entity's partition structure. You could have up to 20 partition fields, but only the first 10 partitions have the filtering ability due to performance consideration. Note: Partition fields are immutable.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Partition field name must consist of letters, numbers, and underscores only, with a maximum of length of 256 characters, and must begin with a letter or underscore..",
          "type": "string"
        },
        "type": {
          "description": "Required. Immutable. The type of field.",
          "type": "string",
          "enumDescriptions": [
            "SchemaType unspecified.",
            "Boolean field.",
            "Single byte numeric field.",
            "16-bit numeric field.",
            "32-bit numeric field.",
            "64-bit numeric field.",
            "Floating point numeric field.",
            "Double precision numeric field.",
            "Real value numeric field.",
            "Sequence of characters field.",
            "Sequence of bytes field.",
            "Date and time field.",
            "Date field.",
            "Time field.",
            "Structured field. Nested fields that define the structure of the map. If all nested fields are nullable, this field represents a union.",
            "Null field that does not have values."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "BOOLEAN",
            "BYTE",
            "INT16",
            "INT32",
            "INT64",
            "FLOAT",
            "DOUBLE",
            "DECIMAL",
            "STRING",
            "BINARY",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "RECORD",
            "NULL"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1ListEntitiesResponse": {
      "id": "GoogleCloudDataplexV1ListEntitiesResponse",
      "description": "List metadata entities response.",
      "type": "object",
      "properties": {
        "entities": {
          "description": "Entities in the specified parent zone.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Entity"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no remaining results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Partition": {
      "id": "GoogleCloudDataplexV1Partition",
      "description": "Represents partition metadata contained within entity instances.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Partition values used in the HTTP URL must be double encoded. For example, url_encode(url_encode(value)) can be used to encode \"US:CA\/CA#Sunnyvale so that the request URL ends with \"\/partitions\/US%253ACA\/CA%2523Sunnyvale\". The name field in the response retains the encoded format.",
          "readOnly": true,
          "type": "string"
        },
        "values": {
          "description": "Required. Immutable. The set of values representing the partition, which correspond to the partition schema defined in the parent entity.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "location": {
          "description": "Required. Immutable. The location of the entity data within the partition, for example, gs:\/\/bucket\/path\/to\/entity\/key1=value1\/key2=value2. Or projects\/\/datasets\/\/tables\/",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag for this partition.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ListPartitionsResponse": {
      "id": "GoogleCloudDataplexV1ListPartitionsResponse",
      "description": "List metadata partitions response.",
      "type": "object",
      "properties": {
        "partitions": {
          "description": "Partitions under the specified parent entity.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Partition"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no remaining results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations\/{unique_id}.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get\/Create\/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https:\/\/github.com\/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDataplexV1Lake": {
      "id": "GoogleCloudDataplexV1Lake",
      "description": "A lake is a centralized repository for managing enterprise data across the organization distributed across many cloud projects, and stored in a variety of storage services such as Google Cloud Storage and BigQuery. The resources attached to a lake are referred to as managed resources. Data within these managed resources can be structured or unstructured. A lake provides data admins with tools to organize, secure and manage their data at scale, and provides data scientists and data engineers an integrated experience to easily search, discover, analyze and transform data and associated metadata.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The relative resource name of the lake, of the form: projects\/{project_number}\/locations\/{location_id}\/lakes\/{lake_id}.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the lake. This ID will be different if the lake is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the lake was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the lake was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. User-defined labels for the lake.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Description of the lake.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of the lake.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ]
        },
        "serviceAccount": {
          "description": "Output only. Service account associated with this lake. This service account must be authorized to access or operate on resources managed by the lake.",
          "readOnly": true,
          "type": "string"
        },
        "metastore": {
          "description": "Optional. Settings to manage lake and Dataproc Metastore service instance association.",
          "$ref": "GoogleCloudDataplexV1LakeMetastore"
        },
        "assetStatus": {
          "description": "Output only. Aggregated status of the underlying assets of the lake.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1AssetStatus"
        },
        "metastoreStatus": {
          "description": "Output only. Metastore status of the lake.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1LakeMetastoreStatus"
        }
      }
    },
    "GoogleCloudDataplexV1LakeMetastore": {
      "id": "GoogleCloudDataplexV1LakeMetastore",
      "description": "Settings to manage association of Dataproc Metastore with a lake.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Optional. A relative reference to the Dataproc Metastore (https:\/\/cloud.google.com\/dataproc-metastore\/docs) service associated with the lake: projects\/{project_id}\/locations\/{location_id}\/services\/{service_id}",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1AssetStatus": {
      "id": "GoogleCloudDataplexV1AssetStatus",
      "description": "Aggregated status of the underlying assets of a lake or zone.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Last update time of the status.",
          "type": "string",
          "format": "google-datetime"
        },
        "activeAssets": {
          "description": "Number of active assets.",
          "type": "integer",
          "format": "int32"
        },
        "securityPolicyApplyingAssets": {
          "description": "Number of assets that are in process of updating the security policy on attached resources.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDataplexV1LakeMetastoreStatus": {
      "id": "GoogleCloudDataplexV1LakeMetastoreStatus",
      "description": "Status of Lake and Dataproc Metastore service instance association.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Current state of association.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A Metastore service instance is not associated with the lake.",
            "A Metastore service instance is attached to the lake.",
            "Attach\/detach is in progress.",
            "Attach\/detach could not be done due to errors."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NONE",
            "READY",
            "UPDATING",
            "ERROR"
          ]
        },
        "message": {
          "description": "Additional information about the current status.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last update time of the metastore status of the lake.",
          "type": "string",
          "format": "google-datetime"
        },
        "endpoint": {
          "description": "The URI of the endpoint used to access the Metastore service.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ListLakesResponse": {
      "id": "GoogleCloudDataplexV1ListLakesResponse",
      "description": "List lakes response.",
      "type": "object",
      "properties": {
        "lakes": {
          "description": "Lakes under the given parent location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Lake"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1ListActionsResponse": {
      "id": "GoogleCloudDataplexV1ListActionsResponse",
      "description": "List actions response.",
      "type": "object",
      "properties": {
        "actions": {
          "description": "Actions under the given parent lake\/zone\/asset.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Action"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Action": {
      "id": "GoogleCloudDataplexV1Action",
      "description": "Action represents an issue requiring administrator action for resolution.",
      "type": "object",
      "properties": {
        "category": {
          "description": "The category of issue associated with the action.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified category.",
            "Resource management related issues.",
            "Security policy related issues.",
            "Data and discovery related issues."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "RESOURCE_MANAGEMENT",
            "SECURITY_POLICY",
            "DATA_DISCOVERY"
          ]
        },
        "issue": {
          "description": "Detailed description of the issue requiring action.",
          "type": "string"
        },
        "detectTime": {
          "description": "The time that the issue was detected.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The relative resource name of the action, of the form: projects\/{project}\/locations\/{location}\/lakes\/{lake}\/actions\/{action} projects\/{project}\/locations\/{location}\/lakes\/{lake}\/zones\/{zone}\/actions\/{action} projects\/{project}\/locations\/{location}\/lakes\/{lake}\/zones\/{zone}\/assets\/{asset}\/actions\/{action}.",
          "readOnly": true,
          "type": "string"
        },
        "lake": {
          "description": "Output only. The relative resource name of the lake, of the form: projects\/{project_number}\/locations\/{location_id}\/lakes\/{lake_id}.",
          "readOnly": true,
          "type": "string"
        },
        "zone": {
          "description": "Output only. The relative resource name of the zone, of the form: projects\/{project_number}\/locations\/{location_id}\/lakes\/{lake_id}\/zones\/{zone_id}.",
          "readOnly": true,
          "type": "string"
        },
        "asset": {
          "description": "Output only. The relative resource name of the asset, of the form: projects\/{project_number}\/locations\/{location_id}\/lakes\/{lake_id}\/zones\/{zone_id}\/assets\/{asset_id}.",
          "readOnly": true,
          "type": "string"
        },
        "dataLocations": {
          "description": "The list of data locations associated with this action. Cloud Storage locations are represented as URI paths(E.g. gs:\/\/bucket\/table1\/year=2020\/month=Jan\/). BigQuery locations refer to resource names(E.g. bigquery.googleapis.com\/projects\/project-id\/datasets\/dataset-id).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "invalidDataFormat": {
          "description": "Details for issues related to invalid or unsupported data formats.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataFormat"
        },
        "incompatibleDataSchema": {
          "description": "Details for issues related to incompatible schemas detected within data.",
          "$ref": "GoogleCloudDataplexV1ActionIncompatibleDataSchema"
        },
        "invalidDataPartition": {
          "description": "Details for issues related to invalid or unsupported data partition structure.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataPartition"
        },
        "missingData": {
          "description": "Details for issues related to absence of data within managed resources.",
          "$ref": "GoogleCloudDataplexV1ActionMissingData"
        },
        "missingResource": {
          "description": "Details for issues related to absence of a managed resource.",
          "$ref": "GoogleCloudDataplexV1ActionMissingResource"
        },
        "unauthorizedResource": {
          "description": "Details for issues related to lack of permissions to access data resources.",
          "$ref": "GoogleCloudDataplexV1ActionUnauthorizedResource"
        },
        "failedSecurityPolicyApply": {
          "description": "Details for issues related to applying security policy.",
          "$ref": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply"
        },
        "invalidDataOrganization": {
          "description": "Details for issues related to invalid data arrangement.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataOrganization"
        }
      }
    },
    "GoogleCloudDataplexV1ActionInvalidDataFormat": {
      "id": "GoogleCloudDataplexV1ActionInvalidDataFormat",
      "description": "Action details for invalid or unsupported data files detected by discovery.",
      "type": "object",
      "properties": {
        "sampledDataLocations": {
          "description": "The list of data locations sampled and used for format\/schema inference.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "expectedFormat": {
          "description": "The expected data format of the entity.",
          "type": "string"
        },
        "newFormat": {
          "description": "The new unexpected data format within the entity.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ActionIncompatibleDataSchema": {
      "id": "GoogleCloudDataplexV1ActionIncompatibleDataSchema",
      "description": "Action details for incompatible schemas detected by discovery.",
      "type": "object",
      "properties": {
        "table": {
          "description": "The name of the table containing invalid data.",
          "type": "string"
        },
        "existingSchema": {
          "description": "The existing and expected schema of the table. The schema is provided as a JSON formatted structure listing columns and data types.",
          "type": "string"
        },
        "newSchema": {
          "description": "The new and incompatible schema within the table. The schema is provided as a JSON formatted structured listing columns and data types.",
          "type": "string"
        },
        "sampledDataLocations": {
          "description": "The list of data locations sampled and used for format\/schema inference.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "schemaChange": {
          "description": "Whether the action relates to a schema that is incompatible or modified.",
          "type": "string",
          "enumDescriptions": [
            "Schema change unspecified.",
            "Newly discovered schema is incompatible with existing schema.",
            "Newly discovered schema has changed from existing schema for data in a curated zone."
          ],
          "enum": [
            "SCHEMA_CHANGE_UNSPECIFIED",
            "INCOMPATIBLE",
            "MODIFIED"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1ActionInvalidDataPartition": {
      "id": "GoogleCloudDataplexV1ActionInvalidDataPartition",
      "description": "Action details for invalid or unsupported partitions detected by discovery.",
      "type": "object",
      "properties": {
        "expectedStructure": {
          "description": "The issue type of InvalidDataPartition.",
          "type": "string",
          "enumDescriptions": [
            "PartitionStructure unspecified.",
            "Consistent hive-style partition definition (both raw and curated zone).",
            "Hive style partition definition (curated zone only)."
          ],
          "enum": [
            "PARTITION_STRUCTURE_UNSPECIFIED",
            "CONSISTENT_KEYS",
            "HIVE_STYLE_KEYS"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1ActionMissingData": {
      "id": "GoogleCloudDataplexV1ActionMissingData",
      "description": "Action details for absence of data detected by discovery.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDataplexV1ActionMissingResource": {
      "id": "GoogleCloudDataplexV1ActionMissingResource",
      "description": "Action details for resource references in assets that cannot be located.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDataplexV1ActionUnauthorizedResource": {
      "id": "GoogleCloudDataplexV1ActionUnauthorizedResource",
      "description": "Action details for unauthorized resource issues raised to indicate that the service account associated with the lake instance is not authorized to access or manage the resource associated with an asset.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply": {
      "id": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply",
      "description": "Failed to apply security policy to the managed resource(s) under a lake, zone or an asset. For a lake or zone resource, one or more underlying assets has a failure applying security policy to the associated managed resource.",
      "type": "object",
      "properties": {
        "asset": {
          "description": "Resource name of one of the assets with failing security policy application. Populated for a lake or zone resource only.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ActionInvalidDataOrganization": {
      "id": "GoogleCloudDataplexV1ActionInvalidDataOrganization",
      "description": "Action details for invalid data arrangement.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDataplexV1Zone": {
      "id": "GoogleCloudDataplexV1Zone",
      "description": "A zone represents a logical group of related assets within a lake. A zone can be used to map to organizational structure or represent stages of data readiness from raw to curated. It provides managing behavior that is shared or inherited by all contained assets.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The relative resource name of the zone, of the form: projects\/{project_number}\/locations\/{location_id}\/lakes\/{lake_id}\/zones\/{zone_id}.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the zone. This ID will be different if the zone is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the zone was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the zone was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. User defined labels for the zone.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Description of the zone.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of the zone.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ]
        },
        "type": {
          "description": "Required. Immutable. The type of the zone.",
          "type": "string",
          "enumDescriptions": [
            "Zone type not specified.",
            "A zone that contains data that needs further processing before it is considered generally ready for consumption and analytics workloads.",
            "A zone that contains data that is considered to be ready for broader consumption and analytics workloads. Curated structured data stored in Cloud Storage must conform to certain file formats (parquet, avro and orc) and organized in a hive-compatible directory layout."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "RAW",
            "CURATED"
          ]
        },
        "discoverySpec": {
          "description": "Optional. Specification of the discovery feature applied to data in this zone.",
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpec"
        },
        "resourceSpec": {
          "description": "Required. Specification of the resources that are referenced by the assets within this zone.",
          "$ref": "GoogleCloudDataplexV1ZoneResourceSpec"
        },
        "assetStatus": {
          "description": "Output only. Aggregated status of the underlying assets of the zone.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1AssetStatus"
        }
      }
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpec": {
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpec",
      "description": "Settings to manage the metadata discovery and publishing in a zone.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Required. Whether discovery is enabled.",
          "type": "boolean"
        },
        "includePatterns": {
          "description": "Optional. The list of patterns to apply for selecting data to include during discovery if only a subset of the data should considered. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludePatterns": {
          "description": "Optional. The list of patterns to apply for selecting data to exclude during discovery. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "csvOptions": {
          "description": "Optional. Configuration for CSV data.",
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions"
        },
        "jsonOptions": {
          "description": "Optional. Configuration for Json data.",
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions"
        },
        "schedule": {
          "description": "Optional. Cron schedule (https:\/\/en.wikipedia.org\/wiki\/Cron) for running discovery periodically. Successive discovery runs must be scheduled at least 60 minutes apart. The default value is to run discovery every 60 minutes. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, \"CRON_TZ=America\/New_York 1 * * * *\", or \"TZ=America\/New_York 1 * * * *\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions": {
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions",
      "description": "Describe CSV and similar semi-structured data formats.",
      "type": "object",
      "properties": {
        "headerRows": {
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "type": "integer",
          "format": "int32"
        },
        "delimiter": {
          "description": "Optional. The delimiter being used to separate values. This defaults to ','.",
          "type": "string"
        },
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions": {
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions",
      "description": "Describe JSON data format.",
      "type": "object",
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for Json data. If true, all columns will be registered as their primitive types (strings, number or boolean).",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDataplexV1ZoneResourceSpec": {
      "id": "GoogleCloudDataplexV1ZoneResourceSpec",
      "description": "Settings for resources attached as assets within a zone.",
      "type": "object",
      "properties": {
        "locationType": {
          "description": "Required. Immutable. The location type of the resources that are allowed to be attached to the assets within this zone.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified location type.",
            "Resources that are associated with a single region.",
            "Resources that are associated with a multi-region location."
          ],
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "SINGLE_REGION",
            "MULTI_REGION"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1ListZonesResponse": {
      "id": "GoogleCloudDataplexV1ListZonesResponse",
      "description": "List zones response.",
      "type": "object",
      "properties": {
        "zones": {
          "description": "Zones under the given parent lake.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Zone"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Asset": {
      "id": "GoogleCloudDataplexV1Asset",
      "description": "An asset represents a cloud resource that is being managed within a lake as a member of a zone.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The relative resource name of the asset, of the form: projects\/{project_number}\/locations\/{location_id}\/lakes\/{lake_id}\/zones\/{zone_id}\/assets\/{asset_id}.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the asset. This ID will be different if the asset is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the asset was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the asset was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. User defined labels for the asset.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Description of the asset.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of the asset.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ]
        },
        "resourceSpec": {
          "description": "Required. Specification of the resource that is referenced by this asset.",
          "$ref": "GoogleCloudDataplexV1AssetResourceSpec"
        },
        "resourceStatus": {
          "description": "Output only. Status of the resource referenced by this asset.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1AssetResourceStatus"
        },
        "securityStatus": {
          "description": "Output only. Status of the security policy applied to resource referenced by this asset.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1AssetSecurityStatus"
        },
        "discoverySpec": {
          "description": "Optional. Specification of the discovery feature applied to data referenced by this asset. When this spec is left unset, the asset will use the spec set on the parent zone.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpec"
        },
        "discoveryStatus": {
          "description": "Output only. Status of the discovery feature applied to data referenced by this asset.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatus"
        }
      }
    },
    "GoogleCloudDataplexV1AssetResourceSpec": {
      "id": "GoogleCloudDataplexV1AssetResourceSpec",
      "description": "Identifies the cloud resource that is referenced by this asset.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. Relative name of the cloud resource that contains the data that is being managed within a lake. For example: projects\/{project_number}\/buckets\/{bucket_id} projects\/{project_number}\/datasets\/{dataset_id}",
          "type": "string"
        },
        "type": {
          "description": "Required. Immutable. Type of resource.",
          "type": "string",
          "enumDescriptions": [
            "Type not specified.",
            "Cloud Storage bucket.",
            "BigQuery dataset."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STORAGE_BUCKET",
            "BIGQUERY_DATASET"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1AssetResourceStatus": {
      "id": "GoogleCloudDataplexV1AssetResourceStatus",
      "description": "Status of the resource referenced by an asset.",
      "type": "object",
      "properties": {
        "state": {
          "description": "The current state of the managed resource.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Resource does not have any errors.",
            "Resource has errors."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "ERROR"
          ]
        },
        "message": {
          "description": "Additional information about the current state.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last update time of the status.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDataplexV1AssetSecurityStatus": {
      "id": "GoogleCloudDataplexV1AssetSecurityStatus",
      "description": "Security policy status of the asset. Data security policy, i.e., readers, writers & owners, should be specified in the lake\/zone\/asset IAM policy.",
      "type": "object",
      "properties": {
        "state": {
          "description": "The current state of the security policy applied to the attached resource.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Security policy has been successfully applied to the attached resource.",
            "Security policy is in the process of being applied to the attached resource.",
            "Security policy could not be applied to the attached resource due to errors."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "APPLYING",
            "ERROR"
          ]
        },
        "message": {
          "description": "Additional information about the current state.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last update time of the status.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoverySpec": {
      "id": "GoogleCloudDataplexV1AssetDiscoverySpec",
      "description": "Settings to manage the metadata discovery and publishing for an asset.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Whether discovery is enabled.",
          "type": "boolean"
        },
        "includePatterns": {
          "description": "Optional. The list of patterns to apply for selecting data to include during discovery if only a subset of the data should considered. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludePatterns": {
          "description": "Optional. The list of patterns to apply for selecting data to exclude during discovery. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "csvOptions": {
          "description": "Optional. Configuration for CSV data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions"
        },
        "jsonOptions": {
          "description": "Optional. Configuration for Json data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions"
        },
        "schedule": {
          "description": "Optional. Cron schedule (https:\/\/en.wikipedia.org\/wiki\/Cron) for running discovery periodically. Successive discovery runs must be scheduled at least 60 minutes apart. The default value is to run discovery every 60 minutes. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, \"CRON_TZ=America\/New_York 1 * * * *\", or \"TZ=America\/New_York 1 * * * *\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions": {
      "id": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions",
      "description": "Describe CSV and similar semi-structured data formats.",
      "type": "object",
      "properties": {
        "headerRows": {
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "type": "integer",
          "format": "int32"
        },
        "delimiter": {
          "description": "Optional. The delimiter being used to separate values. This defaults to ','.",
          "type": "string"
        },
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions": {
      "id": "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions",
      "description": "Describe JSON data format.",
      "type": "object",
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for Json data. If true, all columns will be registered as their primitive types (strings, number or boolean).",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoveryStatus": {
      "id": "GoogleCloudDataplexV1AssetDiscoveryStatus",
      "description": "Status of discovery for an asset.",
      "type": "object",
      "properties": {
        "state": {
          "description": "The current status of the discovery feature.",
          "type": "string",
          "enumDescriptions": [
            "State is unspecified.",
            "Discovery for the asset is scheduled.",
            "Discovery for the asset is running.",
            "Discovery for the asset is currently paused (e.g. due to a lack of available resources). It will be automatically resumed.",
            "Discovery for the asset is disabled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "IN_PROGRESS",
            "PAUSED",
            "DISABLED"
          ]
        },
        "message": {
          "description": "Additional information about the current state.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last update time of the status.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastRunTime": {
          "description": "The start time of the last discovery run.",
          "type": "string",
          "format": "google-datetime"
        },
        "stats": {
          "description": "Data Stats of the asset reported by discovery.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatusStats"
        },
        "lastRunDuration": {
          "description": "The duration of the last discovery run.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoveryStatusStats": {
      "id": "GoogleCloudDataplexV1AssetDiscoveryStatusStats",
      "description": "The aggregated data statistics for the asset reported by discovery.",
      "type": "object",
      "properties": {
        "dataItems": {
          "description": "The count of data items within the referenced resource.",
          "type": "string",
          "format": "int64"
        },
        "dataSize": {
          "description": "The number of stored data bytes within the referenced resource.",
          "type": "string",
          "format": "int64"
        },
        "tables": {
          "description": "The count of table entities within the referenced resource.",
          "type": "string",
          "format": "int64"
        },
        "filesets": {
          "description": "The count of fileset entities within the referenced resource.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDataplexV1ListAssetsResponse": {
      "id": "GoogleCloudDataplexV1ListAssetsResponse",
      "description": "List assets response.",
      "type": "object",
      "properties": {
        "assets": {
          "description": "Asset under the given parent zone.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Asset"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Task": {
      "id": "GoogleCloudDataplexV1Task",
      "description": "A task represents a user-visible job.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The relative resource name of the task, of the form: projects\/{project_number}\/locations\/{location_id}\/lakes\/{lake_id}\/ tasks\/{task_id}.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the task. This ID will be different if the task is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the task was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the task was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the task.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of the task.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ]
        },
        "labels": {
          "description": "Optional. User-defined labels for the task.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "triggerSpec": {
          "description": "Required. Spec related to how often and when a task should be triggered.",
          "$ref": "GoogleCloudDataplexV1TaskTriggerSpec"
        },
        "executionSpec": {
          "description": "Required. Spec related to how a task is executed.",
          "$ref": "GoogleCloudDataplexV1TaskExecutionSpec"
        },
        "executionStatus": {
          "description": "Output only. Status of the latest task executions.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1TaskExecutionStatus"
        },
        "spark": {
          "description": "Config related to running custom Spark tasks.",
          "$ref": "GoogleCloudDataplexV1TaskSparkTaskConfig"
        }
      }
    },
    "GoogleCloudDataplexV1TaskTriggerSpec": {
      "id": "GoogleCloudDataplexV1TaskTriggerSpec",
      "description": "Task scheduling and trigger settings.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. Immutable. Trigger type of the user-specified Task.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified trigger type.",
            "The task runs one-time shortly after Task Creation.",
            "The task is scheduled to run periodically."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "RECURRING"
          ]
        },
        "startTime": {
          "description": "Optional. The first run of the task will be after this time. If not specified, the task will run shortly after being submitted if ON_DEMAND and based on the schedule if RECURRING.",
          "type": "string",
          "format": "google-datetime"
        },
        "disabled": {
          "description": "Optional. Prevent the task from executing. This does not cancel already running tasks. It is intended to temporarily disable RECURRING tasks.",
          "type": "boolean"
        },
        "maxRetries": {
          "description": "Optional. Number of retry attempts before aborting. Set to zero to never attempt to retry a failed task.",
          "type": "integer",
          "format": "int32"
        },
        "schedule": {
          "description": "Optional. Cron schedule (https:\/\/en.wikipedia.org\/wiki\/Cron) for running tasks periodically. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, \"CRON_TZ=America\/New_York 1 * * * *\", or \"TZ=America\/New_York 1 * * * *\". This field is required for RECURRING tasks.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1TaskExecutionSpec": {
      "id": "GoogleCloudDataplexV1TaskExecutionSpec",
      "description": "Execution related settings, like retry and service_account.",
      "type": "object",
      "properties": {
        "args": {
          "description": "Optional. The arguments to pass to the task. The args can use placeholders of the format ${placeholder} as part of key\/value string. These will be interpolated before passing the args to the driver. Currently supported placeholders: - ${task_id} - ${job_time} To pass positional args, set the key as TASK_ARGS. The value should be a comma-separated string of all the positional arguments. To use a delimiter other than comma, refer to https:\/\/cloud.google.com\/sdk\/gcloud\/reference\/topic\/escaping. In case of other keys being present in the args, then TASK_ARGS will be passed as the last argument.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "Required. Service account to use to execute a task. If not provided, the default Compute service account for the project is used.",
          "type": "string"
        },
        "project": {
          "description": "Optional. The project in which jobs are run. By default, the project containing the Lake is used. If a project is provided, the executionspec.service_account must belong to this same project.",
          "type": "string"
        },
        "maxJobExecutionLifetime": {
          "description": "Optional. The maximum duration after which the job execution is expired.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDataplexV1TaskExecutionStatus": {
      "id": "GoogleCloudDataplexV1TaskExecutionStatus",
      "description": "Status of the task execution (e.g. Jobs).",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. Last update time of the status.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "latestJob": {
          "description": "Output only. latest job execution",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1Job"
        }
      }
    },
    "GoogleCloudDataplexV1Job": {
      "id": "GoogleCloudDataplexV1Job",
      "description": "A job represents an instance of a task.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The relative resource name of the job, of the form: projects\/{project_number}\/locations\/{location_id}\/lakes\/{lake_id}\/ tasks\/{task_id}\/jobs\/{job_id}.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the job.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. The time when the job was started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time when the job ended.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. Execution state for the job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is running.",
            "The job is cancelling.",
            "The job cancellation was successful.",
            "The job completed successfully.",
            "The job is no longer running due to an error.",
            "The job was cancelled outside of Dataplex."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED",
            "ABORTED"
          ]
        },
        "retryCount": {
          "description": "Output only. . The number of times the job has been retried (excluding the initial attempt).",
          "readOnly": true,
          "type": "integer",
          "format": "uint32"
        },
        "service": {
          "description": "Output only. The underlying service running a job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Service used to run the job is unspecified.",
            "Dataproc service is used to run this job."
          ],
          "enum": [
            "SERVICE_UNSPECIFIED",
            "DATAPROC"
          ]
        },
        "serviceJob": {
          "description": "Output only. The full resource name for the job run under a particular service.",
          "readOnly": true,
          "type": "string"
        },
        "message": {
          "description": "Output only. Additional information about the current state.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1TaskSparkTaskConfig": {
      "id": "GoogleCloudDataplexV1TaskSparkTaskConfig",
      "description": "User-specified config for running a Spark task.",
      "type": "object",
      "properties": {
        "mainJarFileUri": {
          "description": "The Cloud Storage URI of the jar file that contains the main class. The execution args are passed in as a sequence of named process arguments (--key=value).",
          "type": "string"
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris. The execution args are passed in as a sequence of named process arguments (--key=value).",
          "type": "string"
        },
        "pythonScriptFile": {
          "description": "The Gcloud Storage URI of the main Python file to use as the driver. Must be a .py file. The execution args are passed in as a sequence of named process arguments (--key=value).",
          "type": "string"
        },
        "sqlScriptFile": {
          "description": "A reference to a query file. This can be the Cloud Storage URI of the query file or it can the path to a SqlScript Content. The execution args are used to declare a set of script variables (set key=\"value\";).",
          "type": "string"
        },
        "sqlScript": {
          "description": "The query text. The execution args are used to declare a set of script variables (set key=\"value\";).",
          "type": "string"
        },
        "fileUris": {
          "description": "Optional. Cloud Storage URIs of files to be placed in the working directory of each executor.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "description": "Optional. Cloud Storage URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "infrastructureSpec": {
[...]
