{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "dataflow:v1b3",
  "name": "dataflow",
  "version": "v1b3",
  "revision": "0",
  "title": "Google Dataflow API",
  "description": "Develops and executes data processing patterns like ETL, batch computation, and continuous computation.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/dataflow",
  "protocol": "rest",
  "rootUrl": "https://dataflow.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://dataflow.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "bearer_token": {
      "type": "string",
      "description": "OAuth bearer token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "pp": {
      "type": "boolean",
      "description": "Pretty-print response.",
      "default": "true",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "View your email address"
        }
      }
    }
  },
  "schemas": {
    "GetDebugConfigRequest": {
      "id": "GetDebugConfigRequest",
      "description": "Request to get updated debug configuration for component.",
      "type": "object",
      "properties": {
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "componentId": {
          "description": "The internal component id for which debug configuration is\nrequested.",
          "type": "string"
        }
      }
    },
    "GetDebugConfigResponse": {
      "id": "GetDebugConfigResponse",
      "description": "Response to a get debug configuration request.",
      "type": "object",
      "properties": {
        "config": {
          "description": "The encoded debug configuration for the requested component.",
          "type": "string"
        }
      }
    },
    "SendDebugCaptureRequest": {
      "id": "SendDebugCaptureRequest",
      "description": "Request to send encoded debug information.",
      "type": "object",
      "properties": {
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "componentId": {
          "description": "The internal component id for which debug information is sent.",
          "type": "string"
        },
        "data": {
          "description": "The encoded debug information.",
          "type": "string"
        }
      }
    },
    "SendDebugCaptureResponse": {
      "id": "SendDebugCaptureResponse",
      "description": "Response to a send capture request.\nnothing",
      "type": "object",
      "properties": {
      }
    },
    "Job": {
      "id": "Job",
      "description": "Defines a job to be run by the Dataflow service.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID of this job.\n\nThis field is set by the Dataflow service when the Job is\ncreated, and is immutable for the life of the Job.",
          "type": "string"
        },
        "projectId": {
          "description": "The project which owns the job.",
          "type": "string"
        },
        "name": {
          "description": "The user-specified Dataflow job name.\n\nOnly one Job with a given name may exist in a project at any\ngiven time.  If a caller attempts to create a Job with the same\nname as an already-existing Job, the attempt will return the\nexisting Job.\n\nThe name must match the regular expression [a-z]([-a-z0-9]{0,38}[a-z0-9])?",
          "type": "string"
        },
        "type": {
          "description": "The type of dataflow job.",
          "enumDescriptions": [
            "The type of the job is unspecified, or unknown.",
            "A batch job with a well-defined end point: data is read, data is\nprocessed, data is written, and the job is done.",
            "A continuously streaming job with no end: data is read,\nprocessed, and written continuously."
          ],
          "type": "string",
          "enum": [
            "JOB_TYPE_UNKNOWN",
            "JOB_TYPE_BATCH",
            "JOB_TYPE_STREAMING"
          ]
        },
        "environment": {
          "description": "Environment for the job.",
          "$ref": "Environment"
        },
        "steps": {
          "description": "The top-level steps that constitute the entire job.",
          "type": "array",
          "items": {
            "$ref": "Step"
          }
        },
        "currentState": {
          "description": "The current state of the job.\n\nJobs are created in the JOB_STATE_STOPPED state unless otherwise specified.\n\nA job in the JOB_STATE_RUNNING state may asynchronously enter a\nterminal state.  Once a job has reached a terminal state, no\nfurther state updates may be made.\n\nThis field may be mutated by the Dataflow service; callers cannot mutate it.",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "JOB_STATE_STOPPED indicates that the job is paused, or has not\nyet started to run.",
            "JOB_STATE_RUNNING indicates that the job is currently running.",
            "JOB_STATE_DONE indicates that the job has successfully completed.\nThis is a terminal job state.  This state may be set by the Dataflow\nservice, as a transition from JOB_STATE_RUNNING. It may also be set via a\nDataflow UpdateJob call, if the job has not yet reached a terminal state.",
            "JOB_STATE_FAILED indicates that the job has failed.  This is a\nterminal job state.  This state may only be set by the Dataflow\nservice, and only as a transition from JOB_STATE_RUNNING.",
            "JOB_STATE_CANCELLED indicates that the job has been explicitly\ncancelled.  This is a terminal job state.  This state may only be\nset via a Dataflow UpdateJob call, and only if the job has not\nyet reached another terminal state.",
            "JOB_STATE_UPDATED indicates that the job was successfully updated,\nmeaning that this job was stopped and another job was started, inheriting\nstate from this one. This is a terminal job state. This state may only be\nset by the Dataflow service, and only as a transition from\nJOB_STATE_RUNNING.",
            "JOB_STATE_DRAINING indicates that the job is in the process of draining.\nA draining job has stopped pulling from its input sources and is processing\nany data that remains in-flight. This state may be set via a Dataflow\nUpdateJob call, but only as a transition from JOB_STATE_RUNNING. Jobs that\nare draining may only transition to JOB_STATE_DRAINED,\nJOB_STATE_CANCELLED, or JOB_STATE_FAILED.",
            "JOB_STATE_DRAINED indicates that the job has been drained.\nA drained job terminated by stopping pulling from its input sources and\nprocessing any data that remained in-flight when draining was requested.\nThis state is a terminal state, may only be set by the Dataflow service,\nand only as a transition from JOB_STATE_DRAINING."
          ],
          "type": "string",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED"
          ]
        },
        "currentStateTime": {
          "description": "The timestamp associated with the current state.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedState": {
          "description": "The job's requested state.\n\nUpdateJob may be used to switch between the JOB_STATE_STOPPED and\nJOB_STATE_RUNNING states, by setting requested_state.  UpdateJob may also\nbe used to directly set a job's requested state to JOB_STATE_CANCELLED or\nJOB_STATE_DONE, irrevocably terminating the job if it has not already\nreached a terminal state.",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "JOB_STATE_STOPPED indicates that the job is paused, or has not\nyet started to run.",
            "JOB_STATE_RUNNING indicates that the job is currently running.",
            "JOB_STATE_DONE indicates that the job has successfully completed.\nThis is a terminal job state.  This state may be set by the Dataflow\nservice, as a transition from JOB_STATE_RUNNING. It may also be set via a\nDataflow UpdateJob call, if the job has not yet reached a terminal state.",
            "JOB_STATE_FAILED indicates that the job has failed.  This is a\nterminal job state.  This state may only be set by the Dataflow\nservice, and only as a transition from JOB_STATE_RUNNING.",
            "JOB_STATE_CANCELLED indicates that the job has been explicitly\ncancelled.  This is a terminal job state.  This state may only be\nset via a Dataflow UpdateJob call, and only if the job has not\nyet reached another terminal state.",
            "JOB_STATE_UPDATED indicates that the job was successfully updated,\nmeaning that this job was stopped and another job was started, inheriting\nstate from this one. This is a terminal job state. This state may only be\nset by the Dataflow service, and only as a transition from\nJOB_STATE_RUNNING.",
            "JOB_STATE_DRAINING indicates that the job is in the process of draining.\nA draining job has stopped pulling from its input sources and is processing\nany data that remains in-flight. This state may be set via a Dataflow\nUpdateJob call, but only as a transition from JOB_STATE_RUNNING. Jobs that\nare draining may only transition to JOB_STATE_DRAINED,\nJOB_STATE_CANCELLED, or JOB_STATE_FAILED.",
            "JOB_STATE_DRAINED indicates that the job has been drained.\nA drained job terminated by stopping pulling from its input sources and\nprocessing any data that remained in-flight when draining was requested.\nThis state is a terminal state, may only be set by the Dataflow service,\nand only as a transition from JOB_STATE_DRAINING."
          ],
          "type": "string",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED"
          ]
        },
        "executionInfo": {
          "description": "Information about how the Dataflow service will actually run the job.",
          "$ref": "JobExecutionInfo"
        },
        "createTime": {
          "description": "Timestamp when job was initially created. Immutable, set by the Dataflow\nservice.",
          "type": "string",
          "format": "google-datetime"
        },
        "replaceJobId": {
          "description": "If this job is an update of an existing job, this field will be the ID\nof the job it replaced.\n\nWhen sending a CreateJobRequest, you can update a job by specifying it\nhere. The job named here will be stopped, and its intermediate state\ntransferred to this job.",
          "type": "string"
        },
        "transformNameMapping": {
          "description": "Map of transform name prefixes of the job to be replaced to the\ncorresponding name prefixes of the new job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clientRequestId": {
          "description": "Client's unique identifier of the job, re-used by SDK across\nretried attempts.\nIf this field is set, the service will ensure its uniqueness. That is,\nthe request to create a job will fail if the service has knowledge of a\npreviously submitted job with the same client's id and job name.\nThe caller may, for example, use this field to ensure idempotence of job\ncreation across retried attempts to create a job.\nBy default, the field is empty and, in that case, the service ignores it.",
          "type": "string"
        },
        "replacedByJobId": {
          "description": "If another job is an update of this job (and thus, this job is in\nJOB_STATE_UPDATED), this field will contain the ID of that job.",
          "type": "string"
        },
        "tempFiles": {
          "description": "A set of files the system should be aware of that are used\nfor temporary storage. These temporary files will be\nremoved on job completion.\nNo duplicates are allowed.\nNo file patterns are supported.\n\nThe supported files are:\n\nGoogle Cloud Storage:\n  storage.googleapis.com\/{bucket}\/{object}\n  bucket.storage.googleapis.com\/{object}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "User-defined labels for this job.\n\nThe labels map can contain no more than 64 entries.  Entries of the labels\nmap are UTF8 strings that comply with the following restrictions:\n\n* Keys must conform to regexp:  \\p{Ll}\\p{Lo}{0,62}\n* Values must conform to regexp:  [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}\n* Both keys and values are additionally constrained to be <= 128 bytes in\nsize.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Environment": {
      "id": "Environment",
      "description": "Describes the environment in which a Dataflow Job runs.",
      "type": "object",
      "properties": {
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary\nstorage.  The system will append the suffix \"\/temp-{JOBNAME} to\nthis resource prefix, where {JOBNAME} is the value of the\njob_name field.  The resulting bucket and object prefix is used\nas the prefix of the resources used to store temporary data\nneeded during the job execution.  NOTE: This will override the\nvalue in taskrunner_settings.\nThe supported resource type is:\n\nGoogle Cloud Storage:\n  storage.googleapis.com\/{bucket}\/{object}\n  bucket.storage.googleapis.com\/{object}",
          "type": "string"
        },
        "clusterManagerApiService": {
          "description": "The type of cluster manager API to use.  If unknown or\nunspecified, the service will attempt to choose a reasonable\ndefault.  This should be in the form of the API service name,\ne.g. \"compute.googleapis.com\".",
          "type": "string"
        },
        "experiments": {
          "description": "The list of experiments to enable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workerPools": {
          "description": "Worker pools.  At least one \"harness\" worker pool must be\nspecified in order for the job to have workers.",
          "type": "array",
          "items": {
            "$ref": "WorkerPool"
          }
        },
        "userAgent": {
          "description": "A description of the process that generated the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "version": {
          "description": "A structure describing which components and their versions of the service\nare required in order to run the job.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "dataset": {
          "description": "The dataset for the current project where various workflow\nrelated tables are stored.\n\nThe supported resource type is:\n\nGoogle BigQuery:\n  bigquery.googleapis.com\/{dataset}",
          "type": "string"
        },
        "sdkPipelineOptions": {
          "description": "The Dataflow SDK pipeline options specified by the user. These options\nare passed through the service and are used to recreate the SDK\npipeline options on the worker in a language agnostic and platform\nindependent way.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "internalExperiments": {
          "description": "Experimental settings.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "WorkerPool": {
      "id": "WorkerPool",
      "description": "Describes one particular pool of Dataflow workers to be\ninstantiated by the Dataflow service in order to perform the\ncomputations required by a job.  Note that a workflow job may use\nmultiple pools, in order to match the various computational\nrequirements of the various stages of the job.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of the worker pool; currently only 'harness' and 'shuffle'\nare supported.",
          "type": "string"
        },
        "numWorkers": {
          "description": "Number of Google Compute Engine workers in this pool needed to\nexecute the job.  If zero or unspecified, the service will\nattempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        },
        "packages": {
          "description": "Packages to be installed on workers.",
          "type": "array",
          "items": {
            "$ref": "Package"
          }
        },
        "defaultPackageSet": {
          "description": "The default package set to install.  This allows the service to\nselect a default set of packages which are useful to worker\nharnesses written in a particular language.",
          "enumDescriptions": [
            "The default set of packages to stage is unknown, or unspecified.",
            "Indicates that no packages should be staged at the worker unless\nexplicitly specified by the job.",
            "Stage packages typically useful to workers written in Java.",
            "Stage pacakges typically useful to workers written in Python."
          ],
          "type": "string",
          "enum": [
            "DEFAULT_PACKAGE_SET_UNKNOWN",
            "DEFAULT_PACKAGE_SET_NONE",
            "DEFAULT_PACKAGE_SET_JAVA",
            "DEFAULT_PACKAGE_SET_PYTHON"
          ]
        },
        "machineType": {
          "description": "Machine type (e.g. \"n1-standard-1\").  If empty or unspecified, the\nservice will attempt to choose a reasonable default.",
          "type": "string"
        },
        "teardownPolicy": {
          "description": "Sets the policy for determining when to turndown worker pool.\nAllowed values are: TEARDOWN_ALWAYS, TEARDOWN_ON_SUCCESS, and\nTEARDOWN_NEVER.\nTEARDOWN_ALWAYS means workers are always torn down regardless of whether\nthe job succeeds. TEARDOWN_ON_SUCCESS means workers are torn down\nif the job succeeds. TEARDOWN_NEVER means the workers are never torn\ndown.\n\nIf the workers are not torn down by the service, they will\ncontinue to run and use Google Compute Engine VM resources in the\nuser's project until they are explicitly terminated by the user.\nBecause of this, Google recommends using the TEARDOWN_ALWAYS\npolicy except for small, manually supervised test jobs.\n\nIf unknown or unspecified, the service will attempt to choose a reasonable\ndefault.",
          "enumDescriptions": [
            "The teardown policy isn't specified, or is unknown.",
            "Always teardown the resource.",
            "Teardown the resource on success. This is useful for debugging\nfailures.",
            "Never teardown the resource. This is useful for debugging and\ndevelopment."
          ],
          "type": "string",
          "enum": [
            "TEARDOWN_POLICY_UNKNOWN",
            "TEARDOWN_ALWAYS",
            "TEARDOWN_ON_SUCCESS",
            "TEARDOWN_NEVER"
          ]
        },
        "diskSizeGb": {
          "description": "Size of root disk for VMs, in GB.  If zero or unspecified, the service will\nattempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        },
        "diskType": {
          "description": "Type of root disk for VMs.  If empty or unspecified, the service will\nattempt to choose a reasonable default.",
          "type": "string"
        },
        "diskSourceImage": {
          "description": "Fully qualified source image for disks.",
          "type": "string"
        },
        "zone": {
          "description": "Zone to run the worker pools in.  If empty or unspecified, the service\nwill attempt to choose a reasonable default.",
          "type": "string"
        },
        "taskrunnerSettings": {
          "description": "Settings passed through to Google Compute Engine workers when\nusing the standard Dataflow task runner.  Users should ignore\nthis field.",
          "$ref": "TaskRunnerSettings"
        },
        "onHostMaintenance": {
          "description": "The action to take on host maintenance, as defined by the Google\nCompute Engine API.",
          "type": "string"
        },
        "dataDisks": {
          "description": "Data disks that are used by a VM in this workflow.",
          "type": "array",
          "items": {
            "$ref": "Disk"
          }
        },
        "metadata": {
          "description": "Metadata to set on the Google Compute Engine VMs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "autoscalingSettings": {
          "description": "Settings for autoscaling of this WorkerPool.",
          "$ref": "AutoscalingSettings"
        },
        "poolArgs": {
          "description": "Extra arguments for this worker pool.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "network": {
          "description": "Network to which VMs will be assigned.  If empty or unspecified,\nthe service will use the network \"default\".",
          "type": "string"
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired.  Expected to be of\nthe form \"regions\/REGION\/subnetworks\/SUBNETWORK\".",
          "type": "string"
        },
        "workerHarnessContainerImage": {
          "description": "Docker container image that executes Dataflow worker harness, residing in\nGoogle Container Registry. Required.",
          "type": "string"
        },
        "numThreadsPerWorker": {
          "description": "The number of threads per worker harness. If empty or unspecified, the\nservice will choose a number of threads (according to the number of cores\non the selected machine type for batch, or 1 by convention for streaming).",
          "type": "integer",
          "format": "int32"
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        }
      }
    },
    "Package": {
      "id": "Package",
      "description": "Packages that need to be installed in order for a worker to run the\nsteps of the Dataflow job which will be assigned to its worker pool.\n\nThis is the mechanism by which the SDK causes code to be loaded\nonto the workers.  For example, the Dataflow Java SDK might use\nthis to install jars containing the user's code and all of the\nvarious dependencies (libraries, data files, etc) required in order\nfor that code to run.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the package.",
          "type": "string"
        },
        "location": {
          "description": "The resource to read the package from.  The supported resource type is:\n\nGoogle Cloud Storage:\n  storage.googleapis.com\/{bucket}\n  bucket.storage.googleapis.com\/",
          "type": "string"
        }
      }
    },
    "TaskRunnerSettings": {
      "id": "TaskRunnerSettings",
      "description": "Taskrunner configuration settings.",
      "type": "object",
      "properties": {
        "taskUser": {
          "description": "The UNIX user ID on the worker VM to use for tasks launched by\ntaskrunner; e.g. \"root\".",
          "type": "string"
        },
        "taskGroup": {
          "description": "The UNIX group ID on the worker VM to use for tasks launched by\ntaskrunner; e.g. \"wheel\".",
          "type": "string"
        },
        "oauthScopes": {
          "description": "OAuth2 scopes to be requested by the taskrunner in order to\naccess the dataflow API.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "baseUrl": {
          "description": "The base URL for the taskrunner to use when accessing Google Cloud APIs.\n\nWhen workers access Google Cloud APIs, they logically do so via\nrelative URLs.  If this field is specified, it supplies the base\nURL to use for resolving these relative URLs.  The normative\nalgorithm used is defined by RFC 1808, \"Relative Uniform Resource\nLocators\".\n\nIf not specified, the default value is \"http:\/\/www.googleapis.com\/\"",
          "type": "string"
        },
        "dataflowApiVersion": {
          "description": "API version of endpoint, e.g. \"v1b3\"",
          "type": "string"
        },
        "parallelWorkerSettings": {
          "description": "Settings to pass to the parallel worker harness.",
          "$ref": "WorkerSettings"
        },
        "baseTaskDir": {
          "description": "Location on the worker for task-specific subdirectories.",
          "type": "string"
        },
        "continueOnException": {
          "description": "Do we continue taskrunner if an exception is hit?",
          "type": "boolean"
        },
        "logToSerialconsole": {
          "description": "Send taskrunner log into to Google Compute Engine VM serial console?",
          "type": "boolean"
        },
        "alsologtostderr": {
          "description": "Also send taskrunner log info to stderr?",
          "type": "boolean"
        },
        "logUploadLocation": {
          "description": "Indicates where to put logs.  If this is not specified, the logs\nwill not be uploaded.\n\nThe supported resource type is:\n\nGoogle Cloud Storage:\n  storage.googleapis.com\/{bucket}\/{object}\n  bucket.storage.googleapis.com\/{object}",
          "type": "string"
        },
        "logDir": {
          "description": "Directory on the VM to store logs.",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the taskrunner should use for\ntemporary storage.\n\nThe supported resource type is:\n\nGoogle Cloud Storage:\n  storage.googleapis.com\/{bucket}\/{object}\n  bucket.storage.googleapis.com\/{object}",
          "type": "string"
        },
        "harnessCommand": {
          "description": "Command to launch the worker harness.",
          "type": "string"
        },
        "workflowFileName": {
          "description": "Store the workflow in this file.",
          "type": "string"
        },
        "commandlinesFileName": {
          "description": "Store preprocessing commands in this file.",
          "type": "string"
        },
        "vmId": {
          "description": "ID string of VM.",
          "type": "string"
        },
        "languageHint": {
          "description": "Suggested backend language.",
          "type": "string"
        },
        "streamingWorkerMainClass": {
          "description": "Streaming worker main class name.",
          "type": "string"
        }
      }
    },
    "WorkerSettings": {
      "id": "WorkerSettings",
      "description": "Provides data to pass through to the worker harness.",
      "type": "object",
      "properties": {
        "baseUrl": {
          "description": "The base URL for accessing Google Cloud APIs.\n\nWhen workers access Google Cloud APIs, they logically do so via\nrelative URLs.  If this field is specified, it supplies the base\nURL to use for resolving these relative URLs.  The normative\nalgorithm used is defined by RFC 1808, \"Relative Uniform Resource\nLocators\".\n\nIf not specified, the default value is \"http:\/\/www.googleapis.com\/\"",
          "type": "string"
        },
        "reportingEnabled": {
          "description": "Send work progress updates to service.",
          "type": "boolean"
        },
        "servicePath": {
          "description": "The Dataflow service path relative to the root URL, for example,\n\"dataflow\/v1b3\/projects\".",
          "type": "string"
        },
        "shuffleServicePath": {
          "description": "The Shuffle service path relative to the root URL, for example,\n\"shuffle\/v1beta1\".",
          "type": "string"
        },
        "workerId": {
          "description": "ID of the worker running this pipeline.",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary\nstorage.\n\nThe supported resource type is:\n\nGoogle Cloud Storage:\n  storage.googleapis.com\/{bucket}\/{object}\n  bucket.storage.googleapis.com\/{object}",
          "type": "string"
        }
      }
    },
    "Disk": {
      "id": "Disk",
      "description": "Describes the data disk used by a workflow job.",
      "type": "object",
      "properties": {
        "sizeGb": {
          "description": "Size of disk in GB.  If zero or unspecified, the service will\nattempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        },
        "diskType": {
          "description": "Disk storage type, as defined by Google Compute Engine.  This\nmust be a disk type appropriate to the project and zone in which\nthe workers will run.  If unknown or unspecified, the service\nwill attempt to choose a reasonable default.\n\nFor example, the standard persistent disk type is a resource name\ntypically ending in \"pd-standard\".  If SSD persistent disks are\navailable, the resource name typically ends with \"pd-ssd\".  The\nactual valid values are defined the Google Compute Engine API,\nnot by the Dataflow API; consult the Google Compute Engine\ndocumentation for more information about determining the set of\navailable disk types for a particular project and zone.\n\nGoogle Compute Engine Disk types are local to a particular\nproject in a particular zone, and so the resource name will\ntypically look something like this:\n\n  compute.googleapis.com\/projects\/<project-id>\/zones\/<zone>\/diskTypes\/pd-standard",
          "type": "string"
        },
        "mountPoint": {
          "description": "Directory in a VM where disk is mounted.",
          "type": "string"
        }
      }
    },
    "AutoscalingSettings": {
      "id": "AutoscalingSettings",
      "description": "Settings for WorkerPool autoscaling.",
      "type": "object",
      "properties": {
        "algorithm": {
          "description": "The algorithm to use for autoscaling.",
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "type": "string",
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ]
        },
        "maxNumWorkers": {
          "description": "The maximum number of workers to cap scaling at.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Step": {
      "id": "Step",
      "description": "Defines a particular step within a Dataflow job.\n\nA job consists of multiple steps, each of which performs some\nspecific operation as part of the overall job.  Data is typically\npassed from one step to another as part of the job.\n\nHere's an example of a sequence of steps which together implement a\nMap-Reduce job:\n\n  * Read a collection of data from some source, parsing the\n    collection's elements.\n\n  * Validate the elements.\n\n  * Apply a user-defined function to map each element to some value\n    and extract an element-specific key value.\n\n  * Group elements with the same key into a single element with\n    that key, transforming a multiply-keyed collection into a\n    uniquely-keyed collection.\n\n  * Write the elements out to some data sink.\n\n(Note that the Dataflow service may be used to run many different\ntypes of jobs, not just Map-Reduce).",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of step in the dataflow Job.",
          "type": "string"
        },
        "name": {
          "description": "Name identifying the step. This must be unique for each\nstep with respect to all other steps in the dataflow Job.",
          "type": "string"
        },
        "properties": {
          "description": "Named properties associated with the step.  Each kind of\npredefined step has its own required set of properties.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "JobExecutionInfo": {
      "id": "JobExecutionInfo",
      "description": "Additional information about how a Dataflow job will be executed which\nisn\u2019t contained in the submitted job.",
      "type": "object",
      "properties": {
        "stages": {
          "description": "A mapping from each stage to the information about that stage.",
          "type": "object",
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          }
        }
      }
    },
    "JobExecutionStageInfo": {
      "id": "JobExecutionStageInfo",
      "description": "Contains information about how a particular\ngoogle.dataflow.v1beta3.Step will be executed.",
      "type": "object",
      "properties": {
        "stepName": {
          "description": "The steps associated with the execution stage.\nNote that stages may have several steps, and that a given step\nmight be run by more than one stage.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "description": "Response to a request to list Dataflow jobs.  This may be a partial\nresponse, depending on the page size in the ListJobsRequest.",
      "type": "object",
      "properties": {
        "jobs": {
          "description": "A subset of the requested job information.",
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        },
        "nextPageToken": {
          "description": "Set if there may be more results than fit in this response.",
          "type": "string"
        }
      }
    },
    "ListJobMessagesResponse": {
      "id": "ListJobMessagesResponse",
      "description": "Response to a request to list job messages.",
      "type": "object",
      "properties": {
        "jobMessages": {
          "description": "Messages in ascending timestamp order.",
          "type": "array",
          "items": {
            "$ref": "JobMessage"
          }
        },
        "nextPageToken": {
          "description": "The token to obtain the next page of results if there are more.",
          "type": "string"
        }
      }
    },
    "JobMessage": {
      "id": "JobMessage",
      "description": "A particular message pertaining to a Dataflow job.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Identifies the message.  This is automatically generated by the\nservice; the caller should treat it as an opaque string.",
          "type": "string"
        },
        "time": {
          "description": "The timestamp of the message.",
          "type": "string",
          "format": "google-datetime"
        },
        "messageText": {
          "description": "The text of the message.",
          "type": "string"
        },
        "messageImportance": {
          "description": "Importance level of the message.",
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for\nsoftware engineers working on the code the job is running.\nTypically, Dataflow pipeline runners do not display log messages\nat this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but\npotentially useful to users.  Typically, Dataflow pipeline\nrunners do not display log messages at this level by default.\nThese messages are displayed by default in the Dataflow\nmonitoring UI.",
            "The message is at the 'basic' level: useful for keeping\ntrack of the execution of a Dataflow pipeline.  Typically,\nDataflow pipeline runners display log messages at this level by\ndefault, and these messages are displayed by default in the\nDataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition\npertaining to a job which may require human intervention.\nTypically, Dataflow pipeline runners display log messages at this\nlevel by default, and these messages are displayed by default in\nthe Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition\npreventing a job from succeeding.  Typically, Dataflow pipeline\nrunners display log messages at this level by default, and these\nmessages are displayed by default in the Dataflow monitoring UI."
          ],
          "type": "string",
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ]
        }
      }
    },
    "JobMetrics": {
      "id": "JobMetrics",
      "description": "JobMetrics contains a collection of metrics descibing the detailed progress\nof a Dataflow job. Metrics correspond to user-defined and system-defined\nmetrics in the job.\n\nThis resource captures only the most recent values of each metric;\ntime-series data can be queried for them (under the same metric names)\nfrom Cloud Monitoring.",
      "type": "object",
      "properties": {
        "metricTime": {
          "description": "Timestamp as of which metric values are current.",
          "type": "string",
          "format": "google-datetime"
        },
        "metrics": {
          "description": "All metrics for this job.",
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          }
        }
      }
    },
    "MetricUpdate": {
      "id": "MetricUpdate",
      "description": "Describes the state of a metric.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the metric.",
          "$ref": "MetricStructuredName"
        },
        "kind": {
          "description": "Metric aggregation kind.  The possible metric aggregation kinds are\n\"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", and \"Or\".\nThe specified aggregation kind is case-insensitive.\n\nIf omitted, this is not an aggregated value but instead\na single metric sample value.",
          "type": "string"
        },
        "cumulative": {
          "description": "True if this metric is reported as the total cumulative aggregate\nvalue accumulated since the worker started working on this WorkItem.\nBy default this is false, indicating that this metric is reported\nas a delta that is not associated with any WorkItem.",
          "type": "boolean"
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\",\n\"And\", and \"Or\".  The possible value types are Long, Double, and Boolean.",
          "type": "any"
        },
        "meanSum": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind.\nThis holds the sum of the aggregated values and is used in combination\nwith mean_count below to obtain the actual mean aggregate value.\nThe only possible value types are Long and Double.",
          "type": "any"
        },
        "meanCount": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind.\nThis holds the count of the aggregated values and is used in combination\nwith mean_sum above to obtain the actual mean aggregate value.\nThe only possible value type is Long.",
          "type": "any"
        },
        "set": {
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind.  The only\npossible value type is a list of Values whose type can be Long, Double,\nor String, according to the metric's type.  All Values in the list must\nbe of the same type.",
          "type": "any"
        },
        "internal": {
          "description": "Worker-computed aggregate value for internal use by the Dataflow\nservice.",
          "type": "any"
        },
        "updateTime": {
          "description": "Timestamp associated with the metric value. Optional when workers are\nreporting work progress; it will be filled in responses from the\nmetrics API.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "MetricStructuredName": {
      "id": "MetricStructuredName",
      "description": "Identifies a metric, by describing the source which generated the\nmetric.",
      "type": "object",
      "properties": {
        "origin": {
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics;\nwill be \"dataflow\" for metrics defined by the Dataflow service or SDK.",
          "type": "string"
        },
        "name": {
          "description": "Worker-defined metric name.",
          "type": "string"
        },
        "context": {
          "description": "Zero or more labeled fields which identify the part of the job this\nmetric is associated with, such as the name of a step or collection.\n\nFor example, built-in counters associated with steps will have\ncontext['step'] = <step-name>. Counters associated with PCollections\nin the SDK will have context['pcollection'] = <pcollection-name>.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ReportWorkItemStatusRequest": {
      "id": "ReportWorkItemStatusRequest",
      "description": "Request to report the status of WorkItems.",
      "type": "object",
      "properties": {
        "workerId": {
          "description": "The ID of the worker reporting the WorkItem status.  If this\ndoes not match the ID of the worker which the Dataflow service\nbelieves currently has the lease on the WorkItem, the report\nwill be dropped (with an error response).",
          "type": "string"
        },
        "workItemStatuses": {
          "description": "The order is unimportant, except that the order of the\nWorkItemServiceState messages in the ReportWorkItemStatusResponse\ncorresponds to the order of WorkItemStatus messages here.",
          "type": "array",
          "items": {
            "$ref": "WorkItemStatus"
          }
        },
        "currentWorkerTime": {
          "description": "The current timestamp at the worker.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "WorkItemStatus": {
      "id": "WorkItemStatus",
      "description": "Conveys a worker's progress through the work described by a WorkItem.",
      "type": "object",
      "properties": {
        "workItemId": {
          "description": "Identifies the WorkItem.",
          "type": "string"
        },
        "reportIndex": {
          "description": "The report index.  When a WorkItem is leased, the lease will\ncontain an initial report index.  When a WorkItem's status is\nreported to the system, the report should be sent with\nthat report index, and the response will contain the index the\nworker should use for the next report.  Reports received with\nunexpected index values will be rejected by the service.\n\nIn order to preserve idempotency, the worker should not alter the\ncontents of a report, even if the worker must submit the same\nreport multiple times before getting back a response.  The worker\nshould not submit a subsequent report until the response for the\nprevious report had been received from the service.",
          "type": "string",
          "format": "int64"
        },
        "requestedLeaseDuration": {
          "description": "Amount of time the worker requests for its lease.",
          "type": "string",
          "format": "google-duration"
        },
        "completed": {
          "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
          "type": "boolean"
        },
        "errors": {
          "description": "Specifies errors which occurred during processing.  If errors are\nprovided, and completed = true, then the WorkItem is considered\nto have failed.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "counterUpdates": {
          "description": "Worker output counters for this WorkItem.",
          "type": "array",
          "items": {
            "$ref": "CounterUpdate"
          }
        },
        "metricUpdates": {
          "description": "DEPRECATED in favor of counter_updates.",
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "reportedProgress": {
          "description": "The worker's progress through this WorkItem.",
          "$ref": "ApproximateReportedProgress"
        },
        "stopPosition": {
          "description": "A worker may split an active map task in two parts, \"primary\" and\n\"residual\", continuing to process the primary part and returning the\nresidual part into the pool of available work.\nThis event is called a \"dynamic split\" and is critical to the dynamic\nwork rebalancing feature. The two obtained sub-tasks are called\n\"parts\" of the split.\nThe parts, if concatenated, must represent the same input as would\nbe read by the current task if the split did not happen.\nThe exact way in which the original task is decomposed into the two\nparts is specified either as a position demarcating them\n(stop_position), or explicitly as two DerivedSources, if this\ntask consumes a user-defined source type (dynamic_source_split).\n\nThe \"current\" task is adjusted as a result of the split: after a task\nwith range [A, B) sends a stop_position update at C, its range is\nconsidered to be [A, C), e.g.:\n* Progress should be interpreted relative to the new range, e.g.\n  \"75% completed\" means \"75% of [A, C) completed\"\n* The worker should interpret proposed_stop_position relative to the\n  new range, e.g. \"split at 68%\" should be interpreted as\n  \"split at 68% of [A, C)\".\n* If the worker chooses to split again using stop_position, only\n  stop_positions in [A, C) will be accepted.\n* Etc.\ndynamic_source_split has similar semantics: e.g., if a task with\nsource S splits using dynamic_source_split into {P, R}\n(where P and R must be together equivalent to S), then subsequent\nprogress and proposed_stop_position should be interpreted relative\nto P, and in a potential subsequent dynamic_source_split into {P', R'},\nP' and R' must be together equivalent to P, etc.",
          "$ref": "Position"
        },
        "dynamicSourceSplit": {
          "description": "See documentation of stop_position.",
          "$ref": "DynamicSourceSplit"
        },
        "sourceOperationResponse": {
          "description": "If the work item represented a SourceOperationRequest, and the work\nis completed, contains the result of the operation.",
          "$ref": "SourceOperationResponse"
        },
        "sourceFork": {
          "description": "DEPRECATED in favor of dynamic_source_split.",
          "$ref": "SourceFork"
        },
        "progress": {
          "description": "DEPRECATED in favor of reported_progress.",
          "$ref": "ApproximateProgress"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https:\/\/github.com\/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` which can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting purpose.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security\/privacy reasons.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "CounterUpdate": {
      "id": "CounterUpdate",
      "description": "An update to a Counter sent from a worker.",
      "type": "object",
      "properties": {
        "nameAndKind": {
          "description": "Counter name and aggregation type.",
          "$ref": "NameAndKind"
        },
        "shortId": {
          "description": "The service-generated short identifier for this counter.\nThe short_id -> (name, metadata) mapping is constant for the lifetime of\na job.",
          "type": "string",
          "format": "int64"
        },
        "structuredNameAndMetadata": {
          "description": "Counter structured name and metadata.",
          "$ref": "CounterStructuredNameAndMetadata"
        },
        "cumulative": {
          "description": "True if this counter is reported as the total cumulative aggregate\nvalue accumulated since the worker started working on this WorkItem.\nBy default this is false, indicating that this counter is reported\nas a delta.",
          "type": "boolean"
        },
        "integer": {
          "description": "Integer value for Sum, Max, Min.",
          "$ref": "SplitInt64"
        },
        "floatingPoint": {
          "description": "Floating point value for Sum, Max, Min.",
          "type": "number",
          "format": "double"
        },
        "boolean": {
          "description": "Boolean value for And, Or.",
          "type": "boolean"
        },
        "integerMean": {
          "description": "Integer mean aggregation value for Mean.",
          "$ref": "IntegerMean"
        },
        "floatingPointMean": {
          "description": "Floating point mean aggregation value for Mean.",
          "$ref": "FloatingPointMean"
        },
        "integerList": {
          "description": "List of integers, for Set.",
          "$ref": "IntegerList"
        },
        "floatingPointList": {
          "description": "List of floating point numbers, for Set.",
          "$ref": "FloatingPointList"
        },
        "stringList": {
          "description": "List of strings, for Set.",
          "$ref": "StringList"
        },
        "internal": {
          "description": "Value for internally-defined counters used by the Dataflow service.",
          "type": "any"
        }
      }
    },
    "NameAndKind": {
      "id": "NameAndKind",
      "description": "Basic metadata about a counter.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the counter.",
          "type": "string"
        },
        "kind": {
          "description": "Counter aggregation kind.",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values."
          ],
          "type": "string",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET"
          ]
        }
      }
    },
    "CounterStructuredNameAndMetadata": {
      "id": "CounterStructuredNameAndMetadata",
      "description": "A single message which encapsulates structured name and metadata for a given\ncounter.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Structured name of the counter.",
          "$ref": "CounterStructuredName"
        },
        "metadata": {
          "description": "Metadata associated with a counter",
          "$ref": "CounterMetadata"
        }
      }
    },
    "CounterStructuredName": {
      "id": "CounterStructuredName",
      "description": "Identifies a counter within a per-job namespace. Counters whose structured\nnames are the same get merged into a single value for the job.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Counter name. Not necessarily globally-unique, but unique within the\ncontext of the other fields.\nRequired.",
          "type": "string"
        },
        "standardOrigin": {
          "description": "One of the standard Origins defined above.",
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "type": "string",
          "enum": [
            "DATAFLOW",
            "USER"
          ]
        },
        "otherOrigin": {
          "description": "A string containing the origin of the counter.",
          "type": "string"
        },
        "originalStepName": {
          "description": "System generated name of the original step in the user's graph, before\noptimization.",
          "type": "string"
        },
        "componentStepName": {
          "description": "Name of the optimized step being executed by the workers.",
          "type": "string"
        },
        "executionStepName": {
          "description": "Name of the stage. An execution step contains multiple component steps.",
          "type": "string"
        },
        "workerId": {
          "description": "ID of a particular worker.",
          "type": "string"
        },
        "portion": {
          "description": "Portion of this counter, either key or value.",
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ],
          "type": "string",
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ]
        }
      }
    },
    "CounterMetadata": {
      "id": "CounterMetadata",
      "description": "CounterMetadata includes all static non-name non-value counter attributes.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Counter aggregation kind.",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values."
          ],
          "type": "string",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET"
          ]
        },
        "description": {
          "description": "Human-readable description of the counter semantics.",
          "type": "string"
        },
        "standardUnits": {
          "description": "System defined Units, see above enum.",
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ],
          "type": "string",
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ]
        },
        "otherUnits": {
          "description": "A string referring to the unit type.",
          "type": "string"
        }
      }
    },
    "SplitInt64": {
      "id": "SplitInt64",
      "description": "A representation of an int64, n, that is immune to precision loss when\nencoded in JSON.",
      "type": "object",
      "properties": {
        "lowBits": {
          "description": "The low order bits: n & 0xffffffff.",
          "type": "integer",
          "format": "uint32"
        },
        "highBits": {
          "description": "The high order bits, including the sign: n >> 32.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IntegerMean": {
      "id": "IntegerMean",
      "description": "A representation of an integer mean metric contribution.",
      "type": "object",
      "properties": {
        "sum": {
          "description": "The sum of all values being aggregated.",
          "$ref": "SplitInt64"
        },
        "count": {
          "description": "The number of values being aggregated.",
          "$ref": "SplitInt64"
        }
      }
    },
    "FloatingPointMean": {
      "id": "FloatingPointMean",
      "description": "A representation of a floating point mean metric contribution.",
      "type": "object",
      "properties": {
        "sum": {
          "description": "The sum of all values being aggregated.",
          "type": "number",
          "format": "double"
        },
        "count": {
          "description": "The number of values being aggregated.",
          "$ref": "SplitInt64"
        }
      }
    },
    "IntegerList": {
      "id": "IntegerList",
      "description": "A metric value representing a list of integers.",
      "type": "object",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "type": "array",
          "items": {
            "$ref": "SplitInt64"
          }
        }
      }
    },
    "FloatingPointList": {
      "id": "FloatingPointList",
      "description": "A metric value representing a list of floating point numbers.",
      "type": "object",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "StringList": {
      "id": "StringList",
      "description": "A metric value representing a list of strings.",
      "type": "object",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ApproximateReportedProgress": {
      "id": "ApproximateReportedProgress",
      "description": "A progress measurement of a WorkItem by a worker.",
      "type": "object",
      "properties": {
        "position": {
          "description": "A Position within the work to represent a progress.",
          "$ref": "Position"
        },
        "fractionConsumed": {
          "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing\nconsumed), to 1.0 (end of the input, entire input consumed).",
          "type": "number",
          "format": "double"
        },
        "remainingParallelism": {
          "description": "Total amount of parallelism in the input of this task that remains,\n(i.e. can be delegated to this task and any new tasks via dynamic\nsplitting). Always at least 1 for non-finished work items and 0 for\nfinished.\n\n\"Amount of parallelism\" refers to how many non-empty parts of the input\ncan be read in parallel. This does not necessarily equal number\nof records. An input that can be read in parallel down to the\nindividual records is called \"perfectly splittable\".\nAn example of non-perfectly parallelizable input is a block-compressed\nfile format where a block of records has to be read as a whole,\nbut different blocks can be read in parallel.\n\nExamples:\n* If we are processing record #30 (starting at 1) out of 50 in a perfectly\n  splittable 50-record input, this value should be 21 (20 remaining + 1\n  current).\n* If we are reading through block 3 in a block-compressed file consisting\n  of 5 blocks, this value should be 3 (since blocks 4 and 5 can be\n  processed in parallel by new tasks via dynamic splitting and the current\n  task remains processing block 3).\n* If we are reading through the last block in a block-compressed file,\n  or reading or processing the last record in a perfectly splittable\n  input, this value should be 1, because apart from the current task, no\n  additional remainder can be split off.",
          "$ref": "ReportedParallelism"
        },
        "consumedParallelism": {
          "description": "Total amount of parallelism in the portion of input of this task that has\nalready been consumed and is no longer active. In the first two examples\nabove (see remaining_parallelism), the value should be 29 or 2\nrespectively.  The sum of remaining_parallelism and consumed_parallelism\nshould equal the total amount of parallelism in this work item.  If\nspecified, must be finite.",
          "$ref": "ReportedParallelism"
        }
      }
    },
    "Position": {
      "id": "Position",
      "description": "Position defines a position within a collection of data.  The value\ncan be either the end position, a key (used with ordered\ncollections), a byte offset, or a record index.",
      "type": "object",
      "properties": {
        "end": {
          "description": "Position is past all other positions. Also useful for the end\nposition of an unbounded range.",
          "type": "boolean"
        },
        "key": {
          "description": "Position is a string key, ordered lexicographically.",
          "type": "string"
        },
        "byteOffset": {
          "description": "Position is a byte offset.",
          "type": "string",
          "format": "int64"
        },
        "recordIndex": {
          "description": "Position is a record index.",
          "type": "string",
          "format": "int64"
        },
        "shufflePosition": {
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED\nsharding).",
          "type": "string"
        },
        "concatPosition": {
          "description": "CloudPosition is a concat position.",
          "$ref": "ConcatPosition"
        }
      }
    },
    "ConcatPosition": {
      "id": "ConcatPosition",
      "description": "A position that encapsulates an inner position and an index for the inner\nposition. A ConcatPosition can be used by a reader of a source that\nencapsulates a set of other sources.",
      "type": "object",
      "properties": {
        "index": {
          "description": "Index of the inner source.",
          "type": "integer",
          "format": "int32"
        },
        "position": {
          "description": "Position within the inner source.",
          "$ref": "Position"
        }
      }
    },
    "ReportedParallelism": {
      "id": "ReportedParallelism",
      "description": "Represents the level of parallelism in a WorkItem's input,\nreported by the worker.",
      "type": "object",
      "properties": {
        "isInfinite": {
          "description": "Specifies whether the parallelism is infinite. If true, \"value\" is\nignored.\nInfinite parallelism means the service will assume that the work item\ncan always be split into more non-empty work items by dynamic splitting.\nThis is a work-around for lack of support for infinity by the current\nJSON-based Java RPC stack.",
          "type": "boolean"
        },
        "value": {
          "description": "Specifies the level of parallelism in case it is finite.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "DynamicSourceSplit": {
      "id": "DynamicSourceSplit",
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this\nmessage describes the two parts of the split relative to the\ndescription of the current task's input.",
      "type": "object",
      "properties": {
        "primary": {
          "description": "Primary part (continued to be processed by worker).\nSpecified relative to the previously-current source.\nBecomes current.",
          "$ref": "DerivedSource"
        },
        "residual": {
          "description": "Residual part (returned to the pool of work).\nSpecified relative to the previously-current source.",
          "$ref": "DerivedSource"
        }
      }
    },
    "DerivedSource": {
      "id": "DerivedSource",
      "description": "Specification of one of the bundles produced as a result of splitting\na Source (e.g. when executing a SourceSplitRequest, or when\nsplitting an active task using WorkItemStatus.dynamic_source_split),\nrelative to the source being split.",
      "type": "object",
      "properties": {
        "source": {
          "description": "Specification of the source.",
          "$ref": "Source"
        },
        "derivationMode": {
          "description": "What source to base the produced source on (if any).",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "type": "string",
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ]
        }
      }
    },
    "Source": {
      "id": "Source",
      "description": "A source that records can be read and decoded from.",
      "type": "object",
      "properties": {
        "spec": {
          "description": "The source to read from, plus its parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "codec": {
          "description": "The codec to use to decode data read from the source.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "baseSpecs": {
          "description": "While splitting, sources may specify the produced bundles\nas differences against another source, in order to save backend-side\nmemory and allow bigger jobs. For details, see SourceSplitRequest.\nTo support this use case, the full set of parameters of the source\nis logically obtained by taking the latest explicitly specified value\nof each parameter in the order:\nbase_specs (later items win), spec (overrides anything in base_specs).",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "metadata": {
          "description": "Optionally, metadata for this source can be supplied right away,\navoiding a SourceGetMetadataOperation roundtrip\n(see SourceOperationRequest).\n\nThis field is meaningful only in the Source objects populated\nby the user (e.g. when filling in a DerivedSource).\nSource objects supplied by the framework to the user don't have\nthis field populated.",
          "$ref": "SourceMetadata"
        },
        "doesNotNeedSplitting": {
          "description": "Setting this value to true hints to the framework that the source\ndoesn't need splitting, and using SourceSplitRequest on it would\nyield SOURCE_SPLIT_OUTCOME_USE_CURRENT.\n\nE.g. a file splitter may set this to true when splitting a single file\ninto a set of byte ranges of appropriate size, and set this\nto false when splitting a filepattern into individual files.\nHowever, for efficiency, a file splitter may decide to produce\nfile subranges directly from the filepattern to avoid a splitting\nround-trip.\n\nSee SourceSplitRequest for an overview of the splitting process.\n\nThis field is meaningful only in the Source objects populated\nby the user (e.g. when filling in a DerivedSource).\nSource objects supplied by the framework to the user don't have\nthis field populated.",
          "type": "boolean"
        }
      }
    },
    "SourceMetadata": {
      "id": "SourceMetadata",
      "description": "Metadata about a Source useful for automatically optimizing\nand tuning the pipeline, etc.",
      "type": "object",
      "properties": {
        "producesSortedKeys": {
          "description": "Whether this source is known to produce key\/value pairs with\nthe (encoded) keys in lexicographically sorted order.",
          "type": "boolean"
        },
        "infinite": {
          "description": "Specifies that the size of this source is known to be infinite\n(this is a streaming source).",
          "type": "boolean"
        },
        "estimatedSizeBytes": {
          "description": "An estimate of the total size (in bytes) of the data that would be\nread from this source.  This estimate is in terms of external storage\nsize, before any decompression or other processing done by the reader.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SourceOperationResponse": {
      "id": "SourceOperationResponse",
      "description": "The result of a SourceOperationRequest, specified in\nReportWorkItemStatusRequest.source_operation when the work item\nis completed.",
      "type": "object",
      "properties": {
        "split": {
          "description": "A response to a request to split a source.",
          "$ref": "SourceSplitResponse"
        },
        "getMetadata": {
          "description": "A response to a request to get metadata about a source.",
          "$ref": "SourceGetMetadataResponse"
        }
      }
    },
    "SourceSplitResponse": {
      "id": "SourceSplitResponse",
      "description": "The response to a SourceSplitRequest.",
      "type": "object",
      "properties": {
        "outcome": {
          "description": "Indicates whether splitting happened and produced a list of bundles.\nIf this is USE_CURRENT_SOURCE_AS_IS, the current source should\nbe processed \"as is\" without splitting. \"bundles\" is ignored in this case.\nIf this is SPLITTING_HAPPENED, then \"bundles\" contains a list of\nbundles into which the source was split.",
          "enumDescriptions": [
            "The source split outcome is unknown, or unspecified.",
            "The current source should be processed \"as is\" without splitting.",
            "Splitting produced a list of bundles."
          ],
          "type": "string",
          "enum": [
            "SOURCE_SPLIT_OUTCOME_UNKNOWN",
            "SOURCE_SPLIT_OUTCOME_USE_CURRENT",
            "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED"
          ]
        },
        "bundles": {
          "description": "If outcome is SPLITTING_HAPPENED, then this is a list of bundles\ninto which the source was split. Otherwise this field is ignored.\nThis list can be empty, which means the source represents an empty input.",
          "type": "array",
          "items": {
            "$ref": "DerivedSource"
          }
        },
        "shards": {
          "description": "DEPRECATED in favor of bundles.",
          "type": "array",
          "items": {
            "$ref": "SourceSplitShard"
          }
        }
      }
    },
    "SourceSplitShard": {
      "id": "SourceSplitShard",
      "description": "DEPRECATED in favor of DerivedSource.",
      "type": "object",
      "properties": {
        "source": {
          "description": "DEPRECATED",
          "$ref": "Source"
        },
        "derivationMode": {
          "description": "DEPRECATED",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "type": "string",
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ]
        }
      }
    },
    "SourceGetMetadataResponse": {
      "id": "SourceGetMetadataResponse",
      "description": "The result of a SourceGetMetadataOperation.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "The computed metadata.",
          "$ref": "SourceMetadata"
        }
      }
    },
    "SourceFork": {
      "id": "SourceFork",
      "description": "DEPRECATED in favor of DynamicSourceSplit.",
      "type": "object",
      "properties": {
        "primary": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        },
        "residual": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        },
        "primarySource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        },
        "residualSource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        }
      }
    },
    "ApproximateProgress": {
      "id": "ApproximateProgress",
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.",
      "type": "object",
      "properties": {
        "position": {
          "description": "Obsolete.",
          "$ref": "Position"
        },
        "percentComplete": {
          "description": "Obsolete.",
          "type": "number",
          "format": "float"
        },
        "remainingTime": {
          "description": "Obsolete.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "ReportWorkItemStatusResponse": {
      "id": "ReportWorkItemStatusResponse",
      "description": "Response from a request to report the status of WorkItems.",
      "type": "object",
      "properties": {
        "workItemServiceStates": {
          "description": "A set of messages indicating the service-side state for each\nWorkItem whose status was reported, in the same order as the\nWorkItemStatus messages in the ReportWorkItemStatusRequest which\nresulting in this response.",
          "type": "array",
          "items": {
            "$ref": "WorkItemServiceState"
          }
        }
      }
    },
    "WorkItemServiceState": {
      "id": "WorkItemServiceState",
      "description": "The Dataflow service's idea of the current state of a WorkItem\nbeing processed by a worker.",
      "type": "object",
      "properties": {
        "splitRequest": {
          "description": "The progress point in the WorkItem where the Dataflow service\nsuggests that the worker truncate the task.",
          "$ref": "ApproximateSplitRequest"
        },
        "leaseExpireTime": {
          "description": "Time at which the current lease will expire.",
          "type": "string",
          "format": "google-datetime"
        },
        "reportStatusInterval": {
          "description": "New recommended reporting interval.",
          "type": "string",
          "format": "google-duration"
        },
        "harnessData": {
          "description": "Other data returned by the service, specific to the particular\nworker harness.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "nextReportIndex": {
          "description": "The index value to use for the next report sent by the worker.\nNote: If the report call fails for whatever reason, the worker should\nreuse this index for subsequent report attempts.",
          "type": "string",
          "format": "int64"
        },
        "metricShortId": {
          "description": "The short ids that workers should use in subsequent metric updates.\nWorkers should strive to use short ids whenever possible, but it is ok\nto request the short_id again if a worker lost track of it\n(e.g. if the worker is recovering from a crash).\nNOTE: it is possible that the response may have short ids for a subset\nof the metrics.",
          "type": "array",
          "items": {
            "$ref": "MetricShortId"
          }
        },
        "suggestedStopPosition": {
          "description": "Obsolete, always empty.",
          "$ref": "Position"
        },
        "suggestedStopPoint": {
          "description": "DEPRECATED in favor of split_request.",
          "$ref": "ApproximateProgress"
        }
      }
    },
    "ApproximateSplitRequest": {
      "id": "ApproximateSplitRequest",
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem.",
      "type": "object",
      "properties": {
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        },
        "fractionConsumed": {
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the\ninput) to 1.0 (end of the input).",
          "type": "number",
          "format": "double"
        }
      }
    },
    "MetricShortId": {
      "id": "MetricShortId",
      "description": "The metric short id is returned to the user alongside an offset into\nReportWorkItemStatusRequest",
      "type": "object",
      "properties": {
        "metricIndex": {
          "description": "The index of the corresponding metric in\nthe ReportWorkItemStatusRequest. Required.",
          "type": "integer",
          "format": "int32"
        },
        "shortId": {
          "description": "The service-generated short identifier for the metric.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "LeaseWorkItemRequest": {
      "id": "LeaseWorkItemRequest",
      "description": "Request to lease WorkItems.",
      "type": "object",
      "properties": {
        "workItemTypes": {
          "description": "Filter for WorkItem type.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workerCapabilities": {
          "description": "Worker capabilities. WorkItems might be limited to workers with specific\ncapabilities.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestedLeaseDuration": {
          "description": "The initial lease period.",
          "type": "string",
          "format": "google-duration"
        },
        "currentWorkerTime": {
          "description": "The current timestamp at the worker.",
          "type": "string",
          "format": "google-datetime"
        },
        "workerId": {
          "description": "Identifies the worker leasing work -- typically the ID of the\nvirtual machine running the worker.",
          "type": "string"
        }
      }
    },
    "LeaseWorkItemResponse": {
      "id": "LeaseWorkItemResponse",
      "description": "Response to a request to lease WorkItems.",
      "type": "object",
      "properties": {
        "workItems": {
          "description": "A list of the leased WorkItems.",
          "type": "array",
          "items": {
            "$ref": "WorkItem"
          }
        }
      }
    },
    "WorkItem": {
      "id": "WorkItem",
      "description": "WorkItem represents basic information about a WorkItem to be executed\nin the cloud.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Identifies this WorkItem.",
          "type": "string",
          "format": "int64"
        },
        "projectId": {
          "description": "Identifies the cloud project this WorkItem belongs to.",
          "type": "string"
        },
        "jobId": {
          "description": "Identifies the workflow job this WorkItem belongs to.",
          "type": "string"
        },
        "packages": {
          "description": "Any required packages that need to be fetched in order to execute\nthis WorkItem.",
          "type": "array",
          "items": {
            "$ref": "Package"
          }
        },
        "mapTask": {
          "description": "Additional information for MapTask WorkItems.",
          "$ref": "MapTask"
        },
        "seqMapTask": {
          "description": "Additional information for SeqMapTask WorkItems.",
          "$ref": "SeqMapTask"
        },
        "shellTask": {
          "description": "Additional information for ShellTask WorkItems.",
          "$ref": "ShellTask"
        },
        "streamingSetupTask": {
          "description": "Additional information for StreamingSetupTask WorkItems.",
          "$ref": "StreamingSetupTask"
        },
        "sourceOperationTask": {
          "description": "Additional information for source operation WorkItems.",
          "$ref": "SourceOperationRequest"
        },
        "streamingComputationTask": {
          "description": "Additional information for StreamingComputationTask WorkItems.",
          "$ref": "StreamingComputationTask"
        },
        "streamingConfigTask": {
          "description": "Additional information for StreamingConfigTask WorkItems.",
          "$ref": "StreamingConfigTask"
        },
        "reportStatusInterval": {
          "description": "Recommended reporting interval.",
          "type": "string",
          "format": "google-duration"
        },
        "leaseExpireTime": {
          "description": "Time when the lease on this Work will expire.",
          "type": "string",
          "format": "google-datetime"
        },
        "configuration": {
          "description": "Work item-specific configuration as an opaque blob.",
          "type": "string"
        },
        "initialReportIndex": {
          "description": "The initial index to use when reporting the status of the WorkItem.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "MapTask": {
      "id": "MapTask",
      "description": "MapTask consists of an ordered set of instructions, each of which\ndescribes one particular low-level operation for the worker to\nperform in order to accomplish the MapTask's WorkItem.\n\nEach instruction must appear in the list before any instructions which\ndepends on its output.",
      "type": "object",
      "properties": {
        "instructions": {
          "description": "The instructions in the MapTask.",
          "type": "array",
          "items": {
            "$ref": "ParallelInstruction"
          }
        },
        "systemName": {
          "description": "System-defined name of this MapTask.\nUnique across the workflow.",
          "type": "string"
        },
        "stageName": {
          "description": "System-defined name of the stage containing this MapTask.\nUnique across the workflow.",
          "type": "string"
        }
      }
    },
    "ParallelInstruction": {
      "id": "ParallelInstruction",
      "description": "Describes a particular operation comprising a MapTask.",
      "type": "object",
      "properties": {
        "systemName": {
          "description": "System-defined name of this operation.\nUnique across the workflow.",
          "type": "string"
        },
        "name": {
          "description": "User-provided name of this operation.",
          "type": "string"
        },
        "originalName": {
          "description": "System-defined name for the operation in the original workflow graph.",
          "type": "string"
        },
        "read": {
          "description": "Additional information for Read instructions.",
          "$ref": "ReadInstruction"
        },
        "write": {
          "description": "Additional information for Write instructions.",
          "$ref": "WriteInstruction"
        },
        "parDo": {
          "description": "Additional information for ParDo instructions.",
          "$ref": "ParDoInstruction"
        },
        "partialGroupByKey": {
          "description": "Additional information for PartialGroupByKey instructions.",
          "$ref": "PartialGroupByKeyInstruction"
        },
        "flatten": {
          "description": "Additional information for Flatten instructions.",
          "$ref": "FlattenInstruction"
        },
        "outputs": {
          "description": "Describes the outputs of the instruction.",
          "type": "array",
          "items": {
            "$ref": "InstructionOutput"
          }
        }
      }
    },
    "ReadInstruction": {
      "id": "ReadInstruction",
      "description": "An instruction that reads records.\nTakes no inputs, produces one output.",
      "type": "object",
      "properties": {
        "source": {
          "description": "The source to read from.",
          "$ref": "Source"
        }
      }
    },
    "WriteInstruction": {
      "id": "WriteInstruction",
      "description": "An instruction that writes records.\nTakes one input, produces no outputs.",
      "type": "object",
      "properties": {
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        },
        "sink": {
          "description": "The sink to write to.",
          "$ref": "Sink"
        }
      }
    },
    "InstructionInput": {
      "id": "InstructionInput",
      "description": "An input of an instruction, as a reference to an output of a\nproducer instruction.",
      "type": "object",
      "properties": {
        "producerInstructionIndex": {
          "description": "The index (origin zero) of the parallel instruction that produces\nthe output to be consumed by this input.  This index is relative\nto the list of instructions in this input's instruction's\ncontaining MapTask.",
          "type": "integer",
          "format": "int32"
        },
        "outputNum": {
          "description": "The output index (origin zero) within the producer.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Sink": {
      "id": "Sink",
      "description": "A sink that records can be encoded and written to.",
      "type": "object",
      "properties": {
        "spec": {
          "description": "The sink to write to, plus its parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "codec": {
          "description": "The codec to use to encode data written to the sink.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ParDoInstruction": {
      "id": "ParDoInstruction",
      "description": "An instruction that does a ParDo operation.\nTakes one main input and zero or more side inputs, and produces\nzero or more outputs.\nRuns user code.",
      "type": "object",
      "properties": {
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        },
        "sideInputs": {
          "description": "Zero or more side inputs.",
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "userFn": {
          "description": "The user function to invoke.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "numOutputs": {
          "description": "The number of outputs.",
          "type": "integer",
          "format": "int32"
        },
        "multiOutputInfos": {
          "description": "Information about each of the outputs, if user_fn is a  MultiDoFn.",
          "type": "array",
          "items": {
            "$ref": "MultiOutputInfo"
          }
        }
      }
    },
    "SideInputInfo": {
      "id": "SideInputInfo",
      "description": "Information about a side input of a DoFn or an input of a SeqDoFn.",
      "type": "object",
      "properties": {
        "sources": {
          "description": "The source(s) to read element(s) from to get the value of this side input.\nIf more than one source, then the elements are taken from the\nsources, in the specified order if order matters.\nAt least one source is required.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "kind": {
          "description": "How to interpret the source element(s) as a side input value.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tag": {
          "description": "The id of the tag the user code will access this side input by;\nthis should correspond to the tag of some MultiOutputInfo.",
          "type": "string"
        }
      }
    },
    "MultiOutputInfo": {
      "id": "MultiOutputInfo",
      "description": "Information about an output of a multi-output DoFn.",
      "type": "object",
      "properties": {
        "tag": {
          "description": "The id of the tag the user code will emit to this output by; this\nshould correspond to the tag of some SideInputInfo.",
          "type": "string"
        }
      }
    },
    "PartialGroupByKeyInstruction": {
      "id": "PartialGroupByKeyInstruction",
      "description": "An instruction that does a partial group-by-key.\nOne input and one output.",
      "type": "object",
      "properties": {
        "input": {
          "description": "Describes the input to the partial group-by-key instruction.",
          "$ref": "InstructionInput"
        },
        "inputElementCodec": {
          "description": "The codec to use for interpreting an element in the input PTable.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "valueCombiningFn": {
          "description": "The value combining function to invoke.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sideInputs": {
          "description": "Zero or more side inputs.",
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "originalCombineValuesStepName": {
          "description": "If this instruction includes a combining function, this is the name of the\nCombineValues instruction lifted into this instruction.",
          "type": "string"
        },
        "originalCombineValuesInputStoreName": {
          "description": "If this instruction includes a combining function this is the name of the\nintermediate store between the GBK and the CombineValues.",
          "type": "string"
        }
      }
    },
    "FlattenInstruction": {
      "id": "FlattenInstruction",
      "description": "An instruction that copies its inputs (zero or more) to its (single) output.",
      "type": "object",
      "properties": {
        "inputs": {
          "description": "Describes the inputs to the flatten instruction.",
          "type": "array",
          "items": {
            "$ref": "InstructionInput"
          }
        }
      }
    },
    "InstructionOutput": {
      "id": "InstructionOutput",
      "description": "An output of an instruction.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The user-provided name of this output.",
          "type": "string"
        },
        "systemName": {
          "description": "System-defined name of this output.\nUnique across the workflow.",
          "type": "string"
        },
        "originalName": {
          "description": "System-defined name for this output in the original workflow graph.\nOutputs that do not contribute to an original instruction do not set this.",
          "type": "string"
        },
        "codec": {
          "description": "The codec to use to encode data being written via this output.",
          "type": "object",
[...]
