{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "iam:v1beta",
  "name": "iam",
  "canonicalName": "iam",
  "version": "v1beta",
  "revision": "0",
  "title": "Identity and Access Management (IAM) API",
  "description": "Manages identity and access control for Google Cloud Platform resources, including the creation of service accounts, which you can use to authenticate to Google and make API calls.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/iam/",
  "protocol": "rest",
  "rootUrl": "https://iam.googleapis.com/",
  "mtlsRootUrl": "https://iam.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://iam.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleIamV1betaListWorkloadIdentityPoolsResponse": {
      "id": "GoogleIamV1betaListWorkloadIdentityPoolsResponse",
      "description": "Response message for ListWorkloadIdentityPools.",
      "type": "object",
      "properties": {
        "workloadIdentityPools": {
          "description": "The WorkloadIdentityPools from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1betaWorkloadIdentityPool"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1betaWorkloadIdentityPool": {
      "id": "GoogleIamV1betaWorkloadIdentityPool",
      "description": "Represents a collection of workloads. WorkloadIdentityPools can be used in Google Cloud Platform policies, such as in IAM to give workloads authorization to access to Google Cloud Platform.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the pool.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "A user-specified name for the WorkloadIdentityPool. The value must be less than or equal to 32 characters.",
          "type": "string"
        },
        "description": {
          "description": "A user-specified description about this pool. The value must be less than or equal to 256 characters.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the WorkloadIdentityPool. Note: Users should code against state enums with the expectation that new values may be added in the future.",
          "enumDescriptions": [
            "State unspecified.",
            "The WorkloadIdentityPool is active and may be used in Google Cloud Platform policies.",
            "The WorkloadIdentityPool is soft-deleted. Soft-deleted WorkloadIdentityPools are permanently deleted after approximately 30 days unless restored via UndeleteWorkloadIdentityPool. IDs of soft-deleted WorkloadIdentityPools may not be reused until after the resource has been permanently deleted. Previously issued Access tokens for a workload identity pool will be rejected while the pool is deleted but will start working again if the pool is undeleted. Issuance of new tokens will fail while the account is deleted."
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The WorkloadIdentityPool is active and may be used in Google Cloud Platform policies.",
            "The WorkloadIdentityPool is soft-deleted. Soft-deleted WorkloadIdentityPools are permanently deleted after approximately 30 days unless restored via UndeleteWorkloadIdentityPool. IDs of soft-deleted WorkloadIdentityPools may not be reused until after the resource has been permanently deleted. Previously issued Access tokens for a workload identity pool will be rejected while the pool is deleted but will start working again if the pool is undeleted. Issuance of new tokens will fail while the account is deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ]
        },
        "disabled": {
          "description": "Whether the WorkloadIdentityPool is disabled. A disabled WorkloadIdentityPool cannot be used to perform new token exchanges. Previously issued Access tokens for a workload identity pool will be rejected while the pool is disabled but will start working again if the pool is re-enabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleIamV1betaUndeleteWorkloadIdentityPoolRequest": {
      "id": "GoogleIamV1betaUndeleteWorkloadIdentityPoolRequest",
      "description": "Request message for UndeleteWorkloadIdentityPool.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleIamV1betaListWorkloadIdentityPoolProvidersResponse": {
      "id": "GoogleIamV1betaListWorkloadIdentityPoolProvidersResponse",
      "description": "Response message for ListWorkloadIdentityPoolProviders.",
      "type": "object",
      "properties": {
        "workloadIdentityPoolProviders": {
          "description": "The WorkloadIdentityPoolProviders from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1betaWorkloadIdentityPoolProvider"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1betaWorkloadIdentityPoolProvider": {
      "id": "GoogleIamV1betaWorkloadIdentityPoolProvider",
      "description": "Configuration for how Identity Platform will validate authentication credentials minted by an Identity Provider. The total size of a WorkloadIdentityPoolProvider may not exceed 100kb. Requests whose outcome would cause a WorkloadIdentityPoolProvider to exceed this limit will be rejected.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the WorkloadIdentityPoolProvider.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "A user-specified name for the WorkloadIdentityPoolProvider. The value must be less than or equal to 32 characters.",
          "type": "string"
        },
        "description": {
          "description": "A user-specified description for the WorkloadIdentityPoolProvider. The value must be less than or equal to 256 characters.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the WorkloadIdentityPoolProvider. Note: Users should code against state enums with the expectation that new values may be added in the future.",
          "enumDescriptions": [
            "State unspecified.",
            "The WorkloadIdentityPoolProvider is active and may be used to validate authentication credentials.",
            "The WorkloadIdentityPoolProvider is soft-deleted. Soft-deleted WorkloadIdentityPoolProviders are permanently deleted after approximately 30 days unless restored via UndeleteWorkloadIdentityPoolProvider. IDs of soft-deleted WorkloadIdentityPoolProviders may not be reused until after the resource has been permanently deleted."
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The WorkloadIdentityPoolProvider is active and may be used to validate authentication credentials.",
            "The WorkloadIdentityPoolProvider is soft-deleted. Soft-deleted WorkloadIdentityPoolProviders are permanently deleted after approximately 30 days unless restored via UndeleteWorkloadIdentityPoolProvider. IDs of soft-deleted WorkloadIdentityPoolProviders may not be reused until after the resource has been permanently deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ]
        },
        "disabled": {
          "description": "Whether the WorkloadIdentityPoolProvider is disabled. A disabled WorkloadIdentityPoolProvider cannot be used to perform new token exchanges. Existing Google Cloud Platform authentication tokens are unaffected when a WorkloadIdentityPoolProvider is disabled.",
          "type": "boolean"
        },
        "attributeMapping": {
          "description": "Maps claims from the authentication credentials issued by the Provider into Google Cloud Platform IAM attributes, e.g. subject, segment. Each key must be a string specifying the Google Cloud Platform IAM attribute to be produced. The following predefined keys are currently supported: * google.subject - indicates the principal that is being authenticated to IAM, and will be logged in all API accesses for which Cloud Audit Logging is configured. The mapped subject may be at most 100 characters. * google.groups - indicates asserted groups that the workload should be considered to belong to. You can create IAM bindings using the group attribute and access to a resource will be granted if any of the groups asserted here match a group in the respective binding. Custom attributes can also be mapped by specifying 'attribute.{custom_attribute}', replacing {custom_attribute} with the name of the custom attribute to be mapped. A maximum of 50 custom attribute mappings can be defined. The maximum length of a mapped attribute key is 100 characters and may only contain the characters [a-z0-9-]. These attributes can then be referenced in IAM policies to define fine-grained access for the workload to GCP resources by specifying: * google.subject - 'principal:\/\/iam.googleapis.com\/projects\/{project}\/locations\/{location}\/workloadIdentityPools\/{pool}\/subject\/{value}' * google.groups - 'principalSet:\/\/iam.googleapis.com\/projects\/{project}\/locations\/{location}\/workloadIdentityPools\/{pool}\/group\/{value}' * attribute.{custom_attribute} - 'principalSet:\/\/iam.googleapis.com\/projects\/{project}\/locations\/{location}\/workloadIdentityPools\/{pool}\/attribute.{custom_attribute}\/{value}' Each value must be a Common Expression Language (https:\/\/opensource.google\/projects\/cel) function that maps an Identity Provider token to the normalized attribute specified by the corresponding map key. The following keywords may be referenced in the expressions: * assertion - JSON representing the authentication credential issued by the Provider. The maximum length of an attribute mapping expression is 2048 characters. When evaluated, the total size of all mapped attributes must not exceed 8kb. For AWS-type providers the following rules apply: - If no attribute mapping is defined for an AWS-type provider, the following default mapping will be applied during the exchange: { \"google.subject\":\"assertion.arn\", \"attribute.aws_role\": \u201Cassertion.arn.contains('assumed-role')\u201D \u201C ? assertion.arn.extract('{account_arn}assumed-role\/')\u201D \u201C + 'assumed-role\/'\u201D \u201C + assertion.arn.extract('assumed-role\/{role_name}\/')\u201D \u201C : assertion.arn\u201D, } - If any custom attribute mappings are defined they must include a mapping to the `google.subject` attribute. For OIDC-type providers the following rules apply: - Custom attribute mappings must be defined and must include a mapping to the `google.subject` attribute. Example: Map the 'sub' claim of the incoming credential to the 'subject' Google Cloud Platform IAM attribute. {\"google.subject\": \"assertion.sub\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "attributeCondition": {
          "description": "A Common Expression Language (https:\/\/opensource.google\/projects\/cel) expression in plain text to restrict which otherwise valid authentication credentials issued by the provider should not be accepted. The expression must output a boolean representing whether to allow the federation. The following keywords may be referenced in the expressions: assertion - JSON representing the authentication credential issued by the Provider. google - the Google attributes mapped from the assertion in the attrubute_mappings. attribute - the custom attributes mapped from the assertion in the attribute_mappings. The maximum length of the attribute condition expression is 4096 characters. If unspecified, all valid authentication credential will be accepted. Example: Only allow credentials with a mapped google.groups value of 'admins'. \"'admins' in google.groups\"",
          "type": "string"
        },
        "aws": {
          "description": "An Amazon Web Services identity provider.",
          "$ref": "GoogleIamV1betaWorkloadIdentityPoolProviderAws"
        },
        "oidc": {
          "description": "An OpenId Connect 1.0 identity provider.",
          "$ref": "GoogleIamV1betaWorkloadIdentityPoolProviderOidc"
        }
      }
    },
    "GoogleIamV1betaWorkloadIdentityPoolProviderAws": {
      "id": "GoogleIamV1betaWorkloadIdentityPoolProviderAws",
      "description": "Represents an Amazon Web Services identity provider.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Required. The AWS account ID.",
          "type": "string"
        },
        "stsUri": {
          "description": "A list of AWS STS URIs to limit the allowed STS hostname in the AWS signed requests used for authentication. If it is not provided, any valid AWS STS URI given the AWS signed request during the credential exchange is allowed. Each URI must be in the form \u2018https:\/\/sts.amazonaws.com\u2019 or 'https:\/\/sts.{region}.amazonaws.com' where {region} is a valid AWS region. A maximum of 25 URIs may be specified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1betaWorkloadIdentityPoolProviderOidc": {
      "id": "GoogleIamV1betaWorkloadIdentityPoolProviderOidc",
      "description": "Represents an OpenId Connect 1.0 identity provider.",
      "type": "object",
      "properties": {
        "issuerUri": {
          "description": "Required. The OIDC issuer URL.",
          "type": "string"
        },
        "allowedAudiences": {
          "description": "Acceptable values for the \"aud\" field (audience) in the OIDC token. Token exchange requests be rejected if the token audience does not match one of the configured values. Each audience may be at most 256 characters. A maximum of 10 audiences may be configured. If this list is empty, the OIDC token audience must be equal to the full canonical resource name of the WorkloadIdentityPoolProvider, with or without an HTTPS prefix: '\/\/iam.googleapis.com\/projects\/\/locations\/\/workloadIdentityPools\/\/providers\/' 'https:\/\/iam.googleapis.com\/projects\/\/locations\/\/workloadIdentityPools\/\/providers\/'",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1betaUndeleteWorkloadIdentityPoolProviderRequest": {
      "id": "GoogleIamV1betaUndeleteWorkloadIdentityPoolProviderRequest",
      "description": "Request message for UndeleteWorkloadIdentityPoolProvider.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleIamAdminV1AuditData": {
      "id": "GoogleIamAdminV1AuditData",
      "description": "Audit log information specific to Cloud IAM admin APIs. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message.",
      "type": "object",
      "properties": {
        "permissionDelta": {
          "description": "The permission_delta when when creating or updating a Role.",
          "$ref": "GoogleIamAdminV1AuditDataPermissionDelta"
        }
      }
    },
    "GoogleIamAdminV1AuditDataPermissionDelta": {
      "id": "GoogleIamAdminV1AuditDataPermissionDelta",
      "description": "A PermissionDelta message to record the added_permissions and removed_permissions inside a role.",
      "type": "object",
      "properties": {
        "addedPermissions": {
          "description": "Added permissions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removedPermissions": {
          "description": "Removed permissions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1LoggingAuditData": {
      "id": "GoogleIamV1LoggingAuditData",
      "description": "Audit log information specific to Cloud IAM. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message.",
      "type": "object",
      "properties": {
        "policyDelta": {
          "description": "Policy delta between the original policy and the newly set policy.",
          "$ref": "GoogleIamV1PolicyDelta"
        }
      }
    },
    "GoogleIamV1PolicyDelta": {
      "id": "GoogleIamV1PolicyDelta",
      "description": "The difference delta between two policies.",
      "type": "object",
      "properties": {
        "bindingDeltas": {
          "description": "The delta for Bindings between two policies.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1BindingDelta"
          }
        }
      }
    },
    "GoogleIamV1BindingDelta": {
      "id": "GoogleIamV1BindingDelta",
      "description": "One delta entry for Binding. Each individual change (only one member in each entry) to a binding will be a separate entry.",
      "type": "object",
      "properties": {
        "action": {
          "description": "The action that was performed on a Binding. Required",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "role": {
          "description": "Role that is assigned to `members`. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`. Required",
          "type": "string"
        },
        "member": {
          "description": "A single identity requesting access for a Cloud Platform resource. Follows the same format of Binding.members. Required",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding.",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workloadIdentityPools": {
              "methods": {
                "list": {
                  "id": "iam.projects.locations.workloadIdentityPools.list",
                  "path": "v1beta/{+parent}/workloadIdentityPools",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource, which owns this collection of WorkloadIdentityPools.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of WorkloadIdentityPools to return. If unspecified, at most 50 pools will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListWorkloadIdentityPools` call. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "showDeleted": {
                      "description": "Whether to return soft-deleted resources.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleIamV1betaListWorkloadIdentityPoolsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all non-deleted WorkloadIdentityPools in a project. If show_deleted = true, then deleted pools are also listed."
                },
                "get": {
                  "id": "iam.projects.locations.workloadIdentityPools.get",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the WorkloadIdentityPool to retrieve.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleIamV1betaWorkloadIdentityPool"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Reads an individual WorkloadIdentityPool."
                },
                "create": {
                  "id": "iam.projects.locations.workloadIdentityPools.create",
                  "path": "v1beta/{+parent}/workloadIdentityPools",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this pool will be created. Supported locations are: \"global\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "workloadIdentityPoolId": {
                      "description": "Required. The ID to use for the WorkloadIdentityPool, which will become the final component of the resource name. This value should be 4-32 characters and may contain the characters [a-z0-9-]. IDs with the prefix 'gcp-' are reserved for use by Google and may not be specified.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleIamV1betaWorkloadIdentityPool"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new WorkloadIdentityPool. The name of deleted pool cannot be reused if it was deleted less than 30 days ago."
                },
                "patch": {
                  "id": "iam.projects.locations.workloadIdentityPools.patch",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Output only. The resource name of the pool.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. The list of fields whose values are to be replaced.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleIamV1betaWorkloadIdentityPool"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing WorkloadIdentityPool."
                },
                "delete": {
                  "id": "iam.projects.locations.workloadIdentityPools.delete",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the WorkloadIdentityPool to delete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a WorkloadIdentityPool. A deleted WorkloadIdentityPool cannot be used for exchange of third party credentials for Google Cloud Platform credentials. However, deleting does not revoke credentials that have already been issued. This is a soft delete and can be undeleted for 30 days. After 30 days, the delete is permanent. Deleted items cannot be updated. However they can be viewed and listed. Credentials that were issued for a pool will not work while the pool is deleted. Once the pool is undeleted the credentials will work again if they have not expired."
                },
                "undelete": {
                  "id": "iam.projects.locations.workloadIdentityPools.undelete",
                  "path": "v1beta/{+name}:undelete",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:undelete",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the WorkloadIdentityPool to undelete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleIamV1betaUndeleteWorkloadIdentityPoolRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Undeletes a WorkloadIdentityPool as long as it was deleted less than 30 days ago."
                }
              }
              ,
              "resources": {
                "operations": {
                  "methods": {
                    "list": {
                      "id": "iam.projects.locations.workloadIdentityPools.operations.list",
                      "path": "v1beta/{+name}/operations",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/operations",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+$",
                          "type": "string"
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users\/*\/operations`. To override the binding, API services can add a binding such as `\"\/v1\/{name=users\/*}\/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                    },
                    "get": {
                      "id": "iam.projects.locations.workloadIdentityPools.operations.get",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/operations/{operationsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/operations\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                    },
                    "delete": {
                      "id": "iam.projects.locations.workloadIdentityPools.operations.delete",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/operations/{operationsId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to be deleted.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/operations\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                    },
                    "cancel": {
                      "id": "iam.projects.locations.workloadIdentityPools.operations.cancel",
                      "path": "v1beta/{+name}:cancel",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/operations/{operationsId}:cancel",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to be cancelled.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/operations\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleLongrunningCancelOperationRequest"
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                    }
                  }
                },
                "providers": {
                  "methods": {
                    "list": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.list",
                      "path": "v1beta/{+parent}/providers",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource, which owns this collection of WorkloadIdentityPoolProviders.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of WorkloadIdentityPoolProviders to return. If unspecified, at most 50 WorkloadIdentityPoolProviders will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListWorkloadIdentityPoolProviders` call. Provide this to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "showDeleted": {
                          "description": "Whether to return soft-deleted resources.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleIamV1betaListWorkloadIdentityPoolProvidersResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all non-deleted WorkloadIdentityPoolProviders in a WorkloadIdentityPool. If show_deleted = true, then deleted providers are also listed."
                    },
                    "get": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.get",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the WorkloadIdentityPoolProvider to retrieve.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/providers\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleIamV1betaWorkloadIdentityPoolProvider"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Reads an individual WorkloadIdentityPoolProvider."
                    },
                    "create": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.create",
                      "path": "v1beta/{+parent}/providers",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource where this WorkloadIdentityPoolProvider will be created.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+$",
                          "type": "string"
                        },
                        "workloadIdentityPoolProviderId": {
                          "description": "Required. The ID to use for the WorkloadIdentityPoolProvider, which will become the final component of the resource name. This value should be 4-32 characters and may contain the characters [a-z0-9-]. IDs with the prefix 'gcp-' are reserved for use by Google and may not be specified.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleIamV1betaWorkloadIdentityPoolProvider"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new WorkloadIdentityPoolProvider in a WorkloadIdentityPool. The name of deleted provider cannot be reused if it was deleted less than 30 days ago."
                    },
                    "patch": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.patch",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "description": "Output only. The resource name of the WorkloadIdentityPoolProvider.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/providers\/[^\/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Required. The list of fields whose values are to be replaced.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleIamV1betaWorkloadIdentityPoolProvider"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates an existing WorkloadIdentityPoolProvider."
                    },
                    "delete": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.delete",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the WorkloadIdentityPoolProvider to delete.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/providers\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a WorkloadIdentityPoolProvider. A deleted provider cannot be used for exchange of third party credentials for Google Cloud Platform credentials. However, deleting does not revoke credentials that have already been issued. This is a soft delete and can be undeleted for 30 days. After 30 days, the delete is permanent. Deleted items cannot be updated. However they can be viewed and listed."
                    },
                    "undelete": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.undelete",
                      "path": "v1beta/{+name}:undelete",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}:undelete",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the WorkloadIdentityPoolProvider to undelete.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/providers\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleIamV1betaUndeleteWorkloadIdentityPoolProviderRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Undeletes a WorkloadIdentityPoolProvider as long as it was deleted less than 30 days ago."
                    }
                  }
                  ,
                  "resources": {
                    "operations": {
                      "methods": {
                        "list": {
                          "id": "iam.projects.locations.workloadIdentityPools.providers.operations.list",
                          "path": "v1beta/{+name}/operations",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/operations",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "The name of the operation's parent resource.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/providers\/[^\/]+$",
                              "type": "string"
                            },
                            "filter": {
                              "description": "The standard list filter.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "The standard list page size.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "The standard list page token.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users\/*\/operations`. To override the binding, API services can add a binding such as `\"\/v1\/{name=users\/*}\/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                        },
                        "get": {
                          "id": "iam.projects.locations.workloadIdentityPools.providers.operations.get",
                          "path": "v1beta/{+name}",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/operations/{operationsId}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "The name of the operation resource.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/providers\/[^\/]+\/operations\/[^\/]+$",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                        },
                        "delete": {
                          "id": "iam.projects.locations.workloadIdentityPools.providers.operations.delete",
                          "path": "v1beta/{+name}",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/operations/{operationsId}",
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "description": "The name of the operation resource to be deleted.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/providers\/[^\/]+\/operations\/[^\/]+$",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                        },
                        "cancel": {
                          "id": "iam.projects.locations.workloadIdentityPools.providers.operations.cancel",
                          "path": "v1beta/{+name}:cancel",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/operations/{operationsId}:cancel",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "description": "The name of the operation resource to be cancelled.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/providers\/[^\/]+\/operations\/[^\/]+$",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleLongrunningCancelOperationRequest"
                          },
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": ""
}