{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "iamassist:v1alpha2",
  "name": "iamassist",
  "canonicalName": "Iamassist",
  "version": "v1alpha2",
  "revision": "0",
  "title": "IAM Assist API",
  "description": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/iam/",
  "protocol": "rest",
  "rootUrl": "https://iamassist.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://iamassist.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleIamAssistV1alpha2ExplainAccessRequest": {
      "id": "GoogleIamAssistV1alpha2ExplainAccessRequest",
      "description": "ExplainAccessRequest is used in ExplainAccess",
      "type": "object",
      "properties": {
        "principal": {
          "description": "REQUIRED: The principal on behalf of who the access is explained for.\nThe format is the one of the principal's email addresses associated with\nits gaia account. It must be an account that can appear as an actor.\nFor example groups are not supported. Currently, service accounts\nare partially supported.",
          "type": "string"
        },
        "fullResourceName": {
          "description": "REQUIRED: A full resource name according to http:\/\/go\/resource-names.\nThis is the full resource name of the resource that access\nis checked against.",
          "type": "string"
        },
        "permission": {
          "description": "REQUIRED: The Cloud IAM permission under which defines the kind of access\nbeing explained. Example: \"resourcemanager.projects.get\" would explain\nif and why the principal has the resourcemanager.projects.get permission\non the resource specified in full_resource_name declared in this structure.\nSee https:\/\/cloud.google.com\/iam\/docs\/testing-permissions",
          "type": "string"
        },
        "conditionContext": {
          "description": "OPTIONAL: The Cloud IAM condition context under which defines the kind of\naccess being explained. ExplainAccess would explain if and why the\nprincipal has the queried permission on the resource specified in\nfull_resource_name under this context",
          "$ref": "GoogleRpcContextAttributeContext"
        }
      }
    },
    "GoogleRpcContextAttributeContext": {
      "id": "GoogleRpcContextAttributeContext",
      "description": "This message defines the standard attribute vocabulary for Google APIs.\n\nAn attribute is a piece of metadata that describes an activity on a network\nservice. For example, the size of an HTTP request, or the status code of\nan HTTP response.\n\nEach attribute has a type and a name, which is logically defined as\na proto message field in `AttributeContext`. The field type becomes the\nattribute type, and the field path becomes the attribute name. For example,\nthe attribute `source.ip` maps to field `AttributeContext.source.ip`.\n\nThis message definition is guaranteed not to have any wire breaking change.\nSo you can use it directly for passing attributes across different systems.\n\nNOTE: Different system may generate different subset of attributes. Please\nverify the system specification before relying on an attribute generated\na system.",
      "type": "object",
      "properties": {
        "origin": {
          "description": "The origin of a network activity. In a multi hop network activity,\nthe origin represents the sender of the first hop. For the first hop,\nthe `source` and the `origin` must have the same content.",
          "$ref": "GoogleRpcContextAttributeContextPeer"
        },
        "source": {
          "description": "The source of a network activity, such as starting a TCP connection.\nIn a multi hop network activity, the source represents the sender of the\nlast hop.",
          "$ref": "GoogleRpcContextAttributeContextPeer"
        },
        "destination": {
          "description": "The destination of a network activity, such as accepting a TCP connection.\nIn a multi hop network activity, the destination represents the receiver of\nthe last hop.",
          "$ref": "GoogleRpcContextAttributeContextPeer"
        },
        "request": {
          "description": "Represents a network request, such as an HTTP request.",
          "$ref": "GoogleRpcContextAttributeContextRequest"
        },
        "response": {
          "description": "Represents a network response, such as an HTTP response.",
          "$ref": "GoogleRpcContextAttributeContextResponse"
        },
        "resource": {
          "description": "Represents a target resource that is involved with a network activity.\nIf multiple resources are involved with an activity, this must be the\nprimary one.",
          "$ref": "GoogleRpcContextAttributeContextResource"
        },
        "api": {
          "description": "Represents an API operation that is involved to a network activity.",
          "$ref": "GoogleRpcContextAttributeContextApi"
        }
      }
    },
    "GoogleRpcContextAttributeContextPeer": {
      "id": "GoogleRpcContextAttributeContextPeer",
      "description": "This message defines attributes for a node that handles a network request.\nThe node can be either a service or an application that sends, forwards,\nor receives the request. Service peers should fill in\n`principal` and `labels` as appropriate.",
      "type": "object",
      "properties": {
        "ip": {
          "description": "The IP address of the peer.",
          "type": "string"
        },
        "port": {
          "description": "The network port of the peer.",
          "type": "string",
          "format": "int64"
        },
        "labels": {
          "description": "The labels associated with the peer.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "principal": {
          "description": "The identity of this peer. Similar to `Request.auth.principal`, but\nrelative to the peer instead of the request. For example, the\nidenity associated with a load balancer that forwared the request.",
          "type": "string"
        },
        "regionCode": {
          "description": "The CLDR country\/region code associated with the above IP address.\nIf the IP address is private, the `region_code` should reflect the\nphysical location where this peer is running.",
          "type": "string"
        }
      }
    },
    "GoogleRpcContextAttributeContextRequest": {
      "id": "GoogleRpcContextAttributeContextRequest",
      "description": "This message defines attributes for an HTTP request. If the actual\nrequest is not an HTTP request, the runtime system should try to map\nthe actual request to an equivalent HTTP request.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID for a request, which can be propagated to downstream\nsystems. The ID should have low probability of collision\nwithin a single day for a specific service.",
          "type": "string"
        },
        "method": {
          "description": "The HTTP request method, such as `GET`, `POST`.",
          "type": "string"
        },
        "headers": {
          "description": "The HTTP request headers. If multiple headers share the same key, they\nmust be merged according to the HTTP spec. All header keys must be\nlowercased, because HTTP header keys are case-insensitive.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "path": {
          "description": "The HTTP URL path.",
          "type": "string"
        },
        "host": {
          "description": "The HTTP request `Host` header value.",
          "type": "string"
        },
        "scheme": {
          "description": "The HTTP URL scheme, such as `http` and `https`.",
          "type": "string"
        },
        "query": {
          "description": "The HTTP URL query in the format of `name1=value`&name2=value2`, as it\nappears in the first line of the HTTP request. No decoding is performed.",
          "type": "string"
        },
        "time": {
          "description": "The timestamp when the `destination` service receives the first byte of\nthe request.",
          "type": "string",
          "format": "google-datetime"
        },
        "size": {
          "description": "The HTTP request size in bytes. If unknown, it must be -1.",
          "type": "string",
          "format": "int64"
        },
        "protocol": {
          "description": "The network protocol used with the request, such as \"http\/1.1\",\n\"spdy\/3\", \"h2\", \"h2c\", \"webrtc\", \"tcp\", \"udp\", \"quic\". See\nhttps:\/\/www.iana.org\/assignments\/tls-extensiontype-values\/tls-extensiontype-values.xhtml#alpn-protocol-ids\nfor details.",
          "type": "string"
        },
        "reason": {
          "description": "A special parameter for request reason. It is used by security systems\nto associate auditing information with a request.",
          "type": "string"
        },
        "auth": {
          "description": "The request authentication. May be absent for unauthenticated requests.\nDerived from the HTTP request `Authorization` header or equivalent.",
          "$ref": "GoogleRpcContextAttributeContextAuth"
        }
      }
    },
    "GoogleRpcContextAttributeContextAuth": {
      "id": "GoogleRpcContextAttributeContextAuth",
      "description": "This message defines request authentication attributes. Terminology is\nbased on the JSON Web Token (JWT) standard, but the terms also\ncorrelate to concepts in other standards.",
      "type": "object",
      "properties": {
        "principal": {
          "description": "The authenticated principal. Reflects the issuer (`iss`) and subject\n(`sub`) claims within a JWT. The issuer and subject should be `\/`\ndelimited, with `\/` percent-encoded within the subject fragment. For\nGoogle accounts, the principal format is:\n\"https:\/\/accounts.google.com\/{id}\"",
          "type": "string"
        },
        "audiences": {
          "description": "The intended audience(s) for this authentication information. Reflects\nthe audience (`aud`) claim within a JWT. The audience\nvalue(s) depends on the `issuer`, but typically include one or more of\nthe following pieces of information:\n\n*  The services intended to receive the credential such as\n   [\"pubsub.googleapis.com\", \"storage.googleapis.com\"]\n*  A set of service-based scopes. For example,\n   [\"https:\/\/www.googleapis.com\/auth\/cloud-platform\"]\n*  The client id of an app, such as the Firebase project id for JWTs\n   from Firebase Auth.\n\nConsult the documentation for the credential issuer to determine the\ninformation provided.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "presenter": {
          "description": "The authorized presenter of the credential. Reflects the optional\nAuthorized Presenter (`azp`) claim within a JWT or the\nOAuth client id. For example, a Google Cloud Platform client id looks\nas follows: \"123456789012.apps.googleusercontent.com\".",
          "type": "string"
        },
        "claims": {
          "description": "Structured claims presented with the credential. JWTs include\n`{key: value}` pairs for standard and private claims. The following\nis a subset of the standard required and optional claims that would\ntypically be presented for a Google-based JWT:\n\n   {'iss': 'accounts.google.com',\n    'sub': '113289723416554971153',\n    'aud': ['123456789012', 'pubsub.googleapis.com'],\n    'azp': '123456789012.apps.googleusercontent.com',\n    'email': 'jsmith@example.com',\n    'iat': 1353601026,\n    'exp': 1353604926}\n\nSAML assertions are similarly specified, but with an identity provider\ndependent structure.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "accessLevels": {
          "description": "A list of access level resource names that allow resources to be\naccessed by authenticated requester. It is part of Secure GCP processing\nfor the incoming request. An access level string has the format:\n\"\/\/{api_service_name}\/accessPolicies\/{policy_id}\/accessLevels\/{short_name}\"\n\nExample:\n\"\/\/accesscontextmanager.googleapis.com\/accessPolicies\/MY_POLICY_ID\/accessLevels\/MY_LEVEL\"",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleRpcContextAttributeContextResponse": {
      "id": "GoogleRpcContextAttributeContextResponse",
      "description": "This message defines attributes for a typical network response. It\ngenerally models semantics of an HTTP response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The HTTP response status code, such as `200` and `404`.",
          "type": "string",
          "format": "int64"
        },
        "size": {
          "description": "The HTTP response size in bytes. If unknown, it must be -1.",
          "type": "string",
          "format": "int64"
        },
        "headers": {
          "description": "The HTTP response headers. If multiple headers share the same key, they\nmust be merged according to HTTP spec. All header keys must be\nlowercased, because HTTP header keys are case-insensitive.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "time": {
          "description": "The timestamp when the `destination` service generates the first byte of\nthe response.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleRpcContextAttributeContextResource": {
      "id": "GoogleRpcContextAttributeContextResource",
      "description": "This message defines core attributes for a resource. A resource is an\naddressable (named) entity provided by the destination service. For\nexample, a file stored on a network storage service.",
      "type": "object",
      "properties": {
        "service": {
          "description": "The name of the service that this resource belongs to, such as\n`pubsub.googleapis.com`. The service may be different from the DNS\nhostname that actually serves the request.",
          "type": "string"
        },
        "name": {
          "description": "The stable identifier (name) of a resource on the `service`. A resource\ncan be logically identified as \"\/\/{resource.service}\/{resource.name}\".\nThe differences between a resource name and a URI are:\n\n*   Resource name is a logical identifier, independent of network\n    protocol and API version. For example,\n    `\/\/pubsub.googleapis.com\/projects\/123\/topics\/news-feed`.\n*   URI often includes protocol and version information, so it can\n    be used directly by applications. For example,\n    `https:\/\/pubsub.googleapis.com\/v1\/projects\/123\/topics\/news-feed`.\n\nSee https:\/\/cloud.google.com\/apis\/design\/resource_names for details.",
          "type": "string"
        },
        "type": {
          "description": "The type of the resource. The scheme is platform-specific because\ndifferent platforms define their resources differently.",
          "type": "string"
        },
        "labels": {
          "description": "The labels or tags on the resource, such as AWS resource tags and\nKubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleRpcContextAttributeContextApi": {
      "id": "GoogleRpcContextAttributeContextApi",
      "description": "This message defines attributes associated with API operations, such as\na network API request. The terminology is based on the conventions used\nby Google APIs, Istio, and OpenAPI.",
      "type": "object",
      "properties": {
        "service": {
          "description": "The API service name. It is a logical identifier for a networked API,\nsuch as \"pubsub.googleapis.com\". The naming syntax depends on the\nAPI management system being used for handling the request.",
          "type": "string"
        },
        "operation": {
          "description": "The API operation name. For gRPC requests, it is the fully qualified API\nmethod name, such as \"google.pubsub.v1.Publisher.Publish\". For OpenAPI\nrequests, it is the `operationId`, such as \"getPet\".",
          "type": "string"
        },
        "protocol": {
          "description": "The API protocol used for sending the request, such as \"http\", \"https\",\n\"grpc\", or \"internal\".",
          "type": "string"
        },
        "version": {
          "description": "The API version associated with the API operation above, such as \"v1\" or\n\"v1alpha1\".",
          "type": "string"
        }
      }
    },
    "GoogleIamAssistV1alpha2ExplainAccessResponse": {
      "id": "GoogleIamAssistV1alpha2ExplainAccessResponse",
      "description": "ExplainAccessResponse is used in ExplainAccess.",
      "type": "object",
      "properties": {
        "access": {
          "description": "Reflects whether the probed access was granted, denied\nor ultimately could not be decided from the caller's point of view.",
          "enumDescriptions": [
            "Reserved",
            "The access is granted due to one or multiple bindings found.",
            "The access is not granted by the policy.",
            "At least one binding was found but it is conditional. undecided,\nundetermined ,uncertain, open, tentative, contingent",
            "Indicating that lack of access to the underlying information\ncauses the result to be undetermined.\nThis can be due to\n\n1) The caller has no access to the policy. In this case ExplainedPolicy\n   will have not policy set.\n\n2) The caller has no access to some of the items referenced in the policy.\n   In this case the policy in ExplainedPolicy will be set but the\n   explanations field will contain at least one inconclusive element."
          ],
          "type": "string",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        },
        "explainedPolicies": {
          "description": "List of explained policies.\nEach explanation corresponds to one policy along the ancestry path.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamAssistV1alpha2ExplainedPolicy"
          }
        }
      }
    },
    "GoogleIamAssistV1alpha2ExplainedPolicy": {
      "id": "GoogleIamAssistV1alpha2ExplainedPolicy",
      "description": "An explained IAM policy combines the raw policy in the context\nof the resource which it is attached to along with detailed\nevaluation on the evaluation parameters provided through the request.",
      "type": "object",
      "properties": {
        "access": {
          "description": "Access decision for this section of the resource's effective policy.",
          "enumDescriptions": [
            "Reserved",
            "The access is granted due to one or multiple bindings found.",
            "The access is not granted by the policy.",
            "At least one binding was found but it is conditional. undecided,\nundetermined ,uncertain, open, tentative, contingent",
            "Indicating that lack of access to the underlying information\ncauses the result to be undetermined.\nThis can be due to\n\n1) The caller has no access to the policy. In this case ExplainedPolicy\n   will have not policy set.\n\n2) The caller has no access to some of the items referenced in the policy.\n   In this case the policy in ExplainedPolicy will be set but the\n   explanations field will contain at least one inconclusive element."
          ],
          "type": "string",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        },
        "fullResourceName": {
          "description": "Resource that this section of the effective policy attaches to.",
          "type": "string"
        },
        "policy": {
          "description": "The IAM policy attached to the resource.",
          "$ref": "GoogleIamV1Policy"
        },
        "bindingExplanations": {
          "description": "Detailed binding evaluation explanations provide information\nabout how each binding contributes to the principal's\naccess or the lack thereof.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamAssistV1alpha2BindingExplanation"
          }
        }
      }
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "Defines an Identity and Access Management (IAM) policy. It is used to\nspecify access control policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`. A `binding` binds a list of\n`members` to a `role`, where the members can be user accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named list of permissions\ndefined by IAM.\n\n**JSON Example**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles\/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-other-app@appspot.gserviceaccount.com\"\n          ]\n        },\n        {\n          \"role\": \"roles\/viewer\",\n          \"members\": [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\n**YAML Example**\n\n    bindings:\n    - members:\n      - user:mike@example.com\n      - group:admins@example.com\n      - domain:google.com\n      - serviceAccount:my-other-app@appspot.gserviceaccount.com\n      role: roles\/owner\n    - members:\n      - user:sean@example.com\n      role: roles\/viewer\n\n\nFor a description of IAM and its features, see the\n[IAM developer's guide](https:\/\/cloud.google.com\/iam\/docs).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Deprecated.",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`.\n`bindings` with no members will result in an error.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the existing\npolicy is overwritten.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@example.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding.\nNOTE: An unsatisfied condition will not allow user access via current\nbinding. Different bindings, including their conditions, are examined\nindependently.",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents an expression text. Example:\n\n    title: \"User account presence\"\n    description: \"Determines whether the request has a user account\"\n    expression: \"size(request.user) > 0\"",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in\nCommon Expression Language syntax.\n\nThe application context of the containing message determines which\nwell-known feature set of CEL is supported.",
          "type": "string"
        },
        "title": {
          "description": "An optional title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
          "type": "string"
        },
        "description": {
          "description": "An optional description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "An optional string indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service.\nThe configuration determines which permission types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service,\nthe union of the two AuditConfigs is used for that service: the log_types\nspecified in each AuditConfig are enabled, and the exempted_members in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n    {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n              \"exempted_members\": [\n                \"user:jose@example.com\"\n              ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n            },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n          ]\n        },\n        {\n          \"service\": \"sampleservice.googleapis.com\"\n          \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\": [\n                \"user:aliya@example.com\"\n              ]\n            }\n          ]\n        }\n      ]\n    }\n\nFor sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ\nlogging. It also exempts jose@example.com from DATA_READ logging, and\naliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`, `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:jose@example.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\njose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ignoreChildExemptions": {
          "description": "Specifies whether principals can be exempted for the same LogType in\nlower-level resource policies. If true, any lower-level exemptions will\nbe ignored.",
          "type": "boolean"
        }
      }
    },
    "GoogleIamAssistV1alpha2BindingExplanation": {
      "id": "GoogleIamAssistV1alpha2BindingExplanation",
      "description": "Binding Explanation.",
      "type": "object",
      "properties": {
        "access": {
          "description": "REQUIRED: Access decision for this binding.",
          "enumDescriptions": [
            "Reserved",
            "The access is granted due to one or multiple bindings found.",
            "The access is not granted by the policy.",
            "At least one binding was found but it is conditional. undecided,\nundetermined ,uncertain, open, tentative, contingent",
            "Indicating that lack of access to the underlying information\ncauses the result to be undetermined.\nThis can be due to\n\n1) The caller has no access to the policy. In this case ExplainedPolicy\n   will have not policy set.\n\n2) The caller has no access to some of the items referenced in the policy.\n   In this case the policy in ExplainedPolicy will be set but the\n   explanations field will contain at least one inconclusive element."
          ],
          "type": "string",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        },
        "conditionExplanation": {
          "description": "Condition evaluation state for this binding.",
          "$ref": "GoogleIamAssistV1alpha2ConditionExplanation"
        },
        "role": {
          "description": "The role that this binding grants in the policy.",
          "type": "string"
        },
        "condition": {
          "description": "The condition which needs to be satisfied in order for this\nbinding to grant the role to the principal.",
          "$ref": "GoogleTypeExpr"
        },
        "rolePermission": {
          "description": "Whether the role of this binding contains the checked permission",
          "enumDescriptions": [
            "Reserved",
            "Permission is included in the role.",
            "Permission is included in the role.",
            "Calling principal has no access to the role permission relation."
          ],
          "type": "string",
          "enum": [
            "ROLE_PERMISSION_UNSPECIFIED",
            "ROLE_PERMISSION_INCLUDED",
            "ROLE_PERMISSION_NOT_INCLUDED",
            "ROLE_PERMISSION_UNKNOWN_INFO_DENIED"
          ]
        },
        "memberships": {
          "description": "For each member in the binding, provides information\nwhether or not the principal from the request is included\nin the member by which the CheckResult is keyed.\nMay indicate that the caller has no access to this information.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "enum": [
              "MEMBERSHIP_UNSPECIFIED",
              "MEMBERSHIP_INCLUDED",
              "MEMBERSHIP_NOT_INCLUDED",
              "MEMBERSHIP_UNKNOWN_INFO_DENIED",
              "MEMBERSHIP_UNKNOWN_UNSUPPORTED"
            ]
          }
        }
      }
    },
    "GoogleIamAssistV1alpha2ConditionExplanation": {
      "id": "GoogleIamAssistV1alpha2ConditionExplanation",
      "description": "Condition Explanation",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the condition",
          "$ref": "GoogleIamAssistV1alpha2ConditionExplanationValue"
        },
        "evaluationStates": {
          "description": "List of evaluated states of non boolean expression in the condition",
          "type": "array",
          "items": {
            "$ref": "GoogleIamAssistV1alpha2ConditionExplanationEvaluationState"
          }
        }
      }
    },
    "GoogleIamAssistV1alpha2ConditionExplanationValue": {
      "id": "GoogleIamAssistV1alpha2ConditionExplanationValue",
      "description": "Represents a condition expression value.",
      "type": "object",
      "properties": {
        "nullValue": {
          "description": "Null value.",
          "enumDescriptions": [
            "Null value."
          ],
          "type": "string",
          "enum": [
            "NULL_VALUE"
          ]
        },
        "boolValue": {
          "description": "Boolean value.",
          "type": "boolean"
        }
      }
    },
    "GoogleIamAssistV1alpha2ConditionExplanationEvaluationState": {
      "id": "GoogleIamAssistV1alpha2ConditionExplanationEvaluationState",
      "description": "Evaluated state of an expression",
      "type": "object",
      "properties": {
        "start": {
          "description": "Start position of an expression in the original condition, by character",
          "type": "integer",
          "format": "int32"
        },
        "end": {
          "description": "End position of an expression in the original condition, by character,\nend included, for example: the end position of the first part of\n\"a==b || c==d\" would be 4",
          "type": "integer",
          "format": "int32"
        },
        "value": {
          "description": "Value of this expression",
          "$ref": "GoogleIamAssistV1alpha2ConditionExplanationValue"
        }
      }
    },
    "GoogleIamAssistV1alpha2CheckAccessRequest": {
      "id": "GoogleIamAssistV1alpha2CheckAccessRequest",
      "description": "CheckAccessRequest is the request for CheckAccess",
      "type": "object",
      "properties": {
        "accessTuple": {
          "description": "Required. The tuple to check access for.",
          "$ref": "GoogleIamAssistV1alpha2AccessTuple"
        },
        "policyOverlay": {
          "description": "Mapping from full resource names to simulated policies.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleIamV1Policy"
          }
        }
      }
    },
    "GoogleIamAssistV1alpha2AccessTuple": {
      "id": "GoogleIamAssistV1alpha2AccessTuple",
      "description": "AccessTuple defines information required for checking an access attempt.\nIn other words, this is the tuple given to `CheckAccess`.",
      "type": "object",
      "properties": {
        "principal": {
          "description": "REQUIRED: The principal on behalf of who the access is explained for.\nThe format is the one of the principal's email addresses associated with\nits gaia account. It must be an account that can appear as an actor.\nFor example groups are not supported. Currently, service accounts\nare partially supported.",
          "type": "string"
        },
        "fullResourceName": {
          "description": "REQUIRED: A full resource name according to http:\/\/go\/resource-names.\nThis is the full resource name of the resource that access\nis checked against.",
          "type": "string"
        },
        "permission": {
          "description": "REQUIRED: The Cloud IAM permission under which defines the kind of access\nbeing explained. Example: \"resourcemanager.projects.get\" would explain\nif and why the principal has the resourcemanager.projects.get permission\non the resource specified in full_resource_name declared in this structure.\nSee https:\/\/cloud.google.com\/iam\/docs\/testing-permissions",
          "type": "string"
        },
        "conditionContext": {
          "description": "OPTIONAL: The Cloud IAM condition context under which defines the kind of\naccess being explained. ExplainAccess would explain if and why the\nprincipal has the queried permission on the resource specified in\nfull_resource_name under this context",
          "$ref": "GoogleRpcContextAttributeContext"
        }
      }
    },
    "GoogleIamAssistV1alpha2CheckAccessResponse": {
      "id": "GoogleIamAssistV1alpha2CheckAccessResponse",
      "description": "CheckAccessResponse is the response from CheckAccess.",
      "type": "object",
      "properties": {
        "access": {
          "description": "Reflects whether the probed access was granted, denied\nor ultimately could not be decided from the caller's point of view.",
          "enumDescriptions": [
            "Reserved",
            "The access is granted due to one or multiple bindings found.",
            "The access is not granted by the policy.",
            "At least one binding was found but it is conditional. undecided,\nundetermined ,uncertain, open, tentative, contingent",
            "Indicating that lack of access to the underlying information\ncauses the result to be undetermined.\nThis can be due to\n\n1) The caller has no access to the policy. In this case ExplainedPolicy\n   will have not policy set.\n\n2) The caller has no access to some of the items referenced in the policy.\n   In this case the policy in ExplainedPolicy will be set but the\n   explanations field will contain at least one inconclusive element."
          ],
          "type": "string",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        }
      }
    },
    "GoogleIamAssistV1alpha2ReplayRecentAccessesRequest": {
      "id": "GoogleIamAssistV1alpha2ReplayRecentAccessesRequest",
      "description": "Request for recent accesses replay.",
      "type": "object",
      "properties": {
        "policyOverlay": {
          "description": "Required. Mapping from full resource names to simulated policies.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleIamV1Policy"
          }
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`\/`Create`\/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    }
  },
  "resources": {
    "access": {
      "methods": {
        "explain": {
          "id": "iamassist.access.explain",
          "path": "v1alpha2/access:explain",
          "flatPath": "v1alpha2/access:explain",
          "httpMethod": "POST",
          "parameters": {
          },
          "parameterOrder": [
          ],
          "request": {
            "$ref": "GoogleIamAssistV1alpha2ExplainAccessRequest"
          },
          "response": {
            "$ref": "GoogleIamAssistV1alpha2ExplainAccessResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Perform a check on whether a member is granted a permission\non a resource and how that grant\/deny is determined according\nto the resource's effective IAM policy interpretation."
        }
      }
    },
    "simulator": {
      "methods": {
        "checkAccess": {
          "id": "iamassist.simulator.checkAccess",
          "path": "v1alpha2/simulator:checkAccess",
          "flatPath": "v1alpha2/simulator:checkAccess",
          "httpMethod": "POST",
          "parameters": {
          },
          "parameterOrder": [
          ],
          "request": {
            "$ref": "GoogleIamAssistV1alpha2CheckAccessRequest"
          },
          "response": {
            "$ref": "GoogleIamAssistV1alpha2CheckAccessResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Perform a check on whether a member is granted a permission\non a resource given the provided simulated policies are applied\nto their mapped resources."
        },
        "replayRecentAccesses": {
          "id": "iamassist.simulator.replayRecentAccesses",
          "path": "v1alpha2/simulator:replayRecentAccesses",
          "flatPath": "v1alpha2/simulator:replayRecentAccesses",
          "httpMethod": "POST",
          "parameters": {
          },
          "parameterOrder": [
          ],
          "request": {
            "$ref": "GoogleIamAssistV1alpha2ReplayRecentAccessesRequest"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "`ReplayRecentAccesses` replays the first K most recent accesses recorded\nfrom internal logs and responds which, if any, of these accesses would\nchange if the provided policy overlay were to be applied.\n\nThe value for K is not fixed while this API is in EAP.  This K will be\nselected low enough so that the full response can fit in single message.\n\nNote that the log freshness (i.e. the timestamp of the newest log\nentry) may be up to 7 days stale.  In other words, an access attempt that\nonly occurred within the past 7 days may not be captured by the replay."
        }
      }
    }
  },
  "basePath": ""
}