{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "logging:v2",
  "name": "logging",
  "canonicalName": "Logging",
  "version": "v2",
  "revision": "0",
  "title": "Stackdriver Logging API",
  "description": "Writes log entries and manages your Stackdriver Logging configuration.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/logging/docs/",
  "protocol": "rest",
  "rootUrl": "https://logging.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://logging.googleapis.com/",
  "batchPath": "batch",
  "version_module": "True",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "bearer_token": {
      "type": "string",
      "description": "OAuth bearer token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "pp": {
      "type": "boolean",
      "description": "Pretty-print response.",
      "default": "true",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/logging.admin": {
          "description": "Administrate log data for your projects"
        },
        "https://www.googleapis.com/auth/logging.read": {
          "description": "View log data for your projects"
        },
        "https://www.googleapis.com/auth/logging.write": {
          "description": "Submit log data for your projects"
        }
      }
    }
  },
  "schemas": {
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "WriteLogEntriesRequest": {
      "id": "WriteLogEntriesRequest",
      "description": "The parameters to WriteLogEntries.",
      "type": "object",
      "properties": {
        "logName": {
          "description": "Optional. A default log resource name that is assigned to all log entries\nin `entries` that do not specify a value for `log_name`:\n\n    \"projects\/[PROJECT_ID]\/logs\/[LOG_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/logs\/[LOG_ID]\"\n\n`[LOG_ID]` must be URL-encoded. For example,\n`\"projects\/my-project-id\/logs\/syslog\"` or\n`\"organizations\/1234567890\/logs\/cloudresourcemanager.googleapis.com%2Factivity\"`.\nFor more information about log names, see\nLogEntry.",
          "type": "string"
        },
        "resource": {
          "description": "Optional. A default monitored resource object that is assigned to all log\nentries in `entries` that do not specify a value for `resource`. Example:\n\n    { \"type\": \"gce_instance\",\n      \"labels\": {\n        \"zone\": \"us-central1-a\", \"instance_id\": \"00000000000000000000\" }}\n\nSee LogEntry.",
          "$ref": "MonitoredResource"
        },
        "labels": {
          "description": "Optional. Default labels that are added to the `labels` field of all log\nentries in `entries`. If a log entry already has a label with the same key\nas a label in this parameter, then the log entry's label is not changed.\nSee LogEntry.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "entries": {
          "description": "Required. The log entries to write. Values supplied for the fields\n`log_name`, `resource`, and `labels` in this `entries.write` request are\nadded to those log entries that do not provide their own values for the\nfields.\n\nTo improve throughput and to avoid exceeding the\n[quota limit](\/logging\/quota-policy) for calls to `entries.write`,\nyou should write multiple log entries at once rather than\ncalling this method for each individual log entry.",
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "partialSuccess": {
          "description": "Optional. Whether valid entries should be written even if some other\nentries fail due to INVALID_ARGUMENT or PERMISSION_DENIED errors. If any\nentry is not written, the response status will be the error associated\nwith one of the failed entries and include error details in the form of\nWriteLogEntriesPartialErrors.",
          "type": "boolean"
        }
      }
    },
    "MonitoredResource": {
      "id": "MonitoredResource",
      "description": "An object representing a resource that can be used for monitoring, logging,\nbilling, or other purposes. Examples include virtual machine instances,\ndatabases, and storage devices such as disks. The `type` field identifies a\nMonitoredResourceDescriptor object that describes the resource's\nschema. Information in the `labels` field identifies the actual resource and\nits attributes according to the schema. For example, a particular Compute\nEngine VM instance could be represented by the following object, because the\nMonitoredResourceDescriptor for `\"gce_instance\"` has labels\n`\"instance_id\"` and `\"zone\"`:\n\n    { \"type\": \"gce_instance\",\n      \"labels\": { \"instance_id\": \"12345678901234\",\n                  \"zone\": \"us-central1-a\" }}",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. The monitored resource type. This field must match\nthe `type` field of a MonitoredResourceDescriptor object. For\nexample, the type of a Cloud SQL database is `\"cloudsql_database\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Required. Values for all of the labels listed in the associated monitored\nresource descriptor. For example, Cloud SQL databases use the labels\n`\"database_id\"` and `\"zone\"`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "LogEntry": {
      "id": "LogEntry",
      "description": "An individual entry in a log.",
      "type": "object",
      "properties": {
        "logName": {
          "description": "Required. The resource name of the log to which this log entry belongs:\n\n    \"projects\/[PROJECT_ID]\/logs\/[LOG_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/logs\/[LOG_ID]\"\n\n`[LOG_ID]` must be URL-encoded within `log_name`. Example:\n`\"organizations\/1234567890\/logs\/cloudresourcemanager.googleapis.com%2Factivity\"`.\n`[LOG_ID]` must be less than 512 characters long and can only include the\nfollowing characters: upper and lower case alphanumeric characters,\nforward-slash, underscore, hyphen, and period.\n\nFor backward compatibility, if `log_name` begins with a forward-slash, such\nas `\/projects\/...`, then the log entry is ingested as usual but the\nforward-slash is removed. Listing the log entry will not show the leading\nslash and filtering for a log name with a leading slash will never return\nany results.",
          "type": "string"
        },
        "resource": {
          "description": "Required. The monitored resource associated with this log entry.\nExample: a log entry that reports a database error would be\nassociated with the monitored resource designating the particular\ndatabase that reported the error.",
          "$ref": "MonitoredResource"
        },
        "protoPayload": {
          "description": "The log entry payload, represented as a protocol buffer.  Some\nGoogle Cloud Platform services use this field for their log\nentry payloads.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "textPayload": {
          "description": "The log entry payload, represented as a Unicode string (UTF-8).",
          "type": "string"
        },
        "jsonPayload": {
          "description": "The log entry payload, represented as a structure that is\nexpressed as a JSON object.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "timestamp": {
          "description": "Optional. The time the event described by the log entry occurred.  If\nomitted, Stackdriver Logging will use the time the log entry is received.",
          "type": "string",
          "format": "google-datetime"
        },
        "severity": {
          "description": "Optional. The severity of the log entry. The default value is\n`LogSeverity.DEFAULT`.",
          "enumDescriptions": [
            "(0) The log entry has no assigned severity level.",
            "(100) Debug or trace information.",
            "(200) Routine information, such as ongoing status or performance.",
            "(300) Normal but significant events, such as start up, shut down, or\na configuration change.",
            "(400) Warning events might cause problems.",
            "(500) Error events are likely to cause problems.",
            "(600) Critical events cause more severe problems or outages.",
            "(700) A person must take an action immediately.",
            "(800) One or more systems are unusable."
          ],
          "type": "string",
          "enum": [
            "DEFAULT",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ]
        },
        "insertId": {
          "description": "Optional. A unique ID for the log entry. If you provide this\nfield, the logging service considers other log entries in the\nsame project with the same ID as duplicates which can be removed.  If\nomitted, Stackdriver Logging will generate a unique ID for this\nlog entry.",
          "type": "string"
        },
        "httpRequest": {
          "description": "Optional. Information about the HTTP request associated with this\nlog entry, if applicable.",
          "$ref": "HttpRequest"
        },
        "labels": {
          "description": "Optional. A set of user-defined (key, value) data that provides additional\ninformation about the log entry.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "operation": {
          "description": "Optional. Information about an operation associated with the log entry, if\napplicable.",
          "$ref": "LogEntryOperation"
        }
      }
    },
    "HttpRequest": {
      "id": "HttpRequest",
      "description": "A common proto for logging HTTP requests. Only contains semantics\ndefined by the HTTP specification. Product-specific logging\ninformation MUST be defined in a separate message.",
      "type": "object",
      "properties": {
        "requestMethod": {
          "description": "The request method. Examples: `\"GET\"`, `\"HEAD\"`, `\"PUT\"`, `\"POST\"`.",
          "type": "string"
        },
        "requestUrl": {
          "description": "The scheme (http, https), the host name, the path and the query\nportion of the URL that was requested.\nExample: `\"http:\/\/example.com\/some\/info?color=red\"`.",
          "type": "string"
        },
        "requestSize": {
          "description": "The size of the HTTP request message in bytes, including the request\nheaders and the request body.",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "description": "The response code indicating the status of response.\nExamples: 200, 404.",
          "type": "integer",
          "format": "int32"
        },
        "responseSize": {
          "description": "The size of the HTTP response message sent back to the client, in bytes,\nincluding the response headers and the response body.",
          "type": "string",
          "format": "int64"
        },
        "userAgent": {
          "description": "The user agent sent by the client. Example:\n`\"Mozilla\/4.0 (compatible; MSIE 6.0; Windows 98; Q312461; .NET CLR 1.0.3705)\"`.",
          "type": "string"
        },
        "remoteIp": {
          "description": "The IP address (IPv4 or IPv6) of the client that issued the HTTP\nrequest. Examples: `\"192.168.1.1\"`, `\"FE80::0202:B3FF:FE1E:8329\"`.",
          "type": "string"
        },
        "serverIp": {
          "description": "The IP address (IPv4 or IPv6) of the origin server that the request was\nsent to.",
          "type": "string"
        },
        "referer": {
          "description": "The referer URL of the request, as defined in\n[HTTP\/1.1 Header Field Definitions](http:\/\/www.w3.org\/Protocols\/rfc2616\/rfc2616-sec14.html).",
          "type": "string"
        },
        "latency": {
          "description": "The request processing latency on the server, from the time the request was\nreceived until the response was sent.",
          "type": "string",
          "format": "google-duration"
        },
        "cacheLookup": {
          "description": "Whether or not a cache lookup was attempted.",
          "type": "boolean"
        },
        "cacheHit": {
          "description": "Whether or not an entity was served from cache\n(with or without validation).",
          "type": "boolean"
        },
        "cacheValidatedWithOriginServer": {
          "description": "Whether or not the response was validated with the origin server before\nbeing served from cache. This field is only meaningful if `cache_hit` is\nTrue.",
          "type": "boolean"
        },
        "cacheFillBytes": {
          "description": "The number of HTTP response bytes inserted into cache. Set only when a\ncache fill was attempted.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "LogEntryOperation": {
      "id": "LogEntryOperation",
      "description": "Additional information about a potentially long-running operation with which\na log entry is associated.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Optional. An arbitrary operation identifier. Log entries with the\nsame identifier are assumed to be part of the same operation.",
          "type": "string"
        },
        "producer": {
          "description": "Optional. An arbitrary producer identifier. The combination of\n`id` and `producer` must be globally unique.  Examples for `producer`:\n`\"MyDivision.MyBigCompany.com\"`, `\"github.com\/MyProject\/MyApplication\"`.",
          "type": "string"
        },
        "first": {
          "description": "Optional. Set this to True if this is the first log entry in the operation.",
          "type": "boolean"
        },
        "last": {
          "description": "Optional. Set this to True if this is the last log entry in the operation.",
          "type": "boolean"
        }
      }
    },
    "WriteLogEntriesResponse": {
      "id": "WriteLogEntriesResponse",
      "description": "Result returned from WriteLogEntries.\nempty",
      "type": "object",
      "properties": {
      }
    },
    "ListLogEntriesRequest": {
      "id": "ListLogEntriesRequest",
      "description": "The parameters to `ListLogEntries`.",
      "type": "object",
      "properties": {
        "projectIds": {
          "description": "Deprecated. One or more project identifiers or project numbers from which\nto retrieve log entries.  Example: `\"my-project-1A\"`. If\npresent, these project identifiers are converted to resource format and\nadded to the list of resources in `resourceNames`. Callers should use\n`resourceNames` rather than this parameter.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceNames": {
          "description": "Required. One or more cloud resources from which to retrieve log\nentries:\n\n    \"projects\/[PROJECT_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\"\n\nProjects listed in the `project_ids` field are added to this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filter": {
          "description": "Optional. A filter that chooses which log entries to return.  See [Advanced\nLogs Filters](\/logging\/docs\/view\/advanced_filters).  Only log entries that\nmatch the filter are returned.  An empty filter matches all log entries.\nThe maximum length of the filter is 20000 characters.",
          "type": "string"
        },
        "orderBy": {
          "description": "Optional. How the results should be sorted.  Presently, the only permitted\nvalues are `\"timestamp asc\"` (default) and `\"timestamp desc\"`. The first\noption returns entries in order of increasing values of\n`LogEntry.timestamp` (oldest first), and the second option returns entries\nin order of decreasing timestamps (newest first).  Entries with equal\ntimestamps are returned in order of `LogEntry.insertId`.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of results to return from this request.\nNon-positive values are ignored.  The presence of `nextPageToken` in the\nresponse indicates that more results might be available.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "Optional. If present, then retrieve the next batch of results from the\npreceding call to this method.  `pageToken` must be the value of\n`nextPageToken` from the previous response.  The values of other method\nparameters should be identical to those in the previous call.",
          "type": "string"
        }
      }
    },
    "ListLogEntriesResponse": {
      "id": "ListLogEntriesResponse",
      "description": "Result returned from `ListLogEntries`.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "A list of log entries.",
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then\n`nextPageToken` is included.  To get the next set of results, call this\nmethod again using the value of `nextPageToken` as `pageToken`.",
          "type": "string"
        }
      }
    },
    "ListMonitoredResourceDescriptorsResponse": {
      "id": "ListMonitoredResourceDescriptorsResponse",
      "description": "Result returned from ListMonitoredResourceDescriptors.",
      "type": "object",
      "properties": {
        "resourceDescriptors": {
          "description": "A list of resource descriptors.",
          "type": "array",
          "items": {
            "$ref": "MonitoredResourceDescriptor"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then\n`nextPageToken` is included.  To get the next set of results, call this\nmethod again using the value of `nextPageToken` as `pageToken`.",
          "type": "string"
        }
      }
    },
    "MonitoredResourceDescriptor": {
      "id": "MonitoredResourceDescriptor",
      "description": "An object that describes the schema of a MonitoredResource object using a\ntype name and a set of labels.  For example, the monitored resource\ndescriptor for Google Compute Engine VM instances has a type of\n`\"gce_instance\"` and specifies the use of the labels `\"instance_id\"` and\n`\"zone\"` to identify particular VM instances.\n\nDifferent APIs can support different monitored resource types. APIs generally\nprovide a `list` method that returns the monitored resource descriptors used\nby the API.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. The resource name of the monitored resource descriptor:\n`\"projects\/{project_id}\/monitoredResourceDescriptors\/{type}\"` where\n{type} is the value of the `type` field in this object and\n{project_id} is a project ID that provides API-specific context for\naccessing the type.  APIs that do not use project information can use the\nresource name format `\"monitoredResourceDescriptors\/{type}\"`.",
          "type": "string"
        },
        "type": {
          "description": "Required. The monitored resource type. For example, the type\n`\"cloudsql_database\"` represents databases in Google Cloud SQL.\nThe maximum length of this value is 256 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. A concise name for the monitored resource type that might be\ndisplayed in user interfaces. It should be a Title Cased Noun Phrase,\nwithout any article or other determiners. For example,\n`\"Google Cloud SQL Database\"`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A detailed description of the monitored resource type that might\nbe used in documentation.",
          "type": "string"
        },
        "labels": {
          "description": "Required. A set of labels used to describe instances of this monitored\nresource type. For example, an individual Google Cloud SQL database is\nidentified by values for the labels `\"database_id\"` and `\"zone\"`.",
          "type": "array",
          "items": {
            "$ref": "LabelDescriptor"
          }
        }
      }
    },
    "LabelDescriptor": {
      "id": "LabelDescriptor",
      "description": "A description of a label.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The label key.",
          "type": "string"
        },
        "valueType": {
          "description": "The type of data that can be assigned to the label.",
          "enumDescriptions": [
            "A variable-length string. This is the default.",
            "Boolean; true or false.",
            "A 64-bit signed integer."
          ],
          "type": "string",
          "enum": [
            "STRING",
            "BOOL",
            "INT64"
          ]
        },
        "description": {
          "description": "A human-readable description for the label.",
          "type": "string"
        }
      }
    },
    "ListLogsResponse": {
      "id": "ListLogsResponse",
      "description": "Result returned from ListLogs.",
      "type": "object",
      "properties": {
        "logIds": {
          "description": "A list of log ids matching the criteria.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then\n`nextPageToken` is included.  To get the next set of results, call this\nmethod again using the value of `nextPageToken` as `pageToken`.",
          "type": "string"
        }
      }
    },
    "ListSinksResponse": {
      "id": "ListSinksResponse",
      "description": "Result returned from `ListSinks`.",
      "type": "object",
      "properties": {
        "sinks": {
          "description": "A list of sinks.",
          "type": "array",
          "items": {
            "$ref": "LogSink"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then\n`nextPageToken` is included.  To get the next set of results, call the same\nmethod again using the value of `nextPageToken` as `pageToken`.",
          "type": "string"
        }
      }
    },
    "LogSink": {
      "id": "LogSink",
      "description": "Describes a sink used to export log entries outside of Stackdriver Logging.\nA logs filter controls which log entries are exported.  Sinks can have a\nstart time and an end time; these can be used to place log entries from an\nexact time range into a particular destination.  If both `start_time` and\n`end_time` are present, then `start_time` must be less than `end_time`.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The client-assigned sink identifier, unique within the\nproject. Example: `\"my-syslog-errors-to-pubsub\"`.  Sink identifiers are\nlimited to 100 characters and can include only the following characters:\nupper and lower-case alphanumeric characters, underscores, hyphens, and\nperiods.",
          "type": "string"
        },
        "destination": {
          "description": "Required. The export destination:\n\n    \"storage.googleapis.com\/[GCS_BUCKET]\"\n    \"bigquery.googleapis.com\/projects\/[PROJECT_ID]\/datasets\/[DATASET]\"\n    \"pubsub.googleapis.com\/projects\/[PROJECT_ID]\/topics\/[TOPIC_ID]\"\n\nFor more information,  see\n[Exporting Logs With Sinks](\/logging\/docs\/api\/tasks\/exporting-logs).",
          "type": "string"
        },
        "filter": {
          "description": "Optional. An [advanced logs filter](\/logging\/docs\/view\/advanced_filters).\nOnly log entries matching the filter are exported. The filter\nmust be consistent with the log entry format specified by the\n`outputVersionFormat` parameter, regardless of the format of the\nlog entry that was originally ingested by Stackdriver Logging.\nThe following example uses field names in the v2 log entry format:\n\n    logName=\"projects\/[PROJECT_ID]\/logs\/[LOG_ID]\" AND severity>=ERROR",
          "type": "string"
        },
        "outputVersionFormat": {
          "description": "Optional. The log entry version to use for this sink's exported log\nentries.  This version does not have to correspond to the version of the\nlog entry that was written to Stackdriver Logging. If omitted, the\nv2 format is used.",
          "enumDescriptions": [
            "An unspecified version format will default to V2.",
            "`LogEntry` version 2 format.",
            "`LogEntry` version 1 format."
          ],
          "type": "string",
          "enum": [
            "VERSION_FORMAT_UNSPECIFIED",
            "V2",
            "V1"
          ]
        },
        "writerIdentity": {
          "description": "Output only. An IAM identity&mdash;a service account or group&mdash;that\nwill write exported log entries to the destination on behalf of Stackdriver\nLogging. You must grant this identity write-access to the destination.\nConsult the destination service's documentation to determine the exact role\nthat must be granted.",
          "type": "string"
        },
        "startTime": {
          "description": "Optional. The time at which this sink will begin exporting log entries.  If\nthis value is present, then log entries are exported only if `start_time`\n<=`entry.timestamp`.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Time at which this sink will stop exporting log entries.  If this\nvalue is present, then log entries are exported only if `entry.timestamp` <\n`end_time`.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListLogMetricsResponse": {
      "id": "ListLogMetricsResponse",
      "description": "Result returned from ListLogMetrics.",
      "type": "object",
      "properties": {
        "metrics": {
          "description": "A list of logs-based metrics.",
          "type": "array",
          "items": {
            "$ref": "LogMetric"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than appear in this response, then\n`nextPageToken` is included.  To get the next set of results, call this\nmethod again using the value of `nextPageToken` as `pageToken`.",
          "type": "string"
        }
      }
    },
    "LogMetric": {
      "id": "LogMetric",
      "description": "Describes a logs-based metric.  The value of the metric is the\nnumber of log entries that match a logs filter.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The client-assigned metric identifier.\nExamples: `\"error_count\"`, `\"nginx\/requests\"`.\n\nMetric identifiers are limited to 100 characters and can include\nonly the following characters: `A-Z`, `a-z`, `0-9`, and the\nspecial characters `_-.,+!*',()%\/`.  The forward-slash character\n(`\/`) denotes a hierarchy of name pieces, and it cannot be the\nfirst character of the name.\n\nThe metric identifier in this field must not be\n[URL-encoded](https:\/\/en.wikipedia.org\/wiki\/Percent-encoding).\nHowever, when the metric identifier appears as the `[METRIC_ID]`\npart of a `metric_name` API parameter, then the metric identifier\nmust be URL-encoded. Example:\n`\"projects\/my-project\/metrics\/nginx%2Frequests\"`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A description of this metric, which is used in documentation.",
          "type": "string"
        },
        "filter": {
          "description": "Required. An [advanced logs filter](\/logging\/docs\/view\/advanced_filters).\nExample:\n\n    \"resource.type=gae_app AND severity>=ERROR\"\n\nThe maximum length of the filter is 20000 characters.",
          "type": "string"
        },
        "version": {
          "description": "Output only. The API version that created or updated this metric.\nThe version also dictates the syntax of the filter expression. When a value\nfor this field is missing, the default value of V2 should be assumed.",
          "enumDescriptions": [
            "Stackdriver Logging API v2.",
            "Stackdriver Logging API v1."
          ],
          "type": "string",
          "enum": [
            "V2",
            "V1"
          ]
        }
      }
    },
    "RequestLog": {
      "id": "RequestLog",
      "description": "Complete log information about a single HTTP request to an App Engine\napplication.",
      "type": "object",
      "properties": {
        "appId": {
          "description": "Application that handled this request.",
          "type": "string"
        },
        "moduleId": {
          "description": "Module of the application that handled this request.",
          "type": "string"
        },
        "versionId": {
          "description": "Version of the application that handled this request.",
          "type": "string"
        },
        "requestId": {
          "description": "Globally unique identifier for a request, which is based on the request\nstart time.  Request IDs for requests which started later will compare\ngreater as strings than those for requests which started earlier.",
          "type": "string"
        },
        "ip": {
          "description": "Origin IP address.",
          "type": "string"
        },
        "startTime": {
          "description": "Time when the request started.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Time when the request finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "latency": {
          "description": "Latency of the request.",
          "type": "string",
          "format": "google-duration"
        },
        "megaCycles": {
          "description": "Number of CPU megacycles used to process request.",
          "type": "string",
          "format": "int64"
        },
        "method": {
          "description": "Request method. Example: `\"GET\"`, `\"HEAD\"`, `\"PUT\"`, `\"POST\"`, `\"DELETE\"`.",
          "type": "string"
        },
        "resource": {
          "description": "Contains the path and query portion of the URL that was requested. For\nexample, if the URL was \"http:\/\/example.com\/app?name=val\", the resource\nwould be \"\/app?name=val\".  The fragment identifier, which is identified by\nthe `#` character, is not included.",
          "type": "string"
        },
        "httpVersion": {
          "description": "HTTP version of request. Example: `\"HTTP\/1.1\"`.",
          "type": "string"
        },
        "status": {
          "description": "HTTP response status code. Example: 200, 404.",
          "type": "integer",
          "format": "int32"
        },
        "responseSize": {
          "description": "Size in bytes sent back to client by request.",
          "type": "string",
          "format": "int64"
        },
        "referrer": {
          "description": "Referrer URL of request.",
          "type": "string"
        },
        "userAgent": {
          "description": "User agent that made the request.",
          "type": "string"
        },
        "nickname": {
          "description": "The logged-in user who made the request.\n\nMost likely, this is the part of the user's email before the `@` sign.  The\nfield value is the same for different requests from the same user, but\ndifferent users can have similar names.  This information is also\navailable to the application via the App Engine Users API.\n\nThis field will be populated starting with App Engine 1.9.21.",
          "type": "string"
        },
        "urlMapEntry": {
          "description": "File or class that handled the request.",
          "type": "string"
        },
        "host": {
          "description": "Internet host and port number of the resource being requested.",
          "type": "string"
        },
        "cost": {
          "description": "An indication of the relative cost of serving this request.",
          "type": "number",
          "format": "double"
        },
        "taskQueueName": {
          "description": "Queue name of the request, in the case of an offline request.",
          "type": "string"
        },
        "taskName": {
          "description": "Task name of the request, in the case of an offline request.",
          "type": "string"
        },
        "wasLoadingRequest": {
          "description": "Whether this was a loading request for the instance.",
          "type": "boolean"
        },
        "pendingTime": {
          "description": "Time this request spent in the pending request queue.",
          "type": "string",
          "format": "google-duration"
        },
        "instanceIndex": {
          "description": "If the instance processing this request belongs to a manually scaled\nmodule, then this is the 0-based index of the instance. Otherwise, this\nvalue is -1.",
          "type": "integer",
          "format": "int32"
        },
        "finished": {
          "description": "Whether this request is finished or active.",
          "type": "boolean"
        },
        "first": {
          "description": "Whether this is the first `RequestLog` entry for this request.  If an\nactive request has several `RequestLog` entries written to Stackdriver\nLogging, then this field will be set for one of them.",
          "type": "boolean"
        },
        "instanceId": {
          "description": "An identifier for the instance that handled the request.",
          "type": "string"
        },
        "line": {
          "description": "A list of log lines emitted by the application while serving this request.",
          "type": "array",
          "items": {
            "$ref": "LogLine"
          }
        },
        "appEngineRelease": {
          "description": "App Engine release version.",
          "type": "string"
        },
        "traceId": {
          "description": "Stackdriver Trace identifier for this request.",
          "type": "string"
        },
        "sourceReference": {
          "description": "Source code for the application that handled this request. There can be\nmore than one source reference per deployed application if source code is\ndistributed among multiple repositories.",
          "type": "array",
          "items": {
            "$ref": "SourceReference"
          }
        }
      }
    },
    "LogLine": {
      "id": "LogLine",
      "description": "Application log line emitted while processing a request.",
      "type": "object",
      "properties": {
        "time": {
          "description": "Approximate time when this log entry was made.",
          "type": "string",
          "format": "google-datetime"
        },
        "severity": {
          "description": "Severity of this log entry.",
          "enumDescriptions": [
            "(0) The log entry has no assigned severity level.",
            "(100) Debug or trace information.",
            "(200) Routine information, such as ongoing status or performance.",
            "(300) Normal but significant events, such as start up, shut down, or\na configuration change.",
            "(400) Warning events might cause problems.",
            "(500) Error events are likely to cause problems.",
            "(600) Critical events cause more severe problems or outages.",
            "(700) A person must take an action immediately.",
            "(800) One or more systems are unusable."
          ],
          "type": "string",
          "enum": [
            "DEFAULT",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ]
        },
        "logMessage": {
          "description": "App-provided log message.",
          "type": "string"
        },
        "sourceLocation": {
          "description": "Where in the source code this log message was written.",
          "$ref": "SourceLocation"
        }
      }
    },
    "SourceLocation": {
      "id": "SourceLocation",
      "description": "Specifies a location in a source code file.",
      "type": "object",
      "properties": {
        "file": {
          "description": "Source file name. Depending on the runtime environment, this might be a\nsimple name or a fully-qualified name.",
          "type": "string"
        },
        "line": {
          "description": "Line within the source file.",
          "type": "string",
          "format": "int64"
        },
        "functionName": {
          "description": "Human-readable name of the function or method being invoked, with optional\ncontext such as the class or package name. This information is used in\ncontexts such as the logs viewer, where a file and line number are less\nmeaningful. The format can vary by language. For example:\n`qual.if.ied.Class.method` (Java), `dir\/package.func` (Go), `function`\n(Python).",
          "type": "string"
        }
      }
    },
    "SourceReference": {
      "id": "SourceReference",
      "description": "A reference to a particular snapshot of the source tree used to build and\ndeploy an application.",
      "type": "object",
      "properties": {
        "repository": {
          "description": "Optional. A URI string identifying the repository.\nExample: \"https:\/\/github.com\/GoogleCloudPlatform\/kubernetes.git\"",
          "type": "string"
        },
        "revisionId": {
          "description": "The canonical and persistent identifier of the deployed revision.\nExample (git): \"0035781c50ec7aa23385dc841529ce8a4b70db1b\"",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "logs": {
          "methods": {
            "delete": {
              "id": "logging.projects.logs.delete",
              "path": "v2/{+logName}",
              "flatPath": "v2/projects/{projectsId}/logs/{logsId}",
              "httpMethod": "DELETE",
              "description": "Deletes all the log entries in a log.\nThe log reappears if it receives new entries.",
              "parameters": {
                "logName": {
                  "description": "Required. The resource name of the log to delete:\n\n    \"projects\/[PROJECT_ID]\/logs\/[LOG_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/logs\/[LOG_ID]\"\n\n`[LOG_ID]` must be URL-encoded. For example,\n`\"projects\/my-project-id\/logs\/syslog\"`,\n`\"organizations\/1234567890\/logs\/cloudresourcemanager.googleapis.com%2Factivity\"`.\nFor more information about log names, see\nLogEntry.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/logs\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "logName"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            },
            "list": {
              "id": "logging.projects.logs.list",
              "path": "v2/{+parent}/logs",
              "flatPath": "v2/projects/{projectsId}/logs",
              "httpMethod": "GET",
              "description": "Lists the logs in the project.\nOnly logs that have entries are listed.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name that owns the logs:\n\n    \"projects\/[PROJECT_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request.\nNon-positive values are ignored.  The presence of `nextPageToken` in the\nresponse indicates that more results might be available.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. If present, then retrieve the next batch of results from the\npreceding call to this method.  `pageToken` must be the value of\n`nextPageToken` from the previous response.  The values of other method\nparameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListLogsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            }
          }
        },
        "sinks": {
          "methods": {
            "list": {
              "id": "logging.projects.sinks.list",
              "path": "v2/{+parent}/sinks",
              "flatPath": "v2/projects/{projectsId}/sinks",
              "httpMethod": "GET",
              "description": "Lists sinks.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name where this sink was created:\n\n    \"projects\/[PROJECT_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. If present, then retrieve the next batch of results from the\npreceding call to this method.  `pageToken` must be the value of\n`nextPageToken` from the previous response.  The values of other method\nparameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request.\nNon-positive values are ignored.  The presence of `nextPageToken` in the\nresponse indicates that more results might be available.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            },
            "get": {
              "id": "logging.projects.sinks.get",
              "path": "v2/{+sinkName}",
              "flatPath": "v2/projects/{projectsId}/sinks/{sinksId}",
              "httpMethod": "GET",
              "description": "Gets a sink.",
              "parameters": {
                "sinkName": {
                  "description": "Required. The resource name of the sink to return:\n\n    \"projects\/[PROJECT_ID]\/sinks\/[SINK_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/sinks\/[SINK_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/sinks\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "sinkName"
              ],
              "response": {
                "$ref": "LogSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            },
            "create": {
              "id": "logging.projects.sinks.create",
              "path": "v2/{+parent}/sinks",
              "flatPath": "v2/projects/{projectsId}/sinks",
              "httpMethod": "POST",
              "description": "Creates a sink.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource in which to create the sink:\n\n    \"projects\/[PROJECT_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "uniqueWriterIdentity": {
                  "description": "Optional. Whether the sink will have a dedicated service account returned\nin the sink's writer_identity. Set this field to be true to export\nlogs from one project to a different project. This field is ignored for\nnon-project sinks (e.g. organization sinks) because those sinks are\nrequired to have dedicated service accounts.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "LogSink"
              },
              "response": {
                "$ref": "LogSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            },
            "update": {
              "id": "logging.projects.sinks.update",
              "path": "v2/{+sinkName}",
              "flatPath": "v2/projects/{projectsId}/sinks/{sinksId}",
              "httpMethod": "PUT",
              "description": "Updates or creates a sink.",
              "parameters": {
                "sinkName": {
                  "description": "Required. The resource name of the sink to update, including the parent\nresource and the sink identifier:\n\n    \"projects\/[PROJECT_ID]\/sinks\/[SINK_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/sinks\/[SINK_ID]\"\n\nExample: `\"projects\/my-project-id\/sinks\/my-sink-id\"`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/sinks\/[^\/]+$",
                  "type": "string"
                },
                "uniqueWriterIdentity": {
                  "description": "Optional. Whether the sink will have a dedicated service account returned\nin the sink's writer_identity. Set this field to be true to export\nlogs from one project to a different project. This field is ignored for\nnon-project sinks (e.g. organization sinks) because those sinks are\nrequired to have dedicated service accounts.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "sinkName"
              ],
              "request": {
                "$ref": "LogSink"
              },
              "response": {
                "$ref": "LogSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            },
            "delete": {
              "id": "logging.projects.sinks.delete",
              "path": "v2/{+sinkName}",
              "flatPath": "v2/projects/{projectsId}/sinks/{sinksId}",
              "httpMethod": "DELETE",
              "description": "Deletes a sink.",
              "parameters": {
                "sinkName": {
                  "description": "Required. The resource name of the sink to delete, including the parent\nresource and the sink identifier:\n\n    \"projects\/[PROJECT_ID]\/sinks\/[SINK_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/sinks\/[SINK_ID]\"\n\nIt is an error if the sink does not exist.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/sinks\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "sinkName"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            }
          }
        },
        "metrics": {
          "methods": {
            "list": {
              "id": "logging.projects.metrics.list",
              "path": "v2/{+parent}/metrics",
              "flatPath": "v2/projects/{projectsId}/metrics",
              "httpMethod": "GET",
              "description": "Lists logs-based metrics.",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project containing the metrics:\n\n    \"projects\/[PROJECT_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. If present, then retrieve the next batch of results from the\npreceding call to this method.  `pageToken` must be the value of\n`nextPageToken` from the previous response.  The values of other method\nparameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request.\nNon-positive values are ignored.  The presence of `nextPageToken` in the\nresponse indicates that more results might be available.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListLogMetricsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            },
            "get": {
              "id": "logging.projects.metrics.get",
              "path": "v2/{+metricName}",
              "flatPath": "v2/projects/{projectsId}/metrics/{metricsId}",
              "httpMethod": "GET",
              "description": "Gets a logs-based metric.",
              "parameters": {
                "metricName": {
                  "description": "The resource name of the desired metric:\n\n    \"projects\/[PROJECT_ID]\/metrics\/[METRIC_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/metrics\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "metricName"
              ],
              "response": {
                "$ref": "LogMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            },
            "create": {
              "id": "logging.projects.metrics.create",
              "path": "v2/{+parent}/metrics",
              "flatPath": "v2/projects/{projectsId}/metrics",
              "httpMethod": "POST",
              "description": "Creates a logs-based metric.",
              "parameters": {
                "parent": {
                  "description": "The resource name of the project in which to create the metric:\n\n    \"projects\/[PROJECT_ID]\"\n\nThe new metric must be provided in the request.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "LogMetric"
              },
              "response": {
                "$ref": "LogMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.write"
              ]
            },
            "update": {
              "id": "logging.projects.metrics.update",
              "path": "v2/{+metricName}",
              "flatPath": "v2/projects/{projectsId}/metrics/{metricsId}",
              "httpMethod": "PUT",
              "description": "Creates or updates a logs-based metric.",
              "parameters": {
                "metricName": {
                  "description": "The resource name of the metric to update:\n\n    \"projects\/[PROJECT_ID]\/metrics\/[METRIC_ID]\"\n\nThe updated metric must be provided in the request and it's\n`name` field must be the same as `[METRIC_ID]` If the metric\ndoes not exist in `[PROJECT_ID]`, then a new metric is created.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/metrics\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "metricName"
              ],
              "request": {
                "$ref": "LogMetric"
              },
              "response": {
                "$ref": "LogMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.write"
              ]
            },
            "delete": {
              "id": "logging.projects.metrics.delete",
              "path": "v2/{+metricName}",
              "flatPath": "v2/projects/{projectsId}/metrics/{metricsId}",
              "httpMethod": "DELETE",
              "description": "Deletes a logs-based metric.",
              "parameters": {
                "metricName": {
                  "description": "The resource name of the metric to delete:\n\n    \"projects\/[PROJECT_ID]\/metrics\/[METRIC_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/metrics\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "metricName"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.write"
              ]
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "logs": {
          "methods": {
            "delete": {
              "id": "logging.organizations.logs.delete",
              "path": "v2/{+logName}",
              "flatPath": "v2/organizations/{organizationsId}/logs/{logsId}",
              "httpMethod": "DELETE",
              "description": "Deletes all the log entries in a log.\nThe log reappears if it receives new entries.",
              "parameters": {
                "logName": {
                  "description": "Required. The resource name of the log to delete:\n\n    \"projects\/[PROJECT_ID]\/logs\/[LOG_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/logs\/[LOG_ID]\"\n\n`[LOG_ID]` must be URL-encoded. For example,\n`\"projects\/my-project-id\/logs\/syslog\"`,\n`\"organizations\/1234567890\/logs\/cloudresourcemanager.googleapis.com%2Factivity\"`.\nFor more information about log names, see\nLogEntry.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/logs\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "logName"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            },
            "list": {
              "id": "logging.organizations.logs.list",
              "path": "v2/{+parent}/logs",
              "flatPath": "v2/organizations/{organizationsId}/logs",
              "httpMethod": "GET",
              "description": "Lists the logs in the project.\nOnly logs that have entries are listed.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name that owns the logs:\n\n    \"projects\/[PROJECT_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request.\nNon-positive values are ignored.  The presence of `nextPageToken` in the\nresponse indicates that more results might be available.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. If present, then retrieve the next batch of results from the\npreceding call to this method.  `pageToken` must be the value of\n`nextPageToken` from the previous response.  The values of other method\nparameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListLogsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            }
          }
        },
        "sinks": {
          "methods": {
            "list": {
              "id": "logging.organizations.sinks.list",
              "path": "v2/{+parent}/sinks",
              "flatPath": "v2/organizations/{organizationsId}/sinks",
              "httpMethod": "GET",
              "description": "Lists sinks.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name where this sink was created:\n\n    \"projects\/[PROJECT_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. If present, then retrieve the next batch of results from the\npreceding call to this method.  `pageToken` must be the value of\n`nextPageToken` from the previous response.  The values of other method\nparameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request.\nNon-positive values are ignored.  The presence of `nextPageToken` in the\nresponse indicates that more results might be available.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            },
            "get": {
              "id": "logging.organizations.sinks.get",
              "path": "v2/{+sinkName}",
              "flatPath": "v2/organizations/{organizationsId}/sinks/{sinksId}",
              "httpMethod": "GET",
              "description": "Gets a sink.",
              "parameters": {
                "sinkName": {
                  "description": "Required. The resource name of the sink to return:\n\n    \"projects\/[PROJECT_ID]\/sinks\/[SINK_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/sinks\/[SINK_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/sinks\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "sinkName"
              ],
              "response": {
                "$ref": "LogSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            },
            "create": {
              "id": "logging.organizations.sinks.create",
              "path": "v2/{+parent}/sinks",
              "flatPath": "v2/organizations/{organizationsId}/sinks",
              "httpMethod": "POST",
              "description": "Creates a sink.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource in which to create the sink:\n\n    \"projects\/[PROJECT_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+$",
                  "type": "string"
                },
                "uniqueWriterIdentity": {
                  "description": "Optional. Whether the sink will have a dedicated service account returned\nin the sink's writer_identity. Set this field to be true to export\nlogs from one project to a different project. This field is ignored for\nnon-project sinks (e.g. organization sinks) because those sinks are\nrequired to have dedicated service accounts.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "LogSink"
              },
              "response": {
                "$ref": "LogSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            },
            "update": {
              "id": "logging.organizations.sinks.update",
              "path": "v2/{+sinkName}",
              "flatPath": "v2/organizations/{organizationsId}/sinks/{sinksId}",
              "httpMethod": "PUT",
              "description": "Updates or creates a sink.",
              "parameters": {
                "sinkName": {
                  "description": "Required. The resource name of the sink to update, including the parent\nresource and the sink identifier:\n\n    \"projects\/[PROJECT_ID]\/sinks\/[SINK_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/sinks\/[SINK_ID]\"\n\nExample: `\"projects\/my-project-id\/sinks\/my-sink-id\"`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/sinks\/[^\/]+$",
                  "type": "string"
                },
                "uniqueWriterIdentity": {
                  "description": "Optional. Whether the sink will have a dedicated service account returned\nin the sink's writer_identity. Set this field to be true to export\nlogs from one project to a different project. This field is ignored for\nnon-project sinks (e.g. organization sinks) because those sinks are\nrequired to have dedicated service accounts.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "sinkName"
              ],
              "request": {
                "$ref": "LogSink"
              },
              "response": {
                "$ref": "LogSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            },
            "delete": {
              "id": "logging.organizations.sinks.delete",
              "path": "v2/{+sinkName}",
              "flatPath": "v2/organizations/{organizationsId}/sinks/{sinksId}",
              "httpMethod": "DELETE",
              "description": "Deletes a sink.",
              "parameters": {
                "sinkName": {
                  "description": "Required. The resource name of the sink to delete, including the parent\nresource and the sink identifier:\n\n    \"projects\/[PROJECT_ID]\/sinks\/[SINK_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/sinks\/[SINK_ID]\"\n\nIt is an error if the sink does not exist.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/sinks\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "sinkName"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "logs": {
          "methods": {
            "delete": {
              "id": "logging.folders.logs.delete",
              "path": "v2/{+logName}",
              "flatPath": "v2/folders/{foldersId}/logs/{logsId}",
              "httpMethod": "DELETE",
              "description": "Deletes all the log entries in a log.\nThe log reappears if it receives new entries.",
              "parameters": {
                "logName": {
                  "description": "Required. The resource name of the log to delete:\n\n    \"projects\/[PROJECT_ID]\/logs\/[LOG_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/logs\/[LOG_ID]\"\n\n`[LOG_ID]` must be URL-encoded. For example,\n`\"projects\/my-project-id\/logs\/syslog\"`,\n`\"organizations\/1234567890\/logs\/cloudresourcemanager.googleapis.com%2Factivity\"`.\nFor more information about log names, see\nLogEntry.",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+\/logs\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "logName"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            },
            "list": {
              "id": "logging.folders.logs.list",
              "path": "v2/{+parent}/logs",
              "flatPath": "v2/folders/{foldersId}/logs",
              "httpMethod": "GET",
              "description": "Lists the logs in the project.\nOnly logs that have entries are listed.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name that owns the logs:\n\n    \"projects\/[PROJECT_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request.\nNon-positive values are ignored.  The presence of `nextPageToken` in the\nresponse indicates that more results might be available.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. If present, then retrieve the next batch of results from the\npreceding call to this method.  `pageToken` must be the value of\n`nextPageToken` from the previous response.  The values of other method\nparameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListLogsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            }
          }
        },
        "sinks": {
          "methods": {
            "list": {
              "id": "logging.folders.sinks.list",
              "path": "v2/{+parent}/sinks",
              "flatPath": "v2/folders/{foldersId}/sinks",
              "httpMethod": "GET",
              "description": "Lists sinks.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name where this sink was created:\n\n    \"projects\/[PROJECT_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. If present, then retrieve the next batch of results from the\npreceding call to this method.  `pageToken` must be the value of\n`nextPageToken` from the previous response.  The values of other method\nparameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request.\nNon-positive values are ignored.  The presence of `nextPageToken` in the\nresponse indicates that more results might be available.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            },
            "get": {
              "id": "logging.folders.sinks.get",
              "path": "v2/{+sinkName}",
              "flatPath": "v2/folders/{foldersId}/sinks/{sinksId}",
              "httpMethod": "GET",
              "description": "Gets a sink.",
              "parameters": {
                "sinkName": {
                  "description": "Required. The resource name of the sink to return:\n\n    \"projects\/[PROJECT_ID]\/sinks\/[SINK_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/sinks\/[SINK_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+\/sinks\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "sinkName"
              ],
              "response": {
                "$ref": "LogSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            },
            "create": {
              "id": "logging.folders.sinks.create",
              "path": "v2/{+parent}/sinks",
              "flatPath": "v2/folders/{foldersId}/sinks",
              "httpMethod": "POST",
              "description": "Creates a sink.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource in which to create the sink:\n\n    \"projects\/[PROJECT_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+$",
                  "type": "string"
                },
                "uniqueWriterIdentity": {
                  "description": "Optional. Whether the sink will have a dedicated service account returned\nin the sink's writer_identity. Set this field to be true to export\nlogs from one project to a different project. This field is ignored for\nnon-project sinks (e.g. organization sinks) because those sinks are\nrequired to have dedicated service accounts.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "LogSink"
              },
              "response": {
                "$ref": "LogSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            },
            "update": {
              "id": "logging.folders.sinks.update",
              "path": "v2/{+sinkName}",
              "flatPath": "v2/folders/{foldersId}/sinks/{sinksId}",
              "httpMethod": "PUT",
              "description": "Updates or creates a sink.",
              "parameters": {
                "sinkName": {
                  "description": "Required. The resource name of the sink to update, including the parent\nresource and the sink identifier:\n\n    \"projects\/[PROJECT_ID]\/sinks\/[SINK_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/sinks\/[SINK_ID]\"\n\nExample: `\"projects\/my-project-id\/sinks\/my-sink-id\"`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+\/sinks\/[^\/]+$",
                  "type": "string"
                },
                "uniqueWriterIdentity": {
                  "description": "Optional. Whether the sink will have a dedicated service account returned\nin the sink's writer_identity. Set this field to be true to export\nlogs from one project to a different project. This field is ignored for\nnon-project sinks (e.g. organization sinks) because those sinks are\nrequired to have dedicated service accounts.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "sinkName"
              ],
              "request": {
                "$ref": "LogSink"
              },
              "response": {
                "$ref": "LogSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            },
            "delete": {
              "id": "logging.folders.sinks.delete",
              "path": "v2/{+sinkName}",
              "flatPath": "v2/folders/{foldersId}/sinks/{sinksId}",
              "httpMethod": "DELETE",
              "description": "Deletes a sink.",
              "parameters": {
                "sinkName": {
                  "description": "Required. The resource name of the sink to delete, including the parent\nresource and the sink identifier:\n\n    \"projects\/[PROJECT_ID]\/sinks\/[SINK_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/sinks\/[SINK_ID]\"\n\nIt is an error if the sink does not exist.",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+\/sinks\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "sinkName"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            }
          }
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "logs": {
          "methods": {
            "delete": {
              "id": "logging.billingAccounts.logs.delete",
              "path": "v2/{+logName}",
              "flatPath": "v2/billingAccounts/{billingAccountsId}/logs/{logsId}",
              "httpMethod": "DELETE",
              "description": "Deletes all the log entries in a log.\nThe log reappears if it receives new entries.",
              "parameters": {
                "logName": {
                  "description": "Required. The resource name of the log to delete:\n\n    \"projects\/[PROJECT_ID]\/logs\/[LOG_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/logs\/[LOG_ID]\"\n\n`[LOG_ID]` must be URL-encoded. For example,\n`\"projects\/my-project-id\/logs\/syslog\"`,\n`\"organizations\/1234567890\/logs\/cloudresourcemanager.googleapis.com%2Factivity\"`.\nFor more information about log names, see\nLogEntry.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+\/logs\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "logName"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            },
            "list": {
              "id": "logging.billingAccounts.logs.list",
              "path": "v2/{+parent}/logs",
              "flatPath": "v2/billingAccounts/{billingAccountsId}/logs",
              "httpMethod": "GET",
              "description": "Lists the logs in the project.\nOnly logs that have entries are listed.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name that owns the logs:\n\n    \"projects\/[PROJECT_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request.\nNon-positive values are ignored.  The presence of `nextPageToken` in the\nresponse indicates that more results might be available.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. If present, then retrieve the next batch of results from the\npreceding call to this method.  `pageToken` must be the value of\n`nextPageToken` from the previous response.  The values of other method\nparameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListLogsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            }
          }
        },
        "sinks": {
          "methods": {
            "list": {
              "id": "logging.billingAccounts.sinks.list",
              "path": "v2/{+parent}/sinks",
              "flatPath": "v2/billingAccounts/{billingAccountsId}/sinks",
              "httpMethod": "GET",
              "description": "Lists sinks.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name where this sink was created:\n\n    \"projects\/[PROJECT_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. If present, then retrieve the next batch of results from the\npreceding call to this method.  `pageToken` must be the value of\n`nextPageToken` from the previous response.  The values of other method\nparameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request.\nNon-positive values are ignored.  The presence of `nextPageToken` in the\nresponse indicates that more results might be available.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            },
            "get": {
              "id": "logging.billingAccounts.sinks.get",
              "path": "v2/{+sinkName}",
              "flatPath": "v2/billingAccounts/{billingAccountsId}/sinks/{sinksId}",
              "httpMethod": "GET",
              "description": "Gets a sink.",
              "parameters": {
                "sinkName": {
                  "description": "Required. The resource name of the sink to return:\n\n    \"projects\/[PROJECT_ID]\/sinks\/[SINK_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/sinks\/[SINK_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+\/sinks\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "sinkName"
              ],
              "response": {
                "$ref": "LogSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/logging.admin",
                "https://www.googleapis.com/auth/logging.read"
              ]
            },
            "create": {
              "id": "logging.billingAccounts.sinks.create",
              "path": "v2/{+parent}/sinks",
              "flatPath": "v2/billingAccounts/{billingAccountsId}/sinks",
              "httpMethod": "POST",
              "description": "Creates a sink.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource in which to create the sink:\n\n    \"projects\/[PROJECT_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+$",
                  "type": "string"
                },
                "uniqueWriterIdentity": {
                  "description": "Optional. Whether the sink will have a dedicated service account returned\nin the sink's writer_identity. Set this field to be true to export\nlogs from one project to a different project. This field is ignored for\nnon-project sinks (e.g. organization sinks) because those sinks are\nrequired to have dedicated service accounts.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "LogSink"
              },
              "response": {
                "$ref": "LogSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            },
            "update": {
              "id": "logging.billingAccounts.sinks.update",
              "path": "v2/{+sinkName}",
              "flatPath": "v2/billingAccounts/{billingAccountsId}/sinks/{sinksId}",
              "httpMethod": "PUT",
              "description": "Updates or creates a sink.",
              "parameters": {
                "sinkName": {
                  "description": "Required. The resource name of the sink to update, including the parent\nresource and the sink identifier:\n\n    \"projects\/[PROJECT_ID]\/sinks\/[SINK_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/sinks\/[SINK_ID]\"\n\nExample: `\"projects\/my-project-id\/sinks\/my-sink-id\"`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+\/sinks\/[^\/]+$",
                  "type": "string"
                },
                "uniqueWriterIdentity": {
                  "description": "Optional. Whether the sink will have a dedicated service account returned\nin the sink's writer_identity. Set this field to be true to export\nlogs from one project to a different project. This field is ignored for\nnon-project sinks (e.g. organization sinks) because those sinks are\nrequired to have dedicated service accounts.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "sinkName"
              ],
              "request": {
                "$ref": "LogSink"
              },
              "response": {
                "$ref": "LogSink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            },
            "delete": {
              "id": "logging.billingAccounts.sinks.delete",
              "path": "v2/{+sinkName}",
              "flatPath": "v2/billingAccounts/{billingAccountsId}/sinks/{sinksId}",
              "httpMethod": "DELETE",
              "description": "Deletes a sink.",
              "parameters": {
                "sinkName": {
                  "description": "Required. The resource name of the sink to delete, including the parent\nresource and the sink identifier:\n\n    \"projects\/[PROJECT_ID]\/sinks\/[SINK_ID]\"\n    \"organizations\/[ORGANIZATION_ID]\/sinks\/[SINK_ID]\"\n\nIt is an error if the sink does not exist.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+\/sinks\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "sinkName"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/logging.admin"
              ]
            }
          }
        }
      }
    },
    "entries": {
      "methods": {
        "write": {
          "id": "logging.entries.write",
          "path": "v2/entries:write",
          "flatPath": "v2/entries:write",
          "httpMethod": "POST",
          "description": "Writes log entries to Stackdriver Logging.  All log entries are\nwritten by this method.",
          "parameters": {
          },
          "parameterOrder": [
          ],
          "request": {
            "$ref": "WriteLogEntriesRequest"
          },
          "response": {
            "$ref": "WriteLogEntriesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/logging.admin",
            "https://www.googleapis.com/auth/logging.write"
          ]
        },
        "list": {
          "id": "logging.entries.list",
          "path": "v2/entries:list",
          "flatPath": "v2/entries:list",
          "httpMethod": "POST",
          "description": "Lists log entries.  Use this method to retrieve log entries from Cloud\nLogging.  For ways to export log entries, see\n[Exporting Logs](\/logging\/docs\/export).",
          "parameters": {
          },
          "parameterOrder": [
          ],
          "request": {
            "$ref": "ListLogEntriesRequest"
          },
          "response": {
            "$ref": "ListLogEntriesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/logging.admin",
            "https://www.googleapis.com/auth/logging.read"
          ]
        }
      }
    },
    "monitoredResourceDescriptors": {
      "methods": {
        "list": {
          "id": "logging.monitoredResourceDescriptors.list",
          "path": "v2/monitoredResourceDescriptors",
          "flatPath": "v2/monitoredResourceDescriptors",
          "httpMethod": "GET",
          "description": "Lists the monitored resource descriptors used by Stackdriver Logging.",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of results to return from this request.\nNon-positive values are ignored.  The presence of `nextPageToken` in the\nresponse indicates that more results might be available.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. If present, then retrieve the next batch of results from the\npreceding call to this method.  `pageToken` must be the value of\n`nextPageToken` from the previous response.  The values of other method\nparameters should be identical to those in the previous call.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
          ],
          "response": {
            "$ref": "ListMonitoredResourceDescriptorsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/logging.admin",
            "https://www.googleapis.com/auth/logging.read"
          ]
        }
      }
    }
  },
  "basePath": ""
}