{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "networkservices:v1alpha1",
  "name": "networkservices",
  "canonicalName": "NetworkServices",
  "version": "v1alpha1",
  "revision": "0",
  "title": "Network Services API",
  "description": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/networking",
  "protocol": "rest",
  "rootUrl": "https://networkservices.googleapis.com/",
  "mtlsRootUrl": "https://networkservices.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://networkservices.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "ListHttpFiltersResponse": {
      "id": "ListHttpFiltersResponse",
      "description": "Response returned by the ListHttpFilters method.",
      "type": "object",
      "properties": {
        "httpFilters": {
          "description": "List of HttpFilter resources.",
          "type": "array",
          "items": {
            "$ref": "HttpFilter"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "HttpFilter": {
      "id": "HttpFilter",
      "description": "HttpFilter is a resource representing http filter definition to be programmed in the xDS API compatible clients.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the HttpFilter resource. It matches pattern `projects\/*\/locations\/global\/httpFilters\/`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the HttpFilter resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "filterName": {
          "description": "Required. Name of the HTTP filter defined in the `config` field. It is used by the xDS API client to identify specific filter implementation the `config` must be applied to. It is different from the name of the HttpFilter resource and does not have to be unique. Example: 'envoy.wasm'.",
          "type": "string"
        },
        "configTypeUrl": {
          "description": "Required. The fully qualified versioned proto3 type url that the filter expects for its configuration. For example: 'type.googleapis.com\/envoy.config.wasm.v2.WasmService'.",
          "type": "string"
        },
        "config": {
          "description": "Required. The configuration needed to enable the HTTP filter. The configuration must be JSON formatted and only contain fields defined in the protobuf identified in config_type_url.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        }
      }
    },
    "ListEndpointPoliciesResponse": {
      "id": "ListEndpointPoliciesResponse",
      "description": "Response returned by the ListEndpointPolicies method.",
      "type": "object",
      "properties": {
        "endpointPolicies": {
          "description": "List of EndpointPolicy resources.",
          "type": "array",
          "items": {
            "$ref": "EndpointPolicy"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "EndpointPolicy": {
      "id": "EndpointPolicy",
      "description": "EndpointPolicy is a resource that helps apply desired configuration on the endpoints that match specific criteria. For example, this resource can be used to apply \"authentication config\" an all endpoints that serve on port 8080.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the EndpointPolicy resource. It matches pattern `projects\/{project}\/locations\/global\/endpointPolicies\/{endpoint_policy}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the EndpointPolicy resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "Required. The type of endpoint policy. This is primarily used to validate the configuration.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Must not be used.",
            "Represents a proxy deployed as a sidecar.",
            "Represents a proxyless gRPC backend."
          ],
          "enum": [
            "ENDPOINT_POLICY_TYPE_UNSPECIFIED",
            "SIDECAR_PROXY",
            "GRPC_SERVER"
          ]
        },
        "authorizationPolicy": {
          "description": "Optional. This field specifies the URL of AuthorizationPolicy resource that applies authorization policies to the inbound traffic at the matched endpoints. Refer to Authorization. If this field is not specified, authorization is disabled(no authz checks) for this endpoint.",
          "type": "string"
        },
        "httpFilters": {
          "description": "Optional. HTTP filters configuration for the endpoint. Applicable only when EndpointPolicyType is SIDECAR_PROXY.",
          "$ref": "HttpFilters"
        },
        "endpointMatcher": {
          "description": "Required. A matcher that selects endpoints to which the policies should be applied.",
          "$ref": "EndpointMatcher"
        },
        "trafficPortSelector": {
          "description": "Optional. Port selector for the (matched) endpoints. If no port selector is provided, the matched config is applied to all ports.",
          "$ref": "TrafficPortSelector"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "serverTlsPolicy": {
          "description": "Optional. A URL referring to ServerTlsPolicy resource. ServerTlsPolicy is used to determine the authentication policy to be applied to terminate the inbound traffic at the identified backends. If this field is not set, authentication is disabled(open) for this endpoint.",
          "type": "string"
        },
        "clientTlsPolicy": {
          "description": "Optional. A URL referring to a ClientTlsPolicy resource. ClientTlsPolicy can be set to specify the authentication for traffic from the proxy to the actual endpoints. More specifically, it is applied to the outgoing traffic from the proxy to the endpoint. This is typically used for sidecar model where the proxy identifies itself as endpoint to the control plane, with the connection between sidecar and endpoint requiring authentication. If this field is not set, authentication is disabled(open). Applicable only when EndpointPolicyType is SIDECAR_PROXY.",
          "type": "string"
        },
        "securityPolicy": {
          "description": "Optional. A URL referring to a SecurityPolicy resource. SecurityPolicy is used to enforce rate limiting policy on the inbound traffic at the identified backends. If this field is not set, rate limiting is disabled for this endpoint.",
          "type": "string"
        }
      }
    },
    "HttpFilters": {
      "id": "HttpFilters",
      "description": "HTTP filters configuration for the endpoint.",
      "type": "object",
      "properties": {
        "httpFilters": {
          "description": "Required. The list of URLs to HttpFilter resources enabled for xDS clients using this configuration. Only filters that handle inbound connection and stream events must be specified. These filters work in conjunction with a default set of HTTP filters that may already be configured by Traffic Director. Traffic Director will determine the final location of these filters within xDS configuration based on the name of the HTTP filter. If Traffic Director positions multiple filters at the same location, those filters will be in the same order as specified in this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EndpointMatcher": {
      "id": "EndpointMatcher",
      "description": "A definition of a matcher that selects endpoints to which the policies should be applied.",
      "type": "object",
      "properties": {
        "metadataLabelMatcher": {
          "description": "The matcher is based on node metadata presented by xDS clients.",
          "$ref": "MetadataLabelMatcher"
        }
      }
    },
    "MetadataLabelMatcher": {
      "id": "MetadataLabelMatcher",
      "description": "The matcher that is based on node metadata presented by xDS clients.",
      "type": "object",
      "properties": {
        "metadataLabelMatchCriteria": {
          "description": "Specifies how matching should be done. Supported values are: MATCH_ANY: At least one of the Labels specified in the matcher should match the metadata presented by xDS client. MATCH_ALL: The metadata presented by the xDS client should contain all of the labels specified here. The selection is determined based on the best match. For example, suppose there are three EndpointPolicy resources P1, P2 and P3 and if P1 has a the matcher as MATCH_ANY , P2 has MATCH_ALL , and P3 has MATCH_ALL . If a client with label connects, the config from P1 will be selected. If a client with label connects, the config from P2 will be selected. If a client with label connects, the config from P3 will be selected. If there is more than one best match, (for example, if a config P4 with selector exists and if a client with label connects), an error will be thrown.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "At least one of the Labels specified in the matcher should match the metadata presented by xDS client.",
            "The metadata presented by the xDS client should contain all of the labels specified here."
          ],
          "enum": [
            "METADATA_LABEL_MATCH_CRITERIA_UNSPECIFIED",
            "MATCH_ANY",
            "MATCH_ALL"
          ]
        },
        "metadataLabels": {
          "description": "The list of label value pairs that must match labels in the provided metadata based on filterMatchCriteria This list can have at most 64 entries. The list can be empty if the match criteria is MATCH_ANY, to specify a wildcard match (i.e this matches any client).",
          "type": "array",
          "items": {
            "$ref": "MetadataLabels"
          }
        }
      }
    },
    "MetadataLabels": {
      "id": "MetadataLabels",
      "description": "Defines a name-pair value for a single label.",
      "type": "object",
      "properties": {
        "labelName": {
          "description": "Required. Label name presented as key in xDS Node Metadata.",
          "type": "string"
        },
        "labelValue": {
          "description": "Required. Label value presented as value corresponding to the above key, in xDS Node Metadata.",
          "type": "string"
        }
      }
    },
    "TrafficPortSelector": {
      "id": "TrafficPortSelector",
      "description": "Specification of a port-based selector.",
      "type": "object",
      "properties": {
        "ports": {
          "description": "Optional. A list of ports. Can be port numbers or port range (example, [80-90] specifies all ports from 80 to 90, including 80 and 90) or named ports or * to specify all ports. If the list is empty, all ports are selected.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListEdgeCacheKeysetsResponse": {
      "id": "ListEdgeCacheKeysetsResponse",
      "description": "Response returned by the ListEdgeCacheKeysets method.",
      "type": "object",
      "properties": {
        "edgeCacheKeysets": {
          "description": "List of EdgeCacheKeyset resources.",
          "type": "array",
          "items": {
            "$ref": "EdgeCacheKeyset"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "EdgeCacheKeyset": {
      "id": "EdgeCacheKeyset",
      "description": "EdgeCacheKeyset represents a collection of public keys used for validating signed requests.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the resource; provided by the client when the resource is created. The name must be 1-64 characters long, and match the regular expression a-zA-Z* which means the first character must be a letter, and all following characters must be a dash, underscore, letter or digit.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Update timestamp in RFC3339 text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the EdgeCache resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "publicKeys": {
          "description": "Optional. An ordered list of Ed25519 public keys to use for validating signed requests. Ed25519 public keys are not secret, and only allow Google to validate a request was signed by your corresponding private key. You should ensure that the private key is kept secret, and that only authorized users can add public keys to a keyset. You can rotate keys by appending (pushing) a new key to the list of public keys, and removing any superseded keys. You must specify at least one of publicKeys and validationSharedKeys. You may specify both publicKeys and validationSharedKeys. The keys in publicKeys will be checked first. You may specify at most 1 Google-managed public key. If you specify publicKeys, you must specify at least one (1) key and may have up to three (3) keys.",
          "type": "array",
          "items": {
            "$ref": "PublicKey"
          }
        }
      }
    },
    "PublicKey": {
      "id": "PublicKey",
      "description": "An Ed25519 public key used for validating signed requests.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. The ID of the public key. The ID must be 1-64 characters long, and match the regular expression a-zA-Z* which means the first character must be a letter, and all following characters must be a dash, underscore, letter or digit.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The base64-encoded value of the Ed25519 public key. The base64 encoding can be padded (44 bytes) or unpadded (43 bytes). Representations or encodings of the public key other than this will be rejected with an error. Exactly one of value or managed must be specified.",
          "type": "string"
        }
      }
    },
    "ListEdgeCacheOriginsResponse": {
      "id": "ListEdgeCacheOriginsResponse",
      "description": "Response returned by the ListEdgeCacheOrigins method.",
      "type": "object",
      "properties": {
        "edgeCacheOrigins": {
          "description": "List of EdgeCacheOrigin resources.",
          "type": "array",
          "items": {
            "$ref": "EdgeCacheOrigin"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "EdgeCacheOrigin": {
      "id": "EdgeCacheOrigin",
      "description": "EdgeCacheOrigin represents a HTTP-reachable backend for an EdgeCacheService.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the resource; provided by the client when the resource is created. The name must be 1-64 characters long, and match the regular expression a-zA-Z* which means the first character must be a letter, and all following characters must be a dash, underscore, letter or digit.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Update timestamp in RFC3339 text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the EdgeCache resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "originAddress": {
          "description": "Required. A fully qualified domain name (FQDN) or IP address reachable over the public Internet, or the address of a Google Cloud Storage bucket. This address will be used as the origin for cache requests. For example: - FQDN: media-backend.example.com - IPv4: 35.218.1.1 - IPv6: 2607:f8b0:4012:809::200e - Google Cloud Storage: gs:\/\/bucketname or bucketname.storage.googleapis.com When providing an FQDN (hostname), it must be publicly resolvable (e.g. via Google public DNS). It must not contain a protocol (e.g. https:\/\/) and it must not contain any slashes. When providing an IP address, it must be publicly routable. IPv6 addresses should not be enclosed in square brackets.",
          "type": "string"
        },
        "protocol": {
          "description": "Optional. The protocol to use to connect to the configured origin. Defaults to HTTP2, and it is strongly recommended that users use HTTP2 for both security & performance. When using HTTP2 or HTTPS as the protocol, a valid, publicly-signed, unexpired TLS (SSL) certificate must be presented by the origin server.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value. Will default to HTTP2.",
            "The HTTP\/2 protocol. HTTP\/2 refers to \"h2\", which requires TLS (HTTPS). Requires a valid (public, unexpired) TLS certificate to be present on the origin.",
            "HTTP\/1.1 with TLS (SSL). Requires a valid (public, unexpired) TLS certificate to be present on the origin.",
            "HTTP without TLS (SSL). This is not recommended, as communication outside of Google's network will be unencrypted to the public endpoint (origin)."
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "HTTP2",
            "HTTPS",
            "HTTP"
          ]
        },
        "port": {
          "description": "Optional. The port to connect to the origin on. Defaults to port 443 for HTTP2 and HTTPS protocols, and port 80 for HTTP.",
          "type": "integer",
          "format": "int32"
        },
        "maxAttempts": {
          "description": "Optional. The maximum number of attempts to cache fill from this origin. Another attempt is made when a cache fill fails with one of the retry_conditions. Once max_attempts to this origin have failed the failover_origin will be used, if one is specified. That failover_origin may specify its own max_attempts, retry_conditions and failover_origin to control its own cache fill failures. The total number of allowed attempts to cache fill across this and failover origins is limited to four. The total time allowed for cache fill attempts across this and failover origins can be controlled with max_attempts_timeout. The last valid, non-retried response from all origins will be returned to the client. If no origin returns a valid response, an HTTP 502 will be returned to the client. Defaults to 1. Must be a value greater than 0 and less than 4.",
          "type": "integer",
          "format": "int32"
        },
        "failoverOrigin": {
          "description": "Optional. The EdgeCacheOrigin resource to try when the current origin cannot be reached. After maxAttempts is reached, the configured failoverOrigin will be used to fulfil the request. The following are both valid paths to an EdgeCacheOrigin resource: * projects\/my-project\/locations\/global\/edgeCacheOrigins\/my-origin * my-origin The value of timeout.maxAttemptsTimeout dictates the timeout across all origins.",
          "type": "string"
        },
        "retryConditions": {
          "description": "Optional. Specifies one or more retry conditions for the configured origin. If the failure mode during a connection attempt to the origin matches the configured retryCondition(s), the origin request will be retried up to maxAttempts times. The failoverOrigin, if configured, will then be used to satisfy the request. The default retryCondition is \"CONNECT_FAILURE\". retryConditions apply to this origin, and not subsequent failoverOrigin(s), which may specify their own retryConditions and maxAttempts. Valid values are: - CONNECT_FAILURE: Retry on failures connecting to origins, for example due to connection timeouts. - HTTP_5XX: Retry if the origin responds with any 5xx response code, or if the origin does not respond at all, example: disconnects, reset, read timeout, connection failure, and refused streams. - GATEWAY_ERROR: Similar to 5xx, but only applies to response codes 502, 503 or 504. - RETRIABLE_4XX: Retry for retriable 4xx response codes, which include HTTP 409 (Conflict) and HTTP 429 (Too Many Requests) - NOT_FOUND: Retry if the origin returns a HTTP 404 (Not Found). This can be useful when generating video content, and the segment is not available yet. - FORBIDDEN: Retry if the origin returns a HTTP 403 (Forbidden). This can be useful for origins that return 403 (instead of 404) for missing conent for security reasons.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified",
              "Retry on failures include routing, DNS and TLS handshake errors, as well as TCP\/UDP timeouts.",
              "Retry on any 5xx response code.",
              "Similar to 5xx, but only applies to response codes 502, 503 or 504.",
              "Retry for retriable 4xx response codes, including 409 and 429.",
              "Retry on a HTTP 404.",
              "Retry on 403."
            ],
            "enum": [
              "RETRY_CONDITIONS_UNSPECIFIED",
              "CONNECT_FAILURE",
              "HTTP_5XX",
              "GATEWAY_ERROR",
              "RETRIABLE_4XX",
              "NOT_FOUND",
              "FORBIDDEN"
            ]
          }
        },
        "timeout": {
          "description": "Optional. The connection and HTTP timeout configuration for this origin.",
          "$ref": "Timeout"
        }
      }
    },
    "Timeout": {
      "id": "Timeout",
      "description": "The timeout configuration for this origin.",
      "type": "object",
      "properties": {
        "connectTimeout": {
          "description": "Optional. The maximum duration to wait for a single origin connection to be established, including DNS lookup, TLS handshake and TCP\/QUIC connection establishment. Defaults to 5 seconds. The timeout must be a value between 1s and 15s. The connectTimeout capped by the deadline set by the request's maxAttemptsTimeout. The last connection attempt may have a smaller connectTimeout in order to adhere to the overall maxAttemptsTimeout.",
          "type": "string",
          "format": "google-duration"
        },
        "maxAttemptsTimeout": {
          "description": "Optional. The maximum time across all connection attempts to all origins, including failover origins, before returning an error to the client. A HTTP 504 will be returned if the timeout is reached before a response is returned. Defaults to 15 seconds. The timeout must be a value between 1s and 30s. If a failoverOrigin is specified, the maxAttemptsTimeout of the first configured origin sets the deadline for all connection attempts across all failoverOrigins.",
          "type": "string",
          "format": "google-duration"
        },
        "responseTimeout": {
          "description": "Optional. The maximum duration to wait for the last byte of a response to arrive when reading from the HTTP connection\/stream. Defaults to 30 seconds. The timeout must be a value between 1s and 120s. The responseTimeout starts after the connection has been established. This also applies to HTTP Chunked Transfer Encoding responses, and\/or when an open-ended Range request is made to the origin. Origins that take longer to write additional bytes to the response than the configured responseTimeout will result in an error being returned to the client. If the response headers have already been written to the connection, the response will be truncated and logged.",
          "type": "string",
          "format": "google-duration"
        },
        "readTimeout": {
          "description": "Optional. The maximum duration to wait between reads of a single HTTP connection\/stream. Defaults to 15 seconds. The timeout must be a value between 1s and 30s. The readTimeout is capped by the responseTimeout. All reads of the HTTP connection\/stream must be completed by the deadline set by the responseTimeout. If the response headers have already been written to the connection, the response will be truncated and logged.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "ListEdgeCacheServicesResponse": {
      "id": "ListEdgeCacheServicesResponse",
      "description": "Response returned by the ListEdgeCacheServices method.",
      "type": "object",
      "properties": {
        "edgeCacheServices": {
          "description": "List of EdgeCacheService resources.",
          "type": "array",
          "items": {
            "$ref": "EdgeCacheService"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "EdgeCacheService": {
      "id": "EdgeCacheService",
      "description": "EdgeCacheService defines the IP addresses, protocols, security policies, cache policies and routing configuration.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the resource; provided by the client when the resource is created. The name must be 1-64 characters long, and match the regular expression a-zA-Z* which means the first character must be a letter, and all following characters must be a dash, underscore, letter or digit.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Update timestamp in RFC3339 text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the EdgeCache resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "disableQuic": {
          "description": "Optional. HTTP\/3 (IETF QUIC) and Google QUIC are enabled by default.",
          "type": "boolean"
        },
        "disableHttp2": {
          "description": "Optional. Disables HTTP\/2. HTTP\/2 (h2) is enabled by default and recommended for performance. HTTP\/2 improves connection re-use and reduces connection setup overhead by sending multiple streams over the same connection. Some legacy HTTP clients may have issues with HTTP\/2 connections due to broken HTTP\/2 implementations. Setting this to 'true' will prevent HTTP\/2 from being advertised and negotiated.",
          "type": "boolean"
        },
        "requireTls": {
          "description": "Optional. Require TLS (HTTPS) for all clients connecting to this service. Clients who connect over HTTP (port 80) will receive a HTTP 301 to the same URL over HTTPS (port 443). You must have at least one (1) edgeSslCertificate specified to enable this.",
          "type": "boolean"
        },
        "edgeSslCertificates": {
          "description": "Optional. Certificate resources that are used to authenticate connections between users and the EdgeCacheService. Note that only \"global\" certificates with a \"scope\" of \"EDGE_CACHE\" can be attached to an EdgeCacheService. The following are both valid paths to a Certificate resource: * `projects\/project\/locations\/global\/certificates\/media-example-com-cert` * `media-example-com-cert` You may specify up to 5 SSL certificates.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipv4Addresses": {
          "description": "Output only. The IPv4 addresses associated with this service. Addresses are static for the lifetime of the service. IP addresses provisioned via Bring-Your-Own-IP (BYOIP) are not supported.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipv6Addresses": {
          "description": "Output only. The IPv6 addresses associated with this service. Addresses are static for the lifetime of the service. IP addresses provisioned via Bring-Your-Own-IP (BYOIP) are not supported.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "routing": {
          "description": "Required. Defines how requests are routed, modified, cached and\/or which origin content is filled from.",
          "$ref": "Routing"
        },
        "logConfig": {
          "description": "Optional. Specifies the logging options for the traffic served by this service. If logging is enabled, logs will be exported to Cloud Logging.",
          "$ref": "LogConfig"
        },
        "edgeSecurityPolicy": {
          "description": "Optional. Resource URL that points at the Cloud Armor edge security policy that is applied on each request against the EdgeCacheService.",
          "type": "string"
        }
      }
    },
    "Routing": {
      "id": "Routing",
      "description": "Defines how requests are routed, modified, cached and\/or which origin content is filled from.",
      "type": "object",
      "properties": {
        "hostRules": {
          "description": "Required. The list of hostRules to match against. These rules define which hostnames the EdgeCacheService will match against, and which route configurations apply. You may specify up to 5 host rules.",
          "type": "array",
          "items": {
            "$ref": "HostRule"
          }
        },
        "pathMatchers": {
          "description": "Required. The list of pathMatchers referenced via name by hostRules. PathMatcher is used to match the path portion of the URL when a HostRule matches the URL's host portion. You may specify up to 10 path matchers.",
          "type": "array",
          "items": {
            "$ref": "PathMatcher"
          }
        }
      }
    },
    "HostRule": {
      "id": "HostRule",
      "description": "The hostname configured for the EdgeCacheService. A hostRule associates a hostname (or hostnames) with a set of routing rules, which define path- and header- based configuration.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. A human-readable description of the hostRule.",
          "type": "string"
        },
        "hosts": {
          "description": "Required. The list of host patterns to match. Host patterns must be valid hostnames. Ports are not allowed. Wildcard hosts are supported in the suffix or prefix form. * matches any string of ([a-z0-9-.]*). It does not match the empty string. When multiple hosts are specified, hosts are matched in the following priority: 1. Exact domain names: ``www.foo.com``. 2. Suffix domain wildcards: ``*.foo.com`` or ``*-bar.foo.com``. 3. Prefix domain wildcards: ``foo.*`` or ``foo-*``. 4. Special wildcard ``*`` matching any domain. Notes: The wildcard will not match the empty string. e.g. ``*-bar.foo.com`` will match ``baz-bar.foo.com`` but not ``-bar.foo.com``. The longest wildcards match first. Only a single host in the entire service can match on ``*``. A domain must be unique across all configured hosts within a service. Hosts are matched against the HTTP Host header, or for HTTP\/2 and HTTP\/3, the \":authority\" header, from the incoming request. You may specify up to 10 hosts.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pathMatcher": {
          "description": "Required. The name of the pathMatcher associated with this hostRule.",
          "type": "string"
        }
      }
    },
    "PathMatcher": {
      "id": "PathMatcher",
      "description": "The name of the PathMatcher to use to match the path portion of the URL if the hostRule matches the URL's host portion.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name to which this PathMatcher is referred by the HostRule.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "routeRules": {
          "description": "Required. The routeRules to match against. routeRules support advanced routing behaviour, and can match on paths, headers and query parameters, as well as status codes and HTTP methods. You must specify at least one (1) rule, and can specify a maximum of 64 rules. Route rules must not have duplicate priority values.",
          "type": "array",
          "items": {
            "$ref": "RouteRule"
          }
        }
      }
    },
    "RouteRule": {
      "id": "RouteRule",
      "description": "RouteRule defines the priority of a given \"route\", including its match conditions and the actions to take on a request that matches.",
      "type": "object",
      "properties": {
        "origin": {
          "description": "Optional. The EdgeCacheOrigin resource that requests to this route should fetch from when a matching response is not in cache. The following are both valid paths to an EdgeCacheOrigin resource: * projects\/my-project\/locations\/global\/edgeCacheOrigins\/my-origin * my-origin Only one of origin or urlRedirect can be set.",
          "type": "string"
        },
        "urlRedirect": {
          "description": "Optional. The URL redirect configuration for requests that match this route. Only one of origin or urlRedirect can be set.",
          "$ref": "UrlRedirect"
        },
        "priority": {
          "description": "Required. The priority of this route rule, where 1 is the highest priority. You cannot configure two or more routeRules with the same priority. Priority for each rule must be set to a number between 1 and 999 inclusive. Priority numbers can have gaps, which enable you to add or remove rules in the future without affecting the rest of the rules. For example, 1, 2, 3, 4, 5, 9, 12, 16 is a valid series of priority numbers to which you could add rules numbered from 6 to 8, 10 to 11, and 13 to 15 in the future without any impact on existing rules.",
          "type": "string",
          "format": "int64"
        },
        "description": {
          "description": "Optional. A human-readable description of the routeRule.",
          "type": "string"
        },
        "matchRules": {
          "description": "Required. The list of criteria for matching attributes of a request to this routeRule. This list has OR semantics: the request matches this routeRule when any of the matchRules are satisfied. However predicates within a given matchRule have AND semantics. All predicates within a matchRule must match for the request to match the rule. You may specify up to 5 match rules.",
          "type": "array",
          "items": {
            "$ref": "MatchRule"
          }
        },
        "headerAction": {
          "description": "Optional. The header actions, including adding & removing headers, for requests that match this route.",
          "$ref": "HeaderAction"
        },
        "routeAction": {
          "description": "Optional. In response to a matching path, the routeAction performs advanced routing actions like URL rewrites, header transformations, etc. prior to forwarding the request to the selected origin.",
          "$ref": "RouteAction"
        }
      }
    },
    "UrlRedirect": {
      "id": "UrlRedirect",
      "description": "UrlRedirect defines HTTP redirect configuration for a given request.",
      "type": "object",
      "properties": {
        "pathRedirect": {
          "description": "Optional. The path that will be used in the redirect response instead of the one that was supplied in the request. pathRedirect cannot be supplied together with prefixRedirect. Supply one alone or neither. If neither is supplied, the path of the original request will be used for the redirect. The path value must be between 1 and 1024 characters.",
          "type": "string"
        },
        "prefixRedirect": {
          "description": "Optional. The prefix that replaces the prefixMatch specified in the routeRule, retaining the remaining portion of the URL before redirecting the request. prefixRedirect cannot be supplied together with pathRedirect. Supply one alone or neither. If neither is supplied, the path of the original request will be used for the redirect. The prefix value must be between 1 and 1024 characters.",
          "type": "string"
        },
        "hostRedirect": {
          "description": "Optional. The host that will be used in the redirect response instead of the one that was supplied in the request. The value must be between 1 and 255 characters.",
          "type": "string"
        },
        "redirectResponseCode": {
          "description": "Optional. The HTTP Status code to use for this RedirectAction. The supported values are: - MOVED_PERMANENTLY_DEFAULT, which is the default value and corresponds to 301. - FOUND, which corresponds to 302. - SEE_OTHER which corresponds to 303. - TEMPORARY_REDIRECT, which corresponds to 307. in this case, the request method will be retained. - PERMANENT_REDIRECT, which corresponds to 308. in this case, the request method will be retained.",
          "type": "string",
          "enumDescriptions": [
            "HTTP 301 Moved Permanently",
            "HTTP 302 Found",
            "HTTP 303 See Other",
            "HTTP 307 Temporary Redirect",
            "HTTP 308 Permanent Redirect"
          ],
          "enum": [
            "MOVED_PERMANENTLY_DEFAULT",
            "FOUND",
            "SEE_OTHER",
            "TEMPORARY_REDIRECT",
            "PERMANENT_REDIRECT"
          ]
        },
        "httpsRedirect": {
          "description": "Optional. If set to true, the URL scheme in the redirected request is set to https. If set to false, the URL scheme of the redirected request will remain the same as that of the request. This can only be set if there is at least one (1) edgeSslCertificate set on the service.",
          "type": "boolean"
        },
        "stripQuery": {
          "description": "Optional. If set to true, any accompanying query portion of the original URL is removed prior to redirecting the request. If set to false, the query portion of the original URL is retained. The default is set to false.",
          "type": "boolean"
        }
      }
    },
    "MatchRule": {
      "id": "MatchRule",
      "description": "MatchRule is a collection of match conditions (e.g. query, header, URI) for a request.",
      "type": "object",
      "properties": {
        "prefixMatch": {
          "description": "Optional. For satisfying the matchRule condition, the request's path must begin with the specified prefixMatch. prefixMatch must begin with a \/. The value must be between 1 and 1024 characters (inclusive). Exactly one of prefixMatch, fullPathMatch, or pathTemplateMatch must be specified.",
          "type": "string"
        },
        "fullPathMatch": {
          "description": "Optional. For satisfying the matchRule condition, the path of the request must exactly match the value specified in fullPathMatch after removing any query parameters and anchor that may be part of the original URL. fullPathMatch must begin with a \/. The value must be between 1 and 1024 characters (inclusive). Exactly one of prefixMatch, fullPathMatch, or pathTemplateMatch must be specified.",
          "type": "string"
        },
        "pathTemplateMatch": {
          "description": "Optional. For satisfying the matchRule condition, the path of the request must match the wildcard pattern specified in pathTemplateMatch after removing any query parameters and anchor that may be part of the original URL. pathTemplateMatch must be between 1 and 255 characters (inclusive). The pattern specified by pathTemplateMatch may have at most 5 wildcard operators and at most 5 variable captures in total. Exactly one of prefixMatch, fullPathMatch, or pathTemplateMatch must be specified.",
          "type": "string"
        },
        "ignoreCase": {
          "description": "Optional. Specifies that prefixMatch and fullPathMatch matches are case sensitive. The default value is false.",
          "type": "boolean"
        },
        "headerMatches": {
          "description": "Optional. Specifies a list of header match criteria, all of which must match corresponding headers in the request. You may specify up to 3 headers to match on.",
          "type": "array",
          "items": {
            "$ref": "HeaderMatch"
          }
        },
        "queryParameterMatches": {
          "description": "Optional. Specifies a list of query parameter match criteria, all of which must match corresponding query parameters in the request. You may specify up to 5 query parameters to match on.",
          "type": "array",
          "items": {
            "$ref": "QueryParameterMatcher"
          }
        }
      }
    },
    "HeaderMatch": {
      "id": "HeaderMatch",
      "description": "HeaderMatch defines the match conditions for HTTP request headers.",
      "type": "object",
      "properties": {
        "presentMatch": {
          "description": "Optional. A header with the contents of headerName must exist. The match takes place whether or not the request's header has a value. Only one of exactMatch, prefixMatch, suffixMatch or presentMatch must be set.",
          "type": "boolean"
        },
        "exactMatch": {
          "description": "Optional. The value of the header should exactly match contents of exactMatch. Only one of exactMatch, prefixMatch, suffixMatch or presentMatch must be set.",
          "type": "string"
        },
        "prefixMatch": {
          "description": "Optional. The value of the header must start with the contents of prefixMatch. Only one of exactMatch, prefixMatch, suffixMatch or presentMatch must be set.",
          "type": "string"
        },
        "suffixMatch": {
          "description": "Optional. The value of the header must end with the contents of suffixMatch. Only one of exactMatch, prefixMatch, suffixMatch or presentMatch must be set.",
          "type": "string"
        },
        "headerName": {
          "description": "Required. The header name to match on.",
          "type": "string"
        },
        "invertMatch": {
          "description": "Optional. If set to false (default), the headerMatch is considered a match if the match criteria above are met. If set to true, the headerMatch is considered a match if the match criteria above are NOT met. The default setting is false.",
          "type": "boolean"
        }
      }
    },
    "QueryParameterMatcher": {
      "id": "QueryParameterMatcher",
      "description": "QueryParameterMatcher defines the match conditions for URI query parameters.",
      "type": "object",
      "properties": {
        "presentMatch": {
          "description": "Optional. Specifies that the queryParameterMatch matches if the request contains the query parameter, irrespective of whether the parameter has a value or not. Only one of presentMatch or exactMatch must be set.",
          "type": "boolean"
        },
        "exactMatch": {
          "description": "Optional. The queryParameterMatch matches if the value of the parameter exactly matches the contents of exactMatch. The match value must be between 1 and 64 characters long (inclusive). Only one of presentMatch or exactMatch must be set.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the query parameter to match. The query parameter must exist in the request, in the absence of which the request match fails. The name must be specified and be between 1 and 32 characters long (inclusive).",
          "type": "string"
        }
      }
    },
    "HeaderAction": {
      "id": "HeaderAction",
      "description": "HeaderAction defines the addition and removal of HTTP headers for requests\/responses.",
      "type": "object",
      "properties": {
        "requestHeadersToAdd": {
          "description": "Optional. Describes a header to add. You may add a maximum of 5 request headers.",
          "type": "array",
          "items": {
            "$ref": "HeaderActionAddHeader"
          }
        },
        "responseHeadersToAdd": {
          "description": "Optional. Headers to add to the response prior to sending it back to the client. You may add a maximum of 5 response headers. Response headers are only sent to the client, and do not have an effect on the cache serving the response.",
          "type": "array",
          "items": {
            "$ref": "HeaderActionAddHeader"
          }
        },
        "requestHeadersToRemove": {
          "description": "Optional. A list of header names for headers that need to be removed from the request prior to forwarding the request to the origin. You may specify up to 10 request headers to remove.",
          "type": "array",
          "items": {
            "$ref": "HeaderActionRemoveHeader"
          }
        },
        "responseHeadersToRemove": {
          "description": "Optional. Headers to remove from the response prior to sending it back to the client. Response headers are only sent to the client, and do not have an effect on the cache serving the response. You may specify up to 10 response headers to remove.",
          "type": "array",
          "items": {
            "$ref": "HeaderActionRemoveHeader"
          }
        }
      }
    },
    "HeaderActionAddHeader": {
      "id": "HeaderActionAddHeader",
      "description": "Describes a header to add.",
      "type": "object",
      "properties": {
        "headerName": {
          "description": "Required. The name of the header to add.",
          "type": "string"
        },
        "headerValue": {
          "description": "Required. The value of the header to add.",
          "type": "string"
        },
        "replace": {
          "description": "Optional. Whether to replace all existing headers with the same name.",
          "type": "boolean"
        }
      }
    },
    "HeaderActionRemoveHeader": {
      "id": "HeaderActionRemoveHeader",
      "description": "Describes a header to remove.",
      "type": "object",
      "properties": {
        "headerName": {
          "description": "Required. The name of the header to remove.",
          "type": "string"
        }
      }
    },
    "RouteAction": {
      "id": "RouteAction",
      "description": "RouteAction defines the actions (rewrites, redirects, CORS header injection, header modification) to take for a given route match.",
      "type": "object",
      "properties": {
        "cdnPolicy": {
          "description": "Optional. The policy to use for defining caching and signed request behaviour for requests that match this route.",
          "$ref": "CDNPolicy"
        },
        "urlRewrite": {
          "description": "Optional. The URL rewrite configuration for requests that match this route.",
          "$ref": "UrlRewrite"
        },
        "corsPolicy": {
          "description": "Optional. The CORS (Cross-Origin Resource Sharing) policy for requests that match this route.",
          "$ref": "CORSPolicy"
        }
      }
    },
    "CDNPolicy": {
      "id": "CDNPolicy",
      "description": "The CDNPolicy to apply to the configured route.",
      "type": "object",
      "properties": {
        "cacheMode": {
          "description": "Optional. Cache modes allow users to control the behaviour of the cache, what content it should cache automatically, whether to respect origin headers, or whether to unconditionally cache all responses. For all cache modes, Cache-Control headers will be passed to the client. Use clientTtl to override what is sent to the client.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value. Will default to CACHE_ALL_STATIC.",
            "Automatically cache static content, including common image formats, media (video & audio), web assets (JavaScript & CSS). Requests and responses that are marked as uncacheable, as well as dynamic content (including HTML), will not be cached.",
            "Only cache responses with valid HTTP caching directives. Responses without these headers will not be cached at Google's edge, and will require a full trip to the origin on every request, potentially impacting performance and increasing load on the origin server.",
            "Cache all content, ignoring any \"private\", \"no-store\" or \"no-cache\" directives in Cache-Control response headers. Warning: this may result in caching private, per-user (user identifiable) content. You should only enable this on backends that are not serving private or dynamic content, such as storage buckets.",
            "Bypass all caching for requests that match routes with this CDNPolicy applied. Enabling this will cause the edge cache to ignore all HTTP caching directives. All responses will be fulfilled from the origin."
          ],
          "enum": [
            "CACHE_MODE_UNSPECIFIED",
            "CACHE_ALL_STATIC",
            "USE_ORIGIN_HEADERS",
            "FORCE_CACHE_ALL",
            "BYPASS_CACHE"
          ]
        },
        "clientTtl": {
          "description": "Optional. Specifies a separate client (e.g. browser client) TTL, separate from the TTL used by the edge caches. Leaving this empty will use the same cache TTL for both the CDN and the client-facing response. - The TTL must be > 0 and <= 86400s (1 day) - The clientTtl cannot be larger than the defaultTtl (if set) - Fractions of a second are not allowed. Omit this field to use the defaultTtl, or the max-age set by the origin, as the client-facing TTL. When the cache mode is set to \"USE_ORIGIN_HEADERS\" or \"BYPASS_CACHE\", you must omit this field.",
          "type": "string",
          "format": "google-duration"
        },
        "defaultTtl": {
          "description": "Optional. Specifies the default TTL for cached content served by this origin for responses that do not have an existing valid TTL (max-age or s-max-age). Defaults to 3600s (1 hour). - The TTL must be >= 0 and <= 31,536,000 seconds (1 year) - Setting a TTL of \"0\" means \"always revalidate\" (equivalent to must-revalidate) - The value of defaultTTL cannot be set to a value greater than that of maxTTL. - Fractions of a second are not allowed. - When the cacheMode is set to FORCE_CACHE_ALL, the defaultTTL will overwrite the TTL set in all responses. Note that infrequently accessed objects may be evicted from the cache before the defined TTL. Objects that expire will be revalidated with the origin. When the cache mode is set to \"USE_ORIGIN_HEADERS\" or \"BYPASS_CACHE\", you must omit this field.",
          "type": "string",
          "format": "google-duration"
        },
        "maxTtl": {
          "description": "Optional. Specifies the maximum allowed TTL for cached content served by this origin. Defaults to 86400s (1 day). Cache directives that attempt to set a max-age or s-maxage higher than this, or an Expires header more than maxTtl seconds in the future will be capped at the value of maxTTL, as if it were the value of an s-maxage Cache-Control directive. - The TTL must be >= 0 and <= 31,536,000 seconds (1 year) - Setting a TTL of \"0\" means \"always revalidate\" - The value of maxTtl must be equal to or greater than defaultTtl. - Fractions of a second are not allowed. When the cache mode is set to \"USE_ORIGIN_HEADERS\", \"FORCE_CACHE_ALL\", or \"BYPASS_CACHE\", you must omit this field.",
          "type": "string",
          "format": "google-duration"
        },
        "cacheKeyPolicy": {
          "description": "Optional. Defines the request parameters that contribute to the cache key.",
          "$ref": "CDNPolicyCacheKeyPolicy"
        },
        "negativeCaching": {
          "description": "Optional. Negative caching allows per-status code TTLs to be set, in order to apply fine-grained caching for common errors or redirects. This can reduce the load on your origin and improve end-user experience by reducing response latency. By default, the CDNPolicy will apply the following default TTLs to these status codes: - HTTP 300 (Multiple Choice), 301, 308 (Permanent Redirects): 10m - HTTP 404 (Not Found), 410 (Gone), 451 (Unavailable For Legal Reasons): 120s - HTTP 405 (Method Not Found), 414 (URI Too Long), 501 (Not Implemented): 60s These defaults can be overridden in negativeCachingPolicy",
          "type": "boolean"
        },
        "negativeCachingPolicy": {
          "description": "Optional. Sets a cache TTL for the specified HTTP status code. negativeCaching must be enabled to configure negativeCachingPolicy. - Omitting the policy and leaving negativeCaching enabled will use the default TTLs for each status code, defined in negativeCaching. - TTLs must be >= 0 (where 0 is \"always revalidate\") and <= 86400s (1 day) Only HTTP redirection (3xx), client error (4xx), and server error (5xx) status codes may be set. Note that when specifying an explicit negativeCachingPolicy, you should take care to specify a cache TTL for all response codes that you wish to cache. The CDNPolicy will not apply any default negative caching when a policy exists.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "google-duration"
          }
        },
        "signedRequestMode": {
          "description": "Optional. Whether to enforce signed requests. The default value is DISABLED, which means all content is public, and does not authorize access. You must also set a signedRequestKeyset to enable signed requests. When set to REQUIRE_SIGNATURES, all matching requests will have their signature validated. Requests that were not signed with the corresponding private key, or that are otherwise invalid (expired, do not match the signature, IP address, or header) will be rejected with a HTTP 403 and (if enabled) logged.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value. Will default to DISABLED.",
            "Do not enforce signed requests.",
            "Enforce signed requests. All requests must have a valid signature. Requests that are missing the signature (URL or cookie -based) will be rejected as if the signature was invalid."
          ],
          "enum": [
            "SIGNED_REQUEST_MODE_UNSPECIFIED",
            "DISABLED",
            "REQUIRE_SIGNATURES"
          ]
        },
        "signedRequestKeyset": {
          "description": "Optional. The EdgeCacheKeyset containing the set of public keys used to validate signed requests at the edge. The following are both valid paths to an EdgeCacheKeyset resource: * projects\/project\/locations\/global\/edgeCacheKeysets\/yourKeyset * yourKeyset signedRequestMode must be set to a value other than DISABLED when a keyset is provided.",
          "type": "string"
        }
      }
    },
    "CDNPolicyCacheKeyPolicy": {
      "id": "CDNPolicyCacheKeyPolicy",
      "description": "Defines the request parameters that contribute to the cache key.",
      "type": "object",
      "properties": {
        "includeProtocol": {
          "description": "Optional. If true, http and https requests will be cached separately.",
          "type": "boolean"
        },
        "includeQueryString": {
          "description": "Optional. If true, include query string parameters in the cache key according to includeQueryParameters and excludeQueryParameters. If neither is set, the entire query string will be included. If false, the query string will be excluded from the cache key entirely.",
          "type": "boolean"
        },
        "excludeQueryString": {
          "description": "Optional. If true, exclude query string parameters from the cache key. If false (the default), include the query string parameters in the cache key according to includeQueryParameters and excludeQueryParameters. If neither includeQueryParameters nor excludeQueryParameters is set, the entire query string will be included.",
          "type": "boolean"
        },
        "excludeHost": {
          "description": "Optional. If true, requests to different hosts will be cached separately. Note: this should only be enabled if hosts share the same origin and content. Removing the host from the cache key may inadvertently result in different objects being cached than intended, depending on which route the first user matched.",
          "type": "boolean"
        },
        "includedQueryParameters": {
          "description": "Optional. Names of query string parameters to include in cache keys. All other parameters will be excluded. Either specify includedQueryParameters or excludedQueryParameters, not both. '&' and '=' will be percent encoded and not treated as delimiters. You may include up to 10 query parameters. Each query parameter name must be between 1 and 32 characters long (inclusive).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedQueryParameters": {
          "description": "Optional. Names of query string parameters to exclude from cache keys. All other parameters will be included. Either specify includedQueryParameters or excludedQueryParameters, not both. '&' and '=' will be percent encoded and not treated as delimiters. You may exclude up to 10 query parameters. Each query parameter name must be between 1 and 32 characters long (inclusive).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includedHeaderNames": {
          "description": "Optional. Names of HTTP request headers to include in cache keys. The value of the header field will be used as part of the cache key. - Header names must be valid HTTP RFC 7230 header field values. - Header field names are case insensitive - You may specify up to five header names. - To include the HTTP method, use \":method\" Refer to the documentation for the allowed list of header names. Note that specifying several headers, and\/or headers that have a large range of values (e.g. per-user) will dramatically impact the cache hit rate, and may result in a higher eviction rate and reduced performance. You may specify up to 5 header names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includedCookieNames": {
          "description": "Optional. Names of Cookies to include in cache keys. The cookie name and cookie value of each cookie named will be used as part of the cache key. Cookie names: - must be valid RFC 6265 \"cookie-name\" tokens - are case sensitive - cannot start with \"Edge-Cache-\" (case insensitive) Note that specifying several cookies, and\/or cookies that have a large range of values (e.g., per-user) will dramatically impact the cache hit rate, and may result in a higher eviction rate and reduced performance. You may specify up to three cookie names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UrlRewrite": {
      "id": "UrlRewrite",
      "description": "UrlRewrite defines URL rewrite configuration for a given request.",
      "type": "object",
      "properties": {
        "pathPrefixRewrite": {
          "description": "Optional. Prior to forwarding the request to the selected origin, the matching portion of the request's path is replaced by pathPrefixRewrite. If specified, the path value must start with a \/ and be between 1 and 1024 characters long (inclusive). pathPrefixRewrite may only be used when all of a route's MatchRules specify prefixMatch or fullPathMatch. Only one of pathPrefixRewrite and pathTemplateRewrite may be specified.",
          "type": "string"
        },
        "pathTemplateRewrite": {
          "description": "Optional. Prior to forwarding the request to the selected origin, if the request matched a pathTemplateMatch, the matching portion of the request's path is replaced re-written using the pattern specified by pathTemplateRewrite. pathTemplateRewrite must be between 1 and 255 characters (inclusive), must start with a '\/', and must only use variables captured by the route's pathTemplate matchers. pathTemplateRewrite may only be used when all of a route's MatchRules specify pathTemplate. Only one of pathPrefixRewrite and pathTemplateRewrite may be specified.",
          "type": "string"
        },
        "hostRewrite": {
          "description": "Optional. Prior to forwarding the request to the selected origin, the request's host header is replaced with contents of hostRewrite. The host value must be between 1 and 255 characters.",
          "type": "string"
        }
      }
    },
    "CORSPolicy": {
      "id": "CORSPolicy",
      "description": "CORSPolicy defines Cross-Origin-Resource-Sharing configuration, including which CORS response headers will be set.",
      "type": "object",
      "properties": {
        "maxAge": {
          "description": "Required. Specifies how long results of a preflight request can be cached by a client in seconds. Note that many browser clients enforce a maximum TTL of 600s (10 minutes). - Setting the value to -1 forces a pre-flight check for all requests (not recommended) - A maximum TTL of 86400s can be set, but note that (as above) some clients may force pre-flight checks at a more regular interval. This translates to the Access-Control-Max-Age header.",
          "type": "string",
          "format": "google-duration"
        },
        "allowCredentials": {
          "description": "Optional. In response to a preflight request, setting this to true indicates that the actual request can include user credentials. This translates to the Access-Control-Allow-Credentials response header.",
          "type": "boolean"
        },
        "allowOrigins": {
          "description": "Optional. Specifies the list of origins that will be allowed to do CORS requests. This translates to the Access-Control-Allow-Origin response header. You may specify up to 5 allowed origins.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowMethods": {
          "description": "Optional. Specifies the content for the Access-Control-Allow-Methods response header. You may specify up to 5 allowed methods.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowHeaders": {
          "description": "Optional. Specifies the content for the Access-Control-Allow-Headers response header. You may specify up to 5 headers to include in the Access-Control-Allow-Headers header.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exposeHeaders": {
          "description": "Optional. Specifies the content for the Access-Control-Expose-Headers response header. You may specify up to 5 headers to expose in the Access-Control-Expose-Headers header.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "description": "Optional. If true, specifies the CORS policy is disabled. The default value is false, which indicates that the CORS policy is in effect.",
          "type": "boolean"
        }
      }
    },
    "LogConfig": {
      "id": "LogConfig",
      "description": "Specifies the logging options for the traffic served by this service. If logging is enabled, logs will be exported to Cloud Logging.",
      "type": "object",
      "properties": {
        "enable": {
          "description": "Optional. Specifies whether to enable logging for traffic served by this service. Defaults to false.",
          "type": "boolean"
        },
        "sampleRate": {
          "description": "Optional. Configures the sampling rate of requests, where 1.0 means all logged requests are reported and 0.0 means no logged requests are reported. The default value is 1.0, and the value of the field must be in [0, 1]. This field can only be specified if logging is enabled for this service.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "InvalidateCacheRequest": {
      "id": "InvalidateCacheRequest",
      "description": "Request used by the InvalidateCache method.",
      "type": "object",
      "properties": {
        "host": {
          "description": "The hostname to invalidate against. You can specify an exact or wildcard host - e.g. \"video.example.com\" or \"*.example.com\" - based on host component.",
          "type": "string"
        },
        "path": {
          "description": "The path to invalidate against. You can specify an exact or wildcard path - e.g. \"\/videos\/hls\/139123.mp4\" or \"\/manifests\/*\" - based on path component.",
          "type": "string"
        },
        "cacheTags": {
          "description": "A list of cache tags used to identify cached objects. Cache tags are specified when the response is first cached, by setting the \"Cache-Tag\" response header at the origin. By default, all objects have a cache tag representing the HTTP status code of the response, the MIME content-type, and the origin. Multiple cache tags in the same revalidation request are treated as Boolean OR - e.g. tag1 OR tag2 OR tag3. If a host and\/or path are also specified, these are treated as Boolean AND with any tags. Up to 10 tags may be specified in a single invalidation request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InvalidateCacheResponse": {
      "id": "InvalidateCacheResponse",
      "description": "Response used by the InvalidateCache method.",
      "type": "object",
      "properties": {
      }
    },
    "ListGatewaysResponse": {
      "id": "ListGatewaysResponse",
      "description": "Response returned by the ListGateways method.",
      "type": "object",
      "properties": {
        "gateways": {
          "description": "List of Gateway resources.",
          "type": "array",
          "items": {
            "$ref": "Gateway"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "Gateway": {
      "id": "Gateway",
      "description": "Gateway represents the configuration for a proxy, typically a load balancer. It captures the ip:port over which the services are exposed by the proxy, along with any policy configurations. Routes have reference to to Gateways to dictate how requests should be routed by this Gateway.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the Gateway resource. It matches pattern `projects\/*\/locations\/*\/gateways\/`.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the Gateway resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "type": {
          "description": "Immutable. The type of the customer managed gateway.",
          "type": "string",
          "enumDescriptions": [
            "The type of the customer managed gateway is unspecified.",
            "The type of the customer managed gateway is TrafficDirector Open Mesh.",
            "The type of the customer managed gateway is SecureWebGateway (SWG)."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "OPEN_MESH",
            "SECURE_WEB_GATEWAY"
          ]
        },
        "ports": {
          "description": "Required. One or more ports that the Gateway must receive traffic on. The proxy binds to the ports specified. Gateway listen on 0.0.0.0 on the ports specified below.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "scope": {
          "description": "Required. Immutable. Scope determines how configuration across multiple Gateway instances are merged. The configuration for multiple Gateway instances with the same scope will be merged as presented as a single coniguration to the proxy\/load balancer. Max length 64 characters. Scope should start with a letter and can only have letters, numbers, hyphens.",
          "type": "string"
        },
        "serverTlsPolicy": {
          "description": "Optional. A fully-qualified ServerTLSPolicy URL reference. Specifies how TLS traffic is terminated. If empty, TLS termination is disabled.",
          "type": "string"
        },
        "authorizationPolicy": {
          "description": "Optional. A fully-qualified AuthorizationPolicy URL reference. Specifies how traffic is authorized. If empty, authorization checks are disabled.",
          "type": "string"
        }
      }
    },
    "ListGrpcRoutesResponse": {
      "id": "ListGrpcRoutesResponse",
      "description": "Response returned by the ListGrpcRoutes method.",
      "type": "object",
      "properties": {
        "grpcRoutes": {
          "description": "List of GrpcRoute resources.",
          "type": "array",
          "items": {
            "$ref": "GrpcRoute"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "GrpcRoute": {
      "id": "GrpcRoute",
      "description": "GrpcRoute is the resource defining how gRPC traffic routed by a Mesh or Gateway resource is routed.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the GrpcRoute resource. It matches pattern `projects\/*\/locations\/global\/grpcRoutes\/`",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the GrpcRoute resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "hostnames": {
          "description": "Required. Service hostnames with an optional port for which this route describes traffic. Format: [:] Hostname is the fully qualified domain name of a network host. This matches the RFC 1123 definition of a hostname with 2 notable exceptions: - IPs are not allowed. - A hostname may be prefixed with a wildcard label (*.). The wildcard label must appear by itself as the first label. Hostname can be \"precise\" which is a domain name without the terminating dot of a network host (e.g. \"foo.example.com\") or \"wildcard\", which is a domain name prefixed with a single wildcard label (e.g. *.example.com). Note that as per RFC1035 and RFC1123, a label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character. No other punctuation is allowed. The routes associated with a Mesh or Gateway must have unique hostnames. If you attempt to attach multiple routes with conflicting hostnames, the configuration will be rejected. For example, while it is acceptable for routes for the hostnames \"*.foo.bar.com\" and \"*.bar.com\" to be associated with the same route, it is not possible to associate two routes both with \"*.bar.com\" or both with \"bar.com\". If a port is specified, then gRPC clients must use the channel URI with the port to match this rule (i.e. \"xds:\/\/\/service:123\"), otherwise they must supply the URI without a port (i.e. \"xds:\/\/\/service\").",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "meshes": {
          "description": "Optional. Meshes defines a list of meshes this GrpcRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects\/*\/locations\/global\/meshes\/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gateways": {
          "description": "Optional. Gateways defines a list of gateways this GrpcRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects\/*\/locations\/global\/gateways\/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rules": {
          "description": "Required. A list of detailed rules defining how to route traffic. Within a single GrpcRoute, the GrpcRoute.RouteAction associated with the first matching GrpcRoute.RouteRule will be executed. At least one rule must be supplied.",
          "type": "array",
          "items": {
            "$ref": "GrpcRouteRouteRule"
          }
        }
      }
    },
    "GrpcRouteRouteRule": {
      "id": "GrpcRouteRouteRule",
      "description": "Describes how to route traffic.",
      "type": "object",
      "properties": {
        "matches": {
          "description": "Optional. Matches define conditions used for matching the rule against incoming gRPC requests. Each match is independent, i.e. this rule will be matched if ANY one of the matches is satisfied. If no matches field is specified, this rule will unconditionally match traffic.",
          "type": "array",
          "items": {
            "$ref": "GrpcRouteRouteMatch"
          }
        },
        "action": {
          "description": "Required. A detailed rule defining how to route traffic. This field is required.",
          "$ref": "GrpcRouteRouteAction"
        }
      }
    },
    "GrpcRouteRouteMatch": {
      "id": "GrpcRouteRouteMatch",
      "description": "Criteria for matching traffic. A RouteMatch will be considered to match when all supplied fields match.",
      "type": "object",
      "properties": {
        "method": {
          "description": "Optional. A gRPC method to match against. If this field is empty or omitted, will match all methods.",
          "$ref": "GrpcRouteMethodMatch"
        },
        "headers": {
          "description": "Optional. Specifies a collection of headers to match.",
          "type": "array",
          "items": {
            "$ref": "GrpcRouteHeaderMatch"
          }
        }
      }
    },
    "GrpcRouteMethodMatch": {
      "id": "GrpcRouteMethodMatch",
      "description": "Specifies a match against a method.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. Specifies how to match against the name. If not specified, a default value of \"EXACT\" is used.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Will only match the exact name provided.",
            "Will interpret grpc_method and grpc_service as regexes. RE2 syntax is supported."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXACT",
            "REGULAR_EXPRESSION"
          ]
        },
        "grpcService": {
          "description": "Required. Name of the service to match against. If unspecified, will match all services.",
          "type": "string"
        },
        "grpcMethod": {
          "description": "Required. Name of the method to match against. If unspecified, will match all methods.",
          "type": "string"
        },
        "caseSensitive": {
          "description": "Optional. Specifies that matches are case sensitive. The default value is true. case_sensitive must not be used with a type of REGULAR_EXPRESSION.",
          "type": "boolean"
        }
      }
    },
    "GrpcRouteHeaderMatch": {
      "id": "GrpcRouteHeaderMatch",
      "description": "A match against a collection of headers.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. Specifies how to match against the value of the header. If not specified, a default value of EXACT is used.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Will only match the exact value provided.",
            "Will match paths conforming to the prefix specified by value. RE2 syntax is supported."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXACT",
            "REGULAR_EXPRESSION"
          ]
        },
        "key": {
          "description": "Required. The key of the header.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the header.",
          "type": "string"
        }
      }
    },
    "GrpcRouteRouteAction": {
      "id": "GrpcRouteRouteAction",
      "description": "Specifies how to route matched traffic.",
      "type": "object",
      "properties": {
        "destinations": {
          "description": "Optional. The destination services to which traffic should be forwarded. If multiple destinations are specified, traffic will be split between Backend Service(s) according to the weight field of these destinations.",
          "type": "array",
          "items": {
            "$ref": "GrpcRouteDestination"
          }
        },
        "faultInjectionPolicy": {
          "description": "Optional. The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced on a percentage of requests before sending those requests to the destination service. Similarly requests from clients can be aborted by for a percentage of requests. timeout and retry_policy will be ignored by clients that are configured with a fault_injection_policy",
          "$ref": "GrpcRouteFaultInjectionPolicy"
        },
        "timeout": {
          "description": "Optional. Specifies the timeout for selected route. Timeout is computed from the time the request has been fully processed (i.e. end of stream) up until the response has been completely processed. Timeout includes all retries.",
          "type": "string",
          "format": "google-duration"
        },
        "retryPolicy": {
          "description": "Optional. Specifies the retry policy associated with this route.",
          "$ref": "GrpcRouteRetryPolicy"
        }
      }
    },
    "GrpcRouteDestination": {
      "id": "GrpcRouteDestination",
      "description": "The destination to which traffic will be routed.",
      "type": "object",
      "properties": {
        "serviceName": {
          "description": "Required. The URL of a destination service to which to route traffic. Must refer to either a BackendService or ServiceDirectoryService.",
          "type": "string"
        },
        "weight": {
          "description": "Optional. Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: weight\/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GrpcRouteFaultInjectionPolicy": {
      "id": "GrpcRouteFaultInjectionPolicy",
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced on a percentage of requests before sending those requests to the destination service. Similarly requests from clients can be aborted by for a percentage of requests.",
      "type": "object",
      "properties": {
        "delay": {
          "description": "The specification for injecting delay to client requests.",
          "$ref": "GrpcRouteFaultInjectionPolicyDelay"
        },
        "abort": {
          "description": "The specification for aborting to client requests.",
          "$ref": "GrpcRouteFaultInjectionPolicyAbort"
        }
      }
    },
    "GrpcRouteFaultInjectionPolicyDelay": {
      "id": "GrpcRouteFaultInjectionPolicyDelay",
      "description": "Specification of how client requests are delayed as part of fault injection before being sent to a destination.",
      "type": "object",
      "properties": {
        "fixedDelay": {
          "description": "Specify a fixed delay before forwarding the request.",
          "type": "string",
          "format": "google-duration"
        },
        "percentage": {
          "description": "The percentage of traffic on which delay will be injected. The value must be between [0, 100]",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GrpcRouteFaultInjectionPolicyAbort": {
      "id": "GrpcRouteFaultInjectionPolicyAbort",
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination.",
      "type": "object",
      "properties": {
        "httpStatus": {
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "percentage": {
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GrpcRouteRetryPolicy": {
      "id": "GrpcRouteRetryPolicy",
      "description": "The specifications for retries.",
      "type": "object",
      "properties": {
        "retryConditions": {
          "description": "- connect-failure: Router will retry on failures connecting to Backend Services, for example due to connection timeouts. - refused-stream: Router will retry if the backend service resets the stream with a REFUSED_STREAM error code. This reset type indicates that it is safe to retry. - cancelled: Router will retry if the gRPC status code in the response header is set to cancelled - deadline-exceeded: Router will retry if the gRPC status code in the response header is set to deadline-exceeded - resource-exhausted: Router will retry if the gRPC status code in the response header is set to resource-exhausted - unavailable: Router will retry if the gRPC status code in the response header is set to unavailable",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "numRetries": {
          "description": "Specifies the allowed number of retries. This number must be > 0. If not specpfied, default to 1.",
          "type": "integer",
          "format": "uint32"
        }
      }
    },
    "ListObservabilityPoliciesResponse": {
      "id": "ListObservabilityPoliciesResponse",
      "description": "Response returned by the ListObservabilityPolicies method.",
      "type": "object",
      "properties": {
        "observabilityPolicies": {
          "description": "List of ObservabilityPolicy resources.",
          "type": "array",
          "items": {
            "$ref": "ObservabilityPolicy"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "ObservabilityPolicy": {
      "id": "ObservabilityPolicy",
      "description": "ObservabilityPolicy is a resource for defining observability parameters.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the ObservabilityPolicy resource. It matches pattern `projects\/*\/locations\/global\/observabilityPolicies\/`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
[...]
