{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "pubsub:v1",
  "name": "pubsub",
  "version": "v1",
  "revision": "0",
  "title": "Google Cloud Pub\/Sub API",
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications.\n",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "protocol": "rest",
  "rootUrl": "https://pubsub.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://pubsub.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "bearer_token": {
      "type": "string",
      "description": "OAuth bearer token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "pp": {
      "type": "boolean",
      "description": "Pretty-print response.",
      "default": "true",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        }
      }
    }
  },
  "schemas": {
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them.",
          "$ref": "Policy"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "Defines an Identity and Access Management (IAM) policy. It is used to\nspecify access control policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`. A `Binding` binds a list of\n`members` to a `role`, where the members can be user accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named list of permissions\ndefined by IAM.\n\n**Example**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles\/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-other-app@appspot.gserviceaccount.com\",\n          ]\n        },\n        {\n          \"role\": \"roles\/viewer\",\n          \"members\": [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\nFor a description of IAM and its features, see the\n[IAM developer's guide](https:\/\/cloud.google.com\/iam).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version of the `Policy`. The default version is 0.",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`.\nMultiple `bindings` must not be specified for the same `role`.\n`bindings` with no members will result in an error.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies audit logging configs for \"data access\".\n\"data access\": generally refers to data reads\/writes and admin reads.\n\"admin activity\": generally refers to admin writes.\n\nNote: `AuditConfig` doesn't apply to \"admin activity\", which always\nenables audit logging.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "rules": {
          "description": "If more than one rule is specified, the rules are applied in the following\nmanner:\n- All matching LOG rules are always applied.\n- If any DENY\/DENY_WITH_LOG rule matches, permission is denied.\n  Logging will be applied if one or more matching rule requires logging.\n- Otherwise, if any ALLOW\/ALLOW_WITH_LOG rule matches, permission is\n  granted.\n  Logging will be applied if one or more matching rule requires logging.\n- Otherwise, if no rule applies, permission is denied.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the existing\npolicy is overwritten blindly.",
          "type": "string",
          "format": "byte"
        },
        "iamOwned": {

          "type": "boolean"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.\nRequired",
          "type": "string"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@gmail.com` or `joe@example.com`.\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `domain:{domain}`: A Google Apps domain name that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Enables \"data access\" audit logging for a service and specifies a list\nof members that are log-exempted.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for \"data access\" audit\nlogging.\nFor example, `resourcemanager`, `storage`, `compute`.\n`allServices` is a special value that covers all services.",
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that are exempted from \"data access\" audit\nlogging for the `service` specified above.\nFollows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Rule": {
      "id": "Rule",
      "description": "A rule to be applied in a Policy.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Human-readable description of the rule.",
          "type": "string"
        },
        "permissions": {
          "description": "A permission is a string of form '<service>.<resource type>.<verb>'\n(e.g., 'storage.buckets.list'). A value of '*' matches all permissions,\nand a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "action": {
          "description": "Required",
          "enumDescriptions": [
            "Default no action.",
            "Matching 'Entries' grant access.",
            "Matching 'Entries' grant access and the caller promises to log\nthe request per the returned log_configs.",
            "Matching 'Entries' deny access.",
            "Matching 'Entries' deny access and the caller promises to log\nthe request per the returned log_configs.",
            "Matching 'Entries' tell IAM.Check callers to generate logs."
          ],
          "type": "string",
          "enum": [
            "NO_ACTION",
            "ALLOW",
            "ALLOW_WITH_LOG",
            "DENY",
            "DENY_WITH_LOG",
            "LOG"
          ]
        },
        "in": {
          "description": "If one or more 'in' clauses are specified, the rule matches if\nthe PRINCIPAL\/AUTHORITY_SELECTOR is in at least one of these entries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notIn": {
          "description": "If one or more 'not_in' clauses are specified, the rule matches\nif the PRINCIPAL\/AUTHORITY_SELECTOR is in none of the entries.\nThe format for in and not_in entries is the same as for members in a\nBinding (see google\/iam\/v1\/policy.proto).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conditions": {
          "description": "Additional restrictions that must be met",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "logConfig": {
          "description": "The config returned to callers of tech.iam.IAM.CheckPolicy for any entries\nthat match the LOG action.",
          "type": "array",
          "items": {
            "$ref": "LogConfig"
          }
        }
      }
    },
    "Condition": {
      "id": "Condition",
      "description": "A condition to be met.",
      "type": "object",
      "properties": {
        "iam": {
          "description": "Trusted attributes supplied by the IAM system.",
          "enumDescriptions": [
            "Default non-attribute.",
            "Either principal or (if present) authority",
            "selector\nAlways the original principal, but making clear"
          ],
          "type": "string",
          "enum": [
            "NO_ATTR",
            "AUTHORITY",
            "ATTRIBUTION"
          ]
        },
        "sys": {
          "description": "Trusted attributes supplied by any service that owns resources and uses\nthe IAM system for access control.",
          "enumDescriptions": [
            "Default non-attribute type",
            "Region of the resource",
            "Service name",
            "Resource name",
            "IP address of the caller"
          ],
          "type": "string",
          "enum": [
            "NO_ATTR",
            "REGION",
            "SERVICE",
            "NAME",
            "IP"
          ]
        },
        "svc": {
          "description": "Trusted attributes discharged by the service.",
          "type": "string"
        },
        "op": {
          "description": "An operator to apply the subject with.",
          "enumDescriptions": [
            "Default no-op.",
            "DEPRECATED. Use IN instead.",
            "DEPRECATED. Use NOT_IN instead.",
            "Set-inclusion check.",
            "Set-exclusion check.",
            "Subject is discharged"
          ],
          "type": "string",
          "enum": [
            "NO_OP",
            "EQUALS",
            "NOT_EQUALS",
            "IN",
            "NOT_IN",
            "DISCHARGED"
          ]
        },
        "value": {
          "description": "DEPRECATED. Use 'values' instead.",
          "type": "string"
        },
        "values": {
          "description": "The objects of the condition. This is mutually exclusive with 'value'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LogConfig": {
      "id": "LogConfig",
      "description": "Specifies what kind of log the caller must write\nIncrement a streamz counter with the specified metric and field names.\n\nMetric names should start with a '\/', generally be lowercase-only,\nand end in \"_count\". Field names should not contain an initial slash.\nThe actual exported metric names will have \"\/iam\/policy\" prepended.\n\nField names correspond to IAM request parameters and field values are\ntheir respective values.\n\nAt present the only supported field names are\n   - \"iam_principal\", corresponding to IAMContext.principal;\n   - \"\" (empty string), resulting in one aggretated counter with no field.\n\nExamples:\n  counter { metric: \"\/debug_access_count\"  field: \"iam_principal\" }\n  ==> increment counter \/iam\/policy\/backend_debug_access_count\n                        {iam_principal=[value of IAMContext.principal]}\n\nAt this time we do not support:\n* multiple field names (though this may be supported in the future)\n* decrementing the counter\n* incrementing it by anything other than 1",
      "type": "object",
      "properties": {
        "counter": {
          "description": "Counter options.",
          "$ref": "CounterOptions"
        },
        "dataAccess": {
          "description": "Data access options.",
          "$ref": "DataAccessOptions"
        },
        "cloudAudit": {
          "description": "Cloud audit options.",
          "$ref": "CloudAuditOptions"
        }
      }
    },
    "CounterOptions": {
      "id": "CounterOptions",
      "description": "Options for counters",
      "type": "object",
      "properties": {
        "metric": {
          "description": "The metric to update.",
          "type": "string"
        },
        "field": {
          "description": "The field value to attribute.",
          "type": "string"
        }
      }
    },
    "DataAccessOptions": {
      "id": "DataAccessOptions",
      "description": "Write a Data Access (Gin) log",
      "type": "object",
      "properties": {
      }
    },
    "CloudAuditOptions": {
      "id": "CloudAuditOptions",
      "description": "Write a Cloud Audit log",
      "type": "object",
      "properties": {
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Topic": {
      "id": "Topic",
      "description": "A topic resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the topic. It must have the format\n`\"projects\/{project}\/topics\/{topic}\"`. `{topic}` must start with a letter,\nand contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`),\nunderscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent\nsigns (`%`). It must be between 3 and 255 characters in length, and it\nmust not start with `\"goog\"`.",
          "type": "string"
        }
      }
    },
    "PublishRequest": {
      "id": "PublishRequest",
      "description": "Request for the Publish method.",
      "type": "object",
      "properties": {
        "messages": {
          "description": "The messages to publish.",
          "type": "array",
          "items": {
            "$ref": "PubsubMessage"
          }
        }
      }
    },
    "PubsubMessage": {
      "id": "PubsubMessage",
      "description": "A message data and its attributes. The message payload must not be empty;\nit must contain either a non-empty data field, or at least one attribute.",
      "type": "object",
      "properties": {
        "data": {
          "description": "The message payload. For JSON requests, the value of this field must be\nbase64-encoded.",
          "type": "string",
          "format": "byte"
        },
        "attributes": {
          "description": "Optional attributes for this message.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "messageId": {
          "description": "ID of this message, assigned by the server when the message is published.\nGuaranteed to be unique within the topic. This value may be read by a\nsubscriber that receives a `PubsubMessage` via a `Pull` call or a push\ndelivery. It must not be populated by the publisher in a `Publish` call.",
          "type": "string"
        },
        "publishTime": {
          "description": "The time at which the message was published, populated by the server when\nit receives the `Publish` call. It must not be populated by the\npublisher in a `Publish` call.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "PublishResponse": {
      "id": "PublishResponse",
      "description": "Response for the `Publish` method.",
      "type": "object",
      "properties": {
        "messageIds": {
          "description": "The server-assigned ID of each published message, in the same order as\nthe messages in the request. IDs are guaranteed to be unique within\nthe topic.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListTopicsResponse": {
      "id": "ListTopicsResponse",
      "description": "Response for the `ListTopics` method.",
      "type": "object",
      "properties": {
        "topics": {
          "description": "The resulting topics.",
          "type": "array",
          "items": {
            "$ref": "Topic"
          }
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more topics that match the\nrequest; this value should be passed in a new `ListTopicsRequest`.",
          "type": "string"
        }
      }
    },
    "ListTopicSubscriptionsResponse": {
      "id": "ListTopicSubscriptionsResponse",
      "description": "Response for the `ListTopicSubscriptions` method.",
      "type": "object",
      "properties": {
        "subscriptions": {
          "description": "The names of the subscriptions that match the request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more subscriptions that match\nthe request; this value should be passed in a new\n`ListTopicSubscriptionsRequest` to get more subscriptions.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "Subscription": {
      "id": "Subscription",
      "description": "A subscription resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the subscription. It must have the format\n`\"projects\/{project}\/subscriptions\/{subscription}\"`. `{subscription}` must\nstart with a letter, and contain only letters (`[A-Za-z]`), numbers\n(`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`),\nplus (`+`) or percent signs (`%`). It must be between 3 and 255 characters\nin length, and it must not start with `\"goog\"`.",
          "type": "string"
        },
        "topic": {
          "description": "The name of the topic from which this subscription is receiving messages.\nThe value of this field will be `_deleted-topic_` if the topic has been\ndeleted.",
          "type": "string"
        },
        "pushConfig": {
          "description": "If push delivery is used with this subscription, this field is\nused to configure it. An empty `pushConfig` signifies that the subscriber\nwill pull and ack messages using API methods.",
          "$ref": "PushConfig"
        },
        "ackDeadlineSeconds": {
          "description": "This value is the maximum time after a subscriber receives a message\nbefore the subscriber should acknowledge the message. After message\ndelivery but before the ack deadline expires and before the message is\nacknowledged, it is an outstanding message and will not be delivered\nagain during that time (on a best-effort basis).\n\nFor pull subscriptions, this value is used as the initial value for the ack\ndeadline. To override this value for a given message, call\n`ModifyAckDeadline` with the corresponding `ack_id` if using\npull.\nThe maximum custom deadline you can specify is 600 seconds (10 minutes).\n\nFor push delivery, this value is also used to set the request timeout for\nthe call to the push endpoint.\n\nIf the subscriber never acknowledges the message, the Pub\/Sub\nsystem will eventually redeliver the message.\n\nIf this parameter is 0, a default value of 10 seconds is used.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PushConfig": {
      "id": "PushConfig",
      "description": "Configuration for a push delivery endpoint.",
      "type": "object",
      "properties": {
        "pushEndpoint": {
          "description": "A URL locating the endpoint to which messages should be pushed.\nFor example, a Webhook endpoint might use \"https:\/\/example.com\/push\".",
          "type": "string"
        },
        "attributes": {
          "description": "Endpoint configuration attributes.\n\nEvery endpoint has a set of API supported attributes that can be used to\ncontrol different aspects of the message delivery.\n\nThe currently supported attribute is `x-goog-version`, which you can\nuse to change the format of the push message. This attribute\nindicates the version of the data expected by the endpoint. This\ncontrols the shape of the envelope (i.e. its fields and metadata).\nThe endpoint version is based on the version of the Pub\/Sub\nAPI.\n\nIf not present during the `CreateSubscription` call, it will default to\nthe version of the API used to make such call. If not present during a\n`ModifyPushConfig` call, its value will not be changed. `GetSubscription`\ncalls will always return a valid version, even if the subscription was\ncreated without this attribute.\n\nThe possible values for this attribute are:\n\n* `v1beta1`: uses the push format defined in the v1beta1 Pub\/Sub API.\n* `v1` or `v1beta2`: uses the push format defined in the v1 Pub\/Sub API.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListSubscriptionsResponse": {
      "id": "ListSubscriptionsResponse",
      "description": "Response for the `ListSubscriptions` method.",
      "type": "object",
      "properties": {
        "subscriptions": {
          "description": "The subscriptions that match the request.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more subscriptions that match\nthe request; this value should be passed in a new\n`ListSubscriptionsRequest` to get more subscriptions.",
          "type": "string"
        }
      }
    },
    "ModifyAckDeadlineRequest": {
      "id": "ModifyAckDeadlineRequest",
      "description": "Request for the ModifyAckDeadline method.",
      "type": "object",
      "properties": {
        "ackIds": {
          "description": "List of acknowledgment IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ackDeadlineSeconds": {
          "description": "The new ack deadline with respect to the time this request was sent to\nthe Pub\/Sub system. Must be >= 0. For example, if the value is 10, the new\nack deadline will expire 10 seconds after the `ModifyAckDeadline` call\nwas made. Specifying zero may immediately make the message available for\nanother pull request.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AcknowledgeRequest": {
      "id": "AcknowledgeRequest",
      "description": "Request for the Acknowledge method.",
      "type": "object",
      "properties": {
        "ackIds": {
          "description": "The acknowledgment ID for the messages being acknowledged that was returned\nby the Pub\/Sub system in the `Pull` response. Must not be empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PullRequest": {
      "id": "PullRequest",
      "description": "Request for the `Pull` method.",
      "type": "object",
      "properties": {
        "returnImmediately": {
          "description": "If this is specified as true the system will respond immediately even if\nit is not able to return a message in the `Pull` response. Otherwise the\nsystem is allowed to wait until at least one message is available rather\nthan returning no messages. The client may cancel the request if it does\nnot wish to wait any longer for the response.",
          "type": "boolean"
        },
        "maxMessages": {
          "description": "The maximum number of messages returned for this request. The Pub\/Sub\nsystem may return fewer than the number specified.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PullResponse": {
      "id": "PullResponse",
      "description": "Response for the `Pull` method.",
      "type": "object",
      "properties": {
        "receivedMessages": {
          "description": "Received Pub\/Sub messages. The Pub\/Sub system will return zero messages if\nthere are no more available in the backlog. The Pub\/Sub system may return\nfewer than the `maxMessages` requested even if there are more messages\navailable in the backlog.",
          "type": "array",
          "items": {
            "$ref": "ReceivedMessage"
          }
        }
      }
    },
    "ReceivedMessage": {
      "id": "ReceivedMessage",
      "description": "A message and its corresponding acknowledgment ID.",
      "type": "object",
      "properties": {
        "ackId": {
          "description": "This ID can be used to acknowledge the received message.",
          "type": "string"
        },
        "message": {
          "description": "The message.",
          "$ref": "PubsubMessage"
        }
      }
    },
    "ModifyPushConfigRequest": {
      "id": "ModifyPushConfigRequest",
      "description": "Request for the ModifyPushConfig method.",
      "type": "object",
      "properties": {
        "pushConfig": {
          "description": "The push configuration for future deliveries.\n\nAn empty `pushConfig` indicates that the Pub\/Sub system should\nstop pushing messages from the given subscription and allow\nmessages to be pulled and acknowledged - effectively pausing\nthe subscription if `Pull` is not called.",
          "$ref": "PushConfig"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "topics": {
          "methods": {
            "setIamPolicy": {
              "id": "pubsub.projects.topics.setIamPolicy",
              "path": "v1/{+resource}:setIamPolicy",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:setIamPolicy",
              "httpMethod": "POST",
              "description": "Sets the access control policy on the specified resource. Replaces any\nexisting policy.",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects\/{project}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/topics\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "getIamPolicy": {
              "id": "pubsub.projects.topics.getIamPolicy",
              "path": "v1/{+resource}:getIamPolicy",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:getIamPolicy",
              "httpMethod": "GET",
              "description": "Gets the access control policy for a resource.\nReturns an empty policy if the resource exists and does not have a policy\nset.",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects\/{project}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/topics\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "testIamPermissions": {
              "id": "pubsub.projects.topics.testIamPermissions",
              "path": "v1/{+resource}:testIamPermissions",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:testIamPermissions",
              "httpMethod": "POST",
              "description": "Returns permissions that a caller has on the specified resource.",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects\/{project}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/topics\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "create": {
              "id": "pubsub.projects.topics.create",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "httpMethod": "PUT",
              "description": "Creates the given topic with the given name.",
              "parameters": {
                "name": {
                  "description": "The name of the topic. It must have the format\n`\"projects\/{project}\/topics\/{topic}\"`. `{topic}` must start with a letter,\nand contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`),\nunderscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent\nsigns (`%`). It must be between 3 and 255 characters in length, and it\nmust not start with `\"goog\"`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/topics\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Topic"
              },
              "response": {
                "$ref": "Topic"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "publish": {
              "id": "pubsub.projects.topics.publish",
              "path": "v1/{+topic}:publish",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:publish",
              "httpMethod": "POST",
              "description": "Adds one or more messages to the topic. Returns `NOT_FOUND` if the topic\ndoes not exist. The message payload must not be empty; it must contain\n either a non-empty data field, or at least one attribute.",
              "parameters": {
                "topic": {
                  "description": "The messages in the request will be published on this topic.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/topics\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "topic"
              ],
              "request": {
                "$ref": "PublishRequest"
              },
              "response": {
                "$ref": "PublishResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "get": {
              "id": "pubsub.projects.topics.get",
              "path": "v1/{+topic}",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "httpMethod": "GET",
              "description": "Gets the configuration of a topic.",
              "parameters": {
                "topic": {
                  "description": "The name of the topic to get.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/topics\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "topic"
              ],
              "response": {
                "$ref": "Topic"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "list": {
              "id": "pubsub.projects.topics.list",
              "path": "v1/{+project}/topics",
              "flatPath": "v1/projects/{projectsId}/topics",
              "httpMethod": "GET",
              "description": "Lists matching topics.",
              "parameters": {
                "project": {
                  "description": "The name of the cloud project that topics belong to.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of topics to return.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The value returned by the last `ListTopicsResponse`; indicates that this is\na continuation of a prior `ListTopics` call, and that the system should\nreturn the next page of data.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "project"
              ],
              "response": {
                "$ref": "ListTopicsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "delete": {
              "id": "pubsub.projects.topics.delete",
              "path": "v1/{+topic}",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "httpMethod": "DELETE",
              "description": "Deletes the topic with the given name. Returns `NOT_FOUND` if the topic\ndoes not exist. After a topic is deleted, a new topic may be created with\nthe same name; this is an entirely new topic with none of the old\nconfiguration or subscriptions. Existing subscriptions to this topic are\nnot deleted, but their `topic` field is set to `_deleted-topic_`.",
              "parameters": {
                "topic": {
                  "description": "Name of the topic to delete.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/topics\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "topic"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            }
          }
          ,
          "resources": {
            "subscriptions": {
              "methods": {
                "list": {
                  "id": "pubsub.projects.topics.subscriptions.list",
                  "path": "v1/{+topic}/subscriptions",
                  "flatPath": "v1/projects/{projectsId}/topics/{topicsId}/subscriptions",
                  "httpMethod": "GET",
                  "description": "Lists the name of the subscriptions for this topic.",
                  "parameters": {
                    "topic": {
                      "description": "The name of the topic that subscriptions are attached to.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]*\/topics\/[^\/]*$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of subscription names to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The value returned by the last `ListTopicSubscriptionsResponse`; indicates\nthat this is a continuation of a prior `ListTopicSubscriptions` call, and\nthat the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "topic"
                  ],
                  "response": {
                    "$ref": "ListTopicSubscriptionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/pubsub"
                  ]
                }
              }
            }
          }
        },
        "subscriptions": {
          "methods": {
            "setIamPolicy": {
              "id": "pubsub.projects.subscriptions.setIamPolicy",
              "path": "v1/{+resource}:setIamPolicy",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:setIamPolicy",
              "httpMethod": "POST",
              "description": "Sets the access control policy on the specified resource. Replaces any\nexisting policy.",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects\/{project}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/subscriptions\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "getIamPolicy": {
              "id": "pubsub.projects.subscriptions.getIamPolicy",
              "path": "v1/{+resource}:getIamPolicy",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:getIamPolicy",
              "httpMethod": "GET",
              "description": "Gets the access control policy for a resource.\nReturns an empty policy if the resource exists and does not have a policy\nset.",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects\/{project}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/subscriptions\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "testIamPermissions": {
              "id": "pubsub.projects.subscriptions.testIamPermissions",
              "path": "v1/{+resource}:testIamPermissions",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:testIamPermissions",
              "httpMethod": "POST",
              "description": "Returns permissions that a caller has on the specified resource.",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested.\n`resource` is usually specified as a path. For example, a Project\nresource is specified as `projects\/{project}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/subscriptions\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "create": {
              "id": "pubsub.projects.subscriptions.create",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "httpMethod": "PUT",
              "description": "Creates a subscription to a given topic.\nIf the subscription already exists, returns `ALREADY_EXISTS`.\nIf the corresponding topic doesn't exist, returns `NOT_FOUND`.\n\nIf the name is not provided in the request, the server will assign a random\nname for this subscription on the same project as the topic.",
              "parameters": {
                "name": {
                  "description": "The name of the subscription. It must have the format\n`\"projects\/{project}\/subscriptions\/{subscription}\"`. `{subscription}` must\nstart with a letter, and contain only letters (`[A-Za-z]`), numbers\n(`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`),\nplus (`+`) or percent signs (`%`). It must be between 3 and 255 characters\nin length, and it must not start with `\"goog\"`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/subscriptions\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Subscription"
              },
              "response": {
                "$ref": "Subscription"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "get": {
              "id": "pubsub.projects.subscriptions.get",
              "path": "v1/{+subscription}",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "httpMethod": "GET",
              "description": "Gets the configuration details of a subscription.",
              "parameters": {
                "subscription": {
                  "description": "The name of the subscription to get.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/subscriptions\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "subscription"
              ],
              "response": {
                "$ref": "Subscription"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "list": {
              "id": "pubsub.projects.subscriptions.list",
              "path": "v1/{+project}/subscriptions",
              "flatPath": "v1/projects/{projectsId}/subscriptions",
              "httpMethod": "GET",
              "description": "Lists matching subscriptions.",
              "parameters": {
                "project": {
                  "description": "The name of the cloud project that subscriptions belong to.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of subscriptions to return.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The value returned by the last `ListSubscriptionsResponse`; indicates that\nthis is a continuation of a prior `ListSubscriptions` call, and that the\nsystem should return the next page of data.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "project"
              ],
              "response": {
                "$ref": "ListSubscriptionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "delete": {
              "id": "pubsub.projects.subscriptions.delete",
              "path": "v1/{+subscription}",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "httpMethod": "DELETE",
              "description": "Deletes an existing subscription. All pending messages in the subscription\nare immediately dropped. Calls to `Pull` after deletion will return\n`NOT_FOUND`. After a subscription is deleted, a new one may be created with\nthe same name, but the new one has no association with the old\nsubscription, or its topic unless the same topic is specified.",
              "parameters": {
                "subscription": {
                  "description": "The subscription to delete.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/subscriptions\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "subscription"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "modifyAckDeadline": {
              "id": "pubsub.projects.subscriptions.modifyAckDeadline",
              "path": "v1/{+subscription}:modifyAckDeadline",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:modifyAckDeadline",
              "httpMethod": "POST",
              "description": "Modifies the ack deadline for a specific message. This method is useful\nto indicate that more time is needed to process a message by the\nsubscriber, or to make the message available for redelivery if the\nprocessing was interrupted.",
              "parameters": {
                "subscription": {
                  "description": "The name of the subscription.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/subscriptions\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "subscription"
              ],
              "request": {
                "$ref": "ModifyAckDeadlineRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "acknowledge": {
              "id": "pubsub.projects.subscriptions.acknowledge",
              "path": "v1/{+subscription}:acknowledge",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:acknowledge",
              "httpMethod": "POST",
              "description": "Acknowledges the messages associated with the `ack_ids` in the\n`AcknowledgeRequest`. The Pub\/Sub system can remove the relevant messages\nfrom the subscription.\n\nAcknowledging a message whose ack deadline has expired may succeed,\nbut such a message may be redelivered later. Acknowledging a message more\nthan once will not result in an error.",
              "parameters": {
                "subscription": {
                  "description": "The subscription whose message is being acknowledged.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/subscriptions\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "subscription"
              ],
              "request": {
                "$ref": "AcknowledgeRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "pull": {
              "id": "pubsub.projects.subscriptions.pull",
              "path": "v1/{+subscription}:pull",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:pull",
              "httpMethod": "POST",
              "description": "Pulls messages from the server. Returns an empty list if there are no\nmessages available in the backlog. The server may return `UNAVAILABLE` if\nthere are too many concurrent pull requests pending for the given\nsubscription.",
              "parameters": {
                "subscription": {
                  "description": "The subscription from which messages should be pulled.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/subscriptions\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "subscription"
              ],
              "request": {
                "$ref": "PullRequest"
              },
              "response": {
                "$ref": "PullResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "modifyPushConfig": {
              "id": "pubsub.projects.subscriptions.modifyPushConfig",
              "path": "v1/{+subscription}:modifyPushConfig",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:modifyPushConfig",
              "httpMethod": "POST",
              "description": "Modifies the `PushConfig` for a specified subscription.\n\nThis may be used to change a push subscription to a pull one (signified by\nan empty `PushConfig`) or vice versa, or change the endpoint URL and other\nattributes of a push subscription. Messages will accumulate for delivery\ncontinuously through the call regardless of changes to the `PushConfig`.",
              "parameters": {
                "subscription": {
                  "description": "The name of the subscription.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]*\/subscriptions\/[^\/]*$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "subscription"
              ],
              "request": {
                "$ref": "ModifyPushConfigRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            }
          }
        }
      }
    }
  },
  "basePath": ""
}