{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "redis:v1alpha1",
  "name": "redis",
  "canonicalName": "Cloud Redis",
  "version": "v1alpha1",
  "revision": "0",
  "title": "Google Cloud Memorystore for Redis API",
  "description": "Creates and manages Redis instances on the Google Cloud Platform.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/memorystore/docs/redis/",
  "protocol": "rest",
  "rootUrl": "https://redis.googleapis.com/",
  "mtlsRootUrl": "https://redis.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://redis.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "{ `createTime`: The time the operation was created. `endTime`: The time the operation finished running. `target`: Server-defined resource path for the target of the operation. `verb`: Name of the verb executed by the operation. `statusDetail`: Human-readable status of the operation, if any. `cancelRequested`: Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`. `apiVersion`: API version used to start the operation. }",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "description": "Response for ListInstances.",
      "type": "object",
      "properties": {
        "instances": {
          "description": "A list of Redis instances in the project in the specified location, or across all locations. If the `location_id` in the parent field of the request is \"-\", all regions available to the project are queried, and the results aggregated. If in such an aggregated query a location is unavailable, a placeholder Redis entry is included in the response with the `name` field set to a value of the form `projects\/{project_id}\/locations\/{location_id}\/instances\/`- and the `status` field set to ERROR and `status_message` field set to \"location not available for ListInstances\".",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "description": "A Memorystore for Redis instance. next id = 44",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Unique name of the resource in this scope including project and location using the form: `projects\/{project_id}\/locations\/{location_id}\/instances\/{instance_id}` Note: Redis instances are managed and addressed at regional level so location_id here refers to a GCP region; however, users may choose which specific zone (or collection of zones for cross-zone instances) an instance should be provisioned in. Refer to location_id and alternative_location_id fields for more details.",
          "type": "string"
        },
        "displayName": {
          "description": "An arbitrary and optional user-provided name for the instance.",
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "Optional. The zone where the instance will be provisioned. If not provided, the service will choose a zone from the specified region for the instance. For standard tier, additional nodes will be added across multiple zones for protection against zonal failures. If specified, at least one node will be provisioned in this zone.",
          "type": "string"
        },
        "alternativeLocationId": {
          "description": "Optional. If specified, at least one node will be provisioned in this zone in addition to the zone specified in location_id. Only applicable to standard tier. If provided, it must be a different zone from the one provided in [location_id]. Additional nodes beyond the first 2 will be placed in zones selected by the service.",
          "type": "string"
        },
        "redisVersion": {
          "description": "Optional. The version of Redis software. If not provided, latest supported version will be used. Currently, the supported values are: * `REDIS_3_2` for Redis 3.2 compatibility * `REDIS_4_0` for Redis 4.0 compatibility (default) * `REDIS_5_0` for Redis 5.0 compatibility * `REDIS_6_X` for Redis 6.x compatibility",
          "type": "string"
        },
        "reservedIpRange": {
          "description": "Optional. For DIRECT_PEERING mode, the CIDR range of internal addresses that are reserved for this instance. Range must be unique and non-overlapping with existing subnets in an authorized network. For PRIVATE_SERVICE_ACCESS mode, the name of one allocated IP address ranges associated with this private service access connection. If not provided, the service will choose an unused \/29 block, for example, 10.0.0.0\/29 or 192.168.0.0\/29. For READ_REPLICAS_ENABLED the default block size is \/28.",
          "type": "string"
        },
        "secondaryIpRange": {
          "description": "Optional. Additional IP range for node placement. Required when enabling read replicas on an existing instance. For DIRECT_PEERING mode value must be a CIDR range of size \/28, or \"auto\". For PRIVATE_SERVICE_ACCESS mode value must be the name of an allocated address range associated with the private service access connection, or \"auto\".",
          "type": "string"
        },
        "host": {
          "description": "Output only. Hostname or IP address of the exposed Redis endpoint used by clients to connect to the service.",
          "readOnly": true,
          "type": "string"
        },
        "port": {
          "description": "Output only. The port number of the exposed Redis endpoint.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "currentLocationId": {
          "description": "Output only. The current zone where the Redis primary node is located. In basic tier, this will always be the same as [location_id]. In standard tier, this can be the zone of any node in the instance.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the instance was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The current state of this instance.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Redis instance is being created.",
            "Redis instance has been created and is fully usable.",
            "Redis instance configuration is being updated. Certain kinds of updates may cause the instance to become unusable while the update is in progress.",
            "Redis instance is being deleted.",
            "Redis instance is being repaired and may be unusable.",
            "Maintenance is being performed on this Redis instance.",
            "Redis instance is importing data (availability may be affected).",
            "Redis instance is failing over (availability may be affected)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "REPAIRING",
            "PERFORMING_MAINTENANCE",
            "IMPORTING",
            "FAILING_OVER"
          ]
        },
        "statusMessage": {
          "description": "Output only. Additional information about the current status of this instance, if available.",
          "readOnly": true,
          "type": "string"
        },
        "redisConfigs": {
          "description": "Optional. Redis configuration parameters, according to http:\/\/redis.io\/topics\/config. Currently, the only supported parameters are: Redis version 3.2 and newer: * maxmemory-policy * notify-keyspace-events Redis version 4.0 and newer: * activedefrag * lfu-decay-time * lfu-log-factor * maxmemory-gb Redis version 5.0 and newer: * stream-node-max-bytes * stream-node-max-entries",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tier": {
          "description": "Required. The service tier of the instance.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "BASIC tier: standalone instance",
            "STANDARD_HA tier: highly available primary\/replica instances"
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "BASIC",
            "STANDARD_HA"
          ]
        },
        "memorySizeGb": {
          "description": "Required. Redis memory size in GiB.",
          "type": "integer",
          "format": "int32"
        },
        "authorizedNetwork": {
          "description": "Optional. The full name of the Google Compute Engine [network](https:\/\/cloud.google.com\/vpc\/docs\/vpc) to which the instance is connected. If left unspecified, the `default` network will be used.",
          "type": "string"
        },
        "persistenceIamIdentity": {
          "description": "Output only. Cloud IAM identity used by import \/ export operations to transfer data to\/from Cloud Storage. Format is \"serviceAccount:\". The value may change over time for a given instance so should be checked before each import\/export operation.",
          "readOnly": true,
          "type": "string"
        },
        "connectMode": {
          "description": "Optional. The network connect mode of the Redis instance. If not provided, the connect mode defaults to DIRECT_PEERING.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Connect via direct peering to the Memorystore for Redis hosted service.",
            "Connect your Memorystore for Redis instance using Private Service Access. Private services access provides an IP address range for multiple Google Cloud services, including Memorystore."
          ],
          "enum": [
            "CONNECT_MODE_UNSPECIFIED",
            "DIRECT_PEERING",
            "PRIVATE_SERVICE_ACCESS"
          ]
        },
        "authEnabled": {
          "description": "Optional. Indicates whether OSS Redis AUTH is enabled for the instance. If set to \"true\" AUTH is enabled on the instance. Default value is \"false\" meaning AUTH is disabled.",
          "type": "boolean"
        },
        "serverCaCerts": {
          "description": "Output only. List of server CA certificates for the instance.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "TlsCertificate"
          }
        },
        "persistenceConfig": {
          "description": "Optional. Persistence configuration parameters",
          "$ref": "PersistenceConfig"
        },
        "transitEncryptionMode": {
          "description": "Optional. The TLS mode of the Redis instance. If not provided, TLS is disabled for the instance.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Client to Server traffic encryption enabled with server authentication.",
            "TLS is disabled for the instance."
          ],
          "enum": [
            "TRANSIT_ENCRYPTION_MODE_UNSPECIFIED",
            "SERVER_AUTHENTICATION",
            "DISABLED"
          ]
        },
        "maintenancePolicy": {
          "description": "Optional. The maintenance policy for the instance. If not provided, maintenance events can be performed at any time.",
          "$ref": "MaintenancePolicy"
        },
        "maintenanceSchedule": {
          "description": "Output only. Date and time of upcoming maintenance events which have been scheduled.",
          "readOnly": true,
          "$ref": "MaintenanceSchedule"
        },
        "replicaCount": {
          "description": "Optional. The number of replica nodes. The valid range for the Standard Tier with read replicas enabled is [1-5] and defaults to 2. If read replicas are not enabled for a Standard Tier instance, the only valid value is 1 and the default is 1. The valid value for basic tier is 0 and the default is also 0.",
          "type": "integer",
          "format": "int32"
        },
        "nodes": {
          "description": "Output only. Info per node.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "NodeInfo"
          }
        },
        "readEndpoint": {
          "description": "Output only. Hostname or IP address of the exposed readonly Redis endpoint. Standard tier only. Targets all healthy replica nodes in instance. Replication is asynchronous and replica nodes will exhibit some lag behind the primary. Write requests must target 'host'.",
          "readOnly": true,
          "type": "string"
        },
        "readEndpointPort": {
          "description": "Output only. The port number of the exposed readonly redis endpoint. Standard tier only. Write requests should target 'port'.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "readReplicasMode": {
          "description": "Optional. Read replicas mode for the instance. Defaults to READ_REPLICAS_DISABLED.",
          "type": "string",
          "enumDescriptions": [
            "If not set, Memorystore Redis backend will default to READ_REPLICAS_DISABLED.",
            "If disabled, read endpoint will not be provided and the instance cannot scale up or down the number of replicas.",
            "If enabled, read endpoint will be provided and the instance can scale up and down the number of replicas. Not valid for basic tier."
          ],
          "enum": [
            "READ_REPLICAS_MODE_UNSPECIFIED",
            "READ_REPLICAS_DISABLED",
            "READ_REPLICAS_ENABLED"
          ]
        },
        "customerManagedKey": {
          "description": "Optional. The KMS key reference that the customer provides when trying to create the instance.",
          "type": "string"
        },
        "suspensionReasons": {
          "description": "Optional. reasons that causes instance in \"SUSPENDED\" state.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not set.",
              "Something wrong with the CMEK key provided by customer."
            ],
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "CUSTOMER_MANAGED_KEY_ISSUE"
            ]
          }
        },
        "maintenanceVersion": {
          "description": "Optional. The self service update maintenance version. The version is date based such as \"20210712_00_00\".",
          "type": "string"
        },
        "availableMaintenanceVersions": {
          "description": "Optional. The available maintenance versions that an instance could update to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TlsCertificate": {
      "id": "TlsCertificate",
      "description": "TlsCertificate Resource",
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "Serial number, as extracted from the certificate.",
          "type": "string"
        },
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the certificate was created in [RFC 3339](https:\/\/tools.ietf.org\/html\/rfc3339) format, for example `2020-05-18T00:00:00.094Z`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "expireTime": {
          "description": "Output only. The time when the certificate expires in [RFC 3339](https:\/\/tools.ietf.org\/html\/rfc3339) format, for example `2020-05-18T00:00:00.094Z`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sha1Fingerprint": {
          "description": "Sha1 Fingerprint of the certificate.",
          "type": "string"
        }
      }
    },
    "PersistenceConfig": {
      "id": "PersistenceConfig",
      "description": "Configuration of the persistence functionality.",
      "type": "object",
      "properties": {
        "persistenceMode": {
          "description": "Optional. Controls whether Persistence features are enabled. If not provided, the existing value will be used.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Persistence is disabled for the instance, and any existing snapshots are deleted.",
            "RDB based Persistence is enabled."
          ],
          "enum": [
            "PERSISTENCE_MODE_UNSPECIFIED",
            "DISABLED",
            "RDB"
          ]
        },
        "rdbSnapshotPeriod": {
          "description": "Optional. Period between RDB snapshots. Snapshots will be attempted every period starting from the provided snapshot start time. For example, a start time of 01\/01\/2033 06:45 and SIX_HOURS snapshot period will do nothing until 01\/01\/2033, and then trigger snapshots every day at 06:45, 12:45, 18:45, and 00:45 the next day, and so on. If not provided, TWENTY_FOUR_HOURS will be used as default.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Snapshot every 15 minutes.",
            "Snapshot every 30 minutes.",
            "Snapshot every 1 hour.",
            "Snapshot every 6 hours.",
            "Snapshot every 12 hours.",
            "Snapshot every 24 horus."
          ],
          "enum": [
            "SNAPSHOT_PERIOD_UNSPECIFIED",
            "FIFTEEN_MINUTES",
            "THIRTY_MINUTES",
            "ONE_HOUR",
            "SIX_HOURS",
            "TWELVE_HOURS",
            "TWENTY_FOUR_HOURS"
          ]
        },
        "rdbSnapshotStartTime": {
          "description": "Optional. Date and time that the first snapshot was\/will be attempted, and to which future snapshots will be aligned. If not provided, the current time will be used.",
          "type": "string",
          "format": "google-datetime"
        },
        "rdbNextSnapshotTime": {
          "description": "Output only. The next time that a snapshot attempt is scheduled to occur.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "MaintenancePolicy": {
      "id": "MaintenancePolicy",
      "description": "Maintenance policy for an instance.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time when the policy was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the policy was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create\/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        },
        "weeklyMaintenanceWindow": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy. Minimum 1. For the current version, the maximum number of weekly_window is expected to be one.",
          "type": "array",
          "items": {
            "$ref": "WeeklyMaintenanceWindow"
          }
        }
      }
    },
    "WeeklyMaintenanceWindow": {
      "id": "WeeklyMaintenanceWindow",
      "description": "Time window in which disruptive maintenance updates occur. Non-disruptive updates can occur inside or outside this window.",
      "type": "object",
      "properties": {
        "day": {
          "description": "Required. The day of week that maintenance updates occur.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "description": "Required. Start time of the window in UTC time.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "description": "Output only. Duration of the maintenance window. The current window is fixed at 1 hour.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "hours": {
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MaintenanceSchedule": {
      "id": "MaintenanceSchedule",
      "description": "Upcoming maintenance schedule. If no maintenance is scheduled, fields are not populated.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Output only. The start time of any upcoming scheduled maintenance for this instance.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The end time of any upcoming scheduled maintenance for this instance.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "canReschedule": {
          "description": "If the scheduled maintenance can be rescheduled, default is true.",
          "type": "boolean"
        },
        "scheduleDeadlineTime": {
          "description": "Output only. The time deadline any schedule start time cannot go beyond, including reschedule.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "NodeInfo": {
      "id": "NodeInfo",
      "description": "Node specific properties.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Output only. Node identifying string. e.g. 'node-0', 'node-1'",
          "readOnly": true,
          "type": "string"
        },
        "zone": {
          "description": "Output only. Location of the node.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "InstanceAuthString": {
      "id": "InstanceAuthString",
      "description": "Instance AUTH string details.",
      "type": "object",
      "properties": {
        "authString": {
          "description": "AUTH string set on the instance.",
          "type": "string"
        }
      }
    },
    "ReportInstanceHealthResponse": {
      "id": "ReportInstanceHealthResponse",
      "description": "Response for ReportInstanceHealth.",
      "type": "object",
      "properties": {
        "overallState": {
          "description": "Health state of overall health of this instance. Such as unhealthy\/warning\/healthy",
          "type": "string",
          "enumDescriptions": [
            "Invalid",
            "Unknown. May indicate exceptions.",
            "Healthy",
            "Warning",
            "Unhealthy"
          ],
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "UNKNOWN",
            "HEALTHY",
            "WARNING",
            "UNHEALTHY"
          ]
        },
        "categories": {
          "description": "Associated categories, such as CPU\/Memory",
          "type": "array",
          "items": {
            "$ref": "CategoryHealth"
          }
        }
      }
    },
    "CategoryHealth": {
      "id": "CategoryHealth",
      "description": "Category health, such as CPU\/memory",
      "type": "object",
      "properties": {
        "category": {
          "description": "Name of this category",
          "type": "string"
        },
        "state": {
          "description": "Health state, such as unhealthy\/warning\/healthy",
          "type": "string",
          "enumDescriptions": [
            "Invalid",
            "Unknown. May indicate exceptions.",
            "Healthy",
            "Warning",
            "Unhealthy"
          ],
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "UNKNOWN",
            "HEALTHY",
            "WARNING",
            "UNHEALTHY"
          ]
        },
        "metrics": {
          "description": "Associated metrics",
          "type": "array",
          "items": {
            "$ref": "MetricHealth"
          }
        }
      }
    },
    "MetricHealth": {
      "id": "MetricHealth",
      "description": "Metric health, such as used_memory_ratio, redis_server_cpu_usage",
      "type": "object",
      "properties": {
        "metric": {
          "description": "Name of this metric",
          "type": "string"
        },
        "state": {
          "description": "Health state, such as unhealthy\/warning\/healthy",
          "type": "string",
          "enumDescriptions": [
            "Invalid",
            "Unknown. May indicate exceptions.",
            "Healthy",
            "Warning",
            "Unhealthy"
          ],
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "UNKNOWN",
            "HEALTHY",
            "WARNING",
            "UNHEALTHY"
          ]
        },
        "reason": {
          "description": "Reason if the status is not healthy",
          "type": "string"
        },
        "suggestion": {
          "description": "Actional suggestion if the status is not healthy",
          "type": "string"
        }
      }
    },
    "UpgradeInstanceRequest": {
      "id": "UpgradeInstanceRequest",
      "description": "Request for UpgradeInstance.",
      "type": "object",
      "properties": {
        "redisVersion": {
          "description": "Required. Specifies the target version of Redis software to upgrade to.",
          "type": "string"
        }
      }
    },
    "ImportInstanceRequest": {
      "id": "ImportInstanceRequest",
      "description": "Request for Import.",
      "type": "object",
      "properties": {
        "inputConfig": {
          "description": "Required. Specify data to be imported.",
          "$ref": "InputConfig"
        }
      }
    },
    "InputConfig": {
      "id": "InputConfig",
      "description": "The input content",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "GcsSource"
        }
      }
    },
    "GcsSource": {
      "id": "GcsSource",
      "description": "The Cloud Storage location for the input content",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. Source data URI. (e.g. 'gs:\/\/my_bucket\/my_object').",
          "type": "string"
        }
      }
    },
    "ExportInstanceRequest": {
      "id": "ExportInstanceRequest",
      "description": "Request for Export.",
      "type": "object",
      "properties": {
        "outputConfig": {
          "description": "Required. Specify data to be exported.",
          "$ref": "OutputConfig"
        }
      }
    },
    "OutputConfig": {
      "id": "OutputConfig",
      "description": "The output content",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination for output content.",
          "$ref": "GcsDestination"
        }
      }
    },
    "GcsDestination": {
      "id": "GcsDestination",
      "description": "The Cloud Storage location for the output content",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. Data destination URI (e.g. 'gs:\/\/my_bucket\/my_object'). Existing files will be overwritten.",
          "type": "string"
        }
      }
    },
    "FailoverInstanceRequest": {
      "id": "FailoverInstanceRequest",
      "description": "Request for Failover.",
      "type": "object",
      "properties": {
        "dataProtectionMode": {
          "description": "Optional. Available data protection modes that the user can choose. If it's unspecified, data protection mode will be LIMITED_DATA_LOSS by default.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to LIMITED_DATA_LOSS if a data protection mode is not specified.",
            "Instance failover will be protected with data loss control. More specifically, the failover will only be performed if the current replication offset diff between primary and replica is under a certain threshold.",
            "Instance failover will be performed without data loss control."
          ],
          "enum": [
            "DATA_PROTECTION_MODE_UNSPECIFIED",
            "LIMITED_DATA_LOSS",
            "FORCE_DATA_LOSS"
          ]
        }
      }
    },
    "RescheduleMaintenanceRequest": {
      "id": "RescheduleMaintenanceRequest",
      "description": "Request for RescheduleMaintenance.",
      "type": "object",
      "properties": {
        "rescheduleType": {
          "description": "Required. If reschedule type is SPECIFIC_TIME, must set up schedule_time as well.",
          "type": "string",
          "enumDescriptions": [
            "If not set, the rpc will be a no-op.",
            "If the user wants to schedule the maintenance to happen now.",
            "If the user wants to use the existing maintenance policy to find the next available window.",
            "If the user wants to reschedule the maintenance to a specific time."
          ],
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ]
        },
        "scheduleTime": {
          "description": "Optional. The RFC 3339 timestamp for when maintenance will be rescheduled if rescheduleType=SPECIFIC_TIME. For example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Full resource name for the region. For example: \"projects\/example-project\/locations\/us-east1\".",
          "type": "string"
        },
        "locationId": {
          "description": "Resource ID for the region. For example: \"us-east1\".",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Output only. The set of available zones in the location. The map is keyed by the lowercase ID of each zone, as defined by Compute Engine. These keys can be specified in `location_id` or `alternative_location_id` fields when creating a Redis instance.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "description": "Response for ListClusters.",
      "type": "object",
      "properties": {
        "clusters": {
          "description": "A list of Redis clusters in the project in the specified location, or across all locations. If the `location_id` in the parent field of the request is \"-\", all regions available to the project are queried, and the results aggregated. If in such an aggregated query a location is unavailable, a placeholder Redis entry is included in the response with the `name` field set to a value of the form `projects\/{project_id}\/locations\/{location_id}\/clusters\/`- and the `status` field set to ERROR and `status_message` field set to \"location not available for ListClusters\".",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Cluster": {
      "id": "Cluster",
      "description": "A cluster instance.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Unique name of the resource in this scope including project and location using the form: `projects\/{project_id}\/locations\/{location_id}\/clusters\/{cluster_id}`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. An arbitrary and optional user-provided name for the cluster.",
          "type": "string"
        },
        "endpoints": {
          "description": "Output only. Hostname or IP address and port pairs used to connect to the cluster.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Endpoint"
          }
        },
        "createTime": {
          "description": "Output only. The timestamp associated with the cluster creation request.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The current state of this cluster. Can be CREATING, READY, UPDATING, DELETING and SUSPENDED",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Redis cluster is being created.",
            "Redis cluster has been created and is fully usable.",
            "Redis cluster configuration is being updated.",
            "Redis cluster is being deleted.",
            "Redis instance is being repaired and may be unusable."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "REPAIRING"
          ]
        },
        "redisConfigs": {
          "description": "Optional. Redis configuration parameters, according to http:\/\/redis.io\/topics\/config. Currently, the only supported parameters are: Redis version 6.x and newer: * lfu-decay-time * lfu-log-factor * maxmemory-policy",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clusterUid": {
          "description": "Output only. UID of the cluster for use by Pantheon for analytics.",
          "readOnly": true,
          "type": "string"
        },
        "totalMemorySizeGb": {
          "description": "Optional. Redis memory size in GiB for the entire cluster. Defaults to 48 for Dense tier and 12 for Performance tier.",
          "type": "integer",
          "format": "int32"
        },
        "defaultReplicaCount": {
          "description": "Optional. Input only. The number of replica nodes per shard. Valid range is [0-2] and defaults to 0. This field is INPUT only.",
          "type": "integer",
          "format": "int32"
        },
        "slots": {
          "description": "Output only. The slots making up the cluster. Read-only. In future versions this will be writable to allow for heterogeneous clusters.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ClusterSlots"
          }
        },
        "customerManagedKey": {
          "description": "Input only. The KMS key reference that the customer provides when trying to create the instance.",
          "type": "string"
        },
        "redisVersion": {
          "description": "Output only. Redis version. This is an output only field and currently only Redis 6 is supported.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "`REDIS_6_X` for Redis 6.x compatibility This is the default and only supported version in Flex for now."
          ],
          "enum": [
            "REDIS_VERSION_UNSPECIFIED",
            "REDIS_6_X"
          ]
        }
      }
    },
    "Endpoint": {
      "id": "Endpoint",
      "description": "An endpoint exposed by a cluster. In the future we will add an enum to identify whether this endpoint is read\/write or read-only when the feature is ready.",
      "type": "object",
      "properties": {
        "host": {
          "description": "Output only. Hostname or IP address of the exposed Redis endpoint used by clients to connect to the service.",
          "readOnly": true,
          "type": "string"
        },
        "port": {
          "description": "Output only. The port number of the exposed Redis endpoint.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ClusterSlots": {
      "id": "ClusterSlots",
      "description": "A series of slots belonging to a cluster.",
      "type": "object",
      "properties": {
        "startSlotsInclusive": {
          "description": "Output only. The start of the slots that make up this series.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "endSlotsExclusive": {
          "description": "Output only. The end of the slots that make up this series.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "memorySizeGb": {
          "description": "Output only. The total size of keyspace this series has.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "replicaCount": {
          "description": "Output only. The number of replicas this series has.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudCommonOperationMetadata": {
      "id": "GoogleCloudCommonOperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "description": "This location metadata represents additional configuration options for a given location where a Redis instance may be created. All fields are output only. It is returned as content of the `google.cloud.location.Location.metadata` field.",
      "type": "object",
      "properties": {
        "availableZones": {
          "description": "Output only. The set of available zones in the location. The map is keyed by the lowercase ID of each zone, as defined by Compute Engine. These keys can be specified in `location_id` or `alternative_location_id` fields when creating a Redis instance.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "ZoneMetadata"
          }
        }
      }
    },
    "ZoneMetadata": {
      "id": "ZoneMetadata",
      "description": "Defines specific information for a particular zone. Currently empty and reserved for future use only.",
      "type": "object",
      "properties": {
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Pre-defined metadata fields.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "redis.projects.locations.list",
              "path": "v1alpha1/{+name}/locations",
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https:\/\/google.aip.dev\/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service."
            },
            "get": {
              "id": "redis.projects.locations.get",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location."
            }
          }
          ,
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "redis.projects.locations.operations.list",
                  "path": "v1alpha1/{+name}/operations",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users\/*\/operations`. To override the binding, API services can add a binding such as `\"\/v1\/{name=users\/*}\/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                },
                "get": {
                  "id": "redis.projects.locations.operations.get",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "id": "redis.projects.locations.operations.delete",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "id": "redis.projects.locations.operations.cancel",
                  "path": "v1alpha1/{+name}:cancel",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                }
              }
            },
            "instances": {
              "methods": {
                "list": {
                  "id": "redis.projects.locations.instances.list",
                  "path": "v1alpha1/{+parent}/instances",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/instances",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the instance location using the form: `projects\/{project_id}\/locations\/{location_id}` where `location_id` refers to a GCP region.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's `next_page_token` to determine if there are more instances left to be queried.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The `next_page_token` value returned from a previous ListInstances request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all Redis instances owned by a project in either the specified location (region) or all locations. The location should have the following format: * `projects\/{project_id}\/locations\/{location_id}` If `location_id` is specified as `-` (wildcard), then all regions available to the project are queried, and the results are aggregated."
                },
                "get": {
                  "id": "redis.projects.locations.instances.get",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Redis instance resource name using the form: `projects\/{project_id}\/locations\/{location_id}\/instances\/{instance_id}` where `location_id` refers to a GCP region.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/instances\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Instance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the details of a specific Redis instance."
                },
                "getAuthString": {
                  "id": "redis.projects.locations.instances.getAuthString",
                  "path": "v1alpha1/{+name}/authString",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/authString",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Redis instance resource name using the form: `projects\/{project_id}\/locations\/{location_id}\/instances\/{instance_id}` where `location_id` refers to a GCP region.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/instances\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "InstanceAuthString"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the AUTH string for a Redis instance. If AUTH is not enabled for the instance the response will be empty. This information is not included in the details returned to GetInstance."
                },
                "reportInstanceHealth": {
                  "id": "redis.projects.locations.instances.reportInstanceHealth",
                  "path": "v1alpha1/{+instance}:reportInstanceHealth",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:reportInstanceHealth",
                  "httpMethod": "GET",
                  "parameters": {
                    "instance": {
                      "description": "Required. Name of Redis instance for which health report will be retrieved",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/instances\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "window": {
                      "description": "Optional. Window associated with the health report. Default: ONE_HOUR",
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "Invalid window",
                        "1 hour",
                        "1 day",
                        "1 week"
                      ],
                      "enum": [
                        "HEALTH_WINDOW_UNSPECIFIED",
                        "ONE_HOUR",
                        "ONE_DAY",
                        "ONE_WEEK"
                      ]
                    },
                    "reportTime": {
                      "description": "Optional. Timestamp for the health report. Default: latest",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    }
                  },
                  "parameterOrder": [
                    "instance"
                  ],
                  "response": {
                    "$ref": "ReportInstanceHealthResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets health report for an instance."
                },
                "create": {
                  "id": "redis.projects.locations.instances.create",
                  "path": "v1alpha1/{+parent}/instances",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/instances",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the instance location using the form: `projects\/{project_id}\/locations\/{location_id}` where `location_id` refers to a GCP region.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "instanceId": {
                      "description": "Required. The logical name of the Redis instance in the customer project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-40 characters. * Must end with a number or a letter. * Must be unique within the customer project \/ location",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Instance"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a Redis instance based on the specified tier and memory size. By default, the instance is accessible from the project's [default network](https:\/\/cloud.google.com\/vpc\/docs\/vpc). The creation is executed asynchronously and callers may check the returned operation to track its progress. Once the operation is completed the Redis instance will be fully functional. The Completed longrunning.Operation will contain the new instance object in the response field. The returned operation is automatically deleted after a few hours, so there is no need to call DeleteOperation."
                },
                "patch": {
                  "id": "redis.projects.locations.instances.patch",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Required. Unique name of the resource in this scope including project and location using the form: `projects\/{project_id}\/locations\/{location_id}\/instances\/{instance_id}` Note: Redis instances are managed and addressed at regional level so location_id here refers to a GCP region; however, users may choose which specific zone (or collection of zones for cross-zone instances) an instance should be provisioned in. Refer to location_id and alternative_location_id fields for more details.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/instances\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields from Instance: * `displayName` * `labels` * `memorySizeGb` * `redisConfig` * `replica_count`",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Instance"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the metadata and configuration of a specific Redis instance. Completed longrunning.Operation will contain the new instance object in the response field. The returned operation is automatically deleted after a few hours, so there is no need to call DeleteOperation."
                },
                "upgrade": {
                  "id": "redis.projects.locations.instances.upgrade",
                  "path": "v1alpha1/{+name}:upgrade",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:upgrade",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Redis instance resource name using the form: `projects\/{project_id}\/locations\/{location_id}\/instances\/{instance_id}` where `location_id` refers to a GCP region.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/instances\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "UpgradeInstanceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Upgrades Redis instance to the newer Redis version specified in the request."
                },
                "import": {
                  "id": "redis.projects.locations.instances.import",
                  "path": "v1alpha1/{+name}:import",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:import",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Redis instance resource name using the form: `projects\/{project_id}\/locations\/{location_id}\/instances\/{instance_id}` where `location_id` refers to a GCP region.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/instances\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ImportInstanceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Import a Redis RDB snapshot file from Cloud Storage into a Redis instance. Redis may stop serving during this operation. Instance state will be IMPORTING for entire operation. When complete, the instance will contain only data from the imported file. The returned operation is automatically deleted after a few hours, so there is no need to call DeleteOperation."
                },
                "export": {
                  "id": "redis.projects.locations.instances.export",
                  "path": "v1alpha1/{+name}:export",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:export",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Redis instance resource name using the form: `projects\/{project_id}\/locations\/{location_id}\/instances\/{instance_id}` where `location_id` refers to a GCP region.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/instances\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ExportInstanceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Export Redis instance data into a Redis RDB format file in Cloud Storage. Redis will continue serving during this operation. The returned operation is automatically deleted after a few hours, so there is no need to call DeleteOperation."
                },
                "failover": {
                  "id": "redis.projects.locations.instances.failover",
                  "path": "v1alpha1/{+name}:failover",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:failover",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Redis instance resource name using the form: `projects\/{project_id}\/locations\/{location_id}\/instances\/{instance_id}` where `location_id` refers to a GCP region.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/instances\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "FailoverInstanceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Initiates a failover of the primary node to current replica node for a specific STANDARD tier Cloud Memorystore for Redis instance."
                },
                "delete": {
                  "id": "redis.projects.locations.instances.delete",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Redis instance resource name using the form: `projects\/{project_id}\/locations\/{location_id}\/instances\/{instance_id}` where `location_id` refers to a GCP region.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/instances\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a specific Redis instance. Instance stops serving and data is deleted."
                },
                "rescheduleMaintenance": {
                  "id": "redis.projects.locations.instances.rescheduleMaintenance",
                  "path": "v1alpha1/{+name}:rescheduleMaintenance",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:rescheduleMaintenance",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Redis instance resource name using the form: `projects\/{project_id}\/locations\/{location_id}\/instances\/{instance_id}` where `location_id` refers to a GCP region.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/instances\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RescheduleMaintenanceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Reschedule maintenance for a given instance in a given project and location."
                }
              }
            },
            "clusters": {
              "methods": {
                "list": {
                  "id": "redis.projects.locations.clusters.list",
                  "path": "v1alpha1/{+parent}/clusters",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the cluster location using the form: `projects\/{project_id}\/locations\/{location_id}` where `location_id` refers to a GCP region.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's `next_page_token` to determine if there are more clusters left to be queried.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The `next_page_token` value returned from a previous ListClusters request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all Redis clusters owned by a project in either the specified location (region) or all locations. The location should have the following format: * `projects\/{project_id}\/locations\/{location_id}` If `location_id` is specified as `-` (wildcard), then all regions available to the project are queried, and the results are aggregated."
                },
                "get": {
                  "id": "redis.projects.locations.clusters.get",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Redis cluster resource name using the form: `projects\/{project_id}\/locations\/{location_id}\/clusters\/{cluster_id}` where `location_id` refers to a GCP region.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/clusters\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Cluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the details of a specific Redis cluster."
                },
                "delete": {
                  "id": "redis.projects.locations.clusters.delete",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Redis cluster resource name using the form: `projects\/{project_id}\/locations\/{location_id}\/clusters\/{cluster_id}` where `location_id` refers to a GCP region.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/clusters\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a specific Redis cluster. Cluster stops serving and data is deleted."
                },
                "create": {
                  "id": "redis.projects.locations.clusters.create",
                  "path": "v1alpha1/{+parent}/clusters",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the cluster location using the form: `projects\/{project_id}\/locations\/{location_id}` where `location_id` refers to a GCP region.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "clusterId": {
                      "description": "Required. The logical name of the Redis cluster in the customer project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-40 characters. * Must end with a number or a letter. * Must be unique within the customer project \/ location",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Cluster"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a Redis cluster based on the specified tier and memory size. The creation is executed asynchronously and callers may check the returned operation to track its progress. Once the operation is completed the Redis cluster will be fully functional. The completed longrunning.Operation will contain the new cluster object in the response field. The returned operation is automatically deleted after a few hours, so there is no need to call DeleteOperation."
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": ""
}