{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "storagetransfer:v1",
  "name": "storagetransfer",
  "version": "v1",
  "revision": "0",
  "title": "Storage Transfer API",
  "description": "Transfers data from external data sources to a Google Cloud Storage bucket or between Google Cloud Storage buckets.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/storage-transfer/docs",
  "protocol": "rest",
  "rootUrl": "https://storagetransfer.googleapis.com/",
  "mtlsRootUrl": "https://storagetransfer.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://storagetransfer.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should have the format of `transferOperations\/some\/unique\/name`.",
          "type": "string"
        },
        "metadata": {
          "description": "Represents the transfer operation object. To request a TransferOperation object, use transferOperations.get.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleServiceAccount": {
      "id": "GoogleServiceAccount",
      "description": "Google service account",
      "type": "object",
      "properties": {
        "accountEmail": {
          "description": "Email address of the service account.",
          "type": "string"
        }
      }
    },
    "TransferJob": {
      "id": "TransferJob",
      "description": "This resource represents the configuration of a transfer job that runs periodically.",
      "type": "object",
      "properties": {
        "name": {
          "description": "A unique name (within the transfer project) assigned when the job is created. If this field is empty in a CreateTransferJobRequest, Storage Transfer Service will assign a unique name. Otherwise, the specified name is used as the unique name for this job. If the specified name is in use by a job, the creation request fails with an ALREADY_EXISTS error. This name must start with `\"transferJobs\/\"` prefix and end with a letter or a number, and should be no more than 128 characters. Example: `\"transferJobs\/[A-Za-z0-9-._~]*[A-Za-z0-9]$\"` Invalid job names will fail with an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "description": {
          "description": "A description provided by the user for the job. Its max length is 1024 bytes when Unicode-encoded.",
          "type": "string"
        },
        "projectId": {
          "description": "The ID of the Google Cloud Platform Project that owns the job.",
          "type": "string"
        },
        "transferSpec": {
          "description": "Transfer specification.",
          "$ref": "TransferSpec"
        },
        "notificationConfig": {
          "description": "Notification configuration.",
          "$ref": "NotificationConfig"
        },
        "schedule": {
          "description": "Schedule specification.",
          "$ref": "Schedule"
        },
        "status": {
          "description": "Status of the job. This value MUST be specified for `CreateTransferJobRequests`. **Note:** The effect of the new job status takes place during a subsequent job run. For example, if you change the job status from ENABLED to DISABLED, and an operation spawned by the transfer is running, the status change would not affect the current operation.",
          "type": "string",
          "enumDescriptions": [
            "Zero is an illegal value.",
            "New transfers will be performed based on the schedule.",
            "New transfers will not be scheduled.",
            "This is a soft delete state. After a transfer job is set to this state, the job and all the transfer executions are subject to garbage collection. Transfer jobs become eligible for garbage collection 30 days after their status is set to `DELETED`."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DELETED"
          ]
        },
        "creationTime": {
          "description": "Output only. The time that the transfer job was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastModificationTime": {
          "description": "Output only. The time that the transfer job was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deletionTime": {
          "description": "Output only. The time that the transfer job was deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "latestOperationName": {
          "description": "The name of the most recently started TransferOperation of this JobConfig. Present if and only if at least one TransferOperation has been created for this JobConfig.",
          "type": "string"
        }
      }
    },
    "TransferSpec": {
      "id": "TransferSpec",
      "description": "Configuration for running a transfer.",
      "type": "object",
      "properties": {
        "gcsDataSink": {
          "description": "A Cloud Storage data sink.",
          "$ref": "GcsData"
        },
        "gcsDataSource": {
          "description": "A Cloud Storage data source.",
          "$ref": "GcsData"
        },
        "awsS3DataSource": {
          "description": "An AWS S3 data source.",
          "$ref": "AwsS3Data"
        },
        "httpDataSource": {
          "description": "An HTTP URL data source.",
          "$ref": "HttpData"
        },
        "azureBlobStorageDataSource": {
          "description": "An Azure Blob Storage data source.",
          "$ref": "AzureBlobStorageData"
        },
        "objectConditions": {
          "description": "Only objects that satisfy these object conditions are included in the set of data source and data sink objects. Object conditions based on objects' \"last modification time\" do not exclude objects in a data sink.",
          "$ref": "ObjectConditions"
        },
        "transferOptions": {
          "description": "If the option delete_objects_unique_in_sink is `true` and time-based object conditions such as 'last modification time' are specified, the request fails with an INVALID_ARGUMENT error.",
          "$ref": "TransferOptions"
        }
      }
    },
    "GcsData": {
      "id": "GcsData",
      "description": "In a GcsData resource, an object's name is the Cloud Storage object's name and its \"last modification time\" refers to the object's `updated` property of Cloud Storage objects, which changes when the content or the metadata of the object is updated.",
      "type": "object",
      "properties": {
        "bucketName": {
          "description": "Required. Cloud Storage bucket name (see [Bucket Name Requirements](https:\/\/cloud.google.com\/storage\/docs\/naming#requirements)).",
          "type": "string"
        },
        "path": {
          "description": "Root path to transfer objects. Must be an empty string or full path name that ends with a '\/'. This field is treated as an object prefix. As such, it should generally not begin with a '\/'. (must meet Object Name Requirements](https:\/\/cloud.google.com\/storage\/docs\/naming#objectnames)).",
          "type": "string"
        }
      }
    },
    "AwsS3Data": {
      "id": "AwsS3Data",
      "description": "An AwsS3Data resource can be a data source, but not a data sink. In an AwsS3Data resource, an object's name is the S3 object's key name.",
      "type": "object",
      "properties": {
        "bucketName": {
          "description": "Required. S3 Bucket name (see [Creating a bucket](https:\/\/docs.aws.amazon.com\/AmazonS3\/latest\/dev\/create-bucket-get-location-example.html)).",
          "type": "string"
        },
        "awsAccessKey": {
          "description": "Required. Input only. AWS access key used to sign the API requests to the AWS S3 bucket. Permissions on the bucket must be granted to the access ID of the AWS access key. For information on our data retention policy for user credentials, see [User credentials](\/storage-transfer\/docs\/data-retention#user-credentials).",
          "$ref": "AwsAccessKey"
        },
        "path": {
          "description": "Root path to transfer objects. Must be an empty string or full path name that ends with a '\/'. This field is treated as an object prefix. As such, it should generally not begin with a '\/'.",
          "type": "string"
        }
      }
    },
    "AwsAccessKey": {
      "id": "AwsAccessKey",
      "description": "AWS access key (see [AWS Security Credentials](https:\/\/docs.aws.amazon.com\/general\/latest\/gr\/aws-security-credentials.html)). For information on our data retention policy for user credentials, see [User credentials](\/storage-transfer\/docs\/data-retention#user-credentials).",
      "type": "object",
      "properties": {
        "accessKeyId": {
          "description": "Required. AWS access key ID.",
          "type": "string"
        },
        "secretAccessKey": {
          "description": "Required. AWS secret access key. This field is not returned in RPC responses.",
          "type": "string"
        }
      }
    },
    "HttpData": {
      "id": "HttpData",
      "description": "An HttpData resource specifies a list of objects on the web to be transferred over HTTP. The information of the objects to be transferred is contained in a file referenced by a URL. The first line in the file must be `\"TsvHttpData-1.0\"`, which specifies the format of the file. Subsequent lines specify the information of the list of objects, one object per list entry. Each entry has the following tab-delimited fields: * **HTTP URL** \u2014 The location of the object. * **Length** \u2014 The size of the object in bytes. * **MD5** \u2014 The base64-encoded MD5 hash of the object. For an example of a valid TSV file, see [Transferring data from URLs](https:\/\/cloud.google.com\/storage-transfer\/docs\/create-url-list). When transferring data based on a URL list, keep the following in mind: * When an object located at `http(s):\/\/hostname:port\/` is transferred to a data sink, the name of the object at the data sink is `\/`. * If the specified size of an object does not match the actual size of the object fetched, the object will not be transferred. * If the specified MD5 does not match the MD5 computed from the transferred bytes, the object transfer will fail. * Ensure that each URL you specify is publicly accessible. For example, in Cloud Storage you can [share an object publicly] (https:\/\/cloud.google.com\/storage\/docs\/cloud-console#_sharingdata) and get a link to it. * Storage Transfer Service obeys `robots.txt` rules and requires the source HTTP server to support `Range` requests and to return a `Content-Length` header in each response. * ObjectConditions have no effect when filtering objects to transfer.",
      "type": "object",
      "properties": {
        "listUrl": {
          "description": "Required. The URL that points to the file that stores the object list entries. This file must allow public access. Currently, only URLs with HTTP and HTTPS schemes are supported.",
          "type": "string"
        }
      }
    },
    "AzureBlobStorageData": {
      "id": "AzureBlobStorageData",
      "description": "An AzureBlobStorageData resource can be a data source, but not a data sink. An AzureBlobStorageData resource represents one Azure container. The storage account determines the [Azure endpoint](https:\/\/docs.microsoft.com\/en-us\/azure\/storage\/common\/storage-create-storage-account#storage-account-endpoints). In an AzureBlobStorageData resource, a blobs's name is the [Azure Blob Storage blob's key name](https:\/\/docs.microsoft.com\/en-us\/rest\/api\/storageservices\/naming-and-referencing-containers--blobs--and-metadata#blob-names).",
      "type": "object",
      "properties": {
        "storageAccount": {
          "description": "Required. The name of the Azure Storage account.",
          "type": "string"
        },
        "azureCredentials": {
          "description": "Required. Input only. Credentials used to authenticate API requests to Azure. For information on our data retention policy for user credentials, see [User credentials](\/storage-transfer\/docs\/data-retention#user-credentials).",
          "$ref": "AzureCredentials"
        },
        "container": {
          "description": "Required. The container to transfer from the Azure Storage account.",
          "type": "string"
        },
        "path": {
          "description": "Root path to transfer objects. Must be an empty string or full path name that ends with a '\/'. This field is treated as an object prefix. As such, it should generally not begin with a '\/'.",
          "type": "string"
        }
      }
    },
    "AzureCredentials": {
      "id": "AzureCredentials",
      "description": "Azure credentials For information on our data retention policy for user credentials, see [User credentials](\/storage-transfer\/docs\/data-retention#user-credentials).",
      "type": "object",
      "properties": {
        "sasToken": {
          "description": "Required. Azure shared access signature. (see [Grant limited access to Azure Storage resources using shared access signatures (SAS)](https:\/\/docs.microsoft.com\/en-us\/azure\/storage\/common\/storage-sas-overview)).",
          "type": "string"
        }
      }
    },
    "ObjectConditions": {
      "id": "ObjectConditions",
      "description": "Conditions that determine which objects will be transferred. Applies only to Cloud Data Sources such as S3, Azure, and Cloud Storage. The \"last modification time\" refers to the time of the last change to the object's content or metadata \u2014 specifically, this is the `updated` property of Cloud Storage objects, the `LastModified` field of S3 objects, and the `Last-Modified` header of Azure blobs.",
      "type": "object",
      "properties": {
        "minTimeElapsedSinceLastModification": {
          "description": "If specified, only objects with a \"last modification time\" before `NOW` - `min_time_elapsed_since_last_modification` and objects that don't have a \"last modification time\" are transferred. For each TransferOperation started by this TransferJob, `NOW` refers to the start_time of the `TransferOperation`.",
          "type": "string",
          "format": "google-duration"
        },
        "maxTimeElapsedSinceLastModification": {
          "description": "If specified, only objects with a \"last modification time\" on or after `NOW` - `max_time_elapsed_since_last_modification` and objects that don't have a \"last modification time\" are transferred. For each TransferOperation started by this TransferJob, `NOW` refers to the start_time of the `TransferOperation`.",
          "type": "string",
          "format": "google-duration"
        },
        "includePrefixes": {
          "description": "If you specify `include_prefixes`, Storage Transfer Service uses the items in the `include_prefixes` array to determine which objects to include in a transfer. Objects must start with one of the matching `include_prefixes` for inclusion in the transfer. If exclude_prefixes is specified, objects must not start with any of the `exclude_prefixes` specified for inclusion in the transfer. The following are requirements of `include_prefixes`: * Each include-prefix can contain any sequence of Unicode characters, to a max length of 1024 bytes when UTF8-encoded, and must not contain Carriage Return or Line Feed characters. Wildcard matching and regular expression matching are not supported. * Each include-prefix must omit the leading slash. For example, to include the object `s3:\/\/my-aws-bucket\/logs\/y=2015\/requests.gz`, specify the include-prefix as `logs\/y=2015\/requests.gz`. * None of the include-prefix values can be empty, if specified. * Each include-prefix must include a distinct portion of the object namespace. No include-prefix may be a prefix of another include-prefix. The max size of `include_prefixes` is 1000. For more information, see [Filtering objects from transfers](\/storage-transfer\/docs\/filtering-objects-from-transfers).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludePrefixes": {
          "description": "If you specify `exclude_prefixes`, Storage Transfer Service uses the items in the `exclude_prefixes` array to determine which objects to exclude from a transfer. Objects must not start with one of the matching `exclude_prefixes` for inclusion in a transfer. The following are requirements of `exclude_prefixes`: * Each exclude-prefix can contain any sequence of Unicode characters, to a max length of 1024 bytes when UTF8-encoded, and must not contain Carriage Return or Line Feed characters. Wildcard matching and regular expression matching are not supported. * Each exclude-prefix must omit the leading slash. For example, to exclude the object `s3:\/\/my-aws-bucket\/logs\/y=2015\/requests.gz`, specify the exclude-prefix as `logs\/y=2015\/requests.gz`. * None of the exclude-prefix values can be empty, if specified. * Each exclude-prefix must exclude a distinct portion of the object namespace. No exclude-prefix may be a prefix of another exclude-prefix. * If include_prefixes is specified, then each exclude-prefix must start with the value of a path explicitly included by `include_prefixes`. The max size of `exclude_prefixes` is 1000. For more information, see [Filtering objects from transfers](\/storage-transfer\/docs\/filtering-objects-from-transfers).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastModifiedSince": {
          "description": "If specified, only objects with a \"last modification time\" on or after this timestamp and objects that don't have a \"last modification time\" are transferred. The `last_modified_since` and `last_modified_before` fields can be used together for chunked data processing. For example, consider a script that processes each day's worth of data at a time. For that you'd set each of the fields as follows: * `last_modified_since` to the start of the day * `last_modified_before` to the end of the day",
          "type": "string",
          "format": "google-datetime"
        },
        "lastModifiedBefore": {
          "description": "If specified, only objects with a \"last modification time\" before this timestamp and objects that don't have a \"last modification time\" will be transferred.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "TransferOptions": {
      "id": "TransferOptions",
      "description": "TransferOptions define the actions to be performed on objects in a transfer.",
      "type": "object",
      "properties": {
        "overwriteObjectsAlreadyExistingInSink": {
          "description": "When to overwrite objects that already exist in the sink. The default is that only objects that are different from the source are ovewritten. If true, all objects in the sink whose name matches an object in the source will be overwritten with the source object.",
          "type": "boolean"
        },
        "deleteObjectsUniqueInSink": {
          "description": "Whether objects that exist only in the sink should be deleted. **Note:** This option and delete_objects_from_source_after_transfer are mutually exclusive.",
          "type": "boolean"
        },
        "deleteObjectsFromSourceAfterTransfer": {
          "description": "Whether objects should be deleted from the source after they are transferred to the sink. **Note:** This option and delete_objects_unique_in_sink are mutually exclusive.",
          "type": "boolean"
        }
      }
    },
    "NotificationConfig": {
      "id": "NotificationConfig",
      "description": "Specification to configure notifications published to Cloud Pub\/Sub. Notifications will be published to the customer-provided topic using the following `PubsubMessage.attributes`: * `\"eventType\"`: one of the EventType values * `\"payloadFormat\"`: one of the PayloadFormat values * `\"projectId\"`: the project_id of the `TransferOperation` * `\"transferJobName\"`: the transfer_job_name of the `TransferOperation` * `\"transferOperationName\"`: the name of the `TransferOperation` The `PubsubMessage.data` will contain a TransferOperation resource formatted according to the specified `PayloadFormat`.",
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "description": "Required. The `Topic.name` of the Cloud Pub\/Sub topic to which to publish notifications. Must be of the format: `projects\/{project}\/topics\/{topic}`. Not matching this format will result in an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "eventTypes": {
          "description": "Event types for which a notification is desired. If empty, send notifications for all event types.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Illegal value, to avoid allowing a default.",
              "`TransferOperation` completed with status SUCCESS.",
              "`TransferOperation` completed with status FAILED.",
              "`TransferOperation` completed with status ABORTED."
            ],
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "TRANSFER_OPERATION_SUCCESS",
              "TRANSFER_OPERATION_FAILED",
              "TRANSFER_OPERATION_ABORTED"
            ]
          }
        },
        "payloadFormat": {
          "description": "Required. The desired format of the notification message payloads.",
          "type": "string",
          "enumDescriptions": [
            "Illegal value, to avoid allowing a default.",
            "No payload is included with the notification.",
            "`TransferOperation` is [formatted as a JSON response](https:\/\/developers.google.com\/protocol-buffers\/docs\/proto3#json), in application\/json."
          ],
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "NONE",
            "JSON"
          ]
        }
      }
    },
    "Schedule": {
      "id": "Schedule",
      "description": "Transfers can be scheduled to recur or to run just once.",
      "type": "object",
      "properties": {
        "scheduleStartDate": {
          "description": "Required. The start date of a transfer. Date boundaries are determined relative to UTC time. If `schedule_start_date` and start_time_of_day are in the past relative to the job's creation time, the transfer starts the day after you schedule the transfer request. **Note:** When starting jobs at or near midnight UTC it is possible that a job will start later than expected. For example, if you send an outbound request on June 1 one millisecond prior to midnight UTC and the Storage Transfer Service server receives the request on June 2, then it will create a TransferJob with `schedule_start_date` set to June 2 and a `start_time_of_day` set to midnight UTC. The first scheduled TransferOperation will take place on June 3 at midnight UTC.",
          "$ref": "Date"
        },
        "scheduleEndDate": {
          "description": "The last day a transfer runs. Date boundaries are determined relative to UTC time. A job will run once per 24 hours within the following guidelines: * If `schedule_end_date` and schedule_start_date are the same and in the future relative to UTC, the transfer is executed only one time. * If `schedule_end_date` is later than `schedule_start_date` and `schedule_end_date` is in the future relative to UTC, the job will run each day at start_time_of_day through `schedule_end_date`.",
          "$ref": "Date"
        },
        "startTimeOfDay": {
          "description": "The time in UTC that a transfer job is scheduled to run. Transfers may start later than this time. If `start_time_of_day` is not specified: * One-time transfers run immediately. * Recurring transfers run immediately, and each day at midnight UTC, through schedule_end_date. If `start_time_of_day` is specified: * One-time transfers run at the specified time. * Recurring transfers run at the specified time each day, through `schedule_end_date`.",
          "$ref": "TimeOfDay"
        },
        "endTimeOfDay": {
          "description": "The time in UTC that no further transfer operations are scheduled. Combined with schedule_end_date, `end_time_of_day` specifies the end date and time for starting new transfer operations. This field must be greater than or equal to the timestamp corresponding to the combintation of schedule_start_date and start_time_of_day, and is subject to the following: * If `end_time_of_day` is not set and `schedule_end_date` is set, then a default value of `23:59:59` is used for `end_time_of_day`. * If `end_time_of_day` is set and `schedule_end_date` is not set, then INVALID_ARGUMENT is returned.",
          "$ref": "TimeOfDay"
        },
        "repeatInterval": {
          "description": "Interval between the start of each scheduled TransferOperation. If unspecified, the default value is 24 hours. This value may not be less than 1 hour.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "hours": {
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "UpdateTransferJobRequest": {
      "id": "UpdateTransferJobRequest",
      "description": "Request passed to UpdateTransferJob.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The ID of the Google Cloud Platform Console project that owns the job.",
          "type": "string"
        },
        "transferJob": {
          "description": "Required. The job to update. `transferJob` is expected to specify only four fields: description, transfer_spec, notification_config, and status. An `UpdateTransferJobRequest` that specifies other fields will be rejected with the error INVALID_ARGUMENT. Updating a job satus to DELETED requires `storagetransfer.jobs.delete` permissions.",
          "$ref": "TransferJob"
        },
        "updateTransferJobFieldMask": {
          "description": "The field mask of the fields in `transferJob` that are to be updated in this request. Fields in `transferJob` that can be updated are: description, transfer_spec, notification_config, and status. To update the `transfer_spec` of the job, a complete transfer specification must be provided. An incomplete specification missing any required fields will be rejected with the error INVALID_ARGUMENT.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "ListTransferJobsResponse": {
      "id": "ListTransferJobsResponse",
      "description": "Response from ListTransferJobs.",
      "type": "object",
      "properties": {
        "transferJobs": {
          "description": "A list of transfer jobs.",
          "type": "array",
          "items": {
            "$ref": "TransferJob"
          }
        },
        "nextPageToken": {
          "description": "The list next page token.",
          "type": "string"
        }
      }
    },
    "PauseTransferOperationRequest": {
      "id": "PauseTransferOperationRequest",
      "description": "Request passed to PauseTransferOperation.",
      "type": "object",
      "properties": {
      }
    },
    "ResumeTransferOperationRequest": {
      "id": "ResumeTransferOperationRequest",
      "description": "Request passed to ResumeTransferOperation.",
      "type": "object",
      "properties": {
      }
    },
    "TransferOperation": {
      "id": "TransferOperation",
      "description": "A description of the execution of a transfer.",
      "type": "object",
      "properties": {
        "name": {
          "description": "A globally unique ID assigned by the system.",
          "type": "string"
        },
        "projectId": {
          "description": "The ID of the Google Cloud Platform Project that owns the operation.",
          "type": "string"
        },
        "transferSpec": {
          "description": "Transfer specification.",
          "$ref": "TransferSpec"
        },
        "notificationConfig": {
          "description": "Notification configuration.",
          "$ref": "NotificationConfig"
        },
        "startTime": {
          "description": "Start time of this transfer execution.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "End time of this transfer execution.",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "description": "Status of the transfer operation.",
          "type": "string",
          "enumDescriptions": [
            "Zero is an illegal value.",
            "In progress.",
            "Paused.",
            "Completed successfully.",
            "Terminated due to an unrecoverable failure.",
            "Aborted by the user.",
            "Temporarily delayed by the system. No user action is required."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "PAUSED",
            "SUCCESS",
            "FAILED",
            "ABORTED",
            "QUEUED"
          ]
        },
        "counters": {
          "description": "Information about the progress of the transfer operation.",
          "$ref": "TransferCounters"
        },
        "errorBreakdowns": {
          "description": "Summarizes errors encountered with sample error log entries.",
          "type": "array",
          "items": {
            "$ref": "ErrorSummary"
          }
        },
        "transferJobName": {
          "description": "The name of the transfer job that triggers this transfer operation.",
          "type": "string"
        }
      }
    },
    "TransferCounters": {
      "id": "TransferCounters",
      "description": "A collection of counters that report the progress of a transfer operation.",
      "type": "object",
      "properties": {
        "objectsFoundFromSource": {
          "description": "Objects found in the data source that are scheduled to be transferred, excluding any that are filtered based on object conditions or skipped due to sync.",
          "type": "string",
          "format": "int64"
        },
        "bytesFoundFromSource": {
          "description": "Bytes found in the data source that are scheduled to be transferred, excluding any that are filtered based on object conditions or skipped due to sync.",
          "type": "string",
          "format": "int64"
        },
        "objectsFoundOnlyFromSink": {
          "description": "Objects found only in the data sink that are scheduled to be deleted.",
          "type": "string",
          "format": "int64"
        },
        "bytesFoundOnlyFromSink": {
          "description": "Bytes found only in the data sink that are scheduled to be deleted.",
          "type": "string",
          "format": "int64"
        },
        "objectsFromSourceSkippedBySync": {
          "description": "Objects in the data source that are not transferred because they already exist in the data sink.",
          "type": "string",
          "format": "int64"
        },
        "bytesFromSourceSkippedBySync": {
          "description": "Bytes in the data source that are not transferred because they already exist in the data sink.",
          "type": "string",
          "format": "int64"
        },
        "objectsCopiedToSink": {
          "description": "Objects that are copied to the data sink.",
          "type": "string",
          "format": "int64"
        },
        "bytesCopiedToSink": {
          "description": "Bytes that are copied to the data sink.",
          "type": "string",
          "format": "int64"
        },
        "objectsDeletedFromSource": {
          "description": "Objects that are deleted from the data source.",
          "type": "string",
          "format": "int64"
        },
        "bytesDeletedFromSource": {
          "description": "Bytes that are deleted from the data source.",
          "type": "string",
          "format": "int64"
        },
        "objectsDeletedFromSink": {
          "description": "Objects that are deleted from the data sink.",
          "type": "string",
          "format": "int64"
        },
        "bytesDeletedFromSink": {
          "description": "Bytes that are deleted from the data sink.",
          "type": "string",
          "format": "int64"
        },
        "objectsFromSourceFailed": {
          "description": "Objects in the data source that failed to be transferred or that failed to be deleted after being transferred.",
          "type": "string",
          "format": "int64"
        },
        "bytesFromSourceFailed": {
          "description": "Bytes in the data source that failed to be transferred or that failed to be deleted after being transferred.",
          "type": "string",
          "format": "int64"
        },
        "objectsFailedToDeleteFromSink": {
          "description": "Objects that failed to be deleted from the data sink.",
          "type": "string",
          "format": "int64"
        },
        "bytesFailedToDeleteFromSink": {
          "description": "Bytes that failed to be deleted from the data sink.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ErrorSummary": {
      "id": "ErrorSummary",
      "description": "A summary of errors by error code, plus a count and sample error log entries.",
      "type": "object",
      "properties": {
        "errorCode": {
          "description": "Required.",
          "type": "string",
          "enumDescriptions": [
            "Not an error; returned on success HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level (e.g., when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence). (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. E.g., if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported\/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ]
        },
        "errorCount": {
          "description": "Required. Count of this type of error.",
          "type": "string",
          "format": "int64"
        },
        "errorLogEntries": {
          "description": "Error samples. At most 5 error log entries will be recorded for a given error code for a single transfer operation.",
          "type": "array",
          "items": {
            "$ref": "ErrorLogEntry"
          }
        }
      }
    },
    "ErrorLogEntry": {
      "id": "ErrorLogEntry",
      "description": "An entry describing an error that has occurred.",
      "type": "object",
      "properties": {
        "url": {
          "description": "Required. A URL that refers to the target (a data source, a data sink, or an object) with which the error is associated.",
          "type": "string"
        },
        "errorDetails": {
          "description": "A list of messages that carry the error details.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "resources": {
    "transferOperations": {
      "methods": {
        "list": {
          "id": "storagetransfer.transferOperations.list",
          "path": "v1/{+name}",
          "flatPath": "v1/transferOperations",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The value `transferOperations`.",
              "location": "path",
              "required": true,
              "pattern": "^transferOperations$",
              "type": "string"
            },
            "filter": {
              "description": "Required. A list of query parameters specified as JSON text in the form of: `{\"projectId\":\"my_project_id\", \"jobNames\":[\"jobid1\",\"jobid2\",...], \"operationNames\":[\"opid1\",\"opid2\",...], \"transferStatuses\":[\"status1\",\"status2\",...]}` Since `jobNames`, `operationNames`, and `transferStatuses` support multiple values, they must be specified with array notation. `projectId` is required. `jobNames`, `operationNames`, and `transferStatuses` are optional. The valid values for `transferStatuses` are case-insensitive: IN_PROGRESS, PAUSED, SUCCESS, FAILED, and ABORTED.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "pageSize": {
              "description": "The list page size. The max allowed value is 256.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "The list page token.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name",
            "filter"
          ],
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists transfer operations."
        },
        "get": {
          "id": "storagetransfer.transferOperations.get",
          "path": "v1/{+name}",
          "flatPath": "v1/transferOperations/{transferOperationsId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "required": true,
              "pattern": "^transferOperations\/.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        },
        "cancel": {
          "id": "storagetransfer.transferOperations.cancel",
          "path": "v1/{+name}:cancel",
          "flatPath": "v1/transferOperations/{transferOperationsId}:cancel",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be cancelled.",
              "location": "path",
              "required": true,
              "pattern": "^transferOperations\/.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Cancels a transfer. Use the transferOperations.get method to check if the cancellation succeeded or if the operation completed despite the `cancel` request. When you cancel an operation, the currently running transfer is interrupted. For recurring transfer jobs, the next instance of the transfer job will still run. For example, if your job is configured to run every day at 1pm and you cancel Monday's operation at 1:05pm, Monday's transfer will stop. However, a transfer job will still be attempted on Tuesday. This applies only to currently running operations. If an operation is not currently running, `cancel` does nothing. *Caution:* Canceling a transfer job can leave your data in an unknown state. We recommend that you restore the state at both the destination and the source after the `cancel` request completes so that your data is in a consistent state. When you cancel a job, the next job computes a delta of files and may repair any inconsistent state. For instance, if you run a job every day, and today's job found 10 new files and transferred five files before you canceled the job, tomorrow's transfer operation will compute a new delta with the five files that were not copied today plus any new files discovered tomorrow."
        },
        "pause": {
          "id": "storagetransfer.transferOperations.pause",
          "path": "v1/{+name}:pause",
          "flatPath": "v1/transferOperations/{transferOperationsId}:pause",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "description": "Required. The name of the transfer operation.",
              "location": "path",
              "required": true,
              "pattern": "^transferOperations\/.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "PauseTransferOperationRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Pauses a transfer operation."
        },
        "resume": {
          "id": "storagetransfer.transferOperations.resume",
          "path": "v1/{+name}:resume",
          "flatPath": "v1/transferOperations/{transferOperationsId}:resume",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "description": "Required. The name of the transfer operation.",
              "location": "path",
              "required": true,
              "pattern": "^transferOperations\/.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "ResumeTransferOperationRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Resumes a transfer operation that is paused."
        }
      }
    },
    "googleServiceAccounts": {
      "methods": {
        "get": {
          "id": "storagetransfer.googleServiceAccounts.get",
          "path": "v1/googleServiceAccounts/{projectId}",
          "flatPath": "v1/googleServiceAccounts/{projectId}",
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "description": "Required. The ID of the Google Cloud Platform Console project that the Google service account is associated with.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "GoogleServiceAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Returns the Google service account that is used by Storage Transfer Service to access buckets in the project where transfers run or in other projects. Each Google service account is associated with one Google Cloud Platform Console project. Users should add this service account to the Google Cloud Storage bucket ACLs to grant access to Storage Transfer Service. This service account is created and owned by Storage Transfer Service and can only be used by Storage Transfer Service."
        }
      }
    },
    "transferJobs": {
      "methods": {
        "create": {
          "id": "storagetransfer.transferJobs.create",
          "path": "v1/transferJobs",
          "flatPath": "v1/transferJobs",
          "httpMethod": "POST",
          "parameters": {
          },
          "parameterOrder": [
          ],
          "request": {
            "$ref": "TransferJob"
          },
          "response": {
            "$ref": "TransferJob"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates a transfer job that runs periodically."
        },
        "patch": {
          "id": "storagetransfer.transferJobs.patch",
          "path": "v1/{+jobName}",
          "flatPath": "v1/transferJobs/{transferJobsId}",
          "httpMethod": "PATCH",
          "parameters": {
            "jobName": {
              "description": "Required. The name of job to update.",
              "location": "path",
              "required": true,
              "pattern": "^transferJobs\/.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "jobName"
          ],
          "request": {
            "$ref": "UpdateTransferJobRequest"
          },
          "response": {
            "$ref": "TransferJob"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates a transfer job. Updating a job's transfer spec does not affect transfer operations that are running already. **Note:** The job's status field can be modified using this RPC (for example, to set a job's status to DELETED, DISABLED, or ENABLED)."
        },
        "get": {
          "id": "storagetransfer.transferJobs.get",
          "path": "v1/{+jobName}",
          "flatPath": "v1/transferJobs/{transferJobsId}",
          "httpMethod": "GET",
          "parameters": {
            "jobName": {
              "description": "Required. \" The job to get.",
              "location": "path",
              "required": true,
              "pattern": "^transferJobs\/.*$",
              "type": "string"
            },
            "projectId": {
              "description": "Required. The ID of the Google Cloud Platform Console project that owns the job.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "jobName",
            "projectId"
          ],
          "response": {
            "$ref": "TransferJob"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets a transfer job."
        },
        "list": {
          "id": "storagetransfer.transferJobs.list",
          "path": "v1/transferJobs",
          "flatPath": "v1/transferJobs",
          "httpMethod": "GET",
          "parameters": {
            "filter": {
              "description": "Required. A list of query parameters specified as JSON text in the form of: `{\"projectId\":\"my_project_id\", \"jobNames\":[\"jobid1\",\"jobid2\",...], \"jobStatuses\":[\"status1\",\"status2\",...]}` Since `jobNames` and `jobStatuses` support multiple values, their values must be specified with array notation. `projectId` is required. `jobNames` and `jobStatuses` are optional. The valid values for `jobStatuses` are case-insensitive: ENABLED, DISABLED, and DELETED.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "pageSize": {
              "description": "The list page size. The max allowed value is 256.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "The list page token.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "filter"
          ],
          "response": {
            "$ref": "ListTransferJobsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists transfer jobs."
        }
      }
    }
  },
  "basePath": ""
}