{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "aiplatform:v1beta1",
  "name": "aiplatform",
  "canonicalName": "Aiplatform",
  "version": "v1beta1",
  "revision": "0",
  "title": "Vertex AI API",
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "protocol": "rest",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        }
      }
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}\/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/how-to\/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace\/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "id": "GoogleIamV1GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GoogleIamV1GetPolicyOptions"
        }
      }
    },
    "GoogleIamV1GetPolicyOptions": {
      "id": "GoogleIamV1GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudAiplatformV1beta1Dataset": {
      "id": "GoogleCloudAiplatformV1beta1Dataset",
      "description": "A collection of DataItems and Annotations on them.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the Dataset.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of the Dataset. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the Dataset.",
          "type": "string"
        },
        "metadataSchemaUri": {
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing additional information about the Dataset. The schema is defined as an OpenAPI 3.0.2 Schema Object. The schema files that can be used here are found in gs:\/\/google-cloud-aiplatform\/schema\/dataset\/metadata\/.",
          "type": "string"
        },
        "metadata": {
          "description": "Required. Additional information about the Dataset.",
          "type": "any"
        },
        "createTime": {
          "description": "Output only. Timestamp when this Dataset was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Dataset was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your Datasets. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Dataset (System labels are excluded). See https:\/\/goo.gl\/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable. Following system labels exist for each Dataset: * \"aiplatform.googleapis.com\/dataset_metadata_schema\": output only, its value is the metadata_schema's title.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key spec for a Dataset. If set, this Dataset and all sub-resources of this Dataset will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1beta1EncryptionSpec"
        },
        "metadataArtifact": {
          "description": "Output only. The resource name of the Artifact that was created in MetadataStore when creating the Dataset. The Artifact resource name pattern is `projects\/{project}\/locations\/{location}\/metadataStores\/{metadata_store}\/artifacts\/{artifact}`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1EncryptionSpec": {
      "id": "GoogleCloudAiplatformV1beta1EncryptionSpec",
      "description": "Represents a customer-managed encryption key spec that can be applied to a top-level resource.",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Required. The Cloud KMS resource identifier of the customer managed encryption key used to protect a resource. Has the form: `projects\/my-project\/locations\/my-region\/keyRings\/my-kr\/cryptoKeys\/my-key`. The key needs to be in the same region as where the compute resource is created.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ListDatasetsResponse": {
      "id": "GoogleCloudAiplatformV1beta1ListDatasetsResponse",
      "description": "Response message for DatasetService.ListDatasets.",
      "type": "object",
      "properties": {
        "datasets": {
          "description": "A list of Datasets that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Dataset"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ImportDataRequest": {
      "id": "GoogleCloudAiplatformV1beta1ImportDataRequest",
      "description": "Request message for DatasetService.ImportData.",
      "type": "object",
      "properties": {
        "importConfigs": {
          "description": "Required. The desired input locations. The contents of all input locations will be imported in one batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ImportDataConfig"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ImportDataConfig": {
      "id": "GoogleCloudAiplatformV1beta1ImportDataConfig",
      "description": "Describes the location from where we import data into a Dataset, together with the labels that will be applied to the DataItems and the Annotations.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "The Google Cloud Storage location for the input content.",
          "$ref": "GoogleCloudAiplatformV1beta1GcsSource"
        },
        "dataItemLabels": {
          "description": "Labels that will be applied to newly imported DataItems. If an identical DataItem as one being imported already exists in the Dataset, then these labels will be appended to these of the already existing one, and if labels with identical key is imported before, the old label value will be overwritten. If two DataItems are identical in the same import data operation, the labels will be combined and if key collision happens in this case, one of the values will be picked randomly. Two DataItems are considered identical if their content bytes are identical (e.g. image bytes or pdf bytes). These labels will be overridden by Annotation labels specified inside index file referenced by import_schema_uri, e.g. jsonl file.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotationLabels": {
          "description": "Labels that will be applied to newly imported Annotations. If two Annotations are identical, one of them will be deduped. Two Annotations are considered identical if their payload, payload_schema_uri and all of their labels are the same. These labels will be overridden by Annotation labels specified inside index file referenced by import_schema_uri, e.g. jsonl file.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "importSchemaUri": {
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing the import format. Validation will be done against the schema. The schema is defined as an [OpenAPI 3.0.2 Schema Object](https:\/\/github.com\/OAI\/OpenAPI-Specification\/blob\/main\/versions\/3.0.2.md#schemaObject).",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GcsSource": {
      "id": "GoogleCloudAiplatformV1beta1GcsSource",
      "description": "The Google Cloud Storage location for the input content.",
      "type": "object",
      "properties": {
        "uris": {
          "description": "Required. Google Cloud Storage URI(-s) to the input file(s). May contain wildcards. For more information on wildcards, see https:\/\/cloud.google.com\/storage\/docs\/gsutil\/addlhelp\/WildcardNames.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExportDataRequest": {
      "id": "GoogleCloudAiplatformV1beta1ExportDataRequest",
      "description": "Request message for DatasetService.ExportData.",
      "type": "object",
      "properties": {
        "exportConfig": {
          "description": "Required. The desired output location.",
          "$ref": "GoogleCloudAiplatformV1beta1ExportDataConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExportDataConfig": {
      "id": "GoogleCloudAiplatformV1beta1ExportDataConfig",
      "description": "Describes what part of the Dataset is to be exported, the destination of the export and how to export.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The Google Cloud Storage location where the output is to be written to. In the given directory a new directory will be created with name: `export-data--` where timestamp is in YYYY-MM-DDThh:mm:ss.sssZ ISO-8601 format. All export output will be written into that directory. Inside that directory, annotations with the same schema will be grouped into sub directories which are named with the corresponding annotations' schema title. Inside these sub directories, a schema.yaml will be created to describe the output format.",
          "$ref": "GoogleCloudAiplatformV1beta1GcsDestination"
        },
        "fractionSplit": {
          "description": "Split based on fractions defining the size of each set.",
          "$ref": "GoogleCloudAiplatformV1beta1ExportFractionSplit"
        },
        "annotationsFilter": {
          "description": "A filter on Annotations of the Dataset. Only Annotations on to-be-exported DataItems(specified by data_items_filter) that match this filter will be exported. The filter syntax is the same as in ListAnnotations.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1GcsDestination": {
      "id": "GoogleCloudAiplatformV1beta1GcsDestination",
      "description": "The Google Cloud Storage location where the output is to be written to.",
      "type": "object",
      "properties": {
        "outputUriPrefix": {
          "description": "Required. Google Cloud Storage URI to output directory. If the uri doesn't end with '\/', a '\/' will be automatically appended. The directory is created if it doesn't exist.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExportFractionSplit": {
      "id": "GoogleCloudAiplatformV1beta1ExportFractionSplit",
      "description": "Assigns the input data to training, validation, and test sets as per the given fractions. Any of `training_fraction`, `validation_fraction` and `test_fraction` may optionally be provided, they must sum to up to 1. If the provided ones sum to less than 1, the remainder is assigned to sets as decided by Vertex AI. If none of the fractions are set, by default roughly 80% of data is used for training, 10% for validation, and 10% for test.",
      "type": "object",
      "properties": {
        "trainingFraction": {
          "description": "The fraction of the input data that is to be used to train the Model.",
          "type": "number",
          "format": "double"
        },
        "validationFraction": {
          "description": "The fraction of the input data that is to be used to validate the Model.",
          "type": "number",
          "format": "double"
        },
        "testFraction": {
          "description": "The fraction of the input data that is to be used to evaluate the Model.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ListDataItemsResponse": {
      "id": "GoogleCloudAiplatformV1beta1ListDataItemsResponse",
      "description": "Response message for DatasetService.ListDataItems.",
      "type": "object",
      "properties": {
        "dataItems": {
          "description": "A list of DataItems that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1DataItem"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1DataItem": {
      "id": "GoogleCloudAiplatformV1beta1DataItem",
      "description": "A piece of data in a Dataset. Could be an image, a video, a document or plain text.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the DataItem.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this DataItem was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this DataItem was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize your DataItems. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one DataItem(System labels are excluded). See https:\/\/goo.gl\/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "payload": {
          "description": "Required. The data that the DataItem represents (for example, an image or a text snippet). The schema of the payload is stored in the parent Dataset's metadata schema's dataItemSchemaUri field.",
          "type": "any"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ListSavedQueriesResponse": {
      "id": "GoogleCloudAiplatformV1beta1ListSavedQueriesResponse",
      "description": "Response message for DatasetService.ListSavedQueries.",
      "type": "object",
      "properties": {
        "savedQueries": {
          "description": "A list of SavedQueries that match the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1SavedQuery"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SavedQuery": {
      "id": "GoogleCloudAiplatformV1beta1SavedQuery",
      "description": "A SavedQuery is a view of the dataset. It references a subset of annotations by problem type and filters.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the SavedQuery.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of the SavedQuery. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "metadata": {
          "description": "Some additional information about the SavedQuery.",
          "type": "any"
        },
        "createTime": {
          "description": "Output only. Timestamp when this SavedQuery was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when SavedQuery was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "annotationFilter": {
          "description": "Output only. Filters on the Annotations in the dataset.",
          "readOnly": true,
          "type": "string"
        },
        "problemType": {
          "description": "Required. Problem type of the SavedQuery. Allowed values: * IMAGE_CLASSIFICATION_SINGLE_LABEL * IMAGE_CLASSIFICATION_MULTI_LABEL * IMAGE_BOUNDING_POLY * IMAGE_BOUNDING_BOX * TEXT_CLASSIFICATION_SINGLE_LABEL * TEXT_CLASSIFICATION_MULTI_LABEL * TEXT_EXTRACTION * TEXT_SENTIMENT * VIDEO_CLASSIFICATION * VIDEO_OBJECT_TRACKING",
          "type": "string"
        },
        "annotationSpecCount": {
          "description": "Output only. Number of AnnotationSpecs in the context of the SavedQuery.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "description": "Used to perform a consistent read-modify-write update. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "supportAutomlTraining": {
          "description": "Output only. If the Annotations belonging to the SavedQuery can be used for AutoML training.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1AnnotationSpec": {
      "id": "GoogleCloudAiplatformV1beta1AnnotationSpec",
      "description": "Identifies a concept with which DataItems may be annotated with.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the AnnotationSpec.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of the AnnotationSpec. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this AnnotationSpec was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when AnnotationSpec was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ListAnnotationsResponse": {
      "id": "GoogleCloudAiplatformV1beta1ListAnnotationsResponse",
      "description": "Response message for DatasetService.ListAnnotations.",
      "type": "object",
      "properties": {
        "annotations": {
          "description": "A list of Annotations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Annotation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1Annotation": {
      "id": "GoogleCloudAiplatformV1beta1Annotation",
      "description": "Used to assign specific AnnotationSpec to a particular area of a DataItem or the whole part of the DataItem.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the Annotation.",
          "readOnly": true,
          "type": "string"
        },
        "payloadSchemaUri": {
          "description": "Required. Google Cloud Storage URI points to a YAML file describing payload. The schema is defined as an [OpenAPI 3.0.2 Schema Object](https:\/\/github.com\/OAI\/OpenAPI-Specification\/blob\/main\/versions\/3.0.2.md#schemaObject). The schema files that can be used here are found in gs:\/\/google-cloud-aiplatform\/schema\/dataset\/annotation\/, note that the chosen schema must be consistent with the parent Dataset's metadata.",
          "type": "string"
        },
        "payload": {
          "description": "Required. The schema of the payload can be found in payload_schema.",
          "type": "any"
        },
        "createTime": {
          "description": "Output only. Timestamp when this Annotation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Annotation was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "annotationSource": {
          "description": "Output only. The source of the Annotation.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1beta1UserActionReference"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize your Annotations. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Annotation(System labels are excluded). See https:\/\/goo.gl\/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com\/\" and are immutable. Following system labels exist for each Annotation: * \"aiplatform.googleapis.com\/annotation_set_name\": optional, name of the UI's annotation set this Annotation belongs to. If not set, the Annotation is not visible in the UI. * \"aiplatform.googleapis.com\/payload_schema\": output only, its value is the payload_schema's title.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1beta1UserActionReference": {
      "id": "GoogleCloudAiplatformV1beta1UserActionReference",
      "description": "References an API call. It contains more information about long running operation and Jobs that are triggered by the API call.",
      "type": "object",
      "properties": {
        "operation": {
          "description": "For API calls that return a long running operation. Resource name of the long running operation. Format: `projects\/{project}\/locations\/{location}\/operations\/{operation}`",
          "type": "string"
        },
        "dataLabelingJob": {
          "description": "For API calls that start a LabelingJob. Resource name of the LabelingJob. Format: `projects\/{project}\/locations\/{location}\/dataLabelingJobs\/{data_labeling_job}`",
          "type": "string"
        },
        "method": {
          "description": "The method name of the API RPC call. For example, \"\/google.cloud.aiplatform.{apiVersion}.DatasetService.CreateDataset\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1CreateDeploymentResourcePoolRequest": {
      "id": "GoogleCloudAiplatformV1beta1CreateDeploymentResourcePoolRequest",
      "description": "Request message for CreateDeploymentResourcePool method.",
      "type": "object",
      "properties": {
        "deploymentResourcePool": {
          "description": "Required. The DeploymentResourcePool to create.",
          "$ref": "GoogleCloudAiplatformV1beta1DeploymentResourcePool"
        },
        "deploymentResourcePoolId": {
          "description": "Required. The ID to use for the DeploymentResourcePool, which will become the final component of the DeploymentResourcePool's resource name. The maximum length is 63 characters, and valid characters are `\/^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$\/`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1DeploymentResourcePool": {
      "id": "GoogleCloudAiplatformV1beta1DeploymentResourcePool",
      "description": "A description of resources that can be shared by multiple DeployedModels, whose underlying specification consists of a DedicatedResources.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the DeploymentResourcePool. Format: `projects\/{project}\/locations\/{location}\/deploymentResourcePools\/{deployment_resource_pool}`",
          "readOnly": true,
          "type": "string"
        },
        "dedicatedResources": {
          "description": "Required. The underlying DedicatedResources that the DeploymentResourcePool uses.",
          "$ref": "GoogleCloudAiplatformV1beta1DedicatedResources"
        },
        "createTime": {
          "description": "Output only. Timestamp when this DeploymentResourcePool was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1DedicatedResources": {
      "id": "GoogleCloudAiplatformV1beta1DedicatedResources",
      "description": "A description of resources that are dedicated to a DeployedModel, and that need a higher degree of manual configuration.",
      "type": "object",
      "properties": {
        "machineSpec": {
          "description": "Required. Immutable. The specification of a single machine used by the prediction.",
          "$ref": "GoogleCloudAiplatformV1beta1MachineSpec"
        },
        "minReplicaCount": {
          "description": "Required. Immutable. The minimum number of machine replicas this DeployedModel will be always deployed on. This value must be greater than or equal to 1. If traffic against the DeployedModel increases, it may dynamically be deployed onto more replicas, and as traffic decreases, some of these extra replicas may be freed.",
          "type": "integer",
          "format": "int32"
        },
        "maxReplicaCount": {
          "description": "Immutable. The maximum number of replicas this DeployedModel may be deployed on when the traffic against it increases. If the requested value is too large, the deployment will error, but if deployment succeeds then the ability to scale the model to that many replicas is guaranteed (barring service outages). If traffic against the DeployedModel increases beyond what its replicas at maximum may handle, a portion of the traffic will be dropped. If this value is not provided, will use min_replica_count as the default value. The value of this field impacts the charge against Vertex CPU and GPU quotas. Specifically, you will be charged for (max_replica_count * number of cores in the selected machine type) and (max_replica_count * number of GPUs per replica in the selected machine type).",
          "type": "integer",
          "format": "int32"
        },
        "autoscalingMetricSpecs": {
          "description": "Immutable. The metric specifications that overrides a resource utilization metric (CPU utilization, accelerator's duty cycle, and so on) target value (default to 60 if not set). At most one entry is allowed per metric. If machine_spec.accelerator_count is above 0, the autoscaling will be based on both CPU utilization and accelerator's duty cycle metrics and scale up when either metrics exceeds its target value while scale down if both metrics are under their target value. The default target value is 60 for both metrics. If machine_spec.accelerator_count is 0, the autoscaling will be based on CPU utilization metric only with default target value 60 if not explicitly set. For example, in the case of Online Prediction, if you want to override target CPU utilization to 80, you should set autoscaling_metric_specs.metric_name to `aiplatform.googleapis.com\/prediction\/online\/cpu\/utilization` and autoscaling_metric_specs.target to `80`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1AutoscalingMetricSpec"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1beta1MachineSpec": {
      "id": "GoogleCloudAiplatformV1beta1MachineSpec",
      "description": "Specification of a single machine.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Immutable. The type of the machine. See the [list of machine types supported for prediction](https:\/\/cloud.google.com\/vertex-ai\/docs\/predictions\/configure-compute#machine-types) See the [list of machine types supported for custom training](https:\/\/cloud.google.com\/vertex-ai\/docs\/training\/configure-compute#machine-types). For DeployedModel this field is optional, and the default value is `n1-standard-2`. For BatchPredictionJob or as part of WorkerPoolSpec this field is required.",
          "type": "string"
        },
        "acceleratorType": {
          "description": "Immutable. The type of accelerator(s) that may be attached to the machine as per accelerator_count.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified accelerator type, which means no accelerator.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "Nvidia A2 Ultra GPU.",
            "TPU v2.",
            "TPU v3."
          ],
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "TPU_V2",
            "TPU_V3"
          ]
        },
        "acceleratorCount": {
          "description": "The number of accelerators to attach to the machine.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1AutoscalingMetricSpec": {
      "id": "GoogleCloudAiplatformV1beta1AutoscalingMetricSpec",
      "description": "The metric specification that defines the target resource utilization (CPU utilization, accelerator's duty cycle, and so on) for calculating the desired replica count.",
      "type": "object",
      "properties": {
        "metricName": {
          "description": "Required. The resource metric name. Supported metrics: * For Online Prediction: * `aiplatform.googleapis.com\/prediction\/online\/accelerator\/duty_cycle` * `aiplatform.googleapis.com\/prediction\/online\/cpu\/utilization`",
          "type": "string"
        },
        "target": {
          "description": "The target resource utilization in percentage (1% - 100%) for the given metric; once the real usage deviates from the target by a certain percentage, the machine replicas change. The default value is 60 (representing 60%) if not provided.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ListDeploymentResourcePoolsResponse": {
      "id": "GoogleCloudAiplatformV1beta1ListDeploymentResourcePoolsResponse",
      "description": "Response message for ListDeploymentResourcePools method.",
      "type": "object",
      "properties": {
        "deploymentResourcePools": {
          "description": "The DeploymentResourcePools from the specified location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1DeploymentResourcePool"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1QueryDeployedModelsResponse": {
      "id": "GoogleCloudAiplatformV1beta1QueryDeployedModelsResponse",
      "description": "Response message for QueryDeployedModels method.",
      "type": "object",
      "properties": {
        "deployedModels": {
          "description": "DEPRECATED Use deployed_model_refs instead.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1DeployedModel"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "deployedModelRefs": {
          "description": "References to the DeployedModels that share the specified deploymentResourcePool.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1DeployedModelRef"
          }
        },
        "totalDeployedModelCount": {
          "description": "The total number of DeployedModels on this DeploymentResourcePool.",
          "type": "integer",
          "format": "int32"
        },
        "totalEndpointCount": {
          "description": "The total number of Endpoints that have DeployedModels on this DeploymentResourcePool.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1DeployedModel": {
      "id": "GoogleCloudAiplatformV1beta1DeployedModel",
      "description": "A deployment of a Model. Endpoints contain one or more DeployedModels.",
      "type": "object",
      "properties": {
        "dedicatedResources": {
          "description": "A description of resources that are dedicated to the DeployedModel, and that need a higher degree of manual configuration.",
          "$ref": "GoogleCloudAiplatformV1beta1DedicatedResources"
        },
        "automaticResources": {
          "description": "A description of resources that to large degree are decided by Vertex AI, and require only a modest additional configuration.",
          "$ref": "GoogleCloudAiplatformV1beta1AutomaticResources"
        },
        "sharedResources": {
          "description": "The resource name of the shared DeploymentResourcePool to deploy on. Format: `projects\/{project}\/locations\/{location}\/deploymentResourcePools\/{deployment_resource_pool}`",
          "type": "string"
        },
        "id": {
          "description": "Immutable. The ID of the DeployedModel. If not provided upon deployment, Vertex AI will generate a value for this ID. This value should be 1-10 characters, and valid characters are \/[0-9]\/.",
          "type": "string"
        },
        "model": {
          "description": "Required. The resource name of the Model that this is the deployment of. Note that the Model may be in a different location than the DeployedModel's Endpoint. The resource name may contain version id or version alias to specify the version, if no version is specified, the default version will be deployed.",
          "type": "string"
        },
        "modelVersionId": {
          "description": "Output only. The version ID of the model that is deployed.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the DeployedModel. If not provided upon creation, the Model's display_name is used.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the DeployedModel was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "explanationSpec": {
          "description": "Explanation configuration for this DeployedModel. When deploying a Model using EndpointService.DeployModel, this value overrides the value of Model.explanation_spec. All fields of explanation_spec are optional in the request. If a field of explanation_spec is not populated, the value of the same field of Model.explanation_spec is inherited. If the corresponding Model.explanation_spec is not populated, all fields of the explanation_spec will be used for the explanation configuration.",
          "$ref": "GoogleCloudAiplatformV1beta1ExplanationSpec"
        },
        "serviceAccount": {
          "description": "The service account that the DeployedModel's container runs as. Specify the email address of the service account. If this service account is not specified, the container runs as a service account that doesn't have access to the resource project. Users deploying the Model must have the `iam.serviceAccounts.actAs` permission on this service account.",
          "type": "string"
        },
        "enableContainerLogging": {
          "description": "If true, the container of the DeployedModel instances will send `stderr` and `stdout` streams to Stackdriver Logging. Only supported for custom-trained Models and AutoML Tabular Models.",
          "type": "boolean"
        },
        "enableAccessLogging": {
          "description": "These logs are like standard server access logs, containing information like timestamp and latency for each prediction request. Note that Stackdriver logs may incur a cost, especially if your project receives prediction requests at a high queries per second rate (QPS). Estimate your costs before enabling this option.",
          "type": "boolean"
        },
        "privateEndpoints": {
          "description": "Output only. Provide paths for users to send predict\/explain\/health requests directly to the deployed model services running on Cloud via private services access. This field is populated if network is configured.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1beta1PrivateEndpoints"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1AutomaticResources": {
      "id": "GoogleCloudAiplatformV1beta1AutomaticResources",
      "description": "A description of resources that to large degree are decided by Vertex AI, and require only a modest additional configuration. Each Model supporting these resources documents its specific guidelines.",
      "type": "object",
      "properties": {
        "minReplicaCount": {
          "description": "Immutable. The minimum number of replicas this DeployedModel will be always deployed on. If traffic against it increases, it may dynamically be deployed onto more replicas up to max_replica_count, and as traffic decreases, some of these extra replicas may be freed. If the requested value is too large, the deployment will error.",
          "type": "integer",
          "format": "int32"
        },
        "maxReplicaCount": {
          "description": "Immutable. The maximum number of replicas this DeployedModel may be deployed on when the traffic against it increases. If the requested value is too large, the deployment will error, but if deployment succeeds then the ability to scale the model to that many replicas is guaranteed (barring service outages). If traffic against the DeployedModel increases beyond what its replicas at maximum may handle, a portion of the traffic will be dropped. If this value is not provided, a no upper bound for scaling under heavy traffic will be assume, though Vertex AI may be unable to scale beyond certain replica number.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExplanationSpec": {
      "id": "GoogleCloudAiplatformV1beta1ExplanationSpec",
      "description": "Specification of Model explanation.",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Required. Parameters that configure explaining of the Model's predictions.",
          "$ref": "GoogleCloudAiplatformV1beta1ExplanationParameters"
        },
        "metadata": {
          "description": "Optional. Metadata describing the Model's input and output for explanation.",
          "$ref": "GoogleCloudAiplatformV1beta1ExplanationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExplanationParameters": {
      "id": "GoogleCloudAiplatformV1beta1ExplanationParameters",
      "description": "Parameters to configure explaining for Model's predictions.",
      "type": "object",
      "properties": {
        "sampledShapleyAttribution": {
          "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features. Refer to this paper for model details: https:\/\/arxiv.org\/abs\/1306.4265.",
          "$ref": "GoogleCloudAiplatformV1beta1SampledShapleyAttribution"
        },
        "integratedGradientsAttribution": {
          "description": "An attribution method that computes Aumann-Shapley values taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https:\/\/arxiv.org\/abs\/1703.01365",
          "$ref": "GoogleCloudAiplatformV1beta1IntegratedGradientsAttribution"
        },
        "xraiAttribution": {
          "description": "An attribution method that redistributes Integrated Gradients attribution to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https:\/\/arxiv.org\/abs\/1906.02825 XRAI currently performs better on natural images, like a picture of a house or an animal. If the images are taken in artificial environments, like a lab or manufacturing line, or from diagnostic equipment, like x-rays or quality-control cameras, use Integrated Gradients instead.",
          "$ref": "GoogleCloudAiplatformV1beta1XraiAttribution"
        },
        "examples": {
          "description": "Example-based explanations that returns the nearest neighbors from the provided dataset.",
          "$ref": "GoogleCloudAiplatformV1beta1Examples"
        },
        "topK": {
          "description": "If populated, returns attributions for top K indices of outputs (defaults to 1). Only applies to Models that predicts more than one outputs (e,g, multi-class Models). When set to -1, returns explanations for all outputs.",
          "type": "integer",
          "format": "int32"
        },
        "outputIndices": {
          "description": "If populated, only returns attributions that have output_index contained in output_indices. It must be an ndarray of integers, with the same shape of the output it's explaining. If not populated, returns attributions for top_k indices of outputs. If neither top_k nor output_indices is populated, returns the argmax index of the outputs. Only applicable to Models that predict multiple outputs (e,g, multi-class Models that predict multiple classes).",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SampledShapleyAttribution": {
      "id": "GoogleCloudAiplatformV1beta1SampledShapleyAttribution",
      "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features.",
      "type": "object",
      "properties": {
        "pathCount": {
          "description": "Required. The number of feature permutations to consider when approximating the Shapley values. Valid range of its value is [1, 50], inclusively.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1IntegratedGradientsAttribution": {
      "id": "GoogleCloudAiplatformV1beta1IntegratedGradientsAttribution",
      "description": "An attribution method that computes the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https:\/\/arxiv.org\/abs\/1703.01365",
      "type": "object",
      "properties": {
        "stepCount": {
          "description": "Required. The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "type": "integer",
          "format": "int32"
        },
        "smoothGradConfig": {
          "description": "Config for SmoothGrad approximation of gradients. When enabled, the gradients are approximated by averaging the gradients from noisy samples in the vicinity of the inputs. Adding noise can help improve the computed gradients. Refer to this paper for more details: https:\/\/arxiv.org\/pdf\/1706.03825.pdf",
          "$ref": "GoogleCloudAiplatformV1beta1SmoothGradConfig"
        },
        "blurBaselineConfig": {
          "description": "Config for IG with blur baseline. When enabled, a linear path from the maximally blurred image to the input image is created. Using a blurred baseline instead of zero (black image) is motivated by the BlurIG approach explained here: https:\/\/arxiv.org\/abs\/2004.03383",
          "$ref": "GoogleCloudAiplatformV1beta1BlurBaselineConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SmoothGradConfig": {
      "id": "GoogleCloudAiplatformV1beta1SmoothGradConfig",
      "description": "Config for SmoothGrad approximation of gradients. When enabled, the gradients are approximated by averaging the gradients from noisy samples in the vicinity of the inputs. Adding noise can help improve the computed gradients. Refer to this paper for more details: https:\/\/arxiv.org\/pdf\/1706.03825.pdf",
      "type": "object",
      "properties": {
        "noiseSigma": {
          "description": "This is a single float value and will be used to add noise to all the features. Use this field when all features are normalized to have the same distribution: scale to range [0, 1], [-1, 1] or z-scoring, where features are normalized to have 0-mean and 1-variance. Learn more about [normalization](https:\/\/developers.google.com\/machine-learning\/data-prep\/transform\/normalization). For best results the recommended value is about 10% - 20% of the standard deviation of the input feature. Refer to section 3.2 of the SmoothGrad paper: https:\/\/arxiv.org\/pdf\/1706.03825.pdf. Defaults to 0.1. If the distribution is different per feature, set feature_noise_sigma instead for each feature.",
          "type": "number",
          "format": "float"
        },
        "featureNoiseSigma": {
          "description": "This is similar to noise_sigma, but provides additional flexibility. A separate noise sigma can be provided for each feature, which is useful if their distributions are different. No noise is added to features that are not set. If this field is unset, noise_sigma will be used for all features.",
          "$ref": "GoogleCloudAiplatformV1beta1FeatureNoiseSigma"
        },
        "noisySampleCount": {
          "description": "The number of gradient samples to use for approximation. The higher this number, the more accurate the gradient is, but the runtime complexity increases by this factor as well. Valid range of its value is [1, 50]. Defaults to 3.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1FeatureNoiseSigma": {
      "id": "GoogleCloudAiplatformV1beta1FeatureNoiseSigma",
      "description": "Noise sigma by features. Noise sigma represents the standard deviation of the gaussian kernel that will be used to add noise to interpolated inputs prior to computing gradients.",
      "type": "object",
      "properties": {
        "noiseSigma": {
          "description": "Noise sigma per feature. No noise is added to features that are not set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1FeatureNoiseSigmaNoiseSigmaForFeature"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1beta1FeatureNoiseSigmaNoiseSigmaForFeature": {
      "id": "GoogleCloudAiplatformV1beta1FeatureNoiseSigmaNoiseSigmaForFeature",
      "description": "Noise sigma for a single feature.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the input feature for which noise sigma is provided. The features are defined in explanation metadata inputs.",
          "type": "string"
        },
        "sigma": {
          "description": "This represents the standard deviation of the Gaussian kernel that will be used to add noise to the feature prior to computing gradients. Similar to noise_sigma but represents the noise added to the current feature. Defaults to 0.1.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1BlurBaselineConfig": {
      "id": "GoogleCloudAiplatformV1beta1BlurBaselineConfig",
      "description": "Config for blur baseline. When enabled, a linear path from the maximally blurred image to the input image is created. Using a blurred baseline instead of zero (black image) is motivated by the BlurIG approach explained here: https:\/\/arxiv.org\/abs\/2004.03383",
      "type": "object",
      "properties": {
        "maxBlurSigma": {
          "description": "The standard deviation of the blur kernel for the blurred baseline. The same blurring parameter is used for both the height and the width dimension. If not set, the method defaults to the zero (i.e. black for images) baseline.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1XraiAttribution": {
      "id": "GoogleCloudAiplatformV1beta1XraiAttribution",
      "description": "An explanation method that redistributes Integrated Gradients attributions to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https:\/\/arxiv.org\/abs\/1906.02825 Supported only by image Models.",
      "type": "object",
      "properties": {
        "stepCount": {
          "description": "Required. The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "type": "integer",
          "format": "int32"
        },
        "smoothGradConfig": {
          "description": "Config for SmoothGrad approximation of gradients. When enabled, the gradients are approximated by averaging the gradients from noisy samples in the vicinity of the inputs. Adding noise can help improve the computed gradients. Refer to this paper for more details: https:\/\/arxiv.org\/pdf\/1706.03825.pdf",
          "$ref": "GoogleCloudAiplatformV1beta1SmoothGradConfig"
        },
        "blurBaselineConfig": {
          "description": "Config for XRAI with blur baseline. When enabled, a linear path from the maximally blurred image to the input image is created. Using a blurred baseline instead of zero (black image) is motivated by the BlurIG approach explained here: https:\/\/arxiv.org\/abs\/2004.03383",
          "$ref": "GoogleCloudAiplatformV1beta1BlurBaselineConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1Examples": {
      "id": "GoogleCloudAiplatformV1beta1Examples",
      "description": "Example-based explainability that returns the nearest neighbors from the provided dataset.",
      "type": "object",
      "properties": {
        "nearestNeighborSearchConfig": {
          "description": "The configuration for the generated index, the semantics are the same as metadata and should match NearestNeighborSearchConfig.",
          "type": "any"
        },
        "presets": {
          "description": "Preset config based on the desired query speed-precision trade-off and modality",
          "$ref": "GoogleCloudAiplatformV1beta1Presets"
        },
        "gcsSource": {
          "description": "The Cloud Storage location for the input instances.",
          "$ref": "GoogleCloudAiplatformV1beta1GcsSource"
        },
        "neighborCount": {
          "description": "The number of neighbors to return.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1Presets": {
      "id": "GoogleCloudAiplatformV1beta1Presets",
      "description": "Preset configuration for example-based explanations",
      "type": "object",
      "properties": {
        "query": {
          "description": "Preset option controlling parameters for query speed-precision trade-off",
          "type": "string",
          "enumDescriptions": [
            "More precise neighbors as a trade-off against slower response. This is also the default value (field-number 0).",
            "Faster response as a trade-off against less precise neighbors."
          ],
          "enum": [
            "PRECISE",
            "FAST"
          ]
        },
        "modality": {
          "description": "Preset option controlling parameters for different modalities",
          "type": "string",
          "enumDescriptions": [
            "Should not be set. Added as a recommended best practice for enums",
            "IMAGE modality",
            "TEXT modality",
            "TABULAR modality"
          ],
          "enum": [
            "MODALITY_UNSPECIFIED",
            "IMAGE",
            "TEXT",
            "TABULAR"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExplanationMetadata": {
      "id": "GoogleCloudAiplatformV1beta1ExplanationMetadata",
      "description": "Metadata describing the Model's input and output for explanation.",
      "type": "object",
      "properties": {
        "inputs": {
          "description": "Required. Map from feature names to feature input metadata. Keys are the name of the features. Values are the specification of the feature. An empty InputMetadata is valid. It describes a text feature which has the name specified as the key in ExplanationMetadata.inputs. The baseline of the empty feature is chosen by Vertex AI. For Vertex AI-provided Tensorflow images, the key can be any friendly name of the feature. Once specified, featureAttributions are keyed by this key (if not grouped with another feature). For custom images, the key must match with the key in instance.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1beta1ExplanationMetadataInputMetadata"
          }
        },
        "outputs": {
          "description": "Required. Map from output names to output metadata. For Vertex AI-provided Tensorflow images, keys can be any user defined string that consists of any UTF-8 characters. For custom images, keys are the name of the output field in the prediction to be explained. Currently only one key is allowed.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1beta1ExplanationMetadataOutputMetadata"
          }
        },
        "featureAttributionsSchemaUri": {
          "description": "Points to a YAML file stored on Google Cloud Storage describing the format of the feature attributions. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https:\/\/github.com\/OAI\/OpenAPI-Specification\/blob\/main\/versions\/3.0.2.md#schemaObject). AutoML tabular Models always have this field populated by Vertex AI. Note: The URI given on output may be different, including the URI scheme, than the one given on input. The output URI will point to a location where the user only has a read access.",
          "type": "string"
        },
        "latentSpaceSource": {
          "description": "Name of the source to generate embeddings for example based explanations.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExplanationMetadataInputMetadata": {
      "id": "GoogleCloudAiplatformV1beta1ExplanationMetadataInputMetadata",
      "description": "Metadata of the input of a feature. Fields other than InputMetadata.input_baselines are applicable only for Models that are using Vertex AI-provided images for Tensorflow.",
      "type": "object",
      "properties": {
        "inputBaselines": {
          "description": "Baseline inputs for this feature. If no baseline is specified, Vertex AI chooses the baseline for this feature. If multiple baselines are specified, Vertex AI returns the average attributions across them in Attribution.feature_attributions. For Vertex AI-provided Tensorflow images (both 1.x and 2.x), the shape of each baseline must match the shape of the input tensor. If a scalar is provided, we broadcast to the same shape as the input tensor. For custom images, the element of the baselines must be in the same format as the feature's input in the instance[]. The schema of any single instance may be specified via Endpoint's DeployedModels' Model's PredictSchemata's instance_schema_uri.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "inputTensorName": {
          "description": "Name of the input tensor for this feature. Required and is only applicable to Vertex AI-provided images for Tensorflow.",
          "type": "string"
        },
        "encoding": {
          "description": "Defines how the feature is encoded into the input tensor. Defaults to IDENTITY.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as IDENTITY.",
            "The tensor represents one feature.",
            "The tensor represents a bag of features where each index maps to a feature. InputMetadata.index_feature_mapping must be provided for this encoding. For example: ``` input = [27, 6.0, 150] index_feature_mapping = [\"age\", \"height\", \"weight\"] ```",
            "The tensor represents a bag of features where each index maps to a feature. Zero values in the tensor indicates feature being non-existent. InputMetadata.index_feature_mapping must be provided for this encoding. For example: ``` input = [2, 0, 5, 0, 1] index_feature_mapping = [\"a\", \"b\", \"c\", \"d\", \"e\"] ```",
            "The tensor is a list of binaries representing whether a feature exists or not (1 indicates existence). InputMetadata.index_feature_mapping must be provided for this encoding. For example: ``` input = [1, 0, 1, 0, 1] index_feature_mapping = [\"a\", \"b\", \"c\", \"d\", \"e\"] ```",
            "The tensor is encoded into a 1-dimensional array represented by an encoded tensor. InputMetadata.encoded_tensor_name must be provided for this encoding. For example: ``` input = [\"This\", \"is\", \"a\", \"test\", \".\"] encoded = [0.1, 0.2, 0.3, 0.4, 0.5] ```",
            "Select this encoding when the input tensor is encoded into a 2-dimensional array represented by an encoded tensor. InputMetadata.encoded_tensor_name must be provided for this encoding. The first dimension of the encoded tensor's shape is the same as the input tensor's shape. For example: ``` input = [\"This\", \"is\", \"a\", \"test\", \".\"] encoded = [[0.1, 0.2, 0.3, 0.4, 0.5], [0.2, 0.1, 0.4, 0.3, 0.5], [0.5, 0.1, 0.3, 0.5, 0.4], [0.5, 0.3, 0.1, 0.2, 0.4], [0.4, 0.3, 0.2, 0.5, 0.1]] ```"
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "IDENTITY",
            "BAG_OF_FEATURES",
            "BAG_OF_FEATURES_SPARSE",
            "INDICATOR",
            "COMBINED_EMBEDDING",
            "CONCAT_EMBEDDING"
          ]
        },
        "modality": {
          "description": "Modality of the feature. Valid values are: numeric, image. Defaults to numeric.",
          "type": "string"
        },
        "featureValueDomain": {
          "description": "The domain details of the input feature value. Like min\/max, original mean or standard deviation if normalized.",
          "$ref": "GoogleCloudAiplatformV1beta1ExplanationMetadataInputMetadataFeatureValueDomain"
        },
        "indicesTensorName": {
          "description": "Specifies the index of the values of the input tensor. Required when the input tensor is a sparse representation. Refer to Tensorflow documentation for more details: https:\/\/www.tensorflow.org\/api_docs\/python\/tf\/sparse\/SparseTensor.",
          "type": "string"
        },
        "denseShapeTensorName": {
          "description": "Specifies the shape of the values of the input if the input is a sparse representation. Refer to Tensorflow documentation for more details: https:\/\/www.tensorflow.org\/api_docs\/python\/tf\/sparse\/SparseTensor.",
          "type": "string"
        },
        "indexFeatureMapping": {
          "description": "A list of feature names for each index in the input tensor. Required when the input InputMetadata.encoding is BAG_OF_FEATURES, BAG_OF_FEATURES_SPARSE, INDICATOR.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "encodedTensorName": {
          "description": "Encoded tensor is a transformation of the input tensor. Must be provided if choosing Integrated Gradients attribution or XRAI attribution and the input tensor is not differentiable. An encoded tensor is generated if the input tensor is encoded by a lookup table.",
          "type": "string"
        },
        "encodedBaselines": {
          "description": "A list of baselines for the encoded tensor. The shape of each baseline should match the shape of the encoded tensor. If a scalar is provided, Vertex AI broadcasts to the same shape as the encoded tensor.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "visualization": {
          "description": "Visualization configurations for image explanation.",
          "$ref": "GoogleCloudAiplatformV1beta1ExplanationMetadataInputMetadataVisualization"
        },
        "groupName": {
          "description": "Name of the group that the input belongs to. Features with the same group name will be treated as one feature when computing attributions. Features grouped together can have different shapes in value. If provided, there will be one single attribution generated in Attribution.feature_attributions, keyed by the group name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExplanationMetadataInputMetadataFeatureValueDomain": {
      "id": "GoogleCloudAiplatformV1beta1ExplanationMetadataInputMetadataFeatureValueDomain",
      "description": "Domain details of the input feature value. Provides numeric information about the feature, such as its range (min, max). If the feature has been pre-processed, for example with z-scoring, then it provides information about how to recover the original feature. For example, if the input feature is an image and it has been pre-processed to obtain 0-mean and stddev = 1 values, then original_mean, and original_stddev refer to the mean and stddev of the original feature (e.g. image tensor) from which input feature (with mean = 0 and stddev = 1) was obtained.",
      "type": "object",
      "properties": {
        "minValue": {
          "description": "The minimum permissible value for this feature.",
          "type": "number",
          "format": "float"
        },
        "maxValue": {
          "description": "The maximum permissible value for this feature.",
          "type": "number",
          "format": "float"
        },
        "originalMean": {
          "description": "If this input feature has been normalized to a mean value of 0, the original_mean specifies the mean value of the domain prior to normalization.",
          "type": "number",
          "format": "float"
        },
        "originalStddev": {
          "description": "If this input feature has been normalized to a standard deviation of 1.0, the original_stddev specifies the standard deviation of the domain prior to normalization.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExplanationMetadataInputMetadataVisualization": {
      "id": "GoogleCloudAiplatformV1beta1ExplanationMetadataInputMetadataVisualization",
      "description": "Visualization configurations for image explanation.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of the image visualization. Only applicable to Integrated Gradients attribution. OUTLINES shows regions of attribution, while PIXELS shows per-pixel attribution. Defaults to OUTLINES.",
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "Shows which pixel contributed to the image prediction.",
            "Shows which region contributed to the image prediction by outlining the region."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXELS",
            "OUTLINES"
          ]
        },
        "polarity": {
          "description": "Whether to only highlight pixels with positive contributions, negative or both. Defaults to POSITIVE.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as POSITIVE.",
            "Highlights the pixels\/outlines that were most influential to the model's prediction.",
            "Setting polarity to negative highlights areas that does not lead to the models's current prediction.",
            "Shows both positive and negative attributions."
          ],
          "enum": [
            "POLARITY_UNSPECIFIED",
            "POSITIVE",
            "NEGATIVE",
            "BOTH"
          ]
        },
        "colorMap": {
          "description": "The color scheme used for the highlighted areas. Defaults to PINK_GREEN for Integrated Gradients attribution, which shows positive attributions in green and negative in pink. Defaults to VIRIDIS for XRAI attribution, which highlights the most influential regions in yellow and the least influential in blue.",
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "Positive: green. Negative: pink.",
            "Viridis color map: A perceptually uniform color mapping which is easier to see by those with colorblindness and progresses from yellow to green to blue. Positive: yellow. Negative: blue.",
            "Positive: red. Negative: red.",
            "Positive: green. Negative: green.",
            "Positive: green. Negative: red.",
            "PiYG palette."
          ],
          "enum": [
            "COLOR_MAP_UNSPECIFIED",
            "PINK_GREEN",
            "VIRIDIS",
            "RED",
            "GREEN",
            "RED_GREEN",
            "PINK_WHITE_GREEN"
          ]
        },
        "clipPercentUpperbound": {
          "description": "Excludes attributions above the specified percentile from the highlighted areas. Using the clip_percent_upperbound and clip_percent_lowerbound together can be useful for filtering out noise and making it easier to see areas of strong attribution. Defaults to 99.9.",
          "type": "number",
          "format": "float"
        },
        "clipPercentLowerbound": {
          "description": "Excludes attributions below the specified percentile, from the highlighted areas. Defaults to 62.",
          "type": "number",
          "format": "float"
        },
        "overlayType": {
          "description": "How the original image is displayed in the visualization. Adjusting the overlay can help increase visual clarity if the original image makes it difficult to view the visualization. Defaults to NONE.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as NONE.",
            "No overlay.",
            "The attributions are shown on top of the original image.",
            "The attributions are shown on top of grayscaled version of the original image.",
            "The attributions are used as a mask to reveal predictive parts of the image and hide the un-predictive parts."
          ],
          "enum": [
            "OVERLAY_TYPE_UNSPECIFIED",
            "NONE",
            "ORIGINAL",
            "GRAYSCALE",
            "MASK_BLACK"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExplanationMetadataOutputMetadata": {
      "id": "GoogleCloudAiplatformV1beta1ExplanationMetadataOutputMetadata",
      "description": "Metadata of the prediction output to be explained.",
      "type": "object",
      "properties": {
        "indexDisplayNameMapping": {
          "description": "Static mapping between the index and display name. Use this if the outputs are a deterministic n-dimensional array, e.g. a list of scores of all the classes in a pre-defined order for a multi-classification Model. It's not feasible if the outputs are non-deterministic, e.g. the Model produces top-k classes or sort the outputs by their values. The shape of the value must be an n-dimensional array of strings. The number of dimensions must match that of the outputs to be explained. The Attribution.output_display_name is populated by locating in the mapping with Attribution.output_index.",
          "type": "any"
        },
        "displayNameMappingKey": {
          "description": "Specify a field name in the prediction to look for the display name. Use this if the prediction contains the display names for the outputs. The display names in the prediction must have the same shape of the outputs, so that it can be located by Attribution.output_index for a specific output.",
          "type": "string"
        },
        "outputTensorName": {
          "description": "Name of the output tensor. Required and is only applicable to Vertex AI provided images for Tensorflow.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1PrivateEndpoints": {
      "id": "GoogleCloudAiplatformV1beta1PrivateEndpoints",
      "description": "PrivateEndpoints proto is used to provide paths for users to send requests privately. To send request via private service access, use predict_http_uri, explain_http_uri or health_http_uri. To send request via private service connect, use service_attachment.",
      "type": "object",
      "properties": {
        "predictHttpUri": {
          "description": "Output only. Http(s) path to send prediction requests.",
          "readOnly": true,
          "type": "string"
        },
        "explainHttpUri": {
          "description": "Output only. Http(s) path to send explain requests.",
          "readOnly": true,
          "type": "string"
        },
        "healthHttpUri": {
          "description": "Output only. Http(s) path to send health check requests.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAttachment": {
          "description": "Output only. The name of the service attachment resource. Populated if private service connect is enabled.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1DeployedModelRef": {
      "id": "GoogleCloudAiplatformV1beta1DeployedModelRef",
      "description": "Points to a DeployedModel.",
      "type": "object",
      "properties": {
        "endpoint": {
          "description": "Immutable. A resource name of an Endpoint.",
          "type": "string"
        },
        "deployedModelId": {
          "description": "Immutable. An ID of a DeployedModel in the above Endpoint.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1Endpoint": {
      "id": "GoogleCloudAiplatformV1beta1Endpoint",
      "description": "Models are deployed into it, and afterwards Endpoint is called to obtain predictions and explanations.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the Endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the Endpoint. The name can be up to 128 characters long and can be consist of any UTF-8 characters.",
          "type": "string"
        },
        "description": {
          "description": "The description of the Endpoint.",
          "type": "string"
        },
        "deployedModels": {
          "description": "Output only. The models deployed in this Endpoint. To add or remove DeployedModels use EndpointService.DeployModel and EndpointService.UndeployModel respectively.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1DeployedModel"
          }
        },
        "trafficSplit": {
          "description": "A map from a DeployedModel's ID to the percentage of this Endpoint's traffic that should be forwarded to that DeployedModel. If a DeployedModel's ID is not listed in this map, then it receives no traffic. The traffic percentage values must add up to 100, or map must be empty if the Endpoint is to not accept any traffic at a moment.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your Endpoints. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https:\/\/goo.gl\/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Timestamp when this Endpoint was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Endpoint was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key spec for an Endpoint. If set, this Endpoint and all sub-resources of this Endpoint will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1beta1EncryptionSpec"
        },
        "network": {
          "description": "The full name of the Google Compute Engine [network](https:\/\/cloud.google.com\/\/compute\/docs\/networks-and-firewalls#networks) to which the Endpoint should be peered. Private services access must already be configured for the network. If left unspecified, the Endpoint is not peered with any network. Only one of the fields, network or enable_private_service_connect, can be set. [Format](https:\/\/cloud.google.com\/compute\/docs\/reference\/rest\/v1\/networks\/insert): `projects\/{project}\/global\/networks\/{network}`. Where `{project}` is a project number, as in `12345`, and `{network}` is network name.",
          "type": "string"
        },
        "enablePrivateServiceConnect": {
          "description": "Deprecated: If true, expose the Endpoint via private service connect. Only one of the fields, network or enable_private_service_connect, can be set.",
[...]
