{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "apigee:v1",
  "name": "apigee",
  "canonicalName": "Apigee",
  "version": "v1",
  "revision": "0",
  "title": "Apigee API",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "protocol": "rest",
  "rootUrl": "https://apigee.googleapis.com/",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://apigee.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudApigeeV1ListHybridIssuersResponse": {
      "id": "GoogleCloudApigeeV1ListHybridIssuersResponse",
      "type": "object",
      "properties": {
        "issuers": {
          "description": "Lists of hybrid services and its trusted issuer email ids.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ServiceIssuersMapping"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ServiceIssuersMapping": {
      "id": "GoogleCloudApigeeV1ServiceIssuersMapping",
      "type": "object",
      "properties": {
        "service": {
          "description": "String indicating the Apigee service name.",
          "type": "string"
        },
        "emailIds": {
          "description": "List of trusted issuer email ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleApiHttpBody": {
      "id": "GoogleApiHttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { \/\/ A unique request id. string request_id = 1; \/\/ The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "description": "The HTTP request\/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "id": "GoogleCloudApigeeV1ResourceFile",
      "description": "Metadata about a resource file.",
      "type": "object",
      "properties": {
        "name": {
          "description": "ID of the resource file.",
          "type": "string"
        },
        "type": {
          "description": "Resource file type. {{ resource_file_type }}",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListEnvironmentResourcesResponse": {
      "id": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse",
      "description": "Response for ListEnvironmentResources",
      "type": "object",
      "properties": {
        "resourceFile": {
          "description": "List of resources files.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ListApiProxiesResponse": {
      "id": "GoogleCloudApigeeV1ListApiProxiesResponse",
      "description": "To change this message, in the same CL add a change log in go\/changing-api-proto-breaks-ui",
      "type": "object",
      "properties": {
        "proxies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProxy"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ApiProxy": {
      "id": "GoogleCloudApigeeV1ApiProxy",
      "description": "Metadata describing the API proxy",
      "type": "object",
      "properties": {
        "metaData": {
          "description": "Output only. Metadata describing the API proxy.",
          "readOnly": true,
          "$ref": "GoogleCloudApigeeV1EntityMetadata"
        },
        "name": {
          "description": "Output only. Name of the API proxy.",
          "readOnly": true,
          "type": "string"
        },
        "revision": {
          "description": "Output only. List of revisions defined for the API proxy.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "latestRevisionId": {
          "description": "Output only. The id of the most recently created revision for this api proxy.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "User labels applied to this API Proxy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "readOnly": {
          "description": "Output only. Whether this proxy is read-only. A read-only proxy cannot have new revisions created through calls to CreateApiProxyRevision. A proxy is read-only if it was generated by an archive.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiProxyType": {
          "description": "Output only. The type of the API proxy.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "API proxy type not specified.",
            "Programmable API Proxies enable you to develop APIs with highly flexible behavior using bundled policy configuration and one or more programming languages to describe complex sequential and\/or conditional flows of logic.",
            "Configurable API Proxies enable you to develop efficient APIs using simple configuration while complex execution control flow logic is handled by Apigee. This type only works with the ARCHIVE deployment type and cannot be combined with the PROXY deployment type."
          ],
          "enum": [
            "API_PROXY_TYPE_UNSPECIFIED",
            "PROGRAMMABLE",
            "CONFIGURABLE"
          ]
        }
      }
    },
    "GoogleCloudApigeeV1EntityMetadata": {
      "id": "GoogleCloudApigeeV1EntityMetadata",
      "description": "Metadata common to many entities in this API.",
      "type": "object",
      "properties": {
        "createdAt": {
          "description": "Time at which the API proxy was created, in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedAt": {
          "description": "Time at which the API proxy was most recently modified, in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "subType": {
          "description": "The type of entity described",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ApiProxyRevision": {
      "id": "GoogleCloudApigeeV1ApiProxyRevision",
      "description": "API proxy revision.",
      "type": "object",
      "properties": {
        "basepaths": {
          "description": "Base URL of the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "configurationVersion": {
          "description": "Version of the API proxy configuration schema to which the API proxy conforms. Currently, the only supported value is 4.0 (`majorVersion.minorVersion`). This setting may be used in the future to track the evolution of the API proxy format.",
          "$ref": "GoogleCloudApigeeV1ConfigVersion"
        },
        "contextInfo": {
          "description": "Revision number, app name, and organization for the API proxy.",
          "type": "string"
        },
        "createdAt": {
          "description": "Time that the API proxy revision was created in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "Human-readable name of the API proxy.",
          "type": "string"
        },
        "description": {
          "description": "Description of the API proxy revision.",
          "type": "string"
        },
        "entityMetaDataAsProperties": {
          "description": "Metadata describing the API proxy revision as a key-value map.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "lastModifiedAt": {
          "description": "Time that the API proxy revision was last modified in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of the API proxy.",
          "type": "string"
        },
        "revision": {
          "description": "API proxy revision.",
          "type": "string"
        },
        "policies": {
          "description": "List of policy names included in the API proxy revision..",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "proxies": {
          "description": "List of proxy names included in the API proxy revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "proxyEndpoints": {
          "description": "List of ProxyEndpoints in the `\/proxies` directory of the API proxy. Typically, this element is included only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceFiles": {
          "description": "List of resource files included in the API proxy revision.",
          "$ref": "GoogleCloudApigeeV1ResourceFiles"
        },
        "resources": {
          "description": "List of the resources included in the API proxy revision formatted as \"{type}:\/\/{name}\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sharedFlows": {
          "description": "List of the shared flows included in the API proxy revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "spec": {
          "description": "OpenAPI Specification that is associated with the API proxy. The value is set to a URL or to a path in the specification store.",
          "type": "string"
        },
        "targetEndpoints": {
          "description": "List of TargetEndpoints in the `\/targets` directory of the API proxy. Typically, this element is included only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetServers": {
          "description": "List of TargetServers referenced in any TargetEndpoint in the API proxy. Typically, you will see this element only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targets": {
          "description": "List of the targets included in the API proxy revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "integrationEndpoints": {
          "description": "List of IntegrationEndpoints in the '\/integration-endpoints' directory of the API proxy. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "Type. Set to `Application`. Maintained for compatibility with the Apigee Edge API.",
          "type": "string"
        },
        "teams": {
          "description": "List of the teams included in the API proxy revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "archive": {
          "description": "Output only. The archive that generated this proxy revision. This field is only present on proxy revisions that were generated by an archive. Proxies generated by archives cannot be updated, deleted, or deployed to other environments. Format: `organizations\/*\/environments\/*\/archiveDeployments\/*`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ConfigVersion": {
      "id": "GoogleCloudApigeeV1ConfigVersion",
      "description": "Version of the API proxy configuration schema. Currently, only 4.0 is supported.",
      "type": "object",
      "properties": {
        "majorVersion": {
          "description": "Major version of the API proxy configuration schema.",
          "type": "integer",
          "format": "int32"
        },
        "minorVersion": {
          "description": "Minor version of the API proxy configuration schema.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudApigeeV1ResourceFiles": {
      "id": "GoogleCloudApigeeV1ResourceFiles",
      "description": "List of resource files.",
      "type": "object",
      "properties": {
        "resourceFile": {
          "description": "List of resource files.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          }
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleCloudApigeeV1ArchiveDeployment": {
      "id": "GoogleCloudApigeeV1ArchiveDeployment",
      "description": "Archive Deployment information.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the Archive Deployment in the following format: `organizations\/{org}\/environments\/{env}\/archiveDeployments\/{id}`.",
          "type": "string"
        },
        "labels": {
          "description": "User-supplied key-value pairs used to organize ArchiveDeployments. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createdAt": {
          "description": "Output only. The time at which the Archive Deployment was created in milliseconds since the epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "updatedAt": {
          "description": "Output only. The time at which the Archive Deployment was updated in milliseconds since the epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "gcsUri": {
          "description": "Input only. The Google Cloud Storage signed URL returned from GenerateUploadUrl and used to upload the Archive zip file.",
          "type": "string"
        },
        "operation": {
          "description": "Output only. A reference to the LRO that created this Archive Deployment in the following format: `organizations\/{org}\/operations\/{id}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListArchiveDeploymentsResponse": {
      "id": "GoogleCloudApigeeV1ListArchiveDeploymentsResponse",
      "description": "Response for ListArchiveDeployments method.",
      "type": "object",
      "properties": {
        "archiveDeployments": {
          "description": "Archive Deployments in the specified environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
          }
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListArchiveDeployments request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1GenerateUploadUrlRequest": {
      "id": "GoogleCloudApigeeV1GenerateUploadUrlRequest",
      "description": "Request for GenerateUploadUrl method.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudApigeeV1GenerateUploadUrlResponse": {
      "id": "GoogleCloudApigeeV1GenerateUploadUrlResponse",
      "description": "Response for GenerateUploadUrl method.",
      "type": "object",
      "properties": {
        "uploadUri": {
          "description": "The Google Cloud Storage signed URL that can be used to upload a new Archive zip file.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1GenerateDownloadUrlRequest": {
      "id": "GoogleCloudApigeeV1GenerateDownloadUrlRequest",
      "description": "Request for GenerateDownloadUrl method.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudApigeeV1GenerateDownloadUrlResponse": {
      "id": "GoogleCloudApigeeV1GenerateDownloadUrlResponse",
      "description": "Response for GenerateDownloadUrl method.",
      "type": "object",
      "properties": {
        "downloadUri": {
          "description": "The Google Cloud Storage signed URL that can be used to download the Archive zip file.",
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudApigeeV1DataCollector": {
      "id": "GoogleCloudApigeeV1DataCollector",
      "description": "Data collector configuration.",
      "type": "object",
      "properties": {
        "name": {
          "description": "ID of the data collector. Must begin with `dc_`.",
          "type": "string"
        },
        "description": {
          "description": "A description of the data collector.",
          "type": "string"
        },
        "type": {
          "description": "Immutable. The type of data this data collector will collect.",
          "type": "string",
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ]
        },
        "createdAt": {
          "description": "Output only. The time at which the data collector was created in milliseconds since the epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "lastModifiedAt": {
          "description": "Output only. The time at which the Data Collector was last updated in milliseconds since the epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudApigeeV1ListDataCollectorsResponse": {
      "id": "GoogleCloudApigeeV1ListDataCollectorsResponse",
      "description": "Response for ListDataCollectors.",
      "type": "object",
      "properties": {
        "dataCollectors": {
          "description": "Data collectors in the specified organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollector"
          }
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListDataCollectors request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DebugMask": {
      "id": "GoogleCloudApigeeV1DebugMask",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the debug mask.",
          "type": "string"
        },
        "namespaces": {
          "description": "Map of namespaces to URIs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requestXPaths": {
          "description": "List of XPaths that specify the XML elements to be filtered from XML request message payloads.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responseXPaths": {
          "description": "List of XPaths that specify the XML elements to be filtered from XML response message payloads.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "faultXPaths": {
          "description": "List of XPaths that specify the XML elements to be filtered from XML payloads in error flows.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestJSONPaths": {
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON request message payloads.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responseJSONPaths": {
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON response message payloads.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "faultJSONPaths": {
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON payloads in error flows.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "variables": {
          "description": "List of variables that should be masked from the debug output.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1Deployment": {
      "id": "GoogleCloudApigeeV1Deployment",
      "type": "object",
      "properties": {
        "environment": {
          "description": "Environment.",
          "type": "string"
        },
        "apiProxy": {
          "description": "API proxy.",
          "type": "string"
        },
        "revision": {
          "description": "API proxy revision.",
          "type": "string"
        },
        "deployStartTime": {
          "description": "Time the API proxy was marked `deployed` in the control plane in millisconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "pods": {
          "description": "Status reported by runtime pods. **Note**: **This field is deprecated**. Runtime versions 1.3 and above report instance level status rather than pod status.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1PodStatus"
          }
        },
        "state": {
          "description": "Current state of the deployment. **Note**: This field is displayed only when viewing deployment status.",
          "type": "string",
          "enumDescriptions": [
            "This value should never be returned.",
            "Runtime has loaded the deployment.",
            "Deployment is not fully ready in the runtime.",
            "Encountered an error with the deployment that requires intervention."
          ],
          "enum": [
            "RUNTIME_STATE_UNSPECIFIED",
            "READY",
            "PROGRESSING",
            "ERROR"
          ]
        },
        "errors": {
          "description": "Errors reported for this deployment. Populated only when state == ERROR. **Note**: This field is displayed only when viewing deployment status.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "routeConflicts": {
          "description": "Conflicts in the desired state routing configuration. The presence of conflicts does not cause the state to be `ERROR`, but it will mean that some of the deployment's base paths are not routed to its environment. If the conflicts change, the state will transition to `PROGRESSING` until the latest configuration is rolled out to all instances. **Note**: This field is displayed only when viewing deployment status.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          }
        },
        "instances": {
          "description": "Status reported by each runtime instance. **Note**: This field is displayed only when viewing deployment status.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatus"
          }
        },
        "serviceAccount": {
          "description": "The full resource name of Cloud IAM Service Account that this deployment is using, eg, `projects\/-\/serviceAccounts\/{email}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1PodStatus": {
      "id": "GoogleCloudApigeeV1PodStatus",
      "type": "object",
      "properties": {
        "podName": {
          "description": "Name of the pod which is reporting the status.",
          "type": "string"
        },
        "appVersion": {
          "description": "Version of the application running in the pod.",
          "type": "string"
        },
        "podStatus": {
          "description": "Overall status of the pod (not this specific deployment). Valid values include: - `active`: Up to date. - `stale` : Recently out of date. Pods that have not reported status in a long time are excluded from the output.",
          "type": "string"
        },
        "podStatusTime": {
          "description": "Time the pod status was reported in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "deploymentStatusTime": {
          "description": "Time the deployment status was reported in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "deploymentTime": {
          "description": "Time the proxy was deployed in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "deploymentStatus": {
          "description": "Status of the deployment. Valid values include: - `deployed`: Successful. - `error` : Failed. - `pending` : Pod has not yet reported on the deployment.",
          "type": "string"
        },
        "statusCode": {
          "description": "Code associated with the deployment status.",
          "type": "string"
        },
        "statusCodeDetails": {
          "description": "Human-readable message associated with the status code.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict",
      "description": "Describes a routing conflict that may cause a deployment not to receive traffic at some base path.",
      "type": "object",
      "properties": {
        "environmentGroup": {
          "description": "Name of the environment group in which this conflict exists.",
          "type": "string"
        },
        "conflictingDeployment": {
          "description": "Existing base path\/deployment causing the conflict.",
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
        },
        "description": {
          "description": "Human-readable description of this conflict.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
      "description": "Tuple representing a base path and the deployment containing it.",
      "type": "object",
      "properties": {
        "basepath": {
          "description": "Base path receiving traffic.",
          "type": "string"
        },
        "environment": {
          "description": "Name of the environment in which the proxy is deployed.",
          "type": "string"
        },
        "apiProxy": {
          "description": "Name of the deployed API proxy revision containing the base path.",
          "type": "string"
        },
        "revision": {
          "description": "Name of the deployed API proxy revision containing the base path.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatus": {
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatus",
      "description": "The status of a deployment as reported by a single instance.",
      "type": "object",
      "properties": {
        "instance": {
          "description": "ID of the instance reporting the status.",
          "type": "string"
        },
        "deployedRevisions": {
          "description": "Revisions currently deployed in MPs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision"
          }
        },
        "deployedRoutes": {
          "description": "Current routes deployed in the ingress routing table. A route which is missing will appear in `missing_routes`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute"
          }
        }
      }
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision": {
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision",
      "description": "Revisions deployed in the MPs.",
      "type": "object",
      "properties": {
        "revision": {
          "description": "API proxy revision reported as deployed.",
          "type": "string"
        },
        "percentage": {
          "description": "Percentage of MP replicas reporting this revision.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute": {
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute",
      "description": "Route deployed in the ingress routing table.",
      "type": "object",
      "properties": {
        "basepath": {
          "description": "Base path in the routing table.",
          "type": "string"
        },
        "envgroup": {
          "description": "Environment group where this route is installed.",
          "type": "string"
        },
        "environment": {
          "description": "Destination environment. This will be empty if the route is not yet reported.",
          "type": "string"
        },
        "percentage": {
          "description": "Percentage of ingress replicas reporting this route.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentChangeReport": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReport",
      "description": "Response for GenerateDeployChangeReport and GenerateUndeployChangeReport. This report contains any validation failures that would cause the deployment to be rejected, as well changes and conflicts in routing that may occur due to the new deployment. The existence of a routing warning does not necessarily imply that the deployment request is bad, if the desired state of the deployment request is to effect a routing change. The primary purposes of the routing messages are: 1) To inform users of routing changes that may have an effect on traffic currently being routed to other existing deployments. 2) To warn users if some base path in the proxy will not receive traffic due to an existing deployment having already claimed that base path. The presence of routing conflicts\/changes will not cause non-dry-run DeployApiProxy\/UndeployApiProxy requests to be rejected.",
      "type": "object",
      "properties": {
        "validationErrors": {
          "description": "Validation errors that would cause the deployment change request to be rejected.",
          "$ref": "GoogleRpcPreconditionFailure"
        },
        "routingChanges": {
          "description": "All routing changes that may result from a deployment request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange"
          }
        },
        "routingConflicts": {
          "description": "All base path conflicts detected for a deployment request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          }
        }
      }
    },
    "GoogleRpcPreconditionFailure": {
      "id": "GoogleRpcPreconditionFailure",
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "type": "object",
      "properties": {
        "violations": {
          "description": "Describes all precondition violations.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcPreconditionFailureViolation"
          }
        }
      }
    },
    "GoogleRpcPreconditionFailureViolation": {
      "id": "GoogleRpcPreconditionFailureViolation",
      "description": "A message type used to describe a single precondition failure.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\".",
          "type": "string"
        },
        "subject": {
          "description": "The subject, relative to the type, that failed. For example, \"google.com\/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced.",
          "type": "string"
        },
        "description": {
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange",
      "description": "Describes a potential routing change that may occur as a result of some deployment operation.",
      "type": "object",
      "properties": {
        "environmentGroup": {
          "description": "Name of the environment group affected by this routing change.",
          "type": "string"
        },
        "fromDeployment": {
          "description": "Base path\/deployment that may stop receiving some traffic.",
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
        },
        "toDeployment": {
          "description": "Base path\/deployment that may start receiving that traffic. May be null if no deployment is able to receive the traffic.",
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
        },
        "shouldSequenceRollout": {
          "description": "Set to `true` if using sequenced rollout would make this routing change safer. **Note**: This does not necessarily imply that automated sequenced rollout mode is supported for the operation.",
          "type": "boolean"
        },
        "description": {
          "description": "Human-readable description of this routing change.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListDeploymentsResponse": {
      "id": "GoogleCloudApigeeV1ListDeploymentsResponse",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "List of deployments.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Deployment"
          }
        }
      }
    },
    "GoogleCloudApigeeV1FlowHook": {
      "id": "GoogleCloudApigeeV1FlowHook",
      "type": "object",
      "properties": {
        "flowHookPoint": {
          "description": "Output only. Where in the API call flow the flow hook is invoked. Must be one of `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, or `PostTargetFlowHook`.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Description of the flow hook.",
          "type": "string"
        },
        "sharedFlow": {
          "description": "Shared flow attached to this flow hook, or empty if there is none attached.",
          "type": "string"
        },
        "continueOnError": {
          "description": "Optional. Flag that specifies whether execution should continue if the flow hook throws an exception. Set to `true` to continue execution. Set to `false` to stop execution if the flow hook throws an exception. Defaults to `true`.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1EnvironmentGroup": {
      "id": "GoogleCloudApigeeV1EnvironmentGroup",
      "description": "EnvironmentGroup configuration. An environment group is used to group one or more Apigee environments under a single host name.",
      "type": "object",
      "properties": {
        "name": {
          "description": "ID of the environment group.",
          "type": "string"
        },
        "hostnames": {
          "description": "Required. Host names for this environment group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createdAt": {
          "description": "Output only. The time at which the environment group was created as milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "lastModifiedAt": {
          "description": "Output only. The time at which the environment group was last updated as milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "state": {
          "description": "Output only. State of the environment group. Values other than ACTIVE means the resource is not ready to use.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ]
        }
      }
    },
    "GoogleCloudApigeeV1ListEnvironmentGroupsResponse": {
      "id": "GoogleCloudApigeeV1ListEnvironmentGroupsResponse",
      "description": "Response for ListEnvironmentGroups.",
      "type": "object",
      "properties": {
        "environmentGroups": {
          "description": "EnvironmentGroups in the specified organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
          }
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListEnvironmentGroups request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1EnvironmentGroupAttachment": {
      "id": "GoogleCloudApigeeV1EnvironmentGroupAttachment",
      "description": "EnvironmentGroupAttachment is a resource which defines an attachment of an environment to an environment group.",
      "type": "object",
      "properties": {
        "name": {
          "description": "ID of the environment group attachment.",
          "type": "string"
        },
        "environment": {
          "description": "Required. ID of the attached environment.",
          "type": "string"
        },
        "createdAt": {
          "description": "Output only. The time at which the environment group attachment was created as milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "state": {
          "description": "Output only. State of the environment group attachment. Values other than ACTIVE means the resource is not ready to use.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ]
        },
        "environmentGroupId": {
          "description": "Output only. ID of the environment group.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse": {
      "id": "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse",
      "description": "Response for ListEnvironmentGroupAttachments.",
      "type": "object",
      "properties": {
        "environmentGroupAttachments": {
          "description": "EnvironmentGroupAttachments for the specified environment group.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
          }
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListEnvironmentGroupAttachments request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Keystore": {
      "id": "GoogleCloudApigeeV1Keystore",
      "description": "Datastore for Certificates and Aliases.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Resource ID for this keystore. Values must match the regular expression `[\\w[:space:].-]{1,255}`.",
          "type": "string"
        },
        "aliases": {
          "description": "Output only. Aliases in this keystore.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1Alias": {
      "id": "GoogleCloudApigeeV1Alias",
      "description": "Reference to a certificate or key\/certificate pair.",
      "type": "object",
      "properties": {
        "alias": {
          "description": "Resource ID for this alias. Values must match the regular expression `[^\/]{1,255}`.",
          "type": "string"
        },
        "certsInfo": {
          "description": "Chain of certificates under this alias.",
          "$ref": "GoogleCloudApigeeV1Certificate"
        },
        "type": {
          "description": "Type of alias.",
          "type": "string",
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key\/certificate pair."
          ],
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ]
        }
      }
    },
    "GoogleCloudApigeeV1Certificate": {
      "id": "GoogleCloudApigeeV1Certificate",
      "type": "object",
      "properties": {
        "certInfo": {
          "description": "Chain of certificates under this name.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CertInfo"
          }
        }
      }
    },
    "GoogleCloudApigeeV1CertInfo": {
      "id": "GoogleCloudApigeeV1CertInfo",
      "description": "X.509 certificate as defined in RFC 5280.",
      "type": "object",
      "properties": {
        "version": {
          "description": "X.509 version.",
          "type": "integer",
          "format": "int32"
        },
        "subject": {
          "description": "X.509 subject.",
          "type": "string"
        },
        "issuer": {
          "description": "X.509 issuer.",
          "type": "string"
        },
        "expiryDate": {
          "description": "X.509 `notAfter` validity period in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "validFrom": {
          "description": "X.509 `notBefore` validity period in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "isValid": {
          "description": "Flag that specifies whether the certificate is valid. Flag is set to `Yes` if the certificate is valid, `No` if expired, or `Not yet` if not yet valid.",
          "type": "string"
        },
        "subjectAlternativeNames": {
          "description": "X.509 subject alternative names (SANs) extension.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sigAlgName": {
          "description": "X.509 signatureAlgorithm.",
          "type": "string"
        },
        "publicKey": {
          "description": "Public key component of the X.509 subject public key info.",
          "type": "string"
        },
        "basicConstraints": {
          "description": "X.509 basic constraints extension.",
          "type": "string"
        },
        "serialNumber": {
          "description": "X.509 serial number.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1TargetServer": {
      "id": "GoogleCloudApigeeV1TargetServer",
      "description": "TargetServer configuration. TargetServers are used to decouple a proxy's TargetEndpoint HTTPTargetConnections from concrete URLs for backend services.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The resource id of this target server. Values must match the regular expression ",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human-readable description of this TargetServer.",
          "type": "string"
        },
        "host": {
          "description": "Required. The host name this target connects to. Value must be a valid hostname as described by RFC-1123.",
          "type": "string"
        },
        "port": {
          "description": "Required. The port number this target connects to on the given host. Value must be between 1 and 65535, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "isEnabled": {
          "description": "Optional. Enabling\/disabling a TargetServer is useful when TargetServers are used in load balancing configurations, and one or more TargetServers need to taken out of rotation periodically. Defaults to true.",
          "type": "boolean"
        },
        "sSLInfo": {
          "description": "Optional. Specifies TLS configuration info for this TargetServer. The JSON name is `sSLInfo` for legacy\/backwards compatibility reasons -- Edge originally supported SSL, and the name is still used for TLS configuration.",
          "$ref": "GoogleCloudApigeeV1TlsInfo"
        },
        "protocol": {
          "description": "Immutable. The protocol used by this TargetServer.",
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED defaults to HTTP for backwards compatibility.",
            "The TargetServer uses HTTP.",
            "The TargetServer uses GRPC."
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "HTTP",
            "GRPC"
          ]
        }
      }
    },
    "GoogleCloudApigeeV1TlsInfo": {
      "id": "GoogleCloudApigeeV1TlsInfo",
      "description": "TLS configuration information for virtual hosts and TargetServers.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Required. Enables TLS. If false, neither one-way nor two-way TLS will be enabled.",
          "type": "boolean"
        },
        "clientAuthEnabled": {
          "description": "Optional. Enables two-way TLS.",
          "type": "boolean"
        },
        "keyStore": {
          "description": "Required if `client_auth_enabled` is true. The resource ID of the keystore.",
          "type": "string"
        },
        "keyAlias": {
          "description": "Required if `client_auth_enabled` is true. The resource ID for the alias containing the private key and cert.",
          "type": "string"
        },
        "trustStore": {
          "description": "The resource ID of the truststore.",
          "type": "string"
        },
        "ignoreValidationErrors": {
          "description": "If true, Edge ignores TLS certificate errors. Valid when configuring TLS for target servers and target endpoints, and when configuring virtual hosts that use 2-way TLS. When used with a target endpoint\/target server, if the backend system uses SNI and returns a cert with a subject Distinguished Name (DN) that does not match the hostname, there is no way to ignore the error and the connection fails.",
          "type": "boolean"
        },
        "protocols": {
          "description": "The TLS versioins to be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ciphers": {
          "description": "The SSL\/TLS cipher suites to be used. For programmable proxies, it must be one of the cipher suite names listed in: http:\/\/docs.oracle.com\/javase\/8\/docs\/technotes\/guides\/security\/StandardNames.html#ciphersuites. For configurable proxies, it must follow the configuration specified in: https:\/\/commondatastorage.googleapis.com\/chromium-boringssl-docs\/ssl.h.html#Cipher-suite-configuration. This setting has no effect for configurable proxies when negotiating TLS 1.3.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "commonName": {
          "description": "The TLS Common Name of the certificate.",
          "$ref": "GoogleCloudApigeeV1TlsInfoCommonName"
        }
      }
    },
    "GoogleCloudApigeeV1TlsInfoCommonName": {
      "id": "GoogleCloudApigeeV1TlsInfoCommonName",
      "type": "object",
      "properties": {
        "value": {
          "description": "The TLS Common Name string of the certificate.",
          "type": "string"
        },
        "wildcardMatch": {
          "description": "Indicates whether the cert should be matched against as a wildcard cert.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1TraceConfig": {
      "id": "GoogleCloudApigeeV1TraceConfig",
      "description": "TraceConfig defines the configurations in an environment of distributed trace.",
      "type": "object",
      "properties": {
        "exporter": {
          "description": "Required. Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters.",
          "type": "string",
          "enumDescriptions": [
            "Exporter unspecified",
            "Jaeger exporter",
            "Cloudtrace exporter"
          ],
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE"
          ]
        },
        "endpoint": {
          "description": "Required. Endpoint of the exporter.",
          "type": "string"
        },
        "samplingConfig": {
          "description": "Distributed trace configuration for all API proxies in an environment. You can also override the configuration for a specific API proxy using the distributed trace configuration overrides API.",
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig"
        }
      }
    },
    "GoogleCloudApigeeV1TraceSamplingConfig": {
      "id": "GoogleCloudApigeeV1TraceSamplingConfig",
      "description": "TraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs.",
      "type": "object",
      "properties": {
        "sampler": {
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "type": "string",
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ],
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ]
        },
        "samplingRate": {
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are > 0 and <= 0.5.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudApigeeV1Environment": {
      "id": "GoogleCloudApigeeV1Environment",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the environment. Values must match the regular expression `^[.\\\\p{Alnum}-_]{1,255}$`",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the environment.",
          "type": "string"
        },
        "createdAt": {
          "description": "Output only. Creation time of this environment as milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "lastModifiedAt": {
          "description": "Output only. Last modification time of this environment as milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "properties": {
          "description": "Optional. Key-value pairs that may be used for customizing the environment.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "displayName": {
          "description": "Optional. Display name for this environment.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the environment. Values other than ACTIVE means the resource is not ready to use.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ]
        },
        "deploymentType": {
          "description": "Optional. Deployment type supported by the environment. The deployment type can be set when creating the environment and cannot be changed. When you enable archive deployment, you will be **prevented from performing** a [subset of actions](\/apigee\/docs\/api-platform\/local-development\/overview#prevented-actions) within the environment, including: * Managing the deployment of API proxy or shared flow revisions * Creating, updating, or deleting resource files * Creating, updating, or deleting target servers",
          "type": "string",
          "enumDescriptions": [
            "Deployment type not specified.",
            "Proxy deployment enables you to develop and deploy API proxies using Apigee on Google Cloud. This cannot currently be combined with the CONFIGURABLE API proxy type.",
            "Archive deployment enables you to develop API proxies locally then deploy an archive of your API proxy configuration to an environment in Apigee on Google Cloud. You will be prevented from performing a [subset of actions](\/apigee\/docs\/api-platform\/local-development\/overview#prevented-actions) within the environment."
          ],
          "enum": [
            "DEPLOYMENT_TYPE_UNSPECIFIED",
            "PROXY",
            "ARCHIVE"
          ]
        },
        "apiProxyType": {
          "description": "Optional. API Proxy type supported by the environment. The type can be set when creating the Environment and cannot be changed.",
          "type": "string",
          "enumDescriptions": [
            "API proxy type not specified.",
            "Programmable API Proxies enable you to develop APIs with highly flexible behavior using bundled policy configuration and one or more programming languages to describe complex sequential and\/or conditional flows of logic.",
            "Configurable API Proxies enable you to develop efficient APIs using simple configuration while complex execution control flow logic is handled by Apigee. This type only works with the ARCHIVE deployment type and cannot be combined with the PROXY deployment type."
          ],
          "enum": [
            "API_PROXY_TYPE_UNSPECIFIED",
            "PROGRAMMABLE",
            "CONFIGURABLE"
          ]
        },
        "nodeConfig": {
          "description": "Optional. NodeConfig of the environment.",
          "$ref": "GoogleCloudApigeeV1NodeConfig"
        },
        "forwardProxyUri": {
          "description": "Optional. Url of the forward proxy to be applied to the runtime instances in this environment. Must be in the format of {scheme}:\/\/{hostname}:{port}. Note that scheme must be one of \"http\" or \"https\", and port must be supplied.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Properties": {
      "id": "GoogleCloudApigeeV1Properties",
      "description": "Message for compatibility with legacy Edge specification for Java Properties object in JSON.",
      "type": "object",
      "properties": {
        "property": {
          "description": "List of all properties in the object",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          }
        }
      }
    },
    "GoogleCloudApigeeV1Property": {
      "id": "GoogleCloudApigeeV1Property",
      "description": "A single property entry in the Properties message.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The property key",
          "type": "string"
        },
        "value": {
          "description": "The property value",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1NodeConfig": {
      "id": "GoogleCloudApigeeV1NodeConfig",
      "description": "NodeConfig for setting the min\/max number of nodes associated with the environment.",
      "type": "object",
      "properties": {
        "minNodeCount": {
          "description": "Optional. The minimum total number of gateway nodes that the is reserved for all instances that has the specified environment. If not specified, the default is determined by the recommended minimum number of nodes for that gateway.",
          "type": "string",
          "format": "int64"
        },
        "maxNodeCount": {
          "description": "Optional. The maximum total number of gateway nodes that the is reserved for all instances that has the specified environment. If not specified, the default is determined by the recommended maximum number of nodes for that gateway.",
          "type": "string",
          "format": "int64"
        },
        "currentAggregateNodeCount": {
          "description": "Output only. The current total number of gateway nodes that each environment currently has across all instances.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudApigeeV1EnvironmentConfig": {
      "id": "GoogleCloudApigeeV1EnvironmentConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the environment configuration in the following format: `organizations\/{org}\/environments\/{env}\/configs\/{config}`",
          "type": "string"
        },
        "uid": {
          "description": "Unique ID for the environment configuration. The ID will only change if the environment is deleted and recreated.",
          "type": "string"
        },
        "revisionId": {
          "description": "Revision ID of the environment configuration. The higher the value, the more recently the configuration was deployed.",
          "type": "string",
          "format": "int64"
        },
        "sequenceNumber": {
          "description": "DEPRECATED: Use revision_id.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "description": "Time that the environment configuration was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "provider": {
          "description": "Used by the Control plane to add context information to help detect the source of the document during diagnostics and debugging.",
          "type": "string"
        },
        "resources": {
          "description": "List of resource versions in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceConfig"
          }
        },
        "targets": {
          "description": "List of target servers in the environment. Disabled target servers are not displayed.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1TargetServerConfig"
          }
        },
        "deployments": {
          "description": "List of deployments in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentConfig"
          }
        },
        "flowhooks": {
          "description": "List of flow hooks in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1FlowHookConfig"
          }
        },
        "debugMask": {
          "description": "Debug mask that applies to all deployments in the environment.",
          "$ref": "GoogleCloudApigeeV1DebugMask"
        },
        "keystores": {
          "description": "List of keystores in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1KeystoreConfig"
          }
        },
        "featureFlags": {
          "description": "Feature flags inherited from the organization and environment.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pubsubTopic": {
          "description": "Name of the PubSub topic for the environment.",
          "type": "string"
        },
        "resourceReferences": {
          "description": "List of resource references in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReferenceConfig"
          }
        },
        "dataCollectors": {
          "description": "List of data collectors used by the deployments in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollectorConfig"
          }
        },
        "traceConfig": {
          "description": "Trace configurations. Contains config for the environment and config overrides for specific API proxies.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceConfig"
        },
        "gatewayConfigLocation": {
          "description": "The location for the gateway config blob as a URI, e.g. a Cloud Storage URI. This is only used by Envoy-based gateways.",
          "type": "string"
        },
        "arcConfigLocation": {
          "description": "The location for the config blob of API Runtime Control, aka Envoy Adapter, for op-based authentication as a URI, e.g. a Cloud Storage URI. This is only used by Envoy-based gateways.",
          "type": "string"
        },
        "forwardProxyUri": {
          "description": "The forward proxy's url to be used by the runtime. When set, runtime will send requests to the target via the given forward proxy. This is only used by programmable gateways.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ResourceConfig": {
      "id": "GoogleCloudApigeeV1ResourceConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name in the following format: `organizations\/{org}\/environments\/{env}\/resourcefiles\/{type}\/{file}\/revisions\/{rev}` Only environment-scoped resource files are supported.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource as a URI.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1TargetServerConfig": {
      "id": "GoogleCloudApigeeV1TargetServerConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "Target server revision name in the following format: `organizations\/{org}\/environments\/{env}\/targetservers\/{targetserver}\/revisions\/{rev}`",
          "type": "string"
        },
        "host": {
          "description": "Host name of the target server.",
          "type": "string"
        },
        "port": {
          "description": "Port number for the target server.",
          "type": "integer",
          "format": "int32"
        },
        "tlsInfo": {
          "description": "TLS settings for the target server.",
          "$ref": "GoogleCloudApigeeV1TlsInfoConfig"
        },
        "protocol": {
          "description": "The protocol used by this target server.",
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED defaults to HTTP for backwards compatibility.",
            "The TargetServer uses HTTP.",
            "The TargetServer uses GRPC."
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "HTTP",
            "GRPC"
          ]
        },
        "enabled": {
          "description": "Whether the target server is enabled. An empty\/omitted value for this field should be interpreted as true.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1TlsInfoConfig": {
      "id": "GoogleCloudApigeeV1TlsInfoConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Flag that specifies whether one-way TLS is enabled. Set to `true` to enable one-way TLS.",
          "type": "boolean"
        },
        "clientAuthEnabled": {
          "description": "Flag that specifies whether client-side authentication is enabled for the target server. Enables two-way TLS.",
          "type": "boolean"
        },
        "keyAlias": {
          "description": "Name of the alias used for client-side authentication in the following format: `organizations\/{org}\/environments\/{env}\/keystores\/{keystore}\/aliases\/{alias}`",
          "type": "string"
        },
        "keyAliasReference": {
          "description": "Reference name and alias pair to use for client-side authentication.",
          "$ref": "GoogleCloudApigeeV1KeyAliasReference"
        },
        "trustStore": {
          "description": "Name of the keystore or keystore reference containing trusted certificates for the server in the following format: `organizations\/{org}\/environments\/{env}\/keystores\/{keystore}` or `organizations\/{org}\/environments\/{env}\/references\/{reference}`",
          "type": "string"
        },
        "ciphers": {
          "description": "List of ciphers that are granted access.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "protocols": {
          "description": "List of TLS protocols that are granted access.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "commonName": {
          "description": "Common name to validate the target server against.",
          "$ref": "GoogleCloudApigeeV1CommonNameConfig"
        },
        "ignoreValidationErrors": {
          "description": "Flag that specifies whether to ignore TLS certificate validation errors. Set to `true` to ignore errors.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1KeyAliasReference": {
      "id": "GoogleCloudApigeeV1KeyAliasReference",
      "type": "object",
      "properties": {
        "reference": {
          "description": "Reference name in the following format: `organizations\/{org}\/environments\/{env}\/references\/{reference}`",
          "type": "string"
        },
        "aliasId": {
          "description": "Alias ID. Must exist in the keystore referred to by the reference.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1CommonNameConfig": {
      "id": "GoogleCloudApigeeV1CommonNameConfig",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "matchWildCards": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentConfig": {
      "id": "GoogleCloudApigeeV1DeploymentConfig",
      "description": "NEXT ID: 9",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the API or shared flow revision to be deployed in the following format: `organizations\/{org}\/apis\/{api}\/revisions\/{rev}` or `organizations\/{org}\/sharedflows\/{sharedflow}\/revisions\/{rev}`",
          "type": "string"
        },
        "uid": {
          "description": "Unique ID. The ID will only change if the deployment is deleted and recreated.",
          "type": "string"
        },
        "proxyUid": {
          "description": "Unique ID of the API proxy revision.",
          "type": "string"
        },
        "location": {
          "description": "Location of the API proxy bundle as a URI.",
          "type": "string"
        },
        "basePath": {
          "description": "Base path where the application will be hosted. Defaults to \"\/\".",
          "type": "string"
        },
        "attributes": {
          "description": "Additional key-value metadata for the deployment.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "The service account identity associated with this deployment. If non-empty, will be in the following format: `projects\/-\/serviceAccounts\/{account_email}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1FlowHookConfig": {
      "id": "GoogleCloudApigeeV1FlowHookConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the flow hook in the following format: `organizations\/{org}\/environments\/{env}\/flowhooks\/{point}`. Valid `point` values include: `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, and `PostTargetFlowHook`",
          "type": "string"
        },
        "sharedFlowName": {
          "description": "Name of the shared flow to invoke in the following format: `organizations\/{org}\/sharedflows\/{sharedflow}`",
          "type": "string"
        },
        "continueOnError": {
          "description": "Flag that specifies whether the flow should abort after an error in the flow hook. Defaults to `true` (continue on error).",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1KeystoreConfig": {
      "id": "GoogleCloudApigeeV1KeystoreConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name in the following format: `organizations\/{org}\/environments\/{env}\/keystores\/{keystore}`",
          "type": "string"
        },
        "aliases": {
          "description": "Aliases in the keystore.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AliasRevisionConfig"
          }
        }
      }
    },
    "GoogleCloudApigeeV1AliasRevisionConfig": {
      "id": "GoogleCloudApigeeV1AliasRevisionConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the alias revision included in the keystore in the following format: `organizations\/{org}\/environments\/{env}\/keystores\/{keystore}\/aliases\/{alias}\/revisions\/{rev}`",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key\/certificate pair."
          ],
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ]
        },
        "location": {
          "description": "Location of the alias file. For example, a Google Cloud Storage URI.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ReferenceConfig": {
      "id": "GoogleCloudApigeeV1ReferenceConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the reference in the following format: `organizations\/{org}\/environments\/{env}\/references\/{reference}`",
          "type": "string"
        },
        "resourceName": {
          "description": "Name of the referenced resource in the following format: `organizations\/{org}\/environments\/{env}\/keystores\/{keystore}` Only references to keystore resources are supported.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DataCollectorConfig": {
      "id": "GoogleCloudApigeeV1DataCollectorConfig",
      "description": "Data collector and its configuration.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the data collector in the following format: `organizations\/{org}\/datacollectors\/{datacollector}`",
          "type": "string"
        },
        "type": {
          "description": "Data type accepted by the data collector.",
          "type": "string",
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ]
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeTraceConfig": {
      "id": "GoogleCloudApigeeV1RuntimeTraceConfig",
      "description": "NEXT ID: 8 RuntimeTraceConfig defines the configurations for distributed trace in an environment.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the trace config in the following format: `organizations\/{org}\/environment\/{env}\/traceConfig`",
          "type": "string"
        },
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the trace config has changed between two versions.",
          "type": "string"
        },
        "revisionCreateTime": {
          "description": "The timestamp that the revision was created or updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "exporter": {
          "description": "Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters.",
          "type": "string",
          "enumDescriptions": [
            "Exporter unspecified",
            "Jaeger exporter",
            "Cloudtrace exporter"
          ],
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE"
          ]
        },
        "endpoint": {
          "description": "Endpoint of the exporter.",
          "type": "string"
        },
        "samplingConfig": {
          "description": "Trace configuration for all API proxies in an environment.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig"
        },
        "overrides": {
          "description": "List of trace configuration overrides for spicific API proxies.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOverride"
          }
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeTraceSamplingConfig": {
      "id": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
      "description": "NEXT ID: 3 RuntimeTraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs.",
      "type": "object",
      "properties": {
        "sampler": {
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "type": "string",
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ],
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ]
        },
        "samplingRate": {
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are > 0 and <= 0.5.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeTraceConfigOverride": {
      "id": "GoogleCloudApigeeV1RuntimeTraceConfigOverride",
      "description": "NEXT ID: 7 Trace configuration override for a specific API proxy in an environment.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the trace config override in the following format: `organizations\/{org}\/environment\/{env}\/traceConfig\/overrides\/{override}`",
          "type": "string"
        },
        "uid": {
          "description": "Unique ID for the configuration override. The ID will only change if the override is deleted and recreated. Corresponds to name's \"override\" field.",
          "type": "string"
        },
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the trace config override has changed between two versions.",
          "type": "string"
        },
        "revisionCreateTime": {
          "description": "The timestamp that the revision was created or updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "apiProxy": {
          "description": "Name of the API proxy that will have its trace configuration overridden following format: `organizations\/{org}\/apis\/{api}`",
          "type": "string"
        },
        "samplingConfig": {
          "description": "Trace configuration override for a specific API proxy in an environment.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig"
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}\/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/how-to\/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace\/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
[...]
