{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "batch:v1alpha",
  "name": "batch",
  "canonicalName": "Batch",
  "version": "v1alpha",
  "revision": "0",
  "title": "Batch API",
  "description": "An API to manage the running of batch jobs on Google Cloud Platform.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/batch/",
  "protocol": "rest",
  "rootUrl": "https://batch.googleapis.com/",
  "mtlsRootUrl": "https://batch.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://batch.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "Job": {
      "id": "Job",
      "description": "The Cloud Batch Job description.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Job name. For example: \"projects\/123456\/locations\/us-central1\/jobs\/job01\".",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. A system generated unique ID (in UUID4 format) for the Job.",
          "readOnly": true,
          "type": "string"
        },
        "priority": {
          "description": "Priority of the Job. The valid value range is [0, 100). Default value is 0. Higher value indicates higher priority. A job with higher priority value is more likely to run earlier if all other requirements are satisfied.",
          "type": "string",
          "format": "int64"
        },
        "taskGroups": {
          "description": "Required. TaskGroups in the Job. Only one TaskGroup is supported now.",
          "type": "array",
          "items": {
            "$ref": "TaskGroup"
          }
        },
        "schedulingPolicy": {
          "description": "Scheduling policy for TaskGroups in the job.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Run all TaskGroups as soon as possible."
          ],
          "enum": [
            "SCHEDULING_POLICY_UNSPECIFIED",
            "AS_SOON_AS_POSSIBLE"
          ]
        },
        "dependencies": {
          "description": "At least one of the dependencies must be satisfied before the Job is scheduled to run. Only one JobDependency is supported now. Not yet implemented.",
          "type": "array",
          "items": {
            "$ref": "JobDependency"
          }
        },
        "allocationPolicy": {
          "description": "Compute resource allocation for all TaskGroups in the Job.",
          "$ref": "AllocationPolicy"
        },
        "labels": {
          "description": "Labels for the Job. Labels could be user provided or system generated. For example, \"labels\": { \"department\": \"finance\", \"environment\": \"test\" } You can assign up to 64 labels. [Google Compute Engine label restrictions](https:\/\/cloud.google.com\/compute\/docs\/labeling-resources#restrictions) apply. Label names that start with \"goog-\" or \"google-\" are reserved.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "status": {
          "description": "Output only. Job status. It is read only for users.",
          "readOnly": true,
          "$ref": "JobStatus"
        },
        "notification": {
          "description": "Deprecated: please use notifications instead.",
          "$ref": "JobNotification"
        },
        "createTime": {
          "description": "Output only. When the Job was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last time the Job was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "logsPolicy": {
          "description": "Log preservation policy for the Job.",
          "$ref": "LogsPolicy"
        },
        "notifications": {
          "description": "Notification configurations.",
          "type": "array",
          "items": {
            "$ref": "JobNotification"
          }
        }
      }
    },
    "TaskGroup": {
      "id": "TaskGroup",
      "description": "A TaskGroup contains one or multiple Tasks that share the same Runnable but with different runtime parameters.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. TaskGroup name. The system generates this field based on parent Job name. For example: \"projects\/123456\/locations\/us-west1\/jobs\/job01\/taskGroups\/group01\".",
          "readOnly": true,
          "type": "string"
        },
        "taskSpec": {
          "description": "Required. Tasks in the group share the same task spec.",
          "$ref": "TaskSpec"
        },
        "taskCount": {
          "description": "Number of Tasks in the TaskGroup. Default is 1.",
          "type": "string",
          "format": "int64"
        },
        "parallelism": {
          "description": "Max number of tasks that can run in parallel. Default to min(task_count, 1000).",
          "type": "string",
          "format": "int64"
        },
        "schedulingPolicy": {
          "description": "Scheduling policy for Tasks in the TaskGroup.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Run Tasks as soon as resources are available."
          ],
          "enum": [
            "SCHEDULING_POLICY_UNSPECIFIED",
            "AS_SOON_AS_POSSIBLE"
          ]
        },
        "allocationPolicy": {
          "description": "Compute resource allocation for the TaskGroup. If specified, it overrides resources in Job.",
          "$ref": "AllocationPolicy"
        },
        "labels": {
          "description": "Labels for the TaskGroup. Labels could be user provided or system generated. You can assign up to 64 labels. [Google Compute Engine label restrictions](https:\/\/cloud.google.com\/compute\/docs\/labeling-resources#restrictions) apply. Label names that start with \"goog-\" or \"google-\" are reserved.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "taskEnvironments": {
          "description": "An array of environment variable mappings, which are passed to Tasks with matching indices. If task_environments is used then task_count should not be specified in the request (and will be ignored). Task count will be the length of task_environments. Tasks get a BATCH_TASK_INDEX and BATCH_TASK_COUNT environment variable, in addition to any environment variables set in task_environments, specifying the number of Tasks in the Task's parent TaskGroup, and the specific Task's index in the TaskGroup (0 through BATCH_TASK_COUNT - 1). task_environments supports up to 200 entries.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        },
        "taskCountPerNode": {
          "description": "Max number of tasks that can be run on a VM at the same time. If not specified, the system will decide a value based on available compute resources on a VM and task requirements.",
          "type": "string",
          "format": "int64"
        },
        "requireHostsFile": {
          "description": "When true, Batch will populate a file with a list of all VMs assigned to the TaskGroup and set the BATCH_HOSTS_FILE environment variable to the path of that file. Defaults to false.",
          "type": "boolean"
        },
        "permissiveSsh": {
          "description": "When true, Batch will configure SSH to allow passwordless login between VMs running the Batch tasks in the same TaskGroup.",
          "type": "boolean"
        }
      }
    },
    "TaskSpec": {
      "id": "TaskSpec",
      "description": "Spec of a task",
      "type": "object",
      "properties": {
        "runnables": {
          "description": "The sequence of scripts or containers to run for this Task. Each Task using this TaskSpec executes its list of runnables in order. The Task succeeds if all of its runnables either exit with a zero status or any that exit with a non-zero status have the ignore_exit_status flag. Background runnables are killed automatically (if they have not already exited) a short time after all foreground runnables have completed. Even though this is likely to result in a non-zero exit status for the background runnable, these automatic kills are not treated as Task failures.",
          "type": "array",
          "items": {
            "$ref": "Runnable"
          }
        },
        "computeResource": {
          "description": "ComputeResource requirements.",
          "$ref": "ComputeResource"
        },
        "maxRunDuration": {
          "description": "Maximum duration the task should run. The task will be killed and marked as FAILED if over this limit.",
          "type": "string",
          "format": "google-duration"
        },
        "maxRetryCount": {
          "description": "Maximum number of retries on failures. The default, 0, which means never retry. The valid value range is [0, 10].",
          "type": "integer",
          "format": "int32"
        },
        "lifecyclePolicies": {
          "description": "Lifecycle management schema when any task in a task group is failed. Currently we only support one lifecycle policy. When the lifecycle policy condition is met, the action in the policy will execute. If task execution result does not meet with the defined lifecycle policy, we consider it as the default policy. Default policy means if the exit code is 0, exit task. If task ends with non-zero exit code, retry the task with max_retry_count.",
          "type": "array",
          "items": {
            "$ref": "LifecyclePolicy"
          }
        },
        "environments": {
          "description": "Deprecated: please use environment(non-plural) instead.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "volumes": {
          "description": "Volumes to mount before running Tasks using this TaskSpec.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "environment": {
          "description": "Environment variables to set before running the Task.",
          "$ref": "Environment"
        }
      }
    },
    "Runnable": {
      "id": "Runnable",
      "description": "Runnable describes instructions for executing a specific script or container as part of a Task.",
      "type": "object",
      "properties": {
        "container": {
          "description": "Container runnable.",
          "$ref": "Container"
        },
        "script": {
          "description": "Script runnable.",
          "$ref": "Script"
        },
        "barrier": {
          "description": "Barrier runnable.",
          "$ref": "Barrier"
        },
        "ignoreExitStatus": {
          "description": "Normally, a non-zero exit status causes the Task to fail. This flag allows execution of other Runnables to continue instead.",
          "type": "boolean"
        },
        "background": {
          "description": "This flag allows a Runnable to continue running in the background while the Task executes subsequent Runnables. This is useful to provide services to other Runnables (or to provide debugging support tools like SSH servers).",
          "type": "boolean"
        },
        "alwaysRun": {
          "description": "By default, after a Runnable fails, no further Runnable are executed. This flag indicates that this Runnable must be run even if the Task has already failed. This is useful for Runnables that copy output files off of the VM or for debugging. The always_run flag does not override the Task's overall max_run_duration. If the max_run_duration has expired then no further Runnables will execute, not even always_run Runnables.",
          "type": "boolean"
        },
        "environment": {
          "description": "Environment variables for this Runnable (overrides variables set for the whole Task or TaskGroup).",
          "$ref": "Environment"
        },
        "timeout": {
          "description": "Timeout for this Runnable.",
          "type": "string",
          "format": "google-duration"
        },
        "labels": {
          "description": "Labels for this Runnable.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Container": {
      "id": "Container",
      "description": "Container runnable.",
      "type": "object",
      "properties": {
        "imageUri": {
          "description": "The URI to pull the container image from.",
          "type": "string"
        },
        "commands": {
          "description": "Overrides the `CMD` specified in the container. If there is an ENTRYPOINT (either in the container image or with the entrypoint field below) then commands are appended as arguments to the ENTRYPOINT.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entrypoint": {
          "description": "Overrides the `ENTRYPOINT` specified in the container.",
          "type": "string"
        },
        "volumes": {
          "description": "Volumes to mount (bind mount) from the host machine files or directories into the container, formatted to match docker run's --volume option, e.g. \/foo:\/bar, or \/foo:\/bar:ro",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "options": {
          "description": "Arbitrary additional options to include in the \"docker run\" command when running this container, e.g. \"--network host\".",
          "type": "string"
        },
        "blockExternalNetwork": {
          "description": "If set to true, external network access to and from container will be blocked, containers that are with block_external_network as true can still communicate with each other, network cannot be specified in the `container.options` field.",
          "type": "boolean"
        },
        "username": {
          "description": "Optional username for logging in to a docker registry. If username matches `projects\/*\/secrets\/*\/versions\/*` then Batch will read the username from the Secret Manager.",
          "type": "string"
        },
        "password": {
          "description": "Optional password for logging in to a docker registry. If password matches `projects\/*\/secrets\/*\/versions\/*` then Batch will read the password from the Secret Manager;",
          "type": "string"
        }
      }
    },
    "Script": {
      "id": "Script",
      "description": "Script runnable.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Script file path on the host VM. To specify an interpreter, please add a `#!`(also known as [shebang line](https:\/\/en.wikipedia.org\/wiki\/Shebang_(Unix))) as the first line of the file.(For example, to execute the script using bash, `#!\/bin\/bash` should be the first line of the file. To execute the script using`Python3`, `#!\/usr\/bin\/env python3` should be the first line of the file.) Otherwise, the file will by default be excuted by `\/bin\/sh`.",
          "type": "string"
        },
        "text": {
          "description": "Shell script text. To specify an interpreter, please add a `#!\\n` at the beginning of the text.(For example, to execute the script using bash, `#!\/bin\/bash\\n` should be added. To execute the script using`Python3`, `#!\/usr\/bin\/env python3\\n` should be added.) Otherwise, the script will by default be excuted by `\/bin\/sh`.",
          "type": "string"
        }
      }
    },
    "Barrier": {
      "id": "Barrier",
      "description": "Barrier runnable blocks until all tasks in a taskgroup reach it.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Barriers are identified by their index in runnable list. Names are not required, but if present should be an identifier.",
          "type": "string"
        }
      }
    },
    "Environment": {
      "id": "Environment",
      "description": "An Environment describes a collection of environment variables to set when executing Tasks.",
      "type": "object",
      "properties": {
        "variables": {
          "description": "A map of environment variable names to values.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "secretVariables": {
          "description": "A map of environment variable names to Secret Manager secret names. The VM will access the named secrets to set the value of each environment variable.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptedVariables": {
          "description": "An encrypted JSON dictionary where the key\/value pairs correspond to environment variable names and their values.",
          "$ref": "KMSEnvMap"
        }
      }
    },
    "KMSEnvMap": {
      "id": "KMSEnvMap",
      "type": "object",
      "properties": {
        "keyName": {
          "description": "The name of the KMS key that will be used to decrypt the cipher text.",
          "type": "string"
        },
        "cipherText": {
          "description": "The value of the cipherText response from the `encrypt` method.",
          "type": "string"
        }
      }
    },
    "ComputeResource": {
      "id": "ComputeResource",
      "description": "Compute resource requirements",
      "type": "object",
      "properties": {
        "cpuMilli": {
          "description": "The milliCPU count.",
          "type": "string",
          "format": "int64"
        },
        "memoryMib": {
          "description": "Memory in MiB.",
          "type": "string",
          "format": "int64"
        },
        "gpuCount": {
          "description": "The GPU count. Not yet implemented.",
          "type": "string",
          "format": "int64"
        },
        "bootDiskMib": {
          "description": "Extra boot disk size in MiB for each task.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "LifecyclePolicy": {
      "id": "LifecyclePolicy",
      "description": "LifecyclePolicy describes how to deal with task failures based on different conditions.",
      "type": "object",
      "properties": {
        "action": {
          "description": "Action to execute when ActionCondition is true. When RETRY_TASK is specified, we will retry failed tasks if we notice any exit code match and fail tasks if no match is found. Likewise, when FAIL_TASK is specified, we will fail tasks if we notice any exit code match and retry tasks if no match is found.",
          "type": "string",
          "enumDescriptions": [
            "Action unspecified.",
            "Action that tasks in the group will be scheduled to re-execute.",
            "Action that tasks in the group will be stopped immediately."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "RETRY_TASK",
            "FAIL_TASK"
          ]
        },
        "actionCondition": {
          "description": "Conditions that decide why a task failure is dealt with a specific action.",
          "$ref": "ActionCondition"
        }
      }
    },
    "ActionCondition": {
      "id": "ActionCondition",
      "description": "Conditions for actions to deal with task failures.",
      "type": "object",
      "properties": {
        "exitCodes": {
          "description": "Exit codes of a task execution. If there are more than 1 exit codes, when task executes with any of the exit code in the list, the condition is met and the action will be executed.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "Volume": {
      "id": "Volume",
      "description": "Volume describes a volume and parameters for it to be mounted to a VM.",
      "type": "object",
      "properties": {
        "nfs": {
          "description": "A Network File System (NFS) volume. For example, a Filestore file share.",
          "$ref": "NFS"
        },
        "pd": {
          "description": "Deprecated: please use device_name instead.",
          "$ref": "PD"
        },
        "gcs": {
          "description": "A Google Cloud Storage (GCS) volume.",
          "$ref": "GCS"
        },
        "deviceName": {
          "description": "Device name of an attached disk volume, which should align with a device_name specified by job.allocation_policy.instances[0].policy.disks[i].device_name or defined by the given instance template in job.allocation_policy.instances[0].instance_template.",
          "type": "string"
        },
        "mountPath": {
          "description": "The mount path for the volume, e.g. \/mnt\/disks\/share.",
          "type": "string"
        },
        "mountOptions": {
          "description": "For Google Cloud Storage (GCS), mount options are the options supported by the gcsfuse tool (https:\/\/github.com\/GoogleCloudPlatform\/gcsfuse). For existing persistent disks, mount options provided by the mount command (https:\/\/man7.org\/linux\/man-pages\/man8\/mount.8.html) except writing are supported. This is due to restrictions of multi-writer mode (https:\/\/cloud.google.com\/compute\/docs\/disks\/sharing-disks-between-vms). For other attached disks and Network File System (NFS), mount options are these supported by the mount command (https:\/\/man7.org\/linux\/man-pages\/man8\/mount.8.html).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NFS": {
      "id": "NFS",
      "description": "Represents an NFS volume.",
      "type": "object",
      "properties": {
        "server": {
          "description": "The IP address of the NFS.",
          "type": "string"
        },
        "remotePath": {
          "description": "Remote source path exported from the NFS, e.g., \"\/share\".",
          "type": "string"
        }
      }
    },
    "PD": {
      "id": "PD",
      "description": "Deprecated: please use device_name instead.",
      "type": "object",
      "properties": {
        "disk": {
          "description": "PD disk name, e.g. pd-1.",
          "type": "string"
        },
        "device": {
          "description": "PD device name, e.g. persistent-disk-1.",
          "type": "string"
        },
        "existing": {
          "description": "Whether this is an existing PD. Default is false. If false, i.e., new PD, we will format it into ext4 and mount to the given path. If true, i.e., existing PD, it should be in ext4 format and we will mount it to the given path.",
          "type": "boolean"
        }
      }
    },
    "GCS": {
      "id": "GCS",
      "description": "Represents a Google Cloud Storage volume.",
      "type": "object",
      "properties": {
        "remotePath": {
          "description": "Remote path, either a bucket name or a subdirectory of a bucket, e.g.: bucket_name, bucket_name\/subdirectory\/",
          "type": "string"
        }
      }
    },
    "AllocationPolicy": {
      "id": "AllocationPolicy",
      "description": "A Job's resource allocation policy describes when, where, and how compute resources should be allocated for the Job.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Location where compute resources should be allocated for the Job.",
          "$ref": "LocationPolicy"
        },
        "instance": {
          "description": "Deprecated: please use instances[0].policy instead.",
          "$ref": "InstancePolicy"
        },
        "instances": {
          "description": "Describe instances that can be created by this AllocationPolicy. Only instances[0] is supported now.",
          "type": "array",
          "items": {
            "$ref": "InstancePolicyOrTemplate"
          }
        },
        "instanceTemplates": {
          "description": "Deprecated: please use instances[0].template instead.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "provisioningModels": {
          "description": "Deprecated: please use instances[0].policy.provisioning_model instead.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Standard VM.",
              "SPOT VM.",
              "Preemptible VM (PVM). Above SPOT VM is the preferable model for preemptible VM instances: the old preemptible VM model (indicated by this field) is the older model, and has been migrated to use the SPOT model as the underlying technology. This old model will still be supported."
            ],
            "enum": [
              "PROVISIONING_MODEL_UNSPECIFIED",
              "STANDARD",
              "SPOT",
              "PREEMPTIBLE"
            ]
          }
        },
        "serviceAccountEmail": {
          "description": "Deprecated: please use service_account instead.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Service account that VMs will run as.",
          "$ref": "ServiceAccount"
        },
        "labels": {
          "description": "Labels applied to all VM instances and other resources created by AllocationPolicy. Labels could be user provided or system generated. You can assign up to 64 labels. [Google Compute Engine label restrictions](https:\/\/cloud.google.com\/compute\/docs\/labeling-resources#restrictions) apply. Label names that start with \"goog-\" or \"google-\" are reserved.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "network": {
          "description": "The network policy.",
          "$ref": "NetworkPolicy"
        },
        "placement": {
          "description": "The placement policy.",
          "$ref": "PlacementPolicy"
        }
      }
    },
    "LocationPolicy": {
      "id": "LocationPolicy",
      "type": "object",
      "properties": {
        "allowedLocations": {
          "description": "A list of allowed location names represented by internal URLs. Each location can be a region or a zone. Only one region or multiple zones in one region is supported now. For example, [\"regions\/us-central1\"] allow VMs in any zones in region us-central1. [\"zones\/us-central1-a\", \"zones\/us-central1-c\"] only allow VMs in zones us-central1-a and us-central1-c. All locations end up in different regions would cause errors. For example, [\"regions\/us-central1\", \"zones\/us-central1-a\", \"zones\/us-central1-b\", \"zones\/us-west1-a\"] contains 2 regions \"us-central1\" and \"us-west1\". An error is expected in this case.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deniedLocations": {
          "description": "A list of denied location names. Not yet implemented.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InstancePolicy": {
      "id": "InstancePolicy",
      "description": "InstancePolicy describes an instance type and resources attached to each VM created by this InstancePolicy.",
      "type": "object",
      "properties": {
        "allowedMachineTypes": {
          "description": "Deprecated: please use machine_type instead.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "machineType": {
          "description": "The Compute Engine machine type.",
          "type": "string"
        },
        "minCpuPlatform": {
          "description": "The minimum CPU platform. See https:\/\/cloud.google.com\/compute\/docs\/instances\/specify-min-cpu-platform. Not yet implemented.",
          "type": "string"
        },
        "provisioningModel": {
          "description": "The provisioning model.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Standard VM.",
            "SPOT VM.",
            "Preemptible VM (PVM). Above SPOT VM is the preferable model for preemptible VM instances: the old preemptible VM model (indicated by this field) is the older model, and has been migrated to use the SPOT model as the underlying technology. This old model will still be supported."
          ],
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "PREEMPTIBLE"
          ]
        },
        "accelerators": {
          "description": "The accelerators attached to each VM instance.",
          "type": "array",
          "items": {
            "$ref": "Accelerator"
          }
        },
        "bootDisk": {
          "description": "Boot disk to be created and attached to each VM by this InstancePolicy. Boot disk will be deleted when the VM is deleted. Batch API now only supports booting from image.",
          "$ref": "Disk"
        },
        "disks": {
          "description": "Non-boot disks to be attached for each VM created by this InstancePolicy. New disks will be deleted when the VM is deleted.",
          "type": "array",
          "items": {
            "$ref": "AttachedDisk"
          }
        },
        "reservation": {
          "description": "If specified, VMs will be allocated only inside the matching reservation.",
          "type": "string"
        }
      }
    },
    "Accelerator": {
      "id": "Accelerator",
      "description": "Accelerator describes Compute Engine accelerators to be attached to the VM.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The accelerator type. For example, \"nvidia-tesla-t4\". See `gcloud compute accelerator-types list`.",
          "type": "string"
        },
        "count": {
          "description": "The number of accelerators of this type.",
          "type": "string",
          "format": "int64"
        },
        "installGpuDrivers": {
          "description": "Deprecated: please use instances[0].install_gpu_drivers instead.",
          "type": "boolean"
        }
      }
    },
    "Disk": {
      "id": "Disk",
      "description": "A new persistent disk or a local ssd. A VM can only have one local SSD setting but multiple local SSD partitions. See https:\/\/cloud.google.com\/compute\/docs\/disks#pdspecs and https:\/\/cloud.google.com\/compute\/docs\/disks#localssds.",
      "type": "object",
      "properties": {
        "image": {
          "description": "Name of a public or custom image used as the data source. For example, the following are all valid URLs: * Specify the image by its family name: projects\/{project}\/global\/images\/family\/{image_family} * Specify the image version: projects\/{project}\/global\/images\/{image_version} You can also use Batch customized image in short names. The following image values are supported for a boot disk: * \"batch-debian\": use Batch Debian images. * \"batch-centos\": use Batch CentOS images. * \"batch-cos\": use Batch Container-Optimized images.",
          "type": "string"
        },
        "snapshot": {
          "description": "Name of a snapshot used as the data source. Snapshot is not supported as boot disk now.",
          "type": "string"
        },
        "type": {
          "description": "Disk type as shown in `gcloud compute disk-types list`. For example, local SSD uses type \"local-ssd\". Persistent disks and boot disks use \"pd-balanced\", \"pd-extreme\", \"pd-ssd\" or \"pd-standard\".",
          "type": "string"
        },
        "sizeGb": {
          "description": "Disk size in GB. For persistent disk, this field is ignored if `data_source` is `image` or `snapshot`. For local SSD, size_gb should be a multiple of 375GB, otherwise, the final size will be the next greater multiple of 375 GB. For boot disk, Batch will calculate the boot disk size based on source image and task requirements if you do not speicify the size. If both this field and the boot_disk_mib field in task spec's compute_resource are defined, Batch will only honor this field.",
          "type": "string",
          "format": "int64"
        },
        "diskInterface": {
          "description": "Local SSDs are available through both \"SCSI\" and \"NVMe\" interfaces. If not indicated, \"NVMe\" will be the default one for local ssds. We only support \"SCSI\" for persistent disks now.",
          "type": "string"
        }
      }
    },
    "AttachedDisk": {
      "id": "AttachedDisk",
      "description": "A new or an existing persistent disk (PD) or a local ssd attached to a VM instance.",
      "type": "object",
      "properties": {
        "newDisk": {
          "$ref": "Disk"
        },
        "existingDisk": {
          "description": "Name of an existing PD.",
          "type": "string"
        },
        "deviceName": {
          "description": "Device name that the guest operating system will see. It is used by Runnable.volumes field to mount disks. So please specify the device_name if you want Batch to help mount the disk, and it should match the device_name field in volumes.",
          "type": "string"
        }
      }
    },
    "InstancePolicyOrTemplate": {
      "id": "InstancePolicyOrTemplate",
      "description": "Either an InstancePolicy or an instance template.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "InstancePolicy.",
          "$ref": "InstancePolicy"
        },
        "instanceTemplate": {
          "description": "Name of an instance template used to create VMs. Named the field as 'instance_template' instead of 'template' to avoid c++ keyword conflict.",
          "type": "string"
        },
        "installGpuDrivers": {
          "description": "Set this field true if users want Batch to help fetch drivers from a third party location and install them for GPUs specified in policy.accelerators or instance_template on their behalf. Default is false.",
          "type": "boolean"
        }
      }
    },
    "ServiceAccount": {
      "id": "ServiceAccount",
      "description": "Carries information about a Google Cloud service account.",
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address of the service account. If not specified, the default Compute Engine service account for the project will be used. If instance template is being used, the service account has to be specified in the instance template and it has to match the email field here.",
          "type": "string"
        },
        "scopes": {
          "description": "List of scopes to be enabled for this service account on the VM, in addition to the cloud-platform API scope that will be added by default.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NetworkPolicy": {
      "id": "NetworkPolicy",
      "description": "NetworkPolicy describes VM instance network configurations.",
      "type": "object",
      "properties": {
        "networkInterfaces": {
          "description": "Network configurations.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        }
      }
    },
    "NetworkInterface": {
      "id": "NetworkInterface",
      "description": "A network interface.",
      "type": "object",
      "properties": {
        "network": {
          "description": "The URL of an existing network resource. You can specify the network as a full or partial URL. For example, the following are all valid URLs: * https:\/\/www.googleapis.com\/compute\/v1\/projects\/{project}\/global\/networks\/{network} * projects\/{project}\/global\/networks\/{network} * global\/networks\/{network}",
          "type": "string"
        },
        "subnetwork": {
          "description": "The URL of an existing subnetwork resource in the network. You can specify the subnetwork as a full or partial URL. For example, the following are all valid URLs: * https:\/\/www.googleapis.com\/compute\/v1\/projects\/{project}\/regions\/{region}\/subnetworks\/{subnetwork} * projects\/{project}\/regions\/{region}\/subnetworks\/{subnetwork} * regions\/{region}\/subnetworks\/{subnetwork}",
          "type": "string"
        },
        "noExternalIpAddress": {
          "description": "Default is false (with an external IP address). Required if no external public IP address is attached to the VM. If no external public IP address, additional configuration is required to allow the VM to access Google Services. See https:\/\/cloud.google.com\/vpc\/docs\/configure-private-google-access and https:\/\/cloud.google.com\/nat\/docs\/gce-example#create-nat for more information.",
          "type": "boolean"
        }
      }
    },
    "PlacementPolicy": {
      "id": "PlacementPolicy",
      "description": "PlacementPolicy describes a group placement policy for the VMs controlled by this AllocationPolicy.",
      "type": "object",
      "properties": {
        "collocation": {
          "description": "UNSPECIFIED vs. COLLOCATED (default UNSPECIFIED). Use COLLOCATED when you want VMs to be located close to each other for low network latency between the VMs.",
          "type": "string"
        },
        "maxDistance": {
          "description": "When specified, causes the job to fail if more than max_distance logical switches are required between VMs. Batch uses the most compact possible placement of VMs even when max_distance is not specified. An explicit max_distance makes that level of compactness a strict requirement. Not yet implemented",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "JobDependency": {
      "id": "JobDependency",
      "description": "JobDependency describes the state of other Jobs that the start of this Job depends on. All dependent Jobs must have been submitted in the same region.",
      "type": "object",
      "properties": {
        "items": {
          "description": "Each item maps a Job name to a Type. All items must be satisfied for the JobDependency to be satisfied (the AND operation). Once a condition for one item becomes true, it won't go back to false even the dependent Job state changes again.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "The dependent Job has succeeded.",
              "The dependent Job has failed.",
              "SUCCEEDED or FAILED."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "SUCCEEDED",
              "FAILED",
              "FINISHED"
            ]
          }
        }
      }
    },
    "JobStatus": {
      "id": "JobStatus",
      "description": "Job status.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Job state",
          "type": "string",
          "enumDescriptions": [
            "",
            "Job is admitted (validated and persisted) and waiting for resources.",
            "Job is scheduled to run as soon as resource allocation is ready. The resource allocation may happen at a later time but with a high chance to succeed.",
            "Resource allocation has been successful. At least one Task in the Job is RUNNING.",
            "All Tasks in the Job have finished successfully.",
            "At least one Task in the Job has failed.",
            "The Job will be deleted, but has not been deleted yet. Typically this is because resources used by the Job are still being cleaned up."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "SCHEDULED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "DELETION_IN_PROGRESS"
          ]
        },
        "statusEvents": {
          "description": "Job status events",
          "type": "array",
          "items": {
            "$ref": "StatusEvent"
          }
        },
        "taskGroups": {
          "description": "Aggregated task status for each TaskGroup in the Job. The map key is TaskGroup ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "TaskGroupStatus"
          }
        },
        "runDuration": {
          "description": "The duration of time that the Job spent in status RUNNING.",
          "type": "string",
          "format": "google-duration"
        },
        "resourceUsage": {
          "description": "The resource usage of the job.",
          "$ref": "ResourceUsage"
        }
      }
    },
    "StatusEvent": {
      "id": "StatusEvent",
      "description": "Status event",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of the event.",
          "type": "string"
        },
        "description": {
          "description": "Description of the event.",
          "type": "string"
        },
        "eventTime": {
          "description": "The time this event occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "taskExecution": {
          "description": "Task Execution",
          "$ref": "TaskExecution"
        },
        "taskState": {
          "description": "Task State",
          "type": "string",
          "enumDescriptions": [
            "unknown state",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ]
        }
      }
    },
    "TaskExecution": {
      "id": "TaskExecution",
      "description": "This Task Execution field includes detail information for task execution procedures, based on StatusEvent types.",
      "type": "object",
      "properties": {
        "exitCode": {
          "description": "When task is completed as the status of FAILED or SUCCEEDED, exit code is for one task execution result, default is 0 as success.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TaskGroupStatus": {
      "id": "TaskGroupStatus",
      "description": "Aggregated task status for a TaskGroup.",
      "type": "object",
      "properties": {
        "counts": {
          "description": "Count of task in each state in the TaskGroup. The map key is task state name.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "instances": {
          "description": "Status of instances allocated for the TaskGroup.",
          "type": "array",
          "items": {
            "$ref": "InstanceStatus"
          }
        }
      }
    },
    "InstanceStatus": {
      "id": "InstanceStatus",
      "description": "VM instance status.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "The Compute Engine machine type.",
          "type": "string"
        },
        "provisioningModel": {
          "description": "The VM instance provisioning model.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Standard VM.",
            "SPOT VM.",
            "Preemptible VM (PVM). Above SPOT VM is the preferable model for preemptible VM instances: the old preemptible VM model (indicated by this field) is the older model, and has been migrated to use the SPOT model as the underlying technology. This old model will still be supported."
          ],
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "PREEMPTIBLE"
          ]
        },
        "taskPack": {
          "description": "The max number of tasks can be assigned to this instance type.",
          "type": "string",
          "format": "int64"
        },
        "bootDisk": {
          "description": "The VM boot disk.",
          "$ref": "Disk"
        }
      }
    },
    "ResourceUsage": {
      "id": "ResourceUsage",
      "description": "ResourceUsage describes the resource usage of the job.",
      "type": "object",
      "properties": {
        "coreHours": {
          "description": "The CPU core hours that the job consumes.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "JobNotification": {
      "id": "JobNotification",
      "description": "Notification configurations.",
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "description": "The Pub\/Sub topic where notifications like the job state changes will be published. This topic exist in the same project as the job and billings will be charged to this project. If not specified, no Pub\/Sub messages will be sent. Topic format: `projects\/{project}\/topics\/{topic}`.",
          "type": "string"
        },
        "message": {
          "description": "The attribute requirements of messages to be sent to this Pub\/Sub topic. Without this field, no message will be sent.",
          "$ref": "Message"
        }
      }
    },
    "Message": {
      "id": "Message",
      "description": "Message details. Describe the attribute that a message should have. Without specified message attributes, no message will be sent by default.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The message type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Notify users that the job state has changed.",
            "Notify users that the task state has changed."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "JOB_STATE_CHANGED",
            "TASK_STATE_CHANGED"
          ]
        },
        "newJobState": {
          "description": "The new job state.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Job is admitted (validated and persisted) and waiting for resources.",
            "Job is scheduled to run as soon as resource allocation is ready. The resource allocation may happen at a later time but with a high chance to succeed.",
            "Resource allocation has been successful. At least one Task in the Job is RUNNING.",
            "All Tasks in the Job have finished successfully.",
            "At least one Task in the Job has failed.",
            "The Job will be deleted, but has not been deleted yet. Typically this is because resources used by the Job are still being cleaned up."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "SCHEDULED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "DELETION_IN_PROGRESS"
          ]
        },
        "newTaskState": {
          "description": "The new task state.",
          "type": "string",
          "enumDescriptions": [
            "unknown state",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ]
        }
      }
    },
    "LogsPolicy": {
      "id": "LogsPolicy",
      "description": "LogsPolicy describes how outputs from a Job's Tasks (stdout\/stderr) will be preserved.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "Where logs should be saved.",
          "type": "string",
          "enumDescriptions": [
            "Logs are not preserved.",
            "Logs are streamed to Cloud Logging.",
            "Logs are saved to a file path."
          ],
          "enum": [
            "DESTINATION_UNSPECIFIED",
            "CLOUD_LOGGING",
            "PATH"
          ]
        },
        "logsPath": {
          "description": "The path to which logs are saved when the destination = PATH. This can be a local file path on the VM, or under the mount point of a Persistent Disk or Filestore, or a Cloud Storage path.",
          "type": "string"
        }
      }
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "description": "ListJob Response.",
      "type": "object",
      "properties": {
        "jobs": {
          "description": "Jobs.",
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Task": {
      "id": "Task",
      "description": "A Cloud Batch task.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Task name. The name is generated from the parent TaskGroup name and 'id' field. For example: \"projects\/123456\/locations\/us-west1\/jobs\/job01\/taskGroups\/group01\/tasks\/task01\".",
          "type": "string"
        },
        "status": {
          "description": "Task Status.",
          "$ref": "TaskStatus"
        }
      }
    },
    "TaskStatus": {
      "id": "TaskStatus",
      "description": "Status of a task",
      "type": "object",
      "properties": {
        "state": {
          "description": "Task state",
          "type": "string",
          "enumDescriptions": [
            "unknown state",
            "The Task is created and waiting for resources.",
            "The Task is assigned to at least one VM.",
            "The Task is running.",
            "The Task has failed.",
            "The Task has succeeded."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ASSIGNED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "statusEvents": {
          "description": "Detailed info about why the state is reached.",
          "type": "array",
          "items": {
            "$ref": "StatusEvent"
          }
        },
        "resourceUsage": {
          "description": "The resource usage of the task.",
          "$ref": "TaskResourceUsage"
        }
      }
    },
    "TaskResourceUsage": {
      "id": "TaskResourceUsage",
      "description": "TaskResourceUsage describes the resource usage of the task.",
      "type": "object",
      "properties": {
        "coreHours": {
          "description": "The CPU core hours the task consumes based on task requirement and run time.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ListTasksResponse": {
      "id": "ListTasksResponse",
      "description": "ListTasks Response.",
      "type": "object",
      "properties": {
        "tasks": {
          "description": "Tasks.",
          "type": "array",
          "items": {
            "$ref": "Task"
          }
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "batch.projects.locations.list",
              "path": "v1alpha/{+name}/locations",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https:\/\/google.aip.dev\/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service."
            },
            "get": {
              "id": "batch.projects.locations.get",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location."
            }
          }
          ,
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "batch.projects.locations.operations.list",
                  "path": "v1alpha/{+name}/operations",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users\/*\/operations`. To override the binding, API services can add a binding such as `\"\/v1\/{name=users\/*}\/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                },
                "get": {
                  "id": "batch.projects.locations.operations.get",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "id": "batch.projects.locations.operations.delete",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "id": "batch.projects.locations.operations.cancel",
                  "path": "v1alpha/{+name}:cancel",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                }
              }
            },
            "jobs": {
              "methods": {
                "create": {
                  "id": "batch.projects.locations.jobs.create",
                  "path": "v1alpha/{+parent}/jobs",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/jobs",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name where the Job will be created. Pattern: \"projects\/{project}\/locations\/{location}\"",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "description": "ID used to uniquely identify the Job within its parent scope. This field should contain at most 63 characters and must start with lowercase characters. Only lowercase characters, numbers and '-' are accepted. The '-' character cannot be the first or the last one. A system generated ID will be used if the field is not set. The job.name field in the request will be ignored and the created resource name of the Job will be \"{parent}\/jobs\/{job_id}\".",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Job"
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Create a Job."
                },
                "get": {
                  "id": "batch.projects.locations.jobs.get",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Job name.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/jobs\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get a Job specified by its resource name."
                },
                "delete": {
                  "id": "batch.projects.locations.jobs.delete",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Job name.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/jobs\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "reason": {
                      "description": "Optional. Reason for this deletion.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete a Job."
                },
                "list": {
                  "id": "batch.projects.locations.jobs.list",
                  "path": "v1alpha/{+parent}/jobs",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/jobs",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Parent path.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "List filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List all Jobs for a project within a region."
                }
              }
              ,
              "resources": {
                "taskGroups": {
                  "resources": {
                    "tasks": {
                      "methods": {
                        "get": {
                          "id": "batch.projects.locations.jobs.taskGroups.tasks.get",
                          "path": "v1alpha/{+name}",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/taskGroups/{taskGroupsId}/tasks/{tasksId}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "Required. Task name.",
                              "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/jobs\/[^\/]+\/taskGroups\/[^\/]+\/tasks\/[^\/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Task"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Return a single Task."
                        },
                        "list": {
                          "id": "batch.projects.locations.jobs.taskGroups.tasks.list",
                          "path": "v1alpha/{+parent}/tasks",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/taskGroups/{taskGroupsId}/tasks",
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "description": "Required. Name of a TaskGroup from which Tasks are being requested. Pattern: \"projects\/{project}\/locations\/{location}\/jobs\/{job}\/taskGroups\/{task_group}\"",
                              "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/jobs\/[^\/]+\/taskGroups\/[^\/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "filter": {
                              "description": "Task filter, null filter matches all Tasks. Filter string should be of the format State=TaskStatus.State e.g. State=RUNNING",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Page size.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "Page token.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListTasksResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "List Tasks associated with a job."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": ""
}