{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "cloudbuild:v2",
  "name": "cloudbuild",
  "canonicalName": "Cloud Build",
  "version": "v2",
  "revision": "0",
  "title": "Cloud Build API",
  "description": "Creates and manages builds on Google Cloud Platform.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/cloud-build/docs/",
  "protocol": "rest",
  "rootUrl": "https://cloudbuild.googleapis.com/",
  "mtlsRootUrl": "https://cloudbuild.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://cloudbuild.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "Connection": {
      "id": "Connection",
      "description": "A connection to a SCM like GitHub, GitHub Enterprise, Bitbucket Server or GitLab.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the connection, in the format `projects\/{project}\/locations\/{location}\/connections\/{connection_id}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "githubConfig": {
          "description": "Configuration for connections to github.com.",
          "$ref": "GitHubConfig"
        },
        "githubEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitHub Enterprise.",
          "$ref": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig"
        },
        "gitlabEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitLab Enterprise.",
          "$ref": "GitLabEnterpriseConfig"
        },
        "installationState": {
          "description": "Output only. Installation state of the Connection.",
          "readOnly": true,
          "$ref": "InstallationState"
        },
        "disabled": {
          "description": "If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "annotations": {
          "description": "Allows clients to store small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        }
      }
    },
    "GitHubConfig": {
      "id": "GitHubConfig",
      "description": "Configuration for connections to github.com.",
      "type": "object",
      "properties": {
        "authorizerCredential": {
          "description": "OAuth credential of the account that authorized the Cloud Build GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the Cloud Build GitHub App.",
          "$ref": "OAuthCredential"
        },
        "appInstallationId": {
          "description": "GitHub App installation id.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "OAuthCredential": {
      "id": "OAuthCredential",
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "type": "object",
      "properties": {
        "oauthTokenSecretVersion": {
          "description": "A SecretManager resource containing the OAuth token that authorizes the Cloud Build connection. Format: `projects\/*\/secrets\/*\/versions\/*`.",
          "type": "string"
        },
        "username": {
          "description": "Output only. The username associated to this token.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig": {
      "id": "GoogleDevtoolsCloudbuildV2GitHubEnterpriseConfig",
      "description": "Configuration for connections to an instance of GitHub Enterprise.",
      "type": "object",
      "properties": {
        "hostUri": {
          "description": "Required. The URI of the GitHub Enterprise host this connection is for.",
          "type": "string"
        },
        "apiKey": {
          "description": "Required. API Key used for authentication of webhook events.",
          "type": "string"
        },
        "appId": {
          "description": "Id of the GitHub App created from the manifest.",
          "type": "string",
          "format": "int64"
        },
        "appSlug": {
          "description": "The URL-friendly name of the GitHub App.",
          "type": "string"
        },
        "privateKeySecretVersion": {
          "description": "SecretManager resource containing the private key of the GitHub App, formatted as `projects\/*\/secrets\/*\/versions\/*`.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects\/*\/secrets\/*\/versions\/*`.",
          "type": "string"
        },
        "oauthSecretSecretVersion": {
          "description": "SecretManager resource containing the OAuth secret of the GitHub App, formatted as `projects\/*\/secrets\/*\/versions\/*`.",
          "type": "string"
        },
        "oauthClientIdSecretVersion": {
          "description": "SecretManager resource containing the OAuth client_id of the GitHub App, formatted as `projects\/*\/secrets\/*\/versions\/*`.",
          "type": "string"
        },
        "authorizerCredential": {
          "description": "OAuth credential of the account that authorized the Cloud Build GitHub App. It is recommended to use a robot account instead of a human user account The OAuth token must be tied to the Cloud Build GitHub App.",
          "$ref": "OAuthCredential"
        },
        "appInstallationId": {
          "description": "ID of the installation of the GitHub App.",
          "type": "string",
          "format": "int64"
        },
        "serviceDirectoryConfig": {
          "description": "Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        },
        "sslCa": {
          "description": "SSL certificate to use for requests to GitHub Enterprise.",
          "type": "string"
        },
        "serverVersion": {
          "description": "Output only. GitHub Enterprise version installed at the host_uri.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig": {
      "id": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig",
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. The Service Directory service name. Format: projects\/{project}\/locations\/{location}\/namespaces\/{namespace}\/services\/{service}.",
          "type": "string"
        }
      }
    },
    "GitLabEnterpriseConfig": {
      "id": "GitLabEnterpriseConfig",
      "description": "Configuration for connections to an instance of GitLab Enterprise.",
      "type": "object",
      "properties": {
        "hostUri": {
          "description": "Required. The URI of the GitLab Enterprise host this connection is for.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab Enterprise project, formatted as `projects\/*\/secrets\/*\/versions\/*`.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "description": "A GitLab personal access token with `read_api` scope access. Required if the GitLab Enterprise server verion is older than 13.10. See at https:\/\/docs.gitlab.com\/ee\/api\/project_access_tokens.html#create-a-project-access-token.",
          "$ref": "UserCredential"
        },
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the `api` scope access.",
          "$ref": "UserCredential"
        },
        "serviceDirectoryConfig": {
          "description": "Configuration for using Service Directory to privately connect to a GitLab Enterprise server. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet.",
          "$ref": "GoogleDevtoolsCloudbuildV2ServiceDirectoryConfig"
        },
        "sslCa": {
          "description": "SSL certificate to use for requests to GitLab Enterprise.",
          "type": "string"
        },
        "serverVersion": {
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "UserCredential": {
      "id": "UserCredential",
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "type": "object",
      "properties": {
        "userTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the user token that authorizes the Cloud Build connection. Format: `projects\/*\/secrets\/*\/versions\/*`.",
          "type": "string"
        },
        "username": {
          "description": "Output only. The username associated to this token.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "InstallationState": {
      "id": "InstallationState",
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections.",
      "type": "object",
      "properties": {
        "stage": {
          "description": "Output only. Current step of the installation process.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ],
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ]
        },
        "message": {
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete.",
          "readOnly": true,
          "type": "string"
        },
        "actionUri": {
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "description": "Message for response to listing Connections.",
      "type": "object",
      "properties": {
        "connections": {
          "description": "The list of Connections.",
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "Repository": {
      "id": "Repository",
      "description": "A repository associated to a parent connection.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. Resource name of the repository, in the format `projects\/*\/locations\/*\/connections\/*\/repositories\/*`.",
          "type": "string"
        },
        "remoteUri": {
          "description": "Required. Git Clone HTTPS URI.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Server assigned timestamp for when the connection was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Server assigned timestamp for when the connection was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "description": "Allows clients to store small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "webhookId": {
          "description": "Output only. External ID of the webhook created for the repository.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "BatchCreateRepositoriesRequest": {
      "id": "BatchCreateRepositoriesRequest",
      "description": "Message for creating repositoritories in batch.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the repositories to create.",
          "type": "array",
          "items": {
            "$ref": "CreateRepositoryRequest"
          }
        }
      }
    },
    "CreateRepositoryRequest": {
      "id": "CreateRepositoryRequest",
      "description": "Message for creating a Repository.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The connection to contain the repository. If the request is part of a BatchCreateRepositoriesRequest, this field should be empty or match the parent specified there.",
          "type": "string"
        },
        "repository": {
          "description": "Required. The repository to create.",
          "$ref": "Repository"
        },
        "repositoryId": {
          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
          "type": "string"
        }
      }
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "description": "Message for response to listing Repositories.",
      "type": "object",
      "properties": {
        "repositories": {
          "description": "The list of Repositories.",
          "type": "array",
          "items": {
            "$ref": "Repository"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "FetchReadWriteTokenRequest": {
      "id": "FetchReadWriteTokenRequest",
      "description": "Message for fetching SCM read\/write token.",
      "type": "object",
      "properties": {
      }
    },
    "FetchReadWriteTokenResponse": {
      "id": "FetchReadWriteTokenResponse",
      "description": "Message for responding to get read\/write token.",
      "type": "object",
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "FetchReadTokenRequest": {
      "id": "FetchReadTokenRequest",
      "description": "Message for fetching SCM read token.",
      "type": "object",
      "properties": {
      }
    },
    "FetchReadTokenResponse": {
      "id": "FetchReadTokenResponse",
      "description": "Message for responding to get read token.",
      "type": "object",
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "HttpBody": {
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { \/\/ A unique request id. string request_id = 1; \/\/ The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "description": "The HTTP request\/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "FetchLinkableRepositoriesResponse": {
      "id": "FetchLinkableRepositoriesResponse",
      "description": "Response message for FetchLinkableRepositories.",
      "type": "object",
      "properties": {
        "repositories": {
          "description": "repositories ready to be created.",
          "type": "array",
          "items": {
            "$ref": "Repository"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "Workflow": {
      "id": "Workflow",
      "description": "Message describing Workflow object.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Format: `projects\/{project}\/locations\/{location}\/workflows\/{workflow}`",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. A unique identifier for the `Workflow`.",
          "readOnly": true,
          "type": "string"
        },
        "secrets": {
          "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV2SecretManagerSecret"
          }
        },
        "resources": {
          "description": "Resources referenceable within a workflow.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Resource"
          }
        },
        "pipelineSpec": {
          "description": "Fields from both the Workflow and the PipelineSpec will be used to form the full PipelineRun.",
          "$ref": "PipelineSpec"
        },
        "bundle": {
          "description": "A Tekton Bundle is an OCI Image that Tekton understands. OCI is the spec for container images that docker and others (such as Tekton Bundles) follow. This field deprecated; please use `ref` instead.",
          "type": "string"
        },
        "ref": {
          "description": "PipelineRef refer to a specific instance of a Pipeline.",
          "$ref": "PipelineRef"
        },
        "params": {
          "description": "List of parameters.",
          "type": "array",
          "items": {
            "$ref": "ParamSpec"
          }
        },
        "serviceAccount": {
          "description": "If omitted, the default Cloud Build Service Account is used instead. Format: `projects\/{project}\/serviceAccounts\/{serviceAccount}`",
          "type": "string"
        },
        "options": {
          "description": "Workflow runs can be modified through several Workflow options.",
          "$ref": "WorkflowOptions"
        },
        "workspaces": {
          "description": "Workspaces is a list of WorkspaceBindings from volumes to workspaces.",
          "type": "array",
          "items": {
            "$ref": "WorkspaceBinding"
          }
        },
        "labels": {
          "description": "Map of key-value pairs of user-defined labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Server assigned timestamp for when the workflow was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Server assigned timestamp for when the workflow was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. Server assigned timestamp for when the workflow was deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "description": "User annotations. See https:\/\/google.aip.dev\/128#annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Needed for declarative-friendly resources.",
          "type": "string"
        },
        "workflowTriggers": {
          "description": "The Workflow triggers that can fire the workflow.",
          "type": "array",
          "items": {
            "$ref": "WorkflowTrigger"
          }
        }
      }
    },
    "GoogleDevtoolsCloudbuildV2SecretManagerSecret": {
      "id": "GoogleDevtoolsCloudbuildV2SecretManagerSecret",
      "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager.",
      "type": "object",
      "properties": {
        "secretVersion": {
          "description": "Resource name of the SecretVersion. In format: projects\/*\/secrets\/*\/versions\/*",
          "type": "string"
        },
        "env": {
          "description": "Environment variable name to associate with the secret.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "id": "Resource",
      "description": "Resource referenceable within a workflow.",
      "type": "object",
      "properties": {
        "secret": {
          "description": "Secret Manager Secret.",
          "$ref": "GoogleDevtoolsCloudbuildV2SecretManagerSecret"
        },
        "url": {
          "description": "SCM Repo URL.",
          "type": "string"
        },
        "repo": {
          "description": "Resource name of v2 GCB repo.",
          "type": "string"
        },
        "topic": {
          "description": "Resource name of PubSub topic.",
          "type": "string"
        }
      }
    },
    "PipelineSpec": {
      "id": "PipelineSpec",
      "description": "PipelineSpec defines the desired state of Pipeline.",
      "type": "object",
      "properties": {
        "tasks": {
          "description": "List of Tasks that execute when this Pipeline is run.",
          "type": "array",
          "items": {
            "$ref": "PipelineTask"
          }
        },
        "params": {
          "description": "List of parameters.",
          "type": "array",
          "items": {
            "$ref": "ParamSpec"
          }
        },
        "workspaces": {
          "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun.",
          "type": "array",
          "items": {
            "$ref": "PipelineWorkspaceDeclaration"
          }
        },
        "finallyTasks": {
          "description": "List of Tasks that execute just before leaving the Pipeline i.e. either after all Tasks are finished executing successfully or after a failure which would result in ending the Pipeline.",
          "type": "array",
          "items": {
            "$ref": "PipelineTask"
          }
        }
      }
    },
    "PipelineTask": {
      "id": "PipelineTask",
      "description": "PipelineTask defines a task in a Pipeline.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the task.",
          "type": "string"
        },
        "taskSpec": {
          "description": "Spec to instantiate this TaskRun.",
          "$ref": "EmbeddedTask"
        },
        "taskRef": {
          "description": "Reference to a specific instance of a task.",
          "$ref": "TaskRef"
        },
        "whenExpressions": {
          "description": "Conditions that need to be true for the task to run.",
          "type": "array",
          "items": {
            "$ref": "WhenExpression"
          }
        },
        "params": {
          "description": "Params is a list of parameter names and values.",
          "type": "array",
          "items": {
            "$ref": "Param"
          }
        },
        "workspaces": {
          "description": "Workspaces maps workspaces from the pipeline spec to the workspaces declared in the Task.",
          "type": "array",
          "items": {
            "$ref": "WorkspacePipelineTaskBinding"
          }
        },
        "runAfter": {
          "description": "RunAfter is the list of PipelineTask names that should be executed before this Task executes. (Used to force a specific ordering in graph execution.)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "retries": {
          "description": "Retries represents how many times this task should be retried in case of task failure.",
          "type": "integer",
          "format": "int32"
        },
        "timeout": {
          "description": "Time after which the TaskRun times out. Defaults to 1 hour. Specified TaskRun timeout should be less than 24h.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "EmbeddedTask": {
      "id": "EmbeddedTask",
      "description": "EmbeddedTask defines a Task that is embedded in a Pipeline.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Map of key-value pairs of user-defined labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "description": "User annotations. See https:\/\/google.aip.dev\/128#annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "taskSpec": {
          "description": "Spec to instantiate this TaskRun.",
          "$ref": "TaskSpec"
        }
      }
    },
    "TaskSpec": {
      "id": "TaskSpec",
      "description": "TaskSpec contains the Spec to instantiate a TaskRun.",
      "type": "object",
      "properties": {
        "params": {
          "description": "List of parameters.",
          "type": "array",
          "items": {
            "$ref": "ParamSpec"
          }
        },
        "steps": {
          "description": "Steps of the task.",
          "type": "array",
          "items": {
            "$ref": "Step"
          }
        },
        "results": {
          "description": "Values that this Task can output.",
          "type": "array",
          "items": {
            "$ref": "TaskResult"
          }
        },
        "workspaces": {
          "description": "The volumes that this Task requires.",
          "type": "array",
          "items": {
            "$ref": "WorkspaceDeclaration"
          }
        },
        "description": {
          "description": "Description of the task.",
          "type": "string"
        },
        "sidecars": {
          "description": "Sidecars that run alongside the Task's step containers.",
          "type": "array",
          "items": {
            "$ref": "Sidecar"
          }
        },
        "volumes": {
          "description": "A collection of volumes that are available to mount into steps.",
          "type": "array",
          "items": {
            "$ref": "VolumeSource"
          }
        },
        "managedSidecars": {
          "description": "Sidecars that run alongside the Task\u2019s step containers that should be added to this Task.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default enum type; should not be used.",
              "Sidecar for a privileged docker daemon."
            ],
            "enum": [
              "MANAGED_SIDECAR_UNSPECIFIED",
              "PRIVILEGED_DOCKER_DAEMON"
            ]
          }
        }
      }
    },
    "ParamSpec": {
      "id": "ParamSpec",
      "description": "ParamSpec defines parameters needed beyond typed inputs (such as resources). Parameter values are provided by users as inputs on a TaskRun or PipelineRun.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the ParamSpec",
          "type": "string"
        },
        "description": {
          "description": "Description of the ParamSpec",
          "type": "string"
        },
        "type": {
          "description": "Type of ParamSpec",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Arrary type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY"
          ]
        },
        "default": {
          "description": "The default value a parameter takes if no input value is supplied",
          "$ref": "ParamValue"
        }
      }
    },
    "ParamValue": {
      "id": "ParamValue",
      "description": "Parameter value.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of parameter.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Default",
            "Array type"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "ARRAY"
          ]
        },
        "stringVal": {
          "description": "Value of the parameter if type is string.",
          "type": "string"
        },
        "arrayVal": {
          "description": "Value of the parameter if type is array.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Step": {
      "id": "Step",
      "description": "Step embeds the Container type, which allows it to include fields not provided by Container.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the container specified as a DNS_LABEL.",
          "type": "string"
        },
        "image": {
          "description": "Docker image name.",
          "type": "string"
        },
        "args": {
          "description": "Arguments to the entrypoint.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "command": {
          "description": "Entrypoint array.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workingDir": {
          "description": "Container's working directory.",
          "type": "string"
        },
        "env": {
          "description": "List of environment variables to set in the container.",
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "script": {
          "description": "The contents of an executable file to execute.",
          "type": "string"
        },
        "volumeMounts": {
          "description": "Pod volumes to mount into the container's filesystem.",
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          }
        },
        "timeout": {
          "description": "Time after which the Step times out. Defaults to never.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "EnvVar": {
      "id": "EnvVar",
      "description": "Environment variable.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the environment variable.",
          "type": "string"
        },
        "value": {
          "description": "Value of the environment variable.",
          "type": "string"
        }
      }
    },
    "VolumeMount": {
      "id": "VolumeMount",
      "description": "Pod volumes to mount into the container's filesystem.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the volume.",
          "type": "string"
        },
        "readOnly": {
          "description": "Mounted read-only if true, read-write otherwise (false or unspecified).",
          "type": "boolean"
        },
        "mountPath": {
          "description": "Path within the container at which the volume should be mounted. Must not contain ':'.",
          "type": "string"
        },
        "subPath": {
          "description": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root).",
          "type": "string"
        },
        "subPathExpr": {
          "description": "Expanded path within the volume from which the container's volume should be mounted. Behaves similarly to SubPath but environment variable references $(VAR_NAME) are expanded using the container's environment. Defaults to \"\" (volume's root).",
          "type": "string"
        }
      }
    },
    "TaskResult": {
      "id": "TaskResult",
      "description": "TaskResult used to describe the results of a task.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the result.",
          "type": "string"
        },
        "description": {
          "description": "Description of the result.",
          "type": "string"
        }
      }
    },
    "WorkspaceDeclaration": {
      "id": "WorkspaceDeclaration",
      "description": "WorkspaceDeclaration is a declaration of a volume that a Task requires.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name is the name by which you can bind the volume at runtime.",
          "type": "string"
        },
        "description": {
          "description": "Description is a human readable description of this volume.",
          "type": "string"
        },
        "mountPath": {
          "description": "MountPath overrides the directory that the volume will be made available at.",
          "type": "string"
        },
        "readOnly": {
          "description": "ReadOnly dictates whether a mounted volume is writable.",
          "type": "boolean"
        }
      }
    },
    "Sidecar": {
      "id": "Sidecar",
      "description": "Sidecars run alongside the Task's step containers.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the Sidecar.",
          "type": "string"
        },
        "image": {
          "description": "Docker image name.",
          "type": "string"
        },
        "args": {
          "description": "Arguments to the entrypoint.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "command": {
          "description": "Entrypoint array.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workingDir": {
          "description": "Container's working directory.",
          "type": "string"
        },
        "env": {
          "description": "List of environment variables to set in the container.",
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "script": {
          "description": "The contents of an executable file to execute.",
          "type": "string"
        },
        "volumeMounts": {
          "description": "Pod volumes to mount into the container's filesystem.",
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          }
        },
        "securityContext": {
          "description": "Security options the container should be run with.",
          "$ref": "SecurityContext"
        }
      }
    },
    "SecurityContext": {
      "id": "SecurityContext",
      "description": "Security options the container should be run with.",
      "type": "object",
      "properties": {
        "privileged": {
          "description": "Run container in privileged mode.",
          "type": "boolean"
        }
      }
    },
    "VolumeSource": {
      "id": "VolumeSource",
      "description": "Volumes available to mount.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the Volume. Must be a DNS_LABEL and unique within the pod. More info: https:\/\/kubernetes.io\/docs\/concepts\/overview\/working-with-objects\/names\/#names",
          "type": "string"
        },
        "emptyDir": {
          "description": "A temporary directory that shares a pod's lifetime.",
          "$ref": "EmptyDirVolumeSource"
        },
        "gcePersistentDisk": {
          "description": "a Compute Engine Disk resource that is attached to a kubelet's host machine and then exposed to the pod.",
          "$ref": "GCEPersistentDiskVolumeSource"
        }
      }
    },
    "EmptyDirVolumeSource": {
      "id": "EmptyDirVolumeSource",
      "description": "Represents an empty Volume source.",
      "type": "object",
      "properties": {
      }
    },
    "GCEPersistentDiskVolumeSource": {
      "id": "GCEPersistentDiskVolumeSource",
      "description": "Represents a Compute Engine Disk resource that is attached to a kubelet's host machine and then exposed to the pod. More info: https:\/\/kubernetes.io\/docs\/concepts\/storage\/volumes#gcepersistentdisk",
      "type": "object",
      "properties": {
        "pdName": {
          "description": "Unique name of the PD resource in Compute Engine. Used to identify the disk.",
          "type": "string"
        },
        "fsType": {
          "description": "Filesystem type of the volume that you want to mount.",
          "type": "string"
        },
        "partition": {
          "description": "The partition in the volume that you want to mount. If omitted, the default is to mount by volume name.",
          "type": "integer",
          "format": "int32"
        },
        "readOnly": {
          "description": "ReadOnly here will force the ReadOnly setting in VolumeMounts. Defaults to false.",
          "type": "boolean"
        }
      }
    },
    "TaskRef": {
      "id": "TaskRef",
      "description": "TaskRef can be used to refer to a specific instance of a task. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the task.",
          "type": "string"
        },
        "bundle": {
          "description": "Bundle url reference to a Tekton Bundle.",
          "type": "string"
        },
        "resolver": {
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https:\/\/tekton.dev\/docs\/pipelines\/bundle-resolver\/",
            "GCB repo resolver.",
            "Simple Git resolver. https:\/\/tekton.dev\/docs\/pipelines\/git-resolver\/"
          ],
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT"
          ]
        },
        "params": {
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver.",
          "type": "array",
          "items": {
            "$ref": "Param"
          }
        }
      }
    },
    "Param": {
      "id": "Param",
      "description": "Param defined with name and value. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        },
        "value": {
          "description": "Value of the parameter.",
          "$ref": "ParamValue"
        }
      }
    },
    "WhenExpression": {
      "id": "WhenExpression",
      "description": "Conditions that need to be true for the task to run.",
      "type": "object",
      "properties": {
        "input": {
          "description": "Input is the string for guard checking which can be a static input or an output from a parent Task.",
          "type": "string"
        },
        "expressionOperator": {
          "description": "Operator that represents an Input's relationship to the values",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Input does not exist.",
            "Input equals values.",
            "Input double equals values.",
            "Input is in values.",
            "Input does not equal values.",
            "Input is not in values.",
            "Input exists.",
            "Input is greater than values.",
            "Input is less than values."
          ],
          "enum": [
            "EXPRESSION_OPERATOR_UNSPECIFIED",
            "DOES_NOT_EXIST",
            "EQUALS",
            "DOUBLE_EQUALS",
            "IN",
            "NOT_EQUALS",
            "NOT_IN",
            "EXISTS",
            "GREATER_THAN",
            "LESS_THAN"
          ]
        },
        "values": {
          "description": "Values is an array of strings, which is compared against the input, for guard checking.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WorkspacePipelineTaskBinding": {
      "id": "WorkspacePipelineTaskBinding",
      "description": "WorkspacePipelineTaskBinding maps workspaces from the PipelineSpec to the workspaces declared in the Task.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the workspace as declared by the task.",
          "type": "string"
        },
        "workspace": {
          "description": "Name of the workspace declared by the pipeline.",
          "type": "string"
        }
      }
    },
    "PipelineWorkspaceDeclaration": {
      "id": "PipelineWorkspaceDeclaration",
      "description": "Workspaces declares a set of named workspaces that are expected to be provided by a PipelineRun.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name is the name of a workspace to be provided by a PipelineRun.",
          "type": "string"
        },
        "description": {
          "description": "Description is a human readable string describing how the workspace will be used in the Pipeline.",
          "type": "string"
        },
        "optional": {
          "description": "Optional marks a Workspace as not being required in PipelineRuns. By default this field is false and so declared workspaces are required.",
          "type": "boolean"
        }
      }
    },
    "PipelineRef": {
      "id": "PipelineRef",
      "description": "PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the Pipeline.",
          "type": "string"
        },
        "bundle": {
          "description": "Bundle url reference to a Tekton Bundle.",
          "type": "string"
        },
        "resolver": {
          "description": "Resolver is the name of the resolver that should perform resolution of the referenced Tekton resource.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Bundles resolver. https:\/\/tekton.dev\/docs\/pipelines\/bundle-resolver\/",
            "GCB repo resolver.",
            "Simple Git resolver. https:\/\/tekton.dev\/docs\/pipelines\/git-resolver\/"
          ],
          "enum": [
            "RESOLVER_NAME_UNSPECIFIED",
            "BUNDLES",
            "GCB_REPO",
            "GIT"
          ]
        },
        "params": {
          "description": "Params contains the parameters used to identify the referenced Tekton resource. Example entries might include \"repo\" or \"path\" but the set of params ultimately depends on the chosen resolver.",
          "type": "array",
          "items": {
            "$ref": "Param"
          }
        }
      }
    },
    "WorkflowOptions": {
      "id": "WorkflowOptions",
      "description": "Workflow runs can be modified through several Workflow options.",
      "type": "object",
      "properties": {
        "executionEnvironment": {
          "description": "Contains the workerpool.",
          "$ref": "ExecutionEnvironment"
        },
        "statusUpdateOptions": {
          "description": "How\/where status on the workflow is posted.",
          "$ref": "WorkflowStatusUpdateOptions"
        },
        "timeouts": {
          "description": "Time after which the Pipeline times out. Currently three keys are accepted in the map pipeline, tasks and finally with Timeouts.pipeline >= Timeouts.tasks + Timeouts.finally",
          "$ref": "TimeoutFields"
        }
      }
    },
    "ExecutionEnvironment": {
      "id": "ExecutionEnvironment",
      "description": "Contains the workerpool.",
      "type": "object",
      "properties": {
        "workerPool": {
          "description": "Required. The workerpool used to run the PipelineRun.",
          "type": "string"
        }
      }
    },
    "WorkflowStatusUpdateOptions": {
      "id": "WorkflowStatusUpdateOptions",
      "description": "Configure how\/where status is posted.",
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "description": "Controls which Pub\/Sub topic is used to send status updates as a build progresses and terminates. Default: projects\/\/pub-sub\/topics\/cloud-build",
          "type": "string"
        },
        "repositoryStatus": {
          "description": "Options that specify additional information related to a Repo that should be sent in Pub\/Sub Notifications",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Include the event_source of the WorkflowTrigger that results in the PipelineRun\/TaskRun",
            "Include the GCL log url of the PipelineRun\/TaskRun in addition to the event source"
          ],
          "enum": [
            "REPOSITORY_STATUS_UNSPECIFIED",
            "REPOSITORY_STATUS_NAME",
            "REPOSITORY_STATUS_NAME_LOG"
          ]
        }
      }
    },
    "TimeoutFields": {
      "id": "TimeoutFields",
      "description": "TimeoutFields allows granular specification of pipeline, task, and finally timeouts",
      "type": "object",
      "properties": {
        "pipeline": {
          "description": "Pipeline sets the maximum allowed duration for execution of the entire pipeline. The sum of individual timeouts for tasks and finally must not exceed this value.",
          "type": "string",
          "format": "google-duration"
        },
        "tasks": {
          "description": "Tasks sets the maximum allowed duration of this pipeline's tasks",
          "type": "string",
          "format": "google-duration"
        },
        "finally": {
          "description": "Finally sets the maximum allowed duration of this pipeline's finally",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "WorkspaceBinding": {
      "id": "WorkspaceBinding",
      "description": "WorkspaceBinding maps a workspace to a Volume. PipelineRef can be used to refer to a specific instance of a Pipeline.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the workspace.",
          "type": "string"
        },
        "emptyDir": {
          "description": "EmptyDir represents a temporary directory that shares a Task's lifetime.",
          "$ref": "EmptyDir"
        },
        "volumeClaimTemplate": {
          "description": "Template for a claim that will be created in the same namespace.",
          "$ref": "PersistentVolumeClaim"
        },
        "secret": {
          "description": "Secret Volume Source.",
          "$ref": "SecretVolumeSource"
        },
        "volumeClaim": {
          "description": "Volume claim that will be created in the same namespace.",
          "$ref": "VolumeClaim"
        }
      }
    },
    "EmptyDir": {
      "id": "EmptyDir",
      "description": "Represents an empty directory",
      "type": "object",
      "properties": {
      }
    },
    "PersistentVolumeClaim": {
      "id": "PersistentVolumeClaim",
      "description": "PersistentVolumeClaim is a user's request for and claim to a persistent volume",
      "type": "object",
      "properties": {
        "spec": {
          "description": "Spec defines the desired characteristics of a volume requested by a pod author.",
          "$ref": "PersistentVolumeClaimSpec"
        }
      }
    },
    "PersistentVolumeClaimSpec": {
      "id": "PersistentVolumeClaimSpec",
      "description": "PersistentVolumeClaimSpec describes the common attributes of storage devices and allows a Source for provider-specific attributes.",
      "type": "object",
      "properties": {
        "accessModes": {
          "description": "Desired access modes the volume should have.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default enum type; should not be used.",
              "can be mounted in read\/write mode to exactly 1 host",
              "can be mounted in read-only mode to many hosts",
              "can be mounted in read\/write mode to many hosts"
            ],
            "enum": [
              "PERSISTENT_VOLUME_ACCESS_MODE_UNSPECIFIED",
              "READ_WRITE_ONCE",
              "READ_ONLY_MANY",
              "READ_WRITE_MANY"
            ]
          }
        },
        "resources": {
          "description": "The minimum resources the volume should have.",
          "$ref": "ResourceRequirements"
        }
      }
    },
    "ResourceRequirements": {
      "id": "ResourceRequirements",
      "description": "Compute resource requirements.",
      "type": "object",
      "properties": {
        "limits": {
          "description": "The maximum amount of compute resources allowed.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requests": {
          "description": "The minimum amount of compute resources needed.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SecretVolumeSource": {
      "id": "SecretVolumeSource",
      "description": "Secret Volume Source.",
      "type": "object",
      "properties": {
        "secretName": {
          "description": "Name of the secret referenced by the WorkspaceBinding.",
          "type": "string"
        },
        "secretVersion": {
          "description": "Output only. Resource name of the SecretVersion. In format: projects\/*\/secrets\/*\/versions\/*",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "VolumeClaim": {
      "id": "VolumeClaim",
      "description": "VolumeClaim is a user's request for a volume.",
      "type": "object",
      "properties": {
        "storage": {
          "description": "Volume size, e.g. 1gb.",
          "type": "string"
        }
      }
    },
    "WorkflowTrigger": {
      "id": "WorkflowTrigger",
      "description": "Workflow trigger within a Workflow.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Immutable. id given by the users to the Workflow.",
          "type": "string"
        },
        "eventSource": {
          "description": "The event source the WorkflowTrigger listens to. It is deprecated and will be removed soon.",
          "$ref": "EventSource"
        },
        "source": {
          "description": "The event source the WorkflowTrigger listens to.",
          "$ref": "EventSource"
        },
        "webhookSecret": {
          "description": "The webhook secret resource.",
          "$ref": "WebhookSecret"
        },
        "eventType": {
          "description": "Optional. The type of the events the WorkflowTrigger accepts.",
          "type": "string",
          "enumDescriptions": [
            "Default to ALL.",
            "All events.",
            "PR events.",
            "Push to branch events.",
            "Push to tag events."
          ],
          "enum": [
            "EVENTTYPE_UNSPECIFIED",
            "ALL",
            "PULL_REQUEST",
            "PUSH_BRANCH",
            "PUSH_TAG"
          ]
        },
        "createTime": {
          "description": "Output only. Creation time of the WorkflowTrigger.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Update time of the WorkflowTrigger.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "gitRef": {
          "description": "Optional. The Git ref matching the SCM repo branch\/tag.",
          "$ref": "GitRef"
        },
        "pullRequest": {
          "description": "Optional. The Pull request role and comment that triggers the Workflow.",
          "$ref": "PullRequest"
        },
        "custom": {
          "description": "The CEL filters that triggers the Workflow.",
          "type": "array",
          "items": {
            "$ref": "CEL"
          }
        },
        "uuid": {
          "description": "Output only. The internal id of the WorkflowTrigger.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "description": "Output only. The status of the WorkflowTrigger.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Defaults to ACTIVE.",
            "WorkflowTrigger is active.",
            "WorkflowTrigger is deactivated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "ACTIVE",
            "DEACTIVATED"
          ]
        },
        "statusMessage": {
          "description": "Output only. The reason why WorkflowTrigger is deactivated.",
          "readOnly": true,
          "type": "string"
        },
        "params": {
          "description": "List of parameters associated with the WorkflowTrigger.",
          "type": "array",
          "items": {
            "$ref": "Param"
          }
        }
      }
    },
    "EventSource": {
      "id": "EventSource",
      "description": "Event Source referenceable within a WorkflowTrigger.",
      "type": "object",
      "properties": {
        "id": {
          "description": "identification to Resource.",
          "type": "string"
        },
        "repository": {
          "description": "Output only. Resource name of GCB v2 repo.",
          "readOnly": true,
          "type": "string"
        },
        "subscription": {
          "description": "Output only. Resource name of PubSub subscription.",
          "readOnly": true,
          "type": "string"
        },
        "secret": {
          "description": "Output only. Secret Manager secret.",
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV2SecretManagerSecret"
        },
        "eventSource": {
          "description": "Output only. The fully qualified resource name for the event source.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "WebhookSecret": {
      "id": "WebhookSecret",
      "description": "Webhook secret referenceable within a WorkflowTrigger.",
      "type": "object",
      "properties": {
        "id": {
          "description": "identification to secret Resource.",
          "type": "string"
        },
        "secret": {
          "description": "Output only. Secret Manager secret.",
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV2SecretManagerSecret"
        }
      }
    },
    "GitRef": {
      "id": "GitRef",
      "description": "Git ref configuration for filters.",
      "type": "object",
      "properties": {
        "nameRegex": {
          "description": "Regex to match the branch or tag of SCM.",
          "type": "string"
        },
        "inverse": {
          "description": "If true, the regex matching result is inversed.",
          "type": "boolean"
        }
      }
    },
    "PullRequest": {
      "id": "PullRequest",
      "description": "Pull request configuration for filters.",
      "type": "object",
      "properties": {
        "pusher": {
          "description": "Allowed PR role that triggers a Workflow.",
          "type": "string",
          "enumDescriptions": [
            "Default to OWNER_AND_COLLABORATOR.",
            "PR author are ownes and\/or collaborators of the SCM repo.",
            "PR author is the owner of the SCM repo.",
            "PR author can be everyone."
          ],
          "enum": [
            "PUSHER_UNSPECIFIED",
            "OWNER_AND_COLLABORATORS",
            "OWNER",
            "ALL_USERS"
          ]
        },
        "comment": {
          "description": "Comment that should be included to trigger a Workflow.",
          "type": "string"
        }
      }
    },
    "CEL": {
      "id": "CEL",
      "description": "Filters in CEL.",
      "type": "object",
      "properties": {
        "cel": {
          "description": "The filter logic in CEL.",
          "type": "string"
        },
        "notification": {
          "description": "A notification sent back to SCM if the cel program fails.",
          "type": "string"
        }
      }
    },
    "ListWorkflowsResponse": {
      "id": "ListWorkflowsResponse",
      "description": "Message for response to listing Workflows.",
      "type": "object",
      "properties": {
        "workflows": {
          "description": "The list of Workflows.",
          "type": "array",
          "items": {
            "$ref": "Workflow"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "RunWorkflowRequest": {
      "id": "RunWorkflowRequest",
      "description": "Message for running a Workflow.",
      "type": "object",
      "properties": {
        "params": {
          "description": "Run-time params.",
          "type": "array",
          "items": {
            "$ref": "Param"
          }
        },
        "validateOnly": {
          "description": "When true, the query is validated only, but not executed.",
          "type": "boolean"
        },
        "etag": {
          "description": "Needed for declarative-friendly resources.",
          "type": "string"
        }
      }
    },
    "ListPipelineRunsResponse": {
      "id": "ListPipelineRunsResponse",
      "description": "Message for response to listing PipelineRuns",
      "type": "object",
      "properties": {
        "pipelineRuns": {
          "description": "The list of PipelineRun",
          "type": "array",
          "items": {
            "$ref": "PipelineRun"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "PipelineRun": {
      "id": "PipelineRun",
      "description": "Message describing PipelineRun object",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The `PipelineRun` name with format `projects\/{project}\/locations\/{location}\/pipelineRuns\/{pipeline_run}`",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. A unique identifier for the `PipelineRun`.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time at which the request to create the `PipelineRun` was received.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time at which the request to update the `PipelineRun` was received.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Map of key-value pairs of user-defined labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "description": "User annotations. See https:\/\/google.aip.dev\/128#annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workflow": {
          "description": "Output only. The Workflow used to create this PipelineRun.",
          "readOnly": true,
          "type": "string"
        },
        "workerPool": {
          "description": "Output only. The WorkerPool used to run this PipelineRun.",
          "readOnly": true,
          "type": "string"
        },
        "pipelineSpec": {
          "description": "PipelineSpec defines the desired state of Pipeline.",
          "$ref": "PipelineSpec"
        },
        "pipelineRef": {
          "description": "PipelineRef refer to a specific instance of a Pipeline.",
          "$ref": "PipelineRef"
        },
        "params": {
          "description": "Params is a list of parameter names and values.",
          "type": "array",
          "items": {
            "$ref": "Param"
          }
        },
        "workspaces": {
          "description": "Workspaces is a list of WorkspaceBindings from volumes to workspaces.",
          "type": "array",
          "items": {
            "$ref": "WorkspaceBinding"
          }
        },
        "serviceAccount": {
          "description": "Service account used in the Pipeline.",
          "type": "string"
        },
        "pipelineRunStatus": {
          "description": "Status of the PipelineRun.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Cancelled status."
          ],
          "enum": [
            "PIPELINE_RUN_STATUS_UNSPECIFIED",
            "PIPELINE_RUN_CANCELLED"
          ]
        },
        "conditions": {
          "description": "Output only. Kubernetes Conditions convention for PipelineRun status and error.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "startTime": {
          "description": "Output only. Time the pipeline is actually started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "completionTime": {
          "description": "Output only. Time the pipeline completed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "childReferences": {
          "description": "Output only. List of TaskRun and Run names and PipelineTask names for children of this PipelineRun.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ChildStatusReference"
          }
        },
        "etag": {
          "description": "Needed for declarative-friendly resources.",
          "type": "string"
        },
        "timeouts": {
          "description": "Time after which the Pipeline times out. Currently three keys are accepted in the map pipeline, tasks and finally with Timeouts.pipeline >= Timeouts.tasks + Timeouts.finally",
          "$ref": "TimeoutFields"
        },
        "skippedTasks": {
          "description": "Output only. List of tasks that were skipped due to when expressions evaluating to false.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SkippedTask"
          }
        },
        "resolvedPipelineSpec": {
          "description": "Output only. The exact PipelineSpec used to instantiate the run.",
          "readOnly": true,
          "$ref": "PipelineSpec"
        }
      }
    },
    "Condition": {
      "id": "Condition",
      "description": "Conditions defines a readiness condition for a Knative resource.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of condition.",
          "type": "string"
        },
        "status": {
          "description": "Status of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type indicating execution is still ongoing.",
            "Success",
            "Failure"
          ],
          "enum": [
            "UNKNOWN",
            "TRUE",
            "FALSE"
          ]
        },
        "severity": {
          "description": "Severity with which to treat failures of this type of condition.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Severity is warning.",
            "Severity is informational only."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "INFO"
          ]
        },
        "lastTransitionTime": {
          "description": "LastTransitionTime is the last time the condition transitioned from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "reason": {
          "description": "The reason for the condition's last transition.",
          "type": "string"
        },
        "message": {
          "description": "A human readable message indicating details about the transition.",
          "type": "string"
        }
      }
    },
    "ChildStatusReference": {
      "id": "ChildStatusReference",
      "description": "ChildStatusReference is used to point to the statuses of individual TaskRuns and Runs within this PipelineRun.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name is the name of the TaskRun or Run this is referencing.",
          "type": "string"
        },
        "pipelineTaskName": {
          "description": "PipelineTaskName is the name of the PipelineTask this is referencing.",
          "type": "string"
        },
        "whenExpressions": {
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask",
          "type": "array",
          "items": {
            "$ref": "WhenExpression"
          }
        }
      }
    },
    "SkippedTask": {
      "id": "SkippedTask",
      "description": "SkippedTask is used to describe the Tasks that were skipped due to their When Expressions evaluating to False.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name is the Pipeline Task name",
          "type": "string"
        },
        "whenExpressions": {
          "description": "WhenExpressions is the list of checks guarding the execution of the PipelineTask",
          "type": "array",
          "items": {
            "$ref": "WhenExpression"
          }
        }
      }
    },
    "ProcessWorkflowTriggerWebhookRequest": {
      "id": "ProcessWorkflowTriggerWebhookRequest",
      "description": "Message for processing webhooks posted to WorkflowTrigger.",
      "type": "object",
      "properties": {
        "body": {
          "description": "Required. The webhook body in JSON.",
          "$ref": "HttpBody"
        },
        "triggerId": {
          "description": "Required. The WorkflowTrigger id.",
          "type": "string"
        },
        "secretToken": {
          "description": "Required. The secret token used for authorization based on the matching result between this and the secret stored in WorkflowTrigger.",
          "type": "string"
        }
      }
    },
    "ProcessWorkflowTriggerWebhookResponse": {
      "id": "ProcessWorkflowTriggerWebhookResponse",
      "description": "message for processing webhooks posted to WorkflowTrigger.",
      "type": "object",
      "properties": {
      }
    },
    "ListTaskRunsResponse": {
      "id": "ListTaskRunsResponse",
      "description": "Message for response to listing TaskRuns",
      "type": "object",
      "properties": {
        "taskRuns": {
          "description": "The list of TaskRun",
          "type": "array",
          "items": {
            "$ref": "TaskRun"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "TaskRun": {
      "id": "TaskRun",
      "description": "Message describing TaskRun object",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The 'TaskRun' name with format: `projects\/{project}\/locations\/{location}\/taskRuns\/{task_run}`",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. A unique identifier for the `TaskRun`.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time at which the request to create the `TaskRun` was received.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time at which the request to update the `TaskRun` was received.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Map of key-value pairs of user-defined labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "description": "User annotations. See https:\/\/google.aip.dev\/128#annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workerPool": {
          "description": "Output only. The WorkerPool used to run this TaskRun.",
          "readOnly": true,
          "type": "string"
        },
        "taskSpec": {
          "description": "TaskSpec contains the Spec to instantiate a TaskRun.",
          "$ref": "TaskSpec"
        },
        "taskRef": {
          "description": "TaskRef refer to a specific instance of a task.",
          "$ref": "TaskRef"
        },
        "params": {
          "description": "Params is a list of parameter names and values.",
          "type": "array",
          "items": {
            "$ref": "Param"
          }
        },
        "workspaces": {
          "description": "Workspaces is a list of WorkspaceBindings from volumes to workspaces.",
          "type": "array",
          "items": {
            "$ref": "WorkspaceBinding"
          }
        },
        "timeout": {
          "description": "Time after which the task times out. Defaults to 1 hour. If you set the timeout to 0, the TaskRun will have no timeout and will run until it completes successfully or fails from an error.",
          "type": "string",
          "format": "google-duration"
        },
        "serviceAccount": {
          "description": "Required. Service account used in the task.",
          "type": "string"
        },
        "taskRunStatus": {
          "description": "Status of the TaskRun.",
          "type": "string",
          "enumDescriptions": [
            "Default enum type; should not be used.",
            "Cancelled status."
          ],
          "enum": [
            "TASK_RUN_STATUS_UNSPECIFIED",
            "TASK_RUN_CANCELLED"
          ]
        },
        "conditions": {
          "description": "Output only. Kubernetes Conditions convention for PipelineRun status and error.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "startTime": {
          "description": "Output only. Time the task is actually started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "completionTime": {
          "description": "Output only. Time the task completed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "steps": {
          "description": "Output only. Steps describes the state of each build step container.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StepState"
          }
        },
        "taskRunResults": {
          "description": "Output only. List of results written out by the task's containers",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "TaskRunResult"
          }
        },
        "etag": {
          "description": "Needed for declarative-friendly resources.",
          "type": "string"
        },
        "sidecars": {
          "description": "Output only. State of each Sidecar in the TaskSpec.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SidecarState"
          }
        },
        "resolvedTaskSpec": {
          "description": "Output only. The exact TaskSpec used to instantiate the run.",
          "readOnly": true,
          "$ref": "TaskSpec"
        }
      }
    },
    "StepState": {
      "id": "StepState",
      "description": "StepState reports the results of running a step in a Task.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the StepState.",
          "type": "string"
        },
        "imageId": {
          "description": "Image ID of the StepState.",
          "type": "string"
        },
        "waiting": {
          "description": "Details about a waiting container",
          "$ref": "ContainerStateWaiting"
        },
        "running": {
          "description": "Details about a running container",
          "$ref": "ContainerStateRunning"
        },
        "terminated": {
          "description": "Details about a terminated container",
          "$ref": "ContainerStateTerminated"
        }
      }
    },
    "ContainerStateWaiting": {
      "id": "ContainerStateWaiting",
      "description": "ContainerStateWaiting is a waiting state of a container.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "Reason the container is not yet running.",
          "type": "string"
        },
        "message": {
          "description": "Message regarding why the container is not yet running.",
          "type": "string"
        }
      }
    },
    "ContainerStateRunning": {
      "id": "ContainerStateRunning",
      "description": "ContainerStateWaiting is a running state of a container.",
      "type": "object",
      "properties": {
        "startedAt": {
          "description": "Time at which the container was last (re-)started.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ContainerStateTerminated": {
      "id": "ContainerStateTerminated",
      "description": "ContainerStateWaiting is a terminated state of a container.",
      "type": "object",
      "properties": {
        "exitCode": {
          "description": "Exit status from the last termination of the container.",
          "type": "integer",
          "format": "int32"
        },
        "reason": {
          "description": "Reason from the last termination of the container",
          "type": "string"
        },
        "message": {
          "description": "Message regarding the last termination of the container",
          "type": "string"
        },
        "startedAt": {
          "description": "Time at which previous execution of the container started",
          "type": "string",
          "format": "google-datetime"
        },
        "finishedAt": {
          "description": "Time at which the container last terminated",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "TaskRunResult": {
      "id": "TaskRunResult",
      "description": "TaskRunResult used to describe the results of a task",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the TaskRun",
          "type": "string"
        },
        "value": {
          "description": "Value of the result",
          "type": "string"
        }
      }
    },
    "SidecarState": {
      "id": "SidecarState",
      "description": "The state of a sidecar.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the Sidecar.",
          "type": "string"
        },
        "containerName": {
          "description": "Name of the container.",
          "type": "string"
        },
        "imageId": {
          "description": "ID of the image.",
          "type": "string"
        },
        "waiting": {
          "description": "Details about a waiting container.",
          "$ref": "ContainerStateWaiting"
        },
        "running": {
          "description": "Details about a running container.",
          "$ref": "ContainerStateRunning"
        },
        "terminated": {
          "description": "Details about a terminated container.",
          "$ref": "ContainerStateTerminated"
        }
      }
    },
    "Result": {
      "id": "Result",
      "description": "Result of a single event\/execution.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of Result.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. Server assigned uid.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Server assigned timestamp for when the result was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Server assigned timestamp for when the result was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "recordSummaries": {
          "description": "Output only. Summary of the underlying Record. GCB only returns a summary for the primary Record, e.g. a PipelineRun but not its TaskRuns.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RecordSummary"
          }
        }
      }
    },
    "RecordSummary": {
      "id": "RecordSummary",
      "description": "Summary of the underlying Record.",
      "type": "object",
      "properties": {
        "record": {
          "description": "Output only. Summarized record.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. Identifier of underlying data. e.g. `cloudbuild.googleapis.com\/PipelineRun`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the Record was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time the Record was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "recordData": {
          "description": "Output only. Key-value pairs representing underlying record data, e.g. \"status\", \"SUCCESS\"",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListResultsResponse": {
      "id": "ListResultsResponse",
      "description": "Message for response to listing Results.",
      "type": "object",
      "properties": {
        "results": {
          "description": "The list of Results.",
          "type": "array",
          "items": {
            "$ref": "Result"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "Record": {
      "id": "Record",
      "description": "Record belonging to a Result.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of Record.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. Server assigned uid.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Server assigned timestamp for when the record was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Server assigned timestamp for when the record was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "data": {
          "description": "Output only. JSON serialized Record data.",
          "readOnly": true,
          "$ref": "JsonAny"
        }
      }
    },
    "JsonAny": {
      "id": "JsonAny",
      "description": "JSON serialized data.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Identifier of underlying data. e.g. `cloudbuild.googleapis.com\/PipelineRun`",
          "type": "string"
        },
        "value": {
          "description": "JSON-serialized data of above type.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "ListRecordsResponse": {
      "id": "ListRecordsResponse",
      "description": "Message for response to listing Records.",
      "type": "object",
      "properties": {
        "records": {
          "description": "The list of Records.",
          "type": "array",
          "items": {
            "$ref": "Record"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
[...]
