{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "clouddeploy:v1",
  "name": "clouddeploy",
  "canonicalName": "Cloud Deploy",
  "version": "v1",
  "revision": "0",
  "title": "Google Cloud Deploy API",
  "description": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/deploy/",
  "protocol": "rest",
  "rootUrl": "https://clouddeploy.googleapis.com/",
  "mtlsRootUrl": "https://clouddeploy.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://clouddeploy.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "ListDeliveryPipelinesResponse": {
      "id": "ListDeliveryPipelinesResponse",
      "description": "The response object from `ListDeliveryPipelines`.",
      "type": "object",
      "properties": {
        "deliveryPipelines": {
          "description": "The `DeliveryPipeline` objects.",
          "type": "array",
          "items": {
            "$ref": "DeliveryPipeline"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeliveryPipeline": {
      "id": "DeliveryPipeline",
      "description": "A `DeliveryPipeline` resource in the Google Cloud Deploy API. A `DeliveryPipeline` defines a pipeline through which a Skaffold configuration can progress.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the `DeliveryPipeline`. Format is projects\/{project}\/ locations\/{location}\/deliveryPipelines\/a-z{0,62}.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `DeliveryPipeline`.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Description of the `DeliveryPipeline`. Max length is 255 characters.",
          "type": "string"
        },
        "annotations": {
          "description": "User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Time at which the pipeline was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Most recent time at which the pipeline was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "serialPipeline": {
          "description": "SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
          "$ref": "SerialPipeline"
        },
        "condition": {
          "description": "Output only. Information around the state of the Delivery Pipeline.",
          "readOnly": true,
          "$ref": "PipelineCondition"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "suspended": {
          "description": "When suspended, no new releases or rollouts can be created, but in-progress ones will complete.",
          "type": "boolean"
        }
      }
    },
    "SerialPipeline": {
      "id": "SerialPipeline",
      "description": "SerialPipeline defines a sequential set of stages for a `DeliveryPipeline`.",
      "type": "object",
      "properties": {
        "stages": {
          "description": "Each stage specifies configuration for a `Target`. The ordering of this list defines the promotion flow.",
          "type": "array",
          "items": {
            "$ref": "Stage"
          }
        }
      }
    },
    "Stage": {
      "id": "Stage",
      "description": "Stage specifies a location to which to deploy.",
      "type": "object",
      "properties": {
        "targetId": {
          "description": "The target_id to which this stage points. This field refers exclusively to the last segment of a target name. For example, this field would just be `my-target` (rather than `projects\/project\/locations\/location\/targets\/my-target`). The location of the `Target` is inferred to be the same as the location of the `DeliveryPipeline` that contains this `Stage`.",
          "type": "string"
        },
        "profiles": {
          "description": "Skaffold profiles to use when rendering the manifest for this stage's `Target`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "strategy": {
          "description": "Optional. The strategy to use for a `Rollout` to this stage.",
          "$ref": "Strategy"
        }
      }
    },
    "Strategy": {
      "id": "Strategy",
      "description": "Strategy contains deployment strategy information.",
      "type": "object",
      "properties": {
        "standard": {
          "description": "Standard deployment strategy executes a single deploy and allows verifying the deployment.",
          "$ref": "Standard"
        },
        "canary": {
          "description": "Canary deployment strategy provides progressive percentage based deployments to a Target.",
          "$ref": "Canary"
        }
      }
    },
    "Standard": {
      "id": "Standard",
      "description": "Standard represents the standard deployment strategy.",
      "type": "object",
      "properties": {
        "verify": {
          "description": "Whether to verify a deployment.",
          "type": "boolean"
        }
      }
    },
    "Canary": {
      "id": "Canary",
      "description": "Canary represents the canary deployment strategy.",
      "type": "object",
      "properties": {
        "runtimeConfig": {
          "description": "Optional. Runtime specific configurations for the deployment strategy. The runtime configuration is used to determine how Cloud Deploy will split traffic to enable a progressive deployment.",
          "$ref": "RuntimeConfig"
        },
        "canaryDeployment": {
          "description": "Configures the progressive based deployment for a Target.",
          "$ref": "CanaryDeployment"
        },
        "customCanaryDeployment": {
          "description": "Configures the progressive based deployment for a Target, but allows customizing at the phase level where a phase represents each of the percentage deployments.",
          "$ref": "CustomCanaryDeployment"
        }
      }
    },
    "RuntimeConfig": {
      "id": "RuntimeConfig",
      "description": "RuntimeConfig contains the runtime specific configurations for a deployment strategy.",
      "type": "object",
      "properties": {
        "kubernetes": {
          "description": "Kubernetes runtime configuration.",
          "$ref": "KubernetesConfig"
        },
        "cloudRun": {
          "description": "Cloud Run runtime configuration.",
          "$ref": "CloudRunConfig"
        }
      }
    },
    "KubernetesConfig": {
      "id": "KubernetesConfig",
      "description": "KubernetesConfig contains the Kubernetes runtime configuration.",
      "type": "object",
      "properties": {
        "gatewayServiceMesh": {
          "description": "Kubernetes Gateway API service mesh configuration.",
          "$ref": "GatewayServiceMesh"
        },
        "serviceNetworking": {
          "description": "Kubernetes Service networking configuration.",
          "$ref": "ServiceNetworking"
        }
      }
    },
    "GatewayServiceMesh": {
      "id": "GatewayServiceMesh",
      "description": "Information about the Kubernetes Gateway API service mesh configuration.",
      "type": "object",
      "properties": {
        "httpRoute": {
          "description": "Required. Name of the Gateway API HTTPRoute.",
          "type": "string"
        },
        "service": {
          "description": "Required. Name of the Kubernetes Service.",
          "type": "string"
        },
        "deployment": {
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified HTTPRoute and Service.",
          "type": "string"
        }
      }
    },
    "ServiceNetworking": {
      "id": "ServiceNetworking",
      "description": "Information about the Kubernetes Service networking configuration.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. Name of the Kubernetes Service.",
          "type": "string"
        },
        "deployment": {
          "description": "Required. Name of the Kubernetes Deployment whose traffic is managed by the specified Service.",
          "type": "string"
        }
      }
    },
    "CloudRunConfig": {
      "id": "CloudRunConfig",
      "description": "CloudRunConfig contains the Cloud Run runtime configuration.",
      "type": "object",
      "properties": {
        "automaticTrafficControl": {
          "description": "Whether Cloud Deploy should update the traffic stanza in a Cloud Run Service on the user's behalf to facilitate traffic splitting. This is required to be true for CanaryDeployments, but optional for CustomCanaryDeployments.",
          "type": "boolean"
        }
      }
    },
    "CanaryDeployment": {
      "id": "CanaryDeployment",
      "description": "CanaryDeployment represents the canary deployment configuration",
      "type": "object",
      "properties": {
        "percentages": {
          "description": "Required. The percentage based deployments that will occur as a part of a `Rollout`. List is expected in ascending order and each integer n is 0 <= n < 100.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "verify": {
          "description": "Whether to run verify tests after each percentage deployment.",
          "type": "boolean"
        }
      }
    },
    "CustomCanaryDeployment": {
      "id": "CustomCanaryDeployment",
      "description": "CustomCanaryDeployment represents the custom canary deployment configuration.",
      "type": "object",
      "properties": {
        "phaseConfigs": {
          "description": "Required. Configuration for each phase in the canary deployment in the order executed.",
          "type": "array",
          "items": {
            "$ref": "PhaseConfig"
          }
        }
      }
    },
    "PhaseConfig": {
      "id": "PhaseConfig",
      "description": "PhaseConfig represents the configuration for a phase in the custom canary deployment.",
      "type": "object",
      "properties": {
        "phaseId": {
          "description": "Required. The ID to assign to the `Rollout` phase. This value must consist of lower-case letters, numbers, and hyphens, start with a letter and end with a letter or a number, and have a max length of 63 characters. In other words, it must match the following regex: `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
          "type": "string"
        },
        "percentage": {
          "description": "Required. Percentage deployment for the phase.",
          "type": "integer",
          "format": "int32"
        },
        "profiles": {
          "description": "Skaffold profiles to use when rendering the manifest for this phase. These are in addition to the profiles list specified in the `DeliveryPipeline` stage.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "verify": {
          "description": "Whether to run verify tests after the deployment.",
          "type": "boolean"
        }
      }
    },
    "PipelineCondition": {
      "id": "PipelineCondition",
      "description": "PipelineCondition contains all conditions relevant to a Delivery Pipeline.",
      "type": "object",
      "properties": {
        "pipelineReadyCondition": {
          "description": "Details around the Pipeline's overall status.",
          "$ref": "PipelineReadyCondition"
        },
        "targetsPresentCondition": {
          "description": "Details around targets enumerated in the pipeline.",
          "$ref": "TargetsPresentCondition"
        },
        "targetsTypeCondition": {
          "description": "Details on the whether the targets enumerated in the pipeline are of the same type.",
          "$ref": "TargetsTypeCondition"
        }
      }
    },
    "PipelineReadyCondition": {
      "id": "PipelineReadyCondition",
      "description": "PipelineReadyCondition contains information around the status of the Pipeline.",
      "type": "object",
      "properties": {
        "status": {
          "description": "True if the Pipeline is in a valid state. Otherwise at least one condition in `PipelineCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Pipeline.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Last time the condition was updated.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "TargetsPresentCondition": {
      "id": "TargetsPresentCondition",
      "description": "TargetsPresentCondition contains information on any Targets defined in the Delivery Pipeline that do not actually exist.",
      "type": "object",
      "properties": {
        "status": {
          "description": "True if there aren't any missing Targets.",
          "type": "boolean"
        },
        "missingTargets": {
          "description": "The list of Target names that do not exist. For example, projects\/{project_id}\/locations\/{location_name}\/targets\/{target_name}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Last time the condition was updated.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "TargetsTypeCondition": {
      "id": "TargetsTypeCondition",
      "description": "TargetsTypeCondition contains information on whether the Targets defined in the Delivery Pipeline are of the same type.",
      "type": "object",
      "properties": {
        "status": {
          "description": "True if the targets are all a comparable type. For example this is true if all targets are GKE clusters. This is false if some targets are Cloud Run targets and others are GKE clusters.",
          "type": "boolean"
        },
        "errorDetails": {
          "description": "Human readable error message.",
          "type": "string"
        }
      }
    },
    "ListTargetsResponse": {
      "id": "ListTargetsResponse",
      "description": "The response object from `ListTargets`.",
      "type": "object",
      "properties": {
        "targets": {
          "description": "The `Target` objects.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Target": {
      "id": "Target",
      "description": "A `Target` resource in the Google Cloud Deploy API. A `Target` defines a location to which a Skaffold configuration can be deployed.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the `Target`. Format is projects\/{project}\/locations\/{location}\/targets\/a-z{0,62}.",
          "type": "string"
        },
        "targetId": {
          "description": "Output only. Resource id of the `Target`.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Target`.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the `Target`. Max length is 255 characters.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy. See https:\/\/google.aip.dev\/128#annotations for more details such as format and size limitations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Optional. Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requireApproval": {
          "description": "Optional. Whether or not the `Target` requires approval.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Time at which the `Target` was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Most recent time at which the `Target` was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "gke": {
          "description": "Information specifying a GKE Cluster.",
          "$ref": "GkeCluster"
        },
        "anthosCluster": {
          "description": "Information specifying an Anthos Cluster.",
          "$ref": "AnthosCluster"
        },
        "run": {
          "description": "Information specifying a Cloud Run deployment target.",
          "$ref": "CloudRunLocation"
        },
        "multiTarget": {
          "description": "Information specifying a multiTarget.",
          "$ref": "MultiTarget"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "executionConfigs": {
          "description": "Configurations for all execution that relates to this `Target`. Each `ExecutionEnvironmentUsage` value may only be used in a single configuration; using the same value multiple times is an error. When one or more configurations are specified, they must include the `RENDER` and `DEPLOY` `ExecutionEnvironmentUsage` values. When no configurations are specified, execution will use the default specified in `DefaultPool`.",
          "type": "array",
          "items": {
            "$ref": "ExecutionConfig"
          }
        }
      }
    },
    "GkeCluster": {
      "id": "GkeCluster",
      "description": "Information specifying a GKE Cluster.",
      "type": "object",
      "properties": {
        "cluster": {
          "description": "Information specifying a GKE Cluster. Format is `projects\/{project_id}\/locations\/{location_id}\/clusters\/{cluster_id}.",
          "type": "string"
        },
        "internalIp": {
          "description": "Optional. If true, `cluster` is accessed using the private IP address of the control plane endpoint. Otherwise, the default IP address of the control plane endpoint is used. The default IP address is the private IP address for clusters with private control-plane endpoints and the public IP address otherwise. Only specify this option when `cluster` is a [private GKE cluster](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/concepts\/private-cluster-concept).",
          "type": "boolean"
        }
      }
    },
    "AnthosCluster": {
      "id": "AnthosCluster",
      "description": "Information specifying an Anthos Cluster.",
      "type": "object",
      "properties": {
        "membership": {
          "description": "Membership of the GKE Hub-registered cluster to which to apply the Skaffold configuration. Format is `projects\/{project}\/locations\/{location}\/memberships\/{membership_name}`.",
          "type": "string"
        }
      }
    },
    "CloudRunLocation": {
      "id": "CloudRunLocation",
      "description": "Information specifying where to deploy a Cloud Run Service.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Required. The location for the Cloud Run Service. Format must be `projects\/{project}\/locations\/{location}`.",
          "type": "string"
        }
      }
    },
    "MultiTarget": {
      "id": "MultiTarget",
      "description": "Information specifying a multiTarget.",
      "type": "object",
      "properties": {
        "targetIds": {
          "description": "Required. The target_ids of this multiTarget.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExecutionConfig": {
      "id": "ExecutionConfig",
      "description": "Configuration of the environment to use when calling Skaffold.",
      "type": "object",
      "properties": {
        "usages": {
          "description": "Required. Usages when this configuration should be applied.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Use for rendering.",
              "Use for deploying and deployment hooks.",
              "Use for deployment verification."
            ],
            "enum": [
              "EXECUTION_ENVIRONMENT_USAGE_UNSPECIFIED",
              "RENDER",
              "DEPLOY",
              "VERIFY"
            ]
          }
        },
        "defaultPool": {
          "description": "Optional. Use default Cloud Build pool.",
          "$ref": "DefaultPool"
        },
        "privatePool": {
          "description": "Optional. Use private Cloud Build pool.",
          "$ref": "PrivatePool"
        },
        "workerPool": {
          "description": "Optional. The resource name of the `WorkerPool`, with the format `projects\/{project}\/locations\/{location}\/workerPools\/{worker_pool}`. If this optional field is unspecified, the default Cloud Build pool will be used.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) is used.",
          "type": "string"
        },
        "artifactStorage": {
          "description": "Optional. Cloud Storage location in which to store execution outputs. This can either be a bucket (\"gs:\/\/my-bucket\") or a path within a bucket (\"gs:\/\/my-bucket\/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        },
        "executionTimeout": {
          "description": "Optional. Execution timeout for a Cloud Build Execution. This must be between 10m and 24h in seconds format. If unspecified, a default timeout of 1h is used.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "DefaultPool": {
      "id": "DefaultPool",
      "description": "Execution using the default Cloud Build pool.",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used.",
          "type": "string"
        },
        "artifactStorage": {
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs:\/\/my-bucket\") or a path within a bucket (\"gs:\/\/my-bucket\/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        }
      }
    },
    "PrivatePool": {
      "id": "PrivatePool",
      "description": "Execution using a private Cloud Build pool.",
      "type": "object",
      "properties": {
        "workerPool": {
          "description": "Required. Resource name of the Cloud Build worker pool to use. The format is `projects\/{project}\/locations\/{location}\/workerPools\/{pool}`.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. Google service account to use for execution. If unspecified, the project execution service account (-compute@developer.gserviceaccount.com) will be used.",
          "type": "string"
        },
        "artifactStorage": {
          "description": "Optional. Cloud Storage location where execution outputs should be stored. This can either be a bucket (\"gs:\/\/my-bucket\") or a path within a bucket (\"gs:\/\/my-bucket\/my-dir\"). If unspecified, a default bucket located in the same region will be used.",
          "type": "string"
        }
      }
    },
    "ListReleasesResponse": {
      "id": "ListReleasesResponse",
      "description": "The response object from `ListReleases`.",
      "type": "object",
      "properties": {
        "releases": {
          "description": "The `Release` objects.",
          "type": "array",
          "items": {
            "$ref": "Release"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Release": {
      "id": "Release",
      "description": "A `Release` resource in the Google Cloud Deploy API. A `Release` defines a specific Skaffold configuration instance that can be deployed.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the `Release`. Format is projects\/{project}\/ locations\/{location}\/deliveryPipelines\/{deliveryPipeline}\/ releases\/a-z{0,62}.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Release`.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Description of the `Release`. Max length is 255 characters.",
          "type": "string"
        },
        "annotations": {
          "description": "User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy. See https:\/\/google.aip.dev\/128#annotations for more details such as format and size limitations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "abandoned": {
          "description": "Output only. Indicates whether this is an abandoned release.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Time at which the `Release` was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "renderStartTime": {
          "description": "Output only. Time at which the render began.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "renderEndTime": {
          "description": "Output only. Time at which the render completed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "skaffoldConfigUri": {
          "description": "Cloud Storage URI of tar.gz archive containing Skaffold configuration.",
          "type": "string"
        },
        "skaffoldConfigPath": {
          "description": "Filepath of the Skaffold config inside of the config URI.",
          "type": "string"
        },
        "buildArtifacts": {
          "description": "List of artifacts to pass through to Skaffold command.",
          "type": "array",
          "items": {
            "$ref": "BuildArtifact"
          }
        },
        "deliveryPipelineSnapshot": {
          "description": "Output only. Snapshot of the parent pipeline taken at release creation time.",
          "readOnly": true,
          "$ref": "DeliveryPipeline"
        },
        "targetSnapshots": {
          "description": "Output only. Snapshot of the targets taken at release creation time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "renderState": {
          "description": "Output only. Current state of the render operation.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The render state is unspecified.",
            "All rendering operations have completed successfully.",
            "All rendering operations have completed, and one or more have failed.",
            "Rendering has started and is not complete."
          ],
          "enum": [
            "RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ]
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "skaffoldVersion": {
          "description": "The Skaffold version to use when operating on this release, such as \"1.20.0\". Not all versions are valid; Google Cloud Deploy supports a specific set of versions. If unset, the most recent supported Skaffold version will be used.",
          "type": "string"
        },
        "targetArtifacts": {
          "description": "Output only. Map from target ID to the target artifacts created during the render operation.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "TargetArtifact"
          }
        },
        "targetRenders": {
          "description": "Output only. Map from target ID to details of the render operation for that target.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "TargetRender"
          }
        },
        "condition": {
          "description": "Output only. Information around the state of the Release.",
          "readOnly": true,
          "$ref": "ReleaseCondition"
        }
      }
    },
    "BuildArtifact": {
      "id": "BuildArtifact",
      "description": "Description of an a image to use during Skaffold rendering.",
      "type": "object",
      "properties": {
        "image": {
          "description": "Image name in Skaffold configuration.",
          "type": "string"
        },
        "tag": {
          "description": "Image tag to use. This will generally be the full path to an image, such as \"gcr.io\/my-project\/busybox:1.2.3\" or \"gcr.io\/my-project\/busybox@sha256:abc123\".",
          "type": "string"
        }
      }
    },
    "TargetArtifact": {
      "id": "TargetArtifact",
      "description": "The artifacts produced by a target render operation.",
      "type": "object",
      "properties": {
        "artifactUri": {
          "description": "Output only. URI of a directory containing the artifacts. This contains deployment configuration used by Skaffold during a rollout, and all paths are relative to this location.",
          "readOnly": true,
          "type": "string"
        },
        "skaffoldConfigPath": {
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI.",
          "readOnly": true,
          "type": "string"
        },
        "manifestPath": {
          "description": "Output only. File path of the rendered manifest relative to the URI.",
          "readOnly": true,
          "type": "string"
        },
        "phaseArtifacts": {
          "description": "Output only. Map from the phase ID to the phase artifacts for the `Target`.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "PhaseArtifact"
          }
        }
      }
    },
    "PhaseArtifact": {
      "id": "PhaseArtifact",
      "description": "Contains the paths to the artifacts, relative to the URI, for a phase.",
      "type": "object",
      "properties": {
        "skaffoldConfigPath": {
          "description": "Output only. File path of the resolved Skaffold configuration relative to the URI.",
          "readOnly": true,
          "type": "string"
        },
        "manifestPath": {
          "description": "Output only. File path of the rendered manifest relative to the URI.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TargetRender": {
      "id": "TargetRender",
      "description": "Details of rendering for a single target.",
      "type": "object",
      "properties": {
        "renderingBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to render the manifest for this target. Format is `projects\/{project}\/locations\/{location}\/builds\/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "renderingState": {
          "description": "Output only. Current state of the render operation for this Target.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The render operation state is unspecified.",
            "The render operation has completed successfully.",
            "The render operation has failed.",
            "The render operation is in progress."
          ],
          "enum": [
            "TARGET_RENDER_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS"
          ]
        },
        "metadata": {
          "description": "Output only. Metadata related to the `Release` render for this Target.",
          "readOnly": true,
          "$ref": "RenderMetadata"
        },
        "failureCause": {
          "description": "Output only. Reason this render failed. This will always be unspecified while the render in progress.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Google Cloud Deploy has insufficient permissions. See [required permission](\/deploy\/docs\/cloud-deploy-service-account#required_permissions).",
            "The render operation did not complete successfully; check Cloud Build logs.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ],
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "CLOUD_BUILD_REQUEST_FAILED"
          ]
        },
        "failureMessage": {
          "description": "Output only. Additional information about the render failure, if available.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "RenderMetadata": {
      "id": "RenderMetadata",
      "description": "RenderMetadata includes information associated with a `Release` render.",
      "type": "object",
      "properties": {
        "cloudRun": {
          "description": "Output only. Metadata associated with rendering for Cloud Run.",
          "readOnly": true,
          "$ref": "CloudRunRenderMetadata"
        }
      }
    },
    "CloudRunRenderMetadata": {
      "id": "CloudRunRenderMetadata",
      "description": "CloudRunRenderMetadata contains Cloud Run information associated with a `Release` render.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Output only. The name of the Cloud Run Service in the rendered manifest. Format is projects\/{project}\/locations\/{location}\/services\/{service}.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ReleaseCondition": {
      "id": "ReleaseCondition",
      "description": "ReleaseCondition contains all conditions relevant to a Release.",
      "type": "object",
      "properties": {
        "releaseReadyCondition": {
          "description": "Details around the Releases's overall status.",
          "$ref": "ReleaseReadyCondition"
        },
        "skaffoldSupportedCondition": {
          "description": "Details around the support state of the release's skaffold version.",
          "$ref": "SkaffoldSupportedCondition"
        }
      }
    },
    "ReleaseReadyCondition": {
      "id": "ReleaseReadyCondition",
      "description": "ReleaseReadyCondition contains information around the status of the Release. If a release is not ready, you cannot create a rollout with the release.",
      "type": "object",
      "properties": {
        "status": {
          "description": "True if the Release is in a valid state. Otherwise at least one condition in `ReleaseCondition` is in an invalid state. Iterate over those conditions and see which condition(s) has status = false to find out what is wrong with the Release.",
          "type": "boolean"
        }
      }
    },
    "SkaffoldSupportedCondition": {
      "id": "SkaffoldSupportedCondition",
      "description": "SkaffoldSupportedCondition contains information about when support for the release's version of skaffold ends.",
      "type": "object",
      "properties": {
        "status": {
          "description": "True if the version of skaffold used by this release is supported.",
          "type": "boolean"
        },
        "skaffoldSupportState": {
          "description": "The skaffold support state for this release's version of skaffold.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This skaffold version is currently supported.",
            "This skaffold version is in maintenance mode.",
            "This skaffold version is no longer supported."
          ],
          "enum": [
            "SKAFFOLD_SUPPORT_STATE_UNSPECIFIED",
            "SKAFFOLD_SUPPORT_STATE_SUPPORTED",
            "SKAFFOLD_SUPPORT_STATE_MAINTENANCE_MODE",
            "SKAFFOLD_SUPPORT_STATE_UNSUPPORTED"
          ]
        },
        "maintenanceModeTime": {
          "description": "The time at which this release's version of skaffold will enter maintenance mode.",
          "type": "string",
          "format": "google-datetime"
        },
        "supportExpirationTime": {
          "description": "The time at which this release's version of skaffold will no longer be supported.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "AbandonReleaseRequest": {
      "id": "AbandonReleaseRequest",
      "description": "The request object used by `AbandonRelease`.",
      "type": "object",
      "properties": {
      }
    },
    "AbandonReleaseResponse": {
      "id": "AbandonReleaseResponse",
      "description": "The response object for `AbandonRelease`.",
      "type": "object",
      "properties": {
      }
    },
    "DeployPolicy": {
      "id": "DeployPolicy",
      "description": "A `DeployPolicy` resource in the Google Cloud Deploy API. A `DeployPolicy` inhibits manual or automation driven actions within a Delivery Pipeline or Target.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Name of the `DeployPolicy`. Format is projects\/{project}\/ locations\/{location}\/deployPolicies\/a-z{0,62}.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `DeployPolicy`.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Description of the `DeployPolicy`. Max length is 255 characters.",
          "type": "string"
        },
        "annotations": {
          "description": "User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy. Annotations must meet the following constraints: * Annotations are key\/value pairs. * Valid annotation keys have two segments: an optional prefix and name, separated by a slash (\/). * The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between. * The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots(.), not longer than 253 characters in total, followed by a slash (\/). See https:\/\/kubernetes.io\/docs\/concepts\/overview\/working-with-objects\/annotations\/#syntax-and-character-set for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Time at which the deploy policy was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Most recent time at which the deploy policy was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "suspended": {
          "description": "When suspended, the policy will not prevent actions from occurring, even if the action violates the policy.",
          "type": "boolean"
        },
        "selects": {
          "description": "Resources to apply the policy to.",
          "$ref": "Resource"
        },
        "selector": {
          "description": "Selected resources to which the policy will be applied.",
          "$ref": "DeployPolicyResourceSelector"
        },
        "rules": {
          "description": "Rules to apply.",
          "type": "array",
          "items": {
            "$ref": "PolicyRule"
          }
        },
        "etag": {
          "description": "The weak etag of the `Automation` resource. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "id": "Resource",
      "description": "Contains information on the resources to select for a deploy policy.",
      "type": "object",
      "properties": {
        "deliveryPipelines": {
          "description": "Contains attributes about a delivery pipeline.",
          "type": "array",
          "items": {
            "$ref": "DeliveryPipelineAttribute"
          }
        },
        "targets": {
          "description": "Contains attributes about a target.",
          "type": "array",
          "items": {
            "$ref": "TargetAttribute"
          }
        }
      }
    },
    "DeliveryPipelineAttribute": {
      "id": "DeliveryPipelineAttribute",
      "description": "Contains criteria for selecting DeliveryPipelines. Attributes provided must match the delivery pipeline resource in order for policy restrictions to apply. E.g. if id \"prod\" and labels \"foo: bar\" are given the delivery pipeline resource must match both that id and have that label in order to be selected.",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the `DeliveryPipeline`. The value of this field could be one of the following: * The last segment of a pipeline name. It only needs the ID to determine which pipeline is being referred to * \"*\", all delivery pipelines in a location.",
          "type": "string"
        },
        "labels": {
          "description": "DeliveryPipeline labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "TargetAttribute": {
      "id": "TargetAttribute",
      "description": "Contains criteria for selecting Targets. Attributes provided must match the target resource in order for policy restrictions to apply. E.g. if id \"prod\" and labels \"foo: bar\" are given the target resource must match both that id and have that label in order to be selected.",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the `Target`. The value of this field could be one of the following: * The last segment of a target name. It only needs the ID to determine which target is being referred to * \"*\", all targets in a location.",
          "type": "string"
        },
        "labels": {
          "description": "Target labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "DeployPolicyResourceSelector": {
      "id": "DeployPolicyResourceSelector",
      "description": "Contains information on the resources to select for a deploy policy.",
      "type": "object",
      "properties": {
        "deliveryPipelines": {
          "description": "Contains attributes about a delivery pipeline.",
          "type": "array",
          "items": {
            "$ref": "DeliveryPipelineAttribute"
          }
        },
        "targets": {
          "description": "Contains attributes about a target.",
          "type": "array",
          "items": {
            "$ref": "TargetAttribute"
          }
        }
      }
    },
    "PolicyRule": {
      "id": "PolicyRule",
      "description": "Rule to apply.",
      "type": "object",
      "properties": {
        "restrictRollouts": {
          "description": "Rollout restrictions.",
          "$ref": "RestrictRollout"
        }
      }
    },
    "RestrictRollout": {
      "id": "RestrictRollout",
      "description": "Rollout restrictions.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Restriction name.",
          "type": "string"
        },
        "invoker": {
          "description": "What invoked the action. If left empty, all invoker types will be restricted.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "The action is user-driven (e.g. creating a rollout manually via a gcloud create command).",
              "Automated action by Cloud Deploy."
            ],
            "enum": [
              "INVOKER_UNSPECIFIED",
              "USER",
              "DEPLOY_AUTOMATION"
            ]
          }
        },
        "actions": {
          "description": "Rollout actions to be restricted as part of the policy. If left empty, all actions will be restricted.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Advance the rollout to the next phase.",
              "Approve the rollout.",
              "Cancel the rollout.",
              "Create a rollout.",
              "Delete a rollout.",
              "Ignore a job result on the rollout.",
              "Reject a rollout.",
              "Retry a job for a rollout.",
              "Rollback a rollout.",
              "Terminate a jobrun."
            ],
            "enum": [
              "ACTIONS_UNSPECIFIED",
              "ADVANCE",
              "APPROVE",
              "CANCEL",
              "CREATE",
              "DELETE",
              "IGNORE_JOB",
              "REJECT",
              "RETRY_JOB",
              "ROLLBACK",
              "TERMINATE_JOBRUN"
            ]
          }
        },
        "timeWindows": {
          "description": "Time Windows within which actions are restricted.",
          "$ref": "TimeWindow"
        }
      }
    },
    "TimeWindow": {
      "id": "TimeWindow",
      "description": "Time Window within which actions are restricted.",
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "The time zone in IANA format [IANA Time Zone Database](https:\/\/www.iana.org\/time-zones) (e.g. America\/New_York).",
          "type": "string"
        },
        "ranges": {
          "description": "Range within which actions are restricted.",
          "type": "array",
          "items": {
            "$ref": "Range"
          }
        }
      }
    },
    "Range": {
      "id": "Range",
      "description": "Range within which actions are restricted.",
      "type": "object",
      "properties": {
        "startDate": {
          "description": "Start date.",
          "$ref": "Date"
        },
        "endDate": {
          "description": "End date.",
          "$ref": "Date"
        },
        "startTimeOfDay": {
          "description": "Start time of day.",
          "$ref": "TimeOfDay"
        },
        "endTimeOfDay": {
          "description": "End time of day.",
          "$ref": "TimeOfDay"
        },
        "dayOfWeek": {
          "description": "Days of week.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          }
        }
      }
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "hours": {
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListDeployPoliciesResponse": {
      "id": "ListDeployPoliciesResponse",
      "description": "The response object from `ListDeployPolicies`.",
      "type": "object",
      "properties": {
        "deployPolicies": {
          "description": "The `DeployPolicy` objects.",
          "type": "array",
          "items": {
            "$ref": "DeployPolicy"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ApproveRolloutRequest": {
      "id": "ApproveRolloutRequest",
      "description": "The request object used by `ApproveRollout`.",
      "type": "object",
      "properties": {
        "approved": {
          "description": "Required. True = approve; false = reject",
          "type": "boolean"
        },
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is projects\/{project}\/ locations\/{location}\/deployPolicies\/a-z{0,62}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ApproveRolloutResponse": {
      "id": "ApproveRolloutResponse",
      "description": "The response object from `ApproveRollout`.",
      "type": "object",
      "properties": {
      }
    },
    "AdvanceRolloutRequest": {
      "id": "AdvanceRolloutRequest",
      "description": "The request object used by `AdvanceRollout`.",
      "type": "object",
      "properties": {
        "phaseId": {
          "description": "Required. The phase ID to advance the `Rollout` to.",
          "type": "string"
        },
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is projects\/{project}\/ locations\/{location}\/deployPolicies\/a-z{0,62}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AdvanceRolloutResponse": {
      "id": "AdvanceRolloutResponse",
      "description": "The response object from `AdvanceRollout`.",
      "type": "object",
      "properties": {
      }
    },
    "CancelRolloutRequest": {
      "id": "CancelRolloutRequest",
      "description": "The request object used by `CancelRollout`.",
      "type": "object",
      "properties": {
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is projects\/{project}\/ locations\/{location}\/deployPolicies\/a-z{0,62}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CancelRolloutResponse": {
      "id": "CancelRolloutResponse",
      "description": "The response object from `CancelRollout`.",
      "type": "object",
      "properties": {
      }
    },
    "ListRolloutsResponse": {
      "id": "ListRolloutsResponse",
      "description": "ListRolloutsResponse is the response object reutrned by `ListRollouts`.",
      "type": "object",
      "properties": {
        "rollouts": {
          "description": "The `Rollout` objects.",
          "type": "array",
          "items": {
            "$ref": "Rollout"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Rollout": {
      "id": "Rollout",
      "description": "A `Rollout` resource in the Google Cloud Deploy API. A `Rollout` contains information around a specific deployment to a `Target`.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the `Rollout`. Format is projects\/{project}\/ locations\/{location}\/deliveryPipelines\/{deliveryPipeline}\/ releases\/{release}\/rollouts\/a-z{0,62}.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `Rollout`.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Description of the `Rollout` for user purposes. Max length is 255 characters.",
          "type": "string"
        },
        "annotations": {
          "description": "User annotations. These attributes can only be set and used by the user, and not by Google Cloud Deploy. See https:\/\/google.aip.dev\/128#annotations for more details such as format and size limitations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Labels are attributes that can be set and used by both the user and by Google Cloud Deploy. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Time at which the `Rollout` was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "approveTime": {
          "description": "Output only. Time at which the `Rollout` was approved.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "enqueueTime": {
          "description": "Output only. Time at which the `Rollout` was enqueued.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deployStartTime": {
          "description": "Output only. Time at which the `Rollout` started deploying.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deployEndTime": {
          "description": "Output only. Time at which the `Rollout` finished deploying.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "targetId": {
          "description": "Required. The ID of Target to which this `Rollout` is deploying.",
          "type": "string"
        },
        "approvalState": {
          "description": "Output only. Approval state of the `Rollout`.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The `Rollout` has an unspecified approval state.",
            "The `Rollout` requires approval.",
            "The `Rollout` does not require approval.",
            "The `Rollout` has been approved.",
            "The `Rollout` has been rejected."
          ],
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "NEEDS_APPROVAL",
            "DOES_NOT_NEED_APPROVAL",
            "APPROVED",
            "REJECTED"
          ]
        },
        "state": {
          "description": "Output only. Current state of the `Rollout`.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The `Rollout` has an unspecified state.",
            "The `Rollout` has completed successfully.",
            "The `Rollout` has failed.",
            "The `Rollout` is being deployed.",
            "The `Rollout` needs approval.",
            "An approver rejected the `Rollout`.",
            "The `Rollout` is waiting for an earlier Rollout(s) to complete on this `Target`.",
            "The `Rollout` is waiting for the `Release` to be fully rendered.",
            "The `Rollout` is in the process of being cancelled.",
            "The `Rollout` has been cancelled.",
            "The `Rollout` is halted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "IN_PROGRESS",
            "PENDING_APPROVAL",
            "APPROVAL_REJECTED",
            "PENDING",
            "PENDING_RELEASE",
            "CANCELLING",
            "CANCELLED",
            "HALTED"
          ]
        },
        "failureReason": {
          "description": "Output only. Additional information about the rollout failure, if available.",
          "readOnly": true,
          "type": "string"
        },
        "deployingBuild": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy the Rollout. Format is `projects\/{project}\/locations\/{location}\/builds\/{build}`.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "deployFailureCause": {
          "description": "Output only. The reason this rollout failed. This will always be unspecified while the rollout is in progress.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Cloud Deploy has insufficient permissions. See [required permission](\/deploy\/docs\/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "Deployment did not complete within the alloted time.",
            "Release is in a failed state.",
            "Release is abandoned.",
            "No skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ],
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "RELEASE_FAILED",
            "RELEASE_ABANDONED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ]
        },
        "phases": {
          "description": "Output only. The phases that represent the workflows of this `Rollout`.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Phase"
          }
        },
        "metadata": {
          "description": "Output only. Metadata contains information about the rollout.",
          "readOnly": true,
          "$ref": "Metadata"
        },
        "controllerRollout": {
          "description": "Output only. Name of the `ControllerRollout`. Format is projects\/{project}\/ locations\/{location}\/deliveryPipelines\/{deliveryPipeline}\/ releases\/{release}\/rollouts\/a-z{0,62}.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Phase": {
      "id": "Phase",
      "description": "Phase represents a collection of jobs that are logically grouped together for a `Rollout`.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Output only. The ID of the Phase.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of the Phase.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The Phase has an unspecified state.",
            "The Phase is waiting for an earlier Phase(s) to complete.",
            "The Phase is in progress.",
            "The Phase has succeeded.",
            "The Phase has failed.",
            "The Phase was aborted.",
            "The Phase was skipped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED"
          ]
        },
        "skipMessage": {
          "description": "Output only. Additional information on why the Phase was skipped, if available.",
          "readOnly": true,
          "type": "string"
        },
        "deploymentJobs": {
          "description": "Output only. Deployment job composition.",
          "readOnly": true,
          "$ref": "DeploymentJobs"
        },
        "childRolloutJobs": {
          "description": "Output only. ChildRollout job composition.",
          "readOnly": true,
          "$ref": "ChildRolloutJobs"
        }
      }
    },
    "DeploymentJobs": {
      "id": "DeploymentJobs",
      "description": "Deployment job composition.",
      "type": "object",
      "properties": {
        "deployJob": {
          "description": "Output only. The deploy Job. This is the first job run in the phase.",
          "readOnly": true,
          "$ref": "Job"
        },
        "verifyJob": {
          "description": "Output only. The verify Job. Runs after a deploy if the deploy succeeds.",
          "readOnly": true,
          "$ref": "Job"
        }
      }
    },
    "Job": {
      "id": "Job",
      "description": "Job represents an operation for a `Rollout`.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Output only. The ID of the Job.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the Job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The Job has an unspecified state.",
            "The Job is waiting for an earlier Phase(s) or Job(s) to complete.",
            "The Job is disabled.",
            "The Job is in progress.",
            "The Job succeeded.",
            "The Job failed.",
            "The Job was aborted.",
            "The Job was skipped.",
            "The Job was ignored."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "DISABLED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "ABORTED",
            "SKIPPED",
            "IGNORED"
          ]
        },
        "skipMessage": {
          "description": "Output only. Additional information on why the Job was skipped, if available.",
          "readOnly": true,
          "type": "string"
        },
        "jobRun": {
          "description": "Output only. The name of the `JobRun` responsible for the most recent invocation of this Job.",
          "readOnly": true,
          "type": "string"
        },
        "deployJob": {
          "description": "Output only. A deploy Job.",
          "readOnly": true,
          "$ref": "DeployJob"
        },
        "verifyJob": {
          "description": "Output only. A verify Job.",
          "readOnly": true,
          "$ref": "VerifyJob"
        },
        "createChildRolloutJob": {
          "description": "Output only. A createChildRollout Job.",
          "readOnly": true,
          "$ref": "CreateChildRolloutJob"
        },
        "advanceChildRolloutJob": {
          "description": "Output only. An advanceChildRollout Job.",
          "readOnly": true,
          "$ref": "AdvanceChildRolloutJob"
        }
      }
    },
    "DeployJob": {
      "id": "DeployJob",
      "description": "A deploy Job.",
      "type": "object",
      "properties": {
        "artifact": {
          "description": "Output only. The artifact of the latest deploy JobRun.",
          "readOnly": true,
          "$ref": "DeployArtifact"
        }
      }
    },
    "DeployArtifact": {
      "id": "DeployArtifact",
      "description": "The artifacts produced by a deploy operation.",
      "type": "object",
      "properties": {
        "artifactUri": {
          "description": "Output only. URI of a directory containing the artifacts. All paths are relative to this location.",
          "readOnly": true,
          "type": "string"
        },
        "manifestPaths": {
          "description": "Output only. File paths of the manifests applied during the deploy operation relative to the URI.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VerifyJob": {
      "id": "VerifyJob",
      "description": "A verify Job.",
      "type": "object",
      "properties": {
      }
    },
    "CreateChildRolloutJob": {
      "id": "CreateChildRolloutJob",
      "description": "A createChildRollout Job.",
      "type": "object",
      "properties": {
      }
    },
    "AdvanceChildRolloutJob": {
      "id": "AdvanceChildRolloutJob",
      "description": "An advanceChildRollout Job.",
      "type": "object",
      "properties": {
      }
    },
    "ChildRolloutJobs": {
      "id": "ChildRolloutJobs",
      "description": "ChildRollouts job composition",
      "type": "object",
      "properties": {
        "createRolloutJobs": {
          "description": "Output only. List of CreateChildRolloutJobs",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        },
        "advanceRolloutJobs": {
          "description": "Output only. List of AdvanceChildRolloutJobs",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        }
      }
    },
    "Metadata": {
      "id": "Metadata",
      "description": "Metadata includes information associated with a `Rollout`.",
      "type": "object",
      "properties": {
        "cloudRun": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`.",
          "readOnly": true,
          "$ref": "CloudRunMetadata"
        }
      }
    },
    "CloudRunMetadata": {
      "id": "CloudRunMetadata",
      "description": "CloudRunMetadata contains information from a Cloud Run deployment.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `Rollout`. Format is projects\/{project}\/locations\/{location}\/services\/{service}.",
          "readOnly": true,
          "type": "string"
        },
        "serviceUrls": {
          "description": "Output only. The Cloud Run Service urls that are associated with a `Rollout`.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "revision": {
          "description": "Output only. The Cloud Run Revision id associated with a `Rollout`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "IgnoreJobRequest": {
      "id": "IgnoreJobRequest",
      "description": "The request object used by `IgnoreJob`.",
      "type": "object",
      "properties": {
        "phaseId": {
          "description": "Required. The phase ID the Job to ignore belongs to.",
          "type": "string"
        },
        "jobId": {
          "description": "Required. The job ID for the Job to ignore.",
          "type": "string"
        },
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is projects\/{project}\/ locations\/{location}\/deployPolicies\/a-z{0,62}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IgnoreJobResponse": {
      "id": "IgnoreJobResponse",
      "description": "The response object from `IgnoreJob`.",
      "type": "object",
      "properties": {
      }
    },
    "RetryJobRequest": {
      "id": "RetryJobRequest",
      "description": "RetryJobRequest is the request object used by `RetryJob`.",
      "type": "object",
      "properties": {
        "phaseId": {
          "description": "Required. The phase ID the Job to retry belongs to.",
          "type": "string"
        },
        "jobId": {
          "description": "Required. The job ID for the Job to retry.",
          "type": "string"
        },
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is projects\/{project}\/ locations\/{location}\/deployPolicies\/a-z{0,62}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RetryJobResponse": {
      "id": "RetryJobResponse",
      "description": "The response object from 'RetryJob'.",
      "type": "object",
      "properties": {
      }
    },
    "ListJobRunsResponse": {
      "id": "ListJobRunsResponse",
      "description": "ListJobRunsResponse is the response object returned by `ListJobRuns`.",
      "type": "object",
      "properties": {
        "jobRuns": {
          "description": "The `JobRun` objects.",
          "type": "array",
          "items": {
            "$ref": "JobRun"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "JobRun": {
      "id": "JobRun",
      "description": "A `JobRun` resource in the Google Cloud Deploy API. A `JobRun` contains information of a single `Rollout` job evaluation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the `JobRun`. Format is projects\/{project}\/locations\/{location}\/ deliveryPipelines\/{deliveryPipeline}\/releases\/{releases}\/rollouts\/ {rollouts}\/jobRuns\/{uuid}.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique identifier of the `JobRun`.",
          "readOnly": true,
          "type": "string"
        },
        "phaseId": {
          "description": "Output only. ID of the `Rollout` phase this `JobRun` belongs in.",
          "readOnly": true,
          "type": "string"
        },
        "jobId": {
          "description": "Output only. ID of the `Rollout` job this `JobRun` corresponds to.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time at which the `JobRun` was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. Time at which the `JobRun` was started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. Time at which the `JobRun` ended.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The current state of the `JobRun`.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The `JobRun` has an unspecified state.",
            "The `JobRun` is in progress.",
            "The `JobRun` has succeeded.",
            "The `JobRun` has failed.",
            "The `JobRun` is terminating.",
            "The `JobRun` was terminated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED",
            "TERMINATING",
            "TERMINATED"
          ]
        },
        "deployJobRun": {
          "description": "Output only. Information specific to a deploy `JobRun`.",
          "readOnly": true,
          "$ref": "DeployJobRun"
        },
        "verifyJobRun": {
          "description": "Output only. Information specific to a verify `JobRun`.",
          "readOnly": true,
          "$ref": "VerifyJobRun"
        },
        "createChildRolloutJobRun": {
          "description": "Output only. Information specific to a createChildRollout `JobRun`.",
          "readOnly": true,
          "$ref": "CreateChildRolloutJobRun"
        },
        "advanceChildRolloutJobRun": {
          "description": "Output only. Information specific to an advanceChildRollout `JobRun`",
          "readOnly": true,
          "$ref": "AdvanceChildRolloutJobRun"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DeployJobRun": {
      "id": "DeployJobRun",
      "description": "DeployJobRun contains information specific to a deploy `JobRun`.",
      "type": "object",
      "properties": {
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to deploy. Format is projects\/{project}\/locations\/{location}\/builds\/{build}.",
          "readOnly": true,
          "type": "string"
        },
        "failureCause": {
          "description": "Output only. The reason the deploy failed. This will always be unspecified while the deploy is in progress or if it succeeded.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Google Cloud Deploy has insufficient permissions. See [Required permission](\/deploy\/docs\/cloud-deploy-service-account#required_permissions).",
            "The deploy operation did not complete successfully; check Cloud Build logs.",
            "The deploy build did not complete within the alloted time.",
            "There were missing resources in the runtime environment required for a canary deployment. Check the Cloud Build logs for more information.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ],
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "MISSING_RESOURCES_FOR_CANARY",
            "CLOUD_BUILD_REQUEST_FAILED"
          ]
        },
        "failureMessage": {
          "description": "Output only. Additional information about the deploy failure, if available.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Output only. Metadata containing information about the deploy job run.",
          "readOnly": true,
          "$ref": "DeployJobRunMetadata"
        },
        "artifact": {
          "description": "Output only. The artifact of a deploy job run, if available.",
          "readOnly": true,
          "$ref": "DeployArtifact"
        }
      }
    },
    "DeployJobRunMetadata": {
      "id": "DeployJobRunMetadata",
      "description": "DeployJobRunMetadata surfaces information associated with a `DeployJobRun` to the user.",
      "type": "object",
      "properties": {
        "cloudRun": {
          "description": "Output only. The name of the Cloud Run Service that is associated with a `DeployJobRun`.",
          "readOnly": true,
          "$ref": "CloudRunMetadata"
        }
      }
    },
    "VerifyJobRun": {
      "id": "VerifyJobRun",
      "description": "VerifyJobRun contains information specific to a verify `JobRun`.",
      "type": "object",
      "properties": {
        "build": {
          "description": "Output only. The resource name of the Cloud Build `Build` object that is used to verify. Format is projects\/{project}\/locations\/{location}\/builds\/{build}.",
          "readOnly": true,
          "type": "string"
        },
        "artifactUri": {
          "description": "Output only. URI of a directory containing the verify artifacts. This contains the Skaffold event log.",
          "readOnly": true,
          "type": "string"
        },
        "eventLogPath": {
          "description": "Output only. File path of the Skaffold event log relative to the artifact URI.",
          "readOnly": true,
          "type": "string"
        },
        "failureCause": {
          "description": "Output only. The reason the verify failed. This will always be unspecified while the verify is in progress or if it succeeded.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No reason for failure is specified.",
            "Cloud Build is not available, either because it is not enabled or because Google Cloud Deploy has insufficient permissions. See [required permission](\/deploy\/docs\/cloud-deploy-service-account#required_permissions).",
            "The verify operation did not complete successfully; check Cloud Build logs.",
            "The verify build did not complete within the alloted time.",
            "No Skaffold verify configuration was found.",
            "Cloud Build failed to fulfill Google Cloud Deploy's request. See failure_message for additional details."
          ],
          "enum": [
            "FAILURE_CAUSE_UNSPECIFIED",
            "CLOUD_BUILD_UNAVAILABLE",
            "EXECUTION_FAILED",
            "DEADLINE_EXCEEDED",
            "VERIFICATION_CONFIG_NOT_FOUND",
            "CLOUD_BUILD_REQUEST_FAILED"
          ]
        },
        "failureMessage": {
          "description": "Output only. Additional information about the verify failure, if available.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CreateChildRolloutJobRun": {
      "id": "CreateChildRolloutJobRun",
      "description": "CreateChildRolloutJobRun contains information specific to a createChildRollout `JobRun`.",
      "type": "object",
      "properties": {
        "rollout": {
          "description": "Output only. Name of the `ChildRollout`. Format is projects\/{project}\/ locations\/{location}\/deliveryPipelines\/{deliveryPipeline}\/ releases\/{release}\/rollouts\/a-z{0,62}.",
          "readOnly": true,
          "type": "string"
        },
        "rolloutPhaseId": {
          "description": "Output only. The ID of the childRollout Phase initiated by this JobRun.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AdvanceChildRolloutJobRun": {
      "id": "AdvanceChildRolloutJobRun",
      "description": "AdvanceChildRolloutJobRun contains information specific to a advanceChildRollout `JobRun`.",
      "type": "object",
      "properties": {
        "rollout": {
          "description": "Output only. Name of the `ChildRollout`. Format is projects\/{project}\/ locations\/{location}\/deliveryPipelines\/{deliveryPipeline}\/ releases\/{release}\/rollouts\/a-z{0,62}.",
          "readOnly": true,
          "type": "string"
        },
        "rolloutPhaseId": {
          "description": "Output only. the ID of the ChildRollout's Phase.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TerminateJobRunRequest": {
      "id": "TerminateJobRunRequest",
      "description": "The request object used by `TerminateJobRun`.",
      "type": "object",
      "properties": {
        "overrideDeployPolicy": {
          "description": "Optional. Deploy policies to override. Format is projects\/{project}\/ locations\/{location}\/deployPolicies\/a-z{0,62}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TerminateJobRunResponse": {
      "id": "TerminateJobRunResponse",
      "description": "The response object from `TerminateJobRun`.",
      "type": "object",
      "properties": {
      }
    },
    "Config": {
      "id": "Config",
      "description": "Service-wide configuration.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the configuration.",
          "type": "string"
        },
        "supportedVersions": {
          "description": "All supported versions of Skaffold.",
          "type": "array",
          "items": {
            "$ref": "SkaffoldVersion"
          }
        },
        "defaultSkaffoldVersion": {
          "description": "Default Skaffold version that is assigned when a Release is created without specifying a Skaffold version.",
          "type": "string"
        }
      }
    },
    "SkaffoldVersion": {
      "id": "SkaffoldVersion",
      "description": "Details of a supported Skaffold version.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Release version number. For example, \"1.20.3\".",
          "type": "string"
        },
        "maintenanceModeTime": {
          "description": "The time at which this version of skaffold will enter maintenance mode.",
          "type": "string",
          "format": "google-datetime"
        },
        "supportExpirationTime": {
          "description": "The time at which this version of skaffold will no longer be supported.",
          "type": "string",
          "format": "google-datetime"
        },
        "supportEndDate": {
          "description": "Date when this version is expected to no longer be supported.",
          "$ref": "Date"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
[...]
