{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "datamigration:v1",
  "name": "datamigration",
  "canonicalName": "Database Migration Service",
  "version": "v1",
  "revision": "0",
  "title": "Database Migration API",
  "description": "Manage Cloud Database Migration Service resources on Google Cloud Platform.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/database-migration/",
  "protocol": "rest",
  "rootUrl": "https://datamigration.googleapis.com/",
  "mtlsRootUrl": "https://datamigration.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://datamigration.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "ListMigrationJobsResponse": {
      "id": "ListMigrationJobsResponse",
      "description": "Response message for 'ListMigrationJobs' request.",
      "type": "object",
      "properties": {
        "migrationJobs": {
          "description": "The list of migration jobs objects.",
          "type": "array",
          "items": {
            "$ref": "MigrationJob"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MigrationJob": {
      "id": "MigrationJob",
      "description": "Represents a Database Migration Service migration job object.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (URI) of this migration job resource, in the form of: projects\/{project}\/locations\/{location}\/migrationJobs\/{migrationJob}.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the migration job resource was created. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\".",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the migration job resource was last updated. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\".",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "The resource labels for migration job to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The migration job display name.",
          "type": "string"
        },
        "state": {
          "description": "The current migration job state.",
          "type": "string",
          "enumDescriptions": [
            "The state of the migration job is unknown.",
            "The migration job is down for maintenance.",
            "The migration job is in draft mode and no resources are created.",
            "The migration job is being created.",
            "The migration job is created and not started.",
            "The migration job is running.",
            "The migration job failed.",
            "The migration job has been completed.",
            "The migration job is being deleted.",
            "The migration job is being stopped.",
            "The migration job is currently stopped.",
            "The migration job has been deleted.",
            "The migration job is being updated.",
            "The migration job is starting.",
            "The migration job is restarting.",
            "The migration job is resuming."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "MAINTENANCE",
            "DRAFT",
            "CREATING",
            "NOT_STARTED",
            "RUNNING",
            "FAILED",
            "COMPLETED",
            "DELETING",
            "STOPPING",
            "STOPPED",
            "DELETED",
            "UPDATING",
            "STARTING",
            "RESTARTING",
            "RESUMING"
          ]
        },
        "phase": {
          "description": "Output only. The current migration job phase.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The phase of the migration job is unknown.",
            "The migration job is in the full dump phase.",
            "The migration job is CDC phase.",
            "The migration job is running the promote phase.",
            "Only RDS flow - waiting for source writes to stop",
            "Only RDS flow - the sources writes stopped, waiting for dump to begin"
          ],
          "enum": [
            "PHASE_UNSPECIFIED",
            "FULL_DUMP",
            "CDC",
            "PROMOTE_IN_PROGRESS",
            "WAITING_FOR_SOURCE_WRITES_TO_STOP",
            "PREPARING_THE_DUMP"
          ]
        },
        "type": {
          "description": "Required. The migration job type.",
          "type": "string",
          "enumDescriptions": [
            "The type of the migration job is unknown.",
            "The migration job is a one time migration.",
            "The migration job is a continuous migration."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "CONTINUOUS"
          ]
        },
        "dumpPath": {
          "description": "The path to the dump file in Google Cloud Storage, in the format: (gs:\/\/[BUCKET_NAME]\/[OBJECT_NAME]). This field and the \"dump_flags\" field are mutually exclusive.",
          "type": "string"
        },
        "dumpFlags": {
          "description": "The initial dump flags. This field and the \"dump_path\" field are mutually exclusive.",
          "$ref": "DumpFlags"
        },
        "source": {
          "description": "Required. The resource name (URI) of the source connection profile.",
          "type": "string"
        },
        "destination": {
          "description": "Required. The resource name (URI) of the destination connection profile.",
          "type": "string"
        },
        "reverseSshConnectivity": {
          "description": "The details needed to communicate to the source over Reverse SSH tunnel connectivity.",
          "$ref": "ReverseSshConnectivity"
        },
        "vpcPeeringConnectivity": {
          "description": "The details of the VPC network that the source database is located in.",
          "$ref": "VpcPeeringConnectivity"
        },
        "staticIpConnectivity": {
          "description": "static ip connectivity data (default, no additional details needed).",
          "$ref": "StaticIpConnectivity"
        },
        "duration": {
          "description": "Output only. The duration of the migration job (in seconds). A duration in seconds with up to nine fractional digits, terminated by 's'. Example: \"3.5s\".",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "error": {
          "description": "Output only. The error details in case of state FAILED.",
          "readOnly": true,
          "$ref": "Status"
        },
        "sourceDatabase": {
          "description": "The database engine type and provider of the source.",
          "$ref": "DatabaseType"
        },
        "destinationDatabase": {
          "description": "The database engine type and provider of the destination.",
          "$ref": "DatabaseType"
        },
        "endTime": {
          "description": "Output only. If the migration job is completed, the time when it was completed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "conversionWorkspace": {
          "description": "The conversion workspace used by the migration.",
          "$ref": "ConversionWorkspaceInfo"
        },
        "filter": {
          "description": "This field can be used to select the entities to migrate as part of the migration job. It uses AIP-160 notation to select a subset of the entities configured on the associated conversion-workspace. This field should not be set on migration-jobs that are not associated with a conversion workspace.",
          "type": "string"
        }
      }
    },
    "DumpFlags": {
      "id": "DumpFlags",
      "description": "Dump flags definition.",
      "type": "object",
      "properties": {
        "dumpFlags": {
          "description": "The flags for the initial dump.",
          "type": "array",
          "items": {
            "$ref": "DumpFlag"
          }
        }
      }
    },
    "DumpFlag": {
      "id": "DumpFlag",
      "description": "Dump flag definition.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the flag",
          "type": "string"
        },
        "value": {
          "description": "The value of the flag.",
          "type": "string"
        }
      }
    },
    "ReverseSshConnectivity": {
      "id": "ReverseSshConnectivity",
      "description": "The details needed to configure a reverse SSH tunnel between the source and destination databases. These details will be used when calling the generateSshScript method (see https:\/\/cloud.google.com\/database-migration\/docs\/reference\/rest\/v1\/projects.locations.migrationJobs\/generateSshScript) to produce the script that will help set up the reverse SSH tunnel, and to set up the VPC peering between the Cloud SQL private network and the VPC.",
      "type": "object",
      "properties": {
        "vmIp": {
          "description": "Required. The IP of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "string"
        },
        "vmPort": {
          "description": "Required. The forwarding port of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "integer",
          "format": "int32"
        },
        "vm": {
          "description": "The name of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "string"
        },
        "vpc": {
          "description": "The name of the VPC to peer with the Cloud SQL private network.",
          "type": "string"
        }
      }
    },
    "VpcPeeringConnectivity": {
      "id": "VpcPeeringConnectivity",
      "description": "The details of the VPC where the source database is located in Google Cloud. We will use this information to set up the VPC peering connection between Cloud SQL and this VPC.",
      "type": "object",
      "properties": {
        "vpc": {
          "description": "The name of the VPC network to peer with the Cloud SQL private network.",
          "type": "string"
        }
      }
    },
    "StaticIpConnectivity": {
      "id": "StaticIpConnectivity",
      "description": "The source database will allow incoming connections from the public IP of the destination database. You can retrieve the public IP of the Cloud SQL instance from the Cloud SQL console or using Cloud SQL APIs. No additional configuration is required.",
      "type": "object",
      "properties": {
      }
    },
    "DatabaseType": {
      "id": "DatabaseType",
      "description": "A message defining the database engine and provider.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "The database provider.",
          "type": "string",
          "enumDescriptions": [
            "The database provider is unknown.",
            "CloudSQL runs the database.",
            "RDS runs the database.",
            "Amazon Aurora.",
            "AlloyDB."
          ],
          "enum": [
            "DATABASE_PROVIDER_UNSPECIFIED",
            "CLOUDSQL",
            "RDS",
            "AURORA",
            "ALLOYDB"
          ]
        },
        "engine": {
          "description": "The database engine.",
          "type": "string",
          "enumDescriptions": [
            "The source database engine of the migration job is unknown.",
            "The source engine is MySQL.",
            "The source engine is PostgreSQL.",
            "The source engine is Oracle."
          ],
          "enum": [
            "DATABASE_ENGINE_UNSPECIFIED",
            "MYSQL",
            "POSTGRESQL",
            "ORACLE"
          ]
        }
      }
    },
    "ConversionWorkspaceInfo": {
      "id": "ConversionWorkspaceInfo",
      "description": "A conversion workspace's version.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name (URI) of the conversion workspace.",
          "type": "string"
        },
        "commitId": {
          "description": "The commit ID of the conversion workspace.",
          "type": "string"
        }
      }
    },
    "StartMigrationJobRequest": {
      "id": "StartMigrationJobRequest",
      "description": "Request message for 'StartMigrationJob' request.",
      "type": "object",
      "properties": {
      }
    },
    "StopMigrationJobRequest": {
      "id": "StopMigrationJobRequest",
      "description": "Request message for 'StopMigrationJob' request.",
      "type": "object",
      "properties": {
      }
    },
    "ResumeMigrationJobRequest": {
      "id": "ResumeMigrationJobRequest",
      "description": "Request message for 'ResumeMigrationJob' request.",
      "type": "object",
      "properties": {
      }
    },
    "PromoteMigrationJobRequest": {
      "id": "PromoteMigrationJobRequest",
      "description": "Request message for 'PromoteMigrationJob' request.",
      "type": "object",
      "properties": {
      }
    },
    "VerifyMigrationJobRequest": {
      "id": "VerifyMigrationJobRequest",
      "description": "Request message for 'VerifyMigrationJob' request.",
      "type": "object",
      "properties": {
      }
    },
    "RestartMigrationJobRequest": {
      "id": "RestartMigrationJobRequest",
      "description": "Request message for 'RestartMigrationJob' request.",
      "type": "object",
      "properties": {
      }
    },
    "GenerateSshScriptRequest": {
      "id": "GenerateSshScriptRequest",
      "description": "Request message for 'GenerateSshScript' request.",
      "type": "object",
      "properties": {
        "vm": {
          "description": "Required. Bastion VM Instance name to use or to create.",
          "type": "string"
        },
        "vmCreationConfig": {
          "description": "The VM creation configuration",
          "$ref": "VmCreationConfig"
        },
        "vmSelectionConfig": {
          "description": "The VM selection configuration",
          "$ref": "VmSelectionConfig"
        },
        "vmPort": {
          "description": "The port that will be open on the bastion host.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VmCreationConfig": {
      "id": "VmCreationConfig",
      "description": "VM creation configuration message",
      "type": "object",
      "properties": {
        "vmMachineType": {
          "description": "Required. VM instance machine type to create.",
          "type": "string"
        },
        "vmZone": {
          "description": "The Google Cloud Platform zone to create the VM in.",
          "type": "string"
        },
        "subnet": {
          "description": "The subnet name the vm needs to be created in.",
          "type": "string"
        }
      }
    },
    "VmSelectionConfig": {
      "id": "VmSelectionConfig",
      "description": "VM selection configuration message",
      "type": "object",
      "properties": {
        "vmZone": {
          "description": "Required. The Google Cloud Platform zone the VM is located.",
          "type": "string"
        }
      }
    },
    "SshScript": {
      "id": "SshScript",
      "description": "Response message for 'GenerateSshScript' request.",
      "type": "object",
      "properties": {
        "script": {
          "description": "The ssh configuration script.",
          "type": "string"
        }
      }
    },
    "ListConnectionProfilesResponse": {
      "id": "ListConnectionProfilesResponse",
      "description": "Response message for 'ListConnectionProfiles' request.",
      "type": "object",
      "properties": {
        "connectionProfiles": {
          "description": "The response list of connection profiles.",
          "type": "array",
          "items": {
            "$ref": "ConnectionProfile"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ConnectionProfile": {
      "id": "ConnectionProfile",
      "description": "A connection profile definition.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this connection profile resource in the form of projects\/{project}\/locations\/{location}\/connectionProfiles\/{connectionProfile}.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\".",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\".",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "The resource labels for connection profile to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "The current connection profile state (e.g. DRAFT, READY, or FAILED).",
          "type": "string",
          "enumDescriptions": [
            "The state of the connection profile is unknown.",
            "The connection profile is in draft mode and fully editable.",
            "The connection profile is being created.",
            "The connection profile is ready.",
            "The connection profile is being updated.",
            "The connection profile is being deleted.",
            "The connection profile has been deleted.",
            "The last action on the connection profile failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DELETED",
            "FAILED"
          ]
        },
        "displayName": {
          "description": "The connection profile display name.",
          "type": "string"
        },
        "mysql": {
          "description": "A MySQL database connection profile.",
          "$ref": "MySqlConnectionProfile"
        },
        "postgresql": {
          "description": "A PostgreSQL database connection profile.",
          "$ref": "PostgreSqlConnectionProfile"
        },
        "oracle": {
          "description": "An Oracle database connection profile.",
          "$ref": "OracleConnectionProfile"
        },
        "cloudsql": {
          "description": "A CloudSQL database connection profile.",
          "$ref": "CloudSqlConnectionProfile"
        },
        "alloydb": {
          "description": "An AlloyDB cluster connection profile.",
          "$ref": "AlloyDbConnectionProfile"
        },
        "error": {
          "description": "Output only. The error details in case of state FAILED.",
          "readOnly": true,
          "$ref": "Status"
        },
        "provider": {
          "description": "The database provider.",
          "type": "string",
          "enumDescriptions": [
            "The database provider is unknown.",
            "CloudSQL runs the database.",
            "RDS runs the database.",
            "Amazon Aurora.",
            "AlloyDB."
          ],
          "enum": [
            "DATABASE_PROVIDER_UNSPECIFIED",
            "CLOUDSQL",
            "RDS",
            "AURORA",
            "ALLOYDB"
          ]
        }
      }
    },
    "MySqlConnectionProfile": {
      "id": "MySqlConnectionProfile",
      "description": "Specifies connection parameters required specifically for MySQL databases.",
      "type": "object",
      "properties": {
        "host": {
          "description": "Required. The IP or hostname of the source MySQL database.",
          "type": "string"
        },
        "port": {
          "description": "Required. The network port of the source MySQL database.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "description": "Required. The username that Database Migration Service will use to connect to the database. The value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password for the user that Database Migration Service will be using to connect to the database. This field is not returned on request, and the value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "passwordSet": {
          "description": "Output only. Indicates If this connection profile password is stored.",
          "readOnly": true,
          "type": "boolean"
        },
        "ssl": {
          "description": "SSL configuration for the destination to connect to the source database.",
          "$ref": "SslConfig"
        },
        "cloudSqlId": {
          "description": "If the source is a Cloud SQL database, use this field to provide the Cloud SQL instance ID of the source.",
          "type": "string"
        }
      }
    },
    "SslConfig": {
      "id": "SslConfig",
      "description": "SSL configuration information.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The ssl config type according to 'client_key', 'client_certificate' and 'ca_certificate'.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Only 'ca_certificate' specified.",
            "Both server ('ca_certificate'), and client ('client_key', 'client_certificate') specified."
          ],
          "enum": [
            "SSL_TYPE_UNSPECIFIED",
            "SERVER_ONLY",
            "SERVER_CLIENT"
          ]
        },
        "clientKey": {
          "description": "Input only. The unencrypted PKCS#1 or PKCS#8 PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' field is mandatory.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "Input only. The x509 PEM-encoded certificate that will be used by the replica to authenticate against the source database server.If this field is used then the 'client_key' field is mandatory.",
          "type": "string"
        },
        "caCertificate": {
          "description": "Required. Input only. The x509 PEM-encoded certificate of the CA that signed the source database server's certificate. The replica will use this certificate to verify it's connecting to the right host.",
          "type": "string"
        }
      }
    },
    "PostgreSqlConnectionProfile": {
      "id": "PostgreSqlConnectionProfile",
      "description": "Specifies connection parameters required specifically for PostgreSQL databases.",
      "type": "object",
      "properties": {
        "host": {
          "description": "Required. The IP or hostname of the source PostgreSQL database.",
          "type": "string"
        },
        "port": {
          "description": "Required. The network port of the source PostgreSQL database.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "description": "Required. The username that Database Migration Service will use to connect to the database. The value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password for the user that Database Migration Service will be using to connect to the database. This field is not returned on request, and the value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "passwordSet": {
          "description": "Output only. Indicates If this connection profile password is stored.",
          "readOnly": true,
          "type": "boolean"
        },
        "ssl": {
          "description": "SSL configuration for the destination to connect to the source database.",
          "$ref": "SslConfig"
        },
        "cloudSqlId": {
          "description": "If the source is a Cloud SQL database, use this field to provide the Cloud SQL instance ID of the source.",
          "type": "string"
        },
        "networkArchitecture": {
          "description": "Output only. If the source is a Cloud SQL database, this field indicates the network architecture it's associated with.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "Instance is in Cloud SQL's old producer network architecture.",
            "Instance is in Cloud SQL's new producer network architecture."
          ],
          "enum": [
            "NETWORK_ARCHITECTURE_UNSPECIFIED",
            "NETWORK_ARCHITECTURE_OLD_CSQL_PRODUCER",
            "NETWORK_ARCHITECTURE_NEW_CSQL_PRODUCER"
          ]
        },
        "staticIpConnectivity": {
          "description": "Static ip connectivity data (default, no additional details needed).",
          "$ref": "StaticIpConnectivity"
        },
        "privateServiceConnectConnectivity": {
          "description": "Private service connect connectivity.",
          "$ref": "PrivateServiceConnectConnectivity"
        }
      }
    },
    "PrivateServiceConnectConnectivity": {
      "id": "PrivateServiceConnectConnectivity",
      "description": "Private Service Connect connectivity (https:\/\/cloud.google.com\/vpc\/docs\/private-service-connect#benefits-services)",
      "type": "object",
      "properties": {
        "serviceAttachment": {
          "description": "Required. A service attachment that exposes a database, and has the following format: projects\/{project}\/regions\/{region}\/serviceAttachments\/{service_attachment_name}",
          "type": "string"
        }
      }
    },
    "OracleConnectionProfile": {
      "id": "OracleConnectionProfile",
      "description": "Specifies connection parameters required specifically for Oracle databases.",
      "type": "object",
      "properties": {
        "host": {
          "description": "Required. The IP or hostname of the source Oracle database.",
          "type": "string"
        },
        "port": {
          "description": "Required. The network port of the source Oracle database.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "description": "Required. The username that Database Migration Service will use to connect to the database. The value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password for the user that Database Migration Service will be using to connect to the database. This field is not returned on request, and the value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "passwordSet": {
          "description": "Output only. Indicates whether a new password is included in the request.",
          "readOnly": true,
          "type": "boolean"
        },
        "databaseService": {
          "description": "Required. Database service for the Oracle connection.",
          "type": "string"
        },
        "staticServiceIpConnectivity": {
          "description": "Static Service IP connectivity.",
          "$ref": "StaticServiceIpConnectivity"
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        },
        "privateConnectivity": {
          "description": "Private connectivity.",
          "$ref": "PrivateConnectivity"
        }
      }
    },
    "StaticServiceIpConnectivity": {
      "id": "StaticServiceIpConnectivity",
      "description": "Static IP address connectivity configured on service project.",
      "type": "object",
      "properties": {
      }
    },
    "ForwardSshTunnelConnectivity": {
      "id": "ForwardSshTunnelConnectivity",
      "description": "Forward SSH Tunnel connectivity.",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the SSH tunnel.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the SSH tunnel.",
          "type": "string"
        },
        "port": {
          "description": "Port for the SSH tunnel, default value is 22.",
          "type": "integer",
          "format": "int32"
        },
        "password": {
          "description": "Input only. SSH password.",
          "type": "string"
        },
        "privateKey": {
          "description": "Input only. SSH private key.",
          "type": "string"
        }
      }
    },
    "PrivateConnectivity": {
      "id": "PrivateConnectivity",
      "description": "Private Connectivity.",
      "type": "object",
      "properties": {
        "privateConnection": {
          "description": "Required. The resource name (URI) of the private connection.",
          "type": "string"
        }
      }
    },
    "CloudSqlConnectionProfile": {
      "id": "CloudSqlConnectionProfile",
      "description": "Specifies required connection parameters, and, optionally, the parameters required to create a Cloud SQL destination database instance.",
      "type": "object",
      "properties": {
        "cloudSqlId": {
          "description": "Output only. The Cloud SQL instance ID that this connection profile is associated with.",
          "readOnly": true,
          "type": "string"
        },
        "settings": {
          "description": "Immutable. Metadata used to create the destination Cloud SQL database.",
          "$ref": "CloudSqlSettings"
        },
        "privateIp": {
          "description": "Output only. The Cloud SQL database instance's private IP.",
          "readOnly": true,
          "type": "string"
        },
        "publicIp": {
          "description": "Output only. The Cloud SQL database instance's public IP.",
          "readOnly": true,
          "type": "string"
        },
        "additionalPublicIp": {
          "description": "Output only. The Cloud SQL database instance's additional (outgoing) public IP. Used when the Cloud SQL database availability type is REGIONAL (i.e. multiple zones \/ highly available).",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CloudSqlSettings": {
      "id": "CloudSqlSettings",
      "description": "Settings for creating a Cloud SQL database instance.",
      "type": "object",
      "properties": {
        "databaseVersion": {
          "description": "The database engine type and version.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified version.",
            "MySQL 5.6.",
            "MySQL 5.7.",
            "PostgreSQL 9.6.",
            "PostgreSQL 11.",
            "PostgreSQL 10.",
            "MySQL 8.0.",
            "PostgreSQL 12.",
            "PostgreSQL 13.",
            "PostgreSQL 14."
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "POSTGRES_10",
            "MYSQL_8_0",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14"
          ]
        },
        "userLabels": {
          "description": "The resource labels for a Cloud SQL instance to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"18kg\", \"count\": \"3\" }`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tier": {
          "description": "The tier (or machine type) for this instance, for example: `db-n1-standard-1` (MySQL instances) or `db-custom-1-3840` (PostgreSQL instances). For more information, see [Cloud SQL Instance Settings](https:\/\/cloud.google.com\/sql\/docs\/mysql\/instance-settings).",
          "type": "string"
        },
        "storageAutoResizeLimit": {
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.",
          "type": "string",
          "format": "int64"
        },
        "activationPolicy": {
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is 'RUNNABLE'. Valid values: 'ALWAYS': The instance is on, and remains so even in the absence of connection requests. `NEVER`: The instance is off; it is not activated, even if a connection request arrives.",
          "type": "string",
          "enumDescriptions": [
            "unspecified policy.",
            "The instance is always up and running.",
            "The instance should never spin up."
          ],
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER"
          ]
        },
        "ipConfig": {
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled.",
          "$ref": "SqlIpConfig"
        },
        "autoStorageIncrease": {
          "description": "[default: ON] If you enable this setting, Cloud SQL checks your available storage every 30 seconds. If the available storage falls below a threshold size, Cloud SQL automatically adds additional storage capacity. If the available storage repeatedly falls below the threshold size, Cloud SQL continues to add storage until it reaches the maximum of 30 TB.",
          "type": "boolean"
        },
        "databaseFlags": {
          "description": "The database flags passed to the Cloud SQL instance at startup. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dataDiskType": {
          "description": "The type of storage: `PD_SSD` (default) or `PD_HDD`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "SSD disk.",
            "HDD disk."
          ],
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD"
          ]
        },
        "dataDiskSizeGb": {
          "description": "The storage capacity available to the database, in GB. The minimum (and default) size is 10GB.",
          "type": "string",
          "format": "int64"
        },
        "zone": {
          "description": "The Google Cloud Platform zone where your Cloud SQL database instance is located.",
          "type": "string"
        },
        "secondaryZone": {
          "description": "Optional. The Google Cloud Platform zone where the failover Cloud SQL database instance is located. Used when the Cloud SQL database availability type is REGIONAL (i.e. multiple zones \/ highly available).",
          "type": "string"
        },
        "sourceId": {
          "description": "The Database Migration Service source connection profile ID, in the format: `projects\/my_project_name\/locations\/us-central1\/connectionProfiles\/connection_profile_ID`",
          "type": "string"
        },
        "rootPassword": {
          "description": "Input only. Initial root password.",
          "type": "string"
        },
        "rootPasswordSet": {
          "description": "Output only. Indicates If this connection profile root password is stored.",
          "readOnly": true,
          "type": "boolean"
        },
        "collation": {
          "description": "The Cloud SQL default instance level collation.",
          "type": "string"
        },
        "cmekKeyName": {
          "description": "The KMS key name used for the csql instance.",
          "type": "string"
        },
        "availabilityType": {
          "description": "Optional. Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data availability. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available).",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal availablility instance.",
            "Regional availability instance."
          ],
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        }
      }
    },
    "SqlIpConfig": {
      "id": "SqlIpConfig",
      "description": "IP Management configuration.",
      "type": "object",
      "properties": {
        "enableIpv4": {
          "description": "Whether the instance should be assigned an IPv4 address or not.",
          "type": "boolean"
        },
        "privateNetwork": {
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `projects\/myProject\/global\/networks\/default`. This setting can be updated, but it cannot be removed after it is set.",
          "type": "string"
        },
        "requireSsl": {
          "description": "Whether SSL connections over IP should be enforced or not.",
          "type": "boolean"
        },
        "authorizedNetworks": {
          "description": "The list of external networks that are allowed to connect to the instance using the IP. See https:\/\/en.wikipedia.org\/wiki\/CIDR_notation#CIDR_notation, also known as 'slash' notation (e.g. `192.168.100.0\/24`).",
          "type": "array",
          "items": {
            "$ref": "SqlAclEntry"
          }
        }
      }
    },
    "SqlAclEntry": {
      "id": "SqlAclEntry",
      "description": "An entry for an Access Control list.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The allowlisted value for the access control list.",
          "type": "string"
        },
        "expireTime": {
          "description": "The time when this access control entry expires in [RFC 3339](https:\/\/tools.ietf.org\/html\/rfc3339) format, for example: `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "ttl": {
          "description": "Input only. The time-to-leave of this access control entry.",
          "type": "string",
          "format": "google-duration"
        },
        "label": {
          "description": "A label to identify this entry.",
          "type": "string"
        }
      }
    },
    "AlloyDbConnectionProfile": {
      "id": "AlloyDbConnectionProfile",
      "description": "Specifies required connection parameters, and the parameters required to create an AlloyDB destination cluster.",
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "Required. The AlloyDB cluster ID that this connection profile is associated with.",
          "type": "string"
        },
        "settings": {
          "description": "Immutable. Metadata used to create the destination AlloyDB cluster.",
          "$ref": "AlloyDbSettings"
        }
      }
    },
    "AlloyDbSettings": {
      "id": "AlloyDbSettings",
      "description": "Settings for creating an AlloyDB cluster.",
      "type": "object",
      "properties": {
        "initialUser": {
          "description": "Required. Input only. Initial user to setup during cluster creation. Required.",
          "$ref": "UserPassword"
        },
        "vpcNetwork": {
          "description": "Required. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: \"projects\/{project_number}\/global\/networks\/{network_id}\". This is required to create a cluster.",
          "type": "string"
        },
        "labels": {
          "description": "Labels for the AlloyDB cluster created by DMS. An object containing a list of 'key', 'value' pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "primaryInstanceSettings": {
          "$ref": "PrimaryInstanceSettings"
        }
      }
    },
    "UserPassword": {
      "id": "UserPassword",
      "description": "The username\/password for a database user. Used for specifying initial users at cluster creation time.",
      "type": "object",
      "properties": {
        "user": {
          "description": "The database username.",
          "type": "string"
        },
        "password": {
          "description": "The initial password for the user.",
          "type": "string"
        },
        "passwordSet": {
          "description": "Output only. Indicates if the initial_user.password field has been set.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "PrimaryInstanceSettings": {
      "id": "PrimaryInstanceSettings",
      "description": "Settings for the cluster's primary instance",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. The ID of the AlloyDB primary instance. The ID must satisfy the regex expression \"[a-z0-9-]+\".",
          "type": "string"
        },
        "machineConfig": {
          "description": "Configuration for the machines that host the underlying database engine.",
          "$ref": "MachineConfig"
        },
        "databaseFlags": {
          "description": "Database flags to pass to AlloyDB when DMS is creating the AlloyDB cluster and instances. See the AlloyDB documentation for how these can be used.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Labels for the AlloyDB primary instance created by DMS. An object containing a list of 'key', 'value' pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "privateIp": {
          "description": "Output only. The private IP address for the Instance. This is the connection endpoint for an end-user application.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "MachineConfig": {
      "id": "MachineConfig",
      "description": "MachineConfig describes the configuration of a machine.",
      "type": "object",
      "properties": {
        "cpuCount": {
          "description": "The number of CPU's in the VM instance.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PrivateConnection": {
      "id": "PrivateConnection",
      "description": "The PrivateConnection resource is used to establish private connectivity with the customer's network.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last update time of the resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "The resource labels for private connections to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The private connection display name.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the private connection.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state.",
            "The private connection has been deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE",
            "DELETED"
          ]
        },
        "error": {
          "description": "Output only. The error details in case of state FAILED.",
          "readOnly": true,
          "$ref": "Status"
        },
        "vpcPeeringConfig": {
          "description": "VPC peering configuration.",
          "$ref": "VpcPeeringConfig"
        }
      }
    },
    "VpcPeeringConfig": {
      "id": "VpcPeeringConfig",
      "description": "The VPC peering configuration is used to create VPC peering with the consumer's VPC.",
      "type": "object",
      "properties": {
        "vpcName": {
          "description": "Required. Fully qualified name of the VPC that Database Migration Service will peer to.",
          "type": "string"
        },
        "subnet": {
          "description": "Required. A free subnet for peering. (CIDR of \/29)",
          "type": "string"
        }
      }
    },
    "ListPrivateConnectionsResponse": {
      "id": "ListPrivateConnectionsResponse",
      "description": "Response message for 'ListPrivateConnections' request.",
      "type": "object",
      "properties": {
        "privateConnections": {
          "description": "List of private connections.",
          "type": "array",
          "items": {
            "$ref": "PrivateConnection"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ConversionWorkspace": {
      "id": "ConversionWorkspace",
      "description": "The main conversion workspace resource entity.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Full name of the workspace resource, in the form of: projects\/{project}\/locations\/{location}\/conversionWorkspaces\/{conversion_workspace}.",
          "type": "string"
        },
        "source": {
          "description": "Required. The source engine details.",
          "$ref": "DatabaseEngineInfo"
        },
        "destination": {
          "description": "Required. The destination engine details.",
          "$ref": "DatabaseEngineInfo"
        },
        "globalSettings": {
          "description": "A generic list of settings for the workspace. The settings are database pair dependant and can indicate default behavior for the mapping rules engine or turn on or off specific features. Such examples can be: convert_foreign_key_to_interleave=true, skip_triggers=false, ignore_non_table_synonyms=true",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hasUncommittedChanges": {
          "description": "Output only. Whether the workspace has uncommitted changes (changes which were made after the workspace was committed).",
          "readOnly": true,
          "type": "boolean"
        },
        "latestCommitId": {
          "description": "Output only. The latest commit ID.",
          "readOnly": true,
          "type": "string"
        },
        "latestCommitTime": {
          "description": "Output only. The timestamp when the workspace was committed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The timestamp when the workspace resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the workspace resource was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The display name for the workspace.",
          "type": "string"
        }
      }
    },
    "DatabaseEngineInfo": {
      "id": "DatabaseEngineInfo",
      "description": "The type and version of a source or destination database.",
      "type": "object",
      "properties": {
        "engine": {
          "description": "Required. Engine type.",
          "type": "string",
          "enumDescriptions": [
            "The source database engine of the migration job is unknown.",
            "The source engine is MySQL.",
            "The source engine is PostgreSQL.",
            "The source engine is Oracle."
          ],
          "enum": [
            "DATABASE_ENGINE_UNSPECIFIED",
            "MYSQL",
            "POSTGRESQL",
            "ORACLE"
          ]
        },
        "version": {
          "description": "Required. Engine named version, for example 12.c.1.",
          "type": "string"
        }
      }
    },
    "ListConversionWorkspacesResponse": {
      "id": "ListConversionWorkspacesResponse",
      "description": "Response message for 'ListConversionWorkspaces' request.",
      "type": "object",
      "properties": {
        "conversionWorkspaces": {
          "description": "The list of conversion workspace objects.",
          "type": "array",
          "items": {
            "$ref": "ConversionWorkspace"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SeedConversionWorkspaceRequest": {
      "id": "SeedConversionWorkspaceRequest",
      "description": "Request message for 'SeedConversionWorkspace' request.",
      "type": "object",
      "properties": {
        "autoCommit": {
          "description": "Should the conversion workspace be committed automatically after the seed operation.",
          "type": "boolean"
        },
        "sourceConnectionProfile": {
          "description": "Fully qualified (Uri) name of the source connection profile.",
          "type": "string"
        },
        "destinationConnectionProfile": {
          "description": "Fully qualified (Uri) name of the destination connection profile.",
          "type": "string"
        }
      }
    },
    "ImportMappingRulesRequest": {
      "id": "ImportMappingRulesRequest",
      "description": "Request message for 'ImportMappingRules' request.",
      "type": "object",
      "properties": {
        "rulesFormat": {
          "description": "The format of the rules content file.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified rules format.",
            "HarbourBridge session file.",
            "Ora2Pg configuration file."
          ],
          "enum": [
            "IMPORT_RULES_FILE_FORMAT_UNSPECIFIED",
            "IMPORT_RULES_FILE_FORMAT_HARBOUR_BRIDGE_SESSION_FILE",
            "IMPORT_RULES_FILE_FORMAT_ORATOPG_CONFIG_FILE"
          ]
        },
        "rulesFiles": {
          "description": "One or more rules files.",
          "type": "array",
          "items": {
            "$ref": "RulesFile"
          }
        },
        "autoCommit": {
          "description": "Should the conversion workspace be committed automatically after the import operation.",
          "type": "boolean"
        }
      }
    },
    "RulesFile": {
      "id": "RulesFile",
      "description": "Details of a single rules file.",
      "type": "object",
      "properties": {
        "rulesSourceFilename": {
          "description": "The filename of the rules that needs to be converted. The filename is used mainly so that future logs of the import rules job contain it, and can therefore be searched by it.",
          "type": "string"
        },
        "rulesContent": {
          "description": "The text content of the rules that needs to be converted.",
          "type": "string"
        }
      }
    },
    "ConvertConversionWorkspaceRequest": {
      "id": "ConvertConversionWorkspaceRequest",
      "description": "Request message for 'ConvertConversionWorkspace' request.",
      "type": "object",
      "properties": {
        "autoCommit": {
          "description": "Specifies whether the conversion workspace is to be committed automatically after the conversion.",
          "type": "boolean"
        },
        "filter": {
          "description": "Filter the entities to convert. Leaving this field empty will convert all of the entities. Supports Google AIP-160 style filtering.",
          "type": "string"
        }
      }
    },
    "CommitConversionWorkspaceRequest": {
      "id": "CommitConversionWorkspaceRequest",
      "description": "Request message for 'CommitConversionWorkspace' request.",
      "type": "object",
      "properties": {
        "commitName": {
          "description": "Optional. Optional name of the commit.",
          "type": "string"
        }
      }
    },
    "RollbackConversionWorkspaceRequest": {
      "id": "RollbackConversionWorkspaceRequest",
      "description": "Request message for 'RollbackConversionWorkspace' request.",
      "type": "object",
      "properties": {
      }
    },
    "ApplyConversionWorkspaceRequest": {
      "id": "ApplyConversionWorkspaceRequest",
      "description": "Request message for 'ApplyConversionWorkspace' request.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Filter which entities to apply. Leaving this field empty will apply all of the entities. Supports Google AIP 160 based filtering.",
          "type": "string"
        },
        "connectionProfile": {
          "description": "Fully qualified (Uri) name of the destination connection profile.",
          "type": "string"
        }
      }
    },
    "DescribeDatabaseEntitiesResponse": {
      "id": "DescribeDatabaseEntitiesResponse",
      "description": "Response message for 'DescribeDatabaseEntities' request.",
      "type": "object",
      "properties": {
        "databaseEntities": {
          "description": "The list of database entities for the conversion workspace.",
          "type": "array",
          "items": {
            "$ref": "DatabaseEntity"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "DatabaseEntity": {
      "id": "DatabaseEntity",
      "description": "The base entity type for all the database related entities. The message contains the entity name, the name of its parent, the entity type, and the specific details per entity type.",
      "type": "object",
      "properties": {
        "shortName": {
          "description": "The short name (e.g. table name) of the entity.",
          "type": "string"
        },
        "parentEntity": {
          "description": "The full name of the parent entity (e.g. schema name).",
          "type": "string"
        },
        "tree": {
          "description": "The type of tree the entity belongs to.",
          "type": "string",
          "enumDescriptions": [
            "Tree type unspecified.",
            "Tree of entities loaded from a source database.",
            "Tree of entities converted from the source tree using the mapping rules.",
            "Tree of entities observed on the destination database."
          ],
          "enum": [
            "TREE_TYPE_UNSPECIFIED",
            "SOURCE",
            "DRAFT",
            "DESTINATION"
          ]
        },
        "entityType": {
          "description": "The type of the database entity (table, view, index, ...).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Material View.",
            "Database."
          ],
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIAL_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ]
        },
        "mappings": {
          "description": "Details about entity mappings. For source tree entities, this holds the draft entities which were generated by the mapping rules. For draft tree entities, this holds the source entities which were converted to form the draft entity. Destination entities will have no mapping details.",
          "type": "array",
          "items": {
            "$ref": "EntityMapping"
          }
        },
        "schema": {
          "description": "Schema.",
          "$ref": "SchemaEntity"
        },
        "table": {
          "description": "Table.",
          "$ref": "TableEntity"
        },
        "view": {
          "description": "View.",
          "$ref": "ViewEntity"
        },
        "sequence": {
          "description": "Sequence.",
          "$ref": "SequenceEntity"
        },
        "storedProcedure": {
          "description": "Stored procedure.",
          "$ref": "StoredProcedureEntity"
        },
        "databaseFunction": {
          "description": "Function.",
          "$ref": "FunctionEntity"
        },
        "synonym": {
          "description": "Synonym.",
          "$ref": "SynonymEntity"
        },
        "databasePackage": {
          "description": "Package.",
          "$ref": "PackageEntity"
        }
      }
    },
    "EntityMapping": {
      "id": "EntityMapping",
      "description": "Details of the mappings of a database entity.",
      "type": "object",
      "properties": {
        "sourceEntity": {
          "description": "Source entity full name. The source entity can also be a column, index or constraint using the same naming notation schema.table.column.",
          "type": "string"
        },
        "draftEntity": {
          "description": "Target entity full name. The draft entity can also include a column, index or constraint using the same naming notation schema.table.column.",
          "type": "string"
        },
        "mappingLog": {
          "description": "Entity mapping log entries. Multiple rules can be effective and contribute changes to a converted entity, such as a rule can handle the entity name, another rule can handle an entity type. In addition, rules which did not change the entity are also logged along with the reason preventing them to do so.",
          "type": "array",
          "items": {
            "$ref": "EntityMappingLogEntry"
          }
        }
      }
    },
    "EntityMappingLogEntry": {
      "id": "EntityMappingLogEntry",
      "description": "A single record of a rule which was used for a mapping.",
      "type": "object",
      "properties": {
        "ruleId": {
          "description": "Which rule caused this log entry.",
          "type": "string"
        },
        "ruleRevisionId": {
          "description": "Rule revision ID.",
          "type": "string"
        },
        "mappingComment": {
          "description": "Comment.",
          "type": "string"
        }
      }
    },
    "SchemaEntity": {
      "id": "SchemaEntity",
      "description": "Schema typically has no parent entity, but can have a parent entity DatabaseInstance (for database engines which support it). For some database engines, the terms schema and user can be used interchangeably when they refer to a namespace or a collection of other database entities. Can store additional information which is schema specific.",
      "type": "object",
      "properties": {
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "TableEntity": {
      "id": "TableEntity",
      "description": "Table's parent is a schema.",
      "type": "object",
      "properties": {
        "columns": {
          "description": "Table columns.",
          "type": "array",
          "items": {
            "$ref": "ColumnEntity"
          }
        },
        "constraints": {
          "description": "Table constraints.",
          "type": "array",
          "items": {
            "$ref": "ConstraintEntity"
          }
        },
        "indices": {
          "description": "Table indices.",
          "type": "array",
          "items": {
            "$ref": "IndexEntity"
          }
        },
        "triggers": {
          "description": "Table triggers.",
          "type": "array",
          "items": {
            "$ref": "TriggerEntity"
          }
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "comment": {
          "description": "Comment associated with the table.",
          "type": "string"
        }
      }
    },
    "ColumnEntity": {
      "id": "ColumnEntity",
      "description": "Column is not used as an independent entity, it is retrieved as part of a Table entity.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Column name.",
          "type": "string"
        },
        "dataType": {
          "description": "Column data type.",
          "type": "string"
        },
        "charset": {
          "description": "Charset override - instead of table level charset.",
          "type": "string"
        },
        "collation": {
          "description": "Collation override - instead of table level collation.",
          "type": "string"
        },
        "length": {
          "description": "Column length - e.g. varchar (50).",
          "type": "string",
          "format": "int64"
        },
        "precision": {
          "description": "Column precision - when relevant.",
          "type": "integer",
          "format": "int32"
        },
        "scale": {
          "description": "Column scale - when relevant.",
          "type": "integer",
          "format": "int32"
        },
        "fractionalSecondsPrecision": {
          "description": "Column fractional second precision - used for timestamp based datatypes.",
          "type": "integer",
          "format": "int32"
        },
        "array": {
          "description": "Is the column of array type.",
          "type": "boolean"
        },
        "arrayLength": {
          "description": "If the column is array, of which length.",
          "type": "integer",
          "format": "int32"
        },
        "nullable": {
          "description": "Is the column nullable.",
          "type": "boolean"
        },
        "autoGenerated": {
          "description": "Is the column auto-generated\/identity.",
          "type": "boolean"
        },
        "udt": {
          "description": "Is the column a UDT.",
          "type": "boolean"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "setValues": {
          "description": "Specifies the list of values allowed in the column. Only used for set data type.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "comment": {
          "description": "Comment associated with the column.",
          "type": "string"
        },
        "ordinalPosition": {
          "description": "Column order in the table.",
          "type": "integer",
          "format": "int32"
        },
        "defaultValue": {
          "description": "Default value of the column.",
          "type": "string"
        }
      }
    },
    "ConstraintEntity": {
      "id": "ConstraintEntity",
      "description": "Constraint is not used as an independent entity, it is retrieved as part of another entity such as Table or View.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the table constraint.",
          "type": "string"
        },
        "type": {
          "description": "Type of constraint, for example unique, primary key, foreign key (currently only primary key is supported).",
          "type": "string"
        },
        "tableColumns": {
          "description": "Table columns used as part of the Constraint, for example primary key constraint should list the columns which constitutes the key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "referenceColumns": {
          "description": "Reference columns which may be associated with the constraint. For example, if the constraint is a FOREIGN_KEY, this represents the list of full names of referenced columns by the foreign key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "referenceTable": {
          "description": "Reference table which may be associated with the constraint. For example, if the constraint is a FOREIGN_KEY, this represents the list of full name of the referenced table by the foreign key.",
          "type": "string"
        },
        "tableName": {
          "description": "Table which is associated with the constraint. In case the constraint is defined on a table, this field is left empty as this information is stored in parent_name. However, if constraint is defined on a view, this field stores the table name on which the view is defined.",
          "type": "string"
        }
      }
    },
    "IndexEntity": {
      "id": "IndexEntity",
      "description": "Index is not used as an independent entity, it is retrieved as part of a Table entity.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the index.",
          "type": "string"
        },
        "type": {
          "description": "Type of index, for example B-TREE.",
          "type": "string"
        },
        "tableColumns": {
          "description": "Table columns used as part of the Index, for example B-TREE index should list the columns which constitutes the index.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unique": {
          "description": "Boolean value indicating whether the index is unique.",
          "type": "boolean"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "TriggerEntity": {
      "id": "TriggerEntity",
      "description": "Trigger is not used as an independent entity, it is retrieved as part of a Table entity.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the trigger.",
          "type": "string"
        },
        "triggeringEvents": {
          "description": "The DML, DDL, or database events that fire the trigger, for example INSERT, UPDATE.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "triggerType": {
          "description": "Indicates when the trigger fires, for example BEFORE STATEMENT, AFTER EACH ROW.",
          "type": "string"
        },
        "sqlCode": {
          "description": "The SQL code which creates the trigger.",
          "type": "string"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ViewEntity": {
      "id": "ViewEntity",
      "description": "View's parent is a schema.",
      "type": "object",
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the view.",
          "type": "string"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "constraints": {
          "description": "View constraints.",
          "type": "array",
          "items": {
            "$ref": "ConstraintEntity"
          }
        }
      }
    },
    "SequenceEntity": {
      "id": "SequenceEntity",
      "description": "Sequence's parent is a schema.",
      "type": "object",
      "properties": {
        "increment": {
          "description": "Increment value for the sequence.",
          "type": "string",
          "format": "int64"
        },
        "startValue": {
          "description": "Start number for the sequence represented as bytes to accommodate large. numbers",
          "type": "string",
          "format": "byte"
        },
        "maxValue": {
          "description": "Maximum number for the sequence represented as bytes to accommodate large. numbers",
          "type": "string",
          "format": "byte"
        },
        "minValue": {
          "description": "Minimum number for the sequence represented as bytes to accommodate large. numbers",
          "type": "string",
          "format": "byte"
        },
        "cycle": {
          "description": "Indicates whether the sequence value should cycle through.",
          "type": "boolean"
        },
        "cache": {
          "description": "Indicates number of entries to cache \/ precreate.",
          "type": "string",
          "format": "int64"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "StoredProcedureEntity": {
      "id": "StoredProcedureEntity",
      "description": "Stored procedure's parent is a schema.",
      "type": "object",
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the stored procedure.",
          "type": "string"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "FunctionEntity": {
      "id": "FunctionEntity",
      "description": "Function's parent is a schema.",
      "type": "object",
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the function.",
          "type": "string"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "SynonymEntity": {
      "id": "SynonymEntity",
      "description": "Synonym's parent is a schema.",
      "type": "object",
      "properties": {
        "sourceEntity": {
          "description": "The name of the entity for which the synonym is being created (the source).",
          "type": "string"
        },
        "sourceType": {
          "description": "The type of the entity for which the synonym is being created (usually a table or a sequence).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Material View.",
            "Database."
          ],
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIAL_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ]
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "PackageEntity": {
      "id": "PackageEntity",
      "description": "Package's parent is a schema.",
      "type": "object",
      "properties": {
        "packageSqlCode": {
          "description": "The SQL code which creates the package.",
          "type": "string"
        },
        "packageBody": {
          "description": "The SQL code which creates the package body. If the package specification has cursors or subprograms, then the package body is mandatory.",
          "type": "string"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "SearchBackgroundJobsResponse": {
      "id": "SearchBackgroundJobsResponse",
      "description": "Response message for 'SearchBackgroundJobs' request.",
      "type": "object",
      "properties": {
        "jobs": {
          "description": "The list of conversion workspace mapping rules.",
          "type": "array",
          "items": {
            "$ref": "BackgroundJobLogEntry"
          }
        }
      }
    },
    "BackgroundJobLogEntry": {
      "id": "BackgroundJobLogEntry",
      "description": "Execution log of a background job.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The background job log entry ID.",
          "type": "string"
        },
        "jobType": {
          "description": "The type of job that was executed.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified background job type.",
            "Job to seed from the source database.",
            "Job to convert the source database into a draft of the destination database.",
            "Job to apply the draft tree onto the destination.",
            "Job to import and convert mapping rules from an external source such as an ora2pg config file."
          ],
          "enum": [
            "BACKGROUND_JOB_TYPE_UNSPECIFIED",
            "BACKGROUND_JOB_TYPE_SOURCE_SEED",
            "BACKGROUND_JOB_TYPE_CONVERT",
            "BACKGROUND_JOB_TYPE_APPLY_DESTINATION",
            "BACKGROUND_JOB_TYPE_IMPORT_RULES_FILE"
          ]
        },
        "startTime": {
          "description": "The timestamp when the background job was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The timestamp when the background job was finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "completionState": {
          "description": "Job completion state, i.e. the final state after the job completed.",
          "type": "string",
          "enumDescriptions": [
            "The status is not specified. This state is used when job is not yet finished.",
            "Success.",
            "Error."
          ],
          "enum": [
            "JOB_COMPLETION_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "completionComment": {
          "description": "Job completion comment, such as how many entities were seeded, how many warnings were found during conversion, and similar information.",
          "type": "string"
        },
        "requestAutocommit": {
          "description": "Whether the client requested the conversion workspace to be committed after a successful completion of the job.",
          "type": "boolean"
        },
        "seedJobDetails": {
          "description": "Seed job details.",
          "$ref": "SeedJobDetails"
        },
        "importRulesJobDetails": {
          "description": "Import rules job details.",
          "$ref": "ImportRulesJobDetails"
        },
        "convertJobDetails": {
          "description": "Convert job details.",
          "$ref": "ConvertJobDetails"
        },
        "applyJobDetails": {
          "description": "Apply job details.",
          "$ref": "ApplyJobDetails"
        }
      }
    },
    "SeedJobDetails": {
      "id": "SeedJobDetails",
      "description": "Details regarding a Seed background job.",
      "type": "object",
      "properties": {
        "connectionProfile": {
          "description": "The connection profile which was used for the seed job.",
          "type": "string"
        }
      }
    },
    "ImportRulesJobDetails": {
      "id": "ImportRulesJobDetails",
      "description": "Details regarding an Import Rules background job.",
      "type": "object",
      "properties": {
        "files": {
          "description": "File names used for the import rules job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileFormat": {
          "description": "The requested file format.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified rules format.",
            "HarbourBridge session file.",
            "Ora2Pg configuration file."
          ],
          "enum": [
            "IMPORT_RULES_FILE_FORMAT_UNSPECIFIED",
            "IMPORT_RULES_FILE_FORMAT_HARBOUR_BRIDGE_SESSION_FILE",
            "IMPORT_RULES_FILE_FORMAT_ORATOPG_CONFIG_FILE"
          ]
        }
      }
    },
    "ConvertJobDetails": {
      "id": "ConvertJobDetails",
      "description": "Details regarding a Convert background job.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "AIP-160 based filter used to specify the entities to convert",
          "type": "string"
        }
      }
    },
    "ApplyJobDetails": {
      "id": "ApplyJobDetails",
      "description": "Details regarding an Apply background job.",
      "type": "object",
      "properties": {
        "connectionProfile": {
          "description": "The connection profile which was used for the apply job.",
          "type": "string"
        },
        "filter": {
          "description": "AIP-160 based filter used to specify the entities to apply",
          "type": "string"
        }
      }
    },
    "DescribeConversionWorkspaceRevisionsResponse": {
      "id": "DescribeConversionWorkspaceRevisionsResponse",
      "description": "Response message for 'DescribeConversionWorkspaceRevisions' request.",
      "type": "object",
      "properties": {
        "revisions": {
          "description": "The list of conversion workspace revisions.",
          "type": "array",
          "items": {
            "$ref": "ConversionWorkspace"
          }
        }
      }
    },
    "FetchStaticIpsResponse": {
      "id": "FetchStaticIpsResponse",
      "description": "Response message for a 'FetchStaticIps' request.",
      "type": "object",
      "properties": {
        "staticIps": {
          "description": "List of static IPs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
[...]
