{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "dataproc:v1",
  "name": "dataproc",
  "canonicalName": "Dataproc",
  "version": "v1",
  "revision": "0",
  "title": "Cloud Dataproc API",
  "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/dataproc/",
  "protocol": "rest",
  "rootUrl": "https://dataproc.googleapis.com/",
  "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://dataproc.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "AutoscalingPolicy": {
      "id": "AutoscalingPolicy",
      "description": "Describes an autoscaling policy for Dataproc cluster autoscaler.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. The policy id.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The \"resource name\" of the autoscaling policy, as described in https:\/\/cloud.google.com\/apis\/design\/resource_names. For projects.regions.autoscalingPolicies, the resource name of the policy has the following format: projects\/{project_id}\/regions\/{region}\/autoscalingPolicies\/{policy_id} For projects.locations.autoscalingPolicies, the resource name of the policy has the following format: projects\/{project_id}\/locations\/{location}\/autoscalingPolicies\/{policy_id}",
          "readOnly": true,
          "type": "string"
        },
        "basicAlgorithm": {
          "$ref": "BasicAutoscalingAlgorithm"
        },
        "workerConfig": {
          "description": "Required. Describes how the autoscaler will operate for primary workers.",
          "$ref": "InstanceGroupAutoscalingPolicyConfig"
        },
        "secondaryWorkerConfig": {
          "description": "Optional. Describes how the autoscaler will operate for secondary workers.",
          "$ref": "InstanceGroupAutoscalingPolicyConfig"
        },
        "labels": {
          "description": "Optional. The labels to associate with this autoscaling policy. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https:\/\/www.ietf.org\/rfc\/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https:\/\/www.ietf.org\/rfc\/rfc1035.txt). No more than 32 labels can be associated with an autoscaling policy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BasicAutoscalingAlgorithm": {
      "id": "BasicAutoscalingAlgorithm",
      "description": "Basic algorithm for autoscaling.",
      "type": "object",
      "properties": {
        "yarnConfig": {
          "description": "Optional. YARN autoscaling configuration.",
          "$ref": "BasicYarnAutoscalingConfig"
        },
        "sparkStandaloneConfig": {
          "description": "Optional. Spark Standalone autoscaling configuration",
          "$ref": "SparkStandaloneAutoscalingConfig"
        },
        "cooldownPeriod": {
          "description": "Optional. Duration between scaling events. A scaling period starts after the update operation from the previous event has completed.Bounds: 2m, 1d. Default: 2m.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "BasicYarnAutoscalingConfig": {
      "id": "BasicYarnAutoscalingConfig",
      "description": "Basic autoscaling configurations for YARN.",
      "type": "object",
      "properties": {
        "gracefulDecommissionTimeout": {
          "description": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "type": "string",
          "format": "google-duration"
        },
        "scaleUpFactor": {
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/configuring-clusters\/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "type": "number",
          "format": "double"
        },
        "scaleDownFactor": {
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/configuring-clusters\/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "type": "number",
          "format": "double"
        },
        "scaleUpMinWorkerFraction": {
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number",
          "format": "double"
        },
        "scaleDownMinWorkerFraction": {
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "SparkStandaloneAutoscalingConfig": {
      "id": "SparkStandaloneAutoscalingConfig",
      "description": "Basic autoscaling configurations for Spark Standalone.",
      "type": "object",
      "properties": {
        "gracefulDecommissionTimeout": {
          "description": "Required. Timeout for Spark graceful decommissioning of spark workers. Specifies the duration to wait for spark worker to complete spark decomissioning tasks before forcefully removing workers. Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "type": "string",
          "format": "google-duration"
        },
        "scaleUpFactor": {
          "description": "Required. Fraction of required workers to add to Spark Standalone clusters. A scale-up factor of 1.0 will result in scaling up so that there are no more required workers for the Spark Job (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling).Bounds: 0.0, 1.0.",
          "type": "number",
          "format": "double"
        },
        "scaleDownFactor": {
          "description": "Required. Fraction of required executors to remove from Spark Serverless clusters. A scale-down factor of 1.0 will result in scaling down so that there are no more executors for the Spark Job.(more aggressive scaling). A scale-down factor closer to 0 will result in a smaller magnitude of scaling donw (less aggressive scaling).Bounds: 0.0, 1.0.",
          "type": "number",
          "format": "double"
        },
        "scaleUpMinWorkerFraction": {
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number",
          "format": "double"
        },
        "scaleDownMinWorkerFraction": {
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "InstanceGroupAutoscalingPolicyConfig": {
      "id": "InstanceGroupAutoscalingPolicyConfig",
      "description": "Configuration for the size bounds of an instance group, including its proportional size to other groups.",
      "type": "object",
      "properties": {
        "minInstances": {
          "description": "Optional. Minimum number of instances for this group.Primary workers - Bounds: 2, max_instances. Default: 2. Secondary workers - Bounds: 0, max_instances. Default: 0.",
          "type": "integer",
          "format": "int32"
        },
        "maxInstances": {
          "description": "Required. Maximum number of instances for this group. Required for primary workers. Note that by default, clusters will not use secondary workers. Required for secondary workers if the minimum secondary instances is set.Primary workers - Bounds: [min_instances, ). Secondary workers - Bounds: [min_instances, ). Default: 0.",
          "type": "integer",
          "format": "int32"
        },
        "weight": {
          "description": "Optional. Weight for the instance group, which is used to determine the fraction of total workers in the cluster from this instance group. For example, if primary workers have weight 2, and secondary workers have weight 1, the cluster will have approximately 2 primary workers for each secondary worker.The cluster may not reach the specified balance if constrained by min\/max bounds or other autoscaling settings. For example, if max_instances for secondary workers is 0, then only primary workers will be added. The cluster can also be out of balance when created.If weight is not set on any instance group, the cluster will default to equal weight for all groups: the cluster will attempt to maintain an equal number of workers in each group within the configured size bounds for each group. If weight is set for one group only, the cluster will default to zero weight on the unset group. For example if weight is set only on primary workers, the cluster will use primary workers only and no secondary workers.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListAutoscalingPoliciesResponse": {
      "id": "ListAutoscalingPoliciesResponse",
      "description": "A response to a request to list autoscaling policies in a project.",
      "type": "object",
      "properties": {
        "policies": {
          "description": "Output only. Autoscaling policies list.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AutoscalingPolicy"
          }
        },
        "nextPageToken": {
          "description": "Output only. This token is included in the response if there are more results to fetch.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "type": "object",
      "properties": {
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations\/{unique_id}.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get\/Create\/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https:\/\/github.com\/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Batch": {
      "id": "Batch",
      "description": "A representation of a batch workload in the service.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the batch.",
          "readOnly": true,
          "type": "string"
        },
        "uuid": {
          "description": "Output only. A batch UUID (Unique Universal Identifier). The service generates this value when it creates the batch.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the batch was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "pysparkBatch": {
          "description": "Optional. PySpark batch config.",
          "$ref": "PySparkBatch"
        },
        "sparkBatch": {
          "description": "Optional. Spark batch config.",
          "$ref": "SparkBatch"
        },
        "sparkRBatch": {
          "description": "Optional. SparkR batch config.",
          "$ref": "SparkRBatch"
        },
        "sparkSqlBatch": {
          "description": "Optional. SparkSql batch config.",
          "$ref": "SparkSqlBatch"
        },
        "runtimeInfo": {
          "description": "Output only. Runtime information about batch execution.",
          "readOnly": true,
          "$ref": "RuntimeInfo"
        },
        "state": {
          "description": "Output only. The state of the batch.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The batch state is unknown.",
            "The batch is created before running.",
            "The batch is running.",
            "The batch is cancelling.",
            "The batch cancellation was successful.",
            "The batch completed successfully.",
            "The batch is no longer running due to an error."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "stateMessage": {
          "description": "Output only. Batch state details, such as a failure description if the state is FAILED.",
          "readOnly": true,
          "type": "string"
        },
        "stateTime": {
          "description": "Output only. The time when the batch entered a current state.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "creator": {
          "description": "Output only. The email address of the user who created the batch.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels to associate with this batch. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https:\/\/www.ietf.org\/rfc\/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https:\/\/www.ietf.org\/rfc\/rfc1035.txt). No more than 32 labels can be associated with a batch.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "runtimeConfig": {
          "description": "Optional. Runtime configuration for the batch execution.",
          "$ref": "RuntimeConfig"
        },
        "environmentConfig": {
          "description": "Optional. Environment configuration for the batch execution.",
          "$ref": "EnvironmentConfig"
        },
        "operation": {
          "description": "Output only. The resource name of the operation associated with this batch.",
          "readOnly": true,
          "type": "string"
        },
        "stateHistory": {
          "description": "Output only. Historical state information for the batch.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StateHistory"
          }
        }
      }
    },
    "PySparkBatch": {
      "id": "PySparkBatch",
      "description": "A configuration for running an Apache PySpark (https:\/\/spark.apache.org\/docs\/latest\/api\/python\/getting_started\/quickstart.html) batch workload.",
      "type": "object",
      "properties": {
        "mainPythonFileUri": {
          "description": "Required. The HCFS URI of the main Python file to use as the Spark driver. Must be a .py file.",
          "type": "string"
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pythonFileUris": {
          "description": "Optional. HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the classpath of the Spark driver and tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SparkBatch": {
      "id": "SparkBatch",
      "description": "A configuration for running an Apache Spark (https:\/\/spark.apache.org\/) batch workload.",
      "type": "object",
      "properties": {
        "mainJarFileUri": {
          "description": "Optional. The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "mainClass": {
          "description": "Optional. The name of the driver main class. The jar file that contains the class must be in the classpath or specified in jar_file_uris.",
          "type": "string"
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the classpath of the Spark driver and tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SparkRBatch": {
      "id": "SparkRBatch",
      "description": "A configuration for running an Apache SparkR (https:\/\/spark.apache.org\/docs\/latest\/sparkr.html) batch workload.",
      "type": "object",
      "properties": {
        "mainRFileUri": {
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R or .r file.",
          "type": "string"
        },
        "args": {
          "description": "Optional. The arguments to pass to the Spark driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SparkSqlBatch": {
      "id": "SparkSqlBatch",
      "description": "A configuration for running Apache Spark SQL (https:\/\/spark.apache.org\/sql\/) queries as a batch workload.",
      "type": "object",
      "properties": {
        "queryFileUri": {
          "description": "Required. The HCFS URI of the script that contains Spark SQL queries to execute.",
          "type": "string"
        },
        "queryVariables": {
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RuntimeInfo": {
      "id": "RuntimeInfo",
      "description": "Runtime information about workload execution.",
      "type": "object",
      "properties": {
        "endpoints": {
          "description": "Output only. Map of remote access endpoints (such as web interfaces and APIs) to their URIs.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "outputUri": {
          "description": "Output only. A URI pointing to the location of the stdout and stderr of the workload.",
          "readOnly": true,
          "type": "string"
        },
        "diagnosticOutputUri": {
          "description": "Output only. A URI pointing to the location of the diagnostics tarball.",
          "readOnly": true,
          "type": "string"
        },
        "publicKeys": {
          "description": "Output only. The public keys used for sharing data with this workload.",
          "readOnly": true,
          "$ref": "PublicKeys"
        },
        "approximateUsage": {
          "description": "Output only. Approximate workload resource usage calculated after workload finishes (see Dataproc Serverless pricing (https:\/\/cloud.google.com\/dataproc-serverless\/pricing)).",
          "readOnly": true,
          "$ref": "UsageMetrics"
        },
        "currentUsage": {
          "description": "Output only. Snapshot of current workload resource usage.",
          "readOnly": true,
          "$ref": "UsageSnapshot"
        }
      }
    },
    "PublicKeys": {
      "id": "PublicKeys",
      "description": "The public keys informations from the workload.",
      "type": "object",
      "properties": {
        "keys": {
          "description": "Output only. The list of keys.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Key"
          }
        }
      }
    },
    "Key": {
      "id": "Key",
      "description": "The key that can be used to share data with the workload.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of the key.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "RSA public-key type",
            "ECIES public-key type"
          ],
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "RSA",
            "ECIES"
          ]
        },
        "content": {
          "description": "Output only. The content of the key.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "UsageMetrics": {
      "id": "UsageMetrics",
      "description": "Usage metrics represent approximate total resources consumed by a workload.",
      "type": "object",
      "properties": {
        "milliDcuSeconds": {
          "description": "Optional. DCU (Dataproc Compute Units) usage in (milliDCU x seconds) (see Dataproc Serverless pricing (https:\/\/cloud.google.com\/dataproc-serverless\/pricing)).",
          "type": "string",
          "format": "int64"
        },
        "shuffleStorageGbSeconds": {
          "description": "Optional. Shuffle storage usage in (GB x seconds) (see Dataproc Serverless pricing (https:\/\/cloud.google.com\/dataproc-serverless\/pricing)).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "UsageSnapshot": {
      "id": "UsageSnapshot",
      "description": "The usage snaphot represents the resources consumed by a workload at a specified time.",
      "type": "object",
      "properties": {
        "milliDcu": {
          "description": "Optional. Milli (one-thousandth) Dataproc Compute Units (DCUs) (see Dataproc Serverless pricing (https:\/\/cloud.google.com\/dataproc-serverless\/pricing)).",
          "type": "string",
          "format": "int64"
        },
        "shuffleStorageGb": {
          "description": "Optional. Shuffle Storage in gigabytes (GB). (see Dataproc Serverless pricing (https:\/\/cloud.google.com\/dataproc-serverless\/pricing))",
          "type": "string",
          "format": "int64"
        },
        "snapshotTime": {
          "description": "Optional. The timestamp of the usage snapshot.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "RuntimeConfig": {
      "id": "RuntimeConfig",
      "description": "Runtime configuration for a workload.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. Version of the batch runtime.",
          "type": "string"
        },
        "containerImage": {
          "description": "Optional. Optional custom container image for the job runtime environment. If not specified, a default container image will be used.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, which are used to configure workload execution.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "authenticationConfig": {
          "description": "Optional. Authentication configuration for the workload execution.",
          "$ref": "AuthenticationConfig"
        }
      }
    },
    "AuthenticationConfig": {
      "id": "AuthenticationConfig",
      "description": "Configuration for workload authentication",
      "type": "object",
      "properties": {
        "authenticationType": {
          "description": "Authentication type for workload execution.",
          "type": "string",
          "enumDescriptions": [
            "If AuthenticationType is unspecified then SERVICE_ACCOUNT is used",
            "Use service account credentials for authentication",
            "Use injected credentials for authentication"
          ],
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "SERVICE_ACCOUNT",
            "CREDENTIALS_INJECTION"
          ]
        }
      }
    },
    "EnvironmentConfig": {
      "id": "EnvironmentConfig",
      "description": "Environment configuration for a workload.",
      "type": "object",
      "properties": {
        "executionConfig": {
          "description": "Optional. Execution configuration for a workload.",
          "$ref": "ExecutionConfig"
        },
        "peripheralsConfig": {
          "description": "Optional. Peripherals configuration that workload has access to.",
          "$ref": "PeripheralsConfig"
        }
      }
    },
    "ExecutionConfig": {
      "id": "ExecutionConfig",
      "description": "Execution configuration for a workload.",
      "type": "object",
      "properties": {
        "performanceTier": {
          "description": "Optional. Performance tier for workload execution.",
          "type": "string",
          "enumDescriptions": [
            "Performance tier unknown.",
            "Economy performance tier.",
            "Standard performance tier.",
            "High performance tier."
          ],
          "enum": [
            "PERFORMANCE_TIER_UNSPECIFIED",
            "ECONOMY",
            "STANDARD",
            "HIGH"
          ]
        },
        "serviceAccount": {
          "description": "Optional. Service account that used to execute workload.",
          "type": "string"
        },
        "networkUri": {
          "description": "Optional. Network URI to connect workload to.",
          "type": "string"
        },
        "subnetworkUri": {
          "description": "Optional. Subnetwork URI to connect workload to.",
          "type": "string"
        },
        "networkTags": {
          "description": "Optional. Tags used for network traffic control.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key to use for encryption.",
          "type": "string"
        },
        "idleTtl": {
          "description": "Optional. The duration to keep the session alive while it's idling. Passing this threshold will cause the session to be terminated. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https:\/\/developers.google.com\/protocol-buffers\/docs\/proto3#json)). Defaults to 4 hours if not set. If both ttl and idle_ttl are specified, the conditions are treated as and OR: the workload will be terminated when it has been idle for idle_ttl or when the ttl has passed, whichever comes first.",
          "type": "string",
          "format": "google-duration"
        },
        "ttl": {
          "description": "Optional. The duration after which the workload will be terminated. When the workload passes this ttl, it will be unconditionally killed without waiting for ongoing work to finish. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https:\/\/developers.google.com\/protocol-buffers\/docs\/proto3#json)). If both ttl and idle_ttl are specified, the conditions are treated as and OR: the workload will be terminated when it has been idle for idle_ttl or when the ttl has passed, whichever comes first. If ttl is not specified for a session, it defaults to 24h.",
          "type": "string",
          "format": "google-duration"
        },
        "stagingBucket": {
          "description": "Optional. A Cloud Storage bucket used to stage workload dependencies, config files, and store workload output and other ephemeral data, such as Spark history files. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location according to the region where your workload is running, and then create and manage project-level, per-location staging and temporary buckets. This field requires a Cloud Storage bucket name, not a gs:\/\/... URI to a Cloud Storage bucket.",
          "type": "string"
        }
      }
    },
    "PeripheralsConfig": {
      "id": "PeripheralsConfig",
      "description": "Auxiliary services configuration for a workload.",
      "type": "object",
      "properties": {
        "metastoreService": {
          "description": "Optional. Resource name of an existing Dataproc Metastore service.Example: projects\/[project_id]\/locations\/[region]\/services\/[service_id]",
          "type": "string"
        },
        "sparkHistoryServerConfig": {
          "description": "Optional. The Spark History Server configuration for the workload.",
          "$ref": "SparkHistoryServerConfig"
        }
      }
    },
    "SparkHistoryServerConfig": {
      "id": "SparkHistoryServerConfig",
      "description": "Spark History Server configuration for the workload.",
      "type": "object",
      "properties": {
        "dataprocCluster": {
          "description": "Optional. Resource name of an existing Dataproc Cluster to act as a Spark History Server for the workload.Example: projects\/[project_id]\/regions\/[region]\/clusters\/[cluster_name]",
          "type": "string"
        }
      }
    },
    "StateHistory": {
      "id": "StateHistory",
      "description": "Historical state information.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The state of the batch at this point in history.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The batch state is unknown.",
            "The batch is created before running.",
            "The batch is running.",
            "The batch is cancelling.",
            "The batch cancellation was successful.",
            "The batch completed successfully.",
            "The batch is no longer running due to an error."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "stateMessage": {
          "description": "Output only. Details about the state at this point in history.",
          "readOnly": true,
          "type": "string"
        },
        "stateStartTime": {
          "description": "Output only. The time when the batch entered the historical state.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListBatchesResponse": {
      "id": "ListBatchesResponse",
      "description": "A list of batch workloads.",
      "type": "object",
      "properties": {
        "batches": {
          "description": "The batches from the specified collection.",
          "type": "array",
          "items": {
            "$ref": "Batch"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Cluster": {
      "id": "Cluster",
      "description": "Describes the identifying information, config, and status of a Dataproc cluster",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The Google Cloud Platform project ID that the cluster belongs to.",
          "type": "string"
        },
        "clusterName": {
          "description": "Required. The cluster name, which must be unique within a project. The name must start with a lowercase letter, and can contain up to 51 lowercase letters, numbers, and hyphens. It cannot end with a hyphen. The name of a deleted cluster can be reused.",
          "type": "string"
        },
        "config": {
          "description": "Optional. The cluster config for a cluster of Compute Engine Instances. Note that Dataproc may set default values, and values may change when clusters are updated.Exactly one of ClusterConfig or VirtualClusterConfig must be specified.",
          "$ref": "ClusterConfig"
        },
        "virtualClusterConfig": {
          "description": "Optional. The virtual cluster config is used when creating a Dataproc cluster that does not directly control the underlying compute resources, for example, when creating a Dataproc-on-GKE cluster (https:\/\/cloud.google.com\/dataproc\/docs\/guides\/dpgke\/dataproc-gke-overview). Dataproc may set default values, and values may change when clusters are updated. Exactly one of config or virtual_cluster_config must be specified.",
          "$ref": "VirtualClusterConfig"
        },
        "labels": {
          "description": "Optional. The labels to associate with this cluster. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https:\/\/www.ietf.org\/rfc\/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https:\/\/www.ietf.org\/rfc\/rfc1035.txt). No more than 32 labels can be associated with a cluster.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "status": {
          "description": "Output only. Cluster status.",
          "readOnly": true,
          "$ref": "ClusterStatus"
        },
        "statusHistory": {
          "description": "Output only. The previous cluster status.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ClusterStatus"
          }
        },
        "clusterUuid": {
          "description": "Output only. A cluster UUID (Unique Universal Identifier). Dataproc generates this value when it creates the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "metrics": {
          "description": "Output only. Contains cluster daemon metrics such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
          "readOnly": true,
          "$ref": "ClusterMetrics"
        }
      }
    },
    "ClusterConfig": {
      "id": "ClusterConfig",
      "description": "The cluster config.",
      "type": "object",
      "properties": {
        "configBucket": {
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see Dataproc staging and temp buckets (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/configuring-clusters\/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs:\/\/... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "tempBucket": {
          "description": "Optional. A Cloud Storage bucket used to store ephemeral cluster and jobs data, such as Spark and MapReduce history files. If you do not specify a temp bucket, Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's temp bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket. The default bucket has a TTL of 90 days, but you can use any TTL (or none) if you specify a bucket (see Dataproc staging and temp buckets (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/configuring-clusters\/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs:\/\/... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "gceClusterConfig": {
          "description": "Optional. The shared Compute Engine config settings for all instances in a cluster.",
          "$ref": "GceClusterConfig"
        },
        "masterConfig": {
          "description": "Optional. The Compute Engine config settings for the cluster's master instance.",
          "$ref": "InstanceGroupConfig"
        },
        "workerConfig": {
          "description": "Optional. The Compute Engine config settings for the cluster's worker instances.",
          "$ref": "InstanceGroupConfig"
        },
        "secondaryWorkerConfig": {
          "description": "Optional. The Compute Engine config settings for a cluster's secondary worker instances",
          "$ref": "InstanceGroupConfig"
        },
        "softwareConfig": {
          "description": "Optional. The config settings for cluster software.",
          "$ref": "SoftwareConfig"
        },
        "initializationActions": {
          "description": "Optional. Commands to execute on each node after config is completed. By default, executables are run on master and all worker nodes. You can test a node's role metadata to run an executable on a master or worker node, as shown below using curl (you can also use wget): ROLE=$(curl -H Metadata-Flavor:Google http:\/\/metadata\/computeMetadata\/v1\/instance\/attributes\/dataproc-role) if [[ \"${ROLE}\" == 'Master' ]]; then ... master specific actions ... else ... worker specific actions ... fi ",
          "type": "array",
          "items": {
            "$ref": "NodeInitializationAction"
          }
        },
        "encryptionConfig": {
          "description": "Optional. Encryption settings for the cluster.",
          "$ref": "EncryptionConfig"
        },
        "autoscalingConfig": {
          "description": "Optional. Autoscaling config for the policy associated with the cluster. Cluster does not autoscale if this field is unset.",
          "$ref": "AutoscalingConfig"
        },
        "securityConfig": {
          "description": "Optional. Security settings for the cluster.",
          "$ref": "SecurityConfig"
        },
        "lifecycleConfig": {
          "description": "Optional. Lifecycle setting for the cluster.",
          "$ref": "LifecycleConfig"
        },
        "endpointConfig": {
          "description": "Optional. Port\/endpoint configuration for this cluster",
          "$ref": "EndpointConfig"
        },
        "metastoreConfig": {
          "description": "Optional. Metastore configuration.",
          "$ref": "MetastoreConfig"
        },
        "gkeClusterConfig": {
          "description": "Optional. BETA. The Kubernetes Engine config for Dataproc clusters deployed to The Kubernetes Engine config for Dataproc clusters deployed to Kubernetes. These config settings are mutually exclusive with Compute Engine-based options, such as gce_cluster_config, master_config, worker_config, secondary_worker_config, and autoscaling_config.",
          "$ref": "GkeClusterConfig"
        },
        "dataprocMetricConfig": {
          "description": "Optional. The config for Dataproc metrics.",
          "$ref": "DataprocMetricConfig"
        },
        "auxiliaryNodeGroups": {
          "description": "Optional. The node group settings.",
          "type": "array",
          "items": {
            "$ref": "AuxiliaryNodeGroup"
          }
        }
      }
    },
    "GceClusterConfig": {
      "id": "GceClusterConfig",
      "description": "Common config settings for resources of Compute Engine cluster instances, applicable to all instances in the cluster.",
      "type": "object",
      "properties": {
        "zoneUri": {
          "description": "Optional. The Compute Engine zone where the Dataproc cluster will be located. If omitted, the service will pick a zone in the cluster's Compute Engine region. On a get request, zone will always be present.A full URL, partial URI, or short name are valid. Examples: https:\/\/www.googleapis.com\/compute\/v1\/projects\/[project_id]\/zones\/[zone] projects\/[project_id]\/zones\/[zone] [zone]",
          "type": "string"
        },
        "networkUri": {
          "description": "Optional. The Compute Engine network to be used for machine communications. Cannot be specified with subnetwork_uri. If neither network_uri nor subnetwork_uri is specified, the \"default\" network of the project is used, if it exists. Cannot be a \"Custom Subnet Network\" (see Using Subnetworks (https:\/\/cloud.google.com\/compute\/docs\/subnetworks) for more information).A full URL, partial URI, or short name are valid. Examples: https:\/\/www.googleapis.com\/compute\/v1\/projects\/[project_id]\/global\/networks\/default projects\/[project_id]\/global\/networks\/default default",
          "type": "string"
        },
        "subnetworkUri": {
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications. Cannot be specified with network_uri.A full URL, partial URI, or short name are valid. Examples: https:\/\/www.googleapis.com\/compute\/v1\/projects\/[project_id]\/regions\/[region]\/subnetworks\/sub0 projects\/[project_id]\/regions\/[region]\/subnetworks\/sub0 sub0",
          "type": "string"
        },
        "internalIpOnly": {
          "description": "Optional. If true, all instances in the cluster will only have internal IP addresses. By default, clusters are not restricted to internal IP addresses, and will have ephemeral external IP addresses assigned to each instance. This internal_ip_only restriction can only be enabled for subnetwork enabled networks, and all off-cluster dependencies must be configured to be accessible without external IP addresses.",
          "type": "boolean"
        },
        "privateIpv6GoogleAccess": {
          "description": "Optional. The type of IPv6 access for a cluster.",
          "type": "string",
          "enumDescriptions": [
            "If unspecified, Compute Engine default behavior will apply, which is the same as INHERIT_FROM_SUBNETWORK.",
            "Private access to and from Google Services configuration inherited from the subnetwork configuration. This is the default Compute Engine behavior.",
            "Enables outbound private IPv6 access to Google Services from the Dataproc cluster.",
            "Enables bidirectional private IPv6 access between Google Services and the Dataproc cluster."
          ],
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "INHERIT_FROM_SUBNETWORK",
            "OUTBOUND",
            "BIDIRECTIONAL"
          ]
        },
        "serviceAccount": {
          "description": "Optional. The Dataproc service account (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/configuring-clusters\/service-accounts#service_accounts_in_dataproc) (also see VM Data Plane identity (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/iam\/dataproc-principals#vm_service_account_data_plane_identity)) used by Dataproc cluster VM instances to access Google Cloud Platform services.If not specified, the Compute Engine default service account (https:\/\/cloud.google.com\/compute\/docs\/access\/service-accounts#default_service_account) is used.",
          "type": "string"
        },
        "serviceAccountScopes": {
          "description": "Optional. The URIs of service account scopes to be included in Compute Engine instances. The following base set of scopes is always included: https:\/\/www.googleapis.com\/auth\/cloud.useraccounts.readonly https:\/\/www.googleapis.com\/auth\/devstorage.read_write https:\/\/www.googleapis.com\/auth\/logging.writeIf no scopes are specified, the following defaults are also provided: https:\/\/www.googleapis.com\/auth\/bigquery https:\/\/www.googleapis.com\/auth\/bigtable.admin.table https:\/\/www.googleapis.com\/auth\/bigtable.data https:\/\/www.googleapis.com\/auth\/devstorage.full_control",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "description": "The Compute Engine tags to add to all instances (see Tagging instances (https:\/\/cloud.google.com\/compute\/docs\/label-or-tag-resources#tags)).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "The Compute Engine metadata entries to add to all instances (see Project and instance metadata (https:\/\/cloud.google.com\/compute\/docs\/storing-retrieving-metadata#project_and_instance_metadata)).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reservationAffinity": {
          "description": "Optional. Reservation Affinity for consuming Zonal reservation.",
          "$ref": "ReservationAffinity"
        },
        "nodeGroupAffinity": {
          "description": "Optional. Node Group Affinity for sole-tenant clusters.",
          "$ref": "NodeGroupAffinity"
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded Instance Config for clusters using Compute Engine Shielded VMs (https:\/\/cloud.google.com\/security\/shielded-cloud\/shielded-vm).",
          "$ref": "ShieldedInstanceConfig"
        },
        "confidentialInstanceConfig": {
          "description": "Optional. Confidential Instance Config for clusters using Confidential VMs (https:\/\/cloud.google.com\/compute\/confidential-vm\/docs).",
          "$ref": "ConfidentialInstanceConfig"
        }
      }
    },
    "ReservationAffinity": {
      "id": "ReservationAffinity",
      "description": "Reservation Affinity for consuming Zonal reservation.",
      "type": "object",
      "properties": {
        "consumeReservationType": {
          "description": "Optional. Type of reservation to consume",
          "type": "string",
          "enumDescriptions": [
            "",
            "Do not consume from any allocated capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ]
        },
        "key": {
          "description": "Optional. Corresponds to the label key of reservation resource.",
          "type": "string"
        },
        "values": {
          "description": "Optional. Corresponds to the label values of reservation resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NodeGroupAffinity": {
      "id": "NodeGroupAffinity",
      "description": "Node Group Affinity for clusters using sole-tenant node groups. The Dataproc NodeGroupAffinity resource is not related to the Dataproc NodeGroup resource.",
      "type": "object",
      "properties": {
        "nodeGroupUri": {
          "description": "Required. The URI of a sole-tenant node group resource (https:\/\/cloud.google.com\/compute\/docs\/reference\/rest\/v1\/nodeGroups) that the cluster will be created on.A full URL, partial URI, or node group name are valid. Examples: https:\/\/www.googleapis.com\/compute\/v1\/projects\/[project_id]\/zones\/[zone]\/nodeGroups\/node-group-1 projects\/[project_id]\/zones\/[zone]\/nodeGroups\/node-group-1 node-group-1",
          "type": "string"
        }
      }
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "description": "Shielded Instance Config for clusters using Compute Engine Shielded VMs (https:\/\/cloud.google.com\/security\/shielded-cloud\/shielded-vm).",
      "type": "object",
      "properties": {
        "enableSecureBoot": {
          "description": "Optional. Defines whether instances have Secure Boot enabled.",
          "type": "boolean"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether instances have the vTPM enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether instances have integrity monitoring enabled.",
          "type": "boolean"
        }
      }
    },
    "ConfidentialInstanceConfig": {
      "id": "ConfidentialInstanceConfig",
      "description": "Confidential Instance Config for clusters using Confidential VMs (https:\/\/cloud.google.com\/compute\/confidential-vm\/docs)",
      "type": "object",
      "properties": {
        "enableConfidentialCompute": {
          "description": "Optional. Defines whether the instance should have confidential compute enabled.",
          "type": "boolean"
        }
      }
    },
    "InstanceGroupConfig": {
      "id": "InstanceGroupConfig",
      "description": "The config settings for Compute Engine resources in an instance group, such as a master or worker group.",
      "type": "object",
      "properties": {
        "numInstances": {
          "description": "Optional. The number of VM instances in the instance group. For HA cluster master_config groups, must be set to 3. For standard cluster master_config groups, must be set to 1.",
          "type": "integer",
          "format": "int32"
        },
        "instanceNames": {
          "description": "Output only. The list of instance names. Dataproc derives the names from cluster_name, num_instances, and the instance group.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instanceReferences": {
          "description": "Output only. List of references to Compute Engine instances.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "InstanceReference"
          }
        },
        "imageUri": {
          "description": "Optional. The Compute Engine image resource used for cluster instances.The URI can represent an image or image family.Image examples: https:\/\/www.googleapis.com\/compute\/v1\/projects\/[project_id]\/global\/images\/[image-id] projects\/[project_id]\/global\/images\/[image-id] image-idImage family examples. Dataproc will use the most recent image from the family: https:\/\/www.googleapis.com\/compute\/v1\/projects\/[project_id]\/global\/images\/family\/[custom-image-family-name] projects\/[project_id]\/global\/images\/family\/[custom-image-family-name]If the URI is unspecified, it will be inferred from SoftwareConfig.image_version or the system default.",
          "type": "string"
        },
        "machineTypeUri": {
          "description": "Optional. The Compute Engine machine type used for cluster instances.A full URL, partial URI, or short name are valid. Examples: https:\/\/www.googleapis.com\/compute\/v1\/projects\/[project_id]\/zones\/[zone]\/machineTypes\/n1-standard-2 projects\/[project_id]\/zones\/[zone]\/machineTypes\/n1-standard-2 n1-standard-2Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/configuring-clusters\/auto-zone#using_auto_zone_placement) feature, you must use the short name of the machine type resource, for example, n1-standard-2.",
          "type": "string"
        },
        "diskConfig": {
          "description": "Optional. Disk option config settings.",
          "$ref": "DiskConfig"
        },
        "isPreemptible": {
          "description": "Output only. Specifies that this instance group contains preemptible instances.",
          "readOnly": true,
          "type": "boolean"
        },
        "preemptibility": {
          "description": "Optional. Specifies the preemptibility of the instance group.The default value for master and worker groups is NON_PREEMPTIBLE. This default cannot be changed.The default value for secondary instances is PREEMPTIBLE.",
          "type": "string",
          "enumDescriptions": [
            "Preemptibility is unspecified, the system will choose the appropriate setting for each instance group.",
            "Instances are non-preemptible.This option is allowed for all instance groups and is the only valid value for Master and Worker instance groups.",
            "Instances are preemptible (https:\/\/cloud.google.com\/compute\/docs\/instances\/preemptible).This option is allowed only for secondary worker (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/compute\/secondary-vms) groups.",
            "Instances are Spot VMs (https:\/\/cloud.google.com\/compute\/docs\/instances\/spot).This option is allowed only for secondary worker (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/compute\/secondary-vms) groups. Spot VMs are the latest version of preemptible VMs (https:\/\/cloud.google.com\/compute\/docs\/instances\/preemptible), and provide additional features."
          ],
          "enum": [
            "PREEMPTIBILITY_UNSPECIFIED",
            "NON_PREEMPTIBLE",
            "PREEMPTIBLE",
            "SPOT"
          ]
        },
        "managedGroupConfig": {
          "description": "Output only. The config for Compute Engine Instance Group Manager that manages this group. This is only used for preemptible instance groups.",
          "readOnly": true,
          "$ref": "ManagedGroupConfig"
        },
        "accelerators": {
          "description": "Optional. The Compute Engine accelerator configuration for these instances.",
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "minCpuPlatform": {
          "description": "Optional. Specifies the minimum cpu platform for the Instance Group. See Dataproc -> Minimum CPU Platform (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/compute\/dataproc-min-cpu).",
          "type": "string"
        },
        "minNumInstances": {
          "description": "Optional. The minimum number of instances to create. If min_num_instances is set, min_num_instances is used for a criteria to decide the cluster. Cluster creation will be failed by being an error state if the total number of instances created is less than the min_num_instances. For example, given that num_instances = 5 and min_num_instances = 3, * if 4 instances are created and then registered successfully but one instance is failed, the failed VM will be deleted and the cluster will be resized to 4 instances in running state. * if 2 instances are created successfully and 3 instances are failed, the cluster will be in an error state and does not delete failed VMs for debugging. * if 2 instance are created and then registered successfully but 3 instances are failed to initialize, the cluster will be in an error state and does not delete failed VMs for debugging. NB: This can only be set for primary workers now.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "InstanceReference": {
      "id": "InstanceReference",
      "description": "A reference to a Compute Engine instance.",
      "type": "object",
      "properties": {
        "instanceName": {
          "description": "The user-friendly name of the Compute Engine instance.",
          "type": "string"
        },
        "instanceId": {
          "description": "The unique identifier of the Compute Engine instance.",
          "type": "string"
        },
        "publicKey": {
          "description": "The public RSA key used for sharing data with this instance.",
          "type": "string"
        },
        "publicEciesKey": {
          "description": "The public ECIES key used for sharing data with this instance.",
          "type": "string"
        }
      }
    },
    "DiskConfig": {
      "id": "DiskConfig",
      "description": "Specifies the config of disk options for a group of VM instances.",
      "type": "object",
      "properties": {
        "bootDiskType": {
          "description": "Optional. Type of the boot disk (default is \"pd-standard\"). Valid values: \"pd-balanced\" (Persistent Disk Balanced Solid State Drive), \"pd-ssd\" (Persistent Disk Solid State Drive), or \"pd-standard\" (Persistent Disk Hard Disk Drive). See Disk types (https:\/\/cloud.google.com\/compute\/docs\/disks#disk-types).",
          "type": "string"
        },
        "bootDiskSizeGb": {
          "description": "Optional. Size in GB of the boot disk (default is 500GB).",
          "type": "integer",
          "format": "int32"
        },
        "numLocalSsds": {
          "description": "Optional. Number of attached SSDs, from 0 to 8 (default is 0). If SSDs are not attached, the boot disk is used to store runtime logs and HDFS (https:\/\/hadoop.apache.org\/docs\/r1.2.1\/hdfs_user_guide.html) data. If one or more SSDs are attached, this runtime bulk data is spread across them, and the boot disk contains only basic config and installed binaries.Note: Local SSD options may vary by machine type and number of vCPUs selected.",
          "type": "integer",
          "format": "int32"
        },
        "localSsdInterface": {
          "description": "Optional. Interface type of local SSDs (default is \"scsi\"). Valid values: \"scsi\" (Small Computer System Interface), \"nvme\" (Non-Volatile Memory Express). See local SSD performance (https:\/\/cloud.google.com\/compute\/docs\/disks\/local-ssd#performance).",
          "type": "string"
        }
      }
    },
    "ManagedGroupConfig": {
      "id": "ManagedGroupConfig",
      "description": "Specifies the resources used to actively manage an instance group.",
      "type": "object",
      "properties": {
        "instanceTemplateName": {
          "description": "Output only. The name of the Instance Template used for the Managed Instance Group.",
          "readOnly": true,
          "type": "string"
        },
        "instanceGroupManagerName": {
          "description": "Output only. The name of the Instance Group Manager for this group.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AcceleratorConfig": {
      "id": "AcceleratorConfig",
      "description": "Specifies the type and number of accelerator cards attached to the instances of an instance. See GPUs on Compute Engine (https:\/\/cloud.google.com\/compute\/docs\/gpus\/).",
      "type": "object",
      "properties": {
        "acceleratorTypeUri": {
          "description": "Full URL, partial URI, or short name of the accelerator type resource to expose to this instance. See Compute Engine AcceleratorTypes (https:\/\/cloud.google.com\/compute\/docs\/reference\/v1\/acceleratorTypes).Examples: https:\/\/www.googleapis.com\/compute\/v1\/projects\/[project_id]\/zones\/[zone]\/acceleratorTypes\/nvidia-tesla-k80 projects\/[project_id]\/zones\/[zone]\/acceleratorTypes\/nvidia-tesla-k80 nvidia-tesla-k80Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/configuring-clusters\/auto-zone#using_auto_zone_placement) feature, you must use the short name of the accelerator type resource, for example, nvidia-tesla-k80.",
          "type": "string"
        },
        "acceleratorCount": {
          "description": "The number of the accelerator cards of this type exposed to this instance.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SoftwareConfig": {
      "id": "SoftwareConfig",
      "description": "Specifies the selection and config of software inside the cluster.",
      "type": "object",
      "properties": {
        "imageVersion": {
          "description": "Optional. The version of software inside the cluster. It must be one of the supported Dataproc Versions (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/versioning\/dataproc-versions#supported_dataproc_versions), such as \"1.2\" (including a subminor version, such as \"1.2.29\"), or the \"preview\" version (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/versioning\/dataproc-versions#other_versions). If unspecified, it defaults to the latest Debian version.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. The properties to set on daemon config files.Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. The following are supported prefixes and their mappings: capacity-scheduler: capacity-scheduler.xml core: core-site.xml distcp: distcp-default.xml hdfs: hdfs-site.xml hive: hive-site.xml mapred: mapred-site.xml pig: pig.properties spark: spark-defaults.conf yarn: yarn-site.xmlFor more information, see Cluster properties (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/cluster-properties).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "optionalComponents": {
          "description": "Optional. The set of components to activate on the cluster.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified component. Specifying this will cause Cluster creation to fail.",
              "The Anaconda python distribution. The Anaconda component is not supported in the Dataproc 2.0 image. The 2.0 image is pre-installed with Miniconda.",
              "Docker",
              "The Druid query engine. (alpha)",
              "Flink",
              "HBase. (beta)",
              "The Hive Web HCatalog (the REST service for accessing HCatalog).",
              "Hudi.",
              "The Jupyter Notebook.",
              "The Kerberos security feature.",
              "The Presto query engine.",
              "The Trino query engine.",
              "The Ranger service.",
              "The Solr service.",
              "The Zeppelin notebook.",
              "The Zookeeper service.",
              "Dask",
              "Nvidia GPU driver."
            ],
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "ANACONDA",
              "DOCKER",
              "DRUID",
              "FLINK",
              "HBASE",
              "HIVE_WEBHCAT",
              "HUDI",
              "JUPYTER",
              "KERBEROS",
              "PRESTO",
              "TRINO",
              "RANGER",
              "SOLR",
              "ZEPPELIN",
              "ZOOKEEPER",
              "DASK",
              "GPU_DRIVER"
            ]
          }
        }
      }
    },
    "NodeInitializationAction": {
      "id": "NodeInitializationAction",
      "description": "Specifies an executable to run on a fully configured node and a timeout period for executable completion.",
      "type": "object",
      "properties": {
        "executableFile": {
          "description": "Required. Cloud Storage URI of executable file.",
          "type": "string"
        },
        "executionTimeout": {
          "description": "Optional. Amount of time executable has to complete. Default is 10 minutes (see JSON representation of Duration (https:\/\/developers.google.com\/protocol-buffers\/docs\/proto3#json)).Cluster creation fails with an explanatory error message (the name of the executable that caused the error and the exceeded timeout period) if the executable is not completed at end of the timeout period.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "description": "Encryption settings for the cluster.",
      "type": "object",
      "properties": {
        "gcePdKmsKeyName": {
          "description": "Optional. The Cloud KMS key name to use for PD disk encryption for all instances in the cluster.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key name to use for encrypting customer core content and cluster PD disk for all instances in the cluster.",
          "type": "string"
        }
      }
    },
    "AutoscalingConfig": {
      "id": "AutoscalingConfig",
      "description": "Autoscaling Policy config associated with the cluster.",
      "type": "object",
      "properties": {
        "policyUri": {
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https:\/\/www.googleapis.com\/compute\/v1\/projects\/[project_id]\/locations\/[dataproc_region]\/autoscalingPolicies\/[policy_id] projects\/[project_id]\/locations\/[dataproc_region]\/autoscalingPolicies\/[policy_id]Note that the policy must be in the same project and Dataproc region.",
          "type": "string"
        }
      }
    },
    "SecurityConfig": {
      "id": "SecurityConfig",
      "description": "Security related configuration, including encryption, Kerberos, etc.",
      "type": "object",
      "properties": {
        "kerberosConfig": {
          "description": "Optional. Kerberos related configuration.",
          "$ref": "KerberosConfig"
        },
        "identityConfig": {
          "description": "Optional. Identity related configuration, including service account based secure multi-tenancy user mappings.",
          "$ref": "IdentityConfig"
        }
      }
    },
    "KerberosConfig": {
      "id": "KerberosConfig",
      "description": "Specifies Kerberos related configuration.",
      "type": "object",
      "properties": {
        "enableKerberos": {
          "description": "Optional. Flag to indicate whether to Kerberize the cluster (default: false). Set this field to true to enable Kerberos on a cluster.",
          "type": "boolean"
        },
        "rootPrincipalPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the root principal password.",
          "type": "string"
        },
        "kmsKeyUri": {
          "description": "Optional. The uri of the KMS key used to encrypt various sensitive files.",
          "type": "string"
        },
        "keystoreUri": {
          "description": "Optional. The Cloud Storage URI of the keystore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate.",
          "type": "string"
        },
        "truststoreUri": {
          "description": "Optional. The Cloud Storage URI of the truststore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate.",
          "type": "string"
        },
        "keystorePasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided keystore. For the self-signed certificate, this password is generated by Dataproc.",
          "type": "string"
        },
        "keyPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided key. For the self-signed certificate, this password is generated by Dataproc.",
          "type": "string"
        },
        "truststorePasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided truststore. For the self-signed certificate, this password is generated by Dataproc.",
          "type": "string"
        },
        "crossRealmTrustRealm": {
          "description": "Optional. The remote realm the Dataproc on-cluster KDC will trust, should the user enable cross realm trust.",
          "type": "string"
        },
        "crossRealmTrustKdc": {
          "description": "Optional. The KDC (IP or hostname) for the remote trusted realm in a cross realm trust relationship.",
          "type": "string"
        },
        "crossRealmTrustAdminServer": {
          "description": "Optional. The admin server (IP or hostname) for the remote trusted realm in a cross realm trust relationship.",
          "type": "string"
        },
        "crossRealmTrustSharedPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the shared password between the on-cluster Kerberos realm and the remote trusted realm, in a cross realm trust relationship.",
          "type": "string"
        },
        "kdcDbKeyUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the master key of the KDC database.",
          "type": "string"
        },
        "tgtLifetimeHours": {
          "description": "Optional. The lifetime of the ticket granting ticket, in hours. If not specified, or user specifies 0, then default value 10 will be used.",
          "type": "integer",
          "format": "int32"
        },
        "realm": {
          "description": "Optional. The name of the on-cluster Kerberos realm. If not specified, the uppercased domain of hostnames will be the realm.",
          "type": "string"
        }
      }
    },
    "IdentityConfig": {
      "id": "IdentityConfig",
      "description": "Identity related configuration, including service account based secure multi-tenancy user mappings.",
      "type": "object",
      "properties": {
        "userServiceAccountMapping": {
          "description": "Required. Map of user to service account.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "LifecycleConfig": {
      "id": "LifecycleConfig",
      "description": "Specifies the cluster auto-delete schedule configuration.",
      "type": "object",
      "properties": {
        "idleDeleteTtl": {
          "description": "Optional. The duration to keep the cluster alive while idling (when no jobs are running). Passing this threshold will cause the cluster to be deleted. Minimum value is 5 minutes; maximum value is 14 days (see JSON representation of Duration (https:\/\/developers.google.com\/protocol-buffers\/docs\/proto3#json)).",
          "type": "string",
          "format": "google-duration"
        },
        "autoDeleteTime": {
          "description": "Optional. The time when cluster will be auto-deleted (see JSON representation of Timestamp (https:\/\/developers.google.com\/protocol-buffers\/docs\/proto3#json)).",
          "type": "string",
          "format": "google-datetime"
        },
        "autoDeleteTtl": {
          "description": "Optional. The lifetime duration of cluster. The cluster will be auto-deleted at the end of this period. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https:\/\/developers.google.com\/protocol-buffers\/docs\/proto3#json)).",
          "type": "string",
          "format": "google-duration"
        },
        "idleStartTime": {
          "description": "Output only. The time when cluster became idle (most recent job finished) and became eligible for deletion due to idleness (see JSON representation of Timestamp (https:\/\/developers.google.com\/protocol-buffers\/docs\/proto3#json)).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "EndpointConfig": {
      "id": "EndpointConfig",
      "description": "Endpoint config for this cluster",
      "type": "object",
      "properties": {
        "httpPorts": {
          "description": "Output only. The map of port descriptions to URLs. Will only be populated if enable_http_port_access is true.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableHttpPortAccess": {
          "description": "Optional. If true, enable http access to specific ports on the cluster from external sources. Defaults to false.",
          "type": "boolean"
        }
      }
    },
    "MetastoreConfig": {
      "id": "MetastoreConfig",
      "description": "Specifies a Metastore configuration.",
      "type": "object",
      "properties": {
        "dataprocMetastoreService": {
          "description": "Required. Resource name of an existing Dataproc Metastore service.Example: projects\/[project_id]\/locations\/[dataproc_region]\/services\/[service-name]",
          "type": "string"
        }
      }
    },
    "GkeClusterConfig": {
      "id": "GkeClusterConfig",
      "description": "The cluster's GKE config.",
      "type": "object",
      "properties": {
        "namespacedGkeDeploymentTarget": {
          "description": "Optional. Deprecated. Use gkeClusterTarget. Used only for the deprecated beta. A target for the deployment.",
          "$ref": "NamespacedGkeDeploymentTarget"
        },
        "gkeClusterTarget": {
          "description": "Optional. A target GKE cluster to deploy to. It must be in the same project and region as the Dataproc cluster (the GKE cluster can be zonal or regional). Format: 'projects\/{project}\/locations\/{location}\/clusters\/{cluster_id}'",
          "type": "string"
        },
        "nodePoolTarget": {
          "description": "Optional. GKE node pools where workloads will be scheduled. At least one node pool must be assigned the DEFAULT GkeNodePoolTarget.Role. If a GkeNodePoolTarget is not specified, Dataproc constructs a DEFAULT GkeNodePoolTarget. Each role can be given to only one GkeNodePoolTarget. All node pools must have the same location settings.",
          "type": "array",
          "items": {
            "$ref": "GkeNodePoolTarget"
          }
        }
      }
    },
    "NamespacedGkeDeploymentTarget": {
      "id": "NamespacedGkeDeploymentTarget",
      "description": "Deprecated. Used only for the deprecated beta. A full, namespace-isolated deployment target for an existing GKE cluster.",
      "type": "object",
      "properties": {
        "targetGkeCluster": {
          "description": "Optional. The target GKE cluster to deploy to. Format: 'projects\/{project}\/locations\/{location}\/clusters\/{cluster_id}'",
          "type": "string"
        },
        "clusterNamespace": {
          "description": "Optional. A namespace within the GKE cluster to deploy into.",
          "type": "string"
        }
      }
    },
    "GkeNodePoolTarget": {
      "id": "GkeNodePoolTarget",
      "description": "GKE node pools that Dataproc workloads run on.",
      "type": "object",
      "properties": {
        "nodePool": {
          "description": "Required. The target GKE node pool. Format: 'projects\/{project}\/locations\/{location}\/clusters\/{cluster}\/nodePools\/{node_pool}'",
          "type": "string"
        },
        "roles": {
          "description": "Required. The roles associated with the GKE node pool.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Role is unspecified.",
              "At least one node pool must have the DEFAULT role. Work assigned to a role that is not associated with a node pool is assigned to the node pool with the DEFAULT role. For example, work assigned to the CONTROLLER role will be assigned to the node pool with the DEFAULT role if no node pool has the CONTROLLER role.",
              "Run work associated with the Dataproc control plane (for example, controllers and webhooks). Very low resource requirements.",
              "Run work associated with a Spark driver of a job.",
              "Run work associated with a Spark executor of a job.",
              "Run work associated with a shuffle service of a job. During private preview only, this role must be set explicitly, it does not default to DEFAULT. Once the feature reaches public preview, then it will default to DEFAULT as the other roles do."
            ],
            "enum": [
              "ROLE_UNSPECIFIED",
              "DEFAULT",
              "CONTROLLER",
              "SPARK_DRIVER",
              "SPARK_EXECUTOR",
              "SHUFFLE_SERVICE"
            ]
          }
        },
        "nodePoolConfig": {
          "description": "Input only. The configuration for the GKE node pool.If specified, Dataproc attempts to create a node pool with the specified shape. If one with the same name already exists, it is verified against all specified fields. If a field differs, the virtual cluster creation will fail.If omitted, any node pool with the specified name is used. If a node pool with the specified name does not exist, Dataproc create a node pool with default values.This is an input only field. It will not be returned by the API.",
          "$ref": "GkeNodePoolConfig"
        }
      }
    },
    "GkeNodePoolConfig": {
      "id": "GkeNodePoolConfig",
      "description": "The configuration of a GKE node pool used by a Dataproc-on-GKE cluster (https:\/\/cloud.google.com\/dataproc\/docs\/concepts\/jobs\/dataproc-gke#create-a-dataproc-on-gke-cluster).",
      "type": "object",
      "properties": {
        "config": {
          "description": "Optional. The node pool configuration.",
          "$ref": "GkeNodeConfig"
        },
        "locations": {
          "description": "Optional. The list of Compute Engine zones (https:\/\/cloud.google.com\/compute\/docs\/zones#available) where node pool nodes associated with a Dataproc on GKE virtual cluster will be located.Note: All node pools associated with a virtual cluster must be located in the same region as the virtual cluster, and they must be located in the same zone within that region.If a location is not specified during node pool creation, Dataproc on GKE will choose the zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "autoscaling": {
          "description": "Optional. The autoscaler configuration for this node pool. The autoscaler is enabled only when a valid configuration is present.",
          "$ref": "GkeNodePoolAutoscalingConfig"
        }
      }
    },
    "GkeNodeConfig": {
      "id": "GkeNodeConfig",
      "description": "Parameters that describe cluster nodes.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Optional. The name of a Compute Engine machine type (https:\/\/cloud.google.com\/compute\/docs\/machine-types).",
          "type": "string"
        },
        "localSsdCount": {
          "description": "Optional. The number of local SSD disks to attach to the node, which is limited by the maximum number of disks allowable per zone (see Adding Local SSDs (https:\/\/cloud.google.com\/compute\/docs\/disks\/local-ssd)).",
          "type": "integer",
          "format": "int32"
        },
        "preemptible": {
          "description": "Optional. Whether the nodes are created as legacy preemptible VM instances (https:\/\/cloud.google.com\/compute\/docs\/instances\/preemptible). Also see Spot VMs, preemptible VM instances without a maximum lifetime. Legacy and Spot preemptible nodes cannot be used in a node pool with the CONTROLLER role or in the DEFAULT node pool if the CONTROLLER role is not assigned (the DEFAULT node pool will assume the CONTROLLER role).",
          "type": "boolean"
        },
        "accelerators": {
          "description": "Optional. A list of hardware accelerators (https:\/\/cloud.google.com\/compute\/docs\/gpus) to attach to each node.",
          "type": "array",
          "items": {
            "$ref": "GkeNodePoolAcceleratorConfig"
          }
        },
        "minCpuPlatform": {
          "description": "Optional. Minimum CPU platform (https:\/\/cloud.google.com\/compute\/docs\/instances\/specify-min-cpu-platform) to be used by this instance. The instance may be scheduled on the specified or a newer CPU platform. Specify the friendly names of CPU platforms, such as \"Intel Haswell\"` or Intel Sandy Bridge\".",
          "type": "string"
        },
        "bootDiskKmsKey": {
          "description": "Optional. The Customer Managed Encryption Key (CMEK) (https:\/\/cloud.google.com\/kubernetes-engine\/docs\/how-to\/using-cmek) used to encrypt the boot disk attached to each node in the node pool. Specify the key using the following format: projects\/KEY_PROJECT_ID\/locations\/LOCATION \/keyRings\/RING_NAME\/cryptoKeys\/KEY_NAME.",
          "type": "string"
        },
        "ephemeralStorageConfig": {
          "description": "Optional. Parameters for the ephemeral storage filesystem. If unspecified, ephemeral storage is backed by the boot disk.",
          "$ref": "GkeEphemeralStorageConfig"
        },
        "spot": {
          "description": "Optional. Whether the nodes are created as Spot VM instances (https:\/\/cloud.google.com\/compute\/docs\/instances\/spot). Spot VMs are the latest update to legacy preemptible VMs. Spot VMs do not have a maximum lifetime. Legacy and Spot preemptible nodes cannot be used in a node pool with the CONTROLLER role or in the DEFAULT node pool if the CONTROLLER role is not assigned (the DEFAULT node pool will assume the CONTROLLER role).",
          "type": "boolean"
        }
      }
    },
    "GkeNodePoolAcceleratorConfig": {
      "id": "GkeNodePoolAcceleratorConfig",
      "description": "A GkeNodeConfigAcceleratorConfig represents a Hardware Accelerator request for a node pool.",
      "type": "object",
      "properties": {
        "acceleratorCount": {
          "description": "The number of accelerator cards exposed to an instance.",
          "type": "string",
          "format": "int64"
        },
        "acceleratorType": {
          "description": "The accelerator type resource namename (see GPUs on Compute Engine).",
          "type": "string"
        },
        "gpuPartitionSize": {
          "description": "Size of partitions to create on the GPU. Valid values are described in the NVIDIA mig user guide (https:\/\/docs.nvidia.com\/datacenter\/tesla\/mig-user-guide\/#partitioning).",
          "type": "string"
        }
      }
    },
    "GkeEphemeralStorageConfig": {
      "id": "GkeEphemeralStorageConfig",
      "description": "GkeEphemeralStorageConfig contains configuration for the ephemeral storage filesystem.",
      "type": "object",
      "properties": {
        "localSsdCount": {
          "description": "Number of local SSDs to use to back ephemeral storage. Uses NVMe interfaces. Each local SSD is 375 GB in size. If zero, it means to disable using local SSDs as ephemeral storage.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GkeNodePoolAutoscalingConfig": {
      "id": "GkeNodePoolAutoscalingConfig",
      "description": "GkeNodePoolAutoscaling contains information the cluster autoscaler needs to adjust the size of the node pool to the current cluster usage.",
      "type": "object",
      "properties": {
        "minNodeCount": {
          "description": "The minimum number of nodes in the node pool. Must be >= 0 and <= max_node_count.",
          "type": "integer",
          "format": "int32"
        },
        "maxNodeCount": {
          "description": "The maximum number of nodes in the node pool. Must be >= min_node_count, and must be > 0. Note: Quota must be sufficient to scale up the cluster.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DataprocMetricConfig": {
      "id": "DataprocMetricConfig",
      "description": "Dataproc metric config.",
      "type": "object",
      "properties": {
        "metrics": {
          "description": "Required. Metrics sources to enable.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        }
      }
    },
    "Metric": {
      "id": "Metric",
      "description": "A Dataproc OSS metric.",
      "type": "object",
      "properties": {
        "metricSource": {
          "description": "Required. Default metrics are collected unless metricOverrides are specified for the metric source (see Available OSS metrics (https:\/\/cloud.google.com\/dataproc\/docs\/guides\/monitoring#available_oss_metrics) for more information).",
          "type": "string",
          "enumDescriptions": [
            "Required unspecified metric source.",
            "Default monitoring agent metrics. If this source is enabled, Dataproc enables the monitoring agent in Compute Engine, and collects default monitoring agent metrics, which are published with an agent.googleapis.com prefix.",
            "HDFS metric source.",
            "Spark metric source.",
            "YARN metric source.",
            "Spark History Server metric source.",
            "Hiveserver2 metric source.",
            "hivemetastore metric source"
          ],
          "enum": [
            "METRIC_SOURCE_UNSPECIFIED",
            "MONITORING_AGENT_DEFAULTS",
            "HDFS",
            "SPARK",
            "YARN",
            "SPARK_HISTORY_SERVER",
            "HIVESERVER2",
            "HIVEMETASTORE"
          ]
        },
        "metricOverrides": {
          "description": "Optional. Specify one or more available OSS metrics (https:\/\/cloud.google.com\/dataproc\/docs\/guides\/monitoring#available_oss_metrics) to collect for the metric course (for the SPARK metric source, any Spark metric (https:\/\/spark.apache.org\/docs\/latest\/monitoring.html#metrics) can be specified).Provide metrics in the following format: METRIC_SOURCE: INSTANCE:GROUP:METRIC Use camelcase as appropriate.Examples: yarn:ResourceManager:QueueMetrics:AppsCompleted spark:driver:DAGScheduler:job.allJobs sparkHistoryServer:JVM:Memory:NonHeapMemoryUsage.committed hiveserver2:JVM:Memory:NonHeapMemoryUsage.used Notes: Only the specified overridden metrics will be collected for the metric source. For example, if one or more spark:executive metrics are listed as metric overrides, other SPARK metrics will not be collected. The collection of the default metrics for other OSS metric sources is unaffected. For example, if both SPARK andd YARN metric sources are enabled, and overrides are provided for Spark metrics only, all default YARN metrics will be collected.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AuxiliaryNodeGroup": {
      "id": "AuxiliaryNodeGroup",
      "description": "Node group identification and configuration information.",
      "type": "object",
      "properties": {
        "nodeGroup": {
          "description": "Required. Node group configuration.",
          "$ref": "NodeGroup"
        },
        "nodeGroupId": {
          "description": "Optional. A node group ID. Generated if not specified.The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of from 3 to 33 characters.",
          "type": "string"
        }
      }
    },
    "NodeGroup": {
      "id": "NodeGroup",
      "description": "Dataproc Node Group. The Dataproc NodeGroup resource is not related to the Dataproc NodeGroupAffinity resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The Node group resource name (https:\/\/aip.dev\/122).",
          "type": "string"
        },
        "roles": {
          "description": "Required. Node group roles.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Required unspecified role.",
              "Job drivers run on the node pool.",
              "Master nodes.",
              "Primary workers.",
              "Secondary workers."
            ],
            "enum": [
              "ROLE_UNSPECIFIED",
              "DRIVER",
              "MASTER",
              "PRIMARY_WORKER",
              "SECONDARY_WORKER"
            ]
          }
        },
        "nodeGroupConfig": {
          "description": "Optional. The node group instance group configuration.",
          "$ref": "InstanceGroupConfig"
        },
        "labels": {
          "description": "Optional. Node group labels. Label keys must consist of from 1 to 63 characters and conform to RFC 1035 (https:\/\/www.ietf.org\/rfc\/rfc1035.txt). Label values can be empty. If specified, they must consist of from 1 to 63 characters and conform to RFC 1035 (https:\/\/www.ietf.org\/rfc\/rfc1035.txt). The node group must have no more than 32 labelsn.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "VirtualClusterConfig": {
      "id": "VirtualClusterConfig",
      "description": "The Dataproc cluster config for a cluster that does not directly control the underlying compute resources, such as a Dataproc-on-GKE cluster (https:\/\/cloud.google.com\/dataproc\/docs\/guides\/dpgke\/dataproc-gke-overview).",
      "type": "object",
      "properties": {
        "stagingBucket": {
[...]
