{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "datapipelines:v1",
  "name": "datapipelines",
  "canonicalName": "Datapipelines",
  "version": "v1",
  "revision": "0",
  "title": "Data pipelines API",
  "description": "Data Pipelines provides an interface for creating, updating, and managing recurring Data Analytics jobs.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/dataflow/docs/guides/data-pipelines",
  "protocol": "rest",
  "rootUrl": "https://datapipelines.googleapis.com/",
  "mtlsRootUrl": "https://datapipelines.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://datapipelines.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudDatapipelinesV1Pipeline": {
      "id": "GoogleCloudDatapipelinesV1Pipeline",
      "description": "The main pipeline entity and all the necessary metadata for launching and managing linked jobs.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The pipeline name. For example: `projects\/PROJECT_ID\/locations\/LOCATION_ID\/pipelines\/PIPELINE_ID`. * `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]), hyphens (-), colons (:), and periods (.). For more information, see [Identifying projects](https:\/\/cloud.google.com\/resource-manager\/docs\/creating-managing-projects#identifying_projects). * `LOCATION_ID` is the canonical ID for the pipeline's location. The list of available locations can be obtained by calling `google.cloud.location.Locations.ListLocations`. Note that the Data Pipelines service is not available in all regions. It depends on Cloud Scheduler, an App Engine application, so it's only available in [App Engine regions](https:\/\/cloud.google.com\/about\/locations#region). * `PIPELINE_ID` is the ID of the pipeline. Must be unique for the selected project and location.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the pipeline. It can contain only letters ([A-Za-z]), numbers ([0-9]), hyphens (-), and underscores (_).",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the pipeline. This field affects the scheduling of the pipeline and the type of metrics to show for the pipeline.",
          "type": "string",
          "enumDescriptions": [
            "The pipeline type isn't specified.",
            "A batch pipeline. It runs jobs on a specific schedule, and each job will automatically terminate once execution is finished.",
            "A streaming pipeline. The underlying job is continuously running until it is manually terminated by the user. This type of pipeline doesn't have a schedule to run on, and the linked job gets created when the pipeline is created."
          ],
          "enum": [
            "PIPELINE_TYPE_UNSPECIFIED",
            "PIPELINE_TYPE_BATCH",
            "PIPELINE_TYPE_STREAMING"
          ]
        },
        "state": {
          "description": "Required. The state of the pipeline. When the pipeline is created, the state is set to 'PIPELINE_STATE_ACTIVE' by default. State changes can be requested by setting the state to stopping, paused, or resuming. State cannot be changed through UpdatePipeline requests.",
          "type": "string",
          "enumDescriptions": [
            "The pipeline state isn't specified.",
            "The pipeline is getting started or resumed. When finished, the pipeline state will be 'PIPELINE_STATE_ACTIVE'.",
            "The pipeline is actively running.",
            "The pipeline is in the process of stopping. When finished, the pipeline state will be 'PIPELINE_STATE_ARCHIVED'.",
            "The pipeline has been stopped. This is a terminal state and cannot be undone.",
            "The pipeline is paused. This is a non-terminal state. When the pipeline is paused, it will hold processing jobs, but can be resumed later. For a batch pipeline, this means pausing the scheduler job. For a streaming pipeline, creating a job snapshot to resume from will give the same effect."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_RESUMING",
            "STATE_ACTIVE",
            "STATE_STOPPING",
            "STATE_ARCHIVED",
            "STATE_PAUSED"
          ]
        },
        "createTime": {
          "description": "Output only. Immutable. The timestamp when the pipeline was initially created. Set by the Data Pipelines service.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastUpdateTime": {
          "description": "Output only. Immutable. The timestamp when the pipeline was last modified. Set by the Data Pipelines service.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "workload": {
          "description": "Workload information for creating new jobs.",
          "$ref": "GoogleCloudDatapipelinesV1Workload"
        },
        "scheduleInfo": {
          "description": "Internal scheduling information for a pipeline. If this information is provided, periodic jobs will be created per the schedule. If not, users are responsible for creating jobs externally.",
          "$ref": "GoogleCloudDatapipelinesV1ScheduleSpec"
        },
        "jobCount": {
          "description": "Output only. Number of jobs.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "schedulerServiceAccountEmail": {
          "description": "Optional. A service account email to be used with the Cloud Scheduler job. If not specified, the default compute engine service account will be used.",
          "type": "string"
        },
        "pipelineSources": {
          "description": "Immutable. The sources of the pipeline (for example, Dataplex). The keys and values are set by the corresponding sources during pipeline creation.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDatapipelinesV1Workload": {
      "id": "GoogleCloudDatapipelinesV1Workload",
      "description": "Workload details for creating the pipeline jobs.",
      "type": "object",
      "properties": {
        "dataflowLaunchTemplateRequest": {
          "description": "Template information and additional parameters needed to launch a Dataflow job using the standard launch API.",
          "$ref": "GoogleCloudDatapipelinesV1LaunchTemplateRequest"
        },
        "dataflowFlexTemplateRequest": {
          "description": "Template information and additional parameters needed to launch a Dataflow job using the flex launch API.",
          "$ref": "GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest"
        }
      }
    },
    "GoogleCloudDatapipelinesV1LaunchTemplateRequest": {
      "id": "GoogleCloudDatapipelinesV1LaunchTemplateRequest",
      "description": "A request to launch a template.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
          "type": "string"
        },
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        },
        "gcsPath": {
          "description": "A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with 'gs:\/\/'.",
          "type": "string"
        },
        "launchParameters": {
          "description": "The parameters of the template to launch. This should be part of the body of the POST request.",
          "$ref": "GoogleCloudDatapipelinesV1LaunchTemplateParameters"
        },
        "location": {
          "description": "The [regional endpoint] (https:\/\/cloud.google.com\/dataflow\/docs\/concepts\/regional-endpoints) to which to direct the request.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatapipelinesV1LaunchTemplateParameters": {
      "id": "GoogleCloudDatapipelinesV1LaunchTemplateParameters",
      "description": "Parameters to provide to the template being launched.",
      "type": "object",
      "properties": {
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        },
        "parameters": {
          "description": "The runtime parameters to pass to the job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "GoogleCloudDatapipelinesV1RuntimeEnvironment"
        },
        "update": {
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state.",
          "type": "boolean"
        },
        "transformNameMapping": {
          "description": "Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job. Only applicable when updating a pipeline.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDatapipelinesV1RuntimeEnvironment": {
      "id": "GoogleCloudDatapipelinesV1RuntimeEnvironment",
      "description": "The environment values to set at runtime.",
      "type": "object",
      "properties": {
        "numWorkers": {
          "description": "The initial number of Compute Engine instances for the job.",
          "type": "integer",
          "format": "int32"
        },
        "maxWorkers": {
          "description": "The maximum number of Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "zone": {
          "description": "The Compute Engine [availability zone](https:\/\/cloud.google.com\/compute\/docs\/regions-zones\/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "The email address of the service account to run the job as.",
          "type": "string"
        },
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs:\/\/`.",
          "type": "string"
        },
        "bypassTempDirValidation": {
          "description": "Whether to bypass the safety checks for the job's temporary directory. Use with caution.",
          "type": "boolean"
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "additionalExperiments": {
          "description": "Additional experiment flags for the job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https:\/\/www.googleapis.com\/compute\/v1\/projects\/HOST_PROJECT_ID\/regions\/REGION\/subnetworks\/SUBNETWORK\" or \"regions\/REGION\/subnetworks\/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        },
        "additionalUserLabels": {
          "description": "Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https:\/\/cloud.google.com\/compute\/docs\/labeling-resources#restrictions) page. An object containing a list of key\/value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kmsKeyName": {
          "description": "Name for the Cloud KMS key for the job. The key format is: projects\/\/locations\/\/keyRings\/\/cryptoKeys\/",
          "type": "string"
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "type": "string",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "workerRegion": {
          "description": "The Compute Engine region (https:\/\/cloud.google.com\/compute\/docs\/regions-zones\/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "workerZone": {
          "description": "The Compute Engine zone (https:\/\/cloud.google.com\/compute\/docs\/regions-zones\/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "enableStreamingEngine": {
          "description": "Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest": {
      "id": "GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest",
      "description": "A request to launch a Dataflow job from a Flex Template.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
          "type": "string"
        },
        "launchParameter": {
          "description": "Required. Parameter to launch a job from a Flex Template.",
          "$ref": "GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter"
        },
        "location": {
          "description": "Required. The [regional endpoint] (https:\/\/cloud.google.com\/dataflow\/docs\/concepts\/regional-endpoints) to which to direct the request. For example, `us-central1`, `us-west1`.",
          "type": "string"
        },
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter": {
      "id": "GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter",
      "description": "Launch Flex Template parameter.",
      "type": "object",
      "properties": {
        "jobName": {
          "description": "Required. The job name to use for the created job. For an update job request, the job name should be the same as the existing running job.",
          "type": "string"
        },
        "containerSpecGcsPath": {
          "description": "Cloud Storage path to a file with a JSON-serialized ContainerSpec as content.",
          "type": "string"
        },
        "parameters": {
          "description": "The parameters for the Flex Template. Example: `{\"num_workers\":\"5\"}`",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "launchOptions": {
          "description": "Launch options for this Flex Template job. This is a common set of options across languages and templates. This should not be used to pass job parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environment": {
          "description": "The runtime environment for the Flex Template job.",
          "$ref": "GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment"
        },
        "update": {
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job.",
          "type": "boolean"
        },
        "transformNameMappings": {
          "description": "Use this to pass transform name mappings for streaming update jobs. Example: `{\"oldTransformName\":\"newTransformName\",...}`",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment": {
      "id": "GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment",
      "description": "The environment values to be set at runtime for a Flex Template.",
      "type": "object",
      "properties": {
        "numWorkers": {
          "description": "The initial number of Compute Engine instances for the job.",
          "type": "integer",
          "format": "int32"
        },
        "maxWorkers": {
          "description": "The maximum number of Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "zone": {
          "description": "The Compute Engine [availability zone](https:\/\/cloud.google.com\/compute\/docs\/regions-zones\/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "The email address of the service account to run the job as.",
          "type": "string"
        },
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs:\/\/`.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "additionalExperiments": {
          "description": "Additional experiment flags for the job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https:\/\/www.googleapis.com\/compute\/v1\/projects\/HOST_PROJECT_ID\/regions\/REGION\/subnetworks\/SUBNETWORK\" or \"regions\/REGION\/subnetworks\/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        },
        "additionalUserLabels": {
          "description": "Additional user labels to be specified for the job. Keys and values must follow the restrictions specified in the [labeling restrictions](https:\/\/cloud.google.com\/compute\/docs\/labeling-resources#restrictions). An object containing a list of key\/value pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kmsKeyName": {
          "description": "Name for the Cloud KMS key for the job. Key format is: projects\/\/locations\/\/keyRings\/\/cryptoKeys\/",
          "type": "string"
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "type": "string",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "workerRegion": {
          "description": "The Compute Engine region (https:\/\/cloud.google.com\/compute\/docs\/regions-zones\/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, defaults to the control plane region.",
          "type": "string"
        },
        "workerZone": {
          "description": "The Compute Engine zone (https:\/\/cloud.google.com\/compute\/docs\/regions-zones\/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "enableStreamingEngine": {
          "description": "Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "flexrsGoal": {
          "description": "Set FlexRS goal for the job. https:\/\/cloud.google.com\/dataflow\/docs\/guides\/flexrs",
          "type": "string",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ]
        }
      }
    },
    "GoogleCloudDatapipelinesV1ScheduleSpec": {
      "id": "GoogleCloudDatapipelinesV1ScheduleSpec",
      "description": "Details of the schedule the pipeline runs on.",
      "type": "object",
      "properties": {
        "schedule": {
          "description": "Unix-cron format of the schedule. This information is retrieved from the linked Cloud Scheduler.",
          "type": "string"
        },
        "timeZone": {
          "description": "Timezone ID. This matches the timezone IDs used by the Cloud Scheduler API. If empty, UTC time is assumed.",
          "type": "string"
        },
        "nextJobTime": {
          "description": "Output only. When the next Scheduler job is going to run.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDatapipelinesV1ListPipelinesResponse": {
      "id": "GoogleCloudDatapipelinesV1ListPipelinesResponse",
      "description": "Response message for ListPipelines.",
      "type": "object",
      "properties": {
        "pipelines": {
          "description": "Results that matched the filter criteria and were accessible to the caller. Results are always in descending order of pipeline creation date.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1Pipeline"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatapipelinesV1StopPipelineRequest": {
      "id": "GoogleCloudDatapipelinesV1StopPipelineRequest",
      "description": "Request message for StopPipeline.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDatapipelinesV1RunPipelineRequest": {
      "id": "GoogleCloudDatapipelinesV1RunPipelineRequest",
      "description": "Request message for RunPipeline",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDatapipelinesV1RunPipelineResponse": {
      "id": "GoogleCloudDatapipelinesV1RunPipelineResponse",
      "description": "Response message for RunPipeline",
      "type": "object",
      "properties": {
        "job": {
          "description": "Job that was created as part of RunPipeline operation.",
          "$ref": "GoogleCloudDatapipelinesV1Job"
        }
      }
    },
    "GoogleCloudDatapipelinesV1Job": {
      "id": "GoogleCloudDatapipelinesV1Job",
      "description": "Definition of the job information maintained by the pipeline. Fields in this entity are retrieved from the executor API (e.g. Dataflow API).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The fully qualified resource name for the job.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The internal ID for the job.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time of job creation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time of job termination. This is absent if the job is still running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "The current state of the job.",
          "type": "string",
          "enumDescriptions": [
            "The job state isn't specified.",
            "The job is waiting to start execution.",
            "The job is executing.",
            "The job has finished execution successfully.",
            "The job has finished execution with a failure.",
            "The job has been terminated upon user request."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_PENDING",
            "STATE_RUNNING",
            "STATE_DONE",
            "STATE_FAILED",
            "STATE_CANCELLED"
          ]
        },
        "status": {
          "description": "Status capturing any error code or message related to job creation or execution.",
          "$ref": "GoogleRpcStatus"
        },
        "dataflowJobDetails": {
          "description": "All the details that are specific to a Dataflow job.",
          "$ref": "GoogleCloudDatapipelinesV1DataflowJobDetails"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleCloudDatapipelinesV1DataflowJobDetails": {
      "id": "GoogleCloudDatapipelinesV1DataflowJobDetails",
      "description": "Pipeline job details specific to the Dataflow API. This is encapsulated here to allow for more executors to store their specific details separately.",
      "type": "object",
      "properties": {
        "sdkVersion": {
          "description": "Output only. The SDK version used to run the job.",
          "readOnly": true,
          "$ref": "GoogleCloudDatapipelinesV1SdkVersion"
        },
        "currentWorkers": {
          "description": "Output only. The current number of workers used to run the jobs. Only set to a value if the job is still running.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "resourceInfo": {
          "description": "Cached version of all the metrics of interest for the job. This value gets stored here when the job is terminated. As long as the job is running, this field is populated from the Dataflow API.",
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "GoogleCloudDatapipelinesV1SdkVersion": {
      "id": "GoogleCloudDatapipelinesV1SdkVersion",
      "description": "The version of the SDK used to run the job.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The version of the SDK used to run the job.",
          "type": "string"
        },
        "versionDisplayName": {
          "description": "A readable string describing the version of the SDK.",
          "type": "string"
        },
        "sdkSupportStatus": {
          "description": "The support status for this SDK version.",
          "type": "string",
          "enumDescriptions": [
            "Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ],
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ]
        }
      }
    },
    "GoogleCloudDatapipelinesV1ListJobsResponse": {
      "id": "GoogleCloudDatapipelinesV1ListJobsResponse",
      "description": "Response message for ListJobs",
      "type": "object",
      "properties": {
        "jobs": {
          "description": "Results that were accessible to the caller. Results are always in descending order of job creation date.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1Job"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatapipelinesV1TransformDescription": {
      "id": "GoogleCloudDatapipelinesV1TransformDescription",
      "description": "Description of a schema-aware transform, which provides info on how it can be configured.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The full name of this resource formatted as: projects\/{project}\/locations\/{location}\/transformDescriptions\/{transform_description} `transform_description` is the same as the `uniform_resource_name` field.",
          "readOnly": true,
          "type": "string"
        },
        "uniformResourceName": {
          "description": "Unique resource name of the transform.",
          "type": "string"
        },
        "options": {
          "description": "Available options for configuring the transform.",
          "$ref": "GoogleCloudDatapipelinesV1Schema"
        }
      }
    },
    "GoogleCloudDatapipelinesV1Schema": {
      "id": "GoogleCloudDatapipelinesV1Schema",
      "description": "Represents a simplified Apache Beam schema.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "Fields in the schema. Every field within a schema must have a unique name.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1Field"
          }
        },
        "referenceId": {
          "description": "An identifier of the schema for looking it up in a repository. This only needs to be set if the schema is stored in a repository.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatapipelinesV1Field": {
      "id": "GoogleCloudDatapipelinesV1Field",
      "description": "Info for a single field in the schema.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the field.",
          "type": "string"
        },
        "type": {
          "description": "Type info for the field.",
          "$ref": "GoogleCloudDatapipelinesV1FieldType"
        }
      }
    },
    "GoogleCloudDatapipelinesV1FieldType": {
      "id": "GoogleCloudDatapipelinesV1FieldType",
      "description": "Type info about a field.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Specific type of the field. For non-atomic types, the corresponding type info for that non-atomic must be set.",
          "type": "string",
          "enumDescriptions": [
            "Type name is not set (generally an error)",
            "8-bit signed integer",
            "16-bit signed integer",
            "32-bit signed integer",
            "64-bit signed integer",
            "Large decimal type (equivalent to Java BigDecimal)",
            "32-bit floating point integer",
            "64-bit floating point integer",
            "String",
            "Datetime",
            "Bool",
            "Convenience for an ARRAY of BYTE values",
            "Array of some other values.",
            "Iterable of some other values.",
            "Key\/Value mapping between values.",
            "Struct that follows a particular schema",
            "Beam logical type"
          ],
          "enum": [
            "TYPE_NAME_UNSPECIFIED",
            "TYPE_NAME_BYTE",
            "TYPE_NAME_INT16",
            "TYPE_NAME_INT32",
            "TYPE_NAME_INT64",
            "TYPE_NAME_DECIMAL",
            "TYPE_NAME_FLOAT",
            "TYPE_NAME_DOUBLE",
            "TYPE_NAME_STRING",
            "TYPE_NAME_DATETIME",
            "TYPE_NAME_BOOLEAN",
            "TYPE_NAME_BYTES",
            "TYPE_NAME_ARRAY",
            "TYPE_NAME_ITERABLE",
            "TYPE_NAME_MAP",
            "TYPE_NAME_ROW",
            "TYPE_NAME_LOGICAL_TYPE"
          ]
        },
        "nullable": {
          "description": "Whether or not this field is nullable.",
          "type": "boolean"
        },
        "logicalType": {
          "description": "If `type` is a logical type, this is the info for the specific logical type.",
          "$ref": "GoogleCloudDatapipelinesV1LogicalType"
        },
        "collectionElementType": {
          "description": "If `type` is an array or iterable, this is the type contained in that array or iterable.",
          "$ref": "GoogleCloudDatapipelinesV1FieldType"
        },
        "mapType": {
          "description": "If `type` is a map, this is the key and value types for that map.",
          "$ref": "GoogleCloudDatapipelinesV1MapType"
        },
        "rowSchema": {
          "description": "If `type` is a row, this is the schema of that row.",
          "$ref": "GoogleCloudDatapipelinesV1Schema"
        }
      }
    },
    "GoogleCloudDatapipelinesV1LogicalType": {
      "id": "GoogleCloudDatapipelinesV1LogicalType",
      "description": "Represents the input for creating a specified logical type.",
      "type": "object",
      "properties": {
        "enumerationType": {
          "description": "The enum represented by this logical type.",
          "$ref": "GoogleCloudDatapipelinesV1LogicalTypeEnumerationType"
        },
        "fixedBytes": {
          "description": "The fixed-size byte collection represented by this logical type.",
          "$ref": "GoogleCloudDatapipelinesV1LogicalTypeFixedBytes"
        }
      }
    },
    "GoogleCloudDatapipelinesV1LogicalTypeEnumerationType": {
      "id": "GoogleCloudDatapipelinesV1LogicalTypeEnumerationType",
      "description": "Represents the Beam EnumerationType logical type.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Names of the values. The numeric value is the same as the index.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDatapipelinesV1LogicalTypeFixedBytes": {
      "id": "GoogleCloudDatapipelinesV1LogicalTypeFixedBytes",
      "description": "Represents the Beam FixedBytes logical type.",
      "type": "object",
      "properties": {
        "sizeBytes": {
          "description": "Number of bytes to allocate.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDatapipelinesV1MapType": {
      "id": "GoogleCloudDatapipelinesV1MapType",
      "description": "Represents a map in a schema.",
      "type": "object",
      "properties": {
        "mapKeyType": {
          "description": "Key type of the map. Only atomic types are supported.",
          "$ref": "GoogleCloudDatapipelinesV1FieldType"
        },
        "mapValueType": {
          "description": "Value type of the map.",
          "$ref": "GoogleCloudDatapipelinesV1FieldType"
        }
      }
    },
    "GoogleCloudDatapipelinesV1BatchGetTransformDescriptionsResponse": {
      "id": "GoogleCloudDatapipelinesV1BatchGetTransformDescriptionsResponse",
      "description": "Response message for BatchGetTransformDescriptions",
      "type": "object",
      "properties": {
        "transformDescriptions": {
          "description": "List of requested transform descriptions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1TransformDescription"
          }
        }
      }
    },
    "GoogleCloudDatapipelinesV1ComputeSchemaRequest": {
      "id": "GoogleCloudDatapipelinesV1ComputeSchemaRequest",
      "description": "Request message for ComputeSchema",
      "type": "object",
      "properties": {
        "config": {
          "description": "Required. The configuration for the transform. If this is not a source, then each input with its schema must be set. It is not required to have any outputs set.",
          "$ref": "GoogleCloudDatapipelinesV1ConfiguredTransform"
        },
        "rawSchema": {
          "description": "Optional. If set, this will use the provided raw schema to compute the schema rather than connecting to any resources. Validation will still occur to make sure it is compatible with all input schemas. If the transform is an IO, the IO must support that schema type.",
          "$ref": "GoogleCloudDatapipelinesV1RawSchemaInfo"
        },
        "inputSchemas": {
          "description": "Optional. In relation to the full pipeline graph, the schemas of the transforms that are used as inputs to the one for `config`. If `config` represents a transform for reading from some resource, then this should be empty. For all other transforms, at least one value must be provided.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1Schema"
          }
        }
      }
    },
    "GoogleCloudDatapipelinesV1ConfiguredTransform": {
      "id": "GoogleCloudDatapipelinesV1ConfiguredTransform",
      "description": "A fully configured transform that can be validated.",
      "type": "object",
      "properties": {
        "uniformResourceName": {
          "description": "Unique resource name of the transform. This should be the same as the equivalent `TransformDescription` value.",
          "type": "string"
        },
        "config": {
          "description": "Configuration values provided. These must match the schema provided in the row's schema.",
          "$ref": "GoogleCloudDatapipelinesV1Row"
        }
      }
    },
    "GoogleCloudDatapipelinesV1Row": {
      "id": "GoogleCloudDatapipelinesV1Row",
      "description": "Represents an Apache Beam row, though the `Any` nature of values is replaced with more concrete representations of valid values.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Required. The schema of the row's data.",
          "$ref": "GoogleCloudDatapipelinesV1SchemaSource"
        },
        "values": {
          "description": "Required. The values of this Row. A fully built row is required to hold to the schema specified by `schema`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1FieldValue"
          }
        }
      }
    },
    "GoogleCloudDatapipelinesV1SchemaSource": {
      "id": "GoogleCloudDatapipelinesV1SchemaSource",
      "description": "Holds a schema or a reference to a schema in some repository.",
      "type": "object",
      "properties": {
        "localSchema": {
          "description": "Schema located locally with the message.",
          "$ref": "GoogleCloudDatapipelinesV1Schema"
        },
        "referenceId": {
          "description": "The `reference_id` value of a schema in a repository.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatapipelinesV1FieldValue": {
      "id": "GoogleCloudDatapipelinesV1FieldValue",
      "description": "A single value in a row. The value set must correspond to the correct type from the row's schema.",
      "type": "object",
      "properties": {
        "atomicValue": {
          "description": "The atomic value of this field. Must correspond to the correct atomic type in the schema.",
          "$ref": "GoogleCloudDatapipelinesV1AtomicValue"
        },
        "arrayValue": {
          "description": "The array value of this field. Corresponds to TYPE_NAME_ARRAY in the schema.",
          "$ref": "GoogleCloudDatapipelinesV1ArrayValue"
        },
        "iterableValue": {
          "description": "The iterable value of this field. Corresponds to TYPE_NAME_ITERABLE in the schema.",
          "$ref": "GoogleCloudDatapipelinesV1IterableValue"
        },
        "mapValue": {
          "description": "The map value of this field. Corresponds to TYPE_NAME_MAP in the schema.",
          "$ref": "GoogleCloudDatapipelinesV1MapValue"
        },
        "rowValue": {
          "description": "The row value of this field. Corresponds to TYPE_NAME_ROW in the schema. This row also holds to its own schema.",
          "$ref": "GoogleCloudDatapipelinesV1Row"
        },
        "enumValue": {
          "description": "The enum value of this field. Corresponds to TYPE_NAME_LOGICAL_TYPE in the schema if that logical type represents an `EnumerationType` type.",
          "$ref": "GoogleCloudDatapipelinesV1EnumerationValue"
        },
        "fixedBytesValue": {
          "description": "The fixed-length byte collection of this field. Corresponds to TYPE_NAME_LOGICAL_TYPE in the schema if that logical type represents a `FixedBytes` type.",
          "$ref": "GoogleCloudDatapipelinesV1FixedBytesValue"
        }
      }
    },
    "GoogleCloudDatapipelinesV1AtomicValue": {
      "id": "GoogleCloudDatapipelinesV1AtomicValue",
      "description": "Represents a non-dividable value.",
      "type": "object",
      "properties": {
        "byteValue": {
          "description": "An 8-bit signed value.",
          "type": "integer",
          "format": "int32"
        },
        "int16Value": {
          "description": "A 16-bit signed value.",
          "type": "integer",
          "format": "int32"
        },
        "int32Value": {
          "description": "A 32-bit signed value.",
          "type": "integer",
          "format": "int32"
        },
        "int64Value": {
          "description": "A 64-bit signed value.",
          "type": "string",
          "format": "int64"
        },
        "decimalValue": {
          "description": "A large decimal value, equivalent to Java BigDecimal.",
          "$ref": "GoogleTypeDecimal"
        },
        "floatValue": {
          "description": "A 32-bit floating point value.",
          "type": "number",
          "format": "float"
        },
        "doubleValue": {
          "description": "A 64-bit floating point value.",
          "type": "number",
          "format": "double"
        },
        "stringValue": {
          "description": "A string value.",
          "type": "string"
        },
        "datetimeValue": {
          "description": "A datetime value.",
          "$ref": "GoogleTypeDateTime"
        },
        "booleanValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "bytesValue": {
          "description": "An array of raw bytes.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleTypeDecimal": {
      "id": "GoogleTypeDecimal",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's BigDecimal or Python's decimal.Decimal. [BigDecimal]: https:\/\/docs.oracle.com\/en\/java\/javase\/11\/docs\/api\/java.base\/java\/math\/BigDecimal.html [decimal.Decimal]: https:\/\/docs.python.org\/3\/library\/decimal.html",
      "type": "object",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      }
    },
    "GoogleTypeDateTime": {
      "id": "GoogleTypeDateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "type": "object",
      "properties": {
        "year": {
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "type": "integer",
          "format": "int32"
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "type": "string",
          "format": "google-duration"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "GoogleTypeTimeZone"
        }
      }
    },
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https:\/\/www.iana.org\/time-zones).",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America\/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatapipelinesV1ArrayValue": {
      "id": "GoogleCloudDatapipelinesV1ArrayValue",
      "description": "Represents an array of values. The elements can be of any type.",
      "type": "object",
      "properties": {
        "elements": {
          "description": "The elements of the array.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1FieldValue"
          }
        }
      }
    },
    "GoogleCloudDatapipelinesV1IterableValue": {
      "id": "GoogleCloudDatapipelinesV1IterableValue",
      "description": "Represents an iterable of values. The elements can be of any type.",
      "type": "object",
      "properties": {
        "elements": {
          "description": "The elements of the iterable.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1FieldValue"
          }
        }
      }
    },
    "GoogleCloudDatapipelinesV1MapValue": {
      "id": "GoogleCloudDatapipelinesV1MapValue",
      "description": "Represents a key\/value pairing.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "The entries in the map.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1MapValueEntry"
          }
        }
      }
    },
    "GoogleCloudDatapipelinesV1MapValueEntry": {
      "id": "GoogleCloudDatapipelinesV1MapValueEntry",
      "description": "A single entry in the map. Each entry must have a unique key.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The key value. Only atomic values are supported.",
          "$ref": "GoogleCloudDatapipelinesV1FieldValue"
        },
        "value": {
          "description": "The value associated with the key. It may be of any type.",
          "$ref": "GoogleCloudDatapipelinesV1FieldValue"
        }
      }
    },
    "GoogleCloudDatapipelinesV1EnumerationValue": {
      "id": "GoogleCloudDatapipelinesV1EnumerationValue",
      "description": "Represents a selected value from an EnumerationType.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the enum option.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatapipelinesV1FixedBytesValue": {
      "id": "GoogleCloudDatapipelinesV1FixedBytesValue",
      "description": "Represents a collection of bytes whose size is the same as the associated FixedBytes size value.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The raw bytes. It must be exactly the size specified in the schema.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDatapipelinesV1RawSchemaInfo": {
      "id": "GoogleCloudDatapipelinesV1RawSchemaInfo",
      "description": "The raw schema and its type.",
      "type": "object",
      "properties": {
        "rawSchema": {
          "description": "The schema.",
          "type": "string"
        },
        "type": {
          "description": "The type of the schema.",
          "type": "string",
          "enumDescriptions": [
            "The schema type is unknown.",
            "The schema is an Avro schema."
          ],
          "enum": [
            "RAW_SCHEMA_TYPE_UNSPECIFIED",
            "RAW_SCHEMA_TYPE_AVRO"
          ]
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "listPipelines": {
              "id": "datapipelines.projects.locations.listPipelines",
              "path": "v1/{+parent}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The location name. For example: `projects\/PROJECT_ID\/locations\/LOCATION_ID`.",
                  "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "An expression for filtering the results of the request. If unspecified, all pipelines will be returned. Multiple filters can be applied and must be comma separated. Fields eligible for filtering are: + `type`: The type of the pipeline (streaming or batch). Allowed values are `ALL`, `BATCH`, and `STREAMING`. + `status`: The activity status of the pipeline. Allowed values are `ALL`, `ACTIVE`, `ARCHIVED`, and `PAUSED`. For example, to limit results to active batch processing pipelines: type:BATCH,status:ACTIVE",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of entities to return. The service may return fewer than this value, even if there are additional pages. If unspecified, the max limit is yet to be determined by the backend implementation.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListPipelines` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPipelines` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDatapipelinesV1ListPipelinesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists pipelines. Returns a \"FORBIDDEN\" error if the caller doesn't have permission to access it."
            },
            "computeSchema": {
              "id": "datapipelines.projects.locations.computeSchema",
              "path": "v1/{+location}:computeSchema",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:computeSchema",
              "httpMethod": "POST",
              "parameters": {
                "location": {
                  "description": "Required. The full location formatted as \"projects\/{your-project}\/locations\/{google-cloud-region}\". If attempting to infer the schema from an existing Google Cloud resource, the default Data Pipelines service account for this project will be used in making requests for the resource. If the region given for \"{google-cloud-region}\" is different than the region where the resource is stored, then the data will be transferred to and processed in the region specified here, but it will not be persistently stored in this region.",
                  "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "request": {
                "$ref": "GoogleCloudDatapipelinesV1ComputeSchemaRequest"
              },
              "response": {
                "$ref": "GoogleCloudDatapipelinesV1Schema"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Computes the schema for the transform. Computation from `raw_schema` will always occur if it is set. This requires that the transform supports that encoding. If no raw schema is provided and if the transform is for an IO, then this will attempt to connect to the resource using the details provided in `config` and infer the schema from that. If the transform is not an IO, is a sink that doesn't exist yet, or is a sink with no schema requirement, then this will fall back to basing the schema off the one provided in `input_schemas`. The computed schema will be validated."
            }
          }
          ,
          "resources": {
            "pipelines": {
              "methods": {
                "create": {
                  "id": "datapipelines.projects.locations.pipelines.create",
                  "path": "v1/{+parent}/pipelines",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The location name. For example: `projects\/PROJECT_ID\/locations\/LOCATION_ID`.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a pipeline. For a batch pipeline, you can pass scheduler information. Data Pipelines uses the scheduler information to create an internal scheduler that runs jobs periodically. If the internal scheduler is not configured, you can use RunPipeline to run jobs."
                },
                "patch": {
                  "id": "datapipelines.projects.locations.pipelines.patch",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "The pipeline name. For example: `projects\/PROJECT_ID\/locations\/LOCATION_ID\/pipelines\/PIPELINE_ID`. * `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]), hyphens (-), colons (:), and periods (.). For more information, see [Identifying projects](https:\/\/cloud.google.com\/resource-manager\/docs\/creating-managing-projects#identifying_projects). * `LOCATION_ID` is the canonical ID for the pipeline's location. The list of available locations can be obtained by calling `google.cloud.location.Locations.ListLocations`. Note that the Data Pipelines service is not available in all regions. It depends on Cloud Scheduler, an App Engine application, so it's only available in [App Engine regions](https:\/\/cloud.google.com\/about\/locations#region). * `PIPELINE_ID` is the ID of the pipeline. Must be unique for the selected project and location.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/pipelines\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a pipeline. If successful, the updated Pipeline is returned. Returns `NOT_FOUND` if the pipeline doesn't exist. If UpdatePipeline does not return successfully, you can retry the UpdatePipeline request until you receive a successful response."
                },
                "delete": {
                  "id": "datapipelines.projects.locations.pipelines.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The pipeline name. For example: `projects\/PROJECT_ID\/locations\/LOCATION_ID\/pipelines\/PIPELINE_ID`.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/pipelines\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a pipeline. If a scheduler job is attached to the pipeline, it will be deleted."
                },
                "get": {
                  "id": "datapipelines.projects.locations.pipelines.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The pipeline name. For example: `projects\/PROJECT_ID\/locations\/LOCATION_ID\/pipelines\/PIPELINE_ID`.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/pipelines\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Looks up a single pipeline. Returns a \"NOT_FOUND\" error if no such pipeline exists. Returns a \"FORBIDDEN\" error if the caller doesn't have permission to access it."
                },
                "stop": {
                  "id": "datapipelines.projects.locations.pipelines.stop",
                  "path": "v1/{+name}:stop",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}:stop",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The pipeline name. For example: `projects\/PROJECT_ID\/locations\/LOCATION_ID\/pipelines\/PIPELINE_ID`.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/pipelines\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1StopPipelineRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Freezes pipeline execution permanently. If there's a corresponding scheduler entry, it's deleted, and the pipeline state is changed to \"ARCHIVED\". However, pipeline metadata is retained."
                },
                "run": {
                  "id": "datapipelines.projects.locations.pipelines.run",
                  "path": "v1/{+name}:run",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}:run",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The pipeline name. For example: `projects\/PROJECT_ID\/locations\/LOCATION_ID\/pipelines\/PIPELINE_ID`.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/pipelines\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1RunPipelineRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1RunPipelineResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a job for the specified pipeline directly. You can use this method when the internal scheduler is not configured and you want to trigger the job directly or through an external system. Returns a \"NOT_FOUND\" error if the pipeline doesn't exist. Returns a \"FORBIDDEN\" error if the user doesn't have permission to access the pipeline or run jobs for the pipeline."
                }
              }
              ,
              "resources": {
                "jobs": {
                  "methods": {
                    "list": {
                      "id": "datapipelines.projects.locations.pipelines.jobs.list",
                      "path": "v1/{+parent}/jobs",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}/jobs",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. The pipeline name. For example: `projects\/PROJECT_ID\/locations\/LOCATION_ID\/pipelines\/PIPELINE_ID`.",
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/pipelines\/[^\/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of entities to return. The service may return fewer than this value, even if there are additional pages. If unspecified, the max limit will be determined by the backend implementation.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListJobs` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatapipelinesV1ListJobsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists jobs for a given pipeline. Throws a \"FORBIDDEN\" error if the caller doesn't have permission to access it."
                    }
                  }
                }
              }
            },
            "transformDescriptions": {
              "methods": {
                "get": {
                  "id": "datapipelines.projects.locations.transformDescriptions.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transformDescriptions/{transformDescriptionsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The full name formatted as \"projects\/{your-project}\/locations\/{google-cloud-region}\/transformdescriptions\/{uniform-resource-name}\".",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/transformDescriptions\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1TransformDescription"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the transform description associated with the provided uniform resource name."
                },
                "batchGet": {
                  "id": "datapipelines.projects.locations.transformDescriptions.batchGet",
                  "path": "v1/{+parent}/transformDescriptions:batchGet",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transformDescriptions:batchGet",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The project and location shared by all transform descriptions being retrieved, formatted as \"projects\/{project}\/locations\/{location}\".",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "names": {
                      "description": "Optional. The names of the transform descriptions being retrieved, formatted as \"projects\/{project}\/locations\/{location}\/transformdescriptions\/{transform_description}\". If no name is provided, all of the transform descriptions will be returned.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1BatchGetTransformDescriptionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets transform descriptions in a batch, associated with a list of provided uniform resource names."
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": ""
}