{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "dataplex:v1",
  "name": "dataplex",
  "canonicalName": "Cloud Dataplex",
  "version": "v1",
  "revision": "0",
  "title": "Cloud Dataplex API",
  "description": "Dataplex API is used to manage the lifecycle of data lakes.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/dataplex/docs",
  "protocol": "rest",
  "rootUrl": "https://dataplex.googleapis.com/",
  "mtlsRootUrl": "https://dataplex.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://dataplex.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for SetIamPolicy method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\"",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates members, or principals, with a role.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of members, or principals. For example, roles\/viewer, roles\/editor, or roles\/owner.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}\/{kubernetes-sa}]: An identifier for a Kubernetes service account (https:\/\/cloud.google.com\/kubernetes-engine\/docs\/how-to\/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace\/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for TestIamPermissions method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for TestIamPermissions method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1Content": {
      "id": "GoogleCloudDataplexV1Content",
      "description": "Content represents a user-visible notebook or a sql script",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The relative resource name of the content, of the form: projects\/{project_id}\/locations\/{location_id}\/lakes\/{lake_id}\/content\/{content_id}",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the content. This ID will be different if the content is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "path": {
          "description": "Required. The path for the Content file, represented as directory structure. Unique within a lake. Limited to alphanumerics, hyphens, underscores, dots and slashes.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Content creation time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the content was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. User defined labels for the content.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Description of the content.",
          "type": "string"
        },
        "dataText": {
          "description": "Required. Content data in string format.",
          "type": "string"
        },
        "sqlScript": {
          "description": "Sql Script related configurations.",
          "$ref": "GoogleCloudDataplexV1ContentSqlScript"
        },
        "notebook": {
          "description": "Notebook related configurations.",
          "$ref": "GoogleCloudDataplexV1ContentNotebook"
        }
      }
    },
    "GoogleCloudDataplexV1ContentSqlScript": {
      "id": "GoogleCloudDataplexV1ContentSqlScript",
      "description": "Configuration for the Sql Script content.",
      "type": "object",
      "properties": {
        "engine": {
          "description": "Required. Query Engine to be used for the Sql Query.",
          "type": "string",
          "enumDescriptions": [
            "Value was unspecified.",
            "Spark SQL Query."
          ],
          "enum": [
            "QUERY_ENGINE_UNSPECIFIED",
            "SPARK"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1ContentNotebook": {
      "id": "GoogleCloudDataplexV1ContentNotebook",
      "description": "Configuration for Notebook content.",
      "type": "object",
      "properties": {
        "kernelType": {
          "description": "Required. Kernel Type of the notebook.",
          "type": "string",
          "enumDescriptions": [
            "Kernel Type unspecified.",
            "Python 3 Kernel."
          ],
          "enum": [
            "KERNEL_TYPE_UNSPECIFIED",
            "PYTHON3"
          ]
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDataplexV1ListContentResponse": {
      "id": "GoogleCloudDataplexV1ListContentResponse",
      "description": "List content response.",
      "type": "object",
      "properties": {
        "content": {
          "description": "Content under the given parent lake.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Content"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations\/{unique_id}.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get\/Create\/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https:\/\/github.com\/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDataplexV1DataTaxonomy": {
      "id": "GoogleCloudDataplexV1DataTaxonomy",
      "description": "DataTaxonomy represents a set of hierarchical DataAttributes resources, grouped with a common theme Eg: 'SensitiveDataTaxonomy' can have attributes to manage PII data. It is defined at project level.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The relative resource name of the DataTaxonomy, of the form: projects\/{project_number}\/locations\/{location_id}\/dataTaxonomies\/{data_taxonomy_id}.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the dataTaxonomy. This ID will be different if the DataTaxonomy is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the DataTaxonomy was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the DataTaxonomy was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the DataTaxonomy.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-defined labels for the DataTaxonomy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "attributeCount": {
          "description": "Output only. The number of attributes in the DataTaxonomy.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ListDataTaxonomiesResponse": {
      "id": "GoogleCloudDataplexV1ListDataTaxonomiesResponse",
      "description": "List DataTaxonomies response.",
      "type": "object",
      "properties": {
        "dataTaxonomies": {
          "description": "DataTaxonomies under the given parent location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataTaxonomy"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DataAttributeBinding": {
      "id": "GoogleCloudDataplexV1DataAttributeBinding",
      "description": "DataAttributeBinding represents binding of attributes to resources. Eg: Bind 'CustomerInfo' entity with 'PII' attribute.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The relative resource name of the Data Attribute Binding, of the form: projects\/{project_number}\/locations\/{location}\/dataAttributeBindings\/{data_attribute_binding_id}",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the DataAttributeBinding. This ID will be different if the DataAttributeBinding is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the DataAttributeBinding was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the DataAttributeBinding was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the DataAttributeBinding.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-defined labels for the DataAttributeBinding.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Etags must be used when calling the DeleteDataAttributeBinding and the UpdateDataAttributeBinding method.",
          "type": "string"
        },
        "resource": {
          "description": "Optional. Immutable. The resource name of the resource that is associated to attributes. Presently, only entity resource is supported in the form: projects\/{project}\/locations\/{location}\/lakes\/{lake}\/zones\/{zone}\/entities\/{entity_id} Must belong in the same project and region as the attribute binding, and there can only exist one active binding for a resource.",
          "type": "string"
        },
        "attributes": {
          "description": "Optional. List of attributes to be associated with the resource, provided in the form: projects\/{project}\/locations\/{location}\/dataTaxonomies\/{dataTaxonomy}\/attributes\/{data_attribute_id}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "paths": {
          "description": "Optional. The list of paths for items within the associated resource (eg. columns within a table) along with attribute bindings.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttributeBindingPath"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DataAttributeBindingPath": {
      "id": "GoogleCloudDataplexV1DataAttributeBindingPath",
      "description": "Represents a subresource of a given resource, and associated bindings with it.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name identifier of the path. Nested columns should be of the form: 'country.state.city'.",
          "type": "string"
        },
        "attributes": {
          "description": "Optional. List of attributes to be associated with the path of the resource, provided in the form: projects\/{project}\/locations\/{location}\/dataTaxonomies\/{dataTaxonomy}\/attributes\/{data_attribute_id}",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1ListDataAttributeBindingsResponse": {
      "id": "GoogleCloudDataplexV1ListDataAttributeBindingsResponse",
      "description": "List DataAttributeBindings response.",
      "type": "object",
      "properties": {
        "dataAttributeBindings": {
          "description": "DataAttributeBindings under the given parent Location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttributeBinding"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DataAttribute": {
      "id": "GoogleCloudDataplexV1DataAttribute",
      "description": "Denotes one dataAttribute in a dataTaxonomy, for example, PII. DataAttribute resources can be defined in a hierarchy. A single dataAttribute resource can contain specs of multiple types PII - ResourceAccessSpec : - readers :foo@bar.com - DataAccessSpec : - readers :bar@foo.com ",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The relative resource name of the dataAttribute, of the form: projects\/{project_number}\/locations\/{location_id}\/dataTaxonomies\/{dataTaxonomy}\/attributes\/{data_attribute_id}.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the DataAttribute. This ID will be different if the DataAttribute is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the DataAttribute was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the DataAttribute was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the DataAttribute.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-defined labels for the DataAttribute.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parentId": {
          "description": "Optional. The ID of the parent DataAttribute resource, should belong to the same data taxonomy. Circular dependency in parent chain is not valid. Maximum depth of the hierarchy allowed is 4. a -> b -> c -> d -> e, depth = 4",
          "type": "string"
        },
        "attributeCount": {
          "description": "Output only. The number of child attributes present for this attribute.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "resourceAccessSpec": {
          "description": "Optional. Specified when applied to a resource (eg: Cloud Storage bucket, BigQuery dataset, BigQuery table).",
          "$ref": "GoogleCloudDataplexV1ResourceAccessSpec"
        },
        "dataAccessSpec": {
          "description": "Optional. Specified when applied to data stored on the resource (eg: rows, columns in BigQuery Tables).",
          "$ref": "GoogleCloudDataplexV1DataAccessSpec"
        }
      }
    },
    "GoogleCloudDataplexV1ResourceAccessSpec": {
      "id": "GoogleCloudDataplexV1ResourceAccessSpec",
      "description": "ResourceAccessSpec holds the access control configuration to be enforced on the resources, for example, Cloud Storage bucket, BigQuery dataset, BigQuery table.",
      "type": "object",
      "properties": {
        "readers": {
          "description": "Optional. The format of strings follows the pattern followed by IAM in the bindings. user:{email}, serviceAccount:{email} group:{email}. The set of principals to be granted reader role on the resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "writers": {
          "description": "Optional. The set of principals to be granted writer role on the resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "owners": {
          "description": "Optional. The set of principals to be granted owner role on the resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DataAccessSpec": {
      "id": "GoogleCloudDataplexV1DataAccessSpec",
      "description": "DataAccessSpec holds the access control configuration to be enforced on data stored within resources (eg: rows, columns in BigQuery Tables). When associated with data, the data is only accessible to principals explicitly granted access through the DataAccessSpec. Principals with access to the containing resource are not implicitly granted access.",
      "type": "object",
      "properties": {
        "readers": {
          "description": "Optional. The format of strings follows the pattern followed by IAM in the bindings. user:{email}, serviceAccount:{email} group:{email}. The set of principals to be granted reader role on data stored within resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1ListDataAttributesResponse": {
      "id": "GoogleCloudDataplexV1ListDataAttributesResponse",
      "description": "List DataAttributes response.",
      "type": "object",
      "properties": {
        "dataAttributes": {
          "description": "DataAttributes under the given parent DataTaxonomy.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttribute"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DataScan": {
      "id": "GoogleCloudDataplexV1DataScan",
      "description": "Represents a user-visible job which provides the insights for the related data source.For example: Data Quality: generates queries based on the rules and runs against the data to get data quality check results. Data Profile: analyzes the data in table(s) and generates insights about the structure, content and relationships (such as null percent, cardinality, min\/max\/mean, etc).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The relative resource name of the scan, of the form: projects\/{project}\/locations\/{location_id}\/dataScans\/{datascan_id}, where project refers to a project_id or project_number and location_id refers to a GCP region.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the scan. This ID will be different if the scan is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the scan. Must be between 1-1024 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name. Must be between 1-256 characters.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-defined labels for the scan.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. Current state of the DataScan.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ]
        },
        "createTime": {
          "description": "Output only. The time when the scan was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the scan was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "data": {
          "description": "Required. The data source for DataScan.",
          "$ref": "GoogleCloudDataplexV1DataSource"
        },
        "executionSpec": {
          "description": "Optional. DataScan execution settings.If not specified, the fields in it will use their default values.",
          "$ref": "GoogleCloudDataplexV1DataScanExecutionSpec"
        },
        "executionStatus": {
          "description": "Output only. Status of the data scan execution.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataScanExecutionStatus"
        },
        "type": {
          "description": "Output only. The type of DataScan.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The DataScan type is unspecified.",
            "Data Quality scan.",
            "Data Profile scan."
          ],
          "enum": [
            "DATA_SCAN_TYPE_UNSPECIFIED",
            "DATA_QUALITY",
            "DATA_PROFILE"
          ]
        },
        "dataQualitySpec": {
          "description": "DataQualityScan related setting.",
          "$ref": "GoogleCloudDataplexV1DataQualitySpec"
        },
        "dataProfileSpec": {
          "description": "DataProfileScan related setting.",
          "$ref": "GoogleCloudDataplexV1DataProfileSpec"
        },
        "dataQualityResult": {
          "description": "Output only. The result of the data quality scan.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataQualityResult"
        },
        "dataProfileResult": {
          "description": "Output only. The result of the data profile scan.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataProfileResult"
        }
      }
    },
    "GoogleCloudDataplexV1DataSource": {
      "id": "GoogleCloudDataplexV1DataSource",
      "description": "The data source for DataScan.",
      "type": "object",
      "properties": {
        "entity": {
          "description": "Immutable. The Dataplex entity that represents the data source (e.g. BigQuery table) for DataScan, of the form: projects\/{project_number}\/locations\/{location_id}\/lakes\/{lake_id}\/zones\/{zone_id}\/entities\/{entity_id}.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataScanExecutionSpec": {
      "id": "GoogleCloudDataplexV1DataScanExecutionSpec",
      "description": "DataScan execution settings.",
      "type": "object",
      "properties": {
        "trigger": {
          "description": "Optional. Spec related to how often and when a scan should be triggered.If not specified, the default is OnDemand, which means the scan will not run until the user calls RunDataScan API.",
          "$ref": "GoogleCloudDataplexV1Trigger"
        },
        "field": {
          "description": "Immutable. The unnested field (of type Date or Timestamp) that contains values which monotonically increase over time.If not specified, a data scan will run for all data in the table.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Trigger": {
      "id": "GoogleCloudDataplexV1Trigger",
      "description": "DataScan scheduling and trigger settings.",
      "type": "object",
      "properties": {
        "onDemand": {
          "description": "The scan runs once via RunDataScan API.",
          "$ref": "GoogleCloudDataplexV1TriggerOnDemand"
        },
        "schedule": {
          "description": "The scan is scheduled to run periodically.",
          "$ref": "GoogleCloudDataplexV1TriggerSchedule"
        }
      }
    },
    "GoogleCloudDataplexV1TriggerOnDemand": {
      "id": "GoogleCloudDataplexV1TriggerOnDemand",
      "description": "The scan runs once via RunDataScan API.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDataplexV1TriggerSchedule": {
      "id": "GoogleCloudDataplexV1TriggerSchedule",
      "description": "The scan is scheduled to run periodically.",
      "type": "object",
      "properties": {
        "cron": {
          "description": "Required. Cron (https:\/\/en.wikipedia.org\/wiki\/Cron) schedule for running scans periodically.To explicitly set a timezone in the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database (wikipedia (https:\/\/en.wikipedia.org\/wiki\/List_of_tz_database_time_zones#List)). For example, CRON_TZ=America\/New_York 1 * * * *, or TZ=America\/New_York 1 * * * *.This field is required for Schedule scans.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataScanExecutionStatus": {
      "id": "GoogleCloudDataplexV1DataScanExecutionStatus",
      "description": "Status of the data scan execution.",
      "type": "object",
      "properties": {
        "latestJobStartTime": {
          "description": "The time when the latest DataScanJob started.",
          "type": "string",
          "format": "google-datetime"
        },
        "latestJobEndTime": {
          "description": "The time when the latest DataScanJob ended.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualitySpec": {
      "id": "GoogleCloudDataplexV1DataQualitySpec",
      "description": "DataQualityScan related setting.",
      "type": "object",
      "properties": {
        "rules": {
          "description": "The list of rules to evaluate against a data source. At least one rule is required.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityRule"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRule": {
      "id": "GoogleCloudDataplexV1DataQualityRule",
      "description": "A rule captures data quality intent about a data source.",
      "type": "object",
      "properties": {
        "rangeExpectation": {
          "description": "ColumnMap rule which evaluates whether each column value lies between a specified range.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRangeExpectation"
        },
        "nonNullExpectation": {
          "description": "ColumnMap rule which evaluates whether each column value is null.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation"
        },
        "setExpectation": {
          "description": "ColumnMap rule which evaluates whether each column value is contained by a specified set.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleSetExpectation"
        },
        "regexExpectation": {
          "description": "ColumnMap rule which evaluates whether each column value matches a specified regex.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRegexExpectation"
        },
        "uniquenessExpectation": {
          "description": "ColumnAggregate rule which evaluates whether the column has duplicates.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleUniquenessExpectation"
        },
        "statisticRangeExpectation": {
          "description": "ColumnAggregate rule which evaluates whether the column aggregate statistic lies between a specified range.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation"
        },
        "rowConditionExpectation": {
          "description": "Table rule which evaluates whether each row passes the specified condition.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation"
        },
        "tableConditionExpectation": {
          "description": "Table rule which evaluates whether the provided expression is true.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleTableConditionExpectation"
        },
        "column": {
          "description": "Optional. The unnested column which this rule is evaluated against.",
          "type": "string"
        },
        "ignoreNull": {
          "description": "Optional. Rows with null values will automatically fail a rule, unless ignore_null is true. In that case, such null rows are trivially considered passing.Only applicable to ColumnMap rules.",
          "type": "boolean"
        },
        "dimension": {
          "description": "Required. The dimension a rule belongs to. Results are also aggregated at the dimension level. Supported dimensions are \"COMPLETENESS\", \"ACCURACY\", \"CONSISTENCY\", \"VALIDITY\", \"UNIQUENESS\", \"INTEGRITY\"",
          "type": "string"
        },
        "threshold": {
          "description": "Optional. The minimum ratio of passing_rows \/ total_rows required to pass this rule, with a range of 0.0, 1.0.0 indicates default value (i.e. 1.0).",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleRangeExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleRangeExpectation",
      "description": "Evaluates whether each column value lies between a specified range.",
      "type": "object",
      "properties": {
        "minValue": {
          "description": "Optional. The minimum column value allowed for a row to pass this validation. At least one of min_value and max_value need to be provided.",
          "type": "string"
        },
        "maxValue": {
          "description": "Optional. The maximum column value allowed for a row to pass this validation. At least one of min_value and max_value need to be provided.",
          "type": "string"
        },
        "strictMinEnabled": {
          "description": "Optional. Whether each value needs to be strictly greater than ('>') the minimum, or if equality is allowed.Only relevant if a min_value has been defined. Default = false.",
          "type": "boolean"
        },
        "strictMaxEnabled": {
          "description": "Optional. Whether each value needs to be strictly lesser than ('<') the maximum, or if equality is allowed.Only relevant if a max_value has been defined. Default = false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation",
      "description": "Evaluates whether each column value is null.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleSetExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleSetExpectation",
      "description": "Evaluates whether each column value is contained by a specified set.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Expected values for the column value.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleRegexExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleRegexExpectation",
      "description": "Evaluates whether each column value matches a specified regex.",
      "type": "object",
      "properties": {
        "regex": {
          "description": "A regular expression the column value is expected to match.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleUniquenessExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleUniquenessExpectation",
      "description": "Evaluates whether the column has duplicates.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation",
      "description": "Evaluates whether the column aggregate statistic lies between a specified range.",
      "type": "object",
      "properties": {
        "statistic": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified statistic type",
            "Evaluate the column mean",
            "Evaluate the column min",
            "Evaluate the column max"
          ],
          "enum": [
            "STATISTIC_UNDEFINED",
            "MEAN",
            "MIN",
            "MAX"
          ]
        },
        "minValue": {
          "description": "The minimum column statistic value allowed for a row to pass this validation.At least one of min_value and max_value need to be provided.",
          "type": "string"
        },
        "maxValue": {
          "description": "The maximum column statistic value allowed for a row to pass this validation.At least one of min_value and max_value need to be provided.",
          "type": "string"
        },
        "strictMinEnabled": {
          "description": "Whether column statistic needs to be strictly greater than ('>') the minimum, or if equality is allowed.Only relevant if a min_value has been defined. Default = false.",
          "type": "boolean"
        },
        "strictMaxEnabled": {
          "description": "Whether column statistic needs to be strictly lesser than ('<') the maximum, or if equality is allowed.Only relevant if a max_value has been defined. Default = false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation",
      "description": "Evaluates whether each row passes the specified condition.The SQL expression needs to use BigQuery standard SQL syntax and should produce a boolean value per row as the result.Example: col1 >= 0 AND col2 < 10",
      "type": "object",
      "properties": {
        "sqlExpression": {
          "description": "The SQL expression.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleTableConditionExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleTableConditionExpectation",
      "description": "Evaluates whether the provided expression is true.The SQL expression needs to use BigQuery standard SQL syntax and should produce a scalar boolean result.Example: MIN(col1) >= 0",
      "type": "object",
      "properties": {
        "sqlExpression": {
          "description": "The SQL expression.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileSpec": {
      "id": "GoogleCloudDataplexV1DataProfileSpec",
      "description": "DataProfileScan related setting.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDataplexV1DataQualityResult": {
      "id": "GoogleCloudDataplexV1DataQualityResult",
      "description": "The output of a DataQualityScan.",
      "type": "object",
      "properties": {
        "passed": {
          "description": "Overall data quality result -- true if all rules passed.",
          "type": "boolean"
        },
        "dimensions": {
          "description": "A list of results at the dimension level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityDimensionResult"
          }
        },
        "rules": {
          "description": "A list of all the rules in a job, and their results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityRuleResult"
          }
        },
        "rowCount": {
          "description": "The count of rows processed.",
          "type": "string",
          "format": "int64"
        },
        "scannedData": {
          "description": "The data scanned for this result.",
          "$ref": "GoogleCloudDataplexV1ScannedData"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityDimensionResult": {
      "id": "GoogleCloudDataplexV1DataQualityDimensionResult",
      "description": "DataQualityDimensionResult provides a more detailed, per-dimension view of the results.",
      "type": "object",
      "properties": {
        "passed": {
          "description": "Whether the dimension passed or failed.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleResult": {
      "id": "GoogleCloudDataplexV1DataQualityRuleResult",
      "description": "DataQualityRuleResult provides a more detailed, per-rule view of the results.",
      "type": "object",
      "properties": {
        "rule": {
          "description": "The rule specified in the DataQualitySpec, as is.",
          "$ref": "GoogleCloudDataplexV1DataQualityRule"
        },
        "passed": {
          "description": "Whether the rule passed or failed.",
          "type": "boolean"
        },
        "evaluatedCount": {
          "description": "The number of rows a rule was evaluated against. This field is only valid for ColumnMap type rules.Evaluated count can be configured to either include all rows (default) - with null rows automatically failing rule evaluation, or exclude null rows from the evaluated_count, by setting ignore_nulls = true.",
          "type": "string",
          "format": "int64"
        },
        "passedCount": {
          "description": "The number of rows which passed a rule evaluation. This field is only valid for ColumnMap type rules.",
          "type": "string",
          "format": "int64"
        },
        "nullCount": {
          "description": "The number of rows with null values in the specified column.",
          "type": "string",
          "format": "int64"
        },
        "passRatio": {
          "description": "The ratio of passed_count \/ evaluated_count. This field is only valid for ColumnMap type rules.",
          "type": "number",
          "format": "double"
        },
        "failingRowsQuery": {
          "description": "The query to find rows that did not pass this rule. Only applies to ColumnMap and RowCondition rules.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ScannedData": {
      "id": "GoogleCloudDataplexV1ScannedData",
      "description": "The data scanned during processing (e.g. in incremental DataScan)",
      "type": "object",
      "properties": {
        "incrementalField": {
          "description": "The range denoted by values of an incremental field",
          "$ref": "GoogleCloudDataplexV1ScannedDataIncrementalField"
        }
      }
    },
    "GoogleCloudDataplexV1ScannedDataIncrementalField": {
      "id": "GoogleCloudDataplexV1ScannedDataIncrementalField",
      "description": "A data range denoted by a pair of start\/end values of a field.",
      "type": "object",
      "properties": {
        "field": {
          "description": "The field that contains values which monotonically increases over time (e.g. a timestamp column).",
          "type": "string"
        },
        "start": {
          "description": "Value that marks the start of the range.",
          "type": "string"
        },
        "end": {
          "description": "Value that marks the end of the range.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResult": {
      "id": "GoogleCloudDataplexV1DataProfileResult",
      "description": "DataProfileResult defines the output of DataProfileScan. Each field of the table will have field type specific profile result.",
      "type": "object",
      "properties": {
        "rowCount": {
          "description": "The count of rows scanned.",
          "type": "string",
          "format": "int64"
        },
        "profile": {
          "description": "The profile information per field.",
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfile"
        },
        "scannedData": {
          "description": "The data scanned for this result.",
          "$ref": "GoogleCloudDataplexV1ScannedData"
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfile": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfile",
      "description": "Contains name, type, mode and field type specific profile information.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "List of fields with structural and profile information for each field.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataProfileResultProfileField"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfileField": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfileField",
      "description": "A field within a table.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the field.",
          "type": "string"
        },
        "type": {
          "description": "The field data type. Possible values include: STRING BYTE INT64 INT32 INT16 DOUBLE FLOAT DECIMAL BOOLEAN BINARY TIMESTAMP DATE TIME NULL RECORD",
          "type": "string"
        },
        "mode": {
          "description": "The mode of the field. Possible values include: REQUIRED, if it is a required field. NULLABLE, if it is an optional field. REPEATED, if it is a repeated field.",
          "type": "string"
        },
        "profile": {
          "description": "Profile information for the corresponding field.",
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo"
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo",
      "description": "The profile information for each field type.",
      "type": "object",
      "properties": {
        "nullRatio": {
          "description": "Ratio of rows with null value against total scanned rows.",
          "type": "number",
          "format": "double"
        },
        "distinctRatio": {
          "description": "Ratio of rows with distinct values against total scanned rows. Not available for complex non-groupable field type RECORD and fields with REPEATABLE mode.",
          "type": "number",
          "format": "double"
        },
        "topNValues": {
          "description": "The list of top N non-null values and number of times they occur in the scanned data. N is 10 or equal to the number of distinct values in the field, whichever is smaller. Not available for complex non-groupable field type RECORD and fields with REPEATABLE mode.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoTopNValue"
          }
        },
        "stringProfile": {
          "description": "String type field information.",
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo"
        },
        "integerProfile": {
          "description": "Integer type field information.",
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoIntegerFieldInfo"
        },
        "doubleProfile": {
          "description": "Double type field information.",
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo"
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoTopNValue": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoTopNValue",
      "description": "Top N non-null values in the scanned data.",
      "type": "object",
      "properties": {
        "value": {
          "description": "String value of a top N non-null value.",
          "type": "string"
        },
        "count": {
          "description": "Count of the corresponding value in the scanned data.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo",
      "description": "The profile information for a string type field.",
      "type": "object",
      "properties": {
        "minLength": {
          "description": "Minimum length of non-null values in the scanned data.",
          "type": "string",
          "format": "int64"
        },
        "maxLength": {
          "description": "Maximum length of non-null values in the scanned data.",
          "type": "string",
          "format": "int64"
        },
        "averageLength": {
          "description": "Average length of non-null values in the scanned data.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoIntegerFieldInfo": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoIntegerFieldInfo",
      "description": "The profile information for an integer type field.",
      "type": "object",
      "properties": {
        "average": {
          "description": "Average of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number",
          "format": "double"
        },
        "standardDeviation": {
          "description": "Standard deviation of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number",
          "format": "double"
        },
        "min": {
          "description": "Minimum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "string",
          "format": "int64"
        },
        "quartiles": {
          "description": "A quartile divides the number of data points into four parts, or quarters, of more-or-less equal size. Three main quartiles used are: The first quartile (Q1) splits off the lowest 25% of data from the highest 75%. It is also known as the lower or 25th empirical quartile, as 25% of the data is below this point. The second quartile (Q2) is the median of a data set. So, 50% of the data lies below this point. The third quartile (Q3) splits off the highest 25% of data from the lowest 75%. It is known as the upper or 75th empirical quartile, as 75% of the data lies below this point. Here, the quartiles is provided as an ordered list of quartile values for the scanned data, occurring in order Q1, median, Q3.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "max": {
          "description": "Maximum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo",
      "description": "The profile information for a double type field.",
      "type": "object",
      "properties": {
        "average": {
          "description": "Average of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number",
          "format": "double"
        },
        "standardDeviation": {
          "description": "Standard deviation of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number",
          "format": "double"
        },
        "min": {
          "description": "Minimum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number",
          "format": "double"
        },
        "quartiles": {
          "description": "A quartile divides the number of data points into four parts, or quarters, of more-or-less equal size. Three main quartiles used are: The first quartile (Q1) splits off the lowest 25% of data from the highest 75%. It is also known as the lower or 25th empirical quartile, as 25% of the data is below this point. The second quartile (Q2) is the median of a data set. So, 50% of the data lies below this point. The third quartile (Q3) splits off the highest 25% of data from the lowest 75%. It is known as the upper or 75th empirical quartile, as 75% of the data lies below this point. Here, the quartiles is provided as an ordered list of quartile values for the scanned data, occurring in order Q1, median, Q3.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "max": {
          "description": "Maximum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDataplexV1ListDataScansResponse": {
      "id": "GoogleCloudDataplexV1ListDataScansResponse",
      "description": "List dataScans response.",
      "type": "object",
      "properties": {
        "dataScans": {
          "description": "DataScans (BASIC view only) under the given parent location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataScan"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1RunDataScanRequest": {
      "id": "GoogleCloudDataplexV1RunDataScanRequest",
      "description": "Run DataScan Request",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudDataplexV1RunDataScanResponse": {
      "id": "GoogleCloudDataplexV1RunDataScanResponse",
      "description": "Run DataScan Response.",
      "type": "object",
      "properties": {
        "job": {
          "description": "DataScanJob created by RunDataScan request.",
          "$ref": "GoogleCloudDataplexV1DataScanJob"
        }
      }
    },
    "GoogleCloudDataplexV1DataScanJob": {
      "id": "GoogleCloudDataplexV1DataScanJob",
      "description": "A DataScanJob represents an instance of DataScan execution.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The relative resource name of the DataScanJob, of the form: projects\/{project}\/locations\/{location_id}\/dataScans\/{datascan_id}\/jobs\/{job_id}, where project refers to a project_id or project_number and location_id refers to a GCP region.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the DataScanJob.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. The time when the DataScanJob was started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time when the DataScanJob ended.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. Execution state for the DataScanJob.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The DataScanJob state is unspecified.",
            "The DataScanJob is running.",
            "The DataScanJob is canceling.",
            "The DataScanJob cancellation was successful.",
            "The DataScanJob completed successfully.",
            "The DataScanJob is no longer running due to an error.",
            "The DataScanJob has been created but not started to run yet."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED",
            "PENDING"
          ]
        },
        "message": {
          "description": "Output only. Additional information about the current state.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the parent DataScan.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The DataScan type is unspecified.",
            "Data Quality scan.",
            "Data Profile scan."
          ],
          "enum": [
            "DATA_SCAN_TYPE_UNSPECIFIED",
            "DATA_QUALITY",
            "DATA_PROFILE"
          ]
        },
        "dataQualitySpec": {
          "description": "Output only. DataQualityScan related setting.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataQualitySpec"
        },
        "dataProfileSpec": {
          "description": "Output only. DataProfileScan related setting.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataProfileSpec"
        },
        "dataQualityResult": {
          "description": "Output only. The result of the data quality scan.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataQualityResult"
        },
        "dataProfileResult": {
          "description": "Output only. The result of the data profile scan.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataProfileResult"
        }
      }
    },
    "GoogleCloudDataplexV1ListDataScanJobsResponse": {
      "id": "GoogleCloudDataplexV1ListDataScanJobsResponse",
      "description": "List DataScanJobs response.",
      "type": "object",
      "properties": {
        "dataScanJobs": {
          "description": "DataScanJobs (BASIC view only) under a given dataScan.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataScanJob"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Entity": {
      "id": "GoogleCloudDataplexV1Entity",
      "description": "Represents tables and fileset metadata contained within a zone.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the entity, of the form: projects\/{project_number}\/locations\/{location_id}\/lakes\/{lake_id}\/zones\/{zone_id}\/entities\/{id}.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name must be shorter than or equal to 256 characters.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User friendly longer description text. Must be shorter than or equal to 1024 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the entity was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the entity was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "description": "Required. A user-provided entity ID. It is mutable, and will be used as the published table name. Specifying a new ID in an update entity request will override the existing value. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores. Must begin with a letter and consist of 256 or fewer characters.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag associated with the entity, which can be retrieved with a GetEntity request. Required for update and delete requests.",
          "type": "string"
        },
        "type": {
          "description": "Required. Immutable. The type of entity.",
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "Structured and semi-structured data.",
            "Unstructured data."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ]
        },
        "asset": {
          "description": "Required. Immutable. The ID of the asset associated with the storage location containing the entity data. The entity must be with in the same zone with the asset.",
          "type": "string"
        },
        "dataPath": {
          "description": "Required. Immutable. The storage path of the entity data. For Cloud Storage data, this is the fully-qualified path to the entity, such as gs:\/\/bucket\/path\/to\/data. For BigQuery data, this is the name of the table resource, such as projects\/project_id\/datasets\/dataset_id\/tables\/table_id.",
          "type": "string"
        },
        "dataPathPattern": {
          "description": "Optional. The set of items within the data path constituting the data in the entity, represented as a glob path. Example: gs:\/\/bucket\/path\/to\/data\/**\/*.csv.",
          "type": "string"
        },
        "catalogEntry": {
          "description": "Output only. The name of the associated Data Catalog entry.",
          "readOnly": true,
          "type": "string"
        },
        "system": {
          "description": "Required. Immutable. Identifies the storage system of the entity data.",
          "type": "string",
          "enumDescriptions": [
            "Storage system unspecified.",
            "The entity data is contained within a Cloud Storage bucket.",
            "The entity data is contained within a BigQuery dataset."
          ],
          "enum": [
            "STORAGE_SYSTEM_UNSPECIFIED",
            "CLOUD_STORAGE",
            "BIGQUERY"
          ]
        },
        "format": {
          "description": "Required. Identifies the storage format of the entity data. It does not apply to entities with data stored in BigQuery.",
          "$ref": "GoogleCloudDataplexV1StorageFormat"
        },
        "compatibility": {
          "description": "Output only. Metadata stores that the entity is compatible with.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatus"
        },
        "access": {
          "description": "Output only. Identifies the access mechanism to the entity. Not user settable.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1StorageAccess"
        },
        "uid": {
          "description": "Output only. System generated unique ID for the Entity. This ID will be different if the Entity is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "schema": {
          "description": "Required. The description of the data structure and layout. The schema is not included in list responses. It is only included in SCHEMA and FULL entity views of a GetEntity response.",
          "$ref": "GoogleCloudDataplexV1Schema"
        }
      }
    },
    "GoogleCloudDataplexV1StorageFormat": {
      "id": "GoogleCloudDataplexV1StorageFormat",
      "description": "Describes the format of the data within its storage location.",
      "type": "object",
      "properties": {
        "format": {
          "description": "Output only. The data format associated with the stored data, which represents content type values. The value is inferred from mime type.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Format unspecified.",
            "Parquet-formatted structured data.",
            "Avro-formatted structured data.",
            "Orc-formatted structured data.",
            "Csv-formatted semi-structured data.",
            "Json-formatted semi-structured data.",
            "Image data formats (such as jpg and png).",
            "Audio data formats (such as mp3, and wav).",
            "Video data formats (such as mp4 and mpg).",
            "Textual data formats (such as txt and xml).",
            "TensorFlow record format.",
            "Data that doesn't match a specific format.",
            "Data of an unknown format."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARQUET",
            "AVRO",
            "ORC",
            "CSV",
            "JSON",
            "IMAGE",
            "AUDIO",
            "VIDEO",
            "TEXT",
            "TFRECORD",
            "OTHER",
            "UNKNOWN"
          ]
        },
        "compressionFormat": {
          "description": "Optional. The compression type associated with the stored data. If unspecified, the data is uncompressed.",
          "type": "string",
          "enumDescriptions": [
            "CompressionFormat unspecified. Implies uncompressed data.",
            "GZip compressed set of files.",
            "BZip2 compressed set of files."
          ],
          "enum": [
            "COMPRESSION_FORMAT_UNSPECIFIED",
            "GZIP",
            "BZIP2"
          ]
        },
        "mimeType": {
          "description": "Required. The mime type descriptor for the data. Must match the pattern {type}\/{subtype}. Supported values: application\/x-parquet application\/x-avro application\/x-orc application\/x-tfrecord application\/x-parquet+iceberg application\/x-avro+iceberg application\/x-orc+iceberg application\/json application\/{subtypes} text\/csv text\/ image\/{image subtype} video\/{video subtype} audio\/{audio subtype}",
          "type": "string"
        },
        "csv": {
          "description": "Optional. Additional information about CSV formatted data.",
          "$ref": "GoogleCloudDataplexV1StorageFormatCsvOptions"
        },
        "json": {
          "description": "Optional. Additional information about CSV formatted data.",
          "$ref": "GoogleCloudDataplexV1StorageFormatJsonOptions"
        },
        "iceberg": {
          "description": "Optional. Additional information about iceberg tables.",
          "$ref": "GoogleCloudDataplexV1StorageFormatIcebergOptions"
        }
      }
    },
    "GoogleCloudDataplexV1StorageFormatCsvOptions": {
      "id": "GoogleCloudDataplexV1StorageFormatCsvOptions",
      "description": "Describes CSV and similar semi-structured data formats.",
      "type": "object",
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\", and \"ISO-8859-1\". Defaults to UTF-8 if unspecified.",
          "type": "string"
        },
        "headerRows": {
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows. Defaults to 0.",
          "type": "integer",
          "format": "int32"
        },
        "delimiter": {
          "description": "Optional. The delimiter used to separate values. Defaults to ','.",
          "type": "string"
        },
        "quote": {
          "description": "Optional. The character used to quote column values. Accepts '\"' (double quotation mark) or ''' (single quotation mark). Defaults to '\"' (double quotation mark) if unspecified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1StorageFormatJsonOptions": {
      "id": "GoogleCloudDataplexV1StorageFormatJsonOptions",
      "description": "Describes JSON data format.",
      "type": "object",
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\" and \"ISO-8859-1\". Defaults to UTF-8 if not specified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1StorageFormatIcebergOptions": {
      "id": "GoogleCloudDataplexV1StorageFormatIcebergOptions",
      "description": "Describes Iceberg data format.",
      "type": "object",
      "properties": {
        "metadataLocation": {
          "description": "Optional. The location of where the iceberg metadata is present, must be within the table path",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1EntityCompatibilityStatus": {
      "id": "GoogleCloudDataplexV1EntityCompatibilityStatus",
      "description": "Provides compatibility information for various metadata stores.",
      "type": "object",
      "properties": {
        "hiveMetastore": {
          "description": "Output only. Whether this entity is compatible with Hive Metastore.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility"
        },
        "bigquery": {
          "description": "Output only. Whether this entity is compatible with BigQuery.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility"
        }
      }
    },
    "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility": {
      "id": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility",
      "description": "Provides compatibility information for a specific metadata store.",
      "type": "object",
      "properties": {
        "compatible": {
          "description": "Output only. Whether the entity is compatible and can be represented in the metadata store.",
          "readOnly": true,
          "type": "boolean"
        },
        "reason": {
          "description": "Output only. Provides additional detail if the entity is incompatible with the metadata store.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1StorageAccess": {
      "id": "GoogleCloudDataplexV1StorageAccess",
      "description": "Describes the access mechanism of the data within its storage location.",
      "type": "object",
      "properties": {
        "read": {
          "description": "Output only. Describes the read access mechanism of the data. Not user settable.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Access mode unspecified.",
            "Default. Data is accessed directly using storage APIs.",
            "Data is accessed through a managed interface using BigQuery APIs."
          ],
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "DIRECT",
            "MANAGED"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1Schema": {
      "id": "GoogleCloudDataplexV1Schema",
      "description": "Schema information describing the structure and layout of the data.",
      "type": "object",
      "properties": {
        "userManaged": {
          "description": "Required. Set to true if user-managed or false if managed by Dataplex. The default is false (managed by Dataplex). Set to falseto enable Dataplex discovery to update the schema. including new data discovery, schema inference, and schema evolution. Users retain the ability to input and edit the schema. Dataplex treats schema input by the user as though produced by a previous Dataplex discovery operation, and it will evolve the schema and take action based on that treatment. Set to true to fully manage the entity schema. This setting guarantees that Dataplex will not change schema fields.",
          "type": "boolean"
        },
        "fields": {
          "description": "Optional. The sequence of fields describing data in table entities. Note: BigQuery SchemaFields are immutable.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaSchemaField"
          }
        },
        "partitionFields": {
          "description": "Optional. The sequence of fields describing the partition structure in entities. If this field is empty, there are no partitions within the data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaPartitionField"
          }
        },
        "partitionStyle": {
          "description": "Optional. The structure of paths containing partition data within the entity.",
          "type": "string",
          "enumDescriptions": [
            "PartitionStyle unspecified",
            "Partitions are hive-compatible. Examples: gs:\/\/bucket\/path\/to\/table\/dt=2019-10-31\/lang=en, gs:\/\/bucket\/path\/to\/table\/dt=2019-10-31\/lang=en\/late."
          ],
          "enum": [
            "PARTITION_STYLE_UNSPECIFIED",
            "HIVE_COMPATIBLE"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1SchemaSchemaField": {
      "id": "GoogleCloudDataplexV1SchemaSchemaField",
      "description": "Represents a column field within a table schema.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the field. Must contain only letters, numbers and underscores, with a maximum length of 767 characters, and must begin with a letter or underscore.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User friendly field description. Must be less than or equal to 1024 characters.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of field.",
          "type": "string",
          "enumDescriptions": [
            "SchemaType unspecified.",
            "Boolean field.",
            "Single byte numeric field.",
            "16-bit numeric field.",
            "32-bit numeric field.",
            "64-bit numeric field.",
            "Floating point numeric field.",
            "Double precision numeric field.",
            "Real value numeric field.",
            "Sequence of characters field.",
            "Sequence of bytes field.",
            "Date and time field.",
            "Date field.",
            "Time field.",
            "Structured field. Nested fields that define the structure of the map. If all nested fields are nullable, this field represents a union.",
            "Null field that does not have values."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "BOOLEAN",
            "BYTE",
            "INT16",
            "INT32",
            "INT64",
            "FLOAT",
            "DOUBLE",
            "DECIMAL",
            "STRING",
            "BINARY",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "RECORD",
            "NULL"
          ]
        },
        "mode": {
          "description": "Required. Additional field semantics.",
          "type": "string",
          "enumDescriptions": [
            "Mode unspecified.",
            "The field has required semantics.",
            "The field has optional semantics, and may be null.",
            "The field has repeated (0 or more) semantics, and is a list of values."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "REQUIRED",
            "NULLABLE",
            "REPEATED"
          ]
        },
        "fields": {
          "description": "Optional. Any nested field for complex types.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaSchemaField"
          }
        }
      }
    },
    "GoogleCloudDataplexV1SchemaPartitionField": {
      "id": "GoogleCloudDataplexV1SchemaPartitionField",
      "description": "Represents a key field within the entity's partition structure. You could have up to 20 partition fields, but only the first 10 partitions have the filtering ability due to performance consideration. Note: Partition fields are immutable.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Partition field name must consist of letters, numbers, and underscores only, with a maximum of length of 256 characters, and must begin with a letter or underscore..",
          "type": "string"
        },
        "type": {
          "description": "Required. Immutable. The type of field.",
          "type": "string",
          "enumDescriptions": [
            "SchemaType unspecified.",
            "Boolean field.",
            "Single byte numeric field.",
            "16-bit numeric field.",
            "32-bit numeric field.",
            "64-bit numeric field.",
            "Floating point numeric field.",
            "Double precision numeric field.",
            "Real value numeric field.",
            "Sequence of characters field.",
            "Sequence of bytes field.",
            "Date and time field.",
            "Date field.",
            "Time field.",
            "Structured field. Nested fields that define the structure of the map. If all nested fields are nullable, this field represents a union.",
            "Null field that does not have values."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "BOOLEAN",
            "BYTE",
            "INT16",
            "INT32",
            "INT64",
            "FLOAT",
            "DOUBLE",
            "DECIMAL",
            "STRING",
            "BINARY",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "RECORD",
            "NULL"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1ListEntitiesResponse": {
      "id": "GoogleCloudDataplexV1ListEntitiesResponse",
      "description": "List metadata entities response.",
      "type": "object",
      "properties": {
        "entities": {
          "description": "Entities in the specified parent zone.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Entity"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no remaining results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Partition": {
      "id": "GoogleCloudDataplexV1Partition",
      "description": "Represents partition metadata contained within entity instances.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Partition values used in the HTTP URL must be double encoded. For example, url_encode(url_encode(value)) can be used to encode \"US:CA\/CA#Sunnyvale so that the request URL ends with \"\/partitions\/US%253ACA\/CA%2523Sunnyvale\". The name field in the response retains the encoded format.",
          "readOnly": true,
          "type": "string"
        },
        "values": {
          "description": "Required. Immutable. The set of values representing the partition, which correspond to the partition schema defined in the parent entity.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "location": {
          "description": "Required. Immutable. The location of the entity data within the partition, for example, gs:\/\/bucket\/path\/to\/entity\/key1=value1\/key2=value2. Or projects\/\/datasets\/\/tables\/",
[...]
