{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "gkemulticloud:v1",
  "name": "gkemulticloud",
  "canonicalName": "Gkemulticloud",
  "version": "v1",
  "revision": "0",
  "title": "Anthos Multi-Cloud API",
  "description": " Anthos Multi-Cloud provides a way to manage Kubernetes clusters that run on AWS and Azure infrastructure using the Anthos Multi-Cloud API. Combined with Connect, you can manage Kubernetes clusters on Google Cloud, AWS, and Azure from the Google Cloud Console. When you create a cluster with Anthos Multi-Cloud, Google creates the resources needed and brings up a cluster on your behalf. You can deploy workloads with the Anthos Multi-Cloud API or the gcloud and kubectl command-line tools.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/anthos/clusters/docs/multi-cloud",
  "protocol": "rest",
  "rootUrl": "https://gkemulticloud.googleapis.com/",
  "mtlsRootUrl": "https://gkemulticloud.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://gkemulticloud.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudGkemulticloudV1AttachedCluster": {
      "id": "GoogleCloudGkemulticloudV1AttachedCluster",
      "description": "An Anthos cluster running on customer own infrastructure.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this resource. Cluster names are formatted as `projects\/\/locations\/\/attachedClusters\/`. See [Resource Names](https:\/\/cloud.google.com\/apis\/design\/resource_names) for more details on Google Cloud Platform resource names.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human readable description of this cluster. Cannot be longer than 255 UTF-8 encoded bytes.",
          "type": "string"
        },
        "oidcConfig": {
          "description": "Required. OpenID Connect (OIDC) configuration for the cluster.",
          "$ref": "GoogleCloudGkemulticloudV1AttachedOidcConfig"
        },
        "platformVersion": {
          "description": "Required. The platform version for the cluster (e.g. `1.19.0-gke.1000`). You can list all supported versions on a given Google Cloud region by calling GetAttachedServerConfig.",
          "type": "string"
        },
        "distribution": {
          "description": "Required. The Kubernetes distribution of the underlying attached cluster. Supported values: [\"eks\", \"aks\"].",
          "type": "string"
        },
        "clusterRegion": {
          "description": "Output only. The region where this cluster runs. For EKS clusters, this is a AWS region. For AKS clusters, this is an Azure region.",
          "readOnly": true,
          "type": "string"
        },
        "fleet": {
          "description": "Required. Fleet configuration.",
          "$ref": "GoogleCloudGkemulticloudV1Fleet"
        },
        "state": {
          "description": "Output only. The current state of the cluster.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being registered.",
            "The RUNNING state indicates the cluster has been register and is fully usable.",
            "The RECONCILING state indicates that some work is actively being done on the cluster, such as upgrading software components.",
            "The STOPPING state indicates the cluster is being de-registered.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "uid": {
          "description": "Output only. A globally unique identifier for the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the cluster.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time at which this cluster was registered.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which this cluster was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Allows clients to perform consistent read-modify-writes through optimistic concurrency control. Can be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "kubernetesVersion": {
          "description": "Output only. The Kubernetes version of the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Annotations on the cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (\/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workloadIdentityConfig": {
          "description": "Output only. Workload Identity settings.",
          "readOnly": true,
          "$ref": "GoogleCloudGkemulticloudV1WorkloadIdentityConfig"
        },
        "loggingConfig": {
          "description": "Optional. Logging configuration for this cluster.",
          "$ref": "GoogleCloudGkemulticloudV1LoggingConfig"
        },
        "errors": {
          "description": "Output only. A set of errors found in the cluster.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AttachedClusterError"
          }
        },
        "authorization": {
          "description": "Optional. Configuration related to the cluster RBAC settings.",
          "$ref": "GoogleCloudGkemulticloudV1AttachedClustersAuthorization"
        },
        "monitoringConfig": {
          "description": "Optional. Monitoring configuration for this cluster.",
          "$ref": "GoogleCloudGkemulticloudV1MonitoringConfig"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AttachedOidcConfig": {
      "id": "GoogleCloudGkemulticloudV1AttachedOidcConfig",
      "description": "OIDC discovery information of the target cluster. Kubernetes Service Account (KSA) tokens are JWT tokens signed by the cluster API server. This fields indicates how Google Cloud Platform services validate KSA tokens in order to allow system workloads (such as GKE Connect and telemetry agents) to authenticate back to Google Cloud Platform. Both clusters with public and private issuer URLs are supported. Clusters with public issuers only need to specify the `issuer_url` field while clusters with private issuers need to provide both `issuer_url` and `oidc_jwks`.",
      "type": "object",
      "properties": {
        "issuerUrl": {
          "description": "A JSON Web Token (JWT) issuer URI. `issuer` must start with `https:\/\/`.",
          "type": "string"
        },
        "jwks": {
          "description": "Optional. OIDC verification keys in JWKS format (RFC 7517). It contains a list of OIDC verification keys that can be used to verify OIDC JWTs. This field is required for cluster that doesn't have a publicly available discovery endpoint. When provided, it will be directly used to verify the OIDC JWT asserted by the IDP.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudGkemulticloudV1Fleet": {
      "id": "GoogleCloudGkemulticloudV1Fleet",
      "description": "Fleet related configuration. Fleets are a Google Cloud concept for logically organizing clusters, letting you use and manage multi-cluster capabilities and apply consistent policies across your systems. See [Anthos Fleets](https:\/\/cloud.google.com\/anthos\/multicluster-management\/fleets) for more details on Anthos multi-cluster capabilities using Fleets.",
      "type": "object",
      "properties": {
        "project": {
          "description": "Required. The name of the Fleet host project where this cluster will be registered. Project names are formatted as `projects\/`.",
          "type": "string"
        },
        "membership": {
          "description": "Output only. The name of the managed Hub Membership resource associated to this cluster. Membership names are formatted as `projects\/\/locations\/global\/membership\/`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1WorkloadIdentityConfig": {
      "id": "GoogleCloudGkemulticloudV1WorkloadIdentityConfig",
      "description": "Workload Identity settings.",
      "type": "object",
      "properties": {
        "issuerUri": {
          "description": "The OIDC issuer URL for this cluster.",
          "type": "string"
        },
        "workloadPool": {
          "description": "The Workload Identity Pool associated to the cluster.",
          "type": "string"
        },
        "identityProvider": {
          "description": "The ID of the OIDC Identity Provider (IdP) associated to the Workload Identity Pool.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1LoggingConfig": {
      "id": "GoogleCloudGkemulticloudV1LoggingConfig",
      "description": "Parameters that describe the Logging configuration in a cluster.",
      "type": "object",
      "properties": {
        "componentConfig": {
          "description": "The configuration of the logging components;",
          "$ref": "GoogleCloudGkemulticloudV1LoggingComponentConfig"
        }
      }
    },
    "GoogleCloudGkemulticloudV1LoggingComponentConfig": {
      "id": "GoogleCloudGkemulticloudV1LoggingComponentConfig",
      "description": "Parameters that describe the Logging component configuration in a cluster.",
      "type": "object",
      "properties": {
        "enableComponents": {
          "description": "The components to be enabled.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "No component is specified",
              "This indicates that system logging components is enabled.",
              "This indicates that user workload logging component is enabled."
            ],
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "SYSTEM_COMPONENTS",
              "WORKLOADS"
            ]
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AttachedClusterError": {
      "id": "GoogleCloudGkemulticloudV1AttachedClusterError",
      "description": "AttachedClusterError describes errors found on attached clusters.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Human-friendly description of the error.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AttachedClustersAuthorization": {
      "id": "GoogleCloudGkemulticloudV1AttachedClustersAuthorization",
      "description": "Configuration related to the cluster RBAC settings.",
      "type": "object",
      "properties": {
        "adminUsers": {
          "description": "Required. Users that can perform operations as a cluster admin. A managed ClusterRoleBinding will be created to grant the `cluster-admin` ClusterRole to the users. Up to ten admin users can be provided. For more info on RBAC, see https:\/\/kubernetes.io\/docs\/reference\/access-authn-authz\/rbac\/#user-facing-roles",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AttachedClusterUser"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AttachedClusterUser": {
      "id": "GoogleCloudGkemulticloudV1AttachedClusterUser",
      "description": "Identities of a user-type subject for Attached clusters.",
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. The name of the user, e.g. `my-gcp-id@gmail.com`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1MonitoringConfig": {
      "id": "GoogleCloudGkemulticloudV1MonitoringConfig",
      "description": "Parameters that describe the Monitoring configuration in a cluster.",
      "type": "object",
      "properties": {
        "managedPrometheusConfig": {
          "description": "Enable Google Cloud Managed Service for Prometheus in the cluster.",
          "$ref": "GoogleCloudGkemulticloudV1ManagedPrometheusConfig"
        }
      }
    },
    "GoogleCloudGkemulticloudV1ManagedPrometheusConfig": {
      "id": "GoogleCloudGkemulticloudV1ManagedPrometheusConfig",
      "description": "ManagedPrometheusConfig defines the configuration for Google Cloud Managed Service for Prometheus.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Enable Managed Collection.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudGkemulticloudV1ImportAttachedClusterRequest": {
      "id": "GoogleCloudGkemulticloudV1ImportAttachedClusterRequest",
      "description": "Request message for `AttachedClusters.ImportAttachedCluster` method.",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "If set, only validate the request, but do not actually import the cluster.",
          "type": "boolean"
        },
        "fleetMembership": {
          "description": "Required. The name of the fleet membership resource to import.",
          "type": "string"
        },
        "platformVersion": {
          "description": "Required. The platform version for the cluster (e.g. `1.19.0-gke.1000`). You can list all supported versions on a given Google Cloud region by calling GetAttachedServerConfig.",
          "type": "string"
        },
        "distribution": {
          "description": "Required. The Kubernetes distribution of the underlying attached cluster. Supported values: [\"eks\", \"aks\"].",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1ListAttachedClustersResponse": {
      "id": "GoogleCloudGkemulticloudV1ListAttachedClustersResponse",
      "description": "Response message for `AttachedClusters.ListAttachedClusters` method.",
      "type": "object",
      "properties": {
        "attachedClusters": {
          "description": "A list of AttachedCluster resources in the specified Google Cloud Platform project and region region.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AttachedCluster"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AttachedServerConfig": {
      "id": "GoogleCloudGkemulticloudV1AttachedServerConfig",
      "description": "AttachedServerConfig provides information about supported Kubernetes versions",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the config.",
          "type": "string"
        },
        "validVersions": {
          "description": "List of valid platform versions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AttachedPlatformVersionInfo"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AttachedPlatformVersionInfo": {
      "id": "GoogleCloudGkemulticloudV1AttachedPlatformVersionInfo",
      "description": "Information about a supported Attached Clusters platform version.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Platform version name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1GenerateAttachedClusterInstallManifestResponse": {
      "id": "GoogleCloudGkemulticloudV1GenerateAttachedClusterInstallManifestResponse",
      "description": "Response message for `AttachedClusters.GenerateAttachedClusterInstallManifest` method.",
      "type": "object",
      "properties": {
        "manifest": {
          "description": "A set of Kubernetes resources (in YAML format) to be applied to the cluster to be attached.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsCluster": {
      "id": "GoogleCloudGkemulticloudV1AwsCluster",
      "description": "An Anthos cluster running on AWS.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this resource. Cluster names are formatted as `projects\/\/locations\/\/awsClusters\/`. See [Resource Names](https:\/\/cloud.google.com\/apis\/design\/resource_names) for more details on Google Cloud Platform resource names.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human readable description of this cluster. Cannot be longer than 255 UTF-8 encoded bytes.",
          "type": "string"
        },
        "networking": {
          "description": "Required. Cluster-wide networking configuration.",
          "$ref": "GoogleCloudGkemulticloudV1AwsClusterNetworking"
        },
        "awsRegion": {
          "description": "Required. The AWS region where the cluster runs. Each Google Cloud region supports a subset of nearby AWS regions. You can call GetAwsServerConfig to list all supported AWS regions within a given Google Cloud region.",
          "type": "string"
        },
        "controlPlane": {
          "description": "Required. Configuration related to the cluster control plane.",
          "$ref": "GoogleCloudGkemulticloudV1AwsControlPlane"
        },
        "authorization": {
          "description": "Required. Configuration related to the cluster RBAC settings.",
          "$ref": "GoogleCloudGkemulticloudV1AwsAuthorization"
        },
        "state": {
          "description": "Output only. The current state of the cluster.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that some work is actively being done on the cluster, such as upgrading the control plane replicas.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "endpoint": {
          "description": "Output only. The endpoint of the cluster's API server.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. A globally unique identifier for the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the cluster.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time at which this cluster was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which this cluster was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Allows clients to perform consistent read-modify-writes through optimistic concurrency control. Can be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Annotations on the cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (\/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workloadIdentityConfig": {
          "description": "Output only. Workload Identity settings.",
          "readOnly": true,
          "$ref": "GoogleCloudGkemulticloudV1WorkloadIdentityConfig"
        },
        "clusterCaCertificate": {
          "description": "Output only. PEM encoded x509 certificate of the cluster root of trust.",
          "readOnly": true,
          "type": "string"
        },
        "fleet": {
          "description": "Required. Fleet configuration.",
          "$ref": "GoogleCloudGkemulticloudV1Fleet"
        },
        "loggingConfig": {
          "description": "Optional. Logging configuration for this cluster.",
          "$ref": "GoogleCloudGkemulticloudV1LoggingConfig"
        },
        "errors": {
          "description": "Output only. A set of errors found in the cluster.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AwsClusterError"
          }
        },
        "monitoringConfig": {
          "description": "Optional. Monitoring configuration for this cluster.",
          "$ref": "GoogleCloudGkemulticloudV1MonitoringConfig"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsClusterNetworking": {
      "id": "GoogleCloudGkemulticloudV1AwsClusterNetworking",
      "description": "ClusterNetworking defines cluster-wide networking configuration. Anthos clusters on AWS run on a single VPC. This includes control plane replicas and node pool nodes.",
      "type": "object",
      "properties": {
        "vpcId": {
          "description": "Required. The VPC associated with the cluster. All component clusters (i.e. control plane and node pools) run on a single VPC. This field cannot be changed after creation.",
          "type": "string"
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAddressCidrBlocks": {
          "description": "Required. All services in the cluster are assigned an IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsControlPlane": {
      "id": "GoogleCloudGkemulticloudV1AwsControlPlane",
      "description": "ControlPlane defines common parameters between control plane nodes.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Required. The Kubernetes version to run on control plane replicas (e.g. `1.19.10-gke.1000`). You can list all supported versions on a given Google Cloud region by calling GetAwsServerConfig.",
          "type": "string"
        },
        "instanceType": {
          "description": "Optional. The AWS instance type. When unspecified, it uses a default based on the cluster's version.",
          "type": "string"
        },
        "sshConfig": {
          "description": "Optional. SSH configuration for how to access the underlying control plane machines.",
          "$ref": "GoogleCloudGkemulticloudV1AwsSshConfig"
        },
        "subnetIds": {
          "description": "Required. The list of subnets where control plane replicas will run. A replica will be provisioned on each subnet and up to three values can be provided. Each subnet must be in a different AWS Availability Zone (AZ).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "securityGroupIds": {
          "description": "Optional. The IDs of additional security groups to add to control plane replicas. The Anthos Multi-Cloud API will automatically create and manage security groups with the minimum rules needed for a functioning cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "iamInstanceProfile": {
          "description": "Required. The name or ARN of the AWS IAM instance profile to assign to each control plane replica.",
          "type": "string"
        },
        "rootVolume": {
          "description": "Optional. Configuration related to the root volume provisioned for each control plane replica. Volumes will be provisioned in the availability zone associated with the corresponding subnet. When unspecified, it defaults to 32 GiB with the GP2 volume type.",
          "$ref": "GoogleCloudGkemulticloudV1AwsVolumeTemplate"
        },
        "mainVolume": {
          "description": "Optional. Configuration related to the main volume provisioned for each control plane replica. The main volume is in charge of storing all of the cluster's etcd state. Volumes will be provisioned in the availability zone associated with the corresponding subnet. When unspecified, it defaults to 8 GiB with the GP2 volume type.",
          "$ref": "GoogleCloudGkemulticloudV1AwsVolumeTemplate"
        },
        "databaseEncryption": {
          "description": "Required. The ARN of the AWS KMS key used to encrypt cluster secrets.",
          "$ref": "GoogleCloudGkemulticloudV1AwsDatabaseEncryption"
        },
        "tags": {
          "description": "Optional. A set of AWS resource tags to propagate to all underlying managed AWS resources. Specify at most 50 pairs containing alphanumerics, spaces, and symbols (.+-=_:@\/). Keys can be up to 127 Unicode characters. Values can be up to 255 Unicode characters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "awsServicesAuthentication": {
          "description": "Required. Authentication configuration for management of AWS resources.",
          "$ref": "GoogleCloudGkemulticloudV1AwsServicesAuthentication"
        },
        "proxyConfig": {
          "description": "Optional. Proxy configuration for outbound HTTP(S) traffic.",
          "$ref": "GoogleCloudGkemulticloudV1AwsProxyConfig"
        },
        "configEncryption": {
          "description": "Required. Config encryption for user data.",
          "$ref": "GoogleCloudGkemulticloudV1AwsConfigEncryption"
        },
        "instancePlacement": {
          "description": "Optional. The placement to use on control plane instances. When unspecified, the VPC's default tenancy will be used.",
          "$ref": "GoogleCloudGkemulticloudV1AwsInstancePlacement"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsSshConfig": {
      "id": "GoogleCloudGkemulticloudV1AwsSshConfig",
      "description": "SSH configuration for AWS resources.",
      "type": "object",
      "properties": {
        "ec2KeyPair": {
          "description": "Required. The name of the EC2 key pair used to login into cluster machines.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsVolumeTemplate": {
      "id": "GoogleCloudGkemulticloudV1AwsVolumeTemplate",
      "description": "Configuration template for AWS EBS volumes.",
      "type": "object",
      "properties": {
        "sizeGib": {
          "description": "Optional. The size of the volume, in GiBs. When unspecified, a default value is provided. See the specific reference in the parent resource.",
          "type": "integer",
          "format": "int32"
        },
        "volumeType": {
          "description": "Optional. Type of the EBS volume. When unspecified, it defaults to GP2 volume.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "GP2 (General Purpose SSD volume type).",
            "GP3 (General Purpose SSD volume type)."
          ],
          "enum": [
            "VOLUME_TYPE_UNSPECIFIED",
            "GP2",
            "GP3"
          ]
        },
        "iops": {
          "description": "Optional. The number of I\/O operations per second (IOPS) to provision for GP3 volume.",
          "type": "integer",
          "format": "int32"
        },
        "kmsKeyArn": {
          "description": "Optional. The Amazon Resource Name (ARN) of the Customer Managed Key (CMK) used to encrypt AWS EBS volumes. If not specified, the default Amazon managed key associated to the AWS region where this cluster runs will be used.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsDatabaseEncryption": {
      "id": "GoogleCloudGkemulticloudV1AwsDatabaseEncryption",
      "description": "Configuration related to application-layer secrets encryption.",
      "type": "object",
      "properties": {
        "kmsKeyArn": {
          "description": "Required. The ARN of the AWS KMS key used to encrypt cluster secrets.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsServicesAuthentication": {
      "id": "GoogleCloudGkemulticloudV1AwsServicesAuthentication",
      "description": "Authentication configuration for the management of AWS resources.",
      "type": "object",
      "properties": {
        "roleArn": {
          "description": "Required. The Amazon Resource Name (ARN) of the role that the Anthos Multi-Cloud API will assume when managing AWS resources on your account.",
          "type": "string"
        },
        "roleSessionName": {
          "description": "Optional. An identifier for the assumed role session. When unspecified, it defaults to `multicloud-service-agent`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsProxyConfig": {
      "id": "GoogleCloudGkemulticloudV1AwsProxyConfig",
      "description": "Details of a proxy config stored in AWS Secret Manager.",
      "type": "object",
      "properties": {
        "secretArn": {
          "description": "The ARN of the AWS Secret Manager secret that contains the HTTP(S) proxy configuration. The secret must be a JSON encoded proxy configuration as described in https:\/\/cloud.google.com\/anthos\/clusters\/docs\/multi-cloud\/aws\/how-to\/use-a-proxy#create_a_proxy_configuration_file",
          "type": "string"
        },
        "secretVersion": {
          "description": "The version string of the AWS Secret Manager secret that contains the HTTP(S) proxy configuration.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsConfigEncryption": {
      "id": "GoogleCloudGkemulticloudV1AwsConfigEncryption",
      "description": "Config encryption for user data.",
      "type": "object",
      "properties": {
        "kmsKeyArn": {
          "description": "Required. The ARN of the AWS KMS key used to encrypt user data.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsInstancePlacement": {
      "id": "GoogleCloudGkemulticloudV1AwsInstancePlacement",
      "description": "Details of placement information for an instance. Limitations for using the `host` tenancy: * T3 instances that use the unlimited CPU credit option don't support host tenancy.",
      "type": "object",
      "properties": {
        "tenancy": {
          "description": "Required. The tenancy for instance.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Use default VPC tenancy.",
            "Run a dedicated instance.",
            "Launch this instance to a dedicated host."
          ],
          "enum": [
            "TENANCY_UNSPECIFIED",
            "DEFAULT",
            "DEDICATED",
            "HOST"
          ]
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsAuthorization": {
      "id": "GoogleCloudGkemulticloudV1AwsAuthorization",
      "description": "Configuration related to the cluster RBAC settings.",
      "type": "object",
      "properties": {
        "adminUsers": {
          "description": "Required. Users that can perform operations as a cluster admin. A managed ClusterRoleBinding will be created to grant the `cluster-admin` ClusterRole to the users. Up to ten admin users can be provided. For more info on RBAC, see https:\/\/kubernetes.io\/docs\/reference\/access-authn-authz\/rbac\/#user-facing-roles",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AwsClusterUser"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsClusterUser": {
      "id": "GoogleCloudGkemulticloudV1AwsClusterUser",
      "description": "Identities of a user-type subject for AWS clusters.",
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. The name of the user, e.g. `my-gcp-id@gmail.com`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsClusterError": {
      "id": "GoogleCloudGkemulticloudV1AwsClusterError",
      "description": "AwsClusterError describes errors found on AWS clusters.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Human-friendly description of the error.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1ListAwsClustersResponse": {
      "id": "GoogleCloudGkemulticloudV1ListAwsClustersResponse",
      "description": "Response message for `AwsClusters.ListAwsClusters` method.",
      "type": "object",
      "properties": {
        "awsClusters": {
          "description": "A list of AwsCluster resources in the specified Google Cloud Platform project and region region.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AwsCluster"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1GenerateAwsAccessTokenResponse": {
      "id": "GoogleCloudGkemulticloudV1GenerateAwsAccessTokenResponse",
      "description": "Response message for `AwsClusters.GenerateAwsAccessToken` method.",
      "type": "object",
      "properties": {
        "accessToken": {
          "description": "Output only. Access token to authenticate to k8s api-server.",
          "readOnly": true,
          "type": "string"
        },
        "expirationTime": {
          "description": "Output only. Timestamp at which the token will expire.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsNodePool": {
      "id": "GoogleCloudGkemulticloudV1AwsNodePool",
      "description": "An Anthos node pool running on AWS.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this resource. Node pool names are formatted as `projects\/\/locations\/\/awsClusters\/\/awsNodePools\/`. For more details on Google Cloud resource names, see [Resource Names](https:\/\/cloud.google.com\/apis\/design\/resource_names)",
          "type": "string"
        },
        "version": {
          "description": "Required. The Kubernetes version to run on this node pool (e.g. `1.19.10-gke.1000`). You can list all supported versions on a given Google Cloud region by calling GetAwsServerConfig.",
          "type": "string"
        },
        "config": {
          "description": "Required. The configuration of the node pool.",
          "$ref": "GoogleCloudGkemulticloudV1AwsNodeConfig"
        },
        "autoscaling": {
          "description": "Required. Autoscaler configuration for this node pool.",
          "$ref": "GoogleCloudGkemulticloudV1AwsNodePoolAutoscaling"
        },
        "subnetId": {
          "description": "Required. The subnet where the node pool node run.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The lifecycle state of the node pool.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the node pool is being reconciled.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the node pool requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "uid": {
          "description": "Output only. A globally unique identifier for the node pool.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the node pool.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time at which this node pool was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which this node pool was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Allows clients to perform consistent read-modify-writes through optimistic concurrency control. Can be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Annotations on the node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (\/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maxPodsConstraint": {
          "description": "Required. The constraint on the maximum number of pods that can be run simultaneously on a node in the node pool.",
          "$ref": "GoogleCloudGkemulticloudV1MaxPodsConstraint"
        },
        "errors": {
          "description": "Output only. A set of errors found in the node pool.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AwsNodePoolError"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsNodeConfig": {
      "id": "GoogleCloudGkemulticloudV1AwsNodeConfig",
      "description": "Parameters that describe the nodes in a cluster.",
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "Optional. The EC2 instance type when creating on-Demand instances. If unspecified during node pool creation, a default will be chosen based on the node pool version, and assigned to this field.",
          "type": "string"
        },
        "rootVolume": {
          "description": "Optional. Template for the root volume provisioned for node pool nodes. Volumes will be provisioned in the availability zone assigned to the node pool subnet. When unspecified, it defaults to 32 GiB with the GP2 volume type.",
          "$ref": "GoogleCloudGkemulticloudV1AwsVolumeTemplate"
        },
        "taints": {
          "description": "Optional. The initial taints assigned to nodes of this node pool.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1NodeTaint"
          }
        },
        "labels": {
          "description": "Optional. The initial labels assigned to nodes of this node pool. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tags": {
          "description": "Optional. Key\/value metadata to assign to each underlying AWS resource. Specify at most 50 pairs containing alphanumerics, spaces, and symbols (.+-=_:@\/). Keys can be up to 127 Unicode characters. Values can be up to 255 Unicode characters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "iamInstanceProfile": {
          "description": "Required. The name or ARN of the AWS IAM role assigned to nodes in the pool.",
          "type": "string"
        },
        "imageType": {
          "description": "Optional. The OS image type to use on node pool instances. Can have a value of `ubuntu`, or `windows` if the cluster enables the Windows node pool preview feature. When unspecified, it defaults to `ubuntu`.",
          "type": "string"
        },
        "sshConfig": {
          "description": "Optional. The SSH configuration.",
          "$ref": "GoogleCloudGkemulticloudV1AwsSshConfig"
        },
        "securityGroupIds": {
          "description": "Optional. The IDs of additional security groups to add to nodes in this pool. The manager will automatically create security groups with minimum rules needed for a functioning cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "proxyConfig": {
          "description": "Optional. Proxy configuration for outbound HTTP(S) traffic.",
          "$ref": "GoogleCloudGkemulticloudV1AwsProxyConfig"
        },
        "configEncryption": {
          "description": "Required. Config encryption for user data.",
          "$ref": "GoogleCloudGkemulticloudV1AwsConfigEncryption"
        },
        "instancePlacement": {
          "description": "Optional. Placement related info for this node. When unspecified, the VPC's default tenancy will be used.",
          "$ref": "GoogleCloudGkemulticloudV1AwsInstancePlacement"
        },
        "autoscalingMetricsCollection": {
          "description": "Optional. Configuration related to CloudWatch metrics collection on the Auto Scaling group of the node pool. When unspecified, metrics collection is disabled.",
          "$ref": "GoogleCloudGkemulticloudV1AwsAutoscalingGroupMetricsCollection"
        }
      }
    },
    "GoogleCloudGkemulticloudV1NodeTaint": {
      "id": "GoogleCloudGkemulticloudV1NodeTaint",
      "description": "The taint content for the node taint.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Required. Key for the taint.",
          "type": "string"
        },
        "value": {
          "description": "Required. Value for the taint.",
          "type": "string"
        },
        "effect": {
          "description": "Required. The taint effect.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Do not allow new pods to schedule onto the node unless they tolerate the taint, but allow all pods submitted to Kubelet without going through the scheduler to start, and allow all already-running pods to continue running. Enforced by the scheduler.",
            "Like TaintEffectNoSchedule, but the scheduler tries not to schedule new pods onto the node, rather than prohibiting new pods from scheduling onto the node entirely. Enforced by the scheduler.",
            "Evict any already-running pods that do not tolerate the taint. Currently enforced by NodeController."
          ],
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ]
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsAutoscalingGroupMetricsCollection": {
      "id": "GoogleCloudGkemulticloudV1AwsAutoscalingGroupMetricsCollection",
      "description": "Configuration related to CloudWatch metrics collection in an AWS Auto Scaling group.",
      "type": "object",
      "properties": {
        "granularity": {
          "description": "Required. The frequency at which EC2 Auto Scaling sends aggregated data to AWS CloudWatch. The only valid value is \"1Minute\".",
          "type": "string"
        },
        "metrics": {
          "description": "Optional. The metrics to enable. For a list of valid metrics, see https:\/\/docs.aws.amazon.com\/autoscaling\/ec2\/APIReference\/API_EnableMetricsCollection.html. If you specify Granularity and don't specify any metrics, all metrics are enabled.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsNodePoolAutoscaling": {
      "id": "GoogleCloudGkemulticloudV1AwsNodePoolAutoscaling",
      "description": "AwsNodePoolAutoscaling contains information required by cluster autoscaler to adjust the size of the node pool to the current cluster usage.",
      "type": "object",
      "properties": {
        "minNodeCount": {
          "description": "Required. Minimum number of nodes in the node pool. Must be greater than or equal to 1 and less than or equal to max_node_count.",
          "type": "integer",
          "format": "int32"
        },
        "maxNodeCount": {
          "description": "Required. Maximum number of nodes in the node pool. Must be greater than or equal to min_node_count and less than or equal to 50.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudGkemulticloudV1MaxPodsConstraint": {
      "id": "GoogleCloudGkemulticloudV1MaxPodsConstraint",
      "description": "Constraints applied to pods.",
      "type": "object",
      "properties": {
        "maxPodsPerNode": {
          "description": "Required. The maximum number of pods to schedule on a single node.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsNodePoolError": {
      "id": "GoogleCloudGkemulticloudV1AwsNodePoolError",
      "description": "AwsNodePoolError describes errors found on AWS node pools.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Human-friendly description of the error.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1ListAwsNodePoolsResponse": {
      "id": "GoogleCloudGkemulticloudV1ListAwsNodePoolsResponse",
      "description": "Response message for `AwsClusters.ListAwsNodePools` method.",
      "type": "object",
      "properties": {
        "awsNodePools": {
          "description": "A list of AwsNodePool resources in the specified `AwsCluster`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AwsNodePool"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsOpenIdConfig": {
      "id": "GoogleCloudGkemulticloudV1AwsOpenIdConfig",
      "description": "AwsOpenIdConfig is an OIDC discovery document for the cluster. See the OpenID Connect Discovery 1.0 specification for details.",
      "type": "object",
      "properties": {
        "issuer": {
          "description": "OIDC Issuer.",
          "type": "string"
        },
        "jwks_uri": {
          "description": "JSON Web Key uri.",
          "type": "string"
        },
        "response_types_supported": {
          "description": "Supported response types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subject_types_supported": {
          "description": "Supported subject types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id_token_signing_alg_values_supported": {
          "description": "supported ID Token signing Algorithms.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "claims_supported": {
          "description": "Supported claims.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "grant_types": {
          "description": "Supported grant types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsJsonWebKeys": {
      "id": "GoogleCloudGkemulticloudV1AwsJsonWebKeys",
      "description": "AwsJsonWebKeys is a valid JSON Web Key Set as specififed in RFC 7517.",
      "type": "object",
      "properties": {
        "keys": {
          "description": "The public component of the keys used by the cluster to sign token requests.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1Jwk"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1Jwk": {
      "id": "GoogleCloudGkemulticloudV1Jwk",
      "description": "Jwk is a JSON Web Key as specified in RFC 7517.",
      "type": "object",
      "properties": {
        "kty": {
          "description": "Key Type.",
          "type": "string"
        },
        "alg": {
          "description": "Algorithm.",
          "type": "string"
        },
        "use": {
          "description": "Permitted uses for the public keys.",
          "type": "string"
        },
        "kid": {
          "description": "Key ID.",
          "type": "string"
        },
        "n": {
          "description": "Used for RSA keys.",
          "type": "string"
        },
        "e": {
          "description": "Used for RSA keys.",
          "type": "string"
        },
        "x": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "y": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "crv": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsServerConfig": {
      "id": "GoogleCloudGkemulticloudV1AwsServerConfig",
      "description": "AwsServerConfig is the configuration of GKE cluster on AWS.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the config.",
          "type": "string"
        },
        "validVersions": {
          "description": "List of valid Kubernetes versions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AwsK8sVersionInfo"
          }
        },
        "supportedAwsRegions": {
          "description": "The list of supported AWS regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AwsK8sVersionInfo": {
      "id": "GoogleCloudGkemulticloudV1AwsK8sVersionInfo",
      "description": "Kubernetes version information of GKE cluster on AWS.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Kubernetes version name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureClient": {
      "id": "GoogleCloudGkemulticloudV1AzureClient",
      "description": "`AzureClient` resources hold client authentication information needed by the Anthos Multi-Cloud API to manage Azure resources on your Azure subscription. When an AzureCluster is created, an `AzureClient` resource needs to be provided and all operations on Azure resources associated to that cluster will authenticate to Azure services using the given client. `AzureClient` resources are immutable and cannot be modified upon creation. Each `AzureClient` resource is bound to a single Azure Active Directory Application and tenant.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this resource. `AzureClient` resource names are formatted as `projects\/\/locations\/\/azureClients\/`. See [Resource Names](https:\/\/cloud.google.com\/apis\/design\/resource_names) for more details on Google Cloud resource names.",
          "type": "string"
        },
        "tenantId": {
          "description": "Required. The Azure Active Directory Tenant ID.",
          "type": "string"
        },
        "applicationId": {
          "description": "Required. The Azure Active Directory Application ID.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently pending changes to the client.",
          "readOnly": true,
          "type": "boolean"
        },
        "annotations": {
          "description": "Optional. Annotations on the resource. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Keys can have 2 segments: prefix (optional) and name (required), separated by a slash (\/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pemCertificate": {
          "description": "Output only. The PEM encoded x509 certificate.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. A globally unique identifier for the client.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which this resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which this client was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudGkemulticloudV1ListAzureClientsResponse": {
      "id": "GoogleCloudGkemulticloudV1ListAzureClientsResponse",
      "description": "Response message for `AzureClusters.ListAzureClients` method.",
      "type": "object",
      "properties": {
        "azureClients": {
          "description": "A list of AzureClient resources in the specified Google Cloud project and region region.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AzureClient"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureCluster": {
      "id": "GoogleCloudGkemulticloudV1AzureCluster",
      "description": "An Anthos cluster running on Azure.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this resource. Cluster names are formatted as `projects\/\/locations\/\/azureClusters\/`. See [Resource Names](https:\/\/cloud.google.com\/apis\/design\/resource_names) for more details on Google Cloud Platform resource names.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human readable description of this cluster. Cannot be longer than 255 UTF-8 encoded bytes.",
          "type": "string"
        },
        "azureRegion": {
          "description": "Required. The Azure region where the cluster runs. Each Google Cloud region supports a subset of nearby Azure regions. You can call GetAzureServerConfig to list all supported Azure regions within a given Google Cloud region.",
          "type": "string"
        },
        "resourceGroupId": {
          "description": "Required. The ARM ID of the resource group where the cluster resources are deployed. For example: `\/subscriptions\/\/resourceGroups\/`",
          "type": "string"
        },
        "azureClient": {
          "description": "Optional. Name of the AzureClient that contains authentication configuration for how the Anthos Multi-Cloud API connects to Azure APIs. Either azure_client or azure_services_authentication should be provided. The `AzureClient` resource must reside on the same Google Cloud Platform project and region as the `AzureCluster`. `AzureClient` names are formatted as `projects\/\/locations\/\/azureClients\/`. See [Resource Names](https:\/\/cloud.google.com\/apis\/design\/resource_names) for more details on Google Cloud resource names.",
          "type": "string"
        },
        "networking": {
          "description": "Required. Cluster-wide networking configuration.",
          "$ref": "GoogleCloudGkemulticloudV1AzureClusterNetworking"
        },
        "controlPlane": {
          "description": "Required. Configuration related to the cluster control plane.",
          "$ref": "GoogleCloudGkemulticloudV1AzureControlPlane"
        },
        "authorization": {
          "description": "Required. Configuration related to the cluster RBAC settings.",
          "$ref": "GoogleCloudGkemulticloudV1AzureAuthorization"
        },
        "azureServicesAuthentication": {
          "description": "Optional. Authentication configuration for management of Azure resources. Either azure_client or azure_services_authentication should be provided.",
          "$ref": "GoogleCloudGkemulticloudV1AzureServicesAuthentication"
        },
        "state": {
          "description": "Output only. The current state of the cluster.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that some work is actively being done on the cluster, such as upgrading the control plane replicas.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "endpoint": {
          "description": "Output only. The endpoint of the cluster's API server.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. A globally unique identifier for the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the cluster.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time at which this cluster was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which this cluster was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Allows clients to perform consistent read-modify-writes through optimistic concurrency control. Can be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Annotations on the cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Keys can have 2 segments: prefix (optional) and name (required), separated by a slash (\/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workloadIdentityConfig": {
          "description": "Output only. Workload Identity settings.",
          "readOnly": true,
          "$ref": "GoogleCloudGkemulticloudV1WorkloadIdentityConfig"
        },
        "clusterCaCertificate": {
          "description": "Output only. PEM encoded x509 certificate of the cluster root of trust.",
          "readOnly": true,
          "type": "string"
        },
        "fleet": {
          "description": "Required. Fleet configuration.",
          "$ref": "GoogleCloudGkemulticloudV1Fleet"
        },
        "managedResources": {
          "description": "Output only. Managed Azure resources for this cluster.",
          "readOnly": true,
          "$ref": "GoogleCloudGkemulticloudV1AzureClusterResources"
        },
        "loggingConfig": {
          "description": "Optional. Logging configuration for this cluster.",
          "$ref": "GoogleCloudGkemulticloudV1LoggingConfig"
        },
        "errors": {
          "description": "Output only. A set of errors found in the cluster.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AzureClusterError"
          }
        },
        "monitoringConfig": {
          "description": "Optional. Monitoring configuration for this cluster.",
          "$ref": "GoogleCloudGkemulticloudV1MonitoringConfig"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureClusterNetworking": {
      "id": "GoogleCloudGkemulticloudV1AzureClusterNetworking",
      "description": "ClusterNetworking contains cluster-wide networking configuration.",
      "type": "object",
      "properties": {
        "virtualNetworkId": {
          "description": "Required. The Azure Resource Manager (ARM) ID of the VNet associated with your cluster. All components in the cluster (i.e. control plane and node pools) run on a single VNet. Example: `\/subscriptions\/\/resourceGroups\/\/providers\/Microsoft.Network\/virtualNetworks\/` This field cannot be changed after creation.",
          "type": "string"
        },
        "podAddressCidrBlocks": {
          "description": "Required. The IP address range of the pods in this cluster, in CIDR notation (e.g. `10.96.0.0\/14`). All pods in the cluster get assigned a unique IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAddressCidrBlocks": {
          "description": "Required. The IP address range for services in this cluster, in CIDR notation (e.g. `10.96.0.0\/14`). All services in the cluster get assigned a unique IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creating a cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceLoadBalancerSubnetId": {
          "description": "Optional. The ARM ID of the subnet where Kubernetes private service type load balancers are deployed. When unspecified, it defaults to AzureControlPlane.subnet_id. Example: \"\/subscriptions\/d00494d6-6f3c-4280-bbb2-899e163d1d30\/resourceGroups\/anthos_cluster_gkeust4\/providers\/Microsoft.Network\/virtualNetworks\/gke-vnet-gkeust4\/subnets\/subnetid456\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureControlPlane": {
      "id": "GoogleCloudGkemulticloudV1AzureControlPlane",
      "description": "AzureControlPlane represents the control plane configurations.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Required. The Kubernetes version to run on control plane replicas (e.g. `1.19.10-gke.1000`). You can list all supported versions on a given Google Cloud region by calling GetAzureServerConfig.",
          "type": "string"
        },
        "subnetId": {
          "description": "Optional. The ARM ID of the default subnet for the control plane. The control plane VMs are deployed in this subnet, unless `AzureControlPlane.replica_placements` is specified. This subnet will also be used as default for `AzureControlPlane.endpoint_subnet_id` if `AzureControlPlane.endpoint_subnet_id` is not specified. Similarly it will be used as default for `AzureClusterNetworking.service_load_balancer_subnet_id`. Example: `\/subscriptions\/\/resourceGroups\/\/providers\/Microsoft.Network\/virtualNetworks\/\/subnets\/default`.",
          "type": "string"
        },
        "vmSize": {
          "description": "Optional. The Azure VM size name. Example: `Standard_DS2_v2`. For available VM sizes, see https:\/\/docs.microsoft.com\/en-us\/azure\/virtual-machines\/vm-naming-conventions. When unspecified, it defaults to `Standard_DS2_v2`.",
          "type": "string"
        },
        "sshConfig": {
          "description": "Required. SSH configuration for how to access the underlying control plane machines.",
          "$ref": "GoogleCloudGkemulticloudV1AzureSshConfig"
        },
        "rootVolume": {
          "description": "Optional. Configuration related to the root volume provisioned for each control plane replica. When unspecified, it defaults to 32-GiB Azure Disk.",
          "$ref": "GoogleCloudGkemulticloudV1AzureDiskTemplate"
        },
        "mainVolume": {
          "description": "Optional. Configuration related to the main volume provisioned for each control plane replica. The main volume is in charge of storing all of the cluster's etcd state. When unspecified, it defaults to a 8-GiB Azure Disk.",
          "$ref": "GoogleCloudGkemulticloudV1AzureDiskTemplate"
        },
        "databaseEncryption": {
          "description": "Optional. Configuration related to application-layer secrets encryption.",
          "$ref": "GoogleCloudGkemulticloudV1AzureDatabaseEncryption"
        },
        "proxyConfig": {
          "description": "Optional. Proxy configuration for outbound HTTP(S) traffic.",
          "$ref": "GoogleCloudGkemulticloudV1AzureProxyConfig"
        },
        "configEncryption": {
          "description": "Optional. Configuration related to vm config encryption.",
          "$ref": "GoogleCloudGkemulticloudV1AzureConfigEncryption"
        },
        "tags": {
          "description": "Optional. A set of tags to apply to all underlying control plane Azure resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "replicaPlacements": {
          "description": "Optional. Configuration for where to place the control plane replicas. Up to three replica placement instances can be specified. If replica_placements is set, the replica placement instances will be applied to the three control plane replicas as evenly as possible.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1ReplicaPlacement"
          }
        },
        "endpointSubnetId": {
          "description": "Optional. The ARM ID of the subnet where the control plane load balancer is deployed. When unspecified, it defaults to AzureControlPlane.subnet_id. Example: \"\/subscriptions\/d00494d6-6f3c-4280-bbb2-899e163d1d30\/resourceGroups\/anthos_cluster_gkeust4\/providers\/Microsoft.Network\/virtualNetworks\/gke-vnet-gkeust4\/subnets\/subnetid123\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureSshConfig": {
      "id": "GoogleCloudGkemulticloudV1AzureSshConfig",
      "description": "SSH configuration for Azure resources.",
      "type": "object",
      "properties": {
        "authorizedKey": {
          "description": "Required. The SSH public key data for VMs managed by Anthos. This accepts the authorized_keys file format used in OpenSSH according to the sshd(8) manual page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureDiskTemplate": {
      "id": "GoogleCloudGkemulticloudV1AzureDiskTemplate",
      "description": "Configuration for Azure Disks.",
      "type": "object",
      "properties": {
        "sizeGib": {
          "description": "Optional. The size of the disk, in GiBs. When unspecified, a default value is provided. See the specific reference in the parent resource.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureDatabaseEncryption": {
      "id": "GoogleCloudGkemulticloudV1AzureDatabaseEncryption",
      "description": "Configuration related to application-layer secrets encryption. Anthos clusters on Azure encrypts your Kubernetes data at rest in etcd using Azure Key Vault.",
      "type": "object",
      "properties": {
        "keyId": {
          "description": "Required. The ARM ID of the Azure Key Vault key to encrypt \/ decrypt data. For example: `\/subscriptions\/\/resourceGroups\/\/providers\/Microsoft.KeyVault\/vaults\/\/keys\/` Encryption will always take the latest version of the key and hence specific version is not supported.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureProxyConfig": {
      "id": "GoogleCloudGkemulticloudV1AzureProxyConfig",
      "description": "Details of a proxy config stored in Azure Key Vault.",
      "type": "object",
      "properties": {
        "resourceGroupId": {
          "description": "The ARM ID the of the resource group containing proxy keyvault. Resource group ids are formatted as `\/subscriptions\/\/resourceGroups\/`.",
          "type": "string"
        },
        "secretId": {
          "description": "The URL the of the proxy setting secret with its version. The secret must be a JSON encoded proxy configuration as described in https:\/\/cloud.google.com\/anthos\/clusters\/docs\/multi-cloud\/azure\/how-to\/use-a-proxy#create_a_proxy_configuration_file Secret ids are formatted as `https:\/\/.vault.azure.net\/secrets\/\/`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureConfigEncryption": {
      "id": "GoogleCloudGkemulticloudV1AzureConfigEncryption",
      "description": "Configuration related to config data encryption. Azure VM bootstrap secret is envelope encrypted with the provided key vault key.",
      "type": "object",
      "properties": {
        "keyId": {
          "description": "Required. The ARM ID of the Azure Key Vault key to encrypt \/ decrypt config data. For example: `\/subscriptions\/\/resourceGroups\/\/providers\/Microsoft.KeyVault\/vaults\/\/keys\/`",
          "type": "string"
        },
        "publicKey": {
          "description": "Optional. RSA key of the Azure Key Vault public key to use for encrypting the data. This key must be formatted as a PEM-encoded SubjectPublicKeyInfo (RFC 5280) in ASN.1 DER form. The string must be comprised of a single PEM block of type \"PUBLIC KEY\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1ReplicaPlacement": {
      "id": "GoogleCloudGkemulticloudV1ReplicaPlacement",
      "description": "Configuration for the placement of a control plane replica.",
      "type": "object",
      "properties": {
        "subnetId": {
          "description": "Required. For a given replica, the ARM ID of the subnet where the control plane VM is deployed. Make sure it's a subnet under the virtual network in the cluster configuration.",
          "type": "string"
        },
        "azureAvailabilityZone": {
          "description": "Required. For a given replica, the Azure availability zone where to provision the control plane VM and the ETCD disk.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureAuthorization": {
      "id": "GoogleCloudGkemulticloudV1AzureAuthorization",
      "description": "Configuration related to the cluster RBAC settings.",
      "type": "object",
      "properties": {
        "adminUsers": {
          "description": "Required. Users that can perform operations as a cluster admin. A managed ClusterRoleBinding will be created to grant the `cluster-admin` ClusterRole to the users. Up to ten admin users can be provided. For more info on RBAC, see https:\/\/kubernetes.io\/docs\/reference\/access-authn-authz\/rbac\/#user-facing-roles",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AzureClusterUser"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureClusterUser": {
      "id": "GoogleCloudGkemulticloudV1AzureClusterUser",
      "description": "Identities of a user-type subject for Azure clusters.",
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. The name of the user, e.g. `my-gcp-id@gmail.com`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureServicesAuthentication": {
      "id": "GoogleCloudGkemulticloudV1AzureServicesAuthentication",
      "description": "Authentication configuration for the management of Azure resources.",
      "type": "object",
      "properties": {
        "tenantId": {
          "description": "Required. The Azure Active Directory Tenant ID.",
          "type": "string"
        },
        "applicationId": {
          "description": "Required. The Azure Active Directory Application ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureClusterResources": {
      "id": "GoogleCloudGkemulticloudV1AzureClusterResources",
      "description": "Managed Azure resources for the cluster. The values could change and be empty, depending on the state of the cluster.",
      "type": "object",
      "properties": {
        "networkSecurityGroupId": {
          "description": "Output only. The ARM ID of the cluster network security group.",
          "readOnly": true,
          "type": "string"
        },
        "controlPlaneApplicationSecurityGroupId": {
          "description": "Output only. The ARM ID of the control plane application security group.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureClusterError": {
      "id": "GoogleCloudGkemulticloudV1AzureClusterError",
      "description": "AzureClusterError describes errors found on Azure clusters.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Human-friendly description of the error.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1ListAzureClustersResponse": {
      "id": "GoogleCloudGkemulticloudV1ListAzureClustersResponse",
      "description": "Response message for `AzureClusters.ListAzureClusters` method.",
      "type": "object",
      "properties": {
        "azureClusters": {
          "description": "A list of AzureCluster resources in the specified Google Cloud Platform project and region region.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AzureCluster"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1GenerateAzureAccessTokenResponse": {
      "id": "GoogleCloudGkemulticloudV1GenerateAzureAccessTokenResponse",
      "description": "Response message for `AzureClusters.GenerateAzureAccessToken` method.",
      "type": "object",
      "properties": {
        "accessToken": {
          "description": "Output only. Access token to authenticate to k8s api-server.",
          "readOnly": true,
          "type": "string"
        },
        "expirationTime": {
          "description": "Output only. Timestamp at which the token will expire.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureNodePool": {
      "id": "GoogleCloudGkemulticloudV1AzureNodePool",
      "description": "An Anthos node pool running on Azure.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this resource. Node pool names are formatted as `projects\/\/locations\/\/azureClusters\/\/azureNodePools\/`. For more details on Google Cloud resource names, see [Resource Names](https:\/\/cloud.google.com\/apis\/design\/resource_names)",
          "type": "string"
        },
        "version": {
          "description": "Required. The Kubernetes version (e.g. `1.19.10-gke.1000`) running on this node pool.",
          "type": "string"
        },
        "config": {
          "description": "Required. The node configuration of the node pool.",
          "$ref": "GoogleCloudGkemulticloudV1AzureNodeConfig"
        },
        "subnetId": {
          "description": "Required. The ARM ID of the subnet where the node pool VMs run. Make sure it's a subnet under the virtual network in the cluster configuration.",
          "type": "string"
        },
        "autoscaling": {
          "description": "Required. Autoscaler configuration for this node pool.",
          "$ref": "GoogleCloudGkemulticloudV1AzureNodePoolAutoscaling"
        },
        "state": {
          "description": "Output only. The current state of the node pool.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the node pool is being reconciled.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the node pool requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "uid": {
          "description": "Output only. A globally unique identifier for the node pool.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently pending changes to the node pool.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time at which this node pool was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which this node pool was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Allows clients to perform consistent read-modify-writes through optimistic concurrency control. Can be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Annotations on the node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Keys can have 2 segments: prefix (optional) and name (required), separated by a slash (\/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maxPodsConstraint": {
          "description": "Required. The constraint on the maximum number of pods that can be run simultaneously on a node in the node pool.",
          "$ref": "GoogleCloudGkemulticloudV1MaxPodsConstraint"
        },
        "azureAvailabilityZone": {
          "description": "Optional. The Azure availability zone of the nodes in this nodepool. When unspecified, it defaults to `1`.",
          "type": "string"
        },
        "errors": {
          "description": "Output only. A set of errors found in the node pool.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AzureNodePoolError"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureNodeConfig": {
      "id": "GoogleCloudGkemulticloudV1AzureNodeConfig",
      "description": "Parameters that describe the configuration of all node machines on a given node pool.",
      "type": "object",
      "properties": {
        "vmSize": {
          "description": "Optional. The Azure VM size name. Example: `Standard_DS2_v2`. See [Supported VM sizes](\/anthos\/clusters\/docs\/azure\/reference\/supported-vms) for options. When unspecified, it defaults to `Standard_DS2_v2`.",
          "type": "string"
        },
        "rootVolume": {
          "description": "Optional. Configuration related to the root volume provisioned for each node pool machine. When unspecified, it defaults to a 32-GiB Azure Disk.",
          "$ref": "GoogleCloudGkemulticloudV1AzureDiskTemplate"
        },
        "tags": {
          "description": "Optional. A set of tags to apply to all underlying Azure resources for this node pool. This currently only includes Virtual Machine Scale Sets. Specify at most 50 pairs containing alphanumerics, spaces, and symbols (.+-=_:@\/). Keys can be up to 127 Unicode characters. Values can be up to 255 Unicode characters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "imageType": {
          "description": "Optional. The OS image type to use on node pool instances. Can have a value of `ubuntu`, or `windows` if the cluster enables the Windows node pool preview feature. When unspecified, it defaults to `ubuntu`.",
          "type": "string"
        },
        "sshConfig": {
          "description": "Required. SSH configuration for how to access the node pool machines.",
          "$ref": "GoogleCloudGkemulticloudV1AzureSshConfig"
        },
        "proxyConfig": {
          "description": "Optional. Proxy configuration for outbound HTTP(S) traffic.",
          "$ref": "GoogleCloudGkemulticloudV1AzureProxyConfig"
        },
        "configEncryption": {
          "description": "Optional. Configuration related to vm config encryption.",
          "$ref": "GoogleCloudGkemulticloudV1AzureConfigEncryption"
        },
        "taints": {
          "description": "Optional. The initial taints assigned to nodes of this node pool.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1NodeTaint"
          }
        },
        "labels": {
          "description": "Optional. The initial labels assigned to nodes of this node pool. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureNodePoolAutoscaling": {
      "id": "GoogleCloudGkemulticloudV1AzureNodePoolAutoscaling",
      "description": "Configuration related to Kubernetes cluster autoscaler. The Kubernetes cluster autoscaler will automatically adjust the size of the node pool based on the cluster load.",
      "type": "object",
      "properties": {
        "minNodeCount": {
          "description": "Required. Minimum number of nodes in the node pool. Must be greater than or equal to 1 and less than or equal to max_node_count.",
          "type": "integer",
          "format": "int32"
        },
        "maxNodeCount": {
          "description": "Required. Maximum number of nodes in the node pool. Must be greater than or equal to min_node_count and less than or equal to 50.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureNodePoolError": {
      "id": "GoogleCloudGkemulticloudV1AzureNodePoolError",
      "description": "AzureNodePoolError describes errors found on Azure node pools.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Human-friendly description of the error.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1ListAzureNodePoolsResponse": {
      "id": "GoogleCloudGkemulticloudV1ListAzureNodePoolsResponse",
      "description": "Response message for `AzureClusters.ListAzureNodePools` method.",
      "type": "object",
      "properties": {
        "azureNodePools": {
          "description": "A list of AzureNodePool resources in the specified `AzureCluster`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AzureNodePool"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureOpenIdConfig": {
      "id": "GoogleCloudGkemulticloudV1AzureOpenIdConfig",
      "description": "AzureOpenIdConfig is an OIDC discovery document for the cluster. See the OpenID Connect Discovery 1.0 specification for details.",
      "type": "object",
      "properties": {
        "issuer": {
          "description": "OIDC Issuer.",
          "type": "string"
        },
        "jwks_uri": {
          "description": "JSON Web Key uri.",
          "type": "string"
        },
        "response_types_supported": {
          "description": "Supported response types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subject_types_supported": {
          "description": "Supported subject types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id_token_signing_alg_values_supported": {
          "description": "supported ID Token signing Algorithms.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "claims_supported": {
          "description": "Supported claims.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "grant_types": {
          "description": "Supported grant types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureJsonWebKeys": {
      "id": "GoogleCloudGkemulticloudV1AzureJsonWebKeys",
      "description": "AzureJsonWebKeys is a valid JSON Web Key Set as specififed in RFC 7517.",
      "type": "object",
      "properties": {
        "keys": {
          "description": "The public component of the keys used by the cluster to sign token requests.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1Jwk"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureServerConfig": {
      "id": "GoogleCloudGkemulticloudV1AzureServerConfig",
      "description": "AzureServerConfig contains information about a Google Cloud location, such as supported Azure regions and Kubernetes versions.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The `AzureServerConfig` resource name. `AzureServerConfig` names are formatted as `projects\/\/locations\/\/azureServerConfig`. See [Resource Names](https:\/\/cloud.google.com\/apis\/design\/resource_names) for more details on Google Cloud Platform resource names.",
          "type": "string"
        },
        "validVersions": {
          "description": "List of valid Kubernetes versions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudGkemulticloudV1AzureK8sVersionInfo"
          }
        },
        "supportedAzureRegions": {
          "description": "The list of supported Azure regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudGkemulticloudV1AzureK8sVersionInfo": {
      "id": "GoogleCloudGkemulticloudV1AzureK8sVersionInfo",
      "description": "Information about a supported Kubernetes version.",
      "type": "object",
      "properties": {
        "version": {
          "description": "A supported Kubernetes version (for example, `1.19.10-gke.1000`)",
          "type": "string"
        }
      }
    },
    "GoogleCloudGkemulticloudV1OperationMetadata": {
      "id": "GoogleCloudGkemulticloudV1OperationMetadata",
      "description": "Metadata about a long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time at which this operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
[...]
