{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "gkeonprem:v1",
  "name": "gkeonprem",
  "canonicalName": "GKE On-Prem",
  "version": "v1",
  "revision": "0",
  "title": "GKE On-Prem API",
  "description": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/anthos/clusters/docs/on-prem/",
  "protocol": "rest",
  "rootUrl": "https://gkeonprem.googleapis.com/",
  "mtlsRootUrl": "https://gkeonprem.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://gkeonprem.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "BareMetalCluster": {
      "id": "BareMetalCluster",
      "description": "Resource that represents a Bare Metal User Cluster.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The Bare Metal User Cluster resource name.",
          "type": "string"
        },
        "adminClusterMembership": {
          "description": "Required. The Admin Cluster this Bare Metal User Cluster belongs to. This is the full resource name of the Admin Cluster's hub membership. In the future, references to other resource types might be allowed if Admin Clusters are modeled as their own resources.",
          "type": "string"
        },
        "description": {
          "description": "A human readable description of this Bare Metal User Cluster.",
          "type": "string"
        },
        "bareMetalVersion": {
          "description": "Required. The Anthos clusters on Bare Metal version for your Bare Metal User Cluster.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique identifier of the Bare Metal User Cluster.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the Bare Metal User Cluster.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "endpoint": {
          "description": "Output only. The IP address name of Bare Metal User Cluster's API server.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the Bare Metal User Cluster.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time at which this Bare Metal User Cluster was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which this Bare Metal User Cluster was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. The time at which this Bare Metal User Cluster was deleted. If the resource is not deleted, this must be empty",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "localName": {
          "description": "Output only. The object name of the Bare Metal Cluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster ID and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "description": "Annotations on the Bare Metal User Cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (\/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkConfig": {
          "description": "Required. Network configuration.",
          "$ref": "BareMetalNetworkConfig"
        },
        "controlPlane": {
          "description": "Required. Control plane configuration.",
          "$ref": "BareMetalControlPlaneConfig"
        },
        "loadBalancer": {
          "description": "Required. Load balancer configuration.",
          "$ref": "BareMetalLoadBalancerConfig"
        },
        "storage": {
          "description": "Required. Storage configuration.",
          "$ref": "BareMetalStorageConfig"
        },
        "proxy": {
          "description": "Proxy configuration.",
          "$ref": "BareMetalProxyConfig"
        },
        "clusterOperations": {
          "description": "Cluster operations configuration.",
          "$ref": "BareMetalClusterOperationsConfig"
        },
        "maintenanceConfig": {
          "description": "Maintenance configuration.",
          "$ref": "BareMetalMaintenanceConfig"
        },
        "nodeConfig": {
          "description": "Workload node configuration.",
          "$ref": "BareMetalWorkloadNodeConfig"
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true,
          "$ref": "Fleet"
        },
        "status": {
          "description": "Output only. ResourceStatus representing detailed cluster status.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "validationCheck": {
          "description": "Output only. ValidationCheck representing the result of the preflight check.",
          "readOnly": true,
          "$ref": "ValidationCheck"
        },
        "securityConfig": {
          "description": "Security related setting configuration.",
          "$ref": "BareMetalSecurityConfig"
        },
        "maintenanceStatus": {
          "description": "Output only. Status of on-going maintenance tasks.",
          "readOnly": true,
          "$ref": "BareMetalMaintenanceStatus"
        },
        "adminClusterName": {
          "description": "Output only. The resource name of the Bare Metal Admin Cluster hosting this User Cluster. NOTE: In the future this field will be used interchangeably with admin_cluster_membership. For now this is in an informational field.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "BareMetalNetworkConfig": {
      "id": "BareMetalNetworkConfig",
      "description": "BareMetalNetworkConfig specifies the cluster network configuration.",
      "type": "object",
      "properties": {
        "islandModeCidr": {
          "description": "Configuration for Island mode CIDR.",
          "$ref": "BareMetalIslandModeCidrConfig"
        }
      }
    },
    "BareMetalIslandModeCidrConfig": {
      "id": "BareMetalIslandModeCidrConfig",
      "description": "BareMetalIslandModeCidrConfig specifies the cluster cidr configuration while running in island mode.",
      "type": "object",
      "properties": {
        "serviceAddressCidrBlocks": {
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BareMetalControlPlaneConfig": {
      "id": "BareMetalControlPlaneConfig",
      "description": "BareMetalControlPlaneConfig specifies the control plane configuration.",
      "type": "object",
      "properties": {
        "nodePoolConfig": {
          "description": "Required. Configures the node pool running the control plane. If specified the corresponding NodePool will be created for the cluster's control plane. The NodePool will have the same name and namespace as the cluster.",
          "$ref": "BareMetalControlPlaneNodePoolConfig"
        },
        "apiServerArgs": {
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https:\/\/kubernetes.io\/docs\/reference\/command-line-tools-reference\/kube-apiserver\/",
          "type": "array",
          "items": {
            "$ref": "BareMetalApiServerArgument"
          }
        }
      }
    },
    "BareMetalControlPlaneNodePoolConfig": {
      "id": "BareMetalControlPlaneNodePoolConfig",
      "description": "BareMetalControlPlaneNodePoolConfig specifies the control plane node pool configuration. We have a Control Plane specific Node Pool config so that we can flexible about supporting Control Plane specific fields in the future.",
      "type": "object",
      "properties": {
        "nodePoolConfig": {
          "description": "Required. The generic configuration for a node pool running the control plane.",
          "$ref": "BareMetalNodePoolConfig"
        }
      }
    },
    "BareMetalNodePoolConfig": {
      "id": "BareMetalNodePoolConfig",
      "description": "BareMetalNodePoolConfig describes the configuration of all nodes within a given Bare Metal Node Pool.",
      "type": "object",
      "properties": {
        "nodeConfigs": {
          "description": "Required. The list of machine addresses in the Bare Metal Node Pool.",
          "type": "array",
          "items": {
            "$ref": "BareMetalNodeConfig"
          }
        },
        "operatingSystem": {
          "description": "Specifies the nodes operating system (default: LINUX).",
          "type": "string",
          "enumDescriptions": [
            "No operating system runtime selected.",
            "Linux operating system."
          ],
          "enum": [
            "OPERATING_SYSTEM_UNSPECIFIED",
            "LINUX"
          ]
        },
        "taints": {
          "description": "The initial taints assigned to nodes of this node pool.",
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          }
        },
        "labels": {
          "description": "The labels assigned to nodes of this node pool. An object containing a list of key\/value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BareMetalNodeConfig": {
      "id": "BareMetalNodeConfig",
      "description": "BareMetalNodeConfig lists machine addresses to access Nodes.",
      "type": "object",
      "properties": {
        "nodeIp": {
          "description": "The default IPv4 address for SSH access and Kubernetes node. Example: 192.168.0.1",
          "type": "string"
        },
        "labels": {
          "description": "The labels assigned to this node. An object containing a list of key\/value pairs. The labels here, unioned with the labels set on BareMetalNodePoolConfig are the set of labels that will be applied to the node. If there are any conflicts, the BareMetalNodeConfig labels take precedence. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "NodeTaint": {
      "id": "NodeTaint",
      "description": "NodeTaint applied to every Kubernetes node in a node pool. Kubernetes taints can be used together with tolerations to control how workloads are scheduled to your nodes. Node taints are permanent.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key associated with the effect.",
          "type": "string"
        },
        "value": {
          "description": "Value associated with the effect.",
          "type": "string"
        },
        "effect": {
          "description": "The taint effect.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Do not allow new pods to schedule onto the node unless they tolerate the taint, but allow all pods submitted to Kubelet without going through the scheduler to start, and allow all already-running pods to continue running. Enforced by the scheduler.",
            "Like TaintEffectNoSchedule, but the scheduler tries not to schedule new pods onto the node, rather than prohibiting new pods from scheduling onto the node entirely. Enforced by the scheduler.",
            "Evict any already-running pods that do not tolerate the taint. Currently enforced by NodeController."
          ],
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ]
        }
      }
    },
    "BareMetalApiServerArgument": {
      "id": "BareMetalApiServerArgument",
      "description": "BareMetalApiServerArgument represents an arg name->value pair. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https:\/\/kubernetes.io\/docs\/reference\/command-line-tools-reference\/kube-apiserver\/",
      "type": "object",
      "properties": {
        "argument": {
          "description": "Required. The argument name as it appears on the API Server command line please make sure to remove the leading dashes.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the arg as it will be passed to the API Server command line.",
          "type": "string"
        }
      }
    },
    "BareMetalLoadBalancerConfig": {
      "id": "BareMetalLoadBalancerConfig",
      "description": "BareMetalLoadBalancerConfig specifies the load balancer configuration.",
      "type": "object",
      "properties": {
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "BareMetalVipConfig"
        },
        "portConfig": {
          "description": "Configures the ports that the load balancer will listen on.",
          "$ref": "BareMetalPortConfig"
        },
        "metalLbConfig": {
          "description": "Configuration for MetalLB typed load balancers.",
          "$ref": "BareMetalMetalLbConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "BareMetalManualLbConfig"
        }
      }
    },
    "BareMetalVipConfig": {
      "id": "BareMetalVipConfig",
      "description": "BareMetalVipConfig for Bare Metal Load Balancer Config.",
      "type": "object",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this Bare Metal User Cluster.",
          "type": "string"
        },
        "ingressVip": {
          "description": "The VIP which you previously set aside for ingress traffic into this Bare Metal User Cluster.",
          "type": "string"
        }
      }
    },
    "BareMetalPortConfig": {
      "id": "BareMetalPortConfig",
      "description": "BareMetalPortConfig is the specification of load balancer ports.",
      "type": "object",
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "description": "The port that control plane hosted load balancers will listen on.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BareMetalMetalLbConfig": {
      "id": "BareMetalMetalLbConfig",
      "description": "BareMetalMetalLbConfig represents configuration parameters for a MetalLB load balancer.",
      "type": "object",
      "properties": {
        "addressPools": {
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "type": "array",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          }
        },
        "nodePoolConfig": {
          "description": "Specifies the node pool running the load balancer. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used as load balancer pool.",
          "$ref": "BareMetalLoadBalancerNodePoolConfig"
        }
      }
    },
    "BareMetalLoadBalancerAddressPool": {
      "id": "BareMetalLoadBalancerAddressPool",
      "description": "BareMetalLoadBalancerAddressPool represents an IP pool used by a load balancer.",
      "type": "object",
      "properties": {
        "pool": {
          "description": "Required. The name of the address pool.",
          "type": "string"
        },
        "addresses": {
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0\/24) or range form (1.2.3.1-1.2.3.5).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "avoidBuggyIps": {
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.",
          "type": "boolean"
        },
        "manualAssign": {
          "description": "If true, prevent IP addresses from being automatically assigned.",
          "type": "boolean"
        }
      }
    },
    "BareMetalLoadBalancerNodePoolConfig": {
      "id": "BareMetalLoadBalancerNodePoolConfig",
      "description": "BareMetalLoadBalancerNodePoolConfig specifies the load balancer's node pool configuration. We have a Load Balancer specific Node Pool config so that we can flexible about supporting Load Balancer specific fields in the future.",
      "type": "object",
      "properties": {
        "nodePoolConfig": {
          "description": "The generic configuration for a node pool running a load balancer.",
          "$ref": "BareMetalNodePoolConfig"
        }
      }
    },
    "BareMetalManualLbConfig": {
      "id": "BareMetalManualLbConfig",
      "description": "BareMetalManualLbConfig represents configuration parameters for a manual load balancer.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether manual load balancing is enabled.",
          "type": "boolean"
        }
      }
    },
    "BareMetalStorageConfig": {
      "id": "BareMetalStorageConfig",
      "description": "BareMetalStorageConfig specifies the cluster storage configuration.",
      "type": "object",
      "properties": {
        "lvpShareConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation.",
          "$ref": "BareMetalLvpShareConfig"
        },
        "lvpNodeMountsConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation.",
          "$ref": "BareMetalLvpConfig"
        }
      }
    },
    "BareMetalLvpShareConfig": {
      "id": "BareMetalLvpShareConfig",
      "description": "BareMetalLvpShareConfig specifies the configs for local persistent volumes under a shared filesystem.",
      "type": "object",
      "properties": {
        "lvpConfig": {
          "description": "Required. Defines the machine path and storage class for the LVP Share.",
          "$ref": "BareMetalLvpConfig"
        },
        "sharedPathPvCount": {
          "description": "The number of subdirectories to create under path.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BareMetalLvpConfig": {
      "id": "BareMetalLvpConfig",
      "description": "BareMetalLvpConfig specifies the configs for local persistent volumes.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The host machine path.",
          "type": "string"
        },
        "storageClass": {
          "description": "Required. The StorageClass name that PVs will be created with.",
          "type": "string"
        }
      }
    },
    "BareMetalProxyConfig": {
      "id": "BareMetalProxyConfig",
      "description": "BareMetalProxyConfig specifies the cluster proxy configuration.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. Specifies the address of your proxy server. Examples: http:\/\/domain WARNING: Do not provide credentials in the format http:\/\/(username:password@)domain these will be rejected by the server.",
          "type": "string"
        },
        "noProxy": {
          "description": "A list of IPs, hostnames, and domains that should skip the proxy. Examples: [\"127.0.0.1\", \"example.com\", \".corp\", \"localhost\"].",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BareMetalClusterOperationsConfig": {
      "id": "BareMetalClusterOperationsConfig",
      "description": "BareMetalClusterOperationsConfig specifies the User Cluster's observability infrastructure.",
      "type": "object",
      "properties": {
        "enableApplicationLogs": {
          "description": "Whether collection of application logs\/metrics should be enabled (in addition to system logs\/metrics).",
          "type": "boolean"
        }
      }
    },
    "BareMetalMaintenanceConfig": {
      "id": "BareMetalMaintenanceConfig",
      "description": "BareMetalMaintenanceConfig specifies configurations to put Bare Metal CRs in and out of maintenance.",
      "type": "object",
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io\/maintenance\" annotation will be set on the node resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BareMetalWorkloadNodeConfig": {
      "id": "BareMetalWorkloadNodeConfig",
      "description": "BareMetalWorkloadNodeConfig specifies the workload node configurations.",
      "type": "object",
      "properties": {
        "maxPodsPerNode": {
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter.",
          "type": "string",
          "format": "int64"
        },
        "containerRuntime": {
          "description": "Specifies which container runtime will be used.",
          "type": "string",
          "enumDescriptions": [
            "No container runtime selected.",
            "Docker runtime.",
            "Containerd runtime."
          ],
          "enum": [
            "CONTAINER_RUNTIME_UNSPECIFIED",
            "DOCKER",
            "CONTAINERD"
          ]
        }
      }
    },
    "Fleet": {
      "id": "Fleet",
      "description": "Fleet related configuration. Fleets are a Google Cloud concept for logically organizing clusters, letting you use and manage multi-cluster capabilities and apply consistent policies across your systems. See [Anthos Fleets](https:\/\/cloud.google.com\/anthos\/multicluster-management\/fleets) for more details on Anthos multi-cluster capabilities using Fleets. ##",
      "type": "object",
      "properties": {
        "membership": {
          "description": "Output only. The name of the managed Hub Membership resource associated to this cluster. Membership names are formatted as `projects\/\/locations\/\/memberships\/`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ResourceStatus": {
      "id": "ResourceStatus",
      "description": "ResourceStatus describes why a cluster or node pool has a certain status. (e.g., ERROR or DEGRADED).",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "Human-friendly representation of the error message from the user cluster controller. The error message can be temporary as the user cluster controller creates a cluster or node pool. If the error message persists for a longer period of time, it can be used to surface error message to indicate real problems requiring user intervention.",
          "type": "string"
        },
        "conditions": {
          "description": "ResourceCondition provide a standard mechanism for higher-level status reporting from user cluster controller.",
          "type": "array",
          "items": {
            "$ref": "ResourceCondition"
          }
        }
      }
    },
    "ResourceCondition": {
      "id": "ResourceCondition",
      "description": "ResourceCondition provides a standard mechanism for higher-level status reporting from user cluster controller.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of the condition. (e.g., ClusterRunning, NodePoolRunning or ServerSidePreflightReady)",
          "type": "string"
        },
        "reason": {
          "description": "Machine-readable message indicating details about last transition.",
          "type": "string"
        },
        "message": {
          "description": "Human-readable message indicating details about last transition.",
          "type": "string"
        },
        "lastTransitionTime": {
          "description": "Last time the condition transit from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "state of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Resource is in the condition.",
            "Resource is not in the condition.",
            "Kubernetes controller can't decide if the resource is in the condition or not."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_TRUE",
            "STATE_FALSE",
            "STATE_UNKNOWN"
          ]
        }
      }
    },
    "ValidationCheck": {
      "id": "ValidationCheck",
      "description": "ValidationCheck represents the result of preflight check.",
      "type": "object",
      "properties": {
        "option": {
          "description": "Options used for the validation check",
          "type": "string",
          "enumDescriptions": [
            "Default value. Standard preflight validation check will be used.",
            "Prevent failed preflight checks from failing.",
            "Skip all preflight check validations."
          ],
          "enum": [
            "OPTIONS_UNSPECIFIED",
            "SKIP_VALIDATION_CHECK_BLOCKING",
            "SKIP_VALIDATION_ALL"
          ]
        },
        "status": {
          "description": "Output only. The detailed validation check status.",
          "readOnly": true,
          "$ref": "ValidationCheckStatus"
        },
        "scenario": {
          "description": "Output only. The scenario when the preflight checks were run.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The validation check occurred during an create flow.",
            "The validation check occurred during an update flow."
          ],
          "enum": [
            "SCENARIO_UNSPECIFIED",
            "CREATE",
            "UPDATE"
          ]
        }
      }
    },
    "ValidationCheckStatus": {
      "id": "ValidationCheckStatus",
      "description": "ValidationCheckStatus defines the detailed validation check status.",
      "type": "object",
      "properties": {
        "result": {
          "description": "Individual checks which failed as part of the Preflight check execution.",
          "type": "array",
          "items": {
            "$ref": "ValidationCheckResult"
          }
        }
      }
    },
    "ValidationCheckResult": {
      "id": "ValidationCheckResult",
      "description": "ValidationCheckResult defines the details about the validation check.",
      "type": "object",
      "properties": {
        "state": {
          "description": "The validation check state.",
          "type": "string",
          "enumDescriptions": [
            "The default value. The check result is unknown.",
            "The check failed.",
            "The check was skipped.",
            "The check itself failed to complete.",
            "The check encountered a warning."
          ],
          "enum": [
            "STATE_UNKNOWN",
            "STATE_FAILURE",
            "STATE_SKIPPED",
            "STATE_FATAL",
            "STATE_WARNING"
          ]
        },
        "description": {
          "description": "The description of the validation check.",
          "type": "string"
        },
        "category": {
          "description": "The category of the validation.",
          "type": "string"
        },
        "reason": {
          "description": "A human-readable message of the check failure.",
          "type": "string"
        },
        "details": {
          "description": "Detailed failure information, which might be unformatted.",
          "type": "string"
        }
      }
    },
    "BareMetalSecurityConfig": {
      "id": "BareMetalSecurityConfig",
      "description": "BareMetalSecurityConfig specifies the security related settings for the Bare Metal User Cluster.",
      "type": "object",
      "properties": {
        "authorization": {
          "description": "Configures user access to the Bare Metal User cluster.",
          "$ref": "Authorization"
        }
      }
    },
    "Authorization": {
      "id": "Authorization",
      "description": "Authorization defines the On-Prem User Cluster authorization configuration to bootstrap onto the admin cluster.",
      "type": "object",
      "properties": {
        "adminUsers": {
          "description": "Required. Users that will be granted the cluster-admin role on the cluster, providing full access to the cluster.",
          "type": "array",
          "items": {
            "$ref": "ClusterUser"
          }
        }
      }
    },
    "ClusterUser": {
      "id": "ClusterUser",
      "description": "ClusterUser configures user principals for an RBAC policy.",
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. The name of the user, e.g. `my-gcp-id@gmail.com`.",
          "type": "string"
        }
      }
    },
    "BareMetalMaintenanceStatus": {
      "id": "BareMetalMaintenanceStatus",
      "description": "BareMetalMaintenanceStatus represents the maintenance status for Bare Metal user clusters.",
      "type": "object",
      "properties": {
        "machineDrainStatus": {
          "description": "The maintenance status of node machines.",
          "$ref": "BareMetalMachineDrainStatus"
        }
      }
    },
    "BareMetalMachineDrainStatus": {
      "id": "BareMetalMachineDrainStatus",
      "description": "BareMetalAdminMachineDrainStatus represents the status of Bare Metal node machines that are undergoing drain operations.",
      "type": "object",
      "properties": {
        "drainingMachines": {
          "description": "The list of draning machines.",
          "type": "array",
          "items": {
            "$ref": "BareMetalDrainingMachine"
          }
        },
        "drainedMachines": {
          "description": "The list of drained machines.",
          "type": "array",
          "items": {
            "$ref": "BareMetalDrainedMachine"
          }
        }
      }
    },
    "BareMetalDrainingMachine": {
      "id": "BareMetalDrainingMachine",
      "description": "BareMetalDrainingMachine represents a machine that is currently draining.",
      "type": "object",
      "properties": {
        "nodeIp": {
          "description": "Draining machine IP address.",
          "type": "string"
        },
        "podCount": {
          "description": "The count of pods yet to drain.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BareMetalDrainedMachine": {
      "id": "BareMetalDrainedMachine",
      "description": "BareMetalDrainedMachine represents a machine that is currently drained.",
      "type": "object",
      "properties": {
        "nodeIp": {
          "description": "Drained machine IP address.",
          "type": "string"
        }
      }
    },
    "EnrollBareMetalClusterRequest": {
      "id": "EnrollBareMetalClusterRequest",
      "description": "Message for enrolling an existing Bare Metal Cluster to the GKE on-prem API.",
      "type": "object",
      "properties": {
        "bareMetalClusterId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all Bare Metal clusters within a project and location and will return a 409 if the cluster already exists. This value must be up to 40 characters and follow RFC-1123 (https:\/\/tools.ietf.org\/html\/rfc1123) format.",
          "type": "string"
        },
        "localName": {
          "description": "The object name of the Bare Metal Cluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the bare_metal_cluster_id. Otherwise, it must match the object name of the Bare Metal Cluster custom resource. It is not modifiable outside \/ beyond the enrollment operation.",
          "type": "string"
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this Bare Metal User Cluster belongs to. This is the full resource name of the admin cluster's hub membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources.",
          "type": "string"
        }
      }
    },
    "ListBareMetalClustersResponse": {
      "id": "ListBareMetalClustersResponse",
      "description": "Response message for listing Bare Metal Clusters.",
      "type": "object",
      "properties": {
        "bareMetalClusters": {
          "description": "The list of Bare Metal Clusters.",
          "type": "array",
          "items": {
            "$ref": "BareMetalCluster"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "QueryBareMetalVersionConfigResponse": {
      "id": "QueryBareMetalVersionConfigResponse",
      "description": "Response message for querying Bare Metal admin cluster version config.",
      "type": "object",
      "properties": {
        "versions": {
          "description": "List of available versions to install or to upgrade to.",
          "type": "array",
          "items": {
            "$ref": "BareMetalVersionInfo"
          }
        }
      }
    },
    "BareMetalVersionInfo": {
      "id": "BareMetalVersionInfo",
      "description": "BareMetalVersionInfo contains information about a specific Anthos on Bare Metal version.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version number e.g. 1.13.1.",
          "type": "string"
        },
        "hasDependencies": {
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster) must be upgraded before this version can be installed or upgraded to.",
          "type": "boolean"
        }
      }
    },
    "EnrollVmwareClusterRequest": {
      "id": "EnrollVmwareClusterRequest",
      "description": "Message for enrolling an existing VMware Cluster to the GKE on-prem API.",
      "type": "object",
      "properties": {
        "vmwareClusterId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. This value must be up to 40 characters and follow RFC-1123 (https:\/\/tools.ietf.org\/html\/rfc1123) format.",
          "type": "string"
        },
        "localName": {
          "description": "The object name of the VMware OnPremUserCluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the vmware_cluster_id. Otherwise, it must match the object name of the VMware OnPremUserCluster custom resource. It is not modifiable outside \/ beyond the enrollment operation.",
          "type": "string"
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this VMware User Cluster belongs to. This is the full resource name of the admin cluster's hub membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources.",
          "type": "string"
        }
      }
    },
    "VmwareCluster": {
      "id": "VmwareCluster",
      "description": "Resource that represents a VMware User Cluster. ##",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The VMware User Cluster resource name.",
          "type": "string"
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this VMware User Cluster belongs to. This is the full resource name of the admin cluster's hub membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources.",
          "type": "string"
        },
        "description": {
          "description": "A human readable description of this VMware User Cluster.",
          "type": "string"
        },
        "onPremVersion": {
          "description": "The Anthos clusters on the VMware version for your user cluster. Defaults to the admin cluster version.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique identifier of the VMware User Cluster.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of VMware User Cluster.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "endpoint": {
          "description": "Output only. The DNS name of VMware User Cluster's API server.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the VMware User Cluster.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time at which VMware User Cluster was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which VMware User Cluster was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "localName": {
          "description": "Output only. The object name of the VMware OnPremUserCluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster ID and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "annotations": {
          "description": "Annotations on the VMware User Cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (\/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "controlPlaneNode": {
          "description": "VMware User Cluster control plane nodes must have either 1 or 3 replicas.",
          "$ref": "VmwareControlPlaneNodeConfig"
        },
        "workloadIdentity": {
          "description": "Authenticate to Google without requiring you to download, manually rotate, and generally manage Google Cloud service account keys. By using Workload Identity, the Connect Agent and other workloads can authenticate using short-lived tokens generated by the cluster.",
          "$ref": "VmwareWorkloadIdentityConfig"
        },
        "antiAffinityGroups": {
          "description": "AAGConfig specifies whether to spread VMware User Cluster nodes across at least three physical hosts in the datacenter.",
          "$ref": "VmwareAAGConfig"
        },
        "storage": {
          "description": "Storage configuration.",
          "$ref": "VmwareStorageConfig"
        },
        "networkConfig": {
          "description": "The VMware User Cluster network configuration.",
          "$ref": "VmwareNetworkConfig"
        },
        "loadBalancer": {
          "description": "Load Balancer configuration.",
          "$ref": "VmwareLoadBalancerConfig"
        },
        "vcenter": {
          "description": "Output only. VmwareVCenterConfig specifies vCenter config for the user cluster. Inherited from the admin cluster.",
          "readOnly": true,
          "$ref": "VmwareVCenterConfig"
        },
        "status": {
          "description": "Output only. ResourceStatus representing detailed cluster state.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "dataplaneV2": {
          "description": "VmwareDataplaneV2Config specifies configuration for Dataplane V2.",
          "$ref": "VmwareDataplaneV2Config"
        },
        "vmTrackingEnabled": {
          "description": "Enable VM tracking.",
          "type": "boolean"
        },
        "autoRepairConfig": {
          "description": "Configuration for auto repairing.",
          "$ref": "VmwareAutoRepairConfig"
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true,
          "$ref": "Fleet"
        },
        "authorization": {
          "description": "RBAC policy that will be applied and managed by GKE On-Prem.",
          "$ref": "Authorization"
        },
        "deleteTime": {
          "description": "Output only. The time at which VMware User Cluster was deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "validationCheck": {
          "description": "Output only. ValidationCheck represents the result of the preflight check job.",
          "readOnly": true,
          "$ref": "ValidationCheck"
        },
        "adminClusterName": {
          "description": "Output only. The resource name of the Vmware Admin Cluster hosting this User Cluster.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "VmwareControlPlaneNodeConfig": {
      "id": "VmwareControlPlaneNodeConfig",
      "description": "VmwareControlPlaneNodeConfig specifies control plane node config for VMware User Cluster.",
      "type": "object",
      "properties": {
        "cpus": {
          "description": "The number of CPUs for each admin cluster node that serve as control planes for this VMware User Cluster. (default: 4 CPUs)",
          "type": "string",
          "format": "int64"
        },
        "memory": {
          "description": "The megabytes of memory for each admin cluster node that serves as a control plane for this VMware User Cluster (default: 8192 MB memory).",
          "type": "string",
          "format": "int64"
        },
        "replicas": {
          "description": "The number of control plane nodes for this VMware User Cluster. (default: 1 replica).",
          "type": "string",
          "format": "int64"
        },
        "autoResizeConfig": {
          "description": "AutoResizeConfig provides auto resizing configurations.",
          "$ref": "VmwareAutoResizeConfig"
        },
        "vsphereConfig": {
          "description": "Output only. Vsphere-specific config.",
          "readOnly": true,
          "$ref": "VmwareControlPlaneVsphereConfig"
        }
      }
    },
    "VmwareAutoResizeConfig": {
      "id": "VmwareAutoResizeConfig",
      "description": "VmwareAutoResizeConfig provides auto resizing configurations.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether to enable controle plane node auto resizing.",
          "type": "boolean"
        }
      }
    },
    "VmwareControlPlaneVsphereConfig": {
      "id": "VmwareControlPlaneVsphereConfig",
      "description": "VmwareControlPlaneVsphereConfig Control Plane Node config.",
      "type": "object",
      "properties": {
        "datastore": {
          "description": "The Vsphere datastore used by the Control Plane Node.",
          "type": "string"
        }
      }
    },
    "VmwareWorkloadIdentityConfig": {
      "id": "VmwareWorkloadIdentityConfig",
      "description": "VmwareWorkloadIdentityConfig for VMware User Cluster.",
      "type": "object",
      "properties": {
        "workloadIdentityDisabled": {
          "description": "Whether or not workload identity is disabled in the cluster. Workload Identity is enabled by default.",
          "type": "boolean"
        }
      }
    },
    "VmwareAAGConfig": {
      "id": "VmwareAAGConfig",
      "description": "VmwareAAGConfig specifies anti affinity group config for VMware User Cluster. ",
      "type": "object",
      "properties": {
        "aagConfigDisabled": {
          "description": "Spread nodes across at least three physical hosts (requires at least three hosts). Enabled by default.",
          "type": "boolean"
        }
      }
    },
    "VmwareStorageConfig": {
      "id": "VmwareStorageConfig",
      "description": "VmwareStorageConfig specifies whether to deploy vSphere CSI components in the VMware User Cluster.",
      "type": "object",
      "properties": {
        "vsphereCsiDisabled": {
          "description": "Whether or not to deploy vSphere CSI components in the VMware User Cluster. Enabled by default.",
          "type": "boolean"
        }
      }
    },
    "VmwareNetworkConfig": {
      "id": "VmwareNetworkConfig",
      "description": "VmwareNetworkConfig for VMware User Cluster.",
      "type": "object",
      "properties": {
        "serviceAddressCidrBlocks": {
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "staticIpConfig": {
          "description": "Configuration settings for a static IP configuration.",
          "$ref": "VmwareStaticIpConfig"
        },
        "dhcpIpConfig": {
          "description": "Configuration settings for a DHCP IP configuration.",
          "$ref": "VmwareDhcpIpConfig"
        },
        "vcenterNetwork": {
          "description": "Output only. vcenter_network specifies vCenter network name. Inherited from the admin cluster.",
          "readOnly": true,
          "type": "string"
        },
        "hostConfig": {
          "description": "Represents common network settings irrespective of the host's IP address.",
          "$ref": "VmwareHostConfig"
        }
      }
    },
    "VmwareStaticIpConfig": {
      "id": "VmwareStaticIpConfig",
      "description": "VmwareStaticIpConfig represents the network configuration required for VMware User Clusters with Static IP configurations.",
      "type": "object",
      "properties": {
        "ipBlocks": {
          "description": "Represents the configuration values for static IP allocation to nodes.",
          "type": "array",
          "items": {
            "$ref": "VmwareIpBlock"
          }
        }
      }
    },
    "VmwareIpBlock": {
      "id": "VmwareIpBlock",
      "description": "VmwareIpBlock represents a collection of IP addresses to assign to nodes from.",
      "type": "object",
      "properties": {
        "netmask": {
          "description": "The netmask used by the VMware User Cluster.",
          "type": "string"
        },
        "gateway": {
          "description": "The network gateway used by the VMware User Cluster.",
          "type": "string"
        },
        "ips": {
          "description": "The node's network configurations used by the VMware User Cluster.",
          "type": "array",
          "items": {
            "$ref": "VmwareHostIp"
          }
        }
      }
    },
    "VmwareHostIp": {
      "id": "VmwareHostIp",
      "description": "VmwareHostIp represents a node's network configuration.",
      "type": "object",
      "properties": {
        "ip": {
          "description": "IP could be an IP address (like 1.2.3.4) or a CIDR (like 1.2.3.0\/24).",
          "type": "string"
        },
        "hostname": {
          "description": "Hostname of the machine. VM's name will be used if this field is empty.",
          "type": "string"
        }
      }
    },
    "VmwareDhcpIpConfig": {
      "id": "VmwareDhcpIpConfig",
      "description": "VmwareDhcpIpConfig represents the network configuration required for VMware user clusters with DHCP IP configurations.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "enabled is a flag to mark if DHCP IP allocation is used for VMware user clusters.",
          "type": "boolean"
        }
      }
    },
    "VmwareHostConfig": {
      "id": "VmwareHostConfig",
      "description": "VmwareHostConfig represents the common parameters for all hosts irrespective of their IP address.",
      "type": "object",
      "properties": {
        "dnsServers": {
          "description": "DNS servers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ntpServers": {
          "description": "NTP servers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dnsSearchDomains": {
          "description": "DNS search domains.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VmwareLoadBalancerConfig": {
      "id": "VmwareLoadBalancerConfig",
      "description": "VmwareLoadBalancerConfig for VMware User Cluster.",
      "type": "object",
      "properties": {
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "VmwareVipConfig"
        },
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareF5BigIpConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "VmwareManualLbConfig"
        },
        "seesawConfig": {
          "description": "Configuration for Seesaw typed load balancers.",
          "$ref": "VmwareSeesawConfig"
        },
        "metalLbConfig": {
          "description": "Configuration for MetalLB typed load balancers.",
          "$ref": "VmwareMetalLbConfig"
        }
      }
    },
    "VmwareVipConfig": {
      "id": "VmwareVipConfig",
      "description": "VmwareVipConfig for Vmware Load Balancer Config.",
      "type": "object",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this cluster.",
          "type": "string"
        },
        "ingressVip": {
          "description": "The VIP which you previously set aside for ingress traffic into this cluster.",
          "type": "string"
        }
      }
    },
    "VmwareF5BigIpConfig": {
      "id": "VmwareF5BigIpConfig",
      "description": "VmwareF5BigIpConfig represents configuration parameters for an F5 BIG-IP load balancer.",
      "type": "object",
      "properties": {
        "address": {
          "description": "The load balancer's IP address.",
          "type": "string"
        },
        "partition": {
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'.",
          "type": "string"
        },
        "snatPool": {
          "description": "The pool name. Only necessary, if using SNAT.",
          "type": "string"
        }
      }
    },
    "VmwareManualLbConfig": {
      "id": "VmwareManualLbConfig",
      "type": "object",
      "properties": {
        "ingressHttpNodePort": {
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527).",
          "type": "integer",
          "format": "int32"
        },
        "ingressHttpsNodePort": {
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139).",
          "type": "integer",
          "format": "int32"
        },
        "controlPlaneNodePort": {
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968).",
          "type": "integer",
          "format": "int32"
        },
        "konnectivityServerNodePort": {
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VmwareSeesawConfig": {
      "id": "VmwareSeesawConfig",
      "type": "object",
      "properties": {
        "group": {
          "description": "Required. In general the following format should be used for the Seesaw group name: seesaw-for-[cluster_name].",
          "type": "string"
        },
        "masterIp": {
          "description": "Required. MasterIP is the IP announced by the master of Seesaw group.",
          "type": "string"
        },
        "ipBlocks": {
          "description": "Required. The IP Blocks to be used by the Seesaw load balancer",
          "type": "array",
          "items": {
            "$ref": "VmwareIpBlock"
          }
        },
        "enableHa": {
          "description": "Enable two load balancer VMs to achieve a highly-available Seesaw load balancer.",
          "type": "boolean"
        },
        "vms": {
          "description": "Names of the VMs created for this Seesaw group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VmwareMetalLbConfig": {
      "id": "VmwareMetalLbConfig",
      "description": "VmwareMetalLbConfig represents configuration parameters for a MetalLB load balancer.",
      "type": "object",
      "properties": {
        "addressPools": {
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "type": "array",
          "items": {
            "$ref": "VmwareAddressPool"
          }
        }
      }
    },
    "VmwareAddressPool": {
      "id": "VmwareAddressPool",
      "description": "VmwareAddressPool represents an IP pool used by a load balancer.",
      "type": "object",
      "properties": {
        "pool": {
          "description": "Required. The name of the address pool.",
          "type": "string"
        },
        "addresses": {
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0\/24) or range form (1.2.3.1-1.2.3.5).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "avoidBuggyIps": {
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.",
          "type": "boolean"
        },
        "manualAssign": {
          "description": "If true, prevent IP addresses from being automatically assigned.",
          "type": "boolean"
        }
      }
    },
    "VmwareVCenterConfig": {
      "id": "VmwareVCenterConfig",
      "description": "VmwareVCenterConfig represents configuration for the VMware VCenter for the user cluster.",
      "type": "object",
      "properties": {
        "resourcePool": {
          "description": "The name of the vCenter resource pool for the user cluster.",
          "type": "string"
        },
        "datastore": {
          "description": "The name of the vCenter datastore for the user cluster.",
          "type": "string"
        },
        "datacenter": {
          "description": "The name of the vCenter datacenter for the user cluster.",
          "type": "string"
        },
        "cluster": {
          "description": "The name of the vCenter cluster for the user cluster.",
          "type": "string"
        },
        "folder": {
          "description": "The name of the vCenter folder for the user cluster.",
          "type": "string"
        },
        "caCertData": {
          "description": "Contains the vCenter CA certificate public key for SSL verification.",
          "type": "string"
        },
        "address": {
          "description": "The vCenter IP address.",
          "type": "string"
        }
      }
    },
    "VmwareDataplaneV2Config": {
      "id": "VmwareDataplaneV2Config",
      "description": "VmwareDataplaneV2Config contains configurations for Dataplane V2, which is optimized dataplane for Kubernetes networking. For more information, see: https:\/\/cloud.google.com\/kubernetes-engine\/docs\/concepts\/dataplane-v2",
      "type": "object",
      "properties": {
        "dataplaneV2Enabled": {
          "description": "Enables Dataplane V2.",
          "type": "boolean"
        },
        "windowsDataplaneV2Enabled": {
          "description": "Enable Dataplane V2 for clusters with Windows nodes.",
          "type": "boolean"
        },
        "advancedNetworking": {
          "description": "Enable advanced networking which requires dataplane_v2_enabled to be set true.",
          "type": "boolean"
        }
      }
    },
    "VmwareAutoRepairConfig": {
      "id": "VmwareAutoRepairConfig",
      "description": "VmwareAutoRepairConfig is used to enable\/disable auto repair. The cluster-health-controller is deployed only if Enabled is true.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether auto repair is enabled.",
          "type": "boolean"
        }
      }
    },
    "ListVmwareClustersResponse": {
      "id": "ListVmwareClustersResponse",
      "description": "Response message for listing VMware Clusters.",
      "type": "object",
      "properties": {
        "vmwareClusters": {
          "description": "The list of VMware Cluster.",
          "type": "array",
          "items": {
            "$ref": "VmwareCluster"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BareMetalNodePool": {
      "id": "BareMetalNodePool",
      "description": "Resource that represents a Bare Metal Node Pool.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The Bare Metal Node Pool resource name.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name for the Bare Metal Node Pool.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique identifier of the Bare Metal Node Pool.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the Bare Metal Node Pool.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the Bare Metal Node Pool is being created.",
            "The RUNNING state indicates the Bare Metal Node Pool has been created and is fully usable.",
            "The RECONCILING state indicates that the Bare Metal Node Pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the Bare Metal Node Pool is being deleted.",
            "The ERROR state indicates the Bare Metal Node Pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the Bare Metal Node Pool requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the Bare Metal Node Pool.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time at which this Bare Metal Node Pool was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which this Bare Metal Node Pool was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. The time at which this Bare Metal Node Pool was deleted. If the resource is not deleted, this must be empty",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "annotations": {
          "description": "Annotations on the Bare Metal Node Pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (\/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "nodePoolConfig": {
          "description": "Required. Node pool configuration.",
          "$ref": "BareMetalNodePoolConfig"
        },
        "status": {
          "description": "Output only. ResourceStatus representing the detailed node pool status.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        }
      }
    },
    "ListBareMetalNodePoolsResponse": {
      "id": "ListBareMetalNodePoolsResponse",
      "description": "Response message for listing Bare Metal Node Pools.",
      "type": "object",
      "properties": {
        "bareMetalNodePools": {
          "description": "The node pools from the specified parent resource.",
          "type": "array",
          "items": {
            "$ref": "BareMetalNodePool"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VmwareNodePool": {
      "id": "VmwareNodePool",
      "description": "Resource VmwareNodePool represents a Vmware node pool. ##",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of this node pool.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name for the node pool.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique identifier of the node pool.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the node pool.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted",
            "The ERROR state indicates the node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the node pool requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the node pool.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time at which this node pool was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which this node pool was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. The time at which this node pool was deleted. If the resource is not deleted, this must be empty",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "annotations": {
          "description": "Annotations on the node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (\/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "nodePoolAutoscaling": {
          "description": "Node Pool autoscaling config for the Nodepool.",
          "$ref": "VmwareNodePoolAutoscalingConfig"
        },
        "config": {
          "description": "Required. The node configuration of the node pool.",
          "$ref": "VmwareNodeConfig"
        },
        "status": {
          "description": "Output only. ResourceStatus representing the detailed VMware Node Pool state.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        }
      }
    },
    "VmwareNodePoolAutoscalingConfig": {
      "id": "VmwareNodePoolAutoscalingConfig",
      "description": "NodePoolAutoscaling config for the NodePool to allow for the kubernetes to scale NodePool.",
      "type": "object",
      "properties": {
        "minReplicas": {
          "description": "Minimum number of replicas in the NodePool.",
          "type": "integer",
          "format": "int32"
        },
        "maxReplicas": {
          "description": "Maximum number of replicas in the NodePool.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VmwareNodeConfig": {
      "id": "VmwareNodeConfig",
      "description": "Parameters that describe the configuration of all nodes within a given node pool.",
      "type": "object",
      "properties": {
        "cpus": {
          "description": "The number of CPUs for each node in the node pool.",
          "type": "string",
          "format": "int64"
        },
        "memoryMb": {
          "description": "The megabytes of memory for each node in the node pool.",
          "type": "string",
          "format": "int64"
        },
        "replicas": {
          "description": "The number of nodes in the node pool.",
          "type": "string",
          "format": "int64"
        },
        "imageType": {
          "description": "Required. The OS image to be used for each node in a node pool. Currently `cos`, `ubuntu`, `ubuntu_containerd` and `windows` are supported.",
          "type": "string"
        },
        "image": {
          "description": "The OS image name in vCenter, only valid when using Windows.",
          "type": "string"
        },
        "bootDiskSizeGb": {
          "description": "VMware disk size to be used during creation.",
          "type": "string",
          "format": "int64"
        },
        "taints": {
          "description": "The initial taints assigned to nodes of this node pool.",
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          }
        },
        "labels": {
          "description": "The map of Kubernetes labels (key\/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https:\/\/kubernetes.io\/docs\/concepts\/overview\/working-with-objects\/labels\/",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "vsphereConfig": {
          "description": "Output only. Specifies the vSphere config for node pool.",
          "readOnly": true,
          "$ref": "VmwareVsphereConfig"
        },
        "enableLoadBalancer": {
          "description": "Allow node pool traffic to be load balanced. Only works for clusters with MetalLB load balancers.",
          "type": "boolean"
        }
      }
    },
    "VmwareVsphereConfig": {
      "id": "VmwareVsphereConfig",
      "description": "VmwareVsphereConfig represents configuration for the VMware VCenter for node pool.",
      "type": "object",
      "properties": {
        "datastore": {
          "description": "The name of the vCenter datastore. Inherited from the user cluster.",
          "type": "string"
        },
        "tags": {
          "description": "Tags to apply to VMs.",
          "type": "array",
          "items": {
            "$ref": "VmwareVsphereTag"
          }
        }
      }
    },
    "VmwareVsphereTag": {
      "id": "VmwareVsphereTag",
      "description": "VmwareVsphereTag describes a vSphere tag to be placed on VMs in the node pool. For more information, see https:\/\/docs.vmware.com\/en\/VMware-vSphere\/7.0\/com.vmware.vsphere.vcenterhost.doc\/GUID-E8E854DD-AA97-4E0C-8419-CE84F93C4058.html",
      "type": "object",
      "properties": {
        "category": {
          "description": "The Vsphere tag category.",
          "type": "string"
        },
        "tag": {
          "description": "The Vsphere tag name.",
          "type": "string"
        }
      }
    },
    "ListVmwareNodePoolsResponse": {
      "id": "ListVmwareNodePoolsResponse",
      "description": "Response message for listing VMware Node Pools.",
      "type": "object",
      "properties": {
        "vmwareNodePools": {
          "description": "The node pools from the specified parent resource.",
          "type": "array",
          "items": {
            "$ref": "VmwareNodePool"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListVmwareAdminClustersResponse": {
      "id": "ListVmwareAdminClustersResponse",
      "description": "Response message for listing VMware Admin Clusters.",
      "type": "object",
      "properties": {
        "vmwareAdminClusters": {
          "description": "The list of VMware Admin Cluster.",
          "type": "array",
          "items": {
            "$ref": "VmwareAdminCluster"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VmwareAdminCluster": {
      "id": "VmwareAdminCluster",
      "description": "Resource that represents a VMware Admin Cluster.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The VMware Admin Cluster resource name.",
          "type": "string"
        },
        "description": {
          "description": "A human readable description of this VMware Admin Cluster.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique identifier of the VMware Admin Cluster.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which VMware Admin Cluster was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which VMware Admin Cluster was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "description": "Annotations on the VMware Admin Cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (\/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. The current state of VMware Admin Cluster.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "endpoint": {
          "description": "Output only. The DNS name of VMware Admin Cluster's API server.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the VMware Admin Cluster.",
          "readOnly": true,
          "type": "boolean"
        },
        "localName": {
          "description": "Output only. The object name of the VMware OnPremAdminCluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster ID and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "readOnly": true,
          "type": "string"
        },
        "bootstrapClusterMembership": {
          "description": "The bootstrap cluster this VMware Admin Cluster belongs to.",
          "type": "string"
        },
        "onPremVersion": {
          "description": "The Anthos clusters on the VMware version for the admin cluster.",
          "type": "string"
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true,
          "$ref": "Fleet"
        },
        "imageType": {
          "description": "The OS image type for the VMware Admin Cluster.",
          "type": "string"
        },
        "vcenter": {
          "description": "The VMware Admin Cluster VCenter configuration.",
          "$ref": "VmwareAdminVCenterConfig"
        },
        "networkConfig": {
          "description": "The VMware Admin Cluster network configuration.",
          "$ref": "VmwareAdminNetworkConfig"
        },
        "loadBalancer": {
          "description": "The VMware Admin Cluster load balancer configuration.",
          "$ref": "VmwareAdminLoadBalancerConfig"
        },
        "controlPlaneNode": {
          "description": "The VMware Admin Cluster control plane node configuration.",
          "$ref": "VmwareAdminControlPlaneNodeConfig"
        },
        "addonNode": {
          "description": "The VMware Admin Cluster addon node configuration.",
          "$ref": "VmwareAdminAddonNodeConfig"
        },
        "antiAffinityGroups": {
          "description": "The VMware Admin Cluster anti affinity group configuration.",
          "$ref": "VmwareAAGConfig"
        },
        "autoRepairConfig": {
          "description": "The VMware Admin Cluster auto repair configuration.",
          "$ref": "VmwareAutoRepairConfig"
        },
        "status": {
          "description": "Output only. ResourceStatus representing detailed cluster state.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "platformConfig": {
          "description": "The VMware platform configuration.",
          "$ref": "VmwarePlatformConfig"
        }
      }
    },
    "VmwareAdminVCenterConfig": {
      "id": "VmwareAdminVCenterConfig",
      "description": "VmwareAdminVCenterConfig contains VCenter configuration for VMware Admin Cluster.",
      "type": "object",
      "properties": {
        "resourcePool": {
          "description": "The name of the vCenter resource pool for the admin cluster.",
          "type": "string"
        },
        "datastore": {
          "description": "The name of the vCenter datastore for the admin cluster.",
          "type": "string"
        },
        "datacenter": {
          "description": "The name of the vCenter datacenter for the admin cluster.",
          "type": "string"
        },
        "cluster": {
          "description": "The name of the vCenter cluster for the admin cluster.",
          "type": "string"
        },
        "folder": {
          "description": "The name of the vCenter folder for the admin cluster.",
          "type": "string"
        },
        "caCertData": {
          "description": "Contains the vCenter CA certificate public key for SSL verification.",
          "type": "string"
        },
        "address": {
          "description": "The vCenter IP address.",
          "type": "string"
        },
        "dataDisk": {
          "description": "The name of the virtual machine disk (VMDK) for the admin cluster.",
          "type": "string"
        }
      }
    },
    "VmwareAdminNetworkConfig": {
      "id": "VmwareAdminNetworkConfig",
      "description": "VmwareAdminNetworkConfig contains network configuration for VMware Admin Cluster.",
      "type": "object",
      "properties": {
        "serviceAddressCidrBlocks": {
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "staticIpConfig": {
          "description": "Configuration settings for a static IP configuration.",
          "$ref": "VmwareStaticIpConfig"
        },
        "dhcpIpConfig": {
          "description": "Configuration settings for a DHCP IP configuration.",
          "$ref": "VmwareDhcpIpConfig"
        },
        "vcenterNetwork": {
          "description": "vcenter_network specifies vCenter network name.",
          "type": "string"
        },
        "hostConfig": {
          "description": "Represents common network settings irrespective of the host's IP address.",
          "$ref": "VmwareHostConfig"
        }
      }
    },
    "VmwareAdminLoadBalancerConfig": {
      "id": "VmwareAdminLoadBalancerConfig",
      "description": "VmwareAdminLoadBalancerConfig contains load balancer configuration for VMware Admin Cluster.",
      "type": "object",
      "properties": {
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "VmwareAdminVipConfig"
        },
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareAdminF5BigIpConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "VmwareAdminManualLbConfig"
        },
        "metalLbConfig": {
          "description": "MetalLB load balancers.",
          "$ref": "VmwareAdminMetalLbConfig"
        }
      }
    },
    "VmwareAdminVipConfig": {
      "id": "VmwareAdminVipConfig",
      "description": "VmwareAdminVipConfig for Vmware Load Balancer Config.",
      "type": "object",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of the admin cluster.",
          "type": "string"
        },
        "addonsVip": {
          "description": "The VIP to configure the load balancer for add-ons.",
          "type": "string"
        }
      }
    },
    "VmwareAdminF5BigIpConfig": {
      "id": "VmwareAdminF5BigIpConfig",
      "description": "VmwareAdminF5BigIpConfig represents configuration parameters for an F5 BIG-IP load balancer.",
      "type": "object",
      "properties": {
        "address": {
          "description": "The load balancer's IP address.",
          "type": "string"
        },
        "partition": {
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'.",
          "type": "string"
        },
        "snatPool": {
          "description": "The pool name. Only necessary, if using SNAT.",
          "type": "string"
        }
      }
    },
    "VmwareAdminManualLbConfig": {
      "id": "VmwareAdminManualLbConfig",
      "type": "object",
      "properties": {
        "ingressHttpNodePort": {
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527).",
          "type": "integer",
          "format": "int32"
        },
        "ingressHttpsNodePort": {
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139).",
          "type": "integer",
          "format": "int32"
        },
        "controlPlaneNodePort": {
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968).",
          "type": "integer",
          "format": "int32"
        },
        "konnectivityServerNodePort": {
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564).",
          "type": "integer",
          "format": "int32"
        },
        "addonsNodePort": {
          "description": "NodePort for add-ons server in the admin cluster.",
          "type": "integer",
[...]
