{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "networkmanagement:v1alpha1",
  "name": "networkmanagement",
  "canonicalName": "Network Management",
  "version": "v1alpha1",
  "revision": "0",
  "title": "Network Management API",
  "description": "The Network Management API provides a collection of network performance monitoring and diagnostic capabilities.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/",
  "protocol": "rest",
  "rootUrl": "https://networkmanagement.googleapis.com/",
  "mtlsRootUrl": "https://networkmanagement.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://networkmanagement.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "ListAppliancesResponse": {
      "id": "ListAppliancesResponse",
      "description": "The list of appliances as requested by the user.",
      "type": "object",
      "properties": {
        "appliances": {
          "description": "List of Appliance resources.",
          "type": "array",
          "items": {
            "$ref": "Appliance"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "Appliance": {
      "id": "Appliance",
      "description": "Appliance represents a deployable unit within 3P integration manager.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the Appliance resource. It matches the pattern `projects\/{project}\/locations\/{location}\/appliances\/` and must be unique.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A text description of the third party appliance resource. Might include details such as product features, vendor information, and pricing. Character set is UTF-8 and is limited to 4096 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "description": "Optional. Set of annotations ( ) to allow for custom metadata associated with the Appliance resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "Required. The type of the networked Appliance being deployed. Used to capture potential differences in deployments between types of appliances. Currently only FIREWALL OUT OF BAND deployment is supported now, but future values may include SWG (secure web gateway) or WAF (web application firewall) with both in-line and Out of band deployments.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "A firewall appliance deployed out of band.",
            "A firewall appliance deployed inline."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUT_OF_BAND_FIREWALL",
            "INLINE_FIREWALL"
          ]
        },
        "eulaUri": {
          "description": "Optional. A URL to the End User License Agreement provided by the third party appliance vendor.",
          "type": "string"
        },
        "externalLicenseInfo": {
          "description": "Optional. Information about the License type of the third party appliance.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Name of the third party appliance.",
          "type": "string"
        },
        "partner": {
          "description": "Optional. Name of the third party vendor providing the appliance.",
          "type": "string"
        },
        "imageVersion": {
          "description": "Optional. Version of the Vendor Image of the Firewall VM to be deployed, e.g.: 9.1.3",
          "type": "string"
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "description": "Deployment represents information about a third party appliance deployment.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the Deployment resource. It matches the pattern `projects\/{project}\/locations\/{location}\/deployments\/{deployment}` and must be unique.",
          "type": "string"
        },
        "mirroredTrafficConfig": {
          "description": "Config to include if deployment will an out-of-band topology.",
          "$ref": "OutOfBandDeploymentConfig"
        }
      }
    },
    "OutOfBandDeploymentConfig": {
      "id": "OutOfBandDeploymentConfig",
      "description": "Config used to deploy an out of band appliance topology.",
      "type": "object",
      "properties": {
        "namingPrefix": {
          "description": "A user specified string that will be prefixed to names of resources we create on their behalf.",
          "type": "string"
        },
        "applianceId": {
          "description": "The id returned by our get appliance methods that identifies the appliance that will be deployed.",
          "type": "string"
        },
        "zones": {
          "description": "The zones the appliance group will be deployed to. TODO (http:\/\/b\/242734886): Add links to docs once they are in place.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "trafficSubnetCidrRange": {
          "description": "The cidr range that specifies the traffic that should be directed to the appliance. Example: 25.72.12.0\/24",
          "type": "string"
        },
        "managementVpc": {
          "description": "The name of an existing vpc that the appliance's management interface should connect to.",
          "type": "string"
        },
        "managementSubnet": {
          "description": "The name of an existing subnet the appliance's management interface should connect to. This must be a subnet that exists in the vpc specified in the 'management_vpc' field. This field must be set if 'management_vpc' is set.",
          "type": "string"
        },
        "managementSubnetCidrRange": {
          "description": "The cidr range the appliance's management interface should get its ip from. Either this should be set, or management_vpc and management_subnet should both be set. Example: 25.72.12.0\/24",
          "type": "string"
        },
        "machineType": {
          "description": "The GCP machine type the appliance vm will be installed on. Example: e2-standard-4 See https:\/\/cloud.google.com\/compute\/docs\/machine-types for more information. TODO (http:\/\/b\/242734886): Add links to docs once they are in place (in this case, verify the above link is what we want for the final link).",
          "type": "string"
        },
        "applianceLoginSshKey": {
          "description": "The public ssh key that will be used to log into the appliance.",
          "type": "string"
        },
        "minInstances": {
          "description": "The minimum number of instances of the appliance that should be running at any time.",
          "type": "integer",
          "format": "int32"
        },
        "maxInstances": {
          "description": "The maximum number of instances of the appliance that should be running at any time.",
          "type": "integer",
          "format": "int32"
        },
        "bootstrapParams": {
          "description": "The bootstrap parameters that will be passed to appliance on first boot. The format for bootstrap parameters will depend on the appliance vendor and will vary. TODO (http:\/\/b\/242734886): Add links to docs once they are in place.",
          "type": "string"
        }
      }
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "description": "The list of deployments as requested by the user.",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "List of Deployment resources.",
          "type": "array",
          "items": {
            "$ref": "Deployment"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "ListSimulationsResponse": {
      "id": "ListSimulationsResponse",
      "description": "Message for response to listing Simulations",
      "type": "object",
      "properties": {
        "simulations": {
          "description": "The list of Simulation",
          "type": "array",
          "items": {
            "$ref": "Simulation"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Simulation": {
      "id": "Simulation",
      "description": "Message describing Simulation object",
      "type": "object",
      "properties": {
        "name": {
          "description": "Unique name of the resource using the form: `projects\/{project_id}\/locations\/global\/simulations\/{simulation_id}`",
          "type": "string"
        },
        "baseConfig": {
          "description": "Deprecated: Base configuration which is populated by backend when simulation is run or rerun. Please use config_changes field instead.",
          "type": "array",
          "items": {
            "$ref": "ConfigChange"
          }
        },
        "proposedConfig": {
          "description": "Deprecated: Proposed configuration diff which defines a group of resource configuration changes that need to be simulated together. Please use config_changes field instead.",
          "type": "array",
          "items": {
            "$ref": "ConfigChange"
          }
        },
        "configChanges": {
          "description": "Group of resource configuration changes that needs to be simulated together.",
          "type": "array",
          "items": {
            "$ref": "ConfigChange"
          }
        },
        "connectivityTestSimulationData": {
          "description": "Connectivity test data to simulate.",
          "$ref": "ConnectivityTestSimulationData"
        },
        "shadowedFirewallSimulationData": {
          "description": "Shadowed firewall test data to simulate.",
          "$ref": "ShadowedFirewallSimulationData"
        },
        "simulationResult": {
          "description": "Simulation result.",
          "$ref": "SimulationResult"
        },
        "creationOnly": {
          "description": "Only creates a simulation resource without triggering the simulation analysis.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Creation timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ConfigChange": {
      "id": "ConfigChange",
      "description": "ConfigChange defines one specific operation (defined by UpdateType) of a given configuration type. The content of the update is encoded in JSON format in config_body.",
      "type": "object",
      "properties": {
        "updateType": {
          "description": "Specify the type of the config change.",
          "type": "string",
          "enumDescriptions": [
            "Default update type.",
            "Indicates the update type is insertion.",
            "Indicates the update type is deletion.",
            "Indicates the update type is modification."
          ],
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "INSERT",
            "DELETE",
            "UPDATE"
          ]
        },
        "assetType": {
          "description": "Indicates the type of the config change. The type of the asset. Example: `compute.googleapis.com\/Firewall` See [Supported asset types](https:\/\/cloud.google.com\/asset-inventory\/docs\/supported-asset-types) for more information. Currently only supports: (1) compute.googleapis.com\/Firewall",
          "type": "string"
        },
        "configBody": {
          "description": "Deprecated: Specifies the detailed configuration in JSON format. Alternate Solution: Please use proposed_config_body field instead.",
          "type": "string"
        },
        "configId": {
          "description": "Deprecated: Config identifier (for DELETE operation).If fetching data please extract config_id or selfLink from the base_config_body. If passing data in request body please pass config_id\/selfLink in the proposed_config_body.",
          "type": "string"
        },
        "baseConfigBody": {
          "description": "Output only. Specifies original configuration in stringified JSON format. Base configuration which is populated by backend when simulation is run or rerun.",
          "readOnly": true,
          "type": "string"
        },
        "proposedConfigBody": {
          "description": "Specifies proposed configuration in stringified JSON format.",
          "type": "string"
        }
      }
    },
    "ConnectivityTestSimulationData": {
      "id": "ConnectivityTestSimulationData",
      "description": "Message for simulation data of connectivity test.",
      "type": "object",
      "properties": {
      }
    },
    "ShadowedFirewallSimulationData": {
      "id": "ShadowedFirewallSimulationData",
      "description": "Message for simulation data of shadowed firewall analysis.",
      "type": "object",
      "properties": {
      }
    },
    "SimulationResult": {
      "id": "SimulationResult",
      "description": "SimulationResult provides the simulation result for corresponding simulation resource.",
      "type": "object",
      "properties": {
        "operationState": {
          "description": "Specify the Simulation state.",
          "type": "string",
          "enumDescriptions": [
            "Default operation state.",
            "Indicates simulation was just initialized.",
            "Indicates simulation succeeded.",
            "Indicates simulation failed.",
            "Indicates simulation was aborted."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZED",
            "SUCCEEDED",
            "FAILED",
            "ABORTED"
          ]
        },
        "executionDuration": {
          "description": "Simulation execution duration including a start time and an end time.",
          "type": "string",
          "format": "google-duration"
        },
        "snapshotTime": {
          "description": "Timestamp for data model snapshot used for simulation.",
          "type": "string",
          "format": "google-datetime"
        },
        "connectivityTestSimulationResult": {
          "description": "Connectivity test simulation results showing diff for each test with pagination.",
          "type": "array",
          "items": {
            "$ref": "ConnectivityTestSimulationResult"
          }
        },
        "shadowedFirewallSimulationResult": {
          "description": "Shadowed firewall simulation results showing diff with pagination.",
          "type": "array",
          "items": {
            "$ref": "ShadowedFirewallSimulationResult"
          }
        }
      }
    },
    "ConnectivityTestSimulationResult": {
      "id": "ConnectivityTestSimulationResult",
      "description": "ConnectivityTestSimulationResult contains results for a single connectivity test from two network configurations, i.e. original and proposed network configurations.",
      "type": "object",
      "properties": {
        "testUri": {
          "description": "Full resource path (i.e. uri) of the connectivity test using the form: 'projects\/{project}\/locations\/{location}\/connectivityTestSimulationResults\/{result}'",
          "type": "string"
        },
        "source": {
          "description": "Source endpoint.",
          "$ref": "Endpoint"
        },
        "destination": {
          "description": "Destination endpoint.",
          "$ref": "Endpoint"
        },
        "protocol": {
          "description": "Protocol name.",
          "type": "string"
        },
        "resultsDiffer": {
          "description": "Whether base and proposed config results are different.",
          "type": "boolean"
        },
        "baseConfigResult": {
          "description": "Reachability details (result+traces) for the base config.",
          "$ref": "ReachabilityDetails"
        },
        "proposedConfigResult": {
          "description": "Reachability details (result+traces) for the proposed config.",
          "$ref": "ReachabilityDetails"
        }
      }
    },
    "Endpoint": {
      "id": "Endpoint",
      "description": "Source or destination of the Connectivity Test.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "The IP address of the endpoint, which can be an external or internal IP. An IPv6 address is only allowed when the test's destination is a [global load balancer VIP](https:\/\/cloud.google.com\/load-balancing\/docs\/load-balancing-overview).",
          "type": "string"
        },
        "port": {
          "description": "The IP protocol port of the endpoint. Only applicable when protocol is TCP or UDP.",
          "type": "integer",
          "format": "int32"
        },
        "instance": {
          "description": "A Compute Engine instance URI.",
          "type": "string"
        },
        "gkeMasterCluster": {
          "description": "A cluster URI for [Google Kubernetes Engine master](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/concepts\/cluster-architecture).",
          "type": "string"
        },
        "cloudSqlInstance": {
          "description": "A [Cloud SQL](https:\/\/cloud.google.com\/sql) instance URI.",
          "type": "string"
        },
        "cloudFunction": {
          "description": "A [Cloud Function](https:\/\/cloud.google.com\/functions).",
          "$ref": "CloudFunctionEndpoint"
        },
        "appEngineVersion": {
          "description": "An [App Engine](https:\/\/cloud.google.com\/appengine) [service version](https:\/\/cloud.google.com\/appengine\/docs\/admin-api\/reference\/rest\/v1\/apps.services.versions).",
          "$ref": "AppEngineVersionEndpoint"
        },
        "cloudRunRevision": {
          "description": "A [Cloud Run](https:\/\/cloud.google.com\/run) [revision](https:\/\/cloud.google.com\/run\/docs\/reference\/rest\/v1\/namespaces.revisions\/get)",
          "$ref": "CloudRunRevisionEndpoint"
        },
        "network": {
          "description": "A Compute Engine network URI.",
          "type": "string"
        },
        "networkType": {
          "description": "Type of the network where the endpoint is located. Applicable only to source endpoint, as destination network type can be inferred from the source.",
          "type": "string",
          "enumDescriptions": [
            "Default type if unspecified.",
            "A network hosted within Google Cloud Platform. To receive more detailed output, specify the URI for the source or destination network.",
            "A network hosted outside of Google Cloud Platform. This can be an on-premises network, or a network hosted by another cloud provider."
          ],
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "GCP_NETWORK",
            "NON_GCP_NETWORK"
          ]
        },
        "projectId": {
          "description": "Project ID where the endpoint is located. The Project ID can be derived from the URI if you provide a VM instance or network URI. The following are two cases where you must provide the project ID: 1. Only the IP address is specified, and the IP address is within a GCP project. 2. When you are using Shared VPC and the IP address that you provide is from the service project. In this case, the network that the IP address resides in is defined in the host project.",
          "type": "string"
        }
      }
    },
    "CloudFunctionEndpoint": {
      "id": "CloudFunctionEndpoint",
      "description": "Wrapper for Cloud Function attributes.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "A [Cloud Function](https:\/\/cloud.google.com\/functions) name.",
          "type": "string"
        }
      }
    },
    "AppEngineVersionEndpoint": {
      "id": "AppEngineVersionEndpoint",
      "description": "Wrapper for app engine service version attributes.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "An [App Engine](https:\/\/cloud.google.com\/appengine) [service version](https:\/\/cloud.google.com\/appengine\/docs\/admin-api\/reference\/rest\/v1\/apps.services.versions) name.",
          "type": "string"
        }
      }
    },
    "CloudRunRevisionEndpoint": {
      "id": "CloudRunRevisionEndpoint",
      "description": "Wrapper for Cloud Run revision attributes.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "A [Cloud Run](https:\/\/cloud.google.com\/run) [revision](https:\/\/cloud.google.com\/run\/docs\/reference\/rest\/v1\/namespaces.revisions\/get) URI. The format is: projects\/{project}\/locations\/{location}\/revisions\/{revision}",
          "type": "string"
        }
      }
    },
    "ReachabilityDetails": {
      "id": "ReachabilityDetails",
      "description": "Results of the configuration analysis from the last run of the test.",
      "type": "object",
      "properties": {
        "result": {
          "description": "The overall result of the test's configuration analysis.",
          "type": "string",
          "enumDescriptions": [
            "No result was specified.",
            "Possible scenarios are: * The configuration analysis determined that a packet originating from the source is expected to reach the destination. * The analysis didn't complete because the user lacks permission for some of the resources in the trace. However, at the time the user's permission became insufficient, the trace had been successful so far.",
            "A packet originating from the source is expected to be dropped before reaching the destination.",
            "The source and destination endpoints do not uniquely identify the test location in the network, and the reachability result contains multiple traces. For some traces, a packet could be delivered, and for others, it would not be.",
            "The configuration analysis did not complete. Possible reasons are: * A permissions error occurred--for example, the user might not have read permission for all of the resources named in the test. * An internal error occurred. * The analyzer received an invalid or unsupported argument or was unable to identify a known endpoint."
          ],
          "enum": [
            "RESULT_UNSPECIFIED",
            "REACHABLE",
            "UNREACHABLE",
            "AMBIGUOUS",
            "UNDETERMINED"
          ]
        },
        "verifyTime": {
          "description": "The time of the configuration analysis.",
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "description": "The details of a failure or a cancellation of reachability analysis.",
          "$ref": "Status"
        },
        "traces": {
          "description": "Result may contain a list of traces if a test has multiple possible paths in the network, such as when destination endpoint is a load balancer with multiple backends.",
          "type": "array",
          "items": {
            "$ref": "Trace"
          }
        }
      }
    },
    "Trace": {
      "id": "Trace",
      "description": "Trace represents one simulated packet forwarding path. * Each trace contains multiple ordered steps. * Each step is in a particular state with associated configuration. * State is categorized as final or non-final states. * Each final state has a reason associated. * Each trace must end with a final state (the last step). ``` |---------------------Trace----------------------| Step1(State) Step2(State) --- StepN(State(final)) ```",
      "type": "object",
      "properties": {
        "endpointInfo": {
          "description": "Derived from the source and destination endpoints definition specified by user request, and validated by the data plane model. If there are multiple traces starting from different source locations, then the endpoint_info may be different between traces.",
          "$ref": "EndpointInfo"
        },
        "steps": {
          "description": "A trace of a test contains multiple steps from the initial state to the final state (delivered, dropped, forwarded, or aborted). The steps are ordered by the processing sequence within the simulated network state machine. It is critical to preserve the order of the steps and avoid reordering or sorting them.",
          "type": "array",
          "items": {
            "$ref": "Step"
          }
        }
      }
    },
    "EndpointInfo": {
      "id": "EndpointInfo",
      "description": "For display only. The specification of the endpoints for the test. EndpointInfo is derived from source and destination Endpoint and validated by the backend data plane model.",
      "type": "object",
      "properties": {
        "sourceIp": {
          "description": "Source IP address.",
          "type": "string"
        },
        "destinationIp": {
          "description": "Destination IP address.",
          "type": "string"
        },
        "protocol": {
          "description": "IP protocol in string format, for example: \"TCP\", \"UDP\", \"ICMP\".",
          "type": "string"
        },
        "sourcePort": {
          "description": "Source port. Only valid when protocol is TCP or UDP.",
          "type": "integer",
          "format": "int32"
        },
        "destinationPort": {
          "description": "Destination port. Only valid when protocol is TCP or UDP.",
          "type": "integer",
          "format": "int32"
        },
        "sourceNetworkUri": {
          "description": "URI of the network where this packet originates from.",
          "type": "string"
        },
        "destinationNetworkUri": {
          "description": "URI of the network where this packet is sent to.",
          "type": "string"
        },
        "sourceAgentUri": {
          "description": "URI of the source telemetry agent this packet originates from.",
          "type": "string"
        }
      }
    },
    "Step": {
      "id": "Step",
      "description": "A simulated forwarding path is composed of multiple steps. Each step has a well-defined state and an associated configuration.",
      "type": "object",
      "properties": {
        "description": {
          "description": "A description of the step. Usually this is a summary of the state.",
          "type": "string"
        },
        "state": {
          "description": "Each step is in one of the pre-defined states.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Initial state: packet originating from a Compute Engine instance. An InstanceInfo is populated with starting instance information.",
            "Initial state: packet originating from the internet. The endpoint information is populated.",
            "Initial state: packet originating from a VPC or on-premises network with internal source IP. If the source is a VPC network visible to the user, a NetworkInfo is populated with details of the network.",
            "Initial state: packet originating from a Google Kubernetes Engine cluster master. A GKEMasterInfo is populated with starting instance information.",
            "Initial state: packet originating from a Cloud SQL instance. A CloudSQLInstanceInfo is populated with starting instance information.",
            "Initial state: packet originating from a Cloud Function. A CloudFunctionInfo is populated with starting function information.",
            "Initial state: packet originating from an App Engine service version. An AppEngineVersionInfo is populated with starting version information.",
            "Initial state: packet originating from a Cloud Run revision. A CloudRunRevisionInfo is populated with starting revision information.",
            "Config checking state: verify ingress firewall rule.",
            "Config checking state: verify egress firewall rule.",
            "Config checking state: verify route.",
            "Config checking state: match forwarding rule.",
            "Config checking state: packet sent or received under foreign IP address and allowed.",
            "Forwarding state: arriving at a Compute Engine instance.",
            "Forwarding state: arriving at a Compute Engine internal load balancer.",
            "Forwarding state: arriving at a Compute Engine external load balancer.",
            "Forwarding state: arriving at a Cloud VPN gateway.",
            "Forwarding state: arriving at a Cloud VPN tunnel.",
            "Forwarding state: arriving at a VPC connector.",
            "Transition state: packet header translated.",
            "Transition state: original connection is terminated and a new proxied connection is initiated.",
            "Final state: packet could be delivered.",
            "Final state: packet could be dropped.",
            "Final state: packet could be forwarded to a network with an unknown configuration.",
            "Final state: analysis is aborted.",
            "Special state: viewer of the test result does not have permission to see the configuration in this step."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "START_FROM_INSTANCE",
            "START_FROM_INTERNET",
            "START_FROM_PRIVATE_NETWORK",
            "START_FROM_GKE_MASTER",
            "START_FROM_CLOUD_SQL_INSTANCE",
            "START_FROM_CLOUD_FUNCTION",
            "START_FROM_APP_ENGINE_VERSION",
            "START_FROM_CLOUD_RUN_REVISION",
            "APPLY_INGRESS_FIREWALL_RULE",
            "APPLY_EGRESS_FIREWALL_RULE",
            "APPLY_ROUTE",
            "APPLY_FORWARDING_RULE",
            "SPOOFING_APPROVED",
            "ARRIVE_AT_INSTANCE",
            "ARRIVE_AT_INTERNAL_LOAD_BALANCER",
            "ARRIVE_AT_EXTERNAL_LOAD_BALANCER",
            "ARRIVE_AT_VPN_GATEWAY",
            "ARRIVE_AT_VPN_TUNNEL",
            "ARRIVE_AT_VPC_CONNECTOR",
            "NAT",
            "PROXY_CONNECTION",
            "DELIVER",
            "DROP",
            "FORWARD",
            "ABORT",
            "VIEWER_PERMISSION_MISSING"
          ]
        },
        "causesDrop": {
          "description": "This is a step that leads to the final state Drop.",
          "type": "boolean"
        },
        "projectId": {
          "description": "Project ID that contains the configuration this step is validating.",
          "type": "string"
        },
        "instance": {
          "description": "Display information of a Compute Engine instance.",
          "$ref": "InstanceInfo"
        },
        "firewall": {
          "description": "Display information of a Compute Engine firewall rule.",
          "$ref": "FirewallInfo"
        },
        "route": {
          "description": "Display information of a Compute Engine route.",
          "$ref": "RouteInfo"
        },
        "endpoint": {
          "description": "Display information of the source and destination under analysis. The endpoint information in an intermediate state may differ with the initial input, as it might be modified by state like NAT, or Connection Proxy.",
          "$ref": "EndpointInfo"
        },
        "forwardingRule": {
          "description": "Display information of a Compute Engine forwarding rule.",
          "$ref": "ForwardingRuleInfo"
        },
        "vpnGateway": {
          "description": "Display information of a Compute Engine VPN gateway.",
          "$ref": "VpnGatewayInfo"
        },
        "vpnTunnel": {
          "description": "Display information of a Compute Engine VPN tunnel.",
          "$ref": "VpnTunnelInfo"
        },
        "vpcConnector": {
          "description": "Display information of a VPC connector.",
          "$ref": "VpcConnectorInfo"
        },
        "deliver": {
          "description": "Display information of the final state \"deliver\" and reason.",
          "$ref": "DeliverInfo"
        },
        "forward": {
          "description": "Display information of the final state \"forward\" and reason.",
          "$ref": "ForwardInfo"
        },
        "abort": {
          "description": "Display information of the final state \"abort\" and reason.",
          "$ref": "AbortInfo"
        },
        "drop": {
          "description": "Display information of the final state \"drop\" and reason.",
          "$ref": "DropInfo"
        },
        "loadBalancer": {
          "description": "Display information of the load balancers.",
          "$ref": "LoadBalancerInfo"
        },
        "network": {
          "description": "Display information of a Google Cloud network.",
          "$ref": "NetworkInfo"
        },
        "gkeMaster": {
          "description": "Display information of a Google Kubernetes Engine cluster master.",
          "$ref": "GKEMasterInfo"
        },
        "cloudSqlInstance": {
          "description": "Display information of a Cloud SQL instance.",
          "$ref": "CloudSQLInstanceInfo"
        },
        "cloudFunction": {
          "description": "Display information of a Cloud Function.",
          "$ref": "CloudFunctionInfo"
        },
        "appEngineVersion": {
          "description": "Display information of an App Engine service version.",
          "$ref": "AppEngineVersionInfo"
        },
        "cloudRunRevision": {
          "description": "Display information of a Cloud Run revision.",
          "$ref": "CloudRunRevisionInfo"
        }
      }
    },
    "InstanceInfo": {
      "id": "InstanceInfo",
      "description": "For display only. Metadata associated with a Compute Engine instance.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of a Compute Engine instance.",
          "type": "string"
        },
        "uri": {
          "description": "URI of a Compute Engine instance.",
          "type": "string"
        },
        "interface": {
          "description": "Name of the network interface of a Compute Engine instance.",
          "type": "string"
        },
        "networkUri": {
          "description": "URI of a Compute Engine network.",
          "type": "string"
        },
        "internalIp": {
          "description": "Internal IP address of the network interface.",
          "type": "string"
        },
        "externalIp": {
          "description": "External IP address of the network interface.",
          "type": "string"
        },
        "networkTags": {
          "description": "Network tags configured on the instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "Service account authorized for the instance.",
          "type": "string"
        }
      }
    },
    "FirewallInfo": {
      "id": "FirewallInfo",
      "description": "For display only. Metadata associated with a VPC firewall rule, an implied VPC firewall rule, or a hierarchical firewall policy rule.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the VPC firewall rule. This field is not applicable to hierarchical firewall policy rules.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the VPC firewall rule. This field is not applicable to implied firewall rules or hierarchical firewall policy rules.",
          "type": "string"
        },
        "direction": {
          "description": "Possible values: INGRESS, EGRESS",
          "type": "string"
        },
        "action": {
          "description": "Possible values: ALLOW, DENY",
          "type": "string"
        },
        "priority": {
          "description": "The priority of the firewall rule.",
          "type": "integer",
          "format": "int32"
        },
        "networkUri": {
          "description": "The URI of the VPC network that the firewall rule is associated with. This field is not applicable to hierarchical firewall policy rules.",
          "type": "string"
        },
        "targetTags": {
          "description": "The target tags defined by the VPC firewall rule. This field is not applicable to hierarchical firewall policy rules.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetServiceAccounts": {
          "description": "The target service accounts specified by the firewall rule.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policy": {
          "description": "The hierarchical firewall policy that this rule is associated with. This field is not applicable to VPC firewall rules.",
          "type": "string"
        },
        "firewallRuleType": {
          "description": "The firewall rule's type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Hierarchical firewall policy rule. For details, see [Hierarchical firewall policies overview](https:\/\/cloud.google.com\/vpc\/docs\/firewall-policies).",
            "VPC firewall rule. For details, see [VPC firewall rules overview](https:\/\/cloud.google.com\/vpc\/docs\/firewalls).",
            "Implied VPC firewall rule. For details, see [Implied rules](https:\/\/cloud.google.com\/vpc\/docs\/firewalls#default_firewall_rules).",
            "Implicit firewall rules that are managed by serverless VPC access to allow ingress access. They are not visible in the Google Cloud console. For details, see [VPC connector's implicit rules](https:\/\/cloud.google.com\/functions\/docs\/networking\/connecting-vpc#restrict-access).",
            "Global network firewall policy rule. For details, see [Network firewall policies](https:\/\/cloud.google.com\/vpc\/docs\/network-firewall-policies)."
          ],
          "enum": [
            "FIREWALL_RULE_TYPE_UNSPECIFIED",
            "HIERARCHICAL_FIREWALL_POLICY_RULE",
            "VPC_FIREWALL_RULE",
            "IMPLIED_VPC_FIREWALL_RULE",
            "SERVERLESS_VPC_ACCESS_MANAGED_FIREWALL_RULE",
            "NETWORK_FIREWALL_POLICY_RULE"
          ]
        }
      }
    },
    "RouteInfo": {
      "id": "RouteInfo",
      "description": "For display only. Metadata associated with a Compute Engine route.",
      "type": "object",
      "properties": {
        "routeType": {
          "description": "Type of route.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type. Default value.",
            "Route is a subnet route automatically created by the system.",
            "Static route created by the user, including the default route to the internet.",
            "Dynamic route exchanged between BGP peers.",
            "A subnet route received from peering network.",
            "A static route received from peering network.",
            "A dynamic route received from peering network.",
            "Policy based route."
          ],
          "enum": [
            "ROUTE_TYPE_UNSPECIFIED",
            "SUBNET",
            "STATIC",
            "DYNAMIC",
            "PEERING_SUBNET",
            "PEERING_STATIC",
            "PEERING_DYNAMIC",
            "POLICY_BASED"
          ]
        },
        "nextHopType": {
          "description": "Type of next hop.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type. Default value.",
            "Next hop is an IP address.",
            "Next hop is a Compute Engine instance.",
            "Next hop is a VPC network gateway.",
            "Next hop is a peering VPC.",
            "Next hop is an interconnect.",
            "Next hop is a VPN tunnel.",
            "Next hop is a VPN gateway. This scenario only happens when tracing connectivity from an on-premises network to Google Cloud through a VPN. The analysis simulates a packet departing from the on-premises network through a VPN tunnel and arriving at a Cloud VPN gateway.",
            "Next hop is an internet gateway.",
            "Next hop is blackhole; that is, the next hop either does not exist or is not running.",
            "Next hop is the forwarding rule of an Internal Load Balancer.",
            "Next hop is a [router appliance instance](https:\/\/cloud.google.com\/network-connectivity\/docs\/network-connectivity-center\/concepts\/ra-overview)."
          ],
          "enum": [
            "NEXT_HOP_TYPE_UNSPECIFIED",
            "NEXT_HOP_IP",
            "NEXT_HOP_INSTANCE",
            "NEXT_HOP_NETWORK",
            "NEXT_HOP_PEERING",
            "NEXT_HOP_INTERCONNECT",
            "NEXT_HOP_VPN_TUNNEL",
            "NEXT_HOP_VPN_GATEWAY",
            "NEXT_HOP_INTERNET_GATEWAY",
            "NEXT_HOP_BLACKHOLE",
            "NEXT_HOP_ILB",
            "NEXT_HOP_ROUTER_APPLIANCE"
          ]
        },
        "displayName": {
          "description": "Name of a Compute Engine route.",
          "type": "string"
        },
        "uri": {
          "description": "URI of a Compute Engine route. Dynamic route from cloud router does not have a URI. Advertised route from Google Cloud VPC to on-premises network also does not have a URI.",
          "type": "string"
        },
        "destIpRange": {
          "description": "Destination IP range of the route.",
          "type": "string"
        },
        "nextHop": {
          "description": "Next hop of the route.",
          "type": "string"
        },
        "networkUri": {
          "description": "URI of a Compute Engine network.",
          "type": "string"
        },
        "priority": {
          "description": "Priority of the route.",
          "type": "integer",
          "format": "int32"
        },
        "instanceTags": {
          "description": "Instance tags of the route.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "srcIpRange": {
          "description": "Source IP address range of the route. Policy based routes only.",
          "type": "string"
        },
        "destPortRanges": {
          "description": "Destination port ranges of the route. Policy based routes only.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "srcPortRanges": {
          "description": "Source port ranges of the route. Policy based routes only.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "protocols": {
          "description": "Protocols of the route. Policy based routes only.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ForwardingRuleInfo": {
      "id": "ForwardingRuleInfo",
      "description": "For display only. Metadata associated with a Compute Engine forwarding rule.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of a Compute Engine forwarding rule.",
          "type": "string"
        },
        "uri": {
          "description": "URI of a Compute Engine forwarding rule.",
          "type": "string"
        },
        "matchedProtocol": {
          "description": "Protocol defined in the forwarding rule that matches the test.",
          "type": "string"
        },
        "matchedPortRange": {
          "description": "Port range defined in the forwarding rule that matches the test.",
          "type": "string"
        },
        "vip": {
          "description": "VIP of the forwarding rule.",
          "type": "string"
        },
        "target": {
          "description": "Target type of the forwarding rule.",
          "type": "string"
        },
        "networkUri": {
          "description": "Network URI. Only valid for Internal Load Balancer.",
          "type": "string"
        }
      }
    },
    "VpnGatewayInfo": {
      "id": "VpnGatewayInfo",
      "description": "For display only. Metadata associated with a Compute Engine VPN gateway.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of a VPN gateway.",
          "type": "string"
        },
        "uri": {
          "description": "URI of a VPN gateway.",
          "type": "string"
        },
        "networkUri": {
          "description": "URI of a Compute Engine network where the VPN gateway is configured.",
          "type": "string"
        },
        "ipAddress": {
          "description": "IP address of the VPN gateway.",
          "type": "string"
        },
        "vpnTunnelUri": {
          "description": "A VPN tunnel that is associated with this VPN gateway. There may be multiple VPN tunnels configured on a VPN gateway, and only the one relevant to the test is displayed.",
          "type": "string"
        },
        "region": {
          "description": "Name of a Google Cloud region where this VPN gateway is configured.",
          "type": "string"
        }
      }
    },
    "VpnTunnelInfo": {
      "id": "VpnTunnelInfo",
      "description": "For display only. Metadata associated with a Compute Engine VPN tunnel.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of a VPN tunnel.",
          "type": "string"
        },
        "uri": {
          "description": "URI of a VPN tunnel.",
          "type": "string"
        },
        "sourceGateway": {
          "description": "URI of the VPN gateway at local end of the tunnel.",
          "type": "string"
        },
        "remoteGateway": {
          "description": "URI of a VPN gateway at remote end of the tunnel.",
          "type": "string"
        },
        "remoteGatewayIp": {
          "description": "Remote VPN gateway's IP address.",
          "type": "string"
        },
        "sourceGatewayIp": {
          "description": "Local VPN gateway's IP address.",
          "type": "string"
        },
        "networkUri": {
          "description": "URI of a Compute Engine network where the VPN tunnel is configured.",
          "type": "string"
        },
        "region": {
          "description": "Name of a Google Cloud region where this VPN tunnel is configured.",
          "type": "string"
        },
        "routingType": {
          "description": "Type of the routing policy.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type. Default value.",
            "Route based VPN.",
            "Policy based routing.",
            "Dynamic (BGP) routing."
          ],
          "enum": [
            "ROUTING_TYPE_UNSPECIFIED",
            "ROUTE_BASED",
            "POLICY_BASED",
            "DYNAMIC"
          ]
        }
      }
    },
    "VpcConnectorInfo": {
      "id": "VpcConnectorInfo",
      "description": "For display only. Metadata associated with a VPC connector.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of a VPC connector.",
          "type": "string"
        },
        "uri": {
          "description": "URI of a VPC connector.",
          "type": "string"
        },
        "location": {
          "description": "Location in which the VPC connector is deployed.",
          "type": "string"
        }
      }
    },
    "DeliverInfo": {
      "id": "DeliverInfo",
      "description": "Details of the final state \"deliver\" and associated resource.",
      "type": "object",
      "properties": {
        "target": {
          "description": "Target type where the packet is delivered to.",
          "type": "string",
          "enumDescriptions": [
            "Target not specified.",
            "Target is a Compute Engine instance.",
            "Target is the internet.",
            "Target is a Google API.",
            "Target is a Google Kubernetes Engine cluster master.",
            "Target is a Cloud SQL instance.",
            "Target is a published service that uses [Private Service Connect](https:\/\/cloud.google.com\/vpc\/docs\/configure-private-service-connect-services).",
            "Target is all Google APIs that use [Private Service Connect](https:\/\/cloud.google.com\/vpc\/docs\/configure-private-service-connect-apis).",
            "Target is a VPC-SC that uses [Private Service Connect](https:\/\/cloud.google.com\/vpc\/docs\/configure-private-service-connect-apis).",
            "Target is a serverless network endpoint group."
          ],
          "enum": [
            "TARGET_UNSPECIFIED",
            "INSTANCE",
            "INTERNET",
            "GOOGLE_API",
            "GKE_MASTER",
            "CLOUD_SQL_INSTANCE",
            "PSC_PUBLISHED_SERVICE",
            "PSC_GOOGLE_API",
            "PSC_VPC_SC",
            "SERVERLESS_NEG"
          ]
        },
        "resourceUri": {
          "description": "URI of the resource that the packet is delivered to.",
          "type": "string"
        }
      }
    },
    "ForwardInfo": {
      "id": "ForwardInfo",
      "description": "Details of the final state \"forward\" and associated resource.",
      "type": "object",
      "properties": {
        "target": {
          "description": "Target type where this packet is forwarded to.",
          "type": "string",
          "enumDescriptions": [
            "Target not specified.",
            "Forwarded to a VPC peering network.",
            "Forwarded to a Cloud VPN gateway.",
            "Forwarded to a Cloud Interconnect connection.",
            "Forwarded to a Google Kubernetes Engine Container cluster master.",
            "Forwarded to the next hop of a custom route imported from a peering VPC.",
            "Forwarded to a Cloud SQL instance.",
            "Forwarded to a VPC network in another project."
          ],
          "enum": [
            "TARGET_UNSPECIFIED",
            "PEERING_VPC",
            "VPN_GATEWAY",
            "INTERCONNECT",
            "GKE_MASTER",
            "IMPORTED_CUSTOM_ROUTE_NEXT_HOP",
            "CLOUD_SQL_INSTANCE",
            "ANOTHER_PROJECT"
          ]
        },
        "resourceUri": {
          "description": "URI of the resource that the packet is forwarded to.",
          "type": "string"
        }
      }
    },
    "AbortInfo": {
      "id": "AbortInfo",
      "description": "Details of the final state \"abort\" and associated resource.",
      "type": "object",
      "properties": {
        "cause": {
          "description": "Causes that the analysis is aborted.",
          "type": "string",
          "enumDescriptions": [
            "Cause is unspecified.",
            "Aborted due to unknown network. The reachability analysis cannot proceed because the user does not have access to the host project's network configurations, including firewall rules and routes. This happens when the project is a service project and the endpoints being traced are in the host project's network.",
            "Aborted because the IP address(es) are unknown.",
            "Aborted because no project information can be derived from the test input.",
            "Aborted because the user lacks the permission to access all or part of the network configurations required to run the test.",
            "Aborted because no valid source endpoint is derived from the input test request.",
            "Aborted because the source and\/or destination endpoint specified in the test are invalid. The possible reasons that an endpoint is invalid include: malformed IP address; nonexistent instance or network URI; IP address not in the range of specified network URI; and instance not owning the network interface in the specified network.",
            "Aborted because traffic is sent from a public IP to an instance without an external IP.",
            "Aborted because none of the traces matches destination information specified in the input test request.",
            "Aborted because the number of steps in the trace exceeding a certain limit which may be caused by routing loop.",
            "Aborted due to internal server error.",
            "Aborted because the source endpoint could not be found.",
            "Aborted because the source network does not match the source endpoint.",
            "Aborted because the destination endpoint could not be found.",
            "Aborted because the destination network does not match the destination endpoint.",
            "Aborted because the test scenario is not supported.",
            "Aborted because the source and destination resources have no common IP version.",
            "Aborted because the connection between the control plane and the node of the source cluster is initiated by the node and managed by the Konnectivity proxy."
          ],
          "enum": [
            "CAUSE_UNSPECIFIED",
            "UNKNOWN_NETWORK",
            "UNKNOWN_IP",
            "UNKNOWN_PROJECT",
            "PERMISSION_DENIED",
            "NO_SOURCE_LOCATION",
            "INVALID_ARGUMENT",
            "NO_EXTERNAL_IP",
            "UNINTENDED_DESTINATION",
            "TRACE_TOO_LONG",
            "INTERNAL_ERROR",
            "SOURCE_ENDPOINT_NOT_FOUND",
            "MISMATCHED_SOURCE_NETWORK",
            "DESTINATION_ENDPOINT_NOT_FOUND",
            "MISMATCHED_DESTINATION_NETWORK",
            "UNSUPPORTED",
            "MISMATCHED_IP_VERSION",
            "GKE_KONNECTIVITY_PROXY_UNSUPPORTED"
          ]
        },
        "resourceUri": {
          "description": "URI of the resource that caused the abort.",
          "type": "string"
        },
        "projectsMissingPermission": {
          "description": "List of project IDs that the user has specified in the request but does not have permission to access network configs. Analysis is aborted in this case with the PERMISSION_DENIED cause.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DropInfo": {
      "id": "DropInfo",
      "description": "Details of the final state \"drop\" and associated resource.",
      "type": "object",
      "properties": {
        "cause": {
          "description": "Cause that the packet is dropped.",
          "type": "string",
          "enumDescriptions": [
            "Cause is unspecified.",
            "Destination external address cannot be resolved to a known target. If the address is used in a Google Cloud project, provide the project ID as test input.",
            "A Compute Engine instance can only send or receive a packet with a foreign IP address if ip_forward is enabled.",
            "Dropped due to a firewall rule, unless allowed due to connection tracking.",
            "Dropped due to no routes.",
            "Dropped due to invalid route. Route's next hop is a blackhole.",
            "Packet is sent to a wrong (unintended) network. Example: you trace a packet from VM1:Network1 to VM2:Network2, however, the route configured in Network1 sends the packet destined for VM2's IP addresss to Network3.",
            "Packet with internal destination address sent to the internet gateway.",
            "Instance with only an internal IP address tries to access Google API and services, but private Google access is not enabled.",
            "Instance with only an internal IP address tries to access external hosts, but Cloud NAT is not enabled in the subnet, unless special configurations on a VM allow this connection.",
            "Destination internal address cannot be resolved to a known target. If this is a shared VPC scenario, verify if the service project ID is provided as test input. Otherwise, verify if the IP address is being used in the project.",
            "Forwarding rule's protocol and ports do not match the packet header.",
            "Packet could be dropped because it was sent from a different region to a regional forwarding without global access.",
            "Forwarding rule does not have backends configured.",
            "Firewalls block the health check probes to the backends and cause the backends to be unavailable for traffic from the load balancer. For more details, see [Health check firewall rules](https:\/\/cloud.google.com\/load-balancing\/docs\/health-checks#firewall_rules).",
            "Packet is sent from or to a Compute Engine instance that is not in a running state.",
            "Packet sent from or to a GKE cluster that is not in running state.",
            "Packet sent from or to a Cloud SQL instance that is not in running state.",
            "The type of traffic is blocked and the user cannot configure a firewall rule to enable it. See [Always blocked traffic](https:\/\/cloud.google.com\/vpc\/docs\/firewalls#blockedtraffic) for more details.",
            "Access to Google Kubernetes Engine cluster master's endpoint is not authorized. See [Access to the cluster endpoints](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/how-to\/private-clusters#access_to_the_cluster_endpoints) for more details.",
            "Access to the Cloud SQL instance endpoint is not authorized. See [Authorizing with authorized networks](https:\/\/cloud.google.com\/sql\/docs\/mysql\/authorize-networks) for more details.",
            "Packet was dropped inside Google Kubernetes Engine Service.",
            "Packet was dropped inside Cloud SQL Service.",
            "Packet was dropped because there is no peering between the originating network and the Google Managed Services Network.",
            "Packet was dropped because the GKE cluster uses Private Service Connect (PSC), but the PSC endpoint is not found in the project.",
            "Packet was dropped because the Cloud SQL instance has neither a private nor a public IP address.",
            "Packet was dropped because a GKE cluster private endpoint is unreachable from a region different from the cluster's region.",
            "Packet sent from a public GKE cluster control plane to a private IP address.",
            "Packet was dropped because there is no route from a GKE cluster control plane to a destination network.",
            "Packet sent from a Cloud SQL instance to an external IP address is not allowed. The Cloud SQL instance is not configured to send packets to external IP addresses.",
            "Packet sent from a Cloud SQL instance with only a public IP address to a private IP address.",
            "Packet was dropped because there is no route from a Cloud SQL instance to a destination network.",
            "Packet could be dropped because the Cloud Function is not in an active status.",
            "Packet could be dropped because no VPC connector is set.",
            "Packet could be dropped because the VPC connector is not in a running state.",
            "The Private Service Connect endpoint is in a project that is not approved to connect to the service.",
            "Packet sent from a Cloud Run revision that is not ready.",
            "Packet was dropped inside Private Service Connect service producer."
          ],
          "enum": [
            "CAUSE_UNSPECIFIED",
            "UNKNOWN_EXTERNAL_ADDRESS",
            "FOREIGN_IP_DISALLOWED",
            "FIREWALL_RULE",
            "NO_ROUTE",
            "ROUTE_BLACKHOLE",
            "ROUTE_WRONG_NETWORK",
            "PRIVATE_TRAFFIC_TO_INTERNET",
            "PRIVATE_GOOGLE_ACCESS_DISALLOWED",
            "NO_EXTERNAL_ADDRESS",
            "UNKNOWN_INTERNAL_ADDRESS",
            "FORWARDING_RULE_MISMATCH",
            "FORWARDING_RULE_REGION_MISMATCH",
            "FORWARDING_RULE_NO_INSTANCES",
            "FIREWALL_BLOCKING_LOAD_BALANCER_BACKEND_HEALTH_CHECK",
            "INSTANCE_NOT_RUNNING",
            "GKE_CLUSTER_NOT_RUNNING",
            "CLOUD_SQL_INSTANCE_NOT_RUNNING",
            "TRAFFIC_TYPE_BLOCKED",
            "GKE_MASTER_UNAUTHORIZED_ACCESS",
            "CLOUD_SQL_INSTANCE_UNAUTHORIZED_ACCESS",
            "DROPPED_INSIDE_GKE_SERVICE",
            "DROPPED_INSIDE_CLOUD_SQL_SERVICE",
            "GOOGLE_MANAGED_SERVICE_NO_PEERING",
            "GKE_PSC_ENDPOINT_MISSING",
            "CLOUD_SQL_INSTANCE_NO_IP_ADDRESS",
            "GKE_CONTROL_PLANE_REGION_MISMATCH",
            "PUBLIC_GKE_CONTROL_PLANE_TO_PRIVATE_DESTINATION",
            "GKE_CONTROL_PLANE_NO_ROUTE",
            "CLOUD_SQL_INSTANCE_NOT_CONFIGURED_FOR_EXTERNAL_TRAFFIC",
            "PUBLIC_CLOUD_SQL_INSTANCE_TO_PRIVATE_DESTINATION",
            "CLOUD_SQL_INSTANCE_NO_ROUTE",
            "CLOUD_FUNCTION_NOT_ACTIVE",
            "VPC_CONNECTOR_NOT_SET",
            "VPC_CONNECTOR_NOT_RUNNING",
            "PSC_CONNECTION_NOT_ACCEPTED",
            "CLOUD_RUN_REVISION_NOT_READY",
            "DROPPED_INSIDE_PSC_SERVICE_PRODUCER"
          ]
        },
        "resourceUri": {
          "description": "URI of the resource that caused the drop.",
          "type": "string"
        }
      }
    },
    "LoadBalancerInfo": {
      "id": "LoadBalancerInfo",
      "description": "For display only. Metadata associated with a load balancer.",
      "type": "object",
      "properties": {
        "loadBalancerType": {
          "description": "Type of the load balancer.",
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "Internal TCP\/UDP load balancer.",
            "Network TCP\/UDP load balancer.",
            "HTTP(S) proxy load balancer.",
            "TCP proxy load balancer.",
            "SSL proxy load balancer."
          ],
          "enum": [
            "LOAD_BALANCER_TYPE_UNSPECIFIED",
            "INTERNAL_TCP_UDP",
            "NETWORK_TCP_UDP",
            "HTTP_PROXY",
            "TCP_PROXY",
            "SSL_PROXY"
          ]
        },
        "healthCheckUri": {
          "description": "URI of the health check for the load balancer.",
          "type": "string"
        },
        "backends": {
          "description": "Information for the loadbalancer backends.",
          "type": "array",
          "items": {
            "$ref": "LoadBalancerBackend"
          }
        },
        "backendType": {
          "description": "Type of load balancer's backend configuration.",
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified.",
            "Backend Service as the load balancer's backend.",
            "Target Pool as the load balancer's backend.",
            "Target Instance as the load balancer's backend."
          ],
          "enum": [
            "BACKEND_TYPE_UNSPECIFIED",
            "BACKEND_SERVICE",
            "TARGET_POOL",
            "TARGET_INSTANCE"
          ]
        },
        "backendUri": {
          "description": "Backend configuration URI.",
          "type": "string"
        }
      }
    },
    "LoadBalancerBackend": {
      "id": "LoadBalancerBackend",
      "description": "For display only. Metadata associated with a specific load balancer backend.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of a Compute Engine instance or network endpoint.",
          "type": "string"
        },
        "uri": {
          "description": "URI of a Compute Engine instance or network endpoint.",
          "type": "string"
        },
        "healthCheckFirewallState": {
          "description": "State of the health check firewall configuration.",
          "type": "string",
          "enumDescriptions": [
            "State is unspecified. Default state if not populated.",
            "There are configured firewall rules to allow health check probes to the backend.",
            "There are firewall rules configured to allow partial health check ranges or block all health check ranges. If a health check probe is sent from denied IP ranges, the health check to the backend will fail. Then, the backend will be marked unhealthy and will not receive traffic sent to the load balancer."
          ],
          "enum": [
            "HEALTH_CHECK_FIREWALL_STATE_UNSPECIFIED",
            "CONFIGURED",
            "MISCONFIGURED"
          ]
        },
        "healthCheckAllowingFirewallRules": {
          "description": "A list of firewall rule URIs allowing probes from health check IP ranges.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "healthCheckBlockingFirewallRules": {
          "description": "A list of firewall rule URIs blocking probes from health check IP ranges.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NetworkInfo": {
      "id": "NetworkInfo",
      "description": "For display only. Metadata associated with a Compute Engine network.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of a Compute Engine network.",
          "type": "string"
        },
        "uri": {
          "description": "URI of a Compute Engine network.",
          "type": "string"
        },
        "matchedIpRange": {
          "description": "The IP range that matches the test.",
          "type": "string"
        }
      }
    },
    "GKEMasterInfo": {
      "id": "GKEMasterInfo",
      "description": "For display only. Metadata associated with a Google Kubernetes Engine (GKE) cluster master.",
      "type": "object",
      "properties": {
        "clusterUri": {
          "description": "URI of a GKE cluster.",
          "type": "string"
        },
        "clusterNetworkUri": {
          "description": "URI of a GKE cluster network.",
          "type": "string"
        },
        "internalIp": {
          "description": "Internal IP address of a GKE cluster master.",
          "type": "string"
        },
        "externalIp": {
          "description": "External IP address of a GKE cluster master.",
          "type": "string"
        }
      }
    },
    "CloudSQLInstanceInfo": {
      "id": "CloudSQLInstanceInfo",
      "description": "For display only. Metadata associated with a Cloud SQL instance.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of a Cloud SQL instance.",
          "type": "string"
        },
        "uri": {
          "description": "URI of a Cloud SQL instance.",
          "type": "string"
        },
        "networkUri": {
          "description": "URI of a Cloud SQL instance network or empty string if the instance does not have one.",
          "type": "string"
        },
        "internalIp": {
          "description": "Internal IP address of a Cloud SQL instance.",
          "type": "string"
        },
        "externalIp": {
          "description": "External IP address of a Cloud SQL instance.",
          "type": "string"
        },
        "region": {
          "description": "Region in which the Cloud SQL instance is running.",
          "type": "string"
        }
      }
    },
    "CloudFunctionInfo": {
      "id": "CloudFunctionInfo",
      "description": "For display only. Metadata associated with a Cloud Function.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of a Cloud Function.",
          "type": "string"
        },
        "uri": {
          "description": "URI of a Cloud Function.",
          "type": "string"
        },
        "location": {
          "description": "Location in which the Cloud Function is deployed.",
          "type": "string"
        },
        "versionId": {
          "description": "Latest successfully deployed version id of the Cloud Function.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "AppEngineVersionInfo": {
      "id": "AppEngineVersionInfo",
      "description": "For display only. Metadata associated with an App Engine version.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of an App Engine version.",
          "type": "string"
        },
        "uri": {
          "description": "URI of an App Engine version.",
          "type": "string"
        },
        "runtime": {
          "description": "Runtime of the App Engine version.",
          "type": "string"
        },
        "environment": {
          "description": "App Engine execution environment for a version.",
          "type": "string"
        }
      }
    },
    "CloudRunRevisionInfo": {
      "id": "CloudRunRevisionInfo",
      "description": "For display only. Metadata associated with a Cloud Run revision.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of a Cloud Run revision.",
          "type": "string"
        },
        "uri": {
          "description": "URI of a Cloud Run revision.",
          "type": "string"
        },
        "serviceName": {
          "description": "ID of Cloud Run Service this revision belongs to.",
          "type": "string"
        },
        "location": {
          "description": "Location in which this revision is deployed.",
          "type": "string"
        },
        "serviceUri": {
          "description": "URI of Cloud Run service this revision belongs to.",
          "type": "string"
        }
      }
    },
    "ShadowedFirewallSimulationResult": {
      "id": "ShadowedFirewallSimulationResult",
      "description": "ShadowedFirewallSimulationResult contains results for shadowed firewall analysis from two network configurations, i.e. original and proposed network configurations.",
      "type": "object",
      "properties": {
        "resultsDiffer": {
          "description": "Indicates if the results from running shadowed firewall analysis with the original network configurations and with the proposed network configurations differ.",
          "type": "boolean"
        },
        "firewall": {
          "description": "Relative resource path (i.e. uri) of the firewall rule that is getting shadowed: 'projects\/{project_id}\/{location}\/firewalls\/{firewall_name}'",
          "type": "string"
        },
        "network": {
          "description": "Relative resource path (i.e. uri) of the network in which the shadowed firewall belongs: 'projects\/{project_id}\/{location}\/networks\/{network_name}'",
          "type": "string"
        },
        "baseConfigResults": {
          "description": "Results for simulating shadowed firewall analysis with original network configurations. There can be more than one shadowing relation for a particular shadowing firewall.",
          "type": "array",
          "items": {
            "$ref": "ShadowingInfo"
          }
        },
        "proposedConfigResults": {
          "description": "Results for simulating shadowed firewall analysis with proposed network configurations. There can be more than one shadowing relation for a particular shadowing firewall.",
          "type": "array",
          "items": {
            "$ref": "ShadowingInfo"
          }
        }
      }
    },
    "ShadowingInfo": {
      "id": "ShadowingInfo",
      "description": "ShadowingInfo defines a list of firewalls that are causing shadowing for a particular firewall.",
      "type": "object",
      "properties": {
        "shadowingFirewalls": {
          "description": "Relative resource path (i.e. uri) of the resource that is causing shadowing: 'projects\/{project_id}\/{location}\/firewalls\/{firewall_name}'",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "rules": {
          "description": "If more than one rule is specified, the rules are applied in the following manner: - All matching LOG rules are always applied. - If any DENY\/DENY_WITH_LOG rule matches, permission is denied. Logging will be applied if one or more matching rule requires logging. - Otherwise, if any ALLOW\/ALLOW_WITH_LOG rule matches, permission is granted. Logging will be applied if one or more matching rule requires logging. - Otherwise, if no rule applies, permission is denied.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}\/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/how-to\/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace\/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "$ref": "Expr"
        },
        "bindingId": {
          "type": "string"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ignoreChildExemptions": {
          "type": "boolean"
        }
      }
    },
    "Rule": {
      "id": "Rule",
      "description": "A rule to be applied in a Policy.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Human-readable description of the rule.",
          "type": "string"
        },
        "permissions": {
          "description": "A permission is a string of form '..' (e.g., 'storage.buckets.list'). A value of '*' matches all permissions, and a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "action": {
          "description": "Required",
          "type": "string",
          "enumDescriptions": [
            "Default no action.",
            "Matching 'Entries' grant access.",
            "Matching 'Entries' grant access and the caller promises to log the request per the returned log_configs.",
            "Matching 'Entries' deny access.",
            "Matching 'Entries' deny access and the caller promises to log the request per the returned log_configs.",
            "Matching 'Entries' tell IAM.Check callers to generate logs."
          ],
          "enum": [
            "NO_ACTION",
            "ALLOW",
            "ALLOW_WITH_LOG",
            "DENY",
            "DENY_WITH_LOG",
            "LOG"
          ]
        },
        "in": {
          "description": "If one or more 'in' clauses are specified, the rule matches if the PRINCIPAL\/AUTHORITY_SELECTOR is in at least one of these entries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notIn": {
[...]
