{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "networksecurity:v1alpha1",
  "name": "networksecurity",
  "canonicalName": "NetworkSecurity",
  "version": "v1alpha1",
  "revision": "0",
  "title": "Network Security API",
  "description": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/networking",
  "protocol": "rest",
  "rootUrl": "https://networksecurity.googleapis.com/",
  "mtlsRootUrl": "https://networksecurity.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://networksecurity.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "ListAddressGroupsResponse": {
      "id": "ListAddressGroupsResponse",
      "description": "Response returned by the ListAddressGroups method.",
      "type": "object",
      "properties": {
        "addressGroups": {
          "description": "List of AddressGroups resources.",
          "type": "array",
          "items": {
            "$ref": "AddressGroup"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "AddressGroup": {
      "id": "AddressGroup",
      "description": "AddressGroup is a resource that specifies how a collection of IP\/DNS used in Firewall Policy.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the AddressGroup resource. It matches pattern `projects\/*\/locations\/{location}\/addressGroups\/`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the AddressGroup resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "Required. The type of the Address Group. Possible values are \"IPv4\" or \"IPV6\".",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "IP v4 ranges.",
            "IP v6 ranges."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ]
        },
        "items": {
          "description": "Optional. List of items.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "capacity": {
          "description": "Required. Capacity of the Address Group",
          "type": "integer",
          "format": "int32"
        },
        "selfLink": {
          "description": "Output only. Server-defined fully-qualified URL for this resource.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AddAddressGroupItemsRequest": {
      "id": "AddAddressGroupItemsRequest",
      "description": "Request used by the AddAddressGroupItems method.",
      "type": "object",
      "properties": {
        "items": {
          "description": "Required. List of items to add.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "RemoveAddressGroupItemsRequest": {
      "id": "RemoveAddressGroupItemsRequest",
      "description": "Request used by the RemoveAddressGroupItems method.",
      "type": "object",
      "properties": {
        "items": {
          "description": "Required. List of items to remove.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "CloneAddressGroupItemsRequest": {
      "id": "CloneAddressGroupItemsRequest",
      "description": "Request used by the CloneAddressGroupItems method.",
      "type": "object",
      "properties": {
        "sourceAddressGroup": {
          "description": "Required. Source address group to clone items from.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "ListAddressGroupReferencesResponse": {
      "id": "ListAddressGroupReferencesResponse",
      "description": "Response of the ListAddressGroupReferences method.",
      "type": "object",
      "properties": {
        "addressGroupReferences": {
          "description": "A list of references that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "ListAddressGroupReferencesResponseAddressGroupReference"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "ListAddressGroupReferencesResponseAddressGroupReference": {
      "id": "ListAddressGroupReferencesResponseAddressGroupReference",
      "description": "The Reference of AddressGroup.",
      "type": "object",
      "properties": {
        "firewallPolicy": {
          "description": "FirewallPolicy that is using the Address Group.",
          "type": "string"
        },
        "rulePriority": {
          "description": "Rule priority of the FirewallPolicy that is using the Address Group.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListFirewallEndpointsResponse": {
      "id": "ListFirewallEndpointsResponse",
      "description": "Message for response to listing Endpoints",
      "type": "object",
      "properties": {
        "firewallEndpoints": {
          "description": "The list of Endpoint",
          "type": "array",
          "items": {
            "$ref": "FirewallEndpoint"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FirewallEndpoint": {
      "id": "FirewallEndpoint",
      "description": "Message describing Endpoint object",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. name of resource",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. [Output only] Current state of the endpoint.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Processing configuration updates.",
            "Being deleted.",
            "Down or in an error state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ]
        },
        "reconciling": {
          "description": "Output only. Whether reconciling is in progress, recommended per https:\/\/google.aip.dev\/128.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "ListFirewallEndpointAssociationsResponse": {
      "id": "ListFirewallEndpointAssociationsResponse",
      "description": "Message for response to listing Associations",
      "type": "object",
      "properties": {
        "firewallEndpointAssociations": {
          "description": "The list of Association",
          "type": "array",
          "items": {
            "$ref": "FirewallEndpointAssociation"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FirewallEndpointAssociation": {
      "id": "FirewallEndpointAssociation",
      "description": "Message describing Association object",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. name of resource",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. [Output only] Current state of the association.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Active and ready for traffic.",
            "Being deleted.",
            "Down or in an error state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ]
        },
        "network": {
          "description": "Required. The URL of the network that is being associated.",
          "type": "string"
        },
        "firewallEndpoint": {
          "description": "Required. The URL of the FirewallEndpoint that is being associated.",
          "type": "string"
        }
      }
    },
    "ListAuthorizationPoliciesResponse": {
      "id": "ListAuthorizationPoliciesResponse",
      "description": "Response returned by the ListAuthorizationPolicies method.",
      "type": "object",
      "properties": {
        "authorizationPolicies": {
          "description": "List of AuthorizationPolicies resources.",
          "type": "array",
          "items": {
            "$ref": "AuthorizationPolicy"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "AuthorizationPolicy": {
      "id": "AuthorizationPolicy",
      "description": "AuthorizationPolicy is a resource that specifies how a server should authorize incoming connections. This resource in itself does not change the configuration unless it's attached to a target https proxy or endpoint config selector resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the AuthorizationPolicy resource. It matches pattern `projects\/{project}\/locations\/{location}\/authorizationPolicies\/`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the AuthorizationPolicy resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "action": {
          "description": "Required. The action to take when a rule match is found. Possible values are \"ALLOW\" or \"DENY\".",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Grant access.",
            "Deny access. Deny rules should be avoided unless they are used to provide a default \"deny all\" fallback."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "rules": {
          "description": "Optional. List of rules to match. Note that at least one of the rules must match in order for the action specified in the 'action' field to be taken. A rule is a match if there is a matching source and destination. If left blank, the action specified in the `action` field will be applied on every request.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        }
      }
    },
    "Rule": {
      "id": "Rule",
      "description": "Specification of rules.",
      "type": "object",
      "properties": {
        "sources": {
          "description": "Optional. List of attributes for the traffic source. All of the sources must match. A source is a match if both principals and ip_blocks match. If not set, the action specified in the 'action' field will be applied without any rule checks for the source.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "destinations": {
          "description": "Optional. List of attributes for the traffic destination. All of the destinations must match. A destination is a match if a request matches all the specified hosts, ports, methods and headers. If not set, the action specified in the 'action' field will be applied without any rule checks for the destination.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        }
      }
    },
    "Source": {
      "id": "Source",
      "description": "Specification of traffic source attributes.",
      "type": "object",
      "properties": {
        "principals": {
          "description": "Optional. List of peer identities to match for authorization. At least one principal should match. Each peer can be an exact match, or a prefix match (example, \"namespace\/*\") or a suffix match (example, \"*\/service-account\") or a presence match \"*\". Authorization based on the principal name without certificate validation (configured by ServerTlsPolicy resource) is considered insecure.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipBlocks": {
          "description": "Optional. List of CIDR ranges to match based on source IP address. At least one IP block should match. Single IP (e.g., \"1.2.3.4\") and CIDR (e.g., \"1.2.3.0\/24\") are supported. Authorization based on source IP alone should be avoided. The IP addresses of any load balancers or proxies should be considered untrusted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Destination": {
      "id": "Destination",
      "description": "Specification of traffic destination attributes.",
      "type": "object",
      "properties": {
        "hosts": {
          "description": "Required. List of host names to match. Matched against the \":authority\" header in http requests. At least one host should match. Each host can be an exact match, or a prefix match (example \"mydomain.*\") or a suffix match (example \"*.myorg.com\") or a presence (any) match \"*\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ports": {
          "description": "Required. List of destination ports to match. At least one port should match.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          }
        },
        "methods": {
          "description": "Optional. A list of HTTP methods to match. At least one method should match. Should not be set for gRPC services.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "httpHeaderMatch": {
          "description": "Optional. Match against key:value pair in http header. Provides a flexible match based on HTTP headers, for potentially advanced use cases. At least one header should match. Avoid using header matches to make authorization decisions unless there is a strong guarantee that requests arrive through a trusted client or proxy.",
          "$ref": "HttpHeaderMatch"
        }
      }
    },
    "HttpHeaderMatch": {
      "id": "HttpHeaderMatch",
      "description": "Specification of HTTP header match attributes.",
      "type": "object",
      "properties": {
        "regexMatch": {
          "description": "Required. The value of the header must match the regular expression specified in regexMatch. For regular expression grammar, please see: en.cppreference.com\/w\/cpp\/regex\/ecmascript For matching against a port specified in the HTTP request, use a headerMatch with headerName set to Host and a regular expression that satisfies the RFC2616 Host header's port specifier.",
          "type": "string"
        },
        "headerName": {
          "description": "Required. The name of the HTTP header to match. For matching against the HTTP request's authority, use a headerMatch with the header name \":authority\". For matching a request's method, use the headerName \":method\".",
          "type": "string"
        }
      }
    },
    "ListServerTlsPoliciesResponse": {
      "id": "ListServerTlsPoliciesResponse",
      "description": "Response returned by the ListServerTlsPolicies method.",
      "type": "object",
      "properties": {
        "serverTlsPolicies": {
          "description": "List of ServerTlsPolicy resources.",
          "type": "array",
          "items": {
            "$ref": "ServerTlsPolicy"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "ServerTlsPolicy": {
      "id": "ServerTlsPolicy",
      "description": "ServerTlsPolicy is a resource that specifies how a server should authenticate incoming requests. This resource itself does not affect configuration unless it is attached to a target HTTPS proxy or endpoint config selector resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the ServerTlsPolicy resource. It matches the pattern `projects\/*\/locations\/{location}\/serverTlsPolicies\/{server_tls_policy}`",
          "type": "string"
        },
        "description": {
          "description": "Free-text description of the resource.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Set of label tags associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "allowOpen": {
          "description": " Determines if server allows plaintext connections. If set to true, server allows plain text connections. By default, it is set to false. This setting is not exclusive of other encryption modes. For example, if `allow_open` and `mtls_policy` are set, server allows both plain text and mTLS connections. See documentation of other encryption modes to confirm compatibility. Consider using it if you wish to upgrade in place your deployment to TLS while having mixed TLS and non-TLS traffic reaching port :80.",
          "type": "boolean"
        },
        "serverCertificate": {
          "description": " Defines a mechanism to provision server identity (public and private keys). Cannot be combined with `allow_open` as a permissive mode that allows both plain text and TLS is not supported.",
          "$ref": "GoogleCloudNetworksecurityV1alpha1CertificateProvider"
        },
        "mtlsPolicy": {
          "description": " Defines a mechanism to provision peer validation certificates for peer to peer authentication (Mutual TLS - mTLS). If not specified, client certificate will not be requested. The connection is treated as TLS and not mTLS. If `allow_open` and `mtls_policy` are set, server allows both plain text and mTLS connections.",
          "$ref": "MTLSPolicy"
        }
      }
    },
    "GoogleCloudNetworksecurityV1alpha1CertificateProvider": {
      "id": "GoogleCloudNetworksecurityV1alpha1CertificateProvider",
      "description": "Specification of certificate provider. Defines the mechanism to obtain the certificate and private key for peer to peer authentication.",
      "type": "object",
      "properties": {
        "localFilepath": {
          "description": "Obtain certificates and private key from a locally mounted filesystem path.",
          "$ref": "TlsCertificateFiles"
        },
        "grpcEndpoint": {
          "description": "gRPC specific configuration to access the gRPC server to obtain the cert and private key.",
          "$ref": "GoogleCloudNetworksecurityV1alpha1GrpcEndpoint"
        },
        "certificateProviderInstance": {
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information.",
          "$ref": "CertificateProviderInstance"
        }
      }
    },
    "TlsCertificateFiles": {
      "id": "TlsCertificateFiles",
      "description": "Specification of TLS certificate files.",
      "type": "object",
      "properties": {
        "certificatePath": {
          "description": "Required. The path to the file that has the certificate containing public key.",
          "type": "string"
        },
        "privateKeyPath": {
          "description": "Required. The path to the file that has the private key.",
          "type": "string"
        }
      }
    },
    "GoogleCloudNetworksecurityV1alpha1GrpcEndpoint": {
      "id": "GoogleCloudNetworksecurityV1alpha1GrpcEndpoint",
      "description": "Specification of the GRPC Endpoint.",
      "type": "object",
      "properties": {
        "targetUri": {
          "description": "Required. The target URI of the gRPC endpoint. Only UDS path is supported, and should start with \"unix:\".",
          "type": "string"
        }
      }
    },
    "CertificateProviderInstance": {
      "id": "CertificateProviderInstance",
      "description": "Specification of a TLS certificate provider instance. Workloads may have one or more CertificateProvider instances (plugins) and one of them is enabled and configured by specifying this message. Workloads use the values from this message to locate and load the CertificateProvider instance configuration.",
      "type": "object",
      "properties": {
        "pluginInstance": {
          "description": "Required. Plugin instance name, used to locate and load CertificateProvider instance configuration. Set to \"google_cloud_private_spiffe\" to use Certificate Authority Service certificate provider instance.",
          "type": "string"
        }
      }
    },
    "MTLSPolicy": {
      "id": "MTLSPolicy",
      "description": "Specification of the MTLSPolicy.",
      "type": "object",
      "properties": {
        "clientValidationMode": {
          "description": "Specifies whether client connections proceed when a client presents an invalid certificate or no certificate. Required if the policy is to be used with the External HTTPS LB. For Traffic Director it must be empty.",
          "type": "string",
          "enumDescriptions": [
            "Not allowed.",
            "Allow connection even if certificate chain validation of the client certificate failed or no client certificate was presented. The proof of possession of the private key is always checked if client certificate was presented. This mode requires the backend to implement processing of data extracted from a client certificate to authenticate the peer, or to reject connections if the client certificate fingerprint is missing.",
            "Require a client certificate and allow connection to the backend only if validation of the client certificate passed. If set, requires a reference to non-empty TrustConfig specified in `client_validation_trust_config`."
          ],
          "enum": [
            "CLIENT_VALIDATION_MODE_UNSPECIFIED",
            "ALLOW_INVALID_OR_MISSING_CLIENT_CERT",
            "REJECT_INVALID"
          ]
        },
        "clientValidationCa": {
          "description": " Defines the mechanism to obtain the Certificate Authority certificate to validate the client certificate.",
          "type": "array",
          "items": {
            "$ref": "ValidationCA"
          }
        },
        "clientValidationTrustConfig": {
          "description": "Reference to the TrustConfig from certificatemanager.googleapis.com namespace. If specified, the chain validation will be performed against certificates configured in the given TrustConfig. Allowed only if the policy is to be used with External HTTPS LB.",
          "type": "string"
        }
      }
    },
    "ValidationCA": {
      "id": "ValidationCA",
      "description": "Specification of ValidationCA. Defines the mechanism to obtain the Certificate Authority certificate to validate the peer certificate.",
      "type": "object",
      "properties": {
        "caCertPath": {
          "description": "The path to the file holding the CA certificate to validate the client or server certificate.",
          "type": "string"
        },
        "grpcEndpoint": {
          "description": "gRPC specific configuration to access the gRPC server to obtain the CA certificate.",
          "$ref": "GoogleCloudNetworksecurityV1alpha1GrpcEndpoint"
        },
        "certificateProviderInstance": {
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information.",
          "$ref": "CertificateProviderInstance"
        }
      }
    },
    "ListClientTlsPoliciesResponse": {
      "id": "ListClientTlsPoliciesResponse",
      "description": "Response returned by the ListClientTlsPolicies method.",
      "type": "object",
      "properties": {
        "clientTlsPolicies": {
          "description": "List of ClientTlsPolicy resources.",
          "type": "array",
          "items": {
            "$ref": "ClientTlsPolicy"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "ClientTlsPolicy": {
      "id": "ClientTlsPolicy",
      "description": "ClientTlsPolicy is a resource that specifies how a client should authenticate connections to backends of a service. This resource itself does not affect configuration unless it is attached to a backend service resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the ClientTlsPolicy resource. It matches the pattern `projects\/*\/locations\/{location}\/clientTlsPolicies\/{client_tls_policy}`",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sni": {
          "description": "Optional. Server Name Indication string to present to the server during TLS handshake. E.g: \"secure.example.com\".",
          "type": "string"
        },
        "clientCertificate": {
          "description": "Optional. Defines a mechanism to provision client identity (public and private keys) for peer to peer authentication. The presence of this dictates mTLS.",
          "$ref": "GoogleCloudNetworksecurityV1alpha1CertificateProvider"
        },
        "serverValidationCa": {
          "description": "Optional. Defines the mechanism to obtain the Certificate Authority certificate to validate the server certificate. If empty, client does not validate the server certificate.",
          "type": "array",
          "items": {
            "$ref": "ValidationCA"
          }
        }
      }
    },
    "ListGatewaySecurityPoliciesResponse": {
      "id": "ListGatewaySecurityPoliciesResponse",
      "description": "Response returned by the ListGatewaySecurityPolicies method.",
      "type": "object",
      "properties": {
        "gatewaySecurityPolicies": {
          "description": "List of GatewaySecurityPolicies resources.",
          "type": "array",
          "items": {
            "$ref": "GatewaySecurityPolicy"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        }
      }
    },
    "GatewaySecurityPolicy": {
      "id": "GatewaySecurityPolicy",
      "description": "The GatewaySecurityPolicy resource contains a collection of GatewaySecurityPolicyRules and associated metadata.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the resource. Name is of the form projects\/{project}\/locations\/{location}\/gatewaySecurityPolicies\/{gateway_security_policy} gateway_security_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "tlsInspectionPolicy": {
          "description": "Optional. Name of a TLS Inspection Policy resource that defines how TLS inspection will be performed for any rule(s) which enables it.",
          "type": "string"
        }
      }
    },
    "ListGatewaySecurityPolicyRulesResponse": {
      "id": "ListGatewaySecurityPolicyRulesResponse",
      "description": "Response returned by the ListGatewaySecurityPolicyRules method.",
      "type": "object",
      "properties": {
        "gatewaySecurityPolicyRules": {
          "description": "List of GatewaySecurityPolicyRule resources.",
          "type": "array",
          "items": {
            "$ref": "GatewaySecurityPolicyRule"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        }
      }
    },
    "GatewaySecurityPolicyRule": {
      "id": "GatewaySecurityPolicyRule",
      "description": "The GatewaySecurityPolicyRule resource is in a nested collection within a GatewaySecurityPolicy and represents a traffic matching condition and associated action to perform.",
      "type": "object",
      "properties": {
        "basicProfile": {
          "description": "Required. Profile which tells what the primitive action should be.",
          "type": "string",
          "enumDescriptions": [
            "If there is not a mentioned action for the target.",
            "Allow the matched traffic.",
            "Deny the matched traffic."
          ],
          "enum": [
            "BASIC_PROFILE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "name": {
          "description": "Required. Immutable. Name of the resource. ame is the full resource name so projects\/{project}\/locations\/{location}\/gatewaySecurityPolicies\/{gateway_security_policy}\/rules\/{rule} rule should match the pattern: (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when the rule was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when the rule was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "enabled": {
          "description": "Required. Whether the rule is enforced.",
          "type": "boolean"
        },
        "priority": {
          "description": "Required. Priority of the rule. Lower number corresponds to higher precedence.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "sessionMatcher": {
          "description": "Required. CEL expression for matching on session criteria.",
          "type": "string"
        },
        "applicationMatcher": {
          "description": "Optional. CEL expression for matching on L7\/application level criteria.",
          "type": "string"
        },
        "tlsInspectionEnabled": {
          "description": "Optional. Flag to enable TLS inspection of traffic matching on , can only be true if the parent GatewaySecurityPolicy references a TLSInspectionConfig.",
          "type": "boolean"
        }
      }
    },
    "ListUrlListsResponse": {
      "id": "ListUrlListsResponse",
      "description": "Response returned by the ListUrlLists method.",
      "type": "object",
      "properties": {
        "urlLists": {
          "description": "List of UrlList resources.",
          "type": "array",
          "items": {
            "$ref": "UrlList"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UrlList": {
      "id": "UrlList",
      "description": "UrlList proto helps users to set reusable, independently manageable lists of hosts, host patterns, URLs, URL patterns.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the resource provided by the user. Name is of the form projects\/{project}\/locations\/{location}\/urlLists\/{url_list} url_list should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when the security policy was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when the security policy was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "values": {
          "description": "Required. FQDNs and URLs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListTlsInspectionPoliciesResponse": {
      "id": "ListTlsInspectionPoliciesResponse",
      "description": "Response returned by the ListTlsInspectionPolicies method.",
      "type": "object",
      "properties": {
        "tlsInspectionPolicies": {
          "description": "List of TlsInspectionPolicies resources.",
          "type": "array",
          "items": {
            "$ref": "TlsInspectionPolicy"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'.",
          "type": "string"
        }
      }
    },
    "TlsInspectionPolicy": {
      "id": "TlsInspectionPolicy",
      "description": "The TlsInspectionPolicy resource contains references to CA pools in Certificate Authority Service and associated metadata.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the resource. Name is of the form projects\/{project}\/locations\/{location}\/tlsInspectionPolicies\/{tls_inspection_policy} tls_inspection_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "caPool": {
          "description": "Required. A CA pool resource used to issue interception certificates. The CA pool string has a relative resource path following the form \"projects\/{project}\/locations\/{location}\/caPools\/{ca_pool}\".",
          "type": "string"
        }
      }
    },
    "ListSecurityProfileGroupsResponse": {
      "id": "ListSecurityProfileGroupsResponse",
      "description": "Response returned by the ListSecurityProfileGroups method.",
      "type": "object",
      "properties": {
        "securityProfileGroups": {
          "description": "List of SecurityProfileGroups resources.",
          "type": "array",
          "items": {
            "$ref": "SecurityProfileGroup"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "SecurityProfileGroup": {
      "id": "SecurityProfileGroup",
      "description": "SecurityProfileGroup is a resource that defines the behavior for various ProfileTypes. Next ID: 8",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. Name of the SecurityProfileGroup resource. It matches pattern `projects|organizations\/*\/locations\/{location}\/securityProfileGroups\/{security_profile_group}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. An optional description of the profile group.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Resource creation timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last resource update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "threatPreventionProfile": {
          "description": "Optional. Reference to a SecurityProfile with the threat prevention configuration for the SecurityProfileGroup.",
          "type": "string"
        }
      }
    },
    "ListSecurityProfilesResponse": {
      "id": "ListSecurityProfilesResponse",
      "description": "Response returned by the ListSecurityProfiles method.",
      "type": "object",
      "properties": {
        "securityProfiles": {
          "description": "List of SecurityProfile resources.",
          "type": "array",
          "items": {
            "$ref": "SecurityProfile"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "SecurityProfile": {
      "id": "SecurityProfile",
      "description": "SecurityProfile is a resource that defines the behavior for one of many ProfileTypes. Next ID: 9",
      "type": "object",
      "properties": {
        "threatPreventionProfile": {
          "description": "The threat prevention configuration for the SecurityProfile.",
          "$ref": "ThreatPreventionProfile"
        },
        "name": {
          "description": "Immutable. Name of the SecurityProfile resource. It matches pattern `projects|organizations\/*\/locations\/{location}\/securityProfiles\/{security_profile}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. An optional description of the profile.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Resource creation timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last resource update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "Immutable. The single ProfileType that the SecurityProfile resource configures.",
          "type": "string",
          "enumDescriptions": [
            "Profile type not specified.",
            "Profile type for threat prevention."
          ],
          "enum": [
            "PROFILE_TYPE_UNSPECIFIED",
            "THREAT_PREVENTION"
          ]
        }
      }
    },
    "ThreatPreventionProfile": {
      "id": "ThreatPreventionProfile",
      "description": "ThreatPreventionProfile defines an action for specific threat signatures or severity levels.",
      "type": "object",
      "properties": {
        "severityOverrides": {
          "description": "Optional. Configuration for overriding threats actions by severity match.",
          "type": "array",
          "items": {
            "$ref": "SeverityOverride"
          }
        },
        "threatOverrides": {
          "description": "Optional. Configuration for overriding threats actions by threat_id match. If a threat is matched both by configuration provided in severity_overrides and threat_overrides, the threat_overrides action is applied.",
          "type": "array",
          "items": {
            "$ref": "ThreatOverride"
          }
        }
      }
    },
    "SeverityOverride": {
      "id": "SeverityOverride",
      "description": "Defines what action to take for a specific severity match.",
      "type": "object",
      "properties": {
        "severity": {
          "description": "Severity level to match.",
          "type": "string",
          "enumDescriptions": [
            "Severity level not specified.",
            "Suspicious events that do not pose an immediate threat, but that are reported to call attention to deeper problems that could possibly exist.",
            "Warning-level threats that have very little impact on an organization's infrastructure. They usually require local or physical system access and may often result in victim privacy issues and information leakage.",
            "Minor threats in which impact is minimized, that do not compromise the target or exploits that require an attacker to reside on the same local network as the victim, affect only non-standard configurations or obscure applications, or provide very limited access.",
            "Threats that have the ability to become critical but have mitigating factors; for example, they may be difficult to exploit, do not result in elevated privileges, or do not have a large victim pool.",
            "Serious threats, such as those that affect default installations of widely deployed software, result in root compromise of servers, and the exploit code is widely available to attackers. The attacker usually does not need any special authentication credentials or knowledge about the individual victims and the target does not need to be manipulated into performing any special functions."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFORMATIONAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "action": {
          "description": "Threat action override.",
          "type": "string",
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ]
        }
      }
    },
    "ThreatOverride": {
      "id": "ThreatOverride",
      "description": "Defines what action to take for a specific threat_id match.",
      "type": "object",
      "properties": {
        "threatId": {
          "description": "Vendor-specific ID of a threat to override.",
          "type": "string"
        },
        "type": {
          "description": "Output only. Type of the threat (read only).",
          "readOnly": true,
          "type": "string"
        },
        "action": {
          "description": "Threat action override. For some threat types, only a subset of actions applies.",
          "type": "string",
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ]
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}\/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/how-to\/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace\/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "networksecurity.projects.locations.list",
              "path": "v1alpha1/{+name}/locations",
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https:\/\/google.aip.dev\/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service."
            },
            "get": {
              "id": "networksecurity.projects.locations.get",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location."
            }
          }
          ,
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "networksecurity.projects.locations.operations.list",
                  "path": "v1alpha1/{+name}/operations",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users\/*\/operations`. To override the binding, API services can add a binding such as `\"\/v1\/{name=users\/*}\/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                },
                "get": {
                  "id": "networksecurity.projects.locations.operations.get",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "id": "networksecurity.projects.locations.operations.delete",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "id": "networksecurity.projects.locations.operations.cancel",
                  "path": "v1alpha1/{+name}:cancel",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                }
              }
            },
            "addressGroups": {
              "methods": {
                "list": {
                  "id": "networksecurity.projects.locations.addressGroups.list",
                  "path": "v1alpha1/{+parent}/addressGroups",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/addressGroups",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The project and location from which the AddressGroups should be listed, specified in the format `projects\/*\/locations\/{location}`.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of AddressGroups to return per call.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The value returned by the last `ListAddressGroupsResponse` Indicates that this is a continuation of a prior `ListAddressGroups` call, and that the system should return the next page of data.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAddressGroupsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists address groups in a given project and location."
                },
                "get": {
                  "id": "networksecurity.projects.locations.addressGroups.get",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/addressGroups/{addressGroupsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the AddressGroup to get. Must be in the format `projects\/*\/locations\/{location}\/addressGroups\/*`.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/addressGroups\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AddressGroup"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single address group."
                },
                "create": {
                  "id": "networksecurity.projects.locations.addressGroups.create",
                  "path": "v1alpha1/{+parent}/addressGroups",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/addressGroups",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the AddressGroup. Must be in the format `projects\/*\/locations\/{location}`.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "addressGroupId": {
                      "description": "Required. Short name of the AddressGroup resource to be created. This value should be 1-63 characters long, containing only letters, numbers, hyphens, and underscores, and should not start with a number. E.g. \"authz_policy\".",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "AddressGroup"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new address group in a given project and location."
                },
                "patch": {
                  "id": "networksecurity.projects.locations.addressGroups.patch",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/addressGroups/{addressGroupsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the AddressGroup resource. It matches pattern `projects\/*\/locations\/{location}\/addressGroups\/`.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/addressGroups\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the AddressGroup resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "AddressGroup"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the parameters of a single address group."
                },
                "addItems": {
                  "id": "networksecurity.projects.locations.addressGroups.addItems",
                  "path": "v1alpha1/{+addressGroup}:addItems",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/addressGroups/{addressGroupsId}:addItems",
                  "httpMethod": "POST",
                  "parameters": {
                    "addressGroup": {
                      "description": "Required. A name of the AddressGroup to add items to. Must be in the format `projects|organization\/*\/locations\/{location}\/addressGroups\/*`.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/addressGroups\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "addressGroup"
                  ],
                  "request": {
[...]
