{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "networkservices:v1",
  "name": "networkservices",
  "canonicalName": "NetworkServices",
  "version": "v1",
  "revision": "0",
  "title": "Network Services API",
  "description": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/networking",
  "protocol": "rest",
  "rootUrl": "https://networkservices.googleapis.com/",
  "mtlsRootUrl": "https://networkservices.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://networkservices.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "ListMulticastGroupsResponse": {
      "id": "ListMulticastGroupsResponse",
      "description": "Message for response to listing MulticastGroups",
      "type": "object",
      "properties": {
        "multicastGroups": {
          "description": "The list of MulticastGroup",
          "type": "array",
          "items": {
            "$ref": "MulticastGroup"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MulticastGroup": {
      "id": "MulticastGroup",
      "description": "Message describing MulticastGroup object",
      "type": "object",
      "properties": {
        "name": {
          "description": "name of resource",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "domainActivation": {
          "description": "Reference to the domain activation in the same zone as the group.",
          "type": "string"
        }
      }
    },
    "ListMulticastGroupDefinitionsResponse": {
      "id": "ListMulticastGroupDefinitionsResponse",
      "description": "Message for response to listing MulticastGroupDefinitions",
      "type": "object",
      "properties": {
        "multicastGroupDefinitions": {
          "description": "The list of MulticastGroupDefinition",
          "type": "array",
          "items": {
            "$ref": "MulticastGroupDefinition"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MulticastGroupDefinition": {
      "id": "MulticastGroupDefinition",
      "description": "Message describing MulticastGroupDefinition object",
      "type": "object",
      "properties": {
        "name": {
          "description": "name of resource",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListMulticastDomainsResponse": {
      "id": "ListMulticastDomainsResponse",
      "description": "Message for response to listing MulticastDomains",
      "type": "object",
      "properties": {
        "multicastDomains": {
          "description": "The list of MulticastDomain",
          "type": "array",
          "items": {
            "$ref": "MulticastDomain"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MulticastDomain": {
      "id": "MulticastDomain",
      "description": "Message describing MulticastDomain object",
      "type": "object",
      "properties": {
        "name": {
          "description": "name of resource",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListMulticastDomainActivationsResponse": {
      "id": "ListMulticastDomainActivationsResponse",
      "description": "Message for response to listing MulticastDomainActivations",
      "type": "object",
      "properties": {
        "multicastDomainActivations": {
          "description": "The list of MulticastDomainActivation",
          "type": "array",
          "items": {
            "$ref": "MulticastDomainActivation"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MulticastDomainActivation": {
      "id": "MulticastDomainActivation",
      "description": "Message describing MulticastDomainActivation object",
      "type": "object",
      "properties": {
        "name": {
          "description": "name of resource",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "domain": {
          "description": "Reference to the domain that is being activated.",
          "type": "string"
        }
      }
    },
    "ListMulticastConsumerAssociationsResponse": {
      "id": "ListMulticastConsumerAssociationsResponse",
      "description": "Message for response to listing MulticastConsumerAssociations",
      "type": "object",
      "properties": {
        "multicastConsumerAssociations": {
          "description": "The list of MulticastConsumerAssociation",
          "type": "array",
          "items": {
            "$ref": "MulticastConsumerAssociation"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MulticastConsumerAssociation": {
      "id": "MulticastConsumerAssociation",
      "description": "Message describing MulticastConsumerAssociation object",
      "type": "object",
      "properties": {
        "name": {
          "description": "name of resource",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "multicastGroup": {
          "description": "Reference to the multicast group",
          "type": "string"
        },
        "network": {
          "description": "Reference to the network",
          "type": "string"
        }
      }
    },
    "ListEndpointPoliciesResponse": {
      "id": "ListEndpointPoliciesResponse",
      "description": "Response returned by the ListEndpointPolicies method.",
      "type": "object",
      "properties": {
        "endpointPolicies": {
          "description": "List of EndpointPolicy resources.",
          "type": "array",
          "items": {
            "$ref": "EndpointPolicy"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "EndpointPolicy": {
      "id": "EndpointPolicy",
      "description": "EndpointPolicy is a resource that helps apply desired configuration on the endpoints that match specific criteria. For example, this resource can be used to apply \"authentication config\" an all endpoints that serve on port 8080.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the EndpointPolicy resource. It matches pattern `projects\/{project}\/locations\/global\/endpointPolicies\/{endpoint_policy}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the EndpointPolicy resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "Required. The type of endpoint policy. This is primarily used to validate the configuration.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Must not be used.",
            "Represents a proxy deployed as a sidecar.",
            "Represents a proxyless gRPC backend."
          ],
          "enum": [
            "ENDPOINT_POLICY_TYPE_UNSPECIFIED",
            "SIDECAR_PROXY",
            "GRPC_SERVER"
          ]
        },
        "authorizationPolicy": {
          "description": "Optional. This field specifies the URL of AuthorizationPolicy resource that applies authorization policies to the inbound traffic at the matched endpoints. Refer to Authorization. If this field is not specified, authorization is disabled(no authz checks) for this endpoint.",
          "type": "string"
        },
        "endpointMatcher": {
          "description": "Required. A matcher that selects endpoints to which the policies should be applied.",
          "$ref": "EndpointMatcher"
        },
        "trafficPortSelector": {
          "description": "Optional. Port selector for the (matched) endpoints. If no port selector is provided, the matched config is applied to all ports.",
          "$ref": "TrafficPortSelector"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "serverTlsPolicy": {
          "description": "Optional. A URL referring to ServerTlsPolicy resource. ServerTlsPolicy is used to determine the authentication policy to be applied to terminate the inbound traffic at the identified backends. If this field is not set, authentication is disabled(open) for this endpoint.",
          "type": "string"
        },
        "clientTlsPolicy": {
          "description": "Optional. A URL referring to a ClientTlsPolicy resource. ClientTlsPolicy can be set to specify the authentication for traffic from the proxy to the actual endpoints. More specifically, it is applied to the outgoing traffic from the proxy to the endpoint. This is typically used for sidecar model where the proxy identifies itself as endpoint to the control plane, with the connection between sidecar and endpoint requiring authentication. If this field is not set, authentication is disabled(open). Applicable only when EndpointPolicyType is SIDECAR_PROXY.",
          "type": "string"
        }
      }
    },
    "EndpointMatcher": {
      "id": "EndpointMatcher",
      "description": "A definition of a matcher that selects endpoints to which the policies should be applied.",
      "type": "object",
      "properties": {
        "metadataLabelMatcher": {
          "description": "The matcher is based on node metadata presented by xDS clients.",
          "$ref": "EndpointMatcherMetadataLabelMatcher"
        }
      }
    },
    "EndpointMatcherMetadataLabelMatcher": {
      "id": "EndpointMatcherMetadataLabelMatcher",
      "description": "The matcher that is based on node metadata presented by xDS clients.",
      "type": "object",
      "properties": {
        "metadataLabelMatchCriteria": {
          "description": "Specifies how matching should be done. Supported values are: MATCH_ANY: At least one of the Labels specified in the matcher should match the metadata presented by xDS client. MATCH_ALL: The metadata presented by the xDS client should contain all of the labels specified here. The selection is determined based on the best match. For example, suppose there are three EndpointPolicy resources P1, P2 and P3 and if P1 has a the matcher as MATCH_ANY , P2 has MATCH_ALL , and P3 has MATCH_ALL . If a client with label connects, the config from P1 will be selected. If a client with label connects, the config from P2 will be selected. If a client with label connects, the config from P3 will be selected. If there is more than one best match, (for example, if a config P4 with selector exists and if a client with label connects), an error will be thrown.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "At least one of the Labels specified in the matcher should match the metadata presented by xDS client.",
            "The metadata presented by the xDS client should contain all of the labels specified here."
          ],
          "enum": [
            "METADATA_LABEL_MATCH_CRITERIA_UNSPECIFIED",
            "MATCH_ANY",
            "MATCH_ALL"
          ]
        },
        "metadataLabels": {
          "description": "The list of label value pairs that must match labels in the provided metadata based on filterMatchCriteria This list can have at most 64 entries. The list can be empty if the match criteria is MATCH_ANY, to specify a wildcard match (i.e this matches any client).",
          "type": "array",
          "items": {
            "$ref": "EndpointMatcherMetadataLabelMatcherMetadataLabels"
          }
        }
      }
    },
    "EndpointMatcherMetadataLabelMatcherMetadataLabels": {
      "id": "EndpointMatcherMetadataLabelMatcherMetadataLabels",
      "description": "Defines a name-pair value for a single label.",
      "type": "object",
      "properties": {
        "labelName": {
          "description": "Required. Label name presented as key in xDS Node Metadata.",
          "type": "string"
        },
        "labelValue": {
          "description": "Required. Label value presented as value corresponding to the above key, in xDS Node Metadata.",
          "type": "string"
        }
      }
    },
    "TrafficPortSelector": {
      "id": "TrafficPortSelector",
      "description": "Specification of a port-based selector.",
      "type": "object",
      "properties": {
        "ports": {
          "description": "Optional. A list of ports. Can be port numbers or port range (example, [80-90] specifies all ports from 80 to 90, including 80 and 90) or named ports or * to specify all ports. If the list is empty, all ports are selected.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListEdgeCacheKeysetsResponse": {
      "id": "ListEdgeCacheKeysetsResponse",
      "description": "The response returned by the `ListEdgeCacheKeysets` method.",
      "type": "object",
      "properties": {
        "edgeCacheKeysets": {
          "description": "A list of `EdgeCacheKeyset` resources.",
          "type": "array",
          "items": {
            "$ref": "EdgeCacheKeyset"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as page_token.",
          "type": "string"
        }
      }
    },
    "EdgeCacheKeyset": {
      "id": "EdgeCacheKeyset",
      "description": "Represents a collection of public keys used for validating signed requests.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the resource as provided by the client when the resource is created. The name must be 1-64 characters long, and match the regular expression `[a-zA-Z]([a-zA-Z0-9_-])*` which means the first character must be a letter, and all following characters must be a dash, an underscore, a letter, or a digit.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation timestamp in RFC3339 text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The update timestamp in RFC3339 text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. A set of label tags associated with the EdgeCacheKeyset resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "publicKeys": {
          "description": "Optional. An ordered list of Ed25519 public keys to use for validating signed requests. Ed25519 public keys are not secret and only allow Google to validate that a request was signed by your corresponding private key. Ensure that the private key is kept secret and that only authorized users can add public keys to a keyset. You can rotate keys by appending (pushing) a new key to the list of public keys, and removing any superseded keys. You must specify `public_keys` or validation_shared_keys (or both). The keys in `public_keys` are checked first. You can specify at most one Google-managed public key. If you specify `public_keys`, you must specify at least one key and can specify up to three keys.",
          "type": "array",
          "items": {
            "$ref": "PublicKey"
          }
        },
        "validationSharedKeys": {
          "description": "Optional. An ordered list of shared keys to use for validating signed requests. Shared keys are secret. Ensure that only authorized users can add `validation_shared_keys` to a keyset. You can rotate keys by appending (pushing) a new key to the list of `validation_shared_keys` and removing any superseded keys. You must specify public_keys or `validation_shared_keys` (or both). The keys in `public_keys` are checked first. If you specify `validation_shared_keys`, you must specify at least one key and can specify up to three keys.",
          "type": "array",
          "items": {
            "$ref": "Secret"
          }
        }
      }
    },
    "PublicKey": {
      "id": "PublicKey",
      "description": "An Ed25519 public key used for validating signed requests.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. The ID of the public key. The ID must be 1-64 characters long, and match the regular expression `[a-zA-Z]([a-zA-Z0-9_-])*` which means the first character must be a letter, and all following characters must be a dash, an underscore, a letter, or a digit.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The base64-encoded value of the Ed25519 public key. The base64 encoding can be padded (44 bytes) or unpadded (43 bytes). Representations or encodings of the public key other than this are rejected with an error. Either `value` or `managed` must be specified.",
          "type": "string"
        },
        "managed": {
          "description": "Optional. Set to `true` to have the CDN automatically manage this public key. Managed keys are used by the CDN for dual-token authentication. Media CDN internally generates, uses, and rotates the underlying public and private key pair. It is not possible to use a managed key outside of dual-token authentication. Either `value` or `managed` must be specified.",
          "type": "boolean"
        }
      }
    },
    "Secret": {
      "id": "Secret",
      "description": "A secret key stored in Secret Manager.",
      "type": "object",
      "properties": {
        "secretVersion": {
          "description": "Required. The name of the secret in Secret Manager. The resource name of the secret version must be in the format `projects\/*\/secrets\/*\/versions\/*` where the `*` values are replaced by the name of the secret. The secrets must be at least 16 bytes. The recommended secret size depends on the signature algorithm that you're using. * If you're using `HMAC-SHA1`, we recommend 20-byte secrets. * If you're using `HMAC-SHA256`, we recommend 32-byte secrets. See RFC 2104, Section 3 for more details on these recommendations.",
          "type": "string"
        }
      }
    },
    "ListEdgeCacheOriginsResponse": {
      "id": "ListEdgeCacheOriginsResponse",
      "description": "The response returned by the `ListEdgeCacheOrigins` method.",
      "type": "object",
      "properties": {
        "edgeCacheOrigins": {
          "description": "A list of `EdgeCacheOrigin` resources.",
          "type": "array",
          "items": {
            "$ref": "EdgeCacheOrigin"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as page_token.",
          "type": "string"
        }
      }
    },
    "EdgeCacheOrigin": {
      "id": "EdgeCacheOrigin",
      "description": "Represents an HTTP-reachable backend for an `EdgeCacheService` resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the resource as provided by the client when the resource is created. The name must be 1-64 characters long, and match the regular expression `[a-zA-Z]([a-zA-Z0-9_-])*`, which means that the first character must be a letter, and all following characters must be a dash, an underscore, a letter, or a digit.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation timestamp in RFC3339 text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The update timestamp in RFC3339 text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. A set of label tags associated with the EdgeCacheOrigin resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "originAddress": {
          "description": "Required. A fully qualified domain name (FQDN), an IPv4 or IPv6 address reachable over the public internet, or the address of a Google Cloud Storage bucket. This address is used as the origin for cache requests. The following are example origins: - **FQDN**: `media-backend.example.com` - **IPv4**: `35.218.1.1` - **IPv6**: `2607:f8b0:4012:809::200e` - **Google Cloud Storage**: `gs:\/\/bucketname` or `bucketname.storage.googleapis.com` The following limitations apply to fully-qualified domain names: * They must be resolvable through public DNS. * They must not contain a protocol (such as `https:\/\/`). * They must not contain any slashes. When providing an IP address, it must be publicly routable. IPv6 addresses must not be enclosed in square brackets.",
          "type": "string"
        },
        "protocol": {
          "description": "Optional. The protocol to use to connect to the configured origin. Defaults to HTTP2, which is strongly recommended for both security and performance. When using HTTP2 or HTTPS as the protocol, a valid, publicly-signed, unexpired TLS (SSL) certificate must be presented by the origin server.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value. Defaults to HTTP2.",
            "The HTTP\/2 protocol. HTTP\/2 refers to \"h2\", which requires TLS (HTTPS). Requires a valid (public and unexpired) TLS certificate present on the origin.",
            "HTTP\/1.1 with TLS (SSL). Requires a valid (public and unexpired) TLS certificate present on the origin.",
            "HTTP without TLS (SSL). This is not recommended, because communication outside of Google's network is unencrypted to the public endpoint (origin)."
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "HTTP2",
            "HTTPS",
            "HTTP"
          ]
        },
        "port": {
          "description": "Optional. The port to connect to the origin on. Defaults to port **443** for HTTP2 and HTTPS protocols and port **80** for HTTP.",
          "type": "integer",
          "format": "int32"
        },
        "maxAttempts": {
          "description": "Optional. The maximum number of attempts to cache fill from this origin. Another attempt is made when a cache fill fails with one of the retry_conditions or following a redirect response matching one of the origin_redirect.redirect_conditions. Once the maximum attempts to this origin have failed, the failover origin][], if specified, is used. The failover origin can have its own `max_attempts`, `retry_conditions`, `redirect_conditions`, and `failover_origin` values to control its cache fill failures. The total number of allowed attempts to cache fill across this and failover origins is limited to four. The total time allowed for cache fill attempts across this and failover origins can be controlled with `max_attempts_timeout`. The last valid, non-retried response from all origins is returned to the client. If no origin returns a valid response, an `HTTP 502` error is returned to the client. Defaults to 1. Must be a value greater than 0 and less than 5.",
          "type": "integer",
          "format": "int32"
        },
        "failoverOrigin": {
          "description": "Optional. The EdgeCacheOrigin resource to try when the current origin cannot be reached. After max_attempts is reached, the configured failover_origin is used to fulfil the request. The following are both valid paths to an `EdgeCacheOrigin` resource: * `projects\/my-project\/locations\/global\/edgeCacheOrigins\/my-origin` * `my-origin` The value of max_attempts_timeout dictates the timeout across all origins.",
          "type": "string"
        },
        "retryConditions": {
          "description": "Optional. Specifies one or more retry conditions for the configured origin. If the failure mode during a connection attempt to the origin matches the configured `retryConditions` values, the origin request retries up to max_attempts times. The failover origin, if configured, is then used to satisfy the request. The default `retry_conditions` value is `CONNECT_FAILURE`. `retry_conditions` values apply to this origin, and not to subsequent failover origins, which can specify their own `retry_conditions` and `max_attempts` values. For a list of valid values, see RetryConditions.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified",
              "Retry on failures connecting to origins include routing, DNS and TLS handshake errors, and TCP\/UDP timeouts.",
              "Retry if the origin responds with any `HTTP 5xx` response code.",
              "Similar to `5xx`, but only applies to HTTP response codes `502`, `503`, or `504`.",
              "Retry for retriable `4xx` response codes, which include `HTTP 409 (Conflict)` and `HTTP 429 (Too Many Requests)`.",
              "Retry if the origin returns an `HTTP 404 (Not Found)` error. This can be useful when generating video content when the segment is not yet available.",
              "Retry if the origin returns an `HTTP 403 (Forbidden)` error. This can be useful for origins that return `403` (instead of `404`) for missing content for security reasons."
            ],
            "enum": [
              "RETRY_CONDITIONS_UNSPECIFIED",
              "CONNECT_FAILURE",
              "HTTP_5XX",
              "GATEWAY_ERROR",
              "RETRIABLE_4XX",
              "NOT_FOUND",
              "FORBIDDEN"
            ]
          }
        },
        "timeout": {
          "description": "Optional. The connection and HTTP timeout configuration for this origin.",
          "$ref": "Timeout"
        },
        "awsV4Authentication": {
          "description": "Optional. Enable AWS Signature Version 4 origin authentication.",
          "$ref": "AWSV4Signature"
        },
        "originOverrideAction": {
          "description": "Optional. The override actions, including URL rewrites and header additions, for requests that use this origin.",
          "$ref": "OriginOverrideAction"
        },
        "originRedirect": {
          "description": "Optional. Follow redirects from this origin.",
          "$ref": "OriginRedirect"
        }
      }
    },
    "Timeout": {
      "id": "Timeout",
      "description": "The timeout configuration for this origin.",
      "type": "object",
      "properties": {
        "connectTimeout": {
          "description": "Optional. The maximum duration to wait for a single origin connection to be established, including DNS lookup, TLS handshake, and TCP\/QUIC connection establishment. Defaults to 5 seconds. The timeout must be a value between 1s and 15s. The `connect_timeout` capped by the deadline set by the request's max_attempts_timeout. The last connection attempt can have a smaller `connect_timeout` so that the total `max_attempts_timeout` value is not exceeded.",
          "type": "string",
          "format": "google-duration"
        },
        "maxAttemptsTimeout": {
          "description": "Optional. The maximum time across all connection attempts to all origins, including failover origins, before returning an error to the client. An `HTTP 504` error is returned if the timeout is reached before a response is returned. Defaults to 15 seconds. The timeout must be a value between 1s and 30s. If a failover origin is specified, the `max_attempts_timeout` value of the first configured origin sets the deadline for all connection attempts across all failover origins.",
          "type": "string",
          "format": "google-duration"
        },
        "responseTimeout": {
          "description": "Optional. The maximum duration to wait for the last byte of a response to arrive when reading from the HTTP connection\/stream. Defaults to 30 seconds. The timeout must be a value between 1s and 120s. The `response_timeout` starts after the connection has been established. Origins that take longer to write additional bytes to the response than the configured `response_timeout` value result in an error returned to the client. If the response headers have already been written to the connection, the response is truncated and logged.",
          "type": "string",
          "format": "google-duration"
        },
        "readTimeout": {
          "description": "Optional. The maximum duration to wait between reads of a single HTTP connection or stream. Defaults to 15 seconds. The timeout must be a value between 1s and 30s. The `read_timeout` value is capped by the response_timeout value. All reads of the HTTP connection or stream must be completed by the deadline set by response_timeout. If the response headers have already been written to the connection, the response is truncated and logged.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "AWSV4Signature": {
      "id": "AWSV4Signature",
      "description": "The configuration needed to generate an AWS V4 Signature",
      "type": "object",
      "properties": {
        "accessKeyId": {
          "description": "Required. The access key ID that your origin uses to identify the key.",
          "type": "string"
        },
        "secretAccessKeyVersion": {
          "description": "Required. The Secret Manager secret version of the secret access key used by your origin. This is the resource name of the secret version in the format `projects\/*\/secrets\/*\/versions\/*` where the `*` values are replaced by the project, the secret, and the version that you require.",
          "type": "string"
        },
        "originRegion": {
          "description": "Required. The name of the AWS region that your origin is in.",
          "type": "string"
        }
      }
    },
    "OriginOverrideAction": {
      "id": "OriginOverrideAction",
      "description": "Defines how requests and responses can be manipulated on cache fill to this origin.",
      "type": "object",
      "properties": {
        "urlRewrite": {
          "description": "Optional. The URL rewrite configuration for requests that are handled by this origin.",
          "$ref": "OriginUrlRewrite"
        },
        "headerAction": {
          "description": "Optional. The header actions, including adding and removing headers, for requests handled by this origin.",
          "$ref": "OriginHeaderAction"
        }
      }
    },
    "OriginUrlRewrite": {
      "id": "OriginUrlRewrite",
      "description": "The URL rewrite configuration for a given request handled by this origin.",
      "type": "object",
      "properties": {
        "hostRewrite": {
          "description": "Optional. Before forwarding the request to the selected origin, the request's `Host` header is replaced with the contents of `hostRewrite`. The host value must be between 1 and 255 characters.",
          "type": "string"
        }
      }
    },
    "OriginHeaderAction": {
      "id": "OriginHeaderAction",
      "description": "Defines the addition and removal of HTTP headers for requests\/responses.",
      "type": "object",
      "properties": {
        "requestHeadersToAdd": {
          "description": "Optional. A header to add. You can add a maximum of 25 request headers.",
          "type": "array",
          "items": {
            "$ref": "OriginHeaderActionAddHeader"
          }
        }
      }
    },
    "OriginHeaderActionAddHeader": {
      "id": "OriginHeaderActionAddHeader",
      "description": "Describes a header to add.",
      "type": "object",
      "properties": {
        "headerName": {
          "description": "Required. The name of the header to add.",
          "type": "string"
        },
        "headerValue": {
          "description": "Required. The value of the header to add.",
          "type": "string"
        },
        "replace": {
          "description": "Optional. Specifies whether to replace all existing headers with the same name. By default, added header values are appended to the response or request headers with the same field names. The added values are separated by commas. To overwrite existing values, set `replace` to `true`.",
          "type": "boolean"
        }
      }
    },
    "OriginRedirect": {
      "id": "OriginRedirect",
      "description": "The options for following redirects from the origin.",
      "type": "object",
      "properties": {
        "redirectConditions": {
          "description": "Optional. The set of HTTP redirect response codes that the CDN follows.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "It is an error to specify `REDIRECT_CONDITIONS_UNSPECIFIED`.",
              "Follow redirect on an `HTTP 301` error.",
              "Follow redirect on an `HTTP 302` error.",
              "Follow redirect on an `HTTP 303` error.",
              "Follow redirect on an `HTTP 307` error.",
              "Follow redirect on an `HTTP 308` error."
            ],
            "enum": [
              "REDIRECT_CONDITIONS_UNSPECIFIED",
              "MOVED_PERMANENTLY",
              "FOUND",
              "SEE_OTHER",
              "TEMPORARY_REDIRECT",
              "PERMANENT_REDIRECT"
            ]
          }
        }
      }
    },
    "ListEdgeCacheServicesResponse": {
      "id": "ListEdgeCacheServicesResponse",
      "description": "Response returned by the `list` method.",
      "type": "object",
      "properties": {
        "edgeCacheServices": {
          "description": "The list of EdgeCacheService resources.",
          "type": "array",
          "items": {
            "$ref": "EdgeCacheService"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as page_token.",
          "type": "string"
        }
      }
    },
    "EdgeCacheService": {
      "id": "EdgeCacheService",
      "description": "Defines the IP addresses, protocols, security policies, cache policies, and routing configuration.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the resource as provided by the client when the resource is created. The name must be 1-64 characters long, and match the regular expression `[a-zA-Z]([a-zA-Z0-9_-])*` which means the first character must be a letter, and all following characters must be a dash, an underscore, a letter, or a digit.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation timestamp in RFC3339 text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The update timestamp in RFC3339 text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. A set of label tags associated with the `EdgeCacheService` resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "disableQuic": {
          "description": "Optional. HTTP\/3 (IETF QUIC) and Google QUIC are enabled by default.",
          "type": "boolean"
        },
        "disableHttp2": {
          "description": "Optional. Disables HTTP\/2. HTTP\/2 (h2) is enabled by default and recommended for performance. HTTP\/2 improves connection re-use and reduces connection setup overhead by sending multiple streams over the same connection. Some legacy HTTP clients might have issues with HTTP\/2 connections due to broken HTTP\/2 implementations. Setting this to `true` prevents HTTP\/2 from being advertised and negotiated.",
          "type": "boolean"
        },
        "requireTls": {
          "description": "Optional. Require TLS (HTTPS) for all clients connecting to this service. Clients who connect over HTTP (port 80) see an `HTTP 301` response to the same URL over HTTPS (port 443). You must have at least one edge_ssl_certificates specified to enable this.",
          "type": "boolean"
        },
        "edgeSslCertificates": {
          "description": "Optional. Certificate resources that are used to authenticate connections between users and the EdgeCacheService resource. Note that only global certificates with a scope of `EDGE_CACHE` can be attached to an EdgeCacheService resource. The following are both valid paths to an `edge_ssl_certificates` resource: * `projects\/project\/locations\/global\/certificates\/media-example-com-cert` * `media-example-com-cert` You can specify up to five SSL certificates.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipv4Addresses": {
          "description": "Output only. The IPv4 addresses associated with this service. Addresses are static for the lifetime of the service. IP addresses provisioned via Bring-Your-Own-IP (BYOIP) are not supported.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipv6Addresses": {
          "description": "Output only. The IPv6 addresses associated with this service. Addresses are static for the lifetime of the service. IP addresses provisioned via Bring-Your-Own-IP (BYOIP) are not supported.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "routing": {
          "description": "Required. Defines how requests are routed, modified, and cached, and which origin the content is filled from.",
          "$ref": "Routing"
        },
        "logConfig": {
          "description": "Optional. The logging options for the traffic served by this service. If logging is enabled, logs are exported to Cloud Logging.",
          "$ref": "LogConfig"
        },
        "edgeSecurityPolicy": {
          "description": "Optional. The resource URL that points at the Cloud Armor edge security policy that is applied on each request against the EdgeCacheService resource.",
          "type": "string"
        }
      }
    },
    "Routing": {
      "id": "Routing",
      "description": "Defines how requests are routed, modified, cached, and which origin the content is filled from.",
      "type": "object",
      "properties": {
        "hostRules": {
          "description": "Required. A list of HostRule rules to match against. `RouteRule` rules support advanced routing behavior, and can match on paths, headers and query parameters, as well as status codes and HTTP methods. You can specify up to five host rules.",
          "type": "array",
          "items": {
            "$ref": "HostRule"
          }
        },
        "pathMatchers": {
          "description": "Required. A list of PathMatcher values referenced by name by HostRule values. `PathMatcher` is used to match the path portion of the URL when a`HostRule` value matches the URL's host portion. You can specify up to 10 path matchers.",
          "type": "array",
          "items": {
            "$ref": "PathMatcher"
          }
        }
      }
    },
    "HostRule": {
      "id": "HostRule",
      "description": "The hostname configured for the EdgeCacheService. A `HostRule` value associates a hostname (or hostnames) with a set of routing rules, which define configuration based on the path and header.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. A human-readable description of the `HostRule` value.",
          "type": "string"
        },
        "hosts": {
          "description": "Required. A list of host patterns to match. Host patterns must be valid hostnames. Ports are not allowed. Wildcard hosts are supported in the suffix or prefix form. `*` matches any string of `([a-z0-9-.]*)`. It does not match an empty string. When multiple hosts are specified, hosts are matched in the following priority: 1. Exact domain names: `www.foo.com`. 2. Suffix domain wildcards: `*.foo.com` or `*-bar.foo.com`. 3. Prefix domain wildcards: `foo.*` or `foo-*`. 4. Special wildcard `*` matching any domain. The wildcard doesn't match the empty string. For example, `*-bar.foo.com` matches `baz-bar.foo.com` but not `-bar.foo.com`. The longest wildcards match first. Only a single host in the entire service can match on ``*``. A domain must be unique across all configured hosts within a service. Hosts are matched against the HTTP `Host` header, or for HTTP\/2 and HTTP\/3, the `:authority` header, in the incoming request. You can specify up to 10 hosts.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pathMatcher": {
          "description": "Required. The name of the PathMatcher associated with this `HostRule`.",
          "type": "string"
        }
      }
    },
    "PathMatcher": {
      "id": "PathMatcher",
      "description": "The name of the `PathMatcher` to use to match the path portion of the URL if the HostRule matches the URL's host portion.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name to which this `PathMatcher` is referred by the HostRule.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "routeRules": {
          "description": "Required. A list of RouteRule rules to match against. `RouteRule` rules support advanced routing behavior, and can match on paths, headers and query parameters, as well as status codes and HTTP methods. You must specify at least one rule, and can specify a maximum of 64 rules. `RouteRule` rules must not have duplicate priority values.",
          "type": "array",
          "items": {
            "$ref": "RouteRule"
          }
        }
      }
    },
    "RouteRule": {
      "id": "RouteRule",
      "description": "The priority of a given route, including its match conditions and the actions to take on a request that matches.",
      "type": "object",
      "properties": {
        "origin": {
          "description": "Optional. An alternate EdgeCacheOrigin resource that this route responds with when a matching response is not in the cache. The following are both valid paths to an `EdgeCacheOrigin` resource: * `projects\/my-project\/locations\/global\/edgeCacheOrigins\/my-origin` * `my-origin` Only one of `origin` or url_redirect can be set.",
          "type": "string"
        },
        "urlRedirect": {
          "description": "Optional. The URL redirect configuration for requests that match this route. Only one of origin or `url_redirect` can be set.",
          "$ref": "UrlRedirect"
        },
        "priority": {
          "description": "Required. The priority of this route rule, where `1` is the highest priority. You cannot configure two or more `RouteRules` with the same priority. Priority for each rule must be set to a number between 1 and 999 inclusive. Priority numbers can have gaps, which enable you to add or remove rules in the future without affecting the rest of the rules. For example, `1, 2, 3, 4, 5, 9, 12, 16` is a valid series of priority numbers to which you could add rules numbered from 6 to 8, 10 to 11, and 13 to 15 in the future without any impact on existing rules.",
          "type": "string",
          "format": "int64"
        },
        "description": {
          "description": "Optional. A human-readable description of the `RouteRule`.",
          "type": "string"
        },
        "matchRules": {
          "description": "Required. The list of criteria for matching attributes of a request to this `RouteRule`. This list has `OR` semantics: the request matches this `RouteRule` when any of the MatchRules are satisfied. However, predicates within a given `MatchRule` have `AND` semantics. All predicates within a `MatchRule` must match for the request to match the rule. You can specify up to five match rules.",
          "type": "array",
          "items": {
            "$ref": "MatchRule"
          }
        },
        "headerAction": {
          "description": "Optional. The header actions, including adding and removing headers, for requests that match this route.",
          "$ref": "HeaderAction"
        },
        "routeAction": {
          "description": "Optional. In response to a matching path, the RouteAction performs advanced routing actions like URL rewrites, header transformations, and so forth prior to forwarding the request to the selected origin.",
          "$ref": "RouteAction"
        }
      }
    },
    "UrlRedirect": {
      "id": "UrlRedirect",
      "description": "The HTTP redirect configuration for a given request.",
      "type": "object",
      "properties": {
        "pathRedirect": {
          "description": "Optional. The path that is used in the redirect response instead of the one that was supplied in the request. `path_redirect` cannot be supplied together with prefix_redirect. Supply one alone or neither. If neither is supplied, the path of the original request is used for the redirect. The path value must be between 1 and 1024 characters.",
          "type": "string"
        },
        "prefixRedirect": {
          "description": "Optional. The prefix that replaces the prefix_match specified in the RouteRule rule, retaining the remaining portion of the URL before redirecting the request. `prefix_redirect` cannot be supplied together with path_redirect. Supply one alone or neither. If neither is supplied, the path of the original request is used for the redirect. The prefix value must be between 1 and 1024 characters.",
          "type": "string"
        },
        "hostRedirect": {
          "description": "Optional. The host that is used in the redirect response instead of the one that was supplied in the request. The value must be between 1 and 255 characters.",
          "type": "string"
        },
        "redirectResponseCode": {
          "description": "Optional. The HTTP status code to use for this redirect action. For a list of supported values, see RedirectResponseCode.",
          "type": "string",
          "enumDescriptions": [
            "`HTTP 301 (Moved Permanently)`",
            "HTTP 302 Found",
            "HTTP 303 See Other",
            "`HTTP 307 (Temporary Redirect)`. In this case, the request method is retained.",
            "`HTTP 308 (Permanent Redirect)`. In this case, the request method is retained."
          ],
          "enum": [
            "MOVED_PERMANENTLY_DEFAULT",
            "FOUND",
            "SEE_OTHER",
            "TEMPORARY_REDIRECT",
            "PERMANENT_REDIRECT"
          ]
        },
        "httpsRedirect": {
          "description": "Optional. Determines whether the URL scheme in the redirected request is adjusted to `HTTPS` or remains that of the request. If it is set to `true` and at least one edge_ssl_certificates is set on the service, the URL scheme in the redirected request is set to `HTTPS`. If it is set to `false`, the URL scheme of the redirected request remains the same as that of the request.",
          "type": "boolean"
        },
        "stripQuery": {
          "description": "Optional. Determines whether accompanying query portions of the original URL are removed prior to redirecting the request. If it is set to `true`, the accompanying query portion of the original URL is removed before redirecting the request. If it is set to `false`, the query portion of the original URL is retained. The default is `false`.",
          "type": "boolean"
        }
      }
    },
    "MatchRule": {
      "id": "MatchRule",
      "description": "A collection of match conditions (such as query, header, or URI) for a request.",
      "type": "object",
      "properties": {
        "prefixMatch": {
          "description": "Optional. To satisfy the `MatchRule` condition, the request's path must begin with the specified `prefix_match`. `prefix_match` must begin with a `\/`. The value must be between 1 and 1024 characters (inclusive). One of `prefix_match`, full_path_match, or path_template_match must be specified.",
          "type": "string"
        },
        "fullPathMatch": {
          "description": "Optional. To satisfy the `MatchRule` condition, the path of the request must exactly match the value specified in `full_path_match` after removing any query parameters and anchors that might be part of the original URL. `full_path_match` must begin with a `\/`. The value must be between 1 and 1024 characters, (inclusive). One of prefix_match, `full_path_match`, or path_template_match must be specified.",
          "type": "string"
        },
        "pathTemplateMatch": {
          "description": "Optional. To satisfy the `MatchRule` condition, the path of the request must match the wildcard pattern specified in `path_template_match` after removing any query parameters and anchors that might be part of the original URL. `path_template_match` must be between 1 and 255 characters (inclusive). The pattern specified by `path_template_match` can have at most 10 wildcard operators and 10 variable captures. One of prefix_match, full_path_match, or `path_template_match` must be specified.",
          "type": "string"
        },
        "ignoreCase": {
          "description": "Optional. Specifies that prefix_match and full_path_match matches are not case sensitive. The default value is `false`, which means that matches are case sensitive.",
          "type": "boolean"
        },
        "headerMatches": {
          "description": "Optional. A list of HeaderMatch criteria, all of which must match corresponding headers in the request. You can specify up to three headers to match on.",
          "type": "array",
          "items": {
            "$ref": "HeaderMatch"
          }
        },
        "queryParameterMatches": {
          "description": "Optional. A list of QueryParameterMatcher criteria, all of which must match corresponding query parameters in the request. You can specify up to five query parameters to match on.",
          "type": "array",
          "items": {
            "$ref": "QueryParameterMatcher"
          }
        }
      }
    },
    "HeaderMatch": {
      "id": "HeaderMatch",
      "description": "The match conditions for HTTP request headers.",
      "type": "object",
      "properties": {
        "presentMatch": {
          "description": "Optional. A header with the contents of header_name must exist. The match takes place whether or not the request's header has a value. Only one of exact_match, prefix_match, suffix_match, or `present_match` must be set.",
          "type": "boolean"
        },
        "exactMatch": {
          "description": "Optional. The value of the header must exactly match contents of `exact_match`. Only one of `exact_match`, prefix_match, suffix_match, or present_match must be set.",
          "type": "string"
        },
        "prefixMatch": {
          "description": "Optional. The value of the header must start with the contents of `prefix_match`. Only one of exact_match, `prefix_match`, suffix_match, or present_match must be set.",
          "type": "string"
        },
        "suffixMatch": {
          "description": "Optional. The value of the header must end with the contents of `suffix_match`. Only one of exact_match, prefix_match, `suffix_match`, or present_match must be set.",
          "type": "string"
        },
        "headerName": {
          "description": "Required. The header name to match on.",
          "type": "string"
        },
        "invertMatch": {
          "description": "Optional. If set to `false`, HeaderMatch is considered a match when the match criteria above are met. If set to `true`, `HeaderMatch` is considered a match when the match criteria above are not met. The default is `false`.",
          "type": "boolean"
        }
      }
    },
    "QueryParameterMatcher": {
      "id": "QueryParameterMatcher",
      "description": "The match conditions for URI query parameters.",
      "type": "object",
      "properties": {
        "presentMatch": {
          "description": "Optional. Specifies that the QueryParameterMatcher matches if the request contains the query parameter. The match can succeed as long as the request contains the query parameter, regardless of whether the parameter has a value or not. Only one of `present_match` or exact_match must be set.",
          "type": "boolean"
        },
        "exactMatch": {
          "description": "Optional. The QueryParameterMatcher matches if the value of the parameter exactly matches the contents of `exact_match`. The match value must be between 1 and 64 characters long (inclusive). Only one of present_match or `exact_match` must be set.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the query parameter to match. The query parameter must exist in the request; if it doesn't, the request match fails. The name must be specified and be between 1 and 32 characters long (inclusive).",
          "type": "string"
        }
      }
    },
    "HeaderAction": {
      "id": "HeaderAction",
      "description": "Defines the addition and removal of HTTP headers for requests and responses.",
      "type": "object",
      "properties": {
        "requestHeadersToAdd": {
          "description": "Optional. A list of headers to add to the request prior to forwarding the request to the origin. You can add a maximum of 25 request headers.",
          "type": "array",
          "items": {
            "$ref": "HeaderActionAddHeader"
          }
        },
        "responseHeadersToAdd": {
          "description": "Optional. A list of headers to add to the response before sending it back to the client. You can add a maximum of 25 response headers. Response headers are only sent to the client, and do not have an effect on the cache serving the response.",
          "type": "array",
          "items": {
            "$ref": "HeaderActionAddHeader"
          }
        },
        "requestHeadersToRemove": {
          "description": "Optional. A list of header names to remove from the request before forwarding the request to the origin. You can specify up to 25 request headers to remove.",
          "type": "array",
          "items": {
            "$ref": "HeaderActionRemoveHeader"
          }
        },
        "responseHeadersToRemove": {
          "description": "Optional. A list of headers to remove from the response before sending it back to the client. Response headers are only sent to the client, and do not have an effect on the cache serving the response. You can specify up to 25 response headers to remove.",
          "type": "array",
          "items": {
            "$ref": "HeaderActionRemoveHeader"
          }
        }
      }
    },
    "HeaderActionAddHeader": {
      "id": "HeaderActionAddHeader",
      "description": "The header to add.",
      "type": "object",
      "properties": {
        "headerName": {
          "description": "Required. The name of the header to add.",
          "type": "string"
        },
        "headerValue": {
          "description": "Required. The value of the header to add.",
          "type": "string"
        },
        "replace": {
          "description": "Optional. Specifies whether to replace all existing headers with the same name.",
          "type": "boolean"
        }
      }
    },
    "HeaderActionRemoveHeader": {
      "id": "HeaderActionRemoveHeader",
      "description": "The header to remove.",
      "type": "object",
      "properties": {
        "headerName": {
          "description": "Required. The name of the header to remove.",
          "type": "string"
        }
      }
    },
    "RouteAction": {
      "id": "RouteAction",
      "description": "The actions (such as rewrites, redirects, CORS header injection, and header modification) to take for a given route match.",
      "type": "object",
      "properties": {
        "cdnPolicy": {
          "description": "Optional. The policy to use for defining caching and signed request behavior for requests that match this route.",
          "$ref": "CDNPolicy"
        },
        "urlRewrite": {
          "description": "Optional. The URL rewrite configuration for requests that match this route.",
          "$ref": "UrlRewrite"
        },
        "corsPolicy": {
          "description": "Optional. The Cross-Origin Resource Sharing (CORS) policy for requests that match this route.",
          "$ref": "CORSPolicy"
        }
      }
    },
    "CDNPolicy": {
      "id": "CDNPolicy",
      "description": "The CDN policy to apply to the configured route.",
      "type": "object",
      "properties": {
        "cacheMode": {
          "description": "Optional. Set the CacheMode used by this route. BYPASS_CACHE and USE_ORIGIN_HEADERS proxy the origin's headers. Other cache modes pass Cache-Control to the client. Use client_ttl to override what is sent to the client.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value. Defaults to `CACHE_ALL_STATIC`.",
            "Automatically cache static content, including common image formats, media (video and audio), and web assets (JavaScript and CSS). Requests and responses that are marked as uncacheable, as well as dynamic content (including HTML), aren't cached.",
            "Only cache responses with valid HTTP caching directives. Responses without these headers aren't cached at Google's edge, and require a full trip to the origin on every request, potentially impacting performance and increasing load on the origin server.",
            "Cache all content, ignoring any `private`, `no-store` or `no-cache` directives in Cache-Control response headers. **Warning:** this might result in caching private, per-user (user identifiable) content. Only enable this on routes where the EdgeCacheOrigin doesn't serve private or dynamic content, such as storage buckets.",
            "Bypass all caching for requests that match routes with this CDNPolicy applied. Enabling this causes the edge cache to ignore all HTTP caching directives. All responses are fulfilled from the origin."
          ],
          "enum": [
            "CACHE_MODE_UNSPECIFIED",
            "CACHE_ALL_STATIC",
            "USE_ORIGIN_HEADERS",
            "FORCE_CACHE_ALL",
            "BYPASS_CACHE"
          ]
        },
        "clientTtl": {
          "description": "Optional. Specifies a separate client (such as browser client) TTL, separate from the TTL used by the edge caches. Leaving this empty uses the same cache TTL for both the CDN and the client-facing response. - The TTL must be > `0` and <= `86400s` (1 day) - The `client_ttl` cannot be larger than the default_ttl (if set) - Fractions of a second are not allowed. Omit this field to use the `default_ttl`, or the max-age set by the origin, as the client-facing TTL. When the CacheMode is set to USE_ORIGIN_HEADERS or BYPASS_CACHE, you must omit this field.",
          "type": "string",
          "format": "google-duration"
        },
        "defaultTtl": {
          "description": "Optional. Specifies the default TTL for cached content served by this origin for responses that do not have an existing valid TTL (max-age or s-max-age). Defaults to `3600s` (1 hour). - The TTL must be >= `0` and <= `31,536,000` seconds (1 year) - Setting a TTL of `0` means \"always revalidate\" (equivalent to must-revalidate) - The value of `default_ttl` cannot be set to a value greater than that of max_ttl. - Fractions of a second are not allowed. - When the CacheMode is set to FORCE_CACHE_ALL, the `default_ttl` overwrites the TTL set in all responses. Infrequently accessed objects might be evicted from the cache before the defined TTL. Objects that expire are revalidated with the origin. When the CacheMode is set to USE_ORIGIN_HEADERS or BYPASS_CACHE, you must omit this field.",
          "type": "string",
          "format": "google-duration"
        },
        "maxTtl": {
          "description": "Optional. The maximum allowed TTL for cached content served by this origin. Defaults to `86400s` (1 day). Cache directives that attempt to set a max-age or s-maxage higher than this, or an Expires header more than `max_ttl` seconds in the future are capped at the value of `max_ttl`, as if it were the value of an s-maxage Cache-Control directive. - The TTL must be >= `0` and <= `31,536,000` seconds (1 year) - Setting a TTL of `0` means \"always revalidate\" - The value of `max_ttl` must be equal to or greater than default_ttl. - Fractions of a second are not allowed. When CacheMode is set to [USE_ORIGIN_HEADERS].[CacheMode.USE_ORIGIN_HEADERS], FORCE_CACHE_ALL, or BYPASS_CACHE, you must omit this field.",
          "type": "string",
          "format": "google-duration"
        },
        "cacheKeyPolicy": {
          "description": "Optional. The request parameters that contribute to the cache key.",
          "$ref": "CDNPolicyCacheKeyPolicy"
        },
        "negativeCaching": {
          "description": "Optional. Negative caching allows setting per-status code TTLs, in order to apply fine-grained caching for common errors or redirects. This can reduce the load on your origin and improve end-user experience by reducing response latency. By default, the CDNPolicy applies the following default TTLs to these status codes: - **10m**: HTTP 300 (Multiple Choice), 301, 308 (Permanent Redirects) - **120s**: HTTP 404 (Not Found), 410 (Gone), 451 (Unavailable For Legal Reasons) - **60s**: HTTP 405 (Method Not Found), 501 (Not Implemented) These defaults can be overridden in negative_caching_policy",
          "type": "boolean"
        },
        "negativeCachingPolicy": {
          "description": "Optional. A cache TTL for the specified HTTP status code. negative_caching must be enabled to configure `negative_caching_policy`. The following limitations apply: - Omitting the policy and leaving `negative_caching` enabled uses the default TTLs for each status code, defined in `negative_caching`. - TTLs must be >= `0` (where `0` is \"always revalidate\") and <= `86400s` (1 day) Only the following status codes can be set: - HTTP redirection (3xx) - Client error (4xx) - Server error (5xx) When you specify an explicit `negative_caching_policy`, ensure that you also specify a cache TTL for all response codes that you wish to cache. The CDNPolicy doesn't apply any default negative caching when a policy exists.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "google-duration"
          }
        },
        "signedRequestMode": {
          "description": "Optional. Specifies whether to enforce signed requests. The default value is DISABLED, which means all content is public, and does not authorize access. You must also set a signed_request_keyset to enable signed requests. When set to REQUIRE_SIGNATURES or REQUIRE_TOKENS, all matching requests get their signature validated. Requests that aren't signed with the corresponding private key, or that are otherwise invalid (such as expired or do not match the signature, IP address, or header) are rejected with an HTTP 403 error. If logging is turned on, then invalid requests are also logged.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value. Defaults to `DISABLED`.",
            "Do not enforce signed requests.",
            "Enforce signed requests using query parameter, path component, or cookie signatures. All requests must have a valid signature. Requests that are missing the signature (URL or cookie-based) are rejected as if the signature was invalid.",
            "Enforce signed requests using signed tokens. All requests must have a valid signed token. Requests that are missing a signed token (URL or cookie-based) are rejected as if the signed token was invalid."
          ],
          "enum": [
            "SIGNED_REQUEST_MODE_UNSPECIFIED",
            "DISABLED",
            "REQUIRE_SIGNATURES",
            "REQUIRE_TOKENS"
          ]
        },
        "signedRequestKeyset": {
          "description": "Optional. The EdgeCacheKeyset containing the set of public keys used to validate signed requests at the edge. The following are both valid paths to an `EdgeCacheKeyset` resource: * `projects\/project\/locations\/global\/edgeCacheKeysets\/yourKeyset` * `yourKeyset` SignedRequestMode must be set to a value other than DISABLED when a keyset is provided.",
          "type": "string"
        },
        "signedTokenOptions": {
          "description": "Optional. Any additional options for signed tokens. `signed_token_options` can only be specified when `signed_request_mode` is `REQUIRE_TOKENS`.",
          "$ref": "CDNPolicySignedTokenOptions"
        },
        "addSignatures": {
          "description": "Optional. Enables signature generation or propagation on this route. This field can only be specified when signed_request_mode is set to REQUIRE_TOKENS.",
          "$ref": "CDNPolicyAddSignaturesOptions"
        },
        "signedRequestMaximumExpirationTtl": {
          "description": "Optional. Limits how far into the future the expiration time of a signed request can be. When set, a signed request is rejected if its expiration time is later than `now` + `signed_request_maximum_expiration_ttl`, where `now` is the time at which the signed request is first handled by the CDN. - The TTL must be > 0. - Fractions of a second are not allowed. By default, `signed_request_maximum_expiration_ttl` is not set and the expiration time of a signed request might be arbitrarily far into future.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "CDNPolicyCacheKeyPolicy": {
      "id": "CDNPolicyCacheKeyPolicy",
      "description": "The request parameters that contribute to the cache key.",
      "type": "object",
      "properties": {
        "includeProtocol": {
          "description": "Optional. If `true`, HTTP and HTTPS requests are cached separately.",
          "type": "boolean"
        },
        "excludeQueryString": {
          "description": "Optional. If `true`, exclude query string parameters from the cache key. If `false` (the default), include the query string parameters in the cache key according to included_query_parameters and excluded_query_parameters. If neither is set, the entire query string is included.",
          "type": "boolean"
        },
        "excludeHost": {
          "description": "Optional. If `true`, requests to different hosts are cached separately. **Important:** Enable this only if the hosts share the same origin and content. Removing the host from the cache key might inadvertently result in different objects being cached than intended, depending on which route the first user matched.",
          "type": "boolean"
        },
        "includedQueryParameters": {
          "description": "Optional. The names of query string parameters to include in cache keys. All other parameters are excluded. Specify either included_query_parameters or excluded_query_parameters, not both. `&` and `=` are percent encoded and not treated as delimiters. You can include up to 20 query parameters. Each query parameter name must be between 1 and 32 characters long (inclusive).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedQueryParameters": {
          "description": "Optional. The names of query string parameters to exclude from cache keys. All other parameters are included. Specify either included_query_parameters or excluded_query_parameters, not both. `&` and `=` are percent encoded and not treated as delimiters. You can exclude up to 20 query parameters. Each query parameter name must be between 1 and 32 characters long (inclusive).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includedHeaderNames": {
          "description": "Optional. The names of HTTP request headers to include in cache keys. The value of the header field is used as part of the cache key. The following limitations apply: - Header names must be valid HTTP RFC 7230 header field values. - Header field names are case insensitive - You can specify up to five header names. - To include the HTTP method, use `:method` Refer to the documentation for the allowed list of header names. Specifying several headers or headers that have a large range of values, such as per-user, dramatically impacts the cache hit rate, and might result in a higher eviction rate and reduced performance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includedCookieNames": {
          "description": "Optional. The names of cookies to include in cache keys. The cookie name and cookie value of each cookie named is used as part of the cache key. The following limitations apply: - Must be valid RFC 6265 \"cookie-name\" tokens - Are case sensitive - Cannot start with \"Edge-Cache-\" (case insensitive) Specifying several cookies or cookies that have a large range of values, such as per-user, dramatically impacts the cache hit rate, and might result in a higher eviction rate and reduced performance. You can specify up to three cookie names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CDNPolicySignedTokenOptions": {
      "id": "CDNPolicySignedTokenOptions",
      "description": "The configuration options for signed tokens.",
      "type": "object",
      "properties": {
        "tokenQueryParameter": {
          "description": "Optional. The query parameter in which to find the token. The name must be 1-64 characters long and match the regular expression `[a-zA-Z]([a-zA-Z0-9_-])*` which means the first character must be a letter, and all following characters must be a dash, underscore, letter or digit. Defaults to `edge-cache-token`.",
          "type": "string"
        },
        "allowedSignatureAlgorithms": {
          "description": "Optional. The allowed signature algorithms to use. Defaults to using only ED25519. You can specify up to 3 signature algorithms to use.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "It is an error to specify ALGORITHM_UNSPECIFIED.",
              "Use an Ed25519 signature scheme. The signature must be specified in the signature field of the token.",
              "Use an HMAC based on a SHA-256 hash. The HMAC must be specified in the hmac field of the token.",
              "Use an HMAC based on a SHA1 hash. The HMAC must be specified in the hmac field of the token."
            ],
            "enum": [
              "SIGNATURE_ALGORITHM_UNSPECIFIED",
              "ED25519",
              "HMAC_SHA_256",
              "HMAC_SHA1"
            ]
          }
        }
      }
    },
    "CDNPolicyAddSignaturesOptions": {
      "id": "CDNPolicyAddSignaturesOptions",
      "description": "The configuration options for adding signatures to responses.",
      "type": "object",
      "properties": {
        "actions": {
          "description": "Required. The actions to take to add signatures to responses. You must specify exactly one action.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "It is an error to specify `UNSPECIFIED`.",
              "Generate a new signed request cookie and return the cookie in a Set-Cookie header of the response. This action cannot be combined with the `PROPAGATE_TOKEN_HLS_COOKIELESS` action.",
              "Generate a new signed request authentication token and return the new token by manipulating URLs in an HTTP Live Stream (HLS) playlist. This action cannot be combined with the `PROPAGATE_TOKEN_HLS_COOKIELESS` action.",
              "Copy the authentication token used in the request to the URLs in an HTTP Live Stream (HLS) playlist. This action cannot be combined with either the `GENERATE_COOKIE` action or the `GENERATE_TOKEN_HLS_COOKIELESS` action."
            ],
            "enum": [
              "SIGNATURE_ACTION_UNSPECIFIED",
              "GENERATE_COOKIE",
              "GENERATE_TOKEN_HLS_COOKIELESS",
              "PROPAGATE_TOKEN_HLS_COOKIELESS"
            ]
          }
        },
        "keyset": {
          "description": "Optional. The keyset to use for signature generation. The following are both valid paths to an EdgeCacheKeyset resource: * `projects\/project\/locations\/global\/edgeCacheKeysets\/yourKeyset` * `yourKeyset` This must be specified when the `GENERATE_COOKIE` or `GENERATE_TOKEN_HLS_COOKIELESS` actions are specified. This field can not be specified otherwise.",
          "type": "string"
        },
        "tokenTtl": {
          "description": "Optional. The duration the token is valid for starting from the moment the token is first generated. Defaults to `86400s` (1 day). The TTL must be >= 0 and <= 604,800 seconds (1 week). This field can only be specified when the `GENERATE_COOKIE` or `GENERATE_TOKEN_HLS_COOKIELESS` actions are specified.",
          "type": "string",
          "format": "google-duration"
        },
        "tokenQueryParameter": {
          "description": "Optional. The query parameter in which to put the generated token. If not specified, defaults to `edge-cache-token`. If specified, the name must be 1-64 characters long and match the regular expression `[a-zA-Z]([a-zA-Z0-9_-])*` which means the first character must be a letter, and all following characters must be a dash, underscore, letter or digit. This field can only be set when the `GENERATE_TOKEN_HLS_COOKIELESS` or `PROPAGATE_TOKEN_HLS_COOKIELESS` actions are specified.",
          "type": "string"
        },
        "copiedParameters": {
          "description": "Optional. The parameters to copy from the verified token to the generated token. Only the following parameters can be copied: * `PathGlobs` * `paths` * `acl` * `URLPrefix` * `IPRanges` * `SessionID` * `id` * `Data` * `data` * `payload` * `Headers` You can specify up to 6 parameters to copy. A given parameter is be copied only if the parameter exists in the verified token. Parameter names are matched exactly as specified. The order of the parameters does not matter. Duplicates are not allowed. This field can only be specified when the `GENERATE_COOKIE` or `GENERATE_TOKEN_HLS_COOKIELESS` actions are specified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UrlRewrite": {
      "id": "UrlRewrite",
      "description": "Defines the URL rewrite configuration for a given request.",
      "type": "object",
      "properties": {
        "pathPrefixRewrite": {
          "description": "Optional. Before forwarding the request to the selected origin, the matching portion of the request's path is replaced by `path_prefix_rewrite`. If specified, the path value must start with a `\/` and be between 1 and 1024 characters long (inclusive). `path_prefix_rewrite` can only be used when all of a route's match_rules specify prefix_match or full_path_match. Only one of `path_prefix_rewrite` and path_template_rewrite can be specified.",
          "type": "string"
        },
        "pathTemplateRewrite": {
          "description": "Optional. Before forwarding the request to the selected origin, if the request matched a path_template_match, the matching portion of the request's path is replaced re-written using the pattern specified by `path_template_rewrite`. `path_template_rewrite` must be between 1 and 255 characters (inclusive), must start with a `\/`, and must only use variables captured by the route's `path_template_match`. `path_template_rewrite` can only be used when all of a route's match_rules specify `path_template_match`. Only one of path_prefix_rewrite and `path_template_rewrite` can be specified.",
          "type": "string"
        },
        "hostRewrite": {
          "description": "Optional. Before forwarding the request to the selected origin, the request's host header is replaced with contents of `host_rewrite`. The host value must be between 1 and 255 characters.",
          "type": "string"
        }
      }
    },
    "CORSPolicy": {
      "id": "CORSPolicy",
      "description": "Defines Cross Origin Resource Sharing (CORS) configuration, including which CORS response headers are set.",
      "type": "object",
      "properties": {
        "maxAge": {
          "description": "Required. Specifies how long results of a preflight request can be cached by a client in seconds. Note that many browser clients enforce a maximum TTL of 600s (10 minutes). The following limitations apply: - Setting the value to `-1` forces a pre-flight check for all requests (not recommended) - A maximum TTL of `86400s` can be set; however, some clients might force pre-flight checks at a more regular interval. This translates to the `Access-Control-Max-Age` header.",
          "type": "string",
          "format": "google-duration"
        },
        "allowCredentials": {
          "description": "Optional. In response to a preflight request, setting this to `true` indicates that the actual request can include user credentials. This translates to the `Access-Control-Allow-Credentials` response header.",
          "type": "boolean"
        },
        "allowOrigins": {
          "description": "Optional. A list of origins that are allowed to do CORS requests. This translates to the `Access-Control-Allow-Origin` response header. You can specify up to 25 allowed origins.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowMethods": {
          "description": "Optional. The content for the `Access-Control-Allow-Methods` response header. You can specify up to five allowed methods.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowHeaders": {
          "description": "Optional. The content for the `Access-Control-Allow-Headers` response header. You can specify up to 25 headers to include in the `Access-Control-Allow-Headers` header.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exposeHeaders": {
          "description": "Optional. The content for the Access-Control-Expose-Headers response header. You can specify up to 25 headers to expose in the `Access-Control-Expose-Headers` header.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "description": "Optional. If `true`, specifies that the CORS policy is disabled. The default value is `false`, which indicates that the CORS policy is in effect.",
          "type": "boolean"
        }
      }
    },
    "LogConfig": {
      "id": "LogConfig",
      "description": "The logging options for the traffic served by this service. If logging is enabled, logs are exported to Cloud Logging.",
      "type": "object",
      "properties": {
        "enable": {
          "description": "Optional. Specifies whether to enable logging for traffic served by this service. Defaults to false.",
          "type": "boolean"
        },
        "sampleRate": {
          "description": "Optional. The sampling rate of requests, where `1.0` means all logged requests are reported and `0.0` means no logged requests are reported. The default value is `0.0`, and the value of the field must be in `[0, 1]`. This field can be specified only if logging is enabled for this service.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "InvalidateCacheRequest": {
      "id": "InvalidateCacheRequest",
      "description": "The request used by the `InvalidateCache` method.",
      "type": "object",
      "properties": {
        "host": {
          "description": "The hostname to invalidate against. You can specify an exact or wildcard host based on the host component. For example, `video.example.com` or `*.example.com`.",
          "type": "string"
        },
        "path": {
          "description": "The path to invalidate against. You can specify an exact or wildcard path based on the a path component. For example, `\/videos\/hls\/139123.mp4` or `\/manifests\/*`.",
          "type": "string"
        },
        "cacheTags": {
          "description": "A list of cache tags used to identify cached objects. Cache tags are specified when the response is first cached, by setting the `Cache-Tag` response header at the origin. By default, all objects have a cache tag representing the HTTP status code of the response, the MIME content-type, and the origin. Multiple cache tags in the same revalidation request are treated as Boolean `OR` - for example, `tag1 OR tag2 OR tag3`. If a host and path are also specified, these are treated as Boolean `AND` with any tags. Up to 10 tags can be specified in a single invalidation request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InvalidateCacheResponse": {
      "id": "InvalidateCacheResponse",
      "description": "The response used by the `InvalidateCache` method.",
      "type": "object",
      "properties": {
      }
    },
    "ListGatewaysResponse": {
      "id": "ListGatewaysResponse",
      "description": "Response returned by the ListGateways method.",
      "type": "object",
      "properties": {
        "gateways": {
          "description": "List of Gateway resources.",
          "type": "array",
          "items": {
            "$ref": "Gateway"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "Gateway": {
      "id": "Gateway",
      "description": "Gateway represents the configuration for a proxy, typically a load balancer. It captures the ip:port over which the services are exposed by the proxy, along with any policy configurations. Routes have reference to to Gateways to dictate how requests should be routed by this Gateway.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the Gateway resource. It matches pattern `projects\/*\/locations\/*\/gateways\/`.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the Gateway resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "type": {
          "description": "Immutable. The type of the customer managed gateway. This field is required. If unspecified, an error is returned.",
          "type": "string",
          "enumDescriptions": [
            "The type of the customer managed gateway is unspecified.",
            "The type of the customer managed gateway is TrafficDirector Open Mesh.",
            "The type of the customer managed gateway is SecureWebGateway (SWG)."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "OPEN_MESH",
            "SECURE_WEB_GATEWAY"
          ]
        },
        "addresses": {
          "description": "Optional. Zero or one IPv4-address on which the Gateway will receive the traffic. When no address is provided, an IP from the subnetwork is allocated This field only applies to gateways of type 'SECURE_WEB_GATEWAY'. Gateways of type 'OPEN_MESH' listen on 0.0.0.0.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ports": {
          "description": "Required. One or more port numbers (1-65535), on which the Gateway will receive traffic. The proxy binds to the specified ports. Gateways of type 'SECURE_WEB_GATEWAY' are limited to 1 port. Gateways of type 'OPEN_MESH' listen on 0.0.0.0 and support multiple ports.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "scope": {
          "description": "Optional. Scope determines how configuration across multiple Gateway instances are merged. The configuration for multiple Gateway instances with the same scope will be merged as presented as a single coniguration to the proxy\/load balancer. Max length 64 characters. Scope should start with a letter and can only have letters, numbers, hyphens.",
          "type": "string"
        },
        "serverTlsPolicy": {
          "description": "Optional. A fully-qualified ServerTLSPolicy URL reference. Specifies how TLS traffic is terminated. If empty, TLS termination is disabled.",
          "type": "string"
        },
        "authorizationPolicy": {
[...]
