{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "networkservices:v1beta1",
  "name": "networkservices",
  "canonicalName": "NetworkServices",
  "version": "v1beta1",
  "revision": "0",
  "title": "Network Services API",
  "description": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/networking",
  "protocol": "rest",
  "rootUrl": "https://networkservices.googleapis.com/",
  "mtlsRootUrl": "https://networkservices.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://networkservices.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "ListEndpointPoliciesResponse": {
      "id": "ListEndpointPoliciesResponse",
      "description": "Response returned by the ListEndpointPolicies method.",
      "type": "object",
      "properties": {
        "endpointPolicies": {
          "description": "List of EndpointPolicy resources.",
          "type": "array",
          "items": {
            "$ref": "EndpointPolicy"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "EndpointPolicy": {
      "id": "EndpointPolicy",
      "description": "EndpointPolicy is a resource that helps apply desired configuration on the endpoints that match specific criteria. For example, this resource can be used to apply \"authentication config\" an all endpoints that serve on port 8080.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the EndpointPolicy resource. It matches pattern `projects\/{project}\/locations\/global\/endpointPolicies\/{endpoint_policy}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the EndpointPolicy resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "description": "Required. The type of endpoint policy. This is primarily used to validate the configuration.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Must not be used.",
            "Represents a proxy deployed as a sidecar.",
            "Represents a proxyless gRPC backend."
          ],
          "enum": [
            "ENDPOINT_POLICY_TYPE_UNSPECIFIED",
            "SIDECAR_PROXY",
            "GRPC_SERVER"
          ]
        },
        "authentication": {
          "description": "Optional. [Deprecated] Use serverTlsPolicy and clientTlsPolicy instead.",
          "type": "string"
        },
        "authorizationPolicy": {
          "description": "Optional. This field specifies the URL of AuthorizationPolicy resource that applies authorization policies to the inbound traffic at the matched endpoints. Refer to Authorization. If this field is not specified, authorization is disabled(no authz checks) for this endpoint.",
          "type": "string"
        },
        "endpointMatcher": {
          "description": "Required. A matcher that selects endpoints to which the policies should be applied.",
          "$ref": "EndpointMatcher"
        },
        "trafficPortSelector": {
          "description": "Optional. Port selector for the (matched) endpoints. If no port selector is provided, the matched config is applied to all ports.",
          "$ref": "TrafficPortSelector"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "serverTlsPolicy": {
          "description": "Optional. A URL referring to ServerTlsPolicy resource. ServerTlsPolicy is used to determine the authentication policy to be applied to terminate the inbound traffic at the identified backends. If this field is not set, authentication is disabled(open) for this endpoint.",
          "type": "string"
        },
        "clientTlsPolicy": {
          "description": "Optional. A URL referring to a ClientTlsPolicy resource. ClientTlsPolicy can be set to specify the authentication for traffic from the proxy to the actual endpoints. More specifically, it is applied to the outgoing traffic from the proxy to the endpoint. This is typically used for sidecar model where the proxy identifies itself as endpoint to the control plane, with the connection between sidecar and endpoint requiring authentication. If this field is not set, authentication is disabled(open). Applicable only when EndpointPolicyType is SIDECAR_PROXY.",
          "type": "string"
        }
      }
    },
    "EndpointMatcher": {
      "id": "EndpointMatcher",
      "description": "A definition of a matcher that selects endpoints to which the policies should be applied.",
      "type": "object",
      "properties": {
        "metadataLabelMatcher": {
          "description": "The matcher is based on node metadata presented by xDS clients.",
          "$ref": "MetadataLabelMatcher"
        }
      }
    },
    "MetadataLabelMatcher": {
      "id": "MetadataLabelMatcher",
      "description": "The matcher that is based on node metadata presented by xDS clients.",
      "type": "object",
      "properties": {
        "metadataLabelMatchCriteria": {
          "description": "Specifies how matching should be done. Supported values are: MATCH_ANY: At least one of the Labels specified in the matcher should match the metadata presented by xDS client. MATCH_ALL: The metadata presented by the xDS client should contain all of the labels specified here. The selection is determined based on the best match. For example, suppose there are three EndpointPolicy resources P1, P2 and P3 and if P1 has a the matcher as MATCH_ANY , P2 has MATCH_ALL , and P3 has MATCH_ALL . If a client with label connects, the config from P1 will be selected. If a client with label connects, the config from P2 will be selected. If a client with label connects, the config from P3 will be selected. If there is more than one best match, (for example, if a config P4 with selector exists and if a client with label connects), an error will be thrown.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "At least one of the Labels specified in the matcher should match the metadata presented by xDS client.",
            "The metadata presented by the xDS client should contain all of the labels specified here."
          ],
          "enum": [
            "METADATA_LABEL_MATCH_CRITERIA_UNSPECIFIED",
            "MATCH_ANY",
            "MATCH_ALL"
          ]
        },
        "metadataLabels": {
          "description": "The list of label value pairs that must match labels in the provided metadata based on filterMatchCriteria This list can have at most 64 entries. The list can be empty if the match criteria is MATCH_ANY, to specify a wildcard match (i.e this matches any client).",
          "type": "array",
          "items": {
            "$ref": "MetadataLabels"
          }
        }
      }
    },
    "MetadataLabels": {
      "id": "MetadataLabels",
      "description": "Defines a name-pair value for a single label.",
      "type": "object",
      "properties": {
        "labelName": {
          "description": "Required. Label name presented as key in xDS Node Metadata.",
          "type": "string"
        },
        "labelValue": {
          "description": "Required. Label value presented as value corresponding to the above key, in xDS Node Metadata.",
          "type": "string"
        }
      }
    },
    "TrafficPortSelector": {
      "id": "TrafficPortSelector",
      "description": "Specification of a port-based selector.",
      "type": "object",
      "properties": {
        "ports": {
          "description": "Optional. A list of ports. Can be port numbers or port range (example, [80-90] specifies all ports from 80 to 90, including 80 and 90) or named ports or * to specify all ports. If the list is empty, all ports are selected.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InvalidateCacheRequest": {
      "id": "InvalidateCacheRequest",
      "description": "Request used by the `InvalidateCache` method.",
      "type": "object",
      "properties": {
        "host": {
          "description": "The hostname to invalidate against. You can specify an exact or wildcard host based on the host component. For example, `video.example.com` or `*.example.com`.",
          "type": "string"
        },
        "path": {
          "description": "The path to invalidate against. You can specify an exact or wildcard path based on the a path component. For example, `\/videos\/hls\/139123.mp4` or `\/manifests\/*`.",
          "type": "string"
        },
        "cacheTags": {
          "description": "A list of cache tags used to identify cached objects. Cache tags are specified when the response is first cached, by setting the \"Cache-Tag\" response header at the origin. By default, all objects have a cache tag representing the HTTP status code of the response, the MIME content-type, and the origin. Multiple cache tags in the same revalidation request are treated as Boolean `OR` - for example, `tag1 OR tag2 OR tag3`. If a host and \/ or path are also specified, these are treated as Boolean `AND` with any tags. Up to 10 tags may be specified in a single invalidation request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InvalidateCacheResponse": {
      "id": "InvalidateCacheResponse",
      "description": "Response used by the InvalidateCache method.",
      "type": "object",
      "properties": {
      }
    },
    "ListGatewaysResponse": {
      "id": "ListGatewaysResponse",
      "description": "Response returned by the ListGateways method.",
      "type": "object",
      "properties": {
        "gateways": {
          "description": "List of Gateway resources.",
          "type": "array",
          "items": {
            "$ref": "Gateway"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "Gateway": {
      "id": "Gateway",
      "description": "Gateway represents the configuration for a proxy, typically a load balancer. It captures the ip:port over which the services are exposed by the proxy, along with any policy configurations. Routes have reference to to Gateways to dictate how requests should be routed by this Gateway.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the Gateway resource. It matches pattern `projects\/*\/locations\/*\/gateways\/`.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the Gateway resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "type": {
          "description": "Immutable. The type of the customer managed gateway. This field is required. If unspecified, an error is returned.",
          "type": "string",
          "enumDescriptions": [
            "The type of the customer managed gateway is unspecified.",
            "The type of the customer managed gateway is TrafficDirector Open Mesh.",
            "The type of the customer managed gateway is SecureWebGateway (SWG)."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "OPEN_MESH",
            "SECURE_WEB_GATEWAY"
          ]
        },
        "addresses": {
          "description": "Zero or one IPv4-address on which the Gateway will receive the traffic. When no address is provided, an IP from the subnetwork is allocated This field only applies to gateways of type 'SECURE_WEB_GATEWAY'. Gateways of type 'OPEN_MESH' listen on 0.0.0.0.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ports": {
          "description": "Required. One or more port numbers (1-65535), on which the Gateway will receive traffic. The proxy binds to the specified ports. Gateways of type 'SECURE_WEB_GATEWAY' are limited to 1 port. Gateways of type 'OPEN_MESH' listen on 0.0.0.0 and support multiple ports.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "scope": {
          "description": "Required. Immutable. Scope determines how configuration across multiple Gateway instances are merged. The configuration for multiple Gateway instances with the same scope will be merged as presented as a single coniguration to the proxy\/load balancer. Max length 64 characters. Scope should start with a letter and can only have letters, numbers, hyphens.",
          "type": "string"
        },
        "serverTlsPolicy": {
          "description": "Optional. A fully-qualified ServerTLSPolicy URL reference. Specifies how TLS traffic is terminated. If empty, TLS termination is disabled.",
          "type": "string"
        },
        "authorizationPolicy": {
          "description": "Optional. A fully-qualified AuthorizationPolicy URL reference. Specifies how traffic is authorized. If empty, authorization checks are disabled.",
          "type": "string"
        },
        "certificateUrls": {
          "description": "Optional. A fully-qualified Certificates URL reference. The proxy presents a Certificate (selected based on SNI) when establishing a TLS connection. This feature only applies to gateways of type 'SECURE_WEB_GATEWAY'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "securityPolicy": {
          "description": "Optional. A fully-qualified SecurityPolicy URL reference. Defines how a server should apply security policy to inbound (VM to Proxy) initiated connections. This policy is specific to gateways of type 'SECURE_WEB_GATEWAY'.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The relative resource name identifying the VPC network that is using this configuration. For example: `projects\/*\/global\/networks\/network-1`. Currently, this field is specific to gateways of type 'SECURE_WEB_GATEWAY'.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Optional. The relative resource name identifying the subnetwork in which this SWG is allocated. For example: `projects\/*\/regions\/us-central1\/subnetworks\/network-1` Currently, this field is specific to gateways of type 'SECURE_WEB_GATEWAY\".",
          "type": "string"
        }
      }
    },
    "ListGrpcRoutesResponse": {
      "id": "ListGrpcRoutesResponse",
      "description": "Response returned by the ListGrpcRoutes method.",
      "type": "object",
      "properties": {
        "grpcRoutes": {
          "description": "List of GrpcRoute resources.",
          "type": "array",
          "items": {
            "$ref": "GrpcRoute"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "GrpcRoute": {
      "id": "GrpcRoute",
      "description": "GrpcRoute is the resource defining how gRPC traffic routed by a Mesh or Gateway resource is routed.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the GrpcRoute resource. It matches pattern `projects\/*\/locations\/global\/grpcRoutes\/`",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the GrpcRoute resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "hostnames": {
          "description": "Required. Service hostnames with an optional port for which this route describes traffic. Format: [:] Hostname is the fully qualified domain name of a network host. This matches the RFC 1123 definition of a hostname with 2 notable exceptions: - IPs are not allowed. - A hostname may be prefixed with a wildcard label (*.). The wildcard label must appear by itself as the first label. Hostname can be \"precise\" which is a domain name without the terminating dot of a network host (e.g. \"foo.example.com\") or \"wildcard\", which is a domain name prefixed with a single wildcard label (e.g. *.example.com). Note that as per RFC1035 and RFC1123, a label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character. No other punctuation is allowed. The routes associated with a Mesh or Gateway must have unique hostnames. If you attempt to attach multiple routes with conflicting hostnames, the configuration will be rejected. For example, while it is acceptable for routes for the hostnames \"*.foo.bar.com\" and \"*.bar.com\" to be associated with the same route, it is not possible to associate two routes both with \"*.bar.com\" or both with \"bar.com\". If a port is specified, then gRPC clients must use the channel URI with the port to match this rule (i.e. \"xds:\/\/\/service:123\"), otherwise they must supply the URI without a port (i.e. \"xds:\/\/\/service\").",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "routers": {
          "description": "Optional. Routers define a list of routers this GrpcRoute should be served by. Each router reference should match the pattern: `projects\/*\/locations\/global\/routers\/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "meshes": {
          "description": "Optional. Meshes defines a list of meshes this GrpcRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects\/*\/locations\/global\/meshes\/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gateways": {
          "description": "Optional. Gateways defines a list of gateways this GrpcRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects\/*\/locations\/global\/gateways\/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rules": {
          "description": "Required. A list of detailed rules defining how to route traffic. Within a single GrpcRoute, the GrpcRoute.RouteAction associated with the first matching GrpcRoute.RouteRule will be executed. At least one rule must be supplied.",
          "type": "array",
          "items": {
            "$ref": "GrpcRouteRouteRule"
          }
        }
      }
    },
    "GrpcRouteRouteRule": {
      "id": "GrpcRouteRouteRule",
      "description": "Describes how to route traffic.",
      "type": "object",
      "properties": {
        "matches": {
          "description": "Optional. Matches define conditions used for matching the rule against incoming gRPC requests. Each match is independent, i.e. this rule will be matched if ANY one of the matches is satisfied. If no matches field is specified, this rule will unconditionally match traffic.",
          "type": "array",
          "items": {
            "$ref": "GrpcRouteRouteMatch"
          }
        },
        "action": {
          "description": "Required. A detailed rule defining how to route traffic. This field is required.",
          "$ref": "GrpcRouteRouteAction"
        }
      }
    },
    "GrpcRouteRouteMatch": {
      "id": "GrpcRouteRouteMatch",
      "description": "Criteria for matching traffic. A RouteMatch will be considered to match when all supplied fields match.",
      "type": "object",
      "properties": {
        "method": {
          "description": "Optional. A gRPC method to match against. If this field is empty or omitted, will match all methods.",
          "$ref": "GrpcRouteMethodMatch"
        },
        "headers": {
          "description": "Optional. Specifies a collection of headers to match.",
          "type": "array",
          "items": {
            "$ref": "GrpcRouteHeaderMatch"
          }
        }
      }
    },
    "GrpcRouteMethodMatch": {
      "id": "GrpcRouteMethodMatch",
      "description": "Specifies a match against a method.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. Specifies how to match against the name. If not specified, a default value of \"EXACT\" is used.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Will only match the exact name provided.",
            "Will interpret grpc_method and grpc_service as regexes. RE2 syntax is supported."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXACT",
            "REGULAR_EXPRESSION"
          ]
        },
        "grpcService": {
          "description": "Required. Name of the service to match against. If unspecified, will match all services.",
          "type": "string"
        },
        "grpcMethod": {
          "description": "Required. Name of the method to match against. If unspecified, will match all methods.",
          "type": "string"
        },
        "caseSensitive": {
          "description": "Optional. Specifies that matches are case sensitive. The default value is true. case_sensitive must not be used with a type of REGULAR_EXPRESSION.",
          "type": "boolean"
        }
      }
    },
    "GrpcRouteHeaderMatch": {
      "id": "GrpcRouteHeaderMatch",
      "description": "A match against a collection of headers.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. Specifies how to match against the value of the header. If not specified, a default value of EXACT is used.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Will only match the exact value provided.",
            "Will match paths conforming to the prefix specified by value. RE2 syntax is supported."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXACT",
            "REGULAR_EXPRESSION"
          ]
        },
        "key": {
          "description": "Required. The key of the header.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the header.",
          "type": "string"
        }
      }
    },
    "GrpcRouteRouteAction": {
      "id": "GrpcRouteRouteAction",
      "description": "Specifies how to route matched traffic.",
      "type": "object",
      "properties": {
        "destinations": {
          "description": "Optional. The destination services to which traffic should be forwarded. If multiple destinations are specified, traffic will be split between Backend Service(s) according to the weight field of these destinations.",
          "type": "array",
          "items": {
            "$ref": "GrpcRouteDestination"
          }
        },
        "faultInjectionPolicy": {
          "description": "Optional. The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced on a percentage of requests before sending those requests to the destination service. Similarly requests from clients can be aborted by for a percentage of requests. timeout and retry_policy will be ignored by clients that are configured with a fault_injection_policy",
          "$ref": "GrpcRouteFaultInjectionPolicy"
        },
        "requestHeaderModifier": {
          "description": "Optional. The specification for modifying the headers of a matching request prior to delivery of the request to the destination.",
          "$ref": "GrpcRouteHeaderModifier"
        },
        "responseHeaderModifier": {
          "description": "Optional. The specification for modifying the headers of a response prior to sending the response back to the client.",
          "$ref": "GrpcRouteHeaderModifier"
        },
        "urlRewrite": {
          "description": "Optional. The specification for rewrite URL before forwarding requests to the destination.",
          "$ref": "GrpcRouteURLRewrite"
        },
        "timeout": {
          "description": "Optional. Specifies the timeout for selected route. Timeout is computed from the time the request has been fully processed (i.e. end of stream) up until the response has been completely processed. Timeout includes all retries.",
          "type": "string",
          "format": "google-duration"
        },
        "retryPolicy": {
          "description": "Optional. Specifies the retry policy associated with this route.",
          "$ref": "GrpcRouteRetryPolicy"
        },
        "requestMirrorPolicy": {
          "description": "Optional. Specifies the policy on how requests intended for the route's destination are mirrored to a separate mirrored destination. The proxy will not wait for the mirrored destination to respond before returning the response. Prior to sending traffic to the mirrored service, the host \/ authority header is suffixed with -shadow.",
          "$ref": "GrpcRouteRequestMirrorPolicy"
        }
      }
    },
    "GrpcRouteDestination": {
      "id": "GrpcRouteDestination",
      "description": "The destination to which traffic will be routed.",
      "type": "object",
      "properties": {
        "serviceName": {
          "description": "Required. The URL of a destination service to which to route traffic. Must refer to either a BackendService or ServiceDirectoryService.",
          "type": "string"
        },
        "weight": {
          "description": "Optional. Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: weight\/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GrpcRouteFaultInjectionPolicy": {
      "id": "GrpcRouteFaultInjectionPolicy",
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced on a percentage of requests before sending those requests to the destination service. Similarly requests from clients can be aborted by for a percentage of requests.",
      "type": "object",
      "properties": {
        "delay": {
          "description": "The specification for injecting delay to client requests.",
          "$ref": "GrpcRouteFaultInjectionPolicyDelay"
        },
        "abort": {
          "description": "The specification for aborting to client requests.",
          "$ref": "GrpcRouteFaultInjectionPolicyAbort"
        }
      }
    },
    "GrpcRouteFaultInjectionPolicyDelay": {
      "id": "GrpcRouteFaultInjectionPolicyDelay",
      "description": "Specification of how client requests are delayed as part of fault injection before being sent to a destination.",
      "type": "object",
      "properties": {
        "fixedDelay": {
          "description": "Specify a fixed delay before forwarding the request.",
          "type": "string",
          "format": "google-duration"
        },
        "percentage": {
          "description": "The percentage of traffic on which delay will be injected. The value must be between [0, 100]",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GrpcRouteFaultInjectionPolicyAbort": {
      "id": "GrpcRouteFaultInjectionPolicyAbort",
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination.",
      "type": "object",
      "properties": {
        "httpStatus": {
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "percentage": {
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GrpcRouteHeaderModifier": {
      "id": "GrpcRouteHeaderModifier",
      "description": "Specifies how to modify gRPC headers in a request or a response.",
      "type": "object",
      "properties": {
        "set": {
          "description": "Completely overwrite\/replace the headers with given map where key is the name of the header, value is the value of the header.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "add": {
          "description": "Add the headers with given map where key is the name of the header, value is the value of the header.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "remove": {
          "description": "Remove headers (matching by header names) specified in the list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GrpcRouteURLRewrite": {
      "id": "GrpcRouteURLRewrite",
      "description": "The specification to modify the URL of the request, prior to forwarding the request to the destination.",
      "type": "object",
      "properties": {
        "pathPrefixRewrite": {
          "description": "Prior to forwarding the request to the selected destination, the matching portion of the requests path is replaced by this value.",
          "type": "string"
        },
        "hostRewrite": {
          "description": "Prior to forwarding the request to the selected destination, the requests host header is replaced by this value.",
          "type": "string"
        }
      }
    },
    "GrpcRouteRetryPolicy": {
      "id": "GrpcRouteRetryPolicy",
      "description": "The specifications for retries.",
      "type": "object",
      "properties": {
        "retryConditions": {
          "description": "- connect-failure: Router will retry on failures connecting to Backend Services, for example due to connection timeouts. - refused-stream: Router will retry if the backend service resets the stream with a REFUSED_STREAM error code. This reset type indicates that it is safe to retry. - cancelled: Router will retry if the gRPC status code in the response header is set to cancelled - deadline-exceeded: Router will retry if the gRPC status code in the response header is set to deadline-exceeded - resource-exhausted: Router will retry if the gRPC status code in the response header is set to resource-exhausted - unavailable: Router will retry if the gRPC status code in the response header is set to unavailable",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "numRetries": {
          "description": "Specifies the allowed number of retries. This number must be > 0. If not specified, default to 1.",
          "type": "integer",
          "format": "uint32"
        },
        "perTryTimeout": {
          "description": "If not specified, will use the timeout set in the RouteAction. If timeout is not set in the RouteAction, will use the largest timeout among all Backend Services associated with the route.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GrpcRouteRequestMirrorPolicy": {
      "id": "GrpcRouteRequestMirrorPolicy",
      "description": "Specifies the policy on how requests are mirrored to a separate mirrored destination service. The proxy does not wait for responses from the mirrored service. Prior to sending traffic to the mirrored service, the host\/authority header is suffixed with -shadow.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "The destination the requests will be mirrored to. The weight of the destination will be ignored.",
          "$ref": "GrpcRouteDestination"
        }
      }
    },
    "ListHttpRoutesResponse": {
      "id": "ListHttpRoutesResponse",
      "description": "Response returned by the ListHttpRoutes method.",
      "type": "object",
      "properties": {
        "httpRoutes": {
          "description": "List of HttpRoute resources.",
          "type": "array",
          "items": {
            "$ref": "HttpRoute"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "HttpRoute": {
      "id": "HttpRoute",
      "description": "HttpRoute is the resource defining how HTTP traffic should be routed by a Mesh or Gateway resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the HttpRoute resource. It matches pattern `projects\/*\/locations\/global\/httpRoutes\/http_route_name>`.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "hostnames": {
          "description": "Required. Hostnames define a set of hosts that should match against the HTTP host header to select a HttpRoute to process the request. Hostname is the fully qualified domain name of a network host, as defined by RFC 1123 with the exception that: - IPs are not allowed. - A hostname may be prefixed with a wildcard label (*.). The wildcard label must appear by itself as the first label. Hostname can be \"precise\" which is a domain name without the terminating dot of a network host (e.g. \"foo.example.com\") or \"wildcard\", which is a domain name prefixed with a single wildcard label (e.g. *.example.com). Note that as per RFC1035 and RFC1123, a label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character. No other punctuation is allowed. The routes associated with a Mesh or Gateways must have unique hostnames. If you attempt to attach multiple routes with conflicting hostnames, the configuration will be rejected. For example, while it is acceptable for routes for the hostnames \"*.foo.bar.com\" and \"*.bar.com\" to be associated with the same Mesh (or Gateways under the same scope), it is not possible to associate two routes both with \"*.bar.com\" or both with \"bar.com\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "routers": {
          "description": "Optional. Routers define a list of routers this HttpRoute should be served by. Each router reference should match the pattern: `projects\/*\/locations\/global\/routers\/` The attached Router should be of a type PROXY",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "meshes": {
          "description": "Optional. Meshes defines a list of meshes this HttpRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects\/*\/locations\/global\/meshes\/` The attached Mesh should be of a type SIDECAR",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gateways": {
          "description": "Optional. Gateways defines a list of gateways this HttpRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects\/*\/locations\/global\/gateways\/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the HttpRoute resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "rules": {
          "description": "Required. Rules that define how traffic is routed and handled. Rules will be matched sequentially based on the RouteMatch specified for the rule.",
          "type": "array",
          "items": {
            "$ref": "HttpRouteRouteRule"
          }
        }
      }
    },
    "HttpRouteRouteRule": {
      "id": "HttpRouteRouteRule",
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched.",
      "type": "object",
      "properties": {
        "matches": {
          "description": "A list of matches define conditions used for matching the rule against incoming HTTP requests. Each match is independent, i.e. this rule will be matched if ANY one of the matches is satisfied. If no matches field is specified, this rule will unconditionally match traffic. If a default rule is desired to be configured, add a rule with no matches specified to the end of the rules list.",
          "type": "array",
          "items": {
            "$ref": "HttpRouteRouteMatch"
          }
        },
        "action": {
          "description": "The detailed rule defining how to route matched traffic.",
          "$ref": "HttpRouteRouteAction"
        }
      }
    },
    "HttpRouteRouteMatch": {
      "id": "HttpRouteRouteMatch",
      "description": "RouteMatch defines specifications used to match requests. If multiple match types are set, this RouteMatch will match if ALL type of matches are matched.",
      "type": "object",
      "properties": {
        "fullPathMatch": {
          "description": "The HTTP request path value should exactly match this value. Only one of full_path_match, prefix_match, or regex_match should be used.",
          "type": "string"
        },
        "prefixMatch": {
          "description": "The HTTP request path value must begin with specified prefix_match. prefix_match must begin with a \/. Only one of full_path_match, prefix_match, or regex_match should be used.",
          "type": "string"
        },
        "regexMatch": {
          "description": "The HTTP request path value must satisfy the regular expression specified by regex_match after removing any query parameters and anchor supplied with the original URL. For regular expression grammar, please see https:\/\/github.com\/google\/re2\/wiki\/Syntax Only one of full_path_match, prefix_match, or regex_match should be used.",
          "type": "string"
        },
        "ignoreCase": {
          "description": "Specifies if prefix_match and full_path_match matches are case sensitive. The default value is false.",
          "type": "boolean"
        },
        "headers": {
          "description": "Specifies a list of HTTP request headers to match against. ALL of the supplied headers must be matched.",
          "type": "array",
          "items": {
            "$ref": "HttpRouteHeaderMatch"
          }
        },
        "queryParameters": {
          "description": "Specifies a list of query parameters to match against. ALL of the query parameters must be matched.",
          "type": "array",
          "items": {
            "$ref": "HttpRouteQueryParameterMatch"
          }
        }
      }
    },
    "HttpRouteHeaderMatch": {
      "id": "HttpRouteHeaderMatch",
      "description": "Specifies how to select a route rule based on HTTP request headers.",
      "type": "object",
      "properties": {
        "exactMatch": {
          "description": "The value of the header should match exactly the content of exact_match.",
          "type": "string"
        },
        "regexMatch": {
          "description": "The value of the header must match the regular expression specified in regex_match. For regular expression grammar, please see: https:\/\/github.com\/google\/re2\/wiki\/Syntax",
          "type": "string"
        },
        "prefixMatch": {
          "description": "The value of the header must start with the contents of prefix_match.",
          "type": "string"
        },
        "presentMatch": {
          "description": "A header with header_name must exist. The match takes place whether or not the header has a value.",
          "type": "boolean"
        },
        "suffixMatch": {
          "description": "The value of the header must end with the contents of suffix_match.",
          "type": "string"
        },
        "rangeMatch": {
          "description": "If specified, the rule will match if the request header value is within the range.",
          "$ref": "HttpRouteHeaderMatchIntegerRange"
        },
        "header": {
          "description": "The name of the HTTP header to match against.",
          "type": "string"
        },
        "invertMatch": {
          "description": "If specified, the match result will be inverted before checking. Default value is set to false.",
          "type": "boolean"
        }
      }
    },
    "HttpRouteHeaderMatchIntegerRange": {
      "id": "HttpRouteHeaderMatchIntegerRange",
      "description": "Represents an integer value range.",
      "type": "object",
      "properties": {
        "start": {
          "description": "Start of the range (inclusive)",
          "type": "integer",
          "format": "int32"
        },
        "end": {
          "description": "End of the range (exclusive)",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "HttpRouteQueryParameterMatch": {
      "id": "HttpRouteQueryParameterMatch",
      "description": "Specifications to match a query parameter in the request.",
      "type": "object",
      "properties": {
        "exactMatch": {
          "description": "The value of the query parameter must exactly match the contents of exact_match. Only one of exact_match, regex_match, or present_match must be set.",
          "type": "string"
        },
        "regexMatch": {
          "description": "The value of the query parameter must match the regular expression specified by regex_match. For regular expression grammar, please see https:\/\/github.com\/google\/re2\/wiki\/Syntax Only one of exact_match, regex_match, or present_match must be set.",
          "type": "string"
        },
        "presentMatch": {
          "description": "Specifies that the QueryParameterMatcher matches if request contains query parameter, irrespective of whether the parameter has a value or not. Only one of exact_match, regex_match, or present_match must be set.",
          "type": "boolean"
        },
        "queryParameter": {
          "description": "The name of the query parameter to match.",
          "type": "string"
        }
      }
    },
    "HttpRouteRouteAction": {
      "id": "HttpRouteRouteAction",
      "description": "The specifications for routing traffic and applying associated policies.",
      "type": "object",
      "properties": {
        "destinations": {
          "description": "The destination to which traffic should be forwarded.",
          "type": "array",
          "items": {
            "$ref": "HttpRouteDestination"
          }
        },
        "redirect": {
          "description": "If set, the request is directed as configured by this field.",
          "$ref": "HttpRouteRedirect"
        },
        "originalDestination": {
          "description": "If true, the matched traffic will use the destination ip and port of the original connection (as it was not processed by proxy) as the destination of the request. Only one of destinations, redirect, original_destination can be set.",
          "type": "boolean"
        },
        "faultInjectionPolicy": {
          "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to backend service failure. As part of fault injection, when clients send requests to a backend service, delays can be introduced on a percentage of requests before sending those requests to the backend service. Similarly requests from clients can be aborted for a percentage of requests. timeout and retry_policy will be ignored by clients that are configured with a fault_injection_policy",
          "$ref": "HttpRouteFaultInjectionPolicy"
        },
        "requestHeaderModifier": {
          "description": "The specification for modifying the headers of a matching request prior to delivery of the request to the destination.",
          "$ref": "HttpRouteHeaderModifier"
        },
        "responseHeaderModifier": {
          "description": "The specification for modifying the headers of a response prior to sending the response back to the client.",
          "$ref": "HttpRouteHeaderModifier"
        },
        "urlRewrite": {
          "description": "The specification for rewrite URL before forwarding requests to the destination.",
          "$ref": "HttpRouteURLRewrite"
        },
        "timeout": {
          "description": "Specifies the timeout for selected route. Timeout is computed from the time the request has been fully processed (i.e. end of stream) up until the response has been completely processed. Timeout includes all retries.",
          "type": "string",
          "format": "google-duration"
        },
        "retryPolicy": {
          "description": "Specifies the retry policy associated with this route.",
          "$ref": "HttpRouteRetryPolicy"
        },
        "requestMirrorPolicy": {
          "description": "Specifies the policy on how requests intended for the routes destination are shadowed to a separate mirrored destination. Proxy will not wait for the shadow destination to respond before returning the response. Prior to sending traffic to the shadow service, the host\/authority header is suffixed with -shadow.",
          "$ref": "HttpRouteRequestMirrorPolicy"
        },
        "corsPolicy": {
          "description": "The specification for allowing client side cross-origin requests.",
          "$ref": "HttpRouteCorsPolicy"
        }
      }
    },
    "HttpRouteDestination": {
      "id": "HttpRouteDestination",
      "description": "Specifications of a destination to which the request should be routed to.",
      "type": "object",
      "properties": {
        "serviceName": {
          "description": "The URL of a BackendService to route traffic to.",
          "type": "string"
        },
        "weight": {
          "description": "Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: weight\/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "HttpRouteRedirect": {
      "id": "HttpRouteRedirect",
      "description": "The specification for redirecting traffic.",
      "type": "object",
      "properties": {
        "hostRedirect": {
          "description": "The host that will be used in the redirect response instead of the one that was supplied in the request.",
          "type": "string"
        },
        "pathRedirect": {
          "description": "The path that will be used in the redirect response instead of the one that was supplied in the request. path_redirect can not be supplied together with prefix_redirect. Supply one alone or neither. If neither is supplied, the path of the original request will be used for the redirect.",
          "type": "string"
        },
        "prefixRewrite": {
          "description": "Indicates that during redirection, the matched prefix (or path) should be swapped with this value. This option allows URLs be dynamically created based on the request.",
          "type": "string"
        },
        "responseCode": {
          "description": "The HTTP Status code to use for the redirect.",
          "type": "string",
          "enumDescriptions": [
            "Default value",
            "Corresponds to 301.",
            "Corresponds to 302.",
            "Corresponds to 303.",
            "Corresponds to 307. In this case, the request method will be retained.",
            "Corresponds to 308. In this case, the request method will be retained."
          ],
          "enum": [
            "RESPONSE_CODE_UNSPECIFIED",
            "MOVED_PERMANENTLY_DEFAULT",
            "FOUND",
            "SEE_OTHER",
            "TEMPORARY_REDIRECT",
            "PERMANENT_REDIRECT"
          ]
        },
        "httpsRedirect": {
          "description": "If set to true, the URL scheme in the redirected request is set to https. If set to false, the URL scheme of the redirected request will remain the same as that of the request. The default is set to false.",
          "type": "boolean"
        },
        "stripQuery": {
          "description": "if set to true, any accompanying query portion of the original URL is removed prior to redirecting the request. If set to false, the query portion of the original URL is retained. The default is set to false.",
          "type": "boolean"
        },
        "portRedirect": {
          "description": "The port that will be used in the redirected request instead of the one that was supplied in the request.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "HttpRouteFaultInjectionPolicy": {
      "id": "HttpRouteFaultInjectionPolicy",
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced by client proxy on a percentage of requests before sending those requests to the destination service. Similarly requests can be aborted by client proxy for a percentage of requests.",
      "type": "object",
      "properties": {
        "delay": {
          "description": "The specification for injecting delay to client requests.",
          "$ref": "HttpRouteFaultInjectionPolicyDelay"
        },
        "abort": {
          "description": "The specification for aborting to client requests.",
          "$ref": "HttpRouteFaultInjectionPolicyAbort"
        }
      }
    },
    "HttpRouteFaultInjectionPolicyDelay": {
      "id": "HttpRouteFaultInjectionPolicyDelay",
      "description": "Specification of how client requests are delayed as part of fault injection before being sent to a destination.",
      "type": "object",
      "properties": {
        "fixedDelay": {
          "description": "Specify a fixed delay before forwarding the request.",
          "type": "string",
          "format": "google-duration"
        },
        "percentage": {
          "description": "The percentage of traffic on which delay will be injected. The value must be between [0, 100]",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "HttpRouteFaultInjectionPolicyAbort": {
      "id": "HttpRouteFaultInjectionPolicyAbort",
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination.",
      "type": "object",
      "properties": {
        "httpStatus": {
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "percentage": {
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "HttpRouteHeaderModifier": {
      "id": "HttpRouteHeaderModifier",
      "description": "The specification for modifying HTTP header in HTTP request and HTTP response.",
      "type": "object",
      "properties": {
        "set": {
          "description": "Completely overwrite\/replace the headers with given map where key is the name of the header, value is the value of the header.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "add": {
          "description": "Add the headers with given map where key is the name of the header, value is the value of the header.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "remove": {
          "description": "Remove headers (matching by header names) specified in the list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "HttpRouteURLRewrite": {
      "id": "HttpRouteURLRewrite",
      "description": "The specification for modifying the URL of the request, prior to forwarding the request to the destination.",
      "type": "object",
      "properties": {
        "pathPrefixRewrite": {
          "description": "Prior to forwarding the request to the selected destination, the matching portion of the requests path is replaced by this value.",
          "type": "string"
        },
        "hostRewrite": {
          "description": "Prior to forwarding the request to the selected destination, the requests host header is replaced by this value.",
          "type": "string"
        }
      }
    },
    "HttpRouteRetryPolicy": {
      "id": "HttpRouteRetryPolicy",
      "description": "The specifications for retries.",
      "type": "object",
      "properties": {
        "retryConditions": {
          "description": "Specifies one or more conditions when this retry policy applies. Valid values are: 5xx: Proxy will attempt a retry if the destination service responds with any 5xx response code, of if the destination service does not respond at all, example: disconnect, reset, read timeout, connection failure and refused streams. gateway-error: Similar to 5xx, but only applies to response codes 502, 503, 504. reset: Proxy will attempt a retry if the destination service does not respond at all (disconnect\/reset\/read timeout) connect-failure: Proxy will retry on failures connecting to destination for example due to connection timeouts. retriable-4xx: Proxy will retry fro retriable 4xx response codes. Currently the only retriable error supported is 409. refused-stream: Proxy will retry if the destination resets the stream with a REFUSED_STREAM error code. This reset type indicates that it is safe to retry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "numRetries": {
          "description": "Specifies the allowed number of retries. This number must be > 0. If not specified, default to 1.",
          "type": "integer",
          "format": "int32"
        },
        "perTryTimeout": {
          "description": "Specifies a non-zero timeout per retry attempt.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "HttpRouteRequestMirrorPolicy": {
      "id": "HttpRouteRequestMirrorPolicy",
      "description": "Specifies the policy on how requests are shadowed to a separate mirrored destination service. The proxy does not wait for responses from the shadow service. Prior to sending traffic to the shadow service, the host\/authority header is suffixed with -shadow.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "The destination the requests will be mirrored to. The weight of the destination will be ignored.",
          "$ref": "HttpRouteDestination"
        }
      }
    },
    "HttpRouteCorsPolicy": {
      "id": "HttpRouteCorsPolicy",
      "description": "The Specification for allowing client side cross-origin requests.",
      "type": "object",
      "properties": {
        "allowOrigins": {
          "description": "Specifies the list of origins that will be allowed to do CORS requests. An origin is allowed if it matches either an item in allow_origins or an item in allow_origin_regexes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowOriginRegexes": {
          "description": "Specifies the regular expression patterns that match allowed origins. For regular expression grammar, please see https:\/\/github.com\/google\/re2\/wiki\/Syntax.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowMethods": {
          "description": "Specifies the content for Access-Control-Allow-Methods header.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowHeaders": {
          "description": "Specifies the content for Access-Control-Allow-Headers header.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exposeHeaders": {
          "description": "Specifies the content for Access-Control-Expose-Headers header.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxAge": {
          "description": "Specifies how long result of a preflight request can be cached in seconds. This translates to the Access-Control-Max-Age header.",
          "type": "string"
        },
        "allowCredentials": {
          "description": "In response to a preflight request, setting this to true indicates that the actual request can include user credentials. This translates to the Access-Control-Allow-Credentials header. Default value is false.",
          "type": "boolean"
        },
        "disabled": {
          "description": "If true, the CORS policy is disabled. The default value is false, which indicates that the CORS policy is in effect.",
          "type": "boolean"
        }
      }
    },
    "ListTcpRoutesResponse": {
      "id": "ListTcpRoutesResponse",
      "description": "Response returned by the ListTcpRoutes method.",
      "type": "object",
      "properties": {
        "tcpRoutes": {
          "description": "List of TcpRoute resources.",
          "type": "array",
          "items": {
            "$ref": "TcpRoute"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "TcpRoute": {
      "id": "TcpRoute",
      "description": "TcpRoute is the resource defining how TCP traffic should be routed by a Mesh\/Gateway resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the TcpRoute resource. It matches pattern `projects\/*\/locations\/global\/tcpRoutes\/tcp_route_name>`.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "rules": {
          "description": "Required. Rules that define how traffic is routed and handled. At least one RouteRule must be supplied. If there are multiple rules then the action taken will be the first rule to match.",
          "type": "array",
          "items": {
            "$ref": "TcpRouteRouteRule"
          }
        },
        "routers": {
          "description": "Optional. Routers define a list of routers this TcpRoute should be served by. Each router reference should match the pattern: `projects\/*\/locations\/global\/routers\/` The attached Router should be of a type PROXY",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "meshes": {
          "description": "Optional. Meshes defines a list of meshes this TcpRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects\/*\/locations\/global\/meshes\/` The attached Mesh should be of a type SIDECAR",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gateways": {
          "description": "Optional. Gateways defines a list of gateways this TcpRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects\/*\/locations\/global\/gateways\/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the TcpRoute resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "TcpRouteRouteRule": {
      "id": "TcpRouteRouteRule",
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched.",
      "type": "object",
      "properties": {
        "matches": {
          "description": "Optional. RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic.",
          "type": "array",
          "items": {
            "$ref": "TcpRouteRouteMatch"
          }
        },
        "action": {
          "description": "Required. The detailed rule defining how to route matched traffic.",
          "$ref": "TcpRouteRouteAction"
        }
      }
    },
    "TcpRouteRouteMatch": {
      "id": "TcpRouteRouteMatch",
      "description": "RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic.",
      "type": "object",
      "properties": {
        "address": {
          "description": "Required. Must be specified in the CIDR range format. A CIDR range consists of an IP Address and a prefix length to construct the subnet mask. By default, the prefix length is 32 (i.e. matches a single IP address). Only IPV4 addresses are supported. Examples: \"10.0.0.1\" - matches against this exact IP address. \"10.0.0.0\/8\" - matches against any IP address within the 10.0.0.0 subnet and 255.255.255.0 mask. \"0.0.0.0\/0\" - matches against any IP address'.",
          "type": "string"
        },
        "port": {
          "description": "Required. Specifies the destination port to match against.",
          "type": "string"
        }
      }
    },
    "TcpRouteRouteAction": {
      "id": "TcpRouteRouteAction",
      "description": "The specifications for routing traffic and applying associated policies.",
      "type": "object",
      "properties": {
        "destinations": {
          "description": "Optional. The destination services to which traffic should be forwarded. At least one destination service is required.",
          "type": "array",
          "items": {
            "$ref": "TcpRouteRouteDestination"
          }
        },
        "originalDestination": {
          "description": "Optional. If true, Router will use the destination IP and port of the original connection as the destination of the request. Default is false.",
          "type": "boolean"
        }
      }
    },
    "TcpRouteRouteDestination": {
      "id": "TcpRouteRouteDestination",
      "description": "Describe the destination for traffic to be routed to.",
      "type": "object",
      "properties": {
        "serviceName": {
          "description": "Required. The URL of a BackendService to route traffic to.",
          "type": "string"
        },
        "weight": {
          "description": "Optional. Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: weight\/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListTlsRoutesResponse": {
      "id": "ListTlsRoutesResponse",
      "description": "Response returned by the ListTlsRoutes method.",
      "type": "object",
      "properties": {
        "tlsRoutes": {
          "description": "List of TlsRoute resources.",
          "type": "array",
          "items": {
            "$ref": "TlsRoute"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "TlsRoute": {
      "id": "TlsRoute",
      "description": "TlsRoute defines how traffic should be routed based on SNI and other matching L3 attributes.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the TlsRoute resource. It matches pattern `projects\/*\/locations\/global\/tlsRoutes\/tls_route_name>`.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "rules": {
          "description": "Required. Rules that define how traffic is routed and handled. At least one RouteRule must be supplied. If there are multiple rules then the action taken will be the first rule to match.",
          "type": "array",
          "items": {
            "$ref": "TlsRouteRouteRule"
          }
        },
        "meshes": {
          "description": "Optional. Meshes defines a list of meshes this TlsRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects\/*\/locations\/global\/meshes\/` The attached Mesh should be of a type SIDECAR",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gateways": {
          "description": "Optional. Gateways defines a list of gateways this TlsRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects\/*\/locations\/global\/gateways\/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TlsRouteRouteRule": {
      "id": "TlsRouteRouteRule",
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched.",
      "type": "object",
      "properties": {
        "matches": {
          "description": "Required. RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation.",
          "type": "array",
          "items": {
            "$ref": "TlsRouteRouteMatch"
          }
        },
        "action": {
          "description": "Required. The detailed rule defining how to route matched traffic.",
          "$ref": "TlsRouteRouteAction"
        }
      }
    },
    "TlsRouteRouteMatch": {
      "id": "TlsRouteRouteMatch",
      "description": "RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"AND\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic.",
      "type": "object",
      "properties": {
        "sniHost": {
          "description": "Optional. SNI (server name indicator) to match against. SNI will be matched against all wildcard domains, i.e. www.example.com will be first matched against www.example.com, then *.example.com, then *.com. Partial wildcards are not supported, and values like *w.example.com are invalid. At least one of sni_host and alpn is required. Up to 5 sni hosts across all matches can be set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "alpn": {
          "description": "Optional. ALPN (Application-Layer Protocol Negotiation) to match against. Examples: \"http\/1.1\", \"h2\". At least one of sni_host and alpn is required. Up to 5 alpns across all matches can be set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipAddress": {
          "description": "Optional. Must be specified in the CIDR range format. A CIDR range consists of an IP Address and a prefix length to construct the subnet mask. By default, the prefix length is 32 (i.e. matches a single IP address). Only IPV4 addresses are supported. Examples: \"10.0.0.1\" - matches against this exact IP address. \"10.0.0.0\/8\" - matches against any IP address within the 10.0.0.0 subnet and 255.255.255.0 mask. \"0.0.0.0\/0\" - matches against any IP address.",
          "type": "string"
        },
        "port": {
          "description": "Optional. Specifies the destination port to match against.",
          "type": "string"
        }
      }
    },
    "TlsRouteRouteAction": {
      "id": "TlsRouteRouteAction",
      "description": "The specifications for routing traffic and applying associated policies.",
      "type": "object",
      "properties": {
        "destinations": {
          "description": "Required. The destination services to which traffic should be forwarded. At least one destination service is required.",
          "type": "array",
          "items": {
            "$ref": "TlsRouteRouteDestination"
          }
        },
        "originalDestination": {
          "description": "Optional. If true, Router will use the destination IP and port of the original connection as the destination of the request. Default is false.",
          "type": "boolean"
        }
      }
    },
    "TlsRouteRouteDestination": {
      "id": "TlsRouteRouteDestination",
      "description": "Describe the destination for traffic to be routed to.",
      "type": "object",
      "properties": {
        "serviceName": {
          "description": "Required. The URL of a BackendService to route traffic to.",
          "type": "string"
        },
        "weight": {
          "description": "Optional. Specifies the proportion of requests forwareded to the backend referenced by the service_name field. This is computed as: weight\/Sum(weights in destinations) Weights in all destinations does not need to sum up to 100.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListServiceBindingsResponse": {
      "id": "ListServiceBindingsResponse",
      "description": "Response returned by the ListServiceBindings method.",
      "type": "object",
      "properties": {
        "serviceBindings": {
          "description": "List of ServiceBinding resources.",
          "type": "array",
          "items": {
            "$ref": "ServiceBinding"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "ServiceBinding": {
      "id": "ServiceBinding",
      "description": "ServiceBinding is the resource that defines a Service Directory Service to be used in a BackendService resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the ServiceBinding resource. It matches pattern `projects\/*\/locations\/global\/serviceBindings\/service_binding_name>`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "service": {
          "description": "Required. The full service directory service name of the format projects\/*\/locations\/*\/namespaces\/*\/services\/*",
          "type": "string"
        },
        "endpointFilter": {
          "description": "Optional. The endpoint filter associated with the Service Binding. The syntax is described in ResolveServiceRequest.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the ServiceBinding resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListMeshesResponse": {
      "id": "ListMeshesResponse",
      "description": "Response returned by the ListMeshes method.",
      "type": "object",
      "properties": {
        "meshes": {
          "description": "List of Mesh resources.",
          "type": "array",
          "items": {
            "$ref": "Mesh"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      }
    },
    "Mesh": {
      "id": "Mesh",
      "description": "Mesh represents a logical configuration grouping for workload to workload communication within a service mesh. Routes that point to mesh dictate how requests are routed within this logical mesh boundary.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the Mesh resource. It matches pattern `projects\/*\/locations\/global\/meshes\/`.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the Mesh resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "interceptionPort": {
          "description": "Optional. If set to a valid TCP port (1-65535), instructs the SIDECAR proxy to listen on the specified port of localhost (127.0.0.1) address. The SIDECAR proxy will expect all traffic to be redirected to this port regardless of its actual ip:port destination. If unset, a port '15001' is used as the interception port. This will is applicable only for sidecar proxy deployments.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "rules": {
          "description": "If more than one rule is specified, the rules are applied in the following manner: - All matching LOG rules are always applied. - If any DENY\/DENY_WITH_LOG rule matches, permission is denied. Logging will be applied if one or more matching rule requires logging. - Otherwise, if any ALLOW\/ALLOW_WITH_LOG rule matches, permission is granted. Logging will be applied if one or more matching rule requires logging. - Otherwise, if no rule applies, permission is denied.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
[...]
