{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "orgpolicy:v2",
  "name": "orgpolicy",
  "canonicalName": "OrgPolicy API",
  "version": "v2",
  "revision": "0",
  "title": "Organization Policy API",
  "description": "The Org Policy API allows users to configure governance rules on their GCP resources across the Cloud Resource Hierarchy.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/orgpolicy/docs/reference/rest/index.html",
  "protocol": "rest",
  "rootUrl": "https://orgpolicy.googleapis.com/",
  "mtlsRootUrl": "https://orgpolicy.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://orgpolicy.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudOrgpolicyV2ListConstraintsResponse": {
      "id": "GoogleCloudOrgpolicyV2ListConstraintsResponse",
      "description": "The response returned from the ListConstraints method.",
      "type": "object",
      "properties": {
        "constraints": {
          "description": "The collection of constraints that are available on the targeted resource.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2Constraint"
          }
        },
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is currently not used.",
          "type": "string"
        }
      }
    },
    "GoogleCloudOrgpolicyV2Constraint": {
      "id": "GoogleCloudOrgpolicyV2Constraint",
      "description": "A constraint describes a way to restrict resource's configuration. For example, you could enforce a constraint that controls which Google Cloud services can be activated across an organization, or whether a Compute Engine instance can have serial port connections established. Constraints can be configured by the organization policy administrator to fit the needs of the organization by setting a policy that includes constraints at different locations in the organization's resource hierarchy. Policies are inherited down the resource hierarchy from higher levels, but can also be overridden. For details about the inheritance rules please read about `policies`. Constraints have a default behavior determined by the `constraint_default` field, which is the enforcement behavior that is used in the absence of a policy being defined or inherited for the resource in question.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the constraint. Must be in one of the following forms: * `projects\/{project_number}\/constraints\/{constraint_name}` * `folders\/{folder_id}\/constraints\/{constraint_name}` * `organizations\/{organization_id}\/constraints\/{constraint_name}` For example, \"\/projects\/123\/constraints\/compute.disableSerialPortAccess\".",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable name. Mutable.",
          "type": "string"
        },
        "description": {
          "description": "Detailed description of what this constraint controls as well as how and where it is enforced. Mutable.",
          "type": "string"
        },
        "constraintDefault": {
          "description": "The evaluation behavior of this constraint in the absence of a policy.",
          "type": "string",
          "enumDescriptions": [
            "This is only used for distinguishing unset values and should never be used.",
            "Indicate that all values are allowed for list constraints. Indicate that enforcement is off for boolean constraints.",
            "Indicate that all values are denied for list constraints. Indicate that enforcement is on for boolean constraints."
          ],
          "enum": [
            "CONSTRAINT_DEFAULT_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "listConstraint": {
          "description": "Defines this constraint as being a ListConstraint.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintListConstraint"
        },
        "booleanConstraint": {
          "description": "Defines this constraint as being a BooleanConstraint.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint"
        }
      }
    },
    "GoogleCloudOrgpolicyV2ConstraintListConstraint": {
      "id": "GoogleCloudOrgpolicyV2ConstraintListConstraint",
      "description": "A constraint that allows or disallows a list of string values, which are configured by an Organization Policy administrator with a policy.",
      "type": "object",
      "properties": {
        "supportsIn": {
          "description": "Indicates whether values grouped into categories can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"in:Python\"` would match any value in the 'Python' group.",
          "type": "boolean"
        },
        "supportsUnder": {
          "description": "Indicates whether subtrees of the Resource Manager resource hierarchy can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"under:folders\/123\"` would match any resource under the 'folders\/123' folder.",
          "type": "boolean"
        },
        "supportsExpr": {
          "description": "Indicates whether CEL expression values can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, \"expr:value.matches('a.b')\" would match an input value that matches the regular expression 'a.b'.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint": {
      "id": "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint",
      "description": "A constraint that is either enforced or not. For example, a constraint `constraints\/compute.disableSerialPortAccess`. If it is enforced on a VM instance, serial port connections will not be opened to that instance.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudOrgpolicyV2ListPoliciesResponse": {
      "id": "GoogleCloudOrgpolicyV2ListPoliciesResponse",
      "description": "The response returned from the ListPolicies method. It will be empty if no policies are set on the resource.",
      "type": "object",
      "properties": {
        "policies": {
          "description": "All policies that exist on the resource. It will be empty if no policies are set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2Policy"
          }
        },
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is currently not used, but the server may at any point start supplying a valid token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudOrgpolicyV2Policy": {
      "id": "GoogleCloudOrgpolicyV2Policy",
      "description": "Defines an organization policy which is used to specify constraints for configurations of Google Cloud resources.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the policy. Must be one of the following forms, where constraint_name is the name of the constraint which this policy configures: * `projects\/{project_number}\/policies\/{constraint_name}` * `folders\/{folder_id}\/policies\/{constraint_name}` * `organizations\/{organization_id}\/policies\/{constraint_name}` For example, \"projects\/123\/policies\/compute.disableSerialPortAccess\". Note: `projects\/{project_id}\/policies\/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
          "type": "string"
        },
        "spec": {
          "description": "Basic information about the Organization Policy.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec"
        },
        "alternate": {
          "description": "Deprecated.",
          "$ref": "GoogleCloudOrgpolicyV2AlternatePolicySpec"
        },
        "dryRunSpec": {
          "description": "Dry-run policy. Audit-only policy, can be used to monitor how the policy would have impacted the existing and future resources if it's enforced.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec"
        }
      }
    },
    "GoogleCloudOrgpolicyV2PolicySpec": {
      "id": "GoogleCloudOrgpolicyV2PolicySpec",
      "description": "Defines a Google Cloud policy specification which is used to specify constraints for configurations of Google Cloud resources.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "An opaque tag indicating the current version of the policy, used for concurrency control. This field is ignored if used in a `CreatePolicy` request. When the policy` is returned from either a `GetPolicy` or a `ListPolicies` request, this `etag` indicates the version of the current policy to use when executing a read-modify-write loop. When the policy is returned from a `GetEffectivePolicy` request, the `etag` will be unset.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time stamp this was previously updated. This represents the last time a call to `CreatePolicy` or `UpdatePolicy` was made for that policy.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "rules": {
          "description": "Up to 10 policy rules are allowed. In policies for boolean constraints, the following requirements apply: - There must be one and only one policy rule where condition is unset. - Boolean policy rules with conditions must set `enforced` to the opposite of the policy rule without a condition. - During policy evaluation, policy rules with conditions that are true for a target resource take precedence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule"
          }
        },
        "inheritFromParent": {
          "description": "Determines the inheritance behavior for this policy. If `inherit_from_parent` is true, policy rules set higher up in the hierarchy (up to the closest root) are inherited and present in the effective policy. If it is false, then no rules are inherited, and this policy becomes the new root for evaluation. This field can be set only for policies which configure list constraints.",
          "type": "boolean"
        },
        "reset": {
          "description": "Ignores policies set above this resource and restores the `constraint_default` enforcement behavior of the specific constraint at this resource. This field can be set in policies for either list or boolean constraints. If set, `rules` must be empty and `inherit_from_parent` must be set to false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRule": {
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule",
      "description": "A rule used to express this policy.",
      "type": "object",
      "properties": {
        "values": {
          "description": "List of values to be used for this policy rule. This field can be set only in policies for list constraints.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues"
        },
        "allowAll": {
          "description": "Setting this to true means that all values are allowed. This field can be set only in policies for list constraints.",
          "type": "boolean"
        },
        "denyAll": {
          "description": "Setting this to true means that all values are denied. This field can be set only in policies for list constraints.",
          "type": "boolean"
        },
        "enforce": {
          "description": "If `true`, then the policy is enforced. If `false`, then any configuration is acceptable. This field can be set only in policies for boolean constraints.",
          "type": "boolean"
        },
        "condition": {
          "description": "A condition which determines whether this rule is used in the evaluation of the policy. When set, the `expression` field in the `Expr' must include from 1 to 10 subexpressions, joined by the \"||\" or \"&&\" operators. Each subexpression must be of the form \"resource.matchTag('\/tag_key_short_name, 'tag_value_short_name')\". or \"resource.matchTagId('tagKeys\/key_id', 'tagValues\/value_id')\". where key_name and value_name are the resource names for Label Keys and Values. These names are available from the Tag Manager Service. An example expression is: \"resource.matchTag('123456789\/environment, 'prod')\". or \"resource.matchTagId('tagKeys\/123', 'tagValues\/456')\".",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues": {
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues",
      "description": "A message that holds specific allowed and denied values. This message can define specific values and subtrees of the Resource Manager resource hierarchy (`Organizations`, `Folders`, `Projects`) that are allowed or denied. This is achieved by using the `under:` and optional `is:` prefixes. The `under:` prefix is used to denote resource subtree values. The `is:` prefix is used to denote specific values, and is required only if the value contains a \":\". Values prefixed with \"is:\" are treated the same as values with no prefix. Ancestry subtrees must be in one of the following formats: - \"projects\/\", e.g. \"projects\/tokyo-rain-123\" - \"folders\/\", e.g. \"folders\/1234\" - \"organizations\/\", e.g. \"organizations\/1234\" The `supports_under` field of the associated `Constraint` defines whether ancestry prefixes can be used.",
      "type": "object",
      "properties": {
        "allowedValues": {
          "description": "List of values allowed at this resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deniedValues": {
          "description": "List of values denied at this resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GoogleCloudOrgpolicyV2AlternatePolicySpec": {
      "id": "GoogleCloudOrgpolicyV2AlternatePolicySpec",
      "description": "Similar to PolicySpec but with an extra 'launch' field for launch reference. The PolicySpec here is specific for dry-run\/darklaunch.",
      "type": "object",
      "properties": {
        "launch": {
          "description": "Reference to the launch that will be used while audit logging and to control the launch. Should be set only in the alternate policy.",
          "type": "string"
        },
        "spec": {
          "description": "Specify constraint for configurations of Google Cloud resources.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudOrgpolicyV2CustomConstraint": {
      "id": "GoogleCloudOrgpolicyV2CustomConstraint",
      "description": "A custom constraint defined by customers which can *only* be applied to the given resource types and organization. By creating a custom constraint, customers can apply policies of this custom constraint. *Creating a custom constraint itself does NOT apply any policy enforcement*.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. Name of the constraint. This is unique within the organization. Format of the name should be * `organizations\/{organization_id}\/customConstraints\/{custom_constraint_id}` Example: `organizations\/123\/customConstraints\/custom.createOnlyE2TypeVms` The max length is 70 characters and the minimum length is 1. Note that the prefix `organizations\/{organization_id}\/customConstraints\/` is not counted.",
          "type": "string"
        },
        "resourceTypes": {
          "description": "Immutable. The resource instance type on which this policy applies. Format will be of the form : \"\/\" Example: * `compute.googleapis.com\/Instance`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "methodTypes": {
          "description": "All the operations being applied for this constraint.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Results in an error.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Constraint applied when deleting the resource. Not supported yet."
            ],
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE"
            ]
          }
        },
        "condition": {
          "description": "Org policy condition\/expression. For example: `resource.instanceName.matches(\"[production|test]_.*_(\\d)+\")'` or, `resource.management.auto_upgrade == true` The max length of the condition is 1000 characters.",
          "type": "string"
        },
        "actionType": {
          "description": "Allow or deny type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Results in an error.",
            "Allowed action type.",
            "Deny action type."
          ],
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "displayName": {
          "description": "One line display name for the UI. The max length of the display_name is 200 characters.",
          "type": "string"
        },
        "description": {
          "description": "Detailed information about this custom policy constraint. The max length of the description is 2000 characters.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last time this custom constraint was updated. This represents the last time that the `CreateCustomConstraint` or `UpdateCustomConstraint` RPC was called",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse": {
      "id": "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse",
      "description": "The response returned from the ListCustomConstraints method. It will be empty if no custom constraints are set on the organization resource.",
      "type": "object",
      "properties": {
        "customConstraints": {
          "description": "All custom constraints that exist on the organization resource. It will be empty if no custom constraints are set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
          }
        },
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is currently not used, but the server may at any point start supplying a valid token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudOrgpolicyV2CheckOrgPolicyResponse": {
      "id": "GoogleCloudOrgpolicyV2CheckOrgPolicyResponse",
      "description": "The response returned from the CheckOrgPolicy method. For list constraints, the result will be `ALLOWED\/DENIED`. For boolean constraints, the result will be `ENFORCED\/NOT_ENFORCED`.",
      "type": "object",
      "properties": {
        "result": {
          "description": "The result of the org policy being checked",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value",
            "List type constraint is allowed",
            "List type constraint is denied",
            "Boolean type constraint in enforced",
            "Boolean type constraint is not enforced"
          ],
          "enum": [
            "RESULT_UNSPECIFIED",
            "ALLOWED",
            "DENIED",
            "ENFORCED",
            "NOT_ENFORCED"
          ]
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "constraints": {
          "methods": {
            "list": {
              "id": "orgpolicy.projects.constraints.list",
              "path": "v2/{+parent}/constraints",
              "flatPath": "v2/projects/{projectsId}/constraints",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects\/{project_number}` * `projects\/{project_id}` * `folders\/{folder_id}` * `organizations\/{organization_id}`",
                  "pattern": "^projects\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists constraints that could be applied on the specified resource."
            }
          }
        },
        "policies": {
          "methods": {
            "list": {
              "id": "orgpolicy.projects.policies.list",
              "path": "v2/{+parent}/policies",
              "flatPath": "v2/projects/{projectsId}/policies",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects\/{project_number}` * `projects\/{project_id}` * `folders\/{folder_id}` * `organizations\/{organization_id}`",
                  "pattern": "^projects\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieves all of the policies that exist on a particular resource."
            },
            "get": {
              "id": "orgpolicy.projects.policies.get",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the policy. See `Policy` for naming requirements.",
                  "pattern": "^projects\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write."
            },
            "getEffectivePolicy": {
              "id": "orgpolicy.projects.policies.getEffectivePolicy",
              "path": "v2/{+name}:getEffectivePolicy",
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}:getEffectivePolicy",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The effective policy to compute. See `Policy` for naming rules.",
                  "pattern": "^projects\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded."
            },
            "create": {
              "id": "orgpolicy.projects.policies.create",
              "path": "v2/{+parent}/policies",
              "flatPath": "v2/projects/{projectsId}/policies",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects\/{project_number}` * `projects\/{project_id}` * `folders\/{folder_id}` * `organizations\/{organization_id}`",
                  "pattern": "^projects\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource."
            },
            "patch": {
              "id": "orgpolicy.projects.policies.patch",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where constraint_name is the name of the constraint which this policy configures: * `projects\/{project_number}\/policies\/{constraint_name}` * `folders\/{folder_id}\/policies\/{constraint_name}` * `organizations\/{organization_id}\/policies\/{constraint_name}` For example, \"projects\/123\/policies\/compute.disableSerialPortAccess\". Note: `projects\/{project_id}\/policies\/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "pattern": "^projects\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields."
            },
            "delete": {
              "id": "orgpolicy.projects.policies.delete",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "pattern": "^projects\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist."
            },
            "check": {
              "id": "orgpolicy.projects.policies.check",
              "path": "v2/{+name}:check",
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}:check",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The Google Cloud resource name. Can be a project, folder or organization. For example: \u201Cprojects\/ID_OR_NUMBER\/policies\/CONSTRAINT_NAME\u201D \u201Cfolders\/ID_OR_NUMBER\/policies\/CONSTRAINT_NAME\u201D \u201Corganizations\/ID_OR_NUMBER\/policies\/CONSTRAINT_NAME\u201D",
                  "pattern": "^projects\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "listValue": {
                  "description": "For predefined list constraints, set the literal field. Custom constraints (NOT YET SUPPORTED).",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CheckOrgPolicyResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Checks an organization policy's conformance to a specified value at a particular node in the hierarchy."
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "constraints": {
          "methods": {
            "list": {
              "id": "orgpolicy.folders.constraints.list",
              "path": "v2/{+parent}/constraints",
              "flatPath": "v2/folders/{foldersId}/constraints",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects\/{project_number}` * `projects\/{project_id}` * `folders\/{folder_id}` * `organizations\/{organization_id}`",
                  "pattern": "^folders\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists constraints that could be applied on the specified resource."
            }
          }
        },
        "policies": {
          "methods": {
            "list": {
              "id": "orgpolicy.folders.policies.list",
              "path": "v2/{+parent}/policies",
              "flatPath": "v2/folders/{foldersId}/policies",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects\/{project_number}` * `projects\/{project_id}` * `folders\/{folder_id}` * `organizations\/{organization_id}`",
                  "pattern": "^folders\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieves all of the policies that exist on a particular resource."
            },
            "get": {
              "id": "orgpolicy.folders.policies.get",
              "path": "v2/{+name}",
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the policy. See `Policy` for naming requirements.",
                  "pattern": "^folders\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write."
            },
            "getEffectivePolicy": {
              "id": "orgpolicy.folders.policies.getEffectivePolicy",
              "path": "v2/{+name}:getEffectivePolicy",
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}:getEffectivePolicy",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The effective policy to compute. See `Policy` for naming rules.",
                  "pattern": "^folders\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded."
            },
            "create": {
              "id": "orgpolicy.folders.policies.create",
              "path": "v2/{+parent}/policies",
              "flatPath": "v2/folders/{foldersId}/policies",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects\/{project_number}` * `projects\/{project_id}` * `folders\/{folder_id}` * `organizations\/{organization_id}`",
                  "pattern": "^folders\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource."
            },
            "patch": {
              "id": "orgpolicy.folders.policies.patch",
              "path": "v2/{+name}",
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where constraint_name is the name of the constraint which this policy configures: * `projects\/{project_number}\/policies\/{constraint_name}` * `folders\/{folder_id}\/policies\/{constraint_name}` * `organizations\/{organization_id}\/policies\/{constraint_name}` For example, \"projects\/123\/policies\/compute.disableSerialPortAccess\". Note: `projects\/{project_id}\/policies\/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "pattern": "^folders\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields."
            },
            "delete": {
              "id": "orgpolicy.folders.policies.delete",
              "path": "v2/{+name}",
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "pattern": "^folders\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist."
            },
            "check": {
              "id": "orgpolicy.folders.policies.check",
              "path": "v2/{+name}:check",
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}:check",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The Google Cloud resource name. Can be a project, folder or organization. For example: \u201Cprojects\/ID_OR_NUMBER\/policies\/CONSTRAINT_NAME\u201D \u201Cfolders\/ID_OR_NUMBER\/policies\/CONSTRAINT_NAME\u201D \u201Corganizations\/ID_OR_NUMBER\/policies\/CONSTRAINT_NAME\u201D",
                  "pattern": "^folders\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "listValue": {
                  "description": "For predefined list constraints, set the literal field. Custom constraints (NOT YET SUPPORTED).",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CheckOrgPolicyResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Checks an organization policy's conformance to a specified value at a particular node in the hierarchy."
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "constraints": {
          "methods": {
            "list": {
              "id": "orgpolicy.organizations.constraints.list",
              "path": "v2/{+parent}/constraints",
              "flatPath": "v2/organizations/{organizationsId}/constraints",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects\/{project_number}` * `projects\/{project_id}` * `folders\/{folder_id}` * `organizations\/{organization_id}`",
                  "pattern": "^organizations\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists constraints that could be applied on the specified resource."
            }
          }
        },
        "policies": {
          "methods": {
            "list": {
              "id": "orgpolicy.organizations.policies.list",
              "path": "v2/{+parent}/policies",
              "flatPath": "v2/organizations/{organizationsId}/policies",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects\/{project_number}` * `projects\/{project_id}` * `folders\/{folder_id}` * `organizations\/{organization_id}`",
                  "pattern": "^organizations\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieves all of the policies that exist on a particular resource."
            },
            "get": {
              "id": "orgpolicy.organizations.policies.get",
              "path": "v2/{+name}",
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the policy. See `Policy` for naming requirements.",
                  "pattern": "^organizations\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The `etag` value can be used with `UpdatePolicy()` to update a policy during read-modify-write."
            },
            "getEffectivePolicy": {
              "id": "orgpolicy.organizations.policies.getEffectivePolicy",
              "path": "v2/{+name}:getEffectivePolicy",
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}:getEffectivePolicy",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The effective policy to compute. See `Policy` for naming rules.",
                  "pattern": "^organizations\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an `etag` or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded."
            },
            "create": {
              "id": "orgpolicy.organizations.policies.create",
              "path": "v2/{+parent}/policies",
              "flatPath": "v2/organizations/{organizationsId}/policies",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects\/{project_number}` * `projects\/{project_id}` * `folders\/{folder_id}` * `organizations\/{organization_id}`",
                  "pattern": "^organizations\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource."
            },
            "patch": {
              "id": "orgpolicy.organizations.policies.patch",
              "path": "v2/{+name}",
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where constraint_name is the name of the constraint which this policy configures: * `projects\/{project_number}\/policies\/{constraint_name}` * `folders\/{folder_id}\/policies\/{constraint_name}` * `organizations\/{organization_id}\/policies\/{constraint_name}` For example, \"projects\/123\/policies\/compute.disableSerialPortAccess\". Note: `projects\/{project_id}\/policies\/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "pattern": "^organizations\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Field mask used to specify the fields to be overwritten in the policy by the set. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields."
            },
            "delete": {
              "id": "orgpolicy.organizations.policies.delete",
              "path": "v2/{+name}",
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "pattern": "^organizations\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist."
            },
            "check": {
              "id": "orgpolicy.organizations.policies.check",
              "path": "v2/{+name}:check",
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}:check",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The Google Cloud resource name. Can be a project, folder or organization. For example: \u201Cprojects\/ID_OR_NUMBER\/policies\/CONSTRAINT_NAME\u201D \u201Cfolders\/ID_OR_NUMBER\/policies\/CONSTRAINT_NAME\u201D \u201Corganizations\/ID_OR_NUMBER\/policies\/CONSTRAINT_NAME\u201D",
                  "pattern": "^organizations\/[^\/]+\/policies\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "listValue": {
                  "description": "For predefined list constraints, set the literal field. Custom constraints (NOT YET SUPPORTED).",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CheckOrgPolicyResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Checks an organization policy's conformance to a specified value at a particular node in the hierarchy."
            }
          }
        },
        "customConstraints": {
          "methods": {
            "create": {
              "id": "orgpolicy.organizations.customConstraints.create",
              "path": "v2/{+parent}/customConstraints",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Must be in the following form: * `organizations\/{organization_id}`",
                  "pattern": "^organizations\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "validateOnly": {
                  "description": "Optional. Only validates the request, but do not perform any mutations. The default is false.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the organization does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the constraint already exists on the given organization."
            },
            "patch": {
              "id": "orgpolicy.organizations.customConstraints.patch",
              "path": "v2/{+name}",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Immutable. Name of the constraint. This is unique within the organization. Format of the name should be * `organizations\/{organization_id}\/customConstraints\/{custom_constraint_id}` Example: `organizations\/123\/customConstraints\/custom.createOnlyE2TypeVms` The max length is 70 characters and the minimum length is 1. Note that the prefix `organizations\/{organization_id}\/customConstraints\/` is not counted.",
                  "pattern": "^organizations\/[^\/]+\/customConstraints\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "validateOnly": {
                  "description": "Optional. Only validates the request, but do not perform any mutations. The default is false.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Note: the supplied policy will perform a full overwrite of all fields."
            },
            "get": {
              "id": "orgpolicy.organizations.customConstraints.get",
              "path": "v2/{+name}",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the custom constraint. See the custom constraint entry for naming requirements.",
                  "pattern": "^organizations\/[^\/]+\/customConstraints\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the custom constraint does not exist."
            },
            "list": {
              "id": "orgpolicy.organizations.customConstraints.list",
              "path": "v2/{+parent}/customConstraints",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The target Google Cloud resource that parents the set of custom constraints that will be returned from this call. Must be in one of the following forms: * `organizations\/{organization_id}`",
                  "pattern": "^organizations\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieves all of the custom constraints that exist on a particular organization resource."
            },
            "delete": {
              "id": "orgpolicy.organizations.customConstraints.delete",
              "path": "v2/{+name}",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Name of the custom constraint to delete. See the custom constraint entry for naming rules.",
                  "pattern": "^organizations\/[^\/]+\/customConstraints\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist."
            }
          }
        }
      }
    }
  },
  "basePath": ""
}