{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "run:v1",
  "name": "run",
  "canonicalName": "Cloud Run",
  "version": "v1",
  "revision": "0",
  "title": "Cloud Run Admin API",
  "description": "Deploy and manage user provided container images that scale automatically based on incoming requests. The Cloud Run Admin API v1 follows the Knative Serving API specification, while v2 is aligned with Google Cloud AIP-based API standards, as described in https:\/\/google.aip.dev\/.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/run/",
  "protocol": "rest",
  "rootUrl": "https://run.googleapis.com/",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://run.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "ListAuthorizedDomainsResponse": {
      "id": "ListAuthorizedDomainsResponse",
      "description": "A list of Authorized Domains.",
      "type": "object",
      "properties": {
        "domains": {
          "description": "The authorized domains belonging to the user.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedDomain"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "AuthorizedDomain": {
      "id": "AuthorizedDomain",
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via [Webmaster Central](https:\/\/www.google.com\/webmasters\/verification\/home).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Deprecated Read only. Full path to the `AuthorizedDomain` resource in the API. Example: `projects\/myproject\/authorizedDomains\/example.com`.",
          "type": "string"
        },
        "id": {
          "description": "Relative name of the domain authorized for use. Example: `example.com`.",
          "type": "string"
        }
      }
    },
    "ListRevisionsResponse": {
      "id": "ListRevisionsResponse",
      "description": "ListRevisionsResponse is a list of Revision resources.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev\/v1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"RevisionList\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this revision list.",
          "$ref": "ListMeta"
        },
        "items": {
          "description": "List of Revisions.",
          "type": "array",
          "items": {
            "$ref": "Revision"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListMeta": {
      "id": "ListMeta",
      "description": "Metadata for synthetic resources like List. In Cloud Run, all List Resources Responses will have a ListMeta instead of ObjectMeta.",
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "URL representing this object.",
          "type": "string"
        },
        "resourceVersion": {
          "description": "Opaque string that identifies the server's internal version of this object. It can be used by clients to determine when objects have changed. If the message is passed back to the server, it must be left unmodified. https:\/\/git.k8s.io\/community\/contributors\/devel\/api-conventions.md#concurrency-control-and-consistency",
          "type": "string"
        },
        "continue": {
          "description": "Continuation token is a value emitted when the count of items is larger than the user\/system limit. To retrieve the next page of items, pass the value of `continue` as the next request's `page_token`.",
          "type": "string"
        }
      }
    },
    "Revision": {
      "id": "Revision",
      "description": "Revision is an immutable snapshot of code and configuration. A revision references a container image. Revisions are created by updates to a Configuration. See also: https:\/\/github.com\/knative\/specs\/blob\/main\/specs\/serving\/overview.md#revision",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev\/v1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"Revision\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this Revision, including name, namespace, labels, and annotations.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Spec holds the desired state of the Revision (from the client).",
          "$ref": "RevisionSpec"
        },
        "status": {
          "description": "Status communicates the observed state of the Revision (from the controller).",
          "$ref": "RevisionStatus"
        }
      }
    },
    "ObjectMeta": {
      "id": "ObjectMeta",
      "description": "k8s.io.apimachinery.pkg.apis.meta.v1.ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the resource. In Cloud Run, name is required when creating top-level resources (Service, Job), must be unique within a Cloud Run project\/region, and cannot be changed once created. More info: https:\/\/kubernetes.io\/docs\/user-guide\/identifiers#names",
          "type": "string"
        },
        "generateName": {
          "description": "Not supported by Cloud Run",
          "type": "string"
        },
        "namespace": {
          "description": "Required. Defines the space within each name must be unique within a Cloud Run region. In Cloud Run, it must be project ID or number.",
          "type": "string"
        },
        "selfLink": {
          "description": "URL representing this object.",
          "type": "string"
        },
        "uid": {
          "description": "Unique, system-generated identifier for this resource. More info: https:\/\/kubernetes.io\/docs\/user-guide\/identifiers#uids",
          "type": "string"
        },
        "resourceVersion": {
          "description": "Opaque, system-generated value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server or omit the value to disable conflict-detection. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#concurrency-control-and-consistency",
          "type": "string"
        },
        "generation": {
          "description": "A system-provided sequence number representing a specific generation of the desired state.",
          "type": "integer",
          "format": "int32"
        },
        "creationTimestamp": {
          "description": "UTC timestamp representing the server time when this object was created. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/api-conventions.md#metadata",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and routes. More info: https:\/\/kubernetes.io\/docs\/user-guide\/labels",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "description": "Unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. In Cloud Run, annotations with 'run.googleapis.com\/' and 'autoscaling.knative.dev' are restricted, and the accepted annotations will be different depending on the resource type. * `autoscaling.knative.dev\/maxScale`: Revision. * `autoscaling.knative.dev\/minScale`: Revision. * `run.googleapis.com\/binary-authorization-breakglass`: Service, Job, * `run.googleapis.com\/binary-authorization`: Service, Job, Execution. * `run.googleapis.com\/client-name`: All resources. * `run.googleapis.com\/cloudsql-instances`: Revision, Execution. * `run.googleapis.com\/cpu-throttling`: Revision. * `run.googleapis.com\/custom-audiences`: Service. * `run.googleapis.com\/description`: Service. * `run.googleapis.com\/encryption-key-shutdown-hours`: Revision * `run.googleapis.com\/encryption-key`: Revision, Execution. * `run.googleapis.com\/execution-environment`: Revision, Execution. * `run.googleapis.com\/gc-traffic-tags`: Service. * `run.googleapis.com\/ingress`: Service. * `run.googleapis.com\/network-interfaces`: Revision, Execution. * `run.googleapis.com\/post-key-revocation-action-type`: Revision. * `run.googleapis.com\/secrets`: Revision, Execution. * `run.googleapis.com\/secure-session-agent`: Revision. * `run.googleapis.com\/sessionAffinity`: Revision. * `run.googleapis.com\/startup-cpu-boost`: Revision. * `run.googleapis.com\/vpc-access-connector`: Revision, Execution. * `run.googleapis.com\/vpc-access-egress`: Revision, Execution. Execution. More info: https:\/\/kubernetes.io\/docs\/user-guide\/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ownerReferences": {
          "description": "Not supported by Cloud Run",
          "type": "array",
          "items": {
            "$ref": "OwnerReference"
          }
        },
        "deletionTimestamp": {
          "description": "The read-only soft deletion timestamp for this resource. In Cloud Run, users are not able to set this field. Instead, they must call the corresponding Delete API.",
          "type": "string",
          "format": "google-datetime"
        },
        "deletionGracePeriodSeconds": {
          "description": "Not supported by Cloud Run",
          "type": "integer",
          "format": "int32"
        },
        "finalizers": {
          "description": "Not supported by Cloud Run",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusterName": {
          "description": "Not supported by Cloud Run",
          "type": "string"
        }
      }
    },
    "OwnerReference": {
      "id": "OwnerReference",
      "description": "This is not supported or used by Cloud Run.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "string"
        },
        "kind": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "string"
        },
        "name": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "string"
        },
        "uid": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "string"
        },
        "controller": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "boolean"
        },
        "blockOwnerDeletion": {
          "description": "This is not supported or used by Cloud Run.",
          "type": "boolean"
        }
      }
    },
    "RevisionSpec": {
      "id": "RevisionSpec",
      "description": "RevisionSpec holds the desired state of the Revision (from the client).",
      "type": "object",
      "properties": {
        "containerConcurrency": {
          "description": "ContainerConcurrency specifies the maximum allowed in-flight (concurrent) requests per container instance of the Revision. If not specified, defaults to 80.",
          "type": "integer",
          "format": "int32"
        },
        "timeoutSeconds": {
          "description": "TimeoutSeconds holds the max duration the instance is allowed for responding to a request. Cloud Run: defaults to 300 seconds (5 minutes). Maximum allowed value is 3600 seconds (1 hour).",
          "type": "integer",
          "format": "int32"
        },
        "serviceAccountName": {
          "description": "Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has. If not provided, the revision will use the project's default service account.",
          "type": "string"
        },
        "containers": {
          "description": "Containers holds the single container that defines the unit of execution for this Revision. In the context of a Revision, we disallow a number of fields on this Container, including: name and lifecycle. In Cloud Run, only a single container may be provided. The runtime contract is documented here: https:\/\/github.com\/knative\/specs\/blob\/main\/specs\/serving\/runtime-contract.md",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "enableServiceLinks": {
          "description": "Not supported by Cloud Run.",
          "type": "boolean"
        },
        "imagePullSecrets": {
          "description": "Not supported by Cloud Run.",
          "type": "array",
          "items": {
            "$ref": "LocalObjectReference"
          }
        }
      }
    },
    "Container": {
      "id": "Container",
      "description": "A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments may be supplied by the system to the container at runtime.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the container specified as a DNS_LABEL (RFC 1123). More info: https:\/\/kubernetes.io\/docs\/concepts\/overview\/working-with-objects\/names\/#dns-label-names",
          "type": "string"
        },
        "image": {
          "description": "Required. Name of the container image in Dockerhub, Google Artifact Registry, or Google Container Registry. If the host is not provided, Dockerhub is assumed. More info: https:\/\/kubernetes.io\/docs\/concepts\/containers\/images",
          "type": "string"
        },
        "command": {
          "description": "Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided. Variable references are not supported in Cloud Run.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "description": "Arguments to the entrypoint. The docker image's CMD is used if this is not provided. Variable references are not supported in Cloud Run.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "env": {
          "description": "List of environment variables to set in the container. EnvVar with duplicate names are generally allowed; if referencing a secret, the name must be unique for the container. For non-secret EnvVar names, the Container will only get the last-declared one.",
          "type": "array",
          "items": {
            "$ref": "EnvVar"
          }
        },
        "resources": {
          "description": "Compute Resources required by this container. More info: https:\/\/kubernetes.io\/docs\/concepts\/storage\/persistent-volumes#resources",
          "$ref": "ResourceRequirements"
        },
        "workingDir": {
          "description": "Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image.",
          "type": "string"
        },
        "ports": {
          "description": "List of ports to expose from the container. Only a single port can be specified. The specified ports must be listening on all interfaces (0.0.0.0) within the container to be accessible. If omitted, a port number will be chosen and passed to the container through the PORT environment variable for the container to listen on.",
          "type": "array",
          "items": {
            "$ref": "ContainerPort"
          }
        },
        "envFrom": {
          "description": "Not supported by Cloud Run.",
          "type": "array",
          "items": {
            "$ref": "EnvFromSource"
          }
        },
        "volumeMounts": {
          "description": "Volume to mount into the container's filesystem. Only supports SecretVolumeSources. Pod volumes to mount into the container's filesystem.",
          "type": "array",
          "items": {
            "$ref": "VolumeMount"
          }
        },
        "livenessProbe": {
          "description": "Periodic probe of container liveness. Container will be restarted if the probe fails. More info: https:\/\/kubernetes.io\/docs\/concepts\/workloads\/pods\/pod-lifecycle#container-probes",
          "$ref": "Probe"
        },
        "readinessProbe": {
          "description": "Not supported by Cloud Run.",
          "$ref": "Probe"
        },
        "startupProbe": {
          "description": "Startup probe of application within the container. All other probes are disabled if a startup probe is provided, until it succeeds. Container will not receive traffic if the probe fails. If not provided, a default startup probe with TCP socket action is used. More info: https:\/\/kubernetes.io\/docs\/concepts\/workloads\/pods\/pod-lifecycle#container-probes",
          "$ref": "Probe"
        },
        "terminationMessagePath": {
          "description": "Path at which the file to which the container's termination message will be written is mounted into the container's filesystem. Message written is intended to be brief final status, such as an assertion failure message. Will be truncated by the node if greater than 4096 bytes. The total message length across all containers will be limited to 12kb. Defaults to \/dev\/termination-log.",
          "type": "string"
        },
        "terminationMessagePolicy": {
          "description": "Indicate how the termination message should be populated. File will use the contents of terminationMessagePath to populate the container status message on both success and failure. FallbackToLogsOnError will use the last chunk of container log output if the termination message file is empty and the container exited with an error. The log output is limited to 2048 bytes or 80 lines, whichever is smaller. Defaults to File. Cannot be updated.",
          "type": "string"
        },
        "imagePullPolicy": {
          "description": "Image pull policy. One of Always, Never, IfNotPresent. Defaults to Always if :latest tag is specified, or IfNotPresent otherwise. More info: https:\/\/kubernetes.io\/docs\/concepts\/containers\/images#updating-images",
          "type": "string"
        },
        "securityContext": {
          "description": "Not supported by Cloud Run.",
          "$ref": "SecurityContext"
        },
        "dependsOn": {
          "description": "Container names which must start before this container.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EnvVar": {
      "id": "EnvVar",
      "description": "EnvVar represents an environment variable present in a Container.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the environment variable. Must be a C_IDENTIFIER.",
          "type": "string"
        },
        "value": {
          "description": "Value of the environment variable. Defaults to \"\". Variable references are not supported in Cloud Run.",
          "type": "string"
        },
        "valueFrom": {
          "description": "Source for the environment variable's value. Only supports secret_key_ref. Cannot be used if value is not empty.",
          "$ref": "EnvVarSource"
        }
      }
    },
    "EnvVarSource": {
      "id": "EnvVarSource",
      "description": "EnvVarSource represents a source for the value of an EnvVar.",
      "type": "object",
      "properties": {
        "configMapKeyRef": {
          "description": "Not supported by Cloud Run. Not supported in Cloud Run.",
          "$ref": "ConfigMapKeySelector"
        },
        "secretKeyRef": {
          "description": "Selects a key (version) of a secret in Secret Manager.",
          "$ref": "SecretKeySelector"
        }
      }
    },
    "ConfigMapKeySelector": {
      "id": "ConfigMapKeySelector",
      "description": "Not supported by Cloud Run.",
      "type": "object",
      "properties": {
        "localObjectReference": {
          "description": "Not supported by Cloud Run.",
          "$ref": "LocalObjectReference"
        },
        "key": {
          "description": "Required. Not supported by Cloud Run.",
          "type": "string"
        },
        "optional": {
          "description": "Not supported by Cloud Run.",
          "type": "boolean"
        },
        "name": {
          "description": "Required. Not supported by Cloud Run.",
          "type": "string"
        }
      }
    },
    "LocalObjectReference": {
      "id": "LocalObjectReference",
      "description": "Not supported by Cloud Run. LocalObjectReference contains enough information to let you locate the referenced object inside the same namespace.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the referent. More info: https:\/\/kubernetes.io\/docs\/concepts\/overview\/working-with-objects\/names\/#names",
          "type": "string"
        }
      }
    },
    "SecretKeySelector": {
      "id": "SecretKeySelector",
      "description": "SecretKeySelector selects a key of a Secret.",
      "type": "object",
      "properties": {
        "localObjectReference": {
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead.",
          "$ref": "LocalObjectReference"
        },
        "key": {
          "description": "Required. A Cloud Secret Manager secret version. Must be 'latest' for the latest version, an integer for a specific version, or a version alias. The key of the secret to select from. Must be a valid secret key.",
          "type": "string"
        },
        "optional": {
          "description": "Specify whether the Secret or its key must be defined.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the secret in Cloud Secret Manager. By default, the secret is assumed to be in the same project. If the secret is in another project, you must define an alias. An alias definition has the form: :projects\/\/secrets\/. If multiple alias definitions are needed, they must be separated by commas. The alias definitions must be set on the run.googleapis.com\/secrets annotation. The name of the secret in the pod's namespace to select from.",
          "type": "string"
        }
      }
    },
    "ResourceRequirements": {
      "id": "ResourceRequirements",
      "description": "ResourceRequirements describes the compute resource requirements.",
      "type": "object",
      "properties": {
        "limits": {
          "description": "Only memory and CPU are supported. Limits describes the maximum amount of compute resources allowed. The values of the map is string form of the 'quantity' k8s type: https:\/\/github.com\/kubernetes\/kubernetes\/blob\/master\/staging\/src\/k8s.io\/apimachinery\/pkg\/api\/resource\/quantity.go",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requests": {
          "description": "Only memory and CPU are supported. Requests describes the minimum amount of compute resources required. If Requests is omitted for a container, it defaults to Limits if that is explicitly specified, otherwise to an implementation-defined value. The values of the map is string form of the 'quantity' k8s type: https:\/\/github.com\/kubernetes\/kubernetes\/blob\/master\/staging\/src\/k8s.io\/apimachinery\/pkg\/api\/resource\/quantity.go",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ContainerPort": {
      "id": "ContainerPort",
      "description": "ContainerPort represents a network port in a single container.",
      "type": "object",
      "properties": {
        "name": {
          "description": "If specified, used to specify which protocol to use. Allowed values are \"http1\" and \"h2c\".",
          "type": "string"
        },
        "containerPort": {
          "description": "Port number the container listens on. If present, this must be a valid port number, 0 < x < 65536. If not present, it will default to port 8080. For more information, see https:\/\/cloud.google.com\/run\/docs\/container-contract#port",
          "type": "integer",
          "format": "int32"
        },
        "protocol": {
          "description": "Protocol for port. Must be \"TCP\". Defaults to \"TCP\".",
          "type": "string"
        }
      }
    },
    "EnvFromSource": {
      "id": "EnvFromSource",
      "description": "Not supported by Cloud Run. EnvFromSource represents the source of a set of ConfigMaps",
      "type": "object",
      "properties": {
        "prefix": {
          "description": "An optional identifier to prepend to each key in the ConfigMap. Must be a C_IDENTIFIER.",
          "type": "string"
        },
        "configMapRef": {
          "description": "The ConfigMap to select from",
          "$ref": "ConfigMapEnvSource"
        },
        "secretRef": {
          "description": "The Secret to select from",
          "$ref": "SecretEnvSource"
        }
      }
    },
    "ConfigMapEnvSource": {
      "id": "ConfigMapEnvSource",
      "description": "Not supported by Cloud Run. ConfigMapEnvSource selects a ConfigMap to populate the environment variables with. The contents of the target ConfigMap's Data field will represent the key-value pairs as environment variables.",
      "type": "object",
      "properties": {
        "localObjectReference": {
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead.",
          "$ref": "LocalObjectReference"
        },
        "optional": {
          "description": "Specify whether the ConfigMap must be defined.",
          "type": "boolean"
        },
        "name": {
          "description": "The ConfigMap to select from.",
          "type": "string"
        }
      }
    },
    "SecretEnvSource": {
      "id": "SecretEnvSource",
      "description": "Not supported by Cloud Run. SecretEnvSource selects a Secret to populate the environment variables with. The contents of the target Secret's Data field will represent the key-value pairs as environment variables.",
      "type": "object",
      "properties": {
        "localObjectReference": {
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead.",
          "$ref": "LocalObjectReference"
        },
        "optional": {
          "description": "Specify whether the Secret must be defined",
          "type": "boolean"
        },
        "name": {
          "description": "The Secret to select from.",
          "type": "string"
        }
      }
    },
    "VolumeMount": {
      "id": "VolumeMount",
      "description": "VolumeMount describes a mounting of a Volume within a container.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the volume. There must be a corresponding Volume with the same name.",
          "type": "string"
        },
        "readOnly": {
          "description": "Only true is accepted for Secret Volumes. Defaults to true for Secrets Volumes.",
          "type": "boolean"
        },
        "mountPath": {
          "description": "Required. Path within the container at which the volume should be mounted. Must not contain ':'.",
          "type": "string"
        },
        "subPath": {
          "description": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root).",
          "type": "string"
        }
      }
    },
    "Probe": {
      "id": "Probe",
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
      "type": "object",
      "properties": {
        "initialDelaySeconds": {
          "description": "Number of seconds after the container has started before the probe is initiated. Defaults to 0 seconds. Minimum value is 0. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240. More info: https:\/\/kubernetes.io\/docs\/concepts\/workloads\/pods\/pod-lifecycle#container-probes",
          "type": "integer",
          "format": "int32"
        },
        "timeoutSeconds": {
          "description": "Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. Maximum value is 3600. Must be smaller than period_seconds. More info: https:\/\/kubernetes.io\/docs\/concepts\/workloads\/pods\/pod-lifecycle#container-probes",
          "type": "integer",
          "format": "int32"
        },
        "periodSeconds": {
          "description": "How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240. Must be greater or equal than timeout_seconds.",
          "type": "integer",
          "format": "int32"
        },
        "successThreshold": {
          "description": "Minimum consecutive successes for the probe to be considered successful after having failed. Must be 1 if set.",
          "type": "integer",
          "format": "int32"
        },
        "failureThreshold": {
          "description": "Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1.",
          "type": "integer",
          "format": "int32"
        },
        "exec": {
          "description": "Not supported by Cloud Run.",
          "$ref": "ExecAction"
        },
        "httpGet": {
          "description": "HTTPGet specifies the http request to perform.",
          "$ref": "HTTPGetAction"
        },
        "tcpSocket": {
          "description": "TCPSocket specifies an action involving a TCP port.",
          "$ref": "TCPSocketAction"
        },
        "grpc": {
          "description": "GRPCAction specifies an action involving a GRPC port.",
          "$ref": "GRPCAction"
        }
      }
    },
    "ExecAction": {
      "id": "ExecAction",
      "description": "Not supported by Cloud Run. ExecAction describes a \"run in container\" action.",
      "type": "object",
      "properties": {
        "command": {
          "description": "Command is the command line to execute inside the container, the working directory for the command is root ('\/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live\/healthy and non-zero is unhealthy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "HTTPGetAction": {
      "id": "HTTPGetAction",
      "description": "HTTPGetAction describes an action based on HTTP Get requests.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Path to access on the HTTP server.",
          "type": "string"
        },
        "host": {
          "description": "Not supported by Cloud Run.",
          "type": "string"
        },
        "scheme": {
          "description": "Not supported by Cloud Run.",
          "type": "string"
        },
        "httpHeaders": {
          "description": "Custom headers to set in the request. HTTP allows repeated headers.",
          "type": "array",
          "items": {
            "$ref": "HTTPHeader"
          }
        },
        "port": {
          "description": "Port number to access on the container. Number must be in the range 1 to 65535.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "HTTPHeader": {
      "id": "HTTPHeader",
      "description": "HTTPHeader describes a custom header to be used in HTTP probes",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The header field name",
          "type": "string"
        },
        "value": {
          "description": "The header field value",
          "type": "string"
        }
      }
    },
    "TCPSocketAction": {
      "id": "TCPSocketAction",
      "description": "TCPSocketAction describes an action based on opening a socket",
      "type": "object",
      "properties": {
        "port": {
          "description": "Port number to access on the container. Number must be in the range 1 to 65535.",
          "type": "integer",
          "format": "int32"
        },
        "host": {
          "description": "Not supported by Cloud Run.",
          "type": "string"
        }
      }
    },
    "GRPCAction": {
      "id": "GRPCAction",
      "description": "GRPCAction describes an action involving a GRPC port.",
      "type": "object",
      "properties": {
        "port": {
          "description": "Port number of the gRPC service. Number must be in the range 1 to 65535.",
          "type": "integer",
          "format": "int32"
        },
        "service": {
          "description": "Service is the name of the service to place in the gRPC HealthCheckRequest (see https:\/\/github.com\/grpc\/grpc\/blob\/master\/doc\/health-checking.md). If this is not specified, the default behavior is defined by gRPC.",
          "type": "string"
        }
      }
    },
    "SecurityContext": {
      "id": "SecurityContext",
      "description": "Not supported by Cloud Run. SecurityContext holds security configuration that will be applied to a container. Some fields are present in both SecurityContext and PodSecurityContext. When both are set, the values in SecurityContext take precedence.",
      "type": "object",
      "properties": {
        "runAsUser": {
          "description": "The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Volume": {
      "id": "Volume",
      "description": "Volume represents a named volume in a container.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Volume's name. In Cloud Run Fully Managed, the name 'cloudsql' is reserved.",
          "type": "string"
        },
        "secret": {
          "description": "The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secretName.",
          "$ref": "SecretVolumeSource"
        },
        "configMap": {
          "description": "Not supported in Cloud Run.",
          "$ref": "ConfigMapVolumeSource"
        },
        "emptyDir": {
          "description": "Ephemeral storage used as a shared volume.",
          "$ref": "EmptyDirVolumeSource"
        }
      }
    },
    "SecretVolumeSource": {
      "id": "SecretVolumeSource",
      "description": "A volume representing a secret stored in Google Secret Manager. The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secret_name. The contents of the target Secret's Data field will be presented in a volume as files using the keys in the Data field as the file names.",
      "type": "object",
      "properties": {
        "secretName": {
          "description": "The name of the secret in Cloud Secret Manager. By default, the secret is assumed to be in the same project. If the secret is in another project, you must define an alias. An alias definition has the form: :projects\/\/secrets\/. If multiple alias definitions are needed, they must be separated by commas. The alias definitions must be set on the run.googleapis.com\/secrets annotation. Name of the secret in the container's namespace to use.",
          "type": "string"
        },
        "items": {
          "description": "A list of secret versions to mount in the volume. If no items are specified, the volume will expose a file with the same name as the secret name. The contents of the file will be the data in the latest version of the secret. If items are specified, the key will be used as the version to fetch from Cloud Secret Manager and the path will be the name of the file exposed in the volume. When items are defined, they must specify both a key and a path.",
          "type": "array",
          "items": {
            "$ref": "KeyToPath"
          }
        },
        "defaultMode": {
          "description": "Integer representation of mode bits to use on created files by default. Must be a value between 01 and 0777 (octal). If 0 or not set, it will default to 0444. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "type": "integer",
          "format": "int32"
        },
        "optional": {
          "description": "Not supported by Cloud Run.",
          "type": "boolean"
        }
      }
    },
    "KeyToPath": {
      "id": "KeyToPath",
      "description": "Maps a string key to a path within a volume.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest value, or an integer or a secret alias for a specific version. The key to project.",
          "type": "string"
        },
        "path": {
          "description": "The relative path of the file to map the key to. May not be an absolute path. May not contain the path element '..'. May not start with the string '..'.",
          "type": "string"
        },
        "mode": {
          "description": "(Optional) Mode bits to use on this file, must be a value between 01 and 0777 (octal). If 0 or not set, the Volume's default mode will be used. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ConfigMapVolumeSource": {
      "id": "ConfigMapVolumeSource",
      "description": "Not supported by Cloud Run. Adapts a ConfigMap into a volume. The contents of the target ConfigMap's Data field will be presented in a volume as files using the keys in the Data field as the file names, unless the items element is populated with specific mappings of keys to paths.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the config.",
          "type": "string"
        },
        "items": {
          "description": "(Optional) If unspecified, each key-value pair in the Data field of the referenced Secret will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified that is not present in the Secret, the volume setup will error unless it is marked optional.",
          "type": "array",
          "items": {
            "$ref": "KeyToPath"
          }
        },
        "defaultMode": {
          "description": "(Optional) Integer representation of mode bits to use on created files by default. Must be a value between 01 and 0777 (octal). If 0 or not set, it will default to 0644. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "type": "integer",
          "format": "int32"
        },
        "optional": {
          "description": "(Optional) Specify whether the Secret or its keys must be defined.",
          "type": "boolean"
        }
      }
    },
    "EmptyDirVolumeSource": {
      "id": "EmptyDirVolumeSource",
      "description": "Ephemeral storage which can be backed by real disks (HD, SSD), network storage or memory (i.e. tmpfs). For now only in memory (tmpfs) is supported. It is ephemeral in the sense that when the sandbox is taken down, the data is destroyed with it (it does not persist across sandbox runs).",
      "type": "object",
      "properties": {
        "medium": {
          "description": "The medium on which the data is stored. The default is \"\" which means to use the node's default medium. Must be an empty string (default) or Memory. More info: https:\/\/kubernetes.io\/docs\/concepts\/storage\/volumes#emptydir +optional",
          "type": "string"
        },
        "sizeLimit": {
          "description": "Limit on the storage usable by this EmptyDir volume. The size limit is also applicable for memory medium. The maximum usage on memory medium EmptyDir would be the minimum value between the SizeLimit specified here and the sum of memory limits of all containers in a pod. This field's values are of the 'Quantity' k8s type: https:\/\/kubernetes.io\/docs\/reference\/kubernetes-api\/common-definitions\/quantity\/. The default is nil which means that the limit is undefined. More info: http:\/\/kubernetes.io\/docs\/user-guide\/volumes#emptydir +optional",
          "type": "string"
        }
      }
    },
    "RevisionStatus": {
      "id": "RevisionStatus",
      "description": "RevisionStatus communicates the observed state of the Revision (from the controller).",
      "type": "object",
      "properties": {
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the Revision that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation, and the Ready condition's status is True or False.",
          "type": "integer",
          "format": "int32"
        },
        "conditions": {
          "description": "Conditions communicate information about ongoing\/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. As a Revision is being prepared, it will incrementally update conditions. Revision-specific conditions include: * `ResourcesAvailable`: `True` when underlying resources have been provisioned. * `ContainerHealthy`: `True` when the Revision readiness check completes. * `Active`: `True` when the Revision may receive traffic.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          }
        },
        "logUrl": {
          "description": "Optional. Specifies the generated logging url for this particular revision based on the revision url template specified in the controller's config.",
          "type": "string"
        },
        "serviceName": {
          "description": "Not currently used by Cloud Run.",
          "type": "string"
        },
        "imageDigest": {
          "description": "ImageDigest holds the resolved digest for the image specified within .Spec.Container.Image. The digest is resolved during the creation of Revision. This field holds the digest value regardless of whether a tag or digest was originally specified in the Container object.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRunV1Condition": {
      "id": "GoogleCloudRunV1Condition",
      "description": "Conditions show the status of reconciliation progress on a given resource. Most resource use a top-level condition type \"Ready\" or \"Completed\" to show overall status with other conditions to checkpoint each stage of reconciliation. Note that if metadata.Generation does not equal status.ObservedGeneration, the conditions shown may not be relevant for the current spec.",
      "type": "object",
      "properties": {
        "type": {
          "description": "type is used to communicate the status of the reconciliation process. See also: https:\/\/github.com\/knative\/serving\/blob\/main\/docs\/spec\/errors.md#error-conditions-and-reporting Types common to all resources include: * \"Ready\" or \"Completed\": True when the Resource is ready.",
          "type": "string"
        },
        "status": {
          "description": "Status of the condition, one of True, False, Unknown.",
          "type": "string"
        },
        "reason": {
          "description": "Optional. One-word CamelCase reason for the condition's last transition. These are intended to be stable, unique values which the client may use to trigger error handling logic, whereas messages which may be changed later by the server.",
          "type": "string"
        },
        "message": {
          "description": "Optional. Human readable message indicating details about the current status.",
          "type": "string"
        },
        "lastTransitionTime": {
          "description": "Optional. Last time the condition transitioned from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "severity": {
          "description": "Optional. How to interpret this condition. One of Error, Warning, or Info. Conditions of severity Info do not contribute to resource readiness.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "Status is a return value for calls that don't return other objects.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Standard list metadata. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#types-kinds",
          "$ref": "ListMeta"
        },
        "status": {
          "description": "Status of the operation. One of: \"Success\" or \"Failure\". More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#spec-and-status",
          "type": "string"
        },
        "message": {
          "description": "A human-readable description of the status of this operation.",
          "type": "string"
        },
        "reason": {
          "description": "A machine-readable description of why this operation is in the \"Failure\" status. If this value is empty there is no information available. A Reason clarifies an HTTP status code but does not override it.",
          "type": "string"
        },
        "details": {
          "description": "Extended data associated with the reason. Each reason may define its own extended details. This field is optional and the data returned is not guaranteed to conform to any schema except that defined by the reason type.",
          "$ref": "StatusDetails"
        },
        "code": {
          "description": "Suggested HTTP return code for this status, 0 if not set.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "StatusDetails": {
      "id": "StatusDetails",
      "description": "StatusDetails is a set of additional properties that MAY be set by the server to provide additional information about a response. The Reason field of a Status object defines what attributes will be set. Clients must ignore fields that do not match the defined type of each attribute, and should assume that any attribute may be empty, invalid, or under defined.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name attribute of the resource associated with the status StatusReason (when there is a single name which can be described).",
          "type": "string"
        },
        "group": {
          "description": "The group attribute of the resource associated with the status StatusReason.",
          "type": "string"
        },
        "kind": {
          "description": "The kind attribute of the resource associated with the status StatusReason. On some operations may differ from the requested resource Kind. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#types-kinds",
          "type": "string"
        },
        "uid": {
          "description": "UID of the resource. (when there is a single resource which can be described). More info: https:\/\/kubernetes.io\/docs\/user-guide\/identifiers#uids",
          "type": "string"
        },
        "causes": {
          "description": "The Causes array includes more details associated with the StatusReason failure. Not all StatusReasons may provide detailed causes.",
          "type": "array",
          "items": {
            "$ref": "StatusCause"
          }
        },
        "retryAfterSeconds": {
          "description": "If specified, the time in seconds before the operation should be retried. Some errors may indicate the client must take an alternate action - for those errors this field may indicate how long to wait before taking the alternate action.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "StatusCause": {
      "id": "StatusCause",
      "description": "StatusCause provides more information about an api.Status failure, including cases when multiple errors are encountered.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "A machine-readable description of the cause of the error. If this value is empty there is no information available.",
          "type": "string"
        },
        "message": {
          "description": "A human-readable description of the cause of the error. This field may be presented as-is to a reader.",
          "type": "string"
        },
        "field": {
          "description": "The field of the resource that has caused this error, as named by its JSON serialization. May include dot and postfix notation for nested attributes. Arrays are zero-indexed. Fields may appear more than once in an array of causes due to fields having multiple errors. Examples: \"name\" - the field \"name\" on the current resource \"items[0].name\" - the field \"name\" on the first array entry in \"items\"",
          "type": "string"
        }
      }
    },
    "ListConfigurationsResponse": {
      "id": "ListConfigurationsResponse",
      "description": "ListConfigurationsResponse is a list of Configuration resources.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev\/v1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"ConfigurationList\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this Configuration list.",
          "$ref": "ListMeta"
        },
        "items": {
          "description": "List of Configurations.",
          "type": "array",
          "items": {
            "$ref": "Configuration"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Configuration": {
      "id": "Configuration",
      "description": "Configuration represents the \"floating HEAD\" of a linear history of Revisions, and optionally how the containers those revisions reference are built. Users create new Revisions by updating the Configuration's spec. The \"latest created\" revision's name is available under status, as is the \"latest ready\" revision's name. See also: https:\/\/github.com\/knative\/specs\/blob\/main\/specs\/serving\/overview.md#configuration",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev\/v1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource, in this case always \"Configuration\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this Configuration, including name, namespace, labels, and annotations.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Spec holds the desired state of the Configuration (from the client).",
          "$ref": "ConfigurationSpec"
        },
        "status": {
          "description": "Status communicates the observed state of the Configuration (from the controller).",
          "$ref": "ConfigurationStatus"
        }
      }
    },
    "ConfigurationSpec": {
      "id": "ConfigurationSpec",
      "description": "ConfigurationSpec holds the desired state of the Configuration (from the client).",
      "type": "object",
      "properties": {
        "template": {
          "description": "Template holds the latest specification for the Revision to be stamped out.",
          "$ref": "RevisionTemplate"
        }
      }
    },
    "RevisionTemplate": {
      "id": "RevisionTemplate",
      "description": "RevisionTemplateSpec describes the data a revision should have when created from a template. Based on: https:\/\/github.com\/kubernetes\/api\/blob\/e771f807\/core\/v1\/types.go#L3179-L3190",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Optional metadata for this Revision, including labels and annotations. Name will be generated by the Configuration. The following annotation keys set properties of the created revision: * `autoscaling.knative.dev\/minScale` sets the minimum number of instances. * `autoscaling.knative.dev\/maxScale` sets the maximum number of instances. * `run.googleapis.com\/cloudsql-instances` sets Cloud SQL connections. Multiple values should be comma separated. * `run.googleapis.com\/vpc-access-connector` sets a Serverless VPC Access connector. * `run.googleapis.com\/vpc-access-egress` sets VPC egress. Supported values are `all-traffic`, `all` (deprecated), and `private-ranges-only`. `all-traffic` and `all` provide the same functionality. `all` is deprecated but will continue to be supported. Prefer `all-traffic`.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "RevisionSpec holds the desired state of the Revision (from the client).",
          "$ref": "RevisionSpec"
        }
      }
    },
    "ConfigurationStatus": {
      "id": "ConfigurationStatus",
      "description": "ConfigurationStatus communicates the observed state of the Configuration (from the controller).",
      "type": "object",
      "properties": {
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the Configuration that was last processed by the controller. The observed generation is updated even if the controller failed to process the spec and create the Revision. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation, and the Ready condition's status is True or False.",
          "type": "integer",
          "format": "int32"
        },
        "latestCreatedRevisionName": {
          "description": "LatestCreatedRevisionName is the last revision that was created from this Configuration. It might not be ready yet, so for the latest ready revision, use LatestReadyRevisionName.",
          "type": "string"
        },
        "latestReadyRevisionName": {
          "description": "LatestReadyRevisionName holds the name of the latest Revision stamped out from this Configuration that has had its \"Ready\" condition become \"True\".",
          "type": "string"
        },
        "conditions": {
          "description": "Conditions communicate information about ongoing\/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          }
        }
      }
    },
    "DomainMapping": {
      "id": "DomainMapping",
      "description": "Resource to hold the state and status of a user's domain mapping. NOTE: This resource is currently in Beta.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"domains.cloudrun.com\/v1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource, in this case \"DomainMapping\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this BuildTemplate.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "The spec for this DomainMapping.",
          "$ref": "DomainMappingSpec"
        },
        "status": {
          "description": "The current status of the DomainMapping.",
          "$ref": "DomainMappingStatus"
        }
      }
    },
    "DomainMappingSpec": {
      "id": "DomainMappingSpec",
      "description": "The desired state of the Domain Mapping.",
      "type": "object",
      "properties": {
        "routeName": {
          "description": "The name of the Knative Route that this DomainMapping applies to. The route must exist.",
          "type": "string"
        },
        "certificateMode": {
          "description": "The mode of the certificate.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Do not provision an HTTPS certificate.",
            "Automatically provisions an HTTPS certificate via GoogleCA."
          ],
          "enum": [
            "CERTIFICATE_MODE_UNSPECIFIED",
            "NONE",
            "AUTOMATIC"
          ]
        },
        "forceOverride": {
          "description": "If set, the mapping will override any mapping set before this spec was set. It is recommended that the user leaves this empty to receive an error warning about a potential conflict and only set it once the respective UI has given such a warning.",
          "type": "boolean"
        }
      }
    },
    "DomainMappingStatus": {
      "id": "DomainMappingStatus",
      "description": "The current state of the Domain Mapping.",
      "type": "object",
      "properties": {
        "conditions": {
          "description": "Array of observed DomainMappingConditions, indicating the current state of the DomainMapping.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          }
        },
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the DomainMapping that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False.",
          "type": "integer",
          "format": "int32"
        },
        "resourceRecords": {
          "description": "The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.",
          "type": "array",
          "items": {
            "$ref": "ResourceRecord"
          }
        },
        "mappedRouteName": {
          "description": "The name of the route that the mapping currently points to.",
          "type": "string"
        },
        "url": {
          "description": "Optional. Not supported by Cloud Run.",
          "type": "string"
        }
      }
    },
    "ResourceRecord": {
      "id": "ResourceRecord",
      "description": "A DNS resource record.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Relative name of the object affected by this record. Only applicable for `CNAME` records. Example: 'www'.",
          "type": "string"
        },
        "rrdata": {
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1).",
          "type": "string"
        },
        "type": {
          "description": "Resource record type. Example: `AAAA`.",
          "type": "string",
          "enumDescriptions": [
            "An unknown resource record.",
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ],
          "enum": [
            "RECORD_TYPE_UNSPECIFIED",
            "A",
            "AAAA",
            "CNAME"
          ]
        }
      }
    },
    "ListDomainMappingsResponse": {
      "id": "ListDomainMappingsResponse",
      "description": "ListDomainMappingsResponse is a list of DomainMapping resources.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"domains.cloudrun.com\/v1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"DomainMappingList\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this DomainMapping list.",
          "$ref": "ListMeta"
        },
        "items": {
          "description": "List of DomainMappings.",
          "type": "array",
          "items": {
            "$ref": "DomainMapping"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Task": {
      "id": "Task",
      "description": "Task represents a single run of a container to completion.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#resources",
          "type": "string"
        },
        "kind": {
          "description": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#types-kinds",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Standard object's metadata. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#metadata",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Optional. Specification of the desired behavior of a task. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#spec-and-status",
          "$ref": "TaskSpec"
        },
        "status": {
          "description": "Output only. Current status of a task. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#spec-and-status",
          "readOnly": true,
          "$ref": "TaskStatus"
        }
      }
    },
    "TaskSpec": {
      "id": "TaskSpec",
      "description": "TaskSpec is a description of a task.",
      "type": "object",
      "properties": {
        "volumes": {
          "description": "Optional. List of volumes that can be mounted by containers belonging to the task. More info: https:\/\/kubernetes.io\/docs\/concepts\/storage\/volumes",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "containers": {
          "description": "Optional. List of containers belonging to the task. We disallow a number of fields on this Container. Only a single container may be provided.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "maxRetries": {
          "description": "Optional. Number of retries allowed per task, before marking this job failed. Defaults to 3.",
          "type": "integer",
          "format": "int32"
        },
        "timeoutSeconds": {
          "description": "Optional. Duration in seconds the task may be active before the system will actively try to mark it failed and kill associated containers. This applies per attempt of a task, meaning each retry can run for the full timeout. Defaults to 600 seconds.",
          "type": "string",
          "format": "int64"
        },
        "serviceAccountName": {
          "description": "Optional. Email address of the IAM service account associated with the task of a job execution. The service account represents the identity of the running task, and determines what permissions the task has. If not provided, the task will use the project's default service account.",
          "type": "string"
        }
      }
    },
    "TaskStatus": {
      "id": "TaskStatus",
      "description": "TaskStatus represents the status of a task.",
      "type": "object",
      "properties": {
        "observedGeneration": {
          "description": "Optional. The 'generation' of the task that was last processed by the controller.",
          "type": "integer",
          "format": "int32"
        },
        "conditions": {
          "description": "Optional. Conditions communicate information about ongoing\/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. Task-specific conditions include: * `Started`: `True` when the task has started to execute. * `Completed`: `True` when the task has succeeded. `False` when the task has failed.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          }
        },
        "index": {
          "description": "Required. Index of the task, unique per execution, and beginning at 0.",
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "description": "Optional. Represents time when the task started to run. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC.",
          "type": "string",
          "format": "google-datetime"
        },
        "completionTime": {
          "description": "Optional. Represents time when the task was completed. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC.",
          "type": "string",
          "format": "google-datetime"
        },
        "retried": {
          "description": "Optional. The number of times this task was retried. Instances are retried when they fail up to the maxRetries limit.",
          "type": "integer",
          "format": "int32"
        },
        "lastAttemptResult": {
          "description": "Optional. Result of the last attempt of this task.",
          "$ref": "TaskAttemptResult"
        },
        "logUri": {
          "description": "Optional. URI where logs for this task can be found in Cloud Console.",
          "type": "string"
        }
      }
    },
    "TaskAttemptResult": {
      "id": "TaskAttemptResult",
      "description": "Result of a task attempt.",
      "type": "object",
      "properties": {
        "status": {
          "description": "Optional. The status of this attempt. If the status code is OK, then the attempt succeeded.",
          "$ref": "GoogleRpcStatus"
        },
        "exitCode": {
          "description": "Optional. The exit code of this attempt. This may be unset if the container was unable to exit cleanly with a code due to some other failure. See status field for possible failure details.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "ListTasksResponse": {
      "id": "ListTasksResponse",
      "description": "ListTasksResponse is a list of Tasks resources.",
      "type": "object",
      "properties": {
        "items": {
          "description": "List of Tasks.",
          "type": "array",
          "items": {
            "$ref": "Task"
          }
        },
        "apiVersion": {
          "description": "The API version for this call such as \"run.googleapis.com\/v1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"TasksList\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this tasks list.",
          "$ref": "ListMeta"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Execution": {
      "id": "Execution",
      "description": "Execution represents the configuration of a single execution. An execution is an immutable resource that references a container image which is run to completion.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#resources",
          "type": "string"
        },
        "kind": {
          "description": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#types-kinds",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Standard object's metadata. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#metadata",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Optional. Specification of the desired behavior of an execution. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#spec-and-status",
          "$ref": "ExecutionSpec"
        },
        "status": {
          "description": "Output only. Current status of an execution. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#spec-and-status",
          "readOnly": true,
          "$ref": "ExecutionStatus"
        }
      }
    },
    "ExecutionSpec": {
      "id": "ExecutionSpec",
      "description": "ExecutionSpec describes how the execution will look.",
      "type": "object",
      "properties": {
        "parallelism": {
          "description": "Optional. Specifies the maximum desired number of tasks the execution should run at given time. Must be <= task_count. When the job is run, if this field is 0 or unset, the maximum possible value will be used for that execution. The actual number of tasks running in steady state will be less than this number when there are fewer tasks waiting to be completed, i.e. when the work left to do is less than max parallelism.",
          "type": "integer",
          "format": "int32"
        },
        "taskCount": {
          "description": "Optional. Specifies the desired number of tasks the execution should run. Setting to 1 means that parallelism is limited to 1 and the success of that task signals the success of the execution. Defaults to 1.",
          "type": "integer",
          "format": "int32"
        },
        "template": {
          "description": "Optional. The template used to create tasks for this execution.",
          "$ref": "TaskTemplateSpec"
        }
      }
    },
    "TaskTemplateSpec": {
      "id": "TaskTemplateSpec",
      "description": "TaskTemplateSpec describes the data a task should have when created from a template.",
      "type": "object",
      "properties": {
        "spec": {
          "description": "Optional. Specification of the desired behavior of the task. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#spec-and-status",
          "$ref": "TaskSpec"
        }
      }
    },
    "ExecutionStatus": {
      "id": "ExecutionStatus",
      "description": "ExecutionStatus represents the current state of an Execution.",
      "type": "object",
      "properties": {
        "observedGeneration": {
          "description": "Optional. The 'generation' of the execution that was last processed by the controller.",
          "type": "integer",
          "format": "int32"
        },
        "conditions": {
          "description": "Optional. Conditions communicate information about ongoing\/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. Execution-specific conditions include: * `ResourcesAvailable`: `True` when underlying resources have been provisioned. * `Started`: `True` when the execution has started to execute. * `Completed`: `True` when the execution has succeeded. `False` when the execution has failed.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          }
        },
        "startTime": {
          "description": "Optional. Represents the time that the execution started to run. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC.",
          "type": "string",
          "format": "google-datetime"
        },
        "completionTime": {
          "description": "Optional. Represents the time that the execution was completed. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC. +optional",
          "type": "string",
          "format": "google-datetime"
        },
        "runningCount": {
          "description": "Optional. The number of actively running tasks.",
          "type": "integer",
          "format": "int32"
        },
        "succeededCount": {
          "description": "Optional. The number of tasks which reached phase Succeeded.",
          "type": "integer",
          "format": "int32"
        },
        "failedCount": {
          "description": "Optional. The number of tasks which reached phase Failed.",
          "type": "integer",
          "format": "int32"
        },
        "cancelledCount": {
          "description": "Optional. The number of tasks which reached phase Cancelled.",
          "type": "integer",
          "format": "int32"
        },
        "retriedCount": {
          "description": "Optional. The number of tasks which have retried at least once.",
          "type": "integer",
          "format": "int32"
        },
        "logUri": {
          "description": "Optional. URI where logs for this execution can be found in Cloud Console.",
          "type": "string"
        }
      }
    },
    "ListExecutionsResponse": {
      "id": "ListExecutionsResponse",
      "description": "ListExecutionsResponse is a list of Executions resources.",
      "type": "object",
      "properties": {
        "items": {
          "description": "List of Executions.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        },
        "apiVersion": {
          "description": "The API version for this call such as \"run.googleapis.com\/v1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"ExecutionsList\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this executions list.",
          "$ref": "ListMeta"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CancelExecutionRequest": {
      "id": "CancelExecutionRequest",
      "description": "Request message for cancelling an execution.",
      "type": "object",
      "properties": {
      }
    },
    "Job": {
      "id": "Job",
      "description": "Job represents the configuration of a single job, which references a container image which is run to completion.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#resources",
          "type": "string"
        },
        "kind": {
          "description": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#types-kinds",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Standard object's metadata. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#metadata",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Optional. Specification of the desired behavior of a job. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#spec-and-status",
          "$ref": "JobSpec"
        },
        "status": {
          "description": "Output only. Current status of a job. More info: https:\/\/git.k8s.io\/community\/contributors\/devel\/sig-architecture\/api-conventions.md#spec-and-status",
          "readOnly": true,
          "$ref": "JobStatus"
        }
      }
    },
    "JobSpec": {
      "id": "JobSpec",
      "description": "JobSpec describes how the job will look.",
      "type": "object",
      "properties": {
        "template": {
          "description": "Optional. Describes the execution that will be created when running a job.",
          "$ref": "ExecutionTemplateSpec"
        }
      }
    },
    "ExecutionTemplateSpec": {
      "id": "ExecutionTemplateSpec",
      "description": "ExecutionTemplateSpec describes the metadata and spec an Execution should have when created from a job. Based on: https:\/\/github.com\/kubernetes\/api\/blob\/e771f807\/core\/v1\/types.go#L3179-L3190",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Optional. Optional metadata for this Execution, including labels and annotations. The following annotation keys set properties of the created execution: * `run.googleapis.com\/cloudsql-instances` sets Cloud SQL connections. Multiple values should be comma separated. * `run.googleapis.com\/vpc-access-connector` sets a Serverless VPC Access connector. * `run.googleapis.com\/vpc-access-egress` sets VPC egress. Supported values are `all-traffic`, `all` (deprecated), and `private-ranges-only`. `all-traffic` and `all` provide the same functionality. `all` is deprecated but will continue to be supported. Prefer `all-traffic`.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Required. ExecutionSpec holds the desired configuration for executions of this job.",
          "$ref": "ExecutionSpec"
        }
      }
    },
    "JobStatus": {
      "id": "JobStatus",
      "description": "JobStatus represents the current state of a Job.",
      "type": "object",
      "properties": {
        "observedGeneration": {
          "description": "The 'generation' of the job that was last processed by the controller.",
          "type": "integer",
          "format": "int32"
        },
        "conditions": {
          "description": "Conditions communicate information about ongoing\/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. Job-specific conditions include: * `Ready`: `True` when the job is ready to be executed.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          }
        },
        "executionCount": {
          "description": "Number of executions created for this job.",
          "type": "integer",
          "format": "int32"
        },
        "latestCreatedExecution": {
          "description": "A pointer to the most recently created execution for this job. This is set regardless of the eventual state of the execution.",
          "$ref": "ExecutionReference"
        }
      }
    },
    "ExecutionReference": {
      "id": "ExecutionReference",
      "description": "Reference to an Execution. Use \/Executions.GetExecution with the given name to get full execution including the latest status.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the execution.",
          "type": "string"
        },
        "creationTimestamp": {
          "description": "Optional. Creation timestamp of the execution.",
          "type": "string",
          "format": "google-datetime"
        },
        "completionTimestamp": {
          "description": "Optional. Completion timestamp of the execution.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "description": "ListJobsResponse is a list of Jobs resources.",
      "type": "object",
      "properties": {
        "items": {
          "description": "List of Jobs.",
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        },
        "apiVersion": {
          "description": "The API version for this call such as \"run.googleapis.com\/v1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"JobsList\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this jobs list.",
          "$ref": "ListMeta"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}\/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/how-to\/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace\/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345
[...]
