{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "securitycenter:v1",
  "name": "securitycenter",
  "canonicalName": "Security Command Center",
  "version": "v1",
  "revision": "0",
  "title": "Security Command Center API",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/security-command-center",
  "protocol": "rest",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "BulkMuteFindingsRequest": {
      "id": "BulkMuteFindingsRequest",
      "description": "Request message for bulk findings update. Note: 1. If multiple bulk update requests match the same resource, the order in which they get executed is not defined. 2. Once a bulk operation is started, there is no way to stop it.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Expression that identifies findings that should be updated. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes.",
          "type": "string"
        },
        "muteAnnotation": {
          "description": "This can be a mute configuration name or any identifier for mute\/unmute of findings based on the filter.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule",
      "description": " A custom module is a user authored module that is run by SHA on behalf of the user to produce findings. Custom modules can be created anywhere in the CRM hierarchy, and are inherited by all descendants. A resident custom module is a custom module that was created at the CRM scope it is viewed in. An inherited custom module is a custom module that has inherited its configuration and enablement state from an ancestor resident module somewhere up the CRM hierarchy.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the custom module. Its format is \"organizations\/{organization}\/securityHealthAnalyticsSettings\/customModules\/{customModule}\", or \"folders\/{folder}\/securityHealthAnalyticsSettings\/customModules\/{customModule}\", or \"projects\/{project}\/securityHealthAnalyticsSettings\/customModules\/{customModule}\" The id {customModule} is server-generated and is not user settable. It will be a numeric id containing 1-20 digits.",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable display name of the custom module. Must be less than 64 characters.",
          "type": "string"
        },
        "description": {
          "description": " The description of the custom module. Must be less than 1024 characters.",
          "type": "string"
        },
        "enablementState": {
          "description": "The enablement state of the custom module.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified enablement state.",
            "The module is enabled at the given CRM resource.",
            "The module is disabled at the given CRM resource.",
            "State is inherited from an ancestor module. The module will either be effectively ENABLED or DISABLED based on its closest non-inherited ancestor module in the CRM hierarchy."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ]
        },
        "updateTime": {
          "description": "Output only. The time at which the custom module was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastEditor": {
          "description": "Output only. The editor that last updated the custom module.",
          "readOnly": true,
          "type": "string"
        },
        "ancestorModule": {
          "description": "Output only. If empty, indicates that the current module is a resident module of the current CRM scope. Otherwise, it will contain the name of the CRM ancestor module that this module inherited its enablement state from.",
          "readOnly": true,
          "type": "string"
        },
        "customConfig": {
          "description": "The user specified custom configuration for the module.",
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        }
      }
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "description": " Resource capturing CEL config for the custom module.",
      "type": "object",
      "properties": {
        "predicate": {
          "description": "Evaluation expression for the resource which will produce a finding.",
          "$ref": "Expr"
        },
        "customOutput": {
          "description": "Custom output properties.",
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        },
        "resourceSelector": {
          "description": "Selection criteria for the resource type.",
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        },
        "severity": {
          "description": "The severity of the generated finding.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "description": {
          "description": "The description providing context for the generated finding.",
          "type": "string"
        },
        "recommendation": {
          "description": "The recommendation steps to fix the generated finding.",
          "type": "string"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec",
      "description": "Resource capturing custom output property.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "List of custom output properties with name, CEL expression.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1Property": {
      "id": "GoogleCloudSecuritycenterV1Property",
      "description": "Resource for an individual output property.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the property for the custom output.",
          "type": "string"
        },
        "valueExpression": {
          "description": "CEL Expression for the custom output. The expression can output any standard CEL value types.",
          "$ref": "Expr"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "id": "GoogleCloudSecuritycenterV1ResourceSelector",
      "description": "Resource for selecting resource type.",
      "type": "object",
      "properties": {
        "resourceTypes": {
          "description": "Resource type for detector to operate on.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Source": {
      "id": "Source",
      "description": "Security Command Center finding source. A finding source is an entity or a mechanism that can produce a finding. A source is like a container of findings that come from the same scanner, logger, monitor, and other tools.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of this source. See: https:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name Example: \"organizations\/{organization_id}\/sources\/{source_id}\"",
          "type": "string"
        },
        "displayName": {
          "description": "The source's display name. A source's display name must be unique amongst its siblings, for example, two sources with the same parent can't share the same display name. The display name must have a length between 1 and 64 characters (inclusive).",
          "type": "string"
        },
        "description": {
          "description": "The description of the source (max of 1024 characters). Example: \"Web Security Scanner is a web security scanner for common vulnerabilities in App Engine applications. It can automatically scan and detect four common vulnerabilities, including cross-site-scripting (XSS), Flash injection, mixed content (HTTP in HTTPS), and outdated or insecure libraries.\"",
          "type": "string"
        },
        "canonicalName": {
          "description": "The canonical name of the finding. It's either \"organizations\/{organization_id}\/sources\/{source_id}\", \"folders\/{folder_id}\/sources\/{source_id}\" or \"projects\/{project_number}\/sources\/{source_id}\", depending on the closest CRM ancestor of the resource associated with the finding.",
          "type": "string"
        }
      }
    },
    "Finding": {
      "id": "Finding",
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of this finding. See: https:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name Example: \"organizations\/{organization_id}\/sources\/{source_id}\/findings\/{finding_id}\"",
          "type": "string"
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations\/{organization_id}\/sources\/{source_id}\"",
          "type": "string"
        },
        "resourceName": {
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https:\/\/cloud.google.com\/apis\/design\/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time.",
          "type": "string"
        },
        "state": {
          "description": "The state of the finding.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "readOnly": true,
          "$ref": "SecurityMarks"
        },
        "eventTime": {
          "description": "The time the finding was first detected. If an existing finding is updated, then this is the time the update occurred. For example, if the finding represents an open firewall, this property captures the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding is later resolved, then this time reflects when the finding was resolved. This must not be set to a value greater than the current timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        },
        "severity": {
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "type": "string",
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data, public SSH access with weak or no passwords, etc. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "canonicalName": {
          "description": "The canonical name of the finding. It's either \"organizations\/{organization_id}\/sources\/{source_id}\/findings\/{finding_id}\", \"folders\/{folder_id}\/sources\/{source_id}\/findings\/{finding_id}\" or \"projects\/{project_number}\/sources\/{source_id}\/findings\/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding.",
          "type": "string"
        },
        "mute": {
          "description": "Indicates the mute state of a finding (either muted, unmuted or undefined). Unlike other attributes of a finding, a finding provider shouldn't set the value of mute.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted\/unmuted."
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "muteAnnotation": {
          "description": "Records additional information about the mute operation e.g. mute config that muted the finding etc. Unlike other attributes of a finding, a finding provider shouldn't set the value of mute_annotation.",
          "type": "string"
        },
        "findingClass": {
          "description": "The class of the finding.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified finding class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource\/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality."
          ],
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR"
          ]
        },
        "indicator": {
          "description": "Represents what's commonly known as an Indicator of compromise (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. Reference: https:\/\/en.wikipedia.org\/wiki\/Indicator_of_compromise",
          "$ref": "Indicator"
        },
        "vulnerability": {
          "description": "Represents vulnerability specific fields like cve, cvss scores etc. CVE stands for Common Vulnerabilities and Exposures (https:\/\/cve.mitre.org\/about\/)",
          "$ref": "Vulnerability"
        },
        "muteUpdateTime": {
          "description": "Output only. The most recent time this finding was muted or unmuted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "externalSystems": {
          "description": "Output only. Third party SIEM\/SOAR fields within SCC, contains external system information and external system finding fields.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          }
        },
        "mitreAttack": {
          "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https:\/\/attack.mitre.org",
          "$ref": "MitreAttack"
        },
        "access": {
          "description": "Access details associated to the Finding, such as more information on the caller, which method was accessed, from where, etc.",
          "$ref": "Access"
        },
        "connections": {
          "description": "Contains information about the IP connection associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "muteInitiator": {
          "description": "First known as mute_annotation. Records additional information about the mute operation e.g. mute config that muted the finding, user who muted the finding, etc. Unlike other attributes of a finding, a finding provider shouldn't set the value of mute.",
          "type": "string"
        },
        "processes": {
          "description": "Represents operating system processes associated with the Finding.",
          "type": "array",
          "items": {
            "$ref": "Process"
          }
        },
        "contacts": {
          "description": "Output only. Map containing the points of contact for the given finding. The key represents the type of contact, while the value contains a list of all the contacts that pertain. Please refer to: https:\/\/cloud.google.com\/resource-manager\/docs\/managing-notification-contacts#notification-categories { \"security\": { \"contacts\": [ { \"email\": \"person1@company.com\" }, { \"email\": \"person2@company.com\" } ] } }",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "ContactDetails"
          }
        },
        "compliances": {
          "description": "Contains compliance information for security standards associated to the finding.",
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "parentDisplayName": {
          "description": "Output only. The human readable display name of the finding source such as \"Event Threat Detection\" or \"Security Health Analytics\".",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Contains more detail about the finding.",
          "type": "string"
        },
        "exfiltration": {
          "description": "Represents exfiltration associated with the Finding.",
          "$ref": "Exfiltration"
        },
        "iamBindings": {
          "description": "Represents IAM bindings associated with the Finding.",
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "nextSteps": {
          "description": "Next steps associate to the finding.",
          "type": "string"
        },
        "containers": {
          "description": "Containers associated with the finding. containers provides information for both Kubernetes and non-Kubernetes containers.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "kubernetes": {
          "description": "Kubernetes resources associated with the finding.",
          "$ref": "Kubernetes"
        },
        "database": {
          "description": "Database associated with the finding.",
          "$ref": "Database"
        },
        "files": {
          "description": "File associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      }
    },
    "SecurityMarks": {
      "id": "SecurityMarks",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name Examples: \"organizations\/{organization_id}\/assets\/{asset_id}\/securityMarks\" \"organizations\/{organization_id}\/sources\/{source_id}\/findings\/{finding_id}\/securityMarks\".",
          "type": "string"
        },
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations\/{organization_id}\/assets\/{asset_id}\/securityMarks\" \"folders\/{folder_id}\/assets\/{asset_id}\/securityMarks\" \"projects\/{project_number}\/assets\/{asset_id}\/securityMarks\" \"organizations\/{organization_id}\/sources\/{source_id}\/findings\/{finding_id}\/securityMarks\" \"folders\/{folder_id}\/sources\/{source_id}\/findings\/{finding_id}\/securityMarks\" \"projects\/{project_number}\/sources\/{source_id}\/findings\/{finding_id}\/securityMarks\"",
          "type": "string"
        }
      }
    },
    "Indicator": {
      "id": "Indicator",
      "description": "Represents what's commonly known as an Indicator of compromise (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. Reference: https:\/\/en.wikipedia.org\/wiki\/Indicator_of_compromise",
      "type": "object",
      "properties": {
        "ipAddresses": {
          "description": "List of ip addresses associated to the Finding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "domains": {
          "description": "List of domains associated to the Finding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "description": "The list of matched signatures indicating that the given process is present in the environment.",
          "type": "array",
          "items": {
            "$ref": "ProcessSignature"
          }
        },
        "uris": {
          "description": "The list of URIs associated to the Findings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ProcessSignature": {
      "id": "ProcessSignature",
      "description": "Indicates what signature matched this process.",
      "type": "object",
      "properties": {
        "memoryHashSignature": {
          "description": "Signature indicating that a binary family was matched.",
          "$ref": "MemoryHashSignature"
        },
        "yaraRuleSignature": {
          "description": "Signature indicating that a YARA rule was matched.",
          "$ref": "YaraRuleSignature"
        }
      }
    },
    "MemoryHashSignature": {
      "id": "MemoryHashSignature",
      "description": "A signature corresponding to memory page hashes.",
      "type": "object",
      "properties": {
        "binaryFamily": {
          "description": "The binary family.",
          "type": "string"
        },
        "detections": {
          "description": "The list of memory hash detections contributing to the binary family match.",
          "type": "array",
          "items": {
            "$ref": "Detection"
          }
        }
      }
    },
    "Detection": {
      "id": "Detection",
      "description": "Memory hash detection contributing to the binary family match.",
      "type": "object",
      "properties": {
        "binary": {
          "description": "The name of the binary associated with the memory hash signature detection.",
          "type": "string"
        },
        "percentPagesMatched": {
          "description": "The percentage of memory page hashes in the signature that were matched.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "YaraRuleSignature": {
      "id": "YaraRuleSignature",
      "description": "A signature corresponding to a YARA rule.",
      "type": "object",
      "properties": {
        "yaraRule": {
          "description": "The name of the YARA rule.",
          "type": "string"
        }
      }
    },
    "Vulnerability": {
      "id": "Vulnerability",
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc.",
      "type": "object",
      "properties": {
        "cve": {
          "description": "CVE stands for Common Vulnerabilities and Exposures (https:\/\/cve.mitre.org\/about\/)",
          "$ref": "Cve"
        }
      }
    },
    "Cve": {
      "id": "Cve",
      "description": "CVE stands for Common Vulnerabilities and Exposures. More information: https:\/\/cve.mitre.org",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique identifier for the vulnerability. e.g. CVE-2021-34527",
          "type": "string"
        },
        "references": {
          "description": "Additional information about the CVE. e.g. https:\/\/cve.mitre.org\/cgi-bin\/cvename.cgi?name=CVE-2021-34527",
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        },
        "cvssv3": {
          "description": "Describe Common Vulnerability Scoring System specified at https:\/\/www.first.org\/cvss\/v3.1\/specification-document",
          "$ref": "Cvssv3"
        },
        "upstreamFixAvailable": {
          "description": "Whether upstream fix is available for the CVE.",
          "type": "boolean"
        }
      }
    },
    "Reference": {
      "id": "Reference",
      "description": "Additional Links",
      "type": "object",
      "properties": {
        "source": {
          "description": "Source of the reference e.g. NVD",
          "type": "string"
        },
        "uri": {
          "description": "Uri for the mentioned source e.g. https:\/\/cve.mitre.org\/cgi-bin\/cvename.cgi?name=CVE-2021-34527.",
          "type": "string"
        }
      }
    },
    "Cvssv3": {
      "id": "Cvssv3",
      "description": "Common Vulnerability Scoring System version 3.",
      "type": "object",
      "properties": {
        "baseScore": {
          "description": "The base score is a function of the base metric scores.",
          "type": "number",
          "format": "double"
        },
        "attackVector": {
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments. This metric reflects the context by which vulnerability exploitation is possible.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable component is bound to the network stack and the set of possible attackers extends beyond the other options listed below, up to and including the entire Internet.",
            "The vulnerable component is bound to the network stack, but the attack is limited at the protocol level to a logically adjacent topology.",
            "The vulnerable component is not bound to the network stack and the attacker's path is via read\/write\/execute capabilities.",
            "The attack requires the attacker to physically touch or manipulate the vulnerable component."
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "attackComplexity": {
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "privilegesRequired": {
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "userInteraction": {
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "scope": {
          "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
            "An exploited vulnerability can affect resources beyond the security scope managed by the security authority of the vulnerable component."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "confidentialityImpact": {
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "integrityImpact": {
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "availabilityImpact": {
          "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "description": "Representation of third party SIEM\/SOAR fields within SCC.",
      "type": "object",
      "properties": {
        "name": {
          "description": "External System Name e.g. jira, demisto, etc. e.g.: `organizations\/1234\/sources\/5678\/findings\/123456\/externalSystems\/jira` `folders\/1234\/sources\/5678\/findings\/123456\/externalSystems\/jira` `projects\/1234\/sources\/5678\/findings\/123456\/externalSystems\/jira`",
          "type": "string"
        },
        "assignees": {
          "description": "References primary\/secondary etc assignees in the external system.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "externalUid": {
          "description": "Identifier that's used to track the given finding in the external system.",
          "type": "string"
        },
        "status": {
          "description": "Most recent status of the corresponding finding's ticket\/tracker in the external system.",
          "type": "string"
        },
        "externalSystemUpdateTime": {
          "description": "The most recent time when the corresponding finding's ticket\/tracker was updated in the external system.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "MitreAttack": {
      "id": "MitreAttack",
      "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https:\/\/attack.mitre.org",
      "type": "object",
      "properties": {
        "primaryTactic": {
          "description": "The MITRE ATT&CK tactic most closely represented by this finding, if any.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "TA0043",
            "TA0042",
            "TA0001",
            "TA0002",
            "TA0003",
            "TA0004",
            "TA0005",
            "TA0006",
            "TA0007",
            "TA0008",
            "TA0009",
            "TA0011",
            "TA0010",
            "TA0040"
          ],
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        },
        "primaryTechniques": {
          "description": "The MITRE ATT&CK technique most closely represented by this finding, if any. primary_techniques is a repeated field because there are multiple levels of MITRE ATT&CK techniques. If the technique most closely represented by this finding is a sub-technique (e.g. `SCANNING_IP_BLOCKS`), both the sub-technique and its parent technique(s) will be listed (e.g. `SCANNING_IP_BLOCKS`, `ACTIVE_SCANNING`).",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548",
              "T1078.001"
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "DEFAULT_ACCOUNTS"
            ]
          }
        },
        "additionalTactics": {
          "description": "Additional MITRE ATT&CK tactics related to this finding, if any.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "TA0043",
              "TA0042",
              "TA0001",
              "TA0002",
              "TA0003",
              "TA0004",
              "TA0005",
              "TA0006",
              "TA0007",
              "TA0008",
              "TA0009",
              "TA0011",
              "TA0010",
              "TA0040"
            ],
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ]
          }
        },
        "additionalTechniques": {
          "description": "Additional MITRE ATT&CK techniques related to this finding, if any, along with any of their respective parent techniques.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548",
              "T1078.001"
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "DEFAULT_ACCOUNTS"
            ]
          }
        },
        "version": {
          "description": "The MITRE ATT&CK version referenced by the above fields. E.g. \"8\".",
          "type": "string"
        }
      }
    },
    "Access": {
      "id": "Access",
      "description": "Represents an access event.",
      "type": "object",
      "properties": {
        "principalEmail": {
          "description": "Associated email, such as \"foo@google.com\". The email address of the authenticated user (or service account on behalf of third party principal) making the request. For third party identity callers, the `principal_subject` field is populated instead of this field. For privacy reasons, the principal email address is sometimes redacted. For more information, see [Caller identities in audit logs](https:\/\/cloud.google.com\/logging\/docs\/audit#user-id).",
          "type": "string"
        },
        "callerIp": {
          "description": "Caller's IP address, such as \"1.1.1.1\".",
          "type": "string"
        },
        "callerIpGeo": {
          "description": "The caller IP's geolocation, which identifies where the call came from.",
          "$ref": "Geolocation"
        },
        "userAgentFamily": {
          "description": "What kind of user agent is associated, e.g. operating system shells, embedded or stand-alone applications, etc.",
          "type": "string"
        },
        "serviceName": {
          "description": "This is the API service that the service account made a call to, e.g. \"iam.googleapis.com\"",
          "type": "string"
        },
        "methodName": {
          "description": "The method that the service account called, e.g. \"SetIamPolicy\".",
          "type": "string"
        },
        "principalSubject": {
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal:\/\/iam.googleapis.com\/{identity pool name}\/subjects\/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`",
          "type": "string"
        },
        "serviceAccountKeyName": {
          "description": "The name of the service account key used to create or exchange credentials for authenticating the service account making the request. This is a scheme-less URI full resource name. For example: \"\/\/iam.googleapis.com\/projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}\/keys\/{key}\" ",
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "description": "Identity delegation history of an authenticated service account that makes the request. It contains information on the real authorities that try to access GCP resources by delegating on a service account. When multiple authorities are present, they are guaranteed to be sorted based on the original ordering of the identity delegation events.",
          "type": "array",
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          }
        },
        "userName": {
          "description": "A string representing a username. This is likely not an IAM principal. For instance, this may be the system user name if the finding is VM-related, or this may be some type of application login user name, depending on the type of finding.",
          "type": "string"
        }
      }
    },
    "Geolocation": {
      "id": "Geolocation",
      "description": "Represents a geographical location for a given access.",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "A CLDR.",
          "type": "string"
        }
      }
    },
    "ServiceAccountDelegationInfo": {
      "id": "ServiceAccountDelegationInfo",
      "description": "Identity delegation history of an authenticated service account.",
      "type": "object",
      "properties": {
        "principalEmail": {
          "description": "The email address of a Google account.",
          "type": "string"
        },
        "principalSubject": {
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal:\/\/iam.googleapis.com\/{identity pool name}\/subjects\/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`",
          "type": "string"
        }
      }
    },
    "Connection": {
      "id": "Connection",
      "description": "Contains information about the IP connection associated with the finding.",
      "type": "object",
      "properties": {
        "destinationIp": {
          "description": "Destination IP address. Not present for sockets that are listening and not connected.",
          "type": "string"
        },
        "destinationPort": {
          "description": "Destination port. Not present for sockets that are listening and not connected.",
          "type": "integer",
          "format": "int32"
        },
        "sourceIp": {
          "description": "Source IP address.",
          "type": "string"
        },
        "sourcePort": {
          "description": "Source port.",
          "type": "integer",
          "format": "int32"
        },
        "protocol": {
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        }
      }
    },
    "Process": {
      "id": "Process",
      "description": "Represents an operating system process.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The process name visible in utilities like `top` and `ps`; it can be accessed via `\/proc\/[pid]\/comm` and changed with `prctl(PR_SET_NAME)`.",
          "type": "string"
        },
        "binary": {
          "description": "File information for the process executable.",
          "$ref": "File"
        },
        "libraries": {
          "description": "File information for libraries loaded by the process.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "script": {
          "description": "When the process represents the invocation of a script, `binary` provides information about the interpreter while `script` provides information about the script file provided to the interpreter.",
          "$ref": "File"
        },
        "args": {
          "description": "Process arguments as JSON encoded strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "argumentsTruncated": {
          "description": "True if `args` is incomplete.",
          "type": "boolean"
        },
        "envVariables": {
          "description": "Process environment variables.",
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "envVariablesTruncated": {
          "description": "True if `env_variables` is incomplete.",
          "type": "boolean"
        },
        "pid": {
          "description": "The process id.",
          "type": "string",
          "format": "int64"
        },
        "parentPid": {
          "description": "The parent process id.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "File": {
      "id": "File",
      "description": "File information about the related binary\/library used by an executable, or the script used by a script interpreter",
      "type": "object",
      "properties": {
        "path": {
          "description": "Absolute path of the file as a JSON encoded string.",
          "type": "string"
        },
        "size": {
          "description": "Size of the file in bytes.",
          "type": "string",
          "format": "int64"
        },
        "sha256": {
          "description": "SHA256 hash of the first hashed_size bytes of the file encoded as a hex string. If hashed_size == size, sha256 represents the SHA256 hash of the entire file.",
          "type": "string"
        },
        "hashedSize": {
          "description": "The length in bytes of the file prefix that was hashed. If hashed_size == size, any hashes reported represent the entire file.",
          "type": "string",
          "format": "int64"
        },
        "partiallyHashed": {
          "description": "True when the hash covers only a prefix of the file.",
          "type": "boolean"
        },
        "contents": {
          "description": "Prefix of the file contents as a JSON encoded string. (Currently only populated for Malicious Script Executed findings.)",
          "type": "string"
        }
      }
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "description": "EnvironmentVariable is a name-value pair to store environment variables for Process.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Environment variable name as a JSON encoded string.",
          "type": "string"
        },
        "val": {
          "description": "Environment variable value as a JSON encoded string.",
          "type": "string"
        }
      }
    },
    "ContactDetails": {
      "id": "ContactDetails",
      "description": "The details pertaining to specific contacts",
      "type": "object",
      "properties": {
        "contacts": {
          "description": "A list of contacts",
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        }
      }
    },
    "Contact": {
      "id": "Contact",
      "description": "Representa a single contact's email address",
      "type": "object",
      "properties": {
        "email": {
          "description": "An email address e.g. \"person123@company.com\"",
          "type": "string"
        }
      }
    },
    "Compliance": {
      "id": "Compliance",
      "description": "Contains compliance information about a security standard indicating unmet recommendations.",
      "type": "object",
      "properties": {
        "standard": {
          "description": "Refers to industry wide standards or benchmarks e.g. \"cis\", \"pci\", \"owasp\", etc.",
          "type": "string"
        },
        "version": {
          "description": "Version of the standard\/benchmark e.g. 1.1",
          "type": "string"
        },
        "ids": {
          "description": "Policies within the standard\/benchmark e.g. A.12.4.1",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Exfiltration": {
      "id": "Exfiltration",
      "description": "Exfiltration represents a data exfiltration attempt of one or more sources to one or more targets. Sources represent the source of data that is exfiltrated, and Targets represents the destination the data was copied to.",
      "type": "object",
      "properties": {
        "sources": {
          "description": "If there are multiple sources, then the data is considered \"joined\" between them. For instance, BigQuery can join multiple tables, and each table would be considered a source.",
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "targets": {
          "description": "If there are multiple targets, each target would get a complete copy of the \"joined\" source data.",
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        }
      }
    },
    "ExfilResource": {
      "id": "ExfilResource",
      "description": "Resource that has been exfiltrated or exfiltrated_to.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource's URI (https:\/\/google.aip.dev\/122#full-resource-names)",
          "type": "string"
        },
        "components": {
          "description": "Subcomponents of the asset that is exfiltrated - these could be URIs used during exfiltration, table names, databases, filenames, etc. For example, multiple tables may be exfiltrated from the same CloudSQL instance, or multiple files from the same Cloud Storage bucket.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IamBinding": {
      "id": "IamBinding",
      "description": "Represents a particular IAM binding, which captures a member's role addition, removal, or state.",
      "type": "object",
      "properties": {
        "action": {
          "description": "The action that was performed on a Binding.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "role": {
          "description": "Role that is assigned to \"members\". For example, \"roles\/viewer\", \"roles\/editor\", or \"roles\/owner\".",
          "type": "string"
        },
        "member": {
          "description": "A single identity requesting access for a Cloud Platform resource, e.g. \"foo@google.com\".",
          "type": "string"
        }
      }
    },
    "Container": {
      "id": "Container",
      "description": "Container associated with the finding.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Container name.",
          "type": "string"
        },
        "uri": {
          "description": "Container image URI provided when configuring a pod\/container. May identify a container image version using mutable tags.",
          "type": "string"
        },
        "imageId": {
          "description": "Optional container image id, when provided by the container runtime. Uniquely identifies the container image launched using a container image digest.",
          "type": "string"
        },
        "labels": {
          "description": "Container labels, as provided by the container runtime.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        }
      }
    },
    "Label": {
      "id": "Label",
      "description": "Label represents a generic name=value label. Label has separate name and value fields to support filtering with contains().",
      "type": "object",
      "properties": {
        "name": {
          "description": "Label name.",
          "type": "string"
        },
        "value": {
          "description": "Label value.",
          "type": "string"
        }
      }
    },
    "Kubernetes": {
      "id": "Kubernetes",
      "description": "Kubernetes related attributes.",
      "type": "object",
      "properties": {
        "pods": {
          "description": "Kubernetes Pods associated with the finding. This field will contain Pod records for each container that is owned by a Pod.",
          "type": "array",
          "items": {
            "$ref": "Pod"
          }
        },
        "nodes": {
          "description": "Provides Kubernetes Node information.",
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        },
        "nodePools": {
          "description": "GKE Node Pools associated with the finding. This field will contain NodePool information for each Node, when it is available.",
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "roles": {
          "description": "Provides Kubernetes role information for findings that involve Roles or ClusterRoles.",
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "bindings": {
          "description": "Provides Kubernetes role binding information for findings that involve RoleBindings or ClusterRoleBindings.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          }
        },
        "accessReviews": {
          "description": "Provides information on any Kubernetes access reviews (i.e. privilege checks) relevant to the finding.",
          "type": "array",
          "items": {
            "$ref": "AccessReview"
          }
        }
      }
    },
    "Pod": {
      "id": "Pod",
      "description": "Kubernetes Pod.",
      "type": "object",
      "properties": {
        "ns": {
          "description": "Kubernetes Pod namespace.",
          "type": "string"
        },
        "name": {
          "description": "Kubernetes Pod name.",
          "type": "string"
        },
        "labels": {
          "description": "Pod labels. For Kubernetes containers, these are applied to the container.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "containers": {
          "description": "Pod containers associated with this finding, if any.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        }
      }
    },
    "Node": {
      "id": "Node",
      "description": "Kubernetes Nodes associated with the finding.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Full Resource name of the Compute Engine VM running the cluster node.",
          "type": "string"
        }
      }
    },
    "NodePool": {
      "id": "NodePool",
      "description": "Provides GKE Node Pool information.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Kubernetes Node pool name.",
          "type": "string"
        },
        "nodes": {
          "description": "Nodes associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        }
      }
    },
    "Role": {
      "id": "Role",
      "description": "Kubernetes Role or ClusterRole.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Role type.",
          "type": "string",
          "enumDescriptions": [
            "Role type is not specified.",
            "Kubernetes Role.",
            "Kubernetes ClusterRole."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ]
        },
        "ns": {
          "description": "Role namespace.",
          "type": "string"
        },
        "name": {
          "description": "Role name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Binding": {
      "id": "GoogleCloudSecuritycenterV1Binding",
      "description": "Represents a Kubernetes RoleBinding or ClusterRoleBinding.",
      "type": "object",
      "properties": {
        "ns": {
          "description": "Namespace for binding.",
          "type": "string"
        },
        "name": {
          "description": "Name for binding.",
          "type": "string"
        },
        "role": {
          "description": "The Role or ClusterRole referenced by the binding.",
          "$ref": "Role"
        },
        "subjects": {
          "description": "Represents the subjects(s) bound to the role. Not always available for PATCH requests.",
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        }
      }
    },
    "Subject": {
      "id": "Subject",
      "description": "Represents a Kubernetes Subject.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Authentication type for subject.",
          "type": "string",
          "enumDescriptions": [
            "Authentication is not specified.",
            "User with valid certificate.",
            "Users managed by Kubernetes API with credentials stored as Secrets.",
            "Collection of users."
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        },
        "ns": {
          "description": "Namespace for subject.",
          "type": "string"
        },
        "name": {
          "description": "Name for subject.",
          "type": "string"
        }
      }
    },
    "AccessReview": {
      "id": "AccessReview",
      "description": "Conveys information about a Kubernetes access review (e.g. kubectl auth can-i ...) that was involved in a finding.",
      "type": "object",
      "properties": {
        "group": {
          "description": "Group is the API Group of the Resource. \"*\" means all.",
          "type": "string"
        },
        "ns": {
          "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty).",
          "type": "string"
        },
        "name": {
          "description": "Name is the name of the resource being requested. Empty means all.",
          "type": "string"
        },
        "resource": {
          "description": "Resource is the optional resource type requested. \"*\" means all.",
          "type": "string"
        },
        "subresource": {
          "description": "Subresource is the optional subresource type.",
          "type": "string"
        },
        "verb": {
          "description": "Verb is a Kubernetes resource API verb, like: get, list, watch, create, update, delete, proxy. \"*\" means all.",
          "type": "string"
        },
        "version": {
          "description": "Version is the API Version of the Resource. \"*\" means all.",
          "type": "string"
        }
      }
    },
    "Database": {
      "id": "Database",
      "description": "Represents database access information, such as queries. A database may be a sub-resource of an instance (as in the case of CloudSQL instances or Cloud Spanner instances), or the database instance itself. Some database resources may not have the full resource name populated because these resource types are not yet supported by Cloud Asset Inventory (e.g. CloudSQL databases). In these cases only the display name will be provided.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The full resource name of the database the user connected to, if it is supported by CAI. (https:\/\/google.aip.dev\/122#full-resource-names)",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable name of the database the user connected to.",
          "type": "string"
        },
        "userName": {
          "description": "The username used to connect to the DB. This may not necessarily be an IAM principal, and has no required format.",
          "type": "string"
        },
        "query": {
          "description": "The SQL statement associated with the relevant access.",
          "type": "string"
        },
        "grantees": {
          "description": "The target usernames\/roles\/groups of a SQL privilege grant (not an IAM policy change).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "description": "A mute config is a Cloud SCC resource that contains the configuration to mute create\/update events of findings.",
      "type": "object",
      "properties": {
        "name": {
          "description": "This field will be ignored if provided on config creation. Format \"organizations\/{organization}\/muteConfigs\/{mute_config}\" \"folders\/{folder}\/muteConfigs\/{mute_config}\" \"projects\/{project}\/muteConfigs\/{mute_config}\"",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable name to be displayed for the mute config.",
          "type": "string"
        },
        "description": {
          "description": "A description of the mute config.",
          "type": "string"
        },
        "filter": {
          "description": "Required. An expression that defines the filter to apply across create\/update events of findings. While creating a filter string, be mindful of the scope in which the mute configuration is being created. E.g., If a filter contains project = X but is created under the project = Y scope, it might not match any findings. The following field and operator combinations are supported: * severity: `=`, `:` * category: `=`, `:` * resource.name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.type: `=`, `:` * finding_class: `=`, `:` * indicator.ip_addresses: `=`, `:` * indicator.domains: `=`, `:`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the mute config was created. This field is set by the server and will be ignored if provided on config creation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the mute config was updated. This field is set by the server and will be ignored if provided on config creation or update.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "mostRecentEditor": {
          "description": "Output only. Email address of the user who last edited the mute config. This field is set by the server and will be ignored if provided on config creation or update.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "NotificationConfig": {
      "id": "NotificationConfig",
      "description": "Cloud Security Command Center (Cloud SCC) notification configs. A notification config is a Cloud SCC resource that contains the configuration to send notifications for create\/update events of findings, assets and etc.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of this notification config. See: https:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name Example: \"organizations\/{organization_id}\/notificationConfigs\/notify_public_bucket\".",
          "type": "string"
        },
        "description": {
          "description": "The description of the notification config (max of 1024 characters).",
          "type": "string"
        },
        "pubsubTopic": {
          "description": "The Pub\/Sub topic to send notifications to. Its format is \"projects\/[project_id]\/topics\/[topic]\".",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Output only. The service account that needs \"pubsub.topics.publish\" permission to publish to the Pub\/Sub topic.",
          "readOnly": true,
          "type": "string"
        },
        "streamingConfig": {
          "description": "The config for triggering streaming-based notifications.",
          "$ref": "StreamingConfig"
        }
      }
    },
    "StreamingConfig": {
      "id": "StreamingConfig",
      "description": "The config for streaming-based notifications, which send each event as soon as it is detected.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Expression that defines the filter to apply across create\/update events of assets or findings as specified by the event type. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "description": "Configures how to deliver Findings to BigQuery Instance.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of this export. See: https:\/\/cloud.google.com\/apis\/design\/resource_names#relative_resource_name. Example format: \"organizations\/{organization_id}\/bigQueryExports\/{export_id}\" Example format: \"folders\/{folder_id}\/bigQueryExports\/{export_id}\" Example format: \"projects\/{project_id}\/bigQueryExports\/{export_id}\" This field is provided in responses, and is ignored when provided in create requests.",
          "type": "string"
        },
        "description": {
          "description": "The description of the export (max of 1024 characters).",
          "type": "string"
        },
        "filter": {
          "description": "Expression that defines the filter to apply across create\/update events of findings. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes.",
          "type": "string"
        },
        "dataset": {
          "description": "The dataset to write findings' updates to. Its format is \"projects\/[project_id]\/datasets\/[bigquery_dataset_id]\". BigQuery Dataset unique ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_).",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the big query export was created. This field is set by the server and will be ignored if provided on export on creation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the big export was updated. This field is set by the server and will be ignored if provided on export creation or update.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "mostRecentEditor": {
          "description": "Output only. Email address of the user who last edited the big query export. This field is set by the server and will be ignored if provided on export creation or update.",
          "readOnly": true,
          "type": "string"
        },
        "principal": {
          "description": "Output only. The service account that needs permission to create table, upload data to the big query dataset.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}\/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/how-to\/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace\/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
[...]
