{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "vmwareengine:v1",
  "name": "vmwareengine",
  "canonicalName": "VMware Engine",
  "version": "v1",
  "revision": "0",
  "title": "VMware Engine API",
  "description": "The Google VMware Engine API lets you programmatically manage VMware environments.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/solutions/vmware-as-a-service",
  "protocol": "rest",
  "rootUrl": "https://vmwareengine.googleapis.com/",
  "mtlsRootUrl": "https://vmwareengine.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://vmwareengine.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "ListPrivateCloudsResponse": {
      "id": "ListPrivateCloudsResponse",
      "description": "Response message for VmwareEngine.ListPrivateClouds",
      "type": "object",
      "properties": {
        "privateClouds": {
          "description": "A list of private clouds.",
          "type": "array",
          "items": {
            "$ref": "PrivateCloud"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PrivateCloud": {
      "id": "PrivateCloud",
      "description": "Represents a private cloud resource. Private clouds are zonal resources.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of this private cloud. Resource names are schemeless URIs that follow the conventions in https:\/\/cloud.google.com\/apis\/design\/resource_names. For example: `projects\/my-project\/locations\/us-west1-a\/privateClouds\/my-cloud`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. Time when the resource was scheduled for deletion.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "expireTime": {
          "description": "Output only. Time when the resource will be irreversibly deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. State of the resource. New values may be added to this enum when appropriate.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The private cloud is ready.",
            "The private cloud is being created.",
            "The private cloud is being updated.",
            "The private cloud is in failed state.",
            "The private cloud is scheduled for deletion. The deletion process can be cancelled by using the corresponding undelete method.",
            "The private cloud is irreversibly deleted and is being removed from the system."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "FAILED",
            "DELETED",
            "PURGING"
          ]
        },
        "networkConfig": {
          "description": "Required. Network configuration of the private cloud.",
          "$ref": "NetworkConfig"
        },
        "managementCluster": {
          "description": "Input only. The management cluster for this private cloud. This field is required during creation of the private cloud to provide details for the default cluster. The following fields can't be changed after private cloud creation: `ManagementCluster.clusterId`, `ManagementCluster.nodeTypeId`.",
          "$ref": "ManagementCluster"
        },
        "description": {
          "description": "User-provided description for this private cloud.",
          "type": "string"
        },
        "hcx": {
          "description": "Output only. HCX appliance.",
          "readOnly": true,
          "$ref": "Hcx"
        },
        "nsx": {
          "description": "Output only. NSX appliance.",
          "readOnly": true,
          "$ref": "Nsx"
        },
        "vcenter": {
          "description": "Output only. Vcenter appliance.",
          "readOnly": true,
          "$ref": "Vcenter"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "description": "Network configuration in the consumer project with which the peering has to be done.",
      "type": "object",
      "properties": {
        "network": {
          "description": "Optional. Deprecated: Optional. The relative resource name of the consumer VPC network this private cloud is attached to. Specify the name in the following form: `projects\/{project}\/global\/networks\/{network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "serviceNetwork": {
          "description": "Output only. Deprecated: Output only. The relative resource name of the service VPC network this private cloud is attached to. The name is specified in the following form: `projects\/{service_project_number}\/global\/networks\/{network_id}`.",
          "readOnly": true,
          "type": "string"
        },
        "externalIpAccess": {
          "description": "Deprecated: True if vCenter and NSX can be accessed via internet; false otherwise. Resolution of FQDNs requires local DNS configuration for the private cloud domain. NAT is set up on NSX for external IP ingress traffic, and users must manually configure NSX firewall to allow HTTPS traffic.",
          "type": "boolean"
        },
        "managementCidr": {
          "description": "Required. Management CIDR used by VMware management appliances.",
          "type": "string"
        },
        "vmwareEngineNetwork": {
          "description": "Optional. The relative resource name of the VMware Engine network attached to the private cloud. Specify the name in the following form: `projects\/{project}\/locations\/{location}\/vmwareEngineNetworks\/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "vmwareEngineNetworkCanonical": {
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects\/{project_number}\/locations\/{location}\/vmwareEngineNetworks\/{vmware_engine_network_id}`",
          "readOnly": true,
          "type": "string"
        },
        "managementIpAddressLayoutVersion": {
          "description": "Output only. The IP address layout version of the management IP address range. Possible versions include: * `managementIpAddressLayoutVersion=1`: Indicates the legacy IP address layout used by some existing private clouds. This is no longer supported for new private clouds as it does not support all features. * `managementIpAddressLayoutVersion=2`: Indicates the latest IP address layout used by all newly created private clouds. This version supports all current features.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ManagementCluster": {
      "id": "ManagementCluster",
      "description": "Management cluster configuration.",
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "Required. The user-provided identifier of the new `Cluster`. The identifier must meet the following requirements: * Only contains 1-63 alphanumeric characters and hyphens * Begins with an alphabetical character * Ends with a non-hyphen character * Not formatted as a UUID * Complies with [RFC 1034](https:\/\/datatracker.ietf.org\/doc\/html\/rfc1034) (section 3.5)",
          "type": "string"
        },
        "nodeTypeId": {
          "description": "Optional. Deprecated: The canonical identifier of node types (`NodeType`) in this cluster. For example: standard-72.",
          "type": "string"
        },
        "nodeCount": {
          "description": "Optional. Deprecated: Number of nodes in this cluster.",
          "type": "integer",
          "format": "int32"
        },
        "nodeCustomCoreCount": {
          "description": "Optional. Deprecated: Customized number of cores available to each node of the cluster. This number must always be one of `nodeType.availableCustomCoreCounts`. If zero is provided max value from `nodeType.availableCustomCoreCounts` will be used.",
          "type": "integer",
          "format": "int32"
        },
        "nodeTypeConfigs": {
          "description": "Required. The map of cluster node types in this cluster, where the key is canonical identifier of the node type (corresponds to the `NodeType`).",
          "type": "object",
          "additionalProperties": {
            "$ref": "NodeTypeConfig"
          }
        }
      }
    },
    "NodeTypeConfig": {
      "id": "NodeTypeConfig",
      "description": "Information about the type and number of nodes associated with the cluster.",
      "type": "object",
      "properties": {
        "nodeCount": {
          "description": "Required. The number of nodes of this type in the cluster",
          "type": "integer",
          "format": "int32"
        },
        "customCoreCount": {
          "description": "Optional. Customized number of cores available to each node of the type. This number must always be one of `nodeType.availableCustomCoreCounts`. If zero is provided max value from `nodeType.availableCustomCoreCounts` will be used.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Hcx": {
      "id": "Hcx",
      "description": "Details about a HCX Cloud Manager appliance.",
      "type": "object",
      "properties": {
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        },
        "externalIp": {
          "description": "Deprecated: External IP address of the appliance.",
          "type": "string"
        },
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the appliance.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ]
        },
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        }
      }
    },
    "Nsx": {
      "id": "Nsx",
      "description": "Details about a NSX Manager appliance.",
      "type": "object",
      "properties": {
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        },
        "externalIp": {
          "description": "Deprecated: External IP address of the appliance.",
          "type": "string"
        },
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the appliance.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ]
        },
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        }
      }
    },
    "Vcenter": {
      "id": "Vcenter",
      "description": "Details about a vCenter Server management appliance.",
      "type": "object",
      "properties": {
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        },
        "externalIp": {
          "description": "Deprecated: External IP address of the appliance.",
          "type": "string"
        },
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the appliance.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ]
        },
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        }
      }
    },
    "UndeletePrivateCloudRequest": {
      "id": "UndeletePrivateCloudRequest",
      "description": "Request message for VmwareEngine.UndeletePrivateCloud",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "description": "Response message for VmwareEngine.ListClusters",
      "type": "object",
      "properties": {
        "clusters": {
          "description": "A list of private cloud clusters.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Cluster": {
      "id": "Cluster",
      "description": "A cluster in a private cloud.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of this cluster. Resource names are schemeless URIs that follow the conventions in https:\/\/cloud.google.com\/apis\/design\/resource_names. For example: `projects\/my-project\/locations\/us-west1-a\/privateClouds\/my-cloud\/clusters\/my-cluster`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. State of the resource.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The Cluster is operational and can be used by the user.",
            "The Cluster is being deployed.",
            "Adding or removing of a node to the cluster, any other cluster specific updates.",
            "The Cluster is being deleted.",
            "The Cluster is undergoing maintenance, for example: a failed node is getting replaced."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "REPAIRING"
          ]
        },
        "management": {
          "description": "Output only. True if the cluster is a management cluster; false otherwise. There can only be one management cluster in a private cloud and it has to be the first one.",
          "readOnly": true,
          "type": "boolean"
        },
        "nodeTypeId": {
          "description": "Optional. Deprecated: The canonical identifier of node types (`NodeType`) in this cluster. For example: standard-72.",
          "type": "string"
        },
        "nodeCount": {
          "description": "Optional. Deprecated: Number of nodes in this cluster.",
          "type": "integer",
          "format": "int32"
        },
        "nodeCustomCoreCount": {
          "description": "Optional. Deprecated: Customized number of cores available to each node of the cluster. This number must always be one of `nodeType.availableCustomCoreCounts`. If zero is provided max value from `nodeType.availableCustomCoreCounts` will be used.",
          "type": "integer",
          "format": "int32"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "nodeTypeConfigs": {
          "description": "Required. The map of cluster node types in this cluster, where the key is canonical identifier of the node type (corresponds to the `NodeType`).",
          "type": "object",
          "additionalProperties": {
            "$ref": "NodeTypeConfig"
          }
        }
      }
    },
    "ListExternalAddressesResponse": {
      "id": "ListExternalAddressesResponse",
      "description": "Response message for VmwareEngine.ListExternalAddresses",
      "type": "object",
      "properties": {
        "externalAddresses": {
          "description": "A list of external IP addresses.",
          "type": "array",
          "items": {
            "$ref": "ExternalAddress"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExternalAddress": {
      "id": "ExternalAddress",
      "description": "Represents an allocated external IP address and its corresponding internal IP address in a private cloud.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of this external IP address. Resource names are schemeless URIs that follow the conventions in https:\/\/cloud.google.com\/apis\/design\/resource_names. For example: `projects\/my-project\/locations\/us-west1-a\/privateClouds\/my-cloud\/externalAddresses\/my-address`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "User-provided name for this resource.",
          "type": "string"
        },
        "internalIp": {
          "description": "The internal IP address of a workload VM.",
          "type": "string"
        },
        "externalIp": {
          "description": "Output only. The external IP address of a workload VM.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The address is ready.",
            "The address is being created.",
            "The address is being updated.",
            "The address is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ]
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "User-provided description for this resource.",
          "type": "string"
        }
      }
    },
    "FetchNetworkPolicyExternalAddressesResponse": {
      "id": "FetchNetworkPolicyExternalAddressesResponse",
      "description": "Response message for VmwareEngine.FetchNetworkPolicyExternalAddresses",
      "type": "object",
      "properties": {
        "externalAddresses": {
          "description": "A list of external IP addresses assigned to VMware workload VMs within the scope of the given network policy.",
          "type": "array",
          "items": {
            "$ref": "ExternalAddress"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListSubnetsResponse": {
      "id": "ListSubnetsResponse",
      "description": "Response message for VmwareEngine.ListSubnets",
      "type": "object",
      "properties": {
        "subnets": {
          "description": "A list of subnets.",
          "type": "array",
          "items": {
            "$ref": "Subnet"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Subnet": {
      "id": "Subnet",
      "description": "Subnet in a private cloud. Either `management` subnets (such as vMotion) that are read-only, or `userDefined`, which can also be updated.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of this subnet. Resource names are schemeless URIs that follow the conventions in https:\/\/cloud.google.com\/apis\/design\/resource_names. For example: `projects\/my-project\/locations\/us-west1-a\/privateClouds\/my-cloud\/subnets\/my-subnet`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "User-provided name for this subnet.",
          "type": "string"
        },
        "description": {
          "description": "User-provided description for this subnet.",
          "type": "string"
        },
        "ipCidrRange": {
          "description": "The IP address range of the subnet in CIDR format '10.0.0.0\/24'.",
          "type": "string"
        },
        "gatewayIp": {
          "description": "The IP address of the gateway of this subnet. Must fall within the IP prefix defined above.",
          "type": "string"
        },
        "gatewayId": {
          "description": "The canonical identifier of the logical router that this subnet is attached to. The value of this field needs to be filled from `ListLogicalRoutersResponse.logical_router.router_id`. If the value of this field is set to the empty string, the subnet is not attached to any router.",
          "type": "string"
        },
        "dhcpAddressRanges": {
          "description": "DHCP address ranges. Only a single element is supported in the list. Both the first and the last address must be included in the subnet range. It cannot include the first or the last address of the subnet or the `gateway_ip`.",
          "type": "array",
          "items": {
            "$ref": "IpAddressRange"
          }
        },
        "type": {
          "description": "Output only. The type of the subnet. For example \"management\" or \"userDefined\".",
          "readOnly": true,
          "type": "string"
        },
        "standardConfig": {
          "description": "Output only. Whether the NSX-T configuration in the backend follows the standard configuration supported by Google Cloud. If false, the subnet cannot be modified through Google Cloud, only through NSX-T directly. Note: This field defaults to `false` until NSX-T segments are not supported.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The subnet is ready.",
            "The subnet is being created.",
            "The subnet is being updated.",
            "The subnet is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ]
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request.",
          "type": "string"
        }
      }
    },
    "IpAddressRange": {
      "id": "IpAddressRange",
      "description": "Represents an IP address range.",
      "type": "object",
      "properties": {
        "firstAddress": {
          "description": "The first IP address of the range.",
          "type": "string"
        },
        "lastAddress": {
          "description": "The last IP address of the range.",
          "type": "string"
        }
      }
    },
    "ListExternalAccessRulesResponse": {
      "id": "ListExternalAccessRulesResponse",
      "description": "Response message for VmwareEngine.ListExternalAccessRules",
      "type": "object",
      "properties": {
        "externalAccessRules": {
          "description": "A list of external access firewall rules.",
          "type": "array",
          "items": {
            "$ref": "ExternalAccessRule"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExternalAccessRule": {
      "id": "ExternalAccessRule",
      "description": "External access firewall rules for filtering incoming traffic destined to `ExternalAddress` resources.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of this external access rule. Resource names are schemeless URIs that follow the conventions in https:\/\/cloud.google.com\/apis\/design\/resource_names. For example: `projects\/my-project\/locations\/us-west1\/networkPolicies\/my-policy\/externalAccessRules\/my-rule`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "User-provided description for this external access rule.",
          "type": "string"
        },
        "priority": {
          "description": "External access rule priority, which determines the external access rule to use when multiple rules apply. If multiple rules have the same priority, their ordering is non-deterministic. If specific ordering is required, assign unique priorities to enforce such ordering. The external access rule priority is an integer from 100 to 4096, both inclusive. Lower integers indicate higher precedence. For example, a rule with priority `100` has higher precedence than a rule with priority `101`.",
          "type": "integer",
          "format": "int32"
        },
        "action": {
          "description": "The action that the external access rule performs.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to allow.",
            "Allows connections that match the other specified components.",
            "Blocks connections that match the other specified components."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "ipProtocol": {
          "description": "The IP protocol to which the external access rule applies. This value can be one of the following three protocol strings (not case-sensitive): `tcp`, `udp`, or `icmp`.",
          "type": "string"
        },
        "sourceIpRanges": {
          "description": "If source ranges are specified, the external access rule applies only to traffic that has a source IP address in these ranges. These ranges can either be expressed in the CIDR format or as an IP address. As only inbound rules are supported, `ExternalAddress` resources cannot be the source IP addresses of an external access rule. To match all source addresses, specify `0.0.0.0\/0`.",
          "type": "array",
          "items": {
            "$ref": "IpRange"
          }
        },
        "sourcePorts": {
          "description": "A list of source ports to which the external access rule applies. This field is only applicable for the UDP or TCP protocol. Each entry must be either an integer or a range. For example: `[\"22\"]`, `[\"80\",\"443\"]`, or `[\"12345-12349\"]`. To match all source ports, specify `[\"0-65535\"]`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationIpRanges": {
          "description": "If destination ranges are specified, the external access rule applies only to the traffic that has a destination IP address in these ranges. The specified IP addresses must have reserved external IP addresses in the scope of the parent network policy. To match all external IP addresses in the scope of the parent network policy, specify `0.0.0.0\/0`. To match a specific external IP address, specify it using the `IpRange.external_address` property.",
          "type": "array",
          "items": {
            "$ref": "IpRange"
          }
        },
        "destinationPorts": {
          "description": "A list of destination ports to which the external access rule applies. This field is only applicable for the UDP or TCP protocol. Each entry must be either an integer or a range. For example: `[\"22\"]`, `[\"80\",\"443\"]`, or `[\"12345-12349\"]`. To match all destination ports, specify `[\"0-65535\"]`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The rule is ready.",
            "The rule is being created.",
            "The rule is being updated.",
            "The rule is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ]
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "IpRange": {
      "id": "IpRange",
      "description": "An IP range provided in any one of the supported formats.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "A single IP address. For example: `10.0.0.5`.",
          "type": "string"
        },
        "ipAddressRange": {
          "description": "An IP address range in the CIDR format. For example: `10.0.0.0\/24`.",
          "type": "string"
        },
        "externalAddress": {
          "description": "The name of an `ExternalAddress` resource. The external address must have been reserved in the scope of this external access rule's parent network policy. Provide the external address name in the form of `projects\/{project}\/locations\/{location}\/privateClouds\/{private_cloud}\/externalAddresses\/{external_address}`. For example: `projects\/my-project\/locations\/us-west1-a\/privateClouds\/my-cloud\/externalAddresses\/my-address`.",
          "type": "string"
        }
      }
    },
    "ListNodeTypesResponse": {
      "id": "ListNodeTypesResponse",
      "description": "Response message for VmwareEngine.ListNodeTypes",
      "type": "object",
      "properties": {
        "nodeTypes": {
          "description": "A list of Node Types.",
          "type": "array",
          "items": {
            "$ref": "NodeType"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NodeType": {
      "id": "NodeType",
      "description": "Describes node type.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of this node type. Resource names are schemeless URIs that follow the conventions in https:\/\/cloud.google.com\/apis\/design\/resource_names. For example: `projects\/my-proj\/locations\/us-west1-a\/nodeTypes\/standard-72`",
          "readOnly": true,
          "type": "string"
        },
        "nodeTypeId": {
          "description": "Output only. The canonical identifier of the node type (corresponds to the `NodeType`). For example: standard-72.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The friendly name for this node type. For example: ve1-standard-72",
          "readOnly": true,
          "type": "string"
        },
        "virtualCpuCount": {
          "description": "Output only. The total number of virtual CPUs in a single node.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "totalCoreCount": {
          "description": "Output only. The total number of CPU cores in a single node.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "memoryGb": {
          "description": "Output only. The amount of physical memory available, defined in GB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "diskSizeGb": {
          "description": "Output only. The amount of storage available, defined in GB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "availableCustomCoreCounts": {
          "description": "Output only. List of possible values of custom core count.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "Credentials": {
      "id": "Credentials",
      "description": "Credentials for a private cloud.",
      "type": "object",
      "properties": {
        "username": {
          "description": "Initial username.",
          "type": "string"
        },
        "password": {
          "description": "Initial password.",
          "type": "string"
        }
      }
    },
    "ResetNsxCredentialsRequest": {
      "id": "ResetNsxCredentialsRequest",
      "description": "Request message for VmwareEngine.ResetNsxCredentials",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "ResetVcenterCredentialsRequest": {
      "id": "ResetVcenterCredentialsRequest",
      "description": "Request message for VmwareEngine.ResetVcenterCredentials",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "NetworkPeering": {
      "id": "NetworkPeering",
      "description": "Details of a network peering.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the network peering. Resource names are scheme-less URIs that follow the conventions in https:\/\/cloud.google.com\/apis\/design\/resource_names. For example: `projects\/my-project\/locations\/global\/networkPeerings\/my-peering`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "peerNetwork": {
          "description": "Required. The relative resource name of the network to peer with a standard VMware Engine network. The provided network can be a consumer VPC network or another standard VMware Engine network. If the `peer_network_type` is VMWARE_ENGINE_NETWORK, specify the name in the form: `projects\/{project}\/locations\/global\/vmwareEngineNetworks\/{vmware_engine_network_id}`. Otherwise specify the name in the form: `projects\/{project}\/global\/networks\/{network_id}`, where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "exportCustomRoutes": {
          "description": "Optional. True if custom routes are exported to the peered network; false otherwise. The default value is true.",
          "type": "boolean"
        },
        "importCustomRoutes": {
          "description": "Optional. True if custom routes are imported from the peered network; false otherwise. The default value is true.",
          "type": "boolean"
        },
        "exchangeSubnetRoutes": {
          "description": "Optional. True if full mesh connectivity is created and managed automatically between peered networks; false otherwise. Currently this field is always true because Google Compute Engine automatically creates and manages subnetwork routes between two VPC networks when peering state is 'ACTIVE'.",
          "type": "boolean"
        },
        "exportCustomRoutesWithPublicIp": {
          "description": "Optional. True if all subnet routes with a public IP address range are exported; false otherwise. The default value is true. IPv4 special-use ranges (https:\/\/en.wikipedia.org\/wiki\/IPv4#Special_addresses) are always exported to peers and are not controlled by this field.",
          "type": "boolean"
        },
        "importCustomRoutesWithPublicIp": {
          "description": "Optional. True if all subnet routes with public IP address range are imported; false otherwise. The default value is true. IPv4 special-use ranges (https:\/\/en.wikipedia.org\/wiki\/IPv4#Special_addresses) are always imported to peers and are not controlled by this field.",
          "type": "boolean"
        },
        "state": {
          "description": "Output only. State of the network peering. This field has a value of 'ACTIVE' when there's a matching configuration in the peer network. New values may be added to this enum when appropriate.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified network peering state. This is the default value.",
            "The peering is not active.",
            "The peering is active.",
            "The peering is being created.",
            "The peering is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ]
        },
        "stateDetails": {
          "description": "Output only. Output Only. Details about the current state of the network peering.",
          "readOnly": true,
          "type": "string"
        },
        "peerMtu": {
          "type": "integer",
          "format": "int32"
        },
        "peerNetworkType": {
          "description": "Required. The type of the network to peer with the VMware Engine network.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Peering connection used for connecting to another VPC network established by the same user. For example, a peering connection to another VPC network in the same project or to an on-premises network.",
            "Peering connection used for connecting to another VMware Engine network.",
            "Peering connection used for establishing [private services access](https:\/\/cloud.google.com\/vpc\/docs\/private-services-access).",
            "Peering connection used for connecting to NetApp Cloud Volumes.",
            "Peering connection used for connecting to third-party services. Most third-party services require manual setup of reverse peering on the VPC network associated with the third-party service.",
            "Peering connection used for connecting to Dell PowerScale Filers"
          ],
          "enum": [
            "PEER_NETWORK_TYPE_UNSPECIFIED",
            "STANDARD",
            "VMWARE_ENGINE_NETWORK",
            "PRIVATE_SERVICES_ACCESS",
            "NETAPP_CLOUD_VOLUMES",
            "THIRD_PARTY_SERVICE",
            "DELL_POWERSCALE"
          ]
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "vmwareEngineNetwork": {
          "description": "Required. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects\/{project}\/locations\/{location}\/vmwareEngineNetworks\/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-provided description for this network peering.",
          "type": "string"
        }
      }
    },
    "ListNetworkPeeringsResponse": {
      "id": "ListNetworkPeeringsResponse",
      "description": "Response message for VmwareEngine.ListNetworkPeerings",
      "type": "object",
      "properties": {
        "networkPeerings": {
          "description": "A list of network peerings.",
          "type": "array",
          "items": {
            "$ref": "NetworkPeering"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListPeeringRoutesResponse": {
      "id": "ListPeeringRoutesResponse",
      "description": "Response message for VmwareEngine.ListPeeringRoutes",
      "type": "object",
      "properties": {
        "peeringRoutes": {
          "description": "A list of peering routes.",
          "type": "array",
          "items": {
            "$ref": "PeeringRoute"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "PeeringRoute": {
      "id": "PeeringRoute",
      "description": "Exchanged network peering route.",
      "type": "object",
      "properties": {
        "destRange": {
          "description": "Output only. Destination range of the peering route in CIDR notation.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. Type of the route in the peer VPC network.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified peering route type. This is the default value.",
            "Dynamic routes in the peer network.",
            "Static routes in the peer network.",
            "Created, updated, and removed automatically by Google Cloud when subnets are created, modified, or deleted in the peer network."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DYNAMIC_PEERING_ROUTE",
            "STATIC_PEERING_ROUTE",
            "SUBNET_PEERING_ROUTE"
          ]
        },
        "nextHopRegion": {
          "description": "Output only. Region containing the next hop of the peering route. This field only applies to dynamic routes in the peer VPC network.",
          "readOnly": true,
          "type": "string"
        },
        "priority": {
          "description": "Output only. The priority of the peering route.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "imported": {
          "description": "Output only. True if the peering route has been imported from a peered VPC network; false otherwise. The import happens if the field `NetworkPeering.importCustomRoutes` is true for this network, `NetworkPeering.exportCustomRoutes` is true for the peer VPC network, and the import does not result in a route conflict.",
          "readOnly": true,
          "type": "boolean"
        },
        "direction": {
          "description": "Output only. Direction of the routes exchanged with the peer network, from the VMware Engine network perspective: * Routes of direction `INCOMING` are imported from the peer network. * Routes of direction `OUTGOING` are exported from the intranet VPC network of the VMware Engine network.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified exchanged routes direction. This is default.",
            "Routes imported from the peer network.",
            "Routes exported to the peer network."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INCOMING",
            "OUTGOING"
          ]
        }
      }
    },
    "HcxActivationKey": {
      "id": "HcxActivationKey",
      "description": "HCX activation key. A default key is created during private cloud provisioning, but this behavior is subject to change and you should always verify active keys. Use VmwareEngine.ListHcxActivationKeys to retrieve existing keys and VmwareEngine.CreateHcxActivationKey to create new ones.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of this HcxActivationKey. Resource names are schemeless URIs that follow the conventions in https:\/\/cloud.google.com\/apis\/design\/resource_names. For example: `projects\/my-project\/locations\/us-west1\/privateClouds\/my-cloud\/hcxActivationKeys\/my-key`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of HCX activation key.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. State of HCX activation key.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "State of a newly generated activation key.",
            "State of key when it has been used to activate HCX appliance.",
            "State of key when it is being created."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "CONSUMED",
            "CREATING"
          ]
        },
        "activationKey": {
          "description": "Output only. HCX activation key.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListHcxActivationKeysResponse": {
      "id": "ListHcxActivationKeysResponse",
      "description": "Response message for VmwareEngine.ListHcxActivationKeys",
      "type": "object",
      "properties": {
        "hcxActivationKeys": {
          "description": "List of HCX activation keys.",
          "type": "array",
          "items": {
            "$ref": "HcxActivationKey"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NetworkPolicy": {
      "id": "NetworkPolicy",
      "description": "Represents a network policy resource. Network policies are regional resources. You can use a network policy to enable or disable internet access and external IP access. Network policies are associated with a VMware Engine network, which might span across regions. For a given region, a network policy applies to all private clouds in the VMware Engine network associated with the policy.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of this network policy. Resource names are schemeless URIs that follow the conventions in https:\/\/cloud.google.com\/apis\/design\/resource_names. For example: `projects\/my-project\/locations\/us-central1\/networkPolicies\/my-network-policy`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "internetAccess": {
          "description": "Network service that allows VMware workloads to access the internet.",
          "$ref": "NetworkService"
        },
        "externalIp": {
          "description": "Network service that allows External IP addresses to be assigned to VMware workloads. This service can only be enabled when `internet_access` is also enabled.",
          "$ref": "NetworkService"
        },
        "network": {
          "description": "Optional. Deprecated: Optional. Name of the network in the consumer project which is peered or will be peered with the service network. Provide the network name in the form of `projects\/{project}\/global\/networks\/{network}`, where `{project}` is the project ID or project number of the project containing the network. In case of shared VPC, use the project ID or project number of the host project containing the shared VPC network.",
          "type": "string"
        },
        "edgeServicesCidr": {
          "description": "Required. IP address range in CIDR notation used to create internet access and external IP access. An RFC 1918 CIDR block, with a \"\/26\" prefix, is required. The range cannot overlap with any prefixes either in the consumer VPC network or in use by the private clouds attached to that VPC network.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "vmwareEngineNetwork": {
          "description": "Optional. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects\/{project}\/locations\/{location}\/vmwareEngineNetworks\/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-provided description for this network policy.",
          "type": "string"
        },
        "vmwareEngineNetworkCanonical": {
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects\/{project_number}\/locations\/{location}\/vmwareEngineNetworks\/{vmware_engine_network_id}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "NetworkService": {
      "id": "NetworkService",
      "description": "Represents a network service that is managed by a `NetworkPolicy` resource. A network service provides a way to control an aspect of external access to VMware workloads. For example, whether the VMware workloads in the private clouds governed by a network policy can access or be accessed from the internet.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "True if the service is enabled; false otherwise.",
          "type": "boolean"
        },
        "state": {
          "description": "Output only. State of the service. New values may be added to this enum when appropriate.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified service state. This is the default value.",
            "Service is not provisioned.",
            "Service is in the process of being provisioned\/deprovisioned.",
            "Service is active."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPROVISIONED",
            "RECONCILING",
            "ACTIVE"
          ]
        }
      }
    },
    "ListNetworkPoliciesResponse": {
      "id": "ListNetworkPoliciesResponse",
      "description": "Response message for VmwareEngine.ListNetworkPolicies",
      "type": "object",
      "properties": {
        "networkPolicies": {
          "description": "A list of network policies.",
          "type": "array",
          "items": {
            "$ref": "NetworkPolicy"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VmwareEngineNetwork": {
      "id": "VmwareEngineNetwork",
      "description": "VMware Engine network resource that provides connectivity for VMware Engine private clouds.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the VMware Engine network. Resource names are schemeless URIs that follow the conventions in https:\/\/cloud.google.com\/apis\/design\/resource_names. For example: `projects\/my-project\/locations\/global\/vmwareEngineNetworks\/my-network`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "User-provided description for this VMware Engine network.",
          "type": "string"
        },
        "vpcNetworks": {
          "description": "Output only. VMware Engine service VPC networks that provide connectivity from a private cloud to customer projects, the internet, and other Google Cloud services.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "VpcNetwork"
          }
        },
        "state": {
          "description": "Output only. State of the VMware Engine network.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The VMware Engine network is being created.",
            "The VMware Engine network is ready.",
            "The VMware Engine network is being updated.",
            "The VMware Engine network is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ]
        },
        "type": {
          "description": "Required. VMware Engine network type.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Network type used by private clouds created in projects without a network of type `STANDARD`. This network type is no longer used for new VMware Engine private cloud deployments.",
            "Standard network type used for private cloud connectivity."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "LEGACY",
            "STANDARD"
          ]
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request.",
          "type": "string"
        }
      }
    },
    "VpcNetwork": {
      "id": "VpcNetwork",
      "description": "Represents a VMware Engine VPC network that is managed by a VMware Engine network resource.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. Type of VPC network (INTRANET, INTERNET, or GOOGLE_CLOUD)",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "VPC network that will be peered with a consumer VPC network or the intranet VPC of another VMware Engine network. Access a private cloud through Compute Engine VMs on a peered VPC network or an on-premises resource connected to a peered consumer VPC network.",
            "VPC network used for internet access to and from a private cloud.",
            "VPC network used for access to Google Cloud services like Cloud Storage."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTRANET",
            "INTERNET",
            "GOOGLE_CLOUD"
          ]
        },
        "network": {
          "description": "Output only. The relative resource name of the service VPC network this VMware Engine network is attached to. For example: `projects\/123123\/global\/networks\/my-network`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListVmwareEngineNetworksResponse": {
      "id": "ListVmwareEngineNetworksResponse",
      "description": "Response message for VmwareEngine.ListVmwareEngineNetworks",
      "type": "object",
      "properties": {
        "vmwareEngineNetworks": {
          "description": "A list of VMware Engine networks.",
          "type": "array",
          "items": {
            "$ref": "VmwareEngineNetwork"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}\/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/how-to\/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace\/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. True if the user has requested cancellation of the operation; false otherwise. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "vmwareengine.projects.locations.list",
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https:\/\/google.aip.dev\/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service."
            },
            "get": {
              "id": "vmwareengine.projects.locations.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location."
            }
          }
          ,
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "vmwareengine.projects.locations.operations.list",
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users\/*\/operations`. To override the binding, API services can add a binding such as `\"\/v1\/{name=users\/*}\/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                },
                "get": {
                  "id": "vmwareengine.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "id": "vmwareengine.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                }
              }
            },
            "privateClouds": {
              "methods": {
                "list": {
                  "id": "vmwareengine.projects.locations.privateClouds.list",
                  "path": "v1/{+parent}/privateClouds",
[...]
