{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "workloadcertificate:v1alpha1",
  "name": "workloadcertificate",
  "canonicalName": "Workload Certificate",
  "version": "v1alpha1",
  "revision": "0",
  "title": "Workload Certificate API",
  "description": "workloadcertificate.googleapis.com API.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/",
  "protocol": "rest",
  "rootUrl": "https://workloadcertificate.googleapis.com/",
  "mtlsRootUrl": "https://workloadcertificate.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://workloadcertificate.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "WorkloadCertificateFeature": {
      "id": "WorkloadCertificateFeature",
      "description": "Represents the Managed Workload Certificate feature. This is a singleton resource of a project that contains the mode of the feature, trust-domain-level configurations, and etc. go\/workloadcert-enablement-api.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Name of the resource. Format: `projects\/*\/locations\/global\/workloadCertificateFeature`.",
          "readOnly": true,
          "type": "string"
        },
        "defaultSpec": {
          "description": "Optional. Workload certificate feature spec for the default project level trust domain (i.e. `.svc.id.goog`). If left unset, the feature is disabled.",
          "$ref": "WorkloadCertificateFeatureSpec"
        },
        "defaultStatus": {
          "description": "Output only. The current WorkloadCertificate feature status of the default project level trust domain.",
          "readOnly": true,
          "$ref": "WorkloadCertificateFeatureStatus"
        }
      }
    },
    "WorkloadCertificateFeatureSpec": {
      "id": "WorkloadCertificateFeatureSpec",
      "description": "Spec for the workload certificate feature.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "The mode for the workload certificate feature.",
          "type": "string",
          "enumDescriptions": [
            "Workload certificate feature is disabled.",
            "Workload certificate feature is disabled.",
            "Workload certificate feature is enabled, and the entire certificate provisioning process is managed by Google, including the CA."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "MODE_DISABLED",
            "MODE_ENABLED_WITH_MANAGED_CA"
          ]
        }
      }
    },
    "WorkloadCertificateFeatureStatus": {
      "id": "WorkloadCertificateFeatureStatus",
      "description": "Status of Workload Certificate feature at trust domain level.",
      "type": "object",
      "properties": {
        "managedCaPools": {
          "description": "A map from a region to the status of managed CA pools in that region.",
          "type": "object",
          "additionalProperties": {
            "$ref": "CaPoolsStatus"
          }
        },
        "state": {
          "description": "Describes whether the Workload Certificate feature meets its spec.",
          "type": "string",
          "enumDescriptions": [
            "The feature status does not fully meet its spec at the moment but is trying to meet its spec.",
            "The feature status does not fully meet its spec at the moment but is trying to meet its spec.",
            "The feature status currently meets its spec.",
            "The feature status does not fully meet its spec at the moment due to an internal error. Contact support."
          ],
          "enum": [
            "FEATURE_STATE_UNSPECIFIED",
            "FEATURE_STATE_IN_PROGRESS",
            "FEATURE_STATE_READY",
            "FEATURE_STATE_INTERNAL_ERROR"
          ]
        }
      }
    },
    "CaPoolsStatus": {
      "id": "CaPoolsStatus",
      "description": "Status of CA pools in a region.",
      "type": "object",
      "properties": {
        "caPools": {
          "description": "The CA pool string has a relative resource path following the form \"projects\/{project_number}\/locations\/{location}\/caPools\/{ca_pool}\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListWorkloadRegistrationsResponse": {
      "id": "ListWorkloadRegistrationsResponse",
      "description": "Response message for response to listing WorkloadRegistrations.",
      "type": "object",
      "properties": {
        "workloadRegistrations": {
          "description": "The list of WorkloadRegistration",
          "type": "array",
          "items": {
            "$ref": "WorkloadRegistration"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WorkloadRegistration": {
      "id": "WorkloadRegistration",
      "description": "Message describing WorkloadRegistration object defines in go\/workloadcert-registration-api.",
      "type": "object",
      "properties": {
        "name": {
          "description": "name of resource",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workloadNamespace": {
          "description": "workload_namespace specifies the namespace (which must exist in the same project) the workloads are registered to. It's skipped for k8s workloads, but required for non-k8s workloads. optional.",
          "type": "string"
        },
        "workloadSelector": {
          "description": "Criteria used to select the specific group of workloads in the registry on which this patch configuration should be applied. required.",
          "$ref": "WorkloadSelector"
        },
        "status": {
          "description": "Output only. The status of the workloadregistration resource.",
          "readOnly": true,
          "$ref": "RegistrationStatus"
        }
      }
    },
    "WorkloadSelector": {
      "id": "WorkloadSelector",
      "description": "WorkloadSelector specifies the criteria used to determine if a rule can be applied to a group of workload. The matching criteria is based on workload types.",
      "type": "object",
      "properties": {
        "k8sWorkloadSelector": {
          "description": "Selects K8S workloads.",
          "$ref": "K8SWorkloadSelector"
        },
        "gcpWorkloadSelector": {
          "description": "Selects a group of GCP workloads.",
          "$ref": "GCPWorkloadSelector"
        }
      }
    },
    "K8SWorkloadSelector": {
      "id": "K8SWorkloadSelector",
      "description": "For kubernetes workloads, fleet_member_id is used as workload selector.",
      "type": "object",
      "properties": {
        "fleetMemberId": {
          "description": "Fleet membership ID (only the name part, not the full URI). The \u201Cproject\u201D and \u201Clocation\u201D of the membership is the same as the WorkloadRegistration. required.",
          "type": "string"
        }
      }
    },
    "GCPWorkloadSelector": {
      "id": "GCPWorkloadSelector",
      "description": "GCPWorkloadSelector selects a group of GCP workloads, like GCE or load balancer.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type pecifies the workload type. It is either indicated by the identity dataplane P4SA, or in the resource identity case, the resource service (\u201Cgoogle.resource.service\u201D claim). required.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused and this field is invalid.",
            ""
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "GOOGLE_COMPUTE_ENGINE"
          ]
        },
        "project": {
          "description": "Project specifies the workloads\u2019 project in the format of \"\". required.",
          "type": "string"
        },
        "attribute": {
          "description": "GCPAttributeSelector selects a group of workloads that match the attribute. optional.",
          "$ref": "GCPAttributeSelector"
        }
      }
    },
    "GCPAttributeSelector": {
      "id": "GCPAttributeSelector",
      "description": "GCPAttributeSelector is an \u201Coneof\u201D field, which can be a Google service account, a resource identity, etc. If not specified, all workloads of the given type in the project are selected.",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "Selects workloads with the GCP service account. It matches the \u201Cemail\u201D claim.",
          "type": "string"
        }
      }
    },
    "RegistrationStatus": {
      "id": "RegistrationStatus",
      "description": "RegistrationStatus describes the certificate provisioning status of a workload registration resource.",
      "type": "object",
      "properties": {
        "state": {
          "description": "state represents the current state of registration.",
          "type": "string",
          "enumDescriptions": [
            "REGISTRATION_STATE_UNSPECIFIED is the default value.",
            "REGISTRATION_STATE_READY indicates that the registration is ready.",
            "REGISTRATION_STATE_IN_PROGRESS indicates that the registration is in progress.",
            "REGISTRATION_STATE_INTERNAL_ERROR indicates that the registration fails because of some internal errors."
          ],
          "enum": [
            "REGISTRATION_STATE_UNSPECIFIED",
            "REGISTRATION_STATE_READY",
            "REGISTRATION_STATE_IN_PROGRESS",
            "REGISTRATION_STATE_INTERNAL_ERROR"
          ]
        },
        "error": {
          "description": "error describes the details when a certificate provisioning process fails.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "workloadcertificate.projects.locations.list",
              "path": "v1alpha1/{+name}/locations",
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https:\/\/google.aip.dev\/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service."
            },
            "get": {
              "id": "workloadcertificate.projects.locations.get",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location."
            }
          }
          ,
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "workloadcertificate.projects.locations.operations.list",
                  "path": "v1alpha1/{+name}/operations",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users\/*\/operations`. To override the binding, API services can add a binding such as `\"\/v1\/{name=users\/*}\/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                },
                "get": {
                  "id": "workloadcertificate.projects.locations.operations.get",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "id": "workloadcertificate.projects.locations.operations.delete",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "id": "workloadcertificate.projects.locations.operations.cancel",
                  "path": "v1alpha1/{+name}:cancel",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                }
              }
            },
            "global": {
              "methods": {
                "getWorkloadCertificateFeature": {
                  "id": "workloadcertificate.projects.locations.global.getWorkloadCertificateFeature",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/global/workloadCertificateFeature",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the `WorkloadCertificateFeature` resource. Format: `projects\/*\/locations\/global\/workloadCertificateFeature`.",
                      "pattern": "^projects\/[^\/]+\/locations\/global\/workloadCertificateFeature$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "WorkloadCertificateFeature"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the `WorkloadCertificateFeature` resource of a given project. `WorkloadCertificateFeature` is a singleton resource."
                },
                "updateWorkloadCertificateFeature": {
                  "id": "workloadcertificate.projects.locations.global.updateWorkloadCertificateFeature",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/global/workloadCertificateFeature",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the `WorkloadCertificateFeature` resource to update. Format: `projects\/*\/locations\/global\/workloadCertificateFeature`.",
                      "pattern": "^projects\/[^\/]+\/locations\/global\/workloadCertificateFeature$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "WorkloadCertificateFeature"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the `WorkloadCertificateFeature` resource of a given project."
                }
              }
            },
            "workloadRegistrations": {
              "methods": {
                "list": {
                  "id": "workloadcertificate.projects.locations.workloadRegistrations.list",
                  "path": "v1alpha1/{+parent}/workloadRegistrations",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/workloadRegistrations",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent value for ListWorkloadRegistrationsRequest.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Filtering results.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListWorkloadRegistrationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists WorkloadRegistrations in a given project and location."
                },
                "get": {
                  "id": "workloadcertificate.projects.locations.workloadRegistrations.get",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/workloadRegistrations/{workloadRegistrationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadRegistrations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "WorkloadRegistration"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single WorkloadRegistration."
                },
                "create": {
                  "id": "workloadcertificate.projects.locations.workloadRegistrations.create",
                  "path": "v1alpha1/{+parent}/workloadRegistrations",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/workloadRegistrations",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Value for parent.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "workloadRegistrationId": {
                      "description": "Required. Id of the requesting object If auto-generating Id server-side, remove this field and workload_registration_id from the method_signature of Create RPC",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "WorkloadRegistration"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new WorkloadRegistration in a given project and location."
                },
                "patch": {
                  "id": "workloadcertificate.projects.locations.workloadRegistrations.patch",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/workloadRegistrations/{workloadRegistrationsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "name of resource",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadRegistrations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the WorkloadRegistration resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "WorkloadRegistration"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the parameters of a single WorkloadRegistration."
                },
                "delete": {
                  "id": "workloadcertificate.projects.locations.workloadRegistrations.delete",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/workloadRegistrations/{workloadRegistrationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadRegistrations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single WorkloadRegistration."
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": ""
}