{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "workstations:v1beta",
  "name": "workstations",
  "canonicalName": "Cloud Workstations",
  "version": "v1beta",
  "revision": "0",
  "title": "Cloud Workstations API",
  "description": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/workstations",
  "protocol": "rest",
  "rootUrl": "https://workstations.googleapis.com/",
  "mtlsRootUrl": "https://workstations.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://workstations.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "WorkstationCluster": {
      "id": "WorkstationCluster",
      "description": "A grouping of WorkstationConfigs and their associated Workstations in a region.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Full name of this resource.",
          "type": "string"
        },
        "displayName": {
          "description": "Human-readable name for this resource.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identified for this resource.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Indicates whether this resource is currently being updated to match its intended state.",
          "readOnly": true,
          "type": "boolean"
        },
        "annotations": {
          "description": "Client-specified annotations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Time when this resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when this resource was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. Time when this resource was soft-deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Checksum computed by the server. May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "network": {
          "description": "Name of the Compute Engine network in which instances associated with this cluster will be created.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Name of the Compute Engine subnetwork in which instances associated with this cluster will be created. Must be part of the subnetwork specified for this cluster.",
          "type": "string"
        },
        "privateClusterConfig": {
          "description": "Configuration for private cluster.",
          "$ref": "PrivateClusterConfig"
        },
        "degraded": {
          "description": "Output only. Whether this resource is in degraded mode, in which case it may require user action to restore full functionality. Details can be found in the `conditions` field.",
          "readOnly": true,
          "type": "boolean"
        },
        "conditions": {
          "description": "Output only. Status conditions describing the current resource state.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      }
    },
    "PrivateClusterConfig": {
      "id": "PrivateClusterConfig",
      "description": "Configuration options for private clusters.",
      "type": "object",
      "properties": {
        "enablePrivateEndpoint": {
          "description": "Whether Workstations endpoint is private.",
          "type": "boolean"
        },
        "clusterHostname": {
          "description": "Output only. Hostname for the Workstation Cluster. This field will be populated only when private endpoint is enabled. To access workstations in the cluster, create a new DNS zone mapping this domain name to an internal IP address and a forwarding rule mapping that address to the service attachment.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAttachmentUri": {
          "description": "Output only. Service attachment URI for the Workstation Cluster. The service attachemnt is created when private endpoint is enabled. To access workstations in the cluster, configure access to the managed service using (Private Service Connect)[https:\/\/cloud.google.com\/vpc\/docs\/configure-private-service-connect-services].",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListWorkstationClustersResponse": {
      "id": "ListWorkstationClustersResponse",
      "description": "Response message for ListWorkstationClusters.",
      "type": "object",
      "properties": {
        "workstationClusters": {
          "description": "The requested clusters.",
          "type": "array",
          "items": {
            "$ref": "WorkstationCluster"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WorkstationConfig": {
      "id": "WorkstationConfig",
      "description": "A set of configuration options describing how a workstation will be run. WorkstationConfigs are intended to be shared across multiple workstations.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Full name of this resource.",
          "type": "string"
        },
        "displayName": {
          "description": "Human-readable name for this resource.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identified for this resource.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Indicates whether this resource is currently being updated to match its intended state.",
          "readOnly": true,
          "type": "boolean"
        },
        "annotations": {
          "description": "Client-specified annotations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Time when this resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when this resource was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. Time when this resource was soft-deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Checksum computed by the server. May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "idleTimeout": {
          "description": "How long to wait before automatically stopping an instance that hasn't received any user traffic. A value of 0 indicates that this instance should never time out due to idleness.",
          "type": "string",
          "format": "google-duration"
        },
        "runningTimeout": {
          "description": "How long to wait before automatically stopping a workstation after it started. A value of 0 indicates that workstations using this config should never time out. Must be greater than 0 and less than 24 hours if encryption_key is set.",
          "type": "string",
          "format": "google-duration"
        },
        "host": {
          "description": "Runtime host for the Workstation.",
          "$ref": "Host"
        },
        "persistentDirectories": {
          "description": "Directories to persist across Workstation sessions.",
          "type": "array",
          "items": {
            "$ref": "PersistentDirectory"
          }
        },
        "container": {
          "description": "Container that will be run for each Workstation using this config when that Workstation is started.",
          "$ref": "Container"
        },
        "degraded": {
          "description": "Output only. Whether this resource is in degraded mode, in which case it may require user action to restore full functionality. Details can be found in the `conditions` field.",
          "readOnly": true,
          "type": "boolean"
        },
        "conditions": {
          "description": "Output only. Status conditions describing the current resource state.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      }
    },
    "Host": {
      "id": "Host",
      "description": "The system will attempt to keep enough computational resources on standby Runtime host for a Workstation.",
      "type": "object",
      "properties": {
        "gceInstance": {
          "description": "Specifies a Google Compute Engine Instance as the host.",
          "$ref": "GceInstance"
        }
      }
    },
    "GceInstance": {
      "id": "GceInstance",
      "description": "A runtime using a Google Compute Engine Instance.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "The name of a Google Compute Engine machine type.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Email address of the service account that will be used on VM instances used to support this config. This service account must have permission to pull the specified container image. If not set, VMs will run without a service account, in which case the image must be publicly accessible.",
          "type": "string"
        },
        "tags": {
          "description": "Network tags to add to the Google Compute Engine machines backing the Workstations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "poolSize": {
          "description": "Number of instances to pool for faster Workstation starup.",
          "type": "integer",
          "format": "int32"
        },
        "disablePublicIpAddresses": {
          "description": "Whether instances have no public IP address.",
          "type": "boolean"
        },
        "shieldedInstanceConfig": {
          "description": "A set of Shielded Google Compute Engine Instance options.",
          "$ref": "GceShieldedInstanceConfig"
        },
        "confidentialInstanceConfig": {
          "description": "A set of Confidential Google Compute Engine Instance option.",
          "$ref": "GceConfidentialInstanceConfig"
        },
        "bootDiskSizeGb": {
          "description": "Size of the boot disk in GB.",
          "type": "integer",
          "format": "int32"
        },
        "accelerators": {
          "description": "A list of the type and count of accelerator cards attached to the instance.",
          "type": "array",
          "items": {
            "$ref": "Accelerator"
          }
        }
      }
    },
    "GceShieldedInstanceConfig": {
      "id": "GceShieldedInstanceConfig",
      "description": "A set of Shielded Google Compute Engine Instance options.",
      "type": "object",
      "properties": {
        "enableSecureBoot": {
          "description": "Whether the instance has Secure Boot enabled.",
          "type": "boolean"
        },
        "enableVtpm": {
          "description": "Whether the instance has the vTPM enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        }
      }
    },
    "GceConfidentialInstanceConfig": {
      "id": "GceConfidentialInstanceConfig",
      "description": "A set of Confidential Google Compute Engine Instance option.",
      "type": "object",
      "properties": {
        "enableConfidentialCompute": {
          "description": "Whether the instance has confidential compute enabled.",
          "type": "boolean"
        }
      }
    },
    "Accelerator": {
      "id": "Accelerator",
      "description": "An accelerator card attached to the instance.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Full or partial URL of the accelerator type resource to attach to the instance. For example: projects\/my-project\/zones\/us-central1-c\/acceleratorTypes\/nvidia-tesla-p100.",
          "type": "string"
        },
        "count": {
          "description": "The number of accelerator cards exposed to the instance.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PersistentDirectory": {
      "id": "PersistentDirectory",
      "description": "A directory persisted across Workstation sessions.",
      "type": "object",
      "properties": {
        "mountPath": {
          "description": "Location of this directory in the running Workstation.",
          "type": "string"
        },
        "gcePd": {
          "description": "A PersistentDirectory backed by a Compute Engine persistent disk.",
          "$ref": "GceRegionalPersistentDisk"
        }
      }
    },
    "GceRegionalPersistentDisk": {
      "id": "GceRegionalPersistentDisk",
      "description": "A PersistentDirectory backed by a Compute Engine regional persistent disk.",
      "type": "object",
      "properties": {
        "sizeGb": {
          "description": "Size of the disk in GB. Must be empty if source_snapshot is set.",
          "type": "integer",
          "format": "int32"
        },
        "fsType": {
          "description": "Type of file system that the disk should be formatted with. The Workstation image must support this file system type. Must be empty if source_snapshot is set.",
          "type": "string"
        },
        "diskType": {
          "description": "Type of the disk to use.",
          "type": "string"
        },
        "reclaimPolicy": {
          "description": "What should happen to the disk after the Workstation is deleted. Defaults to DELETE.",
          "type": "string",
          "enumDescriptions": [
            "Do not use.",
            "The persistent disk will be deleted with the Workstation.",
            "The persistent disk will be remain after the workstation is deleted, and the administrator must manually delete the disk."
          ],
          "enum": [
            "RECLAIM_POLICY_UNSPECIFIED",
            "DELETE",
            "RETAIN"
          ]
        }
      }
    },
    "Container": {
      "id": "Container",
      "description": "A Docker container.",
      "type": "object",
      "properties": {
        "image": {
          "description": "Docker image defining the container. This image must be accessible by the config's service account.",
          "type": "string"
        },
        "command": {
          "description": "If set, overrides the default ENTRYPOINT specified by the image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "description": "Arguments passed to the entrypoint.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "env": {
          "description": "Environment variables passed to the container.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workingDir": {
          "description": "If set, overrides the default DIR specified by the image.",
          "type": "string"
        },
        "runAsUser": {
          "description": "If set, overrides the USER specified in the image with the given uid.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListWorkstationConfigsResponse": {
      "id": "ListWorkstationConfigsResponse",
      "description": "Response message for ListWorkstationConfigs.",
      "type": "object",
      "properties": {
        "workstationConfigs": {
          "description": "The requested configs.",
          "type": "array",
          "items": {
            "$ref": "WorkstationConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListUsableWorkstationConfigsResponse": {
      "id": "ListUsableWorkstationConfigsResponse",
      "description": "Response message for ListUsableWorkstationConfigs.",
      "type": "object",
      "properties": {
        "workstationConfigs": {
          "description": "The requested configs.",
          "type": "array",
          "items": {
            "$ref": "WorkstationConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Workstation": {
      "id": "Workstation",
      "description": "A single instance of a developer workstation with its own persistent storage.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Full name of this resource.",
          "type": "string"
        },
        "displayName": {
          "description": "Human-readable name for this resource.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identified for this resource.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Indicates whether this resource is currently being updated to match its intended state.",
          "readOnly": true,
          "type": "boolean"
        },
        "annotations": {
          "description": "Client-specified annotations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Time when this resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when this resource was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. Time when this resource was soft-deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Checksum computed by the server. May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of the workstation.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Do not use.",
            "The workstation is not yet ready to accept requests from users but will be soon.",
            "The workstation is ready to accept requests from users.",
            "The workstation is being stopped.",
            "The workstation is stopped and will not be able to receive requests until it is started."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_STARTING",
            "STATE_RUNNING",
            "STATE_STOPPING",
            "STATE_STOPPED"
          ]
        },
        "host": {
          "description": "Output only. Host to which clients can send HTTPS traffic that will be received by the workstation. Authorized traffic will be received to the workstation as HTTP on port 80. To send traffic to a different port, clients may prefix the host with the destination port in the format \"{port}-{host}\".",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListWorkstationsResponse": {
      "id": "ListWorkstationsResponse",
      "description": "Response message for ListWorkstations.",
      "type": "object",
      "properties": {
        "workstations": {
          "description": "The requested workstations.",
          "type": "array",
          "items": {
            "$ref": "Workstation"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListUsableWorkstationsResponse": {
      "id": "ListUsableWorkstationsResponse",
      "description": "Response message for ListUsableWorkstations.",
      "type": "object",
      "properties": {
        "workstations": {
          "description": "The requested workstations.",
          "type": "array",
          "items": {
            "$ref": "Workstation"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "StartWorkstationRequest": {
      "id": "StartWorkstationRequest",
      "description": "Request message for StartWorkstation.",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "If set, validate the request and preview the review, but do not actually apply it.",
          "type": "boolean"
        },
        "etag": {
          "description": "If set, the request will be rejected if the latest version of the workstation on the server does not have this etag.",
          "type": "string"
        }
      }
    },
    "StopWorkstationRequest": {
      "id": "StopWorkstationRequest",
      "description": "Request message for StopWorkstation.",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "If set, validate the request and preview the review, but do not actually apply it.",
          "type": "boolean"
        },
        "etag": {
          "description": "If set, the request will be rejected if the latest version of the workstation on the server does not have this etag.",
          "type": "string"
        }
      }
    },
    "GenerateAccessTokenRequest": {
      "id": "GenerateAccessTokenRequest",
      "description": "Request message for GenerateAccessToken.",
      "type": "object",
      "properties": {
        "expireTime": {
          "description": "Desired expiration time of the access token. This value must be at most 24 hours in the future. If a value is not specified, the token's expiration time will be set to a default value of 1 hour in the future.",
          "type": "string",
          "format": "google-datetime"
        },
        "ttl": {
          "description": "Desired lifetime duration of the access token. This value must be at most 24 hours. If a value is not specified, the token's lifetime will be set to a default value of 1 hour.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GenerateAccessTokenResponse": {
      "id": "GenerateAccessTokenResponse",
      "description": "Response message for GenerateAccessToken.",
      "type": "object",
      "properties": {
        "accessToken": {
          "description": "The generated bearer access token. To use this token, include it in an Authorization header of an HTTP request sent to the associated workstation's hostname, e.g. \"Authorization: Bearer \".",
          "type": "string"
        },
        "expireTime": {
          "description": "Time at which the generated token will expire.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}\/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https:\/\/cloud.google.com\/kubernetes-engine\/docs\/how-to\/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace\/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "workstations.projects.locations.operations.list",
                  "path": "v1beta/{+name}/operations",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users\/*\/operations`. To override the binding, API services can add a binding such as `\"\/v1\/{name=users\/*}\/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                },
                "get": {
                  "id": "workstations.projects.locations.operations.get",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "id": "workstations.projects.locations.operations.delete",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "id": "workstations.projects.locations.operations.cancel",
                  "path": "v1beta/{+name}:cancel",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                }
              }
            },
            "workstationClusters": {
              "methods": {
                "get": {
                  "id": "workstations.projects.locations.workstationClusters.get",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the requested resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "WorkstationCluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns the requested WorkstationCluster."
                },
                "list": {
                  "id": "workstations.projects.locations.workstationClusters.list",
                  "path": "v1beta/{+parent}/workstationClusters",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource name.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListWorkstationClustersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns all WorkstationClusters in the specified location."
                },
                "create": {
                  "id": "workstations.projects.locations.workstationClusters.create",
                  "path": "v1beta/{+parent}/workstationClusters",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource name.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "workstationClusterId": {
                      "description": "Required. ID to use for the cluster.",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "If set, validate the request and preview the review, but do not actually apply it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "WorkstationCluster"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new WorkstationCluster."
                },
                "patch": {
                  "id": "workstations.projects.locations.workstationClusters.patch",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Full name of this resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. Mask specifying which fields in the cluster should be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "validateOnly": {
                      "description": "If set, validate the request and preview the review, but do not actually apply it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "allowMissing": {
                      "description": "If set, and the cluster is not found, a new cluster will be created. In this situation, update_mask is ignored.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "WorkstationCluster"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing WorkstationCluster."
                },
                "delete": {
                  "id": "workstations.projects.locations.workstationClusters.delete",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the cluster to delete.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "If set, validate the request and preview the review, but do not actually apply it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "etag": {
                      "description": "If set, the request will be rejected if the latest version of the cluster on the server does not have this etag.",
                      "location": "query",
                      "type": "string"
                    },
                    "force": {
                      "description": "If set, any WorkstationConfigs and Workstations in the cluster will also be deleted. Otherwise, the request will work only if the cluster has no configs or workstations.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the specified WorkstationCluster."
                }
              }
              ,
              "resources": {
                "workstationConfigs": {
                  "methods": {
                    "get": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.get",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the requested resource.",
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+\/workstationConfigs\/[^\/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "WorkstationConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns the requested WorkstationConfig."
                    },
                    "list": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.list",
                      "path": "v1beta/{+parent}/workstationConfigs",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent resource name.",
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Maximum number of items to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "next_page_token value returned from a previous List request, if any.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListWorkstationConfigsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns all WorkstationConfigs in the specified cluster."
                    },
                    "listUsable": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.listUsable",
                      "path": "v1beta/{+parent}/workstationConfigs:listUsable",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs:listUsable",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent resource name.",
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Maximum number of items to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "next_page_token value returned from a previous List request, if any.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListUsableWorkstationConfigsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns all WorkstationConfigs in the specified cluster on which the caller has the \"workstations.workstation.create\" permission."
                    },
                    "create": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.create",
                      "path": "v1beta/{+parent}/workstationConfigs",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent resource name.",
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "workstationConfigId": {
                          "description": "Required. ID to use for the config.",
                          "location": "query",
                          "type": "string"
                        },
                        "validateOnly": {
                          "description": "If set, validate the request and preview the review, but do not actually apply it.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "WorkstationConfig"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new WorkstationConfig."
                    },
                    "patch": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.patch",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "description": "Full name of this resource.",
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+\/workstationConfigs\/[^\/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Required. Mask specifying which fields in the config should be updated.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "validateOnly": {
                          "description": "If set, validate the request and preview the review, but do not actually apply it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "allowMissing": {
                          "description": "If set, and the config is not found, a new config will be created. In this situation, update_mask is ignored.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "WorkstationConfig"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates an existing WorkstationConfig."
                    },
                    "delete": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.delete",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the config to delete.",
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+\/workstationConfigs\/[^\/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "validateOnly": {
                          "description": "If set, validate the request and preview the review, but do not actually apply it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "etag": {
                          "description": "If set, the request will be rejected if the latest version of the config on the server does not have this etag.",
                          "location": "query",
                          "type": "string"
                        },
                        "force": {
                          "description": "If set, any Workstations in the config will also be deleted. Otherwise, the request will work only if the config has no workstations.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes the specified WorkstationConfig."
                    },
                    "setIamPolicy": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.setIamPolicy",
                      "path": "v1beta/{+resource}:setIamPolicy",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:setIamPolicy",
                      "httpMethod": "POST",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https:\/\/cloud.google.com\/apis\/design\/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+\/workstationConfigs\/[^\/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "response": {
                        "$ref": "Policy"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
                    },
                    "getIamPolicy": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.getIamPolicy",
                      "path": "v1beta/{+resource}:getIamPolicy",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:getIamPolicy",
                      "httpMethod": "GET",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https:\/\/cloud.google.com\/apis\/design\/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+\/workstationConfigs\/[^\/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "options.requestedPolicyVersion": {
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "response": {
                        "$ref": "Policy"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
                    },
                    "testIamPermissions": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.testIamPermissions",
                      "path": "v1beta/{+resource}:testIamPermissions",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:testIamPermissions",
                      "httpMethod": "POST",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https:\/\/cloud.google.com\/apis\/design\/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+\/workstationConfigs\/[^\/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
                    }
                  }
                  ,
                  "resources": {
                    "workstations": {
                      "methods": {
                        "get": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.get",
                          "path": "v1beta/{+name}",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the requested resource.",
                              "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+\/workstationConfigs\/[^\/]+\/workstations\/[^\/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Workstation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Returns the requested Workstation."
                        },
                        "list": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.list",
                          "path": "v1beta/{+parent}/workstations",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "description": "Required. Parent resource name.",
                              "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+\/workstationConfigs\/[^\/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Maximum number of items to return.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "next_page_token value returned from a previous List request, if any.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListWorkstationsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Returns all Workstations using the specified config."
                        },
                        "listUsable": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.listUsable",
                          "path": "v1beta/{+parent}/workstations:listUsable",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations:listUsable",
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "description": "Required. Parent resource name.",
                              "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+\/workstationConfigs\/[^\/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Maximum number of items to return.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "next_page_token value returned from a previous List request, if any.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListUsableWorkstationsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Returns all Workstations using the specified config on which the caller has the \"workstations.workstations.use\" permission."
                        },
                        "create": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.create",
                          "path": "v1beta/{+parent}/workstations",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "description": "Required. Parent resource name.",
                              "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+\/workstationConfigs\/[^\/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "workstationId": {
                              "description": "Required. ID to use for the workstation.",
                              "location": "query",
                              "type": "string"
                            },
                            "validateOnly": {
                              "description": "If set, validate the request and preview the review, but do not actually apply it.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "Workstation"
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a new Workstation."
                        },
                        "patch": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.patch",
                          "path": "v1beta/{+name}",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "httpMethod": "PATCH",
                          "parameters": {
                            "name": {
                              "description": "Full name of this resource.",
                              "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+\/workstationConfigs\/[^\/]+\/workstations\/[^\/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "updateMask": {
                              "description": "Required. Mask specifying which fields in the config should be updated.",
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            },
                            "validateOnly": {
                              "description": "If set, validate the request and preview the review, but do not actually apply it.",
                              "location": "query",
                              "type": "boolean"
                            },
                            "allowMissing": {
                              "description": "If set, and the config is not found, a new config will be created. In this situation, update_mask is ignored.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "Workstation"
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Updates an existing Workstation."
                        },
                        "delete": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.delete",
                          "path": "v1beta/{+name}",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the workstation to delete.",
                              "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+\/workstationConfigs\/[^\/]+\/workstations\/[^\/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "validateOnly": {
                              "description": "If set, validate the request and preview the review, but do not actually apply it.",
                              "location": "query",
                              "type": "boolean"
                            },
                            "etag": {
                              "description": "If set, the request will be rejected if the latest version of the workstation on the server does not have this etag.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes the specified Workstation."
                        },
                        "start": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.start",
                          "path": "v1beta/{+name}:start",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:start",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the workstation to start.",
                              "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+\/workstationConfigs\/[^\/]+\/workstations\/[^\/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "StartWorkstationRequest"
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Starts running a workstation so that users can connect to it."
                        },
                        "stop": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.stop",
                          "path": "v1beta/{+name}:stop",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:stop",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the workstation to stop.",
                              "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workstationClusters\/[^\/]+\/workstationConfigs\/[^\/]+\/workstations\/[^\/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "StopWorkstationRequest"
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Stops running a workstation, reducing costs."
                        },
[...]
