{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "workloadcertificate:v1alpha1",
  "name": "workloadcertificate",
  "canonicalName": "Workload Certificate",
  "version": "v1alpha1",
  "revision": "0",
  "title": "Workload Certificate API",
  "description": "workloadcertificate.googleapis.com API.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/",
  "protocol": "rest",
  "rootUrl": "https://workloadcertificate.googleapis.com/",
  "mtlsRootUrl": "https://workloadcertificate.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://workloadcertificate.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "WorkloadCertificateFeature": {
      "id": "WorkloadCertificateFeature",
      "description": "Represents the Managed Workload Certificate feature. This is a singleton resource of a project that contains the mode of the feature, trust-domain-level configurations, and etc.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Name of the resource. Format: `projects\/{project ID or number}\/locations\/global\/workloadCertificateFeature`.",
          "readOnly": true,
          "type": "string"
        },
        "defaultSpec": {
          "description": "Required. Workload certificate feature spec for the default project level trust domain (i.e. `{project ID}.svc.id.goog`).",
          "$ref": "WorkloadCertificateFeatureSpec"
        },
        "defaultStatus": {
          "description": "Output only. The current WorkloadCertificate feature status of the default project level trust domain.",
          "readOnly": true,
          "$ref": "WorkloadCertificateFeatureStatus"
        }
      }
    },
    "WorkloadCertificateFeatureSpec": {
      "id": "WorkloadCertificateFeatureSpec",
      "description": "Spec for the workload certificate feature.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "Required. The mode for the workload certificate feature.",
          "type": "string",
          "enumDescriptions": [
            "Do not use this value.",
            "Workload certificate feature is disabled.",
            "Workload certificate feature is enabled, and the entire certificate provisioning process is managed by Google, including the CA."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "MODE_DISABLED",
            "MODE_ENABLED_WITH_MANAGED_CA"
          ]
        }
      }
    },
    "WorkloadCertificateFeatureStatus": {
      "id": "WorkloadCertificateFeatureStatus",
      "description": "Status of Workload Certificate feature at trust domain level.",
      "type": "object",
      "properties": {
        "managedCaPools": {
          "description": "A map from a region to the status of managed CA pools in that region.",
          "type": "object",
          "additionalProperties": {
            "$ref": "CaPoolsStatus"
          }
        },
        "state": {
          "description": "Describes whether the Workload Certificate feature meets its spec.",
          "type": "string",
          "enumDescriptions": [
            "The feature status does not fully meet its spec at the moment but is trying to meet its spec.",
            "The feature status does not fully meet its spec at the moment but is trying to meet its spec.",
            "The feature status currently meets its spec.",
            "The feature status does not fully meet its spec at the moment due to an internal error but the backend is retrying. Contact support if this persists."
          ],
          "enum": [
            "FEATURE_STATE_UNSPECIFIED",
            "FEATURE_STATE_IN_PROGRESS",
            "FEATURE_STATE_READY",
            "FEATURE_STATE_INTERNAL_ERROR"
          ]
        }
      }
    },
    "CaPoolsStatus": {
      "id": "CaPoolsStatus",
      "description": "Status of CA pools in a region.",
      "type": "object",
      "properties": {
        "caPools": {
          "description": "The CA pool string has a relative resource path following the form \"projects\/{project number}\/locations\/{location}\/caPools\/{CA pool}\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListWorkloadRegistrationsResponse": {
      "id": "ListWorkloadRegistrationsResponse",
      "description": "Response message for listing WorkloadRegistrations.",
      "type": "object",
      "properties": {
        "workloadRegistrations": {
          "description": "The list of WorkloadRegistrations.",
          "type": "array",
          "items": {
            "$ref": "WorkloadRegistration"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return for the next List request. Empty if this response is the last page.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WorkloadRegistration": {
      "id": "WorkloadRegistration",
      "description": "Message describing WorkloadRegistration object",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Name of this WorkloadRegistration resource. Format: `projects\/{project ID or number}\/locations\/{location} \/workloadRegistrations\/{client-defined workload_registration_id}` {location} is Fleet membership location for GKE clusters and this is subject to change.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when this WorkloadRegistration resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when this WorkloadRegistration resource was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "workloadSelector": {
          "description": "Required. Selects the workloads in the registration.",
          "$ref": "WorkloadSelector"
        },
        "status": {
          "description": "Output only. The status of the WorkloadRegistration resource.",
          "readOnly": true,
          "$ref": "RegistrationStatus"
        }
      }
    },
    "WorkloadSelector": {
      "id": "WorkloadSelector",
      "description": "WorkloadSelector specifies the criteria used to determine if a workload is in a WorkloadRegistration. Different workload types have their own matching criteria.",
      "type": "object",
      "properties": {
        "k8sWorkloadSelector": {
          "description": "Selects K8S workloads.",
          "$ref": "K8SWorkloadSelector"
        }
      }
    },
    "K8SWorkloadSelector": {
      "id": "K8SWorkloadSelector",
      "description": "For Kubernetes workloads, fleet_member_id is used as workload selector.",
      "type": "object",
      "properties": {
        "fleetMemberId": {
          "description": "Required. Fleet membership ID (only the name part, not the full URI). The \u201Cproject\u201D and \u201Clocation\u201D of the membership are the same as the WorkloadRegistration.",
          "type": "string"
        }
      }
    },
    "RegistrationStatus": {
      "id": "RegistrationStatus",
      "description": "RegistrationStatus describes the certificate provisioning status of a WorkloadRegistration resource.",
      "type": "object",
      "properties": {
        "state": {
          "description": "The current state of registration.",
          "type": "string",
          "enumDescriptions": [
            "REGISTRATION_STATE_UNSPECIFIED is the default value.",
            "REGISTRATION_STATE_READY indicates that the registration is ready.",
            "REGISTRATION_STATE_IN_PROGRESS indicates that the registration is in progress.",
            "REGISTRATION_STATE_INTERNAL_ERROR indicates that the registration has encountered some internal errors but is retrying. Contact support if this persists."
          ],
          "enum": [
            "REGISTRATION_STATE_UNSPECIFIED",
            "REGISTRATION_STATE_READY",
            "REGISTRATION_STATE_IN_PROGRESS",
            "REGISTRATION_STATE_INTERNAL_ERROR"
          ]
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Currently we don't support cancelling any operation. Consider applying the opposite mutation after the current operation is done. For example, call DeleteWorkloadRegistration afterwards if you want to cancel a CreateWorkloadRegistration operation.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "workloadcertificate.projects.locations.list",
              "path": "v1alpha1/{+name}/locations",
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https:\/\/google.aip.dev\/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service."
            },
            "get": {
              "id": "workloadcertificate.projects.locations.get",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location."
            }
          }
          ,
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "workloadcertificate.projects.locations.operations.list",
                  "path": "v1alpha1/{+name}/operations",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "id": "workloadcertificate.projects.locations.operations.get",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "id": "workloadcertificate.projects.locations.operations.delete",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "id": "workloadcertificate.projects.locations.operations.cancel",
                  "path": "v1alpha1/{+name}:cancel",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/operations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                }
              }
            },
            "global": {
              "methods": {
                "getWorkloadCertificateFeature": {
                  "id": "workloadcertificate.projects.locations.global.getWorkloadCertificateFeature",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/global/workloadCertificateFeature",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the `WorkloadCertificateFeature` resource. Format: `projects\/{project ID or number}\/locations\/global\/workloadCertificateFeature`.",
                      "pattern": "^projects\/[^\/]+\/locations\/global\/workloadCertificateFeature$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "WorkloadCertificateFeature"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the `WorkloadCertificateFeature` resource of a given project. `WorkloadCertificateFeature` is a singleton resource."
                },
                "updateWorkloadCertificateFeature": {
                  "id": "workloadcertificate.projects.locations.global.updateWorkloadCertificateFeature",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/global/workloadCertificateFeature",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the `WorkloadCertificateFeature` resource to update. Format: `projects\/{project ID or number}\/locations\/global\/workloadCertificateFeature`.",
                      "pattern": "^projects\/[^\/]+\/locations\/global\/workloadCertificateFeature$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "WorkloadCertificateFeature"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the `WorkloadCertificateFeature` resource of a given project."
                }
              }
            },
            "workloadRegistrations": {
              "methods": {
                "list": {
                  "id": "workloadcertificate.projects.locations.workloadRegistrations.list",
                  "path": "v1alpha1/{+parent}/workloadRegistrations",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/workloadRegistrations",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent value for ListWorkloadRegistrationsRequest. Format: `projects\/{project ID or number}\/locations\/{location}`",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Filtering results. See https:\/\/google.aip.dev\/160.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Hint for how to order the results. See https:\/\/google.aip.dev\/132#ordering. Currently, only ordering by name and create_time are supported.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListWorkloadRegistrationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists WorkloadRegistrations in a given project and location."
                },
                "get": {
                  "id": "workloadcertificate.projects.locations.workloadRegistrations.get",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/workloadRegistrations/{workloadRegistrationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource. Format: `projects\/{project ID or number}\/locations\/{location}\/workloadRegistrations\/{workload_registration_id}`",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadRegistrations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "WorkloadRegistration"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single WorkloadRegistration."
                },
                "create": {
                  "id": "workloadcertificate.projects.locations.workloadRegistrations.create",
                  "path": "v1alpha1/{+parent}/workloadRegistrations",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/workloadRegistrations",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Value for parent. Format: `projects\/{project ID or number}\/locations\/{location}`",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "workloadRegistrationId": {
                      "description": "Required. Client defined WorkloadRegistration name. This can be any unique string that matches the regex ^[a-zA-Z0-9-._~%!$&'()*+,;=@]+$ and has 1-63 characters in length.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "WorkloadRegistration"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new WorkloadRegistration in a given project and location."
                },
                "delete": {
                  "id": "workloadcertificate.projects.locations.workloadRegistrations.delete",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/workloadRegistrations/{workloadRegistrationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource. Format: `projects\/{project ID or number}\/locations\/{location}\/workloadRegistrations\/{workload_registration_id}`",
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadRegistrations\/[^\/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single WorkloadRegistration."
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": ""
}